
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Strachosław</title>
</head>
<body>
    <h1>Schools in Strachosław</h1>
    <ul>
        <li>"PUNKT PRZEDSZKOLNY NR 2" PRZY SZKOLE PODSTAWOWEJ IM. KONSTYTUCJI 3 MAJA W STRACHOSŁAWIU</li>
        <li>PUNKT PRZEDSZKOLNY W STRACHOSŁAWIU</li>
        <li>SZKOŁA PODSTAWOWA IM.KONSTYTUCJI 3 MAJA W STRACHOSŁAWIU</li>

    </ul>
    <a href="LUBELSKIE.html">Back to Cities in LUBELSKIE</a>
</body>
</html>
