
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Ciecierzyn</title>
</head>
<body>
    <h1>Schools in Ciecierzyn</h1>
    <ul>
        <li>PRZEDSZKOLE W CIECIERZYNIE</li>
        <li>SZKOŁA PODSTAWOWA IM. BŁ.BPA WŁADYSŁAWA GORALA W CIECIERZYNIE</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH W CIECIERZYNIE</li>

    </ul>
    <a href="LUBELSKIE.html">Back to Cities in LUBELSKIE</a>
</body>
</html>
