
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Kraśnik</title>
</head>
<body>
    <h1>Schools in Kraśnik</h1>
    <ul>
        <li>"GREEN WAY" SUBIK SYLWIA</li>
        <li>ACADEMIA ESTEA - NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO</li>
        <li>ATUM - CENTRUM SZKOLENIOWE W KRAŚNIKU</li>
        <li>BIURO PODATKOWE MARIUSZ GOLIŃSKI</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 1 W KRAŚNIKU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 2 IM. JULIUSZA SŁOWACKIEGO W KRAŚNIKU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA W KRAŚNIKU ZAKŁADU DOSKONALENIA ZAWODOWEGO W LUBLINIE</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA W KRAŚNIKU</li>
        <li>BURSA SZKOLNA W KRAŚNIKU</li>
        <li>CENTRUM DORADCZO-SZKOLENIOWE "PROJEKT" MARIUSZ I DOROTA GOLIŃSCY SPÓŁKA JAWNA</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO W KRAŚNIKU</li>
        <li>CENTRUM SZKOLEŃ EUROPEJSKICH</li>
        <li>DAW-MED M. KOWALSKA, M. KOWALSKI SP.J. NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W KRAŚNIKU</li>
        <li>FUNDACJA "WSCHODNI KLASTER INNOWACJI" W KRAŚNIKU</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE IM. TADEUSZA KOŚCIUSZKI W KRAŚNIKU</li>
        <li>ICT LAB CENTRUM SZKOLEŃ INFORMATYCZNYCH</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE IM. MIKOŁAJA REJA W KRAŚNIKU</li>
        <li>III LICEUM OGÓLNOKSZTAŁCĄCE IM. JULIUSZA SŁOWACKIEGO W KRAŚNIKU</li>
        <li>INTEGRACYJNE PRZEDSZKOLE MIEJSKIE NR 3 W KRAŚNIKU</li>
        <li>ITRENER ACADEMY</li>
        <li>ITRENER SCHOOL</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH "ŻAK" W KRAŚNIKU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH NR 1 W KRAŚNIKU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH NR 2 W KRAŚNIKU</li>
        <li>NIEPUBLICZNA PLACÓWKA DOSKONALENIA NAUCZYCIELI "SOF-OKLES"</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO TB SYSTEM</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "GWIAZDECZKA 3"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE GWIAZDECZKA</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE SPECJALNE "SŁONECZNY DZIEŃ"</li>
        <li>OŚRODEK SZKOLENIOWO-KURSOWY BEZPICZEŃSTWA I HIGNIENY PRACY W KRAŚNIKU</li>
        <li>OŚRODEK SZKOLENIOWY AGENCJI ROZWOJU LOKALNEGO SP. Z O.O. W KRAŚNIKU</li>
        <li>OŚRODEK SZKOLENIOWY CENTRUM NAUKI I BIZNESU "ŻAK" W KRAŚNIKU</li>
        <li>POWIATOWY ZESPÓŁ PORADNI PSYCHOLOGICZNO-PEDAGOGICZNYCH W KRAŚNIKU</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 1 SŁONECZNY PROMYK W KRAŚNIKU</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 2 W KRASNIKU</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 4 W KRAŚNIKU</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 6 W KRAŚNIKU</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 7 W ZESPOLE PLACÓWEK OŚWIATOWYCH NR 1 W KRAŚNIKU</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE I ŻŁOBEK ,,DAWID I JULA" W KRAŚNIKU</li>
        <li>SPOŁECZNA SZKOŁA PODSTAWOWA IM. 24 PUŁKU UŁANÓW W KRAŚNIKU</li>
        <li>SPOŁECZNE LICEUM OGÓLNOKSZTAŁCĄCE IM. 24 PUŁKU UŁANÓW W KRAŚNIKU</li>
        <li>SZKOŁA JĘZYKA ANGIELSKIEGO "J.J. ENGLISH S.C."</li>
        <li>SZKOŁA MISTRZOSTWA SPORTOWEGO - LICEUM OGÓLNOKSZTAŁCĄCE W KRAŚNIKU</li>
        <li>SZKOŁA MUZYCZNA I STOPNIA IM. KOMPOZYTORÓW POLSKICH W KRAŚNIKU</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. MARII SKŁODOWSKIEJ- CURIE W ZESPOLE PLACÓWEK OŚWIATOWYCH NR 1 W KRAŚNIKU</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. ADAMA MICKIEWICZA W KRAŚNIKU</li>
        <li>SZKOŁA PODSTAWOWA NR 4 IM. KORNELA MAKUSZYŃSKIEGO W KRAŚNIKU</li>
        <li>SZKOŁA PODSTAWOWA NR 5 IM. HENRYKA SIENKIEWICZA W KRAŚNIKU</li>
        <li>SZKOŁA PODSTAWOWA NR 6 IM. JANA PAWŁA II W KRAŚNIKU</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA W KRAŚNIKU</li>
        <li>SZKOŁA POLICEALNA CENTRUM NAUKI I BIZNESU "ŻAK" W KRAŚNIKU</li>
        <li>SZKOŁA POLICEALNA NR 1 W KRAŚNIKU</li>
        <li>SZKOŁA POLICEALNA NR 2 W KRAŚNIKU</li>
        <li>SZKOŁA POLICEALNA OPIEKI MEDYCZNEJ "ŻAK" W KRAŚNIKU</li>
        <li>SZKOŁA POLICEALNA ZAKŁADU DOSKONALENIA ZAWODOWEGO W LUBLINIE FILIA W KRAŚNIKU</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W KRAŚNIKU</li>
        <li>SZKOLNE SCHRONISKO MŁODZIEŻOWE -</li>
        <li>TECHNIKUM NR 1 W KRAŚNIKU</li>
        <li>TECHNIKUM NR 2 W KRAŚNIKU</li>
        <li>TECHNIKUM NR 3 IM. JULIUSZA SŁOWACKIEGO W KRAŚNIKU</li>
        <li>TECHNIKUM ZAKŁADU DOSKONALENIA ZAWODOWEGO W LUBLINIE FILIA W KRAŚNIKU</li>
        <li>ZAKŁAD DOSKONALENIA ZAWODOWEGO W LUBLINE - ODDZIAŁ W KRAŚNIKU CENTRUM KSZTAŁCENIA W KRAŚNIKU</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH NR 1 W KRAŚNIKU</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH NR 2 W KRAŚNIKU</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH NR 2 W KRAŚNIKU, PRZEDSZKOLE MIEJSKIE NR 5 W KRAŚNIKU</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH NR 2 W KRAŚNIKU, SZKOŁA PODSTAWOWA NR 2 IM. MIKOŁAJA KOPERNIKA W KRAŚNIKU</li>
        <li>ZESPÓŁ SZKÓŁ NR 1 W KRAŚNIKU</li>
        <li>ZESPÓŁ SZKÓŁ NR 2 W KRAŚNIKU</li>
        <li>ZESPÓŁ SZKÓŁ NR 3 W KRAŚNIKU</li>
        <li>ZESPÓŁ SZKÓŁ SPECJALNYCH IM. KS. JANA TWARDOWSKIEGO W KRAŚNIKU</li>

    </ul>
    <a href="LUBELSKIE.html">Back to Cities in LUBELSKIE</a>
</body>
</html>
