
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Lubartów</title>
</head>
<body>
    <h1>Schools in Lubartów</h1>
    <ul>
        <li>"AKADEMIA PRZEDSZKOLAKA" PRZEDSZKOLE PRYWATNE BEATA MATUSZAK</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 1 W RCEZ W LUBARTOWIE</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA W LUBARTOWIE</li>
        <li>BURSA SZKOLNA W LUBARTOWIE</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO W LUBARTOWIE</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W RCEZ W LUBARTOWIE</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE W ZESPOLE SZKÓŁ NR 2 W LUBARTOWIE</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE IM. PIOTRA FIRLEJA W LUBARTOWIE</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA IM. JOLANTY LIZER W LUBARTOWIE</li>
        <li>NIEPUBLICZNE "BAJKOWE PRZEDSZKOLE" W LUBARTOWIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE DWUJĘZYCZNE "MOTYLEK" W LUBARTOWIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE FANTAZJA BEATA KOZYRA</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE TERAPEUTYCZNE "OKRUSZEK" W LUBARTOWIE</li>
        <li>PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA W LUBARTOWIE</li>
        <li>POWIATOWY MŁODZIEŻOWY DOM KULTURY W LUBARTOWIE</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 1 W LUBARTOWIE</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 2 W LUBARTOWIE</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 4 W LUBARTOWIE</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 5 W LUBARTOWIE</li>
        <li>PRZEDSZKOLE PRYWATNE CASPER KAMILA SKRZYPCZYŃSKA</li>
        <li>REGIONALNE CENTRUM EDUKACJI ZAWODOWEJ W LUBARTOWIE</li>
        <li>SPOŁECZNA SZKOŁA MUZYCZNA I I II STOPNIA IM. FRYDERYKA CHOPINA W LUBARTOWIE</li>
        <li>SPOŁECZNA SZKOŁA MUZYCZNA I ST. IM. FRYDERYKA CHOPINA W LUBARTOWIE</li>
        <li>SPOŁECZNA SZKOŁA MUZYCZNA II ST. IM. FRYDERYKA CHOPINA W LUBARTOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. KS. JANA TWARDOWSKIEGO W LUBARTOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM.PIOTRA FIRLEJA W LUBARTOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 4 IM.JANA PAWŁA II W LUBARTOWIE</li>
        <li>TECHNIKUM ZAWODOWE NR 2 W ZESPOLE SZKÓŁ NR 2 W LUBARTOWIE</li>
        <li>TECHNIKUM ZAWODOWE W RCEZ W LUBARTOWIE</li>
        <li>ZESPÓŁ SZKÓŁ NR 2 IM. KSIĘCIA PAWŁA KAROLA SANGUSZKI W LUBARTOWIE</li>

    </ul>
    <a href="LUBELSKIE.html">Back to Cities in LUBELSKIE</a>
</body>
</html>
