
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Kijany</title>
</head>
<body>
    <h1>Schools in Kijany</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W KIJANACH</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO W KIJANACH</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO W ZESPOLE SZKÓŁ ROLNICZYCH W KIJANACH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W KIJANACH</li>
        <li>LICEUM OGÓLNOKSZTAŁCACE W KIJANACH</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE ANIOŁEK W KIJANACH</li>
        <li>SZKOŁA POLICEALNA W KIJANACH</li>
        <li>SZKOLNE SCHRONISKO MŁODZIEŻOWE W ZESPOLE SZKÓŁ ROLNICZYCH W KIJANACH</li>
        <li>TECHNIKUM W KIJANACH</li>
        <li>ZESPÓŁ SZKÓŁ ROLNICZYCH W KIJANACH</li>

    </ul>
    <a href="LUBELSKIE.html">Back to Cities in LUBELSKIE</a>
</body>
</html>
