
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Michów</title>
</head>
<body>
    <h1>Schools in Michów</h1>
    <ul>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. BOHATERÓW WESTERPLATTE W MICHOWIE</li>
        <li>PRZEDSZKOLE W MICHOWIE</li>
        <li>SZKOŁA PODSTAWOWA IM. BOHATERÓW WESTERPLATTE W MICHOWIE</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCACYCH W MICHOWIE</li>

    </ul>
    <a href="LUBELSKIE.html">Back to Cities in LUBELSKIE</a>
</body>
</html>
