
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Kraśniczyn</title>
</head>
<body>
    <h1>Schools in Kraśniczyn</h1>
    <ul>
        <li>PUNKT PRZEDZSZKOLNY PRZY SZKOLE PODSTAWOWEJ IM. KARD. STEFANA WYSZYŃSKIEGO W KRAŚNICZYNIE</li>
        <li>SZKOŁA PODSTAWOWA IM. KARD. STEFANA WYSZYŃSKIEGO W KRAŚNICZYNIE</li>

    </ul>
    <a href="LUBELSKIE.html">Back to Cities in LUBELSKIE</a>
</body>
</html>
