
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Radawczyk Drugi</title>
</head>
<body>
    <h1>Schools in Radawczyk Drugi</h1>
    <ul>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA Z ODDZIAŁEM PRZEDSZKOLNYM W RADAWCZYKU DRUGIM</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE W RADAWCZYKU DRUGIM</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W RADAWCZYKU DRUGIM</li>

    </ul>
    <a href="LUBELSKIE.html">Back to Cities in LUBELSKIE</a>
</body>
</html>
