
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Ortel Książęcy Drugi</title>
</head>
<body>
    <h1>Schools in Ortel Książęcy Drugi</h1>
    <ul>
        <li>PUNKT PRZEDSZKOLNY W SZKOLE PODSTAWOWEJ W ORTELU KSIĄŻĘCYM DRUGIM</li>
        <li>SZKOŁA PODSTAWOWA IM.WANDY CHOTOMSKIEJ W ORTELU KSIĄŻĘCYM DRUGIM</li>

    </ul>
    <a href="LUBELSKIE.html">Back to Cities in LUBELSKIE</a>
</body>
</html>
