
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Konstantynów</title>
</head>
<body>
    <h1>Schools in Konstantynów</h1>
    <ul>
        <li>ZESPÓŁ SZKOLNO - PRZEDSZKOLNY PRZEDSZKOLE SAMORZĄDOWE W KONSTANTYNOWIE</li>
        <li>ZESPÓŁ SZKOLNO - PRZEDSZKOLNY SZKOŁA PODSTAWOWA IM.ADAMA MICKIEWICZA W KONSTANTYNOWIE</li>
        <li>ZESPÓŁ SZKOLNO - PRZEDSZKOLNY W KONSTANTYNOWIE</li>

    </ul>
    <a href="LUBELSKIE.html">Back to Cities in LUBELSKIE</a>
</body>
</html>
