
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Rossosz</title>
</head>
<body>
    <h1>Schools in Rossosz</h1>
    <ul>
        <li>PRZEDSZKOLE PUBLICZNE W ROSSOSZU</li>
        <li>SZKOŁA PODSTAWOWA IM.PPŁK.STEFANA SKOCZYLASA W ROSSOSZU</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH W ROSSOSZU</li>

    </ul>
    <a href="LUBELSKIE.html">Back to Cities in LUBELSKIE</a>
</body>
</html>
