
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Bystrzyca</title>
</head>
<body>
    <h1>Schools in Bystrzyca</h1>
    <ul>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY "NASZE PRZEDSZKOLE"</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA IM. BYSTRZYCKICH ŻOŁNIERZY NIEPODLEGŁOŚCI</li>
        <li>SPECJALNY OŚRODEK SZKOLNO - WYCHOWAWCZY W BYSTRZYCY</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA W BYSTRZYCY</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W BYSTRZYCY</li>

    </ul>
    <a href="LUBELSKIE.html">Back to Cities in LUBELSKIE</a>
</body>
</html>
