
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Turka</title>
</head>
<body>
    <h1>Schools in Turka</h1>
    <ul>
        <li>NIEPUBLICZNE PRZEDSZKOLE INTEGRACYJNE "BAJKOWY DWOREK"</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY "Z UŚMIECHEM"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "KRASNAL I" W TURCE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "OLEŃKA" AGNIESZKA BIADUŃ , IWONA BRUS, S.C.</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE W TURCE</li>
        <li>SZKOŁA PODSTAWOWA IM. JANA III SOBIESKIEGO W TURCE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W TURCE</li>

    </ul>
    <a href="LUBELSKIE.html">Back to Cities in LUBELSKIE</a>
</body>
</html>
