
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Janowiec</title>
</head>
<body>
    <h1>Schools in Janowiec</h1>
    <ul>
        <li>PRZEDSZKOLE SAMORZĄDOWE W JANOWCU</li>
        <li>SZKOŁA PODSTAWOWA W JANOWCU IM. BOHATERÓW 2 DYWIZJI PIECHOTY I ARMII WOJSKA POLSKIEGO</li>
        <li>ZESPÓŁ SZKÓŁ W JANOWCU</li>

    </ul>
    <a href="LUBELSKIE.html">Back to Cities in LUBELSKIE</a>
</body>
</html>
