
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Polskowola</title>
</head>
<body>
    <h1>Schools in Polskowola</h1>
    <ul>
        <li>Z.O.SAMORZĄDOWE PRZEDSZKOLE W POLSKOWOLI</li>
        <li>Z.O.SZKOŁA PODSTAWOWA IM. KS. LUCJANA NIEDZIELAKA W POLSKOWOLI</li>
        <li>ZESPÓŁ OŚWIATOWY W POLSKOWOLI</li>

    </ul>
    <a href="LUBELSKIE.html">Back to Cities in LUBELSKIE</a>
</body>
</html>
