
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Lublin</title>
</head>
<body>
    <h1>Schools in Lublin</h1>
    <ul>
        <li>"AKADEMIA KELNERSKA" - NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO</li>
        <li>"CENTRUM KSZTAŁCENIA DLA DOROSŁYCH CREATOR"</li>
        <li>"COLLEGE OF ENGLISH" SZKOŁA JĘZYKA ANGIELSKIEGO "U METODYSTÓW"</li>
        <li>"COLLEGIUM GOSTYNIANUM" ZESPÓŁ SZKÓŁ PRYWATNYCH IM. BŁ. KS. KAZIMIERZA GOSTYŃSKIEGO W LUBLINIE</li>
        <li>"MARTYNKA BIS" PRZEDSZKOLE PRYWATNE</li>
        <li>"SEKA" S.A. ODDZIAŁ W LUBLINIE NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO</li>
        <li>"SKALA" NIEPUBLICZNA SZKOŁA PODSTAWOWA  Z ODDZIAŁAMI INTEGRACYJNYMI</li>
        <li>AKADEMIA BANKÓW SPÓŁDZIELCZYCH ROZWOJU BANKOWOŚCI SPÓŁDZIELCZEJ</li>
        <li>AKADEMIA DOSKONALENIA ZAWODOWEGO OPERATOR</li>
        <li>AKADEMIA SHOOTER NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO W LUBLINIE</li>
        <li>AKADEMIA TEATRALNO -WOKALNA JERZEGO TUROWICZA - NIEPUBLICZNA PLACÓWKA ARTYSTYCZNA - OGNISKO ARTYSTYCZNE W LUBLINIE</li>
        <li>AKADEMIA TEATRALNO-WOKALNA JERZEGO TUROWICZA - NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO W LUBLINIE</li>
        <li>AKADEMIA ZAWODOWA VCC - PLACÓWKA KSZTAŁCENIA USTAWICZNEGO</li>
        <li>AKADEMICKIE LICEUM MISTRZOSTWA SPORTOWEGO W LUBLINIE</li>
        <li>ALBION SZKOŁA JĘZYKA ANGIELSKIEGO W LUBLINIE</li>
        <li>AVIACON</li>
        <li>BIURO DORADZTWA PERSONALNEGO "CONSULTOR"</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA PRZYZAKŁADOWA ZAKŁADU DOSKONALENIA ZAWODOWEGO</li>
        <li>BRANŻOWA SZKOŁA RZEMIEŚLNICZA I STOPNIA</li>
        <li>BRANŻOWA SZKOŁA USŁUGOWA SPECJALNA I STOPNIA NR 2 W LUBLINIE</li>
        <li>BRANŻOWA SZKOŁA WIELOZAWODOWA SPECJALNA I STOPNIA NR 2 DLA UCZNIÓW Z UPOŚLEDZENIEM UMYSŁOWYM W STOPNIU LEKKIM IM. MARII GRZEGORZEWSKIEJ W LUBLINIE</li>
        <li>BURSA SERCANEK W LUBLINIE</li>
        <li>BURSA SZKÓŁ ARTYSTYCZNYCH W LUBLINIE</li>
        <li>BURSA SZKOLNA NR 1 W LUBLINIE</li>
        <li>BURSA SZKOLNA NR 2 W LUBLINIE</li>
        <li>BURSA SZKOLNA NR 3 W LUBLINIE</li>
        <li>BURSA SZKOLNA NR 5 W LUBLINIE</li>
        <li>CENTRUM DOSKONALENIA NAUCZYCIELI NATAN</li>
        <li>CENTRUM EDUKACJI NAUCZYCIELI "LECHAA"</li>
        <li>CENTRUM EDUKACYJNO-TERAPEUTYCZNE 8 ELEMENT NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W LUBLINIE</li>
        <li>CENTRUM KSZTAŁCENIA KADR "OMEGA"</li>
        <li>CENTRUM KSZTAŁCENIA KADR OŚWIATOWYCH "OŚWIATA - LINGWISTA"</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO EDU W LUBLINIE</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO W LUBLINIE</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO W LUBLINIE SZKOŁA POLICEALNA NR 13</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO XXVI LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W LUBLINIE</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO OPERATOR</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO W LUBLINIE</li>
        <li>CENTRUM PSYCHOEDUKACJI I POMOCY PSYCHOLOGICZNEJ</li>
        <li>CENTRUM SZKOLENIOWE "MYSIAK" NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO W LUBLINIE</li>
        <li>CENTRUM SZKOLENIOWE KLANZA W LUBLINIE</li>
        <li>CENTRUM SZKOLENIOWE PERSPEKTYWA W LUBLINIE</li>
        <li>CENTRUM SZKOLENIOWO-USŁUGOWE "ERGO-B" - NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO</li>
        <li>CENTRUM USŁUG SZKOLENIOWYCH "LIDER"</li>
        <li>DETHLOFF DEUTSCHSCHULE NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO W LUBLINIE</li>
        <li>EUROPEJSKA AKADEMIA EDUKACYJNA - NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO</li>
        <li>FELBERG SZKOŁA JĘZYKA ANGLOAMERYKAŃSKIEGO W LUBLINIE</li>
        <li>FUNDACJA ROZWOJU DEMOKRACJI LOKALNEJ PLACÓWKA KSZTAŁCENIA USTAWICZNEGO DLA DOROSŁYCH</li>
        <li>GABINET PSYCHOLOGICZNO-LOGOPEDYCZNY</li>
        <li>GRUPA OCHRONY BIZNESU - NIEPUBLICZNE CENTRUM KSZTAŁCENIA USTAWICZNEGO</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE IM.STANISŁAWA STASZICA W LUBLINIE</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE IM. HETMANA JANA ZAMOYSKIEGO W LUBLINIE</li>
        <li>III LICEUM OGÓLNOKSZTAŁCĄCE IM. UNII LUBELSKIEJ W LUBLINIE</li>
        <li>INSTYTUT KSZTAŁCENIA KADR - NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO W LUBLINIE</li>
        <li>INSTYTUT ROZWOJU EDUKACJI "HSM" PLACÓWKA KSZTAŁCENIA USTAWICZNEGO DLA DOROSŁYCH W LUBLINIE</li>
        <li>INTER-EDUKACJA CENTRUM KSZTAŁCENIA KADR W LUBLINIE</li>
        <li>IV LICEUM OGÓLNOKSZTAŁCĄCE IM. STEFANII SEMPOŁOWSKIEJ W LUBLINIE</li>
        <li>IX LICEUM OGÓLNOKSZTAŁCĄCE IM. MIKOŁAJA KOPERNIKA W LUBLINIE</li>
        <li>IZBA RZEMIOSŁA I PRZEDSIĘBIORCZOŚCI W LUBLINIE CENTRUM SZKOLENIA MŁODZIEŻY I DOROSŁYCH</li>
        <li>KATOLICKA SZKOŁA PODSTAWOWA IM. ŚW. DOMINIKA SAVIO W LUBLINIE</li>
        <li>KATOLICKA SZKOŁA PODSTAWOWA IM. ŚWIĘTEJ JADWIGI KRÓLOWEJ W LUBLINIE</li>
        <li>KATOLICKIE PRZEDSZKOLE IM. ŚW. FRANCISZKA Z ASYŻU W LUBLINIE</li>
        <li>KOLEGIUM PRACOWNIKÓW SŁUŻB SPOŁECZNYCH W LUBLINIE</li>
        <li>KORCZAKOWSKIE LICEUM OGÓLNOKSZTAŁCĄCE W LUBLINIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE "LIDER" W LUBLINIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH "LIDER" W LUBLINIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH "ŻAK" W LUBLINIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH CNIB „ŻAK" W LUBLINIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. JANA III SOBIESKIEGO</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. KAZIMIERZA WIELKIEGO W LUBLINIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE LUBELSKIEJ AKADEMII WSEI W LUBLINIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE SPECJALNE PRZY UNIWERSYTECKIM SZPITALU DZIECIĘCYM W LUBLINIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE TEB EDUKACJA DLA DOROSŁYCH W LUBLINIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE TEB EDUKACJA W LUBLINIE</li>
        <li>LUBELSKA SZKOŁA BIZNESU</li>
        <li>LUBELSKA SZKOŁA JAZZU I MUZYKI ROZRYWKOWEJ II ST. W LUBLINIE</li>
        <li>LUBELSKIE CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO IM. KRZYSZTOFA KAMILA BACZYŃSKIEGO TECHNIKUM MECHANICZNE W LUBLINIE</li>
        <li>LUBELSKIE CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO IM. KRZYSZTOFA KAMILA BACZYŃSKIEGO W LUBLIN SZKOŁA POLICEALNA NR 8</li>
        <li>LUBELSKIE CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO IM. KRZYSZTOFA KAMILA BACZYŃSKIEGO W LUBLINIE</li>
        <li>LUBELSKIE CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO IM. KRZYSZTOFA KAMILA BACZYŃSKIEGO, BRANŻOWA SZKOŁA WIELOZAWODOWA I STOPNIA NR 1 W LUBLINIE</li>
        <li>LUBELSKIE CENTRUM SZKOLENIOWE</li>
        <li>LUBELSKIE SAMORZĄDOWE CENTRUM DOSKONALENIA NAUCZYCIELI</li>
        <li>MEDYCZNA SZKOŁA POLICEALNA PERSPEKTYWA W LUBLINIE</li>
        <li>MIĘDZYNARODOWA SZKOŁA PODSTAWOWA "PADEREWSKI" W LUBLINIE</li>
        <li>MIĘDZYNARODOWE LICEUM OGÓLNOKSZTAŁCĄCE PADEREWSKI W LUBLINIE</li>
        <li>MŁODZIEŻOWY DOM KULTURY "POD AKACJĄ" W LUBLINIE</li>
        <li>MŁODZIEŻOWY DOM KULTURY NR 2 W LUBLINIE</li>
        <li>MŁODZIEŻOWY OŚRODEK SOCJOTERAPII W LUBLINIE</li>
        <li>MULTIMEDIALNE CENTRUM SZKOLENIOWE</li>
        <li>NIEPUBLICZNA MEDYCZNA SZKOŁA POLICEALNA "LIDER" W LUBLINIE</li>
        <li>NIEPUBLICZNA MEDYCZNA SZKOŁA POLICEALNA EDU W LUBLINIE</li>
        <li>NIEPUBLICZNA MEDYCZNA SZKOŁA POLICEALNA SUKCES EDUKACJA W LUBLINIE</li>
        <li>NIEPUBLICZNA OGÓLNOKSZTAŁCĄCA LUBELSKA SZKOŁA BALETOWA W LUBLINIE</li>
        <li>NIEPUBLICZNA PLACÓWKA DOSKONALENIA NAUCZYCIELI FUNDACJI "ASDREAMER"</li>
        <li>NIEPUBLICZNA PLACÓWKA DOSKONALENIA NAUCZYCIELI FUNDACJI ROZWOJU OŚWIATY LUBELSKIEJ</li>
        <li>NIEPUBLICZNA PLACÓWKA DOSKONALENIA NAUCZYCIELI ISKRA - EDUKACJA ANIMACJA SZKOLENIA SP. Z O.O</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO "AKADEMIA PROGRAMOWANIA BOTTEGA" W LUBLINIE</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO "CAREERS HOUSE"</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO "CENTRUM EDUKACJI LECHAA CEL"</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO "ECO" W LUBLINIE</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO "EFEKT" - MARIUSZ POPKO W LUBLINIE</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO "IMPULS CONSULTING"</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO "KULKA" W LUBLINIE</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO "MARSOFT" W LUBLINIE</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO "MIESZKO" W LUBLINIE</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO AKADEMIA GRANICA W LUBLINIE</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO AKADEMIA MKK CENTRUM DOSKONALENIA ZAWODOWEGO W LUBLINIE</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO CENTRUM EDUKACJI CYFROWEJ I ZAWODOWEJ W LUBLINIE</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO DE W LUBLINIE</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO DLA DOROSŁYCH CENTRUM SZKOLEŃ I INNOWACJI</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO EDUKREACJA W LUBLINIE</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO FIZJOACTIV KAROL SITARZ W LUBLINIE</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO FIZJOACTIV MARTYNA MAZUREK-SITARZ W LUBLINIE</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO GOWORK.PL W LUBLINIE</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO HNATOW</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO INSPIRES W LUBLINIE</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO O'CHIKARA W LUBLINIE</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO ORYLION W LUBLINIE</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO PARTNERZY - MARLENA WOJCIECHOWSKA</li>
        <li>NIEPUBLICZNA PLACÓWKA OŚWIATOWO-WYCHOWAWCZA CENTRUM SPORTU DZIECIĘCEGO W LUBLINIE</li>
        <li>NIEPUBLICZNA PLACÓWKA OŚWIATOWO-WYCHOWAWCZA CENTRUM TAŃCA WASILEWSKI-FELSKA W LUBLINIE</li>
        <li>NIEPUBLICZNA POLICEALNA SZKOŁA MEDYCZNA "WOW EDUKACJA" W LUBLINIE</li>
        <li>NIEPUBLICZNA POLICEALNA SZKOŁA ZAWODOWA "WOW EDUKACJA" W LUBLINIE</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "INSTYTUT EFEKTYWNEJ NAUKI" W LUBLINIE</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "INTEGRA" W LUBLINIE</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "PCTS" W LUBLINIE</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "POWIEMY TO" IM. SŁAWOMIRA CHMIELEWSKIEGO W LUBLINIE</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "TRAMPOLINA" W LUBLINIE</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA PROGRES W LUBLINIE</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA SKRZYDŁA W LUBLINIE</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W LUBLINIE</li>
        <li>NIEPUBLICZNA PORADNIA WCZESNEGO WSPOMAGANIA ROZWOJU "LOLEK" W LUBLINIE</li>
        <li>NIEPUBLICZNA SPECJALISTYCZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA PROGRESJA TWP W LUBLINIE</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA "SKRZYDŁA" W LUBLINIE</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA DOMOWA SZKOŁA IM. DZIECI Z FATIMY W LUBLINIE</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA DZIECI MONTESSORI W LUBLINIE</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA IM. ALBERTA EINSTEINA W LUBLINIE</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA IM. STEFANA BANACHA W LUBLINIE</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA MONTESSORI W LUBLINIE</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA ŚWIĘTEGO JANA BOSKO W LUBLINIE</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA Z ODDZIAŁAMI INTEGRACYJNYMI "BAJKOWA AKADEMIA" W LUBLINIE</li>
        <li>NIEPUBLICZNA SZKOŁA POLICEALNA ARCHE W LUBLINIE</li>
        <li>NIEPUBLICZNA SZKOŁA POLICEALNA CENTRUM NAUKI I BIZNESU "ŻAK" W LUBLINIE</li>
        <li>NIEPUBLICZNA SZKOŁA POLICEALNA EDU W LUBLINIE</li>
        <li>NIEPUBLICZNA SZKOŁA POLICEALNA SUKCES EDUKACJA W LUBLINIE</li>
        <li>NIEPUBLICZNA SZKOŁA POLICEALNA TEB EDUKACJA W LUBLINIE</li>
        <li>NIEPUBLICZNA SZKOŁA POLICEALNA WIZAŻU I STYLIZACJI "AESTHETIC" W LUBLINIE</li>
        <li>NIEPUBLICZNE ALTERNATYWNE LICEUM OGÓLNOKSZTAŁCĄCE W LUBLINIE</li>
        <li>NIEPUBLICZNE CENTRUM KSZTAŁCENIA USTAWICZNEGO "ETAT" W LUBLINIE</li>
        <li>NIEPUBLICZNE CENTRUM KSZTAŁCENIA USTAWICZNEGO MIKO CENTRUM OCHRONY I ZABEZPIECZEŃ W LUBLINIE</li>
        <li>NIEPUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE ALTUM W LUBLINIE</li>
        <li>NIEPUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE ARCHE W LUBLINIE</li>
        <li>NIEPUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH ARCHE W LUBLINIE</li>
        <li>NIEPUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH STOWARZYSZENIA "SZANSA" W LUBLINIE</li>
        <li>NIEPUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH SUKCES EDUKACJA W LUBLINIE</li>
        <li>NIEPUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE IM. STEFANA BANACHA W LUBLINIE</li>
        <li>NIEPUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE W LUBLINIE - SZKOŁA MISTRZOSTWA SPORTOWEGO ZWIĄZKU PIŁKI RĘCZNEJ W POLSCE</li>
        <li>NIEPUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE W LUBLINIE LUBELSKA SZKOŁA REALNA</li>
        <li>NIEPUBLICZNE OGNISKO ARTYSTYCZNE "AKADEMIA TALENTÓW" W LUBLINIE</li>
        <li>NIEPUBLICZNE OGNISKO ARTYSTYCZNE CENTRUM ROZWOJU DZIECKA W LUBLINIE</li>
        <li>NIEPUBLICZNE POLICEALNE STUDIUM PLASTYCZNE W LUBLINIE LUBELSKA SZKOŁA SZTUKI I PROJEKTOWANIA</li>
        <li>NIEPUBLICZNE POLICEALNE STUDIUM WOKALNO-AKTORSKIE QURTYNA POD PATRONATEM TEATRU MUZYCZNEGO W LUBLINIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "BIEDRONKA" W LUBLINIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "CALINECZKA" W LUBLINIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "DOBRY START" W LUBLINIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "DZIECIAKI.PL"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "DZWONECZEK" W LUBLINIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "GADU-GADU" W LUBLINIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "JEŻYK" W LUBLINIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "KOGUCIK" W LUBLINIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "KOLOROWE KREDKI" W LUBLINIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "MAŁA PANDA" W LUBLINIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "MOJE PRZEDSZKOLE"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "PIOTRUŚ PAN" W LUBLINIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "POZWALAMY DZIECIOM" W LUBLINIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "SKRZACIK" W LUBLINIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "SKRZAT" Z ODDZIAŁAMI SPECJALNYMI W LUBLINIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE „KOLOROWE PIÓRKA” W LUBLINIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE A.GUGU W LUBLINIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE AKADEMIA MAŁEGO CZŁOWIEKA W LUBLINIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE AKADEMIA MAŁYCH ARTYSTÓW W LUBLINIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE AKADEMICKIE W KRAŚNIKU "WYSPA MALUCHA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE ARTYSTYCZNE "FORTEPIANO" W LUBLINIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE ARTYSTYCZNE "SŁONECZNIK" W LUBLINIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE BAJKOWY DWOREK 3 W LUBLINIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE BAJKOWY DWOREK W LUBLINIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE DWUJĘZYCZNE ABC W LUBLINIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE DZIECI MONTESSORI W LUBLINIIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE ELFIK 2 W LUBLINIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE ELFIK W LUBLINIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE IM. ŚW. JÓZEFA Z NAZARETU W LUBLINIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE INTEGRACYJNE "TURKUSIAKI" W LUBLINIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE JĘZYKOWE "BURSZTYNEK" W LUBLINIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE JĘZYKOWE "KRAINA MARZEŃ" W LUBLINIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE KLANZY W LUBLINIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE KOT FILEMON W LUBLINIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE KRÓL MACIUŚ II W LUBLINIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE MALUSZKOWO W LUBLINIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE MONTESSORI W LUBLINIE "DZIECI WSZECHŚWIATA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE MUZYCZNE "STONOGA 3" W LUBLINIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE MUZYCZNE "STONOGA" W LUBLINIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE OMNIBUS W LUBLINIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE RODZINNE "ZIARENKO"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE SIÓSTR NAZARETANEK IM. BŁ. FRANCISZKI SIEDLISKIEJ W LUBLINIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE SPECJALNE "INSIGNIS" W LUBLINIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE SPECJALNE "TAJEMNICZY OGRÓD" W LUBLINIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE SPECJALNE TAJEMNICZY OGRÓD IM. F. HODGSON BURNETT W LUBLINIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE TĘCZOWE CHMURKI W LUBLINIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE WITAMINKI W LUBLINIE</li>
        <li>NIEPUBLICZNE STUDIUM KSZTAŁCENIA USTAWICZNEGO KOBRA IZABELA ROWIŃSKA W LUBLINIE</li>
        <li>NIEPUBLICZNE TECHNIKUM LEŚNE</li>
        <li>NIEPUBLICZNE TECHNIKUM PROGRAMISTYCZNE TECHNI SCHOOLS W LUBLINIE</li>
        <li>NIEPUBLICZNY OŚRODEK DOSKONALENIA NAUCZYCIELI CHAMPION</li>
        <li>NIEPUBLICZNY OŚRODEK EDUKACJI ARTYSTYCZNEJ "PRYMUS" W LUBLINIE</li>
        <li>NIEPUBLICZNY OŚRODEK KSZTAŁCENIA USTAWICZNEGO DLA DOROSŁYCH "OPIEKUN" W LUBLINIE</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY "DZIECI WSZECHŚWIATA" W LUBLINIE</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY "KRAINA POMOCNYCH DŁONI"</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY "KROPKA" W LUBLINIE</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY "W DOBRYM KIERUNKU" W LUBLINIE</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY ZAGAJNIK W LUBLINIE</li>
        <li>NLP NEUROEDUKACJA</li>
        <li>NOVA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO W LUBLINIE</li>
        <li>OGNISKO MUZYCZNE LTG</li>
        <li>OGÓLNOKSZTAŁCĄCA SZKOŁA MUZYCZNA I I II ST. IM. KAROLA LIPIŃSKIEGO W LUBLINIE</li>
        <li>OGÓLNOKSZTAŁCĄCA SZKOŁA MUZYCZNA I ST. W LUBLINIE</li>
        <li>OGÓLNOKSZTAŁCĄCA SZKOŁA MUZYCZNA II ST. W LUBLINIE</li>
        <li>OŚRODEK KSZTAŁCENIA USTAWICZNEGO FUNDACJI FUGA MUNDI W LUBLINIE</li>
        <li>OŚRODEK KSZTAŁCENIA ZAWODOWEGO ELPRO W LUBLINIE - NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO</li>
        <li>OŚRODEK NAUCZANIA JĘZYKÓW OBCYCH</li>
        <li>OŚRODEK POMOCY PSYCHOLOGICZNEJ I PSYCHOEDUKACJI</li>
        <li>OŚRODEK PROFILAKTYKI ŚRODOWISKOWEJ AGENCJI DORADZTWA ZAWODOWEGO "AD"W LUBLINIE</li>
        <li>OŚRODEK PSYCHOPROFILAKTYKI</li>
        <li>OŚRODEK SZKOLENIA AGENCJI ROZWOJU LOKALNEGO</li>
        <li>OŚRODEK SZKOLENIA DOKSZTAŁCANIA I DOSKONALENIA KADR "KURSOR"</li>
        <li>OŚRODEK SZKOLENIA, DORADZTWA I PROMOCJI LUBELSKIEJ IZBY RZEMIEŚLNICZEJ W LUBLINIE</li>
        <li>OŚRODEK SZKOLENIOWY CENTRUM NAUKI I BIZNESU "ŻAK" W LUBLINIE</li>
        <li>OŚRODEK SZKOLENIOWY FUNDACJI "FUGA MUNDI"</li>
        <li>OŚRODEK SZKOLENIOWY LUBELSKIEJ FUNDACJI ROZWOJU</li>
        <li>OŚRODEK USTAWICZNEGO SZKOLENIA CENTRUM OCHRONY PRACY I BIZNESU "CONSULTRIX" W LUBLINIE</li>
        <li>OŚRODEK USTAWICZNEGO SZKOLENIA KURSOWEGO</li>
        <li>PAŃSTWOWE LICEUM SZTUK PLASTYCZNYCH IM. CYPRIANA KAMILA NORWIDA W LUBLINIE</li>
        <li>PAŃSTWOWE SZKOŁY BUDOWNICTWA I GEODEZJI BRANŻOWA SZKOŁA BUDOWNICTWA I STOPNIA NR 2 W LUBLINIE</li>
        <li>PAŃSTWOWE SZKOŁY BUDOWNICTWA I GEODEZJI TECHNIKUM BUDOWLANO-GEODEZYJNE W LUBLINIE</li>
        <li>PAŃSTWOWE SZKOŁY BUDOWNICTWA I GEODEZJI W LUBLINIE</li>
        <li>PAŃSTWOWE SZKOŁY BUDOWNICTWA I GEODEZJI W LUBLINIE SZKOŁA POLICEALNA NR 2</li>
        <li>PAŃSTWOWE SZKOŁY BUDOWNICTWA I GEODEZJI W LUBLINIE TECHNIKUM TERENÓW ZIELENI</li>
        <li>PAŃSTWOWE SZKOŁY BUDOWNICTWA I GEODEZJI W LUBLINIE XI LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>PEDAGOGICZNA BIBLIOTEKA WOJEWÓDZKA IM. KEN W LUBLINIE</li>
        <li>PLACÓWKA KSZTAŁCENIA USTAWICZNEGO "EDUKACJA PLUS" W LUBLINIE</li>
        <li>PLACÓWKA OŚWIATOWO-WYCHOWAWCZA CRH SPORT W LUBLINIE</li>
        <li>PLACÓWKA SZKOLENIOWA "OŚWIATA LINGWISTA"</li>
        <li>POLICEALNA SZKOŁA "KURSOR" W LUBLINIE</li>
        <li>POLICEALNA SZKOŁA MEDYCZNA "COSINUS" W LUBLINIE</li>
        <li>POLICEALNA SZKOŁA TRANSPORTU SAMOCHODOWEGO I LOGISTYKI W LUBLINIE</li>
        <li>POLICEALNA SZKOŁA ZAWODOWA "ETAT" W LUBLINIE</li>
        <li>POLICEALNA SZKOŁA ZAWODOWA POLSKI ZWIĄZEK MOTOROWY W LUBLINIE</li>
        <li>POLICEALNE STUDIUM ZAWODOWE ZAKŁADU DOSKONALENIA ZAWODOWEGO W LUBLINIE</li>
        <li>POLSKO-AMERYKAŃSKA AKADEMIA CYFROWA NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO W LUBLINIE</li>
        <li>PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA NR 7 W LUBLINIE</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA KLONOWIC W LUBLINIE</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA NR 1 W LUBLINIE</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA NR 2 W LUBLINIE</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA NR 3 W LUBLINIE</li>
        <li>PORADNIA SPECJALISTYCZNA SPINACZ W LUBLINIE</li>
        <li>PRYWATNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "NOWA"W LUBLINIE</li>
        <li>PRYWATNA SZKOŁA PODSTAWOWA IM. KRÓLOWEJ JADWIGI W LUBLINIE</li>
        <li>PRYWATNE DWUJĘZYCZNE PRZEDSZKOLE "MOTYLEK" W LUBLINIE</li>
        <li>PRYWATNE KATOLICKIE LICEUM OGÓLNOKSZTAŁCĄCE IM. KS. KAZIMIERZA GOSTYŃSKIEGO W LUBLINIE</li>
        <li>PRYWATNE LICEUM OGÓLNOKSZTAŁCĄCE IM. KRÓLOWEJ JADWIGI W LUBLINIE</li>
        <li>PRYWATNE LICEUM OGÓLNOKSZTAŁCĄCE IM. MIESZKA I W LUBLINIE</li>
        <li>PRYWATNE PRZEDSZKOLE "MOTYLEK"</li>
        <li>PRYWATNE PRZEDSZKOLE "STRUMYK" 1 W LUBLINIE</li>
        <li>PRYWATNE PRZEDSZKOLE "STRUMYK" 3 W LUBLINIE</li>
        <li>PRYWATNE PRZEDSZKOLE ARTYSTYCZNO-JĘZYKOWE "NIEZAPOMINAJKA"</li>
        <li>PRZEDSZKOLE "KRÓL MACIUŚ I" W LUBLINIE</li>
        <li>PRZEDSZKOLE INTEGRACYJNE NIEPUBLICZNE ZGROMADZENIA SIÓSTR KANONICZEK DUCHA ŚWIĘTEGO IM. BŁ. OJCA GWIDONA</li>
        <li>PRZEDSZKOLE INTEGRACYJNE NR 39 W LUBLINIE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "AKADEMIA POZIOMKOWA" W LUBLINIE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "AKADEMIA PRZEDSZKOLACZKA 2" W LUBLINIE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "AKADEMIA PRZEDSZKOLACZKA" W LUBLINIE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "AKADEMIA WESOŁYCH PRZEDSZKOLAKÓW" W LUBLINIE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "BAJNINIO" W LUBLINIE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "CZTEROLISTNA KONICZYNKA" W LUBLINIE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "DASZEK" W LUBLINIE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "DZIECI WSZECHŚWIATA" W LUBLINIE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "HAGUŚ" W LUBLINIE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "HULAJNOGA" W LUBLINIE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "JUNIOR" W LUBLINIE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "KORALIK" W LUBLINIE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "KRASNAL II" W LUBLINIE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "KRASNAL III" W LUBLINIE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "KREDKI" W LUBLINIE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "KUBUŚ I PRZYJACIELE" W LUBLINIE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "KUBUŚ I TYGRYSEK" W LUBLINIE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "LUBLINIACZEK"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "MALI GIGANCI II" W LUBLINIE MAŁGORZATA JUDA</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "MALI GIGANCI" W LUBLINIE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "MINI-MARTYNKA" W LUBLINIE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "MISIACZEK" W LUBLINIE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "ODKRYWCY TALENTÓW" W LUBLINIE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "OLEŃKA 2" W LUBLINIE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "SPEKTRUM" Z ODDZIAŁAMI SPECJALNYMI W LUBLINIE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "ŚWIAT MARZEŃ" W LUBLINIE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "ZACISZE" Z ODDZIAŁAMI INTEGRACYJNYMI W LUBLINIE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "ŻACZEK"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE AKADEMIA PRZYGODY W LUBLINIE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE BAJKOLANDIA</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE BAJKOWY DWOREK 2 W LUBLINIE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE KORALIK 2 W LUBLINIE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE MIŚ W LUBLINIE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE NIEBIESKI KORALIK W LUBLINIE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE Z ODDZIAŁAMI INTEGRACYJNYMI IM. BŁ. BOLESŁAWY LAMENT</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE ZIELONA WIEŻA LUBLIN</li>
        <li>PRZEDSZKOLE NR 10 W LUBLINIE</li>
        <li>PRZEDSZKOLE NR 13 W LUBLINIE</li>
        <li>PRZEDSZKOLE NR 14 W LUBLINIE</li>
        <li>PRZEDSZKOLE NR 15 W LUBLINIE</li>
        <li>PRZEDSZKOLE NR 16 W LUBLINIE</li>
        <li>PRZEDSZKOLE NR 18 W LUBLINIE</li>
        <li>PRZEDSZKOLE NR 19 W LUBLINIE</li>
        <li>PRZEDSZKOLE NR 2 W LUBLINIE</li>
        <li>PRZEDSZKOLE NR 22 W LUBLINIE</li>
        <li>PRZEDSZKOLE NR 25 W LUBLINIE</li>
        <li>PRZEDSZKOLE NR 26 W LUBLINIE</li>
        <li>PRZEDSZKOLE NR 28 W LUBLINIE</li>
        <li>PRZEDSZKOLE NR 3 W LUBLINIE</li>
        <li>PRZEDSZKOLE NR 31 W LUBLINIE</li>
        <li>PRZEDSZKOLE NR 32 W LUBLINIE</li>
        <li>PRZEDSZKOLE NR 33 IM. KUBUSIA PUCHATKA W LUBLINIE</li>
        <li>PRZEDSZKOLE NR 34 W LUBLINIE</li>
        <li>PRZEDSZKOLE NR 35 W LUBLINIE</li>
        <li>PRZEDSZKOLE NR 37 W LUBLINIE</li>
        <li>PRZEDSZKOLE NR 4 W LUBLINIE</li>
        <li>PRZEDSZKOLE NR 42 W LUBLINIE</li>
        <li>PRZEDSZKOLE NR 43 W LUBLINIE</li>
        <li>PRZEDSZKOLE NR 44 W LUBLINIE</li>
        <li>PRZEDSZKOLE NR 45 W LUBLINIE</li>
        <li>PRZEDSZKOLE NR 46 W LUBLINIE</li>
        <li>PRZEDSZKOLE NR 47 W LUBLINIE</li>
        <li>PRZEDSZKOLE NR 48 W LUBLINIE</li>
        <li>PRZEDSZKOLE NR 49 W LUBLINIE</li>
        <li>PRZEDSZKOLE NR 5 W LUBLINIE</li>
        <li>PRZEDSZKOLE NR 50 W LUBLINIE</li>
        <li>PRZEDSZKOLE NR 52 W LUBLINIE</li>
        <li>PRZEDSZKOLE NR 54 W LUBLINIE</li>
        <li>PRZEDSZKOLE NR 56 W LUBLINIE</li>
        <li>PRZEDSZKOLE NR 57 W LUBLINIE</li>
        <li>PRZEDSZKOLE NR 58 W LUBLINIE</li>
        <li>PRZEDSZKOLE NR 59 W LUBLINIE</li>
        <li>PRZEDSZKOLE NR 6 W LUBLINIE</li>
        <li>PRZEDSZKOLE NR 63 W LUBLINIE</li>
        <li>PRZEDSZKOLE NR 64 W LUBLINIE</li>
        <li>PRZEDSZKOLE NR 65 W LUBLINIE</li>
        <li>PRZEDSZKOLE NR 66 W LUBLINIE</li>
        <li>PRZEDSZKOLE NR 69 W LUBLINIE</li>
        <li>PRZEDSZKOLE NR 7 W LUBLINIE</li>
        <li>PRZEDSZKOLE NR 72 W LUBLINIE</li>
        <li>PRZEDSZKOLE NR 73 W LUBLINIE</li>
        <li>PRZEDSZKOLE NR 74 W LUBLINIE</li>
        <li>PRZEDSZKOLE NR 75 W LUBLINIE</li>
        <li>PRZEDSZKOLE NR 76 W LUBLINIE</li>
        <li>PRZEDSZKOLE NR 77 W LUBLINIE</li>
        <li>PRZEDSZKOLE NR 78 W LUBLINIE</li>
        <li>PRZEDSZKOLE NR 79 W LUBLINIE</li>
        <li>PRZEDSZKOLE NR 81 W LUBLINIE</li>
        <li>PRZEDSZKOLE NR 83 W LUBLINIE</li>
        <li>PRZEDSZKOLE NR 84 W LUBLINIE</li>
        <li>PRZEDSZKOLE NR 85 W LUBLINIE</li>
        <li>PRZEDSZKOLE NR 87 W LUBLINIE</li>
        <li>PRZEDSZKOLE NR 9 W LUBLINIE</li>
        <li>PRZEDSZKOLE PARAFIALNE IM. BŁ. HONORATA KOŹMIŃSKIEGO W LUBLINIE</li>
        <li>PRZEDSZKOLE PRYWATNE "CHATKA PUCHATKA 2" W LUBLINIE</li>
        <li>PRZEDSZKOLE PRYWATNE "CHATKA PUCHATKA" W LUBLINIE</li>
        <li>PRZEDSZKOLE PRYWATNE "ENTLICZEK PENTLICZEK" W LUBLINIE</li>
        <li>PRZEDSZKOLE PRYWATNE "ENTLICZEK-PENTLICZEK 2"</li>
        <li>PRZEDSZKOLE PRYWATNE "LUBELSKIE SKRZATY"</li>
        <li>PRZEDSZKOLE PRYWATNE "MARTYNKA"</li>
        <li>PRZEDSZKOLE PRYWATNE "PSZCZÓŁKA" W LUBLINIE</li>
        <li>PRZEDSZKOLE SIÓSTR URSZULANEK SERCA JEZUSA KONAJĄCEGO W LUBLINIE</li>
        <li>PRZEDSZKOLE SIÓSTR URSZULANEK SERCA JEZUSA KONAJĄCEGO W LUBLINIE</li>
        <li>PRZEDSZKOLE SPECJALNE NR 11 W LUBLINIE</li>
        <li>PRZEDSZKOLE Z ODDZIAŁAMI INTEGRACYJNYMI NR 12 W LUBLINIE</li>
        <li>PRZEDSZKOLE Z ODDZIAŁAMI INTEGRACYJNYMI NR 36 W LUBLINIE</li>
        <li>PRZEDSZKOLE Z ODDZIAŁEM INTEGRACYJNYM NR 70 W LUBLINIE</li>
        <li>PSYCHOLOGICZNE CENTRUM DIAGNOZY I TERAPII WYŻSZEJ SZKOŁY EKONOMII I INNOWACJI W LUBLINIE</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA GALILEO W LUBLINIE</li>
        <li>PUBLICZNE PRZEDSZKOLE GALILEO W LUBLINIE</li>
        <li>PUBLICZNE PRZEDSZKOLE INTEGRACYJNE NR 40 W LUBLINIE</li>
        <li>PUNKT PRZEDSZKOLNY "LOLEK" W LUBLINIE</li>
        <li>RODZINNA SZKOŁA PODSTAWOWA "LEON" W LUBLINIE</li>
        <li>SIWIEC ACADEMY NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO W LUBLINIE</li>
        <li>SPECJALISTYCZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W LUBLINIE</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY DLA DZIECI I MŁODZIEŻY NIEPEŁNOSPRAWNEJ IM.PROF.Z.SĘKOWSKIEJ W LUBLINIE SZKOŁA PODSTAWOWA SPECJALNA NR 54</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY DLA DZIECI I MŁODZIEŻY NIEPEŁNOSPRAWNYCH IM. PROF. ZOFII SĘKOWSKIEJ W LUBLINIE, BRANŻOWA SZKOŁA USŁUGOWA SPECJALNA II STOPNIA W LUBLINIE</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY DLA DZIECI I MŁODZIEŻY NIEPEŁNOSPRAWNYCH IM.PROF.Z.SĘKOWSKIEJ</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY DLA DZIECI I MŁODZIEŻY NIESŁYSZĄCEJ I SŁABO SŁYSZĄCEJ IM. JANA PAWŁA II W LUBLINIE</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY NR 1 W LUBLINIE</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY NR 2 W LUBLINIE</li>
        <li>SPECJALNY OŚRODEK WYCHOWAWCZY ZGROMADZENIA SIÓSTR MIŁOSIERDZIA ŚW. WINCENTEGO A PAULO W LUBLINIE</li>
        <li>SPOŁECZNA SZKOŁA MUZYCZNA I ST. W LUBLINIE</li>
        <li>SPOŁECZNA SZKOŁA MUZYCZNA II ST. W LUBLINIE</li>
        <li>SPOŁECZNA TERAPEUTYCZNA SZKOŁA PODSTAWOWA IM. H. CH. ANDERSENA W LUBLINIE</li>
        <li>SPOŁECZNE LICEUM OGÓLNOKSZTAŁCĄCE IM. ADAMA ASNYKA STOWARZYSZENIA "SZANSA" W LUBLINIE</li>
        <li>SPOŁECZNE LICEUM OGÓLNOKSZTAŁCĄCE IM. H. CH. ANDERSENA W LUBLINIE</li>
        <li>ŚRÓDZIEMNOMORSKIE LICEUM OGÓLNOKSZTAŁCĄCE IM. ŚW. DOMINIKA GUZMANA W LUBLINIE</li>
        <li>STOWARZYSZENIE KSIĘGOWYCH W POLSCE CENTRUM KSZTAŁCENIA ODDZIAŁU OKREGOWEGO W LUBLINIE</li>
        <li>SZKOŁA JĘZYKA HISZPAŃSKIEGO "INSTYTUT HISZPAŃSKO-POLSKI IM. AUGUSTA CZARTORYSKIEGO"</li>
        <li>SZKOŁA JĘZYKÓW OBCYCH TOWARZYSTWA "BOBOLANUM"</li>
        <li>SZKOŁA KOMPUTEROWA "ZETO"</li>
        <li>SZKOŁA MUZYCZNA I I II ST. IM. WITOLDA LUTOSŁAWSKIEGO W LUBLINIE</li>
        <li>SZKOŁA MUZYCZNA I I II STOPNIA IM. TADEUSZA SZELIGOWSKIEGO W LUBLINIE</li>
        <li>SZKOŁA MUZYCZNA I ST. IM. WITOLDA LUTOSŁAWSKIEGO W LUBLINIE</li>
        <li>SZKOŁA MUZYCZNA I STOPNIA W LUBLINIE</li>
        <li>SZKOŁA MUZYCZNA II ST. IM. WITOLDA LUTOSŁAWSKIEGO W LUBLINIE</li>
        <li>SZKOŁA MUZYCZNA II STOPNIA W LUBLINIE</li>
        <li>SZKOŁA PODSTAWOWA IM. BOLESŁAWA CHROBREGO W LUBLINIE</li>
        <li>SZKOŁA PODSTAWOWA IM. ŚW. WINCENTEGO PALLOTTIEGO W LUBLINIE</li>
        <li>SZKOŁA PODSTAWOWA KLONOWIC W LUBLINIE</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. KS. STANISŁAWA KONARSKIEGO W LUBLINIE</li>
        <li>SZKOŁA PODSTAWOWA NR 10 IM. HENRYKA SIENKIEWICZA W LUBLINIE</li>
        <li>SZKOŁA PODSTAWOWA NR 11 IM. STANISŁAWY FILIPINY PALEOLOG W LUBLINIE</li>
        <li>SZKOŁA PODSTAWOWA NR 15 IM. JANA PAWŁA II W LUBLINIE</li>
        <li>SZKOŁA PODSTAWOWA NR 16 IM. FRYDERYKA CHOPINA</li>
        <li>SZKOŁA PODSTAWOWA NR 18 IM. MACIEJA RATAJA</li>
        <li>SZKOŁA PODSTAWOWA NR 19 IM. JÓZEFA CZECHOWICZA W LUBLINIE</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. JANA KOCHANOWSKIEGO W LUBLINIE</li>
        <li>SZKOŁA PODSTAWOWA NR 20 IM. JAROSŁAWA DĄBROWSKIEGO W LUBLINIE</li>
        <li>SZKOŁA PODSTAWOWA NR 21 IM. KRÓLOWEJ JADWIGI W LUBLINIE</li>
        <li>SZKOŁA PODSTAWOWA NR 22 IM. BOLESŁAWA PRUSA W LUBLINIE</li>
        <li>SZKOŁA PODSTAWOWA NR 23 IM. OLIMPIJCZYKÓW POLSKICH W LUBLINIE</li>
        <li>SZKOŁA PODSTAWOWA NR 24 IM. PARTYZANTÓW LUBELSZCZYZNY</li>
        <li>SZKOŁA PODSTAWOWA NR 25 IM. WŁADYSŁAWA BRONIEWSKIEGO W LUBLINIE</li>
        <li>SZKOŁA PODSTAWOWA NR 27 IM. MARII MONTESSORI W LUBLINIE</li>
        <li>SZKOŁA PODSTAWOWA NR 28 Z ODDZIAŁAMI INTEGRACYJNYMI IM. SYNÓW PUŁKU ZIEMI LUBELSKIEJ W LUBLINIE</li>
        <li>SZKOŁA PODSTAWOWA NR 29 IM. ADAMA MICKIEWICZA W LUBLINIE</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. JULIUSZA SŁOWACKIEGO W LUBLINIE</li>
        <li>SZKOŁA PODSTAWOWA NR 30 IM. KRÓLA KAZIMIERZA WIELKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 31 IM. LOTNIKÓW POLSKICH W LUBLINIE</li>
        <li>SZKOŁA PODSTAWOWA NR 32 Z ODDZIAŁAMI INTEGRACYJNYMI IM. PAMIĘCI MAJDANKA W LUBLINIE</li>
        <li>SZKOŁA PODSTAWOWA NR 33 IM. 27. WOŁYŃSKIEJ DYWIZJI PIECHOTY ARMII KRAJOWEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 34 IM. KORNELA MAKUSZYŃSKIEGO W LUBLINIE</li>
        <li>SZKOŁA PODSTAWOWA NR 38 IM. HENRYKA SIENKIEWICZA W LUBLINIE</li>
        <li>SZKOŁA PODSTAWOWA NR 39 IM. SZARYCH SZEREGÓW W LUBLINIE</li>
        <li>SZKOŁA PODSTAWOWA NR 4 IM. ADAMA MICKIEWICZA W LUBLINIE</li>
        <li>SZKOŁA PODSTAWOWA NR 40 IM. LUBELSKIEGO LIPCA 1980</li>
        <li>SZKOŁA PODSTAWOWA NR 42 IM. KONSTANTEGO ILDEFONSA GAŁCZYŃSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 43 IM. IGNACEGO JANA PADEREWSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 44 W LUBLINIE</li>
        <li>SZKOŁA PODSTAWOWA NR 45 W LUBLINIE</li>
        <li>SZKOŁA PODSTAWOWA NR 46 IM. KRÓLA JANA III SOBIESKIEGO W LUBLINIE</li>
        <li>SZKOŁA PODSTAWOWA NR 47 IM. JÓZEFA IGNACEGO KRASZEWSKIEGO W LUBLINIE</li>
        <li>SZKOŁA PODSTAWOWA NR 48 IM.JÓZEFA PIŁSUDSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 5 IM. KRÓLA WŁADYSŁAWA ŁOKIETKA</li>
        <li>SZKOŁA PODSTAWOWA NR 50 IM. STEFANA KARDYNAŁA WYSZYŃSKIEGO - PRYMASA TYSIĄCLECIA W LUBLINIE</li>
        <li>SZKOŁA PODSTAWOWA NR 51 IM. JANA PAWŁA II W LUBLINIE</li>
        <li>SZKOŁA PODSTAWOWA NR 52 IM. MARII KONOPNICKIEJ W LUBLINIE</li>
        <li>SZKOŁA PODSTAWOWA NR 55 DLA DZIECI NIESŁYSZĄCYCH I SŁABO SŁYSZĄCYCH W LUBLINIE</li>
        <li>SZKOŁA PODSTAWOWA NR 57 IM. JANA KOCHANOWSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 6 IM. ROMUALDA TRAUGUTTA W LUBLINIE</li>
        <li>SZKOŁA PODSTAWOWA NR 7 IM. KS. JANA TWARDOWSKIEGO W LUBLINIE</li>
        <li>SZKOŁA PODSTAWOWA SIÓSTR URSZULANEK UNII RZYMSKIEJ W LUBLINIE</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 26 IM. JANUSZA KORCZAKA SZKOŁA FILIALNA DLA DZIECI Z AUTYZMEM W TYM Z ZESPOŁEM ASPARGERA</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 26 IM. JANUSZA KORCZAKA W LUBLINIE</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 41 IM. MARII GRZEGORZEWSKIEJ Z ODDZIAŁAMI PRZEDSZKOLNYMI PRZY UNIWERSYTECKIM SZPITALU DZIECIĘCYM W LUBLINIE</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 53 W LUBLINIE</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 56 W LUBLINIE</li>
        <li>SZKOŁA POLICEALNA - MEDYCZNE STUDIUM ZAWODOWE IM. STANISŁAWA LIEBHARTA W LUBLINIE</li>
        <li>SZKOŁA POLICEALNA CENTRUM NAUKI I BIZNESU "ŻAK" W LUBLINIE</li>
        <li>SZKOŁA POLICEALNA GOWORK.PL W LUBLINIE</li>
        <li>SZKOŁA POLICEALNA MEDYCZNA GOWORK.PL W LUBLINIE</li>
        <li>SZKOŁA POLICEALNA OPIEKI MEDYCZNEJ "ŻAK" W LUBLINIE</li>
        <li>SZKOŁA POLICEALNA PERSPEKTYWA W LUBLINIE</li>
        <li>SZKOŁA POLICEALNA PRACOWNIKÓW SLUŻB SPOŁECZNYCH IM. ANDRZEJA BĄCZKOWSKIEGO W LUBLINIE</li>
        <li>SZKOŁA POLICEALNA SPECJALNA NR 11 DLA UCZNIÓW NIESŁYSZĄCYCH, SŁABO SŁYSZĄCYCH, NIEWIDOMYCH, SŁABO WIDZĄCYCH, Z NIEPEŁNOSPRAWNOŚCIĄ RUCHOWĄ, W TYM Z AFAZJĄ, Z AUTYZMEM, W TYM Z ZESPOŁEM ASPERGERA ORAZ Z NIEPEŁNOSPRAWNOŚCIAMI SPRZĘŻONYMI W LUBLINIE</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY DLA UCZNIÓW Z NIEPEŁNOSPRAWNOŚCIAMI SPRZĘŻONYMI W LUBLINIE</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY DLA UCZNIÓW Z UPOŚLEDZENIEM UMYSŁOWYM W STOPNIU UMIARKOWANYM I ZNACZNYM W LUBLINIE</li>
        <li>SZKOLTEX - CENTRUM USŁUG BHP I KADR W LUBLINIE</li>
        <li>SZKOŁY DLA DOROSŁYCH "ETAT" W LUBLINIE</li>
        <li>TEB EDUKACJA STUDIUM KSZTAŁCENIA PRAKTYCZNEGO W LUBLINIE</li>
        <li>TECHNIKUM "LIDER" W LUBLINIE</li>
        <li>TECHNIKUM SPECJALNE NR 1 DLA UCZNIÓW NIESŁYSZĄCYCH I SŁABO SŁYSZĄCYCH W LUBLINIE</li>
        <li>TECHNIKUM SPECJALNE NR 2 DLA UCZNIÓW NIESŁYSZĄCYCH, SŁABO SŁYSZĄCYCH, NIEWIDOMYCH, SŁABO WIDZĄCYCH, Z NIEPEŁNOSPRAWNOŚCIĄ RUCHOWĄ, W TYM Z AFAZJĄ, Z AUTYZMEM, W TYM Z ZESPOŁEM ASPERGERA ORAZ Z NIEPEŁNOPRAWNOŚCIAMI SPRZĘŻONYMI W LUBLINIE</li>
        <li>TECHNIKUM TEB EDUKACJA W LUBLINIE</li>
        <li>TECHNIKUM ZAKŁADU DOSKONALENIA ZAWODOWEGO W LUBLINIE</li>
        <li>V LICEUM OGÓLNOKSZTAŁCĄCE IM. MARII SKŁODOWSKIEJ-CURIE W LUBLINIE</li>
        <li>VCC SCHOOL - NIEPUBLICZNA PLACÓWKA OŚWIATOWO-WYCHOWAWCZA</li>
        <li>VI LICEUM OGÓLNOKSZTAŁCĄCE IM. HUGONA KOŁŁĄTAJA W LUBLINIE</li>
        <li>VII LICEUM OGÓLNOKSZTAŁCĄCE IM. MARII KONOPNICKIEJ W LUBLINIE</li>
        <li>VIII LICEUM OGÓLNOKSZTAŁCĄCE IM. ZOFII NAŁKOWSKIEJ W LUBLINIE</li>
        <li>WOJEWÓDZKI OŚRODEK DOSKONALENIA NAUCZYCIELI "KURSOR"</li>
        <li>XIV LICEUM OGÓLNOKSZTAŁCĄCE W LUBLINIE</li>
        <li>XIX LICEUM OGÓLNOKSZTAŁCĄCE IM. MARII I JERZEGO KUNCEWICZÓW W LUBLINIE</li>
        <li>XVII LICEUM OGÓLNOKSZTAŁCĄCE SPECJALNE DLA UCZNIÓW NIEWIDOMYCH, SŁABO WIDZĄCYCH, NIESŁYSZĄCYCH, SŁABO SŁYSZĄCYCH, Z NIEPEŁNOSPRAWNOŚCIĄ RUCHOWĄ, W TYM Z AFAZJĄ ORAZ NIEPEŁNOSPRAWNOŚCIAMI SPRZĘŻONYMI</li>
        <li>XVIII LICEUM OGÓLNOKSZTAŁCĄCE IM. STANISŁAWY FILIPINY PALEOLOG W LUBLINIE</li>
        <li>XX LICEUM OGÓLNOKSZTAŁCĄCE W LUBLINIE</li>
        <li>XXI LICEUM OGÓLNOKSZTAŁCĄCE IM. ŚW. STANISŁAWA KOSTKI</li>
        <li>XXIII LICEUM OGÓLNOKSZTAŁCĄCE IM. NAUCZYCIELI TAJNEGO NAUCZANIA W LUBLINIE</li>
        <li>XXIX LICEUM OGÓLNOKSZTAŁCĄCE IM. CC MJR HIERONIMA DEKUTOWSKIEGO PS. „ZAPORA” W LUBLINIE</li>
        <li>XXVII LICEUM OGÓLNOKSZTAŁCĄCE IM. ZESŁAŃCÓW SYBIRU W LUBLINIE</li>
        <li>XXX LICEUM OGÓLNOKSZTAŁCĄCE IM. KSIĘDZA JANA TWARDOWSKIEGO W LUBLINIE</li>
        <li>ZAKŁAD DOSKONALENIA ZAWODOWEGO W LUBLINIE CENTRUM KSZTAŁCENIA W LUBLINIE</li>
        <li>ZAKŁAD SZKOLENIA I DORADZTWA EKONOMICZNEGO POLSKIEGO TOWARZYSTWA EKONOMICZNEGO W LUBLINIE</li>
        <li>ZAOCZNA POLICEALNA SZKOŁA "COSINUS" W LUBLINIE</li>
        <li>ZAOCZNE LICEUM OGÓLNOKSZTAŁCĄCE "COSINUS" W LUBLINIE</li>
        <li>ZESPÓŁ PORADNI NR 1 W LUBLINIE</li>
        <li>ZESPÓŁ PORADNI NR 1 W LUBLINIE PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA NR 5</li>
        <li>ZESPÓŁ PORADNI NR 1 W LUBLINIE SPECJALISTYCZNA PORADNIA ZAWODOWA</li>
        <li>ZESPÓŁ PORADNI NR 2 SPECJALISTYCZNA PORADNIA PSYCHOPROFILAKTYKI I TERAPII RODZIN IM.PROF.W.FIJAŁKOWSKIEGO W LUBLINIE</li>
        <li>ZESPÓŁ PORADNI NR 2 W LUBLINIE</li>
        <li>ZESPÓŁ PORADNI NR 2 W LUBLINIE PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA NR 4</li>
        <li>ZESPÓŁ PORADNI NR 3 W LUBLINIE</li>
        <li>ZESPÓŁ PORADNI NR 3 W LUBLINIE - SPECJALISTYCZNA PORADNIA WCZESNEJ DIAGNOZY I REHABILITACJI</li>
        <li>ZESPÓŁ PORADNI NR 3 W LUBLINIE PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA NR 6</li>
        <li>ZESPÓŁ PRZEDSZKOLNY NR 1 W LUBLINIE</li>
        <li>ZESPÓŁ PRZEDSZKOLNY NR 1, PRZEDSZKOLE NR 53 W LUBLINIE</li>
        <li>ZESPÓŁ PRZEDSZKOLNY NR 1, PRZEDSZKOLE NR 67 W LUBLINIE</li>
        <li>ZESPÓŁ PRZEDSZKOLNY NR 2 W LUBLINIE</li>
        <li>ZESPÓŁ SZKÓŁ ARCHE W LUBLINIE</li>
        <li>ZESPÓŁ SZKÓŁ BUDOWLANYCH IM. EUGENIUSZA KWIATKOWSKIEGO BRANŻOWA SZKOŁA BUDOWNICTWA I STOPNIA NR 1 W LUBLINIE</li>
        <li>ZESPÓŁ SZKÓŁ BUDOWLANYCH IM. EUGENIUSZA KWIATKOWSKIEGO SZKOŁA POLICEALNA NR 3</li>
        <li>ZESPÓŁ SZKÓŁ BUDOWLANYCH IM. EUGENIUSZA KWIATKOWSKIEGO TECHNIKUM BUDOWLANE</li>
        <li>ZESPÓŁ SZKÓŁ BUDOWLANYCH IM. EUGENIUSZA KWIATKOWSKIEGO TECHNIKUM DRZEWNE</li>
        <li>ZESPÓŁ SZKÓŁ BUDOWLANYCH IM. EUGENIUSZA KWIATKOWSKIEGO W LUBLINIE</li>
        <li>ZESPÓŁ SZKÓŁ BUDOWLANYCH IM. EUGENIUSZA KWIATKOWSKIEGO W LUBLINIE, BRANŻOWA SZKOŁA BUDOWNICTWA II STOPNIA W LUBLINIE</li>
        <li>ZESPÓŁ SZKÓŁ BUDOWLANYCH IM. EUGENIUSZA KWIATKOWSKIEGO W LUBLINIE, BURSA SZKOLNA NR 8 W LUBLINIE</li>
        <li>ZESPÓŁ SZKÓŁ CHEMICZNYCH I PRZEMYSŁU SPOŻYWCZEGO IM. GEN. FRANCISZKA KLEEBERGA</li>
        <li>ZESPÓŁ SZKÓŁ CHEMICZNYCH I PRZEMYSŁU SPOŻYWCZEGO IM. GEN. FRANCISZKA KLEEBERGA BRANŻOWA SZKOŁA SPOŻYWCZA I STOPNIA W LUBLINIE</li>
        <li>ZESPÓŁ SZKÓŁ CHEMICZNYCH I PRZEMYSŁU SPOŻYWCZEGO IM. GEN. FRANCISZKA KLEEBERGA SZKOŁA POLICEALNA NR 4 W LUBLINIE</li>
        <li>ZESPÓŁ SZKÓŁ CHEMICZNYCH I PRZEMYSŁU SPOŻYWCZEGO IM. GEN. FRANCISZKA KLEEBERGA TECHNIKUM CHEMICZNE W LUBLINIE</li>
        <li>ZESPÓŁ SZKÓŁ CHEMICZNYCH I PRZEMYSŁU SPOŻYWCZEGO IM. GEN. FRANCISZKA KLEEBERGA TECHNIKUM PRZEMYSŁU SPOŻYWCZEGO W LUBLINIE</li>
        <li>ZESPÓŁ SZKÓŁ CHEMICZNYCH I PRZEMYSŁU SPOŻYWCZEGO IM. GEN. FRANCISZKA KLEEBERGA W LUBLINIE, BRANŻOWA SZKOŁA SPOŻYWCZA II STOPNIA W LUBLINIE</li>
        <li>ZESPÓŁ SZKÓŁ CHEMICZNYCH I PRZEMYSŁU SPOŻYWCZEGO IM. GEN. FRANCISZKA KLEEBERGA XII LICEUM OGÓLNOKSZTAŁCĄCE W LUBLINIE</li>
        <li>ZESPÓŁ SZKÓŁ EKONOMICZNYCH IM. A. I J. VETTERÓW SZKOŁA POLICEALNA NR 5 W LUBLINIE</li>
        <li>ZESPÓŁ SZKÓŁ EKONOMICZNYCH IM. A. I J. VETTERÓW TECHNIKUM EKONOMICZNE W LUBLINIE</li>
        <li>ZESPÓŁ SZKÓŁ EKONOMICZNYCH IM. A. I J. VETTERÓW W LUBLINIE</li>
        <li>ZESPÓŁ SZKÓŁ EKONOMICZNYCH IM. A. I J. VETTERÓW XVI LICEUM OGÓLNOKSZTAŁCĄCE W LUBLINIE</li>
        <li>ZESPÓŁ SZKÓŁ ELEKTRONICZNYCH BRANŻOWA SZKOŁA ELEKTRONICZNA I STOPNIA W LUBLINIE</li>
        <li>ZESPÓŁ SZKÓŁ ELEKTRONICZNYCH TECHNIKUM ELEKTRONICZNE W LUBLINIE</li>
        <li>ZESPÓŁ SZKÓŁ ELEKTRONICZNYCH W LUBLINIE</li>
        <li>ZESPÓŁ SZKÓŁ ELEKTRONICZNYCH X LICEUM OGÓLNOKSZTAŁCĄCE MISTRZOSTWA SPORTOWEGO W LUBLINIE</li>
        <li>ZESPÓŁ SZKÓŁ ENERGETYCZNYCH IM. PROF. KAZIMIERZA DREWNOWSKIEGO W LUBLINIE</li>
        <li>ZESPÓŁ SZKÓŁ ENERGETYCZNYCH IM. PROF. KAZIMIERZA DREWNOWSKIEGO W LUBLINIE, SZKOŁA POLICEALNA NR 7</li>
        <li>ZESPÓŁ SZKÓŁ ENERGETYCZNYCH IM.PROF.KAZIMIERZA DREWNOWSKIEGO BRANŻOWA SZKOŁA ELEKTRYCZNA I STOPNIA W LUBLINIE</li>
        <li>ZESPÓŁ SZKÓŁ ENERGETYCZNYCH IM.PROF.KAZIMIERZA DREWNOWSKIEGO TECHNIKUM ENERGETYCZNO-INFORMATYCZNE W LUBLINIE</li>
        <li>ZESPÓŁ SZKÓŁ NR 1 IM. WŁ. GRABSKIEGO BRANŻOWA SZKOŁA HANDLOWA I STOPNIA W LUBLINIE</li>
        <li>ZESPÓŁ SZKÓŁ NR 1 IM. WŁ. GRABSKIEGO SZKOŁA POLICEALNA NR 6 W LUBLINIE</li>
        <li>ZESPÓŁ SZKÓŁ NR 1 IM. WŁADYSŁAWA GRABSKIEGO TECHNIKUM EKONOMICZNO-HANDLOWE W LUBLINIE</li>
        <li>ZESPÓŁ SZKÓŁ NR 1 IM. WŁADYSŁAWA GRABSKIEGO W LUBLINIE</li>
        <li>ZESPÓŁ SZKÓŁ NR 1 IM. WŁADYSŁAWA GRABSKIEGO XV LICEUM OGÓLNOKSZTAŁCĄCE W LUBLINIE</li>
        <li>ZESPÓŁ SZKÓŁ NR 12 W LUBLINIE</li>
        <li>ZESPÓŁ SZKÓŁ NR 12, PRZEDSZKOLE NR 86 W LUBLINIE</li>
        <li>ZESPÓŁ SZKÓŁ NR 12, SZKOŁA PODSTAWOWA NR 14 IM. TADEUSZA KOŚCIUSZKI W LUBLINIE</li>
        <li>ZESPÓŁ SZKÓŁ NR 13 W LUBLINIE</li>
        <li>ZESPÓŁ SZKÓŁ NR 13, PRZEDSZKOLE NR 88 W LUBLINIE</li>
        <li>ZESPÓŁ SZKÓŁ NR 13, SZKOŁA PODSTAWOWA NR 58 W LUBLINIE</li>
        <li>ZESPÓŁ SZKÓŁ NR 5 IM. JANA PAWŁA II BRANŻOWA SZKOŁA GASTRONOMICZNA I STOPNIA W LUBLINIE</li>
        <li>ZESPÓŁ SZKÓŁ NR 5 IM. JANA PAWŁA II SZKOŁA POLICEALNA NR 1</li>
        <li>ZESPÓŁ SZKÓŁ NR 5 IM. JANA PAWŁA II TECHNIKUM GASTRONOMICZNO-HOTELARSKIE W LUBLINIE</li>
        <li>ZESPÓŁ SZKÓŁ NR 5 IM. JANA PAWŁA II XXIV LICEUM OGÓLNOKSZTAŁCĄCE W LUBLINIE</li>
        <li>ZESPÓŁ SZKÓŁ NR 5 IM.JANA PAWŁA II W LUBLINIE</li>
        <li>ZESPÓŁ SZKÓŁ ODZIEŻOWO-WŁÓKIENNICZYCH IM. WŁ. ST. REYMONTA BRANŻOWA SZKOŁA USŁUGOWA I STOPNIA W LUBLINIE</li>
        <li>ZESPÓŁ SZKÓŁ ODZIEŻOWO-WŁÓKIENNICZYCH IM. WŁ. ST. REYMONTA W LUBLINIE TECHNIKUM USŁUGOWO-GOSPODARCZE</li>
        <li>ZESPÓŁ SZKÓŁ ODZIEŻOWO-WŁÓKIENNICZYCH IM. WŁADYSŁAWA STANISŁAWA REYMONTA W LUBLINIE, BRANŻOWA SZKOŁA USŁUGOWO- GOSPODARCZA II STOPNIA W LUBLINIE</li>
        <li>ZESPÓŁ SZKÓŁ ODZIEŻOWO-WŁÓKIENNICZYCH IM. WŁADYSŁAWA STANISŁAWA REYMONTA, SZKOŁA POLICEALNA NR 10 W LUBLINIE</li>
        <li>ZESPÓŁ SZKÓŁ ODZIEŻOWO-WŁÓKIENNICZYCH IM.WŁADYSŁAWA STANISŁAWA REYMONTA W LUBLINIE</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH NR 1 IM. ZBIGNIEWA HERBERTA W LUBLINIE</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH NR 2 W LUBLINIE</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH NR 4 IM.ORLĄT LWOWSKICH W LUBLINIE</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH NR 4 IM.ORLĄT LWOWSKICH, PRZEDSZKOLE NR 89 W LUBLINIE</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH NR 5 W LUBLINIE</li>
        <li>ZESPÓŁ SZKÓŁ SAMOCHODOWYCH IM. STANISŁAWA SYROCZYŃSKIEGO BRANŻOWA SZKOŁA SAMOCHODOWA I STOPNIA W LUBLINIE</li>
        <li>ZESPÓŁ SZKÓŁ SAMOCHODOWYCH IM. STANISŁAWA SYROCZYŃSKIEGO W LUBLINIE</li>
        <li>ZESPÓŁ SZKÓŁ SAMOCHODOWYCH IM. STANISŁAWA SYROCZYŃSKIEGO W LUBLINIE SZKOŁA POLICEALNA NR 9</li>
        <li>ZESPÓŁ SZKÓŁ SAMOCHODOWYCH IM. STANISŁAWA SYROCZYŃSKIEGO W LUBLINIE TECHNIKUM SAMOCHODOWE</li>
        <li>ZESPÓŁ SZKÓŁ SAMOCHODOWYCH IM. STANISŁAWA SYROCZYŃSKIEGO W LUBLINIE, BRANŻOWA SZKOŁA SAMOCHODOWA II STOPNIA W LUBLINIE</li>
        <li>ZESPÓŁ SZKÓŁ SPECJALNYCH PRZY UNIWERSYTECKIM SZPITALU DZIECIĘCYM W LUBLINIE</li>
        <li>ZESPÓŁ SZKÓŁ TRANSPORTOWO-KOMUNIKACYJNYCH IM. TADEUSZA KOŚCIUSZKI W LUBLINIE, BURSA SZKOLNA NR 7 W LUBLINIE</li>
        <li>ZESPÓŁ SZKÓŁ TRANSPORTOWO-KOMUNIKACYJNYCH IM.TADEUSZA KOŚCIUSZKI BRANŻOWA SZKOŁA TRANSPORTOWO-KOMUNIKACYJNA W LUBLINIE</li>
        <li>ZESPÓŁ SZKÓŁ TRANSPORTOWO-KOMUNIKACYJNYCH IM.TADEUSZA KOŚCIUSZKI TECHNIKUM TRANSPORTOWO-KOMUNIKACYJNE W LUBLINIE</li>
        <li>ZESPÓŁ SZKÓŁ TRANSPORTOWO-KOMUNIKACYJNYCH IM.TADEUSZA KOŚCIUSZKI W LUBLINIE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 1 W LUBLINIE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 2 W LUBLINIE</li>

    </ul>
    <a href="LUBELSKIE.html">Back to Cities in LUBELSKIE</a>
</body>
</html>
