
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Józefów nad Wisłą</title>
</head>
<body>
    <h1>Schools in Józefów nad Wisłą</h1>
    <ul>
        <li>LICEUM OGÓLNOKSZTAŁCACE IM JANA PAWŁA II</li>
        <li>PRZEDSZKOLE IM ADAMA MICKIEWICZA</li>
        <li>SZKOŁA PODSTAWOWA IM ADAMA MICKIEWICZA</li>
        <li>SZKOLNE SCHRONISKO MŁODZIEŻOWE</li>
        <li>ZESPÓL SZKÓŁ OGÓLNOKSZTAŁCĄCYCH W JÓZEFOWIE NAD WISŁĄ</li>

    </ul>
    <a href="LUBELSKIE.html">Back to Cities in LUBELSKIE</a>
</body>
</html>
