
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Ostrów Lubelski</title>
</head>
<body>
    <h1>Schools in Ostrów Lubelski</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 1 W ZESPOLE SZKÓŁ W OSTROWIE LUBELSKIM</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO W ZESPOLE SZKÓŁ W OSTROWIE LUBELSKIM</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO W OSTROWIE LUBELSKIM</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE</li>
        <li>SZKOŁA PODSTAWOWA IM. JANA PAWŁA II W OSTROWIE LUBELSKIM</li>
        <li>TECHNIKUM ZAWODOWE W ZESPOLE SZKÓŁ W OSTROWIE LUBELSKIM</li>
        <li>ZESPÓŁ SZKÓŁ W OSTROWIE LUBELSKIM</li>

    </ul>
    <a href="LUBELSKIE.html">Back to Cities in LUBELSKIE</a>
</body>
</html>
