
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Małaszewicze</title>
</head>
<body>
    <h1>Schools in Małaszewicze</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W MAŁASZEWICZACH W ZESPOLE SZKÓŁ IM. WŁADYSŁAWA STANISŁAWA REYMONTA W MAŁASZEWICZACH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W MAŁASZEWICZACH</li>
        <li>TECHNIKUM W MAŁASZEWICZACH</li>
        <li>ZESPÓŁ SZKÓŁ IM. WŁ. ST. REYMONTA W MAŁASZEWICZACH</li>
        <li>ZESPÓŁ SZKÓŁ IM.KORNELA MAKUSZYŃSKIEGO PRZEDSZKOLE W MAŁASZEWICZACH</li>
        <li>ZESPÓŁ SZKÓŁ IM.KORNELA MAKUSZYŃSKIEGO SZKOŁA PODSTAWOWA W MAŁASZEWICZACH</li>
        <li>ZESPÓŁ SZKÓŁ IM.KORNELA MAKUSZYŃSKIEGO W MAŁASZEWICZACH</li>

    </ul>
    <a href="LUBELSKIE.html">Back to Cities in LUBELSKIE</a>
</body>
</html>
