
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Łaszczów</title>
</head>
<body>
    <h1>Schools in Łaszczów</h1>
    <ul>
        <li>GMINNE PRZEDSZKOLE W ŁASZCZOWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. STANISŁAWA KOSTKI STAROWIEYSKIEGO W ŁASZCZOWIE</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA W ŁASZCZOWIE IM.GEN. WŁADYSŁAWA SIKORSKIEGO</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W ŁASZCZOWIE</li>

    </ul>
    <a href="LUBELSKIE.html">Back to Cities in LUBELSKIE</a>
</body>
</html>
