
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Stoczek Łukowski</title>
</head>
<body>
    <h1>Schools in Stoczek Łukowski</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W STOCZKU ŁUKOWSKIM</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA W STOCZKU ŁUKOWSKIM</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO W STOCZKU ŁUKOWSKIM</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W STOCZKU ŁUKOWSKIM</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI INTEGRACYJNYMI IM. GENERAŁA JÓZEFA DWERNICKIEGO W STOCZKU ŁUKOWSKIM</li>
        <li>PRZEDSZKOLE W STOCZKU ŁUKOWSKIM</li>
        <li>SZKOŁA PODSTAWOWA IM. GEN. J. DWERNICKIEGO W STOCZKU ŁUKOWSKIM</li>
        <li>SZKOŁA POLICEALNA W STOCZKU ŁUKOWSKIM</li>
        <li>TECHNIKUM Z ODDZIAŁAMI INTEGRACYJNYMI W STOCZKU ŁUKOWSKIM</li>
        <li>ZESPÓŁ OŚWIATOWY W STOCZKU ŁUKOWSKIM</li>
        <li>ZESPÓŁ SZKÓŁ W STOCZKU ŁUKOWSKIM</li>

    </ul>
    <a href="LUBELSKIE.html">Back to Cities in LUBELSKIE</a>
</body>
</html>
