
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Nowodwór</title>
</head>
<body>
    <h1>Schools in Nowodwór</h1>
    <ul>
        <li>PUNKT PRZEDSZKOLNY W NOWODWORZE</li>
        <li>SZKOŁA PODSTAWOWA IM. KARD.ST.WYSZYŃSKIEGO W NOWODWORZE</li>
        <li>SZKOŁA PODSTAWOWA IM. WACŁAWA NAŁKOWSKIEGO W NOWODWORZE</li>

    </ul>
    <a href="LUBELSKIE.html">Back to Cities in LUBELSKIE</a>
</body>
</html>
