
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Brzozowica Duża</title>
</head>
<body>
    <h1>Schools in Brzozowica Duża</h1>
    <ul>
        <li>Z.O.SAMORZĄDOWE PRZEDSZKOLE W BRZOZOWICY DUŻEJ</li>
        <li>Z.O.SZKOŁA PODSTAWOWA W BRZOZOWICY DUŻEJ</li>
        <li>ZESPÓŁ OŚWIATOWY IM. JANA PAWŁA II W BRZOZOWICY DUŻEJ</li>

    </ul>
    <a href="LUBELSKIE.html">Back to Cities in LUBELSKIE</a>
</body>
</html>
