
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Wysokie</title>
</head>
<body>
    <h1>Schools in Wysokie</h1>
    <ul>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W ZESPOLE SZKÓŁ IM. STANISŁAWA STASZICA W WYSOKIEM</li>
        <li>PRZEDSZKOLE W ZESPOLE SZKÓŁ IM. STANISŁAWA STASZICA W WYSOKIEM</li>
        <li>SZKOŁA PODSTAWOWA IM.EDWARDA KASPRZYSIAKA W WYSOKIEM</li>
        <li>SZKOŁA PODSTAWOWA W ZESPOLE SZKÓŁ IM. STANISŁAWA STASZICAW WYSOKIEM</li>
        <li>ZESPÓŁ SZKÓŁ IM.STANISŁAWA STASZICA W WYSOKIEM</li>

    </ul>
    <a href="LUBELSKIE.html">Back to Cities in LUBELSKIE</a>
</body>
</html>
