
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Skierbieszów</title>
</head>
<body>
    <h1>Schools in Skierbieszów</h1>
    <ul>
        <li>PRZEDSZKOLE SAMORZADOWE W SKIERBIESZOWIE</li>
        <li>SZKOŁA PODSTAWOWA IM.IGNACEGO MOŚCICKIEGO W SKIERBIESZOWIE</li>
        <li>ZESPÓŁ SZKOŁY PODSTAWOWEJ I PRZEDSZKOLA W SKIERBIESZOWIE</li>

    </ul>
    <a href="LUBELSKIE.html">Back to Cities in LUBELSKIE</a>
</body>
</html>
