
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Macoszyn Duży</title>
</head>
<body>
    <h1>Schools in Macoszyn Duży</h1>
    <ul>
        <li>STOWARZYSZENIE ,,EDUKATOR'' W ŁOMŻY ZESPÓŁ WYCHOWANIA PRZEDSZKOLNEGO W MACOSZYNIE DUŻYM</li>
        <li>STOWARZYSZENIE EDUKATOR W ŁOMŻY PUBLICZNA SZKOŁA PODSTAWOWA W MACOSZYNIE DUŻYM</li>

    </ul>
    <a href="LUBELSKIE.html">Back to Cities in LUBELSKIE</a>
</body>
</html>
