
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Biskupice</title>
</head>
<body>
    <h1>Schools in Biskupice</h1>
    <ul>
        <li>PRZEDSZKOLE SAMORZĄDOWE W BISKUPICACH</li>
        <li>SZKOŁA PODSTAWOWA IM. STEFANA BATOREGO W BISKUPICACH</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH IM. STEFANA BATOREGO W BISKUPICACH</li>

    </ul>
    <a href="LUBELSKIE.html">Back to Cities in LUBELSKIE</a>
</body>
</html>
