
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Wola Okrzejska</title>
</head>
<body>
    <h1>Schools in Wola Okrzejska</h1>
    <ul>
        <li>PUBLICZNE PRZEDSZKOLE W WOLI OKRZEJSKIEJ</li>
        <li>SZKOŁA PODSTAWOWA IM. HENRYKA SIENKIEWICZA W WOLI OKRZEJSKIEJ</li>
        <li>ZESPÓŁ SZKÓŁ W WOLI OKRZEJSKIEJ</li>

    </ul>
    <a href="LUBELSKIE.html">Back to Cities in LUBELSKIE</a>
</body>
</html>
