
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Pszczela Wola</title>
</head>
<body>
    <h1>Schools in Pszczela Wola</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W PSZCZELEJ WOLI</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA W ZESPOLE SZKÓŁ ROLNICZYCH CENTRUM KSZTAŁCENIA ZAWODOWEGO W PSZCZELEJ WOLI</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "PSZCZÓŁKA MAJA"</li>
        <li>POLICEALNA SZKOŁA ADMINISTRACJI W PSZCZELEJ WOLI</li>
        <li>TECHNIKUM PSZCZELARSKIE IM. ZOFII I TADEUSZA WAWRYNÓW</li>
        <li>ZESPÓŁ SZKÓŁ ROLNICZYCH CENTRUM KSZTAŁCENIA ZAWODOWEGO W PSZCZELEJ WOLI</li>

    </ul>
    <a href="LUBELSKIE.html">Back to Cities in LUBELSKIE</a>
</body>
</html>
