
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Podhorce</title>
</head>
<body>
    <h1>Schools in Podhorce</h1>
    <ul>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA IM. PAPIEŻA JANA PAWŁA II W PODHORCACH</li>
        <li>PUBLICZNY PUNKT PRZEDSZKOLNY W PODHORCACH</li>
        <li>SZKOŁA PODSTAWOWA IM.MARSZAŁKA JÓZEFA PIŁSUDSKIEGO W PODHORCACH</li>

    </ul>
    <a href="LUBELSKIE.html">Back to Cities in LUBELSKIE</a>
</body>
</html>
