
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Huta Józefów</title>
</head>
<body>
    <h1>Schools in Huta Józefów</h1>
    <ul>
        <li>PRZEDSZKOLE NIEPUBLICZNE W HUCIE JÓZEFÓW</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA W HUCIE JÓZEFÓW</li>
        <li>ZESPÓŁ SZKÓŁ W HUCIE JÓZEFÓW</li>

    </ul>
    <a href="LUBELSKIE.html">Back to Cities in LUBELSKIE</a>
</body>
</html>
