
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Wola Uhruska</title>
</head>
<body>
    <h1>Schools in Wola Uhruska</h1>
    <ul>
        <li>PRZEDSZKOLE WOLA UHRUSKA</li>
        <li>SZKOLNE SCHRONISKO MŁODZIEŻOWE W WOLI UHRUSKIEJ</li>
        <li>ZESPÓŁ SZKÓŁ W WOLI UHRUSKIEJ</li>
        <li>ZESPÓŁ SZKÓŁ W WOLI UHRUSKIEJ SZKOLNE SCHRONISKO MŁODZIEŻOWE W WOLI UHRUSKIEJ</li>
        <li>ZESPÓŁ SZKÓŁ:SZKOŁA PODSTAWOWA IM. J.I.KRASZEWSKIEGO W WOLI UHRUSKIEJ</li>

    </ul>
    <a href="LUBELSKIE.html">Back to Cities in LUBELSKIE</a>
</body>
</html>
