
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Olbięcin</title>
</head>
<body>
    <h1>Schools in Olbięcin</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA SPECJALNA I STOPNIA W OLBIĘCINIE</li>
        <li>PRZEDSZKOLE W OLBIĘCINIE</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY IM. JERZEGO RUDLICKIEGO W OLBIĘCINIE</li>
        <li>SZKOŁA PODSTAWOWA NR 1 W OLBIĘCINIE</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA W OLBIĘCINIE</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W OLBIĘCINIE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W OLBIĘCINIE</li>

    </ul>
    <a href="LUBELSKIE.html">Back to Cities in LUBELSKIE</a>
</body>
</html>
