
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Suchowola</title>
</head>
<body>
    <h1>Schools in Suchowola</h1>
    <ul>
        <li>PRZEDSZKOLE W SUCHOWOLI</li>
        <li>PUNKT PRZEDSZKOLNY</li>
        <li>SZKOŁA PODSTAWOWA IM. TADEUSZA KOŚCIUSZKI W SUCHOWOLI</li>
        <li>SZKOŁA PODSTAWOWA W SUCHOWOLI</li>
        <li>ZESPÓŁ SZKÓŁ IM. SEWERYNA CZETWERTYŃSKIEGO W SUCHOWOLI</li>

    </ul>
    <a href="LUBELSKIE.html">Back to Cities in LUBELSKIE</a>
</body>
</html>
