
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Włodawa</title>
</head>
<body>
    <h1>Schools in Włodawa</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 1 WE WŁODAWIE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA WE WŁODAWIE</li>
        <li>BRANŻOWA SZKOŁA SPECJALNA I STOPNIA NR 2 WE WŁODAWIE</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE IM. TADEUSZA KOŚCIUSZKI</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE IM. ANDRZEJA FRYCZA MODRZEWSKIEGO</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>MIEJSKIE PRZEDSZKOLE INTEGRACYJNE WE WŁODAWIE</li>
        <li>MŁODZIEŻOWY DOM KULTURY IM.OSKARA KOLBERGA WE WŁODAWIE</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA MISTRZOSTWA SPORTOWEGO WE WŁODAWIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "MAŁA AKADEMIA"</li>
        <li>OŚRODEK SZKOLENIA "LIDER" MIROSŁAW WIT WE WŁODAWIE</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA WE WŁODAWIE</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 1 WE WŁODAWIE</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 2 WE WŁODAWIE</li>
        <li>PRZEDSZKOLE SPECJALNE WE WŁODAWIE</li>
        <li>PUBLICZNA SZKOŁA POLICEALNA "EDUKACJA" WE WŁODAWIE</li>
        <li>PUBLICZNE ZAOCZNE LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH "EDUKACJA" WE WŁODAWIE</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY WE WŁODAWIE</li>
        <li>SZKOŁA MUZYCZNA I STOPNIA WE WŁODAWIE</li>
        <li>SZKOŁA PODSTAWOWA DLA DOROSŁYCH</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. KOMISJI EDUKACJI NARODOWEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. GEN. FRANCISZKA KLEEBERGA</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 4 WE WŁODAWIE</li>
        <li>SZKOŁA PODSTAWOWA Z ODDZIAŁAMI PRZYSPOSABIAJĄCYMI DO PRACY WE WŁODAWIE</li>
        <li>SZKOŁA POLICEALNA</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY WE WŁODAWIE</li>
        <li>SZKOLNE SCHRONISKO MŁODZIEŻOWE NR 1 WE WŁODAWIE</li>
        <li>SZKOLNE SCHRONISKO MŁODZIEŻOWE NR 3 WE WŁODAWIE</li>
        <li>SZKOLNE SCHRONISKO MŁODZIEŻOWE WE WŁODAWIE</li>
        <li>TECHNIKUM</li>
        <li>ZESPÓŁ SZKÓŁ ZAWODOWYCH NR 1 IM. 2 WARSZAWSKIEJ BRYGADY SAPERÓW I II LICEUM OGÓLNOKSZTAŁCĄCE IM. ANDRZEJA FRYCZA MODRZEWSKIEGO</li>

    </ul>
    <a href="LUBELSKIE.html">Back to Cities in LUBELSKIE</a>
</body>
</html>
