
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Szastarka</title>
</head>
<body>
    <h1>Schools in Szastarka</h1>
    <ul>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA W SZASTARCE IM.KARDYNAŁA STEFANA WYSZYŃSKIEGO</li>
        <li>PUNKT PRZEDSZKOLNY W SZASTARCE</li>
        <li>ZESPÓŁ SZKÓŁ W SZASTARCE</li>

    </ul>
    <a href="LUBELSKIE.html">Back to Cities in LUBELSKIE</a>
</body>
</html>
