
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Abramów</title>
</head>
<body>
    <h1>Schools in Abramów</h1>
    <ul>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY PRZEDSZKOLE W ABRAMOWIE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY SZKOŁA PODSTAWOWA W ABRAMOWIE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W ABRAMOWIE</li>

    </ul>
    <a href="LUBELSKIE.html">Back to Cities in LUBELSKIE</a>
</body>
</html>
