
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Kazimierz Dolny</title>
</head>
<body>
    <h1>Schools in Kazimierz Dolny</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W ZESPOLE SZKÓŁ IM. J.K.WITKIEWICZA W KAZIMIERZU DOLNYM</li>
        <li>GMINNY ZESPÓŁ SZKÓŁ W KAZIMIERZU DOLNYM</li>
        <li>GMINNY ZESPÓŁ SZKÓŁ W KAZIMIERZU DOLNYM LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>GMINNY ZESPÓŁ SZKÓŁ W KAZIMIERZU DOLNYM SZKOŁA PODSTAWOWA NR 1 IM. KAZIMIERZA WIELKIEGO</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W ZESPOLE SZKÓŁ IM.J.K.WITKIEWICZA W KAZIMIERZU DOLNYM</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE SPECJALNE W MŁODZIEŻOWYM OŚRODKU SOCJOTERAPII W ALBRECHTÓWCE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W ZESPOLE SZKÓŁ IM.J.K.WITKIEWICZA W KAZIMIERZU DOLNYM</li>
        <li>MŁODZIEŻOWY OŚRODEK SOCJOTERAPII W ALBRECHTÓWCE</li>
        <li>POZASZKOLNA PLACÓWKA SPECJALISTYCZNA - OŚRODEK OŚWIATOWO - SZKOLENIOWY „ARKADIA” W KAZIMIERZU DOLNYM</li>
        <li>PRZEDSZKOLE Z ODDZIAŁAMI INTEGRACYJNYMI IM.MARII KONOPNICKIEJ W KAZIMIERZU DOLNYM</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA W MŁODZIEŻOWYM OŚRODKU SOCJOTERAPII W ALBRECHTÓWCE</li>
        <li>SZKOLNE SCHRONISKO MŁODZIEŻOWE W ZESPOLE SZKÓŁ IM.J.K.WITKIEWICZA W KAZIMIERZU DOLNYM</li>
        <li>TECHNIKUM W ZESPOLE SZKÓŁ IM.J.K.WITKIEWICZA W KAZIMIERZU DOLNYM</li>
        <li>ZESPÓŁ SZKÓŁ IM.JANA KOSZCZYCA-WITKIEWICZA W KAZIMIERZU DOLNYM</li>

    </ul>
    <a href="LUBELSKIE.html">Back to Cities in LUBELSKIE</a>
</body>
</html>
