
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Stary Bazanów</title>
</head>
<body>
    <h1>Schools in Stary Bazanów</h1>
    <ul>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA W STARYM BAZANOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE W STARYM BAZANOWIE</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH W STARYM BAZANOWIE</li>

    </ul>
    <a href="LUBELSKIE.html">Back to Cities in LUBELSKIE</a>
</body>
</html>
