
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Poniatowa</title>
</head>
<body>
    <h1>Schools in Poniatowa</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W PONIATOWEJ</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. MARSZAŁKA JÓZEFA PIŁSUDSKIEGO W PONIATOWEJ</li>
        <li>NIEPUBLICZNA SPECJALISTYCZNA PORADNIA REWALIDACYJNA</li>
        <li>OGNISKO PRACY POZASZKOLNEJ W PONIATOWEJ</li>
        <li>PRZEDSZKOLE MIEJSKIE W PONIATOWEJ</li>
        <li>SZKOŁA PODSTAWOWA IM. STEFANA ŻEROMSKIEGO W PONIATOWEJ</li>
        <li>SZKOŁA POLICEALNA</li>
        <li>TECHNIKUM IM. EUGENIUSZA KWIATKOWSKIEGO W PONIATOWEJ</li>
        <li>ZESPÓŁ SZKÓŁ W PONIATOWEJ</li>

    </ul>
    <a href="LUBELSKIE.html">Back to Cities in LUBELSKIE</a>
</body>
</html>
