
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Ludwin</title>
</head>
<body>
    <h1>Schools in Ludwin</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W LUDWINIE</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO W LUDWINIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>PRZEDSZKOLE SPECJALNE W LUDWINIE</li>
        <li>SZKOŁA POLICEALNA W LUDWINIE</li>
        <li>TECHNIKUM W LUDWINIE</li>
        <li>ZESPÓŁ SZKÓŁ W LUDWINIE</li>

    </ul>
    <a href="LUBELSKIE.html">Back to Cities in LUBELSKIE</a>
</body>
</html>
