
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Świdnik</title>
</head>
<body>
    <h1>Schools in Świdnik</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 1 W ŚWIDNIKU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 2 W ŚWIDNIKU</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA W ŚWIDNIKU</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO W ŚWIDNIKU</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W ŚWIDNIKU</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE IM. WŁADYSŁAWA BRONIEWSKIEGO W ŚWIDNIKU</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W ŚWIDNIKU</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE W ŚWIDNIKU W ZESPOLE SZKÓŁ OGÓLNOKSZTAŁCĄCYCH NR 1 W ŚWIDNIKU</li>
        <li>III LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI INTEGRACYJNYMI W ŚWIDNIKU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH "EDUKATOR" W ŚWIDNIKU</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO BERYL</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA MISTRZOSTWA SPORTOWEGO W ŚWIDNIKU</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "BAJKOWY ŚWIAT"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "KUBUŚ PUCHATEK I PRZYJACIELE" W ŚWIDNIKU</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "TĘCZOWY DOMEK" W ŚWIDNIKU</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE KLANZY W ŚWIDNIKU</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE POSZUKIWACZE PRZYGÓD</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I ST. IM. RODZINY WIŁKOMIRSKICH W ŚWIDNIKU</li>
        <li>POLICEALNA SZKOŁA ZAWODOWA "EDUKATOR" W ŚWIDNIKU</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA</li>
        <li>POWIATOWE CENTRUM EDUKACJI ZAWODOWEJ IM. ZYGMUNTA PUŁAWSKIEGO W ŚWIDNIKU</li>
        <li>PRYWATNA POLICEALNA SZKOŁA FARMACEUTYCZNA</li>
        <li>PRZEDSZKOLE INTEGRACYJNE NR 5 IM. DOROTY GELLNER W ŚWIDNIKU</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "SIGMA I PI" MARIOLA BUJACZ W ŚWIDNIKU</li>
        <li>PRZEDSZKOLE NR 2 IM. MARII KONOPNICKIEJ W ŚWIDNIKU</li>
        <li>PRZEDSZKOLE NR 3 IM. JANA BRZECHWY W ŚWIDNIKU</li>
        <li>PRZEDSZKOLE NR 4 IM. KAPRALA NIEDŹWIEDZIA WOJTKA W ŚWIDNIKU</li>
        <li>PRZEDSZKOLE NR 6 IM. JOANNY PAPUZIŃSKIEJ W ŚWIDNIKU</li>
        <li>PRZEDSZKOLE NR 7 IM. MARII KOWNACKIEJ W ŚWIDNIKU</li>
        <li>PRZEDSZKOLE SPECJALNE W ŚWIDNIKU</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY IM. HENRYKA SIENKIEWICZA W ŚWIDNIKU</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM.TADEUSZA KOŚCIUSZKI W ŚWIDNIKU</li>
        <li>SZKOŁA PODSTAWOWA NR 4 IM. GEN.WŁADYSŁAWA SIKORSKIEGO W ŚWIDNIKU</li>
        <li>SZKOŁA PODSTAWOWA NR 5 IM.JANUSZA KUSOCIŃSKIEGO W ŚWIDNIKU</li>
        <li>SZKOŁA PODSTAWOWA NR 7 IM. ŻOŁNIERZY ARMII KRAJOWEJ W ŚWIDNIKU</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA W ŚWIDNIKU</li>
        <li>SZKOŁA POLICEALNA NR 1 W ŚWIDNIKU</li>
        <li>SZKOŁA POLICEALNA NR 2 W ŚWIDNIKU</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W ŚWIDNIKU</li>
        <li>TECHNIKUM NR 1 W ŚWIDNIKU</li>
        <li>TECHNIKUM NR 2 W ŚWIDNIKU</li>
        <li>ZESPÓŁ PRZEDSZKOLI NR 1 W ŚWIDNIKU</li>
        <li>ZESPÓŁ PRZEDSZKOLI NR 2 W ŚWIDNIKU</li>
        <li>ZESPÓŁ SZKÓŁ NR 1 IM. CYPRIANA KAMILA NORWIDA W ŚWIDNIKU</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH NR 1 W ŚWIDNIKU</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 1 W ŚWIDNIKU</li>

    </ul>
    <a href="LUBELSKIE.html">Back to Cities in LUBELSKIE</a>
</body>
</html>
