
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Piaski</title>
</head>
<body>
    <h1>Schools in Piaski</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W PIASKACH</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO W PIASKACH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W PIASKACH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W PIASKACH</li>
        <li>PRZEDSZKOLE MAŁYCH ODKRYWCÓW W PIASKACH</li>
        <li>SZKOŁA PODSTAWOWA IM.MIKOŁAJA KOPERNIKA W PIASKACH</li>
        <li>SZKOŁA POLICEALNA W PIASKACH</li>
        <li>SZKOŁA POLICEALNA W PIASKACH</li>
        <li>TECHNIKUM W PIASKACH</li>
        <li>ZESPÓŁ SZKÓŁ W PIASKACH</li>

    </ul>
    <a href="LUBELSKIE.html">Back to Cities in LUBELSKIE</a>
</body>
</html>
