
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Białopole</title>
</head>
<body>
    <h1>Schools in Białopole</h1>
    <ul>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA IM. 9 PUŁKU PIECHOTY LEGIONÓW AK W BIAŁOPOLU</li>
        <li>PUNKT PRZEDSZKOLNY W PUBLICZNEJ SZKOLE PODSTAWOWEJ IM. 9 PUŁKU PIECHOTY LEGIONÓW AK W BIAŁOPOLU</li>

    </ul>
    <a href="LUBELSKIE.html">Back to Cities in LUBELSKIE</a>
</body>
</html>
