
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Dęblin</title>
</head>
<body>
    <h1>Schools in Dęblin</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 1 W DĘBLINIE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 2 W DĘBLINIE</li>
        <li>III LICEUM OGÓLNOKSZTAŁCĄCE W DĘBLINIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. 15 PUŁKU PIECHOTY "WILKÓW" W DĘBLINIE</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 1 BAJKA W DĘBLINIE</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 3 W DĘBLINIE</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 4 IM. JANA PAWŁA II W DĘBLINIE</li>
        <li>MIEJSKIE PRZEDSZKOLE SPECJALNE NR 5 "ISKIERKA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE INTEGRACYJNE "MIŚ USZATEK"</li>
        <li>OGÓLNOKSZTAŁCĄCE LICEUM LOTNICZE</li>
        <li>PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA W DĘBLINIE</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY IM. MARSZAŁKA JÓZEFA PIŁSUDSKIEGO W DĘBLINIE</li>
        <li>SZKOŁA PODSTAWOWA NR 1 SPECJALNA</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. WŁADYSŁAWA BRONIEWSKIEGO W DĘBLINIE</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. MARII SKŁODOWSKIEJ-CURIE W DĘBLINIE</li>
        <li>SZKOŁA PODSTAWOWA NR 4 IM. BOHATERÓW LOTNICTWA POLSKIEGO W DĘBLINIE</li>
        <li>SZKOŁA PODSTAWOWA NR 5 IM. WŁADYSŁAWA SIKORSKIEGO W DĘBLINIE</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY</li>
        <li>TECHNIKUM NR 1 W DĘBLINIE</li>
        <li>TECHNIKUM NR 2 W DĘBLINIE</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH W DĘBLINIE</li>
        <li>ZESPÓŁ SZKÓŁ ZAWODOWYCH NR 1 IM. GEN. FRANCISZKA KLEEBERGA W DĘBLINIE</li>
        <li>ZESPÓŁ SZKÓŁ ZAWODOWYCH NR 2 IM. MARII DĄBROWSKIEJ W DĘBLINIE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 3 W DĘBLINIE</li>

    </ul>
    <a href="LUBELSKIE.html">Back to Cities in LUBELSKIE</a>
</body>
</html>
