
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Szczebrzeszyn</title>
</head>
<body>
    <h1>Schools in Szczebrzeszyn</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W SZCZEBRZESZYNIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. ZAMOYSKICH W SZCZEBRZESZYNIE</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I ST. IM. KAROLA NAMYSŁOWSKIEGO W SZCZEBRZESZYNIE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE AKADEMIA MALUCHA</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE W SZCZEBRZESZYNIE</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. HENRYKA SIENKIEWICZA W SZCZEBRZESZYNIE</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. RÓŻY ZAMOYSKIEJ W SZCZEBRZESZYNIE</li>
        <li>SZKOLNE SCHRONISKO MŁODZIEŻOWE</li>
        <li>TECHNIKUM</li>
        <li>ZESPÓŁ SZKÓŁ NR 2 IM. DR Z. KLUKOWSKIEGO W SZCZEBRZESZYNIE</li>

    </ul>
    <a href="LUBELSKIE.html">Back to Cities in LUBELSKIE</a>
</body>
</html>
