
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Podedwórze</title>
</head>
<body>
    <h1>Schools in Podedwórze</h1>
    <ul>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH W PODEDWÓRZU</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH W PODEDWÓRZU - PRZEDSZKOLE SAMORZĄDOWE</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH W PODEDWÓRZU - SZKOŁA PODSTAWOWA</li>

    </ul>
    <a href="LUBELSKIE.html">Back to Cities in LUBELSKIE</a>
</body>
</html>
