
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Grabowiec</title>
</head>
<body>
    <h1>Schools in Grabowiec</h1>
    <ul>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE ZESPOŁU SZKÓŁ IM. HENRYKA SIENKIEWICZA W GRABOWCU</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE ZESPOŁU SZKÓŁ IM. HENRYKA SIENKIEWICZA W GRABOWCU</li>
        <li>SZKOŁA PODSTAWOWA ZESPOŁU SZKÓŁ IM. HENRYKA SIENKIEWICZA W GRABOWCU</li>
        <li>SZKOLNE SCHRONISKO MŁODZIEŻOWE ZESPOŁU SZKÓŁ IM. HENRYKA SIENKIEWICZA W GRABOWCU</li>
        <li>ZESPÓŁ SZKÓŁ IM. HENRYKA SIENKIEWICZA W GRABOWCU</li>

    </ul>
    <a href="LUBELSKIE.html">Back to Cities in LUBELSKIE</a>
</body>
</html>
