
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Opole Lubelskie</title>
</head>
<body>
    <h1>Schools in Opole Lubelskie</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W OPOLU LUBELSKIM</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA W OPOLU LUBELSKIM</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. ADAMA MICKIEWICZA W OPOLU LUBELSKIM</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE SPECJALNE "TAJEMNICZY OGRÓD"</li>
        <li>OŚRODEK DOKSZTAŁCANIA I DOSKONALENIA ZAWODOWEGO W KLUCZKOWICACH</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W OPOLU LUBELSKIM</li>
        <li>PROMYCZEK</li>
        <li>PRYWATNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "STO POCIECH W OPOLU LUBELSKIM"</li>
        <li>PRZEDSZKOLE MIEJSKIE W OPOLU LUBELSKIM</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. KORNELA MAKUSZYŃSKIEGO W OPOLU LUBELSKIM</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. OSKARA KOLBERGA W OPOLU LUBELSKIM</li>
        <li>TECHNIKUM W OPOLU LUBELSKIM</li>
        <li>ZESPÓŁ SZKÓŁ ZAWODOWYCH IM. STANISŁAWA KONARSKIEGO W OPOLU LUBELSKIM</li>

    </ul>
    <a href="LUBELSKIE.html">Back to Cities in LUBELSKIE</a>
</body>
</html>
