
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Annopol</title>
</head>
<body>
    <h1>Schools in Annopol</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W ANNOPOLU</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA W ANNOPOLU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W ANNOPOLU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W ANNOPOLU</li>
        <li>PRZEDSZKOLE W ANNOPOLU</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA IM. KS. JÓZEFA PONIATOWSKIEGO W ANNOPOLU</li>
        <li>SZKOŁA POLICEALNA W ANNOPOLU</li>
        <li>TECHNIKUM W ANNOPOLU</li>
        <li>ZESPÓŁ SZKÓŁ IM. JANA PAWŁA II W ANNOPOLU</li>

    </ul>
    <a href="LUBELSKIE.html">Back to Cities in LUBELSKIE</a>
</body>
</html>
