
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Michalów</title>
</head>
<body>
    <h1>Schools in Michalów</h1>
    <ul>
        <li>PRZEDSZKOLE SAMORZĄDOWE W MICHALOWIE</li>
        <li>SZKOŁA PODSTAWOWA IM. ŚW. JANA PAWŁA II W MICHALOWIE</li>
        <li>SZKOŁA PODSTAWOWA W MICHALOWIE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W MICHALOWIE</li>

    </ul>
    <a href="LUBELSKIE.html">Back to Cities in LUBELSKIE</a>
</body>
</html>
