
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Tereszpol-Zaorenda</title>
</head>
<body>
    <h1>Schools in Tereszpol-Zaorenda</h1>
    <ul>
        <li>ZESPÓŁ SZKÓŁ SAMORZĄDOWYCH IM. JANA PAWŁA II SZKOŁA POSTAWOWA W TERESZPOLU-ZAORENDZIE</li>
        <li>ZESPÓŁ SZKÓŁ SAMORZĄDOWYCH IM. JANA PAWŁA II W TERESZPOLU-ZAORENDZIE</li>
        <li>ZESPÓŁ SZKÓŁ SAMORZĄDOWYCH IM.JANA PAWŁA II PRZEDSZKOLE W TERESZPOLU-ZAORENDZIE</li>

    </ul>
    <a href="LUBELSKIE.html">Back to Cities in LUBELSKIE</a>
</body>
</html>
