
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Ostrówek</title>
</head>
<body>
    <h1>Schools in Ostrówek</h1>
    <ul>
        <li>SZKOŁA PODSTAWOWA IM. BOHATERÓW MONTE CASSINO W OSTRÓWKU</li>
        <li>SZKOŁA PODSTAWOWA W OSTRÓWKU IM. BOHATERÓW ARMII KRAJOWEJ</li>
        <li>ZESPÓŁ SZKOLNO - PRZEDSZKOLNY W OSTRÓWKU</li>

    </ul>
    <a href="LUBELSKIE.html">Back to Cities in LUBELSKIE</a>
</body>
</html>
