
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Dorohusk-Osada</title>
</head>
<body>
    <h1>Schools in Dorohusk-Osada</h1>
    <ul>
        <li>PRZEDSZKOLE SAMORZĄDOWE W DOROHUSKU</li>
        <li>PRZEDSZKOLE SPECJALNE W SPECJALNYM OŚRODKU SZKOLNO - WYCHOWAWCZYM W DOROHUSKU</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY W DOROHUSKU</li>
        <li>SZKOŁA PODSTAWOWA IM. KPT. KAZIMIERZA FILIPOWICZA "KORDA" W DOROHUSKU</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA W SPECJALNYM OŚRODKU SZKOLNO - WYCHOWAWCZYM W DOROHUSKU</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W SPECJALNYM OŚRODKU SZKOLNO - WYCHOWAWCZYM W DOROHUSKU</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W DOROHUSKU</li>

    </ul>
    <a href="LUBELSKIE.html">Back to Cities in LUBELSKIE</a>
</body>
</html>
