
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Różaniec Pierwszy</title>
</head>
<body>
    <h1>Schools in Różaniec Pierwszy</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W RÓŻAŃCU</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO W RÓŻAŃCU</li>
        <li>SZKOŁA POLICEALNA W RÓŻAŃCU</li>
        <li>TECHNIKUM W RÓŻAŃCU</li>
        <li>ZESPÓŁ SZKÓŁ CENTRUM KSZTAŁCENIA ROLNICZEGO IM. WINCENTEGO WITOSA W RÓŻAŃCU</li>

    </ul>
    <a href="LUBELSKIE.html">Back to Cities in LUBELSKIE</a>
</body>
</html>
