
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Firlej</title>
</head>
<body>
    <h1>Schools in Firlej</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA SPECJALNA I STOPNIA NR 1 W SOSW W FIRLEJU</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE W FIRLEJU</li>
        <li>SPECJALNY OŚRODEK SZKOLNO - WYCHOWAWCZY W FIRLEJU</li>
        <li>SZKOŁA PODSTAWOWA IM. JANUSZA KORCZAKA W FIRLEJU</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA W SOSW W FIRLEJU</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W SOSW W FIRLEJU</li>
        <li>ZESPÓŁ SZKOLNO - PRZEDSZKOLNY W FIRLEJU</li>

    </ul>
    <a href="LUBELSKIE.html">Back to Cities in LUBELSKIE</a>
</body>
</html>
