
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Sawin</title>
</head>
<body>
    <h1>Schools in Sawin</h1>
    <ul>
        <li>NIEPUBLICZNA SPECJALNA SZKOŁA PODSTAWOWA W SAWINIE</li>
        <li>NIEPUBLICZNA SPECJALNA SZKOŁA PRZYSPOSABIAJĄCA DO PRACY W SAWINIE</li>
        <li>NIEPUBLICZNA SZKOŁA BRANŻOWA I STOPNIA W SAWINIE</li>
        <li>NIEPUBLICZNY SPECJALNY OŚRODEK SZKOLNO - WYCHOWAWCZY W SAWINIE</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE W SAWINIE</li>
        <li>SZKOŁA PODSTAWOWA IM. ST.STASZICA W SAWINIE</li>
        <li>ZESPÓŁ SZKÓŁ W SAWINIE</li>

    </ul>
    <a href="LUBELSKIE.html">Back to Cities in LUBELSKIE</a>
</body>
</html>
