
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Międzyrzec Podlaski</title>
</head>
<body>
    <h1>Schools in Międzyrzec Podlaski</h1>
    <ul>
        <li>AKADEMIA UŚMIECHU PRZEDSZKOLE NIEPUBLICZNE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA W MIĘDZYRZECU PODLASKIM</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO W MIĘDZYRZECU PODLASKIM</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. GEN. WŁ. SIKORSKIEGO W MIĘDZYRZECU PODLASKIM</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE ZESPOŁU SZKÓŁ EKONOMICZNYCH W MIĘDZYRZECU PODLASKIM</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "MIŚ"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE JĘZYKOWE "MAŁY POLIGLOTA"</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I ST. IM. KAROLA KURPIŃSKIEGO W MIĘDZYRZECU PODLASKIM</li>
        <li>POWIATOWA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W BIAŁEJ PODLASKIEJFILIA W MIĘDZYRZECU PODLASKIM</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 2 W MIĘDZYRZECU PODLASKIM</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 3 Z ODDZIAŁAMI INTEGRACYJNYMI W MIĘDZYRZECU PODLASKIM</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 4 IM. CZESŁAWA JANCZARSKIEGO W MIĘDZYRZECU PODLASKIM</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY - PRZEDSZKOLE SPECJALNE NR 1 W MIĘDZYRZECU PODLASKIM</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY - SZKOŁA PODSTAWOWA SPECJALNA NR 4 W MIĘDZYRZECU PODLASKIM</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY - SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W MIĘDZYRZECU PODLASKIM</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY W MIĘDZYRZECU PODLASKIM</li>
        <li>SZKOŁA PODSTAWOWA NR 1 Z ODDZIAŁAMI INTEGRACYJNYMI I SPORTOWYMI IM. HENRYKA SIENKIEWICZA W MIĘDZYRZECU PODLASKIM</li>
        <li>SZKOŁA PODSTAWOWA NR 2 Z ODDZIAŁAMI INTEGRACYJNYMI, SPORTOWYMI I DWUJĘZYCZNYMI IM. BOLESŁAWA PRUSA W MIĘDZYRZECU PODLASKIM</li>
        <li>SZKOŁA PODSTAWOWA NR 3 Z ODDZIAŁAMI INTEGRACYJNYMI I SPORTOWYMI IM. JANA PAWŁA II W MIĘDZYRZECU PODLASKIM</li>
        <li>SZKOLNE SCHRONISKO MŁODZIEŻOWE NR2 W MIĘDZYRZECU PODLASKIM</li>
        <li>TECHNIKUM W MIĘDZYRZECU PODLASKIM</li>
        <li>TECHNIKUM ZESPOŁU SZKÓŁ EKONOMICZNYCH W MIĘDZYRZECU PODLASKIM</li>
        <li>TRZYLETNIA BRANŻOWA SZKOŁA I STOPNIA W ZESPOLE SZKÓŁ EKONOMICZNYCH IM. MARII DĄBROWSKIEJ W MIĘDZYRZECU PODLASKIM</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH NR 1 W MIĘDZYRZECU PODLASKIM</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH NR 2 W MIĘDZYRZECU PODLASKIM</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH NR 3 W MIĘDZYRZECU PODLASKIM</li>
        <li>ZESPÓŁ SZKÓŁ EKONOMICZNYCH IM. MARII DĄBROWSKIEJ W MIĘDZYRZECU PODLASKIM</li>
        <li>ZESPÓŁ SZKÓŁ TECHNICZNYCH IM. UNITÓW PODLASKICH W MIĘDZYRZECU PODLASKIM</li>

    </ul>
    <a href="LUBELSKIE.html">Back to Cities in LUBELSKIE</a>
</body>
</html>
