
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Urszulin</title>
</head>
<body>
    <h1>Schools in Urszulin</h1>
    <ul>
        <li>PRZEDSZKOLE W URSZULINIE</li>
        <li>SZKOŁA PODSTAWOWA IM. ALFREDA LITYŃSKIEGO W URSZULINIE</li>
        <li>SZKOLNE SCHRONISKO MŁODZIEŻOWE W URSZULINIE</li>
        <li>ZESPÓŁ SZKÓŁ W URSZULINIE</li>

    </ul>
    <a href="LUBELSKIE.html">Back to Cities in LUBELSKIE</a>
</body>
</html>
