
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Kozice Dolne-Kolonia</title>
</head>
<body>
    <h1>Schools in Kozice Dolne-Kolonia</h1>
    <ul>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY W KOZICACH DOLNYCH</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA W KOZICACH DOLNYCH</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W KOZICACH DOLNYCH</li>

    </ul>
    <a href="LUBELSKIE.html">Back to Cities in LUBELSKIE</a>
</body>
</html>
