
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Kalinówka</title>
</head>
<body>
    <h1>Schools in Kalinówka</h1>
    <ul>
        <li>NIEPUBLICZNE PRZEDSZKOLE "KUCYKOWA KRAINA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "PRZYSTAŃ BLISKOŚCI"</li>
        <li>SZKOŁA PODSTAWOWA IM. 100-LECIA NIEPODLEGŁOŚCI POLSKI W KALINÓWCE</li>

    </ul>
    <a href="LUBELSKIE.html">Back to Cities in LUBELSKIE</a>
</body>
</html>
