
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Potoczek</title>
</head>
<body>
    <h1>Schools in Potoczek</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA IM. POWSTAŃCÓW STYCZNIOWYCH W POTOCZKU</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO W POTOCZKU</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA IM. JANA PAWŁA II W POTOCZKU</li>
        <li>SZKOŁA POLICEALNA W POTOCZKU</li>
        <li>TECHNIKUM IM. POWSTAŃCÓW STYCZNIOWYCH W POTOCZKU</li>
        <li>ZESPÓŁ SZKÓŁ CENTRUM KSZTAŁCENIA ROLNICZEGO W POTOCZKU</li>

    </ul>
    <a href="LUBELSKIE.html">Back to Cities in LUBELSKIE</a>
</body>
</html>
