
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Milejów-Osada</title>
</head>
<body>
    <h1>Schools in Milejów-Osada</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W MILEJOWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W MILEJOWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W MILEJOWIE</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE</li>
        <li>SZKOŁA PODSTAWOWA IM. ST.KONARSKIEGO W MILEJOWIE</li>
        <li>SZKOŁA POLICEALNA W MILEJOWIE</li>
        <li>TECHNIKUM W MILEJOWIE</li>
        <li>ZESPÓŁ SZKÓŁ NR 2 IM. SIMONA BOLIVARA W MILEJOWIE</li>

    </ul>
    <a href="LUBELSKIE.html">Back to Cities in LUBELSKIE</a>
</body>
</html>
