
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Urzędów</title>
</head>
<body>
    <h1>Schools in Urzędów</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W URZĘDOWIE</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO W URZĘDOWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W URZĘDOWIE</li>
        <li>PRZEDSZKOLE PUBLICZNE W URZĘDOWIE</li>
        <li>SZKOŁA PODSTAWOWA DLA DOROSŁYCH W URZĘDOWIE</li>
        <li>SZKOŁA POLICEALNA W URZĘDOWIE</li>
        <li>TECHNIKUM W URZĘDOWIE</li>
        <li>ZESPÓŁ SZKÓŁ - CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO IM. ORLĄT LWOWSKICH W URZĘDOWIE</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH IM. WŁADYSŁAWA JAGIEŁŁY LICEUM OGÓLNOKSZTAŁCĄCE W URZĘDOWIE</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH IM. WŁADYSŁAWA JAGIEŁŁY SZKOŁA PODSTAWOWA W URZĘDOWIE</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH IM. WŁADYSŁAWA JAGIEŁŁY W URZĘDOWIE</li>

    </ul>
    <a href="LUBELSKIE.html">Back to Cities in LUBELSKIE</a>
</body>
</html>
