
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Tyszowce</title>
</head>
<body>
    <h1>Schools in Tyszowce</h1>
    <ul>
        <li>PRZEDSZKOLE SAMORZĄDOWE W TYSZOWCACH</li>
        <li>SZKOŁA PODSTAWOWA IM. JANA KILIŃSKIEGO W TYSZOWCACH</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W TYSZOWCACH</li>

    </ul>
    <a href="LUBELSKIE.html">Back to Cities in LUBELSKIE</a>
</body>
</html>
