
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Zaburze</title>
</head>
<body>
    <h1>Schools in Zaburze</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W ŻÓŁKIEWCE</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA IM. JANA PAWŁA II W ZABURZU</li>
        <li>SZKOŁA POLICEALNA</li>
        <li>TECHNIKUM W ŻÓŁKIEWCE</li>

    </ul>
    <a href="LUBELSKIE.html">Back to Cities in LUBELSKIE</a>
</body>
</html>
