
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Komarówka Podlaska</title>
</head>
<body>
    <h1>Schools in Komarówka Podlaska</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. ZIEMI PODLASKIEJ</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE</li>
        <li>SZKOŁA PODSTAWOWA IM. BOHATERÓW LOTNICTWA POLSKIEGO</li>
        <li>TECHNIKUM</li>
        <li>ZESPÓŁ SZKÓŁ SAMORZĄDOWYCH</li>

    </ul>
    <a href="LUBELSKIE.html">Back to Cities in LUBELSKIE</a>
</body>
</html>
