
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Klementowice</title>
</head>
<body>
    <h1>Schools in Klementowice</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W ZESPOLE SZKÓŁ AGROBIZNESU IM.MACIEJA RATAJA W KLEMENTOWICACH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W ZESPOLE SZKÓL AGROBIZNESU IM. MACIEJA RATAJA W KLEMENTOWICACH</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA W ZESPOLE SZKÓŁ AGROBIZNESU IM. MACIEJA RATAJA W KLEMENTOWICACH</li>
        <li>SZKOŁA POLICEALNA W ZESPOLE SZKÓŁ AGROBIZNESU IM.MACIEJA RATAJA W KLEMENTOWICACH</li>
        <li>TECHNIKUM W ZESPOLE SZKÓŁ AGROBIZNESU IM.MACIEJA RATAJA W KLEMENTOWICACH</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH W KLEMENTOWICACH</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH W KLEMENTOWICACH GMINNE PRZEDSZKOLE</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH W KLEMENTOWICACH SZKOŁA PODSTAWOWA</li>
        <li>ZESPÓŁ SZKÓŁ AGROBIZNESU IM.MACIEJA RATAJA W KLEMENTOWICACH</li>

    </ul>
    <a href="LUBELSKIE.html">Back to Cities in LUBELSKIE</a>
</body>
</html>
