
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Kurów</title>
</head>
<body>
    <h1>Schools in Kurów</h1>
    <ul>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY – GMINNE PRZEDSZKOLE NR 1 IM. CZ. JANCZARSKIEGOW KUROWIE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY – SZKOŁA PODSTAWOWA IM.GRZEGORZA PIRAMOWICZA</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W KUROWIE</li>

    </ul>
    <a href="LUBELSKIE.html">Back to Cities in LUBELSKIE</a>
</body>
</html>
