
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Krasnystaw</title>
</head>
<body>
    <h1>Schools in Krasnystaw</h1>
    <ul>
        <li>AKCENT-OŚRODEK KSZTAŁCENIA</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 1 W ZESPOLE SZKÓŁ NR 1 W KRASNYMSTAWIE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 2 W KRASNYSTAW</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA SPECJALNA NR 3</li>
        <li>CZTEROLETNIE ZAOCZNE LICEUM OGÓLNOKSZTAŁCACE STOWARZYSZENIA SZANSA W KRASNYMSTAWIE</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE IM.WŁADYSŁAWA JAGIEŁŁY W KRASNYMSTAWIE</li>
        <li>II LICEUM OGÓLNOKSZTAŁCACE IM.C.K.NORWIDA W KRASNYMSTAWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>MŁODZIEŻOWY DOM KULTURY IM. M. KONOPNICKIEJ W KRASNYMSTAWIE</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA CENTRUM KROK PO KROKU</li>
        <li>NIEPUBLICZNA SPECJALISTYCZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA TWP</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE SPECJALNE DLA DZIECI NIEPEŁNOSPRAWNYCH, UL. KWIATOWA 2, 22-300 KRASNYSTAW</li>
        <li>ODDZIAŁ PRZEDSZKOLNY PRZY PUBLICZNEJ SZKOLE PODSTAWOWEJ NR 5 IM. ORLĄT LWOWSKICH W KRASNYMSTAWIE</li>
        <li>OŚRODEK SZKOLENIOWY AGENCJA ROZWOJU LOKALNEGO SP. Z O.O.</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I I II STOPNIA IM. WITOLDA LUTOSŁAWSKIEGO W KRASNYMSTAWIE</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I ST. W KRASNYMSTAWIE</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA II ST. W KRASNYMSTAWIE</li>
        <li>PERFEKT CENTRUM NAUKI JĘZYKA ANGIELSKIEGO</li>
        <li>POLICEALNA SZKOŁA STOWARZYSZENIA SZANSA W KRASNYMSTAWIE</li>
        <li>PORADNIA PSYCHOLOGICZNO PEDAGOGICZNA W KRASNYMSTAWIE</li>
        <li>PRYWATNE LICEUM OGÓLNOKSZTAŁCĄCE IM.HETMANA JANA ZAMOYSKIEGO W KRASNYMSTAWIE</li>
        <li>PRZEDSZKOLE NR 1 IM. SŁONECZNA JEDYNECZKA W KRASNYMSTAWIE</li>
        <li>PRZEDSZKOLE NR 3</li>
        <li>PRZEDSZKOLE NR 4 IM. KUBUSIA PUCHATKA W KRASNYMSTAWIE</li>
        <li>PRZEDSZKOLE NR 5 IM. BAJECZKA W KRASNYMSTAWIE</li>
        <li>PRZEDSZKOLE NR 6 "ZA ŻYWOPŁOTEM" IM. MARII KOWNACKIEJ W KRASNYMSTAWIE,</li>
        <li>PRZEDSZKOLE NR 8 IM. TEATRALNA ÓSEMKA W KRASNYMSTAWIE</li>
        <li>PRZEDSZKOLE SPECJALNE NR 2</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 1 IM. ADAMA MICKIEWICZA W KRASNYMSTAWIE</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 4 IM. JANA PAWŁA II W KRASNYMSTAWIE</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 5 IM. ORLĄT LWOWSKICH W KRASNYMSTAWIE</li>
        <li>PUBLICZNE CENTRUM KSZTAŁCENIA ZAWODOWEGO</li>
        <li>SPECJALNY OŚRODEK SZKOLNO WYCHOWAWCZY IM.J.DOROSZEWSKIEJ W KRASNYMSTAWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 3</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY</li>
        <li>TECHNIKUM NR 1 W ZESPOLE SZKÓŁ NR 1 IM.T.KOSCIUSZKI W KRASNYMSTAWIE</li>
        <li>TECHNIKUM NR 2</li>
        <li>ZESPÓŁ NR 3 PRZEDSZKOLA I SZKOŁY PODSTAWOWEJ W KRASNYMSTAWIE</li>
        <li>ZESPÓŁ SZKÓŁ NR 1 IM. T. KOŚCIUSZKI W KRASNYMSTAWIE</li>
        <li>ZESPÓŁ SZKÓŁ NR 2 IM. B. GŁOWACKIEGO W KRASNYMSTAWIE</li>

    </ul>
    <a href="LUBELSKIE.html">Back to Cities in LUBELSKIE</a>
</body>
</html>
