
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Kałków</title>
</head>
<body>
    <h1>Schools in Kałków</h1>
    <ul>
        <li>PUBLICZNE PRZEDSZKOLE W KAŁKOWIE</li>
        <li>SZKOŁA PODSTAWOWA IM. BOHATERÓW POWSTAŃ ŚLĄSKICH W KAŁKOWIE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY,SZKOŁA PODSTAWOWA, PUBLICZNE PRZEDSZKOLE W KAŁKOWIE</li>

    </ul>
    <a href="OPOLSKIE.html">Back to Cities in OPOLSKIE</a>
</body>
</html>
