
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Sowczyce</title>
</head>
<body>
    <h1>Schools in Sowczyce</h1>
    <ul>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA IM. JANUSZA KORCZAKA W SOWCZYCACH</li>
        <li>PUBLICZNE PRZEDSZKOLE W SOWCZYCACH</li>
        <li>ZESPÓŁ SZKOLNO - PRZEDSZKOLNY W SOWCZYCACH</li>

    </ul>
    <a href="OPOLSKIE.html">Back to Cities in OPOLSKIE</a>
</body>
</html>
