
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Olesno</title>
</head>
<body>
    <h1>Schools in Olesno</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA IM. JÓZEFA LOMPY W OLEŚNIE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA W OLEŚNIE</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA W OLEŚNIE</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO NR 1 W ZESPOLE SZKÓŁ ZAWODOWYCH W OLEŚNIE</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO NR 2 W ZESPOLE SZKÓŁ EKONOMICZNYCH I OGÓLNOKSZTAŁCĄCYCH IM. MIKOŁAJA KOPERNIKA W OLEŚNIE</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE IM. LOTNIKÓW POLSKICH</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE W OLEŚNIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH IM. JÓZEFA LOMPY W OLEŚNIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W OLEŚNIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W OLEŚNIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "STUMILOWY LAS"</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I ST. W OLEŚNIE</li>
        <li>PUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W OLEŚNIE</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 1 IM. TADEUSZA KOŚCIUSZKI</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 2 Z ODDZIAŁAMI DWUJĘZYCZNYMI IM. KSIĘŻNEJ JADWIGI ŚLĄSKIEJ W OLEŚNIE</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 3 IM. POWSTAŃCÓW ŚLĄSKICH W OLEŚNIE</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 3 Z ODDZIAŁEM INTEGRACYJNYM W OLEŚNIE BAJKOWA TRÓJECZKA</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 4 W OLEŚNIE</li>
        <li>SZKOŁA POLICEALNA DLA DOROSŁYCH</li>
        <li>SZKOŁA POLICEALNA W OLEŚNIE</li>
        <li>TECHNIKUM NR 1 IM. JÓZEFA LOMPY W OLEŚNIE</li>
        <li>TECHNIKUM NR 2 W OLEŚNIE</li>
        <li>ZESPÓŁ PRZEDSZKOLI NR 1 W OLEŚNIE</li>
        <li>ZESPÓŁ SZKÓŁ EKONOMICZNYCH I OGÓLNOKSZTAŁCĄCYCH IM. MIKOŁAJA KOPERNIKA W OLEŚNIE</li>
        <li>ZESPÓŁ SZKÓŁ W OLEŚNIE</li>
        <li>ZESPÓŁ SZKÓŁ ZAWODOWYCH IM. JÓZEFA LOMPY W OLEŚNIE</li>

    </ul>
    <a href="OPOLSKIE.html">Back to Cities in OPOLSKIE</a>
</body>
</html>
