
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Strzelce Opolskie</title>
</head>
<body>
    <h1>Schools in Strzelce Opolskie</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W STRZELCACH OPOLSKICH</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO W STRZELCACH OPOLSKICH</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO W STRZELCACH OPOLSKICH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W STRZELCACH OPOLSKICH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI DWUJĘZYCZNYMI IM. WŁADYSŁAWA BRONIEWSKIEGO W STRZELCACH OPOLSKICH</li>
        <li>NIEPUBLICZNA BRANŻOWA SZKOŁA I STOPNIA W STRZELCACH OPOLSKICH</li>
        <li>NIEPUBLICZNA BRANŻOWA SZKOŁA II STOPNIA W STRZELCACH OPOLSKICH</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA SPECJALNA W STRZELCACH OPOLSKICH</li>
        <li>NIEPUBLICZNA SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W STRZELCACH OPOLSKICH</li>
        <li>OŚRODEK PROMOCJI BEZPIECZEŃSTWA PROMOTOR</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I ST. W STRZELCACH OPOLSKICH</li>
        <li>POLICEALNA SZKOŁA MEDYCZNA EPSILON W STRZELCACH OPOLSKICH</li>
        <li>PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA W STRZELCACH OPOLSKICH</li>
        <li>PRZEDSIĘBIORSTWO SZKOLENIOWO-USŁUGOWE "POLIFACH" SP. Z O.O.</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "PUCHATEK"</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 10 W STRZELCACH OPOLSKICH</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 4 W STRZELCACH OPOLSKICH</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 5 W STRZELCACH OPOLSKICH</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 8 W STRZELCACH OPOLSKICH</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 9 W STRZELCACH OPOLSKICH</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 1 W STRZELCACH OPOLSKICH</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 4 W STRZELCACH OPOLSKICH</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 7 W STRZELCACH OPOLSKICH</li>
        <li>PUNKT PRZEDSZKOLNY W NIEPUBLICZNEJ SZKOLE PODSTAWOWEJ SPECJALNEJ</li>
        <li>TECHNIKUM W STRZELCACH OPOLSKICH</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH "ÓSEMKA" W STRZELCACH OPOLSKICH</li>

    </ul>
    <a href="OPOLSKIE.html">Back to Cities in OPOLSKIE</a>
</body>
</html>
