<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <title>
   Fekti
  </title>
  <link href="{{ url_for('static', filename='cities.css') }}" rel="stylesheet"/>
  <script>
    function searchUL() {
             // Get input value
             let input = document.getElementById('searchInput');
             let filter = input.value.toUpperCase();
 
             // Get all UL elements
             let uls = document.getElementsByTagName('ul');
             for (let i = 0; i < uls.length; i++) {
                 let ul = uls[i];
                 let li = ul.getElementsByTagName('li');
                 for (let j = 0; j < li.length; j++) {
                     if (li[j].getAttribute('data-attribute').toUpperCase().indexOf(filter) > -1) {
                         li[j].style.display = "";
                     } else {
                         li[j].style.display = "none";
                     }
                 }
             }
         }
   </script>
 </head>
</html>
<body>
 <div class="description">
  <h5>
   Select a City in OPOLSKIE
  </h5>
  <h4>
   <br/>
   <br <br=""/>
   <input id="searchInput" onkeyup="searchUL()" placeholder="Search for cities..." type="text"/>
   <ul>
    <li data-attribute="Opole" href="">
     <a href="OPOLSKIE_Opole.html">
      Opole
     </a>
    </li>
    <li data-attribute="Kluczbork" href="">
     <a href="OPOLSKIE_Kluczbork.html">
      Kluczbork
     </a>
    </li>
    <li data-attribute="Żędowice" href="">
     <a href="OPOLSKIE_Żędowice.html">
      Żędowice
     </a>
    </li>
    <li data-attribute="Niemodlin" href="">
     <a href="OPOLSKIE_Niemodlin.html">
      Niemodlin
     </a>
    </li>
    <li data-attribute="Kietrz" href="">
     <a href="OPOLSKIE_Kietrz.html">
      Kietrz
     </a>
    </li>
    <li data-attribute="Byczyna" href="">
     <a href="OPOLSKIE_Byczyna.html">
      Byczyna
     </a>
    </li>
    <li data-attribute="Głubczyce" href="">
     <a href="OPOLSKIE_Głubczyce.html">
      Głubczyce
     </a>
    </li>
    <li data-attribute="Grodków" href="">
     <a href="OPOLSKIE_Grodków.html">
      Grodków
     </a>
    </li>
    <li data-attribute="Olesno" href="">
     <a href="OPOLSKIE_Olesno.html">
      Olesno
     </a>
    </li>
    <li data-attribute="Dobrodzień" href="">
     <a href="OPOLSKIE_Dobrodzień.html">
      Dobrodzień
     </a>
    </li>
    <li data-attribute="Kędzierzyn-Koźle" href="">
     <a href="OPOLSKIE_Kędzierzyn-Koźle.html">
      Kędzierzyn-Koźle
     </a>
    </li>
    <li data-attribute="Brzeg" href="">
     <a href="OPOLSKIE_Brzeg.html">
      Brzeg
     </a>
    </li>
    <li data-attribute="Nysa" href="">
     <a href="OPOLSKIE_Nysa.html">
      Nysa
     </a>
    </li>
    <li data-attribute="Prudnik" href="">
     <a href="OPOLSKIE_Prudnik.html">
      Prudnik
     </a>
    </li>
    <li data-attribute="Namysłów" href="">
     <a href="OPOLSKIE_Namysłów.html">
      Namysłów
     </a>
    </li>
    <li data-attribute="Bogdańczowice" href="">
     <a href="OPOLSKIE_Bogdańczowice.html">
      Bogdańczowice
     </a>
    </li>
    <li data-attribute="Dobrzeń Wielki" href="">
     <a href="OPOLSKIE_Dobrzeń Wielki.html">
      Dobrzeń Wielki
     </a>
    </li>
    <li data-attribute="Głogówek" href="">
     <a href="OPOLSKIE_Głogówek.html">
      Głogówek
     </a>
    </li>
    <li data-attribute="Głuchołazy" href="">
     <a href="OPOLSKIE_Głuchołazy.html">
      Głuchołazy
     </a>
    </li>
    <li data-attribute="Gorzów Śląski" href="">
     <a href="OPOLSKIE_Gorzów Śląski.html">
      Gorzów Śląski
     </a>
    </li>
    <li data-attribute="Krapkowice" href="">
     <a href="OPOLSKIE_Krapkowice.html">
      Krapkowice
     </a>
    </li>
    <li data-attribute="Otmuchów" href="">
     <a href="OPOLSKIE_Otmuchów.html">
      Otmuchów
     </a>
    </li>
    <li data-attribute="Paczków" href="">
     <a href="OPOLSKIE_Paczków.html">
      Paczków
     </a>
    </li>
    <li data-attribute="Praszka" href="">
     <a href="OPOLSKIE_Praszka.html">
      Praszka
     </a>
    </li>
    <li data-attribute="Strzelce Opolskie" href="">
     <a href="OPOLSKIE_Strzelce Opolskie.html">
      Strzelce Opolskie
     </a>
    </li>
    <li data-attribute="Zawadzkie" href="">
     <a href="OPOLSKIE_Zawadzkie.html">
      Zawadzkie
     </a>
    </li>
    <li data-attribute="Zdzieszowice" href="">
     <a href="OPOLSKIE_Zdzieszowice.html">
      Zdzieszowice
     </a>
    </li>
    <li data-attribute="Charbielin" href="">
     <a href="OPOLSKIE_Charbielin.html">
      Charbielin
     </a>
    </li>
    <li data-attribute="Ozimek" href="">
     <a href="OPOLSKIE_Ozimek.html">
      Ozimek
     </a>
    </li>
    <li data-attribute="Leśnica" href="">
     <a href="OPOLSKIE_Leśnica.html">
      Leśnica
     </a>
    </li>
    <li data-attribute="Pogorzela" href="">
     <a href="OPOLSKIE_Pogorzela.html">
      Pogorzela
     </a>
    </li>
    <li data-attribute="Rosochy" href="">
     <a href="OPOLSKIE_Rosochy.html">
      Rosochy
     </a>
    </li>
    <li data-attribute="Ligota Zamecka" href="">
     <a href="OPOLSKIE_Ligota Zamecka.html">
      Ligota Zamecka
     </a>
    </li>
    <li data-attribute="Bielice" href="">
     <a href="OPOLSKIE_Bielice.html">
      Bielice
     </a>
    </li>
    <li data-attribute="Łosiów" href="">
     <a href="OPOLSKIE_Łosiów.html">
      Łosiów
     </a>
    </li>
    <li data-attribute="Sieroniowice" href="">
     <a href="OPOLSKIE_Sieroniowice.html">
      Sieroniowice
     </a>
    </li>
    <li data-attribute="Zimna Wódka" href="">
     <a href="OPOLSKIE_Zimna Wódka.html">
      Zimna Wódka
     </a>
    </li>
    <li data-attribute="Skarbimierz-Osiedle" href="">
     <a href="OPOLSKIE_Skarbimierz-Osiedle.html">
      Skarbimierz-Osiedle
     </a>
    </li>
    <li data-attribute="Łany" href="">
     <a href="OPOLSKIE_Łany.html">
      Łany
     </a>
    </li>
    <li data-attribute="Lubrza" href="">
     <a href="OPOLSKIE_Lubrza.html">
      Lubrza
     </a>
    </li>
    <li data-attribute="Cisek" href="">
     <a href="OPOLSKIE_Cisek.html">
      Cisek
     </a>
    </li>
    <li data-attribute="Biadacz" href="">
     <a href="OPOLSKIE_Biadacz.html">
      Biadacz
     </a>
    </li>
    <li data-attribute="Jemielnica" href="">
     <a href="OPOLSKIE_Jemielnica.html">
      Jemielnica
     </a>
    </li>
    <li data-attribute="Chróścice" href="">
     <a href="OPOLSKIE_Chróścice.html">
      Chróścice
     </a>
    </li>
    <li data-attribute="Chrząstowice" href="">
     <a href="OPOLSKIE_Chrząstowice.html">
      Chrząstowice
     </a>
    </li>
    <li data-attribute="Branice" href="">
     <a href="OPOLSKIE_Branice.html">
      Branice
     </a>
    </li>
    <li data-attribute="Julianpol" href="">
     <a href="OPOLSKIE_Julianpol.html">
      Julianpol
     </a>
    </li>
    <li data-attribute="Mechnice" href="">
     <a href="OPOLSKIE_Mechnice.html">
      Mechnice
     </a>
    </li>
    <li data-attribute="Kup" href="">
     <a href="OPOLSKIE_Kup.html">
      Kup
     </a>
    </li>
    <li data-attribute="Stobrawa" href="">
     <a href="OPOLSKIE_Stobrawa.html">
      Stobrawa
     </a>
    </li>
    <li data-attribute="Mańkowice" href="">
     <a href="OPOLSKIE_Mańkowice.html">
      Mańkowice
     </a>
    </li>
    <li data-attribute="Bzinica Stara" href="">
     <a href="OPOLSKIE_Bzinica Stara.html">
      Bzinica Stara
     </a>
    </li>
    <li data-attribute="Dytmarów" href="">
     <a href="OPOLSKIE_Dytmarów.html">
      Dytmarów
     </a>
    </li>
    <li data-attribute="Dziewiętlice" href="">
     <a href="OPOLSKIE_Dziewiętlice.html">
      Dziewiętlice
     </a>
    </li>
    <li data-attribute="Grabina" href="">
     <a href="OPOLSKIE_Grabina.html">
      Grabina
     </a>
    </li>
    <li data-attribute="Grodzisko" href="">
     <a href="OPOLSKIE_Grodzisko.html">
      Grodzisko
     </a>
    </li>
    <li data-attribute="Przechód" href="">
     <a href="OPOLSKIE_Przechód.html">
      Przechód
     </a>
    </li>
    <li data-attribute="Stare Siołkowice" href="">
     <a href="OPOLSKIE_Stare Siołkowice.html">
      Stare Siołkowice
     </a>
    </li>
    <li data-attribute="Schodnia" href="">
     <a href="OPOLSKIE_Schodnia.html">
      Schodnia
     </a>
    </li>
    <li data-attribute="Rzędów" href="">
     <a href="OPOLSKIE_Rzędów.html">
      Rzędów
     </a>
    </li>
    <li data-attribute="Kępa" href="">
     <a href="OPOLSKIE_Kępa.html">
      Kępa
     </a>
    </li>
    <li data-attribute="Prószków" href="">
     <a href="OPOLSKIE_Prószków.html">
      Prószków
     </a>
    </li>
    <li data-attribute="Jełowa" href="">
     <a href="OPOLSKIE_Jełowa.html">
      Jełowa
     </a>
    </li>
    <li data-attribute="Brzezina" href="">
     <a href="OPOLSKIE_Brzezina.html">
      Brzezina
     </a>
    </li>
    <li data-attribute="Suchy Bór" href="">
     <a href="OPOLSKIE_Suchy Bór.html">
      Suchy Bór
     </a>
    </li>
    <li data-attribute="Dobrzeń Mały" href="">
     <a href="OPOLSKIE_Dobrzeń Mały.html">
      Dobrzeń Mały
     </a>
    </li>
    <li data-attribute="Włodary" href="">
     <a href="OPOLSKIE_Włodary.html">
      Włodary
     </a>
    </li>
    <li data-attribute="Sowin" href="">
     <a href="OPOLSKIE_Sowin.html">
      Sowin
     </a>
    </li>
    <li data-attribute="Ściborzyce Wielkie" href="">
     <a href="OPOLSKIE_Ściborzyce Wielkie.html">
      Ściborzyce Wielkie
     </a>
    </li>
    <li data-attribute="Dzierżysław" href="">
     <a href="OPOLSKIE_Dzierżysław.html">
      Dzierżysław
     </a>
    </li>
    <li data-attribute="Pilszcz" href="">
     <a href="OPOLSKIE_Pilszcz.html">
      Pilszcz
     </a>
    </li>
    <li data-attribute="Nasiedle" href="">
     <a href="OPOLSKIE_Nasiedle.html">
      Nasiedle
     </a>
    </li>
    <li data-attribute="Gotartów" href="">
     <a href="OPOLSKIE_Gotartów.html">
      Gotartów
     </a>
    </li>
    <li data-attribute="Luboszyce" href="">
     <a href="OPOLSKIE_Luboszyce.html">
      Luboszyce
     </a>
    </li>
    <li data-attribute="Izbicko" href="">
     <a href="OPOLSKIE_Izbicko.html">
      Izbicko
     </a>
    </li>
    <li data-attribute="Biała Nyska" href="">
     <a href="OPOLSKIE_Biała Nyska.html">
      Biała Nyska
     </a>
    </li>
    <li data-attribute="Błachów" href="">
     <a href="OPOLSKIE_Błachów.html">
      Błachów
     </a>
    </li>
    <li data-attribute="Kolonowskie" href="">
     <a href="OPOLSKIE_Kolonowskie.html">
      Kolonowskie
     </a>
    </li>
    <li data-attribute="Lewin Brzeski" href="">
     <a href="OPOLSKIE_Lewin Brzeski.html">
      Lewin Brzeski
     </a>
    </li>
    <li data-attribute="Dylaki" href="">
     <a href="OPOLSKIE_Dylaki.html">
      Dylaki
     </a>
    </li>
    <li data-attribute="Krasiejów" href="">
     <a href="OPOLSKIE_Krasiejów.html">
      Krasiejów
     </a>
    </li>
    <li data-attribute="Szczedrzyk" href="">
     <a href="OPOLSKIE_Szczedrzyk.html">
      Szczedrzyk
     </a>
    </li>
    <li data-attribute="Błotnica Strzelecka" href="">
     <a href="OPOLSKIE_Błotnica Strzelecka.html">
      Błotnica Strzelecka
     </a>
    </li>
    <li data-attribute="Boguszyce" href="">
     <a href="OPOLSKIE_Boguszyce.html">
      Boguszyce
     </a>
    </li>
    <li data-attribute="Dziewkowice" href="">
     <a href="OPOLSKIE_Dziewkowice.html">
      Dziewkowice
     </a>
    </li>
    <li data-attribute="Górki" href="">
     <a href="OPOLSKIE_Górki.html">
      Górki
     </a>
    </li>
    <li data-attribute="Gościce" href="">
     <a href="OPOLSKIE_Gościce.html">
      Gościce
     </a>
    </li>
    <li data-attribute="Grodziec" href="">
     <a href="OPOLSKIE_Grodziec.html">
      Grodziec
     </a>
    </li>
    <li data-attribute="Kadłub" href="">
     <a href="OPOLSKIE_Kadłub.html">
      Kadłub
     </a>
    </li>
    <li data-attribute="Kalinowice" href="">
     <a href="OPOLSKIE_Kalinowice.html">
      Kalinowice
     </a>
    </li>
    <li data-attribute="Karłowice" href="">
     <a href="OPOLSKIE_Karłowice.html">
      Karłowice
     </a>
    </li>
    <li data-attribute="Kielcza" href="">
     <a href="OPOLSKIE_Kielcza.html">
      Kielcza
     </a>
    </li>
    <li data-attribute="Komprachcice" href="">
     <a href="OPOLSKIE_Komprachcice.html">
      Komprachcice
     </a>
    </li>
    <li data-attribute="Kopice" href="">
     <a href="OPOLSKIE_Kopice.html">
      Kopice
     </a>
    </li>
    <li data-attribute="Kościerzyce" href="">
     <a href="OPOLSKIE_Kościerzyce.html">
      Kościerzyce
     </a>
    </li>
    <li data-attribute="Kosorowice" href="">
     <a href="OPOLSKIE_Kosorowice.html">
      Kosorowice
     </a>
    </li>
    <li data-attribute="Kozłowice" href="">
     <a href="OPOLSKIE_Kozłowice.html">
      Kozłowice
     </a>
    </li>
    <li data-attribute="Ligota Prószkowska" href="">
     <a href="OPOLSKIE_Ligota Prószkowska.html">
      Ligota Prószkowska
     </a>
    </li>
    <li data-attribute="Mechnica" href="">
     <a href="OPOLSKIE_Mechnica.html">
      Mechnica
     </a>
    </li>
    <li data-attribute="Murów" href="">
     <a href="OPOLSKIE_Murów.html">
      Murów
     </a>
    </li>
    <li data-attribute="Ochodze" href="">
     <a href="OPOLSKIE_Ochodze.html">
      Ochodze
     </a>
    </li>
    <li data-attribute="Osiek" href="">
     <a href="OPOLSKIE_Osiek.html">
      Osiek
     </a>
    </li>
    <li data-attribute="Polska Nowa Wieś" href="">
     <a href="OPOLSKIE_Polska Nowa Wieś.html">
      Polska Nowa Wieś
     </a>
    </li>
    <li data-attribute="Popielów" href="">
     <a href="OPOLSKIE_Popielów.html">
      Popielów
     </a>
    </li>
    <li data-attribute="Przecza" href="">
     <a href="OPOLSKIE_Przecza.html">
      Przecza
     </a>
    </li>
    <li data-attribute="Przywory" href="">
     <a href="OPOLSKIE_Przywory.html">
      Przywory
     </a>
    </li>
    <li data-attribute="Racławice Śląskie" href="">
     <a href="OPOLSKIE_Racławice Śląskie.html">
      Racławice Śląskie
     </a>
    </li>
    <li data-attribute="Rozmierka" href="">
     <a href="OPOLSKIE_Rozmierka.html">
      Rozmierka
     </a>
    </li>
    <li data-attribute="Skorogoszcz" href="">
     <a href="OPOLSKIE_Skorogoszcz.html">
      Skorogoszcz
     </a>
    </li>
    <li data-attribute="Staniszcze Wielkie" href="">
     <a href="OPOLSKIE_Staniszcze Wielkie.html">
      Staniszcze Wielkie
     </a>
    </li>
    <li data-attribute="Stare Budkowice" href="">
     <a href="OPOLSKIE_Stare Budkowice.html">
      Stare Budkowice
     </a>
    </li>
    <li data-attribute="Stary Paczków" href="">
     <a href="OPOLSKIE_Stary Paczków.html">
      Stary Paczków
     </a>
    </li>
    <li data-attribute="Sucha" href="">
     <a href="OPOLSKIE_Sucha.html">
      Sucha
     </a>
    </li>
    <li data-attribute="Trzeboszowice" href="">
     <a href="OPOLSKIE_Trzeboszowice.html">
      Trzeboszowice
     </a>
    </li>
    <li data-attribute="Tułowice" href="">
     <a href="OPOLSKIE_Tułowice.html">
      Tułowice
     </a>
    </li>
    <li data-attribute="Ujeździec" href="">
     <a href="OPOLSKIE_Ujeździec.html">
      Ujeździec
     </a>
    </li>
    <li data-attribute="Unikowice" href="">
     <a href="OPOLSKIE_Unikowice.html">
      Unikowice
     </a>
    </li>
    <li data-attribute="Warmątowice" href="">
     <a href="OPOLSKIE_Warmątowice.html">
      Warmątowice
     </a>
    </li>
    <li data-attribute="Wierzbnik" href="">
     <a href="OPOLSKIE_Wierzbnik.html">
      Wierzbnik
     </a>
    </li>
    <li data-attribute="Wołczyn" href="">
     <a href="OPOLSKIE_Wołczyn.html">
      Wołczyn
     </a>
    </li>
    <li data-attribute="Zdziechowice" href="">
     <a href="OPOLSKIE_Zdziechowice.html">
      Zdziechowice
     </a>
    </li>
    <li data-attribute="Zimnice Wielkie" href="">
     <a href="OPOLSKIE_Zimnice Wielkie.html">
      Zimnice Wielkie
     </a>
    </li>
    <li data-attribute="Złotniki" href="">
     <a href="OPOLSKIE_Złotniki.html">
      Złotniki
     </a>
    </li>
    <li data-attribute="Żywocice" href="">
     <a href="OPOLSKIE_Żywocice.html">
      Żywocice
     </a>
    </li>
    <li data-attribute="Tarnów Opolski" href="">
     <a href="OPOLSKIE_Tarnów Opolski.html">
      Tarnów Opolski
     </a>
    </li>
    <li data-attribute="Nowaki" href="">
     <a href="OPOLSKIE_Nowaki.html">
      Nowaki
     </a>
    </li>
    <li data-attribute="Bukowa Śląska" href="">
     <a href="OPOLSKIE_Bukowa Śląska.html">
      Bukowa Śląska
     </a>
    </li>
    <li data-attribute="Dziergowice" href="">
     <a href="OPOLSKIE_Dziergowice.html">
      Dziergowice
     </a>
    </li>
    <li data-attribute="Gałązczyce" href="">
     <a href="OPOLSKIE_Gałązczyce.html">
      Gałązczyce
     </a>
    </li>
    <li data-attribute="Głuszyna" href="">
     <a href="OPOLSKIE_Głuszyna.html">
      Głuszyna
     </a>
    </li>
    <li data-attribute="Goświnowice" href="">
     <a href="OPOLSKIE_Goświnowice.html">
      Goświnowice
     </a>
    </li>
    <li data-attribute="Jastrzębie" href="">
     <a href="OPOLSKIE_Jastrzębie.html">
      Jastrzębie
     </a>
    </li>
    <li data-attribute="Koperniki" href="">
     <a href="OPOLSKIE_Koperniki.html">
      Koperniki
     </a>
    </li>
    <li data-attribute="Krośnica" href="">
     <a href="OPOLSKIE_Krośnica.html">
      Krośnica
     </a>
    </li>
    <li data-attribute="Ligota Książęca" href="">
     <a href="OPOLSKIE_Ligota Książęca.html">
      Ligota Książęca
     </a>
    </li>
    <li data-attribute="Lipowa" href="">
     <a href="OPOLSKIE_Lipowa.html">
      Lipowa
     </a>
    </li>
    <li data-attribute="Niwnica" href="">
     <a href="OPOLSKIE_Niwnica.html">
      Niwnica
     </a>
    </li>
    <li data-attribute="Kamionek" href="">
     <a href="OPOLSKIE_Kamionek.html">
      Kamionek
     </a>
    </li>
    <li data-attribute="Otmice" href="">
     <a href="OPOLSKIE_Otmice.html">
      Otmice
     </a>
    </li>
    <li data-attribute="Przełęk" href="">
     <a href="OPOLSKIE_Przełęk.html">
      Przełęk
     </a>
    </li>
    <li data-attribute="Rzymkowice" href="">
     <a href="OPOLSKIE_Rzymkowice.html">
      Rzymkowice
     </a>
    </li>
    <li data-attribute="Smarchowice Wielkie" href="">
     <a href="OPOLSKIE_Smarchowice Wielkie.html">
      Smarchowice Wielkie
     </a>
    </li>
    <li data-attribute="Świerczów" href="">
     <a href="OPOLSKIE_Świerczów.html">
      Świerczów
     </a>
    </li>
    <li data-attribute="Gościęcin" href="">
     <a href="OPOLSKIE_Gościęcin.html">
      Gościęcin
     </a>
    </li>
    <li data-attribute="Klisino" href="">
     <a href="OPOLSKIE_Klisino.html">
      Klisino
     </a>
    </li>
    <li data-attribute="Grobniki" href="">
     <a href="OPOLSKIE_Grobniki.html">
      Grobniki
     </a>
    </li>
    <li data-attribute="Rudniki" href="">
     <a href="OPOLSKIE_Rudniki.html">
      Rudniki
     </a>
    </li>
    <li data-attribute="Czepielowice" href="">
     <a href="OPOLSKIE_Czepielowice.html">
      Czepielowice
     </a>
    </li>
    <li data-attribute="Kostów" href="">
     <a href="OPOLSKIE_Kostów.html">
      Kostów
     </a>
    </li>
    <li data-attribute="Łambinowice" href="">
     <a href="OPOLSKIE_Łambinowice.html">
      Łambinowice
     </a>
    </li>
    <li data-attribute="Jędrzejów" href="">
     <a href="OPOLSKIE_Jędrzejów.html">
      Jędrzejów
     </a>
    </li>
    <li data-attribute="Łącznik" href="">
     <a href="OPOLSKIE_Łącznik.html">
      Łącznik
     </a>
    </li>
    <li data-attribute="Pogórze" href="">
     <a href="OPOLSKIE_Pogórze.html">
      Pogórze
     </a>
    </li>
    <li data-attribute="Chróścina" href="">
     <a href="OPOLSKIE_Chróścina.html">
      Chróścina
     </a>
    </li>
    <li data-attribute="Gnojna" href="">
     <a href="OPOLSKIE_Gnojna.html">
      Gnojna
     </a>
    </li>
    <li data-attribute="Walce" href="">
     <a href="OPOLSKIE_Walce.html">
      Walce
     </a>
    </li>
    <li data-attribute="Dalachów" href="">
     <a href="OPOLSKIE_Dalachów.html">
      Dalachów
     </a>
    </li>
    <li data-attribute="Dobrzyń" href="">
     <a href="OPOLSKIE_Dobrzyń.html">
      Dobrzyń
     </a>
    </li>
    <li data-attribute="Lubsza" href="">
     <a href="OPOLSKIE_Lubsza.html">
      Lubsza
     </a>
    </li>
    <li data-attribute="Mąkoszyce" href="">
     <a href="OPOLSKIE_Mąkoszyce.html">
      Mąkoszyce
     </a>
    </li>
    <li data-attribute="Narok" href="">
     <a href="OPOLSKIE_Narok.html">
      Narok
     </a>
    </li>
    <li data-attribute="Osowiec" href="">
     <a href="OPOLSKIE_Osowiec.html">
      Osowiec
     </a>
    </li>
    <li data-attribute="Roszowicki Las" href="">
     <a href="OPOLSKIE_Roszowicki Las.html">
      Roszowicki Las
     </a>
    </li>
    <li data-attribute="Nowy Świętów" href="">
     <a href="OPOLSKIE_Nowy Świętów.html">
      Nowy Świętów
     </a>
    </li>
    <li data-attribute="Pawłowiczki" href="">
     <a href="OPOLSKIE_Pawłowiczki.html">
      Pawłowiczki
     </a>
    </li>
    <li data-attribute="Sowczyce" href="">
     <a href="OPOLSKIE_Sowczyce.html">
      Sowczyce
     </a>
    </li>
    <li data-attribute="Biała" href="">
     <a href="OPOLSKIE_Biała.html">
      Biała
     </a>
    </li>
    <li data-attribute="Gostomia" href="">
     <a href="OPOLSKIE_Gostomia.html">
      Gostomia
     </a>
    </li>
    <li data-attribute="Śmicz" href="">
     <a href="OPOLSKIE_Śmicz.html">
      Śmicz
     </a>
    </li>
    <li data-attribute="Polska Cerekiew" href="">
     <a href="OPOLSKIE_Polska Cerekiew.html">
      Polska Cerekiew
     </a>
    </li>
    <li data-attribute="Piotrówka" href="">
     <a href="OPOLSKIE_Piotrówka.html">
      Piotrówka
     </a>
    </li>
    <li data-attribute="Januszkowice" href="">
     <a href="OPOLSKIE_Januszkowice.html">
      Januszkowice
     </a>
    </li>
    <li data-attribute="Kolnica" href="">
     <a href="OPOLSKIE_Kolnica.html">
      Kolnica
     </a>
    </li>
    <li data-attribute="Żytniów" href="">
     <a href="OPOLSKIE_Żytniów.html">
      Żytniów
     </a>
    </li>
    <li data-attribute="Mirowszczyzna" href="">
     <a href="OPOLSKIE_Mirowszczyzna.html">
      Mirowszczyzna
     </a>
    </li>
    <li data-attribute="Malnia" href="">
     <a href="OPOLSKIE_Malnia.html">
      Malnia
     </a>
    </li>
    <li data-attribute="Wronin" href="">
     <a href="OPOLSKIE_Wronin.html">
      Wronin
     </a>
    </li>
    <li data-attribute="Szybowice" href="">
     <a href="OPOLSKIE_Szybowice.html">
      Szybowice
     </a>
    </li>
    <li data-attribute="Kamień Śląski" href="">
     <a href="OPOLSKIE_Kamień Śląski.html">
      Kamień Śląski
     </a>
    </li>
    <li data-attribute="Łubniany" href="">
     <a href="OPOLSKIE_Łubniany.html">
      Łubniany
     </a>
    </li>
    <li data-attribute="Rudziczka" href="">
     <a href="OPOLSKIE_Rudziczka.html">
      Rudziczka
     </a>
    </li>
    <li data-attribute="Żyrowa" href="">
     <a href="OPOLSKIE_Żyrowa.html">
      Żyrowa
     </a>
    </li>
    <li data-attribute="Dąbrowa" href="">
     <a href="OPOLSKIE_Dąbrowa.html">
      Dąbrowa
     </a>
    </li>
    <li data-attribute="Bodzanów" href="">
     <a href="OPOLSKIE_Bodzanów.html">
      Bodzanów
     </a>
    </li>
    <li data-attribute="Cieciułów" href="">
     <a href="OPOLSKIE_Cieciułów.html">
      Cieciułów
     </a>
    </li>
    <li data-attribute="Moszczanka" href="">
     <a href="OPOLSKIE_Moszczanka.html">
      Moszczanka
     </a>
    </li>
    <li data-attribute="Pokój" href="">
     <a href="OPOLSKIE_Pokój.html">
      Pokój
     </a>
    </li>
    <li data-attribute="Jankowice Wielkie" href="">
     <a href="OPOLSKIE_Jankowice Wielkie.html">
      Jankowice Wielkie
     </a>
    </li>
    <li data-attribute="Gogolin" href="">
     <a href="OPOLSKIE_Gogolin.html">
      Gogolin
     </a>
    </li>
    <li data-attribute="Zakrzów" href="">
     <a href="OPOLSKIE_Zakrzów.html">
      Zakrzów
     </a>
    </li>
    <li data-attribute="Kościeliska" href="">
     <a href="OPOLSKIE_Kościeliska.html">
      Kościeliska
     </a>
    </li>
    <li data-attribute="Staniszcze Małe" href="">
     <a href="OPOLSKIE_Staniszcze Małe.html">
      Staniszcze Małe
     </a>
    </li>
    <li data-attribute="Gierałcice" href="">
     <a href="OPOLSKIE_Gierałcice.html">
      Gierałcice
     </a>
    </li>
    <li data-attribute="Dębnik" href="">
     <a href="OPOLSKIE_Dębnik.html">
      Dębnik
     </a>
    </li>
    <li data-attribute="Wierzbie" href="">
     <a href="OPOLSKIE_Wierzbie.html">
      Wierzbie
     </a>
    </li>
    <li data-attribute="Domaszkowice" href="">
     <a href="OPOLSKIE_Domaszkowice.html">
      Domaszkowice
     </a>
    </li>
    <li data-attribute="Michałowice" href="">
     <a href="OPOLSKIE_Michałowice.html">
      Michałowice
     </a>
    </li>
    <li data-attribute="Michałów" href="">
     <a href="OPOLSKIE_Michałów.html">
      Michałów
     </a>
    </li>
    <li data-attribute="Biskupów" href="">
     <a href="OPOLSKIE_Biskupów.html">
      Biskupów
     </a>
    </li>
    <li data-attribute="Sławniowice" href="">
     <a href="OPOLSKIE_Sławniowice.html">
      Sławniowice
     </a>
    </li>
    <li data-attribute="Burgrabice" href="">
     <a href="OPOLSKIE_Burgrabice.html">
      Burgrabice
     </a>
    </li>
    <li data-attribute="Jarnołtówek" href="">
     <a href="OPOLSKIE_Jarnołtówek.html">
      Jarnołtówek
     </a>
    </li>
    <li data-attribute="Polski Świętów" href="">
     <a href="OPOLSKIE_Polski Świętów.html">
      Polski Świętów
     </a>
    </li>
    <li data-attribute="Stary Las" href="">
     <a href="OPOLSKIE_Stary Las.html">
      Stary Las
     </a>
    </li>
    <li data-attribute="Baborów" href="">
     <a href="OPOLSKIE_Baborów.html">
      Baborów
     </a>
    </li>
    <li data-attribute="Bierdzany" href="">
     <a href="OPOLSKIE_Bierdzany.html">
      Bierdzany
     </a>
    </li>
    <li data-attribute="Biskupice" href="">
     <a href="OPOLSKIE_Biskupice.html">
      Biskupice
     </a>
    </li>
    <li data-attribute="Bodzanowice" href="">
     <a href="OPOLSKIE_Bodzanowice.html">
      Bodzanowice
     </a>
    </li>
    <li data-attribute="Bogacica" href="">
     <a href="OPOLSKIE_Bogacica.html">
      Bogacica
     </a>
    </li>
    <li data-attribute="Borki Wielkie" href="">
     <a href="OPOLSKIE_Borki Wielkie.html">
      Borki Wielkie
     </a>
    </li>
    <li data-attribute="Brożec" href="">
     <a href="OPOLSKIE_Brożec.html">
      Brożec
     </a>
    </li>
    <li data-attribute="Brynica" href="">
     <a href="OPOLSKIE_Brynica.html">
      Brynica
     </a>
    </li>
    <li data-attribute="Bukowie" href="">
     <a href="OPOLSKIE_Bukowie.html">
      Bukowie
     </a>
    </li>
    <li data-attribute="Daniec" href="">
     <a href="OPOLSKIE_Daniec.html">
      Daniec
     </a>
    </li>
    <li data-attribute="Dębska Kuźnia" href="">
     <a href="OPOLSKIE_Dębska Kuźnia.html">
      Dębska Kuźnia
     </a>
    </li>
    <li data-attribute="Długomiłowice" href="">
     <a href="OPOLSKIE_Długomiłowice.html">
      Długomiłowice
     </a>
    </li>
    <li data-attribute="Domecko" href="">
     <a href="OPOLSKIE_Domecko.html">
      Domecko
     </a>
    </li>
    <li data-attribute="Gołuszowice" href="">
     <a href="OPOLSKIE_Gołuszowice.html">
      Gołuszowice
     </a>
    </li>
    <li data-attribute="Idzikowice" href="">
     <a href="OPOLSKIE_Idzikowice.html">
      Idzikowice
     </a>
    </li>
    <li data-attribute="Jaryszów" href="">
     <a href="OPOLSKIE_Jaryszów.html">
      Jaryszów
     </a>
    </li>
    <li data-attribute="Jasienica Dolna" href="">
     <a href="OPOLSKIE_Jasienica Dolna.html">
      Jasienica Dolna
     </a>
    </li>
    <li data-attribute="Kamienica" href="">
     <a href="OPOLSKIE_Kamienica.html">
      Kamienica
     </a>
    </li>
    <li data-attribute="Kąty Opolskie" href="">
     <a href="OPOLSKIE_Kąty Opolskie.html">
      Kąty Opolskie
     </a>
    </li>
    <li data-attribute="Landzmierz" href="">
     <a href="OPOLSKIE_Landzmierz.html">
      Landzmierz
     </a>
    </li>
    <li data-attribute="Ligota Turawska" href="">
     <a href="OPOLSKIE_Ligota Turawska.html">
      Ligota Turawska
     </a>
    </li>
    <li data-attribute="Maciowakrze" href="">
     <a href="OPOLSKIE_Maciowakrze.html">
      Maciowakrze
     </a>
    </li>
    <li data-attribute="Naczęsławice" href="">
     <a href="OPOLSKIE_Naczęsławice.html">
      Naczęsławice
     </a>
    </li>
    <li data-attribute="Nakło" href="">
     <a href="OPOLSKIE_Nakło.html">
      Nakło
     </a>
    </li>
    <li data-attribute="Nowa Cerekwia" href="">
     <a href="OPOLSKIE_Nowa Cerekwia.html">
      Nowa Cerekwia
     </a>
    </li>
    <li data-attribute="Olszanka" href="">
     <a href="OPOLSKIE_Olszanka.html">
      Olszanka
     </a>
    </li>
    <li data-attribute="Olszowa" href="">
     <a href="OPOLSKIE_Olszowa.html">
      Olszowa
     </a>
    </li>
    <li data-attribute="Ostrożnica" href="">
     <a href="OPOLSKIE_Ostrożnica.html">
      Ostrożnica
     </a>
    </li>
    <li data-attribute="Pokrzywnica" href="">
     <a href="OPOLSKIE_Pokrzywnica.html">
      Pokrzywnica
     </a>
    </li>
    <li data-attribute="Przylesie" href="">
     <a href="OPOLSKIE_Przylesie.html">
      Przylesie
     </a>
    </li>
    <li data-attribute="Radłów" href="">
     <a href="OPOLSKIE_Radłów.html">
      Radłów
     </a>
    </li>
    <li data-attribute="Roszkowice" href="">
     <a href="OPOLSKIE_Roszkowice.html">
      Roszkowice
     </a>
    </li>
    <li data-attribute="Stara Kuźnia" href="">
     <a href="OPOLSKIE_Stara Kuźnia.html">
      Stara Kuźnia
     </a>
    </li>
    <li data-attribute="Sternalice" href="">
     <a href="OPOLSKIE_Sternalice.html">
      Sternalice
     </a>
    </li>
    <li data-attribute="Szemrowice" href="">
     <a href="OPOLSKIE_Szemrowice.html">
      Szemrowice
     </a>
    </li>
    <li data-attribute="Szymiszów" href="">
     <a href="OPOLSKIE_Szymiszów.html">
      Szymiszów
     </a>
    </li>
    <li data-attribute="Turawa" href="">
     <a href="OPOLSKIE_Turawa.html">
      Turawa
     </a>
    </li>
    <li data-attribute="Turza" href="">
     <a href="OPOLSKIE_Turza.html">
      Turza
     </a>
    </li>
    <li data-attribute="Ujazd" href="">
     <a href="OPOLSKIE_Ujazd.html">
      Ujazd
     </a>
    </li>
    <li data-attribute="Uszyce" href="">
     <a href="OPOLSKIE_Uszyce.html">
      Uszyce
     </a>
    </li>
    <li data-attribute="Wachów" href="">
     <a href="OPOLSKIE_Wachów.html">
      Wachów
     </a>
    </li>
    <li data-attribute="Wawelno" href="">
     <a href="OPOLSKIE_Wawelno.html">
      Wawelno
     </a>
    </li>
    <li data-attribute="Wilków" href="">
     <a href="OPOLSKIE_Wilków.html">
      Wilków
     </a>
    </li>
    <li data-attribute="Wojciechów" href="">
     <a href="OPOLSKIE_Wojciechów.html">
      Wojciechów
     </a>
    </li>
    <li data-attribute="Zagwiździe" href="">
     <a href="OPOLSKIE_Zagwiździe.html">
      Zagwiździe
     </a>
    </li>
    <li data-attribute="Zawada" href="">
     <a href="OPOLSKIE_Zawada.html">
      Zawada
     </a>
    </li>
    <li data-attribute="Zębowice" href="">
     <a href="OPOLSKIE_Zębowice.html">
      Zębowice
     </a>
    </li>
    <li data-attribute="Kuniów" href="">
     <a href="OPOLSKIE_Kuniów.html">
      Kuniów
     </a>
    </li>
    <li data-attribute="Kujakowice Dolne" href="">
     <a href="OPOLSKIE_Kujakowice Dolne.html">
      Kujakowice Dolne
     </a>
    </li>
    <li data-attribute="Bąków" href="">
     <a href="OPOLSKIE_Bąków.html">
      Bąków
     </a>
    </li>
    <li data-attribute="Dębie" href="">
     <a href="OPOLSKIE_Dębie.html">
      Dębie
     </a>
    </li>
    <li data-attribute="Lipniki" href="">
     <a href="OPOLSKIE_Lipniki.html">
      Lipniki
     </a>
    </li>
    <li data-attribute="Domaszowice" href="">
     <a href="OPOLSKIE_Domaszowice.html">
      Domaszowice
     </a>
    </li>
    <li data-attribute="Rozumice" href="">
     <a href="OPOLSKIE_Rozumice.html">
      Rozumice
     </a>
    </li>
    <li data-attribute="Łąka Prudnicka" href="">
     <a href="OPOLSKIE_Łąka Prudnicka.html">
      Łąka Prudnicka
     </a>
    </li>
    <li data-attribute="Gracze" href="">
     <a href="OPOLSKIE_Gracze.html">
      Gracze
     </a>
    </li>
    <li data-attribute="Bierawa" href="">
     <a href="OPOLSKIE_Bierawa.html">
      Bierawa
     </a>
    </li>
    <li data-attribute="Borki Małe" href="">
     <a href="OPOLSKIE_Borki Małe.html">
      Borki Małe
     </a>
    </li>
    <li data-attribute="Gana" href="">
     <a href="OPOLSKIE_Gana.html">
      Gana
     </a>
    </li>
    <li data-attribute="Grądy" href="">
     <a href="OPOLSKIE_Grądy.html">
      Grądy
     </a>
    </li>
    <li data-attribute="Jarnołtów" href="">
     <a href="OPOLSKIE_Jarnołtów.html">
      Jarnołtów
     </a>
    </li>
    <li data-attribute="Jasienica Górna" href="">
     <a href="OPOLSKIE_Jasienica Górna.html">
      Jasienica Górna
     </a>
    </li>
    <li data-attribute="Kałków" href="">
     <a href="OPOLSKIE_Kałków.html">
      Kałków
     </a>
    </li>
    <li data-attribute="Karczów" href="">
     <a href="OPOLSKIE_Karczów.html">
      Karczów
     </a>
    </li>
    <li data-attribute="Kotlarnia" href="">
     <a href="OPOLSKIE_Kotlarnia.html">
      Kotlarnia
     </a>
    </li>
    <li data-attribute="Kotórz Mały" href="">
     <a href="OPOLSKIE_Kotórz Mały.html">
      Kotórz Mały
     </a>
    </li>
    <li data-attribute="Krzyżowice" href="">
     <a href="OPOLSKIE_Krzyżowice.html">
      Krzyżowice
     </a>
    </li>
    <li data-attribute="Lasocice" href="">
     <a href="OPOLSKIE_Lasocice.html">
      Lasocice
     </a>
    </li>
    <li data-attribute="Łowoszów" href="">
     <a href="OPOLSKIE_Łowoszów.html">
      Łowoszów
     </a>
    </li>
    <li data-attribute="Maciejowice" href="">
     <a href="OPOLSKIE_Maciejowice.html">
      Maciejowice
     </a>
    </li>
    <li data-attribute="Meszno" href="">
     <a href="OPOLSKIE_Meszno.html">
      Meszno
     </a>
    </li>
    <li data-attribute="Raszowa" href="">
     <a href="OPOLSKIE_Raszowa.html">
      Raszowa
     </a>
    </li>
    <li data-attribute="Stare Koźle" href="">
     <a href="OPOLSKIE_Stare Koźle.html">
      Stare Koźle
     </a>
    </li>
    <li data-attribute="Strojec" href="">
     <a href="OPOLSKIE_Strojec.html">
      Strojec
     </a>
    </li>
    <li data-attribute="Trawniki" href="">
     <a href="OPOLSKIE_Trawniki.html">
      Trawniki
     </a>
    </li>
    <li data-attribute="Węgry" href="">
     <a href="OPOLSKIE_Węgry.html">
      Węgry
     </a>
    </li>
    <li data-attribute="Większyce" href="">
     <a href="OPOLSKIE_Większyce.html">
      Większyce
     </a>
    </li>
    <li data-attribute="Wysoka" href="">
     <a href="OPOLSKIE_Wysoka.html">
      Wysoka
     </a>
    </li>
    <li data-attribute="Zalesie Śląskie" href="">
     <a href="OPOLSKIE_Zalesie Śląskie.html">
      Zalesie Śląskie
     </a>
    </li>
    <li data-attribute="Włodzienin" href="">
     <a href="OPOLSKIE_Włodzienin.html">
      Włodzienin
     </a>
    </li>
    <li data-attribute="Strzeleczki" href="">
     <a href="OPOLSKIE_Strzeleczki.html">
      Strzeleczki
     </a>
    </li>
    <li data-attribute="Niemysłowice" href="">
     <a href="OPOLSKIE_Niemysłowice.html">
      Niemysłowice
     </a>
    </li>
    <li data-attribute="Żelazna" href="">
     <a href="OPOLSKIE_Żelazna.html">
      Żelazna
     </a>
    </li>
    <li data-attribute="Pisarzowice" href="">
     <a href="OPOLSKIE_Pisarzowice.html">
      Pisarzowice
     </a>
    </li>
    <li data-attribute="Skałągi" href="">
     <a href="OPOLSKIE_Skałągi.html">
      Skałągi
     </a>
    </li>
    <li data-attribute="Szymonków" href="">
     <a href="OPOLSKIE_Szymonków.html">
      Szymonków
     </a>
    </li>
    <li data-attribute="Kadłub Turawski" href="">
     <a href="OPOLSKIE_Kadłub Turawski.html">
      Kadłub Turawski
     </a>
    </li>
    <li data-attribute="Górażdże" href="">
     <a href="OPOLSKIE_Górażdże.html">
      Górażdże
     </a>
    </li>
    <li data-attribute="Steblów" href="">
     <a href="OPOLSKIE_Steblów.html">
      Steblów
     </a>
    </li>
    <li data-attribute="Lipki" href="">
     <a href="OPOLSKIE_Lipki.html">
      Lipki
     </a>
    </li>
    <li data-attribute="Łukowice Brzeskie" href="">
     <a href="OPOLSKIE_Łukowice Brzeskie.html">
      Łukowice Brzeskie
     </a>
    </li>
    <li data-attribute="Ligota Wielka" href="">
     <a href="OPOLSKIE_Ligota Wielka.html">
      Ligota Wielka
     </a>
    </li>
    <li data-attribute="Wierzbica Górna" href="">
     <a href="OPOLSKIE_Wierzbica Górna.html">
      Wierzbica Górna
     </a>
    </li>
    <li data-attribute="Bąkowice" href="">
     <a href="OPOLSKIE_Bąkowice.html">
      Bąkowice
     </a>
    </li>
    <li data-attribute="Rogi" href="">
     <a href="OPOLSKIE_Rogi.html">
      Rogi
     </a>
    </li>
    <li data-attribute="Kamienna" href="">
     <a href="OPOLSKIE_Kamienna.html">
      Kamienna
     </a>
    </li>
    <li data-attribute="Szonów" href="">
     <a href="OPOLSKIE_Szonów.html">
      Szonów
     </a>
    </li>
    <li data-attribute="Biedrzychowice" href="">
     <a href="OPOLSKIE_Biedrzychowice.html">
      Biedrzychowice
     </a>
    </li>
    <li data-attribute="Kowale" href="">
     <a href="OPOLSKIE_Kowale.html">
      Kowale
     </a>
    </li>
    <li data-attribute="Korfantów" href="">
     <a href="OPOLSKIE_Korfantów.html">
      Korfantów
     </a>
    </li>
    <li data-attribute="Antoniów" href="">
     <a href="OPOLSKIE_Antoniów.html">
      Antoniów
     </a>
    </li>
    <li data-attribute="Dobra" href="">
     <a href="OPOLSKIE_Dobra.html">
      Dobra
     </a>
    </li>
    <li data-attribute="Kamiennik" href="">
     <a href="OPOLSKIE_Kamiennik.html">
      Kamiennik
     </a>
    </li>
    <li data-attribute="Komorniki" href="">
     <a href="OPOLSKIE_Komorniki.html">
      Komorniki
     </a>
    </li>
    <li data-attribute="Komorzno" href="">
     <a href="OPOLSKIE_Komorzno.html">
      Komorzno
     </a>
    </li>
    <li data-attribute="Przedmość" href="">
     <a href="OPOLSKIE_Przedmość.html">
      Przedmość
     </a>
    </li>
    <li data-attribute="Racławiczki" href="">
     <a href="OPOLSKIE_Racławiczki.html">
      Racławiczki
     </a>
    </li>
    <li data-attribute="Stradunia" href="">
     <a href="OPOLSKIE_Stradunia.html">
      Stradunia
     </a>
    </li>
    <li data-attribute="Wąsice" href="">
     <a href="OPOLSKIE_Wąsice.html">
      Wąsice
     </a>
    </li>
    <li data-attribute="Zielina" href="">
     <a href="OPOLSKIE_Zielina.html">
      Zielina
     </a>
    </li>
    <li data-attribute="Solarnia" href="">
     <a href="OPOLSKIE_Solarnia.html">
      Solarnia
     </a>
    </li>
    <li data-attribute="Bogdanowice" href="">
     <a href="OPOLSKIE_Bogdanowice.html">
      Bogdanowice
     </a>
    </li>
    <li data-attribute="Lisięcice" href="">
     <a href="OPOLSKIE_Lisięcice.html">
      Lisięcice
     </a>
    </li>
    <li data-attribute="Grabin" href="">
     <a href="OPOLSKIE_Grabin.html">
      Grabin
     </a>
    </li>
    <li data-attribute="Domaradz" href="">
     <a href="OPOLSKIE_Domaradz.html">
      Domaradz
     </a>
    </li>
    <li data-attribute="Twardawa" href="">
     <a href="OPOLSKIE_Twardawa.html">
      Twardawa
     </a>
    </li>
    <li data-attribute="Góra Świętej Anny" href="">
     <a href="OPOLSKIE_Góra Świętej Anny.html">
      Góra Świętej Anny
     </a>
    </li>
    <li data-attribute="Pietrowice" href="">
     <a href="OPOLSKIE_Pietrowice.html">
      Pietrowice
     </a>
    </li>
    <li data-attribute="Ściborzyce Małe" href="">
     <a href="OPOLSKIE_Ściborzyce Małe.html">
      Ściborzyce Małe
     </a>
    </li>
    <li data-attribute="Pakosławice" href="">
     <a href="OPOLSKIE_Pakosławice.html">
      Pakosławice
     </a>
    </li>
    <li data-attribute="Prusinowice" href="">
     <a href="OPOLSKIE_Prusinowice.html">
      Prusinowice
     </a>
    </li>
    <li data-attribute="Frączków" href="">
     <a href="OPOLSKIE_Frączków.html">
      Frączków
     </a>
    </li>
    <li data-attribute="Goszowice" href="">
     <a href="OPOLSKIE_Goszowice.html">
      Goszowice
     </a>
    </li>
    <li data-attribute="Skoroszyce" href="">
     <a href="OPOLSKIE_Skoroszyce.html">
      Skoroszyce
     </a>
    </li>
    <li data-attribute="Chocianowice" href="">
     <a href="OPOLSKIE_Chocianowice.html">
      Chocianowice
     </a>
    </li>
    <li data-attribute="Gronowice" href="">
     <a href="OPOLSKIE_Gronowice.html">
      Gronowice
     </a>
    </li>
    <li data-attribute="Jasienie" href="">
     <a href="OPOLSKIE_Jasienie.html">
      Jasienie
     </a>
    </li>
    <li data-attribute="Lasowice Wielkie" href="">
     <a href="OPOLSKIE_Lasowice Wielkie.html">
      Lasowice Wielkie
     </a>
    </li>
    <li data-attribute="Chudoba" href="">
     <a href="OPOLSKIE_Chudoba.html">
      Chudoba
     </a>
    </li>
    <li data-attribute="Laskowice" href="">
     <a href="OPOLSKIE_Laskowice.html">
      Laskowice
     </a>
    </li>
    <li data-attribute="Ścinawa Mała" href="">
     <a href="OPOLSKIE_Ścinawa Mała.html">
      Ścinawa Mała
     </a>
    </li>
    <li data-attribute="Pludry" href="">
     <a href="OPOLSKIE_Pludry.html">
      Pludry
     </a>
    </li>
    <li data-attribute="Rogów Opolski" href="">
     <a href="OPOLSKIE_Rogów Opolski.html">
      Rogów Opolski
     </a>
    </li>
    <li data-attribute="Dąbrówka Górna" href="">
     <a href="OPOLSKIE_Dąbrówka Górna.html">
      Dąbrówka Górna
     </a>
    </li>
    <li data-attribute="Gosławice" href="">
     <a href="OPOLSKIE_Gosławice.html">
      Gosławice
     </a>
    </li>
    <li data-attribute="Sidzina" href="">
     <a href="OPOLSKIE_Sidzina.html">
      Sidzina
     </a>
    </li>
    <li data-attribute="Karłowice Wielkie" href="">
     <a href="OPOLSKIE_Karłowice Wielkie.html">
      Karłowice Wielkie
     </a>
    </li>
    <li data-attribute="Kórnica" href="">
     <a href="OPOLSKIE_Kórnica.html">
      Kórnica
     </a>
    </li>
    <li data-attribute="Reńska Wieś" href="">
     <a href="OPOLSKIE_Reńska Wieś.html">
      Reńska Wieś
     </a>
    </li>
    <li data-attribute="Ścinawa Nyska" href="">
     <a href="OPOLSKIE_Ścinawa Nyska.html">
      Ścinawa Nyska
     </a>
    </li>
   </ul>
  </h4>
 </div>
</body>
