
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Otmuchów</title>
</head>
<body>
    <h1>Schools in Otmuchów</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W OTMUCHOWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 1 OTMUCHOWIE</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 3 W OTMUCHOWIE</li>
        <li>PUBLICZNE PRZEDSZKOLE NR2 Z ODDZIAŁEM ŻŁOBKOWYM</li>
        <li>SZKOŁA PODSTAWOWA NR 1 W OTMUCHOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 2 W OTMUCHOWIE</li>
        <li>TECHNIKUM</li>
        <li>ZESPÓŁ PRZEDSZKOLI W OTMUCHOWIE</li>
        <li>ZESPÓŁ SZKÓŁ W OTMUCHOWIE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY SZKOŁA PODSTAWOWA NR 2 PUBLICZNE PRZEDSZKOLE NR 3 W OTMUCHOWIE</li>

    </ul>
    <a href="OPOLSKIE.html">Back to Cities in OPOLSKIE</a>
</body>
</html>
