
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Kadłub</title>
</head>
<body>
    <h1>Schools in Kadłub</h1>
    <ul>
        <li>PRZEDSZKOLE PUBLICZNE W KADŁUBIE</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA W KADŁUBIE</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA IM.S.ZOFII MOROZ PRZY DOMU POMOCY SPOŁECZNEJ W KADŁUBIE</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY IM. S. ZOFII MOROZ PRZY DOMU POMOCY SPOŁECZNEJ W KADŁUBIE</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH W KADŁUBIE</li>
        <li>ZESPÓŁ SZKÓŁ SPECJALNYCH PRZY DOMU POMOCY SPOŁECZNEJ W KADŁUBIE</li>

    </ul>
    <a href="OPOLSKIE.html">Back to Cities in OPOLSKIE</a>
</body>
</html>
