
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Strojec</title>
</head>
<body>
    <h1>Schools in Strojec</h1>
    <ul>
        <li>PUBLICZNE PRZEDSZKOLE W STROJCU</li>
        <li>SZKOŁA PODSTAWOWA IM. MJR HENRYKA SUCHARSKIEGO W STROJCU</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W STROJCU</li>

    </ul>
    <a href="OPOLSKIE.html">Back to Cities in OPOLSKIE</a>
</body>
</html>
