
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Kędzierzyn-Koźle</title>
</head>
<body>
    <h1>Schools in Kędzierzyn-Koźle</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 1</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 2</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 3 PRZY ZESPOLE SZKÓŁ TECHNICZNYCH I OGÓLNOKSZTAŁCĄCYCH</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 4</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA SPECJALNA</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA NR 1</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA NR 2</li>
        <li>BURSA SZKOLNA</li>
        <li>CENTRUM EDUKACJI MONTESSORI DOMOWE PRZEDSZKOLE MONTESSORI DZIUPLA WIEWIÓRKI</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO W KĘDZIERZYNIE-KOŹLU</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE IM. HENRYKA SIENKIEWICZA</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE IM. MIKOŁAJA KOPERNIKA</li>
        <li>KATOLICKIE PRZEDSZKOLE NIEPUBLICZNE "OCHRONKA" IM.BŁ.E.BOJANOWSKIEGO</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH "ŻAK" W KĘDZIERZYNIE-KOŹLU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W KĘDZIERZYNIE-KOŹLU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE WZDZ W OPOLU Z SIEDZIBĄ W KĘDZIERZYNIE-KOŹLU</li>
        <li>MISTRZOWSKA AKADEMIA NATUROPATII MISANA</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA SPECJALNA DLA UCZNIÓW ZE SPRZĘŻONYMI NIEPEŁNOSPRAWNOŚCIAMI, AUTYZMEM</li>
        <li>NIEPUBLICZNA SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY DLA UCZNIÓWZE SPRZĘŻONYMI NIEPEŁNOSPRAWNOŚCIAMI</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE DLA DZIECI Z AUTYZMEM</li>
        <li>NIEPUBLICZNE TECHNIKUM SPECJALNE ŻYWIENIA I USŁUG GASTRONOMICZNYCH DLA UCZNIÓW Z AUTYZMEM W KĘDZIERZYNIE-KOŹLU</li>
        <li>NIEPUBLICZNY JĘZYKOWO-NAUKOWY PUNKT PRZEDSZKOLNY ESPERO</li>
        <li>OŚRODEK DOSKONALENIA KADR NOTITIA W KĘDZIERZYNIE-KOŹLU</li>
        <li>OŚRODEK KSZTAŁCENIA ZAWODOWEGO PROFECTUS S.C. MARIA I MIROSŁAW ZIĘBA</li>
        <li>OŚRODEK SZKOLENIOWY CENTRUM NAUKI I BIZNESU "ŻAK" W KĘDZIERZYNIE-KOŹLU</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I ST. NR 1 W KĘDZIERZYNIE-KOŹLU</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I ST. NR 2 IM. MARII SZYMANOWSKIEJ W KĘDZIERZYNIE-KOŹLU</li>
        <li>PEDAGOGICZNA BIBLIOTEKA WOJEWÓDZKA W OPOLU - FILIA W KĘDZIERZYNIE - KOŹLU</li>
        <li>PRZEDSZKOLE NR 17 W KĘDZIERZYNIE-KOŹLU</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 10 W KĘDZIERZYNIE-KOŹLU</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 22 IM.CZESŁAWA JANCZARSKIEGO W KĘDZIERZYNIE-KOŹLU</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 23</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 24</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 26</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 7</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 8</li>
        <li>PUBLICZNA BRANŻOWA SZKOŁA I STOPNIA SPECJALNA WZDZ W OPOLU Z SIEDZIBĄ W KĘDZIERZYNIE-KOŹLU</li>
        <li>PUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA IM. JOHANNA WOLFGANGA VON GOETHE W KĘDZIERZYNIE-KOŹLU</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 10 IM.WOJSKA POLSKIEGO W KĘDZIERZYNIE-KOŹLU</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 11 IM.WŁADYSŁAWA BRONIEWSKIEGO W KĘDZIERZYNIE-KOŹLU</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 12 IM. KADETA ZYGMUNTA KUCZYŃSKIEGO W KĘDZIERZYNIE-KOŹLU</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 15 IM.JANA KOCHANOWSKIEGO W KĘDZIERZYNIE-KOŹLU</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 16 IM. JANA PAWŁA II W KĘDZIERZYNIE-KOŹLU</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 18 IM.WOJCIECHA KORFANTEGO W KĘDZIERZYNIE-KOŹLU</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 19 IM.BRONISŁAWA MALINOWSKIEGO W KĘDZIERZYNIE-KOŹLU</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 20 W KĘDZIERZYNIE-KOŹLU</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 3 IM. KOMISJI EDUKACJI NARODOWEJ</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 5 IM.ADAMA MICKIEWICZA W KĘDZIERZYNIE-KOŹLU</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 6 IM. MARII SKŁODOWSKIEJ-CURIE W KĘDZIERZYNIE-KOŹLE</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 9 IM. JURIJA GAGARINA W KĘDZIERZYNIE-KOŹLU</li>
        <li>PUBLICZNE OGNISKO ARTYSTYCZNE W KĘDZIERZYNIE-KOŹLU</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 11 W KĘDZIERZYNIE-KOŹLU</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 12 IM. KRASNALA HAŁABAŁY</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 13</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 14</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 15</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 18</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 2 W KĘDZIERZYNIE-KOŹLU</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 20 W KĘDZIERZYNIE-KOŹLU</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 21 Z ODDZIAŁAMI INTEGRACYJNYMI W KĘDZIERZYNIE-KOŹLU</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 5 IM.JANA BRZECHWY W KĘDZIERZYNIE-KOŹLU</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 6</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 9</li>
        <li>PUBLICZNE PRZEDSZKOLE Z NAUCZANIEM JĘZYKA MNIEJSZOŚCI NARODOWEJ - JĘZYKA NIEMIECKIEGO W KĘDZIERZYNIE-KOŹLU</li>
        <li>PUBLICZNY ZESPÓŁ PRZEDSZKOLNO-SZKOLNY Z NAUCZANIEM JĘZYKA MNIEJSZOŚCI NARODOWEJ-JĘZYKA NIEMIECKIEGO W KĘDZIERZYNIE-KOŹLU</li>
        <li>SPECJALNY PUNKT PRZEDSZKOLNY "UŚMIECH DZIECKA"</li>
        <li>SZKOŁA ESPERO MAGDALENA SZYKUŁA</li>
        <li>SZKOŁA JĘZYKÓW OBCYCH LANG</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM.POWSTAŃCÓW ŚLĄSKICH W KĘDZIERZYNIE-KOŹLU</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA</li>
        <li>SZKOŁA POLICEALNA AKTYWIZACJI ZAWODOWEJ "ŻAK" W KĘDZIERZYNIE-KOŹLU</li>
        <li>SZKOŁA POLICEALNA DLA DOROSŁYCH</li>
        <li>SZKOŁA POLICEALNA OPIEKI MEDYCZNEJ "ŻAK" W KĘDZIERZYNIE-KOŹLU</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJACA DO PRACY</li>
        <li>TECHNIKUM NR 1</li>
        <li>TECHNIKUM NR 2</li>
        <li>TECHNIKUM NR 3</li>
        <li>TECHNIKUM NR 4 PRZY ZESPOLE SZKÓŁ TECHNICZNYCH I OGÓLNOKSZTAŁCĄCYCH</li>
        <li>WOJEWÓDZKA SZKOŁA POLICEALNA DZIENNA IM. MARII MINCZEWSKIEJ W KĘDZIERZYNIE - KOŹLU</li>
        <li>WOJEWÓDZKA SZKOŁA POLICEALNA STACJONARNA I ZAOCZNA W KĘDZIERZYNIE - KOŹLU</li>
        <li>ZESPÓŁ NIEPUBLICZNYCH SZKÓŁ SPECJALNYCH W KĘDZIERZYNIE- KOŹLU</li>
        <li>ZESPÓŁ SZKÓŁ MEDYCZNYCH W KĘDZIERZYNIE - KOŹLU</li>
        <li>ZESPÓŁ SZKÓŁ NR 1 IM. POWSTAŃCÓW ŚLĄSKICH</li>
        <li>ZESPÓŁ SZKÓŁ NR 3 IM. MIKOŁAJA REJA W KĘDZIERZYNIE-KOŹLU</li>
        <li>ZESPÓŁ SZKÓŁ SPECJALNYCH IM. JANA BRZECHWY W KĘDZIERZYNIE-KOŹLU</li>
        <li>ZESPÓŁ SZKÓŁ TECHNICZNYCH I OGÓLNOKSZTAŁCĄCYCH</li>
        <li>ZESPÓŁ SZKÓŁ ŻEGLUGI ŚRÓDLĄDOWEJ IM. BOHATERÓW WESTERPLATTE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 1 W KĘDZIERZYNIE-KOŹLU</li>

    </ul>
    <a href="OPOLSKIE.html">Back to Cities in OPOLSKIE</a>
</body>
</html>
