
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Gorzów Śląski</title>
</head>
<body>
    <h1>Schools in Gorzów Śląski</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W GORZOWIE ŚL.</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO W GORZOWIE ŚLĄSKIM</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W GORZOWIE ŚL.</li>
        <li>PRZEDSZKOLE PUBLICZNE W GORZOWIE ŚLĄSKIM</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA W GORZOWIE ŚLĄSKIM</li>
        <li>SZKOŁA POLICEALNA DLA DOROSŁYCH W GORZOWIE ŚL.</li>
        <li>TECHNIKUM W GORZOWIE ŚL.</li>
        <li>ZESPÓŁ SZKÓŁ W GORZOWIE ŚL.</li>

    </ul>
    <a href="OPOLSKIE.html">Back to Cities in OPOLSKIE</a>
</body>
</html>
