
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Chrząstowice</title>
</head>
<body>
    <h1>Schools in Chrząstowice</h1>
    <ul>
        <li>KATOLICKIE PRZEDSZKOLE NIEPUBLICZNE Z NAUCZANIEM JĘZYKA MNIEJSZOŚCI NIEMIECKIEJ IM. BŁ. EDMUNDA BOJANOWSKIEGO "OCHRONKA" W CHRZĄSTOWICACH</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA W CHRZĄSTOWICACH</li>
        <li>PUBLICZNE PRZEDSZKOLE W CHRZĄSTOWICACH</li>

    </ul>
    <a href="OPOLSKIE.html">Back to Cities in OPOLSKIE</a>
</body>
</html>
