
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Łącznik</title>
</head>
<body>
    <h1>Schools in Łącznik</h1>
    <ul>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA IM. FILIPA ROBOTY W ŁĄCZNIKU</li>
        <li>PUBLICZNE PRZEDSZKOLE W ŁĄCZNIKU</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W ŁĄCZNIKU</li>

    </ul>
    <a href="OPOLSKIE.html">Back to Cities in OPOLSKIE</a>
</body>
</html>
