
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Głubczyce</title>
</head>
<body>
    <h1>Schools in Głubczyce</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA W GŁUBCZYCACH</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO W GŁUBCZYCACH</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE IM. A. MICKIEWICZA W GŁUBCZYCACH</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE W GŁUBCZYCACH</li>
        <li>III LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W GŁUBCZYCACH</li>
        <li>NIEPUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "PICCOLINO" W GŁUBCZYCACH</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I ST. IM. IGNACEGO JANA PADEREWSKIEGO W GŁUBCZYCACH</li>
        <li>PODSTAWOWA SZKOŁA SPECJALNA W GŁUBCZYCACH</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA</li>
        <li>PRZEDSZKOLE NR 1 IM MARII KONOPNICKIEJ W GŁUBCZYCACH</li>
        <li>PRZEDSZKOLE NR 2 Z ODDZIAŁAMI INTEGRACYJNYMI IM KUBUSIA PUCHATKA W GŁUBCZYCACH</li>
        <li>PRZEDSZKOLE NR 3 GŁUBCZYCACH</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY W GŁUBCZYCACH</li>
        <li>SZKOŁA MISTRZOSTWA SPORTOWEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 1 Z ODDZIAŁAMI INTEGRACYJNYMI IM TADEUSZA KOŚCIUSZKI</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM JANUSZA KORCZAKA</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. MARII SKŁODOWSKIEJ CURIE W GŁUBCZYCACH</li>
        <li>SZKOŁA POLICEALNA DLA DOROSŁYCH NR 2 W GŁUBCZYCACH</li>
        <li>SZKOŁA POLICEALNA W GŁUBCZYCACH</li>
        <li>SZKOŁA POLICEALNA ZAOCZNA W GŁUBCZYCACH</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY</li>
        <li>TECHNIKUM NR 2</li>
        <li>TECHNIKUM W GŁUBCZYCACH</li>
        <li>ZESPÓŁ SZKÓŁ CENTRUM KSZTAŁCENIA ROLNICZEGO IM. WŁADYSŁAWA SZAFERA W GŁUBCZYCACH</li>
        <li>ZESPÓŁ SZKÓŁ MECHANICZNYCH W GŁUBCZYCACH</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH W GŁUBCZYCACH</li>

    </ul>
    <a href="OPOLSKIE.html">Back to Cities in OPOLSKIE</a>
</body>
</html>
