
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Ozimek</title>
</head>
<body>
    <h1>Schools in Ozimek</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA II STOPNIA ZESPOŁU SZKÓŁ W OZIMKU</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W OZIMKU</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 1 W OZIMKU</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 2 Z ODDZIAŁAMI INTEGRACYJNYMI W OZIMKU</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 4 W OZIMKU</li>
        <li>PUBLICZNA BRANŻOWA SZKOŁA I STOPNIA ZESPOŁU SZKÓŁ W OZIMKU</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 1 IM. MARII SKŁODOWSKIEJ-CURIE W OZIMKU</li>
        <li>PUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH ZESPOŁU SZKÓŁ W OZIMKU</li>
        <li>PUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE ZESPOŁU SZKÓŁ W OZIMKU</li>
        <li>PUBLICZNE TECHNIKUM ZESPOŁU SZKÓŁ W OZIMKU</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. MARII KONOPNICKIEJ W OZIMKU</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. PARAOLIMPIJCZYKÓW I OLIMPIJCZYKÓW POLSKICH W OZIMKU</li>
        <li>ZESPÓŁ SZKÓŁ W OZIMKU</li>

    </ul>
    <a href="OPOLSKIE.html">Back to Cities in OPOLSKIE</a>
</body>
</html>
