
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Jemielnica</title>
</head>
<body>
    <h1>Schools in Jemielnica</h1>
    <ul>
        <li>KATOLICKIE PRZEDSZKOLE NIEPUBLICZNE "OCHRONKA" IM. BŁ. EDMUNDA BOJANOWSKIEGO PROWADZONE PRZEZ ZGROMADZENIE SIÓSTR SŁUŻEBNICZEK NAJŚWIĘTSZEJ MARYI PANNY NIEPOKALANIE POCZĘTEJ</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA IM. MARKA PRAWEGO W JEMIELNICY</li>
        <li>PUBLICZNE PRZEDSZKOLE W JEMIELNICY</li>

    </ul>
    <a href="OPOLSKIE.html">Back to Cities in OPOLSKIE</a>
</body>
</html>
