
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Gogolin</title>
</head>
<body>
    <h1>Schools in Gogolin</h1>
    <ul>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 2 IM. KORNELA MAKUSZYŃSKIEGO W GOGOLINIE</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 3 IM. JANA BRZECHWY W GOGOLINIE</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 1 W GOGOLINIE</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 3 IM. KARLIKA I KAROLINKI W GOGOLINIE</li>

    </ul>
    <a href="OPOLSKIE.html">Back to Cities in OPOLSKIE</a>
</body>
</html>
