
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Zawadzkie</title>
</head>
<body>
    <h1>Schools in Zawadzkie</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W ZAWADZKIEM</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. MIESZKA I W ZAWADZKIEM</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 2 Z ODDZIAŁEM INTEGRACYJNYM W ZAWADZKIEM</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 3 W ZAWADZKIEM</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA W ZAWADZKIEM</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA PRZY DOMU POMOCY SPOŁECZNEJ W ZAWADZKIEM</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY PRZY DOMU POMOCY SPOŁECZNEJ W ZAWADZKIEM</li>
        <li>TECHNIKUM W ZAWADZKIEM</li>
        <li>ZESPÓŁ SZKÓŁ PONADPODSTAWOWYCH W ZAWADZKIEM</li>
        <li>ZESPÓŁ SZKÓŁ SPECJALNYCH PRZY DOMU POMOCY SPOŁECZNEJ W ZAWADZKIEM</li>

    </ul>
    <a href="OPOLSKIE.html">Back to Cities in OPOLSKIE</a>
</body>
</html>
