
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Żędowice</title>
</head>
<body>
    <h1>Schools in Żędowice</h1>
    <ul>
        <li>AKADEMIA PRZEDSZKOLAKA KRZYSZTOF KRAFCZYK</li>
        <li>CENTRUM SZKOLEŃ PINUS NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO I PRAKTYCZNEGO</li>
        <li>PRZEDSZKOLE PUBLICZNE W ŻĘDOWICACH</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA W ŻĘDOWICACH</li>

    </ul>
    <a href="OPOLSKIE.html">Back to Cities in OPOLSKIE</a>
</body>
</html>
