
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Charbielin</title>
</head>
<body>
    <h1>Schools in Charbielin</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA II STOPNIA LIDER W CHARBIELINIE</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA STOWARZYSZENIA EDUKACYJNEGO "UŚMIECH DZIECKA" W CHARBIELINIE</li>
        <li>SZKOŁA POLICEALNA LIDER W CHARBIELINIE</li>

    </ul>
    <a href="OPOLSKIE.html">Back to Cities in OPOLSKIE</a>
</body>
</html>
