
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Kluczbork</title>
</head>
<body>
    <h1>Schools in Kluczbork</h1>
    <ul>
        <li>AKADEMIA FRYZJERSKA KARINY SMYREK</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 1 W KLUCZBORKU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 2 W KLUCZBORKU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA SPECJALNA W KLUCZBORKU</li>
        <li>CENTRUM DORADZTWA I KSZTAŁCENIA KADR P.W.ZBRYK IWONA ZBRYK</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO W KLUCZBORKU</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO W KLUCZBORKU</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W KLUCZBORKU</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE W KLUCZBORKU</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W KLUCZBORKU</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE IM. GEN. JÓZEFA BEMA W KLUCZBORKU</li>
        <li>MACIEJ NOCUŃ PSYCHOLOGICZNE CENTRUM SZKOLENIOWO - TERAPEUTYCZNE</li>
        <li>MDGROUP MARTA HAIN</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "AGATKA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "TĘCZOWA DOLINA" Z FILIĄ</li>
        <li>PEDAGOGICZNA BIBLIOTEKA WOJEWÓDZKA W OPOLU - FILIA W KLUCZBORKU</li>
        <li>POLICEALNA SZKOŁA MEDYCZNA EPSILON W KLUCZBORKU</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W KLUCZBORKU</li>
        <li>POWIATOWY OŚRODEK DOSKONALENIA NAUCZYCIELI W KLUCZBORKU</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 1 IM. JANA DZIERŻONA W KLUCZBORKU</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 2 IM. JANUSZA KORCZAKA W KLUCZBORKU</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 5 Z ODDZIAŁAMI INTEGRACYJNYMI IM. EMILII PLATER W KLUCZBORKU</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 1 W KLUCZBORKU</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 2 Z ODDZIAŁAMI INTEGRACYJNYMI IM. CZESŁAWA JANCZARSKIEGO W KLUCZBORKU</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 5 IM. MARII KONOPNICKIEJ W KLUCZBORKU Z ODDZIAŁAMI ZAMIEJSCOWYMI W KRASKOWIE I LIGOCIE DOLNEJ</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 7 Z ODDZIAŁAMI ŻŁOBKOWYMI W KLUCZBORKU</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 8 IM. KUBUSIA PUCHATKA W KLUCZBORKU Z ODDZIAŁAMI ZAMIEJSCOWYMI W LIGOCIE GÓRNEJ I SMARDACH GÓRNYCH</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY IM. MARII KONOPNICKIEJ W KLUCZBORKU</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY W KLUCZBORKU PRZEDSZKOLE SPECJALNE NR 9 W KLUCZBORKU DLA DZIECI Z UPOŚLEDZENIEM UMYSŁOWYM W STOPNIU UMIARKOWANYM I ZNACZNYM Z AUTYZMEM I NIEPEŁNOSPRAWNOŚCIAMI SPRZĘŻONYMI</li>
        <li>SPOŁECZNA SZKOŁA PODSTAWOWA SPOŁECZNEGO TOWARZYSTWA OŚWIATOWEGO</li>
        <li>SPOŁECZNE LICEUM OGÓLNOKSZTAŁCĄCE SPOŁECZNEGO TOWARZYSTWA OŚWIATOWEGO</li>
        <li>SZKOŁA MUZYCZNA I STOPNIA IM. IGNACEGO J. PADEREWSKIEGO W KLUCZBORKU</li>
        <li>SZKOŁA PODSTAWOWA NR 6 SPECJALNA</li>
        <li>SZKOŁA POLICEALNA NR 2 W KLUCZBORKU</li>
        <li>SZKOŁA POLICEALNA NR 3 W KLUCZBORKU</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY</li>
        <li>TECHNIKUM NR 1 IM. GEN. JÓZEFA BEMA W KLUCZBORKU</li>
        <li>TECHNIKUM NR 2 IM. BOHATERÓW WESTERPLATTE W KLUCZBORKU</li>
        <li>TECHNIKUM NR 3 W KLUCZBORKU</li>
        <li>ZESPÓŁ SZKÓŁ LICEALNO-TECHNICZNYCH W KLUCZBORKU</li>
        <li>ZESPÓŁ SZKÓŁ NR 1 W KLUCZBORKU</li>
        <li>ZESPÓŁ SZKÓŁ NR 2 - CENTRUM KSZTAŁCENIA USTAWICZNEGO W KLUCZBORKU</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH IM. ADAMA MICKIEWICZA W KLUCZBORKU</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH SPOŁECZNEGO TOWARZYSTWA OŚWIATOWEGO</li>

    </ul>
    <a href="OPOLSKIE.html">Back to Cities in OPOLSKIE</a>
</body>
</html>
