
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Praszka</title>
</head>
<body>
    <h1>Schools in Praszka</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W PRASZCE</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO W ZESPOLE SZKÓŁ PONADPODSTAWOWYCH W PRASZCE</li>
        <li>I LICEUM OGÓLNOKSZTAŁCACE IM. POWSTAŃCÓW ŚLĄSKICH W PRASZCE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE ZGROMADZENIA SIÓSTR FELICJANEK</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 5 W PRASZCE</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 1</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 2</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 3 W PRASZCE</li>
        <li>SZKOŁA PODSTAWOWA NR 2 W PRASZCE</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. KS. KARDYNAŁA STEFANA WYSZYŃSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 4 IM. WANDY CHOTOMSKIEJ W PRASZCE</li>
        <li>SZKOŁA PRZYSPOSABIAJĄCA DO PRACY W PRASZCE</li>
        <li>TECHNIKUM W PRASZCE</li>
        <li>ZESPÓŁ PLACÓWEK SPECJALNYCH</li>
        <li>ZESPÓŁ SZKÓŁ PONADPODSTAWOWYCH W PRASZCE</li>

    </ul>
    <a href="OPOLSKIE.html">Back to Cities in OPOLSKIE</a>
</body>
</html>
