
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Dziewiętlice</title>
</head>
<body>
    <h1>Schools in Dziewiętlice</h1>
    <ul>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA W DZIEWIĘTLICACH</li>
        <li>PRZEDSZKOLE PUBLICZNE W DZIEWIĘTLICACH</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W DZIEWIĘTLICACH PRZY STOWARZYSZENIU NA RZECZ ROZWOJU I PROMOCJI ZESPOŁU SZKOLNO-PRZEDSZKOLNEGO W DZIEWIĘTLICACH</li>

    </ul>
    <a href="OPOLSKIE.html">Back to Cities in OPOLSKIE</a>
</body>
</html>
