
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Nowaki</title>
</head>
<body>
    <h1>Schools in Nowaki</h1>
    <ul>
        <li>PRZEDSZKOLE STOWARZYSZENIA PRZYJACIÓŁ SZKÓŁ KATOLICKICH W NOWAKACH</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA STOWARZYSZENIA PRZYJACIÓŁ SZKÓŁ KATOLICKICH IM. ŚW. JANA PAWŁA II W NOWAKACH</li>

    </ul>
    <a href="OPOLSKIE.html">Back to Cities in OPOLSKIE</a>
</body>
</html>
