
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Namysłów</title>
</head>
<body>
    <h1>Schools in Namysłów</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 1 W ZESPOLE SZKÓŁ MECHANICZNYCH W NAMYSŁOWIE IM. "ŻOŁNIERZY WRZEŚNIA 1939 ROKU"</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 2 W ZESPOLE SZKÓŁ ROLNICZYCH IM TADUESZA KOŚCIUSZKI W NAMYSŁOWIE</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE IM JAROSŁAWA IWASZKIEWICZA W NAMYSŁOWIE</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE W ZSESPOLE SZKÓŁ IM TADEUSZA KOŚCIUSZKI W NAMYSŁOWIE</li>
        <li>INTEGRACYJNY PUNKT PRZEDSZKOLNY "WSPÓLNY ŚWIAT"</li>
        <li>MODZIEŻOWY OŚRODEK WYCHOWAWCZY TOWARZYSTWA SPOŁECZNYCH DZIAŁAŃ NA RZECZ DZIECI I MŁODZIEŻY "RAZEM W PRZYSZŁOŚĆ" W NAMYSŁOWIE</li>
        <li>NIEPUBLICZNA BRANŻOWA SZKOŁA I STOPNIA SPECJALNA DLA UCZNIÓW NIEDOSTOSOWANYCH SPOŁECZNIE TOWARZYSTWA SPOŁECZNYCH DZIAŁAŃ NA RZECZ DZIECI I MŁODZIEŻY "RAZEM W PRZYSZŁOŚĆ" W NAMYSŁOWIE</li>
        <li>NIEPUBLICZNA SZKOŁA POLICEALNA W NAMYSŁOWIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "ELEMENTARZ PRZYJAZNY RODZINIE" W NAMYSŁOWIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "RODZINNY KLUB SŁONECZKO"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "ZIARENKO"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE DELFINEK W NAMYSŁOWIE</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I ST. IM. ANDRZEJA KURYLEWICZA W NAMYSŁOWIE</li>
        <li>PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA W NAMYSŁOWIE</li>
        <li>PRYWATNE LICEUM OGÓLNOKSZTAŁCĄCYCH DLA DOROSŁYCH W NAMYSŁOWIE</li>
        <li>PRZEDSZKOLE INTEGRACYJNE W NAMYSŁOWIE</li>
        <li>PRZEDSZKOLE NR 1 W NAMYSŁOWIE</li>
        <li>PRZEDSZKOLE NR 3 W NAMYSŁOWIE</li>
        <li>PRZEDSZKOLE NR 4 W NAMYSŁOWIE</li>
        <li>PRZEDSZKOLE NR 5 W NAMYSŁOWIE</li>
        <li>PUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>ROLNICZE CENTRUM KSZTAŁCENIA USTAWICZNEGO W NAMYSŁOWIE</li>
        <li>SPECJALNA BRANŻOWA SZKOŁA I STOPNIA PRZY ZESPOLE SZKÓŁ SPECJALNYCH IM ADAMA MICIEWICZA W NAMYSŁOWIE</li>
        <li>SZKOŁA PODSTAWOWA DLA DOROSŁYCH</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. SZARYCH SZEREGÓW W NAMYSŁOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 2 Z ODDZIAŁAMI DWUJĘZYCZNYMI IM.MARII SKŁODOWSKIEJ-CURIE W NAMYSŁOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. BOLESŁAWA PRUSA W NAMYSŁOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 4 Z ODDZIAŁAMI INTEGRACYJNYMI IM. WŁADYSŁAWA STANISŁAWA REYMONTA W NAMYSŁOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 5 IM. ŚWIĘTEGO JANA PAWŁA II W NAMYSŁOWIE</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA PRZY ZESPOLE SZKÓŁ SPECIALNYCH IM ADAMA MICIKEWICZA W NAMYSŁOWIE</li>
        <li>SZKOŁA POLICEALNA W NAMYSŁOWIE</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSOBIAJĄCA DO PRACY W ZESPOLE SZKÓŁ SPECJALNYCH IM. ADAMA MICKIEWICZA W NAMYSŁOWIE</li>
        <li>TECHNIKUM NR 1 W ZESPOLE SZKÓŁ MECHANICZNYCH W NAMYSŁOWIE IM. "ŻOŁNIERZY WRZEŚNIA 1939 ROKU"</li>
        <li>TECHNIKUM NR 2 W ZESPOLE SZKÓŁ ROLNICZYCH IM TADEUSZA KOŚCIUSZKI W NAMYSŁOWIE</li>
        <li>ZESPÓŁ SZKÓŁ MECHANICZNYCH W NAMYSŁOWIE IM. "ŻOŁNIERZY WRZEŚNIA 1939 ROKU"</li>
        <li>ZESPÓŁ SZKÓŁ ROLNICZYCH IM. TADEUSZA KOŚCIUSZKI W NAMYSŁOWIE</li>
        <li>ZESPÓŁ SZKÓŁ SPECJALNYCH IM. ADAMA MICKIEWICZA W NAMYSŁOWIE</li>

    </ul>
    <a href="OPOLSKIE.html">Back to Cities in OPOLSKIE</a>
</body>
</html>
