
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Lipniki</title>
</head>
<body>
    <h1>Schools in Lipniki</h1>
    <ul>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA ZESPOŁU SZKOLNO-PRZEDSZKOLNEGO STOWARZYSZENIA NA RZECZ ROZWOJU WSI LIPNIKI</li>
        <li>PUBLICZNY ZESPÓŁ SZKOLNO-PRZEDSZKOLNY STOWARZYSZENIA NA RZECZ ROZWOJU WSI LIPNIKI</li>

    </ul>
    <a href="OPOLSKIE.html">Back to Cities in OPOLSKIE</a>
</body>
</html>
