
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Niemodlin</title>
</head>
<body>
    <h1>Schools in Niemodlin</h1>
    <ul>
        <li>BB-GABINET KOSMETOLOGII BARBARA BARTECKA</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA ZESPOŁU SZKÓŁ IM. BOLESŁAWA CHROBREGO W NIEMODLINIE</li>
        <li>NIEPUBLICZNE TATUSIOWE PRZEDSZKOLE</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY DINOLANDIA</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W NIEMODLINIE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE ARTYSTYCZNO - JĘZYKOWE "DINOLANDIA" W NIEMODLINIE</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 2 W NIEMODLINIE</li>
        <li>PUBLICZNA BRANŻOWA SZKOŁA I STOPNIA ZESPOŁU SZKÓŁ IM. BOLESŁAWA CHROBREGO W NIEMODLINIE</li>
        <li>PUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE ZESPOŁU SZKÓŁ IM. BOLESŁAWA CHROBREGO W NIEMODLINIE</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 1 "BAJKA" W NIEMODLINIE</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. JANUSZA KORCZAKA W NIEMODLINIE</li>
        <li>SZKOŁA PODSTAWOWA ZESPOŁU SZKÓŁ IM. BOLESŁAWA CHROBREGO W NIEMODLINIE</li>
        <li>ZESPÓŁ SZKÓŁ IM. BOLESŁAWA CHROBREGO W NIEMODLINIE</li>

    </ul>
    <a href="OPOLSKIE.html">Back to Cities in OPOLSKIE</a>
</body>
</html>
