
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Gościęcin</title>
</head>
<body>
    <h1>Schools in Gościęcin</h1>
    <ul>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA I.M KSIĘDZA JÓZEFA SZAFRANKA W GOŚCIĘCINIE</li>
        <li>PUBLICZNE PRZEDSZKOLE W GOŚCIĘCINIE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W GOŚCIĘCINIE</li>

    </ul>
    <a href="OPOLSKIE.html">Back to Cities in OPOLSKIE</a>
</body>
</html>
