
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Grądy</title>
</head>
<body>
    <h1>Schools in Grądy</h1>
    <ul>
        <li>PUBLICZNE PRZEDSZKOLE W GRĄDACH</li>
        <li>SZKOŁA PODSTAWOWA W GRĄDACH</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY, SZKOŁA PODSTAWOWA, PUBLICZNE PRZEDSZKOLE W GRĄDACH</li>

    </ul>
    <a href="OPOLSKIE.html">Back to Cities in OPOLSKIE</a>
</body>
</html>
