
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Błotnica Strzelecka</title>
</head>
<body>
    <h1>Schools in Błotnica Strzelecka</h1>
    <ul>
        <li>PRZEDSZKOLE PUBLICZNE W BŁOTNICY STRZELECKIEJ</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA W BŁOTNICY STRZELECKIEJ</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH W BŁOTNICY STRZELECKIEJ</li>

    </ul>
    <a href="OPOLSKIE.html">Back to Cities in OPOLSKIE</a>
</body>
</html>
