
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Złotniki</title>
</head>
<body>
    <h1>Schools in Złotniki</h1>
    <ul>
        <li>PRZEDSZKOLE PUBLICZNE W ZŁOTNIKACH</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA W ZŁOTNIKACH</li>
        <li>ZESPÓL SZKOLNO-PRZEDSZKOLNY IM. PISARZY ŚLĄSKICH W ZŁOTNIKACH</li>

    </ul>
    <a href="OPOLSKIE.html">Back to Cities in OPOLSKIE</a>
</body>
</html>
