
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Jasienica Dolna</title>
</head>
<body>
    <h1>Schools in Jasienica Dolna</h1>
    <ul>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA W JASIENICY DOLNEJ</li>
        <li>PUBLICZNE PRZEDSZKOLE W JASIENICY DOLNEJ</li>
        <li>ZESPÓŁ SZKOLNO - PRZEDSZKOLNY W JASIENICY DOLNEJ</li>

    </ul>
    <a href="OPOLSKIE.html">Back to Cities in OPOLSKIE</a>
</body>
</html>
