
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Gosławice</title>
</head>
<body>
    <h1>Schools in Gosławice</h1>
    <ul>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY PRZEDSZKOLE W GOSŁAWICACH</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY SZKOŁA PODSTAWOWA W GOSŁAWICACH</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W GOSŁAWICACH</li>

    </ul>
    <a href="OPOLSKIE.html">Back to Cities in OPOLSKIE</a>
</body>
</html>
