
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Kietrz</title>
</head>
<body>
    <h1>Schools in Kietrz</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. CYPRIANA KAMILA NORWIDA W KIETRZU</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA W KIETRZU IM. JANA PAWŁA II UL. GŁOWACKIEGO 37 48 - 130 KIETRZ</li>
        <li>PUBLICZNE PRZEDSZKOLEW KIETRZU UL.GŁOWACKIEGO 37 48 - 130 KIETRZ</li>
        <li>ZESPÓŁ SZKÓŁ W KIETRZU</li>

    </ul>
    <a href="OPOLSKIE.html">Back to Cities in OPOLSKIE</a>
</body>
</html>
