
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Kórnica</title>
</head>
<body>
    <h1>Schools in Kórnica</h1>
    <ul>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W KÓRNICY</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W KÓRNICY PRZEDSZKOLE PUBLICZNE W KÓRNICY</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W KÓRNICY PUBLICZNA SZKOŁA PODSTAWOWA W KÓRNICY</li>

    </ul>
    <a href="OPOLSKIE.html">Back to Cities in OPOLSKIE</a>
</body>
</html>
