
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Stobrawa</title>
</head>
<body>
    <h1>Schools in Stobrawa</h1>
    <ul>
        <li>NIEPUBLICZNA BRANŻOWA SZKOŁA I STOPNIA SPECJALNA DLA UCZNIÓW NIEDOSTOSOWANYCH SPOŁECZNIE TOWARZYSTWA SPOŁECZNYCH DZIAŁAŃ NA RZECZ DZIECI I MŁODZIEŻY „RAZEM W PRZYSZŁOŚĆ”</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA DLA UCZNIÓW NIEDOSTOSOWANYCH SPOŁECZNIE TOWARZYSTWA "RAZEM W PRZYSZŁOŚĆ" W STOBRAWIE</li>
        <li>NIEPUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE SPECJALNE DLA UCZNIÓW NIEDOSTOSOWANYCH SPOŁECZNIE TOWARZYSTWA SPOŁECZNYCH DZIAŁAŃ NA RZECZ DZIECI I MŁODZIEŻY "RAZEM W PRZYSZŁOŚĆ" W STOBRAWIE</li>
        <li>NIEPUBLICZNY MŁODZIEŻOWY OŚRODEK WYCHOWAWCZY TOWARZYSTAWA SPOŁECZNYCH DZIAŁAŃ NA RZECZ DZIECI I MŁODZIEŻY "RAZEM W PRZYSZŁOŚĆ" W STOBRAWIE</li>

    </ul>
    <a href="OPOLSKIE.html">Back to Cities in OPOLSKIE</a>
</body>
</html>
