
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Jarnołtów</title>
</head>
<body>
    <h1>Schools in Jarnołtów</h1>
    <ul>
        <li>PUBLICZNE PRZEDSZKOLE W JARNOŁTOWIE</li>
        <li>SZKOŁA PODSTAWOWA W JARNOŁTOWIE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY SZKOŁA PODSTAWOWA IM. BOLESŁAWA CHROBREGO PUBLICZNE PRZEDSZKOLE W JARNOŁTOWIE</li>

    </ul>
    <a href="OPOLSKIE.html">Back to Cities in OPOLSKIE</a>
</body>
</html>
