
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Leśnica</title>
</head>
<body>
    <h1>Schools in Leśnica</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA SPECJALNA I STOPNIA NR 1 W LEŚNICY</li>
        <li>BRANŻOWA SZKOŁA SPECJALNA I STOPNIA NR 2 W LEŚNICY</li>
        <li>KATOLICKI PUNKT PRZEDSZKOLNY "OCHRONKA" IM. BŁ. EDMUNDA BOJANOWSKIEGO</li>
        <li>MŁODZIEŻOWY OŚRODEK WYCHOWAWCZY W LEŚNICY</li>
        <li>PUBLICZNA SZKOŁA MUZYCZNA I STOPNIA</li>
        <li>PUBLICZNE PRZEDSZKOLE IM.BRACI GRIMM W LEŚNICY</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY W LEŚNICY IM. MARII KONOPNICKIEJ</li>
        <li>SZKOŁA PODSTAWOWA IM.OBROŃCÓW GÓRY CHEŁMSKIEJ</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 1 W LEŚNICY</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 2 W LEŚNICY</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W LEŚNICY</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH W LEŚNICY</li>

    </ul>
    <a href="OPOLSKIE.html">Back to Cities in OPOLSKIE</a>
</body>
</html>
