
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Paczków</title>
</head>
<body>
    <h1>Schools in Paczków</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W PACZKOWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W PACZKOWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. KOMISJI EDUKACJI NARODOWEJ W PACZKOWIE</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 1 W PACZKOWIE</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 2 W PACZKOWIE</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 3 W PACZKOWIE</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 2 W PACZKOWIE</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 3 W PACZKOWIE</li>
        <li>TECHNIKUM W PACZKOWIE</li>
        <li>ZESPÓŁ SZKÓŁ W PACZKOWIE</li>

    </ul>
    <a href="OPOLSKIE.html">Back to Cities in OPOLSKIE</a>
</body>
</html>
