
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Lubsza</title>
</head>
<body>
    <h1>Schools in Lubsza</h1>
    <ul>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA IM. JANA PAWŁA II W LUBSZY. SZKOLE JEST PODPORZĄDKOWANA ORGANIZACYJNIE SZKOŁA FILIALNA IM. MARII SKŁODOWSKIEJ-CURIE W DOBRZYNIU</li>
        <li>PUBLICZNE PRZEDSZKOLE W LUBSZY</li>

    </ul>
    <a href="OPOLSKIE.html">Back to Cities in OPOLSKIE</a>
</body>
</html>
