
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Bogdańczowice</title>
</head>
<body>
    <h1>Schools in Bogdańczowice</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W BOGDAŃCZOWICACH</li>
        <li>ROLNICZE CENTRUM KSZTAŁCENIA USTAWICZNEGO W BOGDAŃCZOWICACH</li>
        <li>SZKOŁA POLICEALNA W BOGDAŃCZOWICACH</li>
        <li>TECHNIKUM W BOGDAŃCZOWICACH</li>
        <li>ZESPÓŁ SZKÓŁ CENTRUM KSZTAŁCENIA ROLNICZEGO IM. KS. DR. JANA DZIERŻONA W BOGDAŃCZOWICACH</li>

    </ul>
    <a href="OPOLSKIE.html">Back to Cities in OPOLSKIE</a>
</body>
</html>
