
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Gronowice</title>
</head>
<body>
    <h1>Schools in Gronowice</h1>
    <ul>
        <li>ZESPÓŁ SZKOLNO - PRZEDSZKOLNY W CHOCIANOWICACH PRZEDSZKOLE SAMORZĄDOWE W GRONOWICACH</li>
        <li>ZESPÓŁ SZKOLNO - PRZEDSZKOLNY W CHOCIANOWICACH SZKOŁA PODSTAWOWA W GRONOWICACH</li>

    </ul>
    <a href="OPOLSKIE.html">Back to Cities in OPOLSKIE</a>
</body>
</html>
