
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Chróścina</title>
</head>
<body>
    <h1>Schools in Chróścina</h1>
    <ul>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA IM. GUSTAWA MORCINKA W CHRÓŚCINIE</li>
        <li>PUBLICZNE PRZEDSZKOLE W CHRÓŚCINIE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY PRZEDSZKOLE W CHRÓŚCINIE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY SZKOŁA PODSTAWOWA IM. ARKI BOŻKA W CHRÓŚCINIE W CHRÓŚCINIE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W CHRÓŚCINIE</li>

    </ul>
    <a href="OPOLSKIE.html">Back to Cities in OPOLSKIE</a>
</body>
</html>
