
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Kiernozia</title>
</head>
<body>
    <h1>Schools in Kiernozia</h1>
    <ul>
        <li>MŁODZIEŻOWY OŚRODEK SOCJOTERAPII W KIERNOZI</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE W KIERNOZI</li>
        <li>SZKOŁA PODSTAWOWA IM. T. KOŚCIUSZKI W KIERNOZI</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA W MŁODZIEŻOWYM OŚRODKU SOCJOTERAPII W KIERNOZI</li>

    </ul>
    <a href="ŁÓDZKIE.html">Back to Cities in ŁÓDZKIE</a>
</body>
</html>
