
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Skierniewice</title>
</head>
<body>
    <h1>Schools in Skierniewice</h1>
    <ul>
        <li>AKADEMIA MAŁEGO PRZEDSZKOLAKA "PLASTUŚ"</li>
        <li>BIBLIOTEKA PEDAGOGICZNA W SKIERNIEWICACH</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA</li>
        <li>BURSA KOEDUKACYJNA W SKIERNIEWICACH</li>
        <li>CENTRUM EDUKACJI "MILENIUM"</li>
        <li>CENTRUM KSZTAŁCENIA "PRO-EDU"</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO</li>
        <li>CENTRUM ROZWOJU EDUKACJI WOJEWÓDZTWA ŁÓDZKIEGO W SKIERNIEWICACH</li>
        <li>COSINUS OGÓLNOPOLSKI OŚRODEK SZKOLEŃ I ROZWOJU W SKIERNIEWICACH</li>
        <li>INTEGRACYJNE LICEUM OGÓLNOKSZTAŁCĄCE W SKIERNIEWICACH</li>
        <li>KLASYCZNE LICEUM OGÓLNOKSZTAŁCĄCE IM. KS. STANISŁAWA KONARSKIEGO W SKIERNIEWICACH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH "ŻAK"</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. BOLESŁAWA PRUSA W SKIERNIEWICACH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. JANA PAWŁA II W SKIERNIEWICACH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. PPŁK. ROMUALDA SULIŃSKIEGO</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. WISŁAWY SZYMBORSKIEJ</li>
        <li>MOJA EKOLANDIA</li>
        <li>NIEPUBLICZNA PLACÓWKA OŚWIATOWO-WYCHOWAWCZA GIGANCI PROGRAMOWANIA</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA</li>
        <li>NIEPUBLICZNA SZKOŁA BALETOWA SZKOŁA SZTUKI TAŃCA ART STATION W SKIERNIEWICACH</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA "ŹRÓDŁA" IM. ŚW. STANISŁAWA KOSTKI W SKIERNIEWICACH</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA NOVUM W SKIERNIEWICACH</li>
        <li>NIEPUBLICZNE LICEUM SZTUK PLASTYCZNYCH COSINUS W SKIERNIEWICACH</li>
        <li>NIEPUBLICZNY OŚRODEK DOKSZTAŁCANIA I DOSKONALENIA ZAWODOWEGO "STS SECURITY TACTICAL SERVICE" W SKIERNIEWICACH</li>
        <li>OŚRODEK KSZTAŁCENIA ZAWODOWEGO NR 11</li>
        <li>OŚRODEK REWALIDACYJNO-WYCHOWAWCZY</li>
        <li>OŚRODEK SZKOLENIOWY CENTRUM NAUKI I BIZNESU "ŻAK" W SKIERNIEWICACH</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I ST. IM. FRYDERYKA CHOPINA W SKIERNIEWICACH</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W SKIERNIEWICACH</li>
        <li>POWIATOWA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W SKIERNIEWICACH</li>
        <li>PRZEDSZKOLE MAŁYCH ODKRYWCÓW</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "ABRAKADABRA" MAGIA ZABAWY</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "BAJKOWA KRAINA"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "BARTEK"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE DIECEZJI ŁOWICKIEJ IM. ŚWIĘTEJ RODZINY W SKIERNIEWICACH</li>
        <li>PRZEDSZKOLE NR 1 W SKIERNIEWICACH</li>
        <li>PRZEDSZKOLE NR 10 W SKIERNIEWICACH</li>
        <li>PRZEDSZKOLE NR 13 W SKIERNIEWICACH</li>
        <li>PRZEDSZKOLE NR 2 W SKIERNIEWICACH</li>
        <li>PRZEDSZKOLE NR 3 Z ODDZIAŁAMI INTEGRACYJNYMI W SKIERNIEWICACH</li>
        <li>PRZEDSZKOLE NR 4 W SKIERNIEWICACH</li>
        <li>PRZEDSZKOLE NR 5 W SKIERNIEWICACH</li>
        <li>PRZEDSZKOLE NR 8 "ZIELONY ZAKĄTEK" W SKIERNIEWICACH</li>
        <li>PRZEDSZKOLE SPOŁECZNE</li>
        <li>PUBLICZNA SZKOŁA POLICEALNA COSINUS W SKIERNIEWICACH</li>
        <li>SAMORZĄDOWA SZKOŁA MUZYCZNA II ST. W SKIERNIEWICACH</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY IM. JANUSZA KORCZAKA W SKIERNIEWICACH</li>
        <li>SPOŁECZNE LICEUM OGÓLNOKSZTAŁCĄCE "MILENIUM"</li>
        <li>SZKOŁA PODSTAWOWA IM. KS. STANISŁAWA KONARSKIEGO W SKIERNIEWICACH</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. HENRYKA SIENKIEWICZA W SKIERNIEWICACH</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. TADEUSZA KOŚCIUSZKI W SKIERNIEWCACH</li>
        <li>SZKOŁA PODSTAWOWA NR 4 IM. MARII SKŁODOWSKIEJ-CURIE W SKIERNIEWICACH</li>
        <li>SZKOŁA PODSTAWOWA NR 5 IM. JANA PAWŁA II W SKIERNIEWICACH</li>
        <li>SZKOŁA PODSTAWOWA NR 7 IM. KORNELA MAKUSZYŃSKIEGO W SKIERNIEWICACH</li>
        <li>SZKOŁA PODSTAWOWA NR 9 IM. MARII GRZEGORZEWSKIEJ W SKIERNIEWICACH</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA</li>
        <li>SZKOŁA POLICEALNA</li>
        <li>SZKOŁA POLICEALNA "COSINUS PLUS" W SKIERNIEWICACH</li>
        <li>SZKOŁA POLICEALNA ADMINISTRACJI "ŻAK"</li>
        <li>SZKOŁA POLICEALNA CENTRUM NAUKI I BIZNESU "ŻAK" W SKIERNIEWICACH</li>
        <li>SZKOŁA POLICEALNA KOSMETYKI "ŻAK"</li>
        <li>SZKOŁA POLICEALNA OPIEKI MEDYCZNEJ "ŻAK" W SKIERNIEWICACH</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY</li>
        <li>TECHNIKUM</li>
        <li>TECHNIKUM</li>
        <li>TECHNIKUM IM. PPŁK. ROMUALDA SULIŃSKIEGO</li>
        <li>TECHNIKUM IM. WISŁAWY SZYMBORSKIEJ</li>
        <li>TERAPEUTYCZNY PUNKT PRZEDSZKOLNY "GARNIZONKI BIS"</li>
        <li>TERAPEUTYCZNY PUNKT PRZEDSZKOLNY "GARNIZONKI"</li>
        <li>WOJEWÓDZKI OŚRODEK DOSKONALENIA NAUCZYCIELI W SKIERNIEWICACH</li>
        <li>ZAOCZNE LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH "COSINUS PLUS"W SKIERNIEWICACH</li>
        <li>ZESPÓŁ SPORTOWYCH SZKÓŁ OGÓLNOKSZTAŁCĄCYCH IM. JANA PAWŁA II W SKIERNIEWICACH</li>
        <li>ZESPÓŁ SZKÓŁ IM. KS. STANISŁAWA KONARSKIEGO W SKIERNIEWICACH</li>
        <li>ZESPÓŁ SZKÓŁ NR 3 W SKIERNIEWICACH</li>
        <li>ZESPÓŁ SZKÓŁ NR 4 W SKIERNIEWICACH</li>
        <li>ZESPÓŁ SZKÓŁ ZAWODOWYCH NR 1 IM. MARSZAŁKA JÓZEFA PIŁSUDSKIEGO W SKIERNIEWICACH</li>
        <li>ZESPÓŁ SZKÓŁ ZAWODOWYCH NR 2 IM. CHOR. J. PACZKOWSKIEGO W SKIERNIEWICACH</li>

    </ul>
    <a href="ŁÓDZKIE.html">Back to Cities in ŁÓDZKIE</a>
</body>
</html>
