
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Piątek</title>
</head>
<body>
    <h1>Schools in Piątek</h1>
    <ul>
        <li>GMINNE PRZEDSZKOLE IM. JANA PAWŁA II W PIĄTKU</li>
        <li>INTERNAT W ZESPOLE SZKÓŁ MECHANIZACJI ROLNICTWA W PIĄTKU</li>
        <li>SZKOŁA PODSTAWOWA IM. MARSZAŁKA JÓZEFA PIŁSUDSKIEGO W PIĄTKU</li>
        <li>ZESPÓŁ SZKÓŁ MECHANIZACJI ROLNICTWA IM. BOHATERÓW WALK NAD BZURĄ W PIĄTKU</li>
        <li>ZESPÓŁ SZKÓŁ MECHANIZACJI ROLNICTWA IM. BOHATERÓW WALK NAD BZURĄ W PIĄTKU BRANŻOWA SZKOŁA I STOPNIA W PIĄTKU</li>
        <li>ZESPÓŁ SZKÓŁ MECHANIZACJI ROLNICTWA IM. BOHATERÓW WALK NAD BZURĄ W PIĄTKU CENTRUM KSZTAŁCENIA ZAWODOWEGO W PIĄTKU</li>
        <li>ZESPÓŁ SZKÓŁ MECHANIZACJI ROLNICTWA IM. BOHATERÓW WALK NAD BZURĄ W PIĄTKU TECHNIKUM W PIĄTKU</li>

    </ul>
    <a href="ŁÓDZKIE.html">Back to Cities in ŁÓDZKIE</a>
</body>
</html>
