
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Trębaczew</title>
</head>
<body>
    <h1>Schools in Trębaczew</h1>
    <ul>
        <li>PRZEDSZKOLE W TRĘBACZEWIE</li>
        <li>PUBLICZNE PRZEDSZKOLE IM. JASIA I MAŁGOSI W TRĘBACZEWIE</li>
        <li>SZKOŁA PODSTAWOWA IM. KS. JANA TWARDOWSKIEGO W TRĘBACZEWIE</li>
        <li>SZKOŁA PODSTAWOWA W TRĘBACZEWIE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W TRĘBACZEWIE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W TRĘBACZEWIE</li>

    </ul>
    <a href="ŁÓDZKIE.html">Back to Cities in ŁÓDZKIE</a>
</body>
</html>
