
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Mokrsko</title>
</head>
<body>
    <h1>Schools in Mokrsko</h1>
    <ul>
        <li>PRZEDSZKOLE W CHOTOWIE</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA W MOKRSKU</li>
        <li>PUBLICZNE PRZEDSZKOLE W MOKRSKU</li>
        <li>ZESPÓŁ SZKOŁY I PRZEDSZKOLA W MOKRSKU</li>

    </ul>
    <a href="ŁÓDZKIE.html">Back to Cities in ŁÓDZKIE</a>
</body>
</html>
