
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Chojny</title>
</head>
<body>
    <h1>Schools in Chojny</h1>
    <ul>
        <li>KATOLICKA SZKOŁA PODSTAWOWA STOWARZYSZENIA PRZYJACIÓŁ SZKÓŁ KATOLICKICH IM. JANA PAWŁA II W CHOJNACH</li>
        <li>PRZEDSZKOLE STOWARZYSZENIA PRZYJACIÓŁ SZKÓŁ KATOLICKICH W CHOJNACH</li>

    </ul>
    <a href="ŁÓDZKIE.html">Back to Cities in ŁÓDZKIE</a>
</body>
</html>
