
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Ksawerów</title>
</head>
<body>
    <h1>Schools in Ksawerów</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W WIDZEWIE</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA W WIDZEWIE</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO W WIDZEWIE</li>
        <li>E-MALUCH</li>
        <li>GMINNE PRZEDSZKOLE W WIDZEWIE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE WIDZIMISIE</li>
        <li>PRZEDSZKOLE ZGROMADZENIA SIÓSTR KARMELITANEK DZIECIĄTKA JEZUS</li>
        <li>SZKOŁA PODSTAWOWA IM. DR HENRYKA JORDANA W KSAWEROWIE</li>
        <li>TECHNIKUM W WIDZEWIE</li>
        <li>ZESPÓŁ SZKÓŁ CENTRUM KSZTAŁCENIA ROLNICZEGO IM. MJR. PIL. WŁADYSŁAWA SZCZEŚNIEWSKIEGO W WIDZEWIE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W KSAWEROWIE</li>

    </ul>
    <a href="ŁÓDZKIE.html">Back to Cities in ŁÓDZKIE</a>
</body>
</html>
