
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Góra Świętej Małgorzaty</title>
</head>
<body>
    <h1>Schools in Góra Świętej Małgorzaty</h1>
    <ul>
        <li>GMINNE PRZEDSZKOLE IM. JANA BRZECHWY W GÓRZE ŚWIĘTEJ MAŁGORZATY</li>
        <li>SZKOŁA PODSTAWOWA IM.JANA PAWŁA II W GÓRZE ŚWIĘTEJ MAŁGORZATY</li>

    </ul>
    <a href="ŁÓDZKIE.html">Back to Cities in ŁÓDZKIE</a>
</body>
</html>
