
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Gorzkowice</title>
</head>
<body>
    <h1>Schools in Gorzkowice</h1>
    <ul>
        <li>NIEPUBLICZNE PRZEDSZKOLE ARTYSTYCZNE ,, ŚWIAT BAJEK"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE AKADEMIA MYSZKI MIKI</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE CHATKA PUCHATKA</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE W GORZKOWICACH</li>
        <li>PUBLICZNA SZKOŁA POLICEALNA W GORZKOWICACH</li>
        <li>PUBLICZNE ZAOCZNE LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W GORZKOWICACH</li>
        <li>SZKOŁA PODSTAWOWA IM. HENRYKA SIENKIEWICZA W GORZKOWICACH</li>
        <li>ZESPÓŁ SZKÓŁ POLICEALNYCH I OGÓLNOKSZTAŁCĄCYCH W GORZKOWICACH</li>

    </ul>
    <a href="ŁÓDZKIE.html">Back to Cities in ŁÓDZKIE</a>
</body>
</html>
