
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Bedoń-Wieś</title>
</head>
<body>
    <h1>Schools in Bedoń-Wieś</h1>
    <ul>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY IM.JANA PAWŁA II</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY IM.JANA PAWŁA II - PRZEDSZKOLE SAMORZĄDOWE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY IM.JANA PAWŁA II - SZKOŁA PODSTAWOWA</li>

    </ul>
    <a href="ŁÓDZKIE.html">Back to Cities in ŁÓDZKIE</a>
</body>
</html>
