
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Łask</title>
</head>
<body>
    <h1>Schools in Łask</h1>
    <ul>
        <li>BIBLIOTEKA PEDAGOGICZNA W SIERADZU FILIA W ŁASKU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 1 W ZESPOLE SZKÓŁ PONADPODSTAWOWYCH NR 1 W ŁASKU</li>
        <li>BRANŻOWA SZKOŁA SPECJALNA I STOPNIA NR 3 W ŁASKU</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE IM. TADEUSZA KOŚCIUSZKI W ŁASKU</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE W ŁASKU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE SPECJALNE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W ZESPOLE SZKÓŁ OGÓLNOKSZTAŁCĄCYCH IM. IGNACEGO JANA PADEREWSKIEGO W ŁASKU - KOLUMNIE</li>
        <li>LIGA OBRONY KRAJU OŚRODEK KSZTAŁCENIA POZASZKOLNEGO W ŁASKU</li>
        <li>MIĘDZYSZKOLNY OŚRODEK SPORTOWY W ŁASKU</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "DZIECIAK PLUS"</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY "PTYŚ"</li>
        <li>OŚRODEK KSZTAŁCENIA USTAWICZNEGO "AMARAN"</li>
        <li>OŚRODEK KSZTAŁCENIA ZAWODOWEGO - CECH RZEMIOSŁ IM. JANA ŁASKIEGO W ŁASKU</li>
        <li>PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA W ŁASKU</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 1 W ŁASKU</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 3 IM. "MISIACZEK" W ŁASKU</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 4 IM. "LEŚNE SKRZATY" W ŁASKU</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 5 IM. JULIANA TUWIMA W ŁASKU</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 6 IM. "SŁONECZKO" W ŁASKU</li>
        <li>PRZEDSZKOLE SPECJALNE NR 7 W SPECJALNYM OŚRODKU SZKOLNO - WYCHOWAWCZYM W ŁASKU</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY IM. PRYMASA JANA ŁASKIEGO W ŁASKU</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. TADEUSZA KOŚCIUSZKI W ŁASKU</li>
        <li>SZKOŁA PODSTAWOWA NR 4 W ZESPOLE SZKÓŁ OGÓLNOKSZTAŁCĄCYCH IM. IGNACEGO JANA PADEREWSKIEGO W ŁASKU - KOLUMNIE</li>
        <li>SZKOŁA PODSTAWOWA NR 5 IM. MIKOŁAJA KOPERNIKA W ŁASKU</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 6 W ŁASKU</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W ŁASKU</li>
        <li>TECHNIKUM NR 1 W ZESPOLE SZKÓŁ PONADPODSTAWOWYCH NR 1 W ŁASKU</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH IM. IGNACEGO JANA PADEREWSKIEGO W ŁASKU - KOLUMNIE</li>
        <li>ZESPÓŁ SZKÓŁ PONADPODSTAWOWYCH NR 1 W ŁASKU</li>

    </ul>
    <a href="ŁÓDZKIE.html">Back to Cities in ŁÓDZKIE</a>
</body>
</html>
