
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Łódź-Polesie</title>
</head>
<body>
    <h1>Schools in Łódź-Polesie</h1>
    <ul>
        <li>"KODEKS" BIURO USŁUG PRAWNYCH I SZKOLENIA</li>
        <li>"SEKA" SPÓŁKA AKCYJNA</li>
        <li>"WIEDZA" WOJEWÓDZKI OŚRODEK KSZTAŁCENIA ZAWODOWEGO I JĘZYKÓW OBCYCH</li>
        <li>AKADEMIA MALUCHA</li>
        <li>AKADEMICKI OŚRODEK KSZTAŁCENIA</li>
        <li>AKADEMICKIE LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>BPR CONSULTING PAULINA RYDZ</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 19 IM. KAROLA WOJTYŁY W CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA ZAKŁADU DOSKONALENIA ZAWODOWEGO W ŁODZI</li>
        <li>CENTRUM EDUKACJI SPOŁECZNEJ</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO "IMPULS" PRZY OŚRODKU ODNOWY BIOLOGICZNEJ "IMPULS" S.C.</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO IM. EWARYSTA ESTKOWSKIEGO W CENTRUM KSZTACENIA ZAWODOWEGO I USTAWICZNEGO</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO</li>
        <li>CENTRUM SZKOLEŃ WINNER S.C. ANNA GRABOWICZ, ANNA KRASIŃSKA</li>
        <li>CENTRUM SZKOLENIOWE SŁUŻB OCHRONY "DELTA" DANUTA PAPIERSKA</li>
        <li>CENTRUM SZKOLENIOWO-KURSOWE DOSKONALENIA ZAWODOWEGO "OMNIBUS"</li>
        <li>CENTRUM ZAJĘĆ POZASZKOLNYCH NR 2. FILIA NR 1. MOTODROM</li>
        <li>CHRZEŚCIJAŃSKIE PRZEDSZKOLE "JONASZEK" W ŁODZI</li>
        <li>DWUJĘZYCZNE PRZEDSZKOLE "MI MUNDO"</li>
        <li>ELITARNA SZKOŁA SŁUŻB OCHRONY "DELTA" W ŁODZI IM. MJR. LUCIENA VICTORA OTT</li>
        <li>EUROPEJSKIE CENTRUM EDUKACYJNE CERTYFIKAT</li>
        <li>FIZJOMED EDUKACJA</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE IM. MIKOŁAJA KOPERNIKA</li>
        <li>INSTYTUT MEDYCYNY MANUALNEJ - GABINETY TERAPII KRĘGOSŁUPA I NARZĄDU RUCHU EDWIN TOMASZ ROLL</li>
        <li>INTEGRACYJNA SZKOŁA PODSTAWOWA NR 67 IM. JANUSZA KORCZAKA</li>
        <li>JUNIOREDU NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA</li>
        <li>KURS INSTRUMENTALNY PRZY TOWARZYSTWIE OŚWIATOWYM EDUKACJA</li>
        <li>LEUTE ZENTRUM ŁUKASZ WÓJCIKOWSKI</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE "CENTRUM"</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W CENTRUM KSZTAŁCENIA USTAWICZNEGO IM. EWARYSTA ESTKOWSKIEGO W CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE STOWARZYSZENIA OŚWIATOWEGO IM. JOLANTY I JANA MISIAKÓW</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI DWUJĘZYCZNYMI IM. ŚW. IGNACEGO LOYOLI</li>
        <li>MŁODZIEŻOWY OŚRODEK SOCJOTERAPII NR 1</li>
        <li>NAZARET-SZKOŁA PODSTAWOWA</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO GO WORK.PL</li>
        <li>NIEPUBLICZNA SZKOŁA PRZYSPOSABIAJĄCA DO PRACY FUNDACJI Z ASPI-RACJAMI</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE ANIOŁKOWO ZŁOTNO</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE KALIMBA KATARZYNA KOŚKA</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE POLITECHNIKI ŁÓDZKIEJ</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE POMARAŃCZOWE</li>
        <li>NIEPUBLICZNY OŚRODEK DOSKONALENIA NAUCZYCIELI "NARZĘDZIOWNIA EDUKACYJNA"</li>
        <li>OŚRODEK DOSKONALENIA NAUCZYCIELI FUNDACJI INNOPOLIS</li>
        <li>OŚRODEK KSZTAŁCENIA ZAWODOWEGO NR 1 ZAKŁADU DOSKONALENIA ZAWODOWEGO W ŁODZI</li>
        <li>OŚRODEK KSZTAŁCENIA ZAWODOWEGO W RAWIE MAZOWIECKIEJ NR 20</li>
        <li>OŚRODEK SZKOLENIA KURSOWEGO "OMEGA"</li>
        <li>OŚRODEK SZKOLENIOWY I MONITORINGU JAKOŚCI</li>
        <li>POLICEALNA SZKOŁA MEDYCZNA</li>
        <li>POLSKI INSTYTUT ERICKSONOWSKI - CENTRUM KSZTAŁCENIA USTAWICZNEGO</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA NR 5</li>
        <li>PRYWATNA SZKOŁA JĘZYKÓW OBCYCH "SUCCESS"</li>
        <li>PRZEDSZKOLE IM.ŚWIĘTEJ URSZULI LEDÓCHOWSKIEJ ZGROMADZENIA SIÓSTR URSZULANEK SERCA JEZUSA KONAJĄCEGO</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 112</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 12</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 133</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 144</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 151</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 152</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 154</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 165</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 170</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 173</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 174</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 199</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 208</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 21</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 214 - Z ODDZIAŁAMI INTEGRACYJNYMI</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 23</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 236</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 53</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 55</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 56</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 74</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 8</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 98</li>
        <li>PRZEDSZKOLE MIEJSKIE NR41</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "AKUKU"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "KOLIBEREK"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE MISIOWO</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE MUZYCZNO-JĘZYKOWO-SPORTOWE "EKO-JUNIOR"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE PAPIEROWY WIATRACZEK</li>
        <li>PRZEDSZKOLE SPECJALNE DLA DZIECI Z AUTYZMEM W NAVICULA - CENTRUM</li>
        <li>PUBLICZNA POLICEALNA SZKOŁA KOSMETYCZNA</li>
        <li>PUBLICZNE PRZEDSZKOLE SEZAMKOWO</li>
        <li>PUNKT PRZEDSZKOLNY IM. ŚW. IGNACEGO LOYOLI</li>
        <li>PUNKT PRZEDSZKOLNY LINGWISTYCZNO-ARTYSTYCZNY "IGRASZKA"</li>
        <li>PUNKT PRZEDSZKOLNY MISIOWY ZAKĄTEK</li>
        <li>PUNKT PRZEDSZKOLNY OLIWKOWY GAJ</li>
        <li>RESTAN ŁUKASZ STAŃCZYK</li>
        <li>SŁONECZKO BEATA STEFAŃSKA</li>
        <li>SPECJALISTYCZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA DLA MŁODZIEŻY</li>
        <li>SPECJALISTYCZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA DORADZTWA ZAWODOWEGO I DLA DZIECI Z WADAMI ROZWOJOWYMI</li>
        <li>SPOŁECZNA SZKOŁA MUZYCZNA I ST. IM. WŁADYSŁAWA SZPILMANA W ŁODZI</li>
        <li>SPOŁECZNA SZKOŁA PODSTAWOWA IM. KSIĘCIA J. PONIATOWSKIEGO TOWARZYSTWA OŚWIATOWEGO "EDUKACJA" W ŁODZI</li>
        <li>SPOŁECZNE LICEUM OGÓLNOKSZTAŁCĄCE TOWARZYSTWA OŚWIATOWEGO "LYKEION"</li>
        <li>STUDIUM JĘZYKÓW OBCYCH M. WAWRZONEK I SPÓŁKA</li>
        <li>SZKOŁA "CENTRUM"</li>
        <li>SZKOŁA MISTRZOSTWA SPORTOWEGO LICEUM OGÓLNOKSZTAŁCĄCE MARCINA GORTATA</li>
        <li>SZKOŁA MUZYCZNA I ST. TOWARZYSTWA OŚWIATOWEGO EDUKACJA W ŁODZI</li>
        <li>SZKOŁA PODSTAWOWA DLA DOROSŁYCH W CENTRUM KSZTAŁCENIA USTAWICZNEGO IM. EWARYSTA ESTKOWSKIEGO W CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO</li>
        <li>SZKOŁA PODSTAWOWA ŁÓDZKIEGO STOWARZYSZENIA OŚWIATOWEGO</li>
        <li>SZKOŁA PODSTAWOWA MISTRZOSTWA SPORTOWEGO MARCINA GORTATA</li>
        <li>SZKOŁA PODSTAWOWA NR 11 IM. MARII KOWNACKIEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 137 IM. PROF. ALEKSANDRA KAMIŃSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 152 IM. ELIZY ORZESZKOWEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 160 IM. POWSTAŃCÓW ŚLĄSKICH</li>
        <li>SZKOŁA PODSTAWOWA NR 164 IM. ANDRZEJA FRYCZA MODRZEWSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 169 IM. MARII DĄBROWSKIEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 19 IM. WANDY CHOTOMSKIEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 192 IM. PROF. HELENY RADLIŃSKIEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 26 IM. ARMII "ŁÓDŹ"</li>
        <li>SZKOŁA PODSTAWOWA NR 36 IM. ZENONA WASILEWSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 40 IM. BOHATERÓW REWOLUCJI 1905 R.</li>
        <li>SZKOŁA PODSTAWOWA NR 41 IM. KRÓLA WŁADYSŁAWA JAGIEŁŁY</li>
        <li>SZKOŁA PODSTAWOWA NR 44 IM. PROF. JANA MOLLA</li>
        <li>SZKOŁA PODSTAWOWA NR 46 IM. JÓZEFA CHEŁMOŃSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 6 IM. SZARYCH SZEREGÓW</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 209</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 90</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA OŚRODKA TERAPEUTYCZNO-EDUKACYJNEGO DLA DZIECI I MŁODZIEŻY Z AUTYZMEM W NAVICULA - CENTRUM</li>
        <li>SZKOŁA PODSTAWOWA Z ODDZIAŁAMI DWUJĘZYCZNYMI IM. ŚW. IGNACEGO LOYOLI</li>
        <li>SZKOŁA POLICEALNA DLA DOROSŁYCH W CENTRUM KSZTAŁCENIA USTAWICZNEGO IM. EWARYSTA ESTKOWSKIEGO W CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO</li>
        <li>SZKOŁA POLICEALNA NR 1 W ZESPOLE SZKÓŁ EKONOMICZNO-TURYSTYCZNO-HOTELARSKICH IM. WŁADYSŁAWA GRABSKIEGO</li>
        <li>SZKOŁA POLICEALNA NR 19 W CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY OŚRODKA TERAPEUTYCZNO-EDUKACYJNEGO DLA DZIECI I MŁODZIEŻY Z AUTYZMEM W NAVICULA CENTRUM W ŁODZI</li>
        <li>SZKOLNE CENTRUM PROFILAKTYCZNO-WYCHOWAWCZE "CENTRUM" IM. ZYTY JARZĘBOWSKIEJ</li>
        <li>TECHNIKUM ADMINISTRACYJNO-USŁUGOWE</li>
        <li>TECHNIKUM NR 1 W ZESPOLE SZKÓŁ EKONOMICZNO-TURYSTYCZNO-HOTELARSKICH IM. WŁADYSŁAWA GRABSKIEGO</li>
        <li>TECHNIKUM NR 19 IM. KAROLA WOJTYŁY W CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO</li>
        <li>TERAPEUTYCZNY PUNKT PRZEDSZKOLNY FUNDACJI „LOREM"</li>
        <li>XVIII LICEUM OGÓLNOKSZTAŁCĄCE IM. JĘDRZEJA ŚNIADECKIEGO</li>
        <li>XXI LICEUM OGÓLNOKSZTAŁCĄCE IM. BOLESŁAWA PRUSA</li>
        <li>XXVI LICEUM OGÓLNOKSZTAŁCĄCE IM. KRZYSZTOFA KAMILA BACZYŃSKIEGO</li>
        <li>XXXIII LICEUM OGÓLNOKSZTAŁCĄCE IM. ARMII KRAJOWEJ</li>
        <li>XXXIV LICEUM OGÓLNOKSZTAŁCĄCE IM. KRZYSZTOFA KIEŚLOWSKIEGO</li>
        <li>ZESPÓŁ PRZEDSZKOLI MIEJSKICH NR 3</li>
        <li>ZESPÓŁ PRZEDSZKOLI MIEJSKICH NR 5</li>
        <li>ZESPÓŁ SZKÓŁ SPECJALNYCH NR 2</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 1</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 4</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 7</li>

    </ul>
    <a href="ŁÓDZKIE.html">Back to Cities in ŁÓDZKIE</a>
</body>
</html>
