
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Chróścin</title>
</head>
<body>
    <h1>Schools in Chróścin</h1>
    <ul>
        <li>ZESPÓŁ SZKÓŁ W CHRÓŚCINIE</li>
        <li>ZESPÓŁ SZKÓŁ W CHRÓŚCINIE PUBLICZNE PRZEDSZKOLE SAMORZĄDOWE W CHRÓŚCINIE</li>
        <li>ZESPÓŁ SZKÓŁ W CHRÓŚCINIE SZKOŁA PODSTAWOWA W CHRÓSCINIE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W CHRÓŚCINIE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W CHRÓŚCINIE PUBLICZNA SZKOŁA PODSTAWOWA W CHRÓŚCINIE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W CHRÓŚCINIE PUBLICZNE PRZEDSZKOLE W CHRÓŚCINIE</li>

    </ul>
    <a href="ŁÓDZKIE.html">Back to Cities in ŁÓDZKIE</a>
</body>
</html>
