
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Brudzewice-Kolonia</title>
</head>
<body>
    <h1>Schools in Brudzewice-Kolonia</h1>
    <ul>
        <li>SAMORZĄDOWE PRZEDSZKOLE W BRUDZEWICACH</li>
        <li>SZKOŁA PODSTAWOWA IM. JANA III SOBIESKIEGO W POŚWIĘTNEM UL. SZKOLNA 2A Z FILIA W BRUDZEWICACH</li>

    </ul>
    <a href="ŁÓDZKIE.html">Back to Cities in ŁÓDZKIE</a>
</body>
</html>
