
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Bolesławiec</title>
</head>
<body>
    <h1>Schools in Bolesławiec</h1>
    <ul>
        <li>PUBLICZNE PRZEDSZKOLE SAMORZĄDOWE W BOLESŁAWCU</li>
        <li>SZKOŁA PODSTAWOWA W BOLESŁAWCU IM. KORPUSU OCHRONY POGRANICZA</li>
        <li>ZESPÓŁ SZKÓŁ PUBLICZNYCH W BOLESŁAWCU</li>

    </ul>
    <a href="ŁÓDZKIE.html">Back to Cities in ŁÓDZKIE</a>
</body>
</html>
