
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Złoczew</title>
</head>
<body>
    <h1>Schools in Złoczew</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W ZŁOCZEWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. WOJCIECHA URBAŃSKIEGO W ZŁOCZEWIE</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY UŚMIECH AGNIESZKA JĘDRASZCZYK</li>
        <li>POWIATOWY ZESPÓŁ SZKÓŁ W ZŁOCZEWIE</li>
        <li>PUBLICZNE PRZEDSZKOLE W ZŁOCZEWIE</li>
        <li>SZKOŁA PODSTAWOWA IM. M. KOPERNIKA W ZŁOCZEWIE</li>
        <li>TECHNIKUM W ZŁOCZEWIE</li>
        <li>ZESPÓŁ SZKOLNO - PRZEDSZKOLNY W ZŁOCZEWIE</li>

    </ul>
    <a href="ŁÓDZKIE.html">Back to Cities in ŁÓDZKIE</a>
</body>
</html>
