
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Mroczków Gościnny</title>
</head>
<body>
    <h1>Schools in Mroczków Gościnny</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W MROCZKOWIE GOŚCINNYM</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA W MROCZKOWIE GOŚCINNYM</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO W MROCZKOWIE GOŚCINNYM</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W MROCZKOWIE GOŚCINNYM</li>
        <li>POWIATOWE CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO W MROCZKOWIE GOŚCINNYM</li>
        <li>SZKOŁA PODSTAWOWA IM. JANA PAWŁA II W MROCZKOWIE GOŚCINNYM</li>
        <li>SZKOŁA POLICEALNA W MROCZKOWIE GOŚCINNYM</li>
        <li>TECHNIKUM W MROCZKOWIE GOŚCINNYM</li>
        <li>ZAOCZNE LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W MROCZKOWIE GOŚCINNYM</li>

    </ul>
    <a href="ŁÓDZKIE.html">Back to Cities in ŁÓDZKIE</a>
</body>
</html>
