
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Warta</title>
</head>
<body>
    <h1>Schools in Warta</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W WARCIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W WARCIE</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W WARCIE</li>
        <li>POWIATOWY ZESPÓŁ SZKÓŁ W WARCIE</li>
        <li>PUBLICZNE PRZEDSZKOLE W WARCIE</li>
        <li>SZKOŁA PODSTAWOWA IM. KPT.PIL.STANISŁAWA SKARŻYŃSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. MARII KONOPNICKIEJ W WARCIE</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W WARCIE</li>
        <li>TECHNIKUM W WARCIE</li>
        <li>ZESPÓŁ SZKÓŁ SPECJALNYCH W WARCIE</li>

    </ul>
    <a href="ŁÓDZKIE.html">Back to Cities in ŁÓDZKIE</a>
</body>
</html>
