
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Czarnocin</title>
</head>
<body>
    <h1>Schools in Czarnocin</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W CZARNOCINIE</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO W CZARNOCINIE</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO W CZARNOCINIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W CZARNOCINIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W CZARNOCINIE</li>
        <li>PRZEDSZKOLE SAMORZĄDU GMINY W ZESPOLE SZKOLNO-PRZEDSZKOLNYM W CZARNOCINIE</li>
        <li>SZKOŁA PODSTAWOWA IMIENIA SZARYCH SZEREGÓW W CZARNOCINIE W ZESPOLE SZKOLNO- PRZEDSZKOLNYM W CZARNOCINIE</li>
        <li>SZKOŁA POLICEALNA W CZARNOCINIE</li>
        <li>TECHNIKUM W CZARNOCINIE</li>
        <li>ZESPÓŁ SZKÓŁ CENTRUM KSZTAŁCENIA USTAWICZNEGO IM. JULIUSZA PONIATOWSKIEGO W CZARNOCINIE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W CZARNOCINIE</li>

    </ul>
    <a href="ŁÓDZKIE.html">Back to Cities in ŁÓDZKIE</a>
</body>
</html>
