
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Łódź-Śródmieście</title>
</head>
<body>
    <h1>Schools in Łódź-Śródmieście</h1>
    <ul>
        <li>"AKADEMIA DIETETYKI" CENTRUM KSZTAŁCENIA USTAWICZNEGO</li>
        <li>"AKADEMIA FLORYSTYKI" CENTRUM KSZTAŁCENIA USTAWICZNEGO</li>
        <li>"ALELICEUM" LICEUM OGÓLNOKSZTAŁCĄCE W ŁODZI</li>
        <li>"ALETECHNIKUM" TECHNIKUM DLA MŁODZIEŻY W ŁODZI</li>
        <li>"BIM" BIURO USŁUG BHP</li>
        <li>"INSTITUTO DE LA LENGUA ESPANOLA" INSTYTUT JĘZYKA HISZPAŃSKIEGO</li>
        <li>AKADEMIA KSZTAŁCENIA I DOSKONALENIA ZAWODOWEGO OŚRODEK KSZTAŁCENIA USTAWICZNEGO W ŁODZI</li>
        <li>AKADEMIA ZDROWIA IZABELA ŁAJS</li>
        <li>AKADEMIA-LICEUM OGÓLNOKSZTAŁCĄCE DLA MŁODZIEŻY W ŁODZI</li>
        <li>AKADEMIA-TECHNIKUM DLA MŁODZIEŻY W ŁODZI</li>
        <li>AKADEMICKIE LICEUM OGÓLNOKSZTAŁCĄCE EDUKACJI INNOWACYJNEJ W ŁODZI</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA "COSINUS" W ŁODZI</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA FUNDACJI "SŁONECZNA KRAINA"</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 15 W ZESPOLE SZKÓŁ BUDOWLANO-TECHNICZNYCH IM. DR. STEFANA KOPCIŃSKIEGO</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 4 W ZESPOLE SZKÓŁ GASTRONOMICZNYCH</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA NR 1 W ZESPOLE SZKÓŁ GASTRONOMICZNYCH</li>
        <li>BURSA SAMORZĄDU WOJEWÓDZTWA ŁÓDZKIGO W ŁODZI</li>
        <li>CENTRUM FLORYSTYKI</li>
        <li>CENTRUM JĘZYKÓW OBCYCH "WONDERLAND"</li>
        <li>CENTRUM KSZTAŁCENIA "EDUWORK" W ŁODZI</li>
        <li>CENTRUM KSZTAŁCENIA "MONA LISA"</li>
        <li>CENTRUM KSZTAŁCENIA JĘZYKA MIGOWEGO</li>
        <li>CENTRUM KSZTAŁCENIA KOSMETYCZNEGO</li>
        <li>CENTRUM KSZTAŁCENIA OTWARTEGO I USTAWICZNEGO W ŁODZI</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO NOWOCZESNYCHTECHNOLOGII</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO NOWOCZESNYCH TECHNOLOGII WOJEWÓDZTWA ŁÓDZKIEGO W ŁODZI</li>
        <li>CENTRUM SZKOLEŃ SPECJALISTYCZNYCH "EKOFUTURA"</li>
        <li>CENTRUM SZKOLENIA INFORMATYCZNEGO</li>
        <li>CENTRUM SZKOLENIOWE ESCOLA</li>
        <li>CENTRUM SZKOLENIOWE FPL</li>
        <li>CENTRUM WSPARCIA TERAPEUTYCZNEGO</li>
        <li>CENTRUM ZAJĘĆ POZASZKOLNYCH "SZKOŁY ALFA I OMEGA"</li>
        <li>CENTRUM ZAWODOWEGO KSZTAŁCENIA KURSOWEGO</li>
        <li>CORRECT EDUCATION</li>
        <li>COSINUS CENTRUM KSZTAŁCENIA ZAWODOWEGO W ŁODZI</li>
        <li>COSINUS OGÓLNOPOLSKI OŚRODEK SZKOLEŃ I ROZWOJU</li>
        <li>EURODIALOG</li>
        <li>FILIA NR 3 W CENTRUM ZAJĘĆ POZASZKOLNYCH NR 1 W ŁODZI</li>
        <li>III LICEUM OGÓLNOKSZTAŁCĄCE IM. TADEUSZA KOŚCIUSZKI</li>
        <li>IV LICEUM OGÓLNOKSZTAŁCĄCE IM. EMILII SCZANIECKIEJ</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH "ALFA"</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH "ŻAK"</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH PRZY CENTRUM EDUKACYJNO-DYDAKTYCZNYM "OMEGA" W ŁODZI</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA MŁODZIEŻY "COSINUS" W ŁODZI</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE SPORTOWO-MUNDUROWE CENTRUM EDUKACJI OŚWIATOWIEC</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE UMIEJĘTNOŚCI TWÓRCZYCH</li>
        <li>LLOYD WOODLEY ENGLISH LANGUAGE CENTRE - CENTRUM JĘZYKA ANGIELSKIEGO</li>
        <li>ŁÓDZKIE CENTRUM DOSKONALENIA NAUCZYCIELI I KSZTAŁCENIA PRAKTYCZNEGO</li>
        <li>ŁÓDZKIE CENTRUM EDUKACJI</li>
        <li>MANAGEMENT CENTRE</li>
        <li>MIĘDZYNARODOWA AKADEMIA STUDIÓW SPOŁECZNYCH I ADMINISTRACJI</li>
        <li>MIĘDZYNARODOWA SZKOŁA PODSTAWOWA EDUKACJI INNOWACYJNEJ W ŁODZI</li>
        <li>MIĘDZYNARODOWE PRZEDSZKOLE EDUKACJI INNOWACYJNEJ "TĘCZOWY ŚWIAT DZIECKA"</li>
        <li>MOBIKON SZKOLENIA KOMPUTEROWE</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO W ŁODZI</li>
        <li>NIEPUBLICZNA PLACÓWKA OŚWIATOWO-WYCHOWAWCZA GIGANCI PROGRAMOWANIA</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "RAZEM"</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA NA TYLNEJ</li>
        <li>NIEPUBLICZNA SPECJALNA SZKOŁA PODSTAWOWA SPEKTRUM</li>
        <li>NIEPUBLICZNE DWUJĘZYCZNE PRZEDSZKOLE KIDS&CO</li>
        <li>NIEPUBLICZNE LICEUM SZTUK PLASTYCZNYCH COSINUS W ŁODZI</li>
        <li>NIEPUBLICZNE LICEUM SZTUK PLASTYCZNYCH EDUKACJI INNOWACYJNEJ W ŁODZI</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE NA KSIĘŻYM MŁYNIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE SPORTOWO-JĘZYKOWE FAIR PLAY 4KIDS</li>
        <li>NIEPUBLICZNY MŁODZIEŻOWY OSRODEK SOCJOTERAPII FUNDACJI "SŁONECZNA KRAINA"</li>
        <li>NIEPUBLICZNY OŚRODEK KSZTAŁCENIA USTAWICZNEGO PROFESJA</li>
        <li>OŚRODEK AKTYWIZACJI ZAWODOWEJ I SZKOLEŃ SP. Z O.O. -PION DORADCZO-SZKOLENIOWY HR CONSEIL</li>
        <li>OŚRODEK DOSKONALENIA KADR TECHNICZNYCH ŁÓDZKIEJ RADY FEDERACJI STOWARZYSZEŃ NAUKOWO TECHNICZNYCH - NOT W ŁODZI</li>
        <li>OŚRODEK DOSKONALENIA NAUCZYCIELI EDU STAR WIELOKIERUNKOWE STUDIUM PEDAGOGICZNE</li>
        <li>OŚRODEK EDUKACJI I KULTURY EKOLOGICZNEJ</li>
        <li>OŚRODEK KSZTAŁCENIA CENTRUM ROZWOJU I INTEGRACJI SPOŁECZNEJ SP. Z O.O.</li>
        <li>OŚRODEK KSZTAŁCENIA POZASZKOLNEGO LIGI OBRONY KRAJU W ŁODZI</li>
        <li>OŚRODEK KSZTAŁCENIA SPECJALISTYCZNEGO PRZY MIĘDZYNARODOWEJ FUNDACJI KOBIET W ŁODZI</li>
        <li>OŚRODEK KSZTAŁCENIA USTAWICZNEGO "PRUS"</li>
        <li>OŚRODEK KSZTAŁCENIA ZAWODOWEGO "CREATOR"</li>
        <li>OŚRODEK SZKOLENIA ZAWODOWEGO</li>
        <li>OŚRODEK SZKOLENIA ZAWODOWEGO "OMEGA" S.C. WOJCIECH STANIASZEK, DOROTA STANIASZEK</li>
        <li>OŚRODEK SZKOLENIA ZAWODOWEGO PRZY POWSZECHNYM UNIWERSYTECIE PRACOWNICZYM</li>
        <li>OŚRODEK SZKOLENIOWY "NT GROUP SYSTEMY INFORMATYCZNE"</li>
        <li>OŚRODEK SZKOLENIOWY CENTRUM NAUKI I BIZNESU "ŻAK"</li>
        <li>OŚRODEK SZKOLENIOWY FUNDACJI ROZWOJU PRZEDSIĘBIORCZOŚCI</li>
        <li>OŚRODEK SZKOLENIOWY ODDZIAŁU ŁÓDZKIEGO STOWARZYSZENIA ELEKTRYKÓW POLSKICH</li>
        <li>OŚRODEK SZKOLENIOWY ODDZIAŁU OKRĘGOWEGO W ŁODZI STOWARZYSZENIA KSIĘGOWYCH W POLSCE</li>
        <li>OŚRODEK SZKOLENIOWY PRZY CECHU RZEMIOSŁ RÓŻNYCH</li>
        <li>OŚRODEK SZKOLENIOWY PRZY CENTRUM EDUKACYJNO-DYDAKTYCZNYM "OMEGA" W ŁODZI</li>
        <li>OŚRODEK SZKOLENIOWY PRZY WOJEWÓDZKIM UNIWERSYTECIE ROBOTNICZYM</li>
        <li>PEDAGOGICZNA BIBLIOTEKA WOJEWÓDZKA IM. PROF. TADEUSZA KOTARBIŃSKIEGO W ŁODZI</li>
        <li>PLACÓWKA OŚWIATOWA MARKET SERVICE</li>
        <li>PLACÓWKA SZKOLENIA ZAWODOWEGO</li>
        <li>PLACÓWKA SZKOLENIA ZAWODOWEGO INSTYTUTU NOWYCH TECHNOLOGII</li>
        <li>POLICEALNA SZKOŁA ASYSTENTÓW STOMATOLOGICZNYCH</li>
        <li>POLICEALNA SZKOŁA FARMACEUTYCZNA</li>
        <li>POLICEALNA SZKOŁA HIGIENISTÓW STOMATOLOGICZNYCH</li>
        <li>POLICEALNA SZKOŁA KOSMETYCZNA</li>
        <li>POLICEALNA SZKOŁA KOSMETYCZNA MGR IWONY TOMAS</li>
        <li>POLICEALNA SZKOŁA MASAŻU</li>
        <li>POLICEALNA SZKOŁA MEDYCZNA "COSINUS" W ŁODZI</li>
        <li>POLICEALNA SZKOŁA MEDYCZNA EDUKACJI INNOWACYJNEJ W ŁODZI</li>
        <li>POLICEALNA SZKOŁA OPIEKUNEK DZIECIĘCYCH</li>
        <li>POLICEALNA SZKOŁA OPIEKUNÓW MEDYCZNYCH</li>
        <li>POLICEALNA SZKOŁA PROTETYKÓW SŁUCHU</li>
        <li>POLICEALNA SZKOŁA STERYLIZACJI MEDYCZNEJ</li>
        <li>POLICEALNA SZKOŁA TEB EDUKACJA</li>
        <li>POLICEALNA SZKOŁA TECHNIKÓW DENTYSTYCZNYCH</li>
        <li>POLICEALNA SZKOŁA TECHNIKÓW ELEKTRORADIOLOGÓW</li>
        <li>POLICEALNA SZKOŁA TECHNIKÓW OPTYKÓW</li>
        <li>POLICEALNA SZKOŁA TECHNIKÓW ORTOPEDÓW</li>
        <li>POLICEALNA SZKOŁA TERAPEUTÓW ZAJĘCIOWYCH</li>
        <li>POLSKIE TOWARZYSTWO EKONOMICZNE ODDZIAŁ W ŁODZI</li>
        <li>POLSKO -AMERYKAŃSKI OŚRODEK KSZTAŁCENIA ZAWODOWEGO</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA NR 3</li>
        <li>PROFILAKTYCZNO-ROZWOJOWY OŚRODEK MŁODZIEŻY I DZIECI "PROM"</li>
        <li>PRYWATNE LICEUM OGÓLNOKSZTAŁCĄCE NOWOCZESNA EDUKACJA</li>
        <li>PRZEDSZKOLE LITTLE GENIUS W ŁODZI</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 100</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 125</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 13</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 14</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 207</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 220</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 223</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 39</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 5</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 52</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 54</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 57</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 58</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 71</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 75</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 84</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 99</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE CHATKA KUBUSIA PUCHATKA</li>
        <li>PRZEDSZKOLE NUBO</li>
        <li>PRZEDSZKOLE PUBLICZNE SIÓSTR SŁUŻEBNICZEK NMP NP IM. BŁ.EDMUNDA BOJANOWSKIEGO</li>
        <li>PRZEDSZKOLE UNIWERSYTETU ŁÓDZKIEGO</li>
        <li>PUBLICZNA POLICEALNA SZKOŁA "COSINUS" W ŁODZI</li>
        <li>PUBLICZNA POLICEALNA SZKOŁA NOWOCZESNYCH TECHNOLOGII W ŁODZI</li>
        <li>PUBLICZNA SZKOŁA POLICEALNA KOSMETYCZNA "ŻAK"</li>
        <li>PUBLICZNE ZAOCZNE LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH "COSINUS" W ŁODZI</li>
        <li>SALON USŁUG EDUKACYJNYCH</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY NR 3</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY NR 4</li>
        <li>SPOŁECZNA SZKOŁA PODSTAWOWA NR 1 IM.EWARYSTA ESTKOWSKIEGO SPOŁECZNEGO TOWARZYSTWA OŚWIATOWEGO W ŁODZI</li>
        <li>SPOŁECZNY OŚRODEK SZKOLENIOWY</li>
        <li>STOWARZYSZENIE EUROPEJSKI INSTYTUT ZARZĄDZANIA</li>
        <li>STUDIUM "FILAR"</li>
        <li>STUDIUM JĘZYKÓW OBCYCH MODERN LANGUAGES CENTER</li>
        <li>STUDIUM NOWOCZESNYCH TECHNOLOGII SZKOLENIOWO-WDROŻENIOWYCH</li>
        <li>SZKOŁA BRANŻOWA II STOPNIA "COSINUS" W ŁODZI</li>
        <li>SZKOŁA PODSTAWOWA FUNDACJI "SŁONECZNA KRAINA"</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. ADAMA MICKIEWICZA</li>
        <li>SZKOŁA PODSTAWOWA NR 111</li>
        <li>SZKOŁA PODSTAWOWA NR 14 IM. JÓZEFA LOMPY</li>
        <li>SZKOŁA PODSTAWOWA NR 173 IM. ŻOŁNIERZY DYWIZJI KOŚCIUSZKOWSKIEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 175 IM. HENRYKA RYLA</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. KS. JANA TWARDOWSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 23 IM. MARII BOHUSZEWICZÓWNY</li>
        <li>SZKOŁA PODSTAWOWA NR 70 IM. STANISŁAWA WYSPIAŃSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 94</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 176</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 177</li>
        <li>SZKOŁA PODSTAWOWA STOWARZYSZENIA OŚWIATOWEGO "TWOJA SZKOŁA"</li>
        <li>SZKOŁA POLICEALNA BEZPIECZEŃSTWA I HIGIENY PRACY "ŻAK"</li>
        <li>SZKOŁA POLICEALNA CENTRUM NAUKI I BIZNESU "ŻAK" W ŁODZI</li>
        <li>SZKOŁA POLICEALNA NOWOCZESNYCH TECHNOLOGII WOJEWÓDZTWA ŁÓDZKIEGOW ŁODZI</li>
        <li>SZKOŁA POLICEALNA OMEGA</li>
        <li>SZKOŁA POLICEALNA OPIEKI MEDYCZNEJ "ŻAK" W ŁODZI</li>
        <li>SZKOŁA POLICEALNA TECHNIKI DENTYSTYCZNEJ W ŁODZI</li>
        <li>SZKOLENIA ŁÓDŹ CENTRUM KSZTAŁCENIA</li>
        <li>TEB EDUKACJA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO W ŁODZI</li>
        <li>TECHNIKUM DLA MŁODZIEŻY "COSINUS I" W ŁODZI</li>
        <li>TECHNIKUM DLA MŁODZIEŻY „COSINUS” W ŁODZI</li>
        <li>TECHNIKUM EDUKACJI INNOWACYJNEJ W ŁODZI</li>
        <li>TECHNIKUM INFORMATYKI EDUKACJI INNOWACYJNEJ W ŁODZI</li>
        <li>TECHNIKUM NR 15 W ZESPOLE SZKÓŁ BUDOWLANO-TECHNICZNYCH IM. DR. STEFANA KOPCIŃSKIEGO</li>
        <li>TECHNIKUM NR 3</li>
        <li>TECHNIKUM NR 4 W ZESPOLE SZKÓŁ GASTRONOMICZNYCH</li>
        <li>TECHNIKUM TEB EDUKACJA W ŁODZI</li>
        <li>VIII LICEUM OGÓLNOKSZTAŁCĄCE IM. ADAMA ASNYKA</li>
        <li>WOJEWÓDZKI OŚRODEK DOSKONALENIA NAUCZYCIELI W ŁODZI</li>
        <li>XII LICEUM OGÓLNOKSZTAŁCĄCE IM. STANISŁAWA WYSPIAŃSKIEGO</li>
        <li>XXIX LICEUM OGÓLNOKSZTAŁCĄCE IM. HM. JANKA BYTNARA "RUDEGO"</li>
        <li>ZAOCZNA POLICEALNA SZKOŁA "COSINUS I" W ŁODZI</li>
        <li>ZESPÓŁ PRZEDSZKOLI MIEJSKICH NR 1</li>
        <li>ZESPÓŁ SZKÓŁ BUDOWLANO-TECHNICZNYCH IM. DR. STEFANA KOPCIŃSKIEGO</li>
        <li>ZESPÓŁ SZKÓŁ GASTRONOMICZNYCH</li>
        <li>ZESPÓŁ SZKÓŁ I PLACÓWEK OŚWIATOWYCH NOWOCZESNYCH TECHNOLOGII WOJEWÓDZTWA ŁÓDZKIEGO</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 8</li>

    </ul>
    <a href="ŁÓDZKIE.html">Back to Cities in ŁÓDZKIE</a>
</body>
</html>
