
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Poddębice</title>
</head>
<body>
    <h1>Schools in Poddębice</h1>
    <ul>
        <li>BIBLIOTEKA PEDAGOGICZNA W SIERADZU FILIA W PODDĘBICACH</li>
        <li>BIURO BEZPIECZEŃSTWA PRACY I OCHRONY PRZECIWPOŻAROWEJ</li>
        <li>BOR GRUPA NIEPUBLICZNA PLACÓWKA KSZTALCENIA USTAWICZNEGO</li>
        <li>BRANŻOWA SZKOLA I STOPNIA IM. JANA PAWŁA II W PODDĘBICACH</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA "PRYMUS" W PODDĘBICACH</li>
        <li>CENTRUM KSZTAŁCENIA PRYMUS W PODDĘBICACH</li>
        <li>LICEUM OGÓLNOKSZTAŁCACE IM. MARII KONOPNICKIEJ W PODDĘBICACH</li>
        <li>LICEUM OGÓLNOKSZTAŁCACE PRYMUS W PODDĘBICACH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W PODDĘBICACH</li>
        <li>NIEPUBLICZNE TĘCZOWE PRZEDSZKOLE AGNIESZKA PŁUSA</li>
        <li>PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA W PODDĘBICACH</li>
        <li>PRZEDSZKOLE INNA BAJKA</li>
        <li>PUBLICZNE PRZEDSZKOLE IM.KRÓLA MACIUSIA PIERWSZEGO W PODDĘBICACH</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. LOTNIKÓW POLSKICH W PODDĘBICACH</li>
        <li>SZKOŁA PODSTAWOWA PRYMUS W PODDĘBICACH</li>
        <li>SZKOŁA POLICEALNA PRYMUS W PODDĘBICACH</li>
        <li>SZKOŁA POLICEALNA W PODDĘBICACH</li>
        <li>TECHNIKUM IM. JANA PAWŁA II W PODDĘBICACH</li>
        <li>ZESPÓŁ SZKÓŁ PONADPODSTAWOWYCH W PODDĘBICACH</li>

    </ul>
    <a href="ŁÓDZKIE.html">Back to Cities in ŁÓDZKIE</a>
</body>
</html>
