
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Koluszki</title>
</head>
<body>
    <h1>Schools in Koluszki</h1>
    <ul>
        <li>"PROGRES" - NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA W KOLUSZKACH</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE IM. HENRYKA SIENKIEWICZA W KOLUSZKACH</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE W KOLUSZKACH</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE MĄDRA GŁOWA</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W KOLUSZKACH</li>
        <li>PRZEDSZKOLE NR 1 W KOLUSZKACH</li>
        <li>PRZEDSZKOLE NR 2 W KOLUSZKACH</li>
        <li>PRZEDSZKOLE NR 3 IM. CZESŁAWA JANCZARSKIEGO W KOLUSZKACH</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY W KOLUSZKACH</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. TADEUSZA KOŚCIUSZKI W KOLUSZKACH</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. MARII KONOPNICKIEJ W KOLUSZKACH</li>
        <li>SZKOŁA PODSTAWOWA NR 3 SPECJALNA W KOLUSZKACH</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W KOLUSZKACH</li>
        <li>TECHNIKUM NR 1 W KOLUSZKACH</li>
        <li>TECHNIKUM NR 2 W KOLUSZKACH</li>
        <li>ZESPÓŁ SZKÓŁ NR 1 W KOLUSZKACH</li>
        <li>ZESPÓŁ SZKÓŁ NR 2 W KOLUSZKACH</li>

    </ul>
    <a href="ŁÓDZKIE.html">Back to Cities in ŁÓDZKIE</a>
</body>
</html>
