
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Bratoszewice</title>
</head>
<body>
    <h1>Schools in Bratoszewice</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W ZESPOLE SZKÓŁ NR 1 W BRATOSZEWICACH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W ZESPOLE SZKÓŁ NR 1 W BRATOSZEWICACH</li>
        <li>OŚRODEK DOSKONALENIA I DOKSZTAŁCANIA ZAWODOWEGO W ZESPOLE SZKÓŁ NR 1 W BRATOSZEWICACH</li>
        <li>SZKOŁA PODSTAWOWA IM. KS. IDZIEGO RADZISZEWSKIEGO W BRATOSZEWICACH</li>
        <li>TECHNIKUM W ZESPOLE SZKÓŁ NR 1 W BRATOSZEWICACH</li>
        <li>ZESPÓŁ SZKÓŁ NR 1 IM. BATALIONÓW CHŁOPSKICH W BRATOSZEWICACH</li>

    </ul>
    <a href="ŁÓDZKIE.html">Back to Cities in ŁÓDZKIE</a>
</body>
</html>
