
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Andrespol</title>
</head>
<body>
    <h1>Schools in Andrespol</h1>
    <ul>
        <li>NIEPUBLICZNE JĘZYKOWO-SPORTOWE PRZEDSZKOLE INTEGRACYJNE WINNERS WANDRESPOLU</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "PROMYCZEK" MARZENA MILCZAREK</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE MALI ODKRYWCY</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE W ANDRESPOLU</li>
        <li>USŁUGI EDUKACYJNE I OPIEKUŃCZO-WYCHOWAWCZE BOŻENNA SUROWIEC</li>

    </ul>
    <a href="ŁÓDZKIE.html">Back to Cities in ŁÓDZKIE</a>
</body>
</html>
