
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Świnice Warckie</title>
</head>
<body>
    <h1>Schools in Świnice Warckie</h1>
    <ul>
        <li>ZESPÓŁ SZKOLNO - PRZEDSZKOLNY W ŚWINICACH WARCKICH</li>
        <li>ZESPÓŁ SZKOLNO - PRZEDSZKOLNY W ŚWINICACH WARCKICH PRZEDSZKOLE GMINNE</li>
        <li>ZESPÓŁ SZKOLNO - PRZEDSZKOLNY W ŚWINICACH WARCKICH SZKOŁA PODSTAWOWA IM. M. KONOPNICKIEJ</li>

    </ul>
    <a href="ŁÓDZKIE.html">Back to Cities in ŁÓDZKIE</a>
</body>
</html>
