
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Żarnów</title>
</head>
<body>
    <h1>Schools in Żarnów</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W ŻARNOWIE</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA W ŻARNOWIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "RADOSNA DOLINKA" S.C.</li>
        <li>SZKOŁA PODSTAWOWA IM. JULIANA BARTOSZEWICZA W ŻARNOWIE</li>
        <li>SZKOŁA POLICEALNA W ŻARNOWIE</li>
        <li>TECHNIKUM W ŻARNOWIE</li>
        <li>ZAOCZNE LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W ŻARNOWIE</li>

    </ul>
    <a href="ŁÓDZKIE.html">Back to Cities in ŁÓDZKIE</a>
</body>
</html>
