
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Rafałówka</title>
</head>
<body>
    <h1>Schools in Rafałówka</h1>
    <ul>
        <li>SZKOŁA PODSTAWOWA SPECJALNA W RAFAŁÓWCE PRZY OŚRODKU REHABILITACYJNO-LECZNICZYM W RAFAŁÓWCE SZPITALA WOJEWÓDZKIEGO IM. PRYMASA KARDYNAŁA STEFANA WYSZYŃSKIEGO W SIERADZU</li>

    </ul>
    <a href="ŁÓDZKIE.html">Back to Cities in ŁÓDZKIE</a>
</body>
</html>
