
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Sulejów</title>
</head>
<body>
    <h1>Schools in Sulejów</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W SULEJOWIE</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO W SULEJOWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W SULEJOWIE</li>
        <li>POLSKIE CENTRUM SZKOLENIOWE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE W SULEJOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. JANA PAWŁA II W SULEJOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. KRÓLOWEJ JADWIGI W SULEJOWIE</li>
        <li>SZKOŁA POLICEALNA W SULEJOWIE</li>
        <li>TECHNIKUM W SULEJOWIE</li>
        <li>ZESPÓŁ SZKÓŁ CENTRUM KSZTAŁCENIA USTAWICZNEGO W SULEJOWIE</li>

    </ul>
    <a href="ŁÓDZKIE.html">Back to Cities in ŁÓDZKIE</a>
</body>
</html>
