
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Moszczenica</title>
</head>
<body>
    <h1>Schools in Moszczenica</h1>
    <ul>
        <li>NIEPUBLICZNE PRZEDSZKOLE KATOLICKIE IM. BŁ. KARD. STEFANA WYSZYŃSKIEGO PRZY PARAFII PW. PODWYŻSZENIA ŚWIĘTEGO KRZYŻA W MOSZCZENICY</li>
        <li>PRZEDSZKOLE "BOGUŚ"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "KRASNAL" EWA MARCIŃCZAK - PISAREK</li>
        <li>SZKOŁA PODSTAWOWA IM. ŚW. STANISŁAWA KOSTKI W MOSZCZENICY</li>

    </ul>
    <a href="ŁÓDZKIE.html">Back to Cities in ŁÓDZKIE</a>
</body>
</html>
