
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Załęcze Małe</title>
</head>
<body>
    <h1>Schools in Załęcze Małe</h1>
    <ul>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA W ZAŁĘCZU MAŁYM</li>
        <li>PUBLICZNE PRZEDSZKOLE W ZAŁĘCZU MAŁYM</li>
        <li>ZESPÓŁ SZKÓŁ SAMORZĄDOWYCH IM. JANA PAWŁA II WIELKIEGO W ZAŁĘCZU MAŁYM</li>

    </ul>
    <a href="ŁÓDZKIE.html">Back to Cities in ŁÓDZKIE</a>
</body>
</html>
