
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Komorniki</title>
</head>
<body>
    <h1>Schools in Komorniki</h1>
    <ul>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA W KOMORNIKACH</li>
        <li>PUBLICZNE PRZEDSZKOLE W KOMORNIKACH</li>
        <li>SZKOŁA PODSTAWOWA IM. JANA PAWŁA II W KOMORNIKACH</li>
        <li>ZESPÓŁ SZKOŁY I PRZEDSZKOLA W KOMORNIKACH</li>

    </ul>
    <a href="ŁÓDZKIE.html">Back to Cities in ŁÓDZKIE</a>
</body>
</html>
