
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Drużbice</title>
</head>
<body>
    <h1>Schools in Drużbice</h1>
    <ul>
        <li>PUNKT PRZEDSZKOLNY NR 2 W ZESPOLE SZKOLNO-PRZEDSZKOLNYM W DRUŻBICACH</li>
        <li>PUNKT PRZEDSZKOLNY W SZKOLE PODSTAWOWEJ IM.TADEUSZA KOŚCIUSZKI W DRUŻBICACH</li>
        <li>SZKOŁA PODSTAWOWA IM.TADEUSZA KOŚCIUSZKI W DRUŻBICACH</li>
        <li>ZESPÓŁ SZKOLNO - PRZEDSZKOLNY W DRUŻBICACH</li>

    </ul>
    <a href="ŁÓDZKIE.html">Back to Cities in ŁÓDZKIE</a>
</body>
</html>
