
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Bujny Szlacheckie</title>
</head>
<body>
    <h1>Schools in Bujny Szlacheckie</h1>
    <ul>
        <li>PUNKT PRZEDSZKOLNY PRZY SZKOLE FILIALNEJ W BUJNACH SZLACHECKICH</li>
        <li>SZKOŁA PODSTAWOWA IM. JANUSZA KUSOCIŃSKIEGO W ŁOBUDZICACH SZKOŁA FILIALNA W BUJNACH SZLACHECKICH</li>

    </ul>
    <a href="ŁÓDZKIE.html">Back to Cities in ŁÓDZKIE</a>
</body>
</html>
