
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Dobryszyce</title>
</head>
<body>
    <h1>Schools in Dobryszyce</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W DOBRYSZYCACH</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO W DOBRYSZYCACH</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA IM. JANA KOCHANOWSKIEGO W DOBRYSZYCACH</li>
        <li>PUBLICZNE PRZEDSZKOLE W DOBRYSZYCACH</li>
        <li>SZKOŁA POLICEALNA W DOBRYSZYCACH</li>
        <li>TECHNIKUM W DOBRYSZYCACH</li>
        <li>ZESPÓŁ SZKÓŁ CENTRUM KSZTAŁCENIA ROLNICZEGO IM. WŁADYSŁAWA STANISŁAWA REYMONTA W DOBRYSZYCACH</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W DOBRYSZYCACH</li>

    </ul>
    <a href="ŁÓDZKIE.html">Back to Cities in ŁÓDZKIE</a>
</body>
</html>
