
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Wieruszów</title>
</head>
<body>
    <h1>Schools in Wieruszów</h1>
    <ul>
        <li>BIBLIOTEKA PEDAGOGICZNA W SIERADZU FILIA W WIERUSZOWIE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA W ZESPOLE SZKÓŁ PONADPODSTAWOWYCH IM. STANISŁAWA STASZICA W WIERUSZOWIE</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA W WIERUSZOWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. MIKOŁAJA KOPERNIKA W WIERUSZOWIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE MALI ODKRYWCY</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY " ZIELONY LISTEK" ANNA SZKUDLAREK</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W WIERUSZOWIE</li>
        <li>PRZEDSZKOLE NR 1 IM. KRZYSZTOFA BEZENA W WIERUSZOWIE</li>
        <li>PRZEDSZKOLE NR 2 W WIERUSZOWIE</li>
        <li>PUBLICZNE PRZEDSZKOLE ZGROMADZENIA SIÓSTR ŚW. JADWIGI</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. JANUSZA KORCZAKA W WIERUSZOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. MARSZAŁKA JÓZEFA PIŁSUDSKIEGO W WIERUSZOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. JANA PAWŁA II W WIERUSZOWIE</li>
        <li>SZKOŁA POLICEALNA W ZESPOLE SZKÓŁ PONADPODSTAWOWYCH IM.STANISŁAWA STASZICA W WIERUSZOWIE</li>
        <li>TECHNIKUM W ZESPOLE SZKÓŁ PONADPODSTAWOWYCH IM. STANISŁAWA STASZICA</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH W WIERUSZOWIE</li>
        <li>ZESPÓŁ SZKÓŁ PONADPODSTAWOWYCH IM. STANISŁAWA STASZICA W WIERUSZOWIE</li>

    </ul>
    <a href="ŁÓDZKIE.html">Back to Cities in ŁÓDZKIE</a>
</body>
</html>
