
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Marianów</title>
</head>
<body>
    <h1>Schools in Marianów</h1>
    <ul>
        <li>PRZEDSZKOLE SAMORZĄDOWE W ZALESIU Z SIEDZIBĄ W MARIANOWIE</li>
        <li>SZKOŁA PODSTAWOWA W ZALESIU</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W ZALESIU Z SIEDZIBĄ W MARIANOWIE</li>

    </ul>
    <a href="ŁÓDZKIE.html">Back to Cities in ŁÓDZKIE</a>
</body>
</html>
