
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Głowno</title>
</head>
<body>
    <h1>Schools in Głowno</h1>
    <ul>
        <li>AKADEMIA TRZYLATKA</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE W GŁOWNIE</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE W ZESPOLE SZKÓŁ NR 1 W GŁOWNIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W GŁOWNIE</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 1 W GŁOWNIE</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 2 W GŁOWNIE</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 3 W GŁOWNIE</li>
        <li>NIEPUBLICZNA SZKOŁA MUZYCZNA I ST. W GŁOWNIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE INTEGRACYJNE "OSINKOWO"</li>
        <li>PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA W GŁOWNIE</li>
        <li>PRYWATNE PRZEDSZKOLE NIEPUBLICZNE "NIBYLANDIA"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE ARTYSTYCZNO-JĘZYKOWE "TYGRYSEK"</li>
        <li>PRZEDSZKOLE SPECJALNE "SZAFIREK" NR 4 W ZESPOLE SZKÓŁ SPECJALNYCH W GŁOWNIE</li>
        <li>PUBLICZNE KATOLICKIE LICEUM OGÓLNOKSZTAŁCĄCE IM. JANA PAWŁA II W GŁOWNIE</li>
        <li>SPECJALNA SZKOŁA BRANŻOWA I STOPNIA NR 2 W GŁOWNIE W ZESPOLE SZKÓŁ SPECJALNYCH W GŁOWNIE</li>
        <li>SZKOŁA BRANŻOWA I STOPNIA NR 1 W ZESPOLE SZKÓŁ NR 1 W GŁOWNIE</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. JÓZEFA PIŁSUDSKIEGO W GŁOWNIE</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. ADAMA MICKIEWICZA W GŁOWNIE</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. TADEUSZA KOŚCIUSZKI</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 5 W GŁOWNIE</li>
        <li>SZKOŁA POLICEALNA W ZESPOLE SZKÓŁ NR 1 W GŁOWNIE</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W GŁOWNIE</li>
        <li>TECHNIKUM W ZESPOLE SZKÓŁ NR 1 W GŁOWNIE</li>
        <li>ZESPÓŁ SZKÓŁ NR 1 W GŁOWNIE</li>
        <li>ZESPÓŁ SZKÓŁ SPECJALNYCH W GŁOWNIE</li>

    </ul>
    <a href="ŁÓDZKIE.html">Back to Cities in ŁÓDZKIE</a>
</body>
</html>
