
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Tuszyn</title>
</head>
<body>
    <h1>Schools in Tuszyn</h1>
    <ul>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. JANA PAWŁA II W TUSZYNIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE JĘZYKOWO-SPORTOWE "WINNERS" W TUSZYNIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE JĘZYKOWO-SPORTOWE WINNERS I W TUSZYNIE</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 1 W TUSZYNIE</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 2 "POD SOSNAMI" W TUSZYNIE</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 3 W TUSZYNIE</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM.WŁ.JAGIEŁŁY W TUSZYNIE</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. WŁADYSŁAWA STANISŁAWA REYMONTA</li>
        <li>ZESPÓŁ PRZEDSZKOLNY W TUSZYNIE</li>

    </ul>
    <a href="ŁÓDZKIE.html">Back to Cities in ŁÓDZKIE</a>
</body>
</html>
