
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Azory</title>
</head>
<body>
    <h1>Schools in Azory</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 4 W KUTNIE - AZORACH</li>
        <li>IV LICEUM OGÓLNOKSZTAŁCĄCE W KUTNIE - AZORACH</li>
        <li>ZESPÓŁ SZKÓŁ NR 4 IM. ZYGMUNTA BALICKIEGO W KUTNIE - AZORACH</li>

    </ul>
    <a href="ŁÓDZKIE.html">Back to Cities in ŁÓDZKIE</a>
</body>
</html>
