
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Łódź</title>
</head>
<body>
    <h1>Schools in Łódź</h1>
    <ul>
        <li>BURSA DLA MŁODZIEŻY ZGROMADZENIA SIÓSTR MATKI BOŻEJ MIŁOSIERDZIA IM. ŚWIĘTEJ S. FAUSTYNY</li>
        <li>BURSA SZKÓŁ ARTYSTYCZNYCH W ŁODZI</li>
        <li>BURSA SZKOLNA ŁÓDZKIEGO STOWARZYSZENIA POMOCY SZKOLE</li>
        <li>BURSA SZKOLNA NR 11</li>
        <li>BURSA SZKOLNA NR 12</li>
        <li>CENTRUM ZAJĘĆ POZASZKOLNYCH NR 3</li>
        <li>KATOLICKIE LICEUM OGÓLNOKSZTAŁCĄCE IM. JANA PAWŁA II</li>
        <li>LVI LICEUM OGÓLNOKSZTAŁCĄCE SPECJALNE</li>
        <li>MŁODZIEŻOWY OŚRODEK SOCJOTERAPII NR 4</li>
        <li>MŁODZIEŻOWY OŚRODEK WYCHOWAWCZY NR 3</li>
        <li>PAŁAC MŁODZIEŻY</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I STOPNIA IM. ALEKSANDRA TANSMANA</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA NR 1</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA NR 6</li>
        <li>PUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE UNIWERSYTETU ŁÓDZKIEGO IM. "SPRAWIEDLIWYCH WŚRÓD NARODÓW ŚWIATA"</li>
        <li>SALEZJAŃSKIE LICEUM OGÓLNOKSZTAŁCĄCE IM. KSIĘDZA BOSKO</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY NR 1</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY NR 6</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 211</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 213</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 214</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 39</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 97</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY NR 1</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY NR 2</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY NR 3</li>
        <li>SZKOLNE SCHRONISKO MŁODZIEŻOWE</li>
        <li>ZESPÓŁ SZKÓŁ MUZYCZNYCH IM. STANISŁAWA MONIUSZKI W ŁODZI</li>
        <li>ZESPÓŁ SZKÓŁ SALEZJAŃSKICH IM. KSIĘDZA BOSKO</li>
        <li>ZESPÓŁ SZKÓŁ SPECJALNYCH NR 3</li>
        <li>ZESPÓŁ SZKÓŁ SPECJALNYCH NR 9</li>

    </ul>
    <a href="ŁÓDZKIE.html">Back to Cities in ŁÓDZKIE</a>
</body>
</html>
