
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Łękawa</title>
</head>
<body>
    <h1>Schools in Łękawa</h1>
    <ul>
        <li>GMINNE PRZEDSZKOLE W ŁĘKAWIE</li>
        <li>MŁODZIEŻOWY OŚRODEK SOCJOTERAPII W ŁĘKAWIE</li>
        <li>SZKOŁA PODSTAWOWA IM.KOMISJI EDUKACJI NARODOWEJ W ŁĘKAWIE</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA W ŁĘKAWIE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W ŁĘKAWIE</li>

    </ul>
    <a href="ŁÓDZKIE.html">Back to Cities in ŁÓDZKIE</a>
</body>
</html>
