
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Kurnos Drugi</title>
</head>
<body>
    <h1>Schools in Kurnos Drugi</h1>
    <ul>
        <li>GMINNE PRZEDSZKOLE W KURNOSIE DRUGIM</li>
        <li>SZKOŁA PODSTAWOWA IM.ALFONSA BRANDTA W KURNOSIE DRUGIM</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W KURNOSIE DRUGIM</li>

    </ul>
    <a href="ŁÓDZKIE.html">Back to Cities in ŁÓDZKIE</a>
</body>
</html>
