
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Kleszczów</title>
</head>
<body>
    <h1>Schools in Kleszczów</h1>
    <ul>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. JANA PAWŁA II W KLESZCZOWIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE MUMINKI Z ODDZIAŁAMI INTEGRACYJNYMI W KLESZCZOWIE</li>
        <li>OŚRODEK DOSKONALENIA ZAWODOWEGO "ADEPT"</li>
        <li>PUBLICZNE PRZEDSZKOLE SAMORZĄDOWE W KLESZCZOWIE</li>
        <li>SZKOŁA PODSTAWOWA IM. JANUSZA KORCZAKA W KLESZCZOWIE</li>
        <li>TECHNIKUM NOWOCZESNYCH TECHNOLOGII IM. JANA PAWŁA II W KLESZCZOWIE</li>
        <li>ZESPÓŁ SZKÓŁ PONADPODSTAWOWYCH W KLESZCZOWIE</li>

    </ul>
    <a href="ŁÓDZKIE.html">Back to Cities in ŁÓDZKIE</a>
</body>
</html>
