
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Guzew</title>
</head>
<body>
    <h1>Schools in Guzew</h1>
    <ul>
        <li>PUNKT PRZEDSZKOLNY "KORNELKI II" W GUZEWIE</li>
        <li>PUNKT PRZEDSZKOLNY "KORNELKI" W GUZEWIE</li>
        <li>SZKOŁA PODSTAWOWA IM. KORNELA MAKUSZYŃSKIEGO W GUZEWIE</li>

    </ul>
    <a href="ŁÓDZKIE.html">Back to Cities in ŁÓDZKIE</a>
</body>
</html>
