
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Łęki Szlacheckie</title>
</head>
<body>
    <h1>Schools in Łęki Szlacheckie</h1>
    <ul>
        <li>PUNKT PRZEDSZKOLNY W SZKOLE PODSTAWOWEJ IM. MARII KONOPNICKIEJ W ŁĘKACH SZLACHECKICH</li>
        <li>SZKOŁA PODSTAWOWA IM.MARII KONOPNICKIEJ W ŁĘKACH SZLACHECKICH</li>

    </ul>
    <a href="ŁÓDZKIE.html">Back to Cities in ŁÓDZKIE</a>
</body>
</html>
