
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Dłutów</title>
</head>
<body>
    <h1>Schools in Dłutów</h1>
    <ul>
        <li>NIEPUBLICZNE PRZEDSZKOLE "KAROLINKA" W DŁUTOWIE</li>
        <li>PRZEDSZKOLE</li>
        <li>SZKOŁA PODSTAWOWA W DŁUTOWIE PRZY ZESPOLE SZKOLNO- PRZEDSZKOLNYM W DŁUTOWIE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY</li>

    </ul>
    <a href="ŁÓDZKIE.html">Back to Cities in ŁÓDZKIE</a>
</body>
</html>
