
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Konstantynów Łódzki</title>
</head>
<body>
    <h1>Schools in Konstantynów Łódzki</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W ZAKŁADZIE POPRAWCZYM I SCHRONISKU DLA NIELETNICH W KONSTANTYNOWIE ŁÓDZKIM</li>
        <li>CENTRUM JĘZYKÓW OBCYCH ,,JODAR"</li>
        <li>CENTRUM JĘZYKÓW OBCYCH "JODAR"</li>
        <li>CHATKA U PUCHATKA</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W KONSTANTYNOWIE ŁÓDZKIM</li>
        <li>INTEGRACYJNE NIEPUBLICZNE PRZEDSZKOLE "CYTRYNKA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "BARWNE DZIECI"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "MAGNOLKI"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "OLIWKOWY GAJ"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "POKAZ ŚWIAT"</li>
        <li>POLICEALNE STUDIUM ZAWODOWE W KONSTANTYNOWIE ŁÓDZKIM</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W KONSTANTYNOWIE ŁÓDZKIM</li>
        <li>PRZEDSZKOLE NR 1 Z GRUPĄ ŻŁOBKOWĄ</li>
        <li>PRZEDSZKOLE NR 2 Z ODDZIAŁAMI INTEGRACYJNYMI I ODDZIAŁEM SPECJALNYM</li>
        <li>PRZEDSZKOLE NR 3 BAJKA</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. KRÓLOWEJ JADWIGI W KONSTANTYNOWIE ŁÓDZKIM</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. BOLESŁAWA ŚCIBIORKA W KONSTANTYNOWIE ŁÓDZKIM</li>
        <li>SZKOŁA PODSTAWOWA NR 5 IM. I ARMII WOJSKA POLSKIEGO W KONSTANTYNOWIE ŁÓDZKIM</li>
        <li>SZKOŁA PODSTAWOWA NR 6 W ZAKŁADZIE POPRAWCZYM I SCHRONISKU DLA NIELETNICH W KONSTANTYNOWIE ŁÓDZKIM</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 4 IM. MARII GRZEGORZEWSKIEJ W KONSTANTYNOWIE ŁÓDZKIM</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W KONSTANTYNOWIE ŁÓDZKIM</li>
        <li>ZESPÓŁ SZKÓŁ SPECJALNYCH NR 4 IM. MARII GRZEGORZEWSKIEJ W KONSTANTYNOWIE ŁÓDZKIM</li>

    </ul>
    <a href="ŁÓDZKIE.html">Back to Cities in ŁÓDZKIE</a>
</body>
</html>
