
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Działoszyn</title>
</head>
<body>
    <h1>Schools in Działoszyn</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W DZIAŁOSZYNIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W DZIAŁOSZYNIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W DZIAŁOSZYNIE</li>
        <li>MIEJSKIE PRZEDSZKOLE W DZIAŁOSZYNIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "CYRK MALUCHA"</li>
        <li>POWIATOWA PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA W PAJĘCZNIE FILIA W DZIAŁOSZYNIE</li>
        <li>PRZEDSZKOLE SPECJALNE W DZIAŁOSZYNIE</li>
        <li>SPECJALNY OŚRODEK SZKOLNO - WYCHOWAWCZY IM. KAWALERÓW ORDERU UŚMIECHU W DZIAŁOSZYNIE</li>
        <li>SZKOŁA PODSTAWOWA IM. ŚW. JANA PAWŁA II W DZIAŁOSZYNIE</li>
        <li>SZKOŁA PODSTAWOWA NR 3 W DZIAŁOSZYNIE</li>
        <li>SZKOŁA POLICALNA W DZIAŁOSZYNIE</li>
        <li>SZKOŁA PRZYSPOSABIAJĄCA DO PRACY W DZIAŁOSZYNIE</li>
        <li>TECHNIKUM W DZIAŁOSZYNIE</li>
        <li>ZESPÓŁ SZKÓŁ IM.MARII SKŁODOWSKIEJ-CURIE W DZIAŁOSZYNIE</li>

    </ul>
    <a href="ŁÓDZKIE.html">Back to Cities in ŁÓDZKIE</a>
</body>
</html>
