
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Górzno</title>
</head>
<body>
    <h1>Schools in Górzno</h1>
    <ul>
        <li>BURSA UCZNIOWSKA "JAGÓDKA" W GÓRZNIE</li>
        <li>INTERNAT STOWARZYSZENIA PRZYJACIÓŁ SZKÓŁ KATOLICKICH W GÓRZNIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE STOWARZYSZENIA PRZYJACIÓŁ SZKÓŁ KATOLICKICH W GÓRZNIE</li>
        <li>OGNISKO PRACY POZASZKOLNEJ "WILGA' W GÓRZNIE</li>
        <li>PRZEDSZKOLE GMINNE</li>
        <li>SZKOŁA PODSTAWOWA</li>
        <li>ZESPÓŁ SZKÓŁ</li>

    </ul>
    <a href="KUJAWSKO-POMORSKIE.html">Back to Cities in KUJAWSKO-POMORSKIE</a>
</body>
</html>
