
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Izbica Kujawska</title>
</head>
<body>
    <h1>Schools in Izbica Kujawska</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W IZBICY KUJAWSKIEJ</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W IZBICY KUJAWSKIEJ</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W IZBICY KUJAWSKIEJ</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE W IZBICY KUJAWSKIEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. MARSZAŁKA J. PIŁSUDSKIEGO W IZBICY KUJAWSKIEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. GEN. AUGUSTYNA SŁUBICKIEGO W IZBICY KUJAWSKIEJ</li>
        <li>SZKOŁA POLICEALNA W IZBICY KUJAWSKIEJ</li>
        <li>TECHNIKUM W IZBICY KUJAWSKIEJ</li>
        <li>ZESPÓŁ SZKÓŁ IM. JANA KASPROWICZA W IZBICY KUJAWSKIEJ</li>

    </ul>
    <a href="KUJAWSKO-POMORSKIE.html">Back to Cities in KUJAWSKO-POMORSKIE</a>
</body>
</html>
