
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Sypniewo</title>
</head>
<body>
    <h1>Schools in Sypniewo</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W SYPNIEWIE</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO W SYPNIEWIE</li>
        <li>SZKOŁA PODSTAWOWA IM. ZIEMI KRAJEŃSKIEJ W SYPNIEWIE</li>
        <li>SZKOŁA POLICEALNA</li>
        <li>TECHNIKUM</li>
        <li>ZESPÓŁ SZKÓŁ CENTRUM KSZTAŁCENIA ROLNICZEGO W SYPNIEWIE</li>

    </ul>
    <a href="KUJAWSKO-POMORSKIE.html">Back to Cities in KUJAWSKO-POMORSKIE</a>
</body>
</html>
