
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Ślesin</title>
</head>
<body>
    <h1>Schools in Ślesin</h1>
    <ul>
        <li>PRZEDSZKOLE W ŚLESINIE</li>
        <li>SZKOŁA PODSTAWOWA IM. KPT. WIKTORA ROSSY W ŚLESINIE</li>
        <li>ZESPÓŁ SZKOLNO -PRZEDSZKOLNY W ŚLESINIE</li>

    </ul>
    <a href="KUJAWSKO-POMORSKIE.html">Back to Cities in KUJAWSKO-POMORSKIE</a>
</body>
</html>
