
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Kęsowo</title>
</head>
<body>
    <h1>Schools in Kęsowo</h1>
    <ul>
        <li>PUNKT PRZEDSZKOLNY NR 2 W KĘSOWIE</li>
        <li>PUNKT PRZEDSZKOLNY W KĘSOWIE</li>
        <li>SZKOŁA PODSTAWOWA IM. KS. KAN. JÓZEFA SWOBODZIŃSKIEGO W KĘSOWIE</li>

    </ul>
    <a href="KUJAWSKO-POMORSKIE.html">Back to Cities in KUJAWSKO-POMORSKIE</a>
</body>
</html>
