
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Koronowo</title>
</head>
<body>
    <h1>Schools in Koronowo</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 2 W OKRĘGOWYM OŚRODKU WYCHOWAWCZYM W KORONOWIE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA W KORONOWIE W ZESPOLE SZKÓŁ ZAWODOWYCH IM. GEN. STANISŁAWA MACZKA W KORONOWIE</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO W KORONOWIE W ZESPOLE SZKÓŁ ZAWODOWYCH IM. GEN. STANISŁAWA MACZKA W KORONOWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W KORONOWIE W ZESPOLE SZKÓŁ ZAWODOWYCH IM. GEN. STANISŁAWA MACZKA W KORONOWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. LEONA WYCZÓŁKOWSKIEGO W KORONOWIE</li>
        <li>POWIATOWA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W KORONOWIE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "MAŁE PRZEDSZKOLE" W KORONOWIE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE MISIOWA CHATKA</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE Z ODDZIAŁAMI INTEGRACYJNYMI W KORONOWIE</li>
        <li>SPECJALNA BRANŻOWA SZKOŁA I STOPNIA NR 1 W KORONOWIE W ZESPOLE SZKÓŁ W KORONOWIE</li>
        <li>SPECJALNA SZKOŁA PODSTAWOWA NR 3 W KORONOWIE W ZESPOLE SZKÓŁ W KORONOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. KOMISJI EDUKACJI NARODOWEJ W KORONOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. JANA PAWŁA II W KORONOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 4 W OKRĘGOWYM OŚRODKU WYCHOWAWCZYM W KORONOWIE</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W KORONOWIE W ZESPOLE SZKÓŁ W KORONOWIE</li>
        <li>TECHNIKUM W KORONOWIE W ZESPOLE SZKÓŁ ZAWODOWYCH IM. GEN. STANISŁAWA MACZKA W KORONOWIE</li>
        <li>ZESPÓŁ SZKÓŁ W KORONOWIE</li>
        <li>ZESPÓŁ SZKÓŁ ZAWODOWYCH IM. GEN. STANISŁAWA MACZKA W KORONOWIE</li>

    </ul>
    <a href="KUJAWSKO-POMORSKIE.html">Back to Cities in KUJAWSKO-POMORSKIE</a>
</body>
</html>
