
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Lisewo</title>
</head>
<body>
    <h1>Schools in Lisewo</h1>
    <ul>
        <li>PUBLICZNY PUNKT PRZEDSZKOLNY MAŁY ODKRYWCA W LISEWIE</li>
        <li>SZKOŁA PODSTAWOWA W LISEWIE</li>
        <li>ZESPÓŁ SZKOLNO - PRZEDSZKOLNY W LISEWIE</li>
        <li>ZESPÓŁ SZKOLNO- PRZEDSZKOLNY SZKOŁA PODSTAWOWA W LISEWIE IM. JANUSZA KORCZAKA</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY GMINNE PRZEDSZKOLE W LISEWIE</li>

    </ul>
    <a href="KUJAWSKO-POMORSKIE.html">Back to Cities in KUJAWSKO-POMORSKIE</a>
</body>
</html>
