
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Karolewo</title>
</head>
<body>
    <h1>Schools in Karolewo</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W KAROLEWIE W ZESPOLE SZKÓŁ AGRO-EKONOMICZNYCH IM. BRONISŁAWA ZAMOJDZINA W KAROLEWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W KAROLEWIE W ZESPOLE SZKÓŁ AGRO-EKONOMICZNYCH IM. BRONISŁAWA ZAMOJDZINA W KAROLEWIE</li>
        <li>SZKOŁA POLICEALNA W KAROLEWIE W ZESPOLE SZKÓŁ AGRO-EKONOMICZNYCH IM. BRONISŁAWA ZAMOJDZINA W KAROLEWIE</li>
        <li>TECHNIKUM W KAROLEWIE W ZESPOLE SZKÓŁ AGRO-EKONOMICZNYCH IM. BRONISŁAWA ZAMOJDZINA W KAROLEWIE</li>
        <li>ZESPÓŁ SZKÓŁ AGRO-EKONOMICZNYCH IM. BRONISŁAWA ZAMOJDZINA W KAROLEWIE</li>

    </ul>
    <a href="KUJAWSKO-POMORSKIE.html">Back to Cities in KUJAWSKO-POMORSKIE</a>
</body>
</html>
