
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Chełmno</title>
</head>
<body>
    <h1>Schools in Chełmno</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W CHEŁMNIE</li>
        <li>BRANŻOWA SZKOŁA SPECJALNA I STOPNIA W CHEŁMNIE</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE IM. MIKOŁAJA KOPERNIKA W CHEŁMNIE</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE W CHEŁMNIE</li>
        <li>KATOLICKA SZKOŁA PODSTAWOWA KSIĘŻY PALLOTYNÓW SCHOLA CULMENSIS ELEMENTARIS</li>
        <li>KATOLICKIE LICEUM OGÓLNOKSZTAŁCĄCE KSIĘŻY PALLOTYNÓW COLLEGIUM CULMENSE W CHEŁMNIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W CHEŁMNIE</li>
        <li>MIEJSKIE PRZEDSZKOLE "TĘCZOWY ZAKĄTEK"</li>
        <li>NIEPUBLICZNE CENTRUM KSZTAŁCENIA USTAWICZNEGO PRZY STOWARZYSZENIU LUDZIE-LUDZIOM W CHEŁMNIE</li>
        <li>OŚRODEK DOSKONALENIA ZAWODOWEGO ,,MAXPOL" Z SIEDZIBĄ W CHEŁMNIE</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I ST. IM. GRZEGORZA GERWAZEGO GORCZYCKIEGO W CHEŁMNIE</li>
        <li>POLICEALNE STUDIUM ZAWODOWE W CHEŁMNIE</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA WCHEŁMNIE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "BAJKA"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "BRZDĄC"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "CALINECZKA"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "PINOKIO"</li>
        <li>PRZEDSZKOLE SPECJALNE NR 3 W CHEŁMNIE</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY W CHEŁMNIE</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. FILOMATÓW POMORSKICH</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. STANISŁAWA STASZICA</li>
        <li>SZKOŁA PODSTAWOWA NR 4 IM. WOJSKA POLSKIEGO</li>
        <li>SZKOŁA POSTAWOWA SPECJALNA IM. EUNICE KENNEDY SHRIVER W CHEŁMNIE</li>
        <li>SZKOLA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W CHEŁMNIE</li>
        <li>SZKOŁA TECHNICZNA BYDGOSKIEGO ZAKŁADU DOSKONALENIA ZAWODOWEGO W CHEŁMNIE</li>
        <li>TECHNIKUM W CHEŁMNIE</li>
        <li>ZESPÓŁ SZKÓŁ NR 2 IM. ADAMA MICKIEWICZA W CHEŁMNIE</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH NR 1-,,LICEUM I GIMNAZJUM CHEŁMIŃSKIE" W CHEŁMNIE</li>

    </ul>
    <a href="KUJAWSKO-POMORSKIE.html">Back to Cities in KUJAWSKO-POMORSKIE</a>
</body>
</html>
