
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Radziki Duże</title>
</head>
<body>
    <h1>Schools in Radziki Duże</h1>
    <ul>
        <li>PRZEDSZKOLE SAMORZĄDOWE W RADZIKACH DUŻYCH</li>
        <li>SZKOŁA PODSTAWOWA IM. BOHATERÓW POWSTANIA STYCZNIOWEGO W RADZIKACH DUŻYCH</li>
        <li>ZESPÓŁ SZKOLNO - PRZEDSZKOLNY W RADZIKACH DUŻYCH</li>

    </ul>
    <a href="KUJAWSKO-POMORSKIE.html">Back to Cities in KUJAWSKO-POMORSKIE</a>
</body>
</html>
