
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Sępólno Krajeńskie</title>
</head>
<body>
    <h1>Schools in Sępólno Krajeńskie</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA</li>
        <li>BYDGOSKI ZAKŁAD DOSKONALENIA ZAWODOWEGO W SĘPÓLNIE KRAJEŃSKIM</li>
        <li>GMINNE PRZEDSZKOLE NR 1 Z ODDZIAŁAMI INTEGRACYJNYMI W SĘPÓLNIE KRAJEŃSKIM</li>
        <li>GMINNE PRZEDSZKOLE NR 2"BAJKA"W SĘPÓLNIE KRAJEŃSKIM</li>
        <li>GMINNE PRZEDSZKOLE NR 3 W SĘPÓLNIE KRAJEŃSKIM</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. TADEUSZA KOTARBIŃSKIEGO</li>
        <li>NIEPUBLICZNA PLACÓWKA DOSKONALENIA NAUCZYCIELI PRZY STOWARZYSZENIU "DOROSLI-DZIECIOM"</li>
        <li>PORADNIA PSYCHOLOGICZNO PEDAGOGICZNA</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY W SĘPÓLNIE KRAJEŃSKIM</li>
        <li>SZKOŁA PODSTAWOWA NR 1</li>
        <li>SZKOŁA PODSTAWOWA NR 2 W SĘPÓLNIE KRAJEŃSKIM</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. MJRA HENRYKA SUCHARSKIEGO</li>
        <li>SZKOŁA POLICEALNA</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W SĘPÓLNIE KRAJEŃSKIM</li>
        <li>TECHNIKUM</li>
        <li>ZESPÓŁ SZKÓŁ PONADPODSTAWOWYCH</li>

    </ul>
    <a href="KUJAWSKO-POMORSKIE.html">Back to Cities in KUJAWSKO-POMORSKIE</a>
</body>
</html>
