
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Mogilno</title>
</head>
<body>
    <h1>Schools in Mogilno</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W MOGILNIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W MOGILNIE</li>
        <li>MOGILEŃSKA SZKOŁA REALNA LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE TERAPEUTYCZNE "NIEBIESKA PRZYSTAŃ"</li>
        <li>POLICEALNA SZKOŁA W MOGILNIE</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W MOGILNIE</li>
        <li>PRESTIGE SZKOŁA POLICEALNA W MOGILNIE</li>
        <li>PRYWATNE LICEUM OGÓLNOKSZTAŁCĄCE W MOGILNIE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE - OCHRONKA IM.EDMUNDA BOJANOWSKIEGO ZG.SS. SŁUŻEBNICZEK NIEPOKALANEGO POCZĘCIA NMP.</li>
        <li>PRZEDSZKOLE NR 1 IM. JANUSZA KORCZAKA W MOGILNIE</li>
        <li>PRZEDSZKOLE NR 2 W MOGILNIE</li>
        <li>PRZEDSZKOLE NR 3 W MOGILNIE</li>
        <li>PRZEDSZKOLE NR 4 W MOGILNIE</li>
        <li>PRZEDSZKOLE NR 5 W MOGILNIE</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. KS. PIOTRA WAWRZYNIAKA W MOGILNIE</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. MARII KONOPNICKIEJ W MOGILNIE</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. MIKOŁAJA KOPERNIKA W MOGILNIE</li>
        <li>TECHNIKUM W MOGILNIE</li>
        <li>ZESPÓŁ SZKÓŁ W MOGILNIE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 2 W MOGILNIE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W MOGILNIE</li>

    </ul>
    <a href="KUJAWSKO-POMORSKIE.html">Back to Cities in KUJAWSKO-POMORSKIE</a>
</body>
</html>
