
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Grubno</title>
</head>
<body>
    <h1>Schools in Grubno</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W GRUBNIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCACE W GRUBNIE</li>
        <li>SZKOŁA POLICEALNA W GRUBNIE</li>
        <li>TECHNIKUM W GRUBNIE</li>
        <li>ZESPÓŁ SZKÓŁ CENTRUM KSZTAŁCENIA ZAWODOWEGO IM. IGNACEGO ŁYSKOWSKIEGO W GRUBNIE</li>

    </ul>
    <a href="KUJAWSKO-POMORSKIE.html">Back to Cities in KUJAWSKO-POMORSKIE</a>
</body>
</html>
