
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Choceń</title>
</head>
<body>
    <h1>Schools in Choceń</h1>
    <ul>
        <li>PRZEDSZKOLE NIEPUBLICZNE</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE</li>
        <li>SPOŁECZNA BRANŻOWA SZKOŁA I STOPNIA IM. ADAMA MICKIEWICZA W CHOCENIU</li>
        <li>SPOŁECZNE LICEUM OGÓLNOKSZTAŁCĄCE IM. KARDYNAŁA STEFANA WYSZYŃSKIEGO W CHOCENIU</li>
        <li>SPOŁECZNE ZAOCZNE LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W CHOCENIU</li>
        <li>SZKOŁA PODSTAWOWA IM. JANUSZA KORCZAKA W CHOCENIU</li>
        <li>ZESPÓŁ SZKOLNO - PRZEDSZKOLNY W CHOCENIU</li>

    </ul>
    <a href="KUJAWSKO-POMORSKIE.html">Back to Cities in KUJAWSKO-POMORSKIE</a>
</body>
</html>
