
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Baruchowo</title>
</head>
<body>
    <h1>Schools in Baruchowo</h1>
    <ul>
        <li>PRZEDSZKOLE SAMORZĄDOWE W BARUCHOWIE</li>
        <li>SZKOŁA PODSTAWOWA IM. MARII KRETKOWSKIEJ W BARUCHOWIE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W BARUCHOWIE</li>

    </ul>
    <a href="KUJAWSKO-POMORSKIE.html">Back to Cities in KUJAWSKO-POMORSKIE</a>
</body>
</html>
