
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Kruszwica</title>
</head>
<body>
    <h1>Schools in Kruszwica</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W ZESPOLE SZKÓŁ IM. KAZIMIERZA WIELKIEGO W KRUSZWICY</li>
        <li>KRUSZWICKA SZKOŁA REALNA</li>
        <li>KRUSZWICKA SZKOŁA REALNA - LICEUM OGÓLNOKSZTAŁCĄCE DLA MŁODZIEŻY</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W ZESPOLE SZKÓŁ IM. KAZIMIERZA WIELKIEGO W KRUSZWICY</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM.JULIUSZA SŁOWACKIEGO W KRUSZWICY</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W ZESPOLE SZKÓŁ IM. KAZIMIERZA WIELKIEGO W KRUSZWICY</li>
        <li>MŁODZIEŻOWY OŚRODEK WYCHOWAWCZY DLA DZIEWCZĄT IM. POLSKICH OLIMPIJCZYKÓW W KRUSZWICY</li>
        <li>MŁODZIEŻOWY OŚRODEK WYCHOWAWCZY DLA DZIEWCZĄT W KRUSZWICY - SZKOŁA PODSTAWOWA SPECJALNA</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO NADGOPLAŃSKIE WOPR W KRUSZWICY</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W INOWROCŁAWIU - FILIA W KRUSZWICY</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 1 IM. "NAD GOPŁEM" W KRUSZWICY</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 3 IM. EWY LEWAŃSKIEJ W KRUSZWICY</li>
        <li>SPECJALNA BRANŻOWA SZKOŁA I STOPNIA W KRUSZWICY</li>
        <li>SPECJALNA BRANŻOWA SZKOŁA I STOPNIA W ZESPOLE SZKÓŁ IM. KAZIMIERZA WIELKIEGO W KRUSZWICY</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. JANA KASPROWICZA W KRUSZWICY</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. TYSIĄCLECIA PAŃSTWA POLSKIEGO W KRUSZWICY</li>
        <li>TECHNIKUM W ZESPOLE SZKÓŁ IM. KAZIMIERZA WIELKIEGO W KRUSZWICY</li>
        <li>ZESPÓŁ SZKÓŁ IM. KAZIMIERZA WIELKIEGO W KRUSZWICY</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH W KRUSZWICY</li>
        <li>ZESPÓŁ SZKÓŁ SAMORZĄDOWYCH NR 1 W KRUSZWICY</li>

    </ul>
    <a href="KUJAWSKO-POMORSKIE.html">Back to Cities in KUJAWSKO-POMORSKIE</a>
</body>
</html>
