
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Lipno</title>
</head>
<body>
    <h1>Schools in Lipno</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA</li>
        <li>BRANŻOWA SZKOŁA SPECJALNA I STOPNIA</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO LINKOWSKI</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO LIPNOWSKIEGO WOPR W LIPNIE</li>
        <li>NIEPUBLICZNA SZKOŁA POLICEALNA W LIPNIE</li>
        <li>NIEPUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE W LIPNIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE ,,DOLINA MUMINKÓW"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE ,,KLUB MALUCHA''</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "PROMYCZEK"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE RODZINNE</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W LIPNIE</li>
        <li>PRZEDSZKOLE KATOLICKIE OAZA</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 2 W LIPNIE</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 3</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 4 W LIPNIE</li>
        <li>PRZEDSZKOLE W PARKU</li>
        <li>PUBLICZNA SZKOŁA MUZYCZNA I STOPNIA W LIPNIE</li>
        <li>SZKOŁA PODSTAWOWA NR 2IM.WŁADYSLAWA BRONIEWSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 3 W LIPNIE IM MIKOŁAJA KOPERNIKA</li>
        <li>SZKOŁA PODSTAWOWA NR 5IM. JANA PAWŁA II</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 4 IM. JANUSZA KORCZAKA W LIPNIE</li>
        <li>SZKOŁA POLICEALNA</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY</li>
        <li>TECHNIKUM</li>
        <li>ZESPÓŁ PRZEDSZKOLI MIEJSKICH NR 1 W LIPNIE IM. CZESŁAWA JANCZARSKIEGO</li>
        <li>ZESPÓŁ SZKÓŁ IM. ROMUALDA TRAUGUTTA W LIPNIE</li>
        <li>ZESPÓŁ SZKÓŁ SPECJALNYCH</li>
        <li>ZESPÓŁ SZKÓŁ TECHNICZNYCH IM. ZIEMI DOBRZYŃSKIEJ W LIPNIE</li>

    </ul>
    <a href="KUJAWSKO-POMORSKIE.html">Back to Cities in KUJAWSKO-POMORSKIE</a>
</body>
</html>
