
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Mrocza</title>
</head>
<body>
    <h1>Schools in Mrocza</h1>
    <ul>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA MINI AKADEMIA</li>
        <li>PRZEDSZKOLE MIEJSKIE W MROCZY</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "MINI AKADEMIA" BARBARA SZURIK</li>
        <li>SZKOŁA PODSTAWOWA IM. WOJSKA POLSKIEGO W MROCZY</li>
        <li>TECHNIKUM BYDGOSKIEGO ZAKŁADU DOSKONALENIA ZAWODOWEGO W MROCZY</li>

    </ul>
    <a href="KUJAWSKO-POMORSKIE.html">Back to Cities in KUJAWSKO-POMORSKIE</a>
</body>
</html>
