
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Kcynia</title>
</head>
<body>
    <h1>Schools in Kcynia</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 2 W ZAKŁADZIE POPRAWCZYM W KCYNI</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA W KCYNI</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. KAROLA LIBELTA W KCYNI</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA MINI AKADEMIA W KCYNI</li>
        <li>PRZEDSZKOLE MIEJSKIE IM. ZIEMI PAŁUCKIEJ W KCYNI</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "MINI AKADEMIA"</li>
        <li>SPECJALNY OŚRODEK WYCHOWAWCZY W KCYNI</li>
        <li>SZKOŁA PODSTAWOWA IM. JANA CZOCHRALSKIEGO W KCYNI</li>
        <li>SZKOŁA PODSTAWOWA NR 3 W ZAKŁADZIE POPRAWCZYM W KCYNI</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA ZESPOŁU SZKÓŁ SPECJALNYCH IM. JANUSZA KORCZAKA W KCYNI</li>
        <li>TECHNIKUM W ZESPOLE SZKÓŁ TECHNICZNYCH W KCYNI</li>
        <li>ZESPÓŁ SZKÓŁ SPECJALNYCH IM. JANUSZA KORCZAKA W KCYNI</li>
        <li>ZESPÓŁ SZKÓŁ SPECJALNYCH IM. JANUSZA KORCZAKA W KCYNI - BRANŻOWA SZKOŁA SPECJALNA I STOPNIA NR 1</li>
        <li>ZESPÓŁ SZKÓŁ SPECJALNYCH IM. JANUSZA KORCZAKA W KCYNI - SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY</li>
        <li>ZESPÓŁ SZKÓŁ TECHNICZNYCH</li>

    </ul>
    <a href="KUJAWSKO-POMORSKIE.html">Back to Cities in KUJAWSKO-POMORSKIE</a>
</body>
</html>
