
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Rypin</title>
</head>
<body>
    <h1>Schools in Rypin</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 1 W RYPINIE W ZESPOLE SZKÓŁ NR 2 IM. UNII EUROPEJSKIEJ W RYPINIE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 2 W RYPINIE W ZESPOLE SZKÓŁ NR 3 IM. BOGDANA CHEŁMICKIEGO W RYPINIE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 3 W RYPINIE W ZESPOLE SZKÓŁ NR 5 IM. KS. JANA TWARDOWSKIEGO W RYPINIE</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA W RYPINIE W ZESPOLE SZKÓŁ NR 2 IM. UNII EUROPEJSKIEJ W RYPINIE</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W RYPINIE W ZESPOLE SZKÓŁ NR 1 IM. KS. CZESŁAWA LISSOWSKIEGO W RYPINIE</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE W RYPINIE W ZESPOLE SZKÓŁ NR 1 IM. KS. CZESŁAWA LISSOWSKIEGO W RYPINIE</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W RYPINIE W ZESPOLE SZKÓŁ NR 2 IM. UNII EUROPEJSKIEJ W RYPINIE</li>
        <li>II LICEUM OGÓŁNOKSZTAŁCĄCE W RYPINIE W ZESPOLE SZKÓŁ NR 2 IM. UNII EUROPEJSKIEJ W RYPINIE</li>
        <li>III LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W RYPINIE W ZESPOLE SZKÓŁ NR 3 IM. BOGDANA CHEŁMICKIEGO W RYPINIE</li>
        <li>LICEUM SZTUK PLASTYCZNYCH W RYPINIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE"CHATKA PUCHATKA"</li>
        <li>OŚRODEK KSZTAŁCENIA ZAWODOWEGO W RYPINIE</li>
        <li>OŚRODEK SZKOLENIA KURSOWEGO - CECH RZEMIOSŁ RÓŻNYCH W RYPINIE</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W RYPINIE</li>
        <li>PRYWATNY OŚRODEK KSZTAŁCENIA ZAWODOWEGO DLA DOROSŁYCH W RYPINIE</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 1 W RYPINIE</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 2 W RYPINIE</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 3 "NIEZAPOMINAJKA" W RYPINIE</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. MJR HENRYKA SUCHARSKIEGO W RYPINIE</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. JANA PAWŁA II W RYPINIE</li>
        <li>SZKOŁA PODSTAWOWA W RYPINIE W ZESPOLE SZKÓŁ NR 5 IM. KS. JANA TWARDOWSKIEGO W RYPINIE</li>
        <li>SZKOŁA POLICEALNA NR 1 W RYPINIE W ZESPOLE SZKÓŁ NR 1 IM. KS. CZESŁAWA LISSOWSKIEGO W RYPINIE</li>
        <li>SZKOŁA POLICEALNA NR 2 W RYPINIE W ZESPOLE SZKÓŁ NR 2 IM. UNII EUROPEJSKIEJ W RYPINIE</li>
        <li>SZKOŁA POLICEALNA NR 3 W RYPINIE W ZESPOLE SZKÓŁ NR 3 IM. BOGDANA CHEŁMICKIEGO W RYPINIE</li>
        <li>SZKOŁA PRZYSPOSABIAJĄCA DO PRACY W RYPINIE W ZESPOLE SZKÓŁ NR 5 IM. KS. JANA TWARDOWSKIEGO W RYPINIE</li>
        <li>TECHNIKUM NR 1 W RYPINIE W ZESPOLE SZKÓŁ NR 2 IM. UNII EUROPEJSKIEJ W RYPINIE</li>
        <li>TECHNIKUM NR 2 W RYPINIE W ZESPOLE SZKÓŁ NR 3 IM. BOGDANA CHEŁMICKIEGO W RYPINIE</li>
        <li>ZESPÓŁ SZKÓŁ NR 1 IM. KS. CZESŁAWA LISSOWSKIEGO W RYPINIE</li>
        <li>ZESPÓŁ SZKÓŁ NR 2 IM. UNII EUROPEJSKIEJ W RYPINIE</li>
        <li>ZESPÓŁ SZKÓŁ NR 3 IM. BOGDANA CHEŁMICKIEGO W RYPINIE</li>
        <li>ZESPÓŁ SZKÓŁ NR 5 IM. KS. JANA TWARDOWSKIEGO W RYPINIE</li>
        <li>ZESPÓŁ SZKÓŁ NR 5 W RYPINIE IM. KS. JANA TWARDOWSKIEGO - SZKOŁA MUZYCZNA I STOPNIA</li>
        <li>ZESPÓŁ SZKOLNO - PRZEDSZKOLNY NR 1</li>
        <li>ZESPÓŁ SZKOLNO - PRZEDSZKOLNY NR 2</li>

    </ul>
    <a href="KUJAWSKO-POMORSKIE.html">Back to Cities in KUJAWSKO-POMORSKIE</a>
</body>
</html>
