
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Świecie</title>
</head>
<body>
    <h1>Schools in Świecie</h1>
    <ul>
        <li>AKADEMIA PRZEDSZKOLAKA W ŚWIECIU</li>
        <li>AKADEMICKIE LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>BRANŻOWA SZKOŁA I ST. NR 3 Z ODDZIAŁAMI INTEGRACYJNYMI W ZAKŁADZIE POPRAWCZYM W ŚWIECIU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 1 W ŚWIECIU W ZESPOLE SZKÓŁ PONADPODSTAWOWYCH</li>
        <li>CENTRUM DOSKONALENIA KADR CEDEKA</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO ZBIGNIEW I DARIUSZ JEDWABNY S.C.</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODWEGO "ALFA" W ŚWIECIU</li>
        <li>FUNDACJA NA RZECZ KSZTAŁCENIA I WYCHOWANIA „PROGRESS”</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE IMIENIA FLORIANA CEYNOWY W ŚWIECIU</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE W ŚWIECIU W ZESPOLE SZKÓŁ OGÓLNOKSZTAŁCĄCYCH I POLICEALNYCH</li>
        <li>III LICEUM OGÓLNOKSZTAŁCĄCE W ŚWIECIU W ZESPOLE SZKÓŁ PONADPODSTAWOWYCH</li>
        <li>JĘZYKOWE PRZEDSZKOLE "BAŚNIOWY DWOREK" W ŚWIECIU</li>
        <li>KATOLICKA SZKOŁA PODSTAWOWA IM. KS. DRA BERNARDA SYCHTY</li>
        <li>KATOLICKIE LICEUM OGÓLNOKSZTAŁCĄCE IM. KS. DR BERNARDA SYCHTY</li>
        <li>KATOLICKIE PRZEDSZKOLE ANIOŁOWO W ŚWIECIU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE "MENEDŻER"</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH "APIS"</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W ŚWIECIU W ZESPOLE SZKÓŁ PONADPODSTAWOWYCH</li>
        <li>NIEPUBLICZNY OŚRODEK DOSKONALENIA NAUCZYCIELI W ŚWIECIU</li>
        <li>NIEPUBLICZNY OŚRODEK KSZTAŁCENIA ZAWODOWEGO „APIS” W ŚWIECIU</li>
        <li>OŚRODEK DOSKONALENIA NAUCZYCIELI ELIM</li>
        <li>POLICEALNA SZKOŁA MEDYCZNA APIS W ŚWIECIU</li>
        <li>POLICEALNA SZKOŁA ZAWODOWA "APIS" W ŚWIECIU</li>
        <li>PORADNIA PSYCHOLOGICZN0 - PEDAGOGICZNA</li>
        <li>PROFESJONALISTA FIRMA SZKOLENIOWO-KONSULTINGOWA</li>
        <li>PRYWATNE TECHNIKUM GEODEZYJNE "MENEDŻER"</li>
        <li>PRYWATNE TECHNIKUM OCHRONY ŚRODOWISKA "MENEDŻER"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE KANGUREK W ŚWIECIU</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE LWIĄTKO</li>
        <li>PRZEDSZKOLE NR 1 W ŚWIECIU</li>
        <li>PRZEDSZKOLE NR 2 Z ODDZIAŁAMI INTEGRACYJNYMI W ŚWIECIU</li>
        <li>PRZEDSZKOLE NR 3 W ŚWIECIU</li>
        <li>PRZEDSZKOLE NR 4 W ŚWIECIU</li>
        <li>PRZEDSZKOLE NR 6 W ŚWIECIU</li>
        <li>PRZEDSZKOLE NR 7 W ŚWIECIU</li>
        <li>PRZEDSZKOLE NR 8 W ŚWIECIU</li>
        <li>PRZEDSZKOLE NR 9 POD KLONEM W ŚWIECIU</li>
        <li>PRZEDSZKOLE SPECJALNE NR 10 SŁONECZNA POLANA DLA DZIECI Z NIEPEŁNOSPRAWNOŚCIĄ INTELEKTUALNĄ, ZE SPRZĘŻENIAMI I Z AUTYZMEM W ŚWIECIU ZESPÓŁ SZKÓŁ SPECJALNYCH NR 1 W ŚWIECIU</li>
        <li>SPECJALNA BRANŻOWA SZKOŁA I STOPNIA NR 2 IM. JANA PAWŁA II W ŚWIECIU W ZESPOLE SZKÓŁ SPECJALNYCH NR 1</li>
        <li>STACJONARNA POLICEALNA SZKOŁA MEDYCZNA APIS W ŚWIECIU</li>
        <li>SZKOŁA BRANŻOWA I STOPNIA</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. WOJSKA POLSKIEGO W ŚWIECIU</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. ZIEMI ŚWIECKIEJ W ŚWIECIU</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM MIKOŁAJA KOPERNIKA W ŚWIECIU</li>
        <li>SZKOŁA PODSTAWOWA NR 5 IM. POLSKICH OLIMPIJCZYKÓW W ŚWIECIU</li>
        <li>SZKOŁA PODSTAWOWA NR 7 IM. A. MICKIEWICZA W ŚWIECIU</li>
        <li>SZKOŁA PODSTAWOWA NR 8 IM. KAZIMIERZA ECKSTEINA W ŚWIECIU</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 6 IM. JANA PAWŁA II W ŚWIECIU W ZESPOLE SZKÓŁ SPECJALNYCH NR 1</li>
        <li>SZKOŁA PODSTAWOWA Z ODDZIAŁAMI INTEGRACYJNYMI W ZAKŁADZIE POPRAWCZYM W ŚWIECIU</li>
        <li>SZKOŁA POLICEALNA DLA DOROSŁYCH</li>
        <li>SZKOŁA POLICEALNA MEDYCZNO - SPOŁECZNA W ŚWIECIU W ZESPOLE SZKÓŁ OGÓLNOKSZTAŁCĄCYCH I POLICEALNYCH</li>
        <li>SZKOŁA POLICEALNA NR 1 W ŚWIECIU W ZESPOLE SZKÓŁ PONADPODSTAWOWYCH W ŚWIECIU</li>
        <li>SZKOŁA POLICEALNA NR 2 W ŚWIECIU W ZESPOLE SZKÓŁ OGÓLNOKSZTAŁCĄCYCH I POLICEALNYCH W ŚWIECIU</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY NR 1 IM. JANA PAWŁA II W ŚWIECIU W ZESPOLE SZKÓŁ SPECJALNYCH NR 1</li>
        <li>TECHNIKUM EKONOMICZNE "MENEDŻER"</li>
        <li>TECHNIKUM HOTELARSTWA "MENEDŻER"</li>
        <li>TECHNIKUM INFORMATYKI "MENEDŻER"</li>
        <li>TECHNIKUM LOGISTYKI MENEDŻER</li>
        <li>TECHNIKUM NR 2 W ŚWIECIU W ZESPOLE SZKÓŁ OGÓLNOKSZTAŁCĄCYCH I POLICEALNYCH</li>
        <li>TECHNIKUM URZADZEŃ I SYSTEMÓW ENERGETYKI ODNAWIALNEJ "MENEDŻER"</li>
        <li>TECHNIKUM W ŚWIECIU W ZESPOLE SZKÓŁ PONADPODSTAWOWYCH</li>
        <li>ZESPÓŁ SZKÓŁ APIS W ŚWIECIU</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH I POLICEALNYCH</li>
        <li>ZESPÓŁ SZKÓŁ PONADPODSTAWOWYCH W ŚWIECIU</li>
        <li>ZESPÓŁ SZKÓŁ SPECJALNYCH NR 1</li>

    </ul>
    <a href="KUJAWSKO-POMORSKIE.html">Back to Cities in KUJAWSKO-POMORSKIE</a>
</body>
</html>
