
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Chełmża</title>
</head>
<body>
    <h1>Schools in Chełmża</h1>
    <ul>
        <li>ANGELOVE PRZEDSZKOLE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 1 W CHEŁMŻY</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 2 W CHEŁMŻY</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO W CHEŁMŻY</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO "CENTRUM SZKOLEŃ JUMI"</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W CHEŁMŻY</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. KOMISJI EDUKACJI NARODOWEJ W CHEŁMŻY</li>
        <li>MAŁE PRZEDSZKOLE</li>
        <li>OŚRODEK DLA DZIECI I MŁODZIEZY Z AUTYZMEM W CHEŁMZY</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W CHEŁMŻY</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 2</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE HULA HOP</li>
        <li>PRZEDSZKOLE NR 1</li>
        <li>SZKOŁA MUZYCZNA I STOPNIA W CHEŁMŻY</li>
        <li>SZKOŁA PODSTAWOWA NR 2</li>
        <li>SZKOŁA PODSTAWOWA NR 3</li>
        <li>SZKOŁA PODSTAWOWA NR 4 SPECJALNA W CHEŁMŻY</li>
        <li>SZKOŁA PODSTAWOWA NR 5 IM. PAPIEŻA JANA PAWŁA II</li>
        <li>SZKOŁA POLICEALNA W CHEŁMŻY</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W CHEŁMŻY</li>
        <li>TECHNIKUM W CHEŁMŻY</li>
        <li>ZESPÓŁ SZKÓŁ IM. UNII EUROPEJSKIEJ W CHEŁMŻY</li>
        <li>ZESPÓŁ SZKÓŁ PONADPODSTAWOWYCH W CHEŁMŻY</li>

    </ul>
    <a href="KUJAWSKO-POMORSKIE.html">Back to Cities in KUJAWSKO-POMORSKIE</a>
</body>
</html>
