
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Lubaszcz</title>
</head>
<body>
    <h1>Schools in Lubaszcz</h1>
    <ul>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO W LUBASZCZU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W LUBASZCZU</li>
        <li>ZESPÓŁ SZKÓŁ IM. WŁADYSŁAWA ŁOKIETKA W LUBASZCZU</li>
        <li>ZESPÓŁ SZKÓŁ IM. WŁADYSŁAWA ŁOKIETKA W LUBASZCZU - BRANŻOWA SZKOŁA I STOPNIA</li>
        <li>ZESPÓŁ SZKÓŁ IM. WŁADYSŁAWA ŁOKIETKA W LUBASZCZU - BRANŻOWA SZKOŁA II STOPNIA W LUBASZCZU</li>
        <li>ZESPÓŁ SZKÓŁ IM. WŁADYSŁAWA ŁOKIETKA W LUBASZCZU - TECHNIKUM</li>

    </ul>
    <a href="KUJAWSKO-POMORSKIE.html">Back to Cities in KUJAWSKO-POMORSKIE</a>
</body>
</html>
