
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Solec Kujawski</title>
</head>
<body>
    <h1>Schools in Solec Kujawski</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W SOLCU KUJAWSKIM W ZESPOLE SZKÓŁ OGÓLNOKSZTAŁCĄCYCH I ZAWODOWYCH W SOLCU KUJAWSKIM</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W SOLCU KUJAWSKIM W ZESPOLE SZKÓŁ OGÓLNOKSZTAŁCĄCYCH I ZAWODOWYCH W SOLCU KUJAWSKIM</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W SOLCU KUJAWSKIM W ZESPOLE SZKÓŁ OGÓLNOKSZTAŁCACYCH I ZAWODOWYCH W SOLCU KUJAWSKIM</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W SOLCU KUJAWSKIM</li>
        <li>OCHRONKA ZGROMADZENIA SIÓSTR SŁUŻEBNICZEK BDNP NIEPUBLICZNE PRZEDSZKOLE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "REKSIO"</li>
        <li>PRZEDSZKOLE PUBLICZNE DINUŚ</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 1 "PROMYCZEK" W SOLCU KUJAWSKIM</li>
        <li>SZKOŁA MUZYCZNA I STOPNIA IM. FRYDERYKA CHOPINA W SOLCU KUJAWSKIM</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. TADEUSZA KOŚCIUSZKI W SOLCU KUJAWSKIM</li>
        <li>SZKOŁA PODSTAWOWA NR 4 IM. MARII SKŁODOWSKIEJ-CURIE W SOLCU KUJAWSKIM</li>
        <li>TECHNIKUM W SOLCU KUJAWSKIM W ZESPOLE SZKÓŁ OGÓLNOKSZTAŁCĄCYCH I ZAWODOWYCH W SOLCU KUJAWSKIM</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH I ZAWODOWYCH W SOLCU KUJAWSKIM</li>

    </ul>
    <a href="KUJAWSKO-POMORSKIE.html">Back to Cities in KUJAWSKO-POMORSKIE</a>
</body>
</html>
