
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Szpetal Górny</title>
</head>
<body>
    <h1>Schools in Szpetal Górny</h1>
    <ul>
        <li>PRZEDSZKOLE NIEPUBLICZNE MAŁY MIŚ</li>
        <li>PRZEDSZKOLE O PROFILU KATOLICKIM "ANIOŁEK"</li>
        <li>SZKOŁA PODSTAWOWA W SZPETALU GÓRNYM IM. KAZIMIERZA III WIELKIEGO</li>

    </ul>
    <a href="KUJAWSKO-POMORSKIE.html">Back to Cities in KUJAWSKO-POMORSKIE</a>
</body>
</html>
