
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Chodecz</title>
</head>
<body>
    <h1>Schools in Chodecz</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W CHODCZU</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA W CHODCZU</li>
        <li>POWIATOWE CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO W CHODCZU</li>
        <li>POWIATOWE CENTRUM KSZTAŁCENIA ZAWODOWEGO W CHODCZU</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE W CHODCZU</li>
        <li>SZKOŁA PODSTAWOWA IM.TADEUSZA KOŚCIUSZKI W CHODCZU</li>
        <li>SZKOŁA POLICEALNA W CHODCZU</li>
        <li>TECHNIKUM W CHODCZU</li>

    </ul>
    <a href="KUJAWSKO-POMORSKIE.html">Back to Cities in KUJAWSKO-POMORSKIE</a>
</body>
</html>
