
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Brodnica</title>
</head>
<body>
    <h1>Schools in Brodnica</h1>
    <ul>
        <li>BIURO KOMPUTEROWE "BEST" WOJCIECH PŁOTKA</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA IM. ZESŁAŃCÓW SYBIRU</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA</li>
        <li>BURSA SZKOLNA CARITAS DIECEZJI TORUŃSKIEJ IM. BISUPA JANA CHRAPKA W BRODNICY</li>
        <li>CENTRUM EDUKACJI DOROSŁYCH POLICEALNE STUDIUM ZAWODOWE W BRODNICY</li>
        <li>CENTRUM EDUKACJI DOROSŁYCH W BRODNICY</li>
        <li>CENTRUM JĘZYKÓW OBCYCH SPEAKLAND W BRODNICY</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO W BRODNICY</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE IM. FILOMATÓW ZIEMI MICHAŁOWSKIEJ W BRODNICY</li>
        <li>III LICEUM OGÓLNOKSZTAŁCĄCE W BRODNICY</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>MEDYCZNA SZKOŁA CED</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "AKADEMIA KOTA LEONARDA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE HAPPY KIDS 2</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE KANGUREK</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE TERAPEUTYCZNE "ZACZAROWANY OŁÓWEK"</li>
        <li>NIEPULICZNA PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA NOVAMED W BRODNICY</li>
        <li>OŚRODEK USŁUGOWO - SZKOLENIOWY "ZOFSTA" W BRODNICY</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I ST. IM. FRYDERYKA CHOPINA W BRODNICY</li>
        <li>PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA W BRODNICY</li>
        <li>PRZEDSZKOLE IM. MARII KONOPNICKIEJ W BRODNICY</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE " MAGICZNY DOMEK" DOROTA GRABOWSKA</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "BASNIOWA KRAINA" W BRODNICY</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "CHATKA PUCHATKA" W BRODNICY</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "MISIAKI"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "PROMYCZEK"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "SMERFUŚ"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "WESOŁE SKRZATY"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE BAJECZKA W BRODNICY</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE KRAINA MARZEŃ</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE W BRODNICY TĘGOWSKA BARBARA</li>
        <li>PRZEDSZKOLE NR 6 W BRODNICY</li>
        <li>PRZEDSZKOLE NR 8 W BRODNICY</li>
        <li>SZKOŁA MUZYCZNA I STOPNIA RES FACTA MUSICA W BRODNICY</li>
        <li>SZKOŁA PODSTAWOWA DLA DOROSŁYCH W BRODNICY</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. HENRYKA SIENKIEWICZA W BRODNICY</li>
        <li>SZKOŁA PODSTAWOWA NR 2 Z ODDZIAŁAMI INTEGRACYJNYMI IM. POLSKICH OLIMPIJCZYKÓW W BRODNICY</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. WŁADYSŁAWA JAGIEŁŁY W BRODNICY</li>
        <li>SZKOŁA PODSTAWOWA NR 4 Z ODDZIAŁAMI INTEGRACYJNYMI IM. 700 - LECIA BRODNICY W BRODNICY</li>
        <li>SZKOŁA PODSTAWOWA NR 7 W BRODNICY</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA</li>
        <li>SZKOŁA POLICEALNA W BRODNICY</li>
        <li>TECHNIKUM IM. ZESŁAŃCÓW SYBIRU</li>
        <li>USŁUGI BHP BARBARA GIBUTOWSKA W BRODNICY</li>
        <li>VOGELSCHULE CENTRUM JĘZYKÓW OBCYCH</li>
        <li>ZESPÓŁ SZKÓŁ NR 1 IM. KAROLA WOJTYŁY-JANA PAWŁA II W BRODNICY</li>
        <li>ZESPÓŁ SZKÓŁ SPECJALNYCH W BRODNICY</li>
        <li>ZESPÓŁ SZKÓŁ SPECJALNYCH W BRODNICY - SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 1 W BRODNICY</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 2 W BRODNICY</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 3 W BRODNICY</li>

    </ul>
    <a href="KUJAWSKO-POMORSKIE.html">Back to Cities in KUJAWSKO-POMORSKIE</a>
</body>
</html>
