
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Kościelec</title>
</head>
<body>
    <h1>Schools in Kościelec</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W ZESPOLE SZKÓŁ IM. JANA PAWŁA II W KOŚCIELCU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W ZESPOLE SZKÓŁ IM. JANA PAWŁA II W KOŚCIELCU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W ZESPOLE SZKÓŁ IM. JANA PAWŁA II W KOŚCIELCU</li>
        <li>PRZEDSZKOLE W KOŚCIELCU</li>
        <li>SZKOŁA PODSTAWOWA IM. ARMII KRAJOWEJ W KOŚCIELCU</li>
        <li>TECHNIKUM W ZESPOLE SZKÓŁ IM. JANA PAWŁA II W KOŚCIELCU</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH W KOŚCIELCU</li>
        <li>ZESPÓŁ SZKÓŁ IM. JANA PAWŁA II W KOŚCIELCU</li>

    </ul>
    <a href="KUJAWSKO-POMORSKIE.html">Back to Cities in KUJAWSKO-POMORSKIE</a>
</body>
</html>
