
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Dobrzejewice</title>
</head>
<body>
    <h1>Schools in Dobrzejewice</h1>
    <ul>
        <li>FILIA W DOBRZEJEWICACH PORADNI PSYCHOLOGICZNO-PEDAGOGICZNEJ W CHEŁMŻY</li>
        <li>LICEUM OGÓLNOKSZTAŁACĄCE IM.PRYMASA STEFANA KARDYNAŁA WYSZYŃSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA IM.GEN.J.H.DĄBROWSKIEGO W DOBRZEJEWICACH</li>
        <li>ZESPÓŁ SZKÓŁ W DOBRZEJEWICACH</li>

    </ul>
    <a href="KUJAWSKO-POMORSKIE.html">Back to Cities in KUJAWSKO-POMORSKIE</a>
</body>
</html>
