
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Wudzyn</title>
</head>
<body>
    <h1>Schools in Wudzyn</h1>
    <ul>
        <li>PUNKT PRZEDSZKOLNY W WUDZYNIE PRZY SZKOLE PODSTAWOWEJ W WUDZYNIE</li>
        <li>SZKOŁA PODSTAWOWA IM. PORUCZNIKA WACŁAWA TARNOWSKIEGO W WUDZYNIE</li>

    </ul>
    <a href="KUJAWSKO-POMORSKIE.html">Back to Cities in KUJAWSKO-POMORSKIE</a>
</body>
</html>
