
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Bądkowo</title>
</head>
<body>
    <h1>Schools in Bądkowo</h1>
    <ul>
        <li>CENTRUM EDUKACJI I KSZTAŁCENIA KADR TRZYLETNIE LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W BĄDKOWIE</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE W BĄDKOWIE</li>
        <li>SZKOŁA PODSTAWOWA W BĄDKOWIE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W BĄDKOWIE</li>

    </ul>
    <a href="KUJAWSKO-POMORSKIE.html">Back to Cities in KUJAWSKO-POMORSKIE</a>
</body>
</html>
