
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Działyń</title>
</head>
<body>
    <h1>Schools in Działyń</h1>
    <ul>
        <li>SAMORZĄDOWE PRZEDSZKOLE W DZIAŁYNIU</li>
        <li>SZKOŁA PODSTAWOWA IM. STEFANA ŻEROMSKIEGO W DZIAŁYNIU</li>
        <li>ZESPÓŁ SZKÓŁ W DZIAŁYNIU</li>

    </ul>
    <a href="KUJAWSKO-POMORSKIE.html">Back to Cities in KUJAWSKO-POMORSKIE</a>
</body>
</html>
