
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Pruszcz</title>
</head>
<body>
    <h1>Schools in Pruszcz</h1>
    <ul>
        <li>PRZEDSZKOLE SAMORZĄDOWE W PRUSZCZU</li>
        <li>SZKOŁA PODSTAWOWA IM. KS. JÓZEFA BRUSKIEGO W PRUSZCZU</li>
        <li>SZKOŁA PODSTAWOWA W PRUSZCZU</li>

    </ul>
    <a href="KUJAWSKO-POMORSKIE.html">Back to Cities in KUJAWSKO-POMORSKIE</a>
</body>
</html>
