
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Lubraniec-Parcele</title>
</head>
<body>
    <h1>Schools in Lubraniec-Parcele</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W LUBRAŃCU - MARYSINIE</li>
        <li>SZKOŁA POLICEALNA LUBRANIEC-PARCELE 30</li>
        <li>TECHNIKUM EKONOMICZNE W LUBRAŃCU - MARYSINIE</li>
        <li>ZESPÓŁ SZKÓŁ IM. MARII GRODZICKIEJ W LUBRAŃCU - MARYSINIE</li>

    </ul>
    <a href="KUJAWSKO-POMORSKIE.html">Back to Cities in KUJAWSKO-POMORSKIE</a>
</body>
</html>
