
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Rojewo</title>
</head>
<body>
    <h1>Schools in Rojewo</h1>
    <ul>
        <li>PUBLICZNE SAMORZĄDOWE PRZEDSZKOLE "AKADEMIA PRZEDSZKOLAKA" W ROJEWIE</li>
        <li>SZKOŁA PODSTAWOWA IM. KAZIMIERZA GÓRSKIEGO W ROJEWIE</li>
        <li>ZESPÓŁ SZKOLNO - PRZEDSZKOLNY W ROJEWIE</li>

    </ul>
    <a href="KUJAWSKO-POMORSKIE.html">Back to Cities in KUJAWSKO-POMORSKIE</a>
</body>
</html>
