
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Warlubie</title>
</head>
<body>
    <h1>Schools in Warlubie</h1>
    <ul>
        <li>PRZEDSZKOLE SPECJALNE NR 2 "PROMYCZEK " W WARLUBIU SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY IM. "POLSKICH OLIMPIJCZYKÓW" W WARLUBIU</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA IM.BR.MALINOWSKIEGO W WARLUBIU</li>
        <li>SPECJALNA BRANŻOWA SZKOŁA I STOPNIA W WARLUBIU W SPECJALNYM OŚRODKU SZKOLNO-WYCHOWAWCZYM IM. POLSKICH OLIMPIJCZYKÓW</li>
        <li>SPECJALNY OŚRODEK SZKOLNO - WYCHOWAWCZY IM. POLSKICH OLIMPIJCZYKÓW W WARLUBIU</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 2 W WARLUBIU W SPECJALNYM OŚRODKU SZKOLNO-WYCHOWAWCZYM IM. POLSKICH OLIMPIJCZYKÓW</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W WARLUBIU W SPECJALNYM OŚRODKU SZKOLNO-WYCHOWAWCZYM IM. POLSKICH OLIMPIJCZYKÓW</li>

    </ul>
    <a href="KUJAWSKO-POMORSKIE.html">Back to Cities in KUJAWSKO-POMORSKIE</a>
</body>
</html>
