
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Samostrzel</title>
</head>
<body>
    <h1>Schools in Samostrzel</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W SAMOSTRZELU</li>
        <li>CENTRUM KSZTAŁCENIA USTWICZNEGO W SAMOSTRZELU</li>
        <li>MŁODZIEŻOWY OŚRODEK WYCHOWAWCZY IM. IRENY SENDLEROWEJ W SAMOSTRZELU</li>
        <li>MŁODZIEŻOWY OŚRODEK WYCHOWAWCZY IM. IRENY SENDLEROWEJ W SAMOSTRZELU - LICEUM OGÓLNOKSZTAŁCĄCE SPECJALNE</li>
        <li>MŁODZIEŻOWY OŚRODEK WYCHOWAWCZY IM. IRENY SENDLEROWEJ W SAMOSTRZELU SZKOŁA PODSTAWOWA SPECJALNA W</li>
        <li>MŁODZIEŻOWY OŚRODEK WYCHOWAWCZY W SAMOSTRZELU - BRANŻOWA SZKOŁA SPECJALNA I STOPNIA NR 2</li>
        <li>TECHNIKUM W SAMOSTRZELU</li>
        <li>ZESPÓŁ SZKÓŁ CENTRUM KSZTAŁCENIA ROLNICZEGO IM. WINCENTEGO WITOSA W SAMOSTRZELU</li>

    </ul>
    <a href="KUJAWSKO-POMORSKIE.html">Back to Cities in KUJAWSKO-POMORSKIE</a>
</body>
</html>
