
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Łochowo</title>
</head>
<body>
    <h1>Schools in Łochowo</h1>
    <ul>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO "DENAR"</li>
        <li>PRZEDSZKOLE PRO-INTEGRIS NR 3 W ŁOCHOWIE</li>
        <li>SZKOŁA PODSTAWOWA IM. JANA PAWŁA II W ŁOCHOWIE</li>
        <li>TĘCZOWE PRZEDSZKOLE</li>
        <li>ZAKĄTEK PRZEDSZKOLAKA NIEPUBLICZNE PRZEDSZKOLE ANGLOJĘZYCZNE</li>
        <li>ZAKTEK PRZEDSZKOLAKA PUNKY PRZEDSZKOLNY</li>

    </ul>
    <a href="KUJAWSKO-POMORSKIE.html">Back to Cities in KUJAWSKO-POMORSKIE</a>
</body>
</html>
