
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Toruń</title>
</head>
<body>
    <h1>Schools in Toruń</h1>
    <ul>
        <li>"SEKA" S.A. ODDZIAŁ W TORUNIU</li>
        <li>"THE CHERRIES II" PRZEDSZKOLE ANGLOJĘZYCZNE</li>
        <li>"THE CHERRIES" PRZEDSZKOLE ANGLOJĘZYCZNE</li>
        <li>AKADEMIA MĄDREGO DZIECKA</li>
        <li>AKADEMIA NAUKI EWELINA KORNOWICZ</li>
        <li>AKADEMIA PRO EUROPA</li>
        <li>AKADEMIA WYDAWNICZO - DORADCZA</li>
        <li>AKADEMICKI OŚRODEK KSZTAŁCENIA ŻAK</li>
        <li>AKADEMICKIE LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>BIBLIOTEKA PEDAGOGICZNA IM. GEN. BRYG. PROF. ELŻBIETY ZAWACKIEJ W TORUNIU</li>
        <li>BIURO INFORMACJI I SZKOLENIA</li>
        <li>BIURO RZECZOZNAWSTWA TECHNIKI SAMOCHODOWEJ I RUCHU DROGOWEGO "MOTOEKSPERT"</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA "BLOK" W TORUNIU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 1 IM. GEN. ELŻBIETY ZAWACKIEJ W TORUNIU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 3 W TORUNIU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 4 W TORUNIU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 5 W TORUNIU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 7 W TORUNIU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 9 W TORUNIU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA RZEMIOSŁA I PRZEDSIĘBIORCZOŚCI PRZY ZAKŁADZIE DOSKONALENIA ZAWODOWEGO W TORUNIU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA SPECJALNA W TORUNIU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA START W TORUNIU</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA SPECJALNA W TORUNIU WCHODZĄCA W SKŁAD KUJAWSKO-POMORSKIEGO SPECJALNEGO OŚRODKA SZKOLNO-WYCHOWAWCZEGO IM. JANUSZA KORCZAKA W TORUNIU</li>
        <li>CENTRUM DOSKONALENIA NAUCZYCIELI "RAZEM LEPIEJ"</li>
        <li>CENTRUM EDUKACJI DOROSŁYCH</li>
        <li>CENTRUM EDUKACJI I TERAPII PUNKT PRZEDSZKOLNY "ZDOBYWCY"</li>
        <li>CENTRUM EDUKACYJNE NOWYCH TECHNOLOGII CENT</li>
        <li>CENTRUM KSZTAŁCENIA GASTRONOMICZNEGO</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO "PRYMUS" W TORUNIU</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO "PRYMUS" W TORUNIU</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO W TORUNIU</li>
        <li>CENTRUM SZKOLEŃ I TERAPII</li>
        <li>CENTRUM SZKOLENIA I DORADZTWA "TWIERDZA" ROBERT MIŁKOWSKI</li>
        <li>CENTRUM SZKOLENIA MAJER</li>
        <li>CENTRUM SZKOLENIA MAJER AUTOSZKOŁA AS MARKS MARCIN JANUSZ</li>
        <li>CENTRUM SZKOLENIOWO - DORADCZE ANSUZ</li>
        <li>CENTRUM SZKOLENIOWO - DORADCZE IZBY PRZEMYSŁOWO - HANDLOWEJ W TORUNIU</li>
        <li>CENTRUM TERAPII I EDUKACJI "MAŁY KSIĄŻĘ"</li>
        <li>CONVERSA ANNA CZUBA</li>
        <li>COSINUS OGÓLNOPOLSKI OŚRODEK SZKOLEŃ I ROZWOJU W TORUNIU</li>
        <li>DWUJĘZYCZNA SZKOŁA PODSTAWOWA "BUTTERFLY SCHOOL"</li>
        <li>DWUJĘZYCZNE PRZEDSZKOLE BUTTERFLY</li>
        <li>EDUKACJA ARTYSTYCZNA NEW ART - YAMAHA SZKOŁA MUZYCZNA W TORUNIU</li>
        <li>ENGLISH ACADEMY</li>
        <li>EUROPEJSKIE CENTRUM EDUKACJI W OPIECE DŁUGOTERMINOWEJ SZKOŁA POLICEALNA DLA OPIEKUNÓW MEDYCZNYCH W TORUNIU</li>
        <li>EUROPEJSKIE CENTRUM WSPÓŁPRACY MŁODZIEŻY OŚRODEK SZKOLENIOWY</li>
        <li>FRANCISZKAŃSKIE LICEUM OGÓLNOKSZTAŁCĄCE W TORUNIU</li>
        <li>HUMANO NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE IM. MIKOŁAJA KOPERNIKA</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE IM. KRÓLOWEJ JADWIGI</li>
        <li>III LICEUM OGÓLNOKSZTAŁCĄCE IM. SAMUELA BOGUMIŁA LINDEGO</li>
        <li>INWESTOR USŁUGI SZKOLENIOWE EWA PAWLAK</li>
        <li>IV LICEUM OGÓLNOKSZTAŁCĄCE IM. TADEUSZA KOŚCIUSZKI</li>
        <li>IX LICEUM OGÓLNOKSZTAŁCĄCE IM. KAZIMIERZA JAGIELOŃCZYKA</li>
        <li>JĘZYKOWA SZKOŁA PODSTAWOWA BUTTERFLY</li>
        <li>JĘZYKOWE PRZEDSZKOLE BUTTERFLY</li>
        <li>KATOLICKI NIEPUBLICZNY PUNKT PRZEDSZKOLNY LOLEK</li>
        <li>KATOLICKIE PRZEDSZKOLE NIEPUBLICZNE "DOMEK NA SKALE"</li>
        <li>KRAJOWE CENTRUM EDUKACJI ARCHIWALNEJ STOWARZYSZENIA ARCHIWISTÓW POLSKICH</li>
        <li>KUJAWSKO-POMORSKI SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY IM. JANUSZA KORCZAKA W TORUNIU</li>
        <li>KUJAWSKO-POMORSKIE CENTRUM EDUKACJI NAUCZYCIELI W TORUNIU</li>
        <li>KUJAWSKO-POMORSKIE CENTRUM KSZTAŁCENIA ZAWODOWEGO W TORUNIU</li>
        <li>LANGUAGE CENTER SZKOŁA JĘZYKÓW OBCYCH</li>
        <li>LICEUM JAGIELLOŃSKIE - KATOLICKIE LICEUM AKADEMICKIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH "ŻAK" W TORUNIU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH PASCAL W TORUNIU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE REALIZACJA</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE SOKRATES</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE TEB EDUKACJA W TORUNIU</li>
        <li>MAŁY WIELKI ŚWIAT</li>
        <li>MEDYCZNA SZKOŁA POLICEALNA "COSINUS" W TORUNIU</li>
        <li>MEDYCZNO-SPOŁECZNE CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO W TORUNIU</li>
        <li>MG STUDIO MILENA GRONCZEWSKA-ZIENTARSKA</li>
        <li>MŁODZIEŻOWY DOM KULTURY</li>
        <li>NASZ WSPÓLNY ŚWIAT</li>
        <li>NIEPUBICZNY OŚRODEK DOSKONALENIA NAUCZYCIELI COS</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO "AGENCJA SZKOLENIOWA FUNDACJI AKTYWIZACJI I INTEGRACJI SPOŁECZNEJ"</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO REJONOWEGO WOPR W TORUNIU</li>
        <li>NIEPUBLICZNA SPECJALISTYCZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA DLA OSÓB AUTYSTYCZNYCH I O CECHACH AUTYZMU</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA "RODZINNA SZKOŁA"</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA MONTESSORI W TORUNIU</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA SPECJALNA DLA DZIECI Z AUTYZMEM "MAŁY KSIĄŻĘ"</li>
        <li>NIEPUBLICZNA SZKOŁA POLICEALNA TEB EDUKACJA W TORUNIU</li>
        <li>NIEPUBLICZNE DWUJĘZYCZNE PRZEDSZKOLE INTEGRACYJNE "WIOSKA IRYSEK"</li>
        <li>NIEPUBLICZNE LICEUM SZTUK PLASTYCZNYCH W TORUNIU</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "AKADEMIA PRZEDSZKOLAKA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "DOBRE PRZEDSZKOLE" NR 2 W TORUNIU</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "DOBRE PRZEDSZKOLE" TORUN/KONIUCHY</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "NASZE PUZZLE"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "VIOLINEK"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE AKADEMIA ROZWOJU "EKO PANDA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE JĘZYKOWE "MALI GIGANCI"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE TĘCZOWA KRAINKA II</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE TĘCZOWA KRAINKA III</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE TERAPEUTYCZNE "MAŁY KSIĄŻĘ"</li>
        <li>NIEPUBLICZNY OŚRODEK DOSKONALENIA NAUCZYCIELI PRZY INSTYTUCIE DIAGNOZY I TERAPII "ESENCJA" W TORUNIU</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY LOKOMOTYWA</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY ŹRÓDEŁKO</li>
        <li>NIEPUBLICZY OŚRODEK REWALIDACYJNO-WYCHOWAWCZY AIM</li>
        <li>OGNISKO PRACY POZASZKOLNEJ-DOM HARCERZA</li>
        <li>OGÓLNOKSZTAŁCĄCA SZKOŁA MUZYCZNA I STOPNIA</li>
        <li>OGÓLNOKSZTAŁCĄCA SZKOŁA MUZYCZNA II STOPNIA</li>
        <li>OGÓLNOPOLSKA SZKOŁA JĘZYKOWA BRITISH SCHOOL W TORUNIU</li>
        <li>OŚRODEK KSZTAŁCENIA ZAWODOWEGO W TORUNIU</li>
        <li>OŚRODEK KURSOWEGO DOKSZTAŁCANIA I DOSKONALENIA ZAWODOWEGO "GASTROHTUR" W TORUNIU</li>
        <li>OŚRODEK KURSOWEGO DOKSZTAŁCANIA I DOSKONALENIA ZAWODOWEGO "STUDIUM TECHNICZNE" W TORUNIU</li>
        <li>OŚRODEK REHABILITACYJNO-EDUKACYJNO-WYCHOWAWCZY FONICARE</li>
        <li>OŚRODEK REWALIDACYJNO - WYCHOWAWCZY DLA DZIECI I MŁODZIEŻY Z AUTYZMEM "TĘCZA"</li>
        <li>OŚRODEK REWALIDACYJNO-WYCHOWAWCZY ALFA</li>
        <li>OŚRODEK SZKOLEŃ "DORADUS"</li>
        <li>OŚRODEK SZKOLEŃ I DORADZTWA BHP</li>
        <li>OŚRODEK SZKOLENIA "ZERGO"</li>
        <li>OŚRODEK SZKOLENIA BHP I PPOŻ. "ALAN"</li>
        <li>OŚRODEK SZKOLENIA KIEROWCÓW AUTOSTER SZWED DARIUSZ</li>
        <li>OŚRODEK SZKOLENIA KIEROWCÓW AUTOSTER SZWED LESZEK</li>
        <li>OŚRODEK SZKOLENIA PZITS W TORUNIU</li>
        <li>OŚRODEK SZKOLENIOWO - USŁUGOWY BHP "ERGO - SZKOL"</li>
        <li>OŚRODEK SZKOLENIOWO-DORADCZY OLDAV</li>
        <li>OŚRODEK SZKOLENIOWY "DORFIN"</li>
        <li>OŚRODEK SZKOLENIOWY "KONTRAKT"</li>
        <li>OŚRODEK SZKOLENIOWY CENTRUM NAUKI I BIZNESU "ŻAK" W TORUNIU</li>
        <li>PERFECTA INSTYTUT KADR I PŁAC</li>
        <li>PLACÓWKA KSZTAŁCENIA USTAWICZNEGO "CENTRUM"</li>
        <li>PLACÓWKA OŚWIATOWA PROWADZONA PRZEZ CISTOR STOWARZYSZENIE PARTNERSTWO SPOŁECZNE</li>
        <li>POLANGLO SZKOŁA JĘZYKÓW OBCYCH</li>
        <li>POLICEALNA SZKOŁA ADMINISTRACJI</li>
        <li>POLICEALNA SZKOŁA ASYSTENTÓW STOMATOLOGICZNYCH</li>
        <li>POLICEALNA SZKOŁA BEZPIECZEŃSTWA I HIGIENY PRACY</li>
        <li>POLICEALNA SZKOŁA FARMACEUTYCZNA</li>
        <li>POLICEALNA SZKOŁA HIGIENISTÓW STOMATOLOGICZNYCH</li>
        <li>POLICEALNA SZKOŁA KOSMETYCZNA</li>
        <li>POLICEALNA SZKOŁA MASAŻU</li>
        <li>POLICEALNA SZKOŁA OPIEKUNEK DZIECIĘCYCH W TORUNIU</li>
        <li>POLICEALNA SZKOŁA OPIEKUNEK ŚRODOWISKOWYCH</li>
        <li>POLICEALNA SZKOŁA OPIEKUNÓW MEDYCZNYCH</li>
        <li>POLICEALNA SZKOŁA PROTETYKÓW SŁUCHU</li>
        <li>POLICEALNA SZKOŁA TECHNIKÓW DENTYSTYCZNYCH</li>
        <li>POLICEALNA SZKOŁA TECHNIKÓW ELEKTRORADIOLOGÓW</li>
        <li>POLICEALNA SZKOŁA TECHNIKÓW OPTYKÓW</li>
        <li>POLICEALNA SZKOŁA TECHNIKÓW POJAZDÓW SAMOCHODOWYCH</li>
        <li>POLICEALNA SZKOŁA TERAPEUTÓW ZAJĘCIOWYCH</li>
        <li>POLICEALNA SZKOŁA WETERYNARII</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA TORUŃ</li>
        <li>PROFESJA CENTRUM KSZTAŁCENIA KADR OŚRODEK KSZTAŁCENIA USTAWICZNEGO W TORUNIU</li>
        <li>PROFESJA CENTRUM SZKOLENIA KURSOWEGO W TORUNIU</li>
        <li>PRYWATNA SZKOŁA PODSTAWOWA DLA DOROSŁYCH</li>
        <li>PRYWATNA SZKOŁA PODSTAWOWA NOWOCZESNYCH TECHNOLOGII I JĘZYKÓW OBCYCH - MODERN ACADEMY</li>
        <li>PRYWATNE LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W TORUNIU</li>
        <li>PRYWATNE PRZEDSZKOLE "CALINECZKA"</li>
        <li>PRYWATNE PRZEDSZKOLE "KATARZYNKA"</li>
        <li>PRYWATNE PRZEDSZKOLE "KRASNAL"</li>
        <li>PRYWATNE PRZEDSZKOLE DELFINEK</li>
        <li>PRZEDSZKOLE "PINOKIO"</li>
        <li>PRZEDSZKOLE "TORUŃSKIE SKAUTY"</li>
        <li>PRZEDSZKOLE HOP-SIUP BOBASKA W TORUNIU</li>
        <li>PRZEDSZKOLE IM. MARII MONTESSORI W TORUNIU</li>
        <li>PRZEDSZKOLE JAŚ I MAŁGOSIA</li>
        <li>PRZEDSZKOLE KRAINA ŻUCZKÓW</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 1 IM. WANDY SZUMAN W TORUNIU</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 10</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 11 IM.TONY HALIKA</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 12 IM. WŁADYSŁAWA SZAFERA</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 13 IM. MIKOŁAJA KOPERNIKA</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 14 IM. JANUSZA KORCZAKA</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 15 IM. CZESŁAWA JANCZARSKIEGO</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 16 IM. KORNELA MAKUSZYŃSKIEGO</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 17 IM FRYDERYKA CHOPINA</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 18</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 2 IM. JANA BRZECHWY</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 3</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 4</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 5 IM.JULIANA TUWIMA</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 6 IM.WANDY CHOTOMSKIEJ</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 7</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 8 IM. JANINY AWGULOWEJ</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 9 IM. DOROTY GELLNER</li>
        <li>PRZEDSZKOLE MONTESSORI</li>
        <li>PRZEDSZKOLE MUZYCZNE NEW ART</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "BAJKOWA KRAINA"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "BAJKOWY DWOREK"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "BIM-BAM-BINO"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "DZIECIĘCA ODYSEJA"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "FLISACZEK"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "GUCIO INTEGRACYJNE"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "HIPPO"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "JACEK I AGATKA"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "KOCI ŁAPCI"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "RACZEK"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "SŁONECZKO" S.C.</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "STOKROTKA"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "U ALOJZEGO TRĄBKI"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "U ARTYSTÓW"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "WESOŁY TYGRYSEK"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE PROMYCZEK</li>
        <li>PRZEDSZKOLE PRYWATNE "ALFIK"</li>
        <li>PRZEDSZKOLE PRYWATNE "JAGÓDKA"</li>
        <li>PRZEDSZKOLE PRYWATNE "KANGUREK"</li>
        <li>PRZEDSZKOLE PRYWATNE "LEŚNY LUDEK"</li>
        <li>PRZEDSZKOLE PRYWATNE "MAŁY ŚWIATEK"</li>
        <li>PRZEDSZKOLE PRYWATNE "SKRZAT"</li>
        <li>PRZEDSZKOLE PRYWATNE "SŁONECZKO"</li>
        <li>PUNKT PRZEDSZKOLNY "KRAINA ŻUCZKÓW"</li>
        <li>PUNKT PRZEDSZKOLNY "MALI ODKRYWCY"</li>
        <li>PUNKT PRZEDSZKOLNY AAA KOTKI DWA</li>
        <li>PUNKT PRZEDSZKOLNY ALFA - SPECJALISTYCZNA EDUKACJA DZIECIĘCA</li>
        <li>PUNKT PRZEDSZKOLNY FONICARE</li>
        <li>PUNKT PRZEDSZKOLNY PRZEDSZKOLE "DOMOWE GNIAZDKO"</li>
        <li>PUNKT PRZEDSZKOLNY STOWARZYSZENIA "EDUKACJA"</li>
        <li>SMERFNY GAJ</li>
        <li>SPECJALNE PRZEDSZKOLE "TĘCZA" DLA DZIECI Z AUTYZMEM W TORUNIU</li>
        <li>SPOŁECZNA JĘZYKOWA SZKOŁA PODSTAWOWA GEM Z ODDZIAŁAMI PRZEDSZKOLNYMI</li>
        <li>SPOŁECZNA SPECJALNA SZKOŁA PRZYSPOSABIAJĄCA DO PRACY. DOROTOWO</li>
        <li>SPOŁECZNA SZKOŁA PODSTAWOWA IM. JULIUSZA SŁOWACKIEGO</li>
        <li>SPOŁECZNA SZKOŁA PODSTAWOWA MISTRZOSTWA SPORTOWEGO STOWARZYSZENIA "EDUKACJA"</li>
        <li>SPOŁECZNA SZKOŁA PODSTAWOWA STOWARZYSZENIA EDUKACJA</li>
        <li>SPOŁECZNE OGÓLNOKSZTAŁCĄCE LICEUM JĘZYKOWE GEM</li>
        <li>SPOŁECZNE OGÓLNOKSZTAŁCĄCE LICEUM JĘZYKOWE GEM</li>
        <li>STOWARZYSZENIE KSIĘGOWYCH W POLSCE NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO ODDZIAŁU OKRĘGOWEGO W TORUNIU</li>
        <li>STUDIUM BIZNESU I JĘZYKÓW OBCYCH</li>
        <li>STUDIUM KSZTAŁCENIA KADR</li>
        <li>STUDIUM OŚWIATOWE TUTOR</li>
        <li>STUDIUM ZDROWIA CENTRUM EDUKACJI DOROSŁYCH</li>
        <li>SZKOŁA BRANŻOWA I STOPNIA</li>
        <li>SZKOŁA JAZDY RAJDER SEBASTIAN WESOŁOWSKI</li>
        <li>SZKOŁA JĘZYKA ANGIELSKIEGO INTERNATIONAL HOUSE</li>
        <li>SZKOŁA JĘZYKÓW OBCYCH "EPLANET"</li>
        <li>SZKOŁA JĘZYKÓW OBCYCH "POLANGLO"</li>
        <li>SZKOŁA JĘZYKÓW OBCYCH LOGAN</li>
        <li>SZKOŁA JĘZYKÓW OBCYCH PIGMALION</li>
        <li>SZKOŁA MUZYCZNA I STOPNIA</li>
        <li>SZKOŁA MUZYCZNA II STOPNIA</li>
        <li>SZKOŁA PODSTAWOWA "BLOK" W TORUNIU</li>
        <li>SZKOŁA PODSTAWOWA CAMBRIDGE ACADEMY W TORUNIU</li>
        <li>SZKOŁA PODSTAWOWA DLA DOROSŁYCH</li>
        <li>SZKOŁA PODSTAWOWA DLA DZIECI Z AUTYZMEM PROMETHEUS</li>
        <li>SZKOŁA PODSTAWOWA MONTESSORI</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM.UCZESTNIKÓW STRAJKU SZKOLNEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 10 IM. KOMISJI EDUKACJI NARODOWEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 11 IM. PABLA NERUDY</li>
        <li>SZKOŁA PODSTAWOWA NR 13 IM. ŚW JANA PAWŁA II W TORUNIU</li>
        <li>SZKOŁA PODSTAWOWA NR 14 IM. BŁĘKITNEJ ARMII</li>
        <li>SZKOŁA PODSTAWOWA NR 15 IM. WŁADYSŁAWA BRONIEWSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 16 IM. WANDY SZUMAN</li>
        <li>SZKOŁA PODSTAWOWA NR 17 IM. GEN. JÓZEFA BEMA</li>
        <li>SZKOŁA PODSTAWOWA NR 18 IM. ARKADEGO FIEDLERA</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. ADAMA MICKIEWICZA</li>
        <li>SZKOŁA PODSTAWOWA NR 23 IM.KAWALERÓW ORDERU UŚMIECHU</li>
        <li>SZKOŁA PODSTAWOWA NR 24 IM. BOHATERÓW WRZEŚNIA 1939</li>
        <li>SZKOŁA PODSTAWOWA NR 27 IM. GEN. ELŻBIETY ZAWACKIEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 28 IM. PROF. HENRYKA ARCTOWSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM.KPT.JANA DRZEWIECKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 31 IM. GEN. JÓZEFA HALLERA</li>
        <li>SZKOŁA PODSTAWOWA NR 32 IM. ARMII KRAJOWEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 33 TORUŃSKA SZKOŁA TERAPEUTYCZNA</li>
        <li>SZKOŁA PODSTAWOWA NR 34 IM. TONY'EGO HALIKA</li>
        <li>SZKOŁA PODSTAWOWA NR 35 IM. POLSKICH OLIMPIJCZYKÓW</li>
        <li>SZKOŁA PODSTAWOWA NR 4 Z ODDZIAŁAMI DWUJĘZYCZNYMI IM. ŚW.JANA PAWŁA II W TORUNIU</li>
        <li>SZKOŁA PODSTAWOWA NR 5 IM. ROMUALDA TRAUGUTTA</li>
        <li>SZKOŁA PODSTAWOWA NR 6</li>
        <li>SZKOŁA PODSTAWOWA NR 7 IM. MIKOŁAJA KOPERNIKA</li>
        <li>SZKOŁA PODSTAWOWA NR 8 IM. MARII SKŁODOWSKIEJ-CURIE</li>
        <li>SZKOŁA PODSTAWOWA NR 9 IM. STANISŁAWY JAWORSKIEJ</li>
        <li>SZKOŁA PODSTAWOWA SOKRATES Z ODDZIALAMI DWUJĘZYCZNYMI W TORUNIU</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 19 IM. BŁ.KS.STEFANA WINCENTEGO FRELICHOWSKIEGO W TORUNIU</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 26 IM. KS. PROF. JÓZEFA TISCHNERA</li>
        <li>SZKOŁA PODSTAWOWA SPECJANA NR 25 W TORUNIU</li>
        <li>SZKOŁA PODSTAWOWA TOWARZYSTWA SALEZJAŃSKIEGO IM. ŚW. DOMINIKA SAVIO W TORUNIU</li>
        <li>SZKOŁA PODSTAWOWA Z ODDZIAŁAMI INTEGRACYJNYMI INTEGRARE</li>
        <li>SZKOŁA POLICEALNA CENTRUM NAUKI I BIZNESU "ŻAK"</li>
        <li>SZKOŁA POLICEALNA COSINUS I W TORUNIU</li>
        <li>SZKOŁA POLICEALNA COSINUS W TORUNIU</li>
        <li>SZKOŁA POLICEALNA KOSMETYCZNA "ŻAK" W TORUNIU</li>
        <li>SZKOŁA POLICEALNA MEDYCZNA "ŻAK" W TORUNIU</li>
        <li>SZKOŁA POLICEALNA MEDYCZNA IM. MIKOŁAJA KOPERNIKA W TORUNIU</li>
        <li>SZKOŁA POLICEALNA OPIEKI MEDYCZNEJ "ŻAK" W TORUNIU</li>
        <li>SZKOŁA POLICEALNA PASCAL W TORUNIU</li>
        <li>SZKOŁA POLICEALNA PRAWA I ADMINISTRACJI "ŻAK" W TORUNIU</li>
        <li>SZKOŁA POLICEALNA W TORUNIU</li>
        <li>SZKOŁA POLICEALNA. ELITARNE STUDIUM SŁUŻB OCHRONY "DELTA" W TORUNIU</li>
        <li>SZKOŁA PRZYSPOSABIAJĄCA DO PRACY DLA UCZNIÓW Z AUTYZMEM PROMETHEUS</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY NR 19 W TORUNIU</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY NR 25 W TORUNIU</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY NR 26 IM. KS. PROF. JÓZEFA TISCHNERA</li>
        <li>SZKOŁA TURYSTYKI I TECHNIK MARKETINGOWYCH "ADVENTURE"</li>
        <li>SZKOLNE SCHRONISKO MŁODZIEŻOWE</li>
        <li>TEB EDUKACJA STUDIUM KSZTAŁCENIA PRAKTYCZNEGO</li>
        <li>TECHNIKUM MENEDŻERSKIE</li>
        <li>TECHNIKUM MUNDUROWE W TORUNIU</li>
        <li>TECHNIKUM NR 1 IM. GEN. ELŻBIETY ZAWACKIEJ W TORUNIU</li>
        <li>TECHNIKUM NR 13</li>
        <li>TECHNIKUM NR 3</li>
        <li>TECHNIKUM NR 4</li>
        <li>TECHNIKUM NR 5</li>
        <li>TECHNIKUM NR 7</li>
        <li>TECHNIKUM NR 8</li>
        <li>TECHNIKUM NR 9</li>
        <li>TECHNIKUM RENOWACJI ELEMENTÓW ARCHITEKTURY W TORUNIU</li>
        <li>TECHNIKUM TEB EDUKACJA W TORUNIU</li>
        <li>TECHNIKUM WETERYNARYJNE</li>
        <li>TECHNIKUM WETERYNARYJNE W TORUNIU</li>
        <li>TERAPEUTYCZNY PUNKT PRZEDSZKOLNY "SOWA MĄDRA GŁOWA"</li>
        <li>TERAPEUTYCZNY PUNKT PRZEDSZKOLNY. DOROTKOWO - PUNKT PRZEDSZKOLNY</li>
        <li>TORUŃSKI KLUB TECHNIKA NOT SP. Z O.O. OŚRODEK SZKOLENIA</li>
        <li>TORUŃSKI OŚRODEK DORADZTWA METODYCZNEGO I DOSKONALENIA NAUCZYCIELI</li>
        <li>TORUŃSKIE LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>TORUŃSKIE TECHNIKUM INFORMATYCZNE</li>
        <li>UNIWERSYTECKIE LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>V LICEUM OGÓLNOKSZTAŁCĄCE IM. JANA PAWŁA II</li>
        <li>VI LICEUM OGÓLNOKSZTAŁCĄCE IM. ZESŁAŃCÓW SYBIRU</li>
        <li>VII LICEUM OGÓLNOKSZTAŁCĄCE IM. WANDY SZUMAN</li>
        <li>VIII LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>X LICEUM OGÓLNOKSZTAŁCĄCE IM. PROF. STEFANA BANACHA</li>
        <li>XIII LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>ZAOCZNE LICEUM OGÓLNOKSZTAŁCĄCE "COSINUS" W TORUNIU</li>
        <li>ZESPÓŁ EDUKACYJNY "BLOK"</li>
        <li>ZESPÓŁ SZKÓŁ "PASCAL" W TORUNIU</li>
        <li>ZESPÓŁ SZKÓŁ EKONOMICZNYCH</li>
        <li>ZESPÓŁ SZKÓŁ GASTRONOMICZNO-HOTELARSKICH</li>
        <li>ZESPÓŁ SZKÓŁ INŻYNIERII ŚRODOWISKA W TORUNIU IM. GEN. IGNACEGO PRĄDZYŃSKIEGO</li>
        <li>ZESPÓŁ SZKÓŁ MECHANICZNYCH ELEKTRYCZNYCH I ELEKTRONICZNYCH IM.PROF.SYLWESTRA KALISKIEGO</li>
        <li>ZESPÓŁ SZKÓŁ MUZYCZNYCH IM. KAROLA SZYMANOWSKIEGO W TORUNIU</li>
        <li>ZESPÓŁ SZKÓŁ NR 19 W TORUNIU</li>
        <li>ZESPÓŁ SZKÓŁ NR 26 IM. KS.PROF.JÓZEFA TISCHNERA W TORUNIU</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH I TECHNICZNYCH NR 13 IM.WŁADYSŁAWA BRONIEWSKIEGO</li>
        <li>ZESPÓŁ SZKÓŁ PRZEMYSŁU SPOŻYWCZEGO I VIII LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>ZESPÓŁ SZKÓŁ SAMOCHODOWYCH IM. GEN. JÓZEFA BEMA</li>
        <li>ZESPÓŁ SZKÓŁ TECHNICZNYCH</li>

    </ul>
    <a href="KUJAWSKO-POMORSKIE.html">Back to Cities in KUJAWSKO-POMORSKIE</a>
</body>
</html>
