
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Jeziora Wielkie</title>
</head>
<body>
    <h1>Schools in Jeziora Wielkie</h1>
    <ul>
        <li>PRESTIGE SZKOŁA POLICEALNA W JEZIORACH WIELKICH</li>
        <li>SZKOŁA PODSTAWOWA IM. KAZIMIERZA WOŹNIECKIEGO W JEZIORACH WIELKICH Z FILIĄ W RZESZYNKU</li>

    </ul>
    <a href="KUJAWSKO-POMORSKIE.html">Back to Cities in KUJAWSKO-POMORSKIE</a>
</body>
</html>
