
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Golub-Dobrzyń</title>
</head>
<body>
    <h1>Schools in Golub-Dobrzyń</h1>
    <ul>
        <li>ANGLOJĘZYCZNE PRZEDSZKOLE HAPPY DAYS</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA IM. BŁĘKITNEJ ARMII W GOLUBIU-DOBRZYNIU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA SPECJALNA</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA W GOLUBIU-DOBRZYNIU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. ANNY WAZÓWNY W GOLUBIU-DOBRZYNIU</li>
        <li>LICEUM SZTUK PLASTYCZNYCH</li>
        <li>NIEPUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE DZIECIĘCA PRZYSTAŃ</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE IM. JULIANA TUWIMA "JULIANEK"</li>
        <li>PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA W GOLUBIU-DOBRZYNIU</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "WRÓBELEK"</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 2 IM. MARII KONOPNICKIEJ</li>
        <li>PRZEDSZKOLE SPECJALNE ZESPÓŁ SZKÓŁ NR 3 W GOLUBIU-DOBRZYNIU</li>
        <li>PUBLICZNA SZKOŁA MUZYCZNA I STOPNIA W GOLUBIU-DOBRZYNIU</li>
        <li>SZKOŁA MUZYCZNA II ST. RES FACTA MUSICA W GOLUBIU-DOBRZYNIU</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. KONSTYTUCJI 3 MAJA</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. ORŁA BIAŁEGO</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 3</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY DLA UCZNIÓW Z UPOŚLEDZENIEM UMYSŁOWYM W STOPNIU UMIARKOWANYM LUB ZNACZNYM ORAZ DLA UCZNIÓW Z NIEPEŁNOSPRAWNOŚCIAMI SPRĘŻONYMI</li>
        <li>TECHNIKUM IM. ANNY WAZÓWNY</li>
        <li>TECHNIKUM IM. BŁĘKITNEJ ARMII W GOLUBIU-DOBRZYNIU</li>
        <li>ZESPÓŁ SZKÓŁ MIEJSKICH</li>
        <li>ZESPÓŁ SZKÓŁ NR 1 IM.ANNY WAZÓWNY W GOLUBIU-DOBRZYNIU</li>
        <li>ZESPÓŁ SZKÓŁ NR 2 W GOLUBIU-DOBRZYNIU</li>
        <li>ZESPÓŁ SZKÓŁ NR 3 W GOLUBIU-DOBRZYNIU</li>

    </ul>
    <a href="KUJAWSKO-POMORSKIE.html">Back to Cities in KUJAWSKO-POMORSKIE</a>
</body>
</html>
