
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Ostrowite</title>
</head>
<body>
    <h1>Schools in Ostrowite</h1>
    <ul>
        <li>GMINNE PRZEDSZKOLE</li>
        <li>PUBLICZNE PRZEDSZKOLE W OSTROWITEM</li>
        <li>SZKOŁA PODSTAWOWA IM.TADEUSZA KOŚCIUSZKI</li>
        <li>SZKOŁA PODSTAWOWA W OSTROWITEM IM.TADEUSZA JĘDRYCZKI</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W OSTROWITEM</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W OSTROWITEM</li>

    </ul>
    <a href="KUJAWSKO-POMORSKIE.html">Back to Cities in KUJAWSKO-POMORSKIE</a>
</body>
</html>
