
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Warząchewka Polska</title>
</head>
<body>
    <h1>Schools in Warząchewka Polska</h1>
    <ul>
        <li>PUNKT PRZEDSZKOLNY STOWARZYSZENIA PRZYJACIÓŁ SZKÓŁ KATOLICKICH</li>
        <li>SZKOŁA PODSTAWOWA STOWARZYSZENIA PRZYJACIÓŁ SZKÓŁ KATOLICKICH IM. BŁ.KS.FRANCISZKA DRZEWIECKIEGO</li>

    </ul>
    <a href="KUJAWSKO-POMORSKIE.html">Back to Cities in KUJAWSKO-POMORSKIE</a>
</body>
</html>
