
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Jabłonowo Pomorskie</title>
</head>
<body>
    <h1>Schools in Jabłonowo Pomorskie</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE ANIOŁKOWO</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE</li>
        <li>SZKOŁA PODSTAWOWA IM.JANUSZA KUSOCIŃSKIEGO</li>
        <li>SZKOŁA POLICEALNA</li>
        <li>TECHNIKUM</li>
        <li>ZESPÓŁ SZKÓŁ W JABŁONOWIE POMORSKIM</li>

    </ul>
    <a href="KUJAWSKO-POMORSKIE.html">Back to Cities in KUJAWSKO-POMORSKIE</a>
</body>
</html>
