
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Gronowo</title>
</head>
<body>
    <h1>Schools in Gronowo</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W GRONOWIE</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA W GRONOWIE</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO W GRONOWIE</li>
        <li>INTERNAT ZESPOŁU SZKÓŁ, CENTRUM KSZTAŁCENIA USTAWICZNEGO W GRONOWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W GRONOWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W GRONOWIE</li>
        <li>SZKOŁA POLICEALNA W GRONOWIE</li>
        <li>TECHNIKUM W GRONOWIE</li>
        <li>ZESPÓŁ SZKÓŁ,CENTRUM KSZTAŁCENIA USTAWICZNEGO W GRONOWIE</li>

    </ul>
    <a href="KUJAWSKO-POMORSKIE.html">Back to Cities in KUJAWSKO-POMORSKIE</a>
</body>
</html>
