
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Kruszyn</title>
</head>
<body>
    <h1>Schools in Kruszyn</h1>
    <ul>
        <li>DRON.EDU.PL - ODDZIAŁ WŁOCŁAWEK</li>
        <li>PLACÓWKA KSZTAŁCENIA USTAWICZNEGO AEROKLUBU WŁOCŁAWSKIEGO</li>
        <li>PLACÓWKA KSZTAŁCENIA USTAWICZNEGO DZ CONSULTING</li>
        <li>SZKOŁA PODSTAWOWA IM. KARDYNAŁA STEFANA WYSZYŃSKIEGO W KRUSZYNIE</li>
        <li>SZKOŁA PODSTAWOWA Z ODDZIAŁAMI INTEGRACYJNYMI IM. POLSKICH NOBLISTÓW W KRUSZYNIE</li>

    </ul>
    <a href="KUJAWSKO-POMORSKIE.html">Back to Cities in KUJAWSKO-POMORSKIE</a>
</body>
</html>
