
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Radziejów</title>
</head>
<body>
    <h1>Schools in Radziejów</h1>
    <ul>
        <li>AKADEMIA WIEDZY NIEPUBLICZNA PLACÓWKA DOSKONALENIA</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA</li>
        <li>BRANŻOWA SZKOŁA SPECJALNA I STOPNIA</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. WŁADYSŁAWA ŁOKIETKA</li>
        <li>MIEJSKI ZESPÓŁ SZKÓŁ W RADZIEJOWIE</li>
        <li>OŚRODEK SZKOLENIA ZAWODOWEGO CENTRUM EDUKACYJNE OŚWIATA</li>
        <li>PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA</li>
        <li>PRYWATNA SZKOŁA POLICEALNA</li>
        <li>PRYWATNE LICEUM OGOLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>PRZEDSZKOLE NR.1 W RADZIEJOWIE</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 1 IM.MIKOŁAJA KOPERNIKA</li>
        <li>SPECJALNY OŚRODEK SZKOLNO - WYCHOWAWCZY IM. WŁADYSŁAWA ŁOKIETKA</li>
        <li>SZKOŁA MUZYCZNA I STOPNIA</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 2</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY</li>
        <li>TECHNIKUM</li>
        <li>ZESPÓŁ SZKOŁ I PLACÓWEK</li>
        <li>ZESPÓŁ SZKOŁ MECHANICZNYCH</li>

    </ul>
    <a href="KUJAWSKO-POMORSKIE.html">Back to Cities in KUJAWSKO-POMORSKIE</a>
</body>
</html>
