
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Garczyn</title>
</head>
<body>
    <h1>Schools in Garczyn</h1>
    <ul>
        <li>MIĘDZYSZKOLNY OŚRODEK SPORTU</li>
        <li>OGNISKO PRACY POZASZKOLNEJ</li>
        <li>POWIATOWE CENTRUM MŁODZIEŻY IM.JÓZEFA PIŁSUDSKIEGO</li>
        <li>PRZEDSZKOLE W GARCZYNIE</li>
        <li>SZKOŁA PODSTAWOWA W GARCZYNIE</li>
        <li>SZKOLNE SCHRONISKO MŁODZIEŻOWE W GARCZYNIE</li>
        <li>ZESPÓŁ OŚWIATOWY W GARCZYNIE</li>

    </ul>
    <a href="POMORSKIE.html">Back to Cities in POMORSKIE</a>
</body>
</html>
