
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Straszyn</title>
</head>
<body>
    <h1>Schools in Straszyn</h1>
    <ul>
        <li>GMINNE PRZEDSZKOLE IM. JULIANA TUWIMA W STRASZYNIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE IM. ŚW. JOANNY BERETTY MOLLA</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY "SPEKTRUM"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE PRZY PARAFII ŚW. JACKA ODROWĄŻA W STRASZYNIE</li>
        <li>PUBLICZNE PRZEDSZKOLE "TIK TAK" W STRASZYNIE DANIEL RYDZEWSKI</li>
        <li>SZKOŁA PODSTAWOWA IM.IGNACEGO KRASICKIEGO W STRASZYNIE</li>

    </ul>
    <a href="POMORSKIE.html">Back to Cities in POMORSKIE</a>
</body>
</html>
