
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Malachin</title>
</head>
<body>
    <h1>Schools in Malachin</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA IM. AUGUSTYNA SZPRĘGI</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA SPECJALNA</li>
        <li>CZERSKA SZKOŁA REALNA - LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W MALACHINIE</li>
        <li>CZERSKA SZKOŁA REALNA - POLICEALNE STUDIUM ZAWODOWE W MALACHINIE</li>
        <li>TECHNIKUM IM. AUGUSTYNA SZPRĘGI W MALACHINIE</li>
        <li>ZESPÓŁ SZKÓŁ W MALACHINIE</li>

    </ul>
    <a href="POMORSKIE.html">Back to Cities in POMORSKIE</a>
</body>
</html>
