
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Damnica</title>
</head>
<body>
    <h1>Schools in Damnica</h1>
    <ul>
        <li>PRZEDSZKOLE "LEŚNY LUDEK"</li>
        <li>SPECJALNY OŚRODEK SZKOLNO - WYCHOWAWCZY IM. MARYNARZA POLSKIEGO W DAMNICY</li>
        <li>SPECJALNY OŚRODEK SZKOLNO - WYCHOWAWCZY IM. MARYNARZA POLSKIEGO W DAMNICY - SZKOŁA PODSTAWOWA SPECJALNA NR 2</li>
        <li>SPECJALNY OŚRODEK SZKOLNO - WYCHOWAWCZY IM. MARYNARZA POLSKIEGO W DAMNICY - SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. JANA PAWŁA II</li>
        <li>ZACZAROWANE PRZEDSZKOLE</li>
        <li>ZESPÓŁ SZKÓŁ W DAMNICY</li>

    </ul>
    <a href="POMORSKIE.html">Back to Cities in POMORSKIE</a>
</body>
</html>
