
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Dzierzgoń</title>
</head>
<body>
    <h1>Schools in Dzierzgoń</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W ZESPOLE SZKÓŁ IM. CYPRIANA KAMILA NORWIDA W DZIERZGONIU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W ZESPOLE SZKÓŁ W DZIERZGONIU</li>
        <li>SZKOŁA PODSTAWOWA IM. TYSIĄCLECIA PAŃSTWA POLSKIEGO</li>
        <li>SZKOŁA POLICEALNA W ZESPOLE SZKÓŁ W DZIERZGONIU</li>
        <li>TĘCZOWE PRZEDSZKOLE</li>
        <li>ZESPÓŁ SZKÓŁ IM. CYPRIANA KAMILA NORWIDA W DZIERZGONIU</li>
        <li>ZESPÓŁ SZKÓŁ W DZIERZGONIU - LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>ZESPÓŁ SZKÓŁ W DZIERZGONIU - TECHNIKUM</li>

    </ul>
    <a href="POMORSKIE.html">Back to Cities in POMORSKIE</a>
</body>
</html>
