
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Sierakowice</title>
</head>
<body>
    <h1>Schools in Sierakowice</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W SIERAKOWICACH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W SIERAKOWICACH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W SIERAKOWICACH</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE NIBYLANDIA</li>
        <li>OŚRODEK REHABILITACYJNO-EDUKACYJNO- WYCHOWAWCZY W SIERAKOWICACH</li>
        <li>POWIATOWY ZESPÓŁ SZKÓŁ W SIERAKOWICACH</li>
        <li>PRZEDSZKOLE NR 2 "ZIELONY WIATRACZEK" W SIERAKOWICACH</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE W SIERAKOWICACH</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. FLORIANA CEYNOWY W SIERAKOWICACH</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. JÓZEFA PIŁSUDSKIEGO W SIERAKOWICACH</li>
        <li>TECHNIKUM W SIERAKOWICACH</li>
        <li>ZAOCZNE LICEUM PONADGIMNAZJALNE W SIERAKOWICACH</li>

    </ul>
    <a href="POMORSKIE.html">Back to Cities in POMORSKIE</a>
</body>
</html>
