
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Gościcino</title>
</head>
<body>
    <h1>Schools in Gościcino</h1>
    <ul>
        <li>NIEPUBLICZNE PRZEDSZKOLE MAMMA MIA W GOŚCICINIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE MATEMATYCZNO-JĘZYKOWE "BAJKOWA DOLINA" W GOŚCICINIE</li>
        <li>OŚRODEK SZKOLENIA KURSOWEGO</li>
        <li>PUBLICZNE PRZEDSZKOLE MEGAMOCNI W GOŚCICINIE</li>
        <li>SZKOŁA PODSTAWOWA IM.MJR.HENRYKA SUCHARSKIEGO W GOŚCICINIE</li>
        <li>WELDERS FACTORY</li>

    </ul>
    <a href="POMORSKIE.html">Back to Cities in POMORSKIE</a>
</body>
</html>
