
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Lipusz</title>
</head>
<body>
    <h1>Schools in Lipusz</h1>
    <ul>
        <li>ZAOCZNE LICEUM OGÓLNOKSZTAŁCĄCE W LIPUSZU</li>
        <li>ZESPÓŁ SZKÓŁ W LIPUSZU</li>
        <li>ZESPÓŁ SZKÓŁ W LIPUSZU - PRZEDSZKOLE</li>
        <li>ZESPÓŁ SZKÓŁ W LIPUSZU - SZKOŁA PODSTAWOWA</li>

    </ul>
    <a href="POMORSKIE.html">Back to Cities in POMORSKIE</a>
</body>
</html>
