
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Gniewino</title>
</head>
<body>
    <h1>Schools in Gniewino</h1>
    <ul>
        <li>LICEUM MISTRZOSTWA SPORTOWEGO W GNIEWINIE</li>
        <li>SAMORZĄDOWA SZKOŁA PODSTAWOWA IM. GABRIELA NARUTOWICZA</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE W GNIEWINIE</li>
        <li>ZESPÓŁ KSZTAŁCENIA I WYCHOWANIA W GNIEWINIE</li>

    </ul>
    <a href="POMORSKIE.html">Back to Cities in POMORSKIE</a>
</body>
</html>
