
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Choczewo</title>
</head>
<body>
    <h1>Schools in Choczewo</h1>
    <ul>
        <li>ZESPÓŁ SZKOLNO - PRZEDSZKOLNY IM. UNII EUROPEJSKIEJ W CHOCZEWIE</li>
        <li>ZESPÓŁ SZKOLNO - PRZEDSZKOLNY IM. UNII EUROPEJSKIEJ W CHOCZEWIE - SZKOŁA PODSTAWOWA W CHOCZEWIE</li>
        <li>ZESPÓŁ SZKOLNO - PRZEDSZKOLNY IM. UNII EUROPEJSKIEJ W CHOCZEWIE- PRZEDSZKOLE W CHOCZEWIE</li>

    </ul>
    <a href="POMORSKIE.html">Back to Cities in POMORSKIE</a>
</body>
</html>
