
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Somonino</title>
</head>
<body>
    <h1>Schools in Somonino</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W SOMONINIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W SOMONINIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "CHATKA PUCHATKA" SP. Z O.O.</li>
        <li>POWIATOWY ZESPÓŁ SZKÓŁ IM. JÓZEFA WYBICKIEGO W SOMONINIE</li>
        <li>SZKOŁA PODSTAWOWA IM. KARDYNAŁA STEFANA WYSZYŃSKIEGO W SOMONINIE</li>
        <li>TECHNIKUM W SOMONINIE</li>

    </ul>
    <a href="POMORSKIE.html">Back to Cities in POMORSKIE</a>
</body>
</html>
