
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Ustka</title>
</head>
<body>
    <h1>Schools in Ustka</h1>
    <ul>
        <li>MIEJSKIE PRZEDSZKOLE NR 1 W USTCE</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 2 "DELFINKI"</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 3 W USTCE</li>
        <li>MŁODZIEŻOWY OŚRODEK SOCJOTERAPII W USTCE</li>
        <li>MŁODZIEŻOWY OŚRODEK SOCJOTERAPII W USTCE - SZKOŁA PODSTAWOWA NR 4 W USTCE</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA ADVENTURE W USTCE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "NA WYDMIE" W USTCE</li>
        <li>OŚRODEK SZKOLENIA ZAWODOWEGO GOSPODARKI MORSKIEJ W SZCZECINIE, FILIA W USTCE</li>
        <li>POMORSKIE CENTRUM SZKOLENIOWO - DORADCZE W USTCE</li>
        <li>POWIATOWA BURSA MŁODZIEŻOWA</li>
        <li>SŁONECZNIKOWE PRZEDSZKOLE W USTCE</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. KAPITANA LEONIDA TELIGI</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. KMDRA BOLESŁAWA ROMANOWSKIEGO W USTCE</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. GENERAŁA MARIUSZA ZARUSKIEGO W USTCE</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH W USTCE</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH I TECHNICZNYCH W USTCE</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH I TECHNICZNYCH W USTCE - LICEUM OGÓLNOKSZTAŁCĄCE IM. MIKOŁAJA KOPERNIKA</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH I TECHNICZNYCH W USTCE - TECHNIKUM</li>

    </ul>
    <a href="POMORSKIE.html">Back to Cities in POMORSKIE</a>
</body>
</html>
