
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Garczegorze</title>
</head>
<body>
    <h1>Schools in Garczegorze</h1>
    <ul>
        <li>ZESPÓŁ SZKÓŁ IM. MĘCZENNIKÓW MARSZU ŚMIERCI KL STUTTHOF W GARCZEGORZU</li>
        <li>ZESPÓŁ SZKÓŁ IM.MĘCZENNIKÓW MARSZU ŚMIERCI KL STUTTHOF W GARCZEGORZU - PRZEDSZKOLE</li>
        <li>ZESPÓŁ SZKÓŁ IM.MĘCZENNIKÓW MARSZU ŚMIERCI KL STUTTHOF W GARCZEGORZU - SZKOŁA PODSTAWOWA</li>

    </ul>
    <a href="POMORSKIE.html">Back to Cities in POMORSKIE</a>
</body>
</html>
