
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Rzeczenica</title>
</head>
<body>
    <h1>Schools in Rzeczenica</h1>
    <ul>
        <li>SZKOŁA PODSTAWOWA W RZECZENICY IM. GENERAŁA WŁADYSŁAWA ANDERSA</li>
        <li>ZESPÓŁ SZKÓŁ W RZECZENICY</li>
        <li>ZESPÓŁ SZKÓŁ W RZECZENICY SAMORZĄDOWE PRZEDSZKOLE W RZECZENICY</li>

    </ul>
    <a href="POMORSKIE.html">Back to Cities in POMORSKIE</a>
</body>
</html>
