
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Sztum</title>
</head>
<body>
    <h1>Schools in Sztum</h1>
    <ul>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO W SZTUMIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE IM. "NA SŁONECZNEJ GÓRCE"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE TĘCZOWE "JAŚ BEATKA FRANEK" W SZTUMIE</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY MOTYLEK</li>
        <li>POMORSKA MEDYCZNA SZKOŁA POLICEALNA W SZTUMIE</li>
        <li>PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA W SZTUMIE</li>
        <li>PUBLICZNE PRZEDSZKOLE Z ODDZIAŁAMI INTEGRACYJNYMI NR 1 IM. "KUBUSIA PUCHATKA"</li>
        <li>PUBLICZNY PUNKT PRZEDSZKOLNY PRZY SZKOLE PODSTAWOWEJ NR 2 IM. MAKSYMILIANA GOLISZA W SZTUMIE</li>
        <li>SZKOŁA PODSTAWOWA DLA DOROSŁYCH</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. JANA PAWŁA II W SZTUMIE</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. MAKSYMILIANA GOLISZA W SZTUMIE</li>
        <li>SZKOŁA POLICEALNA DLA DOROSŁYCH</li>
        <li>ZESPÓŁ SZKÓŁ IM. JANA KASPROWICZA W SZTUMIE</li>
        <li>ZESPÓŁ SZKÓŁ IM. JANA KASPROWICZA W SZTUMIE - LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>ZESPÓŁ SZKÓŁ IM. JANA KASPROWICZA W SZTUMIE - LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>ZESPÓŁ SZKÓŁ IM. JANA KASPROWICZA W SZTUMIE - SZKOŁA POLICEALNA</li>
        <li>ZESPÓŁ SZKÓŁ IM. JANA KASPROWICZA W SZTUMIE - TECHNIKUM NR 1</li>

    </ul>
    <a href="POMORSKIE.html">Back to Cities in POMORSKIE</a>
</body>
</html>
