
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Nowy Dwór Gdański</title>
</head>
<body>
    <h1>Schools in Nowy Dwór Gdański</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA IM. IRENY SENDLEROWEJ</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. ZIEMI ŻUŁAWSKIEJ</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 4</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE BAJKOWA AKADEMIA</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE JĘZYKOWO-MUZYCZNE "CALINECZKA"</li>
        <li>POMORSKA BIBLIOTEKA PEDAGOGICZNA W GDAŃSKU. FILIA W NOWYM DWORZE GDAŃSKIM</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "WESOŁE SMERFIKI"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE NR 1</li>
        <li>PRZEDSZKOLE SPECJALNE IM. IRENY SENDLEROWEJ</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY IM. IRENY SENDLEROWEJ</li>
        <li>SZKOŁA PODSTAWOWA IM. IRENY SENDLEROWEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM.JANUSZA KORCZAKA</li>
        <li>SZKOŁA PODSTAWOWA NR 2</li>
        <li>SZKOŁA PRZYSPOSABIAJĄCA DO PRACY IM. IRENY SENDLEROWEJ</li>
        <li>TECHNIKUM</li>
        <li>ZESPÓŁ SZKÓŁ</li>

    </ul>
    <a href="POMORSKIE.html">Back to Cities in POMORSKIE</a>
</body>
</html>
