
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Stary Targ</title>
</head>
<body>
    <h1>Schools in Stary Targ</h1>
    <ul>
        <li>PRZEDSZKOLE</li>
        <li>SZKOŁA PODSTAWOWA IM. FRANCISZKA JUJKI W ZESPOLE SZKOLNO-PRZEDSZKOLNYM W STARYM TARGU</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY IM.FRANCISZKA JUJKI W STARYM TARGU</li>

    </ul>
    <a href="POMORSKIE.html">Back to Cities in POMORSKIE</a>
</body>
</html>
