
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Tursko</title>
</head>
<body>
    <h1>Schools in Tursko</h1>
    <ul>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY W TURSKU</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA W TURSKU</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W TURSKU</li>

    </ul>
    <a href="POMORSKIE.html">Back to Cities in POMORSKIE</a>
</body>
</html>
