
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Kartuzy</title>
</head>
<body>
    <h1>Schools in Kartuzy</h1>
    <ul>
        <li>CENTRUM SZKOLEŃ "PASJA"</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE IM. DRA ALEKSANDRA MAJKOWSKIEGO</li>
        <li>KATOLICKA SZKOŁA PODSTAWOWA IM. ŚW. JANA PAWŁA II</li>
        <li>MŁODZIEŻOWY OŚRODEK SOCJOTERAPII W KARTUZACH</li>
        <li>MŁODZIEŻOWY OŚRODEK SOCJOTERAPII W KARTUZACH, SZKOŁA PODSTAWOWA NR 6 SPECJALNA W KARTUZACH</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA "ODNOVA DLA CIEBIE"</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA SPECJALNA "NIEBIESKI BALONIK" W KARTUZACH</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY "POZYTYWKA"</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I STOPNIA IM. IGNACEGO JANA PADEREWSKIEGO W KARTUZACH</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W KARTUZACH</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "AKUKU" W KARTUZACH</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "KUBUŚ PUCHATEK"</li>
        <li>PRZEDSZKOLE SIÓSTR MIŁOSIERDZIA ŚW. WINCENTEGO A'PAULO W KARTUZACH</li>
        <li>PRZEDSZKOLE Z ODDZIAŁAMI INTEGRACYJNYMI "AKADEMIA PRZEDSZKOLAKA" W KARTUZACH</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. ŚW. KAZIMIERZA W KARTUZACH</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. MIKOŁAJA KOPERNIKA W KARTUZACH</li>
        <li>SZKOŁA PODSTAWOWA NR 5 IM. ALEKSANDRA MAJKOWSKIEGO W KARTUZACH</li>
        <li>SZKOŁA POLICEALNA "MATRIX" W KARTUZACH</li>
        <li>TERAPEUTYCZNY PUNKT PRZEDSZKOLNY ''NIEBIESKI BALONIK''</li>
        <li>ZESPÓŁ KSZTAŁCENIA I WYCHOWANIA SPECJALNEGO W KARTUZACH</li>
        <li>ZESPÓŁ KSZTAŁCENIA I WYCHOWANIA SPECJALNEGO W KARTUZACH, BRANŻOWA SZKOŁA I STOPNIA NR 3 SPECJALNA W KARTUZACH</li>
        <li>ZESPÓŁ KSZTAŁCENIA I WYCHOWANIA SPECJALNEGO W KARTUZACH, SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W KARTUZACH</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH NR 2 W KARTUZACH</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH W KARTUZACH</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH W KARTUZACH, I LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI DWUJĘZYCZNYMI IM. HIERONIMA DERDOWSKIEGO W KARTUZACH</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH W KARTUZACH, LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W KARTUZACH</li>
        <li>ZESPÓŁ SZKÓŁ TECHNICZNYCH IM. FLORIANA CEYNOWY W KARTUZACH</li>
        <li>ZESPÓŁ SZKÓŁ TECHNICZNYCH IM. FLORIANA CEYNOWY W KARTUZACH BRANŻOWA SZKOŁA I STOPNIA NR 2 W KARTUZACH</li>
        <li>ZESPÓŁ SZKÓŁ TECHNICZNYCH IM. FLORIANA CEYNOWY W KARTUZACH TECHNIKUM NR 1 W KARTUZACH</li>
        <li>ZESPÓŁ SZKÓŁ TECHNICZNYCH IM. FLORIANA CEYNOWY W KARTUZACH, CENTRUM KSZTAŁCENIA ZAWODOWEGO W KARTUZACH</li>
        <li>ZESPÓŁ SZKÓŁ ZAWODOWYCH I OGÓLNOKSZTAŁCĄCYCH W KARTUZACH IM.I BRYGADY PANCERNEJ IM. BOHATERÓW WESTERPLATTE BRANŻOWA SZKOŁA I STOPNIA NR 1 W KARTUZACH</li>
        <li>ZESPÓŁ SZKÓŁ ZAWODOWYCH I OGÓLNOKSZTAŁCĄCYCH W KARTUZACH IM.I BRYGADY PANCERNEJ IM. BOHATERÓW WESTERPLATTE III LICEUM OGÓLNOKSZTAŁCĄCE W KARTUZACH</li>
        <li>ZESPÓŁ SZKÓŁ ZAWODOWYCH I OGÓLNOKSZTAŁCĄCYCH W KARTUZACH IM.I BRYGADY PANCERNEJ IM. BOHATERÓW WESTERPLATTE TECHNIKUM NR 2 W KARTUZACH</li>
        <li>ZESPÓŁ SZKÓŁ ZAWODOWYCH I OGÓLNOKSZTAŁCĄCYCH W KARTUZACH M.I BRYGADY PANCERNEJ IM. BOHATERÓW WESTERPLATTE</li>

    </ul>
    <a href="POMORSKIE.html">Back to Cities in POMORSKIE</a>
</body>
</html>
