
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Gdynia</title>
</head>
<body>
    <h1>Schools in Gdynia</h1>
    <ul>
        <li>"ALFA" - KURSY PRZYGOTOWAWCZE Z MATEMATYKI - SZKOŁA PRYWATNA</li>
        <li>"BAZA MARZEŃ" - PRZEDSZKOLE ARTYSTYCZNO-TERENOWE</li>
        <li>"BAZA MARZEŃ" -- DOMOWE PRZEDSZKOLE WOLNYCH DZIECI</li>
        <li>4KIDS</li>
        <li>AKADEMIA NDN-BHP</li>
        <li>AKADEMIA OPERATORÓW SZTAPLAREK I BHP W GDYNI</li>
        <li>AKADEMIA PRZEDSZKOLAKA</li>
        <li>AKADEMIA REALIZACJI DŹWIĘKU W GDYNI SZKOŁA POLICEALNA</li>
        <li>ALFABET PUNKT PRZEDSZKOLNY</li>
        <li>ALTERNATYWNY PUNKT PRZEDSZKOLNY "EMPATIA"</li>
        <li>AMERYKAŃSKA SZKOŁA PODSTAWOWA Z WYKŁADOWYM JĘZYKIEM ANGIELSKIM</li>
        <li>AP EDUKACJA CENTRUM SZKOLENIOWE W GDYNI</li>
        <li>AQQ MONTESSORI</li>
        <li>ASTAR CENTRUM JĘZYKÓW OBCYCH</li>
        <li>AUTONOMICZNA SZKOŁA PODSTAWOWA W GDYNI</li>
        <li>BAŁTYCKA NIEPUBLICZNA AKADEMIA DOSKONALENIA ZAWODOWEGO</li>
        <li>BIURO USŁUG BHP NONNA S.C.</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA "COSINUS" W GDYNI</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 1 W GDYNI</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 2 W GDYNI</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 3 W GDYNI</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 4 W GDYNI</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 5 W GDYNI</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 6 W GDYNI</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA NR 1 W GDYNI</li>
        <li>BRANŻOWA SZKOŁA SPECJALNA I STOPNIA NR 7</li>
        <li>BURSA SZKOLNA W GDYNI</li>
        <li>CADOR CONSULTING</li>
        <li>CENTRUM BEZPIECZEŃSTWA I OCHRONY JASMAR - MARIUSZ JASKULSKI</li>
        <li>CENTRUM DOSKONALENIA KADR "EUROPARTNER" SPÓŁKA Z.O.O.</li>
        <li>CENTRUM DOSKONALENIA ZAWODOWEGO MAESTRIA</li>
        <li>CENTRUM EDUKACYJNE CERSAR</li>
        <li>CENTRUM FIZJOEDUKACJI "ANIMUSZ"</li>
        <li>CENTRUM KREATYWNEGO ROZWOJU INSPIRATIO</li>
        <li>CENTRUM KREATYWNEGO ROZWOJU INSPIRATIO PRZEDSZKOLE NIEPUBLICZNE</li>
        <li>CENTRUM KREATYWNEGO ROZWOJU INSPIRATIO PUNKT PRZEDSZKOLNY</li>
        <li>CENTRUM KSZTAŁCENIA MORSKIEGO W GDYNI</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO NR 1</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO NR 2</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO NR 3</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO W GDYNI</li>
        <li>CENTRUM PSYCHOEDUKACJI I KREOWANIA LIDERÓW OLIMP</li>
        <li>CENTRUM ROZWOJU ZAWODOWEGO</li>
        <li>CENTRUM SZKOLEŃ MORSKICH W GDYNI</li>
        <li>CENTRUM TAŃCA SZCZEPAN</li>
        <li>DIBBER INTERNATIONAL PRESCHOOL-PUSTKI</li>
        <li>DOHLE MARINE SERVICES EUROPE</li>
        <li>DWUJĘZYCZNY PUNKT PRZEDSZKOLNY ,,WILD FOX'' O PROFILU MONTESSORI</li>
        <li>EDU-ZIELONY ZAKĄTEK</li>
        <li>EMSA 2012- EUGENIUSZ SAMSEL</li>
        <li>EUROPEAN STCW CENTER</li>
        <li>EXERTERS</li>
        <li>FUNDACJA GOSPODARCZA</li>
        <li>GDYNIA INTERNATIONAL SCHOOL SZKOŁA PODSTAWOWA</li>
        <li>GDYŃSKA SZKOŁA FILMOWA POLICEALNE NIEPUBLICZNE STUDIUM FILMOWE</li>
        <li>GDYŃSKA SZKOŁA SPOŁECZNA</li>
        <li>GDYŃSKI OŚRODEK DOSKONALENIA NAUCZYCIELI</li>
        <li>GDYŃSKIE CENTRUM KSZTAŁCENIA SŁUŻB OCHRONY I DOSKONALENIA ZAWODOWEGO</li>
        <li>GDYŃSKIE LICEUM AUTORSKIE SPOŁECZNEGO TOWARZYSTWA OŚWIATOWEGO</li>
        <li>I AKADEMICKIE LICEUM OGÓLNOKSZTAŁCĄCE IM. ZASŁUŻONYCH LUDZI MORZA</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI DWUJĘZYCZNYMI IM. ADAMA MICKIEWICZA</li>
        <li>III LICEUM OGÓLNOKSZTAŁCĄCE IM. MARYNARKI WOJENNEJ RP Z ODDZ. DWUJĘZYCZNYMI</li>
        <li>INKLUZYWNY PUNKT PRZEDSZKOLNY "BULLERBYN"</li>
        <li>INSTYTUT EDUKACJI I INNOWACJI W GDYNI</li>
        <li>INTEGRACYJNE PRZEDSZKOLE NIEPUBLICZNE ZDROWY SMYK</li>
        <li>INTEGRACYJNY PUNKT PRZEDSZKOLNY TUPTUSIE</li>
        <li>IX LICEUM OGÓLNOKSZTAŁCĄCE IM. MARSZAŁKA JÓZEFA PIŁSUDSKIEGO</li>
        <li>KARUZELA MONTESSORI PUNKT PRZEDSZKOLNY</li>
        <li>KATOLICKA SZKOŁA PODSTAWOWA IM ŚW. RODZINY W GDYNI</li>
        <li>KATOLICKA SZKOŁA PODSTAWOWA IM. ŚW. JANA PAWŁA II W GDYNI</li>
        <li>KATOLICKIE LICEUM OGÓLNOKSZTAŁCĄCE IM. ŚW. JANA PAWŁA II W GDYNI</li>
        <li>KIDS! ONLY</li>
        <li>KOLEGIUM MIEJSKIE CENTRUM KSZTAŁCENIA USTAWICZNEGO</li>
        <li>LA FEMME COSMETICS S.A. CENTRUM EDUKACJI KOSMETYCZNEJ</li>
        <li>LA MANCHA CENTRUM JĘZYKA HISZPAŃSKIEGO W GDYNI</li>
        <li>LALALA PUNKT PRZEDSZKOLNY MONTESSORI</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH "ŻAK" W GDYNI</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE TEB EDUKACJA DLA DOROSŁYCH W GDYNI</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE TEB EDUKACJA W GDYNI</li>
        <li>MEDICAL LINE MICROPIGMENTATION</li>
        <li>MŁODZIEŻOWY DOM KULTURY</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCNIA USTAWICZNEGO MAKE UP MASTERS</li>
        <li>NIEPUBLICZNA PLACÓWKA OŚWIATOWO-WYCHOWAWCZA EDUVO</li>
        <li>NIEPUBLICZNA POLICEALNA SZKOŁA PLASTYCZNA WIZAŻU I CHARAKTERYZACJI MAKE UP MASTERS W GDYNI</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO- PEDAGOGICZNA ,,JAŚ I MAŁGOSIA''</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO- PEDAGOGICZNA ,,MAŁE KROCZKI"</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO- PEDAGOGICZNA PEGAZ</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO- PEDAGOGICZNA PLUSIK- MINUSIK</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "OTIS" W GDYNI</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "ZAKĄTEK AGI" W GDYNI</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA EINSTEIN INTERNATIONAL SCHOOL</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA MONTESSORI LATAWIEC</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA SPECJALNA ,,JA SAM''</li>
        <li>NIEPUBLICZNA SZKOŁA POLICEALNA TEB EDUKACJA W GDYNI</li>
        <li>NIEPUBLICZNE CENTRUM KSZTAŁCENIA SILVA - LUPUS</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "AKADEMIA MALUCHA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "ANIOŁA STRÓŻA" ZGROMADZENIA SIÓSTR ANIELANEK ŚW. PAWŁA</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "EDU-TREFLIKI"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "KORCZAKOWE LOVE"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "LOKOMOTYWA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "SMYK" PAWEŁ TRYNDA</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "STONOGA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE ARTYSTYCZNE "FANTAZJA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE INTEGRACYJNE "MAŁE KROCZKI"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE JĘZYKOWO- MUZYCZNE "MAŁY EINSTEIN"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE MEGAMOCNI MAŁY KACK</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE OKSFORDZIK</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE TRAMPOLINA</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY "DZIECI ŚWIATA"</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY NASZ DOMEK</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY PUZZELEK</li>
        <li>NIEPUBLICZNY ZESPÓŁ PLACÓWEK OŚWIATOWO-WYCHOWAWCZYCH W GDYNI</li>
        <li>NPDN STUDIO PSYCHOLOGICZNE W GDYNI</li>
        <li>OFFSHORE RESERCH DEVELOPMENT AND TRAINING CENTRE-POLAND SP. Z O.O.</li>
        <li>OFFSHORE TRAINING CENTRE</li>
        <li>OGNISKO MUZYCZNE W GDYNI</li>
        <li>OGÓLNOKSZTAŁCĄCE LICEUM JEZUITÓW Z ODDZIAŁAMI DWUJĘZYCZNYMI IM ŚW. STANISŁAWA KOSTKI W GDYNI</li>
        <li>OŚRODEK DOSKONALENIA ZAWODOWEGO, SZKOLENIA WYSOKOŚCIOWE I RATOWNICTWO MORSKIE MIROSŁAW ORZESZEK</li>
        <li>OŚRODEK KSZTAŁCENIA I DOSKONALENIA ZAWODOWEGO SSC</li>
        <li>OŚRODEK KSZTAŁCENIA LOTNICZEGO - AIRBORN SP. Z. O. O. W GDYNI</li>
        <li>OŚRODEK REHABILITACYJNO-EDUKACYJNO-WYCHOWAWCZY POLSKIEGO STOWARZYSZENIA NA RZECZ OSÓB Z NIEPEŁNOSPRAWNOŚCIĄ INTELEKTUALNĄ - KOŁO W GDYNI</li>
        <li>OŚRODEK SZKOLEŃ RATOWNICTWA MORSKIEGO MAYDAY W GDYNI</li>
        <li>OŚRODEK SZKOLENIA CECHU RZEMIOSŁA I PRZEDSIĘBIORCZOŚCI W GDYNI</li>
        <li>OŚRODEK SZKOLENIA PRACOWNIKÓW SŁUŻB OCHRONY OSÓB I MIENIA EKOTRADE</li>
        <li>OŚRODEK SZKOLENIA RATOWNICZEGO FUNDACJI ROZWOJU AKADEMII MORSKIEJ W GDYNI</li>
        <li>OŚRODEK SZKOLENIA ZAWODOWEGO GOSPODARKI MORSKIEJ - CENTRUM SZKOLENIA NURKÓW ZAWODOWYCH PAWEŁ KARBOWIAK, MAGDALENA MARCINEK, ELŻBIETA NOWAK SPÓŁKA CYWILNA</li>
        <li>OŚRODEK SZKOLENIOWY CENTRUM NAUKI I BIZNESU "ŻAK" W GDYNI</li>
        <li>OŚRODEK SZKOLENIOWY KONSAL - OCHRONA</li>
        <li>PAŃSTWOWE LICEUM SZTUK PLASTYCZNYCH IM. MAGDALENY ABAKANOWICZ W GDYNI</li>
        <li>PAŃSTWOWE POLICEALNE STUDIUM WOKALNO-AKTORSKIE IM. DANUTY BADUSZKOWEJ W GDYNI</li>
        <li>PIERWSZA SZKOŁA SPOŁECZNA PODSTAWOWA IM.DZIECI ZJEDNOCZONEJ EUROPY</li>
        <li>PIERWSZE SPOŁECZNE LICEUM OGÓLNOKSZTAŁCĄCE SZKOŁA MISTRZOSTWA SPORTOWEGO W GDYNI</li>
        <li>POLICEALNA GDYŃSKA SZKOŁA MORSKA W GDYNI</li>
        <li>POMORSKA AKADEMIA TALENT</li>
        <li>POMORSKA MEDYCZNA SZKOŁA POLICEALNA IM. ALINY PIENKOWSKIEJ W GDYNI</li>
        <li>POMORSKIE CENTRUM KSZTAŁCENIA DOROSŁYCH</li>
        <li>PORADNIA PSYCHOLOGICZNO PEDAGOGICZNA EMOTUS</li>
        <li>PORADNIA PSYCHOLOGICZNO- PEDAGOGICZNA NR 1</li>
        <li>PORADNIA PSYCHOLOGICZNO- PEDAGOGICZNA NR 2</li>
        <li>PORADNIA PSYCHOLOGICZNO- PEDAGOGICZNA NR 3</li>
        <li>PRYWATNA SZKOŁA MUZYCZNA I ST. CONCERTINO W GDYNI</li>
        <li>PRYWATNA SZKOŁA PODSTAWOWA "LIBER"</li>
        <li>PRYWATNA ZASADNICZA SZKOŁA ZAWODOWA E.T.MAZUREK</li>
        <li>PRYWATNE TECHNIKUM GASTRONOMICZNE E.T.MAZUREK</li>
        <li>PRZEDSZKOLE "PRZYSTAŃ SZKRABA" W GDYNI</li>
        <li>PRZEDSZKOLE FRANCUSKIE</li>
        <li>PRZEDSZKOLE IM. ŚW. RODZINY PRZY PARAFII NMP W GDYNI</li>
        <li>PRZEDSZKOLE MONTESSORI NR 1</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE - OCHRONKA IM. EDMUNDA BOJANOWSKIEGO</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE ,,KIDDO''</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE ,,LEŚNE SKRZATY"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "BAJKOLAND"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "CHATKA PRZEDSZKOLAKA"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "PERŁY MONTESSORI"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "WYSPA ODKRYWCÓW'</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE AKADEMIA MAŁYCH ODKRYWCÓW</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE CHATKA PUCHATKA</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE COLUMBUS W GDYNI</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE EMPATIA</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE PROMYCZEK</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE STUMILOWY LAS</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE ŚWIAT SMYKA</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE TUP TUP</li>
        <li>PRZEDSZKOLE NR 11 POD KASZTANAMI</li>
        <li>PRZEDSZKOLE NR 13</li>
        <li>PRZEDSZKOLE NR 14</li>
        <li>PRZEDSZKOLE NR 15</li>
        <li>PRZEDSZKOLE NR 16</li>
        <li>PRZEDSZKOLE NR 18</li>
        <li>PRZEDSZKOLE NR 19</li>
        <li>PRZEDSZKOLE NR 21 "DEMPTUSIOWO"</li>
        <li>PRZEDSZKOLE NR 22</li>
        <li>PRZEDSZKOLE NR 23</li>
        <li>PRZEDSZKOLE NR 24 IM. JANUSZA KORCZAKA</li>
        <li>PRZEDSZKOLE NR 25</li>
        <li>PRZEDSZKOLE NR 26 BAJKOWA KRAINA</li>
        <li>PRZEDSZKOLE NR 27 MALUTKOWO</li>
        <li>PRZEDSZKOLE NR 28</li>
        <li>PRZEDSZKOLE NR 29</li>
        <li>PRZEDSZKOLE NR 30</li>
        <li>PRZEDSZKOLE NR 31 "BAJECZKA"</li>
        <li>PRZEDSZKOLE NR 32 CISOWIACZKI</li>
        <li>PRZEDSZKOLE NR 35 POD ŻAGLAMI</li>
        <li>PRZEDSZKOLE NR 36 "ZŁOTA RYBKA"</li>
        <li>PRZEDSZKOLE NR 4</li>
        <li>PRZEDSZKOLE NR 42 POD MODRZEWIEM</li>
        <li>PRZEDSZKOLE NR 43 JANTAREK</li>
        <li>PRZEDSZKOLE NR 44</li>
        <li>PRZEDSZKOLE NR 46 JAŚ I MAŁGOSIA</li>
        <li>PRZEDSZKOLE NR 47 "LEŚNA PĘTELKA"</li>
        <li>PRZEDSZKOLE NR 48 "MORSKA PRZYGODA"</li>
        <li>PRZEDSZKOLE NR 49 "BAJKOWY OGRÓD"</li>
        <li>PRZEDSZKOLE NR 5 "PIĄTECZKA"</li>
        <li>PRZEDSZKOLE NR 50</li>
        <li>PRZEDSZKOLE NR 51</li>
        <li>PRZEDSZKOLE NR 52</li>
        <li>PRZEDSZKOLE NR 53 W GDYNI</li>
        <li>PRZEDSZKOLE NR 54</li>
        <li>PRZEDSZKOLE NR 55 W GDYNI</li>
        <li>PRZEDSZKOLE NR 56 W GDYNI</li>
        <li>PRZEDSZKOLE NR 57 W GDYNI</li>
        <li>PRZEDSZKOLE NR 58 W GDYNI</li>
        <li>PRZEDSZKOLE NR 59 W GDYNI</li>
        <li>PRZEDSZKOLE NR 6</li>
        <li>PRZEDSZKOLE NR 60 W GDYNI</li>
        <li>PRZEDSZKOLE NR 7 "BURSZTYNOWA SIÓDEMKA"</li>
        <li>PRZEDSZKOLE NR 8 PLUSZOWY MISIACZEK</li>
        <li>PRZEDSZKOLE NR 9</li>
        <li>PRZEDSZKOLE PW. ŚW. RODZINY Z NAZARETU</li>
        <li>PRZEDSZKOLE SPECJALNE</li>
        <li>PRZEDSZKOLE TERAPEUTYCZNE "ZAKĄTEK AGI"</li>
        <li>PSYCHOLOG DLA CIEBIE NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO- PEDAGOGICZNA</li>
        <li>PUBLICZNA SZKOŁA POLICEALNA "COSINUS PLUS" W GDYNI</li>
        <li>PUBLICZNE ZAOCZNE LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH "COSINUS PLUS" W GDYNI</li>
        <li>PUNKT PRZEDSZKOLNY ,,MONDO MONTESSORI''</li>
        <li>PUNKT PRZEDSZKOLNY "DELFINEK"</li>
        <li>PUNKT PRZEDSZKOLNY "IL MIO MONTESSORI"</li>
        <li>PUNKT PRZEDSZKOLNY "KOLOROWA CIUCHCIA" W GDYNI</li>
        <li>PUNKT PRZEDSZKOLNY "POD LASEM"</li>
        <li>PUNKT PRZEDSZKOLNY ALTERNATYWNY "BOSE STOPY"</li>
        <li>PUNKT PRZEDSZKOLNY AQQ MONTESSORI NR 2</li>
        <li>PUNKT PRZEDSZKOLNY GAJA W GDYNI</li>
        <li>PUNKT PRZEDSZKOLNY GDYNIA INTERNATIONAL SCHOOL-PRESCHOOL</li>
        <li>PUNKT PRZEDSZKOLNY LEGOLANDIA</li>
        <li>PUNKT PRZEDSZKOLNY MAGICZNY ZAMEK</li>
        <li>PUNKT PRZEDSZKOLNY MAŁY ARTYSTA</li>
        <li>PUNKT PRZEDSZKOLNY MISIE TULISIE I W GDYNI</li>
        <li>PUNKT PRZEDSZKOLNY NR 1 W GDYNI</li>
        <li>PUNKT PRZEDSZKOLNY NUTKOLANDIA</li>
        <li>PUNKT PRZEDSZKOLNY PEGAZ I W GDYNI</li>
        <li>PUNKT PRZEDSZKOLNY SOTIS</li>
        <li>RAZEM. OŚRODEK PSYCHOLOGICZNO - PEDAGOGICZNY</li>
        <li>REGULUS</li>
        <li>SDA SP. Z O.O.</li>
        <li>SOLUTION SZKOLENIA</li>
        <li>SPEAK UP THE ENGLISH SCHOOL</li>
        <li>SPECJALISTYCZNO-TERAPEUTYCZNY PUNKT PRZEDSZKOLNY "PRZEDSZKOLAK NA PLUSIK" W GDYNI"</li>
        <li>SPECJALNY OŚRODEK SZKOLNO- WYCHOWAWCZY NR 1 IM. PROF. HALINY BORZYSZKOWSKIEJ</li>
        <li>SPECJALNY OŚRODEK SZKOLNO- WYCHOWAWCZY NR 2</li>
        <li>SPORTOWA SZKOŁA PODSTAWOWA NR 14 IM. JÓZEFA WYBICKIEGO</li>
        <li>STUDIUM BEZPIECZEŃSTWA I ORGANIZACJI PRACY</li>
        <li>STUDIUM DOSKONALENIA KADR UNIWERSYTETU MORSKIEGO W GDYNI - SP. Z O.O.</li>
        <li>SZKOŁA MORSKA W GDYNI</li>
        <li>SZKOŁA MORSKA W GDYNI</li>
        <li>SZKOŁA MUZYCZNA I I II STOPNIA</li>
        <li>SZKOŁA MUZYCZNA I STOPNIA IM. ZYGMUNTA NOSKOWSKIEGO</li>
        <li>SZKOŁA MUZYCZNA II STOPNIA</li>
        <li>SZKOŁA PODSTAWOWA DLA DOROSŁYCH W GDYNI</li>
        <li>SZKOŁA PODSTAWOWA JEZUITÓW Z ODDZIAŁAMI DWUJĘZYCZNYMI IM. ŚW. STANISŁAWA KOSTKI W GDYNI</li>
        <li>SZKOŁA PODSTAWOWA NR 10 IM. EUGENIUSZA KWIATKOWSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 11 IM. BOHATERÓW ZAŁOGI ORP GROM</li>
        <li>SZKOŁA PODSTAWOWA NR 12</li>
        <li>SZKOŁA PODSTAWOWA NR 13 IM. LUCJANA CYLKOWSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 16 IM. ORŁA BIAŁEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 17 IM. WICEADM. JÓZEFA UNRUGA</li>
        <li>SZKOŁA PODSTAWOWA NR 18 IM. KORNELA MAKUSZYŃSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 20 IM.II MORSKIEGO PUŁKU STRZELCÓW</li>
        <li>SZKOŁA PODSTAWOWA NR 21 IM. WOJSK OBRONY POWIETRZNEJ KRAJU</li>
        <li>SZKOŁA PODSTAWOWA NR 23</li>
        <li>SZKOŁA PODSTAWOWA NR 26 IM. ŻOŁNIERZY ARMII KRAJOWEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 28 IM. LOTNIKÓW POLSKICH</li>
        <li>SZKOŁA PODSTAWOWA NR 29 IM. STEFANA ŻEROMSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 31 IM. SYNÓW PUŁKU</li>
        <li>SZKOŁA PODSTAWOWA NR 33 IM. OBROŃCÓW KĘPY OKSYWSKIEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 34 Z ODDZIAŁAMI INTEGRACYJNYMI IM. LEONIDA TELIGI</li>
        <li>SZKOŁA PODSTAWOWA NR 35 IM. KPT. STANISŁAWA KOSKO</li>
        <li>SZKOŁA PODSTAWOWA NR 37 IM. OBROŃCÓW KĘPY OKSYWSKIEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 39 IM. KPT Ż. W. KAZIMIERZA JURKIEWICZA</li>
        <li>SZKOŁA PODSTAWOWA NR 40 IM. KPT. Ż. W. K. O. BORCHARDTA W GDYNI</li>
        <li>SZKOŁA PODSTAWOWA NR 42 IM. KRÓLOWEJ JADWIGI</li>
        <li>SZKOŁA PODSTAWOWA NR 43 IM. WICEADMIRAŁA KAZIMIERZA PORĘBSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 44 IM. OBROŃCÓW WYBRZEŻA</li>
        <li>SZKOŁA PODSTAWOWA NR 45</li>
        <li>SZKOŁA PODSTAWOWA NR 46</li>
        <li>SZKOŁA PODSTAWOWA NR 47 IM FRANCISZKI CEGIELSKIEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 48 IM. PROFESORA KAZIMIERZA DEMELA</li>
        <li>SZKOŁA PODSTAWOWA NR 51 W GDYNI</li>
        <li>SZKOŁA PODSTAWOWA NR 52 W GDYNI</li>
        <li>SZKOŁA PODSTAWOWA NR 53 W GDYNI</li>
        <li>SZKOŁA PODSTAWOWA NR 6 IM. ANTONIEGO ABRAHAMA</li>
        <li>SZKOŁA PODSTAWOWA NR 8 IM. OBROŃCÓW HELU</li>
        <li>SZKOŁA PODSTAWOWA SPACJALNA DLA DZIECI PRZEWLEKLE CHORYCH NR 38 W GDYNI</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 24 IM. MARII GRZEGORZEWSKIEJ</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 49 DLA DZIECI NIEDOSŁYSZĄCYCH</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 50</li>
        <li>SZKOŁA PODSTAWOWA STOWARZYSZENIA DAR</li>
        <li>SZKOŁA POLICEALNA ,,COSINUS PLUS'' W GDYNI</li>
        <li>SZKOŁA POLICEALNA BEZPIECZEŃSTWA I HIGIENY PRACY "ŻAK" W GDYNI</li>
        <li>SZKOŁA POLICEALNA CENTRUM NAUKI I BIZNESU "ŻAK" W GDYNI</li>
        <li>SZKOŁA POLICEALNA KOSMETYCZNA "ŻAK"</li>
        <li>SZKOŁA POLICEALNA NR 1</li>
        <li>SZKOŁA POLICEALNA NR 10</li>
        <li>SZKOŁA POLICEALNA NR 2 DLA DOROSŁYCH</li>
        <li>SZKOŁA POLICEALNA NR 3 W GDYNI</li>
        <li>SZKOŁA POLICEALNA NR 4</li>
        <li>SZKOŁA POLICEALNA NR 5 DLA DOROSŁYCH</li>
        <li>SZKOŁA POLICEALNA NR 6</li>
        <li>SZKOŁA POLICEALNA NR 8 DLA DOROSŁYCH</li>
        <li>SZKOŁA POLICEALNA OPIEKI MEDYCZNEJ ,,ŻAK" W GDYNI</li>
        <li>SZKOŁA POLICEALNA PRAWNO-ADMINISTRACYJNA "ŻAK"</li>
        <li>SZKOŁA PRZYGOTOWANIA SPORTOWEGO FDS W GDYNI</li>
        <li>SZKOŁA PRZYSPOSABIAJĄCA DO PRACY NR 2 W GDYNI</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY NR 1</li>
        <li>SZKOŁA TWÓRCZEJ EDUKACJI W GDYNI</li>
        <li>SZKOLNE SCHRONISKO MŁODZIEŻOWE</li>
        <li>TEB EDUKACJA STUDIUM KSZTAŁCENIA PRAKTYCZNEGO W GDYNI</li>
        <li>TECHNIKUM ,,COSINUS'' W GDYNI</li>
        <li>TECHNIKUM BUDOWLANE</li>
        <li>TECHNIKUM BUDOWY OKRĘTÓW</li>
        <li>TECHNIKUM CHŁODNICZE IM. PROF. M.T. HUBERA</li>
        <li>TECHNIKUM EKONOMICZNE Z ODDZIAŁAMI DWUJĘZYCZNYMI</li>
        <li>TECHNIKUM ELEKTRONICZNE NR 1</li>
        <li>TECHNIKUM GASTRONOMICZNE</li>
        <li>TECHNIKUM HANDLOWE</li>
        <li>TECHNIKUM HOTELARSKIE</li>
        <li>TECHNIKUM MECHANICZNE NR 1</li>
        <li>TECHNIKUM NR 3</li>
        <li>TECHNIKUM TEB EDUKACJA W GDYNI</li>
        <li>TECHNIKUM TRANSPORTOWE</li>
        <li>TERAPEUTYCZNY PUNKT PRZEDSZKOLNY ,,MY SAMI''</li>
        <li>TERAPEUTYCZNY PUNKT PRZEDSZKOLNY "JA SAM"</li>
        <li>TERAPEUTYCZNY PUNKT PRZEDSZKOLNY SUPERKIDS</li>
        <li>TERAPEUTYCZNY PUNKT PRZEDSZKOLNY WYSPA ODKRYWCÓW</li>
        <li>TOMSAD</li>
        <li>V LICEUM OGÓLNOKSZTAŁCĄCE IM.PŁK.STANISŁAWA DĄBKA</li>
        <li>VI LICEUM OGÓLNOKSZTAŁCĄCE IM. WACŁAWA SIERPIŃSKIEGO</li>
        <li>VII SPORTOWE LICEUM OGÓLNOKSZTAŁCĄCE IM. JÓZEFA WYBICKIEGO</li>
        <li>X LICEUM OGÓLNOKSZTAŁCĄCE IM. GDYŃSKICH NAUCZYCIELI BOHATERÓW II WOJNY ŚWIATOWEJ</li>
        <li>XIV LICEUM OGÓLNOKSZTAŁCĄCEGO Z ODDZIAŁAMI DWUJĘZYCZNYMI IM. MIKOŁAJA KOPERNIKA W GDYNI</li>
        <li>XV LICEUM OGÓLNOKSZTAŁCĄCE SPECJALNE DLA NIEDOSŁYSZĄCYCH</li>
        <li>XVI LICEUM OGÓLNOKSZTAŁCĄCE SPECJALNE</li>
        <li>XVII LICEUM OGÓLNOKSZTAŁCĄCE W GDYNI</li>
        <li>ZAOCZNE LICEUM OGÓLNOKSZTAŁCĄCE ,,BETA" W GDYNI</li>
        <li>ZAOCZNE LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH COSINUS PLUS W GDYNI</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH NR 1 W GDYNI</li>
        <li>ZESPÓŁ SPORTOWYCH SZKÓŁ OGÓLNOKSZTAŁCĄCYCH</li>
        <li>ZESPÓŁ SZKÓŁ ADMINISTRACYJNO - EKONOMICZNYCH</li>
        <li>ZESPÓŁ SZKÓŁ CHŁODNICZYCH I ELEKTRONICZNYCH</li>
        <li>ZESPÓŁ SZKÓŁ EKOLOGICZNO- TRANSPORTOWYCH</li>
        <li>ZESPÓŁ SZKÓŁ HOTELARSKO-GASTRONOMICZNYCH</li>
        <li>ZESPÓŁ SZKÓŁ JEZUITÓW IM. ŚW. STANISŁAWA KOSTKI W GDYNI</li>
        <li>ZESPÓŁ SZKÓŁ KATOLICKICH IM. ŚW. JANA PAWŁA II W GDYNI</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH NR 6</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH NR 8 W GDYNI</li>
        <li>ZESPÓŁ SZKÓŁ SPECJALNYCH NR 17</li>
        <li>ZESPÓŁ SZKOLNO - PRZEDSZKOLNY NR 5</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 2 W GDYNI</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 3 W GDYNI</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 4 W GDYNI</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 6 W GDYNI</li>
        <li>ZESPÓŁ WCZESNEJ EDUKACJI NR 1</li>

    </ul>
    <a href="POMORSKIE.html">Back to Cities in POMORSKIE</a>
</body>
</html>
