
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Chojnice</title>
</head>
<body>
    <h1>Schools in Chojnice</h1>
    <ul>
        <li>AKADEMICKIE LICEUM OGÓLNOKSZTAŁCĄCE "POMERANIA"</li>
        <li>BISKUPI UNIWERSYTET LUDOWY PRZY TECHNIKUM NR 2 W CHOJNICACH</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 2 W CHOJNICACH</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 6 W SCHRONISKU DLA NIELETNICH W CHOJNICACH</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA SPECJALNA NR 2 W CHOJNICACH</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA W CHOJNICACH</li>
        <li>CENTRUM KSZTAŁCENIA BYDGOSKIEGO ZAKŁADU DOSKONALENIA ZAWODOWEGO W CHOJNICACH</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO W CHOJNICACH</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO</li>
        <li>CENTRUM NAUK TECHNICZNYCH W CHOJNICACH</li>
        <li>CHOJNICKA SZKOŁA REALNA - LICEUM OGÓLNOKSZTAŁCACE DLA DOROSŁYCH W CHOJNICACH</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE IM. GEN. WŁADYSŁAWA ANDERSA W CHOJNICACH</li>
        <li>KATOLICKA SZKOŁA PODSTAWOWA IM. PIOTRA DUNINA W CHOJNICACH</li>
        <li>KATOLICKIE LICEUM OGÓLNOKSZTAŁCĄCE IM. ROMUALDA TRAUGUTTA W CHOJNICACH</li>
        <li>KATOLICKIE PRZEDSZKOLE W CHOJNICACH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH "PASCAL" W CHOJNICACH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. FILOMATÓW CHOJNICKICH W CHOJNICACH</li>
        <li>MEDYCZNA SZKOŁA POLICEALNA W CHOJNICACH</li>
        <li>MUZYKALNI - NIEPUBLICZNE PRZEDSZKOLE INTEGRACYJNE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "ŚWIAT MAI" SP.ZO.O.</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE INTEGRACYJNE AKADEMIA PANA KLEKSA</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE INTEGRACYJNO-TERAPEUTYCZNE PANI WIADERKO NR 2</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE INTEGRACYJNO-TERAPUTYCZNE PANI WIADERKO</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE JĘZYKOWE PARROT</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE SMYK</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I STOPNIA IM. FELIKSA NOWOWIEJSKIEGO W CHOJNICACH</li>
        <li>POLICEALNA SZKOŁA MEDYCZNA "PASCAL" W CHOJNICACH</li>
        <li>POLICEALNA SZKOŁA ZAWODOWA "PASCAL" W CHOJNICACH</li>
        <li>POMORSKA BIBLIOTEKA PEDAGOGICZNA W GDAŃSKU. FILIA W CHOJNICACH</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W CHOJNICACH</li>
        <li>POWIATOWA BURSA DLA MŁODZIEŻY SZKOLNEJ W CHOJNICACH</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE " JARZĘBINKA " MIROSŁAWA PRZYBYLAK</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "BAŚNIOWA KRAINA"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "KROKODYLEK"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "PROMYCZEK" MIROSŁAWA WARDACKA</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "TĘCZOWE MISIE"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "TEDDY" - DOROTA STRÓJKA</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "WESOŁE PRZEDSZKOLAKI" ELŻBIETA STANKE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE IM.JANUSZA KORCZAKA</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE O PROFILU ARTYSTYCZNO-SPORTOWYM "BAJKA"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE Z GRUPĄ ŻŁOBKOWĄ "MISIOWA AKADEMIA" IWONA SZMAGLIŃSKA</li>
        <li>PRZEDSZKOLE NR 3 W CHOJNICACH</li>
        <li>STACJONARNA POLICEALNA SZKOŁA MEDYCZNA "PASCAL" W CHOJNICACH</li>
        <li>SZKOŁA PODSTAWOWA NR 1 Z ODDZIAŁAMI INTEGRACYJNYMI IM. J.RYDZKOWSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. PAMIĘCI KOLEJARZY CHOJNICKICH</li>
        <li>SZKOŁA PODSTAWOWA NR 5 IM. J.H.DERDOWSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 6 W SCHRONISKU DLA NIELETNICH W CHOJNICACH</li>
        <li>SZKOŁA PODSTAWOWA NR 7 IM. JANA KARNOWSKIEGO W CHOJNICACH</li>
        <li>SZKOŁA PODSTAWOWA NR 8 W CHOJNICACH</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 4 W CHOJNICACH</li>
        <li>SZKOŁA POLICEALNA W CHOJNICACH</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W CHOJNICACH</li>
        <li>SZKOŁA TECHNICZNA BYDGOSKIEGO ZAKŁADU DOSKONALENIA ZAWODOWEGO W CHOJNICACH</li>
        <li>TECHNIKUM IM. STEFANA BIESZKA W CHOJNICACH</li>
        <li>TECHNIKUM NR 1 W CHOJNICACH</li>
        <li>TECHNIKUM NR 2 W CHOJNICACH</li>
        <li>TECHNIKUM NR 3 IM. BOHATERÓW SZARŻY POD KROJANTAMI W CHOJNICACH</li>
        <li>ZESPÓŁ SZKÓŁ "PASCAL" W CHOJNICACH</li>
        <li>ZESPÓŁ SZKÓŁ NR 2 W CHOJNICACH</li>
        <li>ZESPÓŁ SZKÓŁ SPECJALNYCH W CHOJNICACH</li>
        <li>ZESPÓŁ SZKÓŁ W CHOJNICACH</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 3 W CHOJNICACH</li>

    </ul>
    <a href="POMORSKIE.html">Back to Cities in POMORSKIE</a>
</body>
</html>
