
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Pszczółki</title>
</head>
<body>
    <h1>Schools in Pszczółki</h1>
    <ul>
        <li>"MORSKIE OPOWIEŚCI 2" NIEPUBLICZNE PRZEDSZKOLE ALEKSANDRA KOŚCIŃSKA</li>
        <li>PRZEDSZKOLE GMINNE "PSZCZÓŁKA MAJA" W PSZCZÓŁKACH</li>
        <li>SZKOŁA PODSTAWOWA IM. BOHATERÓW ZIEMI GDAŃSKIEJ</li>

    </ul>
    <a href="POMORSKIE.html">Back to Cities in POMORSKIE</a>
</body>
</html>
