
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Gniew</title>
</head>
<body>
    <h1>Schools in Gniew</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W GNIEWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W GNIEWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W GNIEWIE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "BAJECZNA KRAINA"</li>
        <li>PRZEDSZKOLE W GNIEWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. JANA III SOBIESKIEGO W GNIEWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. GEN. JÓZEFA HALLERA W GNIEWIE</li>
        <li>TECHNIKUM W GNIEWIE</li>
        <li>ZESPÓŁ SZKÓŁ PONADPODSTAWOWYCH W GNIEWIE</li>

    </ul>
    <a href="POMORSKIE.html">Back to Cities in POMORSKIE</a>
</body>
</html>
