
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Strzebielino-Osiedle</title>
</head>
<body>
    <h1>Schools in Strzebielino-Osiedle</h1>
    <ul>
        <li>PRZEDSZKOLE PUBLICZNE W STRZEBIELINIE OSIEDLU</li>
        <li>SZKOŁA PODSTAWOWA IM. KPT. Ż. W. KAROLA OLGIERDA BORCHARDTA W STRZEBIELINIE OSIEDLU</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W STRZEBIELINIE OSIEDLU</li>

    </ul>
    <a href="POMORSKIE.html">Back to Cities in POMORSKIE</a>
</body>
</html>
