
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Bolesławowo</title>
</head>
<body>
    <h1>Schools in Bolesławowo</h1>
    <ul>
        <li>SZKOŁA POLICEALNA</li>
        <li>SZKOŁA POLICEALNA DLA DOROSŁYCH</li>
        <li>TECHNIKUM</li>
        <li>ZESPÓŁ SZKÓŁ ROLNICZYCH CENTRUM KSZTAŁCENIA ZAWODOWEGO IM. JÓZEFA WYBICKIEGO W BOLESŁAWOWIE</li>

    </ul>
    <a href="POMORSKIE.html">Back to Cities in POMORSKIE</a>
</body>
</html>
