
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Nowy Staw</title>
</head>
<body>
    <h1>Schools in Nowy Staw</h1>
    <ul>
        <li>PRZEDSZKOLE W NOWYM STAWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. WINCENTEGO POLAW NOWYM STAWIE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W NOWYM STAWIE</li>

    </ul>
    <a href="POMORSKIE.html">Back to Cities in POMORSKIE</a>
</body>
</html>
