
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Stara Kiszewa</title>
</head>
<body>
    <h1>Schools in Stara Kiszewa</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA</li>
        <li>CHATKA PUCHATKA</li>
        <li>DOM WCZASÓW DZIECIĘCYCH W WYGONINIE</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE W STAREJ KISZEWIE</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA W STAREJ KISZEWIE</li>
        <li>ZESPÓŁ KSZTAŁCENIA I WYCHOWANIA W STAREJ KISZEWIE</li>

    </ul>
    <a href="POMORSKIE.html">Back to Cities in POMORSKIE</a>
</body>
</html>
