
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Bielkówko</title>
</head>
<body>
    <h1>Schools in Bielkówko</h1>
    <ul>
        <li>PRZEDSZKOLE "SKRZATY" MAŁGORZATA MARKIEWICZ-KOZŁOWSKA</li>
        <li>PRZEDSZKOLE W BIELKÓWKU</li>
        <li>SZKOŁA PODSTAWOWA IM. BRUNONA GREGORKIEWICZA W BIELKÓWKU</li>
        <li>ZESPÓŁ KSZTAŁCENIA I WYCHOWANIA W BIELKÓWKU</li>

    </ul>
    <a href="POMORSKIE.html">Back to Cities in POMORSKIE</a>
</body>
</html>
