
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Kolbudy</title>
</head>
<body>
    <h1>Schools in Kolbudy</h1>
    <ul>
        <li>NIEPUBLICZNA SZKOŁA MUZYCZNA I ST. W KOLBUDACH</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE AKADEMIA PRZEDSZKOLAKA W KOLBUDACH - ANNA RAMPALSKA</li>
        <li>PRZEDSZKOLE W KOLBUDACH</li>
        <li>SZKOŁA PODSTAWOWA IM.MARIUSZA ZARUSKIEGO</li>
        <li>ZESPÓŁ KSZTAŁCENIA I WYCHOWANIA W KOLBUDACH</li>

    </ul>
    <a href="POMORSKIE.html">Back to Cities in POMORSKIE</a>
</body>
</html>
