
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Kłanino</title>
</head>
<body>
    <h1>Schools in Kłanino</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W KŁANINIE W POWIATOWYM ZESPOLE SZKÓŁ IM. STANISŁAWA STASZICA W KŁANINIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W KŁANINIE POWIATOWYM ZESPOLE SZKÓŁ IM. STANISŁAWA STASZICA W KŁANINIE</li>
        <li>POWIATOWY ZESPÓŁ SZKÓŁ IM. STANISŁAWA STASZICA W KŁANINIE</li>
        <li>SZKOŁA POLICEALNA W KŁANINIE W POWIATOWYM ZESPOLE SZKÓŁ IM. STANISŁAWA STASZICA W KŁANINIE</li>
        <li>TECHNIKUM W KŁANINIE W POWIATOWYM ZESPOLE SZKÓŁ IM. STANISŁAWA STASZICA W KŁANINIE</li>

    </ul>
    <a href="POMORSKIE.html">Back to Cities in POMORSKIE</a>
</body>
</html>
