
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Strzepcz</title>
</head>
<body>
    <h1>Schools in Strzepcz</h1>
    <ul>
        <li>OŚRODEK EDUKACJI KASZUBSKIEJ - SZKOŁA PODSTAWOWA NA GŁODNICY</li>
        <li>OŚRODEK REHABILITACYJNO-EDUKACYJNO-WYCHOWAWCZY W STRZEPCZU</li>
        <li>SZKOŁA PODSTAWOWA W STRZEPCZU</li>

    </ul>
    <a href="POMORSKIE.html">Back to Cities in POMORSKIE</a>
</body>
</html>
