
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Człuchów</title>
</head>
<body>
    <h1>Schools in Człuchów</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 1</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 2</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 3 ZSA CZŁUCHÓW</li>
        <li>CENTRUM EDUKACYJNE NIEPUBLICZNE PRZEDSZKOLE MOTYLEK Z ODDZIAŁEM INTEGRACYJNYM</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO W CZŁUCHOWIE</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE CKU CZŁUCHÓW</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE SPORTOWE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W CZŁUCHOWIE</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA "TERAPEUCIK"</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA "PIANO"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE NASZE ELDORADO</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE PRZY JEZIORZE</li>
        <li>OGNISKO MUZYCZNE "PIANO"</li>
        <li>OŚRODEK KSZTAŁCENIA ZAWODOWEGO W CZŁUCHOWIE</li>
        <li>POMORSKA BIBLIOTEKA PEDAGOGICZNA W SŁUPSKU. FILIA W CZŁUCHOWIE</li>
        <li>PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA W CZŁUCHOWIE</li>
        <li>POWIATOWA BURSA SZKOLNA W CZŁUCHOWIE</li>
        <li>PRESTIGE LICEUM OGÓLNOKSZTAŁCĄCE W CZŁUCHOWIE</li>
        <li>PRZEDSZKOLE MIEJSKIE IM. JACKA I AGATKI</li>
        <li>PRZEDSZKOLE MUZYCZNE PIANO</li>
        <li>PRZEDSZKOLE MUZYCZNE PIANO +</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE SMYK</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE"BAJKA" Z GRUPĄ ŻŁOBKOWĄ</li>
        <li>PRZEDSZKOLE SPECJALNE DLA DZIECI NIEPEŁNOSPRAWNYCH INTELEKTUALNIE W STOPNIU UMIARKOWANYM LUB ZNACZNYM, Z AUTYZMEM ORAZ NIEPEŁNOSPRAWNOŚCIAMI SPRZĘŻONYMI W SPECJALNYM OŚRODKU SZKOLNO-WYCHOWAWCZYM W CZŁUCHOWIE</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY W CZŁUCHOWIE</li>
        <li>SPOŁECZNA SZKOŁA PODSTAWOWA SPOŁECZNEGO TOWARZYSTWA OŚWIATOWEGO IM. JANA NOWAKA JEZIORAŃSKIEGO</li>
        <li>SPOŁECZNE LICEUM OGÓLNOKSZTAŁCĄCE W CZŁUCHOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. PRZYJACIÓŁ ZIEMI</li>
        <li>SZKOŁA PODSTAWOWA NR 2</li>
        <li>SZKOŁA PODSTAWOWA SPORTOWA CZŁUCHÓW</li>
        <li>SZKOŁA POLICEALNA CKU CZŁUCHÓW</li>
        <li>SZKOŁA PRZYSPOSABIAJĄCA DO PRACY</li>
        <li>TECHNIKUM AGROBIZNESU ZSA CZŁUCHÓW</li>
        <li>TECHNIKUM ARCHITEKTURY KRAJOBRAZU ZSA CZŁUCHÓW</li>
        <li>TECHNIKUM EKONOMICZNE ZSA CZŁUCHÓW</li>
        <li>TECHNIKUM GEODEZYJNE ZSA CZŁUCHÓW</li>
        <li>TECHNIKUM INFORMATYCZNE ZSA CZŁUCHÓW</li>
        <li>TECHNIKUM ROLNICZE</li>
        <li>TECHNIKUM TURYSTYKI NA OBSZARACH WIEJSKICH ZSA CZŁUCHÓW</li>
        <li>TECHNIKUM WETERYNARYJNE ZSA CZŁUCHÓW</li>
        <li>TECHNIKUM ZST CZŁUCHÓW</li>
        <li>TECHNIKUM ŻYWIENIA I USŁUG GASTRONOMICZNYCH ZSA CZŁUCHÓW</li>
        <li>ZESPÓŁ SZKÓŁ AGROBIZNESU W CZŁUCHOWIE</li>
        <li>ZESPÓŁ SZKÓŁ SPOŁECZNYCH STO W CZŁUCHOWIE</li>
        <li>ZESPÓŁ SZKÓŁ SPORTOWYCH IM. POLSKICH OLIMPIJCZYKÓW W CZŁUCHOWIE</li>
        <li>ZESPÓŁ SZKÓŁ TECHNICZNYCH</li>

    </ul>
    <a href="POMORSKIE.html">Back to Cities in POMORSKIE</a>
</body>
</html>
