
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Klukowa Huta</title>
</head>
<body>
    <h1>Schools in Klukowa Huta</h1>
    <ul>
        <li>PRZEDSZKOLE "SŁONECZKO" W KLUKOWEJ HUCIE</li>
        <li>SZKOŁA PODSTAWOWA IM. ALEKSANDRA MAJKOWSKIEGO W KLUKOWEJ HUCIE</li>
        <li>ZESPÓŁ KSZTAŁCENIA I WYCHOWANIA W KLUKOWEJ HUCIE</li>

    </ul>
    <a href="POMORSKIE.html">Back to Cities in POMORSKIE</a>
</body>
</html>
