
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Kulice</title>
</head>
<body>
    <h1>Schools in Kulice</h1>
    <ul>
        <li>PRZEDSZKOLE W KULICACH W ZESPOLE KSZTAŁCENIA I WYCHOWANIA W KULICACH</li>
        <li>SZKOŁA PODSTAWOWA W KULICACH W ZESPOLE KSZTAŁCENIA I WYCHOWANIA W KULICACH</li>
        <li>ZESPÓŁ KSZTAŁCENIA I WYCHOWANIA W KULICACH</li>

    </ul>
    <a href="POMORSKIE.html">Back to Cities in POMORSKIE</a>
</body>
</html>
