
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Łebień</title>
</head>
<body>
    <h1>Schools in Łebień</h1>
    <ul>
        <li>ZESPÓŁ SZKÓŁ IM. JANA PAWŁA II W ŁEBIENIU</li>
        <li>ZESPÓŁ SZKÓŁ IM. JANA PAWŁA II W ŁEBIENIU - PRZEDSZKOLE</li>
        <li>ZESPÓŁ SZKÓŁ IM. JANA PAWŁA II W ŁEBIENIU - SZKOŁA PODSTAWOWA</li>

    </ul>
    <a href="POMORSKIE.html">Back to Cities in POMORSKIE</a>
</body>
</html>
