
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Borowy Młyn</title>
</head>
<body>
    <h1>Schools in Borowy Młyn</h1>
    <ul>
        <li>SZKOŁA PODSTAWOWA IM. KSIĘDZA BERNARDA GOŃCZA W ZESPOLE SZKÓŁ W BOROWYM MŁYNIE</li>
        <li>ZESPÓŁ SZKÓŁ W BOROWYM MŁYNIE77-138 BOROWY MŁYNUL. KASZUBSKA 1</li>
        <li>ZESPÓŁ SZKÓŁ-PRZEDSZKOLE IMIENIA BERNARDA GOŃCZA UL. KASZUBSKA 1 77-138 BOROWY MŁYN</li>

    </ul>
    <a href="POMORSKIE.html">Back to Cities in POMORSKIE</a>
</body>
</html>
