
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Koleczkowo</title>
</head>
<body>
    <h1>Schools in Koleczkowo</h1>
    <ul>
        <li>EKOLOGICZNY PUNKT PRZEDSZKOLNY "W MALINOWYM CHRUŚNIAKU" W KOLECZKOWIE</li>
        <li>NIEPUBLICZNE CENTRUM KSZTAŁCENIA SILVA LUPUS</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE W KOLECZKOWIE</li>
        <li>SZKOŁA PODSTAWOWA IM. PARTYZANTÓW KASZUBSKICH W KOLECZKOWIE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W KOLECZKOWIE</li>

    </ul>
    <a href="POMORSKIE.html">Back to Cities in POMORSKIE</a>
</body>
</html>
