
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Dzierżążno</title>
</head>
<body>
    <h1>Schools in Dzierżążno</h1>
    <ul>
        <li>PRZEDSZKOLE W DZIERŻĄŻNIE</li>
        <li>SZKOŁA PODSTAWOWA IM. HENRYKA SIENKIEWICZA W DZIERŻĄŻNIE</li>
        <li>ZESPÓŁ KSZTAŁCENIA I WYCHOWANIA SPECJALNEGO W KARTUZACH, SZKOŁA PODSTAWOWA NR 2 SPECJALNA ZORGANIZOWANA W SZPITALU SPECJALISTYCZNYM W KOŚCIERZYNIE - ODDZIAŁ REHABILITACJI DZIECIĘCEJ W DZIERŻĄŻNIE</li>
        <li>ZESPÓŁ KSZTAŁCENIA I WYCHOWANIA W DZIERŻĄŻNIE</li>

    </ul>
    <a href="POMORSKIE.html">Back to Cities in POMORSKIE</a>
</body>
</html>
