
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Czernin</title>
</head>
<body>
    <h1>Schools in Czernin</h1>
    <ul>
        <li>ZESPÓŁ SZKÓŁ PUBLICZNE PRZEDSZKOLE W CZERNINIE</li>
        <li>ZESPÓŁ SZKÓŁ SZKOŁA PODSTAWOWA IM. RODZINY DONIMIRSKICH W CZERNINIE</li>
        <li>ZESPÓŁ SZKÓŁ W CZERNINIE</li>

    </ul>
    <a href="POMORSKIE.html">Back to Cities in POMORSKIE</a>
</body>
</html>
