
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Starogard Gdański</title>
</head>
<body>
    <h1>Schools in Starogard Gdański</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W STAROGARDZIE W ZESPOLE SZKÓŁ ZAWODOWYCH IM. MJR. H. DOBRZAŃSKIEGO HUBALA W STAROGARDZIE GD</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA W STAROGARDZIE GDAŃSKIM</li>
        <li>CENTRUM KSZTAŁCENIA PLEJADA SZKOŁA POLICEALNA W STAROGARDZIE GDAŃSKIM</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE IM. MARII SKŁODOWSKIEJ-CURIE W STAROGARDZIE GDAŃSKIM</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE IM.ZIEMI KOCIEWSKIEJ W STAROGARDZIE GDAŃSKIM</li>
        <li>INTEGRACYJNO-JĘZYKOWE PRZEDSZKOLE MONTESSORI HOUSE</li>
        <li>IV LICEUM OGÓLNOKSZTAŁCĄCE CN-B IM. POLSKICH SPADOCHRONIARZY W STAROGARDZIE GDAŃSKIM</li>
        <li>KATOLICKIE PRZEDSZKOLE NIEPUBLICZNE "ARKA NOEGO"</li>
        <li>KOCIEWSKIE CENTRUM KSZTAŁCENIA USTAWICZNEGO</li>
        <li>KOCIEWSKIE LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH "ŻAK"</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W STAROGARDZIE GDAŃSKIM</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W STAROGARDZIE GDAŃSKIM</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE SPECJALNE NR III</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE TEB EDUKACJA DLA DOROSŁYCH</li>
        <li>MIĘDZYSZKOLNY OŚRODEK SPORTOWY W STAROGARDZIE GDAŃSKIM</li>
        <li>MIEJSKIE PRZEDSZKOLE PUBLICZNE NR 1</li>
        <li>MIEJSKIE PRZEDSZKOLE PUBLICZNE NR 10 IM. "SŁONECZNA KRAINA"</li>
        <li>MIEJSKIE PRZEDSZKOLE PUBLICZNE NR 2 Z ODDZIAŁAMI INTEGRACYJNYMI</li>
        <li>MIEJSKIE PRZEDSZKOLE PUBLICZNE NR 3 IM. "MIŚ USZATEK"</li>
        <li>MIEJSKIE PRZEDSZKOLE PUBLICZNE NR 4 IM. "TĘCZĄ MALOWANE"</li>
        <li>MIEJSKIE PRZEDSZKOLE PUBLICZNE NR 5 IM. JANUSZA KORCZAKA</li>
        <li>MIEJSKIE PRZEDSZKOLE PUBLICZNE NR 6 IM. "MODRACZEK"</li>
        <li>MIEJSKIE PRZEDSZKOLE PUBLICZNE NR 8 IM. "BAJECZKA"</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "PRO-VOBIS"</li>
        <li>NIEPUBLICZNA SZKOŁA POLICEALNA TEB EDUKACJA W STAROGARDZIE GDAŃSKIM</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "MALUSZEK"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "TĘCZA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE ANIOŁEK</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE WOOW</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY "KUBUŚ PUCHATEK I PRZYJACIELE"</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY "PLUSZOWY MIŚ"</li>
        <li>OGNISKO PRACY POZASZKOLNEJ W STAROGARDZIE GDAŃSKIM</li>
        <li>OŚRODEK SZKOLENIOWY CENTRUM NAUKI I BIZNESU "ŻAK"</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I ST. IM. WITOLDA LUTOSŁAWSKIEGO W STAROGARDZIE GDAŃSKIM</li>
        <li>POLICEALNA SZKOŁA "AKADEMIA SUKCESU"</li>
        <li>POLICEALNA SZKOŁA CENTRUM NAUKI I BIZNESU "ŻAK"</li>
        <li>POLICEALNA SZKOŁA MEDYCZNA "ŻAK" W STAROGARDZIE GDAŃSKIM</li>
        <li>POLICEALNA SZKOŁA OPIEKI MEDYCZNEJ "ŻAK" W STAROGARDZIE GDAŃSKIM</li>
        <li>POMORSKA BIBLIOTEKA PEDAGOGICZNA W GDAŃSKU. FILIA W STAROGARDZIE GDAŃSKIM</li>
        <li>POMORSKA MEDYCZNA SZKOŁA POLICEALNA W STAROGARDZIE GDAŃSKIM</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W STAROGARDZIE GDAŃSKIM</li>
        <li>PRYWATNA SZKOŁA POLICEALNA DLA DOROSŁYCH 'TWOJA SZKOŁA'</li>
        <li>PRYWATNE LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH "TWOJA SZKOŁA"</li>
        <li>PRZEDSZKOLE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "BAJKOWY DOMEK"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "PLASTUŚ" AKADEMIA MAŁEGO ARTYSTY</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE MIASTECZKOLE</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 1 IM. HENRYKA SIENKIEWICZA</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 2 IM.MARII KONOPNICKIEJ</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 3 IM. WŁADYSŁAWA BRONIEWSKIEGO</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 4 Z ODDZIAŁAMI INTEGRACYJNYMI IM. JULIUSZA SŁOWACKIEGO</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 6 IM. JANA PAWŁA II</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 8 IM. MIKOŁAJA KOPERNIKA</li>
        <li>PUBLICZNE PRZEDSZKOLE "PRZYLESIE"</li>
        <li>PUNKT PRZEDSZKOLNY "MIASTECZKOLE"</li>
        <li>PUNKT PRZEDSZKOLNY "NAD WIERZYCĄ II"</li>
        <li>PUNKT PRZEDSZKOLNY "NAD WIERZYCĄ"</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY IM. K. KIREJCZYKA</li>
        <li>STAROGARDZKIE SZKOŁY AUTONOMICZNE-STAROGARDZKIE AUTONOMICZNE LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>STUDIUM ZDROWIA I URODY</li>
        <li>SZKOŁA BRANŻOWA I STOPNIA</li>
        <li>SZKOŁA PODSTAWOWA IM. KS. JANA TWARDOWSKIEGO W STAROGARDZIE GDAŃSKIM</li>
        <li>SZKOŁA PODSTAWOWA NR 5</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 7</li>
        <li>SZKOŁA PRZYSPOSABIAJĄCA DO PRACY</li>
        <li>TEB EDUKACJA STUDIUM KSZTAŁCENIA PRAKTYCZNEGO</li>
        <li>TECHNIKUM NR 1 IM. NOBLISTÓW POLSKICH W STAROGARDZIE GDAŃSKIM</li>
        <li>TECHNIKUM NR 2 W STAROGARDZIE GDAŃSKIM</li>
        <li>TECHNIKUM TEB EDUKACJA W STAROGARDZIE GDAŃSKIM</li>
        <li>TOP EDUCATION SOBIESŁAW SOWA PLACÓWKA WYCHOWANIA POZASZKOLNEGO</li>
        <li>TRZYLETNIE LICEUM DLA DOROSŁYCH "AKADEMIA SUKCESU"</li>
        <li>V LICEUM OGÓLNOKSZTAŁCĄCE TEB EDUKACJA W STAROGARDZIE GDAŃSKIM</li>
        <li>ZAKŁAD DOSKONALENIA ZAWODOWEGO OŚRODEK KSZTAŁCENIA ZAWODOWEGO NR 6</li>
        <li>ZESPÓŁ SZKÓŁ EKONOMICZNYCH W STAROGARDZIE GDAŃSKIM</li>
        <li>ZESPÓŁ SZKÓŁ EKONOMICZNYCH W STAROGARDZIE GDAŃSKIM-KOCIEWSKIE CENTRUM KSZTAŁCENIA USTAWICZNEGO-SZKOŁA POLICEALNA DLA DOROSŁYCH</li>
        <li>ZESPÓŁ SZKÓŁ ZAWODOWYCH IM. MJR. H. DOBRZAŃSKIEGO HUBALA W STAROGARDZIE GDAŃSKIM</li>

    </ul>
    <a href="POMORSKIE.html">Back to Cities in POMORSKIE</a>
</body>
</html>
