
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Miastko</title>
</head>
<body>
    <h1>Schools in Miastko</h1>
    <ul>
        <li>'LINGUA" SZKOŁA JĘZYKÓW OBCYCH ANNA KALKA</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA IM. "WYNALAZCÓW POLSKICH"</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI MISTRZOSTWA SPORTOWEGO IM. "WYNALAZCÓW POLSKICH"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE MONTESSORI MIASTKO</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I ST. IM. FRYDERYKA CHOPINA W MIASTKU</li>
        <li>POMORSKA BIBLIOTEKA PEDAGOGICZNA W SŁUPSKU. FILIA W MIASTKU</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W MIASTKU</li>
        <li>POWIATOWY MŁODZIEŻOWY DOM KULTURY</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 1 W MIASTKU</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 3 IM. PRZYJACIÓŁ STUMILOWEGO LASU W MIASTKU</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. MIKOŁAJA KOPERNIKA W MIASTKU</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. BOLESŁAWA CHROBREGO W MIASTKU</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. JANA PAWŁA II W MIASTKU</li>
        <li>SZKOŁA POLICEALNA</li>
        <li>TECHNIKUM IM. "WYNALAZCÓW POLSKICH"</li>
        <li>ZAKŁAD USŁUGOWO-SZKOLENIOWY "WIEDZA"</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH I TECHNICZNYCH W MIASTKU</li>

    </ul>
    <a href="POMORSKIE.html">Back to Cities in POMORSKIE</a>
</body>
</html>
