
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Dębogórze</title>
</head>
<body>
    <h1>Schools in Dębogórze</h1>
    <ul>
        <li>NIEPUBLICZNE PRZEDSZKOLE JĘZYKOWE KRÓL MACIUŚ 1</li>
        <li>PRZEDSZKOLE W DĘBOGÓRZU</li>
        <li>SZKOŁA PODSTAWOWA IM OBROŃCÓW KĘPY OKSYWSKIEJ W DĘBOGÓRZU</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W DĘBOGÓRZU</li>

    </ul>
    <a href="POMORSKIE.html">Back to Cities in POMORSKIE</a>
</body>
</html>
