
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Pogórze</title>
</head>
<body>
    <h1>Schools in Pogórze</h1>
    <ul>
        <li>NASZA PLANETA</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "NUTKA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE JĘZYKOWE "MRÓWECZKI"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE MONTESSORI "RÓŻOWA WIEŻA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE NUTKA</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE BEAUFORCIK</li>
        <li>SZKOŁA PODSTAWOWA IM KMDR XAWEREGO CZERNICKIEGO W POGÓRZU</li>

    </ul>
    <a href="POMORSKIE.html">Back to Cities in POMORSKIE</a>
</body>
</html>
