
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Rajkowy</title>
</head>
<body>
    <h1>Schools in Rajkowy</h1>
    <ul>
        <li>PRZEDSZKOLE W RAJKOWACH W ZESPOLE KSZTAŁCENIA I WYCHOWANIA W RAJKOWACH</li>
        <li>SZKOŁA PODSTAWOWA W RAJKOWACH W ZESPOLE KSZTAŁCENIA I WYCHOWANIA W RAJKOWACH</li>
        <li>ZESPÓŁ KSZTAŁCENIA I WYCHOWANIA W RAJKOWACH</li>

    </ul>
    <a href="POMORSKIE.html">Back to Cities in POMORSKIE</a>
</body>
</html>
