
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Wierzchowo-Dworzec</title>
</head>
<body>
    <h1>Schools in Wierzchowo-Dworzec</h1>
    <ul>
        <li>MŁODZIEŻOWY OŚRODEK SOCJOTERAPII W WIERZCHOWIE</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE W WIERZCHOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 2</li>
        <li>SZKOŁA PODSTAWOWA W WIERZCHOWIE</li>
        <li>ZESPÓŁ SZKOLNO - PRZEDSZKOLNY W WIERZCHOWIE - DWORCU</li>

    </ul>
    <a href="POMORSKIE.html">Back to Cities in POMORSKIE</a>
</body>
</html>
