
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Sąspów</title>
</head>
<body>
    <h1>Schools in Sąspów</h1>
    <ul>
        <li>PRZEDSZKOLE W SĄSPOWIE IM. POWSTAŃCÓW STYCZNIOWYCH</li>
        <li>SZKOŁA PODSTAWOWA W SĄSPOWIE IM. POWSTAŃCÓW STYCZNIOWYCH</li>
        <li>ZESPÓŁ SZKOLNO - PRZEDSZKOLNY W SĄSPOWIE</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
