
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Łapanów</title>
</head>
<body>
    <h1>Schools in Łapanów</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO IM. ŚW. JANA PAWŁA II W ŁAPANOWIE</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA W CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO IM. ŚW. JANA PAWŁA II W ŁAPANOWIE</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO IM. ŚW. JANA PAWŁA II W ŁAPANOWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>PUBLICZNE PRZEDSZKOLE W ŁAPANOWIE</li>
        <li>SZKOŁA PODSTAWOWA IM. ŚW. JANA KANTEGO W ŁAPANOWIE</li>
        <li>SZKOŁA POLICEALNA</li>
        <li>TECHNIKUM W CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO W ŁAPANOWIE</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
