
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Ochotnica Dolna</title>
</head>
<body>
    <h1>Schools in Ochotnica Dolna</h1>
    <ul>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA IM. BOHATERÓW KRWAWEJ WIGILII W OCHOTNICY DOLNEJ</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "CZAS DZIECIĘCYCH MARZEŃ"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE INTEGRACYJNE "BAJKOWE SŁONECZKO" W OCHOTNICY DOLNEJ -MŁYNNE</li>
        <li>PRZEDSZKOLE BAJKOLANDIA 3</li>
        <li>PRZEDSZKOLE MALI ODKRYWCY</li>
        <li>SZKOŁA PODSTAWOWA IM. JANA PAWŁA II W OCHOTNICY DOLNEJ</li>
        <li>SZKOŁA PODSTAWOWA IM. KS. PROF. J. TISCHNERA W OCHOTNICY DOLNEJ</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W OCHOTNICY DOLNEJ</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
