
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Kamień</title>
</head>
<body>
    <h1>Schools in Kamień</h1>
    <ul>
        <li>SAMORZĄDOWE PRZEDSZKOLE W KAMIENIU</li>
        <li>SZKOŁA PODSTAWOWA IM. KS.STANISŁAWA SŁOTWIŃSKIEGO W KAMIENIU</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W KAMIENIU</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
