
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Skała</title>
</head>
<body>
    <h1>Schools in Skała</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W SKALE W ZESPOLE SZKÓŁ I PLACÓWEK OŚWIATOWYCH W SKALE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W SKALE W ZESPOLE SZKÓŁ I PLACÓWEK OŚWIATOWYCH W SKALE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM.WŁADYSŁAWA ŁOKIETKA W SKALE W ZESPOLE SZKÓŁ I PLACÓWEK OŚWIATOWYCH W SKALE</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W SKALE</li>
        <li>OŚRODEK DOSKONALENIA KADR TECHNICZNYCH W SKALE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "POZIOMKA"</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE IM. HANNY ZDZITOWIECKIEJ W SKALE</li>
        <li>SPECJALISTYCZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA POWIATU KRAKOWSKIEGO - FILIA W SKALE</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. WŁADYSŁAWA ŁOKIETKA W SKALE</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM.BŁOGOSŁAWIONEJ SALOMEI W SKALE</li>
        <li>SZKOŁA POLICEALNA W SKALE W ZESPOLE SZKÓŁ I PLACÓWEK OŚWIATOWYCH W SKALE</li>
        <li>SZKOLNE SCHRONISKO MŁODZIEŻOWE - PLACÓWKA OŚWIATOWO-WYCHOWAWCZA</li>
        <li>TECHNIKUM W SKALE W ZESPOLE SZKÓŁ I PLACÓWEK OŚWIATOWYCH W SKALE</li>
        <li>ZESPÓŁ SZKÓŁ I PLACÓWEK OŚWIATOWYCH W SKALE</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
