
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Zabierzów</title>
</head>
<body>
    <h1>Schools in Zabierzów</h1>
    <ul>
        <li>INTEGRACYJNE PRZEDSZKOLE NIEPUBLICZNE EKO-LUDKI</li>
        <li>NIEPUBLICZNA PLACÓWKA OŚWIATOWO-WYCHOWAWCZA FRYGI DRYGI</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "RADOSNE NUTKI"</li>
        <li>PLUSZOWY MIŚ NIEPUBLICZNE PRZEDSZKOLE JĘZYKOWE Z ODDZIAŁEM INTEGRACYJNYM</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W ZABIERZOWIE</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE Z ODDZIAŁAMI INTEGRACYJNYMI W ZABIERZOWIE</li>
        <li>SZKOŁA JĘZYKA ANGIELSKIEGO "BEST FRIEND"</li>
        <li>SZKOŁA PODSTAWOWA IM. JANUSZA KORCZAKA W ZABIERZOWIE</li>
        <li>ZESPÓŁ SZKOLNO - PRZEDSZKOLNY W ZABIERZOWIE</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
