
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Wola Radziszowska</title>
</head>
<body>
    <h1>Schools in Wola Radziszowska</h1>
    <ul>
        <li>PRZEDSZKOLE SAMORZĄDOWE IM. MARII KONOPNICKIEJ 32-053 WOLA RADZISZOWSKA UL. ŚW. JANA PAWŁA II 6</li>
        <li>SZKOŁA PODSTAWOWA IM. MARII KONOPNICKIEJ W WOLI RADZISZOWSKIEJ, 32-053 WOLA RADZISZOWSKA, UL. SZKOLNA 10</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH W WOLI RADZISZOWSKIEJ 32-053 WOLA RADZISZOWSKA</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
