
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Okulice</title>
</head>
<body>
    <h1>Schools in Okulice</h1>
    <ul>
        <li>OCHRONKA ZGROMADZENIA SIÓSTR SŁUŻEBNICZEK BDNP NIEPUBLICZNE PRZEDSZKOLE W OKULICACH</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA IM. GEN. LEOPOLDA OKULICKIEGO W OKULICACH</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
