
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Łękawica</title>
</head>
<body>
    <h1>Schools in Łękawica</h1>
    <ul>
        <li>PRZEDSZKOLE PUBLICZNE IM. KAPITANA JÓZEFA BUDZIKA W ŁĘKAWICY</li>
        <li>SZKOŁA PODSTAWOWA IM. BOHATERÓW WESTERPLATTE W ŁĘKAWICY</li>
        <li>SZKOŁA PODSTAWOWA IM. ROMANA JABŁOŃSKIEGO W ŁĘKAWICY</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
