
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Jasienica</title>
</head>
<body>
    <h1>Schools in Jasienica</h1>
    <ul>
        <li>PRZEDSZKOLE SAMORZĄDOWE W JASIENICY</li>
        <li>SZKOŁA PODSTAWOWA IM.PROF.KAROLINY LANCKOROŃSKIEJ W JASIENICY</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH W JASIENICY</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
