
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Wojnicz</title>
</head>
<body>
    <h1>Schools in Wojnicz</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W WOJNICZU</li>
        <li>LICEUM OGÓLNOKSZTAŁCACE W WOJNICZU</li>
        <li>POWIATOWA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W TARNOWIE FILIA W WOJNICZU</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE ,,MÓJ MAŁY ŚWIAT"</li>
        <li>PRZEDSZKOLE PUBLICZNE W WOJNICZU</li>
        <li>SZKOŁA PODSTAWOWA IM. ŚW. JANA KANTEGO W WOJNICZU</li>
        <li>SZKOLNE SCHRONISKO MŁODZIEŻOWE W WOJNICZU</li>
        <li>TECHNIKUM W WOJNICZU</li>
        <li>ZESPÓŁ SZKÓŁ LICEALNYCH I TECHNICZNYCH IM. JANA PAWŁA II W WOJNICZU</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
