
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Szczytniki</title>
</head>
<body>
    <h1>Schools in Szczytniki</h1>
    <ul>
        <li>PRZEDSZKOLE SAMORZĄDOWE W SZCZYTNIKACH</li>
        <li>SZKOŁA PODSTAWOWA IM. JANINY PORAZIŃSKIEJ W SZCZYTNIKACH</li>
        <li>SZKOŁA PODSTAWOWA Z ODDZIAŁAMI INTEGRACYJNYMI W SZCZYTNIKACH</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
