
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Bysina</title>
</head>
<body>
    <h1>Schools in Bysina</h1>
    <ul>
        <li>PRZEDSZKOLE SAMORZĄDOWE W BYSINIE</li>
        <li>SZKOŁA PODSTAWOWA IM.KSIĘCIA KARDYNAŁA ADAMA STEFANA SAPIEHY W BYSINIE</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH W BYSINIE</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
