
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Rzyki</title>
</head>
<body>
    <h1>Schools in Rzyki</h1>
    <ul>
        <li>PRZEDSZKOLE PUBLICZNE W RZYKACH</li>
        <li>SZKOŁA PODSTAWOWA IMIENIA MARIANA KOWALSKIEGO W RZYKACH</li>
        <li>ZESPÓŁ SZKÓŁ SAMORZĄDOWYCH W RZYKACH</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
