
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Baczków</title>
</head>
<body>
    <h1>Schools in Baczków</h1>
    <ul>
        <li>ZESPÓŁ SZKÓŁ GMINNYCH IM. ADAMA MICKIEWCZA W BACZKOWIE PRZEDSZKOLE W BACZKOWIE</li>
        <li>ZESPÓŁ SZKÓŁ GMINNYCH IM. ADAMA MICKIEWICZA W BACZKOWIE</li>
        <li>ZESPÓŁ SZKÓŁ GMINNYCH IM. ADAMA MICKIEWICZA W BACZKOWIE SZKOŁA PODSTAWOWA W BACZKOWIE</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
