
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Barwałd Średni</title>
</head>
<body>
    <h1>Schools in Barwałd Średni</h1>
    <ul>
        <li>NIEPUBLICZNE PRZEDSZKOLE TERAPEUTYCZNE "PARASOLKA"</li>
        <li>PRZEDSZKOLE W BARWAŁDZIE ŚREDNIM</li>
        <li>SZKOŁA PODSTAWOWA IM. ŚW. JANA KANTEGO W BARWAŁDZIE ŚREDNIM</li>
        <li>ZESPÓŁ SZKÓŁ NR 7 W BARWAŁDZIE ŚREDNIM</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
