
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Stary Sącz</title>
</head>
<body>
    <h1>Schools in Stary Sącz</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W STARYM SĄCZU</li>
        <li>BURSA SZKOLNA W STARYM SĄCZU</li>
        <li>GMINNE PRZEDSZKOLE Z ODDZIAŁAMI INTEGRACYJNYMI W STARYM SĄCZU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. MARII SKŁODOWSKIEJ-CURIE W STARYM SĄCZU</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA W STARYM SĄCZU</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE MUZYCZNO-TANECZNE "WESOŁE NUTKI" W STARYM SĄCZU</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE PSZCZÓŁKA MAJA W STARYM SĄCZU</li>
        <li>POWIATOWA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W NOWYM SĄCZU FILIA W STARYM SĄCZU</li>
        <li>POWIATOWY MŁODZIEŻOWY DOM KULTURY W STARYM SĄCZU</li>
        <li>SZKOŁA MUZYCZNA I STOPNIA W STARYM SĄCZU</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. KS. PROF. JÓZEFA TISCHNERA W STARYM SĄCZU</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. JULIUSZA SŁOWACKIEGO W STARYM SĄCZU</li>
        <li>TECHNIKUM W STARYM SĄCZU</li>
        <li>ZESPÓŁ SZKÓŁ IM. KS. PROF. JÓZEFA TISCHNERA W STARYM SĄCZU</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
