
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Buchcice</title>
</head>
<body>
    <h1>Schools in Buchcice</h1>
    <ul>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA IM.SIERŻ.AK SIWAKA WALIGÓRY W BUCHCICACH</li>
        <li>PUBLICZNE PRZEDSZKOLE W BUCHCICACH</li>
        <li>ZESPÓŁ SZKOŁY PODSTAWOWEJ IM.SIERŻ. AK JÓZEFA SIWAKA"WALIGÓRY" I PRZEDSZKOLA W BUCHCICACH</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
