
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Bogoniowice</title>
</head>
<body>
    <h1>Schools in Bogoniowice</h1>
    <ul>
        <li>NIEPUBLICZNA PLACÓWKA DOSKONALENIA NAUCZYCIELI " TWOJA STREFA ROZWOJU"</li>
        <li>NIEPUBLICZNA PLACÓWKA WYCHOWANIA POZASZKOLNEGO</li>
        <li>SZKOŁA PODSTAWOWA W BOGONIOWICACH Z FILIĄ W KIPSZNEJ</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
