
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Zagórze</title>
</head>
<body>
    <h1>Schools in Zagórze</h1>
    <ul>
        <li>PRZEDSZKOLE SAMORZĄDOWE W ZAGÓRZU</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE W ZAGÓRZU</li>
        <li>SZKOŁA PODSTAWOWA IM. MARSZAŁKA JÓZEFA PIŁSUDSKIEGO W ZAGÓRZU</li>
        <li>SZKOŁA PODSTAWOWA W ZAGÓRZU IM. KS. ADOLFA CHOJNACKIEGO</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W ZAGÓRZU</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
