
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Bolesław</title>
</head>
<body>
    <h1>Schools in Bolesław</h1>
    <ul>
        <li>PRZEDSZKOLE IM. BARBÓRKI W BOLESŁAWIU</li>
        <li>PRZEDSZKOLE PUBLICZNE W BOLESŁAWIU</li>
        <li>SZKOŁA PODSTAWOWA IM. DRA PAWŁA SOCHY W BOLESŁAWIU</li>
        <li>SZKOŁA PODSTAWOWA IM. STANISŁAWA STASZICA W BOLESŁAWIU</li>
        <li>ZESPÓŁ SZKÓŁ W BOLESŁAWIU</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
