
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Kraków-Podgórze</title>
</head>
<body>
    <h1>Schools in Kraków-Podgórze</h1>
    <ul>
        <li>AKADEMIA ANGITIA NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO</li>
        <li>AKADEMIA BANKÓW SPÓŁDZIELCZYCH FUNDACJI ROZWOJU BANKOWOŚCI SPÓŁDZIELCZEJ - NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO</li>
        <li>AKADEMIA EDUKACJI</li>
        <li>AKADEMIA Z PSITUPEM - NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO</li>
        <li>AMOROSO CENTRUM EDUKACJI MUZYCZNEJ - NIEPUBLICZNE OGNISKO MUZYCZNE</li>
        <li>ARCHIDIECEZJALNA SZKOŁA MUZYCZNA I ST. W KRAKOWIE</li>
        <li>ARCHIDIECEZJALNA SZKOŁA MUZYCZNA II ST. IM. KS. KARD. FRANCISZKA MACHARSKIEGO W KRAKOWIE</li>
        <li>BAKCYL WIEDZY - NIEPUBLICZNA POZASZKOLNA SPECJALISTYCZNA PLACÓWKA OŚWIATOWA</li>
        <li>BAKCYL WIEDZY PLUS - NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO</li>
        <li>BC NIEPUBLICZNA SZKOŁA PODSTAWOWA IM. JANUSZA KORCZAKA W KRAKOWIE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 10 W KRAKOWIE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 13 IM. OBROŃCÓW POCZTY POLSKIEJ W GDAŃSKU W KRAKOWIE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 19 IM. STANISŁAWA WYSPIAŃSKIEGO W KRAKOWIE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 3 IM. ERAZMA JÓZEFA JERZMANOWSKIEGO W KRAKOWIE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 5 IM. POWSTAŃCÓW ŚLĄSKICH W KRAKOWIE</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA NR 2 W KRAKOWIE</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA NR 3 W KRAKOWIE</li>
        <li>BRANŻOWA SZKOŁA SPECJALNA I STOPNIA NR 29 W KRAKOWIE</li>
        <li>BRANŻOWA SZKOŁA SPECJALNA I STOPNIA NR 33 W KRAKOWIE</li>
        <li>BRANŻOWA SZKOŁA SPECJALNA II STOPNIA NR 6 W KRAKOWIE</li>
        <li>BRANŻOWA SZKOŁA SPECJALNA II STOPNIA NR 7 W KRAKOWIE</li>
        <li>CENTRUM DOKSZTAŁCANIA I DOSKONALENIA ZAWODOWEGO</li>
        <li>CENTRUM KSZTAŁCENIA CANOVA NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO</li>
        <li>CENTRUM KSZTAŁCENIA JĘZYKOWEGO "THE POINT"</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO NR 2 W KRAKOWIE</li>
        <li>CENTRUM MAŁEGO DZIECKA NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA</li>
        <li>CENTRUM SZKOLENIOWE "SLOW FASHION CAFE" - PLACÓWKA KSZTAŁCENIA USTAWICZNEGO</li>
        <li>DWUJĘZYCZNE PRZEDSZKOLE "STEP BY STEP"</li>
        <li>GALICYJSKIE CENTRUM DOKSZTAŁCANIA I DOSKONALENIA ZAWODOWEGO</li>
        <li>I PRYWATNE LICEUM OGÓLNOKSZTAŁCĄCE IM. MARSZAŁKA J. PIŁSUDSKIEGO</li>
        <li>INSTYTUT PSYCHOEDUKACJI I ROZWOJU INTEGRALNEGO NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO</li>
        <li>INSTYTUT TRADYCYJNEJ MEDYCYNY CHIŃSKIEJ I MEDYCYNY INTEGRACYJNEJ - NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO</li>
        <li>IV LICEUM OGÓLNOKSZTAŁCĄCE IM. TADEUSZA KOŚCIUSZKI W KRAKOWIE</li>
        <li>IX LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W KRAKOWIE</li>
        <li>KANGUROWA SZKOŁA PODSTAWOWA</li>
        <li>KATOLICKA SZKOŁA PODSTAWOWA MONTESSORI IM. O. PAWŁA SMOLIKOWSKIEGO CR</li>
        <li>KATOLICKIE LICEUM MONTESSORI IM. SPRAWIEDLIWYCH WŚRÓD NARODÓW ŚWIATA</li>
        <li>KOLEGIUM EUROPEJSKIE - EUROPEJSKA NIEPUBLICZNA SZKOŁA PODSTAWOWA W KRAKOWIE Z ODDZIAŁAMI DWUJĘZYCZNYMI</li>
        <li>KOLEGIUM EUROPEJSKIE - EUROPEJSKIE NIEPUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE W KRAKOWIE</li>
        <li>KOSTKA PUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE JEZUITÓW IM. ŚW. STANISŁAWA KOSTKI</li>
        <li>KRAKOWSKA MEDYCZNA SZKOŁA POLICEALNA IM. STANISŁAWY LESZCZYŃSKIEJ NR 1 W KRAKOWIE</li>
        <li>KRAKOWSKI INSTYTUT ROZWOJU EDUKACJI</li>
        <li>KRAKOWSKI INSTYTUT ROZWOJU EDUKACJI - NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO</li>
        <li>LUQAM - NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO W KRAKOWIE</li>
        <li>MAŁOPOLSKI ZESPÓŁ JEDNOSTEK EDUKACYJNYCH W KRAKOWIE</li>
        <li>MIĘDZYNARODOWY NIEPUBLICZNY PUNKT PRZEDSZKOLNY DAISY</li>
        <li>MIĘDZYSZKOLNY LUDOWY ZESPÓŁ PIEŚNI I TAŃCA "KRAKOWIAK" W KRAKOWIE</li>
        <li>MŁODZIEŻOWY DOM KULTURY IM. KONSTANTEGO ILDEFONSA GAŁCZYŃSKIEGO W KRAKOWIE</li>
        <li>MŁODZIEŻOWY OŚRODEK WYCHOWAWCZY IM. ŚWIĘTEJ SIOSTRY FAUSTYNY</li>
        <li>NIEPUBLICZNA CHRZEŚCIJAŃSKA SZKOŁA PODSTAWOWA NR 2 Z ODDZIAŁAMI INTEGRACYJNYMI "UCZEŃ"</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO "A4ACADEMY"</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO "BIM.EDU.PL"</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO "KRAKOWSKIE CENTRUM EDUKACYJNE COGITO" W KRAKOWIE</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO "LABOR"</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO "OPENMEDIS CENTRUM SZKOLEŃ I FIZJOTERAPII"</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO EUROPEJSKI INSTYTUT EDUKACJI ENGRAM</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO OFICYNA PROFILAKTYCZNA AGNIESZKA KOT-CIENKOSZ</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO PEDAGO PAWEŁ BUDNIOK KRAJOWY OŚRODEK KSZTAŁCENIA ADMINISTRACJI</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO TALMED</li>
        <li>NIEPUBLICZNA POLICEALNA SZKOŁA AKTORSKA SPOT W KRAKOWIE</li>
        <li>NIEPUBLICZNA POLICEALNA SZKOŁA ARTYSTYCZNA AMA W KRAKOWIE</li>
        <li>NIEPUBLICZNA POLICEALNA SZKOŁA ARTYSTYCZNEGO PROJEKTOWANIA UBIORU W KRAKOWIE</li>
        <li>NIEPUBLICZNA POLICEALNA SZKOŁA KREATYWNEJ FOTOGRAFII W KRAKOWIE</li>
        <li>NIEPUBLICZNA POLICEALNA SZKOŁA WNĘTRZ I PRZESTRZENI W KRAKOWIE</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "LOGOSENS"</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "PORADNIA WCZESNEJ INTERWENCJI"</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA SENSORYKA</li>
        <li>NIEPUBLICZNA POZASZKOLNA SPECJALISTYCZNA PLACÓWKA OŚWIATOWO-WYCHOWAWCZA "EDUKACJA ARTYSTYCZNA DZIECI"</li>
        <li>NIEPUBLICZNA SPECJALISTYCZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "AGAJA"</li>
        <li>NIEPUBLICZNA SPECJALISTYCZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "SZKOŁA TALENTÓW EDUPRIMO"</li>
        <li>NIEPUBLICZNA SPECJALISTYCZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA CENTRUM DIAGNOSTYKI I TERAPII IN CORPORE</li>
        <li>NIEPUBLICZNA SPECJALISTYCZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA CRESCO</li>
        <li>NIEPUBLICZNA SPECJALNA SZKOŁA PODSTAWOWA "UKŁADANKA"</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA "WOLNA SZKOŁA WALDORFSKA"</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA DLA DOROSŁYCH ZAOCZNA W KRAKOWIE</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA HORME IM. MARII MONTESSORI Z ODDZIAŁAMI INTEGRACYJNYMI W KRAKOWIE</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA KRAKÓW MONTESSORI SCHOOL</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA LOGOS</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA SPECJALNA IM. UNICEF</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA Z ODDZIAŁAMI DWUJĘZYCZNYMI OPEN FUTURE INTERNATIONAL SCHOOL W KRAKOWIE</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA ZACZAROWANA PLANETA</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA ŹRÓDEŁKO W KRAKOWIE</li>
        <li>NIEPUBLICZNE CENTRUM KSZTAŁCENIA INDYWIDUALNEGO EUROPEJSKI INSTYTUT EDUKACJI ENGRAM</li>
        <li>NIEPUBLICZNE DWUJĘZYCZNE LICEUM OGÓLNOKSZTAŁCĄCE OPEN FUTURE INTERNATIONAL SCHOOL W KRAKOWIE</li>
        <li>NIEPUBLICZNE DWUJĘZYCZNE PRZEDSZKOLE "KIDS&CO."</li>
        <li>NIEPUBLICZNE DWUJĘZYCZNE PRZEDSZKOLE "MAŁE CUDA" W KRAKOWIE</li>
        <li>NIEPUBLICZNE DWUJĘZYCZNE PRZEDSZKOLE KIDS&CO. 3</li>
        <li>NIEPUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE "WOLNA SZKOŁA"</li>
        <li>NIEPUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE ZAOCZNE DLA DOROSŁYCH W KRAKOWIE</li>
        <li>NIEPUBLICZNE OGNISKO ARTYSTYCZNE "SZKOŁA RYSUNKU ZALUBOWSKI" W KRAKOWIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "AKADEMIA UŚMIECHU"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "BUTTERFLY"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "CENTRUM MALUSZEK"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "DZIECIAKI I MY"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "DZIECIĘCY ZAKĄTEK"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "FASOLLA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "FISTASZKI"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "HAPPY KIDS"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "JARZĘBINKA" Z ODDZIAŁAMI INTEGRACYJNYMI I SPECJALNYMI W KRAKOWIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "JUNIOR COLLEGE"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "KRASNAL"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "MAŁY EINSTEINEK"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "MONTESSORI HOUSE"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "MOTYL"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "MUSZELKA" Z ODDZIAŁAMI INTEGRACYJNYMI</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "NA KOZIE"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "NIEBIESKA ŻABKA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "NUTKI"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "OPEN FUTURE"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "POMYSŁOWY PRZEDSZKOLAK"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "SAFARI"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "SMERFY"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "U CIOCI JADZI"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "WOLNE PRZEDSZKOLE WALDORFSKIE"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE „HOOPLAKID”</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE ABC MONTESSORI 1 W KRAKOWIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE AKADEMIA MALUSZKA</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE AKADEMIA MUMINKÓW</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE BABY BOOOM W KRAKOWIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE BEBABY</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE EKOLOGICZNE "KARUZELA" W KRAKOWIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE ENCE PENCE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE FAIR PLAY ALFREDA DAUNA</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE FAIR PLAY EDUKACJA I SPORT</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE GROSZKI W KRAKOWIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE HAPPY TIME 2 W KRAKOWIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE HOPKIDS ACADEMY</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE HOPKIDS NR 4</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE INTEGRACYJNE BAJKOWA KRAINA KLINY</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE INTEGRACYJNE LALOBA</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE JAGIELLOŃSKIEGO CENTRUM INNOWACJI W KRAKOWIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE JĘZYKOWE "DELFINKI"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE JĘZYKOWE FIRST STEP</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE JĘZYKOWO-SPORTOWE "HAPPY TIME"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE KATOLICKIE "MALI ARTYŚCI"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE KINDERLOVE W KRAKOWIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE LALOBA ALEKSANDRA KUBAREK</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE LITTLE BEES W KRAKOWIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE MONTESSORI AVALON Z ODDZIAŁAMI INTEGRACYJNYMI</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE MONTESSORI W KRAKOWIE ODKRYWCY ŚWIATA</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE REKREACYJNO-SPORTOWE "MAJA I GUCIO"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE SPORTOWO-JĘZYKOWE FAIR PLAY EDUSPORT</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE SPORTOWO-JĘZYKOWE FAIR PLAY SKRZYNECKIEGO</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE SPORTOWO-JĘZYKOWE KRAINA PIOTRUSIA PANA</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE SPORTOWO-TANECZNE "FAIR PLAY"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE SPORTOWO-TANECZNE AN FAIR PLAY</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE Z ODDZIAŁEM INTEGRACYJNYM PRZY CENTRUM ZDROWEGO ROZWOJU "CZYŻYK"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE ZACZAROWANA PLANETA</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY "LOGOSENS" W KRAKOWIE</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY DLA DZIECI Z NIEPEŁNOSPRAWNOŚCIAMI "MIKRO P"</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY PANDA</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY SMEFRY 2</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY SOTIS KRAKÓW I</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY SOTIS KRAKÓW II</li>
        <li>NIEPUBLICZNY SPECJALISTYCZNY PUNKT PRZEDSZKOLNY "TERAZ MY"</li>
        <li>NIEPUBLICZNY TERAPEUTYCZNY PUNKT PRZEDSZKOLNY PROMITIS</li>
        <li>OŚRODEK DOSKONALENIA NAUCZYCIELI KUŹNIA TALENTÓW</li>
        <li>OŚRODEK REWALIDACYJNO-WYCHOWAWCZY BONA FIDE W KRAKOWIE</li>
        <li>OŚRODEK SZKOLENIA KURSOWEGO I USTAWICZNEGO</li>
        <li>OŚRODEK SZKOLENIA PRZY MPK SA W KRAKOWIE</li>
        <li>OŚRODEK SZKOLENIA STOWARZYSZENIA DETEKTYWÓW I AGENTÓW OCHRONY - NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO</li>
        <li>PLACÓWKA KSZTAŁCENIA USTAWICZNEGO - SYLLABUS SZKOŁA JĘZYKÓW OBCYCH</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA DLA DZIECI I MŁODZIEŻY FUNDACJI "PRO HUMANA VITA"</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA NR 3 W KRAKOWIE</li>
        <li>PRYWATNA SZKOŁA PODSTAWOWA IM. MARSZAŁKA JÓZEFA PIŁSUDSKIEGO</li>
        <li>PRYWATNA SZKOŁA PODSTAWOWA NR 1 "DONA"</li>
        <li>PRYWATNE PRZEDSZKOLE "PODWAWELSKIE SMYKI"</li>
        <li>PRYWATNE PRZEDSZKOLE "TĘCZOWA KRAINA"</li>
        <li>PRZEDSZKOLE "PĘPUŚ ŚWIATA"</li>
        <li>PRZEDSZKOLE MONTESSORI</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "BAJKA" W KRAKOWIE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "BAJKOWO" KATARZYNA KAJM</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "BIG BEN"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "CHATKA NIEDŹWIADKA" W KRAKOWIE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "ZIARENKO"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE BRIGHT CHILD</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE EKOSKRZAT</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE IM. MATKI ANNY KAWOREK</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE NIEDŹWIADKI</li>
        <li>PRZEDSZKOLE PRYWATNE "MOJE PRZEDSZKOLE ABC"</li>
        <li>PRZEDSZKOLE PRYWATNE "MOTYLOWO"</li>
        <li>PRZEDSZKOLE PRYWATNE GUZIKOWO</li>
        <li>PRZEDSZKOLE PRYWATNE NR 9 OGNISKO JĘZYKOWO-ARTYSTYCZNE</li>
        <li>PRZEDSZKOLE PUBLICZNE "CHILDREN'S ENGLISH CENTRE"</li>
        <li>PRZEDSZKOLE PUBLICZNE "KARMELKOWY ZAKĄTEK"</li>
        <li>PRZEDSZKOLE PUBLICZNE "ŻYRAFA"</li>
        <li>PRZEDSZKOLE PUBLICZNE CHATKA MAŁOLATKA</li>
        <li>PRZEDSZKOLE PUBLICZNE TUPTUSIOWO</li>
        <li>PRZEDSZKOLE SPECJALNE NR 16 W KRAKOWIE</li>
        <li>PRZEDSZKOLE SPECJALNE NR 7 W KRAKOWIE</li>
        <li>PRZEDSZKOLE SPECJALNE NR 8 W KRAKOWIE</li>
        <li>PUBLICZNA BRANŻOWA SZKOŁA I STOPNIA SPECJALNA IM. ŚWIĘTEJ SIOSTRY FAUSTYNY</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA SPECJALNA IM. ŚWIĘTEJ SIOSTRY FAUSTYNY</li>
        <li>PUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE SPECJALNE IM. ŚWIĘTEJ SIOSTRY FAUSTYNY</li>
        <li>PUBLICZNE POZYTYWNE PRZEDSZKOLE NR 1 "DEPARTAMENT UŚMIECHU" W KRAKOWIE</li>
        <li>PUBLICZNE PRZEDSZKOLE "A DLACZEGO" W KRAKOWIE</li>
        <li>PUBLICZNE PRZEDSZKOLE "AKADEMIA JASIA I MAŁGOSI" W KRAKOWIE</li>
        <li>PUBLICZNE PRZEDSZKOLE "AKADEMIA SMYKA" W KRAKOWIE</li>
        <li>PUBLICZNE PRZEDSZKOLE "BAJLANDIA"</li>
        <li>PUBLICZNE PRZEDSZKOLE "HAPPY FEET 2" W KRAKOWIE</li>
        <li>PUBLICZNE PRZEDSZKOLE "HAPPY FEET 3" W KRAKOWIE</li>
        <li>PUBLICZNE PRZEDSZKOLE "HAPPY FEET" W KRAKOWIE</li>
        <li>PUBLICZNE PRZEDSZKOLE "HAPPY KIDS"</li>
        <li>PUBLICZNE PRZEDSZKOLE "KROPELKA 2"</li>
        <li>PUBLICZNE PRZEDSZKOLE "KROPELKA"</li>
        <li>PUBLICZNE PRZEDSZKOLE "MAJOWA ŁĄKA" W KRAKOWIE</li>
        <li>PUBLICZNE PRZEDSZKOLE "MALI ARTYŚCI"</li>
        <li>PUBLICZNE PRZEDSZKOLE "MALI ARTYŚCI" NR 1 W KRAKOWIE</li>
        <li>PUBLICZNE PRZEDSZKOLE "MALI ARTYŚCI" NR 2 W KRAKOWIE</li>
        <li>PUBLICZNE PRZEDSZKOLE "MISIE-PYSIE"</li>
        <li>PUBLICZNE PRZEDSZKOLE "PUCHATEK I PRZYJACIELE"</li>
        <li>PUBLICZNE PRZEDSZKOLE "STOKROTKI" NR 2</li>
        <li>PUBLICZNE PRZEDSZKOLE "WESOŁA CIUCHCIA" W KRAKOWIE</li>
        <li>PUBLICZNE PRZEDSZKOLE "ZIELONA WYSPA"</li>
        <li>PUBLICZNE PRZEDSZKOLE "ŹRÓDEŁKO" W KRAKOWIE</li>
        <li>PUBLICZNE PRZEDSZKOLE ANGLOJĘZYCZNE "THE LITTLE STEPS"</li>
        <li>PUBLICZNE PRZEDSZKOLE ARTYSTYCZNO-JĘZYKOWE "PUCHATKOWO"</li>
        <li>PUBLICZNE PRZEDSZKOLE BOROWINKA W KRAKOWIE</li>
        <li>PUBLICZNE PRZEDSZKOLE CHATKA MALUSZKA</li>
        <li>PUBLICZNE PRZEDSZKOLE CHATKA W KRAKOWIE</li>
        <li>PUBLICZNE PRZEDSZKOLE FAIR PLAY NR 2 W KRAKOWIE</li>
        <li>PUBLICZNE PRZEDSZKOLE FAIR PLAY NR 4 W KRAKOWIE</li>
        <li>PUBLICZNE PRZEDSZKOLE FAIR PLAY NR 6 W KRAKOWIE</li>
        <li>PUBLICZNE PRZEDSZKOLE FIKU MIKU</li>
        <li>PUBLICZNE PRZEDSZKOLE GABI</li>
        <li>PUBLICZNE PRZEDSZKOLE HAPPY WORLD NR 1 W KRAKOWIE</li>
        <li>PUBLICZNE PRZEDSZKOLE HOPKIDS NR 2 W KRAKOWIE</li>
        <li>PUBLICZNE PRZEDSZKOLE MISIE-PYSIE 2 W KRAKOWIE</li>
        <li>PUBLICZNE PRZEDSZKOLE NIESAMORZĄDOWE NANULAK W KRAKOWIE</li>
        <li>PUBLICZNE PRZEDSZKOLE POD WEZWANIEM MATKI BOŻEJ BRZEMIENNEJ</li>
        <li>PUBLICZNE PRZEDSZKOLE RADOŚĆ</li>
        <li>PUBLICZNE PRZEDSZKOLE RUCZAJ "JAŚ I MAŁGOSIA"</li>
        <li>PUBLICZNE PRZEDSZKOLE SIÓSTR NAZARETANEK IM. NAJŚWIĘTSZEJ RODZINY</li>
        <li>PUBLICZNE PRZEDSZKOLE SKARBY W KRAKOWIE</li>
        <li>PUBLICZNE PRZEDSZKOLE Z ODDZIAŁAMI INTEGRACYJNYMI "MAJOWY ZAKĄTEK" W KRAKOWIE</li>
        <li>PUBLICZNE RAJSKIE PRZEDSZKOLE</li>
        <li>PUNKT PRZEDSZKOLNY "MONTESSORI HOUSE"</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 10 IM. JANA PAWŁA II W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 11 IM. MISIA USZATKA W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 127 IM. KOSZAŁKA OPAŁKA W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 129 "SKRZATY" W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 132 W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 133 IM. OJCA LEONA KNABITA W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 135 IM. KSIĘCIA KRAKA W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 136 W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 140 IM. KRASNALA HAŁABAŁY W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 145 "DOLINA TĘCZY" W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 150 W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 154 IM. JANUSZA KORCZAKA W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 163 IM. HELENY BECHLEROWEJ W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 176 IM. MARII KONOPNICKIEJ W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 179 IM. SZEWCZYKA DRATEWKI W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 18 W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 180 W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 2 W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 22 "TAJEMNICZY OGRÓD" W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 23 W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 27 W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 28 "NA TĘCZOWYM WZGÓRZU" W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 32 IM. LUDWIKA JERZEGO KERNA W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 33 W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 34 W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 35 Z ODDZIAŁAMI INTEGRACYJNYMI IM. ANNY DYMNEJ W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 36 "KRAKOWSKI ŻACZEK" W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 37 W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 41 IM. ZBIGNIEWA WODECKIEGO W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 42 "U IGNASIA" W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 48 W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 49 IM. WRÓBELKA ELEMELKA W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 5 "SŁONECZNA KRAINA SMOKA WAWELSKIEGO" W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 51 W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 52 W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 57 "KRAINA MAŁYCH ARTYSTÓW" W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 58 W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 6 IM. DR. HENRYKA JORDANA W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 67 IM. POLSKICH OLIMPIJCZYKÓW W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 71 "POD KASZTANAMI" W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 87 "LAJKONIK" W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 91 "PROMYCZEK" W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 92 "DWOREK NA KRZEMIONKACH" W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 95 IM. KORNELA MAKUSZYŃSKIEGO W KRAKOWIE</li>
        <li>SEKCJA SZKOLENIA PRACOWNIKÓW OCHRONY KRAKOWSKIEGO TOWARZYSTWA STRZELECKIEGO - NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO</li>
        <li>SPECJALISTYCZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA PN. "KRAKOWSKI OŚRODEK KARIERY" W KRAKOWIE</li>
        <li>SPECJALNE PRZEDSZKOLE PUBLICZNE DLA DZIECI AFATYCZNYCH ZGROMADZENIA SIÓSTR FELICJANEK</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY DLA DZIECI NIEWIDOMYCH I SŁABOWIDZĄCYCH IM. WŁODZIMIERZA DOLAŃSKIEGO W KRAKOWIE</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY DLA NIESŁYSZĄCYCH IM. JANUSZA KORCZAKA W KRAKOWIE</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY NR 1 IM. JANA MATEJKI W KRAKOWIE</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY NR 2 IM. JANUSZA KORCZAKA W KRAKOWIE</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY NR 3 IM. KORNELA MAKUSZYŃSKIEGO W KRAKOWIE</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY NR 6 IM. JANA PAWŁA II W KRAKOWIE</li>
        <li>SPOŁECZNA SZKOŁA PODSTAWOWA NR 1 IM. JÓZEFA PIŁSUDSKIEGO W KRAKOWIE</li>
        <li>SPOŁECZNA SZKOŁA PODSTAWOWA NR 5 SPOŁECZNEGO TOWARZYSTWA OŚWIATOWEGO W KRAKOWIE</li>
        <li>SPOŁECZNE LICEUM OGÓLNOKSZTAŁCĄCE MISTRZOSTWA SPORTOWEGO</li>
        <li>SPORTOWO-ARTYSTYCZNE NIEPUBLICZNE PRZEDSZKOLE "MALINOWE SKRZATY"</li>
        <li>SZKOŁA MUZYCZNA I I II STOPNIA IM. BRONISŁAWA RUTKOWSKIEGO W KRAKOWIE</li>
        <li>SZKOŁA MUZYCZNA I STOPNIA IM. BRONISŁAWA RUTKOWSKIEGO W KRAKOWIE</li>
        <li>SZKOŁA MUZYCZNA I STOPNIA IM. HIERONIMA HENRYKA BARANOWSKIEGO</li>
        <li>SZKOŁA MUZYCZNA II STOPNIA IM. BRONISŁAWA RUTKOWSKIEGO W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA "RAJSKA SZKOŁA" W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA IM. BŁ. CELINY BORZĘCKIEJ W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 110 IM. KSIĘDZA JANA TWARDOWSKIEGO W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 111 IM. WOJSKA POLSKIEGO W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 117 IM. KRAKOWSKIEJ KONGREGACJI KUPIECKIEJ W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 123 IM. GEN. JÓZEFA BEMA W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 124 IM. MARII SKŁODOWSKIEJ-CURIE W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 132 IM. ŚW. BENEDYKTA Z NURSJI W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 133 IM. ORŁA BIAŁEGO W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 134 IM. STANISŁAWA LEMA W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 135 IM. KSIĘDZA PROFESORA JÓZEFA TISCHNERA W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 137 IM. PROFESORA WIKTORA ZINA W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 14 W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 149 IM. MARSZAŁKA JÓZEFA PIŁSUDSKIEGO W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 157 IM. IGNACEGO JANA PADEREWSKIEGO W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 164 IM. BŁ. FRANCISZKI SIEDLISKIEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 20 W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 24 IM. KRAKOWSKIEJ STRAŻY POŻARNEJ W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 25 IM. TADEUSZA KOŚCIUSZKI W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 26 IM. ANDRZEJA STRUGA W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 27 IM. MARII KONOPNICKIEJ W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 29 IM. JANA MATEJKI W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 40 IM. ŚW. STANISŁAWA BISKUPA I MĘCZENNIKA W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 41 IM. JANA KOCHANOWSKIEGO W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 43 IM. KOMISJI EDUKACJI NARODOWEJ W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 47 IM. STEFANA CZARNIECKIEGO W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 49 IM. JULIANA URSYNA NIEMCEWICZA W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 53 IM. JANA HENRYKA DĄBROWSKIEGO W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 54 IM. JULIANA TUWIMA W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 55 IM. JAROSŁAWA IWASZKIEWICZA W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 56 IM. TADEUSZA REJTANA W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 61 IM. MARSZAŁKA JÓZEFA PIŁSUDSKIEGO W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 62 IM. KMDR. POR. FRANCISZKA DĄBROWSKIEGO W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 65 IM. CZESŁAWA JANCZARSKIEGO W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 66 IM. EDWARDA DEMBOWSKIEGO W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 8 W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 97 IM. JOACHIMA LELEWELA W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 108 IM. ALINY FEDOROWICZ W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 121 IM. ŚW. FRANCISZKA Z ASYŻU</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 122 IM. JANUSZA KORCZAKA W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 150 W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 154 W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 165 IM. BŁ. MARII ANGELI TRUSZKOWSKIEJ ZGROMADZENIA SIÓSTR FELICJANEK</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 42 W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 46 W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 73 W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA Z ODDZIAŁAMI INTEGRACYJNYMI NR 148 IM. POLSKICH NOBLISTÓW W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA Z ODDZIAŁAMI INTEGRACYJNYMI NR 151 IM. UNIWERSYTETU JAGIELLOŃSKIEGO W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA Z ODDZIAŁAMI INTEGRACYJNYMI NR 158 IM. PROFESORA JULIANA ALEKSANDROWICZA W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA Z ODDZIAŁAMI INTEGRACYJNYMI NR 162 IM. PROF. WŁADYSŁAWA SZAFERA W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA Z ODDZIAŁAMI INTEGRACYJNYMI NR 30 IM. KAZIMIERZA PUŁASKIEGO W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA Z ODDZIAŁAMI INTEGRACYJNYMI NR 90 IM. POLSKICH KAWALERÓW MALTAŃSKICH W KRAKOWIE</li>
        <li>SZKOŁA POLICEALNA CANOVA</li>
        <li>SZKOŁA POLICEALNA NR 16 W KRAKOWIE</li>
        <li>SZKOŁA POLICEALNA NR 6 W KRAKOWIE</li>
        <li>SZKOŁA POLICEALNA SPECJALNA NR 19 W KRAKOWIE</li>
        <li>SZKOŁA POLICEALNA SPECJALNA NR 20 W KRAKOWIE</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY NR 5 W KRAKOWIE</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY NR 6 W KRAKOWIE</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY NR 8 W KRAKOWIE</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY NR 9 W KRAKOWIE</li>
        <li>SZKOLNE SCHRONISKO MŁODZIEŻOWE W KRAKOWIE</li>
        <li>TAXUS CENTRUM SZKOLEŃ</li>
        <li>TECHNIKUM ELEKTRYCZNO-ELEKTRONICZNE NR 7 IM. POWSTAŃCÓW ŚLĄSKICH W KRAKOWIE</li>
        <li>TECHNIKUM GASTRONOMICZNE NR 11 W KRAKOWIE</li>
        <li>TECHNIKUM ŁĄCZNOŚCI NR 14 IM. OBROŃCÓW POCZTY POLSKIEJ W GDAŃSKU W KRAKOWIE</li>
        <li>TECHNIKUM NR 16 W KRAKOWIE</li>
        <li>TECHNIKUM ODZIEŻOWE NR 18 IM. STANISŁAWA WYSPIAŃSKIEGO W KRAKOWIE</li>
        <li>TECHNIKUM SPECJALNE DLA NIESŁYSZĄCYCH NR 27 W KRAKOWIE</li>
        <li>TECHNIKUM SPECJALNE DLA NIEWIDOMYCH I SŁABOWIDZĄCYCH NR 26 W KRAKOWIE</li>
        <li>WALDORFSKO-LEŚNY NIEPUBLICZNY PUNKT PRZEDSZKOLNY "MOMO"</li>
        <li>X LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W KRAKOWIE</li>
        <li>XL LICEUM OGÓLNOKSZTAŁCĄCE SPECJALNE DLA NIESŁYSZĄCYCH W KRAKOWIE</li>
        <li>XLIII LICEUM OGÓLNOKSZTAŁCĄCE IM. ZOFII CHRZANOWSKIEJ W KRAKOWIE</li>
        <li>XV LICEUM OGÓLNOKSZTAŁCĄCE IM. MARII SKŁODOWSKIEJ-CURIE W KRAKOWIE</li>
        <li>XXIX LICEUM OGÓLNOKSZTAŁCĄCE IM. KRZYSZTOFA KIEŚLOWSKIEGO W KRAKOWIE</li>
        <li>XXV LICEUM OGÓLNOKSZTAŁCĄCE IM. STEFANA ŻEROMSKIEGO W KRAKOWIE</li>
        <li>XXVIII LICEUM OGÓLNOKSZTAŁCĄCE IM. WOJCIECHA BEDNARSKIEGO W KRAKOWIE</li>
        <li>XXXIV LICEUM OGÓLNOKSZTAŁCĄCE SPECJALNE IM. PROFESOR MARII ORWID W KRAKOWIE</li>
        <li>XXXIX LICEUM OGÓLNOKSZTAŁCĄCE SPECJALNE W KRAKOWIE</li>
        <li>ZESPÓŁ SZKÓŁ ELEKTRYCZNYCH NR 1 IM. POWSTAŃCÓW ŚLĄSKICH W KRAKOWIE</li>
        <li>ZESPÓŁ SZKÓŁ GASTRONOMICZNYCH NR 2 IM. ODONA BUJWIDA W KRAKOWIE</li>
        <li>ZESPÓŁ SZKÓŁ I PLACÓWEK PN. "CENTRUM DLA NIEWIDOMYCH I SŁABOWIDZĄCYCH" W KRAKOWIE</li>
        <li>ZESPÓŁ SZKÓŁ ŁĄCZNOŚCI IM. OBROŃCÓW POCZTY POLSKIEJ W GDAŃSKU W KRAKOWIE</li>
        <li>ZESPÓŁ SZKÓŁ MECHANICZNYCH NR 2 IM. KAZIMIERZA GÓRSKIEGO W KRAKOWIE</li>
        <li>ZESPÓŁ SZKÓŁ ODZIEŻOWYCH NR 1 IM. STANISŁAWA WYSPIAŃSKIEGO W KRAKOWIE</li>
        <li>ZESPÓŁ SZKÓŁ SPECJALNYCH NR 11 W KRAKOWIE</li>
        <li>ZESPÓŁ SZKÓŁ SPECJALNYCH NR 2 W KRAKOWIE</li>
        <li>ZESPÓŁ SZKÓŁ SPECJALNYCH NR 3 W KRAKOWIE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY DLA DZIECI AFATYCZNYCH ZGROMADZENIA SIÓSTR FELICJANEK W KRAKOWIE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 1 W KRAKOWIE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 10 W KRAKOWIE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 11 W KRAKOWIE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 13 W KRAKOWIE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 15 W KRAKOWIE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 17 W KRAKOWIE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 19 W KRAKOWIE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 21 W KRAKOWIE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 7 W KRAKOWIE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 8 W KRAKOWIE</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
