
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Dobranowice</title>
</head>
<body>
    <h1>Schools in Dobranowice</h1>
    <ul>
        <li>SZKOŁA PODSTAWOWA IM. JANA BRZECHWY W DOBRANOWICACH</li>
        <li>SZKOŁA PODSTAWOWA IM. JANA BRZECHWY W DOBRANOWICACH</li>
        <li>SZKOŁA PODSTAWOWA W DOBRANOWICACH</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
