
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Węgrzce</title>
</head>
<body>
    <h1>Schools in Węgrzce</h1>
    <ul>
        <li>NIEPUBLICZNA PLACÓWKA DOSKONALENIA NAUCZYCIELI "PERFECTUS"</li>
        <li>NIEPUBLICZNA PLACÓWKA OŚWIATOWO-WYCHOWAWCZA EKOLAND</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA "DOBRA SZKOŁA MONTESSORI"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "CHATA SKRZATA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "DOBRE PRZEDSZKOLE MONTESSORI"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "KUBISIOWY OGRÓD"</li>
        <li>PRZEDSZKOLE BAJKOLANDIA 2</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
