
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Wieprz</title>
</head>
<body>
    <h1>Schools in Wieprz</h1>
    <ul>
        <li>PRZEDSZKOLE PUBLICZNE NR 1 W WIEPRZU</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 2 W WIEPRZU</li>
        <li>SZKOŁA PODSTAWOWA NR 1 W WIEPRZU</li>
        <li>SZKOŁA PODSTAWOWA NR 2 W WIEPRZU</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 1 IM. JANA PAWŁA II W WIEPRZU</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 2 IM. KARD. STEFANA WYSZYŃSKIEGO W WIEPRZU</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
