
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Bachowice</title>
</head>
<body>
    <h1>Schools in Bachowice</h1>
    <ul>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W BACHOWICACH</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W BACHOWICACH-PRZEDSZKOLE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W BACHOWICACH-SZKOŁA PODSTAWOWA IM.KS.FRANCISZKA GOŁBY</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
