
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Czerwienne</title>
</head>
<body>
    <h1>Schools in Czerwienne</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA SPECJALNA STOWARZYSZENIA PRZYJACIÓŁ SZKÓŁ KATOLICKICH W CZERWIENNEM</li>
        <li>KATOLICKA SZKOŁA PODSTAWOWA STOWARZYSZENIA PRZYJACIÓŁ SZKÓŁ KATOLICKICH Z ODDZIAŁAMI INTEGRACYJNYMI IM. STEFANA KARDYNAŁA WYSZYŃSKIEGO W CZERWIENNEM</li>
        <li>PRZEDSZKOLE IM. ŚW. JANA PAWŁA II STOWARZYSZENIA PRZYJACIÓŁ SZKÓŁ KATOLICKICH</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. ANDRZEJA KNAPCZYKA-DUCHA W CZERWIENNEM</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY STOWARZYSZENIA PRZYJACIÓŁ SZKÓL KATOLICKICH</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
