
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Filipowice</title>
</head>
<body>
    <h1>Schools in Filipowice</h1>
    <ul>
        <li>PRZEDSZKOLE PUBLICZNE W FILIPOWICACH</li>
        <li>SZKOŁA PODSTAWOWA IM. STANISŁAWA WYSPIAŃSKIEGO W FILIPOWICACH</li>
        <li>SZKOŁA PODSTAWOWA IM. ŚWIĘTEGO JANA PAWŁA II W FILIPOWICACH</li>
        <li>ZESPÓŁ SZKOŁY PODSTAWOWEJ I PRZEDSZKOLA W FILIPOWICACH</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
