
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Gorlice</title>
</head>
<body>
    <h1>Schools in Gorlice</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA CECHU RZEMIOSŁ I PRZEDSIĘBIORCZOŚCI IM. JANA KILIŃSKIEGO W GORLICACH</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 1 W GORLICACH</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 2 W GORLICACH</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 3 W GORLICACH</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA W GORLICACH</li>
        <li>CENTRUM EDUKACYJNE OPTOLAND POLSKA</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO NR 2 W GORLICACH</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO W GORLICACH</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO W GORLICACH</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE IM. MARCINA KROMERA W GORLICACH</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE W GORLICACH</li>
        <li>III LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W GORLICACH</li>
        <li>MEDYCZNA SZKOŁA POLICEALNA W GORLICACH</li>
        <li>MIEJSKI ZESPÓŁ SZKÓŁ NR 1</li>
        <li>MIEJSKI ZESPÓŁ SZKÓŁ NR 3 W GORLICACH IM.ŚW.JANA KANTEGO</li>
        <li>MIEJSKI ZESPÓŁ SZKÓŁ NR 4 W GORLICACH</li>
        <li>MIEJSKI ZESPÓŁ SZKÓŁ NR 5 W GORLICACH IM.KSIĘDZA JANA TWARDOWSKIEGO</li>
        <li>MIEJSKI ZESPÓŁ SZKÓŁ NR 6 W GORLICACH IM.BOHATERÓW ZIEMI GORLICKIEJ</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 1</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 2 W GORLICACH</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 3</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 4 IM. IGNACEGO ŁUKASIEWICZA</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 5</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 8 W GORLICACH</li>
        <li>MŁODZIEŻOWY DOM KULTURY W GORLICACH</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO "CENTRUM EDUKACYJNO-OŚWIATOWE"</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO-OŚRODEK SZKOLENIOWY "STJ" W GORLICACH</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "PRYMUS" W GORLICACH</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA SPECJALNA W DOMU REHABILITACYJNO-OPIEKUŃCZYM CARITAS W GORLICACH</li>
        <li>NIEPUBLICZNA SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W DOMU REHABILITACYJNO-OPIEKUŃCZYM CARITAS W GORLICACH</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "AKADEMIA MAŁEGO MISTRZA" W GORLICACH</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "ELFIK" W GORLICACH</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "WESOŁE SKRZATY"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE SPECJALNE W DRO CARITAS W GORLICACH</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE Z ODDZIAŁAMI INTEGRACYJNYMI "KUBUSIOWY OGRÓD"</li>
        <li>NIEPUBLICZNY OŚRODEK DOSKONALENIA NAUCZYCIELI WENA</li>
        <li>OŚRODEK KSZTAŁCENIA I ROZWOJU DLA DOROSŁYCH</li>
        <li>OŚRODEK KSZTAŁCENIA USTAWICZNEGO W GORLICACH</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I ST. IM. IGNACEGO JANA PADEREWSKIEGO W GORLICACH</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA II ST. W GORLICACH</li>
        <li>PEDAGOGICZNA BIBLIOTEKA WOJEWÓDZKA W NOWYM SĄCZU FILIA W GORLICACH</li>
        <li>POLICEALNA SZKOŁA W GORLICACH</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W GORLICACH</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "DOM BAJKI"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE OCHRONKA SIÓSTR SŁUŻEBNICZEK</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE SIÓSTR FELICJANEK</li>
        <li>SPECJALISTYCZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA ECHO</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM.KS.STANISŁAWA KONARSKIEGO W GORLICACH</li>
        <li>SZKOŁA PODSTAWOWA NR 3 W GORLICACH</li>
        <li>SZKOŁA PODSTAWOWA NR 4 IM.BOHATERÓW WESTERPLATTE W GORLICACH</li>
        <li>SZKOŁA PODSTAWOWA NR 5 W GORLICACH</li>
        <li>SZKOŁA PODSTAWOWA NR 6 W GORLICACH</li>
        <li>SZKOŁA POLICEALNA NR 1 W GORLICACH</li>
        <li>SZKOŁA POLICEALNA NR 2 W GORLICACH</li>
        <li>SZKOŁA POLICEALNA NR 3 W GORLICACH</li>
        <li>SZKOŁA POLICEALNA NR 4 W GORLICACH</li>
        <li>SZKOŁA POLICEALNA PRACOWNIKÓW SŁUŻB MEDYCZNYCH I SPOŁECZNYCH W GORLICACH</li>
        <li>SZKOLNE SCHRONISKO MŁODZIEŻOWE W GORLICACH</li>
        <li>TECHNIKUM NR 1 W GORLICACH</li>
        <li>TECHNIKUM NR 2 W GORLICACH</li>
        <li>TECHNIKUM NR 3 W GORLICACH</li>
        <li>TECHNIKUM NR 4 W GORLICACH</li>
        <li>ZESPÓŁ JEDNOSTEK EDUKACYJNYCH WOJEWÓDZTWA MAŁOPOLSKIEGO W GORLICACH</li>
        <li>ZESPÓŁ PAŃSTWOWYCH SZKÓŁ MUZYCZNYCH W GORLICACH</li>
        <li>ZESPÓŁ SZKÓŁ EKONOMICZNYCH IM. JANA PAWŁA II W GORLICACH</li>
        <li>ZESPÓŁ SZKÓŁ NR 1 IM. IGNACEGO ŁUKASIEWICZA W GORLICACH</li>
        <li>ZESPÓŁ SZKÓŁ TECHNICZNYCH IM. WINCENTEGO POLA W GORLICACH</li>
        <li>ZESPÓŁ SZKÓŁ ZAWODOWYCH IM. KAZIMIERZA PUŁASKIEGO W GORLICACH</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
