
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Dwudniaki</title>
</head>
<body>
    <h1>Schools in Dwudniaki</h1>
    <ul>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY W WIERZCHOSŁAWICACH-DWUDNIAKACH</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA W WIERZCHOSŁAWICACH-DWUDNIAKACH</li>
        <li>SZKOŁA PRZYSPOSABIAJĄCA DO PRACY W SPECJALNYM OŚRODKU SZKOLNO-WYCHOWAWCZYM W WIERZCHOSŁAWICACH-DWUDNIAKACH</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
