
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Jerzmanowice</title>
</head>
<body>
    <h1>Schools in Jerzmanowice</h1>
    <ul>
        <li>DOMOWE PRZEDSZKOLE NIEPUBLICZNE</li>
        <li>PRYWATNE PRZEDSZKOLE I ŻŁOBEK MALI ODKRYWCY SP. Z O.O.</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "SKRZAT"</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE W JERZMANOWICACH</li>
        <li>SZKOŁA PODSTAWOWA IM. ŚW.KRÓLOWEJ JADWIGI</li>
        <li>ZESPÓŁ SZKÓŁ W JERZMANOWICACH</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
