
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Nowy Targ</title>
</head>
<body>
    <h1>Schools in Nowy Targ</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 1 W ZESPOLE SZKÓŁ TECHNICZNYCH I PLACÓWEK IM. STANISŁAWA STASZICA W NOWYM TARGU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 2 W ZESPOLE SZKÓŁ EKONOMICZNYCH W NOWYM TARGU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 3 W ZESPOLE SZKÓŁ NR 1 IM. WŁADYSŁAWA ORKANA W NOWYM TARGU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA SPECJALNA NR 5 W SPECJALNYM OŚRODKU SZKOLNO- WYCHOWAWCZYM NR 1 W NOWYM TARGU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA W NOWYM TARGU</li>
        <li>BURSA MŁODZIEŻOWA</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO W NOWYM TARGU</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO CECHU RZEMIOSŁ RÓŻNYCH W NOWYM TARGU</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO NR 2 W ZESPOLE SZKÓŁ NR 1 IM. WŁADYSŁAWA ORKANA W NOWYM TARGU</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO W ZESPOLE SZKÓŁ TECHNICZNYCH I PLACÓWEK IM. STANISŁAWA STASZICA W NOWYM TARGU</li>
        <li>CENTRUM NAUCZANIA DOMOWEGO</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W ZESPOLE SZKÓŁ TECHNICZNYCH I PLACÓWEK IM. STANISŁAWA STASZICA W NOWYM TARGU</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE IM. SEWERYNA GOSZCZYŃSKIEGO W ZESPOLE SZKÓŁ OGÓLNOKSZTAŁCĄCYCH NR 1 W NOWYM TARGU</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W ZESPOLE SZKÓŁ OGÓLNOKSZTAŁCĄCYCH NR 1 W NOWYM TARGU</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE W ZESPOLE SZKÓŁ OGÓLNOKSZTAŁCĄCYCH NR 2 IM. ŚW. JADWIGI KRÓLOWEJ W NOWYM TARGU</li>
        <li>III LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W ZESPOLE SZKÓŁ OGÓLNOKSZTAŁCĄCYCH NR 2 IM. ŚW. JADWIGI KRÓLOWEJ W NOWYM TARGU</li>
        <li>KLUB PRZEDSZKOLAKA DZIECIĘCE MARZENIE</li>
        <li>KUŹNIA INSTRUKTORÓW SPORTU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH "ŻAK" W NOWYM TARGU</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO SKWP W NOWYM TARGU</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA POLONIA</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA SPECJALNA "NIEBIESKA KOKARDKA"</li>
        <li>NIEPUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE MISTRZOSTWA SPORTOWEGO "PODHALE" NOWY TARG</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "LOKOMOTYWA" W NOWYM TARGU</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE FIKU MIKU</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE FIKU MIKU 2</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE RAJ LISKA W NOWYM TARGU</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE Z ODDZIAŁAMI SPECJALNYMI I INTEGRACYJNYMI "NIEBIESKA KOKARDKA"</li>
        <li>OŚRODEK REHABILITACYJNO - EDUKACYJNO - WYCHOWAWCZY W NOWYM TARGU</li>
        <li>OŚRODEK SZKOLENIA "FACH"</li>
        <li>OŚRODEK SZKOLENIA "LACH"</li>
        <li>OŚRODEK SZKOLENIOWY CENTRUM NAUKI I BIZNESU "ŻAK"</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I I II ST. IM. FRYDERYKA CHOPINA W NOWYM TARGU</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I ST. W NOWYM TARGU</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA II ST. W NOWYM TARGU</li>
        <li>PEDAGOGICZNA BIBLIOTEKA WOJEWÓDZKA W NOWYM SĄCZU FILIA W NOWYM TARGU</li>
        <li>POLICEALNA SZKOŁA SŁUŻB MEDYCZNYCH</li>
        <li>POLONIJNY ZESPÓŁ PLACÓWEK OŚWIATOWYCH</li>
        <li>PORADNIA PSYCHOLOGICZNO- PEDAGOGICZNA W NOWYM TARGU</li>
        <li>PRYWATNE LICEUM OGÓLNOKSZTAŁCĄCE DLA MŁODZIEŻY</li>
        <li>PRYWATNE POLICEALNE STUDIUM ZAWODOWE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE WESOŁY KOROWÓD</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE ZGROMADZENIA SIÓSTR SERAFITEK PW. DZIECIĄTKA JEZUS</li>
        <li>PRZEDSZKOLE NR 2 W NOWYM TARGU</li>
        <li>PRZEDSZKOLE NR 4 W NOWYM TARGU</li>
        <li>PRZEDSZKOLE PRYWATNE "LIWLANDIA" W NOWYM TARGU</li>
        <li>PRZEDSZKOLE SPECJALNE W SPECJALNYM OŚRODKU SZKOLNO- WYCHOWAWCZYM NR 1 W NOWYM TARGU</li>
        <li>SŁONECZNE PRZEDSZKOLE W NOWYM TARGU</li>
        <li>SPECJALNY OŚRODEK SZKOLNO- WYCHOWAWCZY NR 1 W NOWYM TARGU</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. TADEUSZA KOŚCIUSZKI W NOWYM TARGU</li>
        <li>SZKOŁA PODSTAWOWA NR 11 IM. ŻOŁNIERZY ARMII KRAJOWEJ W NOWYM TARGU</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. MIKOŁAJA KOPERNIKA W NOWYM TARGU</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. JANA PAWŁA II W NOWYM TARGU</li>
        <li>SZKOŁA PODSTAWOWA NR 4 IM. KRÓLA KAZIMIERZA WIELKIEGO W NOWYM TARGU</li>
        <li>SZKOŁA PODSTAWOWA NR 5 IM. KONFEDERACJI TATRZAŃSKIEJ W NOWYM TARGU</li>
        <li>SZKOŁA PODSTAWOWA NR 6 IM. JÓZEFA RAJSKIEGO BURMISTRZA NOWEGO TARGU W NOWYM TARGU</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 9 W SPECJALNYM OŚRODKU SZKOLNO- WYCHOWAWCZYM NR 1 W NOWYM TARGU</li>
        <li>SZKOŁA POLICEALNA AKTYWIZACJI ZAWODOWEJ "ŻAK" W NOWYM TARGU</li>
        <li>SZKOŁA POLICEALNA FLORYSTYKI "ŻAK"</li>
        <li>SZKOŁA POLICEALNA MEDYCZNA "ŻAK" W NOWYM TARGU</li>
        <li>SZKOŁA POLICEALNA OPIEKI MEDYCZNEJ "ŻAK" W NOWYM TARGU</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W NOWYM TARGU</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W SPECJALNYM OŚRODKU SZKOLNO- WYCHOWAWCZYM NR 1 W NOWYM TARGU</li>
        <li>TECHNIKUM NR 1 W ZESPOLE SZKÓŁ TECHNICZNYCH I PLACÓWEK IM. STANISŁAWA STASZICA W NOWYM TARGU</li>
        <li>TECHNIKUM NR 2 W ZESPOLE SZKÓŁ EKONOMICZNYCH W NOWYM TARGU</li>
        <li>TECHNIKUM NR 3 W ZESPOLE SZKÓŁ NR 1 IM. WŁADYSŁAWA ORKANA W NOWYM TARGU</li>
        <li>TECHNIKUM W NOWYM TARGU</li>
        <li>ZAWODOWA SZKOŁA BRANŻOWA I STOPNIA CECHU RZEMIOSŁ RÓŻNYCH W NOWYM TARGU</li>
        <li>ZESPÓŁ PLACÓWEK SZKOLNO-WYCHOWAWCZO OPIEKUŃCZYCH W NOWYM TARGU</li>
        <li>ZESPÓŁ SZKÓŁ CENTRUM KSZTAŁCENIA ROLNICZEGO IM. AUGUSTYNA SUSKIEGO W NOWYM TARGU</li>
        <li>ZESPÓŁ SZKÓŁ EKONOMICZNYCH W NOWYM TARGU</li>
        <li>ZESPÓŁ SZKÓŁ NR 1 IM. WŁADYSŁAWA ORKANA W NOWYM TARGU</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH NR 1 W NOWYM TARGU</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH NR 2 IM. ŚW. JADWIGI KRÓLOWEJ W NOWYM TARGU</li>
        <li>ZESPÓŁ SZKÓŁ TECHNICZNYCH I PLACÓWEK IM. STANISŁAWA STASZICA W NOWYM TARGU</li>
        <li>ZESPÓŁ SZKOLNO - PRZEDSZKOLNY NR 1 W NOWYM TARGU</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
