
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Muszyna</title>
</head>
<body>
    <h1>Schools in Muszyna</h1>
    <ul>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. JANA KOCHANOWSKIEGO W MUSZYNIE</li>
        <li>NIEPUBLICZNE JĘZYKOWE PRZEDSZKOLE "PSZCZÓŁKA MAJA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE JĘZYKOWO-ARTYSTYCZNE BAJKA</li>
        <li>OGNISKO PRACY POZASZKOLNEJ W MUSZYNIE</li>
        <li>POWIATOWY ZESPÓŁ SZKÓŁ W MUSZYNIE</li>
        <li>PRZEDSZKOLE W MUSZYNIE</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. KURIERÓW SĄDECKICH W MUSZYNIE</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. JANA PAWŁA II W MUSZYNIE</li>
        <li>TECHNIKUM W MUSZYNIE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W MUSZYNIE</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
