
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Tarnów</title>
</head>
<body>
    <h1>Schools in Tarnów</h1>
    <ul>
        <li>BIBLIOTEKA PEDAGOGICZNA W TARNOWIE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA IM. 16 PUŁKU PIECHOTY ZIEMI TARNOWSKIEJ W TARNOWIE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 1 W CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO W TARNOWIE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 2 W ZESPOLE SZKÓŁ MECHANICZNO - ELEKTRYCZNYCH W TARNOWIE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 3 W ZESPOLE SZKÓŁ EKONOMICZNO-GASTRONOMICZNYCH IM. JÓZEFA PIŁSUDSKIEGO W TARNOWIE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 4 W ZESPOLE SZKÓŁ TECHNICZNO-ZAWODOWYCH W TARNOWIE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 5 W ZESPOLE SZKÓŁ BUDOWLANYCH W TARNOWIE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 6 W ZESPOLE SZKÓŁ OGÓLNOKSZTAŁCĄCYCH I TECHNICZNYCH IM JANA SZCZEPANIKA W TARNOWIE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 7 W ZESPOLE SZKÓŁ EKONOMICZNO-OGRODNICZYCH IM. TADEUSZA KOŚCIUSZKI W TARNOWIE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA SPECJALNA NR 8 W ZAKŁADZIE POPRAWCZYM W TARNOWIE</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA W CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO W TARNOWIE</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA W TARNOWIE</li>
        <li>BRANŻOWA SZKOŁA SPECJALNA I STOPNIA DLA NIESŁYSZĄCYCH I SŁABO SŁYSZĄCYCH W ZESPOLE SZKÓŁ SPECJALNYCH DLA NIESŁYSZĄCYCH I SŁABO SŁYSZĄCYCH W TARNOWIE</li>
        <li>BRANŻOWA SZKOŁA SPECJALNA I STOPNIA W SPECJALNYM OŚRODKU SZKOLNO-WYCHOWAWCZYM IM. EUGENII GIERAT W TARNOWIE</li>
        <li>BURSA MIĘDZYSZKOLNA W TARNOWIE</li>
        <li>BURSA SIÓSTR URSZULANEK UNII RZYMSKIEJ W TARNOWIE</li>
        <li>BURSA SZKOLNA DLA DZIEWCZĄT W TARNOWIE</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO IM.KS.PRYMASA STEFANA WYSZYŃSKIEGO W TARNOWIE</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO SIGMA W TARNOWIE</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO W TARNOWIE</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO W TARNOWIE</li>
        <li>CENTRUM SZKOLENIA KAEFER SA W TARNOWIE</li>
        <li>CENTRUM SZKOLENIOWO - KONFERENCYJNE F.H.U.P. "WOJTAR" WACŁAW WOJDAK W TARNOWIE</li>
        <li>CENTRUM USŁUG SZKOLENIOWYCH W TARNOWIE</li>
        <li>CENTRUM WCZESNEGO WSPOMAGANIA ROZWOJU DZIECI "DOBRY KROK" - NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA W TARNOWIE</li>
        <li>FREBLOWSKIE PRZEDSZKOLE INTEGRACYJNE ŚW. JÓZEFA W TARNOWIE</li>
        <li>FREBLOWSKIE PRZEDSZKOLE SPECJALNE ŚW. JÓZEFA W TARNOWIE</li>
        <li>GRUPA AZOTY JEDNOSTKA RATOWNICTWA CHEMICZNEGO SPÓŁKA Z O.O. - CENTRUM KSZTAŁCENIA I DOSKONALENIA KADR W TARNOWIE</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE IM.K.BRODZIŃSKIEGO W TARNOWIE</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE IM.HETMANA JANA TARNOWSKIEGO W TARNOWIE</li>
        <li>III LICEUM OGÓLNOKSZTAŁCĄCE IM.ADAMA MICKIEWICZA W TARNOWIE</li>
        <li>IV LICEUM OGÓLNOKSZTAŁCĄCE IM. JANA PAWŁA II W ZESPOLE SZKÓŁ OGÓLNOKSZTAŁCĄCYCH NR 1 W TARNOWIE</li>
        <li>IX LICEUM OGÓLNOKSZTAŁCĄCE W CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO W TARNOWIE</li>
        <li>KATOLICKA SZKOŁA PODSTAWOWA W TARNOWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH "ŻAK"</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH SIGMA W TARNOWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W CENTRUM KSZTAŁCENIA USTAWICZNEGO IM. KS. PRYMASA STEFANA WYSZYŃSKIEGO W CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO W TARNOWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE SPECJALNE DLA NIESŁYSZĄCYCH I SŁABO SŁYSZĄCYCH W ZESPOLE SZKÓŁ SPECJALNYCH DLA NIESŁYSZĄCYCH I SŁABO SŁYSZĄCYCH W TARNOWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE SZKOŁY MISTRZOSTWA SPORTOWEGO ZKS UNIA TARNÓW</li>
        <li>LICEUM SZTUK PLASTYCZNYCH W TARNOWIE</li>
        <li>LOKOMOTYWA - NIEPUBLICZNE PRZEDSZKOLE W TARNOWIE</li>
        <li>MEDYCZNA SZKOŁA POLICEALNA "COSINUS" W TARNOWIE</li>
        <li>MEDYCZNA SZKOŁA POLICEALNA SIGMA W TARNOWIE</li>
        <li>MŁODZIEŻOWY OŚRODEK SOCJOTERAPII "DOM NAD POTOKIEM" W TARNOWIE</li>
        <li>NIEPUBLICZNA BRANŻOWA SZKOŁA I STOPNIA PRZY MŁODZIEŻOWYM OŚRODKU SOCJOTERAPII "DOM NAD POTOKIEM" W TARNOWIE</li>
        <li>NIEPUBLICZNA BRANŻOWA SZKOŁA I STOPNIA SPECJALNA W TARNOWIE</li>
        <li>NIEPUBLICZNA NIEPŁATNA SZKOŁA PODSTAWOWA STOWARZYSZENIA "SIÓDEMKA" W TARNOWIE</li>
        <li>NIEPUBLICZNA NIEPŁATNA SZKOŁA PODSTAWOWA W TARNOWIE</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO - OŚRODEK SZKOLENIA ZAWODOWEGO EDUKATOR Ł.ROKOSZ, B.BABIARZ</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO "HYBRYDA" W TARNOWIE</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO GTW PROJECT W TARNOWIE</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO SKWP W TARNOWIE</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA W TARNOWIE</li>
        <li>NIEPUBLICZNA SZKOŁA JĘZYKA I KULTURY POLSKIEJ ORAZ CENTRUM KOREPETYCJI Z JĘZYKÓW OBCYCH LINGUA POLONICA BARBARA KUBALA W TARNOWIE</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA IM. POLSKIEJ MARYNARKI HANDLOWEJ W TARNOWIE</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA SPECJALNA PRZY MŁODZIEŻOWYM OŚRODKU SOCJOTERAPII „DOM NAD POTOKIEM” W TARNOWIE</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA SPECJALNA W TARNOWIE</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA TARNOWSKA SZKOŁA MONTESSORI W TARNOWIE</li>
        <li>NIEPUBLICZNA SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W TARNOWIE</li>
        <li>NIEPUBLICZNE CENTRUM KSZTAŁCENIA ZAWODOWEGO IZBY RZEMIEŚLNICZEJ ORAZ MAŁEJ I ŚREDNIEJ PRZEDSIĘBIORCZOŚCI W TARNOWIE</li>
        <li>NIEPUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE "U KONARSKIEGO' W TARNOWIE</li>
        <li>NIEPUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE SPECJALNE PRZY MŁODZIEŻOWYM OŚRODKU SOCJOTERAPII "DOM NAD POTOKIEM" W TARNOWIE</li>
        <li>NIEPUBLICZNE NIEPŁATNE PRZEDSZKOLE W TARNOWIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "OXFORDZIK" W TARNOWIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE BAJADURKA</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE FUN & PLAY W TARNOWIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE O PROFILU ARTYSTYCZNYM - START W TARNOWIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE PRZEDSZKOLINEK W TARNOWIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE SPECJALNE "KOLOROWY ZAKĄTEK" W TARNOWIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE SPECJALNE "MAŁY KSIĄŻĘ" W TARNOWIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE STOWARZYSZENIA "SIÓDEMKA" W TARNOWIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE Z ODDZIAŁAMI INTEGRACYJNYMI "MAŁE KROCZKI" W TARNOWIE</li>
        <li>NIEPUBLICZNY ZESPÓŁ SZKOLNO-PRZEDSZKOLNY STOWARZYSZENIA "SIÓDEMKA" W TARNOWIE</li>
        <li>OGÓLNOKSZTAŁCĄCA SZKOŁA MUZYCZNA I STOPNIA W ZESPOLE SZKÓŁ MUZYCZNYCH IM. IGNACEGO JANA PADEREWSKIEGO W TARNOWIE</li>
        <li>OGÓLNOKSZTAŁCĄCA SZKOŁA MUZYCZNA II STOPNIA W ZESPOLE SZKÓŁ MUZYCZNYCH IM. IGNACEGO JANA PADEREWSKIEGO</li>
        <li>OŚRODEK DOKSZTAŁCANIA I DOSKONALENIA ZAWODOWEGO W ZAKRESIE BHP I P.POŻ. F.H.U. "ABEDIM" W TARNOWIE</li>
        <li>OŚRODEK KSZTAŁCENIA ZAWODOWEGO W TARNOWIE - ZAKŁAD DOSKONALENIA ZAWODOWEGO W KRAKOWIE</li>
        <li>OŚRODEK KURSOWY "EUREKA" W TARNOWIE</li>
        <li>OŚRODEK KURSOWY PRZY ODDZIALE OGÓLNOPOLSKIEGO STOWARZYSZENIA PRACOWNIKÓW SŁUŻB BHP W TARNOWIE</li>
        <li>OŚRODEK REWALIDACYJNO-EDUKACYJNO-WYCHOWAWCZY W TARNOWIE</li>
        <li>OŚRODEK SZKOLEŃ BHP I P.POŻ - FHU "ANDBER" W TARNOWIE</li>
        <li>OŚRODEK SZKOLENIA PRZY MAŁOPOLSKIM OŚRODKU RUCHU DROGOWEGO W TARNOWIE</li>
        <li>OŚRODEK SZKOLENIOWY "METIS" W TARNOWIE</li>
        <li>OŚRODEK SZKOLENIOWY CENTRUM NAUKI I BIZNESU "ŻAK" W TARNOWIE</li>
        <li>OŚRODEK SZKOLENIOWY SIGMA W TARNOWIE</li>
        <li>PAŁAC MŁODZIEŻY W TARNOWIE</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA TARNOWSKIEJ SZKOŁY WYŻSZEJ W TARNOWIE</li>
        <li>POWIATOWA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W TARNOWIE</li>
        <li>PRZEDSZKOLE "PAŁACYK MALUCHA" W TARNOWIE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "BAJKA" W TARNOWIE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE OCHRONKA IM. ŚWIĘTEJ RODZINY W TARNOWIE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE PROMYCZEK W TARNOWIE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE SIÓSTR SERAFITEK W TARNOWIE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE SZKRAB</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE ZGROMADZENIA SIÓSTR SŁUŻEBNICZEK NMP NP W TARNOWIE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE ZGROMADZENIA SIÓSTR ŚW.JÓZEFA W TARNOWIE</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 1 Z ODDZIAŁAMI INTEGRACYJNYMI W TARNOWIE</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 12 W TARNOWIE</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 13 W TARNOWIE</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 14 Z ODDZIAŁEM INTEGRACYJNYM W TARNOWIE</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 15 W TARNOWIE</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 17 W TARNOWIE</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 18 Z ODDZIAŁAMI INTEGRACYJNYMI W TARNOWIE</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 19 W TARNOWIE</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 20 W TARNOWIE</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 21 W TARNOWIE</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 24 W TARNOWIE</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 26 W TARNOWIE</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 27 W TARNOWIE</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 29 IM. MARII KONOPNICKIEJ W TARNOWIE</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 3 W TARNOWIE</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 31 W TARNOWIE</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 32 W TARNOWIE</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 33 W TARNOWIE</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 34 W TARNOWIE</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 35 Z ODDZIAŁAMI INTEGRACYJNYMI W TARNOWIE</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 4 W TARNOWIE</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 5 W TARNOWIE</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 6 W TARNOWIE</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 8 "POD STOKROTKĄ" W TARNOWIE</li>
        <li>PRZEDSZKOLE SACRE' COEUR W TARNOWIE</li>
        <li>PRZEDSZKOLE SPECJALNE NR 36 POD PARASOLEM W SPECJALNYM OŚRODKU SZKOLNO-WYCHOWAWCZYM IM. EUGENII GIERAT W TARNOWIE</li>
        <li>PRZEDSZKOLE SPECJALNE W ZESPOLE SPECJALNYCH SZKÓŁ PRZYSZPITALNYCH W TARNOWIE</li>
        <li>RZEMIEŚLNICZA BRANŻOWA SZKOŁA I STOPNIA W TARNOWIE</li>
        <li>RZEMIEŚLNICZA BRANŻOWA SZKOŁA II STOPNIA W TARNOWIE</li>
        <li>RZEMIEŚLNICZE CENTRUM SZKÓŁ ZAWODOWYCH W TARNOWIE</li>
        <li>SPECJALISTYCZNA PORADNIA PROFILAKTYCZNO-TERAPEUTYCZNA W TARNOWIE</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY IM. EUGENII GIERAT W TARNOWIE</li>
        <li>SPOŁECZNA SZKOŁA PODSTAWOWA NR 1 IM. KS.PROF. JÓZEFA TISCHNERA W TARNOWIE</li>
        <li>SPOŁECZNA SZKOŁA PODSTAWOWA NR 2 SPOŁECZNEGO TOWARZYSTWA OŚWIATOWEGO W TARNOWIE</li>
        <li>SPOŁECZNE LICEUM OGÓLNOKSZTAŁCĄCE IMIENIA KSIĘDZA PROFESORA JÓZEFA TISCHNERA W TARNOWIE</li>
        <li>SPOŁECZNE PRZEDSZKOLE JĘZYKOWE IM. KS.PROF. JÓZEFA TISCHNERA W TARNOWIE</li>
        <li>SZKOŁA BRANŻOWA I STOPNIA "COSINUS" W TARNOWIE</li>
        <li>SZKOŁA JĘZYKÓW OBCYCH "PROGRESS NEW" EUROPEJSKIE CENTRUM EDUKACJI W TARNOWIE</li>
        <li>SZKOŁA MUZYCZNA I STOPNIA W ZESPOLE SZKÓŁ MUZYCZNYCH IM.IGNACEGO JANA PADEREWSKIEGO</li>
        <li>SZKOŁA MUZYCZNA II STOPNIA W ZESPOLE SZKÓŁ MUZYCZNYCH IM.IGNACEGO JANA PADEREWSKIEGO W TARNOWIE</li>
        <li>SZKOŁA PODSTAWOWA INTEGRACYJNA NR 11 IM.MARII DĄBROWSKIEJ W TARNOWIE</li>
        <li>SZKOŁA PODSTAWOWA INTEGRACYJNA NR 25 W ZESPOLE SZKÓŁ OGÓLNOKSZTAŁCĄCYCH NR 6 Z ODDZIAŁAMI INTEGRACYJNYMI W TARNOWIE</li>
        <li>SZKOŁA PODSTAWOWA MISTRZOSTWA SPORTOWEGO ZKS UNIA TARNÓW W TARNOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. KLEMENTYNY HOFFMANOWEJ W TARNOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 10 IM. ROMANA "SYBIRAKA" SANGUSZKI W TARNOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 14 IM.STEFANA JARACZA W TARNOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 15 IM.GEN.JÓZEFA BEMA W TARNOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 17 IM. EUGENIUSZA KWIATKOWSKIEGO W ZESPOLE SZKÓŁ OGÓLNOKSZTAŁCĄCYCH NR 1 W TARNOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 18 IM.JANA KOCHANOWSKIEGO W TARNOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. STANISŁAWA KONARSKIEGO W TARNOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 20 Z ODDZIAŁAMI SPORTOWYMI IM. POLSKICH OLIMPIJCZYKÓW W TARNOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 23 IM. JANA PAWŁA II W TARNOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 24 Z ODDZIAŁAMI DWUJĘZYCZNYMI IM. MIKOŁAJA KOPERNIKA W TARNOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. MARII KONOPNICKIEJ W TARNOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 5 IM. TADEUSZA KOŚCIUSZKI W TARNOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 8 IM. KRZYSZTOFA KAMILA BACZYŃSKIEGO W TARNOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 9 IM.ORLĄT LWOWSKICH W TARNOWIE</li>
        <li>SZKOŁA PODSTAWOWA SACRE COEUR W TARNOWIE</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA DLA NIESŁYSZĄCYCH I SŁABO SŁYSZĄCYCH W ZESPOLE SZKÓŁ SPECJALNYCH DLA NIESŁYSZĄCYCH I SŁABO SŁYSZĄCYCH W TARNOWIE</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA IM.ŚWIĘTEGO BRATA ALBERTA CHMIELOWSKIEGO W ZESPOLE SPECJALNYCH SZKÓŁ PRZYSZPITALNYCH W TARNOWIE</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 26 W ZAKŁADZIE POPRAWCZYM W TARNOWIE</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA W SPECJALNYM OŚRODKU SZKOLNO - WYCHOWAWCZYM IM. EUGENII GIERAT W TARNOWIE</li>
        <li>SZKOŁA POLICEALNA "COSINUS PLUS" W TARNOWIE</li>
        <li>SZKOŁA POLICEALNA BEZPIECZEŃSTWA I HIGIENY PRACY "ŻAK"</li>
        <li>SZKOŁA POLICEALNA CENTRUM NAUKI I BIZNESU "ŻAK" W TARNOWIE</li>
        <li>SZKOŁA POLICEALNA KOSMETYKI "ŻAK"</li>
        <li>SZKOŁA POLICEALNA MEDYCZNA "ŻAK" W TARNOWIE</li>
        <li>SZKOŁA POLICEALNA NR 2 W ZESPOLE SZKÓŁ TECHNICZNYCH IM. IGNACEGO MOŚCICKIEGO W TARNOWIE</li>
        <li>SZKOŁA POLICEALNA NR 3 W ZESPOLE SZKÓŁ MECHANICZNO-ELEKTRYCZNYCH W TARNOWIE</li>
        <li>SZKOŁA POLICEALNA NR 4 W ZESPOLE SZKÓŁ EKONOMICZNO-GASTRONOMICZNYCH IM. JÓZEFA PIŁSUDSKIEGO W TARNOWIE</li>
        <li>SZKOŁA POLICEALNA NR 5 W TARNOWIE</li>
        <li>SZKOŁA POLICEALNA NR 7 W ZESPOLE SZKÓŁ BUDOWLANYCH W TARNOWIE</li>
        <li>SZKOŁA POLICEALNA NR 8 W CENTRUM KSZTAŁCENIA USTAWICZNEGO IM.KS.PRYMASA STEFANA WYSZYŃSKIEGO W CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO W TARNOWIE</li>
        <li>SZKOŁA POLICEALNA NR 9 W ZESPOLE SZKÓŁ OGÓLNOKSZTAŁCĄCYCH I TECHNICZNYCH IM.JANA SZCZEPANIKA W TARNOWIE</li>
        <li>SZKOŁA POLICEALNA OPIEKI MEDYCZNEJ "ŻAK" W TARNOWIE</li>
        <li>SZKOŁA POLICEALNA PRAWA I ADMINISTRACJI "ŻAK"</li>
        <li>SZKOŁA POLICEALNA PRZY TARNOWSKIEJ SZKOLE WYŻSZEJ W TARNOWIE</li>
        <li>SZKOŁA POLICEALNA SIGMA W TARNOWIE</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W SPECJALNYM OŚRODKU SZKOLNO-WYCHOWAWCZYM IM. EUGENII GIERAT W TARNOWIE</li>
        <li>TARNOWSKA AGENCJA ROZWOJU REGIONALNEGO S.A. WSZECHNICA EDUKACYJNA W TARNOWIE</li>
        <li>TARNOWSKA BURSA SZKOLNA</li>
        <li>TARNOWSKIE PRZEDSZKOLE MONTESSORI W TARNOWIE</li>
        <li>TECHNIKUM NR 1 W ZESPOLE SZKÓŁ TECHNICZNYCH IM.IGNACEGO MOŚCICKIEGO W TARNOWIE</li>
        <li>TECHNIKUM NR 11 W TARNOWIE</li>
        <li>TECHNIKUM NR 2 W CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO W TARNOWIE</li>
        <li>TECHNIKUM NR 3 W ZESPOLE SZKÓŁ EKONOMICZNO-GASTRONOMICZNYCH IM. JÓZEFA PIŁSUDSKIEGO W TARNOWIE</li>
        <li>TECHNIKUM NR 4 IM. TADEUSZA TERTILA W ZESPOLE SZKÓŁ MECHANICZNO-ELEKTRYCZNYCH W TARNOWIE</li>
        <li>TECHNIKUM NR 5 W ZESPOLE SZKÓŁ OGÓLNOKSZTAŁCĄCYCH I TECHNICZNYCH IM JANA SZCZEPANIKA W TARNOWIE</li>
        <li>TECHNIKUM NR 6 W ZESPOLE SZKÓŁ TECHNICZNO-ZAWODOWYCH W TARNOWIE</li>
        <li>TECHNIKUM NR 7 W ZESPOLE SZKÓŁ BUDOWLANYCH W TARNOWIE</li>
        <li>TECHNIKUM NR 9 W ZESPOLE SZKÓŁ EKONOMICZNO-OGRODNICZYCH IM. TADEUSZA KOŚCIUSZKI W TARNOWIE</li>
        <li>TECHNIKUM SPECJALNE DLA NIESŁYSZĄCYCH I SŁABO SŁYSZĄCYCH W ZESPOLE SZKÓŁ SPECJALNYCH DLA NIESŁYSZĄCYCH I SŁABO SŁYSZĄCYCH W TARNOWIE</li>
        <li>V LICEUM OGÓLNOKSZTAŁCĄCE IM. JANUSZA KORCZAKA W TARNOWIE</li>
        <li>VII LICEUM OGÓLNOKSZTAŁCĄCE W TARNOWIE</li>
        <li>VIII LICEUM OGÓLNOKSZTAŁCĄCE W ZESPOLE SZKÓŁ TECHNICZNYCH IM. IGNACEGO MOŚCICKIEGO W TARNOWIE</li>
        <li>XII LICEUM OGÓLNOKSZTAŁCĄCE W ZESPOLE SZKÓŁ MECHANICZNO-ELEKTRYCZNYCH W TARNOWIE</li>
        <li>XIII LICEUM OGÓLNOKSZTAŁCĄCE W ZESPOLE SZKÓŁ EKONOMICZNO-GASTRONOMICZNYCH IM. JÓZEFA PIŁSUDSKIEGO W TARNOWIE</li>
        <li>XIV LICEUM OGÓLNOKSZTAŁCĄCE W ZESPOLE SZKÓŁ OGÓLNOKSZTAŁCĄCYCH I TECHNICZNYCH IM. JANA SZCZEPANIKA W TARNOWIE</li>
        <li>XV LICEUM OGÓLNOKSZTAŁCĄCE W ZESPOLE SZKÓŁ EKONOMICZNO-OGRODNICZYCH W TARNOWIE</li>
        <li>XVI LICEUM OGÓLNOKSZTAŁCĄCE IM. ARMII KRAJOWEJ W TARNOWIE</li>
        <li>XVII LICEUM OGÓLNOKSZTAŁCĄCE W ZESPOLE SZKÓŁ BUDOWLANYCH W TARNOWIE</li>
        <li>XX LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI INTEGRACYJNYMI W ZESPOLE SZKÓŁ OGÓLNOKSZTAŁCĄCYCH NR 6 Z ODDZIAŁAMI INTEGRACYJNYMI W TARNOWIE</li>
        <li>XXI LICEUM OGÓLNOKSZTAŁCĄCE SPORTOWE W TARNOWIE,</li>
        <li>ZAKŁAD DOSKONALENIA ZAWODOWEGO W TARNOWIE</li>
        <li>ZAOCZNE LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH "COSINUS PLUS" W TARNOWIE</li>
        <li>ZESPÓŁ NIEPUBLICZNYCH SZKÓŁ SPECJALNYCH W TARNOWIE</li>
        <li>ZESPÓŁ SPECJALNYCH SZKÓŁ PRZYSZPITALNYCH W TARNOWIE</li>
        <li>ZESPÓŁ SPOŁECZNEJ SZKOŁY PODSTAWOWEJ NR 1 I SPOŁECZNEGO PRZEDSZKOLA JĘZYKOWEGO IM. KS. PROF. JÓZEFA TISCHNERA W TARNOWIE</li>
        <li>ZESPÓŁ SZKÓŁ BUDOWLANYCH W TARNOWIE</li>
        <li>ZESPÓŁ SZKÓŁ EKONOMICZNO-GASTRONOMICZNYCH IM.JÓZEFA PIŁSUDSKIEGO W TARNOWIE</li>
        <li>ZESPÓŁ SZKÓŁ EKONOMICZNO-OGRODNICZYCH IM.TADEUSZA KOŚCIUSZKI W TARNOWIE</li>
        <li>ZESPÓŁ SZKÓŁ MECHANICZNO-ELEKTRYCZNYCH W TARNOWIE</li>
        <li>ZESPÓŁ SZKÓŁ MISTRZOSTWA SPORTOWEGO ZKS UNIA TARNÓW</li>
        <li>ZESPÓŁ SZKÓŁ MUZYCZNYCH IM. IGNACEGO JANA PADEREWSKIEGO W TARNOWIE</li>
        <li>ZESPÓŁ SZKÓŁ NIEPUBLICZNYCH W TARNOWIE</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH I TECHNICZNYCH IM. JANA SZCZEPANIKA W TARNOWIE</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH NR 1 W TARNOWIE</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH NR 6 Z ODDZIAŁAMI INTEGRACYJNYMI W TARNOWIE</li>
        <li>ZESPÓŁ SZKÓŁ SPECJALNYCH DLA NIESŁYSZĄCYCH I SŁABO SŁYSZĄCYCH W TARNOWIE</li>
        <li>ZESPÓŁ SZKÓŁ TECHNICZNO-ZAWODOWYCH W TARNOWIE</li>
        <li>ZESPÓŁ SZKÓŁ TECHNICZNYCH IM.IGNACEGO MOŚCICKIEGO W TARNOWIE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY SACRE' COEUR W TARNOWIE</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
