
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Piwniczna-Zdrój</title>
</head>
<body>
    <h1>Schools in Piwniczna-Zdrój</h1>
    <ul>
        <li>DOM WCZASÓW DZIECIĘCYCH W PIWNICZNEJ ZDROJU</li>
        <li>PRZEDSZKOLE NR 3 W PIWNICZNEJ-ZDROJU</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 1 W PIWNICZNEJ-ZDROJU</li>
        <li>PUNKT PRZEDSZKOLNY W SZKOLE PODSTAWOWEJ NR 2 W PIWNICZNEJ-ZDROJU</li>
        <li>SZKOŁA PODSTAWOWA NR 1 W PIWNICZNEJ - ZDROJU</li>
        <li>SZKOŁA PODSTAWOWA NR 2 W PIWNICZNEJ ZDROJU</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 1 W PIWNICZNEJ-ZDROJU</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
