
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Tylicz</title>
</head>
<body>
    <h1>Schools in Tylicz</h1>
    <ul>
        <li>GMINNE PRZEDSZKOLE W TYLICZU</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE SS. NMP NP PW. ŚW JÓZEFA W TYLICZU</li>
        <li>SAMORZĄDOWE CENTRUM EDUKACJI SZKOLNEJ W TYLICZU</li>
        <li>SZKOŁA PODSTAWOWA IM. KAZIMIERZA PUŁASKIEGO W TYLICZU</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
