
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Kraków-Śródmieście</title>
</head>
<body>
    <h1>Schools in Kraków-Śródmieście</h1>
    <ul>
        <li>"BEAUTY ART - SZKOŁA WIZAŻU I STYLIZACJI" - PLACÓWKA KSZTAŁCENIA USTAWICZNEGO</li>
        <li>"PUBLISHING SCHOOL" PLACÓWKA KSZTAŁCENIA USTAWICZNEGO</li>
        <li>"SUNNY BUDDIES" DWUJĘZYCZNE PRZEDSZKOLE NIEPUBLICZNE</li>
        <li>AKADEMIA FOTOGRAFII - PLACÓWKA KSZTAŁCENIA USTAWICZNEGO</li>
        <li>AKADEMIA OSTEOPATII NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO</li>
        <li>AKADEMIA SOMA GROUP</li>
        <li>AMERYKAŃSKIE LICEUM OGÓLNOKSZTAŁCĄCE HUMANISTYCZNO-ARTYSTYCZNE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA "COSINUS" W KRAKOWIE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 14 W KRAKOWIE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 18 W KRAKOWIE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 23 IM. ŚW. MAKSYMILIANA MARII KOLBE W KRAKOWIE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 26 W KRAKOWIE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 27 W KRAKOWIE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 8 W KRAKOWIE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 9 IM. WITA STWOSZA W KRAKOWIE</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA NR 8 W KRAKOWIE</li>
        <li>BRANŻOWA SZKOŁA SPECJALNA I STOPNIA NR 12 W KRAKOWIE</li>
        <li>BRANŻOWA SZKOŁA SPECJALNA I STOPNIA NR 30 W KRAKOWIE</li>
        <li>BRANŻOWA SZKOŁA SPECJALNA II STOPNIA NR 5 W KRAKOWIE</li>
        <li>BURSA MŁODZIEŻY ŻEŃSKIEJ SS. FELICJANEK</li>
        <li>BURSA SZKÓŁ ŚREDNICH ZWIĄZKU MĘSKIEJ MŁODZIEŻY PRZEMYSŁOWEJ I RZEMIEŚLNICZEJ P. W. ŚW. STANISŁAWA KOSTKI</li>
        <li>BURSA SZKOLNICTWA PONADPODSTAWOWEGO NR 3 W KRAKOWIE</li>
        <li>CENTRUM BRITISH COUNCIL DLA DOROSŁYCH</li>
        <li>CENTRUM BRITISH COUNCIL DLA DZIECI I MŁODZIEŻY</li>
        <li>CENTRUM EDUKACJI KRAKOWSKIEGO TOWARZYSTWA MEDYCZNEGO</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO NR 1 W KRAKOWIE</li>
        <li>CENTRUM MŁODZIEŻY IM. DR. HENRYKA JORDANA W KRAKOWIE</li>
        <li>CENTRUM MŁODZIEŻY IM. DR. HENRYKA JORDANA W KRAKOWIE - FILIA NR 1 W KRAKOWIE PN. OŚRODEK EDUKACJI OBYWATELSKIEJ</li>
        <li>EDUKACJA 4U - POLICEALNA SZKOŁA KOSMETYKI I MASAŻU W KRAKOWIE</li>
        <li>EDUKACJA 4U - POLICEALNA SZKOŁA W KRAKOWIE</li>
        <li>EDUKACJA 4U CENTRUM SZKOLENIOWE</li>
        <li>EDUKACJA 4U LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W KRAKOWIE</li>
        <li>EDUVISION CENTRUM SZKOLENIOWE W KRAKOWIE</li>
        <li>EDUVISION LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W KRAKOWIE</li>
        <li>EDUVISION POLICEALNA SZKOŁA MEDYCZNA W KRAKOWIE</li>
        <li>EDUVISION POLICEALNA SZKOŁA ZAWODOWA W KRAKOWIE</li>
        <li>EDUVISION SZKOŁA PODSTAWOWA DLA DOROSŁYCH W KRAKOWIE</li>
        <li>EGURROLA DANCE STUDIO KRAKÓW NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO</li>
        <li>EGURROLA DANCE STUDIO KRAKÓW NIEPUBLICZNA PLACÓWKA OŚWIATOWO-WYCHOWAWCZA</li>
        <li>FABER - CENTRUM SZKOLENIOWE W KRAKOWIE</li>
        <li>FABER - NIEPUBLICZNA POLICEALNA SZKOŁA MEDYCZNA W KRAKOWIE</li>
        <li>FABER - NIEPUBLICZNA SZKOŁA POLICEALNA W KRAKOWIE</li>
        <li>FABER - NIEPUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W KRAKOWIE</li>
        <li>FABER CENTRUM KSZTAŁCENIA W KRAKOWIE</li>
        <li>GLOKER NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO</li>
        <li>GLOKER NIEPUBLICZNA SZKOŁA POLICEALNA NR 2</li>
        <li>GLOKER NIEPUBLICZNA SZKOŁA POLICEALNA W KRAKOWIE</li>
        <li>GOWORK.PL NIEPUBLICZNA SZKOŁA POLICEALNA W KRAKOWIE</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE IM. BARTŁOMIEJA NOWODWORSKIEGO W KRAKOWIE</li>
        <li>I SPOŁECZNE LICEUM OGÓLNOKSZTAŁCĄCE IM. X. B. W. IGNACEGO KRASICKIEGO W KRAKOWIE</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE IM. KRÓLA JANA III SOBIESKIEGO W KRAKOWIE</li>
        <li>III PRYWATNE LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>III PRYWATNE LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>III SPOŁECZNE LICEUM OGÓLNOKSZTAŁCĄCE IM. JULIUSZA SŁOWACKIEGO SPOŁECZNEGO TOWARZYSTWA OŚWIATOWEGO W KRAKOWIE</li>
        <li>INSTYTUT MEDYCYNY CHIŃSKIEJ - PLACÓWKA KSZTAŁCENIA USTAWICZNEGO</li>
        <li>IV LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W KRAKOWIE</li>
        <li>IV PRYWATNE LICEUM OGÓLNOKSZTAŁCĄCE IM. KRÓLÓW POLSKICH W KRAKOWIE</li>
        <li>IX PRYWATNE LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>KATOLICKA SZKOŁA PODSTAWOWA IM. ŚWIĘTEJ RODZINY Z NAZARETU W KRAKOWIE</li>
        <li>KATOLICKI DOM KULTURY IM. KS. KARDYNAŁA A. S. SAPIEHY</li>
        <li>KATOLICKIE LICEUM OGÓLNOKSZTAŁCĄCE IM. ŚWIĘTEJ RODZINY Z NAZARETU W KRAKOWIE</li>
        <li>KRAKOWSKA SZKOŁA JAZZU I MUZYKI ROZRYWKOWEJ PRYWATNA SZKOŁA MUZYCZNA II ST.</li>
        <li>KRAKOWSKA ZAWODOWA SZKOŁA BALETOWA W KRAKOWIE</li>
        <li>KRAKOWSKI OŚRODEK SZKOLENIA REGIONALNEGO ODDZIAŁU KRAJOWEJ IZBY BIEGŁYCH REWIDENTÓW W KRAKOWIE</li>
        <li>KRAKOWSKI SZKOLNY OŚRODEK SPORTOWY IM. SZARYCH SZEREGÓW</li>
        <li>KRAKOWSKIE CENTRUM DIALOGU SPOŁECZNEGO - NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO</li>
        <li>KRAKOWSKIE CENTRUM EDUKACJI - SZKOŁA POLICEALNA</li>
        <li>LART STUDIO POLICEALNE STUDIO AKTORSKIE W KRAKOWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH "ŻAK"</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE MISTRZOSTWA SPORTOWEGO W KRAKOWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE TEB EDUKACJA</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE TEB EDUKACJA DLA DOROSŁYCH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁEM DWUJĘZYCZNYM IM. PIOTRA MICHAŁOWSKIEGO TSSP</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE ZAKONU PIJARÓW IM. KS. STANISŁAWA KONARSKIEGO</li>
        <li>MAŁOPOLSKI NIEPUBLICZNY OŚRODEK DOSKONALENIA NAUCZYCIELI PRZY OŚRODKU TWÓRCZEJ EDUKACJI "KANGUR"</li>
        <li>MAŁOPOLSKIE CENTRUM EDUKACJI FLORYSTYCZNEJ - PLACÓWKA KSZTAŁCENIA USTAWICZNEGO</li>
        <li>MEDYCZNA SZKOŁA POLICEALNA EDU W KRAKOWIE</li>
        <li>MIĘDZYKULTUROWA SZKOŁA PODSTAWOWA "OTWARTY ŚWIAT" IM. FRYDERYKA CHOPINA</li>
        <li>MIĘDZYSZKOLNY OŚRODEK SPORTOWY KRAKÓW "ZACHÓD"</li>
        <li>MILUSIE PRZEDSZKOLE NIEPUBLICZNE</li>
        <li>MŁODZIEŻOWY DOM KULTURY "DOM HARCERZA" IM. PROF. ALEKSANDRA KAMIŃSKIEGO W KRAKOWIE</li>
        <li>MŁODZIEŻOWY DOM KULTURY PRZY UL. GRUNWALDZKIEJ W KRAKOWIE</li>
        <li>MŁODZIEŻOWY OŚRODEK SOCJOTERAPII NR 1 W KRAKOWIE</li>
        <li>NIEPUBLICZNA KRAKOWSKA SZKOŁA SZTUKI TAŃCA "CENTRUM SZTUKI TAŃCA"</li>
        <li>NIEPUBLICZNA KRAKOWSKA SZKOŁA SZTUKI TAŃCA L'ART DE LA DANSE W KRAKOWIE</li>
        <li>NIEPUBLICZNA MEDYCZNA SZKOŁA POLICEALNA PERSPEKTYWA W KRAKOWIE</li>
        <li>NIEPUBLICZNA MEDYCZNA SZKOŁA POLICEALNA RENOMA W KRAKOWIE</li>
        <li>NIEPUBLICZNA PLACÓWKA DOSKONALENIA NAUCZYCIELI UCZYMY UCZYĆ</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO - MAŁOPOLSKIE CENTRUM WSPÓŁPRACY, EDUKACJI I DORADZTWA</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO "ALTKOM"</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO "COSINUS" W KRAKOWIE</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO "GLOBLIFE"</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO CENTRUM PIELĘGNACJI I WIZAŻU</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO EDU W KRAKOWIE</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO GOWORK.PL</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO MORION SYSTEM</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO RENOMA W KRAKOWIE</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO SUKCES W KRAKOWIE</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO TEB EDUKACJA</li>
        <li>NIEPUBLICZNA PLACÓWKA WYCHOWANIA POZASZKOLNEGO CE LINGUA</li>
        <li>NIEPUBLICZNA POLICEALNA SZKOŁA "CREATIVE" W KRAKOWIE</li>
        <li>NIEPUBLICZNA POLICEALNA SZKOŁA MEDYCZNA</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA STYMULUS</li>
        <li>NIEPUBLICZNA SPECJALISTYCZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "TOTORO"</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA CRACOW INTERNATIONAL SCHOOL</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA TIRAMISU W KRAKOWIE</li>
        <li>NIEPUBLICZNA SZKOŁA POLICEALNA "PASCAL" W KRAKOWIE</li>
        <li>NIEPUBLICZNA SZKOŁA POLICEALNA OPIEKI MEDYCZNEJ "ŻAK" W KRAKOWIE</li>
        <li>NIEPUBLICZNA SZKOŁA POLICEALNA PASJONAT</li>
        <li>NIEPUBLICZNA SZKOŁA POLICEALNA PERSPEKTYWA W KRAKOWIE</li>
        <li>NIEPUBLICZNA SZKOŁA POLICEALNA RENOMA W KRAKOWIE</li>
        <li>NIEPUBLICZNA SZKOŁA POLICEALNA TEB EDUKACJA W KRAKOWIE</li>
        <li>NIEPUBLICZNA SZKOŁA SZTUKI TAŃCA KONSERWATORIUM TAŃCA W KRAKOWIE</li>
        <li>NIEPUBLICZNE CENTRUM KSZTAŁCENIA USTAWICZNEGO CREATIVE W KRAKOWIE</li>
        <li>NIEPUBLICZNE DWUJĘZYCZNE LICEUM OGÓLNOKSZTAŁCĄCE DA VINCI'S INTERNATIONAL HIGH SCHOOL</li>
        <li>NIEPUBLICZNE DWUJĘZYCZNE PRZEDSZKOLE DA VINCI’S INTERNATIONAL PRESCHOOL W KRAKOWIE</li>
        <li>NIEPUBLICZNE DWUJĘZYCZNE PRZEDSZKOLE KIDS&CO. 2</li>
        <li>NIEPUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH "PASCAL" W KRAKOWIE</li>
        <li>NIEPUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH NA PRAWACH SZKOŁY PUBLICZNEJ KSP OŚWIATA</li>
        <li>NIEPUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH RENOMA W KRAKOWIE</li>
        <li>NIEPUBLICZNE LICEUM SZTUK PLASTYCZNYCH COSINUS W KRAKOWIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "ABC MONTESSORI"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "AKADEMIA MAŁYCH EINSTEINÓW 1"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "AKADEMIA MAŁYCH EINSTEINÓW"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "FRAJDA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "RADOSNA CHATKA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "TEREFERE"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "WESOŁE TYGRYSKI"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE ARTYSTYCZNO-JĘZYKOWE "AKADEMIA BYSTRZAKA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE CRACOW INTERNATIONAL SCHOOL</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE MONTESSORI MAŁYMI KROCZKAMI</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE SPORTOWE "FILEMONKI"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE SPORTOWO-JĘZYKOWE FAIR PLAY "LUBICZ"</li>
        <li>NIEPUBLICZNE TECHNIKUM NEW TECHNOLOGY W KRAKOWIE</li>
        <li>NIEPUBLICZNY MŁODZIEŻOWY DOM KULTURY "JULIUSZ" SAMODZIELNEGO KOŁA TERENOWEGO NR 64 SPOŁECZNEGO TOWARZYSTWA OŚWIATOWEGO</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY DLA DZIECI Z NIEPEŁNOSPRAWNOŚCIAMI "MIKRO"</li>
        <li>OGÓLNOKSZTAŁCĄCA SZKOŁA MUZYCZNA I STOPNIA IM. IGNACEGO JANA PADEREWSKIEGO W KRAKOWIE</li>
        <li>OŚRODEK DOSKONALENIA KADR STOWARZYSZENIA INŻYNIERÓW I TECHNIKÓW MECHANIKÓW POLSKICH W KRAKOWIE</li>
        <li>OŚRODEK DOSKONALENIA NAUCZYCIELI EDUKACJA INTERAKTYWNA</li>
        <li>OŚRODEK POMOCY PSYCHOLOGICZNO-PEDAGOGICZNEJ "UŚMIECH"</li>
        <li>OŚRODEK SZKOLENIA I RZECZOZNAWSTWA STOWARZYSZENIA NAUKOWO-TECHNICZNEGO INŻYNIERÓW I TECHNIKÓW PRZEMYSŁU NAFTOWEGO I GAZOWNICZEGO</li>
        <li>OŚRODEK SZKOLENIA PRZY ZARZĄDZIE WOJEWÓDZKIM NIEZALEŻNEGO SAMORZĄDNEGO ZWIĄZKU ZAWODOWEGO POLICJANTÓW W KRAKOWIE</li>
        <li>OŚRODEK SZKOLENIOWY CENTRUM NAUKI I BIZNESU "ŻAK" W KRAKOWIE</li>
        <li>PAŃSTWOWA OGÓLNOKSZTAŁCĄCA SZKOŁA MUZYCZNA II ST. IM. FRYDERYKA CHOPINA W KRAKOWIE</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA II ST. IM. WŁADYSŁAWA ŻELEŃSKIEGO W KRAKOWIE</li>
        <li>PLACÓWKA DOSKONALENIA NAUCZYCIELI – NIEPUBLICZNA PLACÓWKA DOSKONALENIA NAUCZYCIELI W KRAKOWIE</li>
        <li>PLACÓWKA KSZTAŁCENIA USTAWICZNEGO "CENTRUM IB"</li>
        <li>PLACÓWKA KSZTAŁCENIA USTAWICZNEGO CTI</li>
        <li>PLACÓWKA KSZTAŁCENIA USTAWICZNEGO PROWADZONA PRZEZ P.U.H. AGROSPRZĘT SPÓŁKA Z OGRANICZONĄ ODPOWIEDZIALNOŚCIĄ</li>
        <li>PLACÓWKA KSZTAŁCENIA USTAWICZNEGO PRZY IPH W KRAKOWIE</li>
        <li>POLICEALNA KRAKOWSKA SZKOŁA FILMOWA IM. WOJCIECHA JERZEGO HASA</li>
        <li>POLICEALNA SZKOŁA DETEKTYWÓW I PRACOWNIKÓW OCHRONY "BODYGUARD"</li>
        <li>POLICEALNA SZKOŁA KOSMETYCZNA KRAKOWSKIEJ SPÓŁDZIELNI PRACY "OŚWIATA"</li>
        <li>POLICEALNA SZKOŁA MEDYCZNA KRAKOWSKIEJ SPÓŁDZIELNI PRACY "OŚWIATA"</li>
        <li>POLIGLOTA SZKOŁA JĘZYKÓW - PLACÓWKA KSZTAŁCENIA USTAWICZNEGO</li>
        <li>PORADNIA PSYCHOLOGICZNA POLSKIEGO TOWARZYSTWA DYSLEKSJI</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA NR 1 W KRAKOWIE</li>
        <li>PRYWATNA OGÓLNOKSZTAŁCĄCA SZKOŁA MUZYCZNA I ST. INSPIRACJA W KRAKOWIE</li>
        <li>PRYWATNA PROFESJONALNA SZKOŁA MUZYCZNA I ST. IM. ALEKSANDRA DĘBSKIEGO W KRAKOWIE</li>
        <li>PRYWATNA SZKOŁA PODSTAWOWA "ACADEMOS" IM. EDMUNDA NIZIURSKIEGO</li>
        <li>PRYWATNA SZKOŁA PODSTAWOWA IM. MIKOŁAJA REJA W KRAKOWIE</li>
        <li>PRYWATNA SZKOŁA PODSTAWOWA NR 3 W KRAKOWIE</li>
        <li>PRYWATNA SZKOŁA PODSTAWOWA NR 4 "INSPIRACJA"</li>
        <li>PRYWATNA SZKOŁA PODSTAWOWA NR 5</li>
        <li>PRYWATNA SZKOŁA POLICEALNA USŁUG KOSMETYCZNYCH "ŻAK" ZAOCZNA</li>
        <li>PRYWATNE PRZEDSZKOLE "UŚMIECH"</li>
        <li>PRYWATNE PRZEDSZKOLE MONTESSORI "SAMODZIELNY MALUCH"</li>
        <li>PRZEDSZKOLE IM. ŚW. VIRGINII CB KATOLICKIEGO CENTRUM EDUKACYJNEGO CARITAS ARCHIDIECEZJI KRAKOWSKIEJ</li>
        <li>PRZEDSZKOLE INTEGRACYJNE MONTESSORI</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "POD GWIAZDKAMI"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "ULIK"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE ART-CHILD</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE BENIAMINEK</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE KĄCIK ŚWIATA</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE TRZY JĘZYKI</li>
        <li>PRZEDSZKOLE NR 17 SIÓSTR SŁUŻEBNICZEK</li>
        <li>PRZEDSZKOLE NR 2 ZGROMADZENIA SIÓSTR MIŁOSIERDZIA</li>
        <li>PRZEDSZKOLE NR 26 IM. ŚW. FRANCISZKA Z ASYŻU ZGROMADZENIA SIÓSTR SERAFITEK W KRAKOWIE</li>
        <li>PRZEDSZKOLE NR 3 ZGROMADZENIA SIÓSTR KANONICZEK DUCHA ŚWIĘTEGO IM. BŁ. OJCA GWIDONA</li>
        <li>PRZEDSZKOLE NR 40 ZGROMADZENIA CÓREK BOŻEJ MIŁOŚCI IM. JANA PAWŁA II</li>
        <li>PRZEDSZKOLE NR 41 IM. ANIOŁÓW STRÓŻÓW ZGROMADZENIA SIÓSTR AUGUSTIANEK</li>
        <li>PRZEDSZKOLE NR 7 ZGROMADZENIA SIÓSTR SERAFITEK</li>
        <li>PRZEDSZKOLE PUBLICZNE IM. BŁ. EDMUNDA BOJANOWSKIEGO ZGROMADZENIA SIÓSTR SŁUŻEBNICZEK BDNP W KRAKOWIE</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 15 ZGROMADZENIA SIÓSTR FELICJANEK</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 42 ZGROMADZENIA SIÓSTR URSZULANEK UNII RZYMSKIEJ</li>
        <li>PRZEDSZKOLE ZGROMADZENIA SŁUŻEBNIC NAJŚWIĘTSZEGO SERCA JEZUSOWEGO</li>
        <li>PUBLICZNA KATOLICKA SZKOŁA PODSTAWOWA IM. ŚW. RITY W KRAKOWIE</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 160 ZGROMADZENIA SIÓSTR AUGUSTIANEK W KRAKOWIE</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA SIÓSTR PREZENTEK W KRAKOWIE</li>
        <li>PUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE SIÓSTR PREZENTEK W KRAKOWIE</li>
        <li>PUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE ZGROMADZENIA SIÓSTR AUGUSTIANEK IM. ŚW. RITY W KRAKOWIE</li>
        <li>PUBLICZNE PRZEDSZKOLE "WESOŁA CIUCHCIA" NR 2 W KRAKOWIE</li>
        <li>PUBLICZNE PRZEDSZKOLE MALI PRZYJACIELE W KRAKOWIE</li>
        <li>PUBLICZNE PRZEDSZKOLE MALUTKOWO 2 W KRAKOWIE</li>
        <li>PUBLICZNE PRZEDSZKOLE MALUTKOWO W KRAKOWIE</li>
        <li>PUBLICZNE PRZEDSZKOLE NASZA KRAINA W KRAKOWIE</li>
        <li>PUBLICZNE PRZEDSZKOLE WESOŁA POMARAŃCZA</li>
        <li>PUBLICZNE TECHNIKUM RZEMIOSŁA I PRZEDSIĘBIORCZOŚCI</li>
        <li>RZEMIEŚLNICZA BRANŻOWA SZKOŁA I STOPNIA MAŁOPOLSKIEJ IZBY RZEMIOSŁA I PRZEDSIĘBIORCZOŚCI W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 1 IM. STANISŁAWA WYSPIAŃSKIEGO W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 12 "ZACZAROWANA DOROŻKA" W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 122 W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 123 "TĘCZOWA AKADEMIA PRZEDSZKOLAKA" W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 124 "DĘBINKA" W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 139 "NIEZAPOMINAJKA" W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 14 W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 162 IM. WAWELSKIEGO SMOKA W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 17 W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 178 W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 20 W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 21 IM. JÓZEFA DIETLA W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 4 W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 44 W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 45 IM. KUBUSIA PUCHATKA W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 61 "POD WAWELEM" W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 65 "PEREŁKA" W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 79 W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 80 W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 90 IM. ŚWIĘTEGO MIKOŁAJA W KRAKOWIE</li>
        <li>SENSJA - NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO</li>
        <li>SPECJALISTYCZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "KRAKOWSKI OŚRODEK TERAPII"</li>
        <li>SPECJALISTYCZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA DLA DZIECI Z NIEPOWODZENIAMI EDUKACYJNYMI W KRAKOWIE</li>
        <li>SPECJALISTYCZNA PORADNIA WCZESNEJ POMOCY PSYCHOLOGICZNO-PEDAGOGICZNEJ W KRAKOWIE</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY NR 4 W KRAKOWIE</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY PN. "CENTRUM AUTYZMU I CAŁOŚCIOWYCH ZABURZEŃ ROZWOJOWYCH" W KRAKOWIE</li>
        <li>SPOŁECZNA SZKOŁA PODSTAWOWA NR 4 IM. JULIUSZA SŁOWACKIEGO W KRAKOWIE</li>
        <li>SPOŁECZNA SZKOŁA PODSTAWOWA NR 7 SPOŁECZNEGO TOWARZYSTWA OŚWIATOWEGO IM. KS. PROF. JÓZEFA TISCHNERA W KRAKOWIE</li>
        <li>SPOŁECZNE PRZEDSZKOLE STO IM. JULIUSZA SŁOWACKIEGO W KRAKOWIE "JULEK"</li>
        <li>STAROMIEJSKIE CENTRUM KULTURY MŁODZIEŻY W KRAKOWIE</li>
        <li>SZKOŁA BALETOWA W KRAKOWIE</li>
        <li>SZKOŁA FILIALNA SZKOŁY PODSTAWOWEJ NR 95 IM. WŁADYSŁAWA BRONIEWSKIEGO W KRAKOWIE</li>
        <li>SZKOŁA MUZYCZNA I STOPNIA NR 1 IM. STANISŁAWA WIECHOWICZA W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA AMS W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. KOMISJI EDUKACJI NARODOWEJ W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 10 IM. MARII SKŁODOWSKIEJ-CURIE W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 11 IM. JÓZEFA DIETLA W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 114 IM. ARKADEGO FIEDLERA W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 159 SIÓSTR URSZULANEK UNII RZYMSKIEJ W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 16 IM. JANA ŚNIADECKIEGO W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 18 IM. ŚW. ANNY W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. ŚW. WOJCIECHA W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 38 IM. BRACTWA KURKOWEGO W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 39 IM. BARTOSZA GŁOWACKIEGO W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 4 IM. ROMUALDA TRAUGUTTA W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 45 IM. PAULI MONTAL SIÓSTR PIJAREK</li>
        <li>SZKOŁA PODSTAWOWA NR 60 IM. STANISŁAWA WYSPIAŃSKIEGO W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 64 IM. TADEUSZA KOŚCIUSZKI W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 7 IM. WOJSKA POLSKIEGO W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 75 W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 95 IM. WŁADYSŁAWA BRONIEWSKIEGO W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA IM. LUDWIKA JERZEGO KERNA</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 131 IM. ŚW. MIKOŁAJA W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 17 IM. BISKUPA MIRY ŚW. MIKOŁAJA W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 6 W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 9 W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA Z ODDZIAŁAMI INTEGRACYJNYMI NR 128 IM. PŁK. PILOTA STANISŁAWA SKARŻYŃSKIEGO W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA Z ODDZIAŁAMI INTEGRACYJNYMI NR 22 IM. MJR. HENRYKA SUCHARSKIEGO W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA Z ODDZIAŁAMI INTEGRACYJNYMI NR 3 IM. ANDRZEJA FRYCZA-MODRZEWSKIEGO W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA Z ODDZIAŁEM DWUJĘZYCZNYM IM. PIOTRA MICHAŁOWSKIEGO TSSP</li>
        <li>SZKOŁA PODSTAWOWA ZAKONU PIJARÓW IM. KS. STANISŁAWA KONARSKIEGO W KRAKOWIE</li>
        <li>SZKOŁA POLICEALNA "COSINUS I" W KRAKOWIE</li>
        <li>SZKOŁA POLICEALNA "COSINUS PLUS" W KRAKOWIE</li>
        <li>SZKOŁA POLICEALNA ARCHITEKTURY KRAJOBRAZU "ŻAK" ZAOCZNA</li>
        <li>SZKOŁA POLICEALNA CENTRUM NAUKI I BIZNESU "ŻAK" W KRAKOWIE</li>
        <li>SZKOŁA POLICEALNA EDU W KRAKOWIE</li>
        <li>SZKOŁA POLICEALNA MEDYCZNA "ŻAK" W KRAKOWIE</li>
        <li>SZKOŁA POLICEALNA NR 12 W KRAKOWIE</li>
        <li>SZKOŁA POLICEALNA NR 2 W KRAKOWIE</li>
        <li>SZKOŁA POLICEALNA NR 21 W KRAKOWIE</li>
        <li>SZKOŁA POLICEALNA POLSKIEGO CZERWONEGO KRZYŻA W KRAKOWIE IM. MARII HR. TARNOWSKIEJ DLA PRACOWNIKÓW SŁUŻB MEDYCZNYCH I SPOŁECZNYCH</li>
        <li>SZKOŁA POLICEALNA SPECJALNA NR 7 W KRAKOWIE</li>
        <li>SZKOŁA PRZYSPOSABIAJĄCA DO PRACY IM. LUDWIKA JERZEGO KERNA</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY NR 2 W KRAKOWIE</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY NR 3 W KRAKOWIE</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY NR 4 W KRAKOWIE</li>
        <li>SZKOŁA WOKALNO-AKTORSKA W KRAKOWIE</li>
        <li>SZKOŁA ZDROWIA I URODY W KRAKOWIE</li>
        <li>TAX CONSILIUM - NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO</li>
        <li>TECHNIKUM CHEMICZNE I OCHRONY ŚRODOWISKA NR 3 W KRAKOWIE</li>
        <li>TECHNIKUM DLA MŁODZIEŻY "COSINUS" W KRAKOWIE</li>
        <li>TECHNIKUM EKONOMICZNO-HOTELARSKIE NR 4 IM. MIKOŁAJA KOPERNIKA W KRAKOWIE</li>
        <li>TECHNIKUM ENERGETYCZNO-ELEKTRONICZNE NR 9 IM. TADEUSZA KOŚCIUSZKI W KRAKOWIE</li>
        <li>TECHNIKUM INŻYNIERII ŚRODOWISKA NR 13 W KRAKOWIE</li>
        <li>TECHNIKUM KOMUNIKACYJNE NR 25 W KRAKOWIE</li>
        <li>TECHNIKUM KSZTAŁTOWANIA ŚRODOWISKA NR 24 W KRAKOWIE</li>
        <li>TECHNIKUM MECHANICZNE NR 15 IM. SZCZEPANA HUMBERTA W KRAKOWIE</li>
        <li>TECHNIKUM MECHANICZNE NR 30 W KRAKOWIE</li>
        <li>TECHNIKUM PRZEMYSŁU SPOŻYWCZEGO NR 22 IM. ŚW. MAKSYMILIANA MARII KOLBE W KRAKOWIE</li>
        <li>TECHNIKUM TEB EDUKACJA</li>
        <li>V LICEUM OGÓLNOKSZTAŁCĄCE IM. AUGUSTA WITKOWSKIEGO W KRAKOWIE</li>
        <li>V PRYWATNE LICEUM OGÓLNOKSZTAŁCĄCE W KRAKOWIE IM. KRÓLOWEJ JADWIGI</li>
        <li>VEDIUS NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO</li>
        <li>VI LICEUM OGÓLNOKSZTAŁCĄCE IM. ADAMA MICKIEWICZA W KRAKOWIE</li>
        <li>VII LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W KRAKOWIE</li>
        <li>VII PRYWATNE LICEUM OGÓLNOKSZTAŁCĄCE IM. MIKOŁAJA REJA W KRAKOWIE</li>
        <li>VIII LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH IM. ŚW. MAKSYMILIANA MARII KOLBE W KRAKOWIE</li>
        <li>VIII LICEUM OGÓLNOKSZTAŁCĄCE IM. STANISŁAWA WYSPIAŃSKIEGO W KRAKOWIE</li>
        <li>VIII PRYWATNE AKADEMICKIE LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>X LICEUM OGÓLNOKSZTAŁCĄCE IM. KOMISJI EDUKACJI NARODOWEJ W KRAKOWIE</li>
        <li>XIII LICEUM OGÓLNOKSZTAŁCĄCE IM. BOHATERÓW WESTERPLATTE W KRAKOWIE</li>
        <li>XIX LICEUM OGÓLNOKSZTAŁCĄCE SPECJALNE W KRAKOWIE</li>
        <li>XLI LICEUM OGÓLNOKSZTAŁCĄCE IM. KSIĘDZA JANA TWARDOWSKIEGO W KRAKOWIE</li>
        <li>XLII LICEUM OGÓLNOKSZTAŁCĄCE IM. ADAMA MICKIEWICZA W KRAKOWIE</li>
        <li>XLIV LICEUM OGÓLNOKSZTAŁCĄCE IM. KS. STANISŁAWA KONARSKIEGO W KRAKOWIE</li>
        <li>XLV LICEUM OGÓLNOKSZTAŁCĄCE W KRAKOWIE</li>
        <li>XLVI LICEUM OGÓLNOKSZTAŁCĄCE W KRAKOWIE</li>
        <li>XX LICEUM OGÓLNOKSZTAŁCĄCE IM. LEOPOLDA STAFFA W KRAKOWIE</li>
        <li>XXIII LICEUM OGÓLNOKSZTAŁCĄCE IM. PŁK. PILOTA STANISŁAWA SKARŻYŃSKIEGO W KRAKOWIE</li>
        <li>XXIV LICEUM OGÓLNOKSZTAŁCĄCE IM. JANA PAWŁA II W KRAKOWIE</li>
        <li>XXVI LICEUM OGÓLNOKSZTAŁCĄCE W KRAKOWIE</li>
        <li>XXXI LICEUM OGÓLNOKSZTAŁCĄCE IM. ROMANA INGARDENA W KRAKOWIE</li>
        <li>ZAOCZNE LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH "COSINUS PLUS" W KRAKOWIE</li>
        <li>ZAOCZNE LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH YORK W KRAKOWIE</li>
        <li>ZESPÓŁ EKSPERTÓW MANAGER NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO</li>
        <li>ZESPÓŁ SZKÓŁ „PASCAL” W KRAKOWIE</li>
        <li>ZESPÓŁ SZKÓŁ CHEMICZNYCH IM. MARII SKŁODOWSKIEJ-CURIE W KRAKOWIE</li>
        <li>ZESPÓŁ SZKÓŁ EKONOMICZNYCH NR 1 IM. MIKOŁAJA KOPERNIKA W KRAKOWIE</li>
        <li>ZESPÓŁ SZKÓŁ ENERGETYCZNYCH W KRAKOWIE</li>
        <li>ZESPÓŁ SZKÓŁ I PLACÓWEK SPECJALNYCH W KRAKOWIE</li>
        <li>ZESPÓŁ SZKÓŁ INŻYNIERII ŚRODOWISKA I MELIORACJI W KRAKOWIE</li>
        <li>ZESPÓŁ SZKÓŁ MECHANICZNYCH NR 1 IM. SZCZEPANA HUMBERTA W KRAKOWIE</li>
        <li>ZESPÓŁ SZKÓŁ MECHANICZNYCH NR 4 IM. GENERAŁA AUGUSTA EMILA FIELDORFA "NILA" W KRAKOWIE</li>
        <li>ZESPÓŁ SZKÓŁ NR 1 IM. ŚW. RAFAŁA KALINOWSKIEGO W KRAKOWIE</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH MISTRZOSTWA SPORTOWEGO IM. MIKOŁAJA KOPERNIKA W KRAKOWIE</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH NR 1 W KRAKOWIE</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH NR 13 W KRAKOWIE</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH NR 9 W KRAKOWIE</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH SPOŁECZNEGO TOWARZYSTWA OŚWIATOWEGO</li>
        <li>ZESPÓŁ SZKÓŁ PRZEMYSŁU SPOŻYWCZEGO W KRAKOWIE</li>
        <li>ZESPÓŁ SZKÓŁ RZEMIOSŁA I PRZEDSIĘBIORCZOŚCI MAŁOPOLSKIEJ IZBY RZEMIOSŁA I PRZEDSIĘBIORCZOŚCI W KRAKOWIE</li>
        <li>ZESPÓŁ SZKÓŁ ZAWODOWYCH POLSKIEGO GÓRNICTWA NAFTOWEGO I GAZOWNICTWA IM. PROFESORA WALEREGO GOETLA W KRAKOWIE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 3 W KRAKOWIE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 6 W KRAKOWIE</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
