
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Głogoczów</title>
</head>
<body>
    <h1>Schools in Głogoczów</h1>
    <ul>
        <li>PRZEDSZKOLE SAMORZĄDOWE W GŁOGOCZOWIE</li>
        <li>SZKOŁA PODSTAWOWA IM.TADEUSZA KOŚCIUSZKI W GŁOGOCZOWIE</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH IM. TADEUSZA KOŚCIUSZKI W GŁOGOCZOWIE</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
