
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Niedźwiedź</title>
</head>
<body>
    <h1>Schools in Niedźwiedź</h1>
    <ul>
        <li>PRYWATNE PRZEDSZKOLE MARZYMISIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE W NIEDŹWIEDZIU</li>
        <li>SZKOŁA MUZYCZNA I-GO STOPNIA W NIEDŹWIEDZIU</li>
        <li>SZKOŁA PODSTAWOWA IM. WŁADYSŁAWA ORKANA W NIEDŹWIEDZIU</li>
        <li>SZKOŁA PODSTAWOWA W NIEDŹWIEDZIU</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
