
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Ptaszkowa</title>
</head>
<body>
    <h1>Schools in Ptaszkowa</h1>
    <ul>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 1 W PTASZKOWEJ</li>
        <li>PUBLICZNE PRZEDSZKOLE SAMORZĄDOWE W PTASZKOWEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. WŁADYSŁAWA JAGIEŁŁY W PTASZKOWEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. KRÓLOWEJ JADWIGII W PTASZKOWEJ</li>
        <li>ZESPÓŁ SZKOLNO- PRZEDSZKOLNY NR 1 W PTASZKOWEJ</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W PTASZKOWEJ</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
