
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Gromnik</title>
</head>
<body>
    <h1>Schools in Gromnik</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W GROMNIKU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W GROMNIKU</li>
        <li>PRZEDSZKOLE PUBLICZNE W GROMNIKU</li>
        <li>SZKOŁA PODSTAWOWA IM. WINCENTEGO WITOSA W GROMNIKU</li>
        <li>TECHNIKUM W GROMNIKU</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCACYCH I ZAWODOWYCH IM. JANA PAWŁA II W GROMNIKU</li>
        <li>ZESPÓŁ SZKÓŁ W GROMNIKU</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
