
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Tokarnia</title>
</head>
<body>
    <h1>Schools in Tokarnia</h1>
    <ul>
        <li>SAMORZĄDOWE PRZEDSZKOLE W TOKARNI</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. KSIĘDZA KARDYNAŁA STEFANA WYSZYŃSKIEGO PRYMASA TYSIĄCLECIA W TOKARNI</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. STANISŁAWA MARUSARZA W TOKARNI</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
