
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Książ Wielki</title>
</head>
<body>
    <h1>Schools in Książ Wielki</h1>
    <ul>
        <li>NIEPUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE W KSIĄŻU WIELKIM</li>
        <li>NIEPUBLICZNE TECHNIKUM W KSIĄŻU WIELKIM</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE W KSIĄŻU WIELKIM</li>
        <li>SZKOŁA PODSTAWOWA W KSIĄŻU WIELKIM</li>
        <li>SZKOLNE SCHRONISKO MŁODZIEŻOWE W KSIĄŻU WIELKIM</li>
        <li>ZESPÓŁ NIEPUBLICZNYCH SZKÓŁ I PLACÓWEK OŚWIATOWYCH W KSIĄŻU WIELKIM</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W KSIĄŻU WIELKIM</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
