
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Kraków-Nowa Huta</title>
</head>
<body>
    <h1>Schools in Kraków-Nowa Huta</h1>
    <ul>
        <li>AKADEMICKIE LICEUM OGÓLNOKSZTAŁCĄCE "EMMANUEL"</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA HUTY IM. TADEUSZA SENDZIMIRA</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 11 W KRAKOWIE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 17 W KRAKOWIE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 2 IM. STUDENCKIEGO KOMITETU SOLIDARNOŚCI W KRAKOWIE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 21 W KRAKOWIE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 4 W KRAKOWIE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 7 W KRAKOWIE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA PRZEDSIĘBIORSTWA BUDOWNICTWA PRZEMYSŁOWEGO "CHEMOBUDOWA-KRAKÓW" SPÓŁKA AKCYJNA</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA NR 4 W KRAKOWIE</li>
        <li>BRANŻOWA SZKOŁA SPECJALNA I STOPNIA NR 31 W KRAKOWIE</li>
        <li>BURSA SZKOLNICTWA PONADPODSTAWOWEGO NR 2 W KRAKOWIE</li>
        <li>CENTRUM BEZPIECZEŃSTWA SZKOLENIA STRZELANIA - NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO</li>
        <li>CENTRUM JĘZYKÓW EUROPEJSKICH "INTELLECT"</li>
        <li>CENTRUM KSZTAŁCENIA I SZKOLENIA</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO W KRAKOWIE</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO W KRAKOWIE</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO NR 2 W KRAKOWIE</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO W KRAKOWIE</li>
        <li>CHRZEŚCIJAŃSKA SZKOŁA PODSTAWOWA Z ODDZIAŁAMI INTEGRACYJNYMI "EMMANUEL"</li>
        <li>DA VINCI PUBLICZNA SZKOŁA PODSTAWOWA W KRAKOWIE</li>
        <li>DA VINCI SPOŁECZNE LICEUM OGÓLNOKSZTAŁCĄCE W KRAKOWIE</li>
        <li>DA VINCI ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH W KRAKOWIE</li>
        <li>FILIA NR 1 SZKOŁY PODSTAWOWEJ SPECJALNEJ NR 6 W KRAKOWIE</li>
        <li>FILIA PORADNI PSYCHOLOGICZNO-PEDAGOGICZNEJ NR 4 W KRAKOWIE</li>
        <li>FRYZJERSKO-KOSMETYCZNA NIEPUBLICZNA SZKOŁA BRANŻOWA I STOPNIA</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE SPORTOWE W KRAKOWIE</li>
        <li>III LICEUM OGÓLNOKSZTAŁCĄCE IM. JANA KOCHANOWSKIEGO W KRAKOWIE</li>
        <li>KATOLICKA SZKOŁA PODSTAWOWA RUCHU ŚWIATŁO-ŻYCIE IM. KS. FRANCISZKA BLACHNICKIEGO</li>
        <li>KRAKOWSKA RZEMIEŚLNICZA SZKOŁA BRANŻOWA I STOPNIA</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH PRZEDSIĘBIORSTWA BUDOWNICTWA PRZEMYSŁOWEGO "CHEMOBUDOWA-KRAKÓW" S.A.</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE HUTY IM. TADEUSZA SENDZIMIRA</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. BOGDANA JAŃSKIEGO W KRAKOWIE</li>
        <li>LOKOMOTYWA - NIEPUBLICZNE PRZEDSZKOLE NR 2 W KRAKOWIE</li>
        <li>MIĘDZYSZKOLNY OŚRODEK SPORTOWY KRAKÓW "WSCHÓD"</li>
        <li>MŁODZIEŻOWY DOM KULTURY FORT 49 "KRZESŁAWICE" W KRAKOWIE</li>
        <li>MŁODZIEŻOWY DOM KULTURY IM. ANDRZEJA BURSY W KRAKOWIE</li>
        <li>MŁODZIEŻOWY DOM KULTURY IM. JANUSZA KORCZAKA W KRAKOWIE</li>
        <li>NIEPUBLICZNA DWUJĘZYCZNA SZKOŁA PODSTAWOWA DA VINCI'S INTERNATIONAL PRIMARY SCHOOL</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO - ORBE</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO "MED COACH"</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO CZARABA - PSTB</li>
        <li>NIEPUBLICZNA PLACÓWKA WYCHOWANIA POZASZKOLNEGO LINGUA</li>
        <li>NIEPUBLICZNA POLICEALNA KRAKOWSKA SZKOŁA WOKALNO-AKTORSKA W KRAKOWIE</li>
        <li>NIEPUBLICZNA POLICEALNA SZKOŁA MEDYCZNA</li>
        <li>NIEPUBLICZNA POLICEALNA SZKOŁA PLASTYCZNA FAM W KRAKOWIE</li>
        <li>NIEPUBLICZNA POLICEALNA SZKOŁA ZAWODOWA CENTRUM NAUKI BIZNESU I ADMINISTRACJI W KRAKOWIE</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA PROGRESSIO</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA "WYOBRAŹNIA" W KRAKOWIE</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA EDUKACJI MATEMATYCZNEJ "EDU&MATH"</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA MISTRZOSTWA SPORTOWEGO MARCINA GORTATA</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA SPECJALNA "UMIEM" W KRAKOWIE</li>
        <li>NIEPUBLICZNA SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY "UMIEM" W KRAKOWIE</li>
        <li>NIEPUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE SZKOŁY SPORTOWEJ PIŁKI NOŻNEJ IM. GENERAŁA BERNARDA MONDA</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "AKADEMIA MAŁYCH EINSTEINÓW - NA SZLAKU CYSTERSKIM"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "AKTYWNY MALUSZEK"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "BAJKOLANDIA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "BAJKOWY DWOREK"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "CHODŹMY NA POLE"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "KOLOROWY OBŁOCZEK"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "MALI ARTYŚCI"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "MINI MINI"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "MISIE FILIPISIE"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "PRZEDSZKOLAKI Z NASZEJ PAKI"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "RADOSNE SKRZATY"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE AKADEMIA MAŁYCH EINSTEINÓW 2</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE ARCELORMITTAL POLAND "AKADEMIA MAŁYCH POCIECH W KRAKOWIE"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE EKOLOGICZNE "GREEN PLACE"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE FAIR PLAY PIAST</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE HAPPY TRAIN W KRAKOWIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE HARMONIA</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE INTEGRACYJNE "BAJKOWA KRAINA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE JĘZYKOWO-SPORTOWE FAIR PLAY JP SPORTS</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE KIDS ACADEMY W KRAKOWIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE REKREACYJNO-SPORTOWE "MAJA I GUCIO 2"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE ŚWIĘTEJ KLARY</li>
        <li>NIEPUBLICZNY OŚRODEK DOKSZTAŁCANIA I DOSKONALENIA ZAWODOWEGO DLA DOROSŁYCH BIO RELAX</li>
        <li>NIEPUBLICZNY OŚRODEK DOSKONALENIA NAUCZYCIELI EDUPROGRESS</li>
        <li>NIEPUBLICZNY OŚRODEK DOSKONALENIA NAUCZYCIELI"CENTRUM EDUKACJI ARTYSTYCZNEJ MUZYLEK"</li>
        <li>NIEPUBLICZNY OŚRODEK SZKOLENIA MAT-SERWIS</li>
        <li>OGÓLNOKSZTAŁCACA SZKOŁA MUZYCZNA I ST. W KRAKOWIE</li>
        <li>OGÓLNOKSZTAŁCACA SZKOŁA MUZYCZNA II ST. W KRAKOWIE</li>
        <li>OGÓLNOPOLSKIE CENTRUM NAUCZANIA PIERWSZEJ POMOCY I BEZPIECZEŃSTWA</li>
        <li>OGÓLNOPOLSKIE CENTRUM RATOWNICTWA KOMANDOS NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO</li>
        <li>OŚRODEK DOSKONALENIA TECHNIKI JAZDY MOTO PARK KRAKÓW-NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO</li>
        <li>OŚRODEK SZKOLEŃ I DORADZTWA "WIZJA"</li>
        <li>OŚRODEK SZKOLENIA "KOMANDOS"</li>
        <li>OŚRODEK SZKOLENIA "OCHRONA" PLACÓWKA KSZTAŁCENIA USTAWICZNEGO</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I ST. W KRAKOWIE</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA II ST. W KRAKOWIE</li>
        <li>PEDAGOGICZNA BIBLIOTEKA WOJEWÓDZKA IM. HUGONA KOŁŁĄTAJA W KRAKOWIE FILIA W NOWEJ HUCIE</li>
        <li>PIERWSZE KROCZKI PRZEDSZKOLE NIEPUBLICZNE IM. JANUSZA KORCZAKA W KRAKOWIE</li>
        <li>PLACÓWKA KSZTAŁCENIA USTAWICZNEGO "SUKCES" W KRAKOWIE</li>
        <li>PLACÓWKA KSZTAŁCENIA USTAWICZNEGO CENTRUM NAUKI, BIZNESU I ADMINISTRACJI W KRAKOWIE</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA NR 4 IM. JANUSZA KORCZAKA W KRAKOWIE</li>
        <li>PRYWATNE PRZEDSZKOLE "BAJECZKA"</li>
        <li>PRYWATNE PRZEDSZKOLE "NIEDŹWIADKA GRUCHATKI"</li>
        <li>PRYWATNE PRZEDSZKOLE "SŁONECZNE WZGÓRZE"</li>
        <li>PRYWATNE PRZEDSZKOLE NR 11 "ENGLISH SPEAKING PRE - SCHOOL GLOB-KUBICKA JOANNA KUBICKA" W KRAKOWIE</li>
        <li>PRYWATNE PRZEDSZKOLE NR 18</li>
        <li>PRYWATNE PRZEDSZKOLE NR 4</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "AKADEMIA SKRZATÓW"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "HUTA DZIECI"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "HUTNICZEK"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "MALINOWY DOMEK"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE HIGH FIVE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE JEDYNECZKA</li>
        <li>PRZEDSZKOLE PARAFII MIŁOSIERDZIA BOŻEGO NR 188 W KRAKOWIE</li>
        <li>PRZEDSZKOLE PRYWATNE NR 1 PILCH TERESA GRAŻYNA</li>
        <li>PRZEDSZKOLE PUBLICZNE "MALI, ALE WIELCY" W KRAKOWIE</li>
        <li>PRZEDSZKOLE PUBLICZNE "NASZE SKARBY" NR 1</li>
        <li>PRZEDSZKOLE PUBLICZNE MAŁY INŻYNIER</li>
        <li>PRZEDSZKOLE PUBLICZNE MOTYLKI W KRAKOWIE</li>
        <li>PRZEDSZKOLE SPECJALNE NR 15 W KRAKOWIE</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA IM. ŚW. WINCENTEGO PALLOTTIEGO W KRAKOWIE</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA SIÓSTR SALEZJANEK IM. BŁOGOSŁAWIONEJ LAURY VICUÑA W KRAKOWIE</li>
        <li>PUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE IM. KRÓLOWEJ APOSTOŁÓW W KRAKOWIE</li>
        <li>PUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE SIÓSTR SALEZJANEK IM. ŚWIĘTEGO DOMINIKA SAVIO W KRAKOWIE</li>
        <li>PUBLICZNE PRZEDSZKOLE "A KUKU"</li>
        <li>PUBLICZNE PRZEDSZKOLE "A KUKU" NR 2</li>
        <li>PUBLICZNE PRZEDSZKOLE "A KUKU" NR 3</li>
        <li>PUBLICZNE PRZEDSZKOLE "BAJKOWA DOLINKA"</li>
        <li>PUBLICZNE PRZEDSZKOLE "GLUKUSIE" W KRAKOWIE</li>
        <li>PUBLICZNE PRZEDSZKOLE "HAPPY KIDS" NR 6 W KRAKOWIE</li>
        <li>PUBLICZNE PRZEDSZKOLE "KRAINA BAJECZNA" W KRAKOWIE</li>
        <li>PUBLICZNE PRZEDSZKOLE "MAŁE ANIOŁKI"</li>
        <li>PUBLICZNE PRZEDSZKOLE "PAN SAMOCHODZIK"</li>
        <li>PUBLICZNE PRZEDSZKOLE "POD MAGNOLIĄ" NR 3 W KRAKOWIE</li>
        <li>PUBLICZNE PRZEDSZKOLE "POD MAGNOLIĄ" NR 5 W KRAKOWIE</li>
        <li>PUBLICZNE PRZEDSZKOLE "POD MAGNOLIĄ" NR 6 W KRAKOWIE</li>
        <li>PUBLICZNE PRZEDSZKOLE BAJKA W KRAKOWIE</li>
        <li>PUBLICZNE PRZEDSZKOLE FAIR PLAY NR 1 W KRAKOWIE</li>
        <li>PUBLICZNE PRZEDSZKOLE FAIR PLAY NR 3 W KRAKOWIE</li>
        <li>PUBLICZNE PRZEDSZKOLE HOPKIDS NR 1 W KRAKOWIE</li>
        <li>PUBLICZNE PRZEDSZKOLE HOPKIDS NR 3 W KRAKOWIE</li>
        <li>PUBLICZNE SALEZJAŃSKIE LICEUM OGÓLNOKSZTAŁCĄCE W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 102 W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 104 IM. MAŁEGO KSIĘCIA W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 105 W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 107 "SŁONECZNE NUTKI" W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 108 "KRAINA TĘCZY" W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 109 W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 110 IM. MARII KOWNACKIEJ W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 111 "POD MODRZEWIEM" W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 112 IM. LUCYNY KRZEMIENIECKIEJ W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 113 "PRZYJACIELE WAWELSKIEGO SMOKA" W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 115 "WESOŁA KRAINA TWÓRCZOŚCI" W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 116 "KRAINA MAŁYCH SPORTOWCÓW" W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 117 "POD JARZĘBINKĄ" W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 120 W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 125 IM. JANA MARCINA SZANCERA W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 131 "STOKROTKA" W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 142 "DZIECIĘCA ARKA" W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 143 W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 144 W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 148 W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 151 "NA KRAKOWSKĄ NUTĘ" W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 152 "AKADEMIA DZIECIĘCEJ TWÓRCZOŚCI" W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 177 IM. CZESŁAWA JANCZARSKIEGO W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 182 "PRZY ŹRÓDEŁKU" W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 185 "SŁONECZKO" W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 187 "POD LIPAMI" W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 19 W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 46 IM. CARLA ORFFA W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 63 "WESOŁE SKRZATY" W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 64 W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 88 "WESOŁE ÓSEMKI" W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 93 IM. JULIANA TUWIMA W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 94 IM. JANKA MUZYKANTA W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 96 "POD ŚWIERKAMI" W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 97 IM. JANA BRZECHWY W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 98 W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 99 "ZIELONY MOTYLEK" W KRAKOWIE</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE SPECJALNE NR 100 W KRAKOWIE</li>
        <li>SECURCOM - NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO</li>
        <li>SPECJALISTYCZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA POWIATU KRAKOWSKIEGO</li>
        <li>SPOŁECZNA SZKOŁA PODSTAWOWA NR 3 SPOŁECZNEGO TOWARZYSTWA OŚWIATOWEGO W KRAKOWIE</li>
        <li>SZKOŁA ASPIRANTÓW PAŃSTWOWEJ STRAŻY POŻARNEJ</li>
        <li>SZKOŁA MISTRZOSTWA SPORTOWEGO LICEUM OGÓLNOKSZTAŁCĄCE MARCINA GORTATA</li>
        <li>SZKOŁA PODSTAWOWA IM. BOGDANA JAŃSKIEGO W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 100 IM. ADAMA MICKIEWICZA W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 101 IM. HANSA CHRISTIANA ANDERSENA W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 103 IM. KONSTANTEGO ILDEFONSA GAŁCZYŃSKIEGO W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 104 IM. JANA MATEJKI W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 126 IM. KOMISJI EDUKACJI NARODOWEJ W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 129 IM. KORNELA MAKUSZYŃSKIEGO W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 130 IM. JANA BRZECHWY W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 140 IM. STANISŁAWA WYSPIAŃSKIEGO W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 141 IM. KSIĘDZA JANA TWARDOWSKIEGO W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 142 IM. TADEUSZA KOŚCIUSZKI W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 155 IM. ŚW. JADWIGI KRÓLOWEJ W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 156 IM. KS. KARD. ADAMA STEFANA SAPIEHY W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 37 IM. JULIANA TUWIMA W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 52 IM. MARII DĄBROWSKIEJ W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 74 IM. STANISŁAWA STASZICA W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 78 IM. PIOTRA MICHAŁOWSKIEGO W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 80 IM. WOJCIECHA BOGUSŁAWSKIEGO W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 82 IM. ŚWIĘTEJ JADWIGI KRÓLOWEJ POLSKI W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 85 IM. KS. KAZIMIERZA JANCARZA W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 86 IM. POWSTAŃCÓW ŚLĄSKICH W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 87 - SPORTOWA IM. DR. HENRYKA JORDANA W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 88 IM. STEFANA ŻEROMSKIEGO W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 89 IM. KORNELA MAKUSZYŃSKIEGO W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 91 IM. JANUSZA KUSOCIŃSKIEGO W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 92 IM. BOHATERÓW WESTERPLATTE W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 71 W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 79 IM. JÓZEFY JOTEYKO W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA Z ODDZIAŁAMI INTEGRACYJNYMI NR 105 IM. LUDWIKI WAWRZYŃSKIEJ W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA Z ODDZIAŁAMI INTEGRACYJNYMI NR 144 IM. BOHATERÓW WRZEŚNIA 1939 W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA Z ODDZIAŁAMI INTEGRACYJNYMI NR 77 IM. ŚWIĘTEGO MAKSYMILIANA MARII KOLBEGO W KRAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA Z ODDZIAŁAMI INTEGRACYJNYMI NR 98 IM. HENRYKA SIENKIEWICZA W KRAKOWIE</li>
        <li>SZKOŁA POLICEALNA NR 10 W KRAKOWIE</li>
        <li>SZKOŁA POLICEALNA NR 17 W KRAKOWIE</li>
        <li>SZKOŁA POLICEALNA NR 3 W KRAKOWIE</li>
        <li>SZKOŁA POLICEALNA PRACOWNIKÓW SŁUŻB MEDYCZNYCH I SPOŁECZNYCH NR 3 IM. HANNY CHRZANOWSKIEJ W KRAKOWIE</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY NR 1 W KRAKOWIE</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY NR 7 IM. JÓZEFY JOTEYKO W KRAKOWIE</li>
        <li>TECHNIKUM EKONOMICZNO-HANDLOWE NR 5 W KRAKOWIE</li>
        <li>TECHNIKUM ELEKTRYCZNE NR 8 W KRAKOWIE</li>
        <li>TECHNIKUM GASTRONOMICZNO-HOTELARSKIE NR 10 W KRAKOWIE</li>
        <li>TECHNIKUM HUTY IM. TADEUSZA SENDZIMIRA</li>
        <li>TECHNIKUM MECHANICZNE NR 17 W KRAKOWIE</li>
        <li>TECHNIKUM NR 2 IM. STUDENCKIEGO KOMITETU SOLIDARNOŚCI W KRAKOWIE</li>
        <li>TECHNIKUM POLIGRAFICZNO-MEDIALNE NR 20 IM. ZENONA KLEMENSIEWICZA W KRAKOWIE</li>
        <li>TECHNIKUM PRZEDSIĘBIORSTWA BUDOWNICTWA PRZEMYSŁOWEGO "CHEMOBUDOWA-KRAKÓW" S.A.</li>
        <li>V LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W KRAKOWIE</li>
        <li>XI LICEUM OGÓLNOKSZTAŁCĄCE IM. MARII DĄBROWSKIEJ W KRAKOWIE</li>
        <li>XII LICEUM OGÓLNOKSZTAŁCĄCE IM. CYPRIANA KAMILA NORWIDA W KRAKOWIE</li>
        <li>XLVII LICEUM OGÓLNOKSZTAŁCĄCE W KRAKOWIE</li>
        <li>XVI LICEUM OGÓLNOKSZTAŁCĄCE IM. KRZYSZTOFA KAMILA BACZYŃSKIEGO W KRAKOWIE</li>
        <li>XXI LICEUM OGÓLNOKSZTAŁCĄCE IM. STANISŁAWA IGNACEGO WITKIEWICZA-WITKACEGO W KRAKOWIE</li>
        <li>XXII LICEUM OGÓLNOKSZTAŁCĄCE IM. GENERAŁA BRONISŁAWA DUCHA W KRAKOWIE</li>
        <li>XXX LICEUM OGÓLNOKSZTAŁCĄCE IM. ŚWIĘTEGO BRATA ALBERTA - ADAMA CHMIELOWSKIEGO W KRAKOWIE</li>
        <li>ZESPÓŁ JEDNOSTEK EDUKACYJNYCH WOJEWÓDZTWA MAŁOPOLSKIEGO W KRAKOWIE</li>
        <li>ZESPÓŁ NIEPUBLICZNYCH SZKÓŁ SPECJALNYCH „UMIEM” W KRAKOWIE</li>
        <li>ZESPÓŁ PAŃSTWOWYCH SZKÓŁ MUZYCZNYCH IM. MIECZYSŁAWA KARŁOWICZA W KRAKOWIE</li>
        <li>ZESPÓŁ SZKÓŁ BUDOWLANYCH PRZYZAKŁADOWYCH PRZEDSIĘBIORSTWA BUDOWNICTWA PRZEMYSŁOWEGO "CHEMOBUDOWA-KRAKÓW" SA</li>
        <li>ZESPÓŁ SZKÓŁ EKONOMICZNYCH NR 2 IM. IGNACEGO DASZYŃSKIEGO W KRAKOWIE</li>
        <li>ZESPÓŁ SZKÓŁ ELEKTRYCZNYCH NR 2 W KRAKOWIE</li>
        <li>ZESPÓŁ SZKÓŁ GASTRONOMICZNYCH NR 1 IM. MJR. HENRYKA SUCHARSKIEGO W KRAKOWIE</li>
        <li>ZESPÓŁ SZKÓŁ MECHANICZNYCH NR 3 IM. GENERAŁA WŁADYSŁAWA SIKORSKIEGO W KRAKOWIE</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH SPORTOWYCH NR 2 W KRAKOWIE</li>
        <li>ZESPÓŁ SZKÓŁ PALLOTYŃSKICH</li>
        <li>ZESPÓŁ SZKÓŁ POLIGRAFICZNO-MEDIALNYCH IM. ZENONA KLEMENSIEWICZA W KRAKOWIE</li>
        <li>ZESPÓŁ SZKÓŁ SIÓSTR SALEZJANEK W KRAKOWIE</li>
        <li>ZESPÓŁ SZKÓŁ SPECJALNYCH NR 14 IM. PROF. DR MARII GRZEGORZEWSKIEJ W KRAKOWIE</li>
        <li>ZESPÓŁ SZKÓŁ SPECJALNYCH NR 6 W KRAKOWIE</li>
        <li>ZESPÓŁ SZKÓŁ ZAWODOWYCH HUTY IM. TADEUSZA SENDZIMIRA W KRAKOWIE</li>
        <li>ZESPÓŁ SZKÓŁ ZAWODOWYCH NR 2 W KRAKOWIE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 5 W KRAKOWIE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 9 W KRAKOWIE</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
