
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Tymbark</title>
</head>
<body>
    <h1>Schools in Tymbark</h1>
    <ul>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO W LIMANOWEJ - FILIA NR2</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA "SZANSA"</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA CHIRAMED</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "U CIOCI AGATKI"</li>
        <li>NIEPUBLICZNY OŚRODEK REWALIDACYJNO - WYCHOWAWCZY "POD SKRZYDŁAMI" W TYMBARKU</li>
        <li>PARAFIALNE PRZEDSZKOLE INTEGRACYJNE IM. ŚW. KINGI W TYMBARKU</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE IM. HANSA CHRISTIANA ANDERSENA W TYMBARKU</li>
        <li>SPOŁECZNA PUBLICZNA SZKOŁA MUZYCZNA I STOPNIA W TYMBARKU</li>
        <li>SZKOŁA PODSTAWOWA IM. JÓZEFA MARKA W TYMBARKU</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH W LIMANOWEJ - SZKOLNE SEZONOWE SCHRONISKO MŁODZIEŻOWE W TYMBARKU</li>
        <li>ZESPÓŁ SZKÓŁ IM. KOMISJI EDUKACJI NARODOWEJ W TYMBARKU</li>
        <li>ZESPÓŁ SZKÓŁ IM. KOMISJI EDUKACJI NARODOWEJ W TYMBARKU - LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>ZESPÓŁ SZKÓŁ IM. KOMISJI EDUKACJI NARODOWEJ W TYMBARKU - TECHNIKUM</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
