
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Skawina</title>
</head>
<body>
    <h1>Schools in Skawina</h1>
    <ul>
        <li>BIBLIOTEKA PEDAGOGICZNA</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA SPECJALNA W SKAWINIE W SPECJALNYM OŚRODKU SZKOLNO-WYCHOWAWCZYM IM. POCZTY POLSKIEJ W SKAWINIE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA W SKAWINIE W ZESPOLE SZKÓŁ TECHNICZNO-EKONOMICZNYCH W SKAWINIE</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA W SKAWINIE W ZESPOLE SZKÓŁ TECHNICZNO-EKONOMICZNYCH W SKAWINIE</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO W SKAWINIE</li>
        <li>KATOLICKA SZKOŁA PODSTAWOWA IM. JANA PAWŁA II W SKAWINIE</li>
        <li>KATOLICKIE LICEUM OGÓLNOKSZTAŁCĄCE IM. JANA PAWŁA II W SKAWINIE</li>
        <li>KATOLICKIE PRZEDSZKOLE IM. KS.PRYM. S. WYSZYŃSKIEGO PRZY PARAFII MIŁOSIERDZIA BOŻEGO W SKAWINIE UL. MC SKŁODOWSKIEJ 12</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W SKAWINIE W ZESPOLE SZKÓŁ TECHNICZNO-EKONOMICZNYCH W SKAWINIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. MARII SKŁODOWSKIEJ-CURIE W SKAWINIE</li>
        <li>NIEPUBLICZNA PLACÓWKA OŚWIATOWA KSZTAŁCENIA USTAWICZNEGO "AMPLUS-ACTIO"</li>
        <li>NIEPUBLICZNA PLACÓWKA OŚWIATOWO-WYCHOWAWCZA GIGANCI PROGRAMOWANIA</li>
        <li>NIEPUBLICZNE OGNISKO ARTYSTYCZNE "SZKOŁA RYSUNKU ZALUBOWSKI" W SKAWINIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "MAJOWA ŁĄKA" W SKAWINIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "MAŁA AKADEMIA MONTESSORI" 32-050 SKAWINA UL. ESTERY 2</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "PARKOWE SKRZATY", 32-050 SKAWINA, UL. ZAMKOWA 14 A</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "ZIPI INKLUZJA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE KINDER PLANET DAWID ŁATA</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY "SKAWIŃSKIE SMYKI"</li>
        <li>NIEPUBLICZNY SPECJALISTYCZNY PUNKT PRZEDSZKOLNY "TERAZ MY" 32-050 SKAWINA, UL. LIPOWA 10</li>
        <li>PRYWATNA SZKOŁA PODSTAWOWA "ROYAL SCHOOL"</li>
        <li>PRYWATNE PRZEDSZKOLE "BAJKOWA KRAINA" 32-050 SKAWINA, UL. 29 LISTOPADA 12D/1</li>
        <li>PRYWATNE PRZEDSZKOLE "ROYAL BABY"</li>
        <li>PRYWATNE PRZEDSZKOLE "ROYAL"</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 1 32-050 SKAWINA UL, KOŚCIELNA 2</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 2 Z ODDZIAŁAMI INTEGRACYJNYMI I SPECJALNYMI 32-050 SKAWINA, UL. ŻWIRKI I WIGURY 56</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 3 32-050 SKAWINA, UL. NIEPODLEGŁOSCI 7</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 5 32-050 SKAWINA, UL. DASZYŃSKIEGO 11</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 6 Z ODDZIAŁEM ŻŁOBKOWYM 32-050 SKAWINA, UL. BUKOWSKA 17</li>
        <li>SPECJALISTYCZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA 32-050 SKAWINA, UL. KOŚCIUSZKI 10</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY IM.POCZTY POLSKIEJ W SKAWINIE</li>
        <li>SPOŁECZNA SZKOŁA PODSTAWOWA "ZIPI INKLUZJA"</li>
        <li>SZKOŁA MUZYCZNA I STOPNIA W SKAWINIE, 32-050 SKAWINA, UL. W. WITOSA 4</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. MIKOŁAJA KOPERNIKA 32-050 SKAWINA UL. KORABNICKA 19</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. KAZIMIERZA WIELKIEGO 32-050 SKAWINA, UL. ŻWIRKI I WIGURY 17</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. KOMISJI EDUKACJI NARODOWEJ 32-050 SKAWINA, UL. ADAMA MICKIEWICZA 11 A</li>
        <li>SZKOŁA PODSTAWOWA NR 4 IM. STANISŁAWA WYSPIAŃSKIEGO 32-050 SKAWINA, UL. WYSPIAŃSKIEGO 5</li>
        <li>SZKOŁA PODSTAWOWA NR 6 Z ODDZIAŁAMI INTEGRACYJNYMI IM. NOBLISTÓW POLSKICH 32-050 SKAWINA UL. WINCENTEGO WITOSA 4</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 5 W SKAWINIE W SPECJALNYM OŚRODKU SZKOLNO-WYCHOWAWCZYM IM. POCZTY POLSKIEJ W SKAWINIE</li>
        <li>SZKOŁA POLICEALNA W SKAWINIE W ZESPOLE SZKÓŁ TECHNICZNO-EKONOMICZNYCH W SKAWINIE</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W SKAWINIE W SPECJALNYM OŚRODKU SZKOLNO-WYCHOWAWCZYM IM. POCZTY POLSKIEJ W SKAWINIE</li>
        <li>TECHNIKUM W SKAWINIE W ZESPOLE SZKÓŁ TECHNICZNO-EKONOMICZNYCH W SKAWINIE</li>
        <li>ZESPÓŁ KATOLICKICH SZKÓŁ IM. JANA PAWŁA II W SKAWINIE</li>
        <li>ZESPÓŁ SPECJALISTYCZNYCH PLACÓWEK WSPIERANIA EDUKACJI W SKAWINIE</li>
        <li>ZESPÓŁ SZKÓŁ TECHNICZNO-EKONOMICZNYCH W SKAWINIE</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
