
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Jadowniki Mokre</title>
</head>
<body>
    <h1>Schools in Jadowniki Mokre</h1>
    <ul>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA SPECJALNA W OŚRODKU OPIEKUŃCZO-REHABILITACYJNYM DLA DZIECI I MŁODZIEŻY NIEPEŁNOSPRAWNEJ CARITAS DIECEZJI TARNOWSKIEJ W JADOWNIKACH MOKRYCH</li>
        <li>NIEPUBLICZNA SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W OŚRODKU OPIEKUŃCZO-REHABILITACYJNYM DLA DZIECI I MŁODZIEŻY NIEPEŁNOSPRAWNEJ CARITAS DIECEZJI TARNOWSKIEJ W JADOWNIKACH MOKRYCH</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
