
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Bogucice</title>
</head>
<body>
    <h1>Schools in Bogucice</h1>
    <ul>
        <li>GMINNE PRZEDSZKOLE W BOGUCICACH</li>
        <li>ZESPÓŁ SZKÓŁ GMINNYCH IM. HENRYKA SIENKIEWICZA W BOGUCICACH</li>
        <li>ZESPÓŁ SZKÓŁ GMINNYCH IM. HENRYKA SIENKIEWICZA W BOGUCICACH SZKOŁA PODSTAWOWA W BOGUCICACH</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
