
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Radgoszcz</title>
</head>
<body>
    <h1>Schools in Radgoszcz</h1>
    <ul>
        <li>NIEPUBLICZNE PRZEDSZKOLE MUZYCZNE "KRAINA MELODII" W RADGOSZCZY</li>
        <li>PRZEDSZKOLE PUBLICZNEW RADGOSZCZY</li>
        <li>SZKOŁA PODSTAWOWA W ZARZECZU DUŻYM</li>
        <li>SZKOŁA PODSTAWOWAIM. ELIZY ORZESZKOWEJ W RADGOSZCZY</li>
        <li>ZESPÓŁ SZKOLNO - PRZEDSZKOLNY W RADGOSZCZY</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
