
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Ryglice</title>
</head>
<body>
    <h1>Schools in Ryglice</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W RYGLICACH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W RYGLICACH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA MŁODZIEŻY W RYGLICACH</li>
        <li>PUBLICZNE PRZEDSZKOLE W RYGLICACH</li>
        <li>SZKOŁA PODSTAWOWA IM. KARDYNAŁA STEFANA WYSZYŃSKIEGO W RYGLICACH</li>
        <li>SZKOLA POLICEALNA W RYGLICACH</li>
        <li>SZKOŁA POLICEALNA W RYGLICACH</li>
        <li>TECHNIKUM W RYGLICACH</li>
        <li>ZESPÓŁ SZKÓŁ PONADPODSTAWOWYCH IM. PROF. CZESŁAWA MAJORKA W RYGLICACH</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
