
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Bolechowice</title>
</head>
<body>
    <h1>Schools in Bolechowice</h1>
    <ul>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA HORYZONT</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE FANTAZJA</li>
        <li>PRYWATNE PRZEDSZKOLE "MAGNIFICAT" ZGROMADZENIA SIÓSTR SŁUŻEBNIC NAWIEDZENIA</li>
        <li>SZKOŁA PODSTAWOWA IMIENIA KS. JÓZEFA PONIATOWSKIEGO W BOLECHOWICACH</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
