
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Witkowice</title>
</head>
<body>
    <h1>Schools in Witkowice</h1>
    <ul>
        <li>SAMORZĄDOWA PLACÓWKA WYCHOWANIA PRZEDSZKOLNEGO W WITKOWICACH</li>
        <li>SZKOŁA PODSTAWOWA IM. BRONISŁAWA OBARY W WITKOWICACH</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W WITKOWICACH</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
