
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Łazy</title>
</head>
<body>
    <h1>Schools in Łazy</h1>
    <ul>
        <li>SZKOLNE SCHRONISKO MŁODZIEŻOWE W SKALE -FILIA W ŁAZACH</li>
        <li>ZESPÓŁ SZKOLNO - PRZEDSZKOLNY PUBLICZNA SZKOŁA PODSTAWOWA IM. ŚW. JANA PAWŁA II W ŁAZACH</li>
        <li>ZESPÓŁ SZKOLNO - PRZEDSZKOLNY PUBLICZNE PRZEDSZKOLE W ŁAZACH</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W ŁAZACH</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
