
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Biecz</title>
</head>
<body>
    <h1>Schools in Biecz</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W BIECZU</li>
        <li>BURSA SZKOLNA W BIECZU</li>
        <li>GMINNE PRZEDSZKOLE W BIECZU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. STANISŁAWA WYSPIAŃSKIEGO W BIECZU</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE ZGROMADZENIA SŁUŻEBNIC NAJŚWIĘTSZEGO SERCA JEZUSOWEGO</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W GORLICACH FILIA W BIECZU</li>
        <li>POWIATOWY MIĘDZYSZKOLNY OŚRODEK SPORTOWY W BIECZU</li>
        <li>POWIATOWY ZESPÓŁ PLACÓWEK OŚWIATOWYCH W BIECZU</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM.BPA MARCINA KROMERA W BIECZU</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM.WACŁAWA POTOCKIEGO W BIECZU</li>
        <li>SZKOŁA POLICEALNA W BIECZU</li>
        <li>SZKOLNE SCHRONISKO MŁODZIEŻOWE W BIECZU</li>
        <li>TECHNIKUM W BIECZU</li>
        <li>ZESPÓŁ SZKÓŁ ZAWODOWYCH IM. ŚW. JADWIGI KRÓLOWEJ W BIECZU</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
