
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Wieliczka</title>
</head>
<body>
    <h1>Schools in Wieliczka</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO W WIELICZE</li>
        <li>CENTRUM SZKOLENIA ZAWODOWEGO</li>
        <li>GIGANCI PROGRAMOWANIA</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. JANA MATEJKI W WIELICZCE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE SZKOŁA MISTRZOSTWA SPORTOWEGO</li>
        <li>MIĘDZYSZKOLNY OŚRODEK SPORTOWY W WIELICZCE</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA "MAMILEO"</li>
        <li>NIEPUBLICZNA SPECJALISTYCZNA PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA "ROZWIJANKA"</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA MONTESSORI W WIELICZCE</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA WIELICZKA MONTESSORI SCHOOL - WIELICKA SZKOŁA MONTESSORI</li>
        <li>NIEPUBLICZNA SZKOŁA POLICEALNA NATURAL VOICE PERFECTION INSTITUTE W KRAKOWIE</li>
        <li>NIEPUBLICZNE CENTRUM KSZTAŁCENIA ZAWODOWEGO PRZY POWIATOWYM CECHU RZEMIEŚLNIKÓW I PRZEDSIĘBIORCÓW W WIELICZCE</li>
        <li>NIEPUBLICZNE OGNISKO ARTYSTYCZNE SZKOŁA RYSUNKU ZALUBOWSKI</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "NARNIA" W WIELICZCE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "SIEDMIOMILOWE BUTY" W WIELICZCE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE ARTYSTYCZNO-JĘZYKOWE "PUCHATKOWO" W WIELICZCE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE ARTYSTYCZNO-JĘZYKOWE HIPPO ART W WIELICZCE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE INTEGRACYJNE "TYGRYSEK ED" W WIELICZCE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE MONTESSORI - WIELICZKA</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE MUZYCZNE "BAJKOWY DOM" W WIELICZCE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE SPORTOWO JĘZYKOWE KRAINA PIOTRUSIA PANA W WIELICZCE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE SPORTOWO-JĘZYKOWE FAIR PLAY W WIELICZCE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE TERAPEUTYCZNE "ROZWIJANKA" Z ODDZIAŁAMI SPECJALNYMI I INTEGRACYJNYMI</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE TERAPEUTYCZNE MAMILEO W WIELICZCE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE ZIELONA WIEŻA WIELICZKA</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY DLA DZIECI Z NIEPEŁNOSPRAWNOŚCIAMI "MIKRO W'</li>
        <li>POWIATOWA PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA W WIELICZCE</li>
        <li>POWIATOWE CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO W WIELICZCE</li>
        <li>PRYWATNA SZKOŁA PODSTAWOWA "MACIERZANKA" W WIELICZCE</li>
        <li>PRYWATNA SZKOŁA POLICEALNA MGRA STEFANA KWIETNIOWSKIEGO</li>
        <li>PRYWATNE LICEUM OGÓLNOKSZTAŁCĄCE - NIŻSZE SEMINARIUM DUCHOWNE FRANCISZKANÓW (OFM)</li>
        <li>PRYWATNE LICEUM OGÓLNOKSZTAŁCĄCE MGRA STEFANA KWIETNIOWSKIEGO</li>
        <li>PRYWATNE PRZEDSZKOLE "TUPTUSIE" W WIELICZCE</li>
        <li>PRYWATNE PRZEDSZKOLE JĘZYKOWE "PEREŁKOWO" O PROFILU TEATRALNO-SCENICZNYM W WIELICZCE</li>
        <li>PRZEDSZKOLE "BRATKI" W WIELICZCE</li>
        <li>PRZEDSZKOLE "MONTESSOREK" CARITAS ARCHIDIECEZJI KRAKOWSKIEJ W WIELICZCE</li>
        <li>PRZEDSZKOLE ACTIVEKIDS WIELICZKA</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "LEŚNA AKADEMIA" W WIELICZCE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "OGRÓD TALENTÓW W WIELICZCE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "SKAKANKA" W WIELICZCE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "U ANIOŁKA STRÓŻA" W WIELICZCE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE O PROFILU EDUKACYJNO-SPORTOWYM "MAŁY CHAMPION" W WIELICZCE</li>
        <li>PRZEDSZKOLE PRYWATNE "DZIECIĘCE FANTAZJE" W WIELICZCE</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 1 W WIELICZCE</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 2 W WIELICZCE</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 3 W WIELICZCE</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 4 W WIELICZCE</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 5 IM. BRATA ALOJZEGO KOSIBY W WIELICZCE</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 6 W WIELICZCE</li>
        <li>PUNKT PRZEDSZKOLNY W WIELICZCE OS. BOGUCICE</li>
        <li>SZKOŁA MISTRZOSTWA SPORTOWEGO WIELICZKA - NIEPUBLICZNA SZKOŁA PODSTAWOWA O UPRAWNIENIACH SZKOŁY PUBLICZNEJ</li>
        <li>SZKOŁA MUZYCZNA I STOPNIA W WIELICZCE</li>
        <li>SZKOŁA MUZYCZNA II STOPNIA W WIELICZCE</li>
        <li>SZKOŁA PODSTAWOWA "ISTOTA" W WIELICZCE</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. KAZIMIERZA WIELKIEGO W WIELICZCE</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. TADEUSZA KOŚCIUSZKI W WIELICZCE</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. MIKOŁAJA KOPERNIKA W WIELICZCE</li>
        <li>SZKOŁA PODSTAWOWA NR 5 SPECJALNA</li>
        <li>SZKOŁA PODSTAWOWA NR 6 W WIELICZCE</li>
        <li>SZKOŁA PODSTAWOWA Z ODDZIAŁAMI INTEGRACYJNYMI NR 4 IM. ERAZMA JÓZEFA JERZMANOWSKIEGO W WIELICZCE</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY</li>
        <li>TECHNIKUM W WIELICZCE</li>
        <li>WIELICKIE PRZEDSZKOLE MONTESSORI W WIELICZCE</li>
        <li>ZESPÓŁ SZKÓŁ IM. BRATA ALOJZEGO KOSIBY W WIELICZCE</li>
        <li>ZESPÓŁ SZKÓŁ MUZYCZNYCH W WIELICZCE</li>
        <li>ZESPÓŁ SZKÓŁ NIEPUBLICZNYCH MISTRZOSTWA SPORTOWEGO WIELICZKA</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
