
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Brzeszcze</title>
</head>
<body>
    <h1>Schools in Brzeszcze</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W BRZESZCZACH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W BRZESZCZACH</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "ISKIERKA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE IM.DZIECIĄTKA JEZUS W BRZESZCZACH</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W BRZESZCZACH</li>
        <li>POWIATOWY ZESPÓŁ NR 6 SZKÓŁ ZAWODOWYCH I OGÓLNOKSZTAŁCĄCYCH IM. KAZIMIERZA BIELENINA W BRZESZCZACH</li>
        <li>PRZEDSZKOLE NR 1 "POD KASZTANAMI" W BRZESZCZACH</li>
        <li>PRZEDSZKOLE NR 2 Z ODDZIAŁAMI INTEGRACYJNYMI "SŁONECZKO" W BRZESZCZACH</li>
        <li>PRZEDSZKOLE NR 3 "ŻYRAFA" W BRZESZCZACH</li>
        <li>SZKOŁA PODSTAWOWA NR 1 Z ODDZIAŁAMI INTEGRACYJNYMI IMIENIA STANISŁAWA STASZICA W BRZESZCZACH</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. MIKOŁAJA KOPERNIKA</li>
        <li>SZKOŁA POLICEALNA W BRZESZCZACH</li>
        <li>TECHNIKUM W BRZESZCZACH</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 4 Z ODDZIAŁAMI INTEGRACYJNYMI W BRZESZCZACH</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 5 W BRZESZCZACH</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
