
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Czarny Dunajec</title>
</head>
<body>
    <h1>Schools in Czarny Dunajec</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA ZAKŁADU DOSKONALENIA ZAWODOWEGO W KRAKOWIE Z SIEDZIBĄ W CZARNYM DUNAJCU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI INTEGRACYJNYMI STOWARZYSZENIA PRZYJACIÓŁ SZKÓŁ KATOLICKICH IM. ŚW. JANA BOSKO</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "BAJKOWE PRZEDSZKOLE"</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE W CZARNYM DUNAJCU</li>
        <li>SZKOŁA PODSTAWOWA IM. LEGIONÓW POLSKICH W CZARNYM DUNAJCU</li>
        <li>TECHNIKUM STOWARZYSZENIA PRZYJACIÓŁ SZKÓŁ KATOLICKICH IM.ŚW.STANISŁAWA BISKUPA I MĘCZENNIKA W CZARNYM DUNAJCU</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
