
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Marcinkowice</title>
</head>
<body>
    <h1>Schools in Marcinkowice</h1>
    <ul>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W MARCINKOWICACH</li>
        <li>MIĘDZYSZKOLNY OŚRODEK SPORTOWY W MARCINKOWICACH</li>
        <li>SZKOŁA BRANŻOWA I STOPNIA W MARCINKOWICACH</li>
        <li>SZKOŁA PODSTAWOWA IM. MARSZAŁKA JÓZEFA PIŁSUDSKIEGO W MARCINKOWICACH</li>
        <li>TECHNIKUM W MARCINKOWICACH</li>
        <li>ZESPÓŁ SZKÓŁ IM. WŁADYSŁAWA ORKANA W MARCINKOWICACH</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
