
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Lipnica Wielka</title>
</head>
<body>
    <h1>Schools in Lipnica Wielka</h1>
    <ul>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>PRYWATNE PRZEDSZKOLE "BAJKOWA KRAINA" PATRYCJA WOJTUSIAK</li>
        <li>SZKOŁA BRANŻOWA I STOPNIA W LIPNICY WIELKIEJ</li>
        <li>SZKOŁA PODSTAWOWA IM. JANA PAWŁA II W LIPNICY WIELKIEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. ŚW. KRÓLOWEJ JADWIGI</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. JÓZEFINY I EMILA MIKÓW</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. ŚW. STANISŁAWA KOSTKI</li>
        <li>SZKOŁA PODSTAWOWA NR 4 IM. DRA EMILA KOWALCZYKA</li>
        <li>TECHNIKUM</li>
        <li>ZESPÓŁ SZKÓŁ W LIPNICY WIELKIEJ</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
