
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Jaroszowice</title>
</head>
<body>
    <h1>Schools in Jaroszowice</h1>
    <ul>
        <li>PRZEDSZKOLE PUBLICZNE W JAROSZOWICACH</li>
        <li>SZKOŁA PODSTAWOWA IM. 12 P.P. ZIEMI WADOWICKIEJ W JAROSZOWICACH</li>
        <li>ZESPÓŁ SZKÓŁ IM. 12 PUŁKU PIECHOTY ZIEMI WADOWICKIEJ W JAROSZOWICACH</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
