
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Zawoja</title>
</head>
<body>
    <h1>Schools in Zawoja</h1>
    <ul>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W ZAWOI WILCZNEJ</li>
        <li>NIEPUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE MISTRZOSTWA SPORTOWEGO BESKIDZKIE CENTRUM EDUKACJI I SPORTU</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "ENTLICZEK PENTLICZEK"</li>
        <li>PRZEDSZKOLE NR 1 W ZAWOI CENTRUM</li>
        <li>PUBLICZNE PRZEDSZKOLE W ZAWOI MOSORNE</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM.H.ZAPAŁOWICZA W ZAWOI CENTRUM</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM.KARDYNAŁA KAROLA WOJTYŁY W ZAWOI WILCZNEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 8 IM.S.STASZICA W ZAWOI MOSORNE</li>
        <li>SZKOLNE SCHRONISKO MŁODZIEŻOWE W ZAWOI</li>
        <li>ZESPÓŁ SZKÓŁ W ZAWOI WILCZNEJ</li>
        <li>ZESPÓŁ SZKOLNO PRZEDSZKOLNY ZAWOJA MOSORNE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 1 W ZAWOI CENTRUM</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
