
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Jadowniki</title>
</head>
<body>
    <h1>Schools in Jadowniki</h1>
    <ul>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 1 IM. STANISŁAWA STASZICA W JADOWNIKACH</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 2 IM. ŚW. JANA PAWŁA II I KARDYNAŁA STEFANA WYSZYŃSKIEGO W JADOWNIKACH</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 1 W JADOWNIKACH</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 2 W JADOWNIKACH</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W JADOWNIKACH</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
