
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Dąbrówka</title>
</head>
<body>
    <h1>Schools in Dąbrówka</h1>
    <ul>
        <li>SZKOŁA PODSTAWOWA IM. JANUSZA KORCZAKA W DĄBRÓWCE</li>
        <li>ZESPÓŁ SZKOLNO - PRZEDSZKOLNY PUBLICZNA SZKOŁA PODSTAWOWA IM. PRYMASA STEFANA KARDYNAŁA WYSZYŃSKIEGO W DĄBRÓWCE</li>
        <li>ZESPÓŁ SZKOLNO - PRZEDSZKOLNY PUBLICZNE PRZEDSZKOLE Z ODDZIAŁEM INTEGRACYJNYM W DĄBRÓWCE</li>
        <li>ZESPÓŁ SZKOLNO - PRZEDSZKOLNY W DĄBRÓWCE</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
