
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Kokotów</title>
</head>
<body>
    <h1>Schools in Kokotów</h1>
    <ul>
        <li>KONSTAT SP. Z O.O.</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE SOLANDIA AKADEMIA ZDROWEGO MALUCHA W KOKOTOWIE</li>
        <li>PRZEDSZKOLE "PUCHATEK" W KOKOTOWIE</li>
        <li>PUNKT PRZEDSZKOLNY W KOKOTOWIE</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
