
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Balin</title>
</head>
<body>
    <h1>Schools in Balin</h1>
    <ul>
        <li>NIEPUBLICZNE PRZEDSZKOLE "KREATYWNE DZIECIAKI" W BALINIE</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE IM. ŚW. FRANCISZKA - PATRONA EKOLOGÓW W BALINIE</li>
        <li>SZKOŁA PODSTAWOWA IM. MIKOŁAJA KOPERNIKA W BALINIE</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
