
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Zakopane</title>
</head>
<body>
    <h1>Schools in Zakopane</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA CECHU RZEMIOSŁ RÓŻNYCH I PRZEDSIĘBIORCZOŚCI W ZAKOPANEM</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 1 W ZAKOPANEM</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 2 IM. ALEKSANDRA DZIEDZICA W ZAKOPANEM A</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO W ZAKOPANEM</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO CECHU RZEMIOSŁ RÓŻNYCH I PRZEDSIĘBIORCZOŚCI W ZAKOPANEM</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH EDUKACJI INNOWACYJNEJ W ZAKOPANEM</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W ZESPOLE SZKÓŁ HOTELARSKO - TURYSTYCZNYCH W ZAKOPANEM</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. OSWALDA BALZERA W ZAKOPANEM</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE MISTRZOSTWA SPORTOWEGO W ZAKOPANEM</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE SPECJALNE W ZAKOPANEM</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE ZGROMADZENIA SIÓSTR MISJONAREK ŚW. RODZINY IM. BŁ. BOLESŁAWY LAMENT</li>
        <li>OŚRODEK REHABILITACYJNO-WYCHOWAWCZY W ZAKOPANEM</li>
        <li>PAŃSTWOWA OGÓLNOKSZTAŁCĄCA SZKOŁA ARTYSTYCZNA W ZAKOPANEM</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I ST. IM. MIECZYSŁAWA KARŁOWICZA W ZAKOPANEM</li>
        <li>PAŃSTWOWE LICEUM SZTUK PLASTYCZNYCH IM. ANTONIEGO KENARA W ZAKOPANEM</li>
        <li>PEDAGOGICZNA BIBLIOTEKA WOJEWÓDZKA W NOWYM SĄCZU FILIA W ZAKOPANEM</li>
        <li>POLICEALNA SZKOŁA EDUKACJI INNOWACYJNEJ W ZAKOPANEM</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W ZAKOPANEM</li>
        <li>PRZEDSZKOLE IM. JANA PAWŁA II ZGROMADZENIA SIÓSTR URSZULANEK SJK</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE „KUBUŚ PUCHATY” KATARZYNA SLOSARCZYK</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE ZG. SIÓSTR SŁUŻEBNICZEK OCHRONKA ŚW. JÓZEFA</li>
        <li>PRZEDSZKOLE NR 3 IM. KAROLA SZYMANOWSKIEGO W ZAKOPANEM</li>
        <li>PRZEDSZKOLE NR 7 IM. KAZIMIERZA PRZERWY – TETMAJERA</li>
        <li>PRZEDSZKOLE NR 9 IM. KORNELA MAKUSZYŃSKIEGO</li>
        <li>PRZEDSZKOLE SIÓSTR FELICJANEK POD WEZWANIEM ŚW. KAZIMIERZA</li>
        <li>PUBLICZNA KATOLICKA SZKOŁA PODSTAWOWA IM. ŚW. JANA PAWŁA II W ZAKOPANEM</li>
        <li>REGIONALNE LICEUM OGÓLNOKSZTAŁCĄCE IM. WŁADYSŁAWA ZAMOYSKIEGO W ZAKOPANEM</li>
        <li>SPOŁECZNA SZKOŁA PODSTAWOWA IM. JOSEPHA CONRADA SPOŁECZNEGO TOWARZYSTWA OŚWIATOWEGO</li>
        <li>SPOŁECZNE LICEUM OGÓLNOKSZTAŁCĄCE SPOŁECZNEGO TOWARZYSTWA OŚWIATOWEGO W ZAKOPANEM</li>
        <li>SZKOŁA PODSTAWOWA NR 10 MISTRZOSTWA SPORTOWEGO W ZAKOPANEM</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. BRONISŁAWA CZECHA</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. GEN. MARIUSZA ZARUSKIEGO W ZAKOPANEM</li>
        <li>SZKOŁA PODSTAWOWA NR 4 IM. MARSZAŁKA JÓZEFA PIŁSUDSKIEGO W ZAKOPANEM</li>
        <li>SZKOŁA PODSTAWOWA NR 5 IM. JANUSZA KORCZAKA</li>
        <li>SZKOŁA PODSTAWOWA NR 7 IM. KORNELA MAKUSZYŃSKIEGO W ZAKOPANEM</li>
        <li>SZKOŁA PODSTAWOWA NR 9 IM.JANA KASPROWICZA</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA W ZAKOPANEM</li>
        <li>SZKOŁA PODSTAWOWA Z ODDZIAŁAMI INTEGRACYJNYMI NR 1 IM. HELENY MARUSARZÓWNY</li>
        <li>SZKOLNE SCHRONISKO MŁODZIEŻOWE W KRAKOWIE - FILIA W ZAKOPANEM</li>
        <li>TATRZAŃSKIE CENTRUM KULTURY "JUTRZENKA" W ZAKOPANEM</li>
        <li>TECHNIKUM NR 1 W ZAKOPANEM</li>
        <li>TECHNIKUM NR 2 W ZAKOPANEM</li>
        <li>ZESPÓŁ PAŃSTWOWYCH SZKÓŁ ARTYSTYCZNYCH W ZAKOPANEM</li>
        <li>ZESPÓŁ SPOŁECZNYCH SZKÓŁ OGÓLNOKSZTAŁCĄCYCH SPOŁECZNEGO TOWARZYSTWA OŚWIATOWEGO W ZAKOPANEM</li>
        <li>ZESPÓŁ SZKÓŁ BUDOWLANYCH IM. WŁADYSŁAWA MATLAKOWSKIEGO W ZAKOPANEM</li>
        <li>ZESPÓŁ SZKÓŁ HOTELARSKO-TURYSTYCZNYCH IM. WŁADYSŁAWA ZAMOYSKIEGO W ZAKOPANEM</li>
        <li>ZESPÓŁ SZKÓŁ MISTRZOSTWA SPORTOWEGO IM. STANISŁAWA MARUSARZA W ZAKOPANEM</li>
        <li>ZESPÓŁ SZKÓŁ PRYWATNYCH JANINY GOŚCIEJ PRYWATNE LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH ZAOCZNE W ZAKOPANEM</li>
        <li>ZESPÓŁ SZKÓŁ PRYWATNYCH JANINY GOŚCIEJ W ZAKOPANEM</li>
        <li>ZESPÓŁ SZKÓŁ SPECJALNYCH PRZY UNIWERSYTECKIM SZPITALU ORTOPEDYCZNO-REHABILITACYJNYM W ZAKOPANEM</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
