
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Jabłonka</title>
</head>
<body>
    <h1>Schools in Jabłonka</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA ROLNICZA I STOPNIA W ZESPOLE SZKÓŁ IM. BOHATERÓW WESTERPLATTE W JABŁONCE</li>
        <li>BRANŻOWA SZKOŁA WIELOZAWODOWA I STOPNIA IM. ŚW. JANA PAWŁA II W JABŁONCE</li>
        <li>GMINNE PRZEDSZKOLE SAMORZĄDOWE W JABŁONCE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. BOHATERÓW WESTERPLATTE W JABŁONCE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "PRZEDSZKOLAKI TO MY"</li>
        <li>ORAWSKA SAMORZĄDOWA SZKOŁA MUZYCZNA I STOPNIA W JABŁONCE</li>
        <li>ORAWSKA SZKOŁA PODSTAWOWA</li>
        <li>OŚRODEK REHABILITACYJNO - EDUKACYJNO - WYCHOWAWCZY W JABŁONCE</li>
        <li>PRZEDSZKOLE ,, CZAS DZIECIĘCYCH ZABAW "</li>
        <li>SZKOŁA PODSTAWOWA JABŁONKA - BORY</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM.ADAMA MICKIEWICZA W JABŁONCE</li>
        <li>TECHNIKUM W ZESPOLE SZKÓŁ IM. BOHATERÓW WESTERPLATTE W JABŁONCE</li>
        <li>ZESPÓŁ SZKÓŁ IM. BOHATERÓW WESTERPLATTE W JABŁONCE</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
