
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Libiąż</title>
</head>
<body>
    <h1>Schools in Libiąż</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W LIBIĄŻU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. KS. STEFANA KARDYNAŁA WYSZYŃSKIEGO KATOLICKIEGO STOWARZYSZENIA WYCHOWAWCÓW</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W LIBIĄŻU</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "DREPTUSIE" W LIBIĄŻU</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 1 Z ODDZIAŁAMI INTEGRACYJNYMI W LIBIĄŻU</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 2 W LIBIĄŻU</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 3 Z ODDZIAŁAMI INTEGRACYJNYMI W LIBIĄŻU</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 4 IM. KUBUSIA PUCHATKA W LIBIĄŻU</li>
        <li>SZKOŁA PODSTAWOWA IM. KS. STEFANA KARD. WYSZYŃSKIEGO KATOLICKIEGO STOWARZYSZENIA WYCHOWAWCÓW</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. JANA III SOBIESKIEGO W LIBIĄŻU</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. BŁ. JANA PAWŁA II W LIBIĄŻU</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. FLAGI POLSKI W LIBIĄŻU</li>
        <li>SZKOŁA PODSTAWOWA NR 4 Z ODDZIAŁAMI INTEGRACYJNYMI IM. IGNACEGO JANA PADEREWSKIEGO W LIBIĄŻU</li>
        <li>SZKOŁA POLICEALNA W LIBIĄŻU</li>
        <li>TECHNIKUM IM. MARSZAŁKA JÓZEFA PIŁSUDSKIEGO W LIBIĄŻU</li>
        <li>ZESPÓŁ SZKÓŁ KATOLICKIEGO STOWARZYSZENIA WYCHOWAWCÓW W LIBIĄŻU</li>
        <li>ZESPÓŁ SZKÓŁ W LIBIĄŻU</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 2 W LIBIĄŻU</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY Z ODDZIAŁAMI INTEGRACYJNYMI W LIBIĄŻU</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
