
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Limanowa</title>
</head>
<body>
    <h1>Schools in Limanowa</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA CECHU RZEMIOSŁA I PRZEDSIĘBIORCZOŚCI IM. ŚW. JÓZEFA W LIMANOWEJ</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA IM. KS. PROF. JÓZEFA TISCHNERA W LIMANOWEJ</li>
        <li>CENTRUM EDUKACJI LOKALNEJ CEL INVENTUM</li>
        <li>CENTRUM EDUKACJI ZAWODOWEJ</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO W LIMANOWEJ</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO W LIMANOWEJ - LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO W LIMANOWEJ - SZKOŁA POLICEALNA</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO CECHU RZEMIOSŁA I PRZEDSIĘBIORCZOŚCI W LIMANOWEJ</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO W LIMANOWEJ</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO W LIMANOWEJ - FILIA NR 1</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE IM. WŁADYSŁAWA ORKANA W LIMANOWEJ</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH ZAOCZNE IM. KS. PROF. JÓZEFA TISCHNERA W LIMANOWEJ</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 1 W LIMANOWEJ</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 2 W LIMANOWEJ</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 3 W LIMANOWEJ</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 4 W LIMANOWEJ</li>
        <li>NIEPUBLICZNA PLACÓWKA DOSKONALENIA NAUCZYCIELI</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA SPECJALNA "ZIELONY ZAKĄTEK"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE IMIENIA BISKUPA PIOTRA BEDNARCZYKA</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE INTEGRACYJNE "CHATKA MAŁEGO SKRZATKA"</li>
        <li>NIEPUBLICZNE TERAPEUTYCZNE PRZEDSZKOLE IMIENIA BISKUPA PIOTRA BEDNARCZYKA</li>
        <li>OŚRODEK SZKOLENIOWY PRZY FIRMIE BOSS KOMPUTER</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I I II STOPNIA IM. GRAŻYNY BACEWICZ W LIMANOWEJ</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I STOPNIA IM. GRAŻYNY BACEWICZ W LIMANOWEJ</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA II STOPNIA W LIMANOWEJ</li>
        <li>PEDAGOGICZNA BIBLIOTEKA WOJEWÓDZKA W NOWYM SĄCZU FILIA W LIMANOWEJ</li>
        <li>PRZEDSZKOLE "SŁONECZKO"</li>
        <li>PRZEDSZKOLE "SŁONECZKO" Z ODDZIAŁEM INTEGRACYJNYM W LIMANOWEJ</li>
        <li>PRZEDSZKOLE "SŁONECZKO" Z ODDZIAŁEM INTEGRACYJNYM W LIMANOWEJ</li>
        <li>PRZEDSZKOLE MONTESSORI</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM.MARII KONOPNICKIEJ W LIMANOWEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM.TADEUSZA KOŚCIUSZKI W LIMANOWEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM.KSIĘDZA PUŁKOWNIKA JÓZEFA JOŃCA W LIMANOWEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 4 IM.ŚW.JANA Z KĘT W LIMANOWEJ</li>
        <li>TECHNIKUM IM. KS. PROF. JÓZEFA TISCHNERA W LIMANOWEJ</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH W LIMANOWEJ</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH W LIMANOWEJ - MIĘDZYSZKOLNY OŚRODEK SPORTOWY POWIATU LIMANOWSKIEGO</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH W LIMANOWEJ - PORADNIA PSYCHOLOGICZNO PEDAGOGICZNA</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH W LIMANOWEJ - SZKOLNE SEZONOWE SCHRONISKO MŁODZIEŻOWE W LIMANOWEJ</li>
        <li>ZESPÓŁ SZKÓŁ NR 1 IM. JÓZEFA PIŁSUDSKIEGO W LIMANOWEJ</li>
        <li>ZESPÓŁ SZKÓŁ NR 1 IM. JÓZEFA PIŁSUDSKIEGO W LIMANOWEJ - BRANŻOWA SZKOŁA I STOPNIA</li>
        <li>ZESPÓŁ SZKÓŁ NR 1 IM. JÓZEFA PIŁSUDSKIEGO W LIMANOWEJ - IV LICEUM OGÓLNOKSZTAŁCĄCE IM. KARD. STEFANA WYSZYŃSKIEGO</li>
        <li>ZESPÓŁ SZKÓŁ NR 1 IM. JÓZEFA PIŁSUDSKIEGO W LIMANOWEJ - TECHNIKUM</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH I ZAWODOWYCH IM. KS. PROF. JÓZEFA TISCHNERA W LIMANOWEJ</li>
        <li>ZESPÓŁ SZKÓŁ TECHNICZNYCH I OGÓLNOKSZTAŁCĄCYCH IM. J. PAWŁA II W LIMANOWEJ - BRANŻOWA SZKOŁA I STOPNIA</li>
        <li>ZESPÓŁ SZKÓŁ TECHNICZNYCH I OGÓLNOKSZTAŁCĄCYCH IM. J. PAWŁA II W LIMANOWEJ - TECHNIKUM</li>
        <li>ZESPÓŁ SZKÓŁ TECHNICZNYCH I OGÓLNOKSZTAŁCĄCYCH IM. JANA PAWŁA II W LIMANOWEJ</li>
        <li>ZESPÓŁ SZKÓŁ TECHNICZNYCH I OGÓLNOKSZTAŁCĄCYCH IM. JANA PAWŁA II W LIMANOWEJ - II LICEUM OGÓLNOKSZTAŁCĄCE IM. LEGIONÓW JÓZEFA PIŁSUDSKIEGO.</li>
        <li>ZESPÓŁ SZKÓŁ TECHNICZNYCH I OGÓLNOKSZTAŁCĄCYCH IM. JANA PAWŁA II W LIMANOWEJ -BRANŻOWA SZKOŁA II STOPNIA W LIMANOWEJ</li>
        <li>ZESPÓŁ SZKOLNO - PRZEDSZKOLNY NR 1 IM. MARII KONOPNICKIEJ W LIMANOWEJ</li>
        <li>ZESPÓŁ SZKOLNO - PRZEDSZKOLNY NR 4 IM ŚW. JANA Z KĘT W LIMANOWEJ</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
