
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Wola Łużańska</title>
</head>
<body>
    <h1>Schools in Wola Łużańska</h1>
    <ul>
        <li>SAMORZĄDOWE PRZEDSZKOLE W WOLI ŁUŻAŃSKIEJ</li>
        <li>SZKOŁA PODSTAWOWA IM.WACŁAWA POTOCKIEGO W WOLI ŁUŻAŃSKIEJ</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W WOLI ŁUŻAŃSKIEJ</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
