
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Ostrów</title>
</head>
<body>
    <h1>Schools in Ostrów</h1>
    <ul>
        <li>NIEPUBLICZNE PRZEDSZKOLE "WESOŁY SAMOLOCIK"</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY "WESOŁY SAMOLOCIK" W OSTROWIE</li>
        <li>SZKOŁA PODSTAWOWA IM. KS. JANA TWARDOWSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA IM. LOTNIKÓW ALIANCKICH W OSTROWIE</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
