
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Świnna Poręba</title>
</head>
<body>
    <h1>Schools in Świnna Poręba</h1>
    <ul>
        <li>PRZEDSZKOLE PUBLICZNE W ŚWINNEJ PORĘBIE</li>
        <li>SZKOŁA PODSTAWOWA IM. BOHATERÓW WESTERPLATTE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W ŚWINNEJ PORĘBIE</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
