
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Gawłów</title>
</head>
<body>
    <h1>Schools in Gawłów</h1>
    <ul>
        <li>GMINNE PRZEDSZKOLE W GAWŁOWIE</li>
        <li>ZESPÓŁ SZKÓŁ GMINNYCH IM. MIKOŁAJA KOPERNIKA W GAWŁOWIE</li>
        <li>ZESPÓŁ SZKÓŁ GMINNYCH IM. MIKOŁAJA KOPERNIKA W GAWŁOWIE SZKOŁA PODSTAWOWA Z ODDZIAŁAMI SPORTOWYMI W GAWŁOWIE</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
