
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Modlnica</title>
</head>
<body>
    <h1>Schools in Modlnica</h1>
    <ul>
        <li>NIEPUBLICZNE PRZEDSZKOLE "RADOSNE SKRZATY"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "ZAKĄTEK MALUSZKA" W MODLNICY</li>
        <li>ZESPÓŁ SZKOLNO - PRZEDSZKOLNY W MODLNICY</li>
        <li>ZESPÓŁ SZKOLNO - PRZEDSZKOLNY W MODLNICY - PRZEDSZKOLE SAMORZĄDOWE W MODLNICY</li>
        <li>ZESPÓŁ SZKOLNO - PRZEDSZKOLNY W MODLNICY - SZKOŁA PODSTAWOWA IM. ŚW. STANISŁAWA KOSTKI Z ODDZIAŁAMI INTEGRACYJNYMI W MODLNICY</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
