
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Radocza</title>
</head>
<body>
    <h1>Schools in Radocza</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA II STOPNIA W RADOCZY</li>
        <li>SZKOŁA PODSTAWOWA IM.ŻWIRKI I WIGURY W RADOCZY</li>
        <li>SZKOŁA POLICEALNA W RADOCZY W ZESPOLE SZKÓŁ CENTRUM KSZTAŁCENIA USTAWICZNEGO IM. ŚW. JANA PAWŁA II W RADOCZY</li>
        <li>ZESPÓŁ SZKÓŁ CENTRUM KSZTAŁCENIA USTAWICZNEGO IM. ŚW. JANA PAWŁA II W RADOCZY - TECHNIKUM</li>
        <li>ZESPÓŁ SZKÓŁ CENTRUM KSZTAŁCENIA USTAWICZNEGO IM.ŚW. JANA PAWŁA II W RADOCZY</li>
        <li>ZESPÓŁ SZKÓŁ CENTRUM KSZTAŁCENIA USTAWICZNEGO IM.ŚW. JANA PAWŁA II W RADOCZY - LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>ZESPÓŁ SZKÓŁ CKU IM. ŚW. JANA PAWŁA II W RADOCZY - BRANŻOWA SZKOŁA I STOPNIA W RADOCZY</li>
        <li>ZESPÓŁ SZKÓŁ CKU IM. ŚW. JANA PAWŁA II W RADOCZY - LICEUM OGÓLNOKSZTAŁCĄCE</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
