
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Maków Podhalański</title>
</head>
<body>
    <h1>Schools in Maków Podhalański</h1>
    <ul>
        <li>PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA W MAKOWIE PODHALAŃSKIM</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE " SŁONECZNY UŚMIECH" W MAKOWIE PODHALAŃSKIM</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE ZGROMADZENIA SIÓSTR SERAFITEK W MAKOWIE PODHALAŃSKIM</li>
        <li>SPECJALNY OŚRODEK SZKOLNO - WYCHOWAWCZY W MAKOWIE PODHALAŃSKIM</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA W SPECJALNYM OŚRODKU SZKOLNO-WYCHOWAWCZYM W MAKOWIE PODHALAŃSKIM</li>
        <li>SZKOŁA PODSTAWOWA STOWARZYSZENIA PRZYJACIÓŁ SZKÓŁ KATOLICKICH IM.ŚW DZIECI Z FATIMY W MAKOWIE PODHALAŃSKIM</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY</li>
        <li>ZESPÓŁ SZKÓŁ - GMINNE PRZEDSZKOLE SAMORZĄDOWE W MAKOWIE PODHALAŃSKIM</li>
        <li>ZESPÓŁ SZKÓŁ - SZKOŁA PODSTAWOWA NR 1 IM.HENRYKA SIENKIEWICZA W MAKOWIE PODHALAŃSKIM</li>
        <li>ZESPÓŁ SZKÓŁ W MAKOWIE PODHALAŃSKIM</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
