
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Chełmiec</title>
</head>
<body>
    <h1>Schools in Chełmiec</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA "PRAKTYK" W CHEŁMCU</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY "PRZYJAZNE PRZEDSZKOLE" W CHEŁMCU</li>
        <li>SZKOŁA PODSTAWOWA Z ODDZIAŁAMI SPECJALNYMI IM. MIKOŁAJA KOPERNIKA W CHEŁMCU</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
