
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Siedliska</title>
</head>
<body>
    <h1>Schools in Siedliska</h1>
    <ul>
        <li>PRZEDSZKOLE "BATALIONIK" W SIEDLISKACH</li>
        <li>SZKOŁA PODSTAWOWA IM. KS. JANA RECA W SIEDLISKACH</li>
        <li>SZKOŁA PODSTAWOWA IM.KARDYNAŁA STEFANA WYSZYŃSKIEGO W SIEDLISKACH</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
