
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Gołkowice Górne</title>
</head>
<body>
    <h1>Schools in Gołkowice Górne</h1>
    <ul>
        <li>CENTRUM MŁODZIEŻY IM. DR. HENRYKA JORDANA W KRAKOWIE - FILIA NR 2 W GOŁKOWICACH GÓRNYCH</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE MUZYCZNE "BAJKOWY DOM" W GOŁKOWICACH</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE SIÓSTR KARMELITANEK DZIECIĄTKA JEZUS W GOŁKOWICACH</li>
        <li>SZKOŁA PODSTAWOWA IM. JANA PAWŁA II W GOŁKOWICACH</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
