
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Glichów</title>
</head>
<body>
    <h1>Schools in Glichów</h1>
    <ul>
        <li>ODDZIAŁ PRZEDSZKOLNY W GLICHOWIE</li>
        <li>SZKOŁA PODSTAWOWA IM. MARII KONOPNICKIEJ W GLICHOWIE</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH W GLICHOWIE</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
