
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Gierałtowice</title>
</head>
<body>
    <h1>Schools in Gierałtowice</h1>
    <ul>
        <li>PRZEDSZKOLE PUBLICZNE W GIERAŁTOWICACH</li>
        <li>SZKOŁA PODSTAWOWA IM. MICHAŁA SZCZYGŁA W GIERAŁTOWICACH</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY IM. MICHAŁA SZCZYGŁA W GIERAŁTOWICACH</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
