
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Brzesko</title>
</head>
<body>
    <h1>Schools in Brzesko</h1>
    <ul>
        <li>BIBLIOTEKA PEDAGOGICZNA W TARNOWIE FILIA W BRZESKU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA IM. BOHATERÓW WESTERPLATTE</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO</li>
        <li>KATOLICKE LICEUM OGÓLNOKSZTAŁCĄCE W BRZESKU IM. ŚW. STANISŁAWA BM ZE SZCZEPANOWA</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W BRZESKU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W BRZESKU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. MIKOŁAJA KOPERNIKA W BRZESKU</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO BHP MARKA KRZYSZTOF MARIANKOWSKI</li>
        <li>NIEPUBLICZNE CENTRUM KSZTAŁCENIA USTAWICZNEGO W BRZESKU</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "BRZESKIE SMYKI"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE ARTYSTYCZNO - JĘZYKOWE "FIKANDER"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE MUZYCZNE "TAŃCZĄCE NUTKI"</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W BRZESKU</li>
        <li>POWIATOWE CENTRUM EDUKACJI W BRZESKU</li>
        <li>POWIATOWY OŚRODEK DOSKONALENIA NAUCZYCIELI W BRZESKU</li>
        <li>PRYWATNE PRZEDSZKOLE "CYPISEK"</li>
        <li>PRZEDSZKOLE "BAJKA"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE ZGROMADZENIA SIÓSTR SŁUŻEBNICZEK NAJŚWIĘTSZEJ MARYI PANNY NIEPOKALANIE POCZ</li>
        <li>PRZEDSZKOLE SPECJALNE KROL MACIUŚ PIERWSZY</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 1 IM. KRÓLOWEJ JADWIGI W BRZESKU</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 2 IM. IGNACEGO ŁUKASIEWICZA W BRZESKU</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 3 IM. MIKOŁAJA KOPERNIKA W BRZESKU</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 1 W BRZESKU</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 10 Z ODDZIAŁEM INTEGRACYJNYM IM. JANA PAWŁA II W BRZESKU</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 2 W BRZESKU</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 3 W BRZESKU</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 4 IM. JANA BRZECHWY W BRZESKU</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 7 W BRZESKU</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 9 IM. MARII KOWNACKIEJ W BRZESKU</li>
        <li>PUBLICZNE PRZEDSZKOLE Z ODDZIAŁAMI INTEGRACYJNYMI IM. ŚW. S. FAUSTYNY</li>
        <li>SZKOŁA MUZYCZNA I STOPNIA W BRZESKU</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA W BRZESKU</li>
        <li>SZKOŁA POLICEALNA ZAWODOWA W BRZESKU</li>
        <li>SZKOLNE SCHRONISKO MŁODZIEŻOWE W BRZESKU</li>
        <li>TECHNIKUM IM. BOHATERÓW WESTERPLATTE</li>
        <li>TECHNIKUM IM. JÓZEFA PIŁSUDSKIEGO</li>
        <li>ZESPÓŁ SZKÓŁ TECHNICZNYCH I BRANŻOWYCH IM. BOHATERÓW WESTERPLATTE W BRZESKU</li>
        <li>ZESPÓŁ SZKÓŁ TECHNICZNYCH I BRANŻOWYCH IM. BOHATERÓW WESTERPLATTE W BRZESKU BRANŻOWA SZKOŁA II STOPNIA</li>
        <li>ZESPÓŁ SZKOLNO - PRZEDSZKOLNY W BRZESKU</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
