
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Nowa Wieś</title>
</head>
<body>
    <h1>Schools in Nowa Wieś</h1>
    <ul>
        <li>SAMORZĄDOWA PLACÓWKA WYCHOWANIA PRZEDSZKOLNEGO W NOWEJ WSI</li>
        <li>SZKOŁA PODSTAWOWA IM. GEN. WŁADYSŁAWA SIKORSKIEGO W NOWEJ WSI</li>
        <li>SZKOŁA PODSTAWOWA IM. KS. KARDYNAŁA STEFANA WYSZYŃSKIEGO W NOWEJ WSI</li>
        <li>SZKOŁA PODSTAWOWA IM. TADEUSZA KOŚCIUSZKI W NOWEJ WSI</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
