
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Babice</title>
</head>
<body>
    <h1>Schools in Babice</h1>
    <ul>
        <li>NIEPUBLICZNE PRZEDSZKOLE "SMYK" W BABICACH</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE W BABICACH</li>
        <li>SZKOŁA PODSTAWOWA IM. SPADOCHRONIARZY WOJSKA POLSKIEGO W BABICACH</li>
        <li>ZESPÓŁ SZKÓŁ W BABICACH</li>
        <li>ZESPÓŁ SZKÓŁ W BABICACH - SZKOŁA PODSTAWOWA IM. TADEUSZA KOŚCIUSZKI W BABICACH</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
