
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Łukowica</title>
</head>
<body>
    <h1>Schools in Łukowica</h1>
    <ul>
        <li>MALI ODKRYWCY PRZEDSZKOLE NIEPUBLICZNE W ŁUKOWICY 34-606 ŁUKOWICA 387</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE Z ODDZIAŁAMI INTEGRACYJNYMI IM.ŚW.JANA PAWŁA II W ŁUKOWICY</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE MIŚ USZATEK W ŁUKOWICY</li>
        <li>SZKOŁA PODSTAWOWA IM.MARII SKŁODOWSKIEJ -CURIE W ŁUKOWICY</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
