
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Młoszowa</title>
</head>
<body>
    <h1>Schools in Młoszowa</h1>
    <ul>
        <li>PRZEDSZKOLE SAMORZĄDOWE W MŁOSZOWEJ</li>
        <li>SZKOŁA PODSTAWOWA IM. 550 ROCZNICY ZWYCIĘSTWA GRUNWALDZKIEGO W MŁOSZOWEJ</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W MŁOSZOWEJ</li>
        <li>ZIELONE PRZEDSZKOLE</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
