
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Dębno</title>
</head>
<body>
    <h1>Schools in Dębno</h1>
    <ul>
        <li>PRZEDSZKOLE PUBLICZNE W DĘBNIE</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA IM.TADEUSZA KOŚCIUSZKI W DĘBNIE</li>
        <li>SZKOŁA PODSTAWOWA W DĘBNIE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W DĘBNIE</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
