
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Dobra</title>
</head>
<body>
    <h1>Schools in Dobra</h1>
    <ul>
        <li>GMINNE PRZEDSZKOLE NR 1 W DOBREJ</li>
        <li>NIEPUBLICZNE INTEGRACYJNE PRZEDSZKOLE MONTESSORI IM. ŚWIĘTEJ RODZINY W DOBREJ</li>
        <li>SPECJALNY OŚRODEK SZKOLNO - WYCHOWAWCZY IM. MARII KONOPNICKIEJ W DOBREJ - BRANŻOWA SZKOŁA I STOPNIA</li>
        <li>SPECJALNY OŚRODEK SZKOLNO - WYCHOWAWCZY IM. MARII KONOPNICKIEJ W DOBREJ - OŚMIOLETNIA SZKOŁA PODSTAWOWA SPECJALNA</li>
        <li>SPECJALNY OŚRODEK SZKOLNO - WYCHOWAWCZY W DOBREJ IM. MARII KONOPNICKIEJ</li>
        <li>SPECJALNY OŚRODEK SZKOLNO - WYCHOWAWCZY W DOBREJ IM. MARII KONOPNICKIEJ - SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY</li>
        <li>SZKOŁA MUZYCZNA I STOPNIA</li>
        <li>SZKOŁA PODSTAWOWA IM. LEOPOLDA WĘGRZYNOWICZA W DOBREJ</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH W LIMANOWEJ - SZKOLNE SEZONOWE SCHRONISKO MŁODZIEŻOWE W DOBREJ</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
