
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Zagorzyce</title>
</head>
<body>
    <h1>Schools in Zagorzyce</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA SPECJALNA</li>
        <li>PRZEDSZKOLE SPECJALNE W SPECJALNYM OŚRODKU SZKOLNO-WYCHOWAWCZYM W ZAGORZYCACH</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY IM. JAKSY HERBU GRYF W ZAGORZYCACH</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJACA DO PRACY</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
