
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Stare Bystre</title>
</head>
<body>
    <h1>Schools in Stare Bystre</h1>
    <ul>
        <li>PRZEDSZKOLE STOWARZYSZENIA PRZYJACIÓŁ SZKÓŁ KATOLICKICH NR 1 W STAREM BYSTREM</li>
        <li>PRZEDSZKOLE STOWARZYSZENIA PRZYJACIÓŁ SZKÓŁ KATOLICKICH NR 2 W STAREM BYSTREM</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 1 STOWARZYSZENIA PRZYJACIÓŁ SZKÓŁ KATOLICKICH IM. ŚW. ANDRZEJA BOBOLI W STAREM BYSTREM</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 2 STOWARZYSZENIA PRZYJACIÓŁ SZKÓŁ KATOLICKICH IM. JANA PAWŁA II W STAREM BYSTREM</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
