
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Kęty</title>
</head>
<body>
    <h1>Schools in Kęty</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W KĘTACH</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA W KĘTACH ZAKŁADU DOSKONALENIA ZAWODOWEGO W KATOWICACH</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA W KĘTACH</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE IM. STANISŁAWA WYSPIAŃSKIEGO W KĘTACH</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE W KĘTACH</li>
        <li>III LICEUM OGÓLNOKSZTAŁCĄCE MISTRZOSTWA SPORTOWEGO W KĘTACH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W KĘTACH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W KĘTACH ZAKŁADU DOSKONALENIA ZAWODOWEGO W KATOWICACH</li>
        <li>NIEPUBLICZNA PLACÓWKA DOSKONALENIA NAUCZYCIELI INSTYTUT NAUKI LEKTIKON</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO "BRAVO"</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO "FACE 2 FACE"</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO SYNTONIC</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA FUNDACJI KRÓLOWEJ ŚWIĘTEJ JADWIGI W KĘTACH</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA RISE Z ODDZIAŁAMI DWUJĘZYCZNYMI</li>
        <li>NIEPUBLICZNA SZKOŁA POLICEALNA W KĘTACH</li>
        <li>NIEPUBLICZNE LICEUM OGÓLNOKSZTAŁCACE DLA DOROSŁYCH W KĘTACH</li>
        <li>NIEPUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE FUNDACJI KRÓLOWEJ ŚWIĘTEJ JADWIGI W KĘTACH</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "BAJECZKA" W KĘTACH</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE IM. DZIECIĄTKA JEZUS</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE Z ODDZIAŁAMI INTEGRACYJNYMI NORLANDIA</li>
        <li>OŚRODEK KSZTAŁCENIA ZAWODOWEGO W KĘTACH</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W KĘTACH</li>
        <li>POWIATOWY ZESPÓŁ NR 10 SZKÓŁ MECHANICZNO-ELEKTRYCZNYCH IM. MIKOŁAJA KOPERNIKA W KĘTACH</li>
        <li>POWIATOWY ZESPÓŁ NR 9 SZKÓŁ IM. MARII DĄBROWSKIEJ W KĘTACH</li>
        <li>PUBLICZNE PRZEDSZKOLE IM. BŁ. M. CELINY BORZĘCKIEJ ZGROMADZENIA SIÓSTR ZMARTWYCHWSTANIA PAŃSKIEGO</li>
        <li>SAMORZĄDOWA PLACÓWKA WYCHOWANIA PRZEDSZKOLNEGO NR 1 W KĘTACH</li>
        <li>SAMORZĄDOWA PLACÓWKA WYCHOWANIA PRZEDSZKOLNEGO NR 2 W KĘTACH</li>
        <li>SAMORZĄDOWA PLACÓWKA WYCHOWANIA PRZEDSZKOLNEGO NR 7 W KĘTACH</li>
        <li>SAMORZĄDOWA PLACÓWKA WYCHOWANIA PRZEDSZKOLNEGO NR 8</li>
        <li>SAMORZĄDOWA PLACÓWKA WYCHOWANIA PRZEDSZKOLNEGO NR 9</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. ŚW. JANA KANTEGO W KĘTACH</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. BOHATERÓW MONTE CASSINO W KĘTACH</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. BOHATERÓW WESTERPLATTE W KĘTACH</li>
        <li>SZKOŁA POLICEALNA NR I W KĘTACH</li>
        <li>SZKOŁA POLICEALNA NR II W KĘTACH</li>
        <li>SZKOŁA POLICEALNA W KĘTACH</li>
        <li>TECHNIKUM W KĘTACH</li>
        <li>TECHNIKUM W KĘTACH ZAKŁADU DOSKONALENIA ZAWODOWEGO W KATOWICACH</li>
        <li>ZAKŁAD DOSKONALENIA ZAWODOWEGO W KATOWICACH CENTRUM KSZTAŁCENIA ZAWODOWEGO W KĘTACH</li>
        <li>ZESPÓŁ SZKÓŁ CENTRUM KSZTAŁCENIA DOROSŁYCH OCZKO MARIA</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 3 W KĘTACH</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
