
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Złota</title>
</head>
<body>
    <h1>Schools in Złota</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA SPECJALNA</li>
        <li>PRZEDSZKOLE SPECJALNE W SPECJALNYM OŚRODKU SZKOLNO-WYCHOWAWCZYM IM. MARII KONOPNICKIEJ W ZŁOTEJ</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA IM. ADAMA MICKIEWICZA W ZŁOTEJ</li>
        <li>PUBLICZNE PRZEDSZKOLE W ZŁOTEJ</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY IM. MARII KONOPNICKIEJ W ZŁOTEJ</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY</li>
        <li>ZESPÓŁ SZKOŁY I PRZEDSZKOLA W ZŁOTEJ</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
