
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Żelazówka</title>
</head>
<body>
    <h1>Schools in Żelazówka</h1>
    <ul>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA W ŻELAZÓWCE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE W ŻELAZÓWCE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W ŻELAZÓWCE</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
