
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Korczyna</title>
</head>
<body>
    <h1>Schools in Korczyna</h1>
    <ul>
        <li>GMINNE PRZEDSZKOLE IM. ŚWIETEJ KINGI W KORCZYNIE</li>
        <li>SZKOŁA PODSTAWOWA IM.ŚWIĘTEJ KINGI W KORCZYNIE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W KORCZYNIE, SZKOŁA PODSTAWOWA IM.ŚWIĘTEJ KINGI I PRZEDSZKOLE ŚWIĘTEJ KINGI</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
