
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Łącko</title>
</head>
<body>
    <h1>Schools in Łącko</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W ŁĄCKU</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO W ŁĄCKU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W ŁĄCKU</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO OŚRODEK SZKOLENIOWY VIP SYSTEM SP. Z O.O.</li>
        <li>NIEPUBLICZNE JĘZYKOWO-SPORTOWE PRZEDSZKOLE "KRAINA UŚMIECHU"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE PROMYCZEK</li>
        <li>REGIONALNE PRZEDSZKOLE MAŁY BACA</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE NR 1 W ŁĄCKU</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE W ŁĄCKU</li>
        <li>SZKOŁA MUZYCZNA I STOPNIA W ŁĄCKU</li>
        <li>SZKOŁA PODSTAWOWA W ŁĄCKU</li>
        <li>TECHNIKUM W ŁĄCKU</li>
        <li>ZESPÓŁ SZKÓŁ IM. ŚW. KINGI W ŁĄCKU</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W ŁĄCKU</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
