
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Grybów</title>
</head>
<body>
    <h1>Schools in Grybów</h1>
    <ul>
        <li>AKADEMIA PRZEDSZKOLAKA W GRYBOWIE</li>
        <li>CENTRUM EDUKACYJNO - TERAPEUTYCZNE "ISKIERKA" - OŚRODEK REWALIDACYJNO-WYCHOWAWCZY</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO W GRYBOWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W GRYBOWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. ARTURA GROTTGERA W GRYBOWIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE PARAFIALNE Z ODDZIAŁEM INTEGRACYJNYM IM. ŚW. DZIECI FATIMSKICH W GRYBOWIE</li>
        <li>POWIATOWA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W NOWYM SĄCZU FILIA W GRYBOWIE</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE "POD TOPOLĄ" W GRYBOWIE</li>
        <li>SZKOŁA BRANŻOWA I STOPNIA W GRYBOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. KAZIMIERZA WIELKIEGO W GRYBOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 2</li>
        <li>TECHNIKUM W GRYBOWIE</li>
        <li>ZESPÓŁ SZKÓŁ ZAWODOWYCH IM. STANISŁAWA STASZICA W GRYBOWIE</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
