
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Witów</title>
</head>
<body>
    <h1>Schools in Witów</h1>
    <ul>
        <li>NIEPUBLICZNE PRZEDSZKOLE ZGROMADZENIA CÓREK BOŻEJ MIŁOŚCI IM.FRANCISZKI LECHNER W WITOWIE</li>
        <li>SZKOŁA PODSTAWOWA IM. KS. LEONA MUSIELAKA W WITOWIE</li>

    </ul>
    <a href="MAŁOPOLSKIE.html">Back to Cities in MAŁOPOLSKIE</a>
</body>
</html>
