
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Trzebnica</title>
</head>
<body>
    <h1>Schools in Trzebnica</h1>
    <ul>
        <li>"SŁONECZKO" CENTRUM EDUKACJI I ZABAWY</li>
        <li>BIBLIOTEKA PEDAGOGICZNA W TRZEBNICY</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA W POWIATOWYM ZESPOLE SZKÓŁ NR 2 W TRZEBNICY</li>
        <li>BRANŻOWA SZKOŁA SPECJALNA I STOPNIA NR 2 W POWIATOWYM ZESPOLE SPECJALNYCH PLACÓWEK SZKOLNO-WYCHOWAWCZYCH IM MARII GRZEGORZEWSKIEJ W TRZEBNICY</li>
        <li>GMINNA SZKOŁA MUZYCZNA I STOPNIA IM. PROF. EDMUNDA KAJDASZA W TRZEBNICY</li>
        <li>GMINNE PRZEDSZKOLE NR 1 W TRZEBNICY IM. KRASNALA HAŁABAŁY</li>
        <li>GMINNE PRZEDSZKOLE NR 2 W TRZEBNICY IM. POLSKIEJ NIEZAPOMINAJKI</li>
        <li>JĘZYKOWA INTEGRACYJNA SZKOŁA PODSTAWOWA IM. ANIOŁÓW STRÓŻÓW</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W POWIATOWYM ZESPOLE SZKÓŁ NR 2 IM. PIOTRA WŁOSTOWICA W TRZEBNICY</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM.II ARMII WOJSKA POLSKIEGO</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "NASZ ŚWIAT"</li>
        <li>OSRODEK REWALIDACYJNO- WYCHOWAWCZY W TRZEBNICY</li>
        <li>PORADNIA PSYCHOLOGICZNO PEDAGOGICZNA W TRZEBNICY</li>
        <li>POWIATOWY ZESPÓŁ SPECJALNYCH PLACÓWEK SZKOLNO-WYCHOWAWCZYCH IM MARII GRZEGORZEWSKIEJ</li>
        <li>POWIATOWY ZESPÓŁ SZKÓŁ NR 2 W TRZEBNICY IM PIOTRA WŁOSTOWICA</li>
        <li>PRZEDSZKOLE INTEGRACYJNE</li>
        <li>PRZEDSZKOLE JĘZYKOWE "LEŚNE SKRZATY"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "KONICZYNKA"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE MONTESSONI - CZERWONY BALONIK</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE PROMYCZEK</li>
        <li>SPECJALNY OSRODEK SZKOLNO-WYCHOWAWCZY W POWIATOWYM ZESPOLE SPECJALNYCH PLACÓWEK SZKOLNO-WYCHOWAWCZYCH</li>
        <li>SZKOŁA PODSTAWOWA DLA DOROSŁYCH</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. KSIĘCIA HENRYKA BRODATEGO W TRZEBNICY</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. GEN. LEOPOLDA OKULICKIEGO "NIEDŹWIADKA" W TRZEBNICY</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. MARII SKŁODOWSKIEJ-CURIE W TRZEBNICY</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 5 W TRZEBNICY</li>
        <li>SZKOŁA POLICEALNA W POWIATOWYM ZESPOLE SZKÓŁ NR 2 W TRZEBNICY</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W POWIATOWYM ZESPOLE SPECJALNYCH PLACÓWEK SZKOLNO - WYCHOWAWCZYCH W TRZEBNICY IM MARII GRZEGORZEWSKIEJ</li>
        <li>TECHNIKUM W POWIATOWYM ZESPOLE SZKÓŁ NR 2 IM. PIOTRA WŁOSTOWICA W TRZEBNICY</li>

    </ul>
    <a href="DOLNOŚLĄSKIE.html">Back to Cities in DOLNOŚLĄSKIE</a>
</body>
</html>
