
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Jelcz-Laskowice</title>
</head>
<body>
    <h1>Schools in Jelcz-Laskowice</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W JELCZU-LASKOWICACH</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA W JELCZU-LASKOWICACH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W JELCZU-LASKOWICACH</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA ALTRA</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE MONTESSORI "TUPTUŚ"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE MONTESSORI "TUPTUŚ"</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W JELCZU-LASKOWICACH</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 1</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 2</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 3</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 1, IM. ŚWIĘTEGO JANA PAWŁA II W JELCZU-LASKOWICACH</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 2 IM. MARII SKŁODOWSKIEJ -CURIE W JELCZU-LASKOWICACH</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 3 IM. BOLESŁAWA PRUSA</li>
        <li>TECHNIKUM W JELCZU-LASKOWICACH</li>
        <li>ZESPÓŁ SZKÓŁ IM. JANA KASPROWICZA W JELCZU-LASKOWICACH</li>

    </ul>
    <a href="DOLNOŚLĄSKIE.html">Back to Cities in DOLNOŚLĄSKIE</a>
</body>
</html>
