
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Żarów</title>
</head>
<body>
    <h1>Schools in Żarów</h1>
    <ul>
        <li>"DARNOK" KONRAD ŻYDEK</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA W ŻAROWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W ŻAROWIE</li>
        <li>PRZEDSZKOLE MIEJSKIE "BAJKOWE PRZEDSZKOLE" W ŻAROWIE</li>
        <li>SZKOŁA PODSTAWOWA IM. JANA BRZECHWY W ŻAROWIE</li>
        <li>SZKOŁA POLICEALNA W ŻAROWIE</li>
        <li>TECHNIKUM W ŻAROWIE</li>
        <li>ZESPÓŁ SZKÓŁ IM. JĘDRZEJA ŚNIADECKIEGO W ŻAROWIE</li>

    </ul>
    <a href="DOLNOŚLĄSKIE.html">Back to Cities in DOLNOŚLĄSKIE</a>
</body>
</html>
