
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Oława</title>
</head>
<body>
    <h1>Schools in Oława</h1>
    <ul>
        <li>BIBLIOTEKA PEDAGOGICZNA W OŁAWIE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 1 W OŁAWIE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 2 W OŁAWIE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA SPECJALNA NR 3 W OŁAWIE</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO W OŁAWIE</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO W OŁAWIE</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO W OŁAWIE</li>
        <li>DOLNOŚLĄSKI ZAKŁAD DOSKONALENIA ZAWODOWEGO ODDZIAŁ I WE WROCŁAWIU OŚRODEK KSZTAŁCENIA ZAWODOWEGO W OŁAWIE</li>
        <li>GMINNA SZKOŁA PODSTAWOWA IM. POLSKICH NOBLISTÓW W OŁAWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH "EUREKA" W OŁAWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE NR I IM. JANA III SOBIESKIEGO W OŁAWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE NR II W OŁAWIE</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 1 W OŁAWIE</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 2 W OŁAWIE</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 3 W OŁAWIE</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 4 W OŁAWIE</li>
        <li>MŁODZIEŻOWY OŚRODEK SOCJOTERAPII W OŁAWIE</li>
        <li>MŁODZIEŻOWY OŚRODEK WYCHOWAWCZY W OŁAWIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "BĄBELKI"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "KREDKA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE EKOLUDKI</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE I ŻŁOBEK "MAGICZNA KRAINA" SYLWIA RATAJCZYK</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE KOLOROWYCH SKRZATÓW</li>
        <li>OŚRODEK REWALIDACYJNY KROK PO KROKU</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I ST. IM. JADWIGI SZAJNY-LEWANDOWSKIEJ W OŁAWIE</li>
        <li>POLICEALNA SZKOŁA MEDYCZNA EPSILON W OŁAWIE</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W OŁAWIE</li>
        <li>POWIATOWY OŚRODEK DOSKONALENIA NAUCZYCIELI W OŁAWIE</li>
        <li>POWIATOWY OŚRODEK POMOCY PSYCHOLOGICZNO-PEDAGOGICZNEJ I DORADZTWA METODYCZNEGO W OŁAWIE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "ŻAK" W OŁAWIE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE MAGDALENKA</li>
        <li>PRZEDSZKOLE SPECJALNE NR 5 W OŁAWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. BOLESŁAWA CHROBREGO W OŁAWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. JAKUBA SOBIESKIEGO W OŁAWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. ORLĄT LWOWSKICH W OŁAWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 4 IM. JANA PAWŁA II W OŁAWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 5 IM. KAWALERÓW ORDERU UŚMIECHU W OŁAWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 6 IM. POLSKICH OLIMPIJCZYKÓW W OŁAWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 8 IM. GENERAŁA KAROLA ROLOW MIAŁOWSKIEGO W OŁAWIE</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 1 W OŁAWIE</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 2 W OŁAWIE</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W OŁAWIE</li>
        <li>TECHNIKUM NR 1 W OŁAWIE</li>
        <li>TECHNIKUM NR 2 W OŁAWIE</li>
        <li>ZESPÓŁ PLACÓWEK RESOCJALIZACYJNO-SOCJOTERAPEUTYCZNYCH W OŁAWIE</li>
        <li>ZESPÓŁ SZKÓŁ IM. ZJEDNOCZONEJ EUROPY W OŁAWIE</li>
        <li>ZESPÓŁ SZKÓŁ SPECJALNYCH IM. IRENY KOMOROWSKIEJ W OŁAWIE</li>
        <li>ZESPÓŁ SZKOLNO - PRZEDSZKOLNY NR 1 W OŁAWIE</li>

    </ul>
    <a href="DOLNOŚLĄSKIE.html">Back to Cities in DOLNOŚLĄSKIE</a>
</body>
</html>
