
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Pisarzowice</title>
</head>
<body>
    <h1>Schools in Pisarzowice</h1>
    <ul>
        <li>PRZEDSZKOLE PUBLICZNE W PISARZOWICACH IM.PIASTÓW SLĄSKICH</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE W PISARZOWICACH</li>
        <li>SZKOŁA PODSTAWOWA IM. NOBLISTÓW POLSKICH W PISARZOWICACH</li>
        <li>SZKOŁA PODSTAWOWA W PISARZOWICACH IM.PIASTÓW ŚLĄSKICH</li>
        <li>ZESPÓŁ SZKÓŁ PRZEDSZKOLE W PISARZOWICACH</li>
        <li>ZESPÓŁ SZKÓŁ SZKOŁA PODSTAWOWA IM. IRENY SENDLEROWEJ W PISARZOWICACH</li>
        <li>ZESPÓŁ SZKÓŁ W PISARZOWICACH</li>
        <li>ZESPÓŁ SZKOLNO- PRZEDSZKOLNY W PISARZOWICACH</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W PISARZOWICACH</li>

    </ul>
    <a href="DOLNOŚLĄSKIE.html">Back to Cities in DOLNOŚLĄSKIE</a>
</body>
</html>
