
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Wojcieszów</title>
</head>
<body>
    <h1>Schools in Wojcieszów</h1>
    <ul>
        <li>MIEJSKIE PRZEDSZKOLE PUBLICZNE W WOJCIESZOWIE</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY IM. KATARZYNY ROGOWIEC W WOJCIESZOWIE</li>
        <li>SZKOŁA PODSTAWOWA IM. WŁADYSŁAWA BRONIEWSKIEGO W WOJCIESZOWIE</li>
        <li>SZKOLA PODSTAWOWA SPECJALNA</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY</li>

    </ul>
    <a href="DOLNOŚLĄSKIE.html">Back to Cities in DOLNOŚLĄSKIE</a>
</body>
</html>
