
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Krzyżowice</title>
</head>
<body>
    <h1>Schools in Krzyżowice</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>POWIATOWY ZESPÓŁ SZKÓŁ NR 1 W KRZYŻOWICACH</li>
        <li>SZKOŁA POLICEALNA W KRZYŻOWICACH</li>
        <li>TECHNIKUM W KRZYŻOWICACH</li>

    </ul>
    <a href="DOLNOŚLĄSKIE.html">Back to Cities in DOLNOŚLĄSKIE</a>
</body>
</html>
