
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Oleśnica</title>
</head>
<body>
    <h1>Schools in Oleśnica</h1>
    <ul>
        <li>"EUROCONSULTING" CENTRUM KSZTAŁCENIA DOROSŁYCH. LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W OLEŚNICY</li>
        <li>"EUROCONSULTING" POLSKO-NIEMIECKIE CENTRUM EDUKACJI BIZNESU. SZKOŁA POLICEALNA W OLEŚNICY</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 1 W OLEŚNICY W ZESPOLE SZKÓŁ ZAWODOWYCH IM. MARII SKŁODOWSKIEJ-CURIE W OLEŚNICY</li>
        <li>BRANŻOWA SZKOŁA SPECJALNA I STOPNIA NR 2 W OLEŚNICY W SPECJALNYM OŚRODKU SZKOLNO-WYCHOWAWCZYM IM. SYBIRAKÓW W OLEŚNICY</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO KTO</li>
        <li>FILIA DOLNOŚLĄSKIEJ BIBLIOTEKI PEDAGOGICZNEJ W OLEŚNICY</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE IM. JULIUSZA SŁOWACKIEGO W OLEŚNICY</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE IM. KS. JANA TWARDOWSKIEGO W OLEŚNICY</li>
        <li>INTEGRACYJNY PUNKT PRZEDSZKOLNY "ODKRYWCY" W OLEŚNICY</li>
        <li>INTEGRACYJNY PUNKT PRZEDSZKOLNY "ZACZAROWANY OŁÓWEK"</li>
        <li>INTEGRACYJNY PUNKT PRZEDSZKOLNY W PAŁACYKU</li>
        <li>KATOLICKA SZKOŁA PODSTAWOWA IM. ŚW. JANA APOSTOŁA I EWANGELISTY</li>
        <li>KLUB MALUCHA "CHATKA PUCHATKA" INTEGRACYJNE PRZEDSZKOLE</li>
        <li>LEŚNY SKRZAT - NIEPUBLICZNE INTEGRACYJNE PRZEDSZKOLE +</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W OLEŚNICY</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W OLEŚNICY W ZESPOLE SZKÓŁ ZAWODOWYCH IM. MARII SKŁODOWSKIEJ-CURIE W OLEŚNICY</li>
        <li>MŁODZIEŻOWY DOM KULTURY W OLEŚNICY</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "LOGOS"</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W OLEŚNICY</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "PRZEDSZKOLANDIA OLEŚNICA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE „U KUBUSIA PUCHATKA”</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE BAJKOWY KLUB MALUCHA RENATA MARMAJEWSKA</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE JĘZYKOWE "ANIOŁÓW STRÓŻÓW"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE MUZYCZNO - JĘZYKOWE HIPPEK</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE NA PTASIEJ</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE PRZY KATOLICKIEJ SZKOLE PODSTAWOWEJ W OLEŚNICY</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE SPORTOWO-ARTYSTYCZNE "RATATAJE"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE ZIELONA ŻABKA</li>
        <li>OŚRODEK REWALIDACYJNO-WYCHOWAWCZY W OLEŚNICY</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I ST. IM. FRYDERYKA CHOPINA W OLEŚNICY</li>
        <li>POLICEALNE STUDIUM ZAWODOWE "ALFA" W OLEŚNICY</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W OLEŚNICY</li>
        <li>POWIATOWE CENTRUM EDUKACJI I KULTURY W OLEŚNICY</li>
        <li>POWIATOWE CENTRUM KSZTAŁCENIA ZAWODOWEGO W OLEŚNICY</li>
        <li>POWIATOWY OŚRODEK DOSKONALENIA NAUCZYCIELI W OLEŚNICY</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE MALI ODKRYWCY</li>
        <li>PRZEDSZKOLE NR 1 W OLEŚNICY</li>
        <li>PRZEDSZKOLE NR 2</li>
        <li>PRZEDSZKOLE NR 3 W OLEŚNICY</li>
        <li>PRZEDSZKOLE NR 4 W OLEŚNICY</li>
        <li>PRZEDSZKOLE NR 6 W OLEŚNICY</li>
        <li>PRZEDSZKOLE PUBLICZNE "ZIELONE OGRODY"</li>
        <li>PRZEDSZKOLE SPECJALNE NR 5 W OLEŚNICY DLA DZIECI Z UPOŚLEDZENIEM UMYSŁOWYM W STOPNIU UMIARKOWANYM I ZNACZNYM, Z NIEPEŁNOSPRAWNOŚCIAMI SPRZĘŻONYMI I Z AUTYZMEM W SPECJALNYM OŚRODKU SZKOLNO-WYCHOWAWCZYM IM. SYBIRAKÓW W OLEŚNICY</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY IM. SYBIRAKÓW W OLEŚNICY</li>
        <li>SZKOŁA PODSTAWOWA GMINY OLEŚNICA IM. ADAMA MICKIEWICZA W OLEŚNICY</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. KSIĄŻĄT OLEŚNICKICH W OLEŚNICY</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. JANA KILIŃSKIEGO W OLEŚNICY</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. PODRÓŻNIKÓW I ODKRYWCÓW POLSKICH W OLEŚNICY</li>
        <li>SZKOŁA PODSTAWOWA NR 4 IM.PROF. ROMANA PODOSKIEGO W OLEŚNICY</li>
        <li>SZKOŁA PODSTAWOWA NR 7 IM. JANA PAWŁA II W OLEŚNICY</li>
        <li>SZKOŁA PODSTAWOWA NR 8 IM. NOBLISTÓW POLSKICH W OLEŚNICY</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 5 W OLEŚNICY W SPECJALNYM OŚRODKU SZKOLNO-WYCHOWAWCZYM IM. SYBIRAKÓW W OLEŚNICY</li>
        <li>SZKOŁA PODSTAWOWA Z ODDZIAŁAMI INTEGRACYJNYMI NR 6 IM. JANUSZA KORCZAKA W OLEŚNICY</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W OLEŚNICY W SPECJALNYM OŚRODKU SZKOLNO-WYCHOWAWCZYM IM. SYBIRAKÓW W OLEŚNICY</li>
        <li>TECHNIKUM W OLEŚNICY W ZESPOLE SZKÓŁ ZAWODOWYCH IM. MARII SKŁODOWSKIEJ-CURIE W OLEŚNICY</li>
        <li>ZESPÓŁ PLACÓWEK SPECJALNYCH W OLEŚNICY</li>
        <li>ZESPÓŁ PORADNI PSYCHOLOGICZNO-PEDAGOGICZNYCH W OLEŚNICY</li>
        <li>ZESPÓŁ SZKÓŁ ZAWODOWYCH IM. MARII SKŁODOWSKIEJ-CURIE W OLEŚNICY</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 1</li>

    </ul>
    <a href="DOLNOŚLĄSKIE.html">Back to Cities in DOLNOŚLĄSKIE</a>
</body>
</html>
