
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Henryków</title>
</head>
<body>
    <h1>Schools in Henryków</h1>
    <ul>
        <li>KATOLICKIE LICEUM OGÓLNOKSZTAŁCĄCE IM. BŁOGOSŁAWIONEGO EDMUNDA BOJANOWSKIEGO</li>
        <li>PRZEDSZKOLE PUBLICZNE W HENRYKOWIE</li>
        <li>SZKOŁA PODSTAWOWA W HENRYKOWIE</li>

    </ul>
    <a href="DOLNOŚLĄSKIE.html">Back to Cities in DOLNOŚLĄSKIE</a>
</body>
</html>
