
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Osiek</title>
</head>
<body>
    <h1>Schools in Osiek</h1>
    <ul>
        <li>PRZEDSZKOLE NIEPUBLICZNE BIAŁA ŻYRAFA W OSIEKU</li>
        <li>PUNKT PRZEDSZKOLNY W OSIEKU UL. ŚW. KATARZYNY 75A</li>
        <li>SZKOŁA PODSTAWOWA IM. JANUSZA KORCZAKA W NIEMSTOWIE SZKOŁA FILIALNA W OSIEKU</li>
        <li>SZKOŁA PODSTAWOWA IM. KAROLA WOJTYŁY W OSIEKU</li>

    </ul>
    <a href="DOLNOŚLĄSKIE.html">Back to Cities in DOLNOŚLĄSKIE</a>
</body>
</html>
