
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Pieńsk</title>
</head>
<body>
    <h1>Schools in Pieńsk</h1>
    <ul>
        <li>PRZEDSZKOLE PUBLICZNE NR 1 W PIEŃSKU</li>
        <li>SZKOŁA PODSTAWOWA NR 1IM. POLSKICH ŻOŁNIERZY WRZEŚNIA 1939 R.</li>
        <li>SZKOŁA PODSTAWOWA NR 2 W PIEŃSKU IM. O. MICHAŁA TOMASZKA</li>

    </ul>
    <a href="DOLNOŚLĄSKIE.html">Back to Cities in DOLNOŚLĄSKIE</a>
</body>
</html>
