
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Kłodzko</title>
</head>
<body>
    <h1>Schools in Kłodzko</h1>
    <ul>
        <li>"AKADEMIA PRZEDSZKOLAKA" NIEPUBLICZNE PRZEDSZKOLE</li>
        <li>AGENCJA USŁUG OŚWIATOWYCH "OMNIBUS" SP. Z O.O. W KŁODZKU</li>
        <li>ALTERNATYWNE LICEUM OGÓLNOKSZTAŁCĄCE W KŁODZKU</li>
        <li>ART PMU ACADEMY DLA DOROSŁYCH</li>
        <li>ART-MASAŻ CENTRUM SZKOLENIOWE W KŁODZKU</li>
        <li>BIBLIOTEKA PEDAGOGICZNA W KŁODZKU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 1 IM. PROF. WACŁAWA ŻENCZYKOWSKIEGO W KŁODZKU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 2</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA SPECJALNA NR 3</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA W KŁODZKU</li>
        <li>CENTRUM KSZTAŁCENIA KURSOWEGO W KŁODZKU</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO W KŁODZKIEJ SZKOLE PRZEDSIĘBIORCZOŚCI W KŁODZKU</li>
        <li>CENTRUM SZKOLENIOWE "GAMMA"</li>
        <li>CENTRUM SZKOLENIOWE BABI RAJ</li>
        <li>DOLNOŚLĄSKI ZAKŁAD DOSKONALENIA ZAWODOWEGO ODDZIAŁ I WE WROCŁAWIU OŚRODEK KSZTAŁCENIA ZAWODOWEGO W KŁODZKU</li>
        <li>GABINET KOSMETYKI ESTETYCZNEJ-STUDIO WIZAŻU I STYLIZACJI</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE IM. BOLESŁAWA CHROBREGO W KŁODZKU</li>
        <li>I NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W KŁODZKU</li>
        <li>KŁODZKA SZKOŁA PRZEDSIĘBIORCZOŚCI W KŁODZKU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W KŁODZKU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W KŁODZKU</li>
        <li>MEDYCZNA SZKOŁA POLICEALNA W KŁODZKU</li>
        <li>MŁODZIEŻOWY OŚRODEK SOCJOTERAPII W KŁODZKU</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "RAZEM" MAGDALENA ZAPAŁ</li>
        <li>NIEPUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE "MEDICAL" W KŁODZKU</li>
        <li>NIEPUBLICZNY TERAPEUTYCZNY PUNKT PRZEDSZKOLNY SUBRIDEO</li>
        <li>OŚRODEK FINANSOWO-SZKOLENIOWY "KREZUS" HENRYK CZERHONIAK NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO</li>
        <li>OŚRODEK SZKOLENIOWY RZEMIOSŁA W KŁODZKU</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I ST. IM. FRYDERYKA CHOPINA W KŁODZKU</li>
        <li>POLICEALNA SZKOŁA EDUKACJI EUROPEJSKIEJ W KŁODZKU</li>
        <li>POLICEALNA SZKOŁA KOSMETYKI I ROZWOJU "GAMMA" W KŁODZKU</li>
        <li>POLICEALNA SZKOŁA KSZTAŁCENIA ZAWODOWEGO DREAMLIFT</li>
        <li>POWIATOWA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W KŁODZKU</li>
        <li>POWIATOWE CENTRUM PSYCHOLOGICZNO-PEDAGOGICZNE W KŁODZKU</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE " PRZYJACIÓŁ DZIECI"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "PROMYCZEK"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE ZGROMADZENIA SIÓSTR SŁUŻEBNICZEK NAJŚWIĘTSZEJ MARYI PANNY NIEPOKALANIE POCZĘTEJ</li>
        <li>PRZEDSZKOLE NR 1 W KŁODZKU</li>
        <li>PRZEDSZKOLE NR 2 W KŁODZKU</li>
        <li>PRZEDSZKOLE NR 3</li>
        <li>PRZEDSZKOLE NR4 Z ODDZIAŁAMI INTEGRACYJNYMI I ODDZIAŁAMI SPECJALNYMI IM. JANA BRZECHWY</li>
        <li>SPOŁECZNA SZKOŁA PODSTAWOWA</li>
        <li>SPOŁECZNE LICEUM OGÓLNOKSZTAŁCĄCE W KŁODZKU</li>
        <li>SZKOŁA EKONOMICZNO-USŁUGOWA W KŁODZKU</li>
        <li>SZKOŁA JĘZYKA ANGIELSKIEGO "RAINBOW" SYLWIA DOWNAROWICZ</li>
        <li>SZKOŁA PODSTAWOWA IM. WŁADYSŁAWA STANISŁAWA REYMONTA W KŁODZKU</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. ADAMA MICKIEWICZA</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. JANA PAWŁA II W KŁODZKU</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM.KPT.STANISŁAWA BETLEJA</li>
        <li>SZKOŁA PODSTAWOWA NR 6 IM. UNII EUROPEJSKIEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 7</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 8 W MŁODZIEŻOWYM OŚRODKU SOCJOTERAPII W KŁODZKU</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 9 W KŁODZKU</li>
        <li>SZKOŁA POLICEALNA MEDYK W KŁODZKU</li>
        <li>SZKOŁA POLICEALNA NR 1 IM. PROF. WACŁAWA ŻENCZYKOWSKIEGO W KŁODZKU</li>
        <li>SZKOŁA POLICEALNA NR 2</li>
        <li>TECHNIKUM NR 1 IM. PROF. WACŁAWA ŻENCZYKOWSKIEGO W KŁODZKU</li>
        <li>TECHNIKUM NR 2 W KŁODZKU</li>
        <li>TRZYLETNIA SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W KŁODZKU</li>
        <li>WIESŁAW WOŚ PRYWATNA SZKOŁA JAZDY</li>
        <li>ZESPÓŁ SZKÓŁ ALTERNATYWNYCH W KŁODZKU</li>
        <li>ZESPÓŁ SZKÓŁ SPECJALNYCH W KŁODZKU</li>
        <li>ZESPÓŁ SZKÓŁ SPOŁECZNYCH</li>
        <li>ZESPÓŁ SZKÓŁ TECHNICZNYCH W KŁODZKU</li>

    </ul>
    <a href="DOLNOŚLĄSKIE.html">Back to Cities in DOLNOŚLĄSKIE</a>
</body>
</html>
