
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Milicz</title>
</head>
<body>
    <h1>Schools in Milicz</h1>
    <ul>
        <li>"MALI ODKRYWCY" PRZEDSZKOLE</li>
        <li>BIBLIOTEKA PEDAGOGICZNA W MILICZU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA W ZESPOLE SZKÓŁ IM. TADEUSZA KOŚCIUSZKI W MILICZ</li>
        <li>DOLNOŚLĄSKI ZESPÓŁ SZKÓŁ SPECJALNYCH PRZY WIELOSPECJALISTYCZNYM SZPITALU W MILICZU</li>
        <li>DZIENNY OŚRODEK REHABILITACYJNO-WYCHOWAWCZY W MILICZU - PRZEDSZKOLE MASOWE - PRZEDSZKOLE SPECJALNE</li>
        <li>DZIENNY OŚRODEK REWALIDACYJNO WYCHOWAWCZY</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE IM. ARMII KRAJOWEJ</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE W ZESPOLE SZKÓŁ IM. TADEUSZA KOŚCIUSZKI W MILICZU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH "VENA" W MILICZU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W ZESPOLE SZKÓŁ IM. TADEUSZA KOŚCIUSZKI W MILICZU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE SPECJALNE W MILICZU</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO MISTRZOSTWA SPORTOWEGO REKREACJI I TURYSTYKI IM. SŁAWOMIRA SZYMCZAKA</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE MOTYLEK</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W MILICZ</li>
        <li>POWIATOWE CENTRUM EDUKACYJNE I PSYCHOLOGICZNO PEDAGOGICZNE W MILICZU</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "SWIAT MALUCHA"</li>
        <li>PRZEDSZKOLE PARAFIALNE IM. ŚW. FELIKSA Z CANTALICIO W MILICZU</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE W MILICZU</li>
        <li>SPCEJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY -BRANŻOWA I STOPNIA</li>
        <li>SPECJALNY OŚRODEK SZKOLNO WYCHOWAWCZY</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY - SPECJALNA SZKOŁA PODSTAWOWA</li>
        <li>SPOŁECZNA SZKOŁA PODSTAWOWA IM. ASTRID LINDGREN W MILICZU</li>
        <li>SZKOŁA BRANŻOWA II STOPNIA LIDER W MILICZU</li>
        <li>SZKOŁA MUZYCZNA I STOPNIA W MILICZU</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. MIKOŁAJA KOPERNIKA W MILICZU</li>
        <li>SZKOŁA PODSTAWOWA NR 2 I SZKOŁA MUZYCZNA I STOPNIA W MILICZU</li>
        <li>SZKOŁA PODSTAWOWA NR 2 W MILICZU</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 1</li>
        <li>SZKOŁA POLICEALNA "LIDER"</li>
        <li>SZKOŁA POLICEALNA W ZESPOLE SZKÓŁ IM. TADEUSZA KOŚCIUSZKI W MILICZ</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W SPECJALNYM OŚRODKU SZKOLNO-WYCHOWAWCZYM W MILICZU</li>
        <li>SZKOLNE SCHRONISKO MŁODZIEŻOWE "DOLINA BARYCZY" W MILICZU</li>
        <li>TECHNIKUM LEŚNE W MILICZU IM. PROF. WŁADYSŁAWA JEDLIŃSKIEGO</li>
        <li>TECHNIKUM W ZESPOLE SZKÓŁ IM. TADEUSZA KOŚCIUSZKI W MILICZU</li>
        <li>ZAKŁAD SZKOLENIA ZAWODOWEGO "KURSOR"</li>
        <li>ZESPÓŁ SZKÓŁ IM. TADEUSZA KOŚCIUSZKI</li>

    </ul>
    <a href="DOLNOŚLĄSKIE.html">Back to Cities in DOLNOŚLĄSKIE</a>
</body>
</html>
