
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Tomaszów Bolesławiecki</title>
</head>
<body>
    <h1>Schools in Tomaszów Bolesławiecki</h1>
    <ul>
        <li>PRZEDSZKOLE NIEPUBLICZNE "AKADEMIA ROZWOJU"</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA IM. ŻOŁNIERZY II ARMII WOJSKA POLSKIEGO W TOMASZOWIE BOLESŁAWIECKIM</li>
        <li>PUNKT PRZEDSZKOLNY "TĘCZOWY OGRÓD" W PUBLICZNEJ SZKOLE PODSTAWOWEJ W TOMASZOWIE BOLESŁAWIECKIM</li>

    </ul>
    <a href="DOLNOŚLĄSKIE.html">Back to Cities in DOLNOŚLĄSKIE</a>
</body>
</html>
