
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Międzybórz</title>
</head>
<body>
    <h1>Schools in Międzybórz</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W MIĘDZYBORZU W ZESPOLE SZKÓŁ PONADPODSTAWOWYCH IM. ORŁA BIAŁEGO W MIĘDZYBORZU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W MIĘDZYBORZU W ZESPOLE SZKÓŁ PONADPODSTAWOWYCH IM. ORŁA BIAŁEGO W MIĘDZYBORZU</li>
        <li>PRZEDSZKOLE BAJKA W MIĘDZYBORZU</li>
        <li>SZKOŁA PODSTAWOWA IM. JERZEGO BADURY</li>
        <li>TECHNIKUM W MIĘDZYBORZU W ZESPOLE SZKÓŁ PONADPODSTAWOWYCH IM. ORŁA BIAŁEGO W MIĘDZYBORZU</li>
        <li>ZESPÓŁ SZKÓŁ PONADPODSTAWOWYCH IM. ORŁA BIAŁEGO W MIĘDZYBORZU</li>

    </ul>
    <a href="DOLNOŚLĄSKIE.html">Back to Cities in DOLNOŚLĄSKIE</a>
</body>
</html>
