
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Szklary Górne</title>
</head>
<body>
    <h1>Schools in Szklary Górne</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA SPECJALNA W SZKLARACH GÓRNYCH</li>
        <li>PUNKT PRZEDSZKOLNY W SZKLARACH GÓRNYCH NR 25</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY IM. PRZYJACIÓŁ DZIECI W SZKLARACH GÓRNYCH</li>
        <li>SZKOŁA PODSTAWOWA IM. JANA BRZECHWY W SZKLARACH GÓRNYCH</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA W SZKLARACH GÓRNYCH</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W SZKLARACH GÓRNYCH</li>

    </ul>
    <a href="DOLNOŚLĄSKIE.html">Back to Cities in DOLNOŚLĄSKIE</a>
</body>
</html>
