
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Lubawka</title>
</head>
<body>
    <h1>Schools in Lubawka</h1>
    <ul>
        <li>NIEPUBLICZNE SZKOLNE SCHRONISKO MŁODZIEŻOWE "LUBAWKA"</li>
        <li>PRZEDSZKOLE PUBLICZNEW LUBAWCE</li>
        <li>SZKOŁA PODSTAWOWA IM ŻOŁNIERZY SYBIRU</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W LUBAWCE</li>

    </ul>
    <a href="DOLNOŚLĄSKIE.html">Back to Cities in DOLNOŚLĄSKIE</a>
</body>
</html>
