
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Dobroszyce</title>
</head>
<body>
    <h1>Schools in Dobroszyce</h1>
    <ul>
        <li>GMINNE PRZEDSZKOLE MARZEŃ I TALENTÓW W DOBROSZYCACH</li>
        <li>SPECJALNA SZKOŁA PRZYSPOSABIAJĄCA DO PRACY DLA UCZNIÓW Z UPOŚLEDZENIEM UMYSŁOWYM W STOPNIU UMIARKOWANYM LUB ZNACZNYM</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY CARITAS ARCHIDIECEZJI WROCŁAWSKIEJ</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY CARITAS ARCHIDIECEZJI WROCŁAWSKIEJ - BRANŻOWA SZKOŁA I STOPNIA SPECJALNA DLA MŁODZIEŻY Z NIEPEŁNOSPRAWNOŚCIĄ INTELEKTUALNĄ W STOPNIU LEKKIM</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY CARITAS ARCHIDIECEZJI WROCŁAWSKIEJ - SZKOŁA PODSTAWOWA SPECJALNA DLA DZIECI Z NIEPEŁNOSPRAWNOŚCIĄ INTELEKTUALNĄ W STOPNIU LEKKIM</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY CARITAS ARCHIDIECEZJI WROCŁAWSKIEJ - SZKOŁA PODSTAWOWA SPECJALNA DLA DZIECI Z NIEPEŁNOSPRAWNOŚCIĄ INTELEKTUALNĄ W STOPNIU UMIARKOWANYM I ZNACZNYM</li>
        <li>SZKOŁA PODSTAWOWA IM. IRENY SENDLEROWEJ W DOBROSZYCACH</li>

    </ul>
    <a href="DOLNOŚLĄSKIE.html">Back to Cities in DOLNOŚLĄSKIE</a>
</body>
</html>
