
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Świętoszów</title>
</head>
<body>
    <h1>Schools in Świętoszów</h1>
    <ul>
        <li>GMINNE PRZEDSZKOLE W ŚWIĘTOSZOWIE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE IM.KUBUSIA PUCHATKA W ŚWIĘTOSZOWIE</li>
        <li>SZKOŁA PODSTAWOWA W ŚWIĘTOSZOWIE</li>
        <li>ZESPÓŁ SZKÓŁ IM UNII EUROPEJSKIEJ W ŚWIĘTOSZOWIE</li>

    </ul>
    <a href="DOLNOŚLĄSKIE.html">Back to Cities in DOLNOŚLĄSKIE</a>
</body>
</html>
