
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Mirsk</title>
</head>
<body>
    <h1>Schools in Mirsk</h1>
    <ul>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. BOHATERÓW II ARMII WOJSKA POLSKIEGO W MIRSKU</li>
        <li>PRZEDSZKOLE PUBLICZNE IM. IZERSKICH SKRZATÓW W MIRSKU</li>
        <li>PRZEDSZKOLE SZYSZKOWA POLANA W MIRSKU</li>
        <li>SZKOŁA PODSTAWOWA IM. OSADNIKÓW ZIEMI MIRSKIEJ W MIRSKU</li>
        <li>TECHNIKUM HOTELARSKO-TURYSTYCZNE W MIRSKU</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W MIRSKU</li>

    </ul>
    <a href="DOLNOŚLĄSKIE.html">Back to Cities in DOLNOŚLĄSKIE</a>
</body>
</html>
