
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Czernina</title>
</head>
<body>
    <h1>Schools in Czernina</h1>
    <ul>
        <li>PRZEDSZKOLE PUBLICZNE W CZERNINIE</li>
        <li>SZKOŁA PODSTAWOWA W CZERNINIE</li>
        <li>ZESPÓŁ SZKOŁA PODSTAWOWA I PRZEDSZKOLE IM. ŚW. HUBERTA W CZERNINIE</li>

    </ul>
    <a href="DOLNOŚLĄSKIE.html">Back to Cities in DOLNOŚLĄSKIE</a>
</body>
</html>
