
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Złotoryja</title>
</head>
<body>
    <h1>Schools in Złotoryja</h1>
    <ul>
        <li>BIBLIOTEKA PEDAGOGICZNA</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA</li>
        <li>DOLNOŚLĄSKI ZAKŁAD DOSKONALENIA ZAWODOWEGO ODDZIAŁ I WE WROCŁAWIU OŚRODEK KSZTAŁCENIA ZAWODOWEGO W ZŁOTORYI</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. JANA PAWŁA II W ZŁOTORYI</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "PĘPEK ŚWIATA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "POZYTYWKA" Z KREATYWNĄ SALĄ ZABAW MAŁGORZATA BORYNA</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE JĘZYKOWE ,"MICHAŁEK" W ZŁOTORYI</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE MONTESSORI "KANGUREK"</li>
        <li>OŚRODEK DOKSZTAŁCENIA I DOSKONALENIA ZAWODOWEGO PRZY ZESPOLE SZKÓŁ ZAWODOWYCH W ZLOTORYI</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA</li>
        <li>POWIATOWY OŚRODEK DOSKONALENIA NAUCZYCIELI</li>
        <li>POWIATOWY OŚRODEK POMOCY PSYCHOLOGICZNO-PEDAGOGICZNEJ W ZŁOTORYI</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 1</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 2</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE IM. MISIA USZATKA W ZŁOTORYI</li>
        <li>PRZEDSZKOLE SPECJALNE W SPECJALNYM OŚRODKU SZKOLNO - WYCHOWAWCZYM IM. JANUSZA KORCZAKA W ZŁOTORYI</li>
        <li>PRZEDSZKOLE TERAPEUTYCZNE - DOBRY START</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY IM. JANUSZA KORCZAKA</li>
        <li>SZKOŁA PODSTAWOWA</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. MARII KONOPNICKIEJ W ZŁOTORYI</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. HENRYKA BRODATEGO W ZŁOTORYI</li>
        <li>SZKOŁA POLICEALNA W ZŁOTORYI</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY</li>
        <li>SZKOLNE SCHRONISKO MŁODZIEŻOWE</li>
        <li>TECHNIKUM</li>
        <li>ZESPÓŁ SZKÓŁ ZAWODOWYCH IM MJR HENRYKA SUCHARSKIEGO W ZŁOTORYI</li>

    </ul>
    <a href="DOLNOŚLĄSKIE.html">Back to Cities in DOLNOŚLĄSKIE</a>
</body>
</html>
