
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Brzeg Dolny</title>
</head>
<body>
    <h1>Schools in Brzeg Dolny</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA IM.KOMISJI EDUKACJI NARODOWEJ</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. J.M. OSSOLIŃSKIEGO</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI DWUJĘZYCZNUMI IM. KOMISJI ED UKACJI NARODOWEJ W BRZEGU DOLNYM</li>
        <li>MŁODZIEŻOWY OŚRODEK SOCJOTERAPII W BRZEGU DOLNYM</li>
        <li>MŁODZIEŻOWY OŚRODEK WYCHOWAWCZY NR 1 W BRZEGU DOLNYM</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W BRZEGU DOLNYM</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 1</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 2</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 3</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 4</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 5</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. ADAMA MICKIEWICZA</li>
        <li>SZKOŁA PODSTAWOWA NR 5 IM. MARII SKŁODOWSKIEJ-CURIE</li>
        <li>SZKOŁA PODSTAWOWA NR 6</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 2</li>
        <li>TECHNIKUM IM. KOMISJI EDUKACJI NARODOWEJ</li>
        <li>ZESPÓŁ PLACÓWEK RESOCJALIZACYJNYCH W BRZEGU DOLNYM</li>
        <li>ZESPÓŁ SZKÓŁ ZAWODOWYCH W BRZEGU DOLNYM</li>
        <li>ZESPÓŁ SZKOLNO - PRZEDSZKOLNY NR 3</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 1</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 2</li>

    </ul>
    <a href="DOLNOŚLĄSKIE.html">Back to Cities in DOLNOŚLĄSKIE</a>
</body>
</html>
