
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Bożków</title>
</head>
<body>
    <h1>Schools in Bożków</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W BOŻKOWIE</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO W BOŻKOWIE</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE W BOŻKOWIE</li>
        <li>SZKOŁA PODSTAWOWA Z ODDZIAŁAMI INTEGRACYJNYMI IM. KORNELA MAKUSZYŃSKIEGO W BOŻKOWIE</li>
        <li>TECHNIKUM IM. WŁADYSŁAWA STANISŁAWA REYMONTA W BOŻKOWIE</li>
        <li>ZESPÓŁ SZKÓŁ CENTRUM KSZTAŁCENIA ROLNICZEGO W BOŻKOWIE</li>
        <li>ZESPÓŁ SZKÓŁ NR 3 Z ODDZIAŁAMI INTEGRACYJNYMI W BOŻKOWIE</li>

    </ul>
    <a href="DOLNOŚLĄSKIE.html">Back to Cities in DOLNOŚLĄSKIE</a>
</body>
</html>
