
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Walim</title>
</head>
<body>
    <h1>Schools in Walim</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA SPECJALNA W WALIMIU</li>
        <li>MŁODZIEŻOWY OŚRODEK SOCJOTERAPII IM. UNICEF W WALIMIU</li>
        <li>POWIATOWA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA</li>

    </ul>
    <a href="DOLNOŚLĄSKIE.html">Back to Cities in DOLNOŚLĄSKIE</a>
</body>
</html>
