
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Jawor</title>
</head>
<body>
    <h1>Schools in Jawor</h1>
    <ul>
        <li>BIBLIOTEKA PEDAGOGICZNA</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA</li>
        <li>BRANŻOWA SZKOŁA SPECJALNA I STOPNIA</li>
        <li>BRANŻOWA SZKOŁA SPECJALNA I STOPNIA W JAWORZE</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO W JAWORZE</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO</li>
        <li>DOLNOŚLĄSKI MŁODZIEŻOWY OŚRODEK WYCHOWAWCZY W JAWORZE</li>
        <li>DOLNOŚLĄSKI ZESPÓŁ SZKÓŁ W JAWORZE</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE IMIENIA KSIĘCIA BOLKA I W JAWORZE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "MÓJ MAŁY ŚWIAT"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE MONTESSORI "KANGUREK"</li>
        <li>PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA W JAWORZE</li>
        <li>POWIATOWE CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO IM. KOMISJI EDUKACJI NARODOWEJ</li>
        <li>POWIATOWY OŚRODEK ROZWOJU EDUKACJI</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "PRYMUSEK" W JAWORZE</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 2 "AKADEMIA KRASNOLUDKÓW"</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 4 Z ODDZIAŁAMI ZAMIEJSCOWYMI PRZY UL. DMOWSKIEGO 5</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 8 IM. KUBUSIA PUCHATKA W JAWORZE</li>
        <li>PRZEDSZKOLE SPECJALNE W JAWORZE DLA DZIECI Z NIEPEŁNOSPRAWNOŚCIĄ INTELEKTUALNĄ W STOPNIU UMIARKOWANYM, ZNACZNYM I GŁĘBOKIM, Z AUTYZMEM ORAZ Z NIEPEŁNOSPRAWNOŚCIAMI SPRZĘŻONYMI</li>
        <li>SPECJALNA SZKOŁA PODSTAWOWA NR 6</li>
        <li>SPECJALNY OŚRODEK SZKOLNO - WYCHOWAWCZY</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. KORNELA MAKUSZYŃSKIEGO W JAWORZE</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. MARSZAŁKA JÓZEFA PIŁSUDSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 4 IM. HENRYKA SIENKIEWICZA W JAWORZE</li>
        <li>SZKOŁA PODSTAWOWA NR 5 IM. JANUSZA KORCZAKA W JAWORZE</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 2 DLA DZIECI Z NIEPEŁNOSPRAWNOŚCIĄ INTELEKTUALNĄ W STOPNIU UMIARKOWANYM I ZNACZNYM</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 3 DLA DZIECI Z NIEPEŁNOSPRAWNOŚCIĄ INTELEKTUALNĄ W STOPNIU LEKKIM</li>
        <li>SZKOŁA POLICEALNA SŁUŻB SPOŁECZNYCH I MEDYCZNYCH W JAWORZE</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY</li>
        <li>TECHNIKUM</li>

    </ul>
    <a href="DOLNOŚLĄSKIE.html">Back to Cities in DOLNOŚLĄSKIE</a>
</body>
</html>
