
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Wierzbice</title>
</head>
<body>
    <h1>Schools in Wierzbice</h1>
    <ul>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE SPECJALNE W WIERZBICACH</li>
        <li>OŚRODEK REWALIDACYJNO-WYCHOWAWCZY PROWADZONY PRZE ZGROMADZENIE ŚIÓSTR ŚW. JÓZEFA</li>
        <li>SPECJALNY OŚRODEK WYCHOWAWCZYPROWADZONY PRZEZ ZGROMADZENIE SIÓSTR ŚW. JÓZEFA</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA W WIERZBICACH</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH PROWADZONY PRZEZ ZGROMADZENIE SIÓSTR ŚW. JÓZEFA</li>
        <li>ZESPÓŁ SZKÓŁ SPECJALNYCH IM. ŚW. KS. ZYGMUNTA GORAZDOWSKIEGO W WIERZBICACH</li>

    </ul>
    <a href="DOLNOŚLĄSKIE.html">Back to Cities in DOLNOŚLĄSKIE</a>
</body>
</html>
