
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Jaroszów</title>
</head>
<body>
    <h1>Schools in Jaroszów</h1>
    <ul>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA IM. JANUSZA KORCZAKA W JAROSZOWIE</li>
        <li>PUBLICZNE PRZEDSZKOLE W JAROSZOWIE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W JAROSZOWIE</li>

    </ul>
    <a href="DOLNOŚLĄSKIE.html">Back to Cities in DOLNOŚLĄSKIE</a>
</body>
</html>
