
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Bogatynia</title>
</head>
<body>
    <h1>Schools in Bogatynia</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA IM. ŚW. BARBARY</li>
        <li>CENTRUM SZKOLENIA "ELBEST" SP. Z O.O. ODDZIAŁ BOGATYNIA</li>
        <li>CENTRUM SZKOLENIOWE KLANZA W BOGATYNI</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. MARII SKŁODOWSKIEJ-CURIE W BOGATYNI</li>
        <li>NIEPUBLICZNA SZKOŁA MUZYCZNA I ST. W BOGATYNIA</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W BOGATYNI</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 3 Z ODDZIAŁAMI INTEGRACYJNYMI W BOGATYNI</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 4 W BOGATYNI</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 5 W BOGATYNI</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 6</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 7</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM.EMILII PLATER W BOGATYNI</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM.KORNELA MAKUSZYŃSKIEGO W BOGATYNI</li>
        <li>SZKOŁA PODSTAWOWA NR 4 IM. MIKOŁAJA KOPERNIKA W BOGATYNI</li>
        <li>SZKOŁA PODSTAWOWA NR 5 IM.BOLESŁAWA CHROBREGO W BOGATYNI</li>
        <li>TECHNIKUM IM. SW. BARBARY</li>
        <li>ZESPÓŁ SZKÓŁ ZAWODOWYCH W BOGATYNI</li>

    </ul>
    <a href="DOLNOŚLĄSKIE.html">Back to Cities in DOLNOŚLĄSKIE</a>
</body>
</html>
