
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Nowa Ruda</title>
</head>
<body>
    <h1>Schools in Nowa Ruda</h1>
    <ul>
        <li>"AKADEMIA MŁODEGO ARTYSTY" NIEPUBLICZNY PUNKT PRZEDSZKOLNY</li>
        <li>"MALI ODKRYWCY" PRZEDSZKOLE SPORTOWE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA IM. STANISŁAWA STASZICA W NOWEJ RUDZIE</li>
        <li>CENTRUM KSZTAŁCENIA "PROFESJA" W NOWEJ RUDZIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH CENTRUM KSZTAŁCENIA "PROFESJA" W NOWEJ RUDZIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. HENRYKA SIENKIEWICZA W NOWEJ RUDZIE</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO W NOWEJ RUDZIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE SIÓSTR SALEZJANEK W NOWEJ RUDZIE</li>
        <li>NOWORUDZKA SZKOŁA TECHNICZNA W NOWEJ RUDZIE</li>
        <li>POWIATOWA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W KŁODZKU FILIA NOWA RUDA</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 2 " MINI" W NOWEJ RUDZIE</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 3</li>
        <li>PRZEDSZKOLE MIESJKIE NR 1 W NOWEJ RUDZIE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE " KRAINA MALUCHA"</li>
        <li>PRZEDSZKOLE SPECJALNE W ZESPOLE SZKÓŁ SPECJALNYCH W NOWEJ RUDZIE</li>
        <li>SKRZYPEK NA DACHU MARCIN SKRZYPIŃSKI-NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO</li>
        <li>SZKOŁA PODASTAWOWA NR 2, IM.JANUSZA KORCZAKA W NOWEJ RUDZIE, FILIA W NOWEJ RUDZIE</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. JANUSZA KORCZAKA W NOWEJ RUDZIE</li>
        <li>SZKOŁA PODSTAWOWA NR 6 IM. JÓZEFA SOKOLA W NOWEJ RUDZIE</li>
        <li>SZKOŁA PODSTAWOWA NR 7 IM. TADEUSZA KOŚCIUSZKI W NOWEJ RUDZIE</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 4 W NOWEJ RUDZIE</li>
        <li>SZKOŁA POLICEALNA ZAOCZNA CENTRUM KSZTAŁCENIA "PROFESJA" W NOWEJ RUDZIE</li>
        <li>TECHNIKUM IM. STANISŁAWA STASZICA W NOWEJ RUDZIE</li>
        <li>TRZYLETNIA SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W NOWEJ RUDZIE</li>
        <li>ZESPÓŁ SZKÓŁ SPECJALNYCH W NOWEJ RUDZIE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 1 W NOWEJ RUDZIE</li>

    </ul>
    <a href="DOLNOŚLĄSKIE.html">Back to Cities in DOLNOŚLĄSKIE</a>
</body>
</html>
