
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Jerzmanice-Zdrój</title>
</head>
<body>
    <h1>Schools in Jerzmanice-Zdrój</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W OKRĘGOWYM OŚRODKU WYCHOWAWCZYM W JERZMANICACH ZDROJU</li>
        <li>SZKOŁA PODSTAWOWA W OKRĘGOWYM OŚRODKU WYCHOWAWCZYM W JERZMANICACH ZDROJU</li>

    </ul>
    <a href="DOLNOŚLĄSKIE.html">Back to Cities in DOLNOŚLĄSKIE</a>
</body>
</html>
