
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Chełmsko Śląskie</title>
</head>
<body>
    <h1>Schools in Chełmsko Śląskie</h1>
    <ul>
        <li>PRZEDSZKOLE PUBLICZNE IM TKACZY CHEŁMSKICH W CHEŁMSKU ŚLĄSKIM</li>
        <li>SZKOŁA PODSTAWOWA IM TKACZY CHEŁMSKICH W CHEŁMSKU ŚLĄSKIM</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W CHEŁMSKU ŚLĄSKIM</li>

    </ul>
    <a href="DOLNOŚLĄSKIE.html">Back to Cities in DOLNOŚLĄSKIE</a>
</body>
</html>
