
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Ciepłowody</title>
</head>
<body>
    <h1>Schools in Ciepłowody</h1>
    <ul>
        <li>SAMORZĄDOWE PRZEDSZKOLE W CIEPŁOWODACH</li>
        <li>SZKOŁA PODSTAWOWA IM. ADAMA MICKIEWICZA W CIEPŁOWODACH</li>
        <li>ZESPÓŁ SZKOLNO - PRZEDSZKOLNY W CIEPŁOWODACH</li>

    </ul>
    <a href="DOLNOŚLĄSKIE.html">Back to Cities in DOLNOŚLĄSKIE</a>
</body>
</html>
