
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Boguszów-Gorce</title>
</head>
<body>
    <h1>Schools in Boguszów-Gorce</h1>
    <ul>
        <li>GRUPA EK'S POLSKA W BOGUSZOWIE-GORCACH</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "FANTAZJA"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE „KONICZYNKA II”</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 3</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 1 IM. MARII KONOPNICKIEJ W BOGUSZOWIE-GORCACH</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 5 IM. BRONISŁAWA MALINOWSKIEGO W BOGUSZOWIE-GORCACH</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 6 IM. MIKOŁAJA KOPERNIKA</li>
        <li>ZESPÓŁ SZKOLNO - PRZEDSZKOLNY W BOGUSZOWIE-GORCACH</li>

    </ul>
    <a href="DOLNOŚLĄSKIE.html">Back to Cities in DOLNOŚLĄSKIE</a>
</body>
</html>
