
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Świebodzice</title>
</head>
<body>
    <h1>Schools in Świebodzice</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W ŚWIEBODZICACH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH NR II W ŚWIEBODZICACH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. MARII KONOPNICKIEJ W ŚWIEBODZICACH</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "DOBRY START" W ŚWIEBODZICACH</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE JĘZYKOWE "CHATKA PUCHATKA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE TERAPEUTYCZNE "ZIELONY ZAKĄTEK"</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY "NIEBIESKI SŁONIK"</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W ŚWIEBODZICACH</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "KONICZYNKA I"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "KONICZYNKA"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "KRAINA MARZEŃ"</li>
        <li>PRZEDSZKOLE NR 2 Z ODDZIAŁAMI INTERGACYJNYMI IM. JANA PAWŁA II</li>
        <li>PRZEDSZKOLE NR 3 NIEZAPOMINAJKA</li>
        <li>SZKOŁA BRANŻOWA II STOPNIA</li>
        <li>SZKOŁA PODSTAWOWA INTEGRACYJNA IM. HENRYKA SIENKIEWICZA</li>
        <li>SZKOŁA PODSTAWOWA NR 1</li>
        <li>SZKOŁA PODSTAWOWA NR 2 Z ODDZIAŁAMI INTEGRACYJNYMI IM. NAUCZYCIELI TAJNEGO NAUCZANIA</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. WŁADYSŁAWA BRONIEWSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 4 IM. JANUSZA KORCZAKA</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 7 W ŚWIEBODZICACH</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 8 IM. SIOSTRY MARII ANTONINY KRATOCHWIL W ŚWIEBODZICACH</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W ŚWIEBODZICACH</li>
        <li>TECHNIKUM</li>
        <li>ZESPÓŁ SZKÓŁ</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH W ŚWIEBODZICACH</li>
        <li>ZESPÓŁ SZKÓŁ SPECJALNYCH W ŚWIEBODZICACH</li>

    </ul>
    <a href="DOLNOŚLĄSKIE.html">Back to Cities in DOLNOŚLĄSKIE</a>
</body>
</html>
