
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Sokołowsko</title>
</head>
<body>
    <h1>Schools in Sokołowsko</h1>
    <ul>
        <li>DOM WCZASÓW DZIECIĘCYCH "ODRODZENIE" W SOKOŁOWSKU</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY IM. J.KORCZAKA W SOKOŁOWSKU</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY IM.JANUSZA KORCZAKA PRZEDSZKOLE GMINNE W SOKOŁOWSKU</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY SZKOŁA PODSTAWOWA IM.JANUSZA KORCZAKA W SOKOŁOWSKU</li>

    </ul>
    <a href="DOLNOŚLĄSKIE.html">Back to Cities in DOLNOŚLĄSKIE</a>
</body>
</html>
