
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Mrowiny</title>
</head>
<body>
    <h1>Schools in Mrowiny</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA SPECJALNA W MROWINACH</li>
        <li>MŁODZIEŻOWY OŚRODEK WYCHOWAWCZY NR 1 W MROWINACH</li>
        <li>SZKOŁA FILIALNA W MROWINACH SZKOŁY PODSTAWOWEJ I. JANA BRZECHWY W ŻAROWIE</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 2 W MROWINACH</li>

    </ul>
    <a href="DOLNOŚLĄSKIE.html">Back to Cities in DOLNOŚLĄSKIE</a>
</body>
</html>
