
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Chojnów</title>
</head>
<body>
    <h1>Schools in Chojnów</h1>
    <ul>
        <li>KLUB MALUCHA "SKRZAT" - PRZEDSZKOLE NIEPUBLICZNE W CHOJNOWIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE TERAPEUTYCZNE W CHOJNOWIE</li>
        <li>OCHRONKA ZGROMADZENIA SIÓSTR SŁUŻEBNICZEK BDNP NIEPUBLICZNE PRZEDSZKOLE</li>
        <li>POWIATOWA PORADNIA PSYCHOLOGICZNO PEDAGOGICZNA W CHOJNOWIE</li>
        <li>POWIATOWY ZESPÓŁ SZKÓŁ W CHOJNOWE - BRANŻOWA SZKOŁA I STOPNIA</li>
        <li>POWIATOWY ZESPÓŁ SZKÓŁ W CHOJNOWIE</li>
        <li>POWIATOWY ZESPÓŁ SZKÓŁ W CHOJNOWIE - LICEUM OGÓLNOKSZTAŁCĄCE IM. MIKOŁAJA KOPERNIKA</li>
        <li>POWIATOWY ZESPÓŁ SZKÓŁ W CHOJNOWIE, TECHNIKUM IM. ORLĄT LWOWSKICH</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 1 W CHOJNOWIE</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 3 W CHOJNOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. MARII KONOPNICKIEJ W CHOJNOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 4 IM. JANUSZA KORCZAKA W CHOJNOWIE</li>

    </ul>
    <a href="DOLNOŚLĄSKIE.html">Back to Cities in DOLNOŚLĄSKIE</a>
</body>
</html>
