
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Rakowice Wielkie</title>
</head>
<body>
    <h1>Schools in Rakowice Wielkie</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>TECHNIKUM</li>
        <li>ZESPÓŁ SZKÓŁ EKONOMICZNO TECHNICZNYCHIM. KOMBATANTÓW ZIEMII LWÓWECKIEJ</li>

    </ul>
    <a href="DOLNOŚLĄSKIE.html">Back to Cities in DOLNOŚLĄSKIE</a>
</body>
</html>
