
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Wróblowice</title>
</head>
<body>
    <h1>Schools in Wróblowice</h1>
    <ul>
        <li>AKACJOWE PRZEDSZKOLE NIEPUBLICZNE PRZEDSZKOLE WE WRÓBLOWICACH</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE NIEBIESKI SŁONIK</li>
        <li>TROPICIELE PRZYGÓD</li>

    </ul>
    <a href="DOLNOŚLĄSKIE.html">Back to Cities in DOLNOŚLĄSKIE</a>
</body>
</html>
