
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Legnickie Pole</title>
</head>
<body>
    <h1>Schools in Legnickie Pole</h1>
    <ul>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W LEGNICKIM POLU</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W LEGNICKIM POLU PRZEDSZKOLE W LEGNICKIM POLU</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W LEGNICKIM POLU SZKOŁA PODSTAWOWA IM. KSIĘŻNEJ ANNY I HENRYKA POBOŻNEGO W LEGNICKIM POLU</li>

    </ul>
    <a href="DOLNOŚLĄSKIE.html">Back to Cities in DOLNOŚLĄSKIE</a>
</body>
</html>
