
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Polanica-Zdrój</title>
</head>
<body>
    <h1>Schools in Polanica-Zdrój</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W POLANICY ZDROJU</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA W DOMU WCZASÓW DZIECIĘCYCH GREEN REST</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE GROMADKA NIEDŹWIADKA</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "WESOŁE PRZEDSZKOLE"</li>
        <li>REGIONALNA SZKOŁA TURYSTYCZNA W POLANICY ZDROJU</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY PROWADZONY PRZEZ ZGROMADZENIE SIÓSTR ŚW. JÓZEFA W POLANICY ZDROJU</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA W SPECJALNYM OŚRODKU SZKOLNO-WYCHOWAWCZYM W POLANICY ZDROJU</li>
        <li>SZKOŁA PODSTAWOWA STOWARZYSZENIA "EDUKATOR"</li>
        <li>SZKOŁA PRZYSPOSABIAJĄCA DO PRACY W POLANICY ZDROJU</li>
        <li>TECHNIKUM IM. JANA PAWŁA II W POLANICY ZDROJU</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY PRZEDSZKOLE PUBLICZNE NR 1 W POLANICY-ZDROJU</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY SZKOŁA PODSTAWOWA NR 2 IM. ŻOŁNIERZY Z MONTE CASSINO W POLANICY-ZDROJU</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W POLANICY-ZDROJU</li>

    </ul>
    <a href="DOLNOŚLĄSKIE.html">Back to Cities in DOLNOŚLĄSKIE</a>
</body>
</html>
