
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Ostroszowice</title>
</head>
<body>
    <h1>Schools in Ostroszowice</h1>
    <ul>
        <li>GMINNE PRZEDSZKOLE PUBLICZNE W OSTROSZOWICACH</li>
        <li>SZKOŁA PODSTAWOWA IM. MIKOŁAJA KOPERNIKA W OSTROSZOWICACH</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W OSTROSZOWICACH</li>

    </ul>
    <a href="DOLNOŚLĄSKIE.html">Back to Cities in DOLNOŚLĄSKIE</a>
</body>
</html>
