
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Szczawno-Zdrój</title>
</head>
<body>
    <h1>Schools in Szczawno-Zdrój</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W SZCZAWNIE-ZDROJU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W SZCZAWNIE ZDROJU</li>
        <li>MIEJSKA SZKOŁA PODSTAWOWA W SZCZAWNIE-ZDROJU</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE MAŁE MISIE</li>
        <li>PLACÓWKA SZKOLENIOWA DOLNOŚLĄSKIEJ AGENCJI ROZWOJU REGIONALNEGO S.A. W SZCZAWNIE ZDROJU</li>
        <li>PRZEDSZKOLE MIEJSKIE W SZCZAWNIE-ZDROJU</li>
        <li>PRZEDSZKOLE UZDROWISKOWE TU MIESZKA BAJECZKA</li>
        <li>SZKOŁA POLICEALNA</li>
        <li>TECHNIKUM W SZCZAWNIE ZDROJU</li>
        <li>ZESPÓŁ SZKÓŁ IM. MARII SKŁODOWSKIEJ-CURIE W SZCZAWNIE-ZDROJU</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY</li>

    </ul>
    <a href="DOLNOŚLĄSKIE.html">Back to Cities in DOLNOŚLĄSKIE</a>
</body>
</html>
