
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Siechnice</title>
</head>
<body>
    <h1>Schools in Siechnice</h1>
    <ul>
        <li>AKADEMIA MAŁYCH SMOKÓW</li>
        <li>CENTRUM EDUKACJI ATUT DOLNY ŚLĄSK</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "HAPPY KIDS"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "MALI ODKRYWCY"</li>
        <li>NIEPUBLICZNE PRZEDSZOLE DOMEK BIEDRONEK</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE SUPEŁEK</li>
        <li>PRZEDSZKOLE PUBLICZNE IM. ŚW. JANA PAWŁA II W SIECHNICACH</li>
        <li>PUBLICZNE PRZEDSZKOLE "SPORTOWA KRAINA"</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. MIKOŁAJA KOPERNIKA W SIECHNICACH</li>
        <li>SZKOŁA PODSTAWOWA NR 2 W SIECHNICACH</li>

    </ul>
    <a href="DOLNOŚLĄSKIE.html">Back to Cities in DOLNOŚLĄSKIE</a>
</body>
</html>
