
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Wrocław-Fabryczna</title>
</head>
<body>
    <h1>Schools in Wrocław-Fabryczna</h1>
    <ul>
        <li>"PIASTUSIOWA CHATKA II"</li>
        <li>"PIASTUSIOWA CHATKA"</li>
        <li>AKADEMIA CHIRURGII JAMY USTNEJ WE WROCŁAWIU</li>
        <li>AKADEMIA PUCHATKA - NIEPUBLICZNY PUNKT PRZEDSZKOLNY</li>
        <li>AKADEMIA WNĘTRZ EWA ROMANOW-GŁOWACKA</li>
        <li>ANDRZEJ WŁODARCZYK FIRMA SZKOLENIOWA "ANED"</li>
        <li>ARS EDUCANDI</li>
        <li>AUTORSKA SZKOŁA PODSTAWOWA JASKÓŁKA WE WROCŁAWIU</li>
        <li>AUTORSKA SZKOŁA PODSTAWOWA NAVIGO WROCŁAW</li>
        <li>AUTORSKA SZKOŁA PODSTAWOWA SALTANDO</li>
        <li>AUTORSKIE LICEUM NAVIGO WROCŁAW</li>
        <li>AUTORSKIE PRZEDSZKOLE NIEPUBLICZNE KRÓL MACIUŚ IM. JANUSZA KORCZAKA</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 15 DLA UCZNIÓW NIESŁYSZACYCH I SŁABOSLYSZACYCH</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 16 DLA UCZNIÓW NIEWIDOMYCH I SŁABOWIDZĄCYCH W DOLNOŚLĄSKIM SPECJLANYM OŚRODKU SZKOLNO-WYCHOWAWCZYM NR 13 DLA NIEWIDOMYCH I SŁABOWIDZĄCYCH WE WROCŁAWIU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 4 IM. GEN. JÓZEFA BEMA</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA SPECJALNA</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA TERRA NOVA</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA NR 4 IM. GEN. JÓZEFA BEMA</li>
        <li>BRANŻOWA SZKOŁA SPECJALNA II STOPNIA DLA UCZNIÓW NIESŁYSZĄCYCH I SŁABOSŁYSZĄCYCH</li>
        <li>BRANŻOWA SZKOŁA SPECJALNA II STOPNIA DLA UCZNIÓW NIEWIDOMYCH I SŁABOWIDZĄCYCH</li>
        <li>BURSA SZKOLNA</li>
        <li>CENTRUM EDUKACJI ZAWODOWEJ I DORADZTWA "SEMAFOR"</li>
        <li>CENTRUM INNOWACJI PROLEARNING AGNIESZKA KOŁODZIEJCZYK</li>
        <li>CENTRUM KSZTAŁCENIA TOWARZYSTWA WIEDZY POWSZECHNEJ</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO</li>
        <li>CENTRUM SZKOLENIA "FEMAR"</li>
        <li>CHRZEŚCIJAŃSKA SZKOŁA PODSTAWOWA "ARKA"</li>
        <li>DOLNOŚLĄSKI SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY NR 12 DLA UCZNIÓW NIESŁYSZĄCYCH I SŁABOSŁYSZĄCYCH ORAZ Z INNYMI NIEPEŁNOSPRAWNOŚCIAMI IM. MARII GRZEGORZEWSKIEJ WE WROCŁAWIU</li>
        <li>DOLNOŚLĄSKI SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY NR 13 DLA UCZNIÓW NIEWIDOMYCH I SŁABOWIDZĄCYCH ORAZ Z INNYMI NIEPEŁNOSPRAWNOŚCIAMI IM. MARII GRZEGORZEWSKIEJ WE WROCŁAWIU</li>
        <li>DWUJĘZYCZNE LICEUM OGÓLNOKSZTAŁCĄCE EKOLA</li>
        <li>DZIECIĘCE STUDIUM BALETOWE "BALERINKA"</li>
        <li>EUROPEJSKIE JĘZYKOWE PRZEDSZKOLE KLUB KUBUSIA PUCHATKA VIII</li>
        <li>FIKOLAND</li>
        <li>FSA - PRESCHOOL</li>
        <li>INTEGRACYJNY PUNKT PRZEDSZKOLNY BINGO</li>
        <li>KATOLICKIE PRZEDSZKOLE NIEPUBLICZNE "OCHRONKA" NR 2 IM. BŁ. EDMUNDA BOJANOWSKIEGO</li>
        <li>KLUB MALUCHA SERDUSZKOWO</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DIALOGU KULTUR ETZ CHAIM</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE INTEGRACYJNE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE NR VI IM. BOLESŁAWA PRUSA</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE NR VII IM. KRZYSZTOFA KAMILA BACZYŃSKIEGO</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE NR VIII IM. BOLESŁAWA KRZYWOUSTEGO</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE NR XV IM. MJR PIOTRA WYSOCKIEGO</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE SPECJALNE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE SPECJALNE DLA UCZNIÓW NIESŁYSZĄCYCH I SŁABOSŁYSZĄCYCH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE SPECJALNE NR XXXII</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE SPECJALNE NR XXXII DLA UCZNIÓW NIEWIDOMYCH I SŁABOWIDZĄCYCH W DOLNOŚLĄSKIM SPECJLANYM OŚRODKU SZKOLNO-WYCHOWAWCZYM NR 13 DLA NIEWIDOMYCH I SŁABOWIDZĄCYCH WE WROCŁAWIU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI INTEGRACYJNYMI NR XXX</li>
        <li>MAŁE WIELKIE SKARBY</li>
        <li>MD CENTRUM KSZTAŁCENIA ZAWODOWEGO</li>
        <li>MDALECKA POLICEALNA SZKOŁA KOSMETYCZNA</li>
        <li>MŁODZIEŻOWY DOM KULTURY FABRYCZNA</li>
        <li>MŁODZIEŻOWY OŚRODEK SOCJOTERAPII NR 2</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO BARBER ACADEMY EWA WOLANIUK-KLOC</li>
        <li>NIEPUBLICZNA PLACÓWKA OŚWIATOWO-WYCHOWAWCZA "EDUME"</li>
        <li>NIEPUBLICZNA PLACÓWKA WYCHOWANIA POZASZKOLNEGO "TEMPUS"</li>
        <li>NIEPUBLICZNA POLICEALNA SZKOŁA FOTOGRAFII PHO-BOS WE WROCŁAWIU</li>
        <li>NIEPUBLICZNA POLICEALNA WROCŁAWSKA SZKOŁA FOTOGRAFII AFA WE WROCŁAWIU</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA EVEMED</li>
        <li>NIEPUBLICZNA SZKOŁA BRANŻOWA "UNLOCK" I STOPNIA</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA "INSPIRACJA"</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA "UNLOCK" WE WROCŁAWIU</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA FUNDACJI KRÓLOWEJ ŚWIĘTEJ JADWIGI WE WROCŁAWIU</li>
        <li>NIEPUBLICZNA SZKOŁA POLICEALNA TEB EDUKACJA WE WROCŁAWIU</li>
        <li>NIEPUBLICZNE DWUJĘZYCZNE PRZEDSZKOLE KIDS&CO 1</li>
        <li>NIEPUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE FUNDACJI KRÓLOWEJ ŚWIĘTEJ JADWIGI WE WROCŁAWIU</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "KU KU KIDS II" WE WROCŁAWIU</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "ŁOBUZIAKI"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "MAŁY MISTRZ"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "PRZYJACIELE TYGRYSKA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "WROCŁAW COSMOPOLITAN PRESCHOOL"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE FAIR PLAY</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE JĘZYKOWO-SPORTOWE "LUPPO-PUPPO 3"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE JĘZYKOWO-SPORTOWE "LUPPO-PUPPO 4"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE KIDS ISLAND</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE PRO FUTURO</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE SIÓSTR SALEZJANEK WE WROCŁAWIU</li>
        <li>NIEPUBLICZNY OŚRODEK SZKOLNO-WYCHOWAWCZY SPECJALNY</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY "SEEDLINGS"</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY HAPPY KIDS</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY KOLOROLANDIA</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY MAŁA KOLOROLANDIA</li>
        <li>OGÓLNOKSZTAŁCĄCA SZKOŁA MUZYCZNA I STOPNIA NR 3 IM. PROFESOR MARII ZDUNIAK</li>
        <li>OŚRODEK KURSÓW JĘZYKÓW OBCYCH-WROCŁAWSKA SZKOŁA JĘZYKOWA PRZY KOŚCIELE CHRZEŚCIJAN BAPTYSTÓW</li>
        <li>OŚRODEK REHABILITACYJNO-EDUKACYJNY DLA WYJĄTKOWYCH DZIECI</li>
        <li>OTREK TRAINING AND COLSUNTING</li>
        <li>PLANETA ROBOTÓW</li>
        <li>POLSKO-NIEMIECKA SZKOŁA PODSTAWOWA</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA BRAIN CARE</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA NR 4</li>
        <li>PRZEDSZKOLE INTEGRACYJNE NR 89 IM. JULIANA TUWIMA</li>
        <li>PRZEDSZKOLE INTEGRACYJNE NR 93 IM. JANA BRZECHWY</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "AKADEMIA LEŚNYCH LISKÓW"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "BAJKA"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "WESOŁE NUTKI"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE KOLOROWE KREDKI</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE WE WROCŁAWSKIM PARKU TECHNOLOGICZNYM "TECHNOLUDEK"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE Z ODDZIAŁAMI INTEGRACYJNYMI "MAŁY MISTRZ II"</li>
        <li>PRZEDSZKOLE NR 10 PRZEDSZKOLE NA KAŻDĄ POGODĘ</li>
        <li>PRZEDSZKOLE NR 104 NA MISIOWEJ POLANIE</li>
        <li>PRZEDSZKOLE NR 11 AKADEMIA KRASNALA</li>
        <li>PRZEDSZKOLE NR 110 DOMEK KRASNOLUDKÓW</li>
        <li>PRZEDSZKOLE NR 113 AKADEMIA PRZEDSZKOLAKA</li>
        <li>PRZEDSZKOLE NR 117 FIOŁKOWA KRAINA</li>
        <li>PRZEDSZKOLE NR 122 WESOŁA GROMADKA</li>
        <li>PRZEDSZKOLE NR 123</li>
        <li>PRZEDSZKOLE NR 131 BAJKOWY OPORÓW</li>
        <li>PRZEDSZKOLE NR 133 ZDOLNY KRASNAL</li>
        <li>PRZEDSZKOLE NR 148</li>
        <li>PRZEDSZKOLE NR 15 IM. KARDYNAŁA JOACHIMA MEISNERA</li>
        <li>PRZEDSZKOLE NR 150 WESOŁE NUTKI</li>
        <li>PRZEDSZKOLE NR 20</li>
        <li>PRZEDSZKOLE NR 22 MUCHOBOREK</li>
        <li>PRZEDSZKOLE NR 24</li>
        <li>PRZEDSZKOLE NR 26 SPORTOWA KRAINA</li>
        <li>PRZEDSZKOLE NR 31 IM. JANINY PORAZIŃSKIEJ</li>
        <li>PRZEDSZKOLE NR 5 WROCŁAWSKIE KRASNALE</li>
        <li>PRZEDSZKOLE NR 58</li>
        <li>PRZEDSZKOLE NR 59 U KRASNALA POD NARCYZEM</li>
        <li>PRZEDSZKOLE NR 61 GAJOWICKIE SKRZATY</li>
        <li>PRZEDSZKOLE NR 62 STUMILOWY LAS</li>
        <li>PRZEDSZKOLE NR 64 EKOLUDEK</li>
        <li>PRZEDSZKOLE NR 66 BAJKOLANDIA</li>
        <li>PRZEDSZKOLE NR 69 RUMIANKOWE</li>
        <li>PRZEDSZKOLE NR 8 Z ODDZIAŁAMI INTEGRACYJNYMI</li>
        <li>PRZEDSZKOLE NR 84</li>
        <li>PRZEDSZKOLE NR 88</li>
        <li>PRZEDSZKOLE NR 94 PLASTUSIOWY DOMEK</li>
        <li>PRZEDSZKOLE NR 95</li>
        <li>PRZEDSZKOLE NR 96 POD WESOŁYM SŁONKIEM</li>
        <li>PRZEDSZKOLE PUBLICZNE "POD WIERZBAMI"</li>
        <li>PRZEDSZKOLE SPECJALNE NR 152 DLA DZIECI NIESŁYSZĄCYCH I SŁABOSŁYSZĄCYCH</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA SPECTO</li>
        <li>PUBLICZNE PASTELOWE PRZEDSZKOLE</li>
        <li>PUBLICZNE PRZEDSZKOLE "AKADEMIA BAJKOWA DOLINA"</li>
        <li>PUBLICZNE PRZEDSZKOLE "BLOOM"</li>
        <li>PUBLICZNE PRZEDSZKOLE "COGITO"</li>
        <li>PUBLICZNE PRZEDSZKOLE "GALILEO"</li>
        <li>PUBLICZNE PRZEDSZKOLE "MAŁY PODRÓŻNIK"</li>
        <li>PUBLICZNE PRZEDSZKOLE "MARCHEWKOWE POLE"</li>
        <li>PUBLICZNE PRZEDSZKOLE "MARGARET"</li>
        <li>PUBLICZNE PRZEDSZKOLE "PIRACKIE SKARBY"</li>
        <li>PUBLICZNE PRZEDSZKOLE "POD POZIOMKĄ"</li>
        <li>PUBLICZNE PRZEDSZKOLE "SOWIA AKADEMIA"</li>
        <li>PUBLICZNE PRZEDSZKOLE "WESOŁE MAŁPKI"</li>
        <li>PUBLICZNE PRZEDSZKOLE "WROCŁAWSKIE SKAUTY III"</li>
        <li>PUBLICZNE PRZEDSZKOLE "WROCŁAWSKIE SKAUTY VII"</li>
        <li>PUBLICZNE PRZEDSZKOLE ELFIKI 2</li>
        <li>PUBLICZNE PRZEDSZKOLE JĘZYKOWO-SPORTOWE LUPPO-PUPPO 4</li>
        <li>PUBLICZNE PRZEDSZKOLE LAFI</li>
        <li>PUBLICZNE PRZEDSZKOLE OMNIBUS</li>
        <li>PUBLICZNE PRZEDSZKOLE PRYMUSEK</li>
        <li>PUBLICZNE PRZEDSZKOLE PRYMUSEK II</li>
        <li>PUBLICZNY PUNKT PRZEDSZKOLNY "CZERWONY KAPTUREK"</li>
        <li>PUNKT PRZEDSZKOLNY "HORYZONTY WYOBRAŹNI"</li>
        <li>PUNKT PRZEDSZKOLNY "LATAWIEC"</li>
        <li>PUNKT PRZEDSZKOLNY "TWÓRCZA KRAINA"</li>
        <li>PUNKT PRZEDSZKOLNY "U MIKOŁAJA A"</li>
        <li>PUNKT PRZEDSZKOLNY "U MIKOŁAJA B"</li>
        <li>PUNKT PRZEDSZKOLNY AKADEMIA DELFINKA</li>
        <li>PUNKT PRZEDSZKOLNY ANCYMONEK 1 WROCŁAW</li>
        <li>PUNKT PRZEDSZKOLNY ODKRYCIE</li>
        <li>PUNKT PRZEDSZKOLNY OSTOJA</li>
        <li>PUNKT PRZEDSZKOLNY PRZYJACIELE ŻYRAFY</li>
        <li>REGIONALNY OŚRODEK EDUKACJI LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>REGIONALNY OŚRODEK EDUKACJI TECHNIKUM</li>
        <li>SPOŁECZNA SZKOŁA PODSTAWOWA Z ODDZIAŁAMI INTEGRACYJNYMI "AMIGO"</li>
        <li>SPOŁECZNE LICEUM OGÓLNOKSZTAŁCĄCE "ALA"</li>
        <li>SZKOŁA JĘZYKÓW OBCYCH COSMOPOLITAN</li>
        <li>SZKOŁA JĘZYKÓW OBCYCH COSMOPOLITAN JUNIOR</li>
        <li>SZKOŁA MEDYCZNA TERRA NOVA</li>
        <li>SZKOŁA MUZYCZNA I STOPNIA NR 3</li>
        <li>SZKOŁA PODSTAWOWA - WROCŁAW COSMOPOLITAN SCHOOL</li>
        <li>SZKOŁA PODSTAWOWA AMS WE WROCŁAWIU</li>
        <li>SZKOŁA PODSTAWOWA DIALOGU KULTUR ETZ CHAIM</li>
        <li>SZKOŁA PODSTAWOWA INTEGRACYJNA NR 103 Z ODDZIAŁAMI SPECJALNYMI</li>
        <li>SZKOŁA PODSTAWOWA NR 109 IM. EDWARDA DEMBOWSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 113</li>
        <li>SZKOŁA PODSTAWOWA NR 118 IM. PŁK PILOTA BOLESŁAWA ORLIŃSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 15 IM. KSIĘŻNEJ JADWIGI ŚLĄSKIEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 19 IM. BOLESŁAWA CHROBREGO</li>
        <li>SZKOŁA PODSTAWOWA NR 22</li>
        <li>SZKOŁA PODSTAWOWA NR 24</li>
        <li>SZKOŁA PODSTAWOWA NR 25 IM. FRANCISZKA JUSZCZAKA</li>
        <li>SZKOŁA PODSTAWOWA NR 26 IM. PIASTÓW ŚLĄSKICH</li>
        <li>SZKOŁA PODSTAWOWA NR 27</li>
        <li>SZKOŁA PODSTAWOWA NR 28 IM. GENERAŁA LEOPOLDA OKULICKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. MARIUSZA ZARUSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 33 IM. TRADYCJI HERBU WROCŁAWIA</li>
        <li>SZKOŁA PODSTAWOWA NR 37 IM. KARDYNAŁA STEFANA WYSZYŃSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 38 IM. JERZEGO KUKUCZKI</li>
        <li>SZKOŁA PODSTAWOWA NR 43 Z ODDZIAŁAMI INTEGRACYJNYMI IM. JANA KACZMARKA</li>
        <li>SZKOŁA PODSTAWOWA NR 5 IM. HUGONA DIONIZEGO STEINHAUSA</li>
        <li>SZKOŁA PODSTAWOWA NR 51 IM. JANA PAWŁA II</li>
        <li>SZKOŁA PODSTAWOWA NR 65 IM. PROFESOR MARII ZDUNIAK</li>
        <li>SZKOŁA PODSTAWOWA NR 68 IM. II TYSIĄCLECIA WROCŁAWIA</li>
        <li>SZKOŁA PODSTAWOWA NR 75 Z ODDZIAŁAMI INTEGRACYJNYMI IM. HENRYKA SIENKIEWICZA</li>
        <li>SZKOŁA PODSTAWOWA NR 82 IM. BUDOWNICZYCH WROCŁAWIA</li>
        <li>SZKOŁA PODSTAWOWA NR 95 IM. JAROSŁAWA IWASZKIEWICZA</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA "WSPÓLNY ŚWIAT"</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 116 DLA UCZNIÓW Z DZIECIĘCYM PORAŻENIEM MÓZGOWYM</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 120</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 121 DLA UCZNIÓW NIESŁYSZĄCYCH I SŁABOSŁYSZĄCYCH</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 122 DLA UCZNIÓW NIEWIDOMYCH I SŁABOWIDZĄCYCH W DOLNOŚLĄSKIM SPECJLANYM OŚRODKU SZKOLNO-WYCHOWAWCZYM NR 13 DLA NIEWIDOMYCH I SŁABOWICZĄCYCH WE WROCŁAWIU</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 86 DLA NIEDOSTOSOWANYCH SPOŁECZNIE</li>
        <li>SZKOŁA PODSTAWOWA TIKKUN OLAM</li>
        <li>SZKOŁA PODSTAWOWA WAŻKA</li>
        <li>SZKOŁA POLICEALNA NR 17</li>
        <li>SZKOŁA POLICEALNA SPECJALNA NR 17 DLA UCZNIÓW NIESŁYSZĄCYCH I SŁABOSŁYSZĄCYCH</li>
        <li>SZKOŁA POLICEALNA SPECJALNA NR 18 DLA UCZNIÓW NIEWIDOMYCH I SŁABOWIDZĄCYCH W DOLNOŚLĄSKIM SPECJALNYM OŚRODKU SZKOLNO-WYCHOWAWCZYM NR 13 DLA NIEWIDOMYCH I SŁABOWIDZĄCYCH WE WROCŁAWIU</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W DOLNOŚLĄSKIM SPECJALNYM OŚRODKU SZKOLNO-WYCHOWAWCZYM NR 12 DLA NIESŁYSZĄCYCH I SŁABOSŁYSZĄCYCH WE WROCŁAWIU</li>
        <li>TECHNIKUM EKONOMICZNE SPECJALNE</li>
        <li>TECHNIKUM NAUK NOWOCZESNYCH TERRA NOVA</li>
        <li>TECHNIKUM NR 11 IM. GEN. JÓZEFA BEMA</li>
        <li>TECHNIKUM NR 14 Z ODDZIAŁAMI INTEGRACYJNYMI</li>
        <li>TECHNIKUM NR 15 IM. MARII SKŁODOWSKIEJ-CURIE</li>
        <li>TECHNIKUM NR 16 IM. CZESŁAWA MIŁOSZA</li>
        <li>TECHNIKUM SPECJALNE DLA NIESŁYSZACYCH I SŁABOSŁYSZĄCYCH WE WROCŁAWIU</li>
        <li>TECHNIKUM SPECJLANE NR 17 DLA UCZNIÓW NIEWIDOMYCH I SŁABOWIDZĄCYCH W DOLNOŚLĄSKIM SPECJLANYM OŚRODKU SZKOLNO-WYCHOWAWCZYM NR 13 DLA NIEWIDOMYCH I SŁABOWIDZĄCYCH WE WROCŁAWIU</li>
        <li>TECHNIKUM TEB EDUKACJA WE WROCŁAWIU</li>
        <li>TERAPEUTYCZNY PUNKT PRZEDSZKOLNY DLA WYJĄTKOWYCH DZIECI</li>
        <li>WSPÓLNY START</li>
        <li>ZAKŁAD SZKOLENIA I DOSKONALENIA KADR</li>
        <li>ZESPÓŁ PRZEDSZKOLI NR 1</li>
        <li>ZESPÓŁ SZKÓŁ BUDOWLANYCH</li>
        <li>ZESPÓŁ SZKÓŁ ETZ CHAIM</li>
        <li>ZESPÓŁ SZKÓŁ I PLACÓWEK FUNDACJI EWANGELICKIE CENTRUM DIAKONII I EDUKACJI IM. KS. MARCINA LUTRA</li>
        <li>ZESPÓŁ SZKÓŁ NIEPUBLICZNYCH "UNLOCK"</li>
        <li>ZESPÓŁ SZKÓŁ NR 12</li>
        <li>ZESPÓŁ SZKÓŁ NR 20</li>
        <li>ZESPÓŁ SZKÓŁ NR 21</li>
        <li>ZESPÓŁ SZKÓŁ NR 3</li>
        <li>ZESPÓŁ SZKÓŁ NR 6</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 1</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 10</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 12</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 14</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 15</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 2</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 20</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 7</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 9</li>
        <li>ZŁOTE PRZEDSZKOLE NA ZŁOTNIKACH</li>

    </ul>
    <a href="DOLNOŚLĄSKIE.html">Back to Cities in DOLNOŚLĄSKIE</a>
</body>
</html>
