
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Ślubów</title>
</head>
<body>
    <h1>Schools in Ślubów</h1>
    <ul>
        <li>PRZEDSZKOLE W ŚLUBOWIE</li>
        <li>SZKOŁA PODSTAWOWA W ŚLUBOWIE</li>
        <li>ZESPÓŁ SZKOŁA PODSTAWOWA I PRZEDSZKOLE IM. JANUSZA KORCZAKA W ŚLUBOWIE</li>

    </ul>
    <a href="DOLNOŚLĄSKIE.html">Back to Cities in DOLNOŚLĄSKIE</a>
</body>
</html>
