
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Dobrzykowice</title>
</head>
<body>
    <h1>Schools in Dobrzykowice</h1>
    <ul>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA LOGOOFUN</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "MINI WORLD"</li>
        <li>PRZEDSZKOLE PUBLICZNE MINI WORLD</li>
        <li>PRZEDSZKOLE PUBLICZNE W DOBRZYKOWICACH</li>
        <li>SZKOŁA PODSTAWOWA IM. STULECIA ODZYSKANIA NIEPODLEGŁOŚCI POLSKI W DOBRZYKOWICACH</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W DOBRZYKOWICACH</li>

    </ul>
    <a href="DOLNOŚLĄSKIE.html">Back to Cities in DOLNOŚLĄSKIE</a>
</body>
</html>
