
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Żmigród</title>
</head>
<body>
    <h1>Schools in Żmigród</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W POWIATOWYM ZESPOLE SZKÓŁ W ŻMIGRODZIE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA W ZESPOLE SZKÓŁ SPECJALNYCH W ŻMIGRODZIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W POWIATOWYM ZESPOLE SZKÓŁ W ŻMIGRODZIE</li>
        <li>POWIATOWY ZESPÓŁ SZKÓŁ IM. JANA PAWŁA II W ŻMIGRODZIE</li>
        <li>PUBLICZNE PRZEDSZKOLE W ŻMIGRODZIE "ZIELONA DOLINA"</li>
        <li>SZKOŁA PODSTAWOWA IM. BOLESŁAWA CHROBREGO W ŻMIGRODZIE</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA W ZESPOLE SZKÓŁ SPECJALNYCH W ŻMIGRODZIE</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W ZESPOLE SZKÓŁ SPECJALNYCH W ŻMIGRODZIE</li>
        <li>TECHNIKUM W POWIATOWYM ZESPOLE SZKÓŁ IM. JANA PAWŁA II W ŻMIGRODZIE</li>
        <li>ZESPÓŁ SZKÓŁ SPECJALNYCH W ŻMIGRODZIE</li>

    </ul>
    <a href="DOLNOŚLĄSKIE.html">Back to Cities in DOLNOŚLĄSKIE</a>
</body>
</html>
