
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Bolesławiec</title>
</head>
<body>
    <h1>Schools in Bolesławiec</h1>
    <ul>
        <li>BIBLIOTEKA PEDAGOGICZNA W BOLESŁAWCU</li>
        <li>BOLESŁAWIECKA AKADEMIA DOBREJ EDUKACJI</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 1 W BOLESŁAWCU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 2 W BOLESŁAWCU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 3 W BOLESŁAWCU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 4 W BOLESŁAWCU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 5 W BOLESŁAWCU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA SPECJALNA W BOLESŁAWCU</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA W BOLESŁAWCU</li>
        <li>BURSA SZKOLNA</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO W BOLESŁAWCU</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE IM. WŁADYSŁAWA BRONIEWSKIEGO W BOLESŁAWCU</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE IM. J. KORCZAKA W BOLESŁAWCU</li>
        <li>III PUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE W BOLESŁAWCU</li>
        <li>IV PUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE ZAKONU PIJARÓW IM. KS. STANISŁAWA KONARSKIEGO W BOLESŁAWCU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W BOLESŁAWCU</li>
        <li>LIMBICUS</li>
        <li>MIEJSKIE PRZEDSZKOLE PUBLICZNE NR 1 W BOLESŁAWCU</li>
        <li>MIEJSKIE PRZEDSZKOLE PUBLICZNE NR 2 IM. MARII KONOPNICKIEJ W BOLESŁAWCU</li>
        <li>MIEJSKIE PRZEDSZKOLE PUBLICZNE NR 3 W BOLESŁAWCU</li>
        <li>MIEJSKIE PRZEDSZKOLE PUBLICZNE NR 4 W BOLESŁAWCU</li>
        <li>MIEJSKIE PRZEDSZKOLE PUBLICZNE NR 5 IM. JANA BRZECHWY W BOLESŁAWCU</li>
        <li>MIEJSKIE PRZEDSZKOLE PUBLICZNE NR 6 W BOLESŁAWCU</li>
        <li>MIEJSKIE PRZEDSZKOLE PUBLICZNE NR 7 Z ODDZIAŁAMI INTEGRACYJNYMI W BOLESŁAWCU</li>
        <li>MŁODZIEŻOWY DOM KULTURY IM. ST.WYSPIAŃSKIEGO W BOLESŁAWCU</li>
        <li>NIEPUBLICZNA BURSA IM. ŚW. MARII DE MATTIAS ZGROMADZENIA SIÓSTR ADORATOREK KRWI CHRYSTUSA</li>
        <li>NIEPUBLICZNA BURSA SZKOLNA "2 X TAK" W BOLESŁAWCU</li>
        <li>NIEPUBLICZNA SPECJALISTYCZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W BOLESŁAWCU</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "BAJKA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "BAŚNIOWY WIDOK"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "JACEK I AGATKA" W BOLESŁAWCU</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE „SAFARI KIDS”</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE INTEGRACYJNE "MALI ODKRYWCY" W BOLESŁAWCU</li>
        <li>OŚRODEK DOKSZTAŁCANIA I DOSKONALENIA ZAWODOWEGO</li>
        <li>OŚRODEK REWALIDACYJNO-WYCHOWAWCZY W BOLESŁAWCU</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I STOPNIA IM. WITOLDA LUTOSŁAWSKIEGO W BOLESŁAWCU</li>
        <li>POLICEALNE STUDIUM KOSMETYCZNE W BOLESŁAWCU</li>
        <li>POLICEALNE STUDIUM ZAWODOWE W BOLESŁAWCU</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W BOLESŁAWCU</li>
        <li>POWIATOWA SZKOŁA PODSTAWOWA SPECJALNA W BOLESŁAWCU</li>
        <li>POWIATOWE CENTRUM EDUKACJI I KSZTAŁCENIA KADR W BOLESŁAWCU</li>
        <li>POWIATOWY OŚRODEK DOSKONALENIA NAUCZYCIELI W BOLESŁAWCU</li>
        <li>POWIATOWY ZESPÓŁ SZKÓŁ I PLACÓWEK SPECJALNYCH W BOLESŁAWCU</li>
        <li>PRYWATNA SZKOŁA PODSTAWOWA "OXPRESS" W BOLESŁAWCU</li>
        <li>PRYWATNA SZKOŁA PODSTAWOWA DLA DOROSŁYCH W BOLESŁAWCU</li>
        <li>PRYWATNA SZKOŁA PODSTAWOWA Z ODDZIAŁAMI PRZYSPOSABIAJĄCYMI DO PRACY W BOLESŁAWCU.</li>
        <li>PRYWATNE PRZEDSZKOLE "OXPRESS" W BOLESŁAWCU</li>
        <li>PRYWATNE PRZEDSZKOLE SMERFIKI W BOLESŁAWCU</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "KRAINA MARZEŃ" W BOLESŁAWCU</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "NIBYLANDIA" W BOLESŁAWCU</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA ZAKONU PIJARÓW IM. KS. STANISŁAWA KONARSKIEGO W BOLESŁAWCU</li>
        <li>PUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE OXPRESS</li>
        <li>STUDIUM MEDYCZNE W BOLESŁAWCU</li>
        <li>STUDIUM POLICEALNE W BOLESŁAWCU</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. JANUSZA KUSOCIŃSKIEGO W BOLESŁAWCU</li>
        <li>SZKOŁA PODSTAWOWA NR 2 W BOLESŁAWCU</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. ARMII KRAJOWEJ W BOLESŁAWCU</li>
        <li>SZKOŁA PODSTAWOWA NR 4 IM. JANA MATEJKI W BOLESŁAWCU</li>
        <li>SZKOŁA PODSTAWOWA NR 5 IM. ALEKSANDRA JANOWSKIEGO W BOLESŁAWCU</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W BOLESŁAWCU</li>
        <li>TECHNIKUM NR 1 W BOLESŁAWCU</li>
        <li>TECHNIKUM NR 2 W BOLESŁAWCU</li>
        <li>TECHNIKUM NR 3 W BOLESŁAWCU</li>
        <li>TECHNIKUM NR 4 W BOLESŁAWCU</li>
        <li>TECHNIKUM NR 5 W BOLESŁAWCU</li>
        <li>ZESPÓŁ SZKÓŁ BUDOWLANYCH W BOLESŁAWCU</li>
        <li>ZESPÓŁ SZKÓŁ ELEKTRONICZNYCH IM. I. DOMEYKI W BOLESŁAWCU</li>
        <li>ZESPÓŁ SZKÓŁ HANDLOWYCH I USŁUGOWYCH IM. JANA KOCHANOWSKIEGO W BOLESŁAWCU</li>
        <li>ZESPÓŁ SZKÓŁ MECHANICZNYCH IM. L. WARYŃSKIEGO W BOLESŁAWCU</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH I ZAWODOWYCH IM. MJRA H. SUCHARSKIEGO W BOLESŁAWCU</li>

    </ul>
    <a href="DOLNOŚLĄSKIE.html">Back to Cities in DOLNOŚLĄSKIE</a>
</body>
</html>
