
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Piechowice</title>
</head>
<body>
    <h1>Schools in Piechowice</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO "METALMAG" TERESA SOKOŁOWSKA W PIECHOWICACH</li>
        <li>DOM WCZASÓW DZIECIĘCYCH "UROCZYSKO" W PIECHOWICACH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W PIECHOWICACH</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 2 W PIECHOWICACH</li>
        <li>PRZESZKOLE SAMORZĄDOWE NR 1 W PIECHOWICACH</li>
        <li>SZKOŁA PODSTAWOWA NR 1 W PIECHOWICACH</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. JANA PAWŁA II</li>
        <li>SZKOLNE SCHRONISKO MŁODZIEŻOWE "PLUM" W PIECHOWICACH</li>
        <li>SZKOLNE SCHRONISKO MŁODZIEŻOWE "ZŁOTY WIDOK" W PIECHOWICACH</li>
        <li>TECHNIKUM W ZESPOLE SZKÓŁ TECHNICZNYCH I LICEALNYCH W PIECHOWICACH</li>
        <li>ZESPÓŁ SZKÓŁ TECHNICZNYCH I LICEALNYCH W PIECHOWICACH</li>

    </ul>
    <a href="DOLNOŚLĄSKIE.html">Back to Cities in DOLNOŚLĄSKIE</a>
</body>
</html>
