
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Morawa</title>
</head>
<body>
    <h1>Schools in Morawa</h1>
    <ul>
        <li>MIĘDZYNARODOWY DOM SPOTKAŃ MORAWA</li>
        <li>OŚRODEK EDUKACJI I ROZWOJU WROCŁAWSKIEJ PRACOWNI PSYCHOEDUKACJI I TERAPII "PLUS" POLSKIEGO TOWARZYSTWA PSYCHOLOGICZNEGO</li>
        <li>PRZEDSZKOLE ŚW. JADWIGI W MORAWIE</li>
        <li>SZKOŁA TERAPII PSYCHOSOMATYCZNEJ</li>

    </ul>
    <a href="DOLNOŚLĄSKIE.html">Back to Cities in DOLNOŚLĄSKIE</a>
</body>
</html>
