
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Tyniec Mały</title>
</head>
<body>
    <h1>Schools in Tyniec Mały</h1>
    <ul>
        <li>NIEPUBLICZNE PRZEDSZKOLE "ZIELONY ZAKĄTEK MONTESSORI"</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE W TYŃCU MAŁYM</li>
        <li>SZKOŁA PODSTAWOWA W TYŃCU MAŁYM</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W TYŃCU MAŁYM</li>

    </ul>
    <a href="DOLNOŚLĄSKIE.html">Back to Cities in DOLNOŚLĄSKIE</a>
</body>
</html>
