
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Łomnica</title>
</head>
<body>
    <h1>Schools in Łomnica</h1>
    <ul>
        <li>NIEPUBLICZNA PLACÓWKA OŚWIATOWA KSZTAŁCENIA USTAWICZNEGO I PRAKTYCZNEGO SPIDER AGENCJA USŁUGOWA JAN SKOCZYLAS W ŁOMNICY</li>
        <li>PRZEDSZKOLE PUBLICZNE W ŁOMNICY</li>
        <li>SZKOŁA PODSTAWOWA Z ODDZIAŁAMI INTEGRACYJNYMI W ŁOMNICY</li>

    </ul>
    <a href="DOLNOŚLĄSKIE.html">Back to Cities in DOLNOŚLĄSKIE</a>
</body>
</html>
