
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Krzyżowa</title>
</head>
<body>
    <h1>Schools in Krzyżowa</h1>
    <ul>
        <li>MIĘDZYNARODOWY DOM SPOTKAŃ MŁODZIEŻY KRZYŻOWA</li>
        <li>NIEPUBLICZNA PLACÓWKA DOSKONALENIA NAUCZYCIELI ,,KRZYŻOWA"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE „ZIELONA KRAINA”</li>

    </ul>
    <a href="DOLNOŚLĄSKIE.html">Back to Cities in DOLNOŚLĄSKIE</a>
</body>
</html>
