
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Bystrzyca Kłodzka</title>
</head>
<body>
    <h1>Schools in Bystrzyca Kłodzka</h1>
    <ul>
        <li>ALPHAONE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA IM. PROF. SYLWESTRA KALISKIEGO W BYSTRZYCY KŁODZKIEJ</li>
        <li>CENTRUM OŚWIATOWE "PRYMUS" W BYSTRZYCY KŁODZKIEJ</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE IM. POWSTAŃCÓW ŚLĄSKICH W BYSTRZYCY KŁODZKIEJ</li>
        <li>KID'S CLUB</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH "OMEGA" W BYSTRZYCY KŁODZKIEJ</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W BYSTRZYCY KŁODZKIEJ</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I I II STOPNIA W BYSTRZYCY KŁODZKIEJ</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I ST. IM. KAROLA SZYMANOWSKIEGO W BYSTRZYCY KŁODZKIEJ</li>
        <li>POWIATOWA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W KŁODZKU FILIA BYSTRZYCA KŁODZKA</li>
        <li>PRZEDSZKOLE NR 2</li>
        <li>SZKOŁA MUZYCZNA II STOPNIA W BYSTRZYCY KŁODZKIEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. GEN. JÓZEFA BEMA W BYSTRZYCY KŁODZKIEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. OBROŃCÓW WARSZAWY</li>
        <li>SZKOŁA POLICEALNA NR 1 W BYSTRZYCY KŁODZKIEJ</li>
        <li>TECHNIKUM IM. PROF. SYLWESTRA KALISKIEGO W BYSTRZYCY KŁODZKIEJ</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH W BYSTRZYCY KŁODZKIEJ</li>
        <li>ZESPÓŁ SZKÓŁ PONADPODSTAWOWYCH W BYSTRZYCY KŁODZKIEJ</li>

    </ul>
    <a href="DOLNOŚLĄSKIE.html">Back to Cities in DOLNOŚLĄSKIE</a>
</body>
</html>
