
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Lwówek Śląski</title>
</head>
<body>
    <h1>Schools in Lwówek Śląski</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA SPECJALNA PRZY MŁODZIEŻOWYM OŚRODKU SPOCJOTERAPII W LWÓWKU ŚLĄSKIM</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA SPECJALNA PRZY MŁODZIEŻOWYM OŚRODKU WYCHOWAWCZYM W LWÓWKU ŚLĄSKIM</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA SPECJALNA PRZY SPECJALNYM OŚRODKU SZKOLNO-WYCHOWAWCZYM W LWÓWKU ŚLĄSKIM</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. HENRYKA BRODATEGO</li>
        <li>MŁODZIEŻOWY OŚRODEK SOCJOTERAPII</li>
        <li>MŁODZIEŻOWY OŚRODEK WYCHOWAWCZY</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W LWÓWKU ŚLĄSKIM</li>
        <li>POWIATOWE CENTRUM EDUKACJI</li>
        <li>POWIATOWY OŚRODEK ROZWOJU EDUKACJI</li>
        <li>PRZEDSZKOLE MONTESSORI "MONTE JEDENASTKA"</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 1 W LWÓWKU ŚLĄSKIM</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 2 W LWÓWKU ŚLĄSKIM</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY</li>
        <li>SZKOŁA PODSTAWOWA "MASTER'S ACADEMY" W LWÓWKU ŚLĄSKIM</li>
        <li>SZKOŁA PODSTAWOWA NR 1</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. BOHATERÓW X SUDECKIEJ DYWIZJI PIECHOTY</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. SZARYCH SZEREGÓW</li>
        <li>SZKOŁA PODSTAWOWA PRZY MŁODZIEŻOWYM OŚRODKU WYCHOWAWCZYM W LWÓWKU ŚLĄSKIM</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA PRZY MŁODZIEŻOWYM OŚRODKU SOCJOTERAPII W LWÓWKU ŚLĄSKIM</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA PRZY SPECJALNYM OŚRODKU SZKOLNO-WYCHOWAWCZYM W LWÓWKU ŚLĄSKIM</li>
        <li>SZKOŁA POLICEALNA</li>
        <li>SZKOŁA PRZYSPOSABIAJĄCA DO PRACY PRZY SPECJALNYM OŚRODKU SZKOLNO WYCHOWAWCZYM W LWÓWKU ŚLĄSKIM</li>
        <li>TECHNIKUM</li>
        <li>ZESPÓŁ PLACÓWEK EDUKACYJNO - WYCHOWAWCZYCH</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH I ZAWODOWYCH W LWÓWKU ŚLĄSKIM</li>

    </ul>
    <a href="DOLNOŚLĄSKIE.html">Back to Cities in DOLNOŚLĄSKIE</a>
</body>
</html>
