
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Godzięcin</title>
</head>
<body>
    <h1>Schools in Godzięcin</h1>
    <ul>
        <li>MŁODZIEŻOWY OŚRODEK WYCHOWAWCZY NR 2 W GODZIĘCINIE</li>
        <li>PUBLICZNE PRZEDSZKOLE MALUSZEK</li>
        <li>SZKOŁA PODSTAWOWA W GODZIĘCINIE</li>

    </ul>
    <a href="DOLNOŚLĄSKIE.html">Back to Cities in DOLNOŚLĄSKIE</a>
</body>
</html>
