
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Świdnica</title>
</head>
<body>
    <h1>Schools in Świdnica</h1>
    <ul>
        <li>"MAT" FIRMA USŁUGOWO-SZKOLENIOWA TOMASZ DUTKIEWICZ</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA "RZEMIEŚLNIK" W ŚWIDNICY</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 1 W ŚWIDNICY</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 2 W ŚWIDNICY</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 3 W ŚWIDNICY</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 4 W ŚWIDNICY</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 5 W ZAKŁADZIE POPRAWCZYM I SCHRONISKU DLA NIELETNICH W SWIDNICY</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA SPECJALNA NR 7 W ŚWIDNICY</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA W ŚWIDNICY</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO W ŚWIDNICY</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO STOWARZYSZENIA WOLNA PRZEDSIĘBIORCZOŚĆ</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO W ŚWIDNICY</li>
        <li>DOLNOŚLĄSKI ZAKŁAD DOSKONALENIA ZAWODOWEGO ODDZIAŁ I WE WROCŁAWIU OŚRODEK KSZTAŁCENIA ZAWODOWEGO W ŚWIDNICY</li>
        <li>DOLNOŚLĄSKI ZESPÓŁ SZKÓŁ MEDYCZNO - SPORTOWYCH W ŚWIDNICY</li>
        <li>DUET STUDIO SZKOLEŃ</li>
        <li>FIRMA SZKOLENIOWO-DORADCZA ANNA SZYWAŁA NIEPUBLICZNA PLACÓWKA DOSKONALENIA NAUCZYCIELI</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE IM. JANA KASPROWICZA W ŚWIDNICY</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE IM. STEFANA BANACHA W ŚWIDNICY</li>
        <li>III LICEUM OGÓLNOKSZTAŁCĄCE IM. MARII SKŁODOWSKIEJ-CURIE W ŚWIDNICY</li>
        <li>KSOS - NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH NR I W ŚWIDNICY</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH NR II W ŚWIDNICY</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE SZKOŁA MISTRZOSTWA SPORTOWEGO W KOLARSTWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE TEB EDUKACJA DLA DOROSŁYCH W ŚWIDNICY</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE TEB EDUKACJA W ŚWIDNICY</li>
        <li>MIEJSKIE PRZEDSZKOLE INTEGRACYJNE NR 16 "SŁONECZKO" W ŚWIDNICY</li>
        <li>MŁODZIEŻOWY DOM KULTURY IM. MIECZYSŁAWA KOZARA - SŁOBÓDZKIEGO W ŚWIDNICY</li>
        <li>NESTOR GROUP BARTOSZ BERKOWSKI</li>
        <li>NESTOR GROUP SP. Z O.O.</li>
        <li>NIEPUBLICZNA KATOLICKA SZKOŁA PODSTAWOWA CARITAS DIECEZJI ŚWIDNICKIEJ IM. KS. PRAŁATA DIONIZEGO BARANA W ŚWIDNICY</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO MS CONSULTING AGNIESZKA MAZUREK</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO PRO4 SP. Z O.O.</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO STOWARZYSZENIE PRO-MOTOR</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO SUDECKI INSTYTUT ROZWOJU REGIONALNEGO</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA IQ DOROTA SZYNAL W ŚWIDNICY</li>
        <li>NIEPUBLICZNA PORADNIA SPECJALISTYCZNA CENTRUM PROGRES DANUTA STEMPOWSKA</li>
        <li>NIEPUBLICZNA SPECJALISTYCZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA CENTRUM PRO LIBERIS</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA ŚSO "BLIŻEJ DZIECKA"</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA Z ODDZIAŁAMI PRZYSPOSABIAJĄCYMI DO PRACY W ŚWIDNICY</li>
        <li>NIEPUBLICZNA SZKOŁA POLICEALNA TEB EDUKACJA W ŚWIDNICY</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "EUROPEJSKA AKADEMIA DZIECKA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "FRAJDA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "TĘCZOWA PRZYSTAŃ"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE ARTYSTYCZNE "BAJKOWY DOMEK"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE FUNDACJI POMOCY BIEDNYM DZIECIOM "UT UNUM SINT"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE JĘZYKOWE "CALINECZKA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE JĘZYKOWE ABRACADABRA</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE SPECJALNE "TĘCZOWY ŚWIAT"</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY "MAGICZNA CHATKA"</li>
        <li>OCHRONA I USŁUGI SZKOLENIOWE "RADAR" JAN CIEŚLA</li>
        <li>OŚRODEK REHABILITACYJNO-EDUKACYJNO-WYCHOWAWCZY "TĘCZOWY ŚWIAT"</li>
        <li>OŚRODEK SZKOLENIOWY SUDECKIEGO CENTRUM BIZNESU</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I ST. IM. LUDOMIRA RÓŻYCKIEGO W ŚWIDNICY</li>
        <li>PLACÓWKA KSZTAŁCENIA USTAWICZNEGO "PROFES"</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W ŚWIDNICY</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 1 W ŚWIDNICY</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 14 W ŚWIDNICY</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 15 W ŚWIDNICY</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 3 W ŚWIDNICY</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 4 W ŚWIDNICY</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 6 W ŚWIDNICY</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "PROMYK" W ŚWIDNICY</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "RADOSNY DELFINEK"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "WESOŁA PIĄTKA" W ŚWIDNICY</li>
        <li>PRZEDSZKOLE PUBLICZNE ZGROMADZENIA PANIEN OFIAROWANIA NAJŚWIĘTSZEJ MARYI PANNY (PP. PREZENTEK)</li>
        <li>PRZEDSZKOLE SPECJALNE NR 7 W ŚWIDNICY</li>
        <li>SPOŁECZNA SZKOŁA MUZYCZNA II ST. W ŚWIDNICY</li>
        <li>SPOŁECZNA SZKOŁA PODSTAWOWA W ŚWIDNICY</li>
        <li>SPOŁECZNE PRZEDSZKOLE "AKADEMIA PRZEDSZKOLAKA" W ŚWIDNICY</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. TADEUSZA KOŚCIUSZKI W ŚWIDNICY</li>
        <li>SZKOŁA PODSTAWOWA NR 105 W ŚWIDNICY IM. POLSKICH PODRÓŻNIKÓW I ODKRYWCÓW</li>
        <li>SZKOŁA PODSTAWOWA NR 14 W ZAKŁADZIE POPRAWCZYM I SCHRONISKU DLA NIELETNICH W ŚWIDNICY</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. POLSKICH OLIMPIJCZYKÓW W ŚWIDNICY</li>
        <li>SZKOŁA PODSTAWOWA NR 315 IM. JANA PAWŁA II W ŚWIDNICY</li>
        <li>SZKOŁA PODSTAWOWA NR 4 IM. HENRYKA SIENKIEWICZA W ŚWIDNICY</li>
        <li>SZKOŁA PODSTAWOWA NR 6 IM. TYSIĄCLECIA PAŃSTWA POLSKIEGO W ŚWIDNICY</li>
        <li>SZKOŁA PODSTAWOWA NR 8 IM. KAWALERÓW ORDERU UŚMIECHU W ŚWIDNICY</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 7 IM. MARII KONOPNICKIEJ W ŚWIDNICY</li>
        <li>SZKOŁA POLICEALNA NR 1 W ŚWIDNICY</li>
        <li>SZKOŁA POLICEALNA NR 2 W ŚWIDNICY</li>
        <li>SZKOŁA POLICEALNA NR 4 W ŚWIDNICY</li>
        <li>SZKOŁA POLICEALNA NR 5 W ŚWIDNICY</li>
        <li>SZKOŁA POLICEALNA NR 6 W ŚWIDNICY</li>
        <li>SZKOŁA POLICEALNA SŁUŻB SPOŁECZNYCH I MEDYCZNYCH W ŚWIDNICY</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W ŚWIDNICY</li>
        <li>SZKOLNE SCHRONIKSO MŁODZIEŻOWE W ŚWIDNICY</li>
        <li>TEB EDUKACJA STUDIUM KSZTAŁCENIA PRAKTYCZNEGO</li>
        <li>TECHNIKUM NR 1 W ŚWIDNICY</li>
        <li>TECHNIKUM NR 2 W ŚWIDNICY</li>
        <li>TECHNIKUM NR 4 POLITECHNICZNE W ŚWIDNICY</li>
        <li>TECHNIKUM NR 5 W ŚWIDNICY</li>
        <li>TECHNIKUM NR 6 W ŚWIDNICY</li>
        <li>TECHNIKUM ORTOPEDYCZNE W ŚWIDNICY</li>
        <li>TECHNIKUM TEB EDUKACJA W ŚWIDNICY</li>
        <li>TECHNIKUM WETERYNARYJNE W ŚWIDNICY</li>
        <li>TERAPEUTYCZNY PUNKT PRZEDSZKOLNY "ZIELONY ZAKĄTEK II"</li>
        <li>TERAPEUTYCZNY PUNKT PRZEDSZKOLNY DOROTKA</li>
        <li>V LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI SPORTOWYMI W ŚWIDNICY</li>
        <li>VI LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI INTEGRACYJNYMI W ŚWIDNICY</li>
        <li>ZESPÓŁ PORADNI PSYCHOLOGICZNO-PEDAGOGICZNYCH W ŚWIDNICY</li>
        <li>ZESPÓŁ SZKÓŁ "PASCAL" W ŚWIDNICY</li>
        <li>ZESPÓŁ SZKÓŁ BUDOWLANO-ELEKTRYCZNYCH IM. JANA III SOBIESKIEGO W ŚWIDNICY</li>
        <li>ZESPÓŁ SZKÓŁ EKONOMICZNYCH IM. WINCENTEGO STYSIA W ŚWIDNICY</li>
        <li>ZESPÓŁ SZKÓŁ HOTELARSKO-TURYSTYCZNYCH IM. TONY HALIKA W ŚWIDNICY</li>
        <li>ZESPÓŁ SZKÓŁ MECHANICZNYCH IM. MIKOŁAJA KOPERNIKA W ŚWIDNICY</li>
        <li>ZESPÓŁ SZKÓŁ NR 1 W ŚWIDNICY</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH W ŚWIDNICY</li>
        <li>ZESPÓŁ SZKÓŁ SPECJALNYCH W ŚWIDNICY</li>

    </ul>
    <a href="DOLNOŚLĄSKIE.html">Back to Cities in DOLNOŚLĄSKIE</a>
</body>
</html>
