
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Strzelin</title>
</head>
<body>
    <h1>Schools in Strzelin</h1>
    <ul>
        <li>AKADEMIA PANA KLEKSA</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA IM. BOHATERÓW WESTERPLATTE W CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO W STRZELINIE</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA W STRZELINIE W CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO W STRZELINIE</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO W STRZELINIE</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO W STRZELINIE</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO W STRZELINIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH HALMUR W STRZELINIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W ZESPOLE SZKÓŁ OGÓLNOKSZTAŁCĄCYCH W STRZELINIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCACE IM.MARII SKŁODOWSKIEJ-CURIE W ZESPOLE SZKÓŁ OGÓLNOKSZTAŁCĄCYCH W STRZELINIE</li>
        <li>MŁODZIEŻOWY OŚRODEK SOCJOTERAPII W STRZELINIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "AKADEMIA UŚMIECHU"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "BAJKA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE JĘZYKOWE "MICHAŁEK"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE JĘZYKOWE"MAŁY ODKRYWCA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE WYSPA BERGAMUTA</li>
        <li>OŚRODEK SZKOLENIOWY HALINY GOLIŃSKIEJ W STRZELINIE</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I STOPNIA W STRZELINIE</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W STRZELINIE</li>
        <li>PRZEDSZKOLE MIEJSKIE W STRZELINIE "KOLOROWA KRAINA"</li>
        <li>PRZEDSZKOLE Z WARTOŚCIAMI</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 3 IM. ŻOŁNIERZA POLSKIEGO</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 4 IM. TADEUSZA KOŚCIUSZKI</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 5 IM. BOLKA I ŚWIDNICKIEGO</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA</li>
        <li>SZKOŁA PODSTAWOWA Z WARTOŚCIAMI</li>
        <li>TECHNIKUM W CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO W STRZELINIE</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH W STRZELINIE</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH</li>

    </ul>
    <a href="DOLNOŚLĄSKIE.html">Back to Cities in DOLNOŚLĄSKIE</a>
</body>
</html>
