
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Góra</title>
</head>
<body>
    <h1>Schools in Góra</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA II STOPNIA W CENTRUM KSZTAŁCENIA PRAKTYCZNEGO I USTAWICZNEGO W GÓRZE</li>
        <li>CENTRUM KSZTAŁCENIA PRAKTYCZNEGO I USTAWICZNEGO W GÓRZE</li>
        <li>CENTRUM KSZTAŁCENIA PRAKTYCZNEGO I USTAWICZNEGO W GÓRZE-CENTRUM KSZTAŁCENIA ZAWODOWEGO W GÓRZE</li>
        <li>CENTRUM KSZTAŁCENIA PRAKTYCZNEGO I USTAWICZNEGO W GÓRZE-LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W GÓRZE</li>
        <li>CENTRUM KSZTAŁCENIA PRAKTYCZNEGO I USTAWICZNEGO W GÓRZE-SZKOŁA POLICEALNA W GÓRZE</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO W GÓRZE</li>
        <li>FILIA DOLNOŚLĄSKIEJ BIBLIOTEKI PEDAGOGICZNEJ W GÓRZE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. ADAMA MICKIEWICZA W GÓRZE</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W GÓRZE</li>
        <li>POWIATOWE CENTRUM DOSKONALENIA NAUCZYCIELI I PORADNICTWA PSYCHOLOGICZNO-PEDAGOGICZNEGO W GÓRZE</li>
        <li>POWIATOWY OŚRODEK DOSKONALENIA NAUCZYCIELI W GÓRZE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "AKADEMIA MALUCHA"</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 1 IM. MARII KONOPNICKIEJ W GÓRZE</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 3 IM. "JASIA I MAŁGOSI" W GÓRZE</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. BOLESŁAWA PRUSA W GÓRZE</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. WŁADYSŁAWA BRONIEWSKIEGO W GÓRZE</li>
        <li>ZESPÓŁ SZKÓŁ IM. GEN. SYLWESTRA KALISKIEGO W GÓRZE</li>
        <li>ZESPÓŁ SZKÓŁ IM. GEN. SYLWESTRA KALISKIEGO W GÓRZE BRANŻOWA SZKOŁA I STOPNIA W GÓRZE</li>
        <li>ZESPÓŁ SZKÓŁ IM. GEN. SYLWESTRA KALISKIEGO W GÓRZE-TECHNIKUM W GÓRZE</li>

    </ul>
    <a href="DOLNOŚLĄSKIE.html">Back to Cities in DOLNOŚLĄSKIE</a>
</body>
</html>
