
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Bielawa</title>
</head>
<body>
    <h1>Schools in Bielawa</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA CECHU RZEMIOSŁ RÓŻNYCH I MAŁEJ PRZEDSIĘBIORCZOŚCI W BIELAWIE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA W BIELAWIE ZESPÓŁ SZKÓŁ I PLACÓWEK KSZTAŁCENIA ZAWODOWEGO W BIELAWIE</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO CECHU RZEMIOSŁ RÓŻNYCH I MAŁEJ PRZEDSIĘBIORCZOŚCI W BIELAWIE</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO W BIELAWIE</li>
        <li>EKOLOGICZNA SZKOŁA PODSTAWOWA NR 7 IM. JULIANA TUWIMA W BIELAWIE</li>
        <li>EKOLOGICZNE PRZEDSZKOLE NIEPUBLICZNE</li>
        <li>EUROPEJSKA SZKOŁA PODSTAWOWA Z ODDZIAŁAMI PRZYSPOSABIAJĄCYMI DO PRACY</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI DWUJĘZYCZNYMI IM. BOLESŁAWA CHROBREGO W BIELAWIE</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA ANNA SALIJ-SZYSZKA</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA AUXILIUM W BIELAWIE</li>
        <li>NIEPUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE W BIELAWIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE MONTESSORI Z ODDZIAŁAMI INTEGRACYJNYMI</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY "CHATKA PUCHATKA"</li>
        <li>OŚRODEK SZKOLENIA KIEROWCÓW BOGUSŁAW TUSIŃSKI</li>
        <li>POWIATOWE CENTRUM PORADNICTWA PSYCHOLOGICZNO-PEDAGOGICZNEGO I DORADZTWA EDUKACYJNEGO PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W DZIERŻONIOWIE FILIA W BIELAWIE</li>
        <li>PRYWATNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W BIELAWIE "MENTOR"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE MIŚ</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE Z ODDZIAŁAMI INTEGRACYJNYMI</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 3</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 4</li>
        <li>PUBLICZNE PRZEDSZKOLE Z ODDZIAŁAMI INTEGRACYJNYMI PROWADZONE PRZEZ ZGROMADZENIE SIÓSTR AUGUSTIANEK</li>
        <li>SPOŁECZNA SZKOŁA MUZYCZNA I ST. SPOŁECZNEGO TOWARZYSTWA OŚWIATOWEGO W BIELAWIE</li>
        <li>SPOŁECZNA SZKOŁA PODSTAWOWA TOWARZYSTWA OŚWIATOWEGO W BIELAWIE</li>
        <li>SPORTOWE PRZEDSZKOLE NIEPUBLICZNE</li>
        <li>SZKOŁA PODSTAWOWA DLA DOROSŁYCH W BIELAWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 10 Z ODDZIAŁAMI SPORTOWYMI IM. POLSKICH OLIMPIJCZYKÓW W BIELAWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 4 Z ODDZIAŁAMI INTEGRACYJNYMI W BIELAWIE</li>
        <li>SZKOŁA PODSTAWOWA Z ODDZIAŁAMI PRZYSPOSABIAJĄCYMI DO PRACY CECHU RZEMIOSŁ RÓŻNYCH I MAŁEJ PRZEDSIĘBIORCZOŚCI</li>
        <li>SZKOŁA WIELOBRANŻOWA W BIELAWIE</li>
        <li>TECHNIKUM W BIELAWIE - ZESPÓŁ SZKÓŁ I PLACÓWEK KSZTAŁCENIA ZAWODOWEGO W BIELAWIE</li>
        <li>ZESPÓŁ SZKÓŁ CECHU RZEMIOSŁ RÓŻNYCH W BIELAWIE</li>
        <li>ZESPÓŁ SZKÓŁ I PLACÓWEK KSZTAŁCENIA ZAWODOWEGO W BIELAWIE</li>
        <li>ZESPÓŁ SZKÓŁ I PLACÓWEK KSZTAŁCENIA ZAWODOWEGO W BIELAWIE - SZKOŁA POLICEALNA DLA DOROSŁYCH</li>
        <li>ZESPÓŁ SZKÓŁ SPOŁECZNYCH SPOŁECZNEGO TOWARZYSTWA OŚWIATOWEGO</li>

    </ul>
    <a href="DOLNOŚLĄSKIE.html">Back to Cities in DOLNOŚLĄSKIE</a>
</body>
</html>
