
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Prochowice</title>
</head>
<body>
    <h1>Schools in Prochowice</h1>
    <ul>
        <li>MIEJSKIE PRZEDSZKOLE W PROCHOWICACH</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO AMICORUM</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. MIKOŁAJA KOPERNIKA W PROCHOWICACH</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. TADEUSZA KOŚCIUSZKI W PROCHOWICACH</li>

    </ul>
    <a href="DOLNOŚLĄSKIE.html">Back to Cities in DOLNOŚLĄSKIE</a>
</body>
</html>
