
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Biedrzychowice</title>
</head>
<body>
    <h1>Schools in Biedrzychowice</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W BIEDRZYCHOWICACH</li>
        <li>DOLNOŚLĄSKI ZESPÓŁ SZKÓŁ W BIEDRZYCHOWICACH</li>
        <li>SZKOŁA PODSTAWOWA IM. JANUSZA KORCZAKA W BIEDRZYCHOWICACH</li>
        <li>SZKOŁA POLICEALNA W BIEDRZYCHOWICACH</li>
        <li>TECHNIKUM IM. MARII KONOPNICKIEJ W BIEDRZYCHOWICACH</li>

    </ul>
    <a href="DOLNOŚLĄSKIE.html">Back to Cities in DOLNOŚLĄSKIE</a>
</body>
</html>
