
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Paszowice</title>
</head>
<body>
    <h1>Schools in Paszowice</h1>
    <ul>
        <li>PRZEDSZKOLE SAMORZĄDOWE W PASZOWICACH</li>
        <li>SZKOŁA PODSTAWOWA IM. WŁADYSŁAWA BRONIEWSKIEGO W PASZOWICACH</li>
        <li>ZESPÓŁ SZKOLNO -PRZEDSZKOLNY W PASZOWICACH</li>

    </ul>
    <a href="DOLNOŚLĄSKIE.html">Back to Cities in DOLNOŚLĄSKIE</a>
</body>
</html>
