
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Rokitki</title>
</head>
<body>
    <h1>Schools in Rokitki</h1>
    <ul>
        <li>GMINNE PRZEDSZKOLE W ROKITKACH</li>
        <li>SZKOŁA PODSTAWOWA IM. JANA PAWŁA II W ROKITKACH</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY IM. JANA PAWŁA II W ROKITKACH</li>

    </ul>
    <a href="DOLNOŚLĄSKIE.html">Back to Cities in DOLNOŚLĄSKIE</a>
</body>
</html>
