
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Piława Dolna</title>
</head>
<body>
    <h1>Schools in Piława Dolna</h1>
    <ul>
        <li>GMINNE PRZEDSZKOLE PUBLICZNE W PIŁAWIE DOLNEJ</li>
        <li>NIEPUBLICZNA SZKOŁA PRZYSPOSABIAJĄCA DO PRACY "BAJECZNE WZGÓRZA"</li>
        <li>SZKOŁA PODSTAWOWA IM. KORNELA MAKUSZYŃSKIEGO W PIŁAWIE DOLNEJ</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W PIŁAWIE DOLNEJ</li>

    </ul>
    <a href="DOLNOŚLĄSKIE.html">Back to Cities in DOLNOŚLĄSKIE</a>
</body>
</html>
