
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Rzepin</title>
</head>
<body>
    <h1>Schools in Rzepin</h1>
    <ul>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. STANISŁAWA STASZICA W RZEPINIE</li>
        <li>PRYWATNE PRZEDSZKOLE "EUREGIO" W RZEPINIE</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 2</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 3 "JARZĘBINKA"</li>
        <li>SZKOŁA PODSTAWOWA NR 1 Z ODDZIAŁAMI INTEGRACYJNYMI IM. HENRYKA SIENKIEWICZA</li>
        <li>ZESPÓŁ SZKÓŁ W RZEPINIE</li>

    </ul>
    <a href="LUBUSKIE.html">Back to Cities in LUBUSKIE</a>
</body>
</html>
