
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Osiecznica</title>
</head>
<body>
    <h1>Schools in Osiecznica</h1>
    <ul>
        <li>ZESPÓŁ EDUKACYJNY W OSIECZNICY</li>
        <li>ZESPÓŁ EDUKACYJNY W OSIECZNICY - PRZEDSZKOLE</li>
        <li>ZESPÓŁ EDUKACYJNY W OSIECZNICY - SZKOŁA PODSTAWOWA IM. KAWALERÓW ORDERU UŚMIECHU</li>

    </ul>
    <a href="LUBUSKIE.html">Back to Cities in LUBUSKIE</a>
</body>
</html>
