
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Zabór</title>
</head>
<body>
    <h1>Schools in Zabór</h1>
    <ul>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE SPECJALNE W ZESPOLE SZKÓŁ SPECJALNYCH IM. KAWALERÓW MALTAŃSKICH W ZABORZE PRZY CENTRUM LECZENIA DZIECI I MŁODZIEŻY</li>
        <li>MŁODZIEŻOWY OŚRODEK SOCJOTERAPII</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE W ZABORZE "ZIELONA NUTKA"</li>
        <li>SZKOŁA PODSTAWOWA IM.JANA PAWŁA II W ZABORZE</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA W ZABORZE</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA W ZESPOLE SZKÓŁ SPECJALNYCH IM. KAWALERÓW MALTAŃSKICH W ZABORZE PRZY CENTRUM LECZENIA DZIECI I MŁODZIEŻY</li>
        <li>ZESPÓŁ SZKÓŁ SPECJALNYCH IM. KAWALERÓW MALTAŃSKICH W ZABORZE PRZY CENTRUM LECZENIA DZIECI I MŁODZIEŻY</li>

    </ul>
    <a href="LUBUSKIE.html">Back to Cities in LUBUSKIE</a>
</body>
</html>
