
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Kostrzyn nad Odrą</title>
</head>
<body>
    <h1>Schools in Kostrzyn nad Odrą</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W KOSTRZYNIE NAD ODRĄ</li>
        <li>CENTRUM ZDROWIA MEDI SENS DR JOANNA WICHLIŃSKA-PAKIRSKA</li>
        <li>LICEUM OGÓLNOKSZATŁCĄCE DLA DOROSŁYCH WZDZ W KOSTRZYNIE NAD ODRĄ</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W KOSTRZYNIE NAD ODRĄ</li>
        <li>NIEPUBLICZNA PLACÓWKA OŚWIATOWA BHP EDUKACJA W KOSTRZYNIE NAD ODRĄ</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE Z ODDZIAŁAMI INTEGRACYJNYMI I SPECJALNYMI</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY "CZTERY PORY ROKU"</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W KOSTRZYNIE NAD ODRĄ</li>
        <li>PRYWATNE PRZEDSZKOLE "EUREGIO" W KOSTRZYNIE NAD ODRĄ</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 1 POD TOPOLĄ</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 2 IM. KOSTRZYŃSKICH PAPIERNIKÓW</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 4 "BAJKA"</li>
        <li>PRZEDSZKOLE MIESJKIE NR 3 "EKOLUDKI"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "STONOGA"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE NR 1 "MALI EUROPEJCZYCY"</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. PRZYJACIÓŁ KOSTRZYNA NAD ODRĄ</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. PRZYJACIÓŁ ZIEMI</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. INTEGRACJI EUROPEJSKIEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 4 IM. KONSTYTUCJI 3 MAJA W KOSTRZYNIE NAD ODRĄ</li>
        <li>SZKOŁA POLICEALNA DLA DOROSŁYCH W KOSTRZYNIE NAD ODRĄ</li>
        <li>TECHNIKUM W KOSTRZYNIE NAD ODRĄ</li>
        <li>ZESPÓŁ SZKÓŁ IM. M. SKŁODOWSKIEJ-CURIE W KOSTRZYNIE NAD ODRĄ</li>

    </ul>
    <a href="LUBUSKIE.html">Back to Cities in LUBUSKIE</a>
</body>
</html>
