
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Maszewo</title>
</head>
<body>
    <h1>Schools in Maszewo</h1>
    <ul>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA EDUSTATION</li>
        <li>PRZEDSZKOLE PUBLICZNE MASZEWO</li>
        <li>PRZEDSZKOLE W MASZEWIE</li>
        <li>SZKOŁA PODSTAWOWA IM. IGNACEGO ŁUKASIEWICZA W MASZEWIE</li>

    </ul>
    <a href="LUBUSKIE.html">Back to Cities in LUBUSKIE</a>
</body>
</html>
