
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Szlichtyngowa</title>
</head>
<body>
    <h1>Schools in Szlichtyngowa</h1>
    <ul>
        <li>PRZEDSZKOLE SAMORZĄDOWE W SZLICHTYNGOWEJ</li>
        <li>SZKOŁA PODSTAWOWA IM. JANA PAWŁA II W SZLICHTYNGOWEJ</li>
        <li>ZESPÓŁ PLACÓWEK EDUKACYJNYCH W SZLICHTYNGOWEJ</li>

    </ul>
    <a href="LUBUSKIE.html">Back to Cities in LUBUSKIE</a>
</body>
</html>
