
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Trzciel</title>
</head>
<body>
    <h1>Schools in Trzciel</h1>
    <ul>
        <li>OŚRODEK KSZTAŁCENIA ZAWODOWEGO</li>
        <li>TECHNIKUM</li>
        <li>ZESPÓŁ EDUKACYJNY W TRZCIELU</li>
        <li>ZESPÓŁ EDUKACYJNY W TRZCIELU PRZEDSZKOLE BAJKOWE</li>
        <li>ZESPÓŁ EDUKACYNY W TRZCIELU SZKOŁA PODSTAWOWA IM. MJR.H.DOBRZAŃSKIEGO "HUBALA"</li>

    </ul>
    <a href="LUBUSKIE.html">Back to Cities in LUBUSKIE</a>
</body>
</html>
