
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Przytok</title>
</head>
<body>
    <h1>Schools in Przytok</h1>
    <ul>
        <li>MŁODZIEŻOWY OŚRODEK SOCJOTERAPII IM. IRENY SENDLEROWEJ W PRZYTOKU</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA W MŁODZIEŻOWYM OŚRODKU SOCJOTERAPII IM. IRENY SENDLEROWEJ W PRZYTOKU</li>

    </ul>
    <a href="LUBUSKIE.html">Back to Cities in LUBUSKIE</a>
</body>
</html>
