
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Babimost</title>
</head>
<body>
    <h1>Schools in Babimost</h1>
    <ul>
        <li>MŁODZIEŻOWY OŚRODEK WYCHOWAWCZY</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE POD MUCHOMORKIEM</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA W MŁODZIEŻOWYM OŚRODKU WYCHOWAWCZYM IM. JANUSZA KORCZAKA</li>
        <li>SZKOŁA PODSTAWOWA W BABIMOŚCIE</li>

    </ul>
    <a href="LUBUSKIE.html">Back to Cities in LUBUSKIE</a>
</body>
</html>
