
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Czerwieńsk</title>
</head>
<body>
    <h1>Schools in Czerwieńsk</h1>
    <ul>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. GEN. STEFANA ROWECKIEGO "GROTA" W CZERWIEŃSKU</li>
        <li>PRZEDSZKOLE W CZERWIEŃSKU</li>
        <li>SZKOŁA PODSTAWOWA IM. JANUSZA KORCZAKA W CZERWIEŃSKU</li>
        <li>TECHNIKUM W CZERWIEŃSKU</li>
        <li>ZESPÓŁ SZKÓŁ W CZERWIEŃSKU</li>

    </ul>
    <a href="LUBUSKIE.html">Back to Cities in LUBUSKIE</a>
</body>
</html>
