
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Zbąszynek</title>
</head>
<body>
    <h1>Schools in Zbąszynek</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W ZBĄSZYNKU</li>
        <li>CENTRUM EDUKACJI KOSMETYCZNEJ MK</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO IM. JANA PAWŁA II W ZBĄSZYNKU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W ZBĄSZYNKU</li>
        <li>NIEPUBLICZNA BURSA "POD SEMAFOREM"</li>
        <li>NIEPUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W ZBĄSZYNKU</li>
        <li>NIEPUBLICZNE PRZEDFSZKOLE "POD MUCHOMORKIEM"</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE</li>
        <li>SZKOŁA PODSTAWOWA IM. POWSTAŃCÓW WIELKOPOLSKICH W ZBĄSZYNKU</li>
        <li>TECHNIKUM W ZBĄSZYNKU</li>

    </ul>
    <a href="LUBUSKIE.html">Back to Cities in LUBUSKIE</a>
</body>
</html>
