
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Krosno Odrzańskie</title>
</head>
<body>
    <h1>Schools in Krosno Odrzańskie</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W KROŚNIE ODRZAŃSKIM</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W KROŚNIE ODRZAŃSKIM</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W KROŚNIE ODRZAŃSKIM</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I ST. IM. FRYDERYKA CHOPINA W KROŚNIE ODRZAŃSKIM</li>
        <li>PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA W KROŚNIE ODRZAŃSKIM</li>
        <li>PRZEDSZKOLE NR 2</li>
        <li>PRZEDSZKOLE NR 3 IM. JANA BRZECHWY</li>
        <li>PRZEDSZKOLE NR 4</li>
        <li>PRZEDSZKOLE NR1 IM. PRZYJACIÓŁ STUMILOWEGO LASU</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. JANA KILIŃSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM.IGNACEGO ŁUKASIEWICZA</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 4 W KROŚNIE ODRZAŃSKIM</li>
        <li>SZKOŁA POLICEALNA W KROŚNIE ODRZAŃSKIM</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W KROŚNIE ODRZAŃSKIM</li>
        <li>TECHNIKUM W KROŚNIE ODRZAŃSKIM</li>
        <li>ZESPÓŁ SZKÓŁ PONADPODSTAWOWYCH W KROŚNIE ODRZAŃSKIM</li>
        <li>ZESPÓŁ SZKÓŁ SPECJALNYCH W KROŚNIE ODRZAŃSKIM</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY SZKOŁA PODSTAWOWA NR 1 IM. MARII SKŁODOWSKIEJ - CURIE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W KROŚNIE ODRZAŃSKIM</li>

    </ul>
    <a href="LUBUSKIE.html">Back to Cities in LUBUSKIE</a>
</body>
</html>
