
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Szprotawa</title>
</head>
<body>
    <h1>Schools in Szprotawa</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA W ZESPOLE SZKÓŁ TECHNICZNYCH I BRANŻOWYCH W SZPROTAWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI DWUJĘZYCZNYMI W SZPROTAWIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE JĘZYKOWE MAŁY EUROPEJCZYK</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I ST. W SZPROTAWIE</li>
        <li>PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA</li>
        <li>PRZEDSZKOLE NR 1 W SZPROTAWIE</li>
        <li>PRZEDSZKOLE NR 2 W SZPROTAWIE</li>
        <li>PRZEDSZKOLE NR 3 IM. "POD DĘBAMI" W SZPROTAWIE</li>
        <li>SPECJALNY OŚRODEK SZKOLNO WYCHOWAWCZY IM. JANA BRZECHWY W SZPROTAWIE</li>
        <li>SPOŁECZNA SZKOŁA PODSTAWOWA IMIENIA BOLESŁAWA CHROBREGO W SZPROTAWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 1 W SZPROTAWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 2 W SZPROTAWIE</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA</li>
        <li>SZKOŁA POLICEALNA</li>
        <li>SZKOŁA POLICEALNA DLA DOROSŁYCH</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY</li>
        <li>TECHNIKUM</li>
        <li>ZESPÓŁ PRZEDSZKOLNY W SZPROTAWIE</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH IM. BOLESŁAWA CHROBREGO W SZPROTAWIE</li>
        <li>ZESPÓŁ SZKÓŁ TECHNICZNYCH I BRANŻOWYCH IM. STANISŁAWA STASZICA W SZPROTAWIE</li>

    </ul>
    <a href="LUBUSKIE.html">Back to Cities in LUBUSKIE</a>
</body>
</html>
