
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Zwierzyn</title>
</head>
<body>
    <h1>Schools in Zwierzyn</h1>
    <ul>
        <li>GMINNE PRZEDSZKOLE W ZWIERZYNIE</li>
        <li>SZKOŁA PODSTAWOWA IM. WOJSKA POLSKIEGO W ZWIERZYNIE</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH W ZWIERZYNIE</li>

    </ul>
    <a href="LUBUSKIE.html">Back to Cities in LUBUSKIE</a>
</body>
</html>
