
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Toporów</title>
</head>
<body>
    <h1>Schools in Toporów</h1>
    <ul>
        <li>OŚRODEK DOKSZTAŁCANIA ZAWODOWEGO P. W. ATEST WIESŁAW KLIMCZYK W TOPOROWIE</li>
        <li>SAMORZĄDOWA SZKOŁA PODSTAWOWA I ODDZIAŁ PRZEDSZKOLNY IM. J. KORCZAKA W TOPOROWIE</li>

    </ul>
    <a href="LUBUSKIE.html">Back to Cities in LUBUSKIE</a>
</body>
</html>
