
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Wschowa</title>
</head>
<body>
    <h1>Schools in Wschowa</h1>
    <ul>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO BRANŻOWA SZKOŁA II STOPNIA NR 2 WE WSCHOWIE</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO WE WSCHOWIE</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO WE WSCHOWIE</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI DWUJĘZYCZNYMI IM. TOMASZA ZANA WE WSCHOWIE</li>
        <li>I ZESPÓŁ SZKÓŁ IM. STANISŁAWA STASZICA BRANŻOWA SZKOŁA II STOPNIA NR 1 WE WSCHOWIE</li>
        <li>I ZESPÓŁ SZKÓŁ IM. STANISŁAWA STASZICA WE WSCHOWIE</li>
        <li>I ZESPÓŁ SZKÓŁ IM. STANISŁAWA STASZICA WE WSCHOWIE BRANŻOWA SZKOŁA I STOPNIA NR 2 WE WSCHOWIE</li>
        <li>I ZESPÓŁ SZKÓŁ IM. STANISŁAWA STASZICA WE WSCHOWIE LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>I ZESPÓŁ SZKÓŁ IM. STANISŁAWA STASZICA WE WSCHOWIE TECHNIKUM</li>
        <li>I ZESPÓŁ SZKÓŁ WE WSCHOWIE SZKOŁA PODSTAWOWA NR 6 DLA DOROSŁYCH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO WE WSCHOWIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "SŁONECZKO"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "ZŁOTA RYBKA U DULA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE SIÓSTR SALEZJANEK WE WSCHOWIE</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I ST. IM. KAROLA KURPIŃSKIEGO WE WSCHOWIE</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA WE WSCHOWIE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "HAPPYLAND" WE WSCHOWIE</li>
        <li>PRZEDSZKOLE NR 1 IM. TU MIESZKA BAJECZKA WE WSCHOWIE</li>
        <li>PRZEDSZKOLE NR 3 "WESOŁA TRÓJECZKA" WE WSCHOWIE</li>
        <li>PRZEDSZKOLE NR 5 IM. SŁONECZNE PRZEDSZKOLE WE WSCHOWIE</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY IM. JANUSZA KORCZAKA WE WSCHOWIE</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY IM. JANUSZA KORCZAKA WE WSCHOWIE BRANŻOWA SZKOŁA I STOPNIA NR 1 SPECJALNA WE WSCHOWIE</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY IM. JANUSZA KORCZAKA WE WSCHOWIE PRZEDSZKOLE SPECJALNE NR 6 "KRAINA TĘCZY"</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY IM. JANUSZA KORCZAKA WE WSCHOWIE SZKOŁA PODSTAWOWA SPECJALNA NR 4 WE WSCHOWIE</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY IM. JANUSZA KORCZAKA WE WSCHOWIE SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY WE WSCHOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. POLSKICH OLIMPIJCZYKÓW WE WSCHOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. BOH. WESTERPLATTE</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. JANA PAWŁA II WE WSCHOWIE</li>
        <li>SZKOŁA POLICEALNA ZAOCZNA W CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO WE WSCHOWIE</li>
        <li>SZKOLNE SCHRONISKO MŁODZIEŻOWE PRZY CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO WE WSCHOWIE</li>

    </ul>
    <a href="LUBUSKIE.html">Back to Cities in LUBUSKIE</a>
</body>
</html>
