
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Górzyca</title>
</head>
<body>
    <h1>Schools in Górzyca</h1>
    <ul>
        <li>NIEPUBLICZNE PRZEDSZKOLE "SŁONECZKO" W GÓRZYCY</li>
        <li>PUNKT PRZEDSZKOLNY W GÓRZYCY</li>
        <li>SZKOŁA PODSTAWOWA IM. WŁADYSŁAWA BRONIEWSKIEGO W GÓRZYCY</li>

    </ul>
    <a href="LUBUSKIE.html">Back to Cities in LUBUSKIE</a>
</body>
</html>
