
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Nowa Sól</title>
</head>
<body>
    <h1>Schools in Nowa Sól</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA SPECJALNA</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA W CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO "ELEKTRYK"</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA NR 1 W NOWEJ SOLI</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA NR 2 W NOWEJ SOLI</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO "ELEKTRYK"</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO W CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO "ELKTRYK"</li>
        <li>KATOLICKA SZKOŁA PODSTAWOWA IM. ŚW. URSZULI LEDÓCHOWSKIEJ</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO "ELEKTRYK"</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. WŁODZIMIERZA KRUKOWSKIEGO</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "NIBYLANDIA" W NOWEJ SOLI</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "PRZYSZŁOŚCI"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "SŁONECZKO"</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I ST. IM. GRAŻYNY BACEWICZ W NOWEJ SOLI</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA</li>
        <li>PRYWATNA SZKOŁA POLICEALNA DLA DOROSŁYCH "TWOJA-SZKOŁA"</li>
        <li>PRYWATNE LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH "TWOJA SZKOŁA"</li>
        <li>PRYWATNE PRZEDSZKOLE "MALI ODKRYWCY"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE ,,PROMYK'' JOANNA MAŁYNIAK</li>
        <li>PRZEDSZKOLE NR 1</li>
        <li>PRZEDSZKOLE NR 11</li>
        <li>PRZEDSZKOLE NR 12</li>
        <li>PRZEDSZKOLE NR 2</li>
        <li>PRZEDSZKOLE NR 5</li>
        <li>PRZEDSZKOLE NR 6 IM. MARII KONOPNICKIEJ</li>
        <li>PRZEDSZKOLE NR 7 Z ODDZIAŁAMI INTEGRACYJNYMI</li>
        <li>PRZEDSZKOLE NR 8</li>
        <li>PRZEDSZKOLE NR 9 Z ODDZIAŁAMI INTEGRACYTJNYMI</li>
        <li>PUBLICZNA SZKOŁA POLICEALNA NR 1 W CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO "ELEKTRYK"</li>
        <li>PUBLICZNA SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W SPECJALNYM OŚRODKU SZKOLNO-WYCHOWAWCZYM</li>
        <li>PUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W ZESPOLE SZKÓŁ PONADGIMNAZJALNYCH NR 2</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY IM. JANUSZA KORCZAKA</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. TADEUSZA KOŚCIUSZKI</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. MARII KONOPNICKIEJ Z ODDZIAŁAMI INTEGRACYJNYMI W NOWEJ SOLI</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. JULIANA TUWIMA</li>
        <li>SZKOŁA PODSTAWOWA NR 5 IM. WŁADYSŁAWA BRONIEWSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 6</li>
        <li>SZKOŁA PODSTAWOWA NR 8 IM. JANUSZA KORCZAKA</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA W SPECJALNYM OŚRODKU SZKOLNO-WYCHOWAWCZYM</li>
        <li>SZKOŁA POLICEALNA NR 2 W ZESPOLE SZKÓŁ PONADGIMNAZJALNYCH NR 2 IM. MARII DĄBROWSKIEJ</li>
        <li>TECHNIKUM IM. WŁODZIMIERZA KRUKOWSKIEGO</li>
        <li>TECHNIKUM W ZESPOLE SZKÓŁ PONADGIMNAZJALNYCH NR 2</li>
        <li>TECHNIKUM W ZESPOLE SZKÓŁ PONADGIMNAZJALNYCH NR 4</li>
        <li>ZESPÓŁ SZKÓŁ PONADGIMNAZJALNYCH NR 2</li>
        <li>ZESPÓŁ SZKÓŁ PONADGIMNAZJALNYCH NR 2 IM. MARII DĄBROWSKIEJ W NOWEJ SOLI BRANŻOWA SZKOŁA I STOPNIA</li>
        <li>ZESPÓŁ SZKÓŁ PONADGIMNAZJALNYCH NR 4</li>
        <li>ZESPÓŁ SZKÓŁ PONADGIMNAZJALNYCH NR 4 IM. JANA PAWŁA II W NOWEJ SOLI BRANŻOWA SZKOŁA I STOPNIA</li>

    </ul>
    <a href="LUBUSKIE.html">Back to Cities in LUBUSKIE</a>
</body>
</html>
