
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Lubiszyn</title>
</head>
<body>
    <h1>Schools in Lubiszyn</h1>
    <ul>
        <li>OŚRODEK SZKOLENIOWY KLUBU STRZELECKO KOLEKCJONERSKIEGO PRETOR SP. Z O.O.</li>
        <li>PRZEDSZKOLE W LUBISZYNIE</li>
        <li>SZKOŁA PODSTAWOWA IM. JANA PAWŁA II W LUBISZYNIE</li>

    </ul>
    <a href="LUBUSKIE.html">Back to Cities in LUBUSKIE</a>
</body>
</html>
