
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Witnica</title>
</head>
<body>
    <h1>Schools in Witnica</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. MIKOŁAJA KOPERNIKA W WITNICY</li>
        <li>PRZEDSZKOLE MIEJSKIE ,,BAJKA'' W WITNICY</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. LUDZI POJEDNANIA</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. JÓZEFA WYBICKIEGO W WITNICY</li>
        <li>TECHNIKUM W WITNICY</li>
        <li>ZESPÓŁ SZKÓŁ SAMORZĄDOWYCH W WITNICY</li>
        <li>ZESPÓŁ SZKOLNO - PRZEDSZKOLNY W WITNICY</li>

    </ul>
    <a href="LUBUSKIE.html">Back to Cities in LUBUSKIE</a>
</body>
</html>
