
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Dobiegniew</title>
</head>
<body>
    <h1>Schools in Dobiegniew</h1>
    <ul>
        <li>GMINNY ZESPÓŁ SZKÓŁ W DOBIEGNIEWIE</li>
        <li>GMINNY ZESPÓŁ SZKÓŁ W DOBIEGNIEWIE.BRANŻOWA SZKOŁA I STOPNIA</li>
        <li>GMINNY ZESPÓŁ SZKÓŁ W DOBIEGNIEWIE.LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>GMINNY ZESPÓŁ SZKÓŁ W DOBIEGNIEWIE.SZKOŁA PODSTAWOWA IM.ŻOŁNIERZY WRZEŚNIA-WOLDENBERCZYKÓW</li>
        <li>OŚRODEK SZKOLENIOWY I PRZYGOTOWANIA ZAWODOWEGO STOWARZYSZENIA WSPIERANIA MAŁEJ PRZEDSIĘBIORCZOŚCI Z SIEDZIBĄ W DOBIEGNIEWIE</li>
        <li>PRZEDSZKOLE BAŚNIOWA KRAINA W DOBIEGNIEWIE</li>
        <li>SZKOLNE SCHRONISKO MŁODZIEŻOWE</li>

    </ul>
    <a href="LUBUSKIE.html">Back to Cities in LUBUSKIE</a>
</body>
</html>
