
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Drezdenko</title>
</head>
<body>
    <h1>Schools in Drezdenko</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>PORADNIA PSYCHOLOGICZNO- PEDAGOGICZNA W DREZDENKU</li>
        <li>PRZEDSZKOLE IM. BŁOGOSŁAWIONEGO EDMUNDA BOJANOWSKIEGO</li>
        <li>PUBLICZNE PRZEDSZKOLE</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. JANUSZA KORCZAKA</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. JÓZEFA NOJIEGO W DREZDENKU</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM.H.SIENKIEWICZA</li>
        <li>TECHNIKUM</li>
        <li>ZESPÓŁ SZKÓŁ W DREZDENKU</li>

    </ul>
    <a href="LUBUSKIE.html">Back to Cities in LUBUSKIE</a>
</body>
</html>
