
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Klenica</title>
</head>
<body>
    <h1>Schools in Klenica</h1>
    <ul>
        <li>NIEPUBLICZNE PRZEDSZKOLE "MAŁY ODKRYWCA" KAMILA OSTAPCZUK</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "KRAINA MARZEŃ" JUSTYNA HUTOR</li>
        <li>SZKOŁA PODSTAWOWA W KLENICY</li>

    </ul>
    <a href="LUBUSKIE.html">Back to Cities in LUBUSKIE</a>
</body>
</html>
