
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Sulechów</title>
</head>
<body>
    <h1>Schools in Sulechów</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA IM. GEN. WŁADYSŁAWA SIKORSKIEGO W CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO W SULECHOWIE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA SPECJALNA W SPECJALNYM OŚRODKU SZKOLNO - WYCHOWAWCZYM W SULECHOWIE</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO W SULECHOWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO W SULECHOWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. ROTMISTRZA WITOLDA PILECKIEGO W SULECHOWIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "DOBRA WRÓŻKA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "GUCIO"</li>
        <li>PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA W SULECHOWIE</li>
        <li>PRZEDSZKOLE NR 5 W SULECHOWIE</li>
        <li>PRZEDSZKOLE NR 6 "TĘCZOWA SZÓSTKA" W SULECHOWIE</li>
        <li>PRZEDSZKOLE NR 7 "POD MUCHOMORKIEM" W SULECHOWIE</li>
        <li>PRZEDSZKOLE SPECJALNE "BAJKA" W SPECJALNYM OŚRODKU SZKOLNO - WYCHOWAWCZYM W SULECHOWIE</li>
        <li>SPECJALNY OŚRODEK SZKOLNO - WYCHOWAWCZY W SULECHOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. GEN. JÓZEFA BEMA</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. JANA PAWŁA II W SULECHOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. JANUSZA KUSOCIŃSKIEGO W SULECHOWIE</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA W SPECJALNYM OŚRODKU SZKOLNO - WYCHOWAWCZYM W SULECHOWIE</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W SPECJALNYM OŚRODKU SZKOLNO WYCHOWAWCZYM W SULECHOWIE</li>
        <li>TECHNIKUM IM. GEN. WŁADYSŁAWA SIKORSKIEGO W CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO W SULECHOWIE</li>

    </ul>
    <a href="LUBUSKIE.html">Back to Cities in LUBUSKIE</a>
</body>
</html>
