
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Żary</title>
</head>
<body>
    <h1>Schools in Żary</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 1</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 2</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 4</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA W ŻARACH ZAKŁADU DOSKONALENIA ZAWODOWEGO W ZIELONEJ GÓRZE</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA</li>
        <li>BRANŻOWA SZKOŁA SPECJALNA I STOPNIA</li>
        <li>BURSA DLA MŁODZIEŻY SZKÓŁ PONADGIMNAZJALNYCH PRZY OŚRODKU DLA DZIECI Z WADAMI SŁUCHU I MOWY W ŻARACH</li>
        <li>CENTRUM EDUKACJI DOROSŁYCH W ŻARACH</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO IM. KOMISJI EDUKACJI NARODOWEJ W ŻARACH</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE IM. BOLESŁAWA PRUSA</li>
        <li>KATOLICKA SZKOŁA PODSTAWOWA IM. JANA PAWŁA II</li>
        <li>KATOLICKIE LICEUM OGÓLNOKSZTAŁCĄCE W ŻARACH</li>
        <li>KOLEGIUM KRÓLEWSKIE-LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W ŻARACH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W ŻARACH ZAKŁADU DOSKONALENIA ZAWODOWEGO W ZIELONEJ GÓRZE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE NR II</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE NR IV</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 1</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 10</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 2 IM. JANA BRZECHWY</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 3 IM. FUNDACJI WIELKA ORKIESTRA ŚWIĄTECZNEJ POMOCY</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 4</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 7 IM. MARII KONOPNICKIEJ</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 8 IM. MISIA USZATKA-PRZYJACIELA PRZYRODY</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO PEDAGOGICZNA "LILAVATI"</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "PRZYJAZNA DŁOŃ" W ŻARACH</li>
        <li>NIEPUBLICZNA PORADNIA WSPIERANIA ROZWOJU DZIECI I MŁODZIEŻY</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "BAJKOWY MIŚ"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE TERAPEUTYCZNE "ORZESZEK" W ŻARACH</li>
        <li>NIEPUBLICZNE TECHNIKUM KOLEJOWE W ŻARACH</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I ST. IM. GEORGA PHILIPPA TELEMANNA W ŻARACH</li>
        <li>POLICEALNA SZKOŁA AWANGARDA</li>
        <li>PRYWATNA SZKOŁA POLICEALNA "TWOJA SZKOŁA" W ŻARACH</li>
        <li>PRYWATNE LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH "TWOJA SZKOŁA".</li>
        <li>PRYWATNE UZUPEŁNIAJĄCE LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH "TWOJA SZKOŁA".</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "CHATKA PUCHATKA"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "ENCE - PENCE"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "GROSZKI"</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY IM. KORNELA MAKUSZYŃSKIEGO</li>
        <li>SPOŁECZNA SZKOŁA PODSTAWOWA</li>
        <li>SPOŁECZNE LICEUM OGÓLNOKSZTAŁCĄCE W ŻARACH</li>
        <li>SPOŁECZNE PRZEDSZKOLE W ŻARACH</li>
        <li>SZKOŁA GŁÓWNA SŁUŻB SPOŁECZNYCH KOLEGIUM KRÓLEWSKIE W ŻARACH</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. FRYDERYKA CHOPINA</li>
        <li>SZKOŁA PODSTAWOWA NR 10 IM. ARMII KRAJOWEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. JANUSZA KORCZAKA</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. HENRYKA SIENKIEWICZA</li>
        <li>SZKOŁA PODSTAWOWA NR 5 IM. POLSKICH NOBLISTÓW</li>
        <li>SZKOŁA PODSTAWOWA NR 8 IM. BOLESŁAWA CHROBREGO</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 2</li>
        <li>SZKOŁA PODSTAWOWA W ŻARACH ZAKŁADU DOSKONALENIA ZAWODOWEGO W ZIELONEJ GÓRZE</li>
        <li>SZKOŁA POLICEALNA NR 1</li>
        <li>SZKOŁA POLICEALNA W AKADEMICKIM ZESPOŁE SZKÓŁ</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY</li>
        <li>TECHNIKUM NR 1</li>
        <li>TECHNIKUM NR 2</li>
        <li>TECHNIKUM NR 3</li>
        <li>TECHNIKUM NR 4</li>
        <li>ZESPÓŁ PORADNI PSYCHOLOGICZNO-PEDAGOGICZNYCH POWIATU ŻARSKIEGO</li>
        <li>ZESPÓŁ SZKÓŁ BUDOWLANYCH</li>
        <li>ZESPÓŁ SZKÓŁ EKONOMICZNYCH W ŻARACH</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH I TECHNICZNYCH</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH W ŻARACH</li>
        <li>ZESPÓŁ SZKÓŁ SPECJALNYCH IM.MARII GRZEGORZEWSKIEJ W ŻARACH</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W ŻARACH</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY Z ODDZIAŁAMI INTEGRACYJNYMI W ŻARACH</li>

    </ul>
    <a href="LUBUSKIE.html">Back to Cities in LUBUSKIE</a>
</body>
</html>
