
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Gorzów Wielkopolski</title>
</head>
<body>
    <h1>Schools in Gorzów Wielkopolski</h1>
    <ul>
        <li>AKADEMIA MSP OCHRONY ZDROWIA I URODY</li>
        <li>AKADEMIA MSP OCHRONY ZDROWIA I URODY SZKOŁA POLICEALNA</li>
        <li>AKADEMICKIE LICEUM MISTRZOSTWA SPORTOWEGO W GORZOWIE WIELKOPOLSKIM</li>
        <li>BOSKA WIOSKA RAGAZZO NIEPUBLICZNY PUNKT PRZEDSZKOLNY</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 1 W GORZOWIE WIELKOPOLSKIM</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 3 W ZESPOLE SZKÓŁ GASTRONOMICZNYCH IM. FEBRONII GAJEWSKIEJ – KARAMAĆ W GORZOWIE WIELKOPOLSKIM</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 4 W ZESPOLE SZKÓŁ ODZIEŻOWYCH IM. KRZYSZTOFA KIEŚLOWSKIEGO W GORZOWIE WIELKOPOLSKIM</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 5 W GORZOWIE WIELKOPOLSKIM</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 7 W ZESPOLE SZKÓŁ ELEKTRYCZNYCH W GORZOWIE WIELKOPOLSKIM</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 9 W ZESPOLE SZKÓŁ OGRODNICZYCH GORZOWIE WIELKOPOLSKIM</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA SPECJALNA NR 14 IM. AMBASADORÓW PRAW CZŁOWIEKA W GORZOWIE WIELKOPOLSKIM W ZESPOLE SZKÓŁ SPECJALNYCH NR 14</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA WZDZ</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA NR 1 W GORZOWIE WIELKOPOLSKIM</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA WZDZ W GORZOWIE WLKP.</li>
        <li>BURSA SIÓSTR MARYI NIEPOKALANEJ DLA DZIEWCZĄT</li>
        <li>CENTRUM DOSKONALENIA NAUCZYCIELI</li>
        <li>CENTRUM EDUKACJI ZAWODOWEJ I BIZNESU</li>
        <li>CENTRUM HAJDASZ JACEK HAJDASZ</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO OŚRODEK SZKOLEŃ SPECJALNYCH ATEX</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO "MEDYK"</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO W GORZOWIE WLKP.</li>
        <li>CENTRUM SZKOLEŃ STRATEGICZNYCH</li>
        <li>CENTRUM TAŃCA FAN DANCE ANNA DEPTA, GRZEGORZ DEPTA</li>
        <li>CON - TRA AKADEMIA STRZELECTWA</li>
        <li>DWUJĘZYCZNE PRZEDSZKOLE INTEGRACYJNE KOLOROWE MOTYLE</li>
        <li>DWULETNIA SZKOŁA POLICEALNA "ŻAK"</li>
        <li>EDUATUT CENTRUM SZKOLENIOWE W GORZOWIE WIELKOPOLSKIM</li>
        <li>EDUATUT LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W GORZOWIE WIELKOPOLSKIM</li>
        <li>EDUATUT POLICEALNA SZKOŁA MEDYCZNA W GORZOWIE WIELKOPOLSKIM</li>
        <li>EDUATUT POLICEALNA SZKOŁA ZAWODOWA W GORZOWIE WIELKOPOPSKIM</li>
        <li>EDUATUT SZKOŁA BRANŻOWA II ST. W GORZOWIE WIELKOPOLSKIM</li>
        <li>EDUATUT SZKOŁA PODSTAWOWA DLA DOROSŁYCH W GORZOWIE WIELKOPOLSKIM</li>
        <li>EDUGORZÓW BRANŻOWA SZKOŁA II STOPNIA</li>
        <li>EDUGORZÓW CENTRUM SZKOLENIOWE</li>
        <li>EDUGORZÓW LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>EDUGORZÓW POLICEALNA SZKOŁA MEDYCZNA</li>
        <li>EDUGORZÓW POLICEALNA SZKOŁA ZAWODOWA</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W GORZOWIE WIELKOPOLSKIM W ZESPOLE SZKÓŁ OGÓLNOKSZTAŁCĄCYCH NR 1</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE IM. TADEUSZA KOŚCIUSZKI W GORZOWIE WIELKOPOLSKIM W ZESPOLE SZKÓŁ OGÓLNOKSZTAŁCĄCYCH NR 1</li>
        <li>I SPOŁECZNA SZKOŁA PODSTAWOWA W GORZOWIE WLKP.</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W GORZOWIE WIELKOPOLSKIM W ZESPOLE SZKÓŁ OGÓLNOKSZTAŁCĄCYCH NR 2</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE IM. MARII SKŁODOWSKIEJ - CURIE W GORZOWIE WIELKOPOLSKIM W ZESPOLE SZKÓŁ OGÓLNOKSZTAŁCĄCYCH NR 2</li>
        <li>III LICEUM OGÓLNOKSZTAŁCĄCE IM. WŁADYSŁAWA SZAFERA W GORZOWIE WIELKOPOLSKIM W ZESPOLE SZKÓŁ OGÓLNOKSZTAŁCĄCYCH NR 3</li>
        <li>IV LICEUM OGÓLNOKSZTAŁCĄCE IM. TADEUSZA KOTARBIŃSKIEGO W GORZOWIE WIELKOPOLSKIM</li>
        <li>KATOLICKA SZKOŁA PODSTAWOWA IM. ŚW. JANA PAWŁA II</li>
        <li>KATOLICKIE LICEUM ŚW. TOMASZA Z AKWINU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH "ŻAK"</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH PASCAL W GORZOWIE WIELKOPOLSKIM</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH WZDZ W GORZOWIE WLKP</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE TEB EDUKACJA W GORZOWIE WIELKOPOLSKIM</li>
        <li>MEDYCZNE STUDIUM ZAWODOWE</li>
        <li>MIĘDZYSZKOLNY OŚRODEK SPORTOWY W GORZOWIE WLKP.</li>
        <li>MIEJSKIE PRZEDSZKOLE INTEGRACYJNE NR 14 IM. PRZYJACIÓŁ DZIECI W GORZOWIE WLKP.</li>
        <li>MIEJSKIE PRZEDSZKOLE INTEGRACYJNE NR 27 IM. WESOŁYCH KRASNALI W GORZOWIE WLKP.</li>
        <li>MIEJSKIE PRZEDSZKOLE INTEGRACYJNE NR 9 IM. NA ZIELONYM WZGÓRZU W GORZOWIE WLKP.</li>
        <li>MŁODZIEŻOWY DOM KULTURY W GORZOWIE WLKP.</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO P.W. "JOANNA" ANDRZEJ SKAWIŃSKI</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA MENTIS W GORZOWIE WLKP.</li>
        <li>NIEPUBLICZNA SZKOŁA POLICEALNA TEB EDUKACJA W GORZOWIE WIELKOPOLSKIM</li>
        <li>NIEPUBLICZNA SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "NIBYLANDIA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE EDUKACJI NIEZALEŻNEJ ŚWIETLIKI</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE Z ODDZIAŁAMI INTEGRACYJNYMI "CHATKA MAŁOLATKA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE ZGROMADZENIA SIÓSTR MIŁOSIERDZIA ŚW. WINCENTEGO A PAULO W GORZOWIE WLKP. "WINCENTYNSKIE DZIECI</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY MAŁY SZTUKMISTRZ</li>
        <li>OŚRODEK KSZTAŁCENIA POLANA</li>
        <li>OŚRODEK REHABILITACYJNO -EDUKACYJNO-WYCHOWAWCZY</li>
        <li>OŚRODEK REWALIDACYJNO - EDUKACYJNO - WYCHOWAWCZY DLA DZIECI I MŁODZIEŻY Z AUTYZMEM</li>
        <li>OŚRODEK SZKOLENIOWY CENTRUM NAUKI I BIZNESU "ŻAK" W GORZOWIE WIELKOPOLSKIM</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I I II STOPNIA IM. TADEUSZA SZELIGOWSKIEGO W GORZOWIE WIELKOPOLSKIM</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I STOPNIA IM. TADEUSZA SZELIGOWSKIEGO W GORZOWIE WIELKOPOLSKIM</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I STOPNIA IM. WŁADYSŁAWA JANA CIESIELSKIEGO W GORZOWIE WIELKOPOLSKIM</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA II STOPNIA IM. TADEUSZA SZELIGOWSKIEGO W GORZOWIE WLKP.</li>
        <li>PAŃSTWOWE LICEUM SZTUK PLASTYCZNYCH W GORZOWIE WIELKOPOLSKIM</li>
        <li>PIERWSZA SZKOŁA PODSTAWOWA MONTESSORI W GORZOWIE WLKP.</li>
        <li>PLACÓWKA KSZTAŁCENIA USTAWICZNEGO PULS</li>
        <li>PLATFORMA SZKOLENIOWO EDUKACYJNA</li>
        <li>POLICEALNA SZKOŁA DLA DOROSŁYCH COSINUS PLUS W GORZOWIE WIELKOPOLSKIM</li>
        <li>POLICEALNA SZKOŁA NR 6 W GORZOWIE WIELKOPOLSKIM</li>
        <li>PORADNIA DIAGNOSTYCZNO-TERAPEUTYCZNA WIOLETTA MAŚLUK-GĄSIOROWSKA</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA NR 1 W GORZOWIE WLKP.</li>
        <li>PRYWATNA SZKOŁA MUZYCZNA ZBIORCZYK</li>
        <li>PRYWATNA SZKOŁA PODSTAWOWA O PROFILU ARTYSTYCZNYM</li>
        <li>PRYWATNE PRZEDSZKOLE ELEMELEK</li>
        <li>PRZEDSZKOLE "PRZYJAZNY ZAKĄTEK"</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 1 IM. ŚWIAT BAJECZKI JEDYNECZKI W GORZOWIE WLKP.</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 10 IM. JASIA I MAŁGOSI W GORZOWIE WLKP.</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 11 IM. MARII KOWNACKIEJ W GORZOWIE WLKP.</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 12 IM. POD TOPOLĄ W GORZOWIE WLKP.</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 13 IM. BOLKA I LOLKA W GORZOWIE WLKP.</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 15 IM. BAŚNIOWY DOM W GORZOWIE WLKP.</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 16 W GORZOWIE WLKP.</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 17 W GORZOWIE WLKP.</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 18 W GORZOWIE WLKP.</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 19 IM. JANA BRZECHWY W GORZOWIE WLKP.</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 2 W GORZOWIE WLKP.</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 20 IM. PRZYJACIÓŁ PRZYRODY W GORZOWIE WLKP.</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 21 IM. MISIA USZATKA W GORZOWIE WLKP.</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 22 IM. TĘCZOWE PRZEDSZKOLE W GORZOWIE WLKP.</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 23 IM. MAŁY TYGRYSEK PIETREK W GORZOWIE WLKP.</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 25 W GORZOWIE WLKP.</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 29 IM. KASZTANOWA KRAINA W GORZOWIE WLKP.</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 3 IM. KRASNALA HAŁABAŁY W GORZOWIE WLKP.</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 30 W GORZOWIE WLKP.</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 31 IM. KUBUSIA PUCHATKA W GORZOWIE WLKP.</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 32 IM. KRÓLA MACIUSIA I W GORZOWIE WLKP.</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 33 W GORZOWIE WLKP.</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 4 IM. MAŁYCH ODKRYWCÓW W GORZOWIE WLKP.</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 6 W GORZOWIE WLKP.</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 7 IM. BAJKOWY ŚWIAT W GORZOWIE WLKP.</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "AKADEMIA SMYKA"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "CHATKA KUBUSIA PUCHATKA"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "WESOŁA GROMADKA"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE DZIECIĘCY RAJ</li>
        <li>PRZEDSZKOLE SPECJALNE DLA DZIECI Z AUTYZMEM</li>
        <li>PRZEDSZKOLE SPECJALNE NR 34 IM. KAROLA WOJTYŁY W GORZOWIE WLKP.</li>
        <li>PUBLICZNA SZKOŁA POLICEALNA COSINUS W GORZOWIE WIELKOPOLSKIM</li>
        <li>PUNKT PRZEDSZKOLNY PRZY PRZEDSZKOLU NR 2</li>
        <li>SEKA SPÓŁKA AKCYJNA W WARSZAWIE ODDZIAŁ W GORZOWIE WLKP.</li>
        <li>SPOŁECZNA SZKOŁA PODSTAWOWA STOWARZYSZENIA EDUKACYJNEGO</li>
        <li>STOWARZYSZENIE KSIĘGOWYCH W POLSCE NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO ODDZIAŁU OKRĘGOWEGO W GORZOWIE WLKP.</li>
        <li>SZKOŁA PODSTAWOWA DLA DOROSŁYCH W GORZOWIE WLKP.</li>
        <li>SZKOŁA PODSTAWOWA KATOLICKIEGO STOWARZYSZENIA WYCHOWAWCÓW</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. MARII KONOPNICKIEJ W GORZOWIE WLKP.</li>
        <li>SZKOŁA PODSTAWOWA NR 10 Z ODDZIAŁAMI INTEGRACYJNYMI IM. TADEUSZA KOSCIUSZKI W GORZOWIE WLKP.</li>
        <li>SZKOŁA PODSTAWOWA NR 11 IM. KRZYSZTOFA KAMILA BACZYŃSKIEGO W GORZOWIE WLKP.</li>
        <li>SZKOŁA PODSTAWOWA NR 12 IM. KORNELA MAKUSZYŃSKIEGO W GORZOWIE WLKP.</li>
        <li>SZKOŁA PODSTAWOWA NR 13 Z ODDZIAŁAMI INTEGRACYJNYMI I ODDZIAŁAMI SPORTOWYMI IM. ARKADEGO FIEDLERA W GORZOWIE WLKP.</li>
        <li>SZKOŁA PODSTAWOWA NR 15 IM. WOJSKA POLSKIEGO W GORZOWIE WLKP.</li>
        <li>SZKOŁA PODSTAWOWA NR 16 Z ODDZIAŁAMI INTEGRACYJNYMI IM. JÓZEFA PIŁSUDSKIEGO W GORZOWIE WLKP.</li>
        <li>SZKOŁA PODSTAWOWA NR 17 Z ODDZIAŁAMI SPORTOWYMI IM. ADAMA MICKIEWICZA W GORZOWIE WLKP.</li>
        <li>SZKOŁA PODSTAWOWA NR 2 Z ODDZIAŁAMI SPORTOWYMI IM. SZARYCH SZEREGÓW W GORZOWIE WLKP.</li>
        <li>SZKOŁA PODSTAWOWA NR 20 Z ODDZIAŁAMI INTEGRACYJNYMI IM. BOHATERÓW WESTERPLATTE W GORZOWIE WLKP.</li>
        <li>SZKOŁA PODSTAWOWA NR 21 Z ODDZIAŁAMI INTEGRACYJNYMI I Z ODDZIAŁAMI SPORTOWYMI IM.ORLĄT LWOWSKICH W GORZOWIE WLKP.</li>
        <li>SZKOŁA PODSTAWOWA NR 3 MISTRZOSTWA SPORTOWEGO Z ODDZIAŁAMI SPORTOWYMI W GORZOWIE WLKP.</li>
        <li>SZKOŁA PODSTAWOWA NR 4 IM. HENRYKA SIENKIEWICZA W GORZOWIE WLKP.</li>
        <li>SZKOŁA PODSTAWOWA NR 5 IM. BOHATERÓW 12 KOŁOBRZESKIEGO PUŁKU PIECHOTY W GORZOWIE WLKP.</li>
        <li>SZKOŁA PODSTAWOWA NR 6 Z ODDZIAŁAMI SPORTOWYMI IM. WŁADYSŁAWA BRONIEWSKIEGO W GORZOWIE WLKP.</li>
        <li>SZKOŁA PODSTAWOWA NR 7 W GORZOWIE WLKP.</li>
        <li>SZKOŁA PODSTAWOWA NR 9 IM. JANA KOCHANOWSKIEGO W GORZOWIE WLKP.</li>
        <li>SZKOŁA PODSTAWOWA SOWA W GORZOWIE WLKP.</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 14 IM. AMBASADORÓW PRAW CZŁOWIEKA W GORZOWIE WIELKOPOLSKIM W ZESPOLE SZKÓŁ SPECJALNYCH NR 14</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 18 IM. KAROLA WOJTYŁY W GORZOWIE WIELKOPOLSKIM W ZESPOLE KSZTAŁCENIA SPECJALNEGO NR 1</li>
        <li>SZKOŁA POLICEALNA COSINUS W GORZOWIE WIELKOPOLSKIM</li>
        <li>SZKOŁA POLICEALNA NR 1 "MEDYK" W GORZOWIE WIELKOPOLSKIM</li>
        <li>SZKOŁA POLICEALNA OPIEKI MEDYCZNEJ ŻAK W GORZOWIE WIELKOPOLSKIM</li>
        <li>SZKOŁA POLICEALNA PASCAL W GORZOWIE WIELKOPOLSKIM</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY IM. AMBASADORÓW PRAW CZŁOWIEKA W GORZOWIE WIELKOPOLSKIM W ZESPOLE SZKÓŁ SPECJALNYCH NR 14</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY NR 2 W GORZOWIE WIELKOPOLSKIM W ZESPOLE KSZTAŁCENIA SPECJALNEGO NR 1</li>
        <li>TEB EDUKACJA STUDIUM KSZTAŁCENIA PRAKTYCZNEGO</li>
        <li>TECHNIKUM BUDOWLANE I SAMOCHODOWE NR 1 IM. MIKOŁAJA KOPERNIKA W GORZOWIE WIELKOPOLSKIM</li>
        <li>TECHNIKUM MECHANICZNE NR 5 IM. ZESŁAŃCÓW SYBIRU W GORZOWIE WIELKOPOLSKIM</li>
        <li>TECHNIKUM NR 2 W ZESPOLE SZKÓŁ EKONOMICZNYCH IM. STEFANA STARZYŃSKIEGO W GORZOWIE WIELKOPOLSKIM</li>
        <li>TECHNIKUM NR 3 W ZESPOLE SZKÓŁ GASTRONOMICZNYCH IM. FEBRONII GAJEWSKIEJ – KARAMAĆ W GORZOWIE WIELKOPOLSKIM</li>
        <li>TECHNIKUM NR 4 W ZESPOLE SZKÓŁ ODZIEŻOWYCH IM. KRZYSZTOFA KIEŚLOWSKIEGO W GORZOWIE WIELKOPOLSKIM</li>
        <li>TECHNIKUM NR 6 W ZESPOLE SZKÓŁ TECHNICZNYCH I OGÓLNOKSZTAŁCĄCYCH W GORZOWIE WIELKOPOLSKIM</li>
        <li>TECHNIKUM NR 7 IM. MJR. HENRYKA SUCHARSKIEGO W ZESPOLE SZKÓŁ ELEKTRYCZNYCH W GORZOWIE WIELKOPOLSKIM</li>
        <li>TECHNIKUM NR 9 W ZESPOLE SZKÓŁ OGRODNICZYCH GORZOWIE WIELKOPOLSKIM</li>
        <li>TECHNIKUM TEB EDUKACJA W GORZOWIE WIELKOPOLSKIM</li>
        <li>TECHNIKUM USŁUG FRYZJERSKICH WZDZ</li>
        <li>VI LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI SPORTOWYMI W GORZOWIE WIELKOPOLSKIM W ZESPOLE SZKÓŁ TECHNICZNYCH I OGÓLNOKSZTAŁCĄCYCH</li>
        <li>VII LICEUM OGÓLNOKSZTAŁCĄCE MISTRZOSTWA SPORTOWEGO W ZESPOLE SZKÓŁ MISTRZOSTWA SPORTOWEGO W GORZOWIE WIELKOPOLSKIM</li>
        <li>VIII LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI INTEGRACYJNYMI IM. JÓZEFA PIŁSUDSKIEGO W ZESPOLE SZKÓŁ OGÓLNOKSZTAŁCĄCYCH NR 16 W GORZOWIE WIELKOPOLSKIM</li>
        <li>WOJEWÓDZKI OŚRODEK METODYCZNY</li>
        <li>WOJEWÓDZKI OŚRODEK METODYCZNY BIBLIOTEKA PEDAGOGICZNA</li>
        <li>ZAOCZNE LICEUM OGÓLNOKSZTAŁCĄCE COSINUS W GORZOWIE WLKP.</li>
        <li>ZAOCZNE LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH COSINUS PLUS W GORZOWIE WIELKOPOLSKIM</li>
        <li>ZESPÓŁ KSZTAŁCENIA SPECJALNEGO NR 1 IM. KAROLA WOJTYŁY W GORZOWIE WLKP.</li>
        <li>ZESPÓŁ PORADNI PSYCHOLOGICZNO-PEDAGOGICZNYCH W GORZOWIE WLKP.</li>
        <li>ZESPÓŁ SZKÓŁ "PASCAL" W GORZOWIE WIELKOPOLSKIM</li>
        <li>ZESPÓŁ SZKÓŁ EKONOMICZNYCH IM. STEFANA STARZYŃSKIEGO W GORZOWIE WLKP.</li>
        <li>ZESPÓŁ SZKÓŁ ELEKTRYCZNYCH IM. MAJORA HENRYKA SUCHARSKIEGO W GORZOWIE WLKP.</li>
        <li>ZESPÓŁ SZKÓŁ GASTRONOMICZNYCH IM. FEBRONII GAJEWSKIEJ-KARAMAĆ W GORZOWIE WLKP.</li>
        <li>ZESPÓŁ SZKÓŁ MISTRZOSTWA SPORTOWEGO W GORZOWIE WLKP.</li>
        <li>ZESPÓŁ SZKÓŁ ODZIEŻOWYCH IM. KRZYSZTOFA KIEŚLOWSKIEGO W GORZOWIE WLKP.</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH NR 1 W GORZOWIE WLKP.</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH NR 16 W GORZOWIE WLKP.</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH NR 2 W GORZOWIE WLKP.</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH NR 3 W GORZOWIE WLKP.</li>
        <li>ZESPÓŁ SZKÓŁ OGRODNICZYCH W GORZOWIE WLKP.</li>
        <li>ZESPÓŁ SZKÓŁ SPECJALNYCH NR 14 W GORZOWIE WLKP.</li>
        <li>ZESPÓŁ SZKÓŁ TECHNICZNYCH I OGÓLNOKSZTAŁCĄCYCH W GORZOWIE WLKP.</li>

    </ul>
    <a href="LUBUSKIE.html">Back to Cities in LUBUSKIE</a>
</body>
</html>
