
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Ośno Lubuskie</title>
</head>
<body>
    <h1>Schools in Ośno Lubuskie</h1>
    <ul>
        <li>MŁODZIEŻOWY OŚRODEK SOCJOTERAPII W OŚNIE LUBUSKIM</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "AKADEMIA TALENTÓW"</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE PUBLICZNE W OŚNIE LUBUSKIM</li>
        <li>SZKOŁA PODSTAWOWA IM. MARII SKŁODOWSKIEJ-CURIE W OŚNIE LUBUSKIM</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA W MŁODZIEŻOWYM OŚRODKU SOCJOTERAPII W OŚNIE LUBUSKIM</li>
        <li>SZKOLNE SCHRONISKO MŁODZIEŻOWE W OŚNIE LUBUSKIM</li>

    </ul>
    <a href="LUBUSKIE.html">Back to Cities in LUBUSKIE</a>
</body>
</html>
