
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Świdnica</title>
</head>
<body>
    <h1>Schools in Świdnica</h1>
    <ul>
        <li>NIEPUBLICZNE PRZEDSZKOLE "NIBYLANDIA" W ŚWIDNICY</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE PRYMUSKI</li>
        <li>PRZEDSZKOLE PUBLICZNE W ŚWIDNICY</li>
        <li>SZKOŁA PODSTAWOWA IM. JANA PAWŁA II W ŚWIDNICY</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W ŚWIDNICY</li>

    </ul>
    <a href="LUBUSKIE.html">Back to Cities in LUBUSKIE</a>
</body>
</html>
