
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Nowiny Wielkie</title>
</head>
<body>
    <h1>Schools in Nowiny Wielkie</h1>
    <ul>
        <li>PRZEDSZKOLE GMINNE ,,NA ŚRODKU ŚWIATA'' W NOWINACH WIELKICH</li>
        <li>SZKOŁA PODSTAWOWA W NOWINACH WIELKICH</li>
        <li>ZESPÓŁ EDUKACYJNY W NOWINACH WIELKICH</li>

    </ul>
    <a href="LUBUSKIE.html">Back to Cities in LUBUSKIE</a>
</body>
</html>
