
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Nowy Kazanów</title>
</head>
<body>
    <h1>Schools in Nowy Kazanów</h1>
    <ul>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH W KAZANOWIE</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH W KAZANOWIE PRZEDSZKOLE W KAZANOWIE</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH W KAZANOWIE SZKOŁA PODSTAWOWA IM. STEFANA ŻEROMSKIEGO W KAZANOWIE</li>

    </ul>
    <a href="ŚWIĘTOKRZYSKIE.html">Back to Cities in ŚWIĘTOKRZYSKIE</a>
</body>
</html>
