
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Bogoria</title>
</head>
<body>
    <h1>Schools in Bogoria</h1>
    <ul>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. JANA PAWŁA II W BOGORII</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA W BOGORII</li>
        <li>PUBLICZNE PRZEDSZKOLE W BOGORII</li>
        <li>SZKOŁA BRANŻOWA I STOPNIA W ZESPOLE PLACÓWEK OŚWIATOWYCH W BOGORII</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH W BOGORII</li>

    </ul>
    <a href="ŚWIĘTOKRZYSKIE.html">Back to Cities in ŚWIĘTOKRZYSKIE</a>
</body>
</html>
