
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Opatów</title>
</head>
<body>
    <h1>Schools in Opatów</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA IM. PŁK JANA PIWNIKA " PONUREGO W ZESPOLE SZKÓŁ NR 1 W OPATOWIE</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA W OPATOWIE WCHODZĄCA W SKŁAD ZESPOŁU SZKÓŁ NR 1 W OPATOWIE</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO W OPATOWIE ZAKŁADU DOSKONALENIA ZAWODOWEGO W KIELCACH</li>
        <li>DWUJĘZYCZNE PRZEDSZKOLE "HAPPY KIDS"</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W OPATOWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH WCHODZĄCE W SKŁAD ZESPOŁU SZKÓŁ NR 2 W OPATOWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. BARTOSZA GŁOWACKIEGO W OPATOWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. PŁK JANA PIWNIKA "PONUREGO" W ZESPOLE SZKÓŁ NR 1 W OPATOWIE</li>
        <li>NIEPUBLICZNA SZKOŁA MUZYCZNA I ST. IM. IGNACEGO KRZYŻANOWSKIEGO W OPATOWIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE Z ODDZIAŁAMI INTEGRACYJNYMI W OPATOWIE ZAKŁADU DOSKONALENIA ZAWODOWEGO W KIELCACH</li>
        <li>NIEPUBLICZNE TECHNIKUM IM. GEN. WŁADYSŁAWA ANDERSA W OPATOWIE</li>
        <li>PEDAGOGICZNA BIBLIOTEKA WOJEWÓDZKA W KIELCACH FILIA W OPATOWIE</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W OPATOWIE</li>
        <li>PRYWATNA SZKOŁA POLICEALNA W OPATOWIE</li>
        <li>PRYWATNE LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W OPATOWIE</li>
        <li>PRZEDSZKOLE PUBLICZNE W OPATOWIE BAJKOWY ZAKĄTEK</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. GEN. BRYG. STANISŁAWA GANO W OPATOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. PARTYZANTÓW ZIEMI OPATOWSKIEJ W OPATOWIE</li>
        <li>SZKOŁA POLICEALNA WCHODZĄCA W SKŁAD ZESPOŁU SZKÓŁ NR 2 W OPATOWIE</li>
        <li>SZKOLNE SCHRONISKO MŁODZIEŻOWE W OPATOWIE</li>
        <li>TECHNIKUM IM. PŁK JANA PIWNIKA "PONUREGO" W ZESPOLE SZKÓŁ NR 1 W OPATOWIE</li>
        <li>TECHNIKUM W ZESPOLE SZKÓŁ NR 2 W OPATOWIE</li>
        <li>ZESPÓŁ PORADNI PSYCHOLOGICZNO-PEDAGOGICZNYCH W OPATOWIE</li>
        <li>ZESPÓŁ SZKÓŁ NR 1 W OPATOWIE</li>
        <li>ZESPÓŁ SZKÓŁ NR 2 W OPATOWIE</li>

    </ul>
    <a href="ŚWIĘTOKRZYSKIE.html">Back to Cities in ŚWIĘTOKRZYSKIE</a>
</body>
</html>
