
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Krasocin</title>
</head>
<body>
    <h1>Schools in Krasocin</h1>
    <ul>
        <li>SAMORZĄDOWE PRZEDSZKOLE W KRASOCINIE</li>
        <li>SZKOŁA PODSTAWOWA W KRASOCINIE</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH IM. RTM. WITOLDA PILECKIEGO W KRASOCINIE</li>

    </ul>
    <a href="ŚWIĘTOKRZYSKIE.html">Back to Cities in ŚWIĘTOKRZYSKIE</a>
</body>
</html>
