
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Lechówek</title>
</head>
<body>
    <h1>Schools in Lechówek</h1>
    <ul>
        <li>PUNKT PRZEDSZKOLNY W SZKOLE FILIALNEJ SZKOŁY PODSTAWOWEJ IM. BATALIONÓW CHŁOPSKICH W ŁAGOWIE W GMINNYM ZESPOLE SZKÓŁ W ŁAGOWIE Z SIEDZIBĄW LECHÓWKU</li>
        <li>SZKOŁA FILIALNA SZKOŁY PODSTAWOWEJ IM. BATALIONÓW CHŁOPSKICH W ŁAGOWIE W GMINNYM ZESPOLE SZKÓŁ W ŁAGOWIE Z SIEDZIBĄ W LECHÓWKU</li>

    </ul>
    <a href="ŚWIĘTOKRZYSKIE.html">Back to Cities in ŚWIĘTOKRZYSKIE</a>
</body>
</html>
