
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Morawica</title>
</head>
<body>
    <h1>Schools in Morawica</h1>
    <ul>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO W MORAWICY</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO W MORAWICY</li>
        <li>POLICEALNA SZKOŁA MEDYCZNA IM. HANNY CHRZANOWSKIEJ W MORAWICY</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE W MORAWICY</li>
        <li>SZKOŁA PODSTAWOWA IM. K. MAKUSZYŃSKIEGO W MORAWICY</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH W MORAWICY</li>

    </ul>
    <a href="ŚWIĘTOKRZYSKIE.html">Back to Cities in ŚWIĘTOKRZYSKIE</a>
</body>
</html>
