
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Skalbmierz</title>
</head>
<body>
    <h1>Schools in Skalbmierz</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W ZESPOLE SZKÓŁ ZAWODOWYCH W SKALBMIERZU</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA W ZESPOLE SZKÓŁ ZAWODOWYCH W SKALBMIERZU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W ZESPOLE SZKÓŁ ZAWODOWYCH W SKALBMIERZU</li>
        <li>NIEPUBLICZNA SZKOŁA POLICEALNA UL. KANONIJSKA 7, 28-530 SKALBMIERZ</li>
        <li>NIEPUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE SIÓSTR SŁUŻEBNICZEK NMP NP IM. EDMUNDA BOJANOWSKIEGO W SKALBMIERZU</li>
        <li>NIEPUBLICZNE TECHNIKUM W SKALBMIERZU IM. KONSTYTUCJI 3-GO MAJA</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY SKALBMIERSKIE SKRZATY</li>
        <li>NOWE PRZEDSZKOLE INTEGRACYJNE IM. MARII MONTESSORI</li>
        <li>OŚRODEK SZKOLENIOWY ZESPOŁU SZKÓŁ CENTRUM EDUKACJI USTAWICZNEJ W SKALBMIERZU</li>
        <li>PRZEDSZKOLE MIEJSKIE W SKALBMIERZU</li>
        <li>SZKOŁA PODSTAWOWA IM. STANISŁAWA ZE SKALBMIERZA W SKALBMIERZU</li>
        <li>SZKOŁA POLICEALNA W ZESPOLE SZKÓŁ ZAWODOWYCH W SKALBMIERZU</li>
        <li>TECHNIKUM W ZESPOLE SZKÓŁ ZAWODOWYCH W SKALBMIERZU</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH W SKALBMIERZU</li>
        <li>ZESPÓŁ SZKÓŁ CENTRUM EDUKACJI USTAWICZNEJ W SKALBMIERZU</li>
        <li>ZESPÓŁ SZKÓŁ ZAWODOWYCH W SKALBMIERZU</li>

    </ul>
    <a href="ŚWIĘTOKRZYSKIE.html">Back to Cities in ŚWIĘTOKRZYSKIE</a>
</body>
</html>
