
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Nowy Dziebałtów</title>
</head>
<body>
    <h1>Schools in Nowy Dziebałtów</h1>
    <ul>
        <li>MAŁE PRZEDSZKOLE W DZIEBAŁTOWIE</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH W DZIEBAŁOWIE PRZEDSZKOLE W DZIEBAŁTOWIE</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH W DZIEBAŁTOWIE</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH W DZIEBAŁTOWIE SZKOŁA PODSTAWOWA W DZIEBAŁTOWIE</li>

    </ul>
    <a href="ŚWIĘTOKRZYSKIE.html">Back to Cities in ŚWIĘTOKRZYSKIE</a>
</body>
</html>
