
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Świniary Stare</title>
</head>
<body>
    <h1>Schools in Świniary Stare</h1>
    <ul>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA IM. BŁOGOSŁAWIONEGO JANA PAWŁA II W ŚWINIARACH STARYCH</li>
        <li>PUBLICZNE PRZEDSZKOLE W ŚWINIARACH STARYCH</li>
        <li>ZESPÓŁ SZKOŁY I PRZEDSZKOLA W ŚWINIARACH STARYCH</li>

    </ul>
    <a href="ŚWIĘTOKRZYSKIE.html">Back to Cities in ŚWIĘTOKRZYSKIE</a>
</body>
</html>
