
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Cudzynowice</title>
</head>
<body>
    <h1>Schools in Cudzynowice</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA SPECJALNA W SPECJALNYM OŚRODKU SZKOLNO-WYCHOWAWCZYM W CUDZYNOWICACH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W ZESPOLE SZKÓŁ ROLNICZYCH W CUDZYNOWICACH</li>
        <li>OŚRODEK REWALIDACYJNO-WYCHOWAWCZY W CUDZYNOWICACH</li>
        <li>PRZEDSZKOLE SPECJALNE W CUDZYNOWICACH</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY W CUDZYNOWICACH</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA W SPECJALNYM OŚRODKU SZKOLNO-WYCHOWAWCZYM W CUDZYNOWICACH</li>
        <li>SZKOŁA PODSTAWOWA Z ODDZIAŁAMI PRZEDSZKOLNYMI „SZKOŁA TWÓRCZA” O UPRAWNIENIACH SZKOŁY PUBLICZNEJ KSZTAŁCĄCEJ MŁODZIEŻ W CUDZYNOWICACH</li>
        <li>SZKOŁA POLICEALNA W ZESPOLE SZKÓŁ ROLNICZYCH W CUDZYNOWICACH</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W SPECJALNYM OŚRODKU SZKOLNO-WYCHOWAWCZYM W CUDZYNOWICACH</li>
        <li>TECHNIKUM W ZESPOLE SZKÓŁ ROLNICZYCH W CUDZYNOWICACH</li>
        <li>ZESPÓŁ PLACÓWEK SZKOLNO-WYCHOWAWCZO-REWALIDACYJNYCH W CUDZYNOWICACH</li>
        <li>ZESPÓŁ SZKÓŁ ROLNICZYCH W CUDZYNOWICACH</li>

    </ul>
    <a href="ŚWIĘTOKRZYSKIE.html">Back to Cities in ŚWIĘTOKRZYSKIE</a>
</body>
</html>
