
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Niestachów</title>
</head>
<body>
    <h1>Schools in Niestachów</h1>
    <ul>
        <li>PUNKT PRZEDSZKOLNY PRZY SZKOLE PODSTAWOWEJ IM. KORNELA MAKUSZYŃSKIEGO W NIESTACHOWIE</li>
        <li>SZKOŁA PODSTAWOWA IM. KORNELA MAKUSZYŃSKIEGO W NIESTACHOWIE</li>

    </ul>
    <a href="ŚWIĘTOKRZYSKIE.html">Back to Cities in ŚWIĘTOKRZYSKIE</a>
</body>
</html>
