
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Stąporków</title>
</head>
<body>
    <h1>Schools in Stąporków</h1>
    <ul>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W STĄPORKOWIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE „BAJKOWE PRZEDSZKOLE”</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE „SŁONECZKO”</li>
        <li>PRYWATNA SZKOŁA POLICEALNA W STĄPORKOWIE</li>
        <li>PRYWATNE LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W STĄPORKOWIE</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 1 IM. KORNELA MAKUSZYŃSKIEGO W STĄPORKOWIE</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 2 W STĄPORKOWIE</li>
        <li>PUBLICZNE PRZEDSZKOLE W STĄPORKOWIE</li>
        <li>SZKOŁA POLICEALNA W STĄPORKOWIE</li>
        <li>TECHNIKUM W STĄPORKOWIE</li>
        <li>ZESPÓŁ SZKÓŁ PONADPODSTAWOWYCH IM. STANISŁAWA STASZICA W STĄPORKOWIE</li>

    </ul>
    <a href="ŚWIĘTOKRZYSKIE.html">Back to Cities in ŚWIĘTOKRZYSKIE</a>
</body>
</html>
