
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Prząsław</title>
</head>
<body>
    <h1>Schools in Prząsław</h1>
    <ul>
        <li>PRZEDSZKOLE W PRZĄSŁAWIU</li>
        <li>SZKOŁA PODSTAWOWA IM. BŁ. WINCENTEGO KADŁUBKA W PRZĄSŁAWIU</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH W PRZĄSŁAWIU</li>

    </ul>
    <a href="ŚWIĘTOKRZYSKIE.html">Back to Cities in ŚWIĘTOKRZYSKIE</a>
</body>
</html>
