
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Huta Stara</title>
</head>
<body>
    <h1>Schools in Huta Stara</h1>
    <ul>
        <li>PUNKT PRZEDSZKOLNY W ZESPOLE PLACÓWEK OŚWIATOWYCH W HUCIE STAREJ</li>
        <li>SZKOŁA PODSTAWOWA W HUCIE STAREJ</li>
        <li>SZKOLNE SCHRONISKO MŁODZIEŻOWE W HUCIE STAREJ</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH W HUCIE STAREJ</li>

    </ul>
    <a href="ŚWIĘTOKRZYSKIE.html">Back to Cities in ŚWIĘTOKRZYSKIE</a>
</body>
</html>
