
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Stary Garbów</title>
</head>
<body>
    <h1>Schools in Stary Garbów</h1>
    <ul>
        <li>NIEPUBLICZNE PRZEDSZKOLE „JABŁUSZKO” W STARYM GARBOWIE</li>
        <li>SZKOŁA PODSTAWOWA IM. ZAWISZY CZARNEGO HERBU SULIMA W STARYM GARBOWIE</li>

    </ul>
    <a href="ŚWIĘTOKRZYSKIE.html">Back to Cities in ŚWIĘTOKRZYSKIE</a>
</body>
</html>
