
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Chobrzany</title>
</head>
<body>
    <h1>Schools in Chobrzany</h1>
    <ul>
        <li>GMINNE PRZEDSZKOLE W CHOBRZANACH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. STEFANA ŻEROMSKIEGO W CHOBRZANACH</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA IM. STEFANA ŻEROMSKIEGO W CHOBRZANACH</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH W CHOBRZANACH</li>

    </ul>
    <a href="ŚWIĘTOKRZYSKIE.html">Back to Cities in ŚWIĘTOKRZYSKIE</a>
</body>
</html>
