
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Zagnańsk</title>
</head>
<body>
    <h1>Schools in Zagnańsk</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "TULISIOWO NA WESOŁO"</li>
        <li>PRZEDSZKOLE IM. STANISŁAWA STASZICA W ZAGNAŃSKU</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. STANISŁAWA STASZICA W ZAGNAŃSKU</li>
        <li>TECHNIKUM LEŚNE W ZAGNAŃSKU</li>
        <li>ZESPÓŁ SZKÓŁ LEŚNYCH IM.ROMANA GESINGA W ZAGNAŃSKU</li>
        <li>ZESPÓŁ SZKOŁY PODSTAWOWEJ NR 2 I PRZEDSZKOLA W ZAGNAŃSKU</li>

    </ul>
    <a href="ŚWIĘTOKRZYSKIE.html">Back to Cities in ŚWIĘTOKRZYSKIE</a>
</body>
</html>
