
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Bodzentyn</title>
</head>
<body>
    <h1>Schools in Bodzentyn</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W POWIATOWYM ZESPOLE SZKÓŁ W BODZENTYNIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W POWIATOWYM ZESPOLE SZKÓŁ W BODZENTYNIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. JÓZEFA SZERMENTOWSKIEGO W POWIATOWYM ZESPOLE SZKÓŁ W BODZENTYNIE</li>
        <li>POWIATOWA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W BODZENTYNIE</li>
        <li>POWIATOWE SZKOLNE SCHRONISKO MŁODZIEŻOWE W CHĘCINACH FILIA NR 1 W BODZENTYNIE</li>
        <li>POWIATOWY ZESPÓŁ SZKÓŁ W BODZENTYNIE</li>
        <li>SZKOŁA POLICEALNA W POWIATOWYM ZESPOLE SZKÓŁ W BODZENTYNIE</li>
        <li>ZESPÓŁ SZKOLNO - PRZEDSZKOLNY W BODZENTYNIE</li>
        <li>ZESPÓŁ SZKOLNO - PRZEDSZKOLNY W BODZENTYNIE SAMORZĄDOWE PRZEDSZKOLE W BODZENTYNIE</li>
        <li>ZESPÓŁ SZKOLNO - PRZEDSZKOLNY W BODZENTYNIE SZKOŁA PODSTAWOWA W BODZENTYNIE IM. ANTONIEGO WACIŃSKIEGO</li>

    </ul>
    <a href="ŚWIĘTOKRZYSKIE.html">Back to Cities in ŚWIĘTOKRZYSKIE</a>
</body>
</html>
