
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Staszów</title>
</head>
<body>
    <h1>Schools in Staszów</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W ZESPOLE SZKÓŁ EKONOMICZNYCH IM. JANA PAWŁA II W STASZOWIE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA W ZESPOLE SZKÓŁ IM. STANISŁAWA STASZICA W STASZOWIE</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO W STASZOWIE ZDZ W KIELCACH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. KS. KARD. STEFANA WYSZYŃSKIEGO W STASZOWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W ZESPOLE SZKÓŁ IM. STANISŁAWA STASZICA W STASZOWIE</li>
        <li>NIEPUBLICZNA BRANŻOWA SZKOŁA II STOPNIA W STASZOWIE</li>
        <li>NIEPUBLICZNA SZKOŁA MUZYCZNA I ST. IM. STANISŁAWA MONIUSZKI W STASZOWIE</li>
        <li>NIEPUBLICZNA SZKOŁA POLICEALNA W STASZOWIE ZDZ W KIELCACH</li>
        <li>NIEPUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W STASZOWIE ZDZ W KIELCACH</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE INTEGRACYJNE AKADEMIA MALUCHA MONTESSORI W STASZOWIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE SPECJALNE „PROMYK SŁOŃCA” W STASZOWIE</li>
        <li>NIEPUBLICZNY SPECJALNY PUNKT PRZEDSZKOLNY STOWARZYSZENIA POMOCY NIEPEŁNOSPRAWNYM „MY I ŚWIAT”</li>
        <li>OŚRODEK REHABILITACYJNO-EDUKACYJNO-WYCHOWAWCZY W STASZOWIE</li>
        <li>PEDAGOGICZNA BIBLIOTEKA WOJEWÓDZKA W KIELCACH FILIA W STASZOWIE</li>
        <li>PRZEDSZKOLE NR 3 IM. PAPIEŻA JANA PAWŁA II W STASZOWIE</li>
        <li>PRZEDSZKOLE NR 4 IM. TADEUSZA KOŚCIUSZKI W STASZOWIE</li>
        <li>PRZEDSZKOLE NR 8 IM. JANA CHRISTIANA ANDERSENA Z ODDZIAŁAMI INTEGRACYJNYMI W STASZOWIE</li>
        <li>PUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W STASZOWIE</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 1 IM. TADEUSZA KOŚCIUSZKI W STASZOWIE</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 2 IM. IGNACEGO JANA PADEREWSKIEGO W STASZOWIE</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 3 IM. HIERONIMA ŁASKIEGO W STASZOWIE</li>
        <li>TECHNIKUM W ZESPOLE SZKÓŁ EKONOMICZNYCH IM. JANA PAWŁA II W STASZOWIE</li>
        <li>TECHNIKUM W ZESPOLE SZKÓŁ IM. STANISŁAWA STASZICA W STASZOWIE</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH - PUBLICZNA SZKOŁA PODSTAWOWA NR 1 IM. TADEUSZA KOŚCIUSZKI I PRZEDSZKOLE NR 4 IM. TADEUSZA KOŚCIUSZKI W STASZOWIE</li>
        <li>ZESPÓŁ SZKÓŁ EKONOMICZNYCH IM. JANA PAWŁA II W STASZOWIE</li>
        <li>ZESPÓŁ SZKÓŁ IM. STANISŁAWA STASZICA W STASZOWIE</li>

    </ul>
    <a href="ŚWIĘTOKRZYSKIE.html">Back to Cities in ŚWIĘTOKRZYSKIE</a>
</body>
</html>
