
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Zawierzbie</title>
</head>
<body>
    <h1>Schools in Zawierzbie</h1>
    <ul>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY "GALILEO" W ZAWIERZBIU</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA IM. ARMII KRAJOWEJ W ZAWIERZBIU</li>
        <li>PUBLICZNY PUNKT PRZEDSZKOLNY „TĘCZOWE PRZEDSZKOLE” PRZY PUBLICZNEJ SZKOLE PODSTAWOWEJ W ZAWIERZBIU</li>

    </ul>
    <a href="ŚWIĘTOKRZYSKIE.html">Back to Cities in ŚWIĘTOKRZYSKIE</a>
</body>
</html>
