
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Sulejów</title>
</head>
<body>
    <h1>Schools in Sulejów</h1>
    <ul>
        <li>PRZEDSZKOLE SPECJALNE W SULEJOWIE</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY W SULEJOWIE</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA W SULEJOWIE</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W SULEJOWIE</li>

    </ul>
    <a href="ŚWIĘTOKRZYSKIE.html">Back to Cities in ŚWIĘTOKRZYSKIE</a>
</body>
</html>
