
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Wodzisław</title>
</head>
<body>
    <h1>Schools in Wodzisław</h1>
    <ul>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. MARII KONOPNICKIEJ W WODZISŁAWIU</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE W WODZISŁAWIU</li>
        <li>SAMORZĄDOWA SZKOŁA PODSTAWOWA IM. WOJSKA POLSKIEGO W WODZISŁAWIU</li>
        <li>SZKOŁA POLICEALNA W WODZISŁAWIU</li>
        <li>SZKOLNE SCHRONISKO MŁODZIEŻOWE W WODZISŁAWIU</li>
        <li>ZESPÓŁ SZKÓŁ W WODZISŁAWIU</li>

    </ul>
    <a href="ŚWIĘTOKRZYSKIE.html">Back to Cities in ŚWIĘTOKRZYSKIE</a>
</body>
</html>
