
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Raków</title>
</head>
<body>
    <h1>Schools in Raków</h1>
    <ul>
        <li>PRZEDSZKOLE GMINNE W RAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA IM. ŚW JANA PAWŁA II W RAKOWIE</li>
        <li>SZKOŁA PODSTAWOWA W RAKOWIE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W RAKOWIE</li>

    </ul>
    <a href="ŚWIĘTOKRZYSKIE.html">Back to Cities in ŚWIĘTOKRZYSKIE</a>
</body>
</html>
