
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Bliżyn</title>
</head>
<body>
    <h1>Schools in Bliżyn</h1>
    <ul>
        <li>NIEPUBLICZNE PRZEDSZKOLE JĘZYKOWE BEST</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE W BLIŻYNIE</li>
        <li>SZKOŁA PODSTAWOWA IM. GENERAŁA STANISŁAWA MACZKA W BLIŻYNIE</li>

    </ul>
    <a href="ŚWIĘTOKRZYSKIE.html">Back to Cities in ŚWIĘTOKRZYSKIE</a>
</body>
</html>
