
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Niekłań Wielki</title>
</head>
<body>
    <h1>Schools in Niekłań Wielki</h1>
    <ul>
        <li>NIEPUBLICZNE PRZEDSZKOLE „PRZEDSZKOLE SMERF”</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA IM. PPOR. KAROLA NIEDZIELSKIEGO „DOBOSZA” W NIEKŁANIU WIELKIM</li>

    </ul>
    <a href="ŚWIĘTOKRZYSKIE.html">Back to Cities in ŚWIĘTOKRZYSKIE</a>
</body>
</html>
