
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Stara Wieś</title>
</head>
<body>
    <h1>Schools in Stara Wieś</h1>
    <ul>
        <li>ZESPÓŁ SZKÓŁ WE WZDOLE RZĄDOWYM</li>
        <li>ZESPÓŁ SZKÓŁ WE WZDOLE RZĄDOWYM SAMORZĄDOWE PRZEDSZKOLE WE WZDOLE RZĄDOWYM</li>
        <li>ZESPÓŁ SZKÓŁ WE WZDOLE RZĄDOWYM SZKOŁA PODSTAWOWA IM. ODDZIAŁU ARMII KRAJOWEJ „WYBRANIECCY” WE WZDOLE RZĄDOWYM</li>

    </ul>
    <a href="ŚWIĘTOKRZYSKIE.html">Back to Cities in ŚWIĘTOKRZYSKIE</a>
</body>
</html>
