
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Wiązownica Duża</title>
</head>
<body>
    <h1>Schools in Wiązownica Duża</h1>
    <ul>
        <li>PRZEDSZKOLE W WIĄZOWNICY DUŻEJ</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA W WIĄZOWNICY DUŻEJ</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH - PUBLICZNA SZKOŁA PODSTAWOWA I PRZEDSZKOLE W WIĄZOWNICY DUŻEJ</li>

    </ul>
    <a href="ŚWIĘTOKRZYSKIE.html">Back to Cities in ŚWIĘTOKRZYSKIE</a>
</body>
</html>
