
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Małogoszcz</title>
</head>
<body>
    <h1>Schools in Małogoszcz</h1>
    <ul>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W MAŁOGOSZCZU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. BOHATERÓW POWSTANIA STYCZNIOWEGO W MAŁOGOSZCZU</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W MAŁOGOSZCZU</li>
        <li>PRZEDSZKOLE PUBLICZNE W MAŁOGOSZCZU</li>
        <li>SZKOŁA PODSTAWOWA IM. 24 LUTEGO 1863 R. W MAŁOGOSZCZU</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH W MAŁOGOSZCZU</li>

    </ul>
    <a href="ŚWIĘTOKRZYSKIE.html">Back to Cities in ŚWIĘTOKRZYSKIE</a>
</body>
</html>
