
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Ostrowiec Świętokrzyski</title>
</head>
<body>
    <h1>Schools in Ostrowiec Świętokrzyski</h1>
    <ul>
        <li>„ZIELONY KROKODYL” NIEPUBLICZNE PRZEDSZKOLE INTEGRACYJNE</li>
        <li>AKADEMICKA NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W OSTROWCU ŚWIĘTOKRZYSKIM</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 1</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 2</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 3 W OSTROWCU ŚWIĘTOKRZYSKIM</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 4</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 5 W ZAKŁADZIE POPRAWCZYM W OSTROWCU ŚWIĘTOKRZYSKIM</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA SPECJALNA</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA SPECJALNA NR 2 W OSTROWCU ŚWIĘTOKRZYSKIM</li>
        <li>BURSA SZKOLNA W OSTROWCU ŚWIĘTOKRZYSKIM</li>
        <li>CENTRUM DOSKONALENIA KADR OŚWIATOWYCH W OSTROWCU ŚWIĘTOKRZYSKIM</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO W OSTROWCU ŚWIĘTOKRZYSKIM</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO „ OPTIMA”</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO „ PRIMO”</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO „EKSPERT” W OSTROWCU ŚWIĘTOKRZYSKIM</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO BRANŻOWA SZKOŁA II STOPNIA W OSTROWCU ŚWIĘTOKRZYSKIM</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO W OSTROWCU ŚWIĘTOKRZYSKIM</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO W OSTROWCU ŚWIĘTOKRZYSKIM ZAKŁAD DOSKONALENIA ZAWODOWEGO W KIELCACH</li>
        <li>KATOLICKA PUBLICZNA SZKOŁA PODSTAWOWA IM. ŚW. ZYGMUNTA SZCZĘSNEGO FELIŃSKIEGO W OSTROWCU ŚWIĘTOKRZYSKIM</li>
        <li>KATOLICKI ZESPÓŁ EDUKACYJNY W OSTROWCU ŚWIĘTOKRZYSKIM</li>
        <li>KATOLICKIE LICEUM OGÓLNOKSZTAŁCĄCE IM. KS. MARCINA POPIELA W OSTROWCU ŚWIĘTOKRZYSKIM</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH „ŻAK” W OSTROWCU ŚWIĘTOKRZYSKIM</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W OSTROWCU ŚWIĘTOKRZYSKIM</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W OSTROWCU ŚWIĘTOKRZYSKIM</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE MISTRZOSTWA SPORTOWEGO</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE NR I IM. STANISŁAWA STASZICA W OSTROWCU ŚWIĘTOKRZYSKIM</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE NR II DLA DOROSŁYCH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE NR II IM. JOACHIMA CHREPTOWICZA W OSTROWCU ŚWIĘTOKRZYSKIM</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE NR III IM. WŁADYSŁAWA BRONIEWSKIEGO W OSTROWCU ŚWIĘTOKRZYSKIM</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE NR IV IM. CYPRIANA KAMILA NORWIDA W OSTROWCU ŚWIĘTOKRZYSKIM</li>
        <li>MŁODZIEŻOWY OŚRODEK SOCJOTERAPII W OSTROWCU ŚWIĘTOKRZYSKIM</li>
        <li>MŁODZIEŻOWY OŚRODEK WYCHOWAWCZY</li>
        <li>NIEPUBLICZNA BRANŻOWA SZKOŁA I STOPNIA W OSTROWCU ŚWIĘTOKRZYSKIM</li>
        <li>NIEPUBLICZNA BRANŻOWA SZKOŁA II STOPNIA W OSTROWCU ŚWIĘTOKRZYSKIM</li>
        <li>NIEPUBLICZNA MEDYCZNA SZKOŁA POLICEALNA W OSTROWCU ŚWIĘTOKRZYSKIM ZAKŁADU DOSKONALENIA ZAWODOWEGO W KIELCACH</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA KROPKA</li>
        <li>NIEPUBLICZNA SPECJALNA SZKOŁA PODSTAWOWA W OSTROWCU ŚWIĘTOKRZYSKIM</li>
        <li>NIEPUBLICZNA ŚWIĘTOKRZYSKA SZKOŁA MUZYKI ROZRYWKOWEJ I JAZZU II ST. IM. MIRY KUBASIŃSKIEJ W OSTROWCU ŚWIĘTOKRZYSKIM</li>
        <li>NIEPUBLICZNA SZKOŁA MUZYCZNA I I II ST. IM. FRYDERYKA CHOPINA W OSTROWCU ŚWIĘTOKRZYSKIM</li>
        <li>NIEPUBLICZNA SZKOŁA MUZYCZNA I ST. IM. FRYDERYKA CHOPINA W OSTROWCU ŚWIĘTOKRZYSKIM</li>
        <li>NIEPUBLICZNA SZKOŁA MUZYCZNA II ST. IM. FRYDERYKA CHOPINA W OSTROWCU ŚWIĘTOKRZYSKIM</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA „DWUNASTKA” IM. JANA PAWŁA II W OSTROWCU ŚWIĘTOKRZYSKIM</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA IM. STANISŁAWA KONARSKIEGO</li>
        <li>NIEPUBLICZNA SZKOŁA POLICEALNA NR 1 CENTRUM EDUKACJI ZAWODOWEJ W OSTROWCU ŚWIĘTOKRZYSKIM</li>
        <li>NIEPUBLICZNA SZKOŁA POLICEALNA NR 2 CENTRUM EDUKACJI ZAWODOWEJ W OSTROWCU ŚWIĘTOKRZYSKIM</li>
        <li>NIEPUBLICZNA SZKOŁA POLICEALNA W OSTROWCU ŚWIĘTOKRZYSKIM ZAKŁADU DOSKONALENIA ZAWODOWEGO W KIELCACH</li>
        <li>NIEPUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE IM. STANISŁAWA KONARSKIEGO W OSTROWCU ŚWIĘTOKRZYSKIM</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "MAŁY NAUKOWIEC"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE „DWUNASTKA” W OSTROWCU ŚWIĘTOKRZYSKIM</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE „PAJACYK”</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE „SMYK”</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE MONTESSORI "FIRST STEP"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE SPECJALNE „PROMYK”</li>
        <li>NIEPUBLICZNE TECHNIKUM IM. T. KOŚCIUSZKI W OSTROWCU ŚWIĘTOKRZYSKIM ZAKŁADU DOSKONALENIA ZAWODOWEGO W KIELCACH</li>
        <li>NIEPUBLICZNY MŁODZIEŻOWY OŚRODEK SOCJOTERAPII. OSTROWIEC ŚWIĘTOKRZYSKI</li>
        <li>OGNISKO PRACY POZASZKOLNEJ W OSTROWCU ŚWIĘTOKRZYSKIM</li>
        <li>OŚRODEK SZKOLENIA BEZPIECZEŃSTWA I HIGIENY PRACY</li>
        <li>OŚRODEK SZKOLENIOWY CENTRUM NAUKI I BIZNESU „ŻAK” W OSTROWCU ŚWIĘTOKRZYSKIM</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I STOPNIA W OSTROWCU ŚWIĘTOKRZYSKIM</li>
        <li>PEDAGOGICZNA BIBLIOTEKA WOJEWÓDZKA W KIELCACH FILIA W OSTROWCU ŚWIĘTOKRZYSKIM</li>
        <li>POLICEALNE STUDIUM ZAWODOWE CENTRUM KSZTAŁCENIA ZAWODOWEGO EKSPERT</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W OSTROWCU ŚWIĘTOKRZYSKIM</li>
        <li>PRZEDSZKOLE „SŁONECZNY UŚMIECH” W CZĘSTOCICACH</li>
        <li>PRZEDSZKOLE NR 1 SIÓSTR RODZINY MARYI W OSTROWCU ŚWIĘTOKRZYSKIM</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 11 IM. MARII KOWNACKIEJ W OSTROWCU ŚWIĘTOKRZYSKIM</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 12 Z ODDZIAŁAMI INTEGRACYJNYMI IM. M. KONOPNICKIEJ W OSTROWCU ŚWIĘTOKRZYSKIM</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 15 IM. JANINY PORAZIŃSKIEJ W OSTROWCU ŚWIĘTOKRZYSKIM</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 16 „KOLOROWA AKADEMIA” W OSTROWCU ŚWIĘTOKRZYSKIM</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 19 IM. JANA BRZECHWY W OSTROWCU ŚWIĘTOKRZYSKIM</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 21 W OSTROWCU ŚWIĘTOKRZYSKIM</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 5 „WESOŁE KREDKI” W OSTROWCU ŚWIĘTOKRZYSKIM</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 7 W OSTROWCU ŚWIĘTOKRZYSKIM</li>
        <li>PRZEDSZKOLE SOSENKA</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 1 W OSTROWCU ŚWIĘTOKRZYSKIM</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 10 W OSTROWCU ŚWIĘTOKRZYSKIM</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 14 IM. ORLĄT LWOWSKICH W OSTROWCU ŚWIĘTOKRZYSKIM</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 3 IM. BOLESŁAWA CHROBREGO W OSTROWCU ŚWIĘTOKRZYSKIM</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 4 IM. PARTYZANTÓW ZIEMI KIELECKIEJ W OSTROWCU ŚWIĘTOKRZYSKIM</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 5 IM. STEFANA ŻEROMSKIEGO W OSTROWCU ŚWIĘTOKRZYSKIM</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 7 IM. HENRYKA SIENKIEWICZA W OSTROWCU ŚWIĘTOKRZYSKIM</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 9 IM. MARSZAŁKA JÓZEFA PIŁSUDSKIEGO W OSTROWCU ŚWIĘTOKRZYSKIM</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY W OSTROWCU ŚWIĘTOKRZYSKIM</li>
        <li>STUDIUM KSZTAŁCENIA ZAWODOWEGO I JĘZYKÓW OBCYCH</li>
        <li>SZKOŁA PODSTAWOWA MISTRZOSTWA SPORTOWEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 15 W ZAKŁADZIE POPRAWCZYM W OSTROWCU ŚWIĘTOKRZYSKIM</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA „PROMYK”</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 1 W OSTROWCU ŚWIĘTOKRZYSKIM</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 2</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 21</li>
        <li>SZKOŁA PODSTAWOWA W CZĘSTOCICACH IM. KAWALERÓW ORDERU UŚMIECHU</li>
        <li>SZKOŁA POLICEALNA CENTRUM NAUKI I BIZNESU „ŻAK” W OSTROWCU ŚWIĘTOKRZYSKIM</li>
        <li>SZKOŁA POLICEALNA MEDYCZNA „ŻAK” W OSTROWCU ŚWIĘTOKRZYSKIM</li>
        <li>SZKOŁA POLICEALNA OPIEKI MEDYCZNEJ „ŻAK” W OSTROWCU ŚWIĘTOKRZYSKIM</li>
        <li>SZKOŁA POLICEALNA W OSTROWCU ŚWIĘTOKRZYSKIM</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W OSTROWCU ŚWIĘTOKRZYSKIM</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W SPECJALNYM OŚRODKU SZKOLNO-WYCHOWAWCZYM W OSTROWCU ŚWIĘTOKRZYSKIM</li>
        <li>TECHNIKUM NR 1 W OSTROWCU ŚWIĘTOKRZYSKIM</li>
        <li>TECHNIKUM NR 2 W OSTROWCU ŚWIĘTOKRZYSKIM</li>
        <li>TECHNIKUM NR 3 IM. HUTNIKÓW OSTROWIECKICH</li>
        <li>TECHNIKUM NR 4 W OSTROWCU ŚWIĘTOKRZYSKIM</li>
        <li>ZESPÓŁ EDUKACYJNO-PRZEDSZKOLNY SZKOŁA Z PASJĄ IM. ELŻBIETY SOŁTYS W OSTROWCU ŚWIĘTOKRZYSKIM</li>
        <li>ZESPÓŁ EDUKACYJNO-PRZEDSZKOLNY SZKOŁA Z PASJĄ IM. ELŻBIETY SOŁTYS W OSTROWCU ŚWIĘTOKRZYSKIM - NIEPUBLICZNE PRZEDSZKOLE</li>
        <li>ZESPÓŁ EDUKACYJNO-PRZEDSZKOLNY SZKOŁA Z PASJĄ IM. ELŻBIETY SOŁTYS W OSTROWCU ŚWIĘTOKRZYSKIM-NIEPUBLICZNA SZKOŁA PODSTAWOWA</li>
        <li>ZESPÓŁ EDUKACYJNY „DWUNASTKA” W OSTROWCU ŚWIĘTOKRZYSKIM</li>
        <li>ZESPÓŁ PLACÓWEK RESOCJALIZACYJNO-SOCJOTERAPEUTYCZNYCH W OSTROWCU ŚWIĘTOKRZYSKIM</li>
        <li>ZESPÓŁ SZKÓŁ NR 1 IM. MIKOŁAJA KOPERNIKA</li>
        <li>ZESPÓŁ SZKÓŁ NR 2 W OSTROWCU ŚWIĘTOKRZYSKIM</li>
        <li>ZESPÓŁ SZKÓŁ NR 3 W OSTROWCU ŚWIĘTOKRZYSKIM</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH MISTRZOSTWA SPORTOWEGO</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH W OSTROWCU ŚWIĘTOKRZYSKIM</li>
        <li>ZESPÓŁ SZKÓŁ SPECJALNYCH W OSTROWCU ŚWIĘTOKRZYSKIM</li>

    </ul>
    <a href="ŚWIĘTOKRZYSKIE.html">Back to Cities in ŚWIĘTOKRZYSKIE</a>
</body>
</html>
