
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Bolechowice</title>
</head>
<body>
    <h1>Schools in Bolechowice</h1>
    <ul>
        <li>PRZEDSZKOLE SAMORZĄDOWE W BOLECHOWICACH</li>
        <li>SZKOŁA PODSTAWOWA W BOLECHOWICACH</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH IM. PIERWSZEJ KOMPANII KADROWEJ W BOLECHOWICACH</li>

    </ul>
    <a href="ŚWIĘTOKRZYSKIE.html">Back to Cities in ŚWIĘTOKRZYSKIE</a>
</body>
</html>
