
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Nieświń</title>
</head>
<body>
    <h1>Schools in Nieświń</h1>
    <ul>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH W NIEŚWINIU</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH W NIEŚWINIU PRZEDSZKOLE W NIEŚWINIU</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH W NIEŚWINIU SZKOŁA PODSTAWOWA IM. KPR. GABRIELI WOJCIECHOWSKIEJ W NIEŚWINIU</li>

    </ul>
    <a href="ŚWIĘTOKRZYSKIE.html">Back to Cities in ŚWIĘTOKRZYSKIE</a>
</body>
</html>
