
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Działoszyce</title>
</head>
<body>
    <h1>Schools in Działoszyce</h1>
    <ul>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 2 W DZIAŁOSZYCACH</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE W DZIAŁOSZYCACH</li>
        <li>SZKOŁA PODSTAWOWA IM. TADEUSZA KOŚCIUSZKI W DZIAŁOSZYCACH</li>

    </ul>
    <a href="ŚWIĘTOKRZYSKIE.html">Back to Cities in ŚWIĘTOKRZYSKIE</a>
</body>
</html>
