
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Góry Wysokie</title>
</head>
<body>
    <h1>Schools in Góry Wysokie</h1>
    <ul>
        <li>NIEPUBLICZNE PRZEDSZKOLE „SMERF” W GÓRACH WYSOKICH</li>
        <li>SZKOŁA PODSTAWOWA IM. POWSTAŃCÓW STYCZNIOWYCH „PUŁAWIAKÓW” W GÓRACH WYSOKICH</li>

    </ul>
    <a href="ŚWIĘTOKRZYSKIE.html">Back to Cities in ŚWIĘTOKRZYSKIE</a>
</body>
</html>
