
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Klimontów</title>
</head>
<body>
    <h1>Schools in Klimontów</h1>
    <ul>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. ŚW. URSZULI LEDÓCHOWSKIEJ W KLIMONTOWIE</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE W KLIMONTOWIE</li>
        <li>PRZEDSZKOLE SIÓSTR IMIENIA JEZUS</li>
        <li>PRZEDSZKOLE TERAPEUTYCZNE W KLIMONTOWIE PRZY FUNDACJI SZLACHETNE ANIOŁY</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA IM. JERZEGO OSSOLIŃSKIEGO W KLIMONTOWIE</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA W KLIMONTOWIE PRZY FUNDACJI SZLACHETNE ANIOŁY</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W KLIMONTOWIE PRZY FUNDACJI SZLACHETNE ANIOŁY</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH W KLIMONTOWIE</li>

    </ul>
    <a href="ŚWIĘTOKRZYSKIE.html">Back to Cities in ŚWIĘTOKRZYSKIE</a>
</body>
</html>
