
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Końskie</title>
</head>
<body>
    <h1>Schools in Końskie</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 2 IM. GEN. ANTONIEGO PIWOWARCZYKA W KOŃSKICH</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA UNIWEREK W KOŃSKICH</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA "UNIWEREK" W KOŃSKICH</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA IM. GEN. ANTONIEGO PIWOWARCZYKA W KOŃSKICH</li>
        <li>BURSA SZKOLNA W KOŃSKICH</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO W KOŃSKICH ZAKŁADU DOSKONALENIA ZAWODOWEGO W KIELCACH</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE IM. KOMISJI EDUKACJI NARODOWEJ W KOŃSKICH</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI DWUJĘZYCZNYMI IM. MARII SKŁODOWSKIEJ-CURIE W KOŃSKICH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH NOVUM W KOŃSKICH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W CENTRUM KSZTAŁCENIA USTAWICZNEGO „PERFEKT” W KOŃSKICH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W KOŃSKICH</li>
        <li>MEDYCZNA SZKOŁA POLICEALNA W CENTRUM KSZTAŁCENIA USTAWICZNEGO „PERFEKT” W KOŃSKICH</li>
        <li>NIEPUBLICZNA BRANŻOWA SZKOŁA I STOPNIA W KOŃSKICH</li>
        <li>NIEPUBLICZNA BRANŻOWA SZKOŁA II STOPNIA W KOŃSKICH</li>
        <li>NIEPUBLICZNE EKOLOGICZNE PRZEDSZKOLE INTEGRACYJNE NA LEŚNEJ W KOŃSKICH</li>
        <li>NIEPUBLICZNE NAUKOWE PRZEDSZKOLE INTEGRACYJNE „MINI COLLEGE” W KOŃSKICH</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE „MIŚ” W KOŃSKICH</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE „SŁONECZKO” W KOŃSKICH</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE AKADEMIA PRZEDSZKOLAKA W KOŃSKICH</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE BAJKOWA KRAINA Z ODDZIAŁAMI INTEGRACYJNYMI W KOŃSKICH</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE CZARODZIEJSKI MŁYNEK Z ODDZIAŁAMI INTEGRACYJNYMI I SPECJALNYMI W KOŃSKICH</li>
        <li>NIEPUBLICZNE TECHNIKUM ZAWODOWE W KOŃSKICH ZAKŁADU DOSKONALENIA ZAWODOWEGO W KIELCACH</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I STOPNIA W KOŃSKICH</li>
        <li>PEDAGOGICZNA BIBLIOTEKA WOJEWÓDZKA W KIELCACH FILIA W KOŃSKICH</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W KOŃSKICH</li>
        <li>PRYWATNA SZKOŁA PODSTAWOWA W KOŃSKICH</li>
        <li>PRZEDSZKOLE NR 2 W KOŃSKICH</li>
        <li>PRZEDSZKOLE NR 3 W KOŃSKICH</li>
        <li>PRZEDSZKOLE NR 4 W KOŃSKICH</li>
        <li>PRZEDSZKOLE NR 6 W KOŃSKICH</li>
        <li>PUNKT PRZEDSZKOLNY PRZY PRZEDSZKOLU NR 4 W KOŃSKICH</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. EMILII PLATER W KOŃSKICH</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. STANISŁAWA STASZICA W KOŃSKICH</li>
        <li>SZKOŁA POLICEALNA NOVUM W KOŃSKICH</li>
        <li>SZKOŁA POLICEALNA NR 1 IM.ROTMISTRZA WITOLDA PILECKIEGO W KOŃSKICH</li>
        <li>SZKOŁA POLICEALNA NR 3 W KOŃSKICH</li>
        <li>SZKOŁA POLICEALNA W CENTRUM KSZTAŁCENIA USTAWICZNEGO „PERFEKT” W KOŃSKICH</li>
        <li>TECHNIKUM NR 1 IM. ROTMISTRZA WITOLDA PILECKIEGO W KOŃSKICH</li>
        <li>TECHNIKUM NR 3 W KOŃSKICH</li>
        <li>ZESPÓŁ PRZEDSZKOLNY NR 1 W KOŃSKICH</li>
        <li>ZESPÓŁ PRZEDSZKOLNY NR 1 W KOŃSKICH PRZEDSZKOLE NR 1 W KOŃSKICH</li>
        <li>ZESPÓŁ PRZEDSZKOLNY NR 1 W KOŃSKICH PRZEDSZKOLE NR 5 W KOŃSKICH</li>
        <li>ZESPÓŁ SZKÓŁ PONADPODSTAWOWYCH NR 1 W KOŃSKICH</li>
        <li>ZESPÓŁ SZKÓŁ PONADPODSTAWOWYCH NR 2 W KOŃSKICH</li>
        <li>ZESPÓŁ SZKÓŁ PONADPODSTAWOWYCH NR 3 W KOŃSKICH</li>
        <li>ZESPÓŁ SZKÓŁ W KOŃSKICH ZAKŁADU DOSKONALENIA ZAWODOWEGO W KIELCACH</li>

    </ul>
    <a href="ŚWIĘTOKRZYSKIE.html">Back to Cities in ŚWIĘTOKRZYSKIE</a>
</body>
</html>
