
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Kluczewsko</title>
</head>
<body>
    <h1>Schools in Kluczewsko</h1>
    <ul>
        <li>PRZEDSZKOLE W ZESPOLE PRZEDSZKOLNO-SZKOLNYM W KLUCZEWSKU</li>
        <li>SZKOŁA PODSTAWOWA IM. ŚW. JANA PAWŁA II W ZESPOLE PRZEDSZKOLNO-SZKOLNYM W KLUCZEWSKU</li>
        <li>ZESPÓŁ PRZEDSZKOLNO-SZKOLNY W KLUCZEWSKU</li>

    </ul>
    <a href="ŚWIĘTOKRZYSKIE.html">Back to Cities in ŚWIĘTOKRZYSKIE</a>
</body>
</html>
