
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Święta Katarzyna</title>
</head>
<body>
    <h1>Schools in Święta Katarzyna</h1>
    <ul>
        <li>NIEPUBLICZNE SZKOLNE SCHRONISKO MŁODZIEŻOWE W ŚWIĘTEJ KATARZYNIE</li>
        <li>PUNKT PRZEDSZKOLNY W SZKOLE PODSTAWOWEJ IM. POETÓW DOLINY WILKOWSKIEJ W ŚWIĘTEJ KATARZYNIE</li>
        <li>SZKOŁA PODSTAWOWA IM. POETÓW DOLINY WILKOWSKIEJ W ŚWIĘTEJ KATARZYNIE</li>

    </ul>
    <a href="ŚWIĘTOKRZYSKIE.html">Back to Cities in ŚWIĘTOKRZYSKIE</a>
</body>
</html>
