
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Odonów</title>
</head>
<body>
    <h1>Schools in Odonów</h1>
    <ul>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W ZESPOLE SZKÓŁ ZAWODOWYCH W ODONOWIE</li>
        <li>SZKOŁA POLICEALNA W ZESPOLE SZKÓŁ ZAWODOWYCH W ODONOWIE</li>
        <li>TECHNIKUM IM. WŁADYSŁAWA GRABSKIEGO W ZESPOLE SZKÓŁ ZAWODOWYCH W ODONOWIE</li>
        <li>ZESPÓŁ SZKÓŁ ZAWODOWYCH W ODONOWIE</li>

    </ul>
    <a href="ŚWIĘTOKRZYSKIE.html">Back to Cities in ŚWIĘTOKRZYSKIE</a>
</body>
</html>
