
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Starachowice</title>
</head>
<body>
    <h1>Schools in Starachowice</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 1 W STARACHOWICACH</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 2 W STARACHOWICACH</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA SPECJALNA W STARACHOWICACH</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA NR 1 W STARACHOWICACH</li>
        <li>BURSA W STARACHOWICACH</li>
        <li>CENTRUM BEZPIECZEŃSTWA I OCHRONY PRACY W STARACHOWICACH</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO FACTORY TALENT PIOTR NOWACZEK W STARACHOWICACH</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO W STARACHOWICACH</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO W STARACHOWICACH</li>
        <li>DWUJĘZYCZNE NIEPUBLICZNE PRZEDSZKOLE „KREATYWNE NUTKI” Z ODDZIAŁAMI INTEGRACYJNYMI DLA DZIECI Z AUTYZMEM</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE IM. TADEUSZA KOŚCIUSZKI W STARACHOWICACH</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE IM. STANISŁAWA STASZICA W STARACHOWICACH</li>
        <li>III LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI INTEGRACYJNYMI IM. KRZYSZTOFA KAMILA BACZYŃSKIEGO W STARACHOWICACH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH „ŻAK” W STARACHOWICACH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W STARACHOWICACH</li>
        <li>MIĘDZYSZKOLNY OŚRODEK GIMNASTYKI KOREKCYJNEJ I KOMPENSACYJNEJ W STARACHOWICACH</li>
        <li>NIEPUBLICZNA BRANŻOWA SZKOŁA I STOPNIA W STARACHOWICACH</li>
        <li>NIEPUBLICZNA BRANŻOWA SZKOŁA II STOPNIA W STARACHOWICACH</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W STARACHOWICACH</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA IM. JANUSZA KORCZAKA W STARACHOWICACH</li>
        <li>NIEPUBLICZNA SZKOŁA SZKOLENIA OBRONNEGO „ŚWIT” W STARACHOWICACH</li>
        <li>NIEPUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE W STARACHOWICACH ZAKŁADU DOSKONALENIA ZAWODOWEGO W KIELCACH</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE „GUCIO”</li>
        <li>NIEPUBLICZNE TECHNIKUM IM. WOJSKA POLSKIEGO W STARACHOWICACH ZAKŁADU DOSKONALENIA ZAWODOWEGO W KIELCACH</li>
        <li>NIEPUBLICZNY OŚRODEK DOSKONALENIA NAUCZYCIELI "ŚWIĘTOKRZYSKA AKADEMIA NAUKI"</li>
        <li>OŚRODEK RZECZOZNAWSTWA I POSTĘPU TECHNICZNEGO „SIMP-ZORPOT” W STARACHOWICACH</li>
        <li>OŚRODEK SZKOLENIOWY CENTRUM NAUKI I BIZNESU „ŻAK” W STARACHOWICACH</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I STOPNIA IM. FELIKSA RYBICKIEGO W STARACHOWICACH</li>
        <li>PAŃSTWOWE OGNISKO PLASTYCZNE W STARACHOWICACH</li>
        <li>PEDAGOGICZNA BIBLIOTEKA WOJEWÓDZKA W KIELCACH FILIA W STARACHOWICACH</li>
        <li>PLACÓWKA KSZTAŁCENIA USTAWICZNEGO AKADEMIA PRZEDSIĘBIORCZOŚCI W STARACHOWICACH</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W STARACHOWICACH</li>
        <li>PRZEDSZKOLE I ŻŁOBEK „SŁONECZKO” Z ODDZIAŁAMI INTEGRACYJNYMI</li>
        <li>PRZEDSZKOLE JĘZYKOWE „RE-RE-KUM-KUM” Z ODDZIAŁAMI TERAPEUTYCZNYMI DLA DZIECI Z AUTYZMEM</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 10 NIEZAPOMINAJKA W STARACHOWICACH</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 11 Z ODDZIAŁAMI INTEGRACYJNYMI IM. MISIA USZATKA W STARACHOWICACH</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 13 W STARACHOWICACH</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 14 IM. JANA BRZECHWY W STARACHOWICACH</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 15 W STARACHOWICACH</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 2 IM. KUBUSIA PUCHATKA W STARACHOWICACH</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 6 W STARACHOWICACH</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 7 W STARACHOWICACH</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE „AKADEMIA KWADRAT”</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE NORLANDIA</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY W STARACHOWICACH</li>
        <li>SPOŁECZNA SZKOŁA PODSTAWOWA SPOŁECZNEGO TOWARZYSTWA OŚWIATOWEGO W STARACHOWICACH</li>
        <li>SPOŁECZNE LICEUM OGÓLNOKSZTAŁCĄCE SPOŁECZNEGO TOWARZYSTWA OŚWIATOWEGO W STARACHOWICACH</li>
        <li>SPORTOWE LICEUM OGÓLNOKSZTAŁCĄCE W STARACHOWICACH</li>
        <li>SSIL NIEPUBLICZNA BRANŻOWA SZKOŁA I STOPNIA W STARACHOWICACH</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. JANA KOCHANOWSKIEGO W STARACHOWICACH</li>
        <li>SZKOŁA PODSTAWOWA NR 10 Z ODDZIAŁAMI INTEGRACYJNYMI IM. SZARYCH SZEREGÓW W STARACHOWICACH</li>
        <li>SZKOŁA PODSTAWOWA NR 11 IM. MJR JANA PIWNIKA „PONUREGO” W STARACHOWICACH</li>
        <li>SZKOŁA PODSTAWOWA NR 12 IM. MIKOŁAJA KOPERNIKA W STARACHOWICACH</li>
        <li>SZKOŁA PODSTAWOWA NR 13 IM. KORNELA MAKUSZYŃSKIEGO W STARACHOWICACH</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. JANA PAWŁA II W STARACHOWICACH</li>
        <li>SZKOŁA PODSTAWOWA NR 6 IM. OBROŃCÓW WESTERPLATTE W STARACHOWICACH</li>
        <li>SZKOŁA PODSTAWOWA NR 9 IM. PARTYZANTÓW ZIEMI KIELECKIEJ W STARACHOWICACH</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA W STARACHOWICACH</li>
        <li>SZKOŁA POLICEALNA CENTRUM NAUKI I BIZNESU „ŻAK” W STARACHOWICACH</li>
        <li>SZKOŁA POLICEALNA MEDYCZNA „ŻAK” W STARACHOWICACH</li>
        <li>SZKOŁA POLICEALNA MEDYCZNA NR 2 IM. JANUSZA KORCZAKA W STARACHOWICACH</li>
        <li>SZKOŁA POLICEALNA NR 1 W STARACHOWICACH</li>
        <li>SZKOŁA POLICEALNA NR 3 W STARACHOWICACH</li>
        <li>SZKOŁA POLICEALNA OPIEKI MEDYCZNEJ „ŻAK” W STARACHOWICACH</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W STARACHOWICACH</li>
        <li>TECHNIKUM NR 1 W STARACHOWICACH</li>
        <li>TECHNIKUM NR 2 IM. EUGENIUSZA KWIATKOWSKIEGO W STARACHOWICACH</li>
        <li>ZESPÓŁ SZKÓŁ SPOŁECZNYCH SPOŁECZNEGO TOWARZYSTWA OŚWIATOWEGO W STARACHOWICACH</li>
        <li>ZESPÓŁ SZKÓŁ ZAWODOWYCH NR 1 IM. MJR H. DOBRZAŃSKIEGO „HUBALA” W STARACHOWICACH</li>
        <li>ZESPÓŁ SZKÓŁ ZAWODOWYCH NR 2 W STARACHOWICACH</li>
        <li>ZESPÓŁ SZKÓŁ ZAWODOWYCH NR 3 W STARACHOWICACH</li>

    </ul>
    <a href="ŚWIĘTOKRZYSKIE.html">Back to Cities in ŚWIĘTOKRZYSKIE</a>
</body>
</html>
