
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Moskorzew</title>
</head>
<body>
    <h1>Schools in Moskorzew</h1>
    <ul>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA W MOSKORZEWIE</li>
        <li>PUBLICZNE PRZEDSZKOLE SAMORZĄDOWE W MOSKORZEWIE</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH W MOSKORZEWIE</li>

    </ul>
    <a href="ŚWIĘTOKRZYSKIE.html">Back to Cities in ŚWIĘTOKRZYSKIE</a>
</body>
</html>
