
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Odrowąż</title>
</head>
<body>
    <h1>Schools in Odrowąż</h1>
    <ul>
        <li>KATOLICKA SZKOŁA PODSTAWOWA MATKI BOŻEJ WYCHOWAWCZYNI W ODROWĄŻU</li>
        <li>PUNKT PRZEDSZKOLNY PRZY KATOLICKIEJ SZKOLE PODSTAWOWEJ MATKI BOŻEJ WYCHOWAWCZYNI W ODROWĄŻU</li>

    </ul>
    <a href="ŚWIĘTOKRZYSKIE.html">Back to Cities in ŚWIĘTOKRZYSKIE</a>
</body>
</html>
