
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Osiek</title>
</head>
<body>
    <h1>Schools in Osiek</h1>
    <ul>
        <li>ZESPÓŁ SZKÓŁ IM. JANA PAWŁA II W OSIEKU</li>
        <li>ZESPÓŁ SZKÓŁ IM. JANA PAWŁA II W OSIEKU BRANŻOWA SZKOŁA I STOPNIA W OSIEKU</li>
        <li>ZESPÓŁ SZKÓŁ IM. JANA PAWŁA II W OSIEKU LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W OSIEKU</li>
        <li>ZESPÓŁ SZKÓŁ IM. JANA PAWŁA II W OSIEKU LICEUM OGÓLNOKSZTAŁCĄCE W OSIEKU</li>
        <li>ZESPÓŁ SZKÓŁ IM. JANA PAWŁA II W OSIEKU PUBLICZNA SZKOŁA PODSTAWOWA W OSIEKU</li>
        <li>ZESPÓŁ SZKÓŁ IM. JANA PAWŁA II W OSIEKU PUBLICZNE PRZEDSZKOLE W OSIEKU</li>

    </ul>
    <a href="ŚWIĘTOKRZYSKIE.html">Back to Cities in ŚWIĘTOKRZYSKIE</a>
</body>
</html>
