
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Połaniec</title>
</head>
<body>
    <h1>Schools in Połaniec</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W ZESPOLE SZKÓŁ IM. ODDZIAŁU PARTYZANCKIEGO AK „JĘDRUSIE” W POŁAŃCU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W ZESPOLE SZKÓŁ IM. ODDZIAŁU PARTYZANCKIEGO AK „JĘDRUSIE” W POŁAŃCU</li>
        <li>PRZEDSZKOLE PUBLICZNE PRZY UL. MADALIŃSKIEGO 1 W POŁAŃCU</li>
        <li>SZKOŁA PODSTAWOWA IM. TADEUSZA KOŚCIUSZKI W POŁAŃCU</li>
        <li>TECHNIKUM W ZESPOLE SZKÓŁ IM. ODDZIAŁU PARTYZANCKIEGO AK „JĘDRUSIE” W POŁAŃCU</li>
        <li>ZESPÓŁ SZKÓŁ IM. ODDZIAŁU PARTYZANCKIEGO AK „JĘDRUSIE” W POŁAŃCU</li>

    </ul>
    <a href="ŚWIĘTOKRZYSKIE.html">Back to Cities in ŚWIĘTOKRZYSKIE</a>
</body>
</html>
