
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Niemienice</title>
</head>
<body>
    <h1>Schools in Niemienice</h1>
    <ul>
        <li>PRZEDSZKOLE SPECJALNE W NIEMIENICACH</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY - CENTRUM AUTYZMU I CAŁOŚCIOWYCH ZABURZEŃ ROZWOJOWYCH W NIEMIENICACH</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA W NIEMIENICACH</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W NIEMIENICACH</li>

    </ul>
    <a href="ŚWIĘTOKRZYSKIE.html">Back to Cities in ŚWIĘTOKRZYSKIE</a>
</body>
</html>
