
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Słopiec Szlachecki</title>
</head>
<body>
    <h1>Schools in Słopiec Szlachecki</h1>
    <ul>
        <li>PUNKT PRZEDSZKOLNY SZKOŁY PODSTAWOWEJ IM. EDMUNDA NIZIURSKIEGO W SŁOPCU</li>
        <li>SZKOŁA PODSTAWOWA IM. EDMUNDA NIZIURSKIEGO W SŁOPCU</li>

    </ul>
    <a href="ŚWIĘTOKRZYSKIE.html">Back to Cities in ŚWIĘTOKRZYSKIE</a>
</body>
</html>
