
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Łagów</title>
</head>
<body>
    <h1>Schools in Łagów</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W ŁAGOWIE</li>
        <li>GMINNY ZESPÓŁ SZKÓŁ W ŁAGOWIE</li>
        <li>POWIATOWE SZKOLNE SCHRONISKO MŁODZIEŻOWE W CHĘCINACH FILIA NR 2 W ŁAGOWIE</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 1 TĘCZA W ŁAGOWIE</li>
        <li>PUNKT PRZEDSZKOLNY W GMINNYM ZESPOLE SZKÓŁ W ŁAGOWIE</li>
        <li>SZKOŁA PODSTAWOWA IM. BATALIONÓW CHŁOPSKICH W ŁAGOWIE W GMINNYM ZESPOLE SZKÓŁ W ŁAGOWIE</li>

    </ul>
    <a href="ŚWIĘTOKRZYSKIE.html">Back to Cities in ŚWIĘTOKRZYSKIE</a>
</body>
</html>
