
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Mokrsko Dolne</title>
</head>
<body>
    <h1>Schools in Mokrsko Dolne</h1>
    <ul>
        <li>PRZEDSZKOLE SAMORZĄDOWE W MOKRSKU DOLNYM</li>
        <li>SZKOŁA PODSTAWOWA W MOKRSKU DOLNYM</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH W MOKRSKU DOLNYM</li>

    </ul>
    <a href="ŚWIĘTOKRZYSKIE.html">Back to Cities in ŚWIĘTOKRZYSKIE</a>
</body>
</html>
