
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Tuszów Narodowy</title>
</head>
<body>
    <h1>Schools in Tuszów Narodowy</h1>
    <ul>
        <li>PRZEDSZKOLE W TUSZOWIE NARODOWYM</li>
        <li>PUNKT PRZEDSZKOLNYW TUSZOWIE NARODOWYM</li>
        <li>SZKOŁA PODSTAWOWA IM.GEN.W.SIKORSKIEGO W TUSZOWIE NARODOWYM Z FILIĄ W GROCHOWEM</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W TUSZOWIE NARODOWYM</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
