
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Posada Górna</title>
</head>
<body>
    <h1>Schools in Posada Górna</h1>
    <ul>
        <li>ZESPÓŁ SZKÓŁ PUBLICZNYCH SZKOŁA PODSTAWOWA IM. ANNY Z DZIAŁYŃSKICH POTOCKIEJ W POSADZIE GÓRNEJ</li>
        <li>ZESPÓŁ SZKÓŁ PUBLICZNYCH SZKOLNE SZCHRONISKO MŁODZIEŻOWE W POSADZIE GÓRNEJ</li>
        <li>ZESPÓŁ SZKÓŁ PUBLICZNYCH W POSADZIE GÓRNEJ</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
