
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Przysietnica</title>
</head>
<body>
    <h1>Schools in Przysietnica</h1>
    <ul>
        <li>PRZEDSZKOLE SAMORZĄDOWEW PRZYSIETNICY</li>
        <li>SZKOŁA PODSTAWOWA NR 1IM.MARII KONOPNICKIEJW PRZYSIETNICY</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM.KS. PAWŁA KOMBORSKIEGO W PRZYSIETNICY</li>
        <li>ZESPÓŁ SZKÓŁ NR 1W PRZYSIETNICY</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
