
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Sokołów Małopolski</title>
</head>
<body>
    <h1>Schools in Sokołów Małopolski</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W SOKOŁOWIE MŁP.</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. T. KOŚCIUSZKI W SOKOŁOWIE MŁP.</li>
        <li>LOGOPEDYCZNY PUNKT PRZEDSZKOLNY I ŻŁOBEK "SOKOLIK" IWONA DZIAK</li>
        <li>NIEPAŃSTWOWA SZKOŁA MUZYCZNA I ST. W SOKOŁOWIE MAŁOPOLSKIM</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE PN. "OCHRONKA DUCHA ŚWIĘTEGO"</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE W SOKOŁOWIE MAŁOPOLSKIM</li>
        <li>SZKOŁA PODSTAWOWA W SOKOŁOWIE MAŁOPOLSKIM</li>
        <li>SZKOŁA POLICEALNA W SOKOŁOWIE MŁP.</li>
        <li>TECHNIKUM W SOKOŁOWIE MŁP.</li>
        <li>ZESPÓŁ SZKÓŁ IM. JANA PAWŁA II W SOKOŁOWIE MAŁPOLSKIM</li>
        <li>ZESPÓŁ SZKÓŁ W SOKOŁOWIE MŁP.</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
