
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Oleszyce</title>
</head>
<body>
    <h1>Schools in Oleszyce</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W OLESZYCACH</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA W OLESZYCACH</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO W OLESZYCACH</li>
        <li>OŚRODEK REHABILITACYJNO-EDUKACYJNO-WYCHOWAWCZY W OLESZYCACH</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE W OLESZYCACH</li>
        <li>SZKOŁA PODSTAWOWA IM. JANA PAWŁA II W OLESZYCACH</li>
        <li>TECHNIKUM NR 1 W OLESZYCACH</li>
        <li>TECHNIKUM W OLESZYCACH</li>
        <li>ZESPÓŁ SZKÓŁ CENTRUM KSZTAŁCENIA ROLNICZEGO W OLESZYCACH</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
