
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Łętownia</title>
</head>
<body>
    <h1>Schools in Łętownia</h1>
    <ul>
        <li>PRZEDSZKOLE SAMORZĄDOWE W ŁĘTOWNI</li>
        <li>SZKOŁA PODSTAWOWA IM. JANA PAWŁA II W ŁĘTOWNI</li>
        <li>SZKOŁA PODSTAWOWA IM. ŚW. JANA PAWŁA II W ŁĘTOWNI</li>
        <li>ZESPÓŁ SZKOLNO - PRZEDSZKOLNY W ŁĘTOWNI</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
