
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Zagorzyce</title>
</head>
<body>
    <h1>Schools in Zagorzyce</h1>
    <ul>
        <li>PLACÓWKA SZKOLENIOWA RANKALIBER</li>
        <li>SZKOŁA PODSTAWOWA IM. JANA PAWŁA II W ZAGORZYCACH GÓRNYCH</li>
        <li>SZKOŁA PODSTAWOWA IM. WŁADYSŁAWA BRONIEWSKIEGO W ZAGORZYCACH DOLNYCH</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
