
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Chmielów</title>
</head>
<body>
    <h1>Schools in Chmielów</h1>
    <ul>
        <li>NIEPUBLICZNE PRZEDSZKOLE "MALI ODKRYWCY"</li>
        <li>SZKOŁA PODSTAWOWA IM. FABIANA DURY W CHMIELOWIE</li>
        <li>ZESPÓŁ WYCHOWANIA PRZEDSZKOLNEGO W CHMIELOWIE</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
