
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Rudnik nad Sanem</title>
</head>
<body>
    <h1>Schools in Rudnik nad Sanem</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>OCHRONKA ZGROMADZENIA SIÓSTR SŁUŻEBNICZEK BDNP NIEPUBLICZNE PRZEDSZKOLE W RUDNIKU NAD SANEM</li>
        <li>PRZEDSZKOLE MIEJSKIE W RUDNIKU NAD SANEM</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 3 IM.MARII KONOPNICKIEJ W RUDNIKU NAD SANEM</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR1 IM. JANA PAWŁA II W RUDNIKU NAD SANEM</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR2</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY</li>
        <li>SZKOŁA PODSTAWOWA NR 4 SPECJALNA</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY</li>
        <li>TECHNIKUM</li>
        <li>ZESPÓŁ SZKÓŁ IM. GEN. WŁADYSŁAWA SIKORSKIEGO</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
