
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Basznia Dolna</title>
</head>
<body>
    <h1>Schools in Basznia Dolna</h1>
    <ul>
        <li>PUBLICZNE PRZEDSZKOLE W BASZNI DOLNEJ</li>
        <li>SZKOŁA PODSTAWOWA IM. WINCENTEGO WITOSA W BASZNI DOLNEJ</li>
        <li>SZKOLNE SCHRONISKO MŁODZIEŻOWE W BASZNI DOLNEJ</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W BASZNI DOLNEJ</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
