
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Nowy Glinik</title>
</head>
<body>
    <h1>Schools in Nowy Glinik</h1>
    <ul>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA W NOWYM GLINIKU</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "MOTYLKI" W NOWYM GLINIKU</li>
        <li>NIEPUBLICZNY ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W NOWYM GLINIKU</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
