
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Sonina</title>
</head>
<body>
    <h1>Schools in Sonina</h1>
    <ul>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA SPECJALNA Z ODDZIAŁAMI PRZEDSZKOLNYMI NIEBIESKA KRAINA W SONINIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE SPECJALNE NIEBIESKA KRAINA</li>
        <li>PRZEDSZKOLE PUBLICZNE W SONINIE</li>
        <li>SZKOŁA PODSTAWOWA IM. KAPITANA WACŁAWA NYCZA W SONINIE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W SONINIE</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
