
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Czeluśnica</title>
</head>
<body>
    <h1>Schools in Czeluśnica</h1>
    <ul>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA W CZELUŚNICY</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "CALINECZKA" W CZELUŚNICY</li>
        <li>NIEPUBLICZNY ZESPÓŁ SZKOLNO - PRZEDSZKOLNY W CZELUŚNICY</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
