
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Kolbuszowa</title>
</head>
<body>
    <h1>Schools in Kolbuszowa</h1>
    <ul>
        <li>CENTRUM DOSKONALENIA ZAWODOWEGO "SOTER"</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO "WIEDZA" W KOLBUSZOWEJ</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO"OCHRONIARZ" W KOLBUSZOWEJ</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO W KOLBUSZOWEJ</li>
        <li>KOLBUSZOWSKI OŚRODEK KSZTAŁCENIA USTAWICZNEGO</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W KOLBUSZOWEJ</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "SŁONECZNY ZAKĄTEK"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE IM. MARII MONTESSORI</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE JĘZYKOWE "HAPPY KIDS"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE SPECJALNE IM. MARII MONTESSORI</li>
        <li>OŚRODEK SZKOLENIA "FOKUS" STANISŁAW NAGAŚ</li>
        <li>OŚRODEK SZKOLENIA S.C. "AUTO" ZYGMUNT GUL, JANUSZ KSIĄŻEK</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I STOPNIA W KOLBUSZOWEJ</li>
        <li>PEDAGOGICZNA BIBLIOTEKA WOJEWÓDZKA W RZESZOWIE FILIA W KOLBUSZOWEJ</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W KOLBUSZOWEJ</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE P.W. ŚW. JÓZEFA UL. 11 LISTOPADA 6 36- 100 KOLBUSZOWA</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 1 W KOLBUSZOWEJ</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 3 W KOLBUSZOWEJ</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 2 W KOLBUSZOWEJ</li>
        <li>SZKOŁA BRANŻOWA I STOPNIA</li>
        <li>SZKOŁA MISTRZOSTWA SPORTOWEGO W KOLBUSZOWEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. HENRYKA SIENKIEWICZA W KOLBUSZOWEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. KRZYSZTOFA KAMILA BACZYŃSKIEGO W KOLBUSZOWEJ</li>
        <li>TECHNIKUM</li>
        <li>ZESPÓŁ SZKÓŁ TECHNICZNYCH</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
