
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Lipnica Dolna</title>
</head>
<body>
    <h1>Schools in Lipnica Dolna</h1>
    <ul>
        <li>SPOŁECZNA SZKOŁA PODSTAWOWA IM. JANA PAWŁA II W LIPNICY DOLNEJ</li>
        <li>SPOŁECZNE PRZEDSZKOLE W LIPNICY DOLNEJ</li>
        <li>ZESPÓŁ SZKÓŁ SPOŁECZNYCH W LIPNICY DOLNEJ</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
