
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Zaczernie</title>
</head>
<body>
    <h1>Schools in Zaczernie</h1>
    <ul>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO KOKOROE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "U DOMINIKANEK"</li>
        <li>PRZEDSZKOLE PARAFIALNE "U DOMINIKANEK"</li>
        <li>PRZEDSZKOLE W ZACZERNIU</li>
        <li>SZKOŁA PODSTAWOWA W ZACZERNIU</li>
        <li>ZESPÓŁ SZKÓŁ W ZACZERNIU IM. ARMII KRAJOWEJ</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
