
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Sieklówka</title>
</head>
<body>
    <h1>Schools in Sieklówka</h1>
    <ul>
        <li>SPOŁECZNA SZKOŁA PODSTAWOWA W SIEKLÓWCE</li>
        <li>SPOŁECZNE PRZEDSZKOLE W SIEKLÓWCE</li>
        <li>ZESPÓŁ SZKÓŁ SPOŁECZNYCH IM. MARII I LECHA KACZYŃSKICH W SIEKLÓWCE</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
