
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Sieniawa</title>
</head>
<body>
    <h1>Schools in Sieniawa</h1>
    <ul>
        <li>KRAINA MARZEŃ DZIECIĘCYCH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W SIENIAWIE</li>
        <li>MIEJSKIE PRZEDSZKOLE UL. KOŚCIUSZKI 10 SIENIAWA37-530 SIENIAWA</li>
        <li>NIEPAŃSTWOWA SZKOŁA MUZYCZNA I ST. W SIENIAWIE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE PROWADZONE PRZEZ ZGROMADZENIE SIÓSTR SŁUŻEBNICZEK N.M.P. N.P</li>
        <li>SZKOŁA PODSTAWOWA W SIENIAWIE</li>
        <li>SZKOŁA PODSTAWOWA W SIENIAWIE IM. TADEUSZA KOŚCIUSZKI UL. RYNEK 4 37-530 SIENIAWA</li>
        <li>TECHNIKUM W SIENIAWIE</li>
        <li>ZESPÓŁ SZKÓŁ W SIENIAWIE</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
