
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Krasne</title>
</head>
<body>
    <h1>Schools in Krasne</h1>
    <ul>
        <li>GMINNE PRZEDSZKOLE W KRASNEM</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE MUZYCZNE POLSKO ANGIELSKIE MUSIC GARDEN</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE RADOSNE SŁONECZKO MINI</li>
        <li>SZKOŁA PODSTAWOWA IM. MIKOŁAJA KOPERNIKA W KRASNEM</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W KRASNEM</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
