
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Padew Narodowa</title>
</head>
<body>
    <h1>Schools in Padew Narodowa</h1>
    <ul>
        <li>NIEPUBLICZNE PRZEDSZKOLE "PROMYCZEK" W PADWI NARODOWEJ</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE NASZE SMYKI</li>
        <li>SZKOŁA PODSTAWOWA IM.IGNACEGO ŁUKASIEWICZA W PADWI NARODOWEJ</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
