
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Handzlówka</title>
</head>
<body>
    <h1>Schools in Handzlówka</h1>
    <ul>
        <li>PRZEDSZKOLE PUBLICZNE W HANDZLÓWCE</li>
        <li>SZKOŁA PODSTAWOWA IM. KS. WŁADYSŁAWA KRAKOWSKIEGO W HANDZLÓWCE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W HANDZLÓWCE</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
