
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Frysztak</title>
</head>
<body>
    <h1>Schools in Frysztak</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA SPECJALNA WE FRYSZTAKU W SPECJALNYM OŚRODKU SZKOLNO - WYCHOWAWCZYM WE FRYSZTAKU</li>
        <li>PRZEDSZKOLE NR 2 SPECJALNE WE FRYSZTAKU W SPECJALNYM OŚRODKU SZKOLNO - WYCHOWAWCZYM WE FRYSZTAKU</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 1 WE FRYSZTAKU</li>
        <li>SPECJALNY OŚRODEK SZKOLNO - WYCHOWAWCZY WE FRYSZTAKU</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. JÓZEFA WYBICKIEGO WE FRYSZTAKU</li>
        <li>SZKOŁA PODSTAWOWA NR 2 SPECJALNA WE FRYSZTAKU W SPECJALNYM OŚRODKU SZKOLNO - WYCHOWAWCZYM WE FRYSZTAKU</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY WE FRYSZTAKU W SPECJALNYM OŚRODKU SZKOLNO - WYCHOWAWCZYM WE FRYSZTAKU</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
