
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Nowa Wieś</title>
</head>
<body>
    <h1>Schools in Nowa Wieś</h1>
    <ul>
        <li>PRYWATNA SZKOŁA MUZYCZNA I ST. W NOWEJ WSI</li>
        <li>PRZEDSZKOLE W NOWEJ WSI</li>
        <li>SZKOŁA PODSTAWOWA IM. KS. JANA TWARDOWSKIEGO W NOWEJ WSI</li>
        <li>SZKOŁA PODSTAWOWA W NOWEJ WSI</li>
        <li>ZESPÓŁ SZKÓŁ - SZKOŁA W NOWEJ WSI</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
