
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Wydrza</title>
</head>
<body>
    <h1>Schools in Wydrza</h1>
    <ul>
        <li>ZESPÓŁ SZKOŁA PODSTAWOWA I PRZEDSZKOLE W WYDRZY</li>
        <li>ZESPÓŁ SZKOŁA PODSTAWOWA I PRZEDSZKOLE W WYDRZY PRZEDSZKOLE W WYDRZY</li>
        <li>ZESPÓŁ SZKOŁA PODSTAWOWA I PRZEDSZKOLE W WYDRZY SZKOŁA PODSTAWOWA W WYDRZY</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
