
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Ślęzaki</title>
</head>
<body>
    <h1>Schools in Ślęzaki</h1>
    <ul>
        <li>PRZEDSZKOLE PUBLICZNE W ŚLĘZAKACH</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA W ŚLĘZAKACH IM. KARDYNAŁA STEFANA WYSZYŃSKIEGO</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W ŚLĘZAKACH</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
