
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Stara Wieś</title>
</head>
<body>
    <h1>Schools in Stara Wieś</h1>
    <ul>
        <li>PRYWATNA SZKOŁA MUZYCZNA I ST. W STAREJ WSI</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE SŁUGI BOŻEJ LEONII NASTAŁ ZGROMADZENIA SIÓSTR SŁUŻEBNICZEK W STAREJ WSI</li>
        <li>PRZEDSZKOLE SAMORZĄDOWEW STAREJ WSI</li>
        <li>SZKOŁA PODSTAWOWA IM. NAJŚWIĘTSZEGO SERCAJEZUSA W STAREJ WSI</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
