
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Wólka Podleśna</title>
</head>
<body>
    <h1>Schools in Wólka Podleśna</h1>
    <ul>
        <li>PRZEDSZKOLE W WÓLCE PODLEŚNEJ</li>
        <li>SZKOŁA PODSTAWOWA W WÓLCE PODLEŚNEJ IM. ŚWIĘTEJ KRÓLOWEJ JADWIGI</li>
        <li>ZESPÓŁ SZKÓŁ W WÓLCE PODLEŚNEJ</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
