
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Sołonka</title>
</head>
<body>
    <h1>Schools in Sołonka</h1>
    <ul>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA W SOŁONCE</li>
        <li>NIEPUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE W SOŁONCE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE W SOŁONCE</li>
        <li>NIEPUBLICZNY ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W SOŁONCE</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
