
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Łańcut</title>
</head>
<body>
    <h1>Schools in Łańcut</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 1</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 2</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 3 W ŁAŃCUCIE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA SPECJALNA W ŁAŃCUCIE</li>
        <li>BURSA SZKOLNA W ŁAŃCUCIE</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE IM. HENRYKA SIENKIEWICZA W ŁAŃCUCIE</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>III LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH NR 1</li>
        <li>MEDYCZNA SZKOŁA POLICEALNA W ŁAŃCUCIE</li>
        <li>NIEPUBLICZNE INTEGRACYJNE PRZEDSZKOLE I ŻŁOBEK NIBYLANDIA SP. Z O.O</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "SŁONECZNY ZAKĄTEK"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE „JAŚ I MAŁGOSIA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE ARTYSTYCZNO-JĘZYKOWE "BABYLAND"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE ENCEPENCE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE KLEKOTKA</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE SPECJALNE DLA DZIECI NIEPEŁNOSPRAWNYCH I AUTYSTYCZNYCH "NIEBIESKA KRAINA"</li>
        <li>NIEPUBLICZNY MŁODZIEŻOWY OŚRODEK WYCHOWAWCZY W ŁAŃCUCIE</li>
        <li>OGNISKO PRACY POZASZKOLNEJ W ŁAŃCUCIE</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I ST. IM. TEODORA LESZETYCKIEGO W ŁAŃCUCIE</li>
        <li>PEDAGOGICZNA BIBLIOTEKA WOJEWÓDZKA W RZESZOWIE FILIA W ŁAŃCUCIE</li>
        <li>PODKARPACKA AKADEMIA SPORTU</li>
        <li>PODKARPACKIE CENTRUM KSZTAŁCENIA USTAWICZNEGO W ŁAŃCUCIE</li>
        <li>PORADNIA PSYCHOLOGICZNO PEDAGOGICZNA W ŁAŃCUCIE</li>
        <li>POWIATOWE CENTRUM KSZTAŁCENIA ZAWODOWEGO IM. FELICJANA DZIERŻANOWSKIEGO W ŁAŃCUCIE</li>
        <li>PRACOWNIA NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W ŁAŃCUCIE</li>
        <li>PRYWATNE PRZEDSZKOLE TYGRYSEK</li>
        <li>PRZEDSZKOLE ARTYSTYCZNO-JĘZYKOWE NUTKA</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 1 W ŁAŃCUCIE</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 2 W ŁAŃCUCIE</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 3 W ŁAŃCUCIE</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 4 W ŁAŃCUCIE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE SIÓSTR SŁUŻEBNICZEK NMP</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. KARDYNAŁA STEFANA WYSZYŃSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. KS. JANA TWARDOWSKIEGO W ŁAŃCUCIE</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. 10 PUŁKU STRZELCÓW KONNYCH W ŁAŃCUCIE</li>
        <li>SZKOŁA PODSTAWOWA NR 4 IM. JANA PAWŁA II W ŁAŃCUCIE</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA W ŁAŃCUCIE</li>
        <li>SZKOLNE SCHRONISKO MŁODZIEŻOWE W ŁAŃCUCIE</li>
        <li>TECHNIKUM NR 1</li>
        <li>TECHNIKUM NR 2</li>
        <li>TECHNIKUM NR 3 IM. JANA INGLOTA</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH W ŁAŃCUCIE</li>
        <li>ZESPÓŁ SZKÓŁ NR 1 IM. JANUSZA KORCZAKA W ŁAŃCUCIE</li>
        <li>ZESPÓŁ SZKÓŁ NR 2 IM. JANA KOCHANOWSKIEGO W ŁAŃCUCIE</li>
        <li>ZESPÓŁ SZKÓŁ NR 3 IM MIKOŁAJA KOPERNIKA W ŁAŃCUCIE</li>
        <li>ZESPÓŁ SZKÓŁ TECHNICZNYCH W ŁAŃCUCIE</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
