
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Zagórz</title>
</head>
<body>
    <h1>Schools in Zagórz</h1>
    <ul>
        <li>PRZEDSZKOLE NIEPUBLICZNE IM. BŁ. EDMUNDA BOJANOWSKIEGO PROWADZONE PRZEZ ZGROMADZENIE SIÓSTR SŁUŻEBNI</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE W ZAGÓRZU</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. ŚW. KAZIMIERZA W ZAGÓRZU</li>
        <li>SZKOŁA PODSTAWOWA NR 2 W ZAGÓRZU</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W ZAGÓRZU</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
