
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Trzeboś</title>
</head>
<body>
    <h1>Schools in Trzeboś</h1>
    <ul>
        <li>PRZEDSZKOLE SAMORZĄDOWE W TRZEBOSI</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. BŁ. BRONISŁAWA MARKIEWICZA W TRZEBOSI</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. ŚW. STANISŁAWA KOSTKI W TRZEBOSI</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. ŚW. FAUSTYNY KOWALSKIEJ W TRZEBOSI</li>
        <li>ZESPÓŁ SZKÓŁ W TRZEBOSI</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
