
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Rzeszów</title>
</head>
<body>
    <h1>Schools in Rzeszów</h1>
    <ul>
        <li>ACADEMY</li>
        <li>ACADEMY OF NATURAL HEALTH</li>
        <li>AKADEMIA AKTORSKA ARTYSTA KORNEL PIEŃKO</li>
        <li>AKADEMIA BANKÓW SPÓŁDZIELCZYCH FUNDACJI ROZWOJU BANKOWOŚCI SPÓŁDZIELCZEJ</li>
        <li>AKADEMIA DOSKONALENIA NAUCZYCIELI</li>
        <li>AKADEMIA KSZTAŁCENIA ATEK</li>
        <li>AKADEMIA PHP</li>
        <li>AKADEMIA POLSKA</li>
        <li>AKADEMIA ZDROWIA W RZESZOWIE</li>
        <li>BAJKOWE PRZEDSZKOLE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 1</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 11</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 3</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 4</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 5</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 6</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 7</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 8</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 9</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA SPECJALNA NR 2</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA ZAKŁADU DOSKONALENIA ZAWODOWEGO W RZESZOWIE</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA NR 1 W RZESZOWIE</li>
        <li>BRANŻOWA SZKOLA II STOPNIA NR 2 W RZESZOWIE</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA NR 3 W RZESZOWIE</li>
        <li>BURSA STALI RZESZÓW</li>
        <li>CENTRUM DIAGNOZY I TERAPII KRAINA DLA CIEBIE</li>
        <li>CENTRUM DOSKONALENIA NAUCZYCIELI QUATRO</li>
        <li>CENTRUM DOSKONALENIA ZAWODOWEGO</li>
        <li>CENTRUM DOSKONALENIA ZAWODOWEGO - CDZ</li>
        <li>CENTRUM DOSKONALENIA ZAWODOWEGO E-EDUKATOR</li>
        <li>CENTRUM EDUKACJI HOLISTIC</li>
        <li>CENTRUM EDUKACYJNE "PROGRES" W RZESZOWIE</li>
        <li>CENTRUM KSZTAŁCENIA KADR OCG</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO PROGRES W RZESZOWIE</li>
        <li>CENTRUM KURSÓW I SZKOLEŃ ALIX</li>
        <li>CENTRUM PROMOCJI BIZNESU PAWEŁ ZAJĄC</li>
        <li>CENTRUM SZKOLENIA PRACOWNIKÓW OCHRONY P.P.H.U. BEZPOL W RZESZOWIE</li>
        <li>CENTRUM SZKOLENIA PROSPECTUS</li>
        <li>CENTRUM SZTUKI WOKALNEJ W RZESZOWIE</li>
        <li>CENTRUM USŁUG DYDAKTYCZNYCH W RZESZOWIE</li>
        <li>CENTRUM USŁUG DYDAKTYCZNYCH W RZESZOWIE</li>
        <li>CENTRUM USŁUG SZKOLENIOWYCH "CLEVER" W RZESZOWIE</li>
        <li>CENTRUM USŁUG SZKOLENIOWYCH WKK W RZESZOWIE</li>
        <li>CNC MODERN</li>
        <li>COGITO PLACÓWKA KSZTAŁCENIA USTAWICZNEGO W RZESZOWIE</li>
        <li>COSINUS OGÓLNOPOLSKI OŚRODEK SZKOLEŃ I ROZWOJU W RZESZOWIE</li>
        <li>DM SYSTEM</li>
        <li>DWUJĘZYCZNE LICEUM UNIWERSYTECKIE IM. STANISŁAWA BARAŃCZAKA W RZESZOWIE</li>
        <li>EDU CONSULT - CENTRUM USŁUG SZKOLENIOWYCH</li>
        <li>EDU-IT</li>
        <li>EDUADORA</li>
        <li>EUREKA CENTRUM KURSOWE W RZESZOWIE</li>
        <li>EUREKA POLICEALNA SZKOŁA MEDYCZNA</li>
        <li>EUREKA RZESZOWSKA SZKOŁA POLICEALNA W RZESZOWIE</li>
        <li>EUREKA ZESPÓŁ SZKÓŁ</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE IM. KS. STANISŁAWA KONARSKIEGO W RZESZOWIE</li>
        <li>IDEA - NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGIGICZNA W RZESZOWIE</li>
        <li>IDSW</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE IM. PŁK. LEOPOLDA LISA-KULI</li>
        <li>III LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>INSTYTUT ANALIZY RYZYKA</li>
        <li>INSTYTUT BEZPIECZEŃSTWA DANYCH "ERESJOT.PL"</li>
        <li>INSTYTUT DOSKONALENIA KADR I ADMINISTRACJI RAFAŁ KATA</li>
        <li>INSTYTUT KSZTAŁCENIA KADR PRZY AKME CONSULTING W RZESZOWIE</li>
        <li>ISOFT AKADEMIA EDUKACYJNA - PLACÓWKA KSZTAŁCENIA USTAWICZNEGO</li>
        <li>IV LICEUM OGÓLNOKSZTAŁCĄCE IM. MIKOŁAJA KOPERNIKA</li>
        <li>IX LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI DWUJĘZYCZNYMI</li>
        <li>KRAJOWA IZBA KSIĘGOWYCH</li>
        <li>KRAJOWY INSTYTUT MEDYCZNY</li>
        <li>KREATYWNE CENTRUM EDUKACJI</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH "ARCHIMEDES" W RZESZOWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH "ŻAK" W RZESZOWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH ZAKŁADU DOSKONALENIA ZAWODOWEGO W RZESZOWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE MISTRZOSTWA SPORTOWEGO RESOVIA W RZESZOWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE MISTRZOSTWA SPORTOWEGO STAL W RZESZOWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE NR XIV</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE SPECJALNE PRZY SZPITALU WOJEWÓDZKIM NR 2 IM. ŚW. JADWIGI KRÓLOWEJ W RZESZOWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE TEB EDUKACJA DLA DOROSŁYCH W RZESZOWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE TEB EDUKACJA W RZESZOWIE</li>
        <li>LICEUM SZTUK PLASTYCZNYCH</li>
        <li>MARIUSZ STĄCEL EDUKACJA ARTYSTYCZNA W RZESZOWIE</li>
        <li>MEDYCZNA POLICEALNA SZKOŁA ZAWODOWA CENTRUM NAUKI BIZNESU I ADMINISTRACJI "ARCHIMEDES"W RZESZOWIE</li>
        <li>MEDYCZNA SZKOŁA POLICEALNA W RZESZOWIE</li>
        <li>MEDYCZNO-SPOŁECZNE CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO W RZESZOWIE</li>
        <li>MENTOR OŚRODEK SZKOLENIA KADR</li>
        <li>MIĘDZYSZKOLNY OŚRODEK SPORTOWY</li>
        <li>MŁODZIEŻOWY DOM KULTURY</li>
        <li>MŁODZIEŻOWY OŚRODEK SOCJOTERAPII W RZESZOWIE</li>
        <li>MUNDUROWE LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W RZESZOWIE</li>
        <li>NIEPUBLICZNA MEDYCZNA SZKOŁA POLICEALNA W RZESZOWIE</li>
        <li>NIEPUBLICZNA PLACÓWKA DOSKONALENIA NAUCZYCIELI CENTRUM SZKOLENIOWO-DORADCZE HIC ET NUNC</li>
        <li>NIEPUBLICZNA PLACÓWKA DOSKONALENIA NAUCZYCIELI EDU-IT</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO - EKSA RZESZÓW</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO "COACHING SPORT"</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO BWP "DISKRET"</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO CONSULTING-MED JACEK CHMIEL</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO PODKARPACKA AKADEMIA PRZEDSIĘBIORCZOŚCI</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO SZKOLENIA MAZUR W RZESZOWIE</li>
        <li>NIEPUBLICZNA PLACÓWKA OŚWIATOWA AKADEMIA NAUKI RZESZÓW</li>
        <li>NIEPUBLICZNA PLACÓWKA OŚWIATOWO-WYCHOWAWCZA "KLUB JUNIORA" W RZESZOWIE</li>
        <li>NIEPUBLICZNA PLACÓWKA OŚWIATOWO-WYCHOWAWCZA EMOTIKON W RZESZOWIE</li>
        <li>NIEPUBLICZNA PLACÓWKA WYCHOWANIA POZASZKOLNEGO "AKADEMIA EDUKACJI PLATON"</li>
        <li>NIEPUBLICZNA POLICEALNA SZKOŁA MUZYCZNA STUDIUM WOKALNO-AKTORSKIE "ARTYSTA" W RZESZOWIE</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "EDUMED"</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "GADUŁKA" W RZESZOWIE</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "MEDINCUS" W RZESZOWIE</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "PODKARPACIAK"</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "TITUM" W RZESZOWIE</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA BYSTRZAKI W RZESZOWIE</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA HEN</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA MOZAIKA</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA PRZY AKME CONSULTING W RZESZOWIE</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA SOLIS RADIUS W RZESZOWIE</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA ZUZIA W RZESZOWIE</li>
        <li>NIEPUBLICZNA SPECJALISTYCZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "ISTMUS" W RZESZOWIE</li>
        <li>NIEPUBLICZNA SPECJALISTYCZNA PORADNIA WCZESNEGO WSPOMAGANIA ROZWOJU W RZESZOWIE</li>
        <li>NIEPUBLICZNA SPECJALNA SZKOŁA PODSTAWOWA SOLIS RADIUS W RZESZOWIE</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA "KRAINA UŚMIECHU" W RZESZOWIE</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA MONTESSORI W RZESZOWIE</li>
        <li>NIEPUBLICZNA SZKOŁA POLICEALNA TEB EDUKACJA W RZESZOWIE</li>
        <li>NIEPUBLICZNA SZKOŁA POLICEALNA W RZESZOWIE</li>
        <li>NIEPUBLICZNA SZKOŁA ZDROWIA I DESIGNU W RZESZOWIE</li>
        <li>NIEPUBLICZNE "DOMOWE PRZEDSZKOLE"</li>
        <li>NIEPUBLICZNE CENTRUM KSZTAŁCENIA ACCADIA W RZESZOWIE</li>
        <li>NIEPUBLICZNE CENTRUM KSZTAŁCENIA USTAWICZNEGO STOWARZYSZENIA B-4 W RZESZOWIE</li>
        <li>NIEPUBLICZNE CENTRUM KSZTAŁCENIA ZAWODOWEGO AKADEMIA FRYZJERSTWA</li>
        <li>NIEPUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE MISTRZOSTWA SPORTOWEGO W RZESZOWIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "AKADEMIA PRZEDSZKOLAKA MONTESSORI" W RZESZOWIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "BAJKOWA PRZYGODA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "BAJKOWY ZAKĄTEK"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "CHATKA PUCHATKA" W RZESZOWIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "GUMISIOWA DOLINA" W RZESZOWIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "KAJTEK"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "KRAINA SZCZĘŚCIA" W RZESZOWIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "MAŁY MEDYK" W RZESZOWIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "PINOKIO" W RZESZOWIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "RADOSNE SŁONECZKO" W RZESZOWIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "SZCZĘŚLIWE SMYKI" W RZESZOWIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "TYGRYSEK" W RZESZOWIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "WESOŁE PRZEDSZKOLAKI ZE SŁOCINY" W RZESZOWIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "WESOŁE PRZEDSZKOLAKI" W RZESZOWIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE AKADEMIA ENTLICZEK PENTLICZEK W RZESZOWIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE AKADEMIA MAŁEGO INŻYNIERA W RZESZOWIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE ANGLOJĘZYCZNE ABC UNIVERSITY W RZESZOWIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE FRANCUSKIE "MAŁY AMBASADOR"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE INTEGRACYJNE "KOLOROWY PARASOL"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE INTEGRACYJNE MAGICZNY ŚWIAT DZIECKA W RZESZOWIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE KRAINA ODKRYWCY 2 W RZESZOWIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE KREATYWNE KIDSY</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE KREATYWNE KIDSY II</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE M. MONTESSORI "RADOSNA BUZIA" W RZESZOWIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE MADAGASKAR W RZESZOWIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE MALINOWA ŻYRAFA</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE MUZYCZNE POLSKO-ANGIELSKIE "MUSIC GARDEN" W RZESZOWIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE NIEBIESKI MOTYLEK</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE PRZYSTAŃ MALUCHA</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE SPECJALNE "BŁĘKITNY PARASOL"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE SPECJALNE "NIEZAPOMINAJKA" POLSKIEGO STOWARZYSZENIA NA RZECZ OSÓB Z NIEPEŁNOSPRAWNOŚCIĄ INTELEKTUALNĄ KOŁO W RZESZOWIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE SPECJALNE SOLIS RADIUS W RZESZOWIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE ŚWIĘTEJ RODZINY Z NAZARETU</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE TERAPEUTYCZNE - "SELFIKI"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE TERAPEUTYCZNE HEN</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE TERAPEUTYCZNE ZUZIA W RZESZOWIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE WESOŁE SMYKI W RZESZOWIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE ZGROMADZENIA SIÓSTR SŁUŻEBNICZEK NMP NP IM. M. SYLWII SZNAJDER</li>
        <li>NIEPUBLICZNY INTEGRACYJNO-TERAPEUTYCZNY PUNKT PRZEDSZKOLNY "KREATYWNE DZIECI" W RZESZOWIE</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY MONTESSORI "ROZKWIT"</li>
        <li>NIEPUBLICZNY ZESPÓŁ SZKÓŁ W RZESZOWIE</li>
        <li>NZS OŚRODEK KSZTAŁCENIA POZASZKOLNEGO W RZESZOWIE</li>
        <li>NZS POLICEALNE STUDIUM ZAWODOWE W RZESZOWIE</li>
        <li>OGÓLNOKSZTAŁCĄCA SZKOŁA MUZYCZNA I STOPNIA</li>
        <li>OGÓLNOKSZTAŁCĄCA SZKOŁA MUZYCZNA I STOPNIA</li>
        <li>OGÓLNOKSZTAŁCĄCA SZKOŁA MUZYCZNA II STOPNIA</li>
        <li>OŚRODEK DOSKONALENIA KADR I RZECZOZNAWSTWA SIMP W RZESZOWIE</li>
        <li>OŚRODEK EDUKACJI NAUCZYCIELI INSTYTUTU TEOLOGICZNEGO-PASTORALNEGO IM. ŚW. JÓZEFA SEBASTIANA PELCZARA W RZESZOWIE</li>
        <li>OŚRODEK KSZTAŁCENIA ACADEMY</li>
        <li>OŚRODEK REHABILITACYJNO-EDUKACYJNO-WYCHOWAWCZY</li>
        <li>OŚRODEK REWALIDACYJNO-EDUKACYJNO-WYCHOWAWCZY "PARASOL"</li>
        <li>OŚRODEK REWALIDACYJNO-EDUKACYJNO-WYCHOWAWCZY INA</li>
        <li>OŚRODEK REWALIDACYJNO-WYCHOWAWCZY W RZESZOWIE</li>
        <li>OŚRODEK SZKOLENIA "CARIM"</li>
        <li>OŚRODEK SZKOLENIA I USŁUG ZAWODOWYCH W RZESZOWIE</li>
        <li>OŚRODEK SZKOLENIA SPAWACZY W RZESZOWIE</li>
        <li>OŚRODEK SZKOLENIOWO-KURSOWY "EDU-PERFECT" W RZESZOWIE</li>
        <li>OŚRODEK SZKOLENIOWO-KURSOWY EURO-PERFECT W RZESZOWIE</li>
        <li>OŚRODEK SZKOLENIOWY CENTRUM NAUKI I BIZNESU ŻAK W RZESZOWIE</li>
        <li>OŚRODEK SZKOLENIOWY ZETO-RZESZÓW</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I STOPNIA IM. FRYDERYKA CHOPINA</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA II STPONIA</li>
        <li>PARAFIALNE PRZEDSZKOLE NIEPUBLICZNE IM. ŚW. ROCHA W RZESZOWIE</li>
        <li>PEDAGOGICZNA BIBLIOTEKA WOJEWÓDZKA W RZESZOWIE</li>
        <li>PODKARPACKI OŚRODEK SZKOLENIOWO-DORADCZY W RZESZOWIE</li>
        <li>PODKARPACKI ZESPÓŁ NIEPAŃSTWOWYCH SZKÓŁ MUZYCZNYCH W RZESZOWIE</li>
        <li>PODKARPACKI ZESPÓŁ PLACÓWEK WOJEWÓDZKICH W RZESZOWIE</li>
        <li>PODKARPACKIE CENTRUM EDUKACJI NAUCZYCIELI W RZESZOWIE</li>
        <li>PODKARPACKIE CENTRUM KSZTAŁCENIA USTAWICZNEGO W RZESZOWIE</li>
        <li>PODKARPACKIE CENTRUM USŁUG DYDAKTYCZNYCH</li>
        <li>POLICEALNA SZKOŁA "COSINUS I" W RZESZOWIE</li>
        <li>POLICEALNA SZKOŁA EDUKACJI EUROPEJSKIEJ W RZESZOWIE</li>
        <li>POLICEALNA SZKOŁA PLASTYCZNA W RZESZOWIE</li>
        <li>POLICEALNA SZKOŁA ZAWODOWA CENTRUM NAUKI BIZNESU I ADMINISTRACJI W RZESZOWIE</li>
        <li>POLICEALNE STUDIUM ZAKŁADU DOSKONALENIA ZAWODOWEGO W RZESZOWIE</li>
        <li>POLSKA AKADEMIA KULTURY I SPORTU</li>
        <li>POLSKI INSTYTUT DIETETYKI</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "AKADEMIA RELACJI"</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA NR 1 W RZESZOWIE</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA NR 2</li>
        <li>PRYWATNE PRZEDSZKOLE "MIŚ"</li>
        <li>PRYWATNE PRZEDSZKOLE AKADEMIA MAŁYCH ODKRYWCÓW</li>
        <li>PRYWATNE PRZEDSZKOLE ZACZAROWANY OGRÓD</li>
        <li>PRZEDSIĘBIORCZA AKADEMIA</li>
        <li>PRZEDSZKOLE "PAŁACYK MALUCHA"</li>
        <li>PRZEDSZKOLE ANGLOJĘZYCZNE PROMAR</li>
        <li>PRZEDSZKOLE LOGOPEDYCZNE "GADUŁKA"</li>
        <li>PRZEDSZKOLE MALUSZKOWO 2</li>
        <li>PRZEDSZKOLE MALUSZKOWO 3 W RZESZOWIE</li>
        <li>PRZEDSZKOLE MALUSZKOWO W RZESZOWIE</li>
        <li>PRZEDSZKOLE MONTESSORI TUPTUŚ W RZESZOWIE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "JAGÓDKOWO"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "KRAINA UŚMIECHU" W RZESZOWIE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "KRÓL MACIUŚ" W RZESZOWIE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "MAGICZNY ŚWIAT MALUCHA" W RZESZOWIE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "PRZYJACIELE Z PODWÓRKA" W RZESZOWIE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "WYSPA SKARBÓW"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE AKADEMIA DZIECKA</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 1</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 10</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 11</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 12</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 13</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 14</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 15</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 16</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 17</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 18</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 19</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 2</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 20</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 21</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 23</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 24</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 25</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 26</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 27</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 28</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 29</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 3</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 31 W RZESZOWIE</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 32</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 33 W RZESZOWIE</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 34</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 35</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 36</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 37</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 39 W RZESZOWIE</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 4</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 40</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 41</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 42</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 43</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 44</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 45 W RZESZOWIE</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 46</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 5</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 6</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 7 IM. WANDY CHOTOMSKIEJ</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 8</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 9</li>
        <li>PRZEDSZKOLE PUBLICZNE SIÓSTR SERAFITEK Z ODDZIAŁAMI INTEGRACYJNYMI W RZESZOWIE</li>
        <li>PRZEDSZKOLE PUBLICZNE ŚWIĘTEGO JÓZEFA ZGROMADZENIA SIÓSTR SŁUŻEBNICZEK NMP NP W RZESZOWIE</li>
        <li>PRZEDSZKOLE PUBLICZNE ŚWIĘTEJ RODZINY PRZY PARAFII ŚW. JUDY TADEUSZA W RZESZOWIE</li>
        <li>PRZEDSZKOLE PUBLICZNE ZGROMADZENIA SIÓSTR FRANCISZKANEK RODZINY MARYI IM. ŚW. ZYGMUNTA SZCZĘSNEGO FELIŃSKIEGO</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA IM. PAULI MONTAL SIÓSTR PIJAREK</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA IM. ŚW. JANA PAWŁA II SIÓSTR PREZENTEK W RZESZOWIE</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA SIÓSTR NAZARETANEK W RZESZOWIE IM. SIÓSTR MĘCZENNIC Z NOWOGRÓDKA</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA ZAKONU PIJARÓW IM. ŚW. JÓZEFA KALASANCJUSZA W RZESZOWIE</li>
        <li>PUBLICZNE AKADEMICKIE LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI DWUJĘZYCZNYMI W RZESZOWIE</li>
        <li>PUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE IM. JANA PAWŁA II SIÓSTR PREZENTEK</li>
        <li>PUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE IM. PAULI MONTAL SIÓSTR PIJAREK W RZESZOWIE</li>
        <li>PUBLICZNE PRZEDSZKOLE "LUCKY KIDS"</li>
        <li>PUBLICZNE PRZEDSZKOLE AKADEMIA MAŁEGO INŻYNIERA W RZESZOWIE</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 22</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 38</li>
        <li>PUNKT PRZEDSZKOLNY "TITUM"</li>
        <li>ROPE SYSTEM PLACÓWKA KSZTAŁCENIA USTAWICZNEGO</li>
        <li>RZESZOWSKA BURSA SZKOLNA</li>
        <li>S. P. "OŚWIATA" W RZESZOWIE</li>
        <li>SCHRONISKO MŁODZIEŻOWE POLSKIEGO TOWARZYSTWA SCHRONISK MŁODZIEŻOWYCH W RZESZOWIE</li>
        <li>SEKA S.A. ODDZIAŁ W RZESZOWIE NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO</li>
        <li>SELENBIT</li>
        <li>SELENBIT 1</li>
        <li>SPECJALNE PRZEDSZKOLE PUBLICZNE NR 30 W RZESZOWIE</li>
        <li>SPOŁECZNA SZKOŁA PODSTAWOWA NR 1 IM. KS JANA TWARDOWSKIEGO W RZESZOWIE</li>
        <li>SPOŁECZNA SZKOŁA PODSTAWOWA NR 2 W RZESZOWIE</li>
        <li>SPOŁECZNE LICEUM OGÓLNOKSZTAŁCĄCE W RZESZOWIE</li>
        <li>STOWARZYSZENIE KSIĘGOWYCH W POLSCE NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO ODDZIAŁU PODKARPACKIEGO W RZESZOWIE</li>
        <li>SZKOŁA MUZYCZNA II STOPNIA</li>
        <li>SZKOŁA PODSTAWOWA DLA DOROSŁYCH</li>
        <li>SZKOŁA PODSTAWOWA MISTRZOSTWA SPORTOWEGO RESOVIA W RZESZOWIE</li>
        <li>SZKOŁA PODSTAWOWA MISTRZOSTWA SPORTOWEGO STAL W RZESZOWIE</li>
        <li>SZKOŁA PODSTAWOWA MISTRZOSTWA SPORTOWEGO W RZESZOWIE</li>
        <li>SZKOŁA PODSTAWOWA MONTESSORI IM. PILOTA PIRXA</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. ADAMA MICKIEWICZA W RZESZOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 10 Z ODDZIAŁAMI DWUJĘZYCZNYMI W RZESZOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 11 IM. GEN. STANISŁAWA MACZKA</li>
        <li>SZKOŁA PODSTAWOWA NR 12 IM. JULIANA PRZYBOSIA</li>
        <li>SZKOŁA PODSTAWOWA NR 13 IM. ŚW. JANA KANTEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 14 IM. ORLĄT LWOWSKICH</li>
        <li>SZKOŁA PODSTAWOWA NR 15</li>
        <li>SZKOŁA PODSTAWOWA NR 16</li>
        <li>SZKOŁA PODSTAWOWA NR 17 Z ODDZIAŁAMI INTEGRACYJNYMI IM. 21 BRYGADY STRZELCÓW PODHALAŃSKICH</li>
        <li>SZKOŁA PODSTAWOWA NR 18 Z ODDZIAŁAMI DWUJĘZYCZNYMI W RZESZOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 19 IM. KS. PIOTRA SKARGI</li>
        <li>SZKOŁA PODSTAWOWA NR 2</li>
        <li>SZKOŁA PODSTAWOWA NR 21 Z ODDZIAŁAMI DWUJĘZYCZNYMI IM. ARMII KRAJOWEJ W RZESZOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 22 Z ODDZIAŁMI INTEGRACYJNYMI IM. JAROSŁAWA IWASZKIEWICZA W RZESZOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 23 IM. JANA PAWŁA II</li>
        <li>SZKOŁA PODSTAWOWA NR 24 IM. RUDOLFA AURIGI</li>
        <li>SZKOŁA PODSTAWOWA NR 25 IM. PRYMASA TYSIĄCLECIA</li>
        <li>SZKOŁA PODSTAWOWA NR 26</li>
        <li>SZKOŁA PODSTAWOWA NR 27 IM. IGNACEGO JANA PADEREWSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 28 Z ODDZIAŁAMI DWUJĘZYCZNYMI IM. PŁK. ŁUKASZA CIEPLIŃSKIEGO W RZESZOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 29 IM. TADEUSZA KOŚCIUSZKI</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. HENRYKA SIENKIEWICZA</li>
        <li>SZKOŁA PODSTAWOWA NR 30 Z ODDZIAŁAMI INTEGRACYJNYMI IM. KRÓLA JANA III SOBIESKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 31 IM. KAZIMIERZA PUŁASKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 34 IM. KRÓLA KAZIMIERZA WIELKIEGO W RZESZOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 35 W RZESZOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 36 IM.MARII GRZEGORZEWSKIEJ PRZY SZPITALU WOJEWÓDZKIM NR 2 IM. ŚW. JADWIGI KRÓLOWEJ W RZESZOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 37 W RZESZOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 4 IM. JANA III SOBIESKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 5 IM. BOHATERÓW 27 PUŁKU PIECHOTY W RZESZOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 6</li>
        <li>SZKOŁA PODSTAWOWA NR 7</li>
        <li>SZKOŁA PODSTAWOWA NR 8</li>
        <li>SZKOŁA PODSTAWOWA NR 9</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 20</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 32 W RZESZOWIE</li>
        <li>SZKOŁA PODSTAWOWA SPORTOWA NR 33</li>
        <li>SZKOŁA PODSTAWOWA Z ODDZIAŁAMI DWUJĘZYCZNYMI PROMAR W RZESZOWIE</li>
        <li>SZKOŁA POLICEALNA "SMART & BEAUTY" W RZESZOWIE</li>
        <li>SZKOŁA POLICEALNA CENTRUM NAUKI I BIZNESU "ŻAK" W RZESZOWIE</li>
        <li>SZKOŁA POLICEALNA DLA DOROSŁYCH</li>
        <li>SZKOŁA POLICEALNA MEDYCZNA "ŻAK" W RZESZOWIE</li>
        <li>SZKOŁA POLICEALNA MEDYCZNA NSB W RZESZOWIE</li>
        <li>SZKOŁA POLICEALNA NR 11</li>
        <li>SZKOŁA POLICEALNA NR 4 W RZESZOWIE</li>
        <li>SZKOŁA POLICEALNA NR 5</li>
        <li>SZKOŁA POLICEALNA NR 7</li>
        <li>SZKOŁA POLICEALNA OPIEKI MEDYCZNEJ "ŻAK" W RZESZOWIE</li>
        <li>SZKOŁA POLICEALNA WIZAŻU I STYLIZACJI W RZESZOWIE</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY</li>
        <li>TEB EDUKACJA STUDIUM KSZTAŁCENIA PRAKTYCZNEGO W RZESZOWIE</li>
        <li>TECHNIKUM NR 1</li>
        <li>TECHNIKUM NR 10</li>
        <li>TECHNIKUM NR 11</li>
        <li>TECHNIKUM NR 12</li>
        <li>TECHNIKUM NR 13</li>
        <li>TECHNIKUM NR 2</li>
        <li>TECHNIKUM NR 4</li>
        <li>TECHNIKUM NR 5</li>
        <li>TECHNIKUM NR 6</li>
        <li>TECHNIKUM NR 7</li>
        <li>TECHNIKUM NR 8</li>
        <li>TECHNIKUM NR 9</li>
        <li>TECHNIKUM TEB EDUKACJA W RZESZOWIE</li>
        <li>TECHNIKUM ZAKŁADU DOSKONALENIA ZAWODOWEGO W RZESZOWIE</li>
        <li>V LICEUM OGÓLNOKSZTAŁCĄCE IM. KRZYSZTOFA KAMILA BACZYŃSKIEGO SZKOŁA MISTRZOSTWA SPORTOWEGO</li>
        <li>VI LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>VII LICEUM OGÓLNOKSZTAŁCACE</li>
        <li>VIII LICEUM OGÓLNOKSZTAŁCĄCE IM. STANISŁAWA WYSPIAŃSKIEGO</li>
        <li>WARSZTATY MIKSOLOGII-PROFESJONALNE SZKOLENIA GASTRONOMICZNE</li>
        <li>X LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>XI LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>XII LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI INTEGRACYJNYMI</li>
        <li>ZAKŁAD DOSKONALENIA ZAWODOWEGO W RZESZOWIE OŚRODEK KSZTAŁCENIA ZAWODOWEGO W RZESZOWIE</li>
        <li>ZAOCZNE LICEUM OGÓLNOKSZTAŁCĄCE "COSINUS" W RZESZOWIE</li>
        <li>ZESPÓŁ PRZEDSZKOLNY KREATYWNE KIDSY</li>
        <li>ZESPÓŁ SZKÓŁ AGROPRZEDSIĘBIORCZOŚCI IM. MIKOŁAJA KOPERNIKA</li>
        <li>ZESPÓŁ SZKÓŁ EKONOMICZNYCH</li>
        <li>ZESPÓŁ SZKÓŁ ELEKTRONICZNYCH</li>
        <li>ZESPÓŁ SZKÓŁ ENERGETYCZNYCH IM. GEN. WŁADYSŁAWA SIKORSKIEGO</li>
        <li>ZESPÓŁ SZKÓŁ GOSPODARCZYCH IM. MIKOŁAJA SPYTKA LIGĘZY</li>
        <li>ZESPÓŁ SZKÓŁ KSZTAŁCENIA USTAWICZNEGO</li>
        <li>ZESPÓŁ SZKÓŁ MECHANICZNYCH IM. GEN. WŁADYSŁAWA ANDERSA</li>
        <li>ZESPÓŁ SZKÓŁ MISTRZOSTWA SPORTOWEGO STAL W RZESZOWIE</li>
        <li>ZESPÓŁ SZKÓŁ MISTRZOSTWA SPORTOWEGO W RZESZOWIE</li>
        <li>ZESPÓŁ SZKÓŁ MUZYCZNYCH NR 1 IM. KAROLA SZYMANOWSKIEGO</li>
        <li>ZESPÓŁ SZKÓŁ MUZYCZNYCH NR 2 IM. WOJCIECHA KILARA</li>
        <li>ZESPÓŁ SZKÓŁ NR 1 IM. AMBROŻEGO TOWARNICKIEGO</li>
        <li>ZESPÓŁ SZKÓŁ NR 2 IM. TADEUSZA REJTANA</li>
        <li>ZESPÓŁ SZKÓŁ NR 3 IM. TADEUSZA RYLSKIEGO W RZESZOWIE</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH IM. JANA PAWŁA II SIÓSTR PREZENTEK W RZESZOWIE</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH NR 4</li>
        <li>ZESPÓŁ SZKÓŁ PLASTYCZNYCH IM. PIOTRA MICHAŁOWSKIEGO</li>
        <li>ZESPÓŁ SZKÓŁ PRZY KLINICZNYM SZPITALU WOJEWÓDZKIM NR 2 IM. ŚW. JADWIGI KRÓLOWEJ W RZESZOWIE</li>
        <li>ZESPÓŁ SZKÓŁ SAMOCHODOWYCH IM. OBROŃCÓW WESTERPLATTE</li>
        <li>ZESPÓŁ SZKÓŁ SIÓSTR PIJAREK IM. PAULI MONTAL W RZESZOWIE</li>
        <li>ZESPÓŁ SZKÓŁ SPECJALNYCH IM.UNICEF W RZESZOWIE</li>
        <li>ZESPÓŁ SZKÓŁ SPOŁECZNYCH NR 2 W RZESZOWIE</li>
        <li>ZESPÓŁ SZKÓŁ SPORTOWYCH W RZESZOWIE</li>
        <li>ZESPÓŁ SZKÓŁ TECHNICZNYCH IM. EUGENIUSZA KWIATKOWSKIEGO</li>
        <li>ZESPÓŁ SZKÓŁ ZAKŁADU DOSKONALENIA ZAWODOWEGO IM. TADEUSZA KOŚCIUSZKI W RZESZOWIE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 1</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 10</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 11</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 12 W RZESZOWIE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 2</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 3</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 4</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 5</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 6</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 7</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 8</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 9</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY PROMAR</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
