
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Nowa Sarzyna</title>
</head>
<body>
    <h1>Schools in Nowa Sarzyna</h1>
    <ul>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE W NOWEJ SARZYNIE</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA ARTYSTYCZNEGO W NOWEJ SARZYNIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE SPECJALNE PRZY STOWARZYSZENIU "INTEGRACJA BEZ GRANIC"</li>
        <li>NIEPUBLICZNY OŚRODEK REWALIDACYJNO - WYCHOWAWCZY W NOWEJ SARZYNIE</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE JEDYNECZKA W NOWEJ SARZYNIE</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NIEZAPOMINAJKA W NOWEJ SARZYNIE</li>
        <li>SZKOŁA PODSTAWOWA IM. MARII SKŁODOWSKIEJ-CURIE W NOWEJ SARZYNIE</li>
        <li>ZESPÓŁ SZKÓŁ W NOWEJ SARZYNIE</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
