
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Iwonicz-Zdrój</title>
</head>
<body>
    <h1>Schools in Iwonicz-Zdrój</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA IM. DRA JÓZEFA ALEKSIEWICZA W IWONICZU-ZDROJU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA SPECJALNA IM DRA JÓZEFA ALEKSIEWICZA W IWONICZU-ZDROJU</li>
        <li>IWONICKIE CENTRUM KSZTAŁCENIA USTAWICZNEGO W IWONICZU-ZDROJU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W IWONICZU-ZDROJU</li>
        <li>PRZEDSZKOLE GMINNE IM JANA PAWŁA II W IWONICZU-ZDROJU</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY W IWONICZU-ZDROJU</li>
        <li>SZKOŁA PODSTAWOWA IM.KS.JANA RĄBA W IWONICZU-ZDROJU</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA W IWONICZU-ZDROJU</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W IWONICZU-ZDROJU</li>
        <li>TECHNIKUM IM. DRA JÓZEFA ALEKSIEWICZA W IWONICZU-ZDROJU</li>
        <li>ZESPÓŁ SZKÓŁ GASTRONOMICZNO-HOTELARSKICH W IWONICZU-ZDROJU</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
