
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Krzywcza</title>
</head>
<body>
    <h1>Schools in Krzywcza</h1>
    <ul>
        <li>SAMORZĄDOWE PRZEDSZKOLE W KRZYWCZY</li>
        <li>SZKOŁA PODSTAWOWA IM. 11 KARPACKIEJ DYWIZJI PIECHOTY W KRZYWCZY</li>
        <li>ZESPÓŁ SZKÓŁ W KRZYWCZY</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
