
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Nowy Lubliniec</title>
</head>
<body>
    <h1>Schools in Nowy Lubliniec</h1>
    <ul>
        <li>PUBLICZNE PRZEDSZKOLE W NOWYM LUBLIŃCU</li>
        <li>SZKOŁA PODSTAWOWA IM. GEN. ANTONIEGO JEZIORAŃSKIEGO W NOWYM LUBLIŃCU</li>
        <li>SZKOLNE SCHRONISKO MŁODZIEŻOWE W NOWYM LUBLIŃCU</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W NOWYM LUBLIŃCU</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
