
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Lesko</title>
</head>
<body>
    <h1>Schools in Lesko</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA W LESKU</li>
        <li>BURSA SZKOLNA W LESKU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W LESKU</li>
        <li>LICEUM PLASTYCZNE W LESKU</li>
        <li>NIEPUBLICZNA SZKOŁA MUZYCZNA I ST. W LESKU</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE WESOŁY LUDEK JOANNA PODSTAWSKA</li>
        <li>PEDAGOGICZNA BIBLIOTEKA WOJEWÓDZKA W KROŚNIE FILIA W LESKU</li>
        <li>PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA W LESKU</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE FOTONIK</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE IM.MISIA USZATKA W LESKU</li>
        <li>PRZEDSZKOLE SPECJALNE W LESKU</li>
        <li>PUBLICZNE PRZEDSZKOLE "WESOŁY LUDEK"</li>
        <li>PUNKT PRZEDSZKOLNY FOTONIK</li>
        <li>SPECJALNY OŚRODEK SZKOLNO - WYCHOWAWCZY W LESKU</li>
        <li>SZKOŁA PODSTAWOWA IM.WINCENTEGO POLA W LESKU</li>
        <li>SZKOŁA PODSTAWOWA NR 2 SPECJALNA</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY</li>
        <li>SZKOLNE SCHRONISKO MŁODZIEŻOWE BIESZCZADNIK W LESKU</li>
        <li>TECHNIKUM LEŚNE W LESKU</li>
        <li>TECHNIKUM W LESKU</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH</li>
        <li>ZESPÓŁ SZKÓŁ LEŚNYCH W LESKU</li>
        <li>ZESPÓŁ SZKÓŁ TECHNICZNYCH I ARTYSTYCZNYCH W LESKU</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
