
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Babica</title>
</head>
<body>
    <h1>Schools in Babica</h1>
    <ul>
        <li>PUBLICZNE PRZEDSZKOLE W ZESPOLE SZKÓŁ IM. JANA PAWŁA II W BABICY</li>
        <li>SZKOŁA PODSTAWOWA W ZESPOLE SZKÓŁ IM. JANA PAWŁA II W BABICY</li>
        <li>ZESPÓŁ SZKÓŁ IM. JANA PAWŁA II W BABICY</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
