
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Krówniki</title>
</head>
<body>
    <h1>Schools in Krówniki</h1>
    <ul>
        <li>NIEPUBLICZNE PRZEDSZKOLE "CHATKA SKRZATKA"</li>
        <li>PRYWATNE PRZEDSZKOLE "TRUSKAWKOWE RANCZO"</li>
        <li>SZKOŁA PODSTAWOWA IM. OJCA ŚWIĘTEGO JANA PAWŁA II W KRÓWNIKACH</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
