
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Baranów Sandomierski</title>
</head>
<body>
    <h1>Schools in Baranów Sandomierski</h1>
    <ul>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE ZG</li>
        <li>PRZEDSZKOLE PUBLICZNE W BARANOWIE SANDOMIERSKIM</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA IM KSIĘDZA JANA TWARDOWSKIEGO</li>
        <li>SZKOLNE SCHRONISKO MŁODZIEŻOWE</li>
        <li>ZESPÓŁ SZKÓŁ I PLACÓWEK W BARANOWIE SANDOMIERSKIM</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
