
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Dukla</title>
</head>
<body>
    <h1>Schools in Dukla</h1>
    <ul>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. ŚW. JANA Z DUKLI W DUKLI</li>
        <li>PRZEDSZKOLE GMINNE W DUKLI</li>
        <li>SZKOŁA PODSTAWOWA IM. BOHATERÓW WALK O PRZEŁĘCZ DUKIELSKĄ W LATACH 1944-1945 W DUKLI</li>
        <li>SZKOLNE SCHRONISKO MŁODZIEŻOWE W DUKLI PRZY ZESPOLE SZKÓŁ IM. ARMII KRAJOWEJ W JEDLICZU</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
