
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Jedlicze</title>
</head>
<body>
    <h1>Schools in Jedlicze</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W JEDLICZU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. MARII KONOPNICKIEJ</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE WŁÓCZYKIJE W JEDLICZU</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE IM. ŚW. JANA PAWŁA II I MATKI ANNY KAWOREK W JEDLICZU</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE W JEDLICZU</li>
        <li>SZKOŁA PODSTAWOWA IM. WINCENTEGO MANIERSKIEGO W JEDLICZU</li>
        <li>TECHNIKUM W JEDLICZU</li>
        <li>ZESPÓŁ SZKÓŁ IM. ARMII KRAJOWEJ W JEDLICZU</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
