
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Świlcza</title>
</head>
<body>
    <h1>Schools in Świlcza</h1>
    <ul>
        <li>INWENTEDU</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE " BAJKOWY ZAKĄTEK" WIOLETTA CABAJ</li>
        <li>PRZEDSZKOLE W ŚWILCZY</li>
        <li>SZKOŁA PODSTAWOWA IM. ŚW. JANA KANTEGO W ŚWILCZY</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
