
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Pobiedno</title>
</head>
<body>
    <h1>Schools in Pobiedno</h1>
    <ul>
        <li>PRZEDSZKOLE SAMORZĄDOWE W ZESPOLE SZKÓŁ IM. JANA PAWŁA II W POBIEDNIE</li>
        <li>SZKOŁA PODSTAWOWA W ZESPOLE SZKÓŁ IM.JANA PAWŁA II W POBIEDNIE</li>
        <li>ZESPÓŁ SZKÓŁ IM.JANA PAWŁA II W POBIEDNIE</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
