
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Jagiełła</title>
</head>
<body>
    <h1>Schools in Jagiełła</h1>
    <ul>
        <li>PRZEDSZKOLE SAMORZĄDOWE W JAGIELLE</li>
        <li>SZKOŁA PODSTAWOWA W JAGIELLE</li>
        <li>ZESPÓŁ SZKOŁY PODSTAWOWEJ I PRZEDSZKOLA SAMORZĄDOWEGO IM.KRÓLA WŁADYSŁAWA JAGIEŁŁY W JAGIELLE</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
