
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Tyczyn</title>
</head>
<body>
    <h1>Schools in Tyczyn</h1>
    <ul>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W TYCZYNIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE JĘZYKOWO-EKOLOGICZNE "WESOŁE MISIE U SPEAKERA"</li>
        <li>PRZEDSZKOLE MALUSZKOWO</li>
        <li>PRZEDSZKOLE MALUSZKOWO 2</li>
        <li>PRZEDSZKOLE PUBLICZNE ZGROMADZENIA SIÓSTR ŚW.DOMINIKA</li>
        <li>SZKOŁA PODSTAWOWA IM. STANISŁAWA STASZICA W TYCZYNIE</li>
        <li>TECHNIKUM W TYCZYNIE</li>
        <li>ZESPÓŁ SZKÓŁ W TYCZYNIE</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
