
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Nowosielec</title>
</head>
<body>
    <h1>Schools in Nowosielec</h1>
    <ul>
        <li>PRZEDSZKOLE W NOWOSIELCU</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA W NOWOSIELCU IM.JANA PAWŁA II,NOWOSIELEC 134</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W NOWOSIELCU</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
