
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Lutcza</title>
</head>
<body>
    <h1>Schools in Lutcza</h1>
    <ul>
        <li>SZKOŁA PODSTAWOWA IM. ŚW. RODZINY W LUTCZY</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. BŁ. JERZEGO POPIEŁUSZKI W LUTCZY</li>
        <li>ZESPÓŁ SZKÓŁ IM.ŚW.RODZINY W LUTCZY</li>
        <li>ZESPÓŁ SZKÓŁ W LUTCZY PRZEDSZKOLE SAMORZĄDOWE IM. ŚW. RODZINY W LUTCZY</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
