
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Wyszatyce</title>
</head>
<body>
    <h1>Schools in Wyszatyce</h1>
    <ul>
        <li>NIEPUBLICZNE PRZEDSZKOLE ZGROMADZENIA SIÓSTR SŁUŻEBNICZEK NAJŚWIĘTSZEJ MARII PANNY NIEPOKALANIE POCZĘTEJ POD WEZWANIEM ŚW. JÓZEFA W WYSZATYCACH</li>
        <li>SZKOŁA PODSTAWOWA IM.MACIEJA RATAJA W WYSZATYCACH</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
