
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Stępina</title>
</head>
<body>
    <h1>Schools in Stępina</h1>
    <ul>
        <li>PRZEDSZKOLE PUBLICZNE IM. JANA PAWŁA II W STĘPINIE</li>
        <li>SZKOŁA PODSTAWOWA IM. JANA PAWŁA II W STĘPINIE</li>
        <li>ZESPÓŁ SZKÓŁ W STĘPINIE</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
