
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Golcowa</title>
</head>
<body>
    <h1>Schools in Golcowa</h1>
    <ul>
        <li>PUBLICZNE PRZEDSZKOLE SAMORZĄDOWE W GOLCOWEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 1 W GOLCOWEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 2 W GOLCOWEJ</li>
        <li>ZESPÓŁ SZKÓŁ W GOLCOWEJ</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
