
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Kańczuga</title>
</head>
<body>
    <h1>Schools in Kańczuga</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W KAŃCZUDZE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. ADAMA MICKIEWICZA W KAŃCZUDZE</li>
        <li>MIEJSKO GMINNE PRZEDSZKOLE W KAŃCZUDZE</li>
        <li>SZKOŁA MUZYCZNA I STOPNIA W KAŃCZUDZE</li>
        <li>SZKOŁA PODSTAWOWA IM. KRÓLA JANA III SOBIESKIEGO W KAŃCZUDZE</li>
        <li>TECHNIKUM W KAŃCZUDZE</li>
        <li>ZESPÓŁ SZKÓŁ W KAŃCZUDZE</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
