
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Krościenko Wyżne</title>
</head>
<body>
    <h1>Schools in Krościenko Wyżne</h1>
    <ul>
        <li>NIEPUBLICZNE INTEGRACYJNE PRZEDSZKOLE „MOTYLEK”</li>
        <li>PRZEDSZKOLE ŚW. JÓZEFA PROWADZONE PRZEZ ZGROMADZENIE SIÓSTR SŁUŻEBNICZKEK NMP NP</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA IM. JANA PAWŁA II W KROŚCIENKU WYŻNYM</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE IM. WANDY CHOTOMSKIEJ</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
