
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Sowina</title>
</head>
<body>
    <h1>Schools in Sowina</h1>
    <ul>
        <li>SPOŁECZNA SZKOŁA PODSTAWOWA IM. JANA PAWŁA II W SOWINIE</li>
        <li>SPOŁECZNE PRZEDSZKOLE IM. JANA PAWŁA II W SOWINIE</li>
        <li>ZESPÓŁ SZKÓŁ SPOŁECZNYCH IM. JANA PAWŁA II W SOWINIE</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
