
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Jasienica Rosielna</title>
</head>
<body>
    <h1>Schools in Jasienica Rosielna</h1>
    <ul>
        <li>PRZEDSZKOLE W JASIENICY ROSIELNEJ</li>
        <li>SZKOŁA PODSTAWOWA W JASIENICY ROSIELNEJ IM.ŚW.JANA PAWŁA II</li>
        <li>ZESPÓŁ SZKÓŁ W JASIENICY ROSIELNEJ</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
