
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Tyrawa Solna</title>
</head>
<body>
    <h1>Schools in Tyrawa Solna</h1>
    <ul>
        <li>FILIALNA SZKOŁA PODSTAWOWA W TYRAWIE SOLNEJ IM.MARSZAŁKA JÓZEFA PIŁSUDSKIEGO</li>
        <li>PUNKT PRZEDSZKOLNY PRZY SZKOLE PODSTAWOWEJ W MRZYGŁODZIE IM. KRÓLA WŁADYSŁAWA JAGIEŁŁY FILIALNA SZKOŁA PODSTAWOWA W TYRAWIE SOLNEJ IM. MARSZAŁKA JÓZEFA PIŁSUDSKIEGO</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
