
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Pawłosiów</title>
</head>
<body>
    <h1>Schools in Pawłosiów</h1>
    <ul>
        <li>PUBLICZNE PRZEDSZKOLE W ZESPOLE SZKÓŁ W PAWŁOSIOWIE</li>
        <li>PUNKT PRZEDSZKOLNY W ZESPOLE SZKÓŁ W PAWŁOSIOWIE</li>
        <li>ZESPÓŁ SZKÓŁ W PAWŁOSIOWIE</li>
        <li>ZESPÓŁ SZKÓŁ W PAWŁOSIOWIE SZKOŁA PODSTAWOWA IM. A. MICKIEWICZA Z ODDZIAŁEM PRZEDSZKOLNYM W PAWŁOSIOWIE</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
