
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Pustków</title>
</head>
<body>
    <h1>Schools in Pustków</h1>
    <ul>
        <li>PUBLICZNA SZKOŁA PODSTWAOWA Z ODDZIAŁAMI INTEGRACYJNYMI IM. MARII KONOPNICKIEJ W PUSTKOWIE</li>
        <li>PUBLICZNE PRZEDSZKOLE W PUSTKOWIE</li>
        <li>ZESPÓŁ SZKÓŁ Z ODDZIAŁAMI INTEGRACYJNYMI W PUSTKOWIE</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
