
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Łukawiec</title>
</head>
<body>
    <h1>Schools in Łukawiec</h1>
    <ul>
        <li>PRZEDSZKOLE ARTYSTYCZNE BALTIMA MONTESSORI W ŁUKAWCU</li>
        <li>PRZEDSZKOLE W ŁUKAWCU</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA IM.BOHATERÓW WRZEŚNIA1939 W ŁUKAWCU</li>
        <li>PUNKT PRZEDSZKOLNY W PUBLICZNEJ SZKOLE PODSTAWOWEJ W ŁUKAWCU</li>
        <li>SZKOŁA PODSTAWOWA W ŁUKAWCU</li>
        <li>ZESPÓŁ SZKÓŁ W ŁUKAWCU</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
