
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Markowa</title>
</head>
<body>
    <h1>Schools in Markowa</h1>
    <ul>
        <li>OCHRONKA ZGROMADZENIA SIÓSTR SŁUŻEBNICZEK BDNP NIEPUBLICZNE PRZEDSZKOLE W MARKOWEJ</li>
        <li>PRZEDSZKOLE NR 1 W MARKOWEJ</li>
        <li>PRZEDSZKOLE NR 2 W MARKOWEJ</li>
        <li>SZKOŁA PODSTAWOWA IM. SŁUG BOŻYCH RODZINY ULMÓW W MARKOWEJ</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
