
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Orzechówka</title>
</head>
<body>
    <h1>Schools in Orzechówka</h1>
    <ul>
        <li>PRZEDSZKOLE W ORZECHÓWCE</li>
        <li>SZKOŁA PODSTAWOWA IM. KRÓLA WŁADYSŁAWA JAGIEŁŁY I KRÓLOWEJ JADWIGI</li>
        <li>ZESPÓŁ SZKÓŁ W ORZECHÓWCE</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
