
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Straszęcin</title>
</head>
<body>
    <h1>Schools in Straszęcin</h1>
    <ul>
        <li>PRZEDSZKOLE W STRASZĘCINIE</li>
        <li>SZKOŁA PODSTAWOWA IM.HENRYKA SIENKIEWICZA W STRASZĘCINIE</li>
        <li>SZKOLNE SCHRONISKO MŁODZIEŻOWE</li>
        <li>ZESPÓŁ SZKÓŁ W STRASZĘCINIE</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
