
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Jodłowa</title>
</head>
<body>
    <h1>Schools in Jodłowa</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W JODŁOWEJ</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. BARTOSZA GŁOWACKIEGO W JODŁOWEJ</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "ZAKĄTEK MALUCHA"</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM.KS.FRANCISZKA BLACHNICKIEGO W JODŁOWEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM.MARII KONOPNICKIEJ W JODŁOWEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. ZBYSZKA CYGANIEWICZA W JODŁOWEJ</li>
        <li>ZESPÓŁ SZKÓŁ W JODŁOWEJ</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
