
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Leżajsk</title>
</head>
<body>
    <h1>Schools in Leżajsk</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 1 W LEŻAJSKU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA SPECJALNA NR 2 W LEŻAJSKU</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO W LEŻAJSKU</li>
        <li>INTERNAT</li>
        <li>LEŻAJSKIE STOWARZYSZENIE ROZWOJU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH NR 2 W LEŻAJSKU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE NR 1 W LEŻAJSKU</li>
        <li>NIEPAŃSTWOWA SZKOŁA MUZYCZNA I ST.W LEŻAJSKU</li>
        <li>NIEPAŃSTWOWA SZKOŁA MUZYCZNA II ST. W LEŻAJSKU</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE JĘZYKOWE ABC I OPIEKA DZIENNA - ANNA KURZYP-KOCIOŁEK</li>
        <li>OŚRODEK KSZTAŁCENIA POZASZKOLNEGO MERIDUM</li>
        <li>OŚRODEK SZKOLENIA RZEMIOSŁA CECHU RZEMIOSŁ RÓŻNYCH I PRZEDSIĘBIORCÓW W LEŻAJSKU</li>
        <li>OŚRODEK SZKOLENIOWY SMART PROJEKT</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I ST. W LEŻAJSKU</li>
        <li>PEDAGOGICZNA BIBLIOTEKA WOJEWÓDZKA W RZESZOWIE FILIA W LEŻAJSKU</li>
        <li>PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA W LEŻAJSKU</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 2 PROMYCZEK W LEŻAJSKU</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 3 "BAJKA" W LEŻAJSKU</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 4 W LEŻAJSKU</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE IM. BŁ. EDMUNDA BOJANOWSKIEGO W LEŻAJSKU</li>
        <li>SPECJALNY OŚRODEK SZKOLNO - WYCHOWAWCZY IM. ŚW. JANA PAWŁA II W LEŻAJSKU</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. MIKOŁAJA KOPERNIKA W LEŻAJSKU</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. WŁADYSŁAWA BRONIEWSKIEGO W LEŻAJSKU</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. KS. KARDYNAŁA STEFANA WYSZYŃSKIEGO W LEŻAJSKU</li>
        <li>SZKOŁA PODSTAWOWA NR 5 W LEŻAJSKU</li>
        <li>SZKOŁA POLICEALNA MERIDUM W LEŻAJSKU</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W LEŻAJSKU</li>
        <li>TECHNIKUM NR 1 W LEŻAJSKU</li>
        <li>TECHNIKUM NR 2 W LEŻAJSKU</li>
        <li>ZESPÓŁ SZKÓŁ LICEALNYCH IM. BOLESŁAWA CHROBREGO W LEŻAJSKU</li>
        <li>ZESPÓŁ SZKÓŁ TECHNICZNYCH IM. TADEUSZA KOŚCIUSZKI W LEŻAJSKU</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 1 W LEŻAJSKU</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 2 W LEŻAJSKU</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
