
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Zaklików</title>
</head>
<body>
    <h1>Schools in Zaklików</h1>
    <ul>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W ZAKLIKOWIE</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA W ZAKLIKOWIE</li>
        <li>PUBLICZNE PRZEDSZKOLE W ZAKLIKOWIE</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH W ZAKLIKOWIE</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
