
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Mielec</title>
</head>
<body>
    <h1>Schools in Mielec</h1>
    <ul>
        <li>"SKORPION" WŁODZIMIERZ GUMIENNY</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 1</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 2</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 3</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 4</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA SPECJALNA NR 2</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA NR 3 W MIELCU</li>
        <li>BURSA MIĘDZYSZKOLNA W MIELCU</li>
        <li>CENTRUM KSZTAŁCENIA PRAKTYCZNEGO I DOSKONALENIA NAUCZYCIELI W MIELCU</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO W MIELCU</li>
        <li>CENTRUM SZKOLENIOWE TOMTECH</li>
        <li>I LICEUM MISTRZOSTWA SPORTOWEGO STAL MIELEC W MIELCU</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE IM. STANISŁAWA KONARSKIEGO W MIELCU</li>
        <li>I SZKOŁA PODSTAWOWA MISTRZOSTWA SPORTOWEGO STAL MIELEC W MIELCU</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE IM. MIKOŁAJA KOPERNIKA W MIELCU</li>
        <li>III LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>III LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>IV LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>IV LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH "PASCAL" W MIELCU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH SIGMA W MIELCU</li>
        <li>MAQUILLAGE ART ALEKSANDRA BOŻEK</li>
        <li>MEDYCZNA SZKOŁA POLICEALNA W MIELCU</li>
        <li>MEDYCZNO-SPOŁECZNE CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO W MIELCU</li>
        <li>MIELECKA SZKOŁA BIZNESU NIEPUBLICZNA SZKOŁA POLICEALNA W MIELCU</li>
        <li>NABRDALIK AKADEMIA FRYZJERSKA</li>
        <li>NIEPUBLICZNA MEDYCZNA SZKOŁA POLICEALNA W MIELCU</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA ZUZIA W MIELCU</li>
        <li>NIEPUBLICZNA SPECJALISTYCZNA PORADNIA WCZESNEGO WSPOMAGANIA ROZWOJU</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA MISTRZOSTWA SPORTOWEGO IM. GRZEGORZA LATO</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA W MIELCU</li>
        <li>NIEPUBLICZNA SZKOŁA POLICEALNA W MIELCU</li>
        <li>NIEPUBLICZNE INTEGRACYJNE PRZEDSZKOLE ŚWIĘTEGO JÓZEFA</li>
        <li>NIEPUBLICZNE LICEUM MISTRZOSTWA SPORTOWEGO IM. GRZEGORZA LATO</li>
        <li>NIEPUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W MIELCU</li>
        <li>NIEPUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE W MIELCU</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "MALI ODKRYWCY"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "MIELECKIE SMERFY"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE ARTYSTYCZNO-JĘZYKOWE PRZY CENTRUM EDUKACJI I ROZWOJU DZIECKA"ŻACZEK"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE DWUJĘZYCZNE "SZCZĘŚLIWE DZIECKO" W MIELCU</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE TERAPEUTYCZNE "SŁONECZKO"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE TERAPEUTYCZNE "WESOŁY BALONIK"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE TERAPEUTYCZNE ŚWIĘTEGO JÓZEFA</li>
        <li>NIEPUBLICZNY TERAPEUTYCZNY PUNKT PRZEDSZKOLNY ZUZIA</li>
        <li>OŚRODEK REHABILITACYJNO-EDUKACYJNO WYCHOWAWCZY</li>
        <li>OŚRODEK SZKOLENIOWY CECHU RZEMIOSŁ RÓŻNYCH W MIELCU</li>
        <li>OŚRODEK SZKOLENIOWY SIGMA W MIELCU</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I I II ST. IM. MIECZYSŁAWA KARŁOWICZA W MIELCU</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I ST. W MIELCU</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA II ST. W MIELCU</li>
        <li>PEDAGOGICZNA BIBLIOTEKA WOJEWÓDZKA W RZESZOWIE FILIA W MIELCU</li>
        <li>PODKARPACKIE CENTRUM KSZTAŁCENIA USTAWICZNEGO W MIELCU</li>
        <li>POLICEALNA SZKOŁA ZAWODOWA SIGMA W MIELCU</li>
        <li>POWIATOWY OŚRODEK METODYCZNY</li>
        <li>POWIATOWY ZESPÓŁ PLACÓWEK SZKOLNO-WYCHOWAWCZYCH W MIELCU</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 1 W MIELCU IM. KUBUSIA PUCHATKA</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 12 IM.MARII KONOPNICKIEJ W MIELCU</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 13 W MIELCU</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 16 IM. JASIA I MAŁGOSI W MIELCU</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 2 W MIELCU</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 20 Z ODDZIAŁAMI INTEGRACYJNYMI IM.SMOKA FELUSIA W MIELCU</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 3 W MIELCU</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 4 W MIELCU</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 6 W MIELCU</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 7 W MIELCU</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 8 W MIELCU "ARTYSTYCZNA ÓSEMECZKA"</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 9 IM.BAŚNIOWEJ KRAINY W MIELCU</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "BAJKOWE PRZEDSZKOLE"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "MISTRZOWIE ZABAWY"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE BAJKOWA AKADEMIA</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE SIÓSTR KARMELITANEK DZIECIĄTKA JEZUS</li>
        <li>SPECJALISTYCZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W MIELCU</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY IM. ŚW. JADWIGI KRÓLOWEJ W MIELCU</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. WŁADYSŁAWA SZAFERA W MIELCU</li>
        <li>SZKOŁA PODSTAWOWA NR 11 Z ODDZIAŁAMI INTEGRACYJNYMI IM. ŚW. JANA PAWŁA II W MIELCU</li>
        <li>SZKOŁA PODSTAWOWA NR 12 IM.HENRYKA SIENKIEWICZA W MIELCU</li>
        <li>SZKOŁA PODSTAWOWA NR 13 IM. JANA BYTNARA "RUDEGO" W MIELCU</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM.TADEUSZA KOŚCIUSZKI W MIELCU</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM.WOJSKA POLSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 6 IM. ŻWIRKI I WIGURY Z ODDZIAŁAMI INTEGRACYJNYMI I SPORTOWYMI W MIELCU</li>
        <li>SZKOŁA PODSTAWOWA NR 7 IM. IGNACEGO ŁUKASIEWICZA W MIELCU</li>
        <li>SZKOŁA PODSTAWOWA NR 8 Z ODDZIAŁAMI INTEGRACYJNYMI W MIELCU W ZESPOLE SZKÓŁ OGÓLNOKSZTAŁCĄCYCH NR 1 IM. ST. SIERŻ. PILOTA STANISŁAWA DZIAŁOWSKIEGO W MIELCU</li>
        <li>SZKOŁA PODSTAWOWA NR 9 Z ODDZIAŁAMI MISTRZOSTWA SPORTOWEGO IM. WŁADYSŁAWA JASIŃSKIEGO "JĘDRUSIA" W MIELCU</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 2</li>
        <li>SZKOŁA POLICEALNA NR 1</li>
        <li>SZKOŁA POLICEALNA NR 3</li>
        <li>SZKOŁA POLICEALNA NR 4</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY</li>
        <li>SZKOLNE SCHRONISKO MŁODZIEŻOWE W MIELCU</li>
        <li>TECHNIKUM NR 1</li>
        <li>TECHNIKUM NR 2</li>
        <li>TECHNIKUM NR 3</li>
        <li>TECHNIKUM NR 4</li>
        <li>V LICEUM OGÓLNOKSZTAŁCĄCE W MIELCU</li>
        <li>ZAKŁAD DOSKONALENIA ZAWODOWEGO W RZESZOWIE OŚRODEK KSZTAŁCENIA ZAWODOWEGO W MIELCU</li>
        <li>ZAOCZNA POLICEALNA SZKOŁA ZAWODOWA "PASCAL" W MIELCU</li>
        <li>ZESPÓŁ SZKÓŁ BUDOWLANYCH IM. ŻOŁNIERZY ARMII KRAJOWEJ W MIELCU</li>
        <li>ZESPÓŁ SZKÓŁ EKONOMICZNYCH IM. BŁ. KS. ROMANA SITKI W MIELCU</li>
        <li>ZESPÓŁ SZKÓŁ IM. PROF. J. GROSZKOWSKIEGO W MIELCU</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH NR 1 IM. ST.SIERŻ. PILOTA STANISŁAWA DZIAŁOWSKIEGO W MIELCU</li>
        <li>ZESPÓŁ SZKÓŁ SIGMA W MIELCU</li>
        <li>ZESPÓŁ SZKÓŁ TECHNICZNYCH W MIELCU</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
