
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Ustrzyki Dolne</title>
</head>
<body>
    <h1>Schools in Ustrzyki Dolne</h1>
    <ul>
        <li>BIESZCZADZKA BURSA SZKOLNA</li>
        <li>BIESZCZADZKI ZESPÓŁ PLACÓWEK SZKOLNO-WYCHOWAWCZYCH SZKOLNE SCHRONISKO MŁODZIERZOWE W USTRZYKACH DOLNYCH</li>
        <li>BIESZCZADZKI ZESPÓŁ PLACÓWEK SZKOLNO-WYCHOWAWCZYCH W USTRZYKACH DOLNYCH</li>
        <li>BIESZCZADZKI ZESPÓŁ SZKÓŁ ZAWODOWYCH</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W USTRZYKACH DOLNYCH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE MISTRZOSTWA SPORTOWEGO W USTRZYKCH DOLNYCH</li>
        <li>OGNISKO PRACY POZASZKOLNEJ W USTRZYKACH DOLNYCH</li>
        <li>PEDAGOGICZNA BIBLIOTEKA WOJEWÓDZKA W KROŚNIE FILIA W USTRZYKACH DOLNYCH</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W USTRZYKACH DOLNYCH</li>
        <li>PRZEDSZKOLE NR 1 W USTRZYKACH DOLNYCH</li>
        <li>PRZEDSZKOLE NR 2 W USTRZYKACH DOLNYCH</li>
        <li>SAMORZĄDOWA SZKOŁA MUZYCZNA I STOPNIA W USTRZYKACH DOLNYCH</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY</li>
        <li>SZKOŁA MISTRZOSTWA SPORTOWEGO W USTRZYKACH DOLNYCH</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. MIKOŁAJA KOPERNIKA W USTRZYKACH DOLNYCH</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. TADEUSZA KOŚCIUSZKI NARCIARSKA SZKOŁA SPORTOWA W USTRZYKACH DOLNYCH</li>
        <li>SZKOŁA PODSTAWOWA NR 3 SPECJALNA</li>
        <li>SZKOŁA POLICEALNA</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY</li>
        <li>TECHNIKUM</li>
        <li>ZESPÓŁ SZKÓŁ LICEALNYCH IM. JÓZEFA PIŁSUDSKIEGO</li>
        <li>ZESPÓŁ SZKÓŁ SPORTOWYCH W USTRZYKACH DOLNYCH</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
