
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Pilzno</title>
</head>
<body>
    <h1>Schools in Pilzno</h1>
    <ul>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. SEBASTIANA PETRYCEGO W PILŹNIE</li>
        <li>OCHRONKA ZGROMADZENIA SIÓSTR SŁUŻEBNICZEK BDNP NIEPUBLICZNE PRZEDSZKOLE</li>
        <li>PRZEDSZKOLE PUBLICZNE W PILŹNIE</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA W PILŹNIE</li>
        <li>RZEMIEŚLNICZA BRANŻOWA SZKOŁA I STOPNIA IM. BŁ. KAROLINY KÓZKÓWNY W PILŹNIE</li>
        <li>RZEMIEŚLNICZA BRANŻOWA SZKOŁA II STOPNIA W PILŹNIE</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
