
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Brzozów</title>
</head>
<body>
    <h1>Schools in Brzozów</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA</li>
        <li>CENTRUM USŁUG SZKOLENIOWYCH-EDU CONSULT</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE IM. KRÓLA KAZIMIERZA WIELKIEGO W BRZOZOWIE</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>III LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>PEDAGOGICZNA BIBLIOTEKA WOJEWÓDZKA W KROŚNIE FILIA W BRZOZOWIE</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 1 IM. BŁ. S. C. FARON W BRZOZOWIE</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 2 Z ODDZIAŁAMI INTEGRACYJNYMI IM. M. KONOPNICKIEJW BRZOZOWIE</li>
        <li>PRZEDSZKOLE SPECJALNE W SPECJALNYM OŚRODKU SZKOLNO-WYCHOWAWCZYM IM. BŁ. KS. B. MARKIEWICZA W BRZOZOWIE</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY IM. BŁOGOSŁAWIONEGO KSIĘDZA BRONISŁAWA MARKIEWICZA</li>
        <li>SZKOŁA PODSTAWOWA NR 1IM.WŁ.SZAFERAW BRZOZOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 2 SPECJALNA W BRZOZOWIE PRZY SPECJALNYM OŚRODKU SZKOLNO-WYCHOWAWCZYM</li>
        <li>SZKOŁA POLICEALNA</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY</li>
        <li>TECHNIKUM NR 1</li>
        <li>TECHNIKUM NR 2</li>
        <li>ZESPÓŁ SZKÓŁ BUDOWLANYCH IM. TADEUSZA KOŚCIUSZKI</li>
        <li>ZESPÓŁ SZKÓŁ EKONOMICZNYCH IM. KOMISJI EDUKACJI NARODOWEJ</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
