
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Haczów</title>
</head>
<body>
    <h1>Schools in Haczów</h1>
    <ul>
        <li>OCHRONKA ŚW. JÓZEFA W HACZOWIE</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE W HACZOWIE Z FILIĄ W TRZEŚNIOWIE</li>
        <li>SZKOŁA PODSTAWOWA W HACZOWIE IM. DOC. DR INŻ. JANA WYŻYKOWSKIEGO</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
