
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Fredropol</title>
</head>
<body>
    <h1>Schools in Fredropol</h1>
    <ul>
        <li>ZESPÓŁ SZKOLNO - PRZEDSZKOLNY W FREDROPOLU</li>
        <li>ZESPÓŁ SZKOLNO - PRZEDSZKOLNY W FREDROPOLU - PRZEDSZKOLE W FREDROPOLU</li>
        <li>ZESPÓŁ SZKOLNO - PRZEDSZKOLNY W FREDROPOLU - SZKOŁA PODSTAWOWA IM. ALEKSANDRA FREDRY W FREDROPOLU</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
