
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Krzątka</title>
</head>
<body>
    <h1>Schools in Krzątka</h1>
    <ul>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA W KLATKACH</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA W KRZĄTCE</li>
        <li>PUNKT PRZEDSZKOLNY PRZY PUBLICZNEJ SZKOLE PODSTAWOWEJ W KRZĄTCE</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
