
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Osiek Jasielski</title>
</head>
<body>
    <h1>Schools in Osiek Jasielski</h1>
    <ul>
        <li>PRZEDSZKOLE INTEGRACYJNE W OSIEKU JASIELSKIM</li>
        <li>SZKOŁA PODSTAWOWA W OSIEKU JASIELSKIM</li>
        <li>ZESPÓŁ SZKÓŁ INTEGRACYJNYCH</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
