
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Rymanów-Zdrój</title>
</head>
<body>
    <h1>Schools in Rymanów-Zdrój</h1>
    <ul>
        <li>DOM WCZASÓW DZIECIĘCYCH W RYMANOWIE-ZDROJU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE SPECJALNE PRZY UZDROWISKU RYMANÓW S.A.</li>
        <li>PRZEDSZKOLE SIÓSTR MIŁOSIERDZIA IM. MATKI BOŻEJ OD CUDOWNEGO MEDALIKA W RYMANOWIE ZDROJU</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA</li>
        <li>ZESPÓŁ SZKÓŁ SPECJALNYCH W RYMANOWIE ZDROJU</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
