
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Albigowa</title>
</head>
<body>
    <h1>Schools in Albigowa</h1>
    <ul>
        <li>NIEPUBLICZNE PRZEDSZKOLE INTEGRACYJNE "JAŚ I MAŁGOSIA"</li>
        <li>PRZEDSZKOLE PUBLICZNE W ALBIGOWEJ</li>
        <li>SZKOŁA PODSTAWOWA IM. KS. ANTONIEGO TYCZYŃSKIEGO W ALBIGOWEJ</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W ALBIGOWEJ</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
