
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Jaszczew</title>
</head>
<body>
    <h1>Schools in Jaszczew</h1>
    <ul>
        <li>PUNKT PRZEDSZKOLNY "KRAINA SZCZĘŚCIA" W JASZCZWI</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE W JASZCZWI</li>
        <li>SZKOŁA PODSTAWOWA IM. ARMII KRAJOWEJ W JASZCZWI</li>
        <li>ZESPÓŁ SZKOLNO - PRZEDSZKOLNY W JASZCZWI</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
