
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Rzemień</title>
</head>
<body>
    <h1>Schools in Rzemień</h1>
    <ul>
        <li>BRANZOWA SZKOŁA I STOPNIA W RZEMIENIU</li>
        <li>ROLNICZE CENTRUM KSZTAŁCENIA USTAWICZNEGO W RZEMIENIU</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE W RZEMIENIU</li>
        <li>SZKOŁA PODSTAWOWA IM. MARII DĄBROWSKIEJ W RZEMIENIU</li>
        <li>SZKOŁA POLICEALNA W RZEMIENIU</li>
        <li>TECHNIKUM W RZEMIENIU</li>
        <li>ZESPÓŁ SZKÓŁ CENTRUM KSZTAŁCENIA ROLNICZEGO IM. PROF. WŁADYSŁAWA SZAFERA W RZEMIENIU</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
