
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Trzcinica</title>
</head>
<body>
    <h1>Schools in Trzcinica</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W TRZCINICY</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE MISTRZOSTWA SPORTOWEGO W TRZCINICY</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI SPORTOWYMI W TRZCINICY</li>
        <li>SPORTOWE LICEUM OGÓLNOKSZTAŁCĄCE W TRZCINICY</li>
        <li>SZKOŁA PODSTAWOWA IM. ŚW. JANA KANTEGO W TRZCINICY</li>
        <li>TECHNIKUM W TRZCINICY</li>
        <li>ZESPÓŁ SZKÓŁ STOWARZYSZENIA ABSOLWENTÓW SZKÓŁ ROLNICZYCH IM.PROF. DR HAB. TEODORA MARCHLEWSKIEGO W TRZCINICY</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
