
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Łęki Górne</title>
</head>
<body>
    <h1>Schools in Łęki Górne</h1>
    <ul>
        <li>PRZEDSZKOLE PUBLICZNE W ŁĘKACH GÓRNYCH</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA IM. KARDYNAŁA STEFANA WYSZYŃSKIEGO PRYMASA TYSIĄCLECIA W ŁĘKACH GÓRNYCH</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
