
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Jarocin</title>
</head>
<body>
    <h1>Schools in Jarocin</h1>
    <ul>
        <li>PRZEDSZKOLE W JAROCINIE</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA IM. KS. JANA TWARDOWSKIEGO W JAROCINIE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W JAROCINIE</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
