
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Giedlarowa</title>
</head>
<body>
    <h1>Schools in Giedlarowa</h1>
    <ul>
        <li>CENTRUM EDUKACJI NAUCZYCIELI</li>
        <li>SZKOŁA PODSTAWOWA GIEDLAROWA</li>
        <li>ZESPÓŁ SZKÓŁ GIEDLAROWA</li>
        <li>ZESPÓŁ SZKÓŁ GIEDLAROWA PRZEDSZKOLE</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
