
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Nowosielce</title>
</head>
<body>
    <h1>Schools in Nowosielce</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W NOWOSIELCACH</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO W NOWOSIELCACH</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "TĘCZOWE PRZEDSZKOLE"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE PN. "OCHRONKA ŚW. JÓZEFA"</li>
        <li>SZKOŁA PODSTAWOWA IM. ŚW. JANA KANTEGO W NOWOSIELCACH</li>
        <li>SZKOŁA PODSTAWOWA W NOWOSIELCACH</li>
        <li>SZKOŁA POLICEALNA W NOWOSIELCACH</li>
        <li>TECHNIKUM W NOWOSIELCACH</li>
        <li>ZESPÓŁ SZKÓŁ CENTRUM KSZTAŁCENIA ROLNICZEGO IM. II CZECHOSŁOWACKIEJ BRYGADY SPADOCHRONOWEJ W NOWOSIELCACH</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
