
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Kosienice</title>
</head>
<body>
    <h1>Schools in Kosienice</h1>
    <ul>
        <li>PRZEDSZKOLE ZGROMADZENIA SIÓSTR SŁUŻEBNICZEK NAJŚWIĘTSZEJ MARII PANNY NIEPOKALANIE POCZĘTEJ POD WEZWANIEM BŁ. EDMUNDA BOJANOWSKIEGO W KOSIENICACH</li>
        <li>SZKOŁA PODSTAWOWA IM. BŁ. KS. BRONISŁAWA MARKIEWICZA W KOSIENICACH</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
