
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Przewrotne</title>
</head>
<body>
    <h1>Schools in Przewrotne</h1>
    <ul>
        <li>SZKOŁA PODSTAWOWA IM. JANA KOCHANOWSKIEGO W PRZEWROTNEM</li>
        <li>ZESPÓŁ SZKÓŁ W PRZEWROTNEM</li>
        <li>ZESPÓŁ SZKÓŁ W PRZEWROTNEM PUBLICZNE PRZEDSZKOLE</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
