
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Bukowsko</title>
</head>
<body>
    <h1>Schools in Bukowsko</h1>
    <ul>
        <li>PRZEDSZKOLE SAMORZĄDOWE W ZESPOLE SZKÓŁ W BUKOWSKU</li>
        <li>SZKOŁA PODSTAWOWA IM. PROF. JULIANA KRZYŻANOWSKIEGO W ZESPOLE SZKÓŁ W BUKOWSKU</li>
        <li>ZESPÓŁ SZKÓŁ W BUKOWSKU</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
