
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Nowy Żmigród</title>
</head>
<body>
    <h1>Schools in Nowy Żmigród</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W NOWYM ŻMIGRODZIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. MIKOŁAJA KOPERNIKA W NOWYM ŻMIGRODZIE</li>
        <li>PRZEDSZKOLE GMINNE W NOWYM ŻMIGRODZIE</li>
        <li>SZKOŁA PODSTAWOWA IM. BŁ. KS. WŁADYSŁAWA FINDYSZA - MĘCZENNIKA W NOWYM ŻMIGRODZIE</li>
        <li>TECHNIKUM W NOWYM ŻMIGRODZIE</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
