
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Nowotaniec</title>
</head>
<body>
    <h1>Schools in Nowotaniec</h1>
    <ul>
        <li>PRZEDSZKOLE SAMORZĄDOWE W ZESPOLE SZKÓŁ W NOWOTAŃCU</li>
        <li>SZKOŁA PODSTAWOWA IMIENIA BŁ. O. ANASTAZEGO PANKIEWICZA W ZESPOLE SZKÓŁ W NOWOTAŃCU</li>
        <li>ZESPÓŁ SZKÓŁ W NOWOTAŃCU</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
