
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Strachocina</title>
</head>
<body>
    <h1>Schools in Strachocina</h1>
    <ul>
        <li>PUNKT PRZEDSZKOLNY PRZY SZKOLE PODSTAWOWEJ IM.IGNACEGO ŁUKASIEWICZA W STRACHOCINIE</li>
        <li>SZKOŁA PODSTAWOWA IM. IGNACEGO ŁUKASIEWICZA W STRACHOCINIE</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
