
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Głobikowa</title>
</head>
<body>
    <h1>Schools in Głobikowa</h1>
    <ul>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA W GŁOBIKOWEJ</li>
        <li>ZESPÓŁ SZKÓŁ IM. KONSTANTEGO LELIWY SŁOTWIŃSKIEGO. SZKOLNE SCHRONISKO MŁODZIEŻOWE W GŁOBIKOWEJ</li>
        <li>ZESPÓŁ SZKÓŁ IM. KONSTANTEGO LELIWY-SŁOTWIŃSKIEGO W GŁOBIKOWEJ</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
