
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Kamień</title>
</head>
<body>
    <h1>Schools in Kamień</h1>
    <ul>
        <li>PRZEDSZKOLE PARAFIALNE W KAMIENIU</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE W KAMIENIU</li>
        <li>SZKOŁA MUZYCZNA I STOPNIA W KAMIENIU</li>
        <li>SZKOŁA PODSTAWOWA IM. BŁOGOSŁAWIONEGO KSIĘDZA JERZEGO POPIEŁUSZKI W KAMIENIU KRZYWEJ WSI</li>
        <li>SZKOŁA PODSTAWOWA IM. ŚW. FLORIANA W KAMIENIU PODLESIU</li>
        <li>SZKOŁA PODSTAWOWA IM. ŚW. JADWIGI KRÓLOWEJ W KAMIENIU PRUSINIE</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
