
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Stobierna</title>
</head>
<body>
    <h1>Schools in Stobierna</h1>
    <ul>
        <li>PRZEDSZKOLE NR 2 W STOBIERNEJ</li>
        <li>PRZEDSZKOLE W STOBIERNEJ</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA IM. JANA PAWŁA II W STOBIERNEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 1 W STOBIERNEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. LUDWIKA NABIELAKA W STOBIERNEJ</li>
        <li>ZESPÓŁ SZKÓŁ NR 1 W STOBIERNEJ</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W STOBIERNEJ</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
