
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Grodzisko Dolne</title>
</head>
<body>
    <h1>Schools in Grodzisko Dolne</h1>
    <ul>
        <li>PRZEDSZKOLE NIEPUBLICZNE PN. "OCHRONKA ŚWIĘTEGO JÓZEFA"</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE W GRODZISKU DOLNYM</li>
        <li>SZKOŁA PODSTAWOWA W GRODZISKU DOLNYM</li>
        <li>ZESPÓŁ SZKÓŁ IM. JANA PAWŁA II W GRODZISKU DOLNYM</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
