
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Strzyżów</title>
</head>
<body>
    <h1>Schools in Strzyżów</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W STRZYŻOWIE W ZESPOLE SZKÓŁ TECHNICZNYCH W STRZYŻOWIE</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA W STRZYŻOWIE W ZESPOLE SZKÓŁ TECHNICZNYCH W STRZYŻOWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W STRZYŻOWIE W ZESPOLE SZKÓŁ TECHNICZNYCH W STRZYŻOWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. ADAMA MICKIEWICZA W STRZYŻOWIE</li>
        <li>NIEPUBLICZNA PLACÓWKA EDUKACYJNA "WESOŁY I KREATYWNY PRZEDSZKOLAK"</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO "AUXILIUM"</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO "BEATA"</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA ZUZIA W STRZYŻOWIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE KRASNALE</li>
        <li>NIEPUBLICZNY TERAPEUTYCZNY PUNKT PRZEDSZKOLNY ZUZIA</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I ST. IM. ZYGMUNTA MYCIELSKIEGO W STRZYŻOWIE</li>
        <li>PEDAGOGICZNA BIBLIOTEKA WOJEWÓDZKA W RZESZOWIE FILIA W STRZYŻOWIE</li>
        <li>PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA W STRZYŻOWIE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE SIÓSTR SERAFITEK W STRZYŻOWIE</li>
        <li>PRZEDSZKOLE NR 3 SPECJALNE W STRZYŻOWIE W SPECJALNYM OŚRODKU SZKOLNO - WYCHOWAWCZYM W STRZYŻOWIE</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE "MICHAŁKI" W STRZYŻOWIE</li>
        <li>SPECJALNY OŚRODEK SZKOLNO - WYCHOWAWCZY W STRZYŻOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. ORŁA BIAŁEGO W STRZYŻOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 2 Z ODDZIAŁAMI DWUJĘZYCZNYMI IM. MARII KONOPNICKIEJ W STRZYŻOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 3 SPECJALNA W STRZYŻOWIE W SPECJALNYM OŚRODKU SZKOLNO - WYCHOWAWCZYM W STRZYŻOWIE</li>
        <li>SZKOŁA POLICEALNA W STRZYŻOWIE W ZESPOLE SZKÓŁ TECHNICZNYCH W STRZYŻOWIE</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W STRZYŻOWIE W SPECJALNYM OŚRODKU SZKOLNO - WYCHOWAWCZYM W STRZYŻOWIE</li>
        <li>TECHNIKUM W STRZYŻOWIE W ZESPOLE SZKÓŁ TECHNICZNYCH W STRZYŻOWIE</li>
        <li>ZESPÓŁ SZKÓŁ TECHNICZNYCH W STRZYŻOWIE</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
