
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Hadle Szklarskie</title>
</head>
<body>
    <h1>Schools in Hadle Szklarskie</h1>
    <ul>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA MISTRZOSTWA SPORTOWEGO W HADLACH SZKLARSKICH</li>
        <li>NIEPUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE SZKOŁA MISTRZOSTWA SPORTOWEGO W HADLACH SZKLARSKICH</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY "PRZEDSZKOLE POD JAWOREM" W HADLACH SZKLARSKICH</li>
        <li>ZESPÓŁ SZKÓŁ I PLACÓWEK W MANASTERZUSZKOLNE SCHRONISKO MŁODZIEŻOWE</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
