
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Brzóza Królewska</title>
</head>
<body>
    <h1>Schools in Brzóza Królewska</h1>
    <ul>
        <li>SZKOŁA PODSTAWOWA BRZÓZA KRÓLEWSKA</li>
        <li>SZKOLNE SCHRONISKO MŁODZIEŻOWE ' JUTRZENKA"</li>
        <li>ZESPÓŁ SZKÓŁ BRZÓZA KRÓLEWSKA</li>
        <li>ZESPÓŁ SZKÓŁ BRZÓZA KRÓLEWSKA - PRZEDSZKOLE</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
