
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Manasterz</title>
</head>
<body>
    <h1>Schools in Manasterz</h1>
    <ul>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY "PRZEDSZKOLE POD JAWOREM" W MANASTERZU NR 1</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY "PRZEDSZKOLE POD JAWOREM" W MANASTERZU NR 2</li>
        <li>SZKOŁA PODSTAWOWA IM. ŚW. JANA KANTEGO</li>
        <li>SZKOŁA PODSTAWOWA IM.KARDYNAŁA STEFANA WYSZYŃSKIEGO W MANASTERZU</li>
        <li>ZESPÓŁ SZKÓŁ I PLACÓWEK W MANASTERZU</li>

    </ul>
    <a href="PODKARPACKIE.html">Back to Cities in PODKARPACKIE</a>
</body>
</html>
