
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Białogard</title>
</head>
<body>
    <h1>Schools in Białogard</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 1 W BIAŁOGARDZIE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 2 W BIAŁOGARDZIE</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO W BIAŁOGARDZIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. BOGUSŁAWA X W BIAŁOGARDZIE</li>
        <li>MŁODZIEŻOWY DOM KULTURY IM. HENRYKA JORDANA W BIAŁOGARDZIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "KAJTEK"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "MOTYLEK"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "PROMYCZEK"</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I STOPNIA W BIAŁOGARDZIE</li>
        <li>PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA W BIAŁOGARDZIE</li>
        <li>PRYWATNE CENTRUM EDUKACYJNE "SZKOŁY SUKCES" I LICEUM OGÓLNOKSZTAŁCĄCE W BIAŁOGARDZIE</li>
        <li>PRYWATNE CENTRUM EDUKACYJNE "SZKOŁY SUKCES" I SZKOŁA PODSTAWOWA W BIAŁOGARDZIE</li>
        <li>PRYWATNE CENTRUM EDUKACYJNE "SZKOŁY SUKCES" I SZKOŁA POLICEALNA W BIAŁOGARDZIE</li>
        <li>PRYWATNE CENTRUM EDUKACYJNE "SZKOLY SUKCES" LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W BIAŁOGARDZIE</li>
        <li>PRYWATNE CENTRUM EDUKACYJNE "SZKOŁY SUKCES" SZKOŁA PODSTAWOWA DLA DOROSŁYCH W BIAŁOGARDZIE</li>
        <li>PRYWATNE CENTRUM EDUKACYJNE SZKOŁY SUKCES I BRANŻOWA SZKOŁA I STOPNIA W BIAŁOGARDZIE</li>
        <li>PRYWATNE CENTRUM EDUKACYJNE W BIAŁOGARDZIE</li>
        <li>PRYWATNE USŁUGI EDUKACYJNE W BIAŁOGARDZIE</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 1 "BAJKA" W BIAŁOGARDZIE</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 2 "SŁONECZNE" W BIAŁOGARDZIE</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 3 "NIEZAPOMINAJKA" W BIAŁOGARDZIE</li>
        <li>SZKOŁA JĘZYKÓW OBCYCH ENGLISHWORLD MONIKA NIEWIŃSKA- SĘK</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. MARII SKŁODOWSKIEJ - CURIE</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. BOLESŁAWA KRZYWOUSTEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 4 IM. MIKOŁAJA KOPERNIKA W BIAŁOGARDZIE</li>
        <li>SZKOŁA PODSTAWOWA NR 5 IM. WŁADYSŁAWA BRONIEWSKIEGO W BIAŁOGARDZIE</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA W BIAŁOGARDZIE</li>
        <li>SZKOŁA PRZYSPOSABIAJĄCA DO PRACY W BIAŁOGARDZIE</li>
        <li>TECHNIKUM EKONOMICZNE W BIAŁOGARDZIE</li>
        <li>TECHNIKUM HANDLOWE W BIAŁOGARDZIE</li>
        <li>TECHNIKUM INFORMATYCZNE W BIAŁOGARDZIE</li>
        <li>TECHNIKUM MECHANICZNO-ELEKTRYCZNE W BIAŁOGARDZIE</li>
        <li>TECHNIKUM ORGANIZACJI TURYSTYKI W BIAŁOGARDZIE</li>
        <li>ZESPÓŁ SZKÓŁ PONADPODSTAWOWYCH W BIAŁOGARDZIE</li>
        <li>ZESPÓŁ SZKÓŁ SPECJALNYCH IM.JANA PAWŁA II W BIAŁOGARDZIE</li>

    </ul>
    <a href="ZACHODNIOPOMORSKIE.html">Back to Cities in ZACHODNIOPOMORSKIE</a>
</body>
</html>
