
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Tanowo</title>
</head>
<body>
    <h1>Schools in Tanowo</h1>
    <ul>
        <li>PRZEDSZKOLE PUBLICZNE W TANOWIE</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY IM. KAWALERÓW ORDERU UŚMIECHU W TANOWIE</li>
        <li>SZKOŁA PODSTAWOWA IM. JERZEGO NOSKIEWICZA Z ODDZIAŁAMI DWUJĘZYCZNYMI I PRZEDSZKOLNYMI W TANOWIE</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 2</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY</li>

    </ul>
    <a href="ZACHODNIOPOMORSKIE.html">Back to Cities in ZACHODNIOPOMORSKIE</a>
</body>
</html>
