
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Świnoujście</title>
</head>
<body>
    <h1>Schools in Świnoujście</h1>
    <ul>
        <li>AKTYWNE PRZEDSZKOLE "KOGUT" W ŚWINOUJŚCIU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA A.K.S. SZKOŁA TECHNICZNA</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 1 W ŚWINOUJŚCIU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA W ŚWINOUJŚCIU WOJEWÓDZKIEGO ZAKŁADU DOSKONALENIA ZAWODOWEGO W SZCZECINIE</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA A.K.S. SZKOŁA TECHNICZNA</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA W ŚWINOUJŚCIU WOJEWÓDZKIEGO ZAKŁADU DOSKONALENIA ZAWODOWEGO W SZCZECINIE</li>
        <li>BRANŻOWA SZKOŁA SPECJALNA I STOPNIA W SPECJALNYM OŚRODKU SZKOLNO-WYCHOWAWCZYM W ŚWINOUJŚCIU</li>
        <li>CENTRUM EDUKACJI ZAWODOWEJ I TURYSTYKI W ŚWINOUJŚCIU</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO I PRAKTYCZNEGO PRZY CECHU RZEMIOSŁ RÓŻNYCH W ŚWINOUJŚCIU</li>
        <li>I LICEUM SPOŁECZNE FUNDACJI LOGOS</li>
        <li>KATOLICKIE LICEUM OGÓLNOKSZTAŁCĄCE IM. ŚW. JADWIGI KRÓLOWEJ W ŚWINOUJŚCIU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W ŚWINOUJŚCIU WOJEWÓDZKIEGO ZAKŁADU DOSKONALENIA ZAWODOWEGO W SZCZECINIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI INTEGRACYJNYMI IM. MIESZKA I</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "TYGRYSEK"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE SPECJALNE "JEŻYK"</li>
        <li>OŚRODEK KSZTAŁCENIA ZAWODOWEGO I SZKOLEŃ MORSKICH W ŚWINOUJŚCIU</li>
        <li>OŚRODEK REHABILITACYJNO-EDUKACYJNO-WYCHOWAWCZY W ŚWINOUJŚCIU</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I ST. W ŚWINOUJŚCIU</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 1 "PEREŁKI BAŁTYKU"</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 10 "KOLOROWY ŚWIAT"</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 11 Z ODDZIAŁAMI INTEGRACYJNYMI "TĘCZA"</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 3 "POD ŻAGLAMI"</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 5 "BAJKA" Z ODDZIAŁAMI INTEGRACYJNYMI</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 7</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 9 "FANTAZJA"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "MOTYLEK"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "WIATRACZEK" W ŚWINOUJŚCIU</li>
        <li>PRZEDSZKOLE SPECJALNE W SPECJALNYM OŚRODKU SZKOLNO-WYCHOWAWCZYM IM. MARII KONOPNICKIEJ W ŚWINOUJŚCIU</li>
        <li>SPECJALNY OŚRODEK SZKOLNO - WYCHOWACZY IM. MARII KONOPNICKIEJ W ŚWINOUJŚCIU</li>
        <li>SPOŁECZNA SZKOŁA PODSTAWOWA SPOŁECZNEGO TOWARZYSTWA SZKOŁY GIMNAZJALNEJ</li>
        <li>SPOŁECZNE LICEUM OGÓLNOKSZTAŁCĄCE SPOŁECZNEGO TOWARZYSTWA SZKOŁY GIMNAZJALNEJ</li>
        <li>SZKOŁA PODSTAWOWA FUNDACJI LOGOS</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. MARYNARKI WOJENNEJ RP W ŚWINOUJŚCIU</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. MJR. HENRYKA SUCHARSKIEGO W ŚWINOUJŚCIU</li>
        <li>SZKOŁA PODSTAWOWA NR 4 Z ODDZIAŁAMI INTEGRACYJNYMI IM. KPT.Ż.W. MAMERTA STANKIEWICZA W ŚWINOUJŚCIU</li>
        <li>SZKOŁA PODSTAWOWA NR 6 IM. MIESZKA I W ŚWINOUJŚCIU</li>
        <li>SZKOŁA PODSTAWOWA NR 9 IM. JANA PAWŁA II</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA W SPECJALNYM OŚRODKU SZKOLNO-WYCHOWAWCZYM IM. MARII KONOPNICKIEJ W ŚWINOUJŚCIU</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSBIAJĄCA DO PRACY W SPECJALNYM OŚRODKU SZKOLNO-WYCHOWAWCZYM IM. MARII KONOPNICKIEJ W ŚWINOUJŚCIU</li>
        <li>SZKOLNE SCHRONISKO MŁODZIEŻOWE W ŚWINOUJŚCIU W CENTRUM EDUKACJI ZAWODOWEJ I TURYSTYKI</li>
        <li>TECHNIKUM MORSKIE W ŚWINOUJŚCIU</li>
        <li>TECHNIKUM ZAWODOWE NR 1W ŚWINOUJŚCIU W CENTRUM EDUKACJI ZAWODOWEJ I TURYSTYKI W ŚWINOUJŚCIU</li>
        <li>TECHNIKUM ZAWODOWE W ŚWINOUJŚCIU WOJEWÓDZKIEGO ZAKŁADU DOSKONALENIA ZAWODOWEGO W SZCZECINIE</li>
        <li>WOJEWÓDZKA SZKOŁA POLICEALNA W ŚWINOUJŚCIU</li>
        <li>WOJEWÓDZKIE TECHNIKUM DLA MŁODZIEŻY W ŚWINOUJŚCIU</li>
        <li>ZACHODNIOPOMORSKIE CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO W ŚWINOUJŚCIU</li>
        <li>ZESPÓŁ SZKÓŁ MORSKICH IM. EUGENIUSZA KWIATKOWSKIEGO W ŚWINOUJŚCIU</li>
        <li>ZESPÓŁ SZKÓŁ WOJEWÓDZKIEGO ZAKŁADU DOSKONALENIA ZAWODOWEGO W SZCZECINIE Z SIEDZIBĄ W ŚWINOUJŚCIU</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY ŚWINOUJŚCIU</li>

    </ul>
    <a href="ZACHODNIOPOMORSKIE.html">Back to Cities in ZACHODNIOPOMORSKIE</a>
</body>
</html>
