
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Suliszewo</title>
</head>
<body>
    <h1>Schools in Suliszewo</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA SPECJALNA</li>
        <li>PRZEDSZKOLE SPECJALNE SPECJALNY OŚRODEK SZKOLNO - WYCHOWAWCZY IM. KAWALERÓW ORDERU UŚMIECHU W SULISZEWIE</li>
        <li>PUNKT PRZEDSZKOLNY W SZKOLE PODSTAWOWEJ NR 1 W SULISZEWIE</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY IM. KAWALERÓW ORDERU UŚMIECHU W SULISZEWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. JANA BRZECHWY W SULISZEWIE</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 2</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY</li>

    </ul>
    <a href="ZACHODNIOPOMORSKIE.html">Back to Cities in ZACHODNIOPOMORSKIE</a>
</body>
</html>
