
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Sławoborze</title>
</head>
<body>
    <h1>Schools in Sławoborze</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA SPECJALNA W SŁAWOBORZU</li>
        <li>PRZEDSZKOLE SPECJALNE W SPECJALNYM OŚRODKU SZKOLNO - WYCHOWAWCZYM W SŁAWOBORZU</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 1 IM. TADEUSZA KOŚCIUSZKI</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY W SŁAWOBORZU</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 2 W SŁAWOBORZU</li>
        <li>SZKOŁA PRZYSPOSABIAJĄCA DO PRACY</li>
        <li>ZESPÓŁ PLACÓWEK SPECJALNYCH W SŁAWOBORZU</li>

    </ul>
    <a href="ZACHODNIOPOMORSKIE.html">Back to Cities in ZACHODNIOPOMORSKIE</a>
</body>
</html>
