
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Dołuje</title>
</head>
<body>
    <h1>Schools in Dołuje</h1>
    <ul>
        <li>PRZEDSZKOLE SŁONECZNY SAD</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA W DOŁUJACH</li>
        <li>PUNKT PRZEDSZKOLNY W PUBLICZNEJ SZKOLE PODSTAWOWEJ W DOŁUJACH</li>

    </ul>
    <a href="ZACHODNIOPOMORSKIE.html">Back to Cities in ZACHODNIOPOMORSKIE</a>
</body>
</html>
