
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Czaplinek</title>
</head>
<body>
    <h1>Schools in Czaplinek</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA IM. STEFANA CZARNIECKIEGO W CZAPLINKU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA SPECJALNA NR 1 W CZAPLINKU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA SPECJALNA NR 2 W CZAPLINKU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. 3 DYWIZJI STRZELCÓW KARPACKICH W CZAPLINKU</li>
        <li>MŁODZIEŻOWY OŚRODEK WYCHOWAWCZY W CZAPLINKU</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "JAŚ I MAŁGOSIA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "EDUKACJA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE BAJKOWO</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE SIÓSTR SALEZJANEK</li>
        <li>OŚRODEK REHABILITACYJNO-EDUKACYJNO-WYCHOWAWCZY "JAŚ I MAŁGOSIA" W CZAPLINKU</li>
        <li>OŚRODEK REHABILITACYJNO-EDUKACYJNO-WYCHOWAWCZY W CZAPLINKU</li>
        <li>PRYWATNA SZKOŁA POLICEALNA "EDUKACJA"</li>
        <li>PRYWATNE LICEUM OGÓLNOKSZTAŁCĄCE "EDUKACJA"</li>
        <li>PRZEDSZKOLE PUBLICZNE W CZAPLINKU</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA FILIA W CZAPLINKU</li>
        <li>SZKOŁA PODSTAWOWA W CZAPLINKU</li>
        <li>SZKOLNE SCHRONISKO MŁODZIEŻOWE</li>
        <li>TECHNIKUM W CZAPLINKU</li>
        <li>ZESPÓŁ SZKÓŁ W CZAPLINKU</li>

    </ul>
    <a href="ZACHODNIOPOMORSKIE.html">Back to Cities in ZACHODNIOPOMORSKIE</a>
</body>
</html>
