
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Stepnica</title>
</head>
<body>
    <h1>Schools in Stepnica</h1>
    <ul>
        <li>NIEPUBLICZNE PRZEDSZKOLE CIUCHCIA</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE W STEPNICY</li>
        <li>SZKOŁA PODSTAWOWA IM. KONSTANTEGO MACIEJEWICZA W STEPNICY</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY IM. KONSTANTEGO MACIEJEWICZA W STEPNICY</li>

    </ul>
    <a href="ZACHODNIOPOMORSKIE.html">Back to Cities in ZACHODNIOPOMORSKIE</a>
</body>
</html>
