
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Barwice</title>
</head>
<body>
    <h1>Schools in Barwice</h1>
    <ul>
        <li>NIEPUBLICZNE PRZEDSZKOLE ANGIELSKO-POLSKIE "HAPPY LAND"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "BAJKOWA KRAINA" KARBOWIAK, KURZEJEWSKA, RADZIEJEWSKA, ZOMMER SPÓŁKA JAWNA</li>
        <li>SZKOŁA PODSTAWOWA IM. PROF. WŁADYSŁAWA SZAFERA</li>

    </ul>
    <a href="ZACHODNIOPOMORSKIE.html">Back to Cities in ZACHODNIOPOMORSKIE</a>
</body>
</html>
