
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Iwięcino</title>
</head>
<body>
    <h1>Schools in Iwięcino</h1>
    <ul>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY POD KOGUCIKIEM</li>
        <li>SZKOŁA PODSTAWOWA W IWIĘCINIE</li>
        <li>SZKOLNE SCHRONISKO MŁODZIEŻOWE W IWIĘCINIE IM.KAZIMIERZA NOWAKA</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH IM. ALEKSANDRA DOBY W IWIĘCINIE</li>

    </ul>
    <a href="ZACHODNIOPOMORSKIE.html">Back to Cities in ZACHODNIOPOMORSKIE</a>
</body>
</html>
