
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Korlino</title>
</head>
<body>
    <h1>Schools in Korlino</h1>
    <ul>
        <li>SPOŁECZNA SZKOŁA PODSTAWOWA W KORLINIE</li>
        <li>SPOŁECZNE PRZEDSZKOLE W KORLINIE</li>
        <li>SZKOLNE SCHRONISKO MŁODZIEŻOWE W KORLINIE</li>
        <li>ZESPÓŁ SZKÓŁ SPOŁECZNYCH W KORLINIE</li>

    </ul>
    <a href="ZACHODNIOPOMORSKIE.html">Back to Cities in ZACHODNIOPOMORSKIE</a>
</body>
</html>
