
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Trzciniec</title>
</head>
<body>
    <h1>Schools in Trzciniec</h1>
    <ul>
        <li>BURSA TOWARZYSTWA SALEZJAŃSKIEGO</li>
        <li>SALEZJAŃSKI OŚRODEK WYCHOWAWCZY</li>
        <li>SPECJALNA SZKOŁA BRANŻOWA I STOPNIA TOWARZYSTWA SALEZJAŃSKIEGO IM.ŚW. JANA BOSKO W TRZCIŃCU</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA</li>

    </ul>
    <a href="ZACHODNIOPOMORSKIE.html">Back to Cities in ZACHODNIOPOMORSKIE</a>
</body>
</html>
