
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Police</title>
</head>
<body>
    <h1>Schools in Police</h1>
    <ul>
        <li>BAJKOWE PRZEDSZKOLE PUBLICZNE NR 8</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 1</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA SPECJALNA NR 2</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO W POLICACH</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO W POLICACH</li>
        <li>KADRY BEZ GRANIC</li>
        <li>LEŚNE PRZEDSZKOLE PUBLICZNE NR 6</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE NR 3 DLA DOROSŁYCH W POLICACH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE SPECJALNE NR II</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE SZKOŁA MISTRZOSTWA SPORTOWEGO Z ODDZIAŁAMI DWUJĘZYCZNYMI NR I</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY "URWISEK"</li>
        <li>OGNISKO PRZEDSZKOLNE TOWARZYSTWA PRZYJACIÓŁ DZIECI W POLICACH</li>
        <li>OŚRODEK SZKOLENIOWY FUNDACJI OŚRODEK DOSKONALENIA KADR W POLICACH</li>
        <li>POLICEALNA SZKOŁA SPECJALNA</li>
        <li>PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA W POLICACH</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 1 "CALINECZKA"</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 10</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 11</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 5 IM. WANDY CHOTOMSKIEJ</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 9 "TĘCZOWA KRAINA"</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY NR 1 DLA DZIECI NIEPEŁNOSPRAWNYCH RUCHOWO IM. MARII GRZEGORZEW</li>
        <li>SZKOŁA PODSTAWOWA MISTRZOSTWA SPORTOWEGO Z ODDZIAŁAMI DWUJĘZYCZNYMI NR 9</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. TADEUSZA KOŚCIUSZKI Z ODDZIAŁAMI DWUJĘZYCZNYMI I SPORTOWYMI</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. MARII SKŁODOWSKIEJ - CURIE Z ODDZIAŁAMI DWUJĘZYCZNYMI</li>
        <li>SZKOŁA PODSTAWOWA NR 5 IM. ORŁA BIAŁEGO Z ODDZIAŁAMI DWUJĘZYCZNYMI</li>
        <li>SZKOŁA PODSTAWOWA NR 6 Z ODDZIAŁAMI DWUJĘZYCZNYMI I PRZEDSZKOLNYMI</li>
        <li>SZKOŁA PODSTAWOWA NR 8 IM. JANA PAWŁA II Z ODDZIAŁAMI DWUJĘZYCZNYMI I SPORTOWYMI</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 10</li>
        <li>SZKOŁA POLICEALNA</li>
        <li>SZKOŁA POLICEALNA NR 3 W POLICACH</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY</li>
        <li>TECHNIKUM</li>
        <li>TOSCA PIERWSZA PRYWATNA SZKOŁA MUZYCZNA I ST. W POLICACH</li>
        <li>USŁUGI SZKOLENIOWO-HANDLOWE JB</li>
        <li>ZACHODNIOPOMORSKIE CENTRUM JĘZYKÓW OBCYCH "RAIN OR SHINE"</li>
        <li>ZESPÓŁ SZKÓŁ IM. IGNACEGO ŁUKASIEWICZA W POLICACH</li>

    </ul>
    <a href="ZACHODNIOPOMORSKIE.html">Back to Cities in ZACHODNIOPOMORSKIE</a>
</body>
</html>
