
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Karnice</title>
</head>
<body>
    <h1>Schools in Karnice</h1>
    <ul>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA IM. WISŁAWY SZYMBORSKIEJ</li>
        <li>PUBLICZNE SAMORZĄDOWE PRZEDSZKOLE</li>
        <li>ZESPÓŁ SZKÓŁ PUBLICZNYCH W KARNICACH</li>

    </ul>
    <a href="ZACHODNIOPOMORSKIE.html">Back to Cities in ZACHODNIOPOMORSKIE</a>
</body>
</html>
