
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Gryfino</title>
</head>
<body>
    <h1>Schools in Gryfino</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA IM. BOHATERÓW POWSTANIA WARSZAWSKIEGO</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO I PRAKTYCZNEGO W GRYFINIE</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE IM. ALEKSANDRA OMIECZYŃSKIEGO W GRYFINIE</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE IM. BOHATERÓW POWSTANIA WARSZAWSKIEGO</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH IM. BOHATERÓW POWSTANIA WARSZAWSKIEGO</li>
        <li>NIEPUBLICZNE INTEGRACYJNE PRZEDSZKOLE ISKIERKA Z ODDZIAŁAMI OGÓLNODOSTĘPNYMI I SPECJALNYMI</li>
        <li>OŚRODEK SZKOLENIA CRAFT ADRIAN HOŁOWNIA</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W GRYFINIE</li>
        <li>PRZEDSZKOLE NR 1 IM. KRASNALA HAŁABAŁY W GRYFINIE</li>
        <li>PRZEDSZKOLE NR 2 IM. MISIA USZATKA W GRYFINIE</li>
        <li>PRZEDSZKOLE NR 3 IM. KUBUSIA PUCHATKA W GRYFINIE</li>
        <li>PRZEDSZKOLE NR 4 Z ODDZIAŁAMI INTEGRACYJNYMI IM. PSZCZÓŁKI MAI W GRYFINIE</li>
        <li>PRZEDSZKOLE NR 5 IM. CALINECZKI W GRYFINIE</li>
        <li>SZKOŁA MUZYCZNA I STOPNIA W GRYFINIE</li>
        <li>SZKOŁA PODSTAWOWA NR 1 Z ODDZIAŁAMI INTEGRACYJNYMI IM. MARII DĄBROWSKIEJ W GRYFINIE</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. KPT.Ż.W. MAMERTA STANKIEWICZA W GRYFINIE</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. NOBLISTÓW POLSKICH W GRYFINIE</li>
        <li>TECHNIKUM IM. BOHATERÓW POWSTANIA WARSZAWSKIEGO</li>
        <li>ZESPÓŁ SZKÓŁ PONADPODSTAWOWYCH W GRYFINIE</li>

    </ul>
    <a href="ZACHODNIOPOMORSKIE.html">Back to Cities in ZACHODNIOPOMORSKIE</a>
</body>
</html>
