
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Mierzyn</title>
</head>
<body>
    <h1>Schools in Mierzyn</h1>
    <ul>
        <li>NIEPUBLICZNE PRZEDSZKOLE "MIERZYNKOWO"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE MONTESSORI</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY AKADEMIA WSZECHSTRONNEGO ROZWOJU REKIN W KRAWACIE</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY AKADEMII TWÓRCZEJ EDUKACJI "PSZCZÓŁKA"</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 1 W MIERZYNIE</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 2 W MIERZYNIE</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA IM. PRZYJACIÓŁ DZIECI W MIERZYNIE</li>
        <li>PUNKT PRZEDSZKOLNY AKADEMIA MALUCHA "JAGÓDKA"</li>
        <li>SENSORYCZNO-INTEGRACYJNY PUNKT PRZEDSZKOLNY PORANNA CHMURKA</li>
        <li>ZESPÓŁ PRZEDSZKOLI W MIERZYNIE</li>

    </ul>
    <a href="ZACHODNIOPOMORSKIE.html">Back to Cities in ZACHODNIOPOMORSKIE</a>
</body>
</html>
