
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Polanów</title>
</head>
<body>
    <h1>Schools in Polanów</h1>
    <ul>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W POLANOWIE</li>
        <li>MŁODZIEŻOWY OŚRODEK WYCHOWAWCZY W POLANOWIE</li>
        <li>PRZEDSZKOLE GMINNE W POLANOWIE</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA</li>
        <li>SZKOŁA PODSTAWOWA W POLANOWIE IM. DANUTY SIEDZIKÓWNY PS. INKA</li>
        <li>ZESPÓŁ SZKÓŁ PUBLICZNYCH W POLANOWIE</li>

    </ul>
    <a href="ZACHODNIOPOMORSKIE.html">Back to Cities in ZACHODNIOPOMORSKIE</a>
</body>
</html>
