
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Szczecin</title>
</head>
<body>
    <h1>Schools in Szczecin</h1>
    <ul>
        <li>"4 MIND"</li>
        <li>"AKTYWNE PRZEDSZKOLE KOGUT"</li>
        <li>"EUROPEJSKIE" PRYWATNE ZAOCZNE LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W SZCZECINIE</li>
        <li>"EXPERCIK - OSOWO" PUNKT PRZEDSZKOLNY</li>
        <li>"EXPERCIK - WARSZEWO" PUNKT PRZEDSZKOLNY</li>
        <li>"JESTEM I JA" NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA Z OŚRODKIEM ORIENTACJI ZAWODOWEJ "AKADEMOS"</li>
        <li>"KAM" SZKOLENIA ZAWODOWE</li>
        <li>"SEKA" S.A. ODDZIAŁ W SZCZECINIE</li>
        <li>"SZKOŁA Z PASJĄ" NIEPUBLICZNA SZKOŁA PODSTAWOWA</li>
        <li>"TECHNICZNO-EKONOMICZNY" - OŚRODEK DOKSZTAŁCANIA I DOSKONALENIA ZAWODOWEGO W SZCZECINIE</li>
        <li>"TĘCZOWA KRAINA" NIEPUBLICZNE PRZEDSZKOLE I ŚWIETLICA KREATYWNEGO ROZWOJU DZIECKA</li>
        <li>AKADEMIA PANA DROZDA</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA EUROSPEC W SZCZECINIE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 1</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 15 W OKRĘGOWYM OŚRODKU WYCHOWAWCZYM W SZCZECINIE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 2</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 3</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 4</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 5 W ZESPOLE SZKÓŁ RZEMIEŚLNICZYCH W SZCZECINIE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 8</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 9</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA TOWARZYSTWA SALEZJAŃSKIEGO W SZCZECINIE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA W SZCZECINIE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA WOJEWÓDZKIEGO ZAKŁADU DOSKONALENIA ZAWODOWEGO W SZCZECINIE</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA EUROSPEC W SZCZECINIE</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA NR 3 W SZCZECINIE</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA W SZCZECINIE W ZESPOLE SZKÓŁ RZEMIEŚLNICZYCH W SZCZECINIE</li>
        <li>BRANŻOWA SZKOŁA SPECJALNA I STOPNIA NR 10</li>
        <li>BRANŻOWA SZKOŁA SPECJALNA I STOPNIA NR 11</li>
        <li>BRANŻOWA SZKOŁA SPECJALNA I STOPNIA NR 12 IM. JANA PAWŁA II</li>
        <li>BRANŻOWA SZKOŁA SPECJALNA I STOPNIA NR 14</li>
        <li>BRANŻOWA SZKOŁA SPECJALNA II STOPNIA NR 2 W SZCZECINIE W SPECJALNYM OŚRODKU SZKOLNO-WYCHOWAWCZYM DLA DZIECI SŁABOSŁYSZĄCYCH IM. JULIANA TUWIMA W SZCZECINIE</li>
        <li>BRYTYJSKIE PRZEDSZKOLE MATEMATYCZNE "ZABAWA & MATEMATYKA - FUN & MATH"</li>
        <li>BURSA SZKOLNA FASE</li>
        <li>BURSA SZKOLNA INTEGRACYJNA</li>
        <li>BURSA TOWARZYSTWA SALEZJAŃSKIEGO</li>
        <li>CENTRUM DORADZTWA I KSZTAŁCENIA ARMADA S.C.</li>
        <li>CENTRUM EDUKACJI "SUKCES" - LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>CENTRUM EDUKACJI "ZDROJE"</li>
        <li>CENTRUM EDUKACJI BTC</li>
        <li>CENTRUM EDUKACYJNE OMNIBUS MAŁGORZATY STARZYŃSKIEJ</li>
        <li>CENTRUM KSZTAŁCENIA DENTAL SERVICE</li>
        <li>CENTRUM KSZTAŁCENIA FSNT NOT</li>
        <li>CENTRUM KSZTAŁCENIA PLEJADA MEDYCZNA SZKOŁA POLICEALNA W SZCZECINIE</li>
        <li>CENTRUM KSZTAŁCENIA PLEJADA SZKOŁA POLICEALNA NOVUM W SZCZECINIE</li>
        <li>CENTRUM KSZTAŁCENIA PLEJADA SZKOŁA POLICEALNA W SZCZECINIE</li>
        <li>CENTRUM KSZTAŁCENIA SPORTOWEGO</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO I PRAKTYCZNEGO IZBY RZEMIEŚLNICZEJ MAŁEJ I ŚREDNIEJ PRZEDSIĘBIORCZOŚCI</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO W SZCZECINIE</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO ALKON</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO NR 1 W SZCZECINIE</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO NR 2</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO NR 3</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO NR 4</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO NR 5</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO PRZY ZACHODNIOPOMORSKIEJ IZBIE RZEMIOSŁA I PRZEDSIĘBIORCZOŚCI W SZCZECINIE</li>
        <li>CENTRUM MISTRZOSTWA SPORTOWEGO</li>
        <li>CENTRUM PSYCHOLOGICZNO-PEDAGOGICZNE</li>
        <li>CENTRUM SZKOLENIA EFEKT ZOFIA TACZALSKA</li>
        <li>CENTRUM SZKOLENIA I DORADZTWA DELVE</li>
        <li>CENTRUM SZKOLENIA MORSKIEGO - ZENIT</li>
        <li>CENTRUM SZKOLENIOWE MONIKA GIELAR</li>
        <li>CUMA SZKOLNE SCHRONISKO MŁODZIEŻOWE</li>
        <li>DELTA - SZKOŁA BIZNESU</li>
        <li>DZIENNY OŚRODEK EDUKACYJNO - TERAPEUTYCZNY DLA DZIECI I MŁODZIEŻY Z AUTYZMEM "RAZEM"</li>
        <li>EDUPODOLOGIA.PL</li>
        <li>EUROPEJSKIE CENTRUM KSZTAŁCENIA</li>
        <li>FOKUS SZKOŁA JĘZYKÓW OBCYCH KRZYSZTOF SOBCZAK</li>
        <li>GUSTAW EDU</li>
        <li>HIPCIOWE PRZEDSZKOLE</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE IM. M. SKŁODOWSKIEJ CURIE</li>
        <li>I PRYWATNE LICEUM OGÓLNOKSZTAŁCĄCE W SZCZECINIE</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE IM. MIESZKA I</li>
        <li>II NIEPUBLICZNA PORADNIA KONSULTACYJNO-SZKOLENIOWA TERAPII MOWY I ALTERNATYWNEJ KOMUNIKACJI JĘZYKOWEJ PIKTOGRAMY</li>
        <li>III LICEUM OGÓLNOKSZTAŁCĄCE IM. MIKOŁAJA KOPERNIKA</li>
        <li>INSTYTUT KSZTAŁCENIA USTAWICZNEGO</li>
        <li>INTEGRACYJNE PRZEDSZKOLE NIEPUBLICZNE "AKADEMIA UŚMIECHU"</li>
        <li>INTEGRACYJNE PRZEDSZKOLE ZDROWIA</li>
        <li>INTEGRACYJNY PUNKT PRZEDSZKOLNY "DOM CHICHOTKA 2"</li>
        <li>INTEGRACYJNY PUNKT PRZEDSZKOLNY "DOM CHICHOTKA"</li>
        <li>INTEGRACYJNY PUNKT PRZEDSZKOLNY ISKIERKA</li>
        <li>IV LICEUM OGÓLNOKSZTAŁCĄCE IM. B. PRUSA</li>
        <li>IX LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI DWUJĘZYCZNYMI IM. BOHATERÓW MONTE CASSINO</li>
        <li>KAILEAN - PLACÓWKA DOSKONALENIA NAUCZYCIELI</li>
        <li>KATOLICKA SZKOŁA PODSTAWOWA IM. JANA PAWŁA II</li>
        <li>KATOLICKA SZKOŁA PODSTAWOWA IM. ŚWIĘTEJ RODZINY</li>
        <li>KATOLICKIE LICEUM OGÓLNOKSZTAŁCĄCE IM. ŚW. MAKSYMILIANA MARII KOLBEGO</li>
        <li>KATOLICKIE PRZEDSZKOLE "WOJTUŚ"</li>
        <li>KOLOROWE PRZEDSZKOLE MONTESSORI</li>
        <li>KREATYWNA SZKOŁA MONTESSORI W SZCZECINIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE "PROEDU"</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE "ZDROJE"</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DELTA W SZCZECINIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH "COSINUS PLUS" W SZCZECINIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH "K&K KULTURA KSZTAŁCENIA" W SZCZECINIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH "ŻAK" W SZCZECINIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH MENTOR</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. ŚW. JÓZEFA TOWARZYSTWA SALEZJAŃSKIEGO W SZCZECINIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. SYBIRAKÓW W SZCZECIŃSKIEJ SZKOLE FLORYSTYCZNEJ</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE MISTRZOSTWA SPORTOWEGO</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE SAIL INTERNATIONAL SCHOOL</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE SZCZECIŃSKIEJ FUNDACJI "TALENT-PROMOCJA-POSTĘP" W SZCZECINIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE TEB EDUKACJA DLA DOROSŁYCH W SZCZECINIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE TEB EDUKACJA W SZCZECINIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI INTEGRACYJNYMI</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI SPORTOWYMI</li>
        <li>MEDYCZNA SZKOŁA POLICEALNA</li>
        <li>MEDYCZNA SZKOŁA POLICEALNA "ZDROJE"</li>
        <li>MEDYCZNA SZKOŁA POLICEALNA II PRZY WYŻSZEJ SZKOLE EDUKACJI I TERAPII Z SIEDZIBĄ W POZNANIU WYDZIAŁ ZAMIEJSCOWY W SZCZECINIE</li>
        <li>MEDYCZNA SZKOŁA POLICEALNA TERAPII ZAJĘCIOWEJ W SZCZECINIE</li>
        <li>MIĘDZYSZKOLNY OŚRODEK SPORTOWY</li>
        <li>MŁODZIEŻOWY OŚRODEK SOCJOTERAPII IM. ŚW. BRATA ALBERTA</li>
        <li>MŁODZIEŻOWY OŚRODEK SOCJOTERAPII NR 1</li>
        <li>MŁODZIEŻOWY OŚRODEK SOCJOTERAPII NR 2</li>
        <li>MŁODZIEŻOWY OŚRODEK WYCHOWAWCZY IM. JANUSZA KORCZAKA</li>
        <li>NIEPUBLICZNA OGÓLNOKSZTAŁCĄCA SZKOŁA MUZYCZNA I STOPNIA PROMYK IM. IGNACEGO JANA PADEREWSKIEGO W SZCZECINIE</li>
        <li>NIEPUBLICZNA PLACÓWKA DOSKONALENIA NAUCZYCIELI"CENTRUM EDUKACJI NAUCZYCIELI W SZCZECINIE</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO FUNDACJI EDUKACJI STRZELECKIEJ I HISTORYCZNEJ "SEMPER PARATI"</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO ZWIĄZKU NAUCZYCIELSTWA POLSKIEGO W SZCZECINIE</li>
        <li>NIEPUBLICZNA PLACÓWKA OŚWIATOWO-WYCHOWAWCZA STUDIO TANECZNO-ARTYSTYCZNE "RYTMIX" SZCZECIN</li>
        <li>NIEPUBLICZNA PLACÓWKAOŚWIATOWO-WYCHOWAWCZA CENTRUM SPORTU "DINO" ADRIAN SZPAKOWSKI</li>
        <li>NIEPUBLICZNA PORADNIA KONSULTACYJNO-SZKOLENIOWA TERAPII MOWY I ALTERNATYWNEJ KOMUNIKACJI JĘZYKOWEJ "PIKTOGRAMY"</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA '"ZACZAROWANY OGRÓD"</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "KONICZYNKA" W SZCZECINIE</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA CARPE DIEM</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA ECO-KIDS</li>
        <li>NIEPUBLICZNA SPECJALISTYCZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "TĘCZA" W SZCZECINIE</li>
        <li>NIEPUBLICZNA SZKOŁA MUZYCZNA I STOPNIA MUZYCZNY PROMYK IM. IGNACEGO JANA PADEREWSKIEGO W SZCZECINIE</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA "DZIEŃDOBEREK"</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA LEGATO</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA PROMYK SZKOŁA JAK DOM Z ODDZIAŁAMI DWUJĘZYCZNYMI IM. IGNACEGO JANA PADEREWSKIEGO W SZCZECINIE</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA SPECJALNA "DOBRY START"</li>
        <li>NIEPUBLICZNA SZKOŁA POLICEALNA "COLLEGIUM MEDYCZNE MEDICA" W SZCZECINIE</li>
        <li>NIEPUBLICZNA SZKOŁA POLICEALNA TEB EDUKACJA W SZCZECINIE</li>
        <li>NIEPUBLICZNA ZAWODOWA SZKOŁA SZTUKI TAŃCA DANCE PASSION W SZCZECINIE</li>
        <li>NIEPUBLICZNE ARTYSTYCZNE PRZEDSZKOLE "LAS POGODNY'</li>
        <li>NIEPUBLICZNE INTEGRACYJNE "TĘCZOWE PRZEDSZKOLE MARII BIERNAT"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "BYSTRZAKI"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "DZIEŃDOBEREK"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "HIPCIO-MARYNARZY"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "KWIATUSZEK"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "MAŁE OMNIBUSKI"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "MALEŃKA KRAINA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "MALI ARTYŚCI"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "MISIOWE'</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "NIEZAPOMINAJKA" W SZCZECINIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "SŁONECZKO" TOWARZYSTWA PRZYJACIÓŁ DZIECI W SZCZECINIE UL. KOSYNIERÓW 16</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "SŁONECZKO" TOWARZYSTWA PRZYJACIÓŁ DZIECI W SZCZECINIE, OS. KASZTANOWE 85D/U3</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "SŁONECZKO" TOWARZYSTWA PRZYJACIÓŁ DZIECI W SZCZECINIE, UL. ZIEMOWITA 6</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "SŁONECZNY SAD"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "ZIELONA WYSPA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE ARTYSTYCZNO-JĘZYKOWE "TUPTUŚ"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE INTEGRACYJNE "FANTAZJA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE JĘZYKOWE "BUS"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE JĘZYKOWE "EXPERCIK-KRÓLEWICZA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE JĘZYKOWE "EXPERCIK-MĄDRA GŁÓWKA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE SPECJALNE "DZIEŃDOBEREK"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE SPECJALNE "SIÓDME NIEBO"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE SPECJALNE "TĘCZA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE STONOGA</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE STUMILOWY LAS</li>
        <li>NIEPUBLICZNY DZIENNY ORODEK REWALIDACYJNO-EDUKACYJNO-TERAPEUTYCZNY DLA DZIECI I MŁODZIEŻY "HARMONIA"</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY "ABC"</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY "ARKA NOEGO"</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY "LUCKY SURMAKI"</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY "NIEBIESKI KROKODYL"</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY "POD ANIOŁAMI.PL" EDUKACJA MONTESSORI</li>
        <li>NIEPUBLICZNY TERAPEUTYCZNY PUNKT PRZEDSZKOLNY DZIEŃDOBEREK</li>
        <li>OGNISKO PRACY POZASZKOLNEJ SZCZECIŃSKI CHÓR CHŁOPIĘCY "SŁOWIKI"</li>
        <li>OGÓLNOKSZTAŁCĄCA SZKOŁA MUZYCZNA I STOPNIA IM. PROF. MARKA JASIŃSKIEGO</li>
        <li>OŚRODEK BEZPIECZEŃSTWA I HIGIENY PRACY</li>
        <li>OŚRODEK DOSKONALENIA KADR SIMP</li>
        <li>OŚRODEK DOSKONALENIA NAUCZYCIELI</li>
        <li>OŚRODEK DOSKONALENIA NAUCZYCIELI DELTA W SZCZECINIE-JAROSŁAW JAŚKIEWICZ</li>
        <li>OŚRODEK DOSKONALENIA NAUCZYCIELI GLOKER</li>
        <li>OŚRODEK DOSKONALENIA NAUCZYCIELI WYŻSZEJ SZKOŁY HUMANISTYCZNEJ TWP W SZCZECINIE</li>
        <li>OŚRODEK EDUKACYJNY "MENTOR"</li>
        <li>OŚRODEK KSZTAŁCENIA USTAWICZNEGO ODDZIAŁU REGIONALNEGO TOWARZYSTWA WIEDZY POWSZECHNEJ</li>
        <li>OŚRODEK REHABILITACYJNO-EDUKACYJNO-WYCHOWAWCZY</li>
        <li>OŚRODEK SZKOLEŃ TURYSTYCZNYCH ZACHODNIOPOMORSKIEJ AGENCJI ROZWOJU TURYSTYKI</li>
        <li>OŚRODEK SZKOLENIA DELVE GT</li>
        <li>OŚRODEK SZKOLENIA MORSKIEGO NORTH</li>
        <li>OŚRODEK SZKOLENIA ZAWODOWEGO GOSPODARKI MORSKIEJ</li>
        <li>OŚRODEK SZKOLENIOWY "INBIT"</li>
        <li>OŚRODEK SZKOLENIOWY "INŻYNIERIA"</li>
        <li>OŚRODEK SZKOLENIOWY "MARITIME SAFETY & SECURITY"</li>
        <li>OŚRODEK SZKOLENIOWY "OSTIUM"</li>
        <li>OŚRODEK SZKOLENIOWY SZCZECIŃSKIEGO CENTRUM PRZEDSIĘBIORCZOŚCI</li>
        <li>OŚWIATA-EWIN</li>
        <li>PAŁAC MŁODZIEŻY - POMORSKIE CENTRUM EDUKACJI</li>
        <li>PAŃSTWOWA BURSA SZKÓŁ ARTYSTYCZNYCH W SZCZECINIE</li>
        <li>PAŃSTWOWA OGÓLNOKSZTAŁCĄCA SZKOŁA MUZYCZNA II ST. W SZCZECINIE</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I ST. W SZCZECINIE</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I STOPNIA IM. TADEUSZA SZELIGOWSKIEGO</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA II ST. W SZCZECINIE</li>
        <li>PAŃSTWOWE LICEUM SZTUK PLASTYCZNYCH IM. CONSTANTINA BRANCUSI W SZCZECINIE</li>
        <li>PAŃSTWOWE OGNISKO BALETOWE</li>
        <li>PIERWSZA NIEPUBLICZNA SZKOŁA POLICEALNA "COLLEGIUM MEDYCZNE MEDICA" W SZCZECINIE</li>
        <li>PIERWSZA SZKOŁA PODSTAWOWA MONTESSORI W SZCZECINIE</li>
        <li>PLACÓWKA KSZTAŁCENIA USTAWICZNEGO WOJEWÓDZKIEGO ZAKŁADU DOSKONALENIA ZAWODOWEGO W SZCZECINIE</li>
        <li>PLACÓWKA OŚWIATOWO-WYCHOWAWCZA "DOM HARCERZA"</li>
        <li>POGODNE PRZEDSZKOLE POLSKO-ANGIELSKIE Z ELEMENTAMI MONTESSORI</li>
        <li>POLICEALNA SZKOŁA MASAŻU TOWARZYSTWA WIEDZY POWSZECHNEJ W SZCZECINIE</li>
        <li>POLICEALNA SZKOŁA MORSKA W SZCZECINIE</li>
        <li>POLICEALNA SZKOŁA TEB EDUKACJA</li>
        <li>POLSKO-AMERYKAŃSKA PRYWATNA SZKOŁA PODSTAWOWA</li>
        <li>POLSKO-AMERYKAŃSKA PRYWATNA SZKOŁA PODSTAWOWA NR 1</li>
        <li>POMORSKA NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA GUSTAW SECURITAS SYSTEM W SZCZECINIE</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA NR 1</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA NR 2</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA NR 3</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA NR 4</li>
        <li>PRYWATNA OGÓLNOKSZTAŁCĄCA SZKOŁA MUZYCZNA I ST. LEONARDA PIWONI W SZCZECINIE</li>
        <li>PRYWATNA SZKOŁA MUZYCZNA I ST. ANIMATO W SZCZECINIE</li>
        <li>PRYWATNA SZKOŁA MUZYCZNA I ST. CANTILENA W SZCZECINIE</li>
        <li>PRYWATNA SZKOŁA PODSTAWOWA LEONARDA PIWONI</li>
        <li>PRYWATNE LICEUM OGÓLNOKSZTAŁCĄCE "MAXIMA"</li>
        <li>PRYWATNE LICEUM OGÓLNOKSZTAŁCĄCE "ZDROJE"</li>
        <li>PRYWATNE LICEUM OGÓLNOKSZTAŁCĄCE LEONARDO SVS</li>
        <li>PRYWATNE PRZEDSZKOLE NIEBORAKI</li>
        <li>PRYWATNE TECHNIKUM W SZCZECINIE</li>
        <li>PRZEDSZKOLE "BURSZTYNEK"</li>
        <li>PRZEDSZKOLE "JUTRZENKA" PREFERUJĄCE ZDROWY I POGODNY STYL ŻYCIA</li>
        <li>PRZEDSZKOLE "POD MUCHOMORKIEM"</li>
        <li>PRZEDSZKOLE "PRZYJACIELE"</li>
        <li>PRZEDSZKOLE "TAK"</li>
        <li>PRZEDSZKOLE "ZACZAROWANY OGRÓD" Z ODDZIAŁAMI INTEGRACYJNYMI</li>
        <li>PRZEDSZKOLE MONTESSORI HAPPY HOUSE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "AKADEMIA UŚMIECHU"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "GRYFIK"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "HAPPY ŚWIAT"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "INTERNATIONAL KINDERGARTEN OF SZCZECIN"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "KRAINA UŚMIECHU"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "KRASNAL"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "LIWENA"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "MAŁE OMNIBUSKI" PRZY C.E. OMNIBUS W SZCZECINIE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "NUTKA"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "PROMYK"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "TWÓRCZEJ AKTYWNOŚCI DZIECKA"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE ARTYSTYCZNO-JĘZYKOWE "NASZA BAJKA"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE ECO KIDS</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE JĘZYKOWO-MATEMATYCZNE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE KOLOROWE KREDKI</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE NORLANDIA</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE NUTKA PRZY UL. DUŃSKIEJ</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE SPORTOWO-JĘZYKOWE "ZIELONY MIŚ"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE TOWARZYSTWA WIEDZY POWSZECHNEJ ODDZIAŁ REGIONALNY W SZCZECINIE STREFA MALUCHA</li>
        <li>PRZEDSZKOLE PSZCZÓŁKA I SPÓŁKA</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 1</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 10</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 11</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 13</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 14</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 18</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 20</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 23</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 27</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 29</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 3</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 30</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 31</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 32</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 33</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 35</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 37</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 38</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 4</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 41</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 43</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 44</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 45</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 46</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 48</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 49</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 5</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 50</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 51</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 52</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 53</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 54</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 58</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 59</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 60</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 61</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 62</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 64</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 65</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 66</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 67</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 72</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 73</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 74</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 75</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 77</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 79</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 8</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 80</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 9</li>
        <li>PRZEDSZKOLE SPECJALNE TERAPEUTYCZNE "SENSE"</li>
        <li>PUBLICZNA KATOLICKA SZKOŁA PODSTAWOWA IM. ŚW. STANISŁAWA KOSTKI</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA "NA GŁĘBOKIEM"</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA SPECJALNA NR 25</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA SPECJALNA NR 52</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA SPECJALNA NR 67 IM. JANA BRZECHWY</li>
        <li>PUBLICZNE PRZEDSZKOLE SPECJALNE NR 21</li>
        <li>PUNKT PRZEDSZKOLNY "AKUKU"</li>
        <li>PUNKT PRZEDSZKOLNY "CORECTA"</li>
        <li>PUNKT PRZEDSZKOLNY "INSPIRACJA'</li>
        <li>PUNKT PRZEDSZKOLNY "PRZEDSZKOLANDIA"</li>
        <li>PUNKT PRZEDSZKOLNY "PTYŚ"</li>
        <li>PUNKT PRZEDSZKOLNY "SŁONECZNA DOLINA"</li>
        <li>PUNKT PRZEDSZKOLNY "ZACZAROWANY OGRÓD"</li>
        <li>PUNKT PRZEDSZKOLNY DZWONECZEK</li>
        <li>PUNKT PRZEDSZKOLNY JAGODOWY DZWONECZEK</li>
        <li>PUNKT PRZEDSZKOLNY SREBRNY DZWONECZEK</li>
        <li>PUNKT PRZEDSZKOLNY SZMARAGDOWY DZWONECZEK</li>
        <li>PUNKT PRZEDSZKOLNY ZIELONY DZWONECZEK</li>
        <li>PUNKT PRZEDSZKOLNY ZŁOTY DZWONECZEK</li>
        <li>SALON EDUKACYJNY EMPIRIA - OŚRODEK DOSKONALENIA NAUCZYCIELI</li>
        <li>SPECJALNA SZKOŁA PODSTAWOWA IM. ŚW. BRATA ALBERTA</li>
        <li>SPECJALNY DZIENNY OŚRODEK TERAPEUTYCZNO-EDUKACYJNY DLA DZIECI I MŁODZIEZY Z AUTYZMEM</li>
        <li>SPECJALNY OŚRODEK SZKOLNO - WYCHOWAWCZY DLA DZIECI SŁABO SŁYSZĄCYCH IM. JULIANA TUWIMA</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY NR 2 IM. CZESŁAWA PISKORSKIEGO</li>
        <li>SPOŁECZNA SZKOŁA MUZYCZNA I I II ST. W SZCZECINIE</li>
        <li>SPOŁECZNA SZKOŁA MUZYCZNA I ST. W SZCZECINIE</li>
        <li>SPOŁECZNA SZKOŁA MUZYCZNA II ST. W SZCZECINIE</li>
        <li>SPOŁECZNA SZKOŁA PODSTAWOWA NR 1 IM. NOBLISTÓW POLSKICH SPOŁECZNEGO TOWARZYSTWA OŚWIATOWEGO W SZCZECINIE</li>
        <li>SPORTOWA SZKOŁA PODSTAWOWA</li>
        <li>SPORTOWA SZKOŁA PODSTAWOWA NR 2</li>
        <li>ŚRODOWISKOWA PLACÓWKA EDUKACYJNO-WYCHOWAWCZA NR 1</li>
        <li>STOWARZYSZENIE KSIĘGOWYCH W POLSCE NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO ODDZIAŁU OKRĘGOWEGO W SZCZECINIE</li>
        <li>SZCZECIN INTERNATIONAL SCHOOL - LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>SZCZECIN INTERNATIONAL SCHOOL - SZKOŁA PODSTAWOWA</li>
        <li>SZCZECIŃSKA SZKOŁA FLORYSTYCZNA - SZKOŁA POLICEALNA</li>
        <li>SZCZECIŃSKA SZKOŁA WITRUWIAŃSKA SVS</li>
        <li>SZKOŁA BRANŻOWA I STOPNIA COSINUS W SZCZECINIE</li>
        <li>SZKOŁA JĘZYKÓW OBCYCH UŚCINOWICZ</li>
        <li>SZKOŁA MATEMATYKI DLA DZIECI I MŁODZIEŻY 2 PLUS 2</li>
        <li>SZKOŁA MISTRZOSTWA SPORTOWEGO FOOTBALL ACADEMY SCHOOL OF EXCELLENCE LICEUM</li>
        <li>SZKOŁA MUZYCZNA I ST. PRZYBOROWSKICH W SZCZECINIE</li>
        <li>SZKOŁA PIŁKI NOŻNEJ FDS</li>
        <li>SZKOŁA PODSTAWOWA "CAROLUS" IM. BŁ. KAROLA HABSBURGA</li>
        <li>SZKOŁA PODSTAWOWA "ODKRYWCY"</li>
        <li>SZKOŁA PODSTAWOWA "SŁONECZNA"</li>
        <li>SZKOŁA PODSTAWOWA "TAK"</li>
        <li>SZKOŁA PODSTAWOWA DLA DOROSŁYCH</li>
        <li>SZKOŁA PODSTAWOWA DLA DOROSŁYCH MENTOR</li>
        <li>SZKOŁA PODSTAWOWA DLA DOROSŁYCH NR 4 IM. EDUKACJI NARODOWEJ</li>
        <li>SZKOŁA PODSTAWOWA MISTRZOSTWA SPORTOWEGO FOOTBALL ACADEMY SCHOOL OF EXCELLENCE</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. BOLESŁAWA CHROBREGO</li>
        <li>SZKOŁA PODSTAWOWA NR 10 IM. LEONIDA TELIGI</li>
        <li>SZKOŁA PODSTAWOWA NR 11 IM. UNICEF-U W SZCZECINIE</li>
        <li>SZKOŁA PODSTAWOWA NR 12 IM. K. I. GAŁCZYŃSKIEGO W SZCZECINIE</li>
        <li>SZKOŁA PODSTAWOWA NR 13 IM. ORLĄT LWOWSKICH</li>
        <li>SZKOŁA PODSTAWOWA NR 14 W SZCZECINIE IM. DANUTY SZYKSZNIAN</li>
        <li>SZKOŁA PODSTAWOWA NR 15</li>
        <li>SZKOŁA PODSTAWOWA NR 16 IM. SZCZECIŃSKICH OLIMPIJCZYKÓW W SZCZECINIE</li>
        <li>SZKOŁA PODSTAWOWA NR 18 IM. GEN. JÓZEFA BEMA</li>
        <li>SZKOŁA PODSTAWOWA NR 2 Z ODDZIAŁAMI DWUJĘZYCZNYMI</li>
        <li>SZKOŁA PODSTAWOWA NR 20 IM. KS. JANA TWARDOWSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 21 Z ODDZIAŁAMI INTEGRACYJNYMI W SZCZECINIE</li>
        <li>SZKOŁA PODSTAWOWA NR 23 IM. MARIUSZA ZARUSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 24 IM. JANA BRZECHWY W SZCZECINIE</li>
        <li>SZKOŁA PODSTAWOWA NR 28 IM. BOLESŁAWA CZWÓJDZIŃSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. JULIUSZA SŁOWACKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 33 IM. OSADNIKÓW WOJSKOWYCH I PIONIERÓW ZIEMI SZCZECIŃSKIEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 35 IM. JANA PAWŁA II W SZCZECINIE</li>
        <li>SZKOŁA PODSTAWOWA NR 37 IM. KPT. Ż. W. ANTONIEGO LEDÓCHOWSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 39 IM. ARKADEGO FIEDLERA W SZCZECINIE</li>
        <li>SZKOŁA PODSTAWOWA NR 41 Z ODDZIAŁAMI INTEGRACYJNYMI IM. MAKSYMILIANA GOLISZA</li>
        <li>SZKOŁA PODSTAWOWA NR 42 IM. STEFANII SEMPOŁOWSKIEJ W SZCZECINIE</li>
        <li>SZKOŁA PODSTAWOWA NR 44 IM. PPOR. EMILII GIERCZAK W SZCZECINIE</li>
        <li>SZKOŁA PODSTAWOWA NR 45 Z ODDZIAŁAMI INTEGRACYJNYMI IM. KS. JANA TWARDOWSKIEGO W SZCZECINIE</li>
        <li>SZKOŁA PODSTAWOWA NR 46 W SZCZECINIE</li>
        <li>SZKOŁA PODSTAWOWA NR 47 IM. K. MAKUSZYŃSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 48 IM. KAWALERÓW ORDERU UŚMIECHU W SZCZECINIE</li>
        <li>SZKOŁA PODSTAWOWA NR 5 IM. HENRYKA SIENKIEWICZA</li>
        <li>SZKOŁA PODSTAWOWA NR 51 IM. PROF. STANISŁAWA HELSZTYŃSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 53 IM. FRYDERYKA CHOPINA W SZCZECINIE</li>
        <li>SZKOŁA PODSTAWOWA NR 54 IM. JANUSZA KORCZAKA</li>
        <li>SZKOŁA PODSTAWOWA NR 55</li>
        <li>SZKOŁA PODSTAWOWA NR 56 IM. KPT. Ż. W. KONSTANTEGO MACIEJEWICZA</li>
        <li>SZKOŁA PODSTAWOWA NR 59 IM. BOLESŁAWA KRZYWOUSTEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 6</li>
        <li>SZKOŁA PODSTAWOWA NR 61 IM. MICHAŁA KMIECIKA</li>
        <li>SZKOŁA PODSTAWOWA NR 63 Z ODDZIAŁAMI INTEGRACYJNYMI IM. ZWIĄZKU ZAWODOWEGO MARYNARZY I PORTOWCÓW</li>
        <li>SZKOŁA PODSTAWOWA NR 65 IM. PROF. ANTONIEGO BOLESŁAWA DOBROWOLSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 68 IM. 12 PUŁKU UŁANÓW PODOLSKICH</li>
        <li>SZKOŁA PODSTAWOWA NR 69 IM. MJRA H. SUCHARSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 7 W SZCZECINIE IM. HELENY RASZKI</li>
        <li>SZKOŁA PODSTAWOWA NR 71 IM. BOGUSŁAWA X I ANNY JAGIELLONKI</li>
        <li>SZKOŁA PODSTAWOWA NR 74 IM. STANISŁAWA GROŃSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 75 W OKRĘGOWYM OŚRODKU WYCHOWAWCZYM W SZCZECINIE</li>
        <li>SZKOŁA PODSTAWOWA NR 8 IM. MŁODYCH EUROPEJCZYKÓW W SZCZECINIE</li>
        <li>SZKOŁA PODSTAWOWA NR 9 IM. KMDRA PPOR. J. GRUDZIŃSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA PRZY I PRYWATNYM LICEUM OGÓLNOKSZTAŁCĄCYM</li>
        <li>SZKOŁA PODSTAWOWA SAIL INTERNATIONAL SCHOOL</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 17</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 19</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 26</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 30</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 31</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 4</li>
        <li>SZKOŁA PODSTAWOWA SZCZECIŃSKIEJ FUNDACJI TALENT-PROMOCJA-POSTĘP</li>
        <li>SZKOŁA PODSTAWOWA TOWARZYSTWA SALEZJAŃSKIEGO IM. ŚW. JÓZEFA W SZCZECINIE</li>
        <li>SZKOŁA POLICEALNA "COSINUS I" W SZCZECINIE</li>
        <li>SZKOŁA POLICEALNA "COSINUS PLUS" W SZCZECINIE</li>
        <li>SZKOŁA POLICEALNA "PROEDU"</li>
        <li>SZKOŁA POLICEALNA "ZDROJE"</li>
        <li>SZKOŁA POLICEALNA CENTRUM NAUKI I BIZNESU "ŻAK"</li>
        <li>SZKOŁA POLICEALNA MEDYCZNA "ŻAK" W SZCZECINIE</li>
        <li>SZKOŁA POLICEALNA NR 1</li>
        <li>SZKOŁA POLICEALNA OPIEKI MEDYCZNEJ "ŻAK" W SZCZECINIE</li>
        <li>SZKOŁA POLICEALNA PRAWNO-ADMINISTRACYJNA "ŻAK"</li>
        <li>SZKOŁA POLICEALNA PRZY CENTRUM EDUKACYJNYM "OMNIBUS"</li>
        <li>SZKOŁA POLICEALNA USŁUG KOSMETYCZNYCH "ŻAK"</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY NR 1</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY NR 2 W SPECJALNYM OŚRODKU SZKOLNO-WYCHOWAWCZYM NR 2</li>
        <li>SZKOLNE SCHRONISKO MŁODZIEŻOWE NR 4 PRZY SZKOLE PODSTAWOWEJ NR 74</li>
        <li>SZKOŁY ARTYSTYCZNE TOP-ART POLICEALNE STUDIUM PLASTYCZNE</li>
        <li>TARGET TRAINING - CENTRUM SZKOLEŃ BRANŻY OCHRONY I ZABEZPIECZEŃ TECHNICZNYCH</li>
        <li>TEB EDUKACJA STUDIUM KSZTAŁCENIA USTAWICZNEGO W SZCZECINIE</li>
        <li>TECHNIKUM DELTA</li>
        <li>TECHNIKUM EKONOMICZNE IM. ROTMISTRZA WITOLDA PILECKIEGO</li>
        <li>TECHNIKUM ELEKTRYCZNO-ELEKTRONICZNE</li>
        <li>TECHNIKUM ENERGETYCZNO-TRANSPORTOWE</li>
        <li>TECHNIKUM FRYZJERSKIE OMNIA</li>
        <li>TECHNIKUM GASTRONOMICZNO-HOTELARSKIE</li>
        <li>TECHNIKUM INFORMATYCZNE "SCI"</li>
        <li>TECHNIKUM KREATYWNE</li>
        <li>TECHNIKUM KSZTAŁTOWANIA ŚRODOWISKA</li>
        <li>TECHNIKUM ŁĄCZNOŚCI I MULTIMEDIÓW CYFROWYCH W SZCZECINIE</li>
        <li>TECHNIKUM ORGANIZACJI I ZARZĄDZANIA</li>
        <li>TECHNIKUM SAMOCHODOWE</li>
        <li>TECHNIKUM TEB EDUKACJA W SZCZECINIE</li>
        <li>TECHNIKUM TECHNOLOGII CYFROWYCH W SZCZECINIE</li>
        <li>TECHNIKUM W SZCZECINIE</li>
        <li>TECHNIKUM ZAWODOWE "ZDROJE"</li>
        <li>TECHNIKUM ZAWODOWE NR 1</li>
        <li>TERAPEUTYCZNA SZKOŁA PODSTAWOWA SPECJALNA SENSE W SZCZECINIE</li>
        <li>TERAPEUTYCZNY PUNKT PRZEDSZKOLNY "AKADEMIA SŁONIA TRĄBALSKIEGO"</li>
        <li>V LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI DWUJĘZYCZNYMI IM. ADAMA ASNYKA</li>
        <li>VI LICEUM OGÓLNOKSZTAŁCĄCE IM. STEFANA CZARNIECKIEGO</li>
        <li>VII LICEUM OGÓLNOKSZTAŁCĄCE IM. K.K. BACZYŃSKIEGO</li>
        <li>VIII LICEUM OGÓLNOKSZTAŁCĄCE IM. OLIMPIJCZYKÓW POLSKICH</li>
        <li>VIMAG MANAGEMENT INSTITUTE (VMI)</li>
        <li>VULCAN MARINE</li>
        <li>WOJEWÓDZKA SZKOŁA POLICEALNA W SZCZECINIE</li>
        <li>WOJEWÓDZKI KLUB TECHNIKI I RACJONALIZACJI - PLACÓWKA SZKOLENIOWA</li>
        <li>WOJEWÓDZKIE CENTRUM KSZTAŁCENIA USTAWICZNEGO W SZCZECINIE</li>
        <li>WOJSKOWE TECHNIKUM INFORMATYCZNE IM. GEN. JÓZEFA HALLERA</li>
        <li>XI LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI DWUJĘZYCZNYMI</li>
        <li>XII LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>XIII LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>XIV LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI DWUJĘZYCZNYMI</li>
        <li>XVI LICEUM OGÓLNOKSZTAŁCĄCE W SZCZECINIE</li>
        <li>XVIII LICEUM OGÓLNOKSZTAŁCĄCE IM. JÓZEFA WYBICKIEGO</li>
        <li>XXIV LICEUM OGÓLNOKSZTAŁCĄCE SPECJALNE</li>
        <li>XXVI LICEUM OGÓLNOKSZTAŁCĄCE DLA SŁABO SŁYSZĄCYCH</li>
        <li>ZACHODNIOPOMORSKI INSTYTUT BEZPIECZEŃSTWA I OCHRONY</li>
        <li>ZACHODNIOPOMORSKI OŚRODEK EDUKACYJNO - SZKOLENIOWY TOWARZYSTWA PRZYJACIÓŁ DZIECI</li>
        <li>ZACHODNIOPOMORSKIE CENTRUM DOSKONALENIA NAUCZYCIELI</li>
        <li>ZACHODNIOPOMORSKIE CENTRUM EDUKACJI MORSKIEJ I POLITECHNICZNEJ</li>
        <li>ZACHODNIOPOMORSKIE CENTRUM EDUKACJI MORSKIEJ I POLITECHNICZNEJ LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH NR 2 W SZCZECINIE, UL. HOŻA 6</li>
        <li>ZACHODNIOPOMORSKIE CENTRUM EDUKACJI MORSKIEJ I POLITECHNICZNEJ TECHNIKUM MORSKIE I POLITECHNICZNE W SZCZECINIE, UL. HOŻA 6</li>
        <li>ZACHODNIOPOMORSKIE CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO W SZCZECINIE</li>
        <li>ZAOCZNA SZKOŁA PODSTAWOWA W SZCZECINIE</li>
        <li>ZDROWE PRZEDSZKOLE</li>
        <li>ZESPÓŁ PAŃSTWOWYCH SZKÓŁ MUZYCZNYCH IM. FELIKSA NOWOWIEJSKIEGO W SZCZECINIE</li>
        <li>ZESPÓŁ SZKÓŁ BUDOWLANYCH IM. KAZIMIERZA WIELKIEGO</li>
        <li>ZESPÓŁ SZKÓŁ CENTRUM KSZTAŁCENIA ROLNICZEGO W SZCZECINIE</li>
        <li>ZESPÓŁ SZKÓŁ ELEKTRYCZNO-ELEKTRONICZNYCH IM. PROF. M.T. HUBERA</li>
        <li>ZESPÓŁ SZKÓŁ NR 2 IM. WŁADYSŁAWA ORKANA</li>
        <li>ZESPÓŁ SZKÓŁ NR 4 IM. ARMII KRAJOWEJ</li>
        <li>ZESPÓŁ SZKÓŁ NR 6 IM. MIKOŁAJA REJA</li>
        <li>ZESPÓŁ SZKÓŁ NR 8 IM. STANISŁAWA STASZICA</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH NR 4</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH NR 7</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH NR 9</li>
        <li>ZESPÓŁ SZKÓŁ RZEMIEŚLNICZYCH</li>
        <li>ZESPÓŁ SZKÓŁ SAMOCHODOWYCH</li>
        <li>ZESPÓŁ SZKÓŁ SPECJALNYCH NR 1 W SZCZECINIE</li>
        <li>ZESPÓŁ SZKÓŁ SPORTOWYCH IM. SPORTOWCÓW ZIEMI SZCZECIŃSKIEJ</li>
        <li>ZESPÓŁ SZKÓŁ SZCZECIN INTERNATIONAL SCHOOL</li>
        <li>ZESPÓŁ SZKÓŁ SZCZECIŃSKIEJ FUNDACJI TALENT-PROMOCJA-POSTĘP</li>
        <li>ZESPÓŁ SZKÓŁ SZPITALNYCH</li>
        <li>ZESPÓŁ SZKÓŁ TOWARZYSTWA SALEZJAŃSKIEGO</li>

    </ul>
    <a href="ZACHODNIOPOMORSKIE.html">Back to Cities in ZACHODNIOPOMORSKIE</a>
</body>
</html>
