
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Bierzwnik</title>
</head>
<body>
    <h1>Schools in Bierzwnik</h1>
    <ul>
        <li>PRZEDSZKOLE IM. DZIEDZICTWA CYSTERSÓW BIERZWNICKICH W BIERZWNIKU</li>
        <li>SZKOŁA PODSTAWOWA IM. DZIEDZICTWA CYSTERSÓW BIERZWNICKICH W BIERZWNIKU</li>
        <li>ZESPÓŁ SZKOLNO- PRZEDSZKOLNY IM. DZIEDZICTWA CYSTERSÓW BIERZWNICKICH W BIERZWNIKU</li>

    </ul>
    <a href="ZACHODNIOPOMORSKIE.html">Back to Cities in ZACHODNIOPOMORSKIE</a>
</body>
</html>
