
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Biały Bór</title>
</head>
<body>
    <h1>Schools in Biały Bór</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W ZESPOLE SZKÓŁ NR 7 W BIAŁYM BORZE</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE IM. TARASA SZEWCZENKI W BIAŁYM BORZE</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE W ZESPOLE SZKÓŁ NR 7 W BIAŁYM BORZE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W ZESPOLE SZKÓŁ NR 7 W BIAŁYM BORZE</li>
        <li>PRZEDSZKOLE MIEJSKIE</li>
        <li>SZKOŁA PODSTAWOWA NR 1 W BIAŁYM BORZE</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM.TARASA SZEWCZENKI W BIAŁYM BORZE</li>
        <li>SZKOLNE SCHRONISKO MŁODZIEŻOWE "OSKAR"</li>
        <li>TECHNIKUM ZAWODOWE W ZESPOLE SZKÓŁ NR 7 W BIAŁYM BORZE</li>
        <li>ZESPÓŁ SZKÓŁ NR 1 IM. HENRYKA SIENKIEWISZA W BIAŁYM BORZE</li>
        <li>ZESPÓŁ SZKÓŁ NR 7 W BIAŁYM BORZE</li>

    </ul>
    <a href="ZACHODNIOPOMORSKIE.html">Back to Cities in ZACHODNIOPOMORSKIE</a>
</body>
</html>
