
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Dębno</title>
</head>
<body>
    <h1>Schools in Dębno</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO ARTGRAF BHP HENRYK MARCHLEWICZ NIEPUBLICZNA PLACÓWKA OŚWIATOWA</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO W DĘBNIE</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W ZESPOLE SZKÓŁ STOWARZYSZENIA OŚWIATOWEGO W DĘBNIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE TOWARZYSTWA SALEZJAŃSKIEGO IM.ŚW. JANA BOSKO</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W DĘBNIE</li>
        <li>PRZEDSZKOLE NR 1 "CZARODZIEJSKA KRAINA" W DEBNIE</li>
        <li>PRZEDSZKOLE NR 2 IM. STANISŁAWY MODRZEJEWSKIEJ W DĘBNIE</li>
        <li>PRZEDSZKOLE SPECJALNE TOWARZYSTWA SALEZJAŃSKIEGO IM. ŚW. JANA BOSKO</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. KOMISJI EDUKACJI NARODOWEJ W DĘBNIE</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. ARKADEGO FIEDLERA W DĘBNIE</li>
        <li>SZKOŁA PODSTAWOWA NR3 IM. JAROSŁAWA DĄBROWSKIEGO W DĘBNIE</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA TOWARZYSTWA SALEZJAŃSKIEGO IM. ŚW. JANA BOSKO</li>
        <li>SZKOŁA PODSTAWOWA STOWARZYSZENIA OŚWIATOWEGO IM. IGNACEGO ŁUKASIEWICZA W DĘBNIE</li>
        <li>SZKOŁA POLICEALNA W ZESPOLE SZKÓŁ NR 1 IM. JULIUSZA SŁOWACKIEGO W DĘBNIE</li>
        <li>TECHNIKUM NR 1</li>
        <li>ZESPÓŁ SZKÓŁ NR 1 IM. JULIUSZA SŁOWACKIEGO W DĘBNIE</li>
        <li>ZESPÓŁ SZKÓŁ STOWARZYSZENIA OŚWIATOWEGO IM. IGNACEGO ŁUKASIEWICZA W DĘBNIE</li>

    </ul>
    <a href="ZACHODNIOPOMORSKIE.html">Back to Cities in ZACHODNIOPOMORSKIE</a>
</body>
</html>
