
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Tymień</title>
</head>
<body>
    <h1>Schools in Tymień</h1>
    <ul>
        <li>PUNKT PRZEDSZKOLNY PRZY SZKOLE PODSTAWOWEJ IM. KARDYNAŁA IGNACEGO JEŻA W TYMIENIU</li>
        <li>SZKOŁA PODSTAWOWA IM. KARDYNAŁA IGNACEGO JEŻA W TYMIENIU</li>

    </ul>
    <a href="ZACHODNIOPOMORSKIE.html">Back to Cities in ZACHODNIOPOMORSKIE</a>
</body>
</html>
