
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Szczecinek</title>
</head>
<body>
    <h1>Schools in Szczecinek</h1>
    <ul>
        <li>BLUE HOUSE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 1 W ZESPOLE SZKÓŁ TECHNICZNYCH W SZCZECINKU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 2 Z ODDZIAŁAMI INTEGRACYJNYMI W ZESPOLE SZKÓŁ NR 2 IM. KS. WARCISŁAWA IV W SZCZECINKU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 4 W ZESPOLE SZKÓŁ NR 6 IM. ST. STASZICA W SZCZECINKU</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA NR 1 W ZESPOLE SZKÓŁ TECHNICZNYCH W SZCZECINKU</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA NR 2 W ZESPOLE SZKÓŁ NR 2 IM. KS. WARCISŁAWA IV W SZCZECINKU</li>
        <li>BURSA IM. ŚW. STANISŁAWA KOSTKI</li>
        <li>BURSA SZKOLNA NR 2 W SZCZECINKU</li>
        <li>CENTRUM EDUKACJI EKOLOGICZNEJ I REWITALIZACJI JEZIOR - ZESPÓŁ PLACÓWEK OŚWIATOWYCH</li>
        <li>CENTRUM KSZTAŁCENIA TERAPEUTÓW CLINICUS</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO W ZESPOLE SZKÓŁ NR 2 IM. KS. WARCISŁAWA IV W SZCZECINKU</li>
        <li>CENTRUM SZKOLEŃ "ERGON PLUS" W SZCZECINKU</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W ZESPOLE SZKÓŁ NR 2 IM. KS. WARCISŁAWA IV W SZCZECINKU</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE IM. KS. ELŻBIETY W SZCZECINKU</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W ZESPOLE SZKÓŁ TECHNICZNYCH W SZCZECINKU</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE W ZESPOLE SZKÓŁ NR 1 IM. KOMISJI EDUKACJI NARODOWEJ W SZCZECINKU</li>
        <li>INSTYTUT EDUKACJI SPOŁECZNEJ LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W SZCZECINKU</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "JAŚ I MAŁGOSIA"</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA CENTRUM WSPIERANIA ROZWOJU I REHABILITACJI</li>
        <li>NIEPUBLICZNA SPECJALISTYCZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "CENTRUM WSPIERANIA ROZWOJU CZŁOWIEKA"</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA SPECJALNA IM. IVARA LOVAASA W SZCZECINKU</li>
        <li>NIEPUBLICZNE CENTRUM KSZTAŁCENIA USTAWICZNEGO W SZCZECINKU</li>
        <li>NIEPUBLICZNE JĘZYKOWE PRZEDSZKOLE MONTESSORI SZCZECINEK</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "KREDKA" D. RUMIŃSKI, A. WOŁYŃSKA S.C.</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE I ŻŁOBEK ZACZAROWANY OGRÓD</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE JĘZYKOWO-ARTYSTYCZNE "BAJKOWA KRAINA"</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY "SMERF"</li>
        <li>OŚRODEK REHABILITACYJNO-EDUKACYJNO-WYCHOWAWCZY "JAŚ I MAŁGOSIA"</li>
        <li>OŚRODEK REHABILITACYJNO-EDUKACYJNO-WYCHOWAWCZY NR 2</li>
        <li>OŚRODEK REHABILITACYJNO-EDUKACYJNO-WYCHOWAWCZY W SZCZECINKU</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I I II STOPNIA IM. OSKARA KOLBERGA W SZCZECINKU</li>
        <li>POLICEALNE STUDIUM ZAWODOWE INSTYTUT ADMINISTRACJI W SZCZECINKU</li>
        <li>POLICEALNE STUDIUM ZAWODOWE INSTYTUT EKONOMII W SZCZECINKU</li>
        <li>POLICEALNE STUDIUM ZAWODOWE INSTYTUT INFORMATYCZNY W SZCZECINKU</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W SZCZECINKU</li>
        <li>POZASZKOLNA PLACÓWKA SPECJALISTYCZNA CENTRUM EDUKACJI EKOLOGICZNEJ I REWITALIZACJI JEZIOR W SZCZECINKU</li>
        <li>PRYWATNA SZKOŁA PODSTAWOWA DLA DOROSŁYCH W SZCZECINKU</li>
        <li>PRYWATNA SZKOŁA PODSTAWOWA W SZCZECINKU</li>
        <li>PRYWATNA SZKOŁA POLICEALNA W SZCZECINKU</li>
        <li>PRYWATNE LICEUM OGÓLNOKSZTAŁCĄCE DLA MŁODZIEŻY W SZCZECINKU</li>
        <li>PRYWATNE LICEUM OGÓLNOKSZTAŁCĄCE W SZCZECINKU</li>
        <li>PRYWATNE LICEUM OGÓLNOKSZTAŁCĄCE ZAOCZNE DLA DOROSŁYCH W SZCZECINKU</li>
        <li>PRZEDSZKOLE ANGLOJĘZYCZNE 4KIDS</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "KRASNOLUDEK" E. KWAK, M. SMUKOWSKA S.C.</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "LEŚNA POLANA"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "MIŚ" B.KAWCZYŃSKA, M. WIÓREK S.C.</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "NUTKA" ALINA ZAGÓRSKA, KLAUDYNA ZAGÓRSKA SPÓŁKA CYWILNA</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "SŁONECZKO" JOLANTA JANCZUREWICZ, KRZYSZTOF JANCZUREWICZ S.C.</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "U CIOCI GOSI" M.KOZAKIEWICZ, B.KWIATKOWSKA S.C.</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE EDUKOLAND ALEKSANDRA KRAWCZYK</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE I ŻŁOBEK "BAJKA" D. WIŚNIEWSKA, D. WĘDRYCHOWICZ S.C.</li>
        <li>PRZEDSZKOLE PUBLICZNE IM. KORNELA MAKUSZYŃSKIEGO</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY IM. JANA BRZECHWY W SZCZECINKU</li>
        <li>SPOŁECZNA SZKOŁA PODSTAWOWA STO</li>
        <li>SPOŁECZNE LICEUM OGÓLNOKSZTAŁCĄCE SPOŁECZNEGO TOWARZYSTWA OŚWIATOWEGO W SZCZECINKU</li>
        <li>SZKOŁA MUZYCZNA I ST. W SZCZECINKU</li>
        <li>SZKOŁA MUZYCZNA II ST. W SZCZECINKU</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. ADAMA MICKIEWICZA</li>
        <li>SZKOŁA PODSTAWOWA NR 4 IM. ARMII KRAJOWEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 5 IM. JANA III SOBIESKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 6 IM. ZDOBYWCÓW WAŁU POMORSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 7 IM. NOBLISTÓW POLSKICH</li>
        <li>SZKOŁA PODSTAWOWA PRZY PRYWATNYM LICEUM OGÓLNOKSZTAŁCĄCYM W SZCZECINKU</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 8 W SPECJALNYM OŚRODKU SZKOLNO-WYCHOWAWCZYM IM. JANA BRZECHWY W SZCZECINKU</li>
        <li>SZKOŁA POLICEALNA NR 1 W ZESPOLE SZKÓŁ NR 1 IM. KOMISJI EDUKACJI NARODOWEJ W SZCZECINKU</li>
        <li>SZKOŁA POLICEALNA NR 2 W ZESPOLE SZKÓŁ NR 2 IM. KS. WARCISŁAWA IV W SZCZECINKU</li>
        <li>SZKOŁA POLICEALNA NR 4 W ZESPOLE SZKÓŁ TECHNICZNYCH W SZCZECINKU</li>
        <li>SZKOŁA POLICEALNA NR 5 W ZESPOLE SZKÓŁ NR 6 IM. ST. STASZICA W SZCZECINKU</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W SPECJALNYM OŚRODKU SZKOLNO-WYCHOWAWCZYM IM. JANA BRZECHWY W SZCZECINKU</li>
        <li>TECHNIKUM ZAWODOWE NR 1 W ZESPOLE SZKÓŁ NR 1 IM. KOMISJI EDUKACJI NARODOWEJ W SZCZECINKU</li>
        <li>TECHNIKUM ZAWODOWE NR 2 W ZESPOLE SZKÓŁ NR 2 IM. KS. WARCISŁAWA IV W SZCZECINKU</li>
        <li>TECHNIKUM ZAWODOWE NR 4 W ZESPOLE SZKÓŁ TECHNICZNYCH W SZCZECINKU</li>
        <li>TECHNIKUM ZAWODOWE NR 5 W ZESPOLE SZKÓŁ NR 6 IM. ST. STASZICA W SZCZECINKU</li>
        <li>TERAPEUTYCZNA SZKOŁA PODSTAWOWA</li>
        <li>TERAPEUTYCZNY PUNKT PRZEDSZKOLNY "JAŚ I MAŁGOSIA"</li>
        <li>TERAPEUTYCZNY PUNKT PRZEDSZKOLNY "MIŚ"</li>
        <li>V LICEUM OGÓLNOKSZTAŁCĄCE W ZESPOLE SZKÓŁ NR 6 IM. ST. STASZICA W SZCZECINKU</li>
        <li>ZAKŁAD DOSKONALENIA ZAWODOWEGO W SŁUPSKU OŚRODEK KSZTAŁCENIA ZAWODOWEGO W SZCZECINKU</li>
        <li>ZESPÓŁ SZKÓŁ "JAŚ I MAŁGOSIA" SZKOŁY I PLACÓWKI TERAPEUTYCZNE</li>
        <li>ZESPÓŁ SZKÓŁ NR 1 IM. KOMISJI EDUKACJI NARODOWEJ W SZCZECINKU</li>
        <li>ZESPÓŁ SZKÓŁ NR 2 IM. KS. WARCISŁAWA IV W SZCZECINKU</li>
        <li>ZESPÓŁ SZKÓŁ NR 6 IM. ST. STASZICA W SZCZECINKU</li>
        <li>ZESPÓŁ SZKÓŁ SPOŁECZNYCH SPOŁECZNEGO TOWARZYSTWA OŚWIATOWEGO</li>
        <li>ZESPÓŁ SZKÓŁ TECHNICZNYCH W SZCZECINKU</li>

    </ul>
    <a href="ZACHODNIOPOMORSKIE.html">Back to Cities in ZACHODNIOPOMORSKIE</a>
</body>
</html>
