
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Nowe Czarnowo</title>
</head>
<body>
    <h1>Schools in Nowe Czarnowo</h1>
    <ul>
        <li>SZKOŁA PODSTAWOWA SPECJALNA W NOWYM CZARNOWIE</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W NOWYM CZARNOWIE</li>
        <li>ZESPÓŁ SZKÓŁ SPECJALNYCH W NOWYM CZARNOWIE</li>

    </ul>
    <a href="ZACHODNIOPOMORSKIE.html">Back to Cities in ZACHODNIOPOMORSKIE</a>
</body>
</html>
