
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Gudowo</title>
</head>
<body>
    <h1>Schools in Gudowo</h1>
    <ul>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA SPECJALNA W GUDOWIE</li>
        <li>NIEPUBLICZNA SZKOŁA PRZYSPOSABIAJĄCA DO PRACY</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE SPECJALNE W GUDOWIE</li>
        <li>OŚRODEK REHABILITACYJNO-EDUKACYJNO-WYCHOWAWCZY W GUDOWIE</li>

    </ul>
    <a href="ZACHODNIOPOMORSKIE.html">Back to Cities in ZACHODNIOPOMORSKIE</a>
</body>
</html>
