
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Ostrowiec</title>
</head>
<body>
    <h1>Schools in Ostrowiec</h1>
    <ul>
        <li>PRZEDSZKOLE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "DZIECIĘCY OGRÓD" EMILIA PUSCH</li>
        <li>SZKOŁA PODSTAWOWA</li>
        <li>ZESPÓŁ SZKÓŁ IM. MIKOŁAJA KOPERNIKA</li>

    </ul>
    <a href="ZACHODNIOPOMORSKIE.html">Back to Cities in ZACHODNIOPOMORSKIE</a>
</body>
</html>
