
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Myślibórz</title>
</head>
<body>
    <h1>Schools in Myślibórz</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 2 W MYŚLIBORZU</li>
        <li>BRANŻOWA SZKOLA I STOPNIA SPECJALNA NR 1 W MŁODZIEŻOWYM OŚRODKU SOCJOTERAPII W MYŚLIBORZU</li>
        <li>CENTRUM KSZTAŁCENIA "WIEDZA DLA WSZYSTKICH" W MYŚLIBORZU</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO GRAND</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO W MYŚLIBORZU</li>
        <li>DOM WCZASÓW DZIECIĘCYCH W MYŚLIBORZU</li>
        <li>II LICEUM OGÓLNOKSZTAŁCACE W ZESPOLE SZKÓŁ W MYŚLIBORZU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>MŁODZIEŻOWY OŚRODEK SOCJOTERAPII W MYŚLIBORZU</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE IM. ŻWIRKA I MUCHOMORKA</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I ST. W MYŚLIBORZU</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W MYŚLIBORZU</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 1 ZIELONA DOLINKA</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 2 IM. MISIA USZATKA</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY TPD W MYŚLIBORZU</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. JANUSZA KUSOCIŃSKIEGO W MYŚLIBORZU</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. LEONIDA TELIGI W MYŚLIBORZU</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA PRZY SPECJALYM OŚRODKU SZKOLNO-WYCHOWAWCZYM TPD W MYŚLIBORZU</li>
        <li>SZKOŁA POLICEALNA W MYŚLIBORZU</li>
        <li>SZKOŁA SPECJALNA PRZYSPASABIAJĄCA DO PRACY DLA UCZNIÓW Z UPOŚLEDZENIEM UMYSŁOWYM W STOPNIU UMIARKOWANYM LUB ZNACZNYM ORAZ DLA UCZNIÓW Z NIEPEŁNOSPRAWNOŚCIAMI SPŻĘŻONYMI W SOSW TPD W MYŚLIBORZU</li>
        <li>TECHNIKUM NR 1 W MYŚLIBORZU</li>
        <li>TECHNIKUM NR 2 W ZESPOLE SZKÓŁ W MYŚLIBORZU</li>
        <li>ZESPÓŁ SZKÓŁ I PLACÓWEK OŚWIATOWYCH IM. S.DARIUSA I S.GIRENASA W MYŚLIBORZU</li>
        <li>ZESPÓŁ SZKÓŁ IM. NOBLISTÓW POLSKICH W MYŚLIBORZU</li>

    </ul>
    <a href="ZACHODNIOPOMORSKIE.html">Back to Cities in ZACHODNIOPOMORSKIE</a>
</body>
</html>
