
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Dobrzany</title>
</head>
<body>
    <h1>Schools in Dobrzany</h1>
    <ul>
        <li>FIRMA USŁUGOWO - SZKOLENIOWA "EUREKA"</li>
        <li>PRZEDSZKOLE W DOBRZANACH</li>
        <li>SZKOŁY PODSTAWOWEJ IM. TADEUSZA KOŚCIUSZKI</li>
        <li>TERAPEUTYCZNY PUNKT PRZEDSZKOLNY ANCYMONEK</li>
        <li>ZESPÓŁ SZKÓŁ PUBLICZNYCHW DOBRZANACH</li>

    </ul>
    <a href="ZACHODNIOPOMORSKIE.html">Back to Cities in ZACHODNIOPOMORSKIE</a>
</body>
</html>
