
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Sianów</title>
</head>
<body>
    <h1>Schools in Sianów</h1>
    <ul>
        <li>PRZEDSZKOLE GMINNE</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. BOHATERÓW 8 DREZDEŃSKIEJ DYWIZJI PIECHOTY</li>
        <li>SZKOŁA PODSTAWOWA NR1 IM. JANKA BYTNARA</li>

    </ul>
    <a href="ZACHODNIOPOMORSKIE.html">Back to Cities in ZACHODNIOPOMORSKIE</a>
</body>
</html>
