
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Złocieniec</title>
</head>
<body>
    <h1>Schools in Złocieniec</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W ZŁOCIEŃCU</li>
        <li>INTERNAT ZESPOŁU SZKÓŁ IM. GEN.WŁ. ANDERSA</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W ZŁOCIEŃCU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W ZŁOCIEŃCU</li>
        <li>PARTES OGNISKO ARTYSTYCZNE EWA GADZINA</li>
        <li>PRYWATNE PRZEDSZKOLE W ZŁOCIEŃCU UL.ZDOBYWCÓW WAŁU POMORSKIEGO 2</li>
        <li>PRZEDSZKOLE IM.ZAJĄCZKA ZŁOCIENIASZKA W ZŁOCIEŃCU</li>
        <li>PRZEDSZKOLE KRASNOLUDEK</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM.JANUSZA KUSOCIŃSKIEGO UL.I DYWIZJI WOJSKA POLSKIEGO 4A W ZŁOCIEŃCU</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM.ŻOŁNIERZA POLSKIEGO UL.CZWARTAKÓW 2 W ZŁOCIEŃCU</li>
        <li>SZKOŁA POLICEALNA</li>
        <li>SZKOLNE SCHRONISKO MŁODZIEŻOWE W ZŁOCIEŃCU</li>
        <li>TECHNIKUM W ZŁOCIEŃCU</li>
        <li>ZESPÓŁ SZKÓŁ IM. GEN. WŁADYSŁAWA ANDERSA W ZŁOCIEŃCU</li>

    </ul>
    <a href="ZACHODNIOPOMORSKIE.html">Back to Cities in ZACHODNIOPOMORSKIE</a>
</body>
</html>
