
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Barlinek</title>
</head>
<body>
    <h1>Schools in Barlinek</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 1</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO W BARLINKU</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA "RADOSNA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "BRATEK"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE AKADEMIA MALUCHA FILOKUBINO</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE JĘZYKOWE W WIŚNIOWYM SADZIE</li>
        <li>OŚRODEK REWALIDACYJNO-WYCHOWAWCZY</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W BARLINKU</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 1 IM. JANINY PORAZIŃSKIEJ</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 2 "POD TOPOLĄ"</li>
        <li>SZKOŁA PODSTAWOWA DLA DOROSŁYCH W BARLINKU</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. TADEUSZA KOŚCIUSZKI</li>
        <li>SZKOŁA PODSTAWOWA NR 4 IM. HENRYKA SIENKIEWICZA</li>
        <li>SZKOŁA POLICEALNA W ZESPOLE SZKÓŁ I PLACÓWEK OŚWIATOWYCH IM. KPT. HM. ANDRZEJA ROMOCKIEGO "MORRO" W BARLINKU</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W BARLINKU</li>
        <li>TECHNIKUM NR 1</li>
        <li>ZESPÓŁ SZKÓŁ I PLACÓWEK OŚWIATOWYCH IM. KPT. HM. ANDRZEJA ROMOCKIEGO "MORRO" W BARLINKU</li>

    </ul>
    <a href="ZACHODNIOPOMORSKIE.html">Back to Cities in ZACHODNIOPOMORSKIE</a>
</body>
</html>
