
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Barnówko</title>
</head>
<body>
    <h1>Schools in Barnówko</h1>
    <ul>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH IM. KS. ANDRZEJA PRZYBYŁY SDB W BARNÓWKU</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH IM. KS. ANDRZEJA PRZYBYŁY SDB-NIEPUBLICZNA SZKOŁA PODSTAWOWA</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH IM. KS.ANDRZEJA PRZYBYŁY SDB -NIEPUBLICZNE MAŁE PRZEDSZKOLE "LESNE SKRZATY"</li>

    </ul>
    <a href="ZACHODNIOPOMORSKIE.html">Back to Cities in ZACHODNIOPOMORSKIE</a>
</body>
</html>
