
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Pobierowo</title>
</head>
<body>
    <h1>Schools in Pobierowo</h1>
    <ul>
        <li>KATOLICKA SZKOŁA PODSTAWOWA</li>
        <li>KATOLICKIE PRZEDSZKOLE W POBIEROWIE</li>
        <li>SZKOLNE SCHRONISKO MŁODZIEŻOWE "FALA"</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH IM. JANA PAWŁA II</li>

    </ul>
    <a href="ZACHODNIOPOMORSKIE.html">Back to Cities in ZACHODNIOPOMORSKIE</a>
</body>
</html>
