
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Ińsko</title>
</head>
<body>
    <h1>Schools in Ińsko</h1>
    <ul>
        <li>PRZEDSZKOLE PUBLICZNE PRZY ZESPOLE SZKÓŁ W IŃSKU</li>
        <li>SZKOŁA PODSTAWOWA IM. KRZYSZTOFA KAMILA BACZYŃSKIEGO W IŃSKU</li>
        <li>ZESPÓŁ SZKÓŁ W IŃSKU</li>

    </ul>
    <a href="ZACHODNIOPOMORSKIE.html">Back to Cities in ZACHODNIOPOMORSKIE</a>
</body>
</html>
