
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Stary Przylep</title>
</head>
<body>
    <h1>Schools in Stary Przylep</h1>
    <ul>
        <li>PUNKT PRZEDSZKOLNY PRZY SZKOLE PODSTAWOWEJ W STARYM PRZYLEPIE</li>
        <li>SZKOŁA PODSTAWOWA W STARYM PRZYLEPIE FILIA SZKOŁY PODSTAWOWEJ IM.KAWALERÓW ORDERU UŚMIECHU W WARNICACH</li>

    </ul>
    <a href="ZACHODNIOPOMORSKIE.html">Back to Cities in ZACHODNIOPOMORSKIE</a>
</body>
</html>
