
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Nowogard</title>
</head>
<body>
    <h1>Schools in Nowogard</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA SPECJALNA NR 1 W NOWOGARDZIE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA W NOWOGARDZIE</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE IM. PPOR. EMILII GIERCZAK W NOWOGARDZIE</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W NOWOGARDZIE</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE W NOWOGARDZIE</li>
        <li>INTEGRACYJNY PUNKT PRZEDSZKOLNY "AKADEMIA MALUCHA"</li>
        <li>NIEPUBLICZNE ARTYSTYCZNE PRZEDSZKOLE "KRAINA FANTAZJI"</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 4 W NOWOGARDZIE</li>
        <li>PRZEDSZKOLE NR 1 W NOWOGARDZIE</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 3 W NOWOGARDZIE</li>
        <li>PUBLICZNE PRZEDSZKOLE Z ODDZIAŁAMI INTEGRACYJNYMI "ZIELONE PRZEDSZKOLE"</li>
        <li>SPECJALISTYCZNA PORADNIA TERAPEUTYCZNA DLA DZIECI, MŁODZIEŻY I ICH RODZIN W NOWOGARDZIE</li>
        <li>SPECJALNY OŚRODEK SZKOLNO - WYCHOWAWCZY W NOWOGARDZIE</li>
        <li>SZKOŁA MUZYCZNA I STOPNIA W GOLENIOWIE FILIA W NOWOGARDZIE</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. TADEUSZA KOŚCIUSZKI W NOWOGARDZIE</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. MARII KONOPNICKIEJ W NOWOGARDZIE</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. POLSKICH OLIMPIJCZYKÓW W NOWOGARDZIE</li>
        <li>SZKOŁA PODSTAWOWA NR 4 IM. JANA PAWŁA II W NOWOGARDZIE</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA W NOWOGARDZIE</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W NOWOGARDZIE</li>
        <li>TECHNIKUM NR 1 W NOWOGARDZIE</li>
        <li>ZESPÓŁ SZKÓŁ NR 1 IM. STANISŁAWA STASZICA W NOWOGARDZIE</li>

    </ul>
    <a href="ZACHODNIOPOMORSKIE.html">Back to Cities in ZACHODNIOPOMORSKIE</a>
</body>
</html>
