
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Darłowo</title>
</head>
<body>
    <h1>Schools in Darłowo</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH "ETNA"</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM.STEFANA ŻEROMSKIEGO</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "JAŚ I MAŁGOSIA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE " PRZEDSZKOLE PRZY SZKOLE"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE DARŁOWIACZEK</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE DARŁOWIACZEK</li>
        <li>POWIATOWA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W SŁAWNIE FILIA W DARŁOWIE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "AKADEMIA PRZEDSZKOLAKA"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "GREAT SASETKA"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "PROMYCZEK"</li>
        <li>PRZEDSZKOLE NR 2 IM. JANINY PORAZIŃSKIEJ W DARŁOWIE</li>
        <li>SPOŁECZNA SZKOŁA PODSTAWOWA IM.LOTNIKÓW MORSKICH STO W DARŁOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 3 W DARŁOWIE IM.KRÓLA ERYKA POMORSKIEGO</li>
        <li>TECHNIKUM MORSKIE</li>
        <li>TERAPEUTYCZNY PUNKT PRZEDSZKOLNY "SŁONECZKO"</li>
        <li>ZESPÓŁ SZKÓŁ MORSKICH W DARŁOWIE</li>

    </ul>
    <a href="ZACHODNIOPOMORSKIE.html">Back to Cities in ZACHODNIOPOMORSKIE</a>
</body>
</html>
