
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Waniorowo</title>
</head>
<body>
    <h1>Schools in Waniorowo</h1>
    <ul>
        <li>MŁODZIEŻOWY OŚRODEK SOCJOTERAPII W WANIOROWIE</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA W MŁODZIEŻOWYM OŚRODKU SOCJOTERAPII W WANIOROWIE</li>

    </ul>
    <a href="ZACHODNIOPOMORSKIE.html">Back to Cities in ZACHODNIOPOMORSKIE</a>
</body>
</html>
