
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Szwecja</title>
</head>
<body>
    <h1>Schools in Szwecja</h1>
    <ul>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA Z ODDZIAŁEM PRZEDSZKOLNYM IM. 4 DYWIZJI PIECHOTY W SZWECJI</li>
        <li>PUNKT PRZEDSZKOLNY PRZY NIEPUBLICZNEJ SZKOLE PODSTAWOWEJ W SZWECJI</li>

    </ul>
    <a href="ZACHODNIOPOMORSKIE.html">Back to Cities in ZACHODNIOPOMORSKIE</a>
</body>
</html>
