
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Moryń</title>
</head>
<body>
    <h1>Schools in Moryń</h1>
    <ul>
        <li>NIEPUBLICZNY DOM WCZASÓW DZIECIĘCYCH W MORYNIU</li>
        <li>PRZEDSZKOLE MIEJSKIE</li>
        <li>SZKOŁA PODSTAWOWA IM.ST.SIERŻ. M. MAJCHRZAKA W MORYNIU</li>
        <li>SZKOLNE SCHRONISKO MŁODZIEŻOWE W MORYNIU</li>
        <li>ZESPÓŁ SZKÓŁ W MORYNIU</li>

    </ul>
    <a href="ZACHODNIOPOMORSKIE.html">Back to Cities in ZACHODNIOPOMORSKIE</a>
</body>
</html>
