
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Trzebież</title>
</head>
<body>
    <h1>Schools in Trzebież</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA SPECJALNA W MŁODZIEŻOWYM OŚRODKU WYCHOWACZYM W TRZEBIEŻY</li>
        <li>MŁODZIEŻOWY OŚRODEK WYCHOWAWCZY</li>
        <li>PRZEDSZKOLE PUBLICZNE W TRZEBIEŻY</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 2 DLA UCZNIÓW NIEDOSTOSOWANYCH SPOŁECZNIE</li>
        <li>SZKOŁA PODSTAWOWA Z ODDZIAŁAMI DWUJĘZYCZNYMI I PRZEDSZKOLNYMI W TRZEBIEŻY</li>

    </ul>
    <a href="ZACHODNIOPOMORSKIE.html">Back to Cities in ZACHODNIOPOMORSKIE</a>
</body>
</html>
