
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Chojna</title>
</head>
<body>
    <h1>Schools in Chojna</h1>
    <ul>
        <li>BAJKOWE PRZEDSZKOLE MIEJSKIE W CHOJNIE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA IM. PPOR. RYSZARDA KULESZY</li>
        <li>BRANŻOWA SZKOŁA SPECJALNA I STOPNIA</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH IM. PPOR. RYSZARDA KULESZY</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. BOHATERÓW SPOD SIEKIEREK</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W GRYFINIE FILIA W CHOJNIE</li>
        <li>SALOMON CENTRUM SZKOLENIOWO-DORADCZE</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY IM. MIESZKA I W CHOJNIE</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. JANUSZA KORCZAKA</li>
        <li>SZKOŁA PODSTAWOWA NR2 IM. KORNELA MAKUSZYŃSKIEGO W CHOJNIE</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY</li>
        <li>TECHNIKUM IM. PPOR. RYSZARDA KULESZY</li>
        <li>ZESPÓŁ SZKÓŁ PONADPODSTAWOWYCH W CHOJNIE</li>

    </ul>
    <a href="ZACHODNIOPOMORSKIE.html">Back to Cities in ZACHODNIOPOMORSKIE</a>
</body>
</html>
