
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Gościno</title>
</head>
<body>
    <h1>Schools in Gościno</h1>
    <ul>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "PTASIE PODWÓRKO" KATARZYNA OLESZKIEWICZ</li>
        <li>SZKOLNE SCHRONISKO MŁODZIEŻOWE</li>
        <li>TECHNIKUM ZAWODOWE</li>
        <li>ZESPÓŁ SZKÓŁ IM. MACIEJA RATAJA W GOŚCINIE</li>
        <li>ZESPÓŁ SZKÓŁ W GOŚCINIE</li>
        <li>ZESPÓŁ SZKÓŁ W GOŚCINIE - PRZEDSZKOLE Z ODDZIAŁAMI INTEGRACYJNYMI</li>
        <li>ZESPÓŁ SZKÓŁ W GOŚCINIE - SZKOŁA PODSTAWOWA Z ODDZIAŁAMI INTEGRACYJNYMI IM.MAJORA HENRYKA SUCHARSKIEGO</li>

    </ul>
    <a href="ZACHODNIOPOMORSKIE.html">Back to Cities in ZACHODNIOPOMORSKIE</a>
</body>
</html>
