
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Międzyzdroje</title>
</head>
<body>
    <h1>Schools in Międzyzdroje</h1>
    <ul>
        <li>DOM WCZASÓW DZIECIĘCYCH W MIĘDZYZDROJACH</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 1 "MORSKIE SKARBY" W MIĘDZYZDROJACH</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. BOLESŁAWA CHROBREGO W MIĘDZYZDROJACH</li>

    </ul>
    <a href="ZACHODNIOPOMORSKIE.html">Back to Cities in ZACHODNIOPOMORSKIE</a>
</body>
</html>
