
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Skoki</title>
</head>
<body>
    <h1>Schools in Skoki</h1>
    <ul>
        <li>NIEPUBLICZNE PRZEDSZKOLE JĘZYKOWE " AKADEMIA ROZWOJU "</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE IMIENIA KUBUSIA PUCHATKA W SKOKACH</li>
        <li>SZKOŁA PODSTAWOWA IMIENIA ADAMA MICKIEWICZA W SKOKACH</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
