
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Krzyż Wielkopolski</title>
</head>
<body>
    <h1>Schools in Krzyż Wielkopolski</h1>
    <ul>
        <li>"OŚRODEK DOSKONALENIA RS EDUKACJARAFAŁ SROKA"</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA IM. POWSTAŃCÓW WLKP. 1918-1919 W KRZYŻU WLKP.</li>
        <li>CENTRUM KSZTAŁCENIA JĘZYKÓW OBCYCH "AKROPOL".</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH IM. POWSTAŃCÓW WLKP. 1918-1919 W KRZYŻU WLKP.</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W KRZYŻU WIELKOPOLSKIM</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W KRZYŻU WLKP.</li>
        <li>PRZEDSZKOLE IM. MARII KONOPNICKIEJ</li>
        <li>PRZEDSZKOLE NR 2 HARMONIA W KRZYŻU WIELKOPOLSKIM</li>
        <li>SZKOŁA PODSTAWOWA W KRZYŻU WIELKOPOLSKIM</li>
        <li>TECHNIKUM IM. POWSTAŃCÓW WIELKOPOLSKICH 1918-1919 W KRZYZU WLKP.</li>
        <li>ZESPÓŁ SZKÓŁ IM. POWSTAŃCÓW WIELKOPOLSKICH 1918-1919 W KRZYŻU WLKP.</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH W KRZYŻU WIELKOPOLSKIM</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
