
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Kokanin</title>
</head>
<body>
    <h1>Schools in Kokanin</h1>
    <ul>
        <li>PUBLICZNE PRZEDSZKOLE SAMORZĄDOWE</li>
        <li>SZKOŁA PODSTAWOWA IM. MARII SKŁODOWSKIEJ - CURIE W KOKANINIE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W KOKANINIE</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
