
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Krosno</title>
</head>
<body>
    <h1>Schools in Krosno</h1>
    <ul>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA GROMADA</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE CALINECZKA W KROŚNIE</li>
        <li>PRYWATNE PRZEDSZKOLE "KONICZYNKA" W MOSINIE</li>
        <li>PRZEDSZKOLE PUBLICZNE AKADEMIA ODKRYWCÓW W KROŚNIE</li>
        <li>PRZEDSZKOLE W KROŚNIE</li>
        <li>SZKOŁA PODSTAWOWA IM. 15.PUŁKU UŁANÓW POZNAŃSKICH W KROŚNIE</li>
        <li>SZKOŁA PODSTAWOWA IM.BŁ.E. BOJANOWSKIEGO</li>
        <li>ZESPÓŁ SZKÓŁ W KROŚNIE</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
