
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Bolechowo-Osiedle</title>
</head>
<body>
    <h1>Schools in Bolechowo-Osiedle</h1>
    <ul>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W BOLECHOWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W BOLECHOWIE</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA KORALIK</li>
        <li>SZKOŁA PODSTAWOWA IM. HANSA CHRISTIANA ANDERSENA W BOLECHOWIE-OSIEDLU</li>
        <li>SZKOŁA POLICEALNA W BOLECHOWIE</li>
        <li>TECHNIKUM W BOLECHOWIE</li>
        <li>ZESPÓŁ SZKÓŁ IM. GEN. DEZYDEREGO CHŁAPOWSKIEGO W BOLECHOWIE</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
