
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Głuszyna</title>
</head>
<body>
    <h1>Schools in Głuszyna</h1>
    <ul>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA STOWARZYSZENIA PRZYJACIÓŁ SZKÓŁ KATOLICKICH</li>
        <li>PUNKT PRZEDSZKOLNY STOWARZYSZENIA PRZYJACIÓŁ SZKÓŁ KATOLICKICH W GŁUSZYNIE</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
