
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Trzemeszno</title>
</head>
<body>
    <h1>Schools in Trzemeszno</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA IM. HIPOLITA CEGIELSKIEGO W TRZEMESZNIE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 2 W ZAKŁADZIE POPRAWCZYM W TRZEMESZNIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. MICHAŁA KOSMOWSKIEGO W TRZEMESZNIE</li>
        <li>MYSZKA RYSARD MALAK</li>
        <li>PRZEDSZKOLE NR 1 IM. "CHATKA PUCHATKA" W TRZEMESZNIE</li>
        <li>PRZEDSZKOLE NR 2 IM. MISIA USZATKA W TRZEMESZNIE</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. JANA KILIŃSKIEGO W TRZEMESZNIE</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. POLSKICH OLIMPIJCZYKÓW W TRZEMESZNIE</li>
        <li>SZKOŁA PODSTAWOWA NR 4 W ZAKŁADZIE POPRAWCZYM W TRZEMESZNIE</li>
        <li>SZKOŁA POLICEALNA W TRZEMESZNIE</li>
        <li>TECHNIKUM W TRZEMESZNIE</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH I ZAWODOWYCH</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
