
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Gizałki</title>
</head>
<body>
    <h1>Schools in Gizałki</h1>
    <ul>
        <li>PRESTIGE LICEUM OGÓLNOKSZTAŁCĄCE W GIZAŁKACH</li>
        <li>SZKOŁA PODSTAWOWA IM. OJCA ŚW. JANA PAWŁA II W GIZAŁKACH</li>
        <li>SZKOLNE SCHRONISKO MŁODZIEŻOWE SEZONOWE W GIZAŁKACH</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
