
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Czarnków</title>
</head>
<body>
    <h1>Schools in Czarnków</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA IM. J. NOJEGO W CZARNKOWIE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA PRZY PRYWATNYM ZESPOLE SZKÓŁ W CZARNKOWIE.</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA ZESPÓŁ SZKÓŁ IM. JÓZEFA NOJEGO W CZARNKOWIE</li>
        <li>CENTRUM DOSKONALENIA NAUCZYCIELI PUBLICZNA BIBLIOTEKA PEDAGOGICZNA W PILE FILIA W CZARNKOWIE</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO W ZESPOLE SZKÓŁ IM. JÓZEFA NOJEGO W CZARNKOWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH IM. J. NOJEGO W CZARNKOWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH PRZY PRYWATNYM ZESPOLE SZKÓŁ W CZARNKOWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. JANKA Z CZARNKOWA</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE PRZY PRYWATNYM ZESPOLE SZKÓŁ W CZARNKOWIE.</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "PRZYSTAŃ ELFÓW" ANNA KRZYŻOSTANIAK</li>
        <li>NIEPUBLICZNY ŻŁOBEK I PRZEDSZKOLE NIEPUBLICZNE MAŁE STÓPKI</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W CZARNKOWIE</li>
        <li>PRYWATNY ZESPÓŁ SZKÓŁ W CZARNKOWIE</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 1 BAJKOWY SWIAT</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 2 IM.JANA BRZECHWY</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE LESNE SKRZATY J.GAJEWSKA,M.DURCZAK S.C</li>
        <li>PUNKT PRZEDSZKOLNY "SENSO SZKRABY"</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM.H.SIENKIEWICZA</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM.JANUSZA KORCZAKA</li>
        <li>SZKOŁA PODSTAWOWA PRZY PRYWATNYM ZESPOLE SZKÓŁ W CZARNKOWIE</li>
        <li>SZKOŁA POLICEALNA IM. J. NOJEGO W CZARNKOWIE.</li>
        <li>SZKOŁA POLICEALNA PRZY PRYWATNYM ZESPOLE SZKÓŁ W CZARNKOWIE</li>
        <li>SZKOŁA POLICEALNA PRZY PRYWATNYM ZESPOLE SZKÓŁ W CZARNKOWIE.</li>
        <li>TECHNIKUM IM. J. NOJEGO W CZARNKOWIE</li>
        <li>TECHNIKUM PRZY PRYWATNYM ZESPOLE SZKÓŁ W CZARNKOWIE</li>
        <li>ZESPÓŁ SZKÓŁ IM. J. NOJEGO W CZARNKOWIE</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
