
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Oborniki</title>
</head>
<body>
    <h1>Schools in Oborniki</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA ZESPÓŁ SZKÓŁ IM. GEN. TADEUSZA KUTRZEBY W OBORNIKACH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH ZESPÓŁ SZKÓŁ IM. GEN. TADEUSZA KUTRZEBY W OBORNIKACH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. STANISŁAWA WYSPIAŃSKIEGO W OBORNIKACH</li>
        <li>NIEPUBLICZNA POLSKO-ANGIELSKA SZKOŁA PODSTAWOWA IM. JOHNA DEWEYA W OBORNIKACH</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY "ŚWIATEŁKO"</li>
        <li>PLUS - LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W OBORNIKACH</li>
        <li>PLUS - SZKOŁA POLICEALNA W OBORNIKACH</li>
        <li>PLUS PLACÓWKA KSZTAŁCENIA USTAWICZNEGO W OBORNIKACH</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W OBORNIKACH</li>
        <li>PRZEDSZKOLE AKADEMIA WIEDZY I ZABAWY NR 3 W OBORNIKACH</li>
        <li>PRZEDSZKOLE IM. KSIĘCIA SZARANKA NR 6 W OBORNIKACH</li>
        <li>PRZEDSZKOLE NR 1 "BAJECZKA" W OBORNIKACH</li>
        <li>PRZEDSZKOLE NR 2 "SŁONECZNY ŚWIAT" W OBORNIKACH</li>
        <li>PRZEDSZKOLE NR 4 "BAJKA" W OBORNIKACH</li>
        <li>PRZEDSZKOLE NR 5 "KOLOROWE NUTKI" W OBORNIKACH</li>
        <li>PRZEDSZKOLE PRYWATNE NR 1 RUPAKI</li>
        <li>PUBLICZNA BIBLIOTEKA PEDAGOGICZNA W POZNANIU FILIA W OBORNIKACH</li>
        <li>PUBLICZNE PRZEDSZKOLE "ZACZAROWANE PRZEDSZKOLE" W OBORNIKACH</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. WOJSKA POLSKIEGO W OBORNIKACH</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. ADAMA MICKIEWICZA W OBORNIKACH</li>
        <li>SZKOŁA PODSTAWOWA NR 4 IM. UNICEF W OBORNIKACH</li>
        <li>SZKOŁA POLICEALNA ZESPÓŁ SZKÓŁ IM. GEN. TADEUSZA KUTRZEBY W OBORNIKACH</li>
        <li>TECHNIKUM ZESPÓŁ SZKÓŁ IM. GEN. TADEUSZA KUTRZEBY W OBORNIKACH</li>
        <li>ZESPÓŁ PRZEDSZKOLI W OBORNIKACH</li>
        <li>ZESPÓŁ SZKÓŁ IM. GEN. TADEUSZA KUTRZEBY W OBORNIKACH</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
