
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Budzyń</title>
</head>
<body>
    <h1>Schools in Budzyń</h1>
    <ul>
        <li>NIEPUBLICZNE PRZEDSZKOLE "MAŁY ODKRYWCA" SYLWIA GŁOWACKA</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE IM. "MISIA USZATKA" W BUDZYNIU</li>
        <li>SZKOŁA PODSTAWOWA IM. POWSTAŃCÓW WIELKOPOLSKICH W BUDZYNIU</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
