
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Gostyń</title>
</head>
<body>
    <h1>Schools in Gostyń</h1>
    <ul>
        <li>ATC GRUPA SP. Z O.O.</li>
        <li>ATC S.C.WOJCIECH KACZMAREK, IRENA KACZMAREK, DANIEL KACZMAREK</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA W ZESPOLE SZKÓŁ ZAWODOWYCH IM. POWSTAŃCÓW WIELKOPOLSKICH W GOSTYNIU</li>
        <li>CENTRUM DOSKONALENIA NAUCZYCIELI PUBLICZNA BIBLIOTEKA PEDAGOGICZNA W LESZNIE FILIA W GOSTYNIU</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO W ZESPOLE SZKÓŁ ZAWODOWYCH IM. POWSTAŃCÓW WIELKOPOLSKICH W GOSTYNIU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W ZESPOLE SZKÓŁ OGÓLNOKSZTAŁCĄCYCH IM. ZIEMI GOSTYŃSKIEJ W GOSTYNIU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W ZESPOLE SZKÓŁ ZAWODOWYCH W GOSTYNIU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI DWUJĘZYCZNYMI W ZESPOLE SZKÓŁ OGÓLNOKSZTAŁCĄCYCH IM. ZIEMI GOSTYŃSKIEJ W GOSTYNIU</li>
        <li>LIGA OBRONY KRAJU OŚRODEK SZKOLENIA ZAWODOWEGO KIEROWCÓW</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "DOMOWE PRZEDSZKOLE" W GOSTYNIU</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "DZIECIĘCY RAJ" KATARZYNA POSADZY</li>
        <li>OCHRONKA ZGROMADZENIA SIÓSTR SŁUŻEBNICZEK BDNP NIEPUBLICZNE PRZEDSZKOLE W GOSTYNIU</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I ST. IM. JÓZEFA ZEIDLERA W GOSTYNIU</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W GOSTYNIU</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 1 W GOSTYNIU</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 2 IM. ZŁOTEJ RYBKI W GOSTYNIU</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 4 W GOSTYNIU</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 5 IM. KUBUSIA PUCHATKA W GOSTYNIU</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 7 W GOSTYNIU</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "BAJKA" W GOSTYNIU</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "PIOTRUŚ PAN" W GOSTYNIU</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "ZIELONA ZATOKA" W GOSTYNIU</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE HOCKI KLOCKI</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE JEDNOŚĆ W GOSTYNIU</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE MALIWIELCY</li>
        <li>PRZEDSZKOLE RADOSNY ZAKĄTEK</li>
        <li>SZKOŁA PODSTAWOWA JEDNOŚĆ</li>
        <li>SZKOŁA PODSTAWOWA NR 1 Z ODDZIAŁAMI INTEGRACYJNYMI IM. CZARNEGO LEGIONU W GOSTYNIU</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. GEN. TADEUSZA KUTRZEBY W GOSTYNIU</li>
        <li>SZKOŁA PODSTAWOWA NR 3 Z ODDZIAŁAMI DWUJĘZYCZNYMI W GOSTYNIU</li>
        <li>SZKOŁA PODSTAWOWA NR 5 IM. KS. FRANCISZKA OLEJNICZAKA W GOSTYNIU</li>
        <li>SZKOŁA POLICEALNA W ZESPOLE SZKÓŁ ZAWODOWYCH IM. POWSTAŃCÓW WIELKOPOLSKICH W GOSTYNIU</li>
        <li>TECHNIKUM W ZESPOLE SZKÓŁ ZAWODOWYCH IM. POWSTAŃCÓW WIELKOPOLSKICH W GOSTYNIU</li>
        <li>ZAKŁAD DOSKONALENIA ZAWODOWEGO CENTRUM KSZTAŁCENIA W LESZNIE OŚRODEK KSZTAŁCENIA ZAWODOWEGO W GOSTYNIU</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH W GOSTYNIU IM. ZIEMI GOSTYŃSKIEJ W GOSTYNIU</li>
        <li>ZESPÓŁ SZKÓŁ ZAWODOWYCH IM. POWSTAŃCÓW WIELKOPOLSKICH W GOSTYNIU</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
