
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Opatów</title>
</head>
<body>
    <h1>Schools in Opatów</h1>
    <ul>
        <li>ZESPÓŁ SZKÓŁ W OPATOWIE</li>
        <li>ZESPÓŁ SZKÓŁ W OPATOWIE PUBLICZNE PRZEDSZKOLE SAMORZĄDOWE W OPATOWIE</li>
        <li>ZESPÓŁ SZKÓŁ W OPATOWIE SZKOŁA PODSTAWOWA IM. KARDYNAŁA STEFANA WYSZYŃSKIEGO W OPATOWIE</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
