
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Łobżenica</title>
</head>
<body>
    <h1>Schools in Łobżenica</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA SPECJALNA</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM.TADEUSZA KOŚCIUSZKI W ŁOBŻENICY</li>
        <li>MŁODZIEŻOWY OŚRODEK WYCHOWAWCZY W ŁOBŻENICY</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA W ŁOBŻENICY</li>
        <li>PRZEDSZKOLE PUBLICZNE W ŁOBŻENICY</li>
        <li>SZKOŁA PODSTAWOWA IM.KOMISJI EDUKACJI NARODOWEJ W ŁOBŻENICY</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA</li>
        <li>ZESPÓŁ PLACÓWEK WYCHOWAWCZYCH</li>
        <li>ZESPÓŁ SZKÓŁ W ŁOBŻENICY</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
