
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Przykona</title>
</head>
<body>
    <h1>Schools in Przykona</h1>
    <ul>
        <li>ZESPÓŁ SZKÓŁ W PRZYKONIE</li>
        <li>ZESPÓŁ SZKÓŁ W PRZYKONIE PRZEDSZKOLE W PRZYKONIE</li>
        <li>ZESPÓŁ SZKÓŁ W PRZYKONIE SZKOŁA PODSTAWOWA IMIENIA MARII KONOPNICKIEJ W PRZYKONIE</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
