
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Borzęciczki</title>
</head>
<body>
    <h1>Schools in Borzęciczki</h1>
    <ul>
        <li>PUBLICZNE PRZEDSZKOLE W BORZĘCICZKACH</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY IM. JANUSZA KORCZAKA W BORZĘCICZKACH</li>
        <li>SZKOŁA PODSTAWOWA NR 1W BORZĘCICZKACH</li>
        <li>SZKOŁA PODSTAWOWA NR 2 SPECJALNA W BORZĘCICZKACH</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W BORZĘCICZKACH</li>
        <li>ZESPÓŁ SZKOLNO - PRZEDSZKOLNY IM.MARII KONOPNICKIEJW BORZĘCICZKACH</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
