
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Turek</title>
</head>
<body>
    <h1>Schools in Turek</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA SPECJALNA W TURKU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA W TURKU</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA CENTRUM SZKOLENIOWEGO WIEDZA</li>
        <li>BURSA SZKOLNA W TURKU</li>
        <li>CENTRUM DOSKONALENIA NAUCZYCIELI PUBLICZNA BIBLIOTEKA PEDAGOGICZNA W KONINIE FILIA W TURKU</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO W TURKU</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE IM. TADEUSZA KOŚCIUSZKI W TURKU</li>
        <li>KATOLICKA NIEPUBLICZNA SZKOŁA PODSTAWOWA IM. ŚW. TERESY OD DZIECIĄTKA JEZUS W TURKU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE CENTRUM SZKOLENIOWEGO WIEDZA</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W TURKU</li>
        <li>NIEPUBLICZNE CENTRUM KSZTAŁCENIA USTAWICZNEGO – OŚRODEK SZKOLENIOWY I JĘZYKÓW OBCYCH „TUREX-BIS”</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE ,,DOLINA ELFÓW"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE ,,MAGICZNA CHATKA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "MAŁY ODKRYWCA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "SMERFIKI"</li>
        <li>NIEPUBLICZNY OŚRODEK DOSKONALENIA NAUCZYCIELI "INTJO" PRZY CENTRUM TECHNOLOGII EDUKACYJNYCH "INTJO" SP. Z O.O. W TURKU</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I STOPNIA IM. WITOLDA LUTOSŁAWSKIEGO W TURKU</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W TURKU</li>
        <li>PRZEDESZKOLE SAMORZĄDOWE NR 8 Z ODDZIAŁAMI INTEGRACYJNYMI IM. "KRASNALA HAŁABAŁY"</li>
        <li>PRZEDSZKIOLE SAMORZĄDOWE NR 7 IM. "MISIA USZATKA"</li>
        <li>PRZEDSZKOLE MUCHLIN</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 3 ,,BAJKOWE PRZEDSZKOLE"</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 4,,TĘCZOWE"</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 5 Z ODZIAŁAMI INTEGRACYJNYMI IM. "SŁONECZNE"</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 6 Z ODDZIAŁAMI INTEGRACYJNYMI IM. "KUBUSIA PUCHATKA"</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY IM. KORNELA MAKUSZYŃSKIEGO W TURKU</li>
        <li>STOWARZYSZENIE KSIĘGOWYCH W POLSCE ODDZIAŁ TERENOWY W TURKU ODDZIAŁU WIELKOPOLSKIEGO W POZNANIU</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. HENRYKA SIENKIEWICZA</li>
        <li>SZKOŁA PODSTAWOWA NR 4 IM. GENERAŁA MIECZYSŁAWA SMORAWIŃSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 5 IM. UNICEF</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA</li>
        <li>SZKOŁA POLICEALNA CENTRUM SZKOLENIOWEGO WIEDZA</li>
        <li>SZKOŁA POLICEALNA W TURKU</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY</li>
        <li>TECHNIKUM W TURKU</li>
        <li>ZESPÓŁ PLACÓWEK EDUKACYJNO-WYCHOWAWCZYCH W TURKU</li>
        <li>ZESPÓŁ SZKÓŁ TECHNICZNYCH IM. GEN. PROF. SYLWESTRA KALISKIEGO W TURKU</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
