
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Kaczory</title>
</head>
<body>
    <h1>Schools in Kaczory</h1>
    <ul>
        <li>CENTRUM SZKOLEŃI ZDROWEGO STYLU ŻYCIA ACTIV&DIET KAMILA LEMAŃSKA</li>
        <li>PUBLICZNE PRZEDSZKOLE W KACZORACH</li>
        <li>SZKOŁA PODSTAWOWA IM. ŚW. JANA PAWŁA II W KACZORACH</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
