
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Rokietnica</title>
</head>
<body>
    <h1>Schools in Rokietnica</h1>
    <ul>
        <li>"PTASIE RADIO" W ROKIETNICY</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA W ROKIETNICY</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W ROKIETNICY</li>
        <li>PRZEDSZKOLE "BAJECZKA"</li>
        <li>PRZEDSZKOLE CZTERY PORY ROKU</li>
        <li>PRZEDSZKOLE MILUSIE NR 5 W ROKIETNICY</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "MALI ARTYŚCI"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE MUMULA</li>
        <li>PUBLICZNE PRZEDSZKOLE LOGICUS</li>
        <li>SZKOŁA PODSTAWOWA IM. JANA BRZECHWY W ROKIETNICY</li>
        <li>SZKOŁA POLICEALNA W ROKIETNICY</li>
        <li>TECHNIKUM W ROKIETNICY</li>
        <li>ZESPÓŁ SZKÓŁ IM. JADWIGI I WŁADYSŁAWA ZAMOYSKICH W ROKIETNICY</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
