
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Wronki</title>
</head>
<body>
    <h1>Schools in Wronki</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA WE WRONKACH</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO</li>
        <li>LICEUM OGÓLNOKSZTAŁCACE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>NIEPUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE MISTRZOSTWA SPORTOWEGO WE WRONKACH</li>
        <li>OŚRODEK DOKSZTAŁCANIA I DOSKONALENIA ZAWODOWEGO SUKURS BOLESŁAW URBAN WE WRONKACH</li>
        <li>OŚRODEK DOKSZTAŁCANIA I DOSKONALENIA ZAWODOWEGO SUKURS MIKOŁAJ URBAN WE WRONKACH</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA WE WRONKACH</li>
        <li>PRYWATNE PRZEDSZKOLE AMICA KIDS</li>
        <li>PRZEDSZKOLE NR 1 "BAJKOWY ŚWIAT" WE WRONKACH</li>
        <li>PRZEDSZKOLE NR 2 WE WRONKACH WRONCZUSIE</li>
        <li>PRZEDSZKOLE PRYWATNE "MALI ODKRYWCY" MONIKA RADUNZ GARKOWSKA, KAROLINA GALL SPÓŁKA CYWILNA</li>
        <li>PUNKT PRZEDSZKOLNY "SENSO SZKRABY</li>
        <li>SZKOŁA PODSTAWOWA DLA DOROSŁYCH</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. JANUSZA KORCZAKA WE WRONKACH</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. KORNELA MAKUSZYŃSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM.ZBIGNIEWA HERBERTA</li>
        <li>TECHNIKUM NR 1</li>
        <li>TECHNIKUM NR 2</li>
        <li>ZESPÓŁ SZKÓŁ NR 1 IM. POWSTAŃCÓW WIELKOPOLSKICH WE WRONKACH</li>
        <li>ZESPÓŁ SZKÓŁ NR 2 IM. STANISŁAWA KONARSKIEGO WE WRONKACH</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
