
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Kąkolewo</title>
</head>
<body>
    <h1>Schools in Kąkolewo</h1>
    <ul>
        <li>PRZEDSZKOLE SAMORZĄDOWE W KĄKOLEWIE</li>
        <li>SZKOŁA PODSTAWOWA IM. ANDRZEJA GRUBBY W KĄKOLEWIE</li>
        <li>SZKOŁA PODSTAWOWA IM. POWSTAŃCÓW WIELKOPOLSKICH KĄKOLEWO</li>
        <li>ZESPÓŁ SZKÓŁ W KĄKOLEWIE</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
