
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Gniezno</title>
</head>
<body>
    <h1>Schools in Gniezno</h1>
    <ul>
        <li>"NIEBIESKA SOWA" TERAPEUTYCZNY PUNKT PRZEDSZKOLNY</li>
        <li>"PAK-SYSTEM" PLACÓWKA NIEPUBLICZNA</li>
        <li>AKADEMICKIE LICEUM OGÓLNOKSZTAŁCĄCE MILENIUM</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 1 W GNIEŹNIE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 14 SPECJALNA W SPECJALNYM OŚRODKU SZKOLNO - WYCHOWAWCZYM NR 2 W GNIEŹNIE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA W ZESPOLE SZKÓŁ EKONOMICZNYCH W GNIEŹNIE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA W ZESPOLE SZKÓŁ PONADPODSTAWOWYCH NR 3 W GNIEŹNIE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA W ZESPOLE SZKÓŁ PRZYRODNICZO - USŁUGOWYCHW GNIEŹNIE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA W ZESPOLE SZKÓŁ TECHNICZNYCH W GNIEŹNIE</li>
        <li>BRANZOWA SZKOŁA II STOPNIA NR 1 W GNIEŹNIE</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA NR 2 W ZESPOLE SZKÓŁ TECHNICZNYCH W GNIEŹNIE</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA NR 3 W ZESPOLE SZKÓŁ PONADPODSTAWOWYCH NR 3 W GNIEŹNIE</li>
        <li>CECHOWA BRANŻOWA SZKOŁA II STOPNIA W GNIEŹNIE</li>
        <li>CECHOWA SZKOŁA RZEMIEŚLNICZA W GNIEŹNIE</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO W GNIEŹNIE</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO W GNIEŹNIE</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO W GNIEŹNIE</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO W GNIEŹNIE</li>
        <li>CENTRUM ROZWOJU I EDUKACJI KOMPETENTNI</li>
        <li>CENTRUM ROZWOJU I EDUKACJI KOMPETENTNI</li>
        <li>FREEDOM SCHOOL</li>
        <li>GNIEŹNIEŃSKA AGENCJA ROZWOJU GOSPODARCZEGO SP. Z O.O.</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE IM. BOLESŁAWA CHROBREGO W GNIEŹNIE</li>
        <li>II LICEUM OGÓLNOKSZTAŁCACE</li>
        <li>III LICEUM OGÓLNOKSZTAŁCĄCE W ZESPOLE SZKÓŁ IM. JANA III SOBIESKIEGO W GNIEŹNIE</li>
        <li>INFO-TECH GNIEZNO</li>
        <li>IV LICEUM OGÓLNOKSZTAŁCĄCE SPECJALNE W GNIEŹNIE</li>
        <li>JĘZYKOWA SZKOŁA PODSTAWOWA "PRYMUS"</li>
        <li>JĘZYKOWE LICEUM OGÓLNOKSZTAŁCĄCE PRYMUS W GNIEŹNIE</li>
        <li>JĘZYKOWE PRZEDSZKOLE "PRYMUS"</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W GNIEŹNIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W ZESPOLE SZKÓŁ PONADPODSTAWOWYCH NR 3 W GNIEŹNIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W ZESPOLE SZKÓŁ TECHNICZNYCH W GNIEŹNIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE PORKOM IM. IRENY SENDLEROWEJ W GNIEŹNIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE TEB EDUKACJA W GNIEŹNIE</li>
        <li>MEDYCZNE STUDIUM ZAWODOWE IM. DR KAROLA MARCINKOWSKIEGO W GNIEŹNIE</li>
        <li>MŁODZIEŻOWY OŚRODEK SOCJOTERAPII W GNIEŹNIE</li>
        <li>MUNDUROWE LICEUM OGÓLNOKSZTAŁCĄCE ZAKŁADU DOSKONALENIA ZAWODOWEGO W GNIEŹNIE</li>
        <li>NIEPUBLICZNA PLACOWKA KSZTAŁCENIA USTAWICZNEGO STOWARZYSZENIE KSIĘGOWYCH W POLSCE ODDZIAŁ TERENOWY W GNIEŹNIE ODDZIAŁU WIELKOPOLSKIEGO</li>
        <li>NIEPUBLICZNA PLACÓWKA OŚWIATOWO-WYCHOWAWCZA STUDIO TAŃCA I RUCHU "EUFORIA"</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "NIKOŚ"</li>
        <li>NIEPUBLICZNA SPECJALNA SZKOŁA PODSTAWOWA "MŁODE ORŁY" W GNIEŹNIE</li>
        <li>NIEPUBLICZNA SZKOŁA POLICEALNA TEB EDUKACJA W GNIEŹNIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "ORZEŁKI" CARITAS ARCHIDIECEZJI GNIEŹNIEŃSKIEJ</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "PLANETA PRZYGÓD"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "PRZEDSZKOLUDKI"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "SZKRABUŚ"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE BAJKOWY ŚWIAT</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE INTEGRACYJNE "MISTRZOWIE ZABAWY"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE WESOŁE BIEDRONECZKI</li>
        <li>PAŃSTWOWA OGÓLNOKSZTAŁCĄCA SZKOŁA MUZYCZNA I ST. IM. FELIKSA NOWOWIEJSKIEGO W GNIEŹNIE</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA II ST. W GNIEŹNIE</li>
        <li>PARYTET OŚRODEK KSZTAŁCENIA ZAWODOWEGO</li>
        <li>PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA W GNIEŹNIE</li>
        <li>PRO-CONSULTING TOMASZ WACHOWIAK,ALICJA WACHOWIAK</li>
        <li>PRYWATNA SZKOŁA PODSTAWOWA "AKADEMIA MAXIMA"</li>
        <li>PRYWATNE POLICEALNE STUDIUM PORKOM TECHNIK BHP W GNIEŹNIE</li>
        <li>PRYWATNE PRZEDSZKOLE "KAJTUŚ" MAGDALENA WOŹNIAK</li>
        <li>PRYWATNE PRZEDSZKOLE "SŁONECZKO"</li>
        <li>PRZEDSZKOLE "LEŚNA KRAINA" IM. IRENY SENDLEROWEJ</li>
        <li>PRZEDSZKOLE IM. BŁOGOSŁAWIONEGO EDMUNDA BOJANOWSKIEGO ZGROMADZENIA SIÓSTR SŁUŻEBNICZEK NPNMP</li>
        <li>PRZEDSZKOLE MILENIUM "MALI ODKRYWCY"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE AKADEMIA "MISIO"</li>
        <li>PRZEDSZKOLE NR 1 WESOŁE NUTKI</li>
        <li>PRZEDSZKOLE NR 10 Z ODDZIAŁAMI INTEGRACYJNYMI JANEK WĘDROWNICZEK</li>
        <li>PRZEDSZKOLE NR 12 "PLASTUSIOWO"</li>
        <li>PRZEDSZKOLE NR 13 "GNIAZDO ORLĄT"</li>
        <li>PRZEDSZKOLE NR 14 "MALI PIASTOWIE"</li>
        <li>PRZEDSZKOLE NR 15 "PSZCZÓŁKA MAJA"</li>
        <li>PRZEDSZKOLE NR 17 "PIASTOWSKA GROMADA"</li>
        <li>PRZEDSZKOLE NR 2 ŹRÓDEŁKO</li>
        <li>PRZEDSZKOLE NR 3 KUBUŚ PUCHATEK</li>
        <li>PRZEDSZKOLE NR 5 MALI PRZYRODNICY</li>
        <li>PRZEDSZKOLE NR 6 POLNE KWIATY</li>
        <li>PRZEDSZKOLE NR 8 MALI POLANIE</li>
        <li>PRZEDSZKOLE NR 9 LEŚNE LUDKI</li>
        <li>PRZEDSZKOLE SIÓSTR MIŁOSIERDZIA ŚW. WINCENTEGO A PAUL</li>
        <li>PRZEDSZKOLE TUP TUP MARCELINA WOJTASZEK</li>
        <li>PUBLICZNA BIBLIOTEKA PEDAGOGICZNA W POZNANIU FILIA W GNIEŹNIE</li>
        <li>PUNKT PRZEDSZKOLNY MALI MISTRZOWIE 2</li>
        <li>SPECJALNY OŚRODEK SZKOLNO - WYCHOWAWCZY NR1</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY NR2</li>
        <li>SPECJALNY OŚRODEK WYCHOWAWCZY WILLA NA SKARPIE W GNIEŹNIE</li>
        <li>SPECJALNY OŚRODEK WYCHOWAWCZY ZGROMADZENIA SIÓSTR SŁUŻEBNICZEK NIEPOKALANEGO POCZĘCIA NAJŚWIĘTSZEJ MARYI PANNY W GNIEŹNIE</li>
        <li>SPECJALNY PUNKT PRZEDSZKOLNY MALI MISTRZOWIE</li>
        <li>STUDIUM DOSKONALENIA MENADŻERÓW ORGANIZACJI W GNIEŹNIE</li>
        <li>STUDIUM DOSKONALENIA MENEDŻERÓW OŚWIATY</li>
        <li>SZKOŁA PODSTAWOWA "RODZICE-DZIECIOM" IM. KARDYNAŁA STEFANA WYSZYŃSKIEGO - PRYMASA TYSIĄCLECIA</li>
        <li>SZKOŁA PODSTAWOWA MILENIUM</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. ZJAZDU GNIEŹNIEŃSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 10 IM. POLSKICH NOBLISTÓW</li>
        <li>SZKOŁA PODSTAWOWA NR 12 IM. PROF. ADAMA WODZICZKI</li>
        <li>SZKOŁA PODSTAWOWA NR 13 SPECJALNA W SPECJALNYM OŚRODKU SZKOLNO - WYCHOWAWCZYM NR 1 W GNIEŹNIE</li>
        <li>SZKOŁA PODSTAWOWA NR 14 SPECJALNA W SPECJALNYM OŚRODKU SZKOLNO - WYCHOWAWCZYM NR 2 W GNIEŹNIE</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM.KSIĘDZA MAJORA MATEUSZA ZABŁOCKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. ŚWIĘTEGO WOJCIECHA</li>
        <li>SZKOŁA PODSTAWOWA NR 5 IM. ARKADEGO FIEDLERA</li>
        <li>SZKOŁA PODSTAWOWA NR 6 IM. HENRYKA SIENKIEWICZA</li>
        <li>SZKOŁA PODSTAWOWA NR 7 IM. POWSTAŃCÓW WIELKOPOLSKICH 1918/1919</li>
        <li>SZKOŁA PODSTAWOWA NR 8 IM. MIKOŁAJA KOPERNIKA</li>
        <li>SZKOŁA PODSTAWOWA NR 9 IM. MIESZKA I</li>
        <li>SZKOŁA PODSTAWOWA PORKOM IM. IRENY SENDLEROWEJ</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 11 W GNIEŹNIE</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 15 Z ODDZIAŁAMI PRZEDSZKOLNYMI W GNIEŻNIE</li>
        <li>SZKOŁA POLICEALNA "COSINUS PLUS" W GNIEŹNIE</li>
        <li>SZKOŁA POLICEALNA DLA DOROSŁYCH W ZESPOLE SZKÓŁ TECHNICZNYCH W GNIEŹNIE</li>
        <li>SZKOŁA SPECJALNA PRZYSPASABIAJĄCA DO PRACY W SPECJALNYM OŚRODKU SZKOLNO - WYCHOWAWCZYM NR 2 W GNIEŹNIE</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W GNIEŹNIE</li>
        <li>SZKOŁA TECHNICZNA ZAKŁADU DOSKONALENIA ZAWODOWEGO</li>
        <li>TEB EDUKACJA STUDIUM KSZTAŁCENIA PRAKTYCZNEGO</li>
        <li>TECHNIKUM TEB EDUKACJA W GNIEŹNIE</li>
        <li>TECHNIKUM W ZESPOLE SZKÓŁ EKONOMICZNYCH W GNIEŹNIE</li>
        <li>TECHNIKUM W ZESPOLE SZKÓŁ PONADPODSTAWOWYCH NR 3 W GNIEŹNIE</li>
        <li>TECHNIKUM W ZESPOLE SZKÓŁ PRZYRODNICZO - USŁUGOWYCH W GNIEŹNIE</li>
        <li>TECHNIKUM W ZESPOLE SZKÓŁ TECHNICZNYCH W GNIEŹNIE</li>
        <li>TERAPEUTYCZNY PUNKT PRZEDSZKOLNY "MIAAU"</li>
        <li>WIELKOPOLSKIE SAMORZĄDOWE CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO W GNIEŹNIE</li>
        <li>ZAKŁAD DOSKONALENIA ZAWODOWEGO CENTRUM KSZTAŁCENIA W POZNANIU OŚRODEK KSZTAŁCENIA ZAWODOWEGO W GNIEŹNIE</li>
        <li>ZAOCZNE LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH "COSINUS PLUS" W GNIEŹNIE</li>
        <li>ZAOCZNE LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W GNIEŹNIE</li>
        <li>ZESPÓŁ PAŃSTWOWYCH SZKÓŁ MUZYCZNYCH W GNIEŹNIE</li>
        <li>ZESPÓŁ PLACÓWEK EDUKACYJNO - WYCHOWAWCZYCH W GNIEŹNIE</li>
        <li>ZESPÓŁ SZKÓŁ EKONOMICZNYCH W GNIEŹNIE</li>
        <li>ZESPÓŁ SZKÓŁ IM. JANA III SOBIESKIEGO</li>
        <li>ZESPÓŁ SZKÓŁ PONADPODSTAWOWYCH NR 3</li>
        <li>ZESPÓŁ SZKÓŁ PRZYRODNICZO- USŁUGOWYCH IM. STANISŁAWA MIKOŁAJCZYKA W GNIEŹNIE</li>
        <li>ZESPÓŁ SZKÓŁ TECHNICZNYCH IM. PAPIEŻA JANA PAWŁA II</li>
        <li>ZESPÓŁ SZKÓŁ TECHNICZNYCH IM. PAPIEŻA JANA PAWŁA II - LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>ZESPÓŁ SZKÓŁ ZAOCZNYCH W GNIEŹNIE</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
