
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Łęka Opatowska</title>
</head>
<body>
    <h1>Schools in Łęka Opatowska</h1>
    <ul>
        <li>ZESPÓŁ SZKÓŁ W ŁĘCE OPATOWSKIEJ</li>
        <li>ZESPÓŁ SZKÓŁ W ŁĘCE OPATOWSKIEJ PUBLICZNE PRZEDSZKOLE SAMORZĄDOWE W ŁĘCE OPATOWSKIEJ</li>
        <li>ZESPÓŁ SZKÓŁ W ŁĘCE OPATOWSKIEJ SZKOŁA PODSTAWOWA IMIENIA MJRA STANISŁAWA JEZIORNEGO W ŁĘCE OPATOWSKIEJ</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
