
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Osiek nad Notecią</title>
</head>
<body>
    <h1>Schools in Osiek nad Notecią</h1>
    <ul>
        <li>OŚRODEK KSZTAŁCENIA DOROSŁYCH - RATOWNICTWO MEDYCZNE DAMIAN GARLICKI- KSZTAŁCENIE USTAWICZNE W FORMACH POZASZKOLNYCH. NIEPUBLICZNA PLACÓWKA OŚWIATOWA</li>
        <li>PUBLICZNE PRZEDSZKOLE</li>
        <li>SZKOŁA PODSTAWOWA IM. STANISŁAWA STASZICA</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
