
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Konin</title>
</head>
<body>
    <h1>Schools in Konin</h1>
    <ul>
        <li>„CENTRUM HAJDASZ” MAŁGORZATA WITKOWSKA</li>
        <li>AKADEMIA JUNIOR</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA CENTRUM SZKOLENIOWEGO WIEDZA</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 1 W ZESPOLE SZKÓŁ GÓRNICZO-ENERGETYCZNYCH IM. STANISŁAWA STASZICA W KONINIE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 2 W ZESPOLE SZKÓŁ BUDOWNICTWA I KSZTAŁCENIA ZAWODOWEGO IM. EUGENIUSZA KWIATKOWSKIEGO W KONINIE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 3 W ZESPOLE SZKÓŁ CENTRUM KSZTAŁCENIA USTAWICZNEGO IM. STEFANA BATOREGO W KONINIE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 4 W ZESPOLE SZKÓŁ IM. MIKOŁAJA KOPERNIKA W KONINIE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 5 W ZESPOLE SZKÓŁ TECHNICZNYCH W KONINIE</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA CENTRUM SZKOLENIOWEGO WIEDZA</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA DLA DOROSŁYCH W ZESPOLE SZKÓŁ BUDOWNICTWA I KSZTAŁCENIA ZAWODOWEGO IM. EUGENIUSZA KWIATKOWSKIEGO W KONINIE</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA PRYMUS W KONINIE</li>
        <li>BRANŻOWA SZKOŁA SPECJALNA I STOPNIA W SPECJALNYM OŚRODKU SZKOLNO-WYCHOWAWCZYM IM. JANUSZA KORCZAKA W KONINIE</li>
        <li>BURSA SZKOLNA NR 1 W KONINIE IM. RYSZARDA MICHALSKIEGO</li>
        <li>CENTRUM DOSKONALENIA NAUCZYCIELI W KONINIE</li>
        <li>CENTRUM DOSKONALENIA NAUCZYCIELI WYŻSZEJ SZKOŁY KADR MENADŻERSKICH</li>
        <li>CENTRUM DOSKONALENIA ZAWODOWEGO PRZY ODDZIALE KONIŃSKIM STOWARZYSZENIA ELEKTRYKÓW POLSKICH W KONINIE</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO W KONINIE</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO CECHU RZEMIOSŁ RÓŻNYCH W KONINIE</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO W KONINIE</li>
        <li>CENTRUM SZKOLENIOWE WIEDZA</li>
        <li>CENTRUM SZKOLENIOWE WIEDZA</li>
        <li>COSINUS OGÓLNOPOLSKI OŚRODEK SZKOLEŃ I ROZWOJU W KONINIE</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE IM. TADEUSZA KOŚCIUSZKI W KONINIE</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE IM. KRZYSZTOFA KAMILA BACZYŃSKIEGO W KONINIE</li>
        <li>III LICEUM OGÓLNOKSZTAŁCĄCE IM. CYPRIANA KAMILA NORWIDA W KONINIE</li>
        <li>IV LICEUM OGÓLNOKSZTAŁCĄCE W ZESPOLE SZKÓŁ IM. MIKOŁAJA KOPERNIKA W KONINIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE CENTRUM SZKOLENIOWEGO WIEDZA</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE CENTRUM SZKOLENIOWEGO WIEDZA</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH "ŻAK" W KONINIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W ZESPOLE SZKÓŁ CENTRUM KSZTAŁCENIA USTAWICZNEGO IM. STEFANA BATOREGO W KONINIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W KONIŃSKIM CENTRUM EDUKACYJNYM</li>
        <li>LICEUM POLICYJNE CENTRUM SZKOLENIOWEGO WIEDZA</li>
        <li>LIGA OBRONY KRAJU OŚRODEK SZKOLENIA ZAWODOWEGO KIEROWCÓW W KONINIE</li>
        <li>MEDYCZNA SZKOŁA POLICEALNA "COSINUS" W KONINIE</li>
        <li>MEDYCZNA SZKOŁA POLICEALNA IM. KAROLA MARCINKOWSKIEGO W KONINIE</li>
        <li>MIEJSKA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W KONINIE</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO STOWARZYSZENIA KSIĘGOWYCH W POLSCE ODDZIAŁ TERENOWY W KONINIE ODDZIAŁU WIELKOPOLSKIEGO W POZNANIU</li>
        <li>NIEPUBLICZNA SZKOŁA MISTRZOSTWA SPORTOWEGO LICEUM OGÓLNOKSZTAŁCĄCE O PROFILU PIŁKA NOŻNA W KONINIE</li>
        <li>NIEPUBLICZNA SZKOŁA MONTESSORI ODKRYWCY ŚWIATA W KONINIE</li>
        <li>NIEPUBLICZNA SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W KONINIE</li>
        <li>NIEPUBLICZNE CENTRUM KSZTAŁCENIA USTAWICZNEGO LIVEINPOLAND</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "MAŁY ARTYSTA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE MONTESSORI AKADEMIA SMYKA</li>
        <li>NIEPUBLICZNY OŚRODEK REWALIDACYJNO-WYCHOWAWCZY W KONINIE</li>
        <li>OSRODEK DOSKONALENIA NAUCZYCIELI PRY CENTRUM SZKOLENIOWYM WIEDZA</li>
        <li>OŚRODEK DOSKONALENIA NAUCZYCIELI W KONINIE</li>
        <li>OŚRODEK SZKOLENIOWY CENTRUM NAUKI I BIZNESU "ŻAK" W KONINIE</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I I II ST. IM. IGNACEGO JANA PADEREWSKIEGO W KONINIE</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I ST. W KONINIE</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA II ST. W KONINIE</li>
        <li>POWIATOWA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W ŚLESINIE FILIA W KONINIE</li>
        <li>PRYWATNE PRZEDSZKOLE "BAJKOLANDIA"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "SPORTUŚ"</li>
        <li>PRZEDSZKOLE NR 1 "KOSMATEK"</li>
        <li>PRZEDSZKOLE NR 10 Z ODDZIAŁAMI INTEGRACYJNYMI "LESZCZYNOWA GÓRKA"</li>
        <li>PRZEDSZKOLE NR 11 "PENTLICZEK"</li>
        <li>PRZEDSZKOLE NR 12 "KUBUŚ PUCHATEK"</li>
        <li>PRZEDSZKOLE NR 13 "SŁONECZKO"</li>
        <li>PRZEDSZKOLE NR 14 IM. KRASNALA HAŁABAŁY</li>
        <li>PRZEDSZKOLE NR 15 "MALI PRZYRODNICY"</li>
        <li>PRZEDSZKOLE NR 16 IM. JANA BRZECHWY</li>
        <li>PRZEDSZKOLE NR 17 "WOJTUSIOWA IZBA"</li>
        <li>PRZEDSZKOLE NR 2 "KRAINA WESOŁEJ ZABAWY"</li>
        <li>PRZEDSZKOLE NR 25 "BAJKA"</li>
        <li>PRZEDSZKOLE NR 31 "POD TĘCZĄ"</li>
        <li>PRZEDSZKOLE NR 32 Z ODDZIAŁAMI INTEGRACYJNYMI</li>
        <li>PRZEDSZKOLE NR 4 BIAŁY KONIK</li>
        <li>PRZEDSZKOLE NR 5 "PLASTUŚ"</li>
        <li>PRZEDSZKOLE NR 6</li>
        <li>PRZEDSZKOLE NR 7 "BOLEK I LOLEK"</li>
        <li>PRZEDSZKOLE NR 8 IM. JANKA WĘDROWNICZKA</li>
        <li>PRZEDSZKOLE TERAPEUTYCZNE "SŁONECZNA KRAINA"</li>
        <li>PRZEDSZKOLE Z ODDZIAŁAMI DLA DZIECI Z AUTYZMEM "PINOKIO"</li>
        <li>PUBLICZNA BIBLIOTEKA PEDAGOGICZNA W KONINIE</li>
        <li>PUBLICZNA SZKOŁA POLICEALNA FLORYSTYKI "ŻAK" W KONINIE</li>
        <li>PUBLICZNA SZKOŁA POLICEALNA KOSMETYCZNA "ŻAK" W KONINIE</li>
        <li>PUNKT PRZEDSZKOLNY "BAJKOWA KRAINA"</li>
        <li>RZEMIEŚLNICZA SZKOŁA ZAWODOWA CECHU RZEMIOSŁ RÓŻNYCH W KONINIE - BRANŻOWA SZKOŁA I STOPNIA</li>
        <li>RZEMIEŚLNICZA SZKOŁA ZAWODOWA CECHU RZEMIOSŁ RÓŻNYCH W KONINIE - BRANŻOWA SZKOŁA II STOPNIA</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY IM. JANUSZA KORCZAKA W KONINIE</li>
        <li>STUDIO EDUKACJI WALDEMAR JEDNORÓG</li>
        <li>SZKOŁA PODSTAWOWA CENTRUM SZKOLENIOWEGO WIEDZA</li>
        <li>SZKOŁA PODSTAWOWA DLA DOROSŁYCH W ZESPOLE SZKÓŁ CENTRUM KSZTAŁCENIA USTAWICZNEGO IM. STEFANA BATOREGO W KONINIE</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. ZOFII URBANOWSKIEJ W KONINIE</li>
        <li>SZKOŁA PODSTAWOWA NR 10 IM. ADAMA MICKIEWICZA W KONINIE</li>
        <li>SZKOŁA PODSTAWOWA NR 11 IM. FLORIANA MARCINIAKA W KONINIE</li>
        <li>SZKOŁA PODSTAWOWA NR 12 IM. STANISŁAWA MONIUSZKI W KONINIE</li>
        <li>SZKOŁA PODSTAWOWA NR 15 IM. POLSKICH OLIMPIJCZYKÓW W KONINIE</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. KAWALERÓW ORDERU UŚMIECHU W KONINIE</li>
        <li>SZKOŁA PODSTAWOWA NR 4 IM. GUSTAWA MORCINKA W KONINIE</li>
        <li>SZKOŁA PODSTAWOWA NR 6 IM. ROMUALDA TRAUGUTTA W KONINIE</li>
        <li>SZKOŁA PODSTAWOWA NR 7 W KONINIE</li>
        <li>SZKOŁA PODSTAWOWA NR 8 Z ODDZIAŁAMI INTEGRACYJNYMI IM. POWSTAŃCÓW WIELKOPOLSKICH W KONINIE</li>
        <li>SZKOŁA PODSTAWOWA PRZY WOJEWÓDZKIM SZPITALU ZESPOLONYM IM. DR. ROMANA OSTRZYCKIEGO W KONINIE</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA W SPECJALNYM OŚRODKU SZKOLNO - WYCHOWAWCZYM IM. JANUSZA KORCZAKA W KONINIE</li>
        <li>SZKOŁA PODSTAWOWA TOWARZYSTWA SALEZJAŃSKIEGO IM. ŚW. DOMINIKA SAVIO W KONINIE</li>
        <li>SZKOŁA PODSTAWOWA Z ODDZIAŁAMI INTEGRACYJNYMI NR 9 IM. BOHATERÓW WESTERPLATTE W KONINIE</li>
        <li>SZKOŁA POLICEALNA "COSINUS PLUS" W KONINIE</li>
        <li>SZKOŁA POLICEALNA CENTRUM NAUKI I BIZNESU "ŻAK"</li>
        <li>SZKOŁA POLICEALNA CENTRUM SZKOLENIOWEGO WIEDZA</li>
        <li>SZKOŁA POLICEALNA MEDYCZNA "ŻAK" W KONINIE</li>
        <li>SZKOŁA POLICEALNA OPIEKI MEDYCZNEJ "ŻAK" W KONINIE</li>
        <li>SZKOŁA POLICEALNA W ZESPOLE SZKÓŁ CENTRUM KSZTAŁCENIA USTAWICZNEGO IM. STEFANA BATOREGO W KONINIE</li>
        <li>SZKOŁA POLICEALNA. ELITARNE STUDIUM SŁUŻB OCHRONY "DELTA" W KONINIE</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W SPECJALNYM OŚRODKU SZKOLNO-WYCHOWAWCZYM IM. JANUSZA KORCZAKA W KONINIE</li>
        <li>SZKOŁA TECHNICZNA ZAKŁADU DOSKONALENIA ZAWODOWEGO Z SIEDZIBĄ W KONINIE</li>
        <li>SZKOLNE SCHRONISKO MŁODZIEŻOWE W KONINIE</li>
        <li>TECHNIKUM CENTRUM SZKOLENIOWEGO WIEDZA</li>
        <li>TECHNIKUM NR 1 W ZESPOLE SZKÓŁ GÓRNICZO-ENERGETYCZNYCH IM. STANISŁAWA STASZICA W KONINIE</li>
        <li>TECHNIKUM NR 2 W ZESPOLE SZKÓŁ BUDOWNICTWA I KSZTAŁCENIA ZAWODOWEGO IM. EUGENIUSZA KWIATKOWSKIEGO W KONINIE</li>
        <li>TECHNIKUM NR 3 W ZESPOLE SZKÓŁ CENTRUM KSZTAŁCENIA USTAWICZNEGO IM. STEFANA BATOREGO W KONINIE</li>
        <li>TECHNIKUM NR 4 W ZESPOLE SZKÓŁ IM. MIKOŁAJA KOPERNIKA W KONINIE</li>
        <li>TECHNIKUM NR 5 IM. MARII SKŁODOWSKIEJ - CURIE W ZESPOLE SZKÓŁ TECHNICZNYCH W KONINIE</li>
        <li>V LICEUM OGÓLNOKSZTAŁCĄCE W ZESPOLE SZKÓŁ GÓRNICZO-ENERGETYCZNYCH IM. STANISŁAWA STASZICA W KONINIE</li>
        <li>VI LICEUM OGÓLNOKSZTAŁCĄCE W ZESPOLE SZKÓŁ CENTRUM KSZTAŁCENIA USTAWICZNEGO IM. STEFANA BATOREGO W KONINIE</li>
        <li>WIELKOPOLSKIE SAMORZĄDOWE CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO W KONINIE</li>
        <li>ZAKŁAD DOSKONALENIA ZAWODOWEGO CENTRUM KSZTAŁCENIA W KONINIE</li>
        <li>ZAOCZNE LICEUM OGÓLNOKSZTAŁCACE DLA DOROSŁYCH "COSINUS PLUS" W KONINIE</li>
        <li>ZESPÓŁ NIEPUBLICZNYCH SZKÓŁ I PLACÓWEK OŚWIATOWYCH „SZANSA” W KONINIE</li>
        <li>ZESPÓŁ SZKÓŁ BUDOWNICTWA I KSZTAŁCENIA ZAWODOWEGO IM. EUGENIUSZA KWIATKOWSKIEGO W KONINIE</li>
        <li>ZESPÓŁ SZKÓŁ CENTRUM KSZTAŁCENIA USTAWICZNEGO IM. STEFANA BATOREGO W KONINIE</li>
        <li>ZESPÓŁ SZKÓŁ GÓRNICZO - ENERGETYCZNYCH IM. STANISŁAWA STASZICA W KONINIE</li>
        <li>ZESPÓŁ SZKÓŁ IM. MIKOŁAJA KOPERNIKA W KONINIE</li>
        <li>ZESPÓŁ SZKÓŁ TECHNICZNYCH W KONINIE</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
