
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Buk</title>
</head>
<body>
    <h1>Schools in Buk</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W BUKU</li>
        <li>FILIA W BUKU</li>
        <li>LICEUM OGÓLNOKSZTACĄCE DLA DOROSŁYCH "LIDER" W BUKU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W BUKU</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE PLUSZAK</li>
        <li>PLACÓWKA KSZTAŁCENIA USTAWICZNEGO CDS-LIDER</li>
        <li>PRZEDSZKOLE IM. KRASNALA HAŁABAŁY W BUKU</li>
        <li>PRZEDSZKOLE SIÓSTR MIŁOSIERDZIA ŚW. WINCENTEGO A'PAULO W BUKU</li>
        <li>SZKOŁA BRANŻOWA I STOPNIA LIDER W BUKU</li>
        <li>SZKOŁA BRANŻOWA II STOPNIA LIDER W BUKU</li>
        <li>SZKOŁA PODSTAWOWA IM. BOHATERÓW BUKOWSKICH W BUKU</li>
        <li>SZKOŁA POLICEALNA - STUDIUM MEDYCZNE LIDER W BUKU</li>
        <li>SZKOŁA POLICEALNA "LIDER" W BUKU</li>
        <li>TECHNIKUM LIDER W BUKU</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
