
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Cerekwica Nowa</title>
</head>
<body>
    <h1>Schools in Cerekwica Nowa</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE SPECJALNE</li>
        <li>MŁODZIEŻOWY OŚRODEK SOCJOTERAPII W CEREKWICY NOWEJ</li>
        <li>MŁODZIEŻOWY OŚRODEK WYCHOWAWCZY W CEREKWICY NOWEJ</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA</li>
        <li>WIELKOPOLSKI SAMORZĄDOWY ZESPÓŁ PLACÓWEK TERAPEUTYCZNO – WYCHOWAWCZYCH W CEREKWICY NOWEJ</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
