
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Siekierki Wielkie</title>
</head>
<body>
    <h1>Schools in Siekierki Wielkie</h1>
    <ul>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZO-PEDAGOGICZNA "SŁONECZKO" W SIEKIERKACH WIELKICH</li>
        <li>PRZEDSZKOLE W SIEKIERKACH WIELKICH</li>
        <li>SZKOŁA PODSTAWOWA IM. PAULINY I AUGUSTA WILKOŃSKICH W SIEKIERKACH WIELKICH</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
