
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Poznań</title>
</head>
<body>
    <h1>Schools in Poznań</h1>
    <ul>
        <li>BURSA SZKOLNA NR 1</li>
        <li>CENTRUM DOSKONALENIA - TEB EDUKACJA</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE IM. KAROLA MARCINKOWSKIEGO</li>
        <li>III LICEUM OGÓLNOKSZTAŁCĄCE IM. ŚW. JANA KANTEGO</li>
        <li>IV LICEUM OGÓLNOKSZTAŁCĄCE IM. KOMISJI EDUKACJI NARODOWEJ</li>
        <li>IV LICEUM OGÓLNOKSZTAŁCĄCE SPECJALNE</li>
        <li>IX LICEUM OGÓLNOKSZTAŁCĄCE IM. KAROLA LIBELTA</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE ŚW. MARII MAGDALENY</li>
        <li>MŁODZIEŻOWY DOM KULTURY NR 2</li>
        <li>MŁODZIEŻOWY DOM KULTURY NR 3</li>
        <li>MŁODZIEŻOWY DOM KULTURY NR1</li>
        <li>NIEPUBLICZNY OŚRODEK DOSKONALENIA NAUCZYCIELI BEHAVIOUR</li>
        <li>POZNAŃSKIE CENTRUM EDUKACJI USTAWICZNEJ I PRAKTYCZNEJ</li>
        <li>PRZEDSZKOLE NR 160 "BIAŁY ORZEŁ"</li>
        <li>SZKOŁA PODSTAWOWA NR 22 IM. A.T. DZIAŁYŃSKIEGO W POZNANIU</li>
        <li>SZKOŁA PODSTAWOWA NR 50 IM. I DYWIZJI PANCERNEJ GEN. S. MACZKA</li>
        <li>SZKOŁA PODSTAWOWA NR 69 IM.JAROGNIEWA DRWĘSKIEGO SZKOŁA MISTRZOSTWA SPORTOWEGO W POZNANIU</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA DLA DZIECI Z AUTYZMEM</li>
        <li>SZKOŁA POLICEALNA NR 31</li>
        <li>SZKOŁA POLICEALNA NR 31 DLA DOROSŁYCH</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY NR 5</li>
        <li>SZKOLNE SCHRONISKO MŁODZIEŻOWE NR 1</li>
        <li>SZKOLNE SCHRONISKO MŁODZIEŻOWE NR 3</li>
        <li>V LICEUM OGÓLNOKSZTAŁCĄCE IM. KLAUDYNY POTOCKIEJ</li>
        <li>VI LICEUM OGÓLNOKSZTAŁCĄCE IM. IGNACEGO JANA PADEREWSKIEGO</li>
        <li>XI LICEUM OGÓLNOKSZTAŁCĄCE IM. JADWIGI I WACŁAWA ZEMBRZUSKICH</li>
        <li>XII LICEUM OGÓLNOKSZTŁCACE IM. MARII SKŁODOWSKIEJ -CURIE</li>
        <li>XIV LICEUM OGÓLNOKSZTAŁCĄCE IM. KAZIMIERZA WIELKIEGO</li>
        <li>XXV LICEUM OGÓLNOKSZTAŁCĄCE IM. GENERAŁOWEJ JADWIGI ZAMOYSKIEJ</li>
        <li>ZESPÓŁ SZKÓŁ CHEMICZNYCH</li>
        <li>ZESPÓŁ SZKÓŁ ELEKTRYCZNYCH NR 2 IM. KS. PIOTRA WAWRZYNIAKA</li>
        <li>ZESPÓŁ SZKÓŁ GEODEZYJNO-DROGOWYCH IM. RUDOLFA MODRZEJEWSKIEGO</li>
        <li>ZESPÓŁ SZKÓŁ LICEALNO-TECHNICZNYCH</li>
        <li>ZESPÓŁ SZKÓŁ SAMOCHODOWYCH IM. INŻ. TADEUSZA TAŃSKIEGO</li>
        <li>ZESPÓŁ SZKÓŁ TECHNICZNYCH IM. MICHAŁA DRZYMAŁY</li>
        <li>ZESPÓŁ SZKÓŁ Z ODDZIAŁAMI SPORTOWYMI NR 1</li>
        <li>ZESPÓŁ SZKÓŁ ZAWODOWYCH NR 1</li>
        <li>ZESPÓŁ SZKOLNO - PRZEDSZKOLNY NR 1</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
