
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Koło</title>
</head>
<body>
    <h1>Schools in Koło</h1>
    <ul>
        <li>AKADEMICKA SZKOŁA POLICEALNA</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA CENTRUM NAUKI FENIKS</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA PRZY ZST W KOLE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA SPECJALNA W SOSW W KOLE</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA CENTRUM SZKOLENIOWE WIEDZA</li>
        <li>BURSA SZKOLNA W KOLE</li>
        <li>CENTRUM DOSKONALENIA NAUCZYCIELI PUBLICZNA BIBLIOTEKA PEDAGOGICZNA W KONINIE FILIA W KOLE</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO W ZESPOLE SZKÓŁ TECHNICZNYCH W KOLE W KOLE</li>
        <li>LICEUM OGÓLNKOKSZTAŁACĄCE (DLA DOROSŁYCH NA PODBUDOWIE GIMNAZJUM) CENTRUM SZKOLENIOWEGO WIEDZA</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH CENTRUM NAUKI EUREKA W KOLE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. KAZIMIERZA WIELKIEGO W KOLE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE PRZY ZSE-A W KOLE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE PRZY ZST W KOLE</li>
        <li>LICEUM SOKRATES</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "KÓŁKO GRANIASTE" MARLENA RUSZTYK</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "PROMYCZEK" GRAŻYNA MICHALAK</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "REKSIO" ALICJA MICHALAK</li>
        <li>OŚRODEK REHABILITACYJNO-EDUKACYJNO-WYCHOWAWCZY W KOLE</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I STOPNIA IM. KAROLA SZYMANOWSKIEGO W KOLE</li>
        <li>PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA W KOLE</li>
        <li>PRYWATNE "TĘCZOWE" PRZEDSZKOLE</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 1 W KOLE</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 3 W KOLE</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 5 W KOLE</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 6 W KOLE</li>
        <li>SPECJALNY OŚRODEK SZKOLNO - WYCHOWAWCZY IM. ŚWIĘTEGO MIKOŁAJA W KOLE</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. STANISŁAWA KONARSKIEGO W KOLE</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. ADAMA MICKIEWICZA W KOLE Z ODDZIAŁAMI PRZEDSZKOLNYMI I SPORTOWYMI</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. MARII KONOPNICKIEJ W KOLE Z ODDZIAŁAMI INTEGRACYJNYMI</li>
        <li>SZKOŁA PODSTAWOWA NR 4 IM. KAWALERÓW ORDERU UŚMIECHU W KOLE</li>
        <li>SZKOŁA PODSTAWOWA NR 5 IM. ARKADEGO FIEDLERA</li>
        <li>SZKOŁA PODSTAWOWA SOKRATES</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA</li>
        <li>SZKOŁA POLICEALNA CENTRUM SZKOLENIOWEGO WIEDZA</li>
        <li>SZKOŁA POLICEALNA DLA DOROSŁYCH CENTRUM NAUKI EUREKA W KOLE</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY PRZY SOSW W KOLE</li>
        <li>TECHNIKUM PRZY ZSEA W KOLE</li>
        <li>TECHNIKUM PRZY ZST W KOLE</li>
        <li>ZESPÓŁ OPIEKUŃCZO-EDUKACYJNO-WYCHOWAWCZY W KOLE</li>
        <li>ZESPÓŁ SZKÓŁ EKONOMICZNO - ADMINISTRACYJNYCH IM. STANISŁAWA I WŁADYSŁAWA GRABSKICH W KOLE</li>
        <li>ZESPÓŁ SZKÓŁ TECHNICZNYCH W KOLE</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
