
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Dębnica</title>
</head>
<body>
    <h1>Schools in Dębnica</h1>
    <ul>
        <li>PRZEDSZKOLE NR 1 W DĘBNICY</li>
        <li>PUBLICZNE PRZEDSZKOLE "STOKROTKA" W DĘBNICY</li>
        <li>SZKOŁA PODSTAWOWA IM. PŁK. PIL. WIKTORA PNIEWSKIEGO W DĘBNICY</li>
        <li>SZKOŁA PODSTAWOWA IM. POLSKICH OLIMPIJCZYKÓW W DĘBNICY</li>
        <li>ZESPÓŁ SZKÓŁ W DĘBNICY</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W DĘBNICY</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
