
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Poznań-Grunwald</title>
</head>
<body>
    <h1>Schools in Poznań-Grunwald</h1>
    <ul>
        <li>7 PERSPEKTYW - SZKOŁA DOSKONALENIA I KSZTAŁCENIA ZAWODOWEGO, PLACÓWKA KSZTAŁCENIA USTAWICZNEGO</li>
        <li>ABC FLORYSTYKI. SZKOLENIA FLORYSTYCZNE</li>
        <li>AKADEMIA OSTEOPATII</li>
        <li>AKADEMICKA SZKOŁA POLICEALNA WYŻSZEJ SZKOŁY BEZPIECZEŃSTWA Z SIEDZIBĄ W POZNANIU</li>
        <li>AT-3 SZKOLENIA</li>
        <li>ATC S.C. WOJCIECH KACZMAREK, DANIEL KACZMAREK</li>
        <li>ATC SOLUTIONS SP. Z O.O.</li>
        <li>BEA BELEZA ACADEMY</li>
        <li>BIURO SZKOLENIA SPECJALISTYCZNEGO "PROFILAKTYKA"</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 1</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 18</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 27</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 28</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 3</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 4</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA NR 4</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA NR 5</li>
        <li>CARROTS AND PEAS PUNKT PRZEDSZKOLNY</li>
        <li>CENTRUM DOSKONALENIA NAUCZYCIELI ALMA S.C. MARIA FRYSKA, JUSTYNA FRYSKA</li>
        <li>CENTRUM DOSKONALENIA ZAWODOWEGO NAUCZYCIELI ZAKŁADU DOSKONALENIA ZAWODOWEGO W POZNANIU</li>
        <li>CENTRUM EDUKACJI BEA BEATA ŻYTO</li>
        <li>CENTRUM EDUKACJI KYNOLOGICZNEJ PSIA WACHTA</li>
        <li>CENTRUM EDUKACJI REGIONALNEGO ODDZIAŁU KRAJOWEJ IZBY BIEGŁYCH REWIDENTÓW W POZNANIU</li>
        <li>CENTRUM KSZTAŁCENIA PRAKTYCZNEGO</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO "TARCZA 96"</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO I PRAKTYCZNEGO VOCALART</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO W POZNANIU</li>
        <li>CENTRUM SZKOLENIOWE CORIO</li>
        <li>DOMDATA - CENTRUM EDUKACYJNE</li>
        <li>DOMOWE PRZEDSZKOLE "CHATKA PUCHATKA"</li>
        <li>EVEN CENTRUM KSZTAŁCENIA ZAWODOWEGO</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE IM. GENERAŁOWEJ ZAMOYSKIEJ I HELENY MODRZEJEWSKIEJ</li>
        <li>INTERNATIONAL SCHOOL</li>
        <li>KATOLICKA SZKOŁA PODSTAWOWA IM. ŚW. STANISŁAWA KOSTKI W POZNANIU</li>
        <li>LICEUM DWUJĘZYCZNE Z ODDZIAŁAMI MIĘDZYNARODOWYMI INTERNATIONAL SCHOOL OF POZNAŃ</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH POZNAŃSKIEGO CENTRUM EDUKACJI</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH-ZAOCZNE STOWARZYSZENIA OŚWIATOWCÓW POLSKICH W POZNANIU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. MATKI J. BORZĘCKIEJ ZGROMADZENIA SIÓSTR ZMARTWYCHWSTANIA PAŃSKIEGO</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE SZKOŁA MISTRZOSTWA SPORTOWEGO MARCINA GORTATA W POZNANIU</li>
        <li>NIEPUBLICZNA POLICEALNA SZKOŁA SZTUK PIĘKNYCH SOWA-EDU W POZNANIU</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO PEDAGOGICZNA AGVITA</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "EMEDEA"</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "LAMIA"</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "MAŁY PIESEK ZUZI"</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "POMÓŻ ZROZUMIEĆ"</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "RÓWNE SZANSE"</li>
        <li>NIEPUBLICZNE DWUJĘZYCZNE PRZEDSZKOLE KIDS&CO. NR 2</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "SCANDYNAVIA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "STUMILOWY LAS - LEŚNI PRZYJACIELE"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE INTEGRACYJNO-TERAPEUTYCZNE "MIŚ"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE SPECJALISTYCZNE EMEDEA-INTUICJA</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE STUMILOWY LAS</li>
        <li>OGÓLNOKSZTAŁCĄCA SZKOŁA MUZYCZNA II ST. IM. JADWIGI KALISZEWSKIEJ W POZNANIU</li>
        <li>OGRÓD JORDANOWSKI NR 2</li>
        <li>OŚRODEK DOKSZTAŁCANIA I DOSKONALENIA ZAWODOWEGO</li>
        <li>OŚRODEK DOSKONALENIA NAUCZYCIELI W POZNANIU</li>
        <li>OŚRODEK REHABILITACYJNO EDUKACYJNO WYCHOWAWCZY EMEDEA</li>
        <li>OŚRODEK REHABILITACYJNO-EDUKACYJNO-WYCHOWAWCZY JAŚ I MAŁGOSIA</li>
        <li>OŚRODEK SZKOLENIA PRACOWNIKÓW OCHRONY "PARABELLUM"</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I ST. IM. KAROLA KURPIŃSKIEGO W POZNANIU</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA II ST. IM. FRYDERYKA CHOPINA W POZNANIU</li>
        <li>PAŃSTWOWE LICEUM SZTUK PLASTYCZNYCH IM. PIOTRA POTWOROWSKIEGO W POZNANIU</li>
        <li>PLACÓWKA DOSKONALENIA ZAWODOWEGO DELTA-PLUS</li>
        <li>PLACÓWKA KSZTAŁCENIA USTAWICZNEGO CENTRUM NAUKI, BIZNESU I ADMINISTRACJI W POZNANIU</li>
        <li>PLACÓWKA KSZTAŁCENIA USTAWICZNEGO DLA DOROSŁYCH KOSMETOLOGII I PROFILAKTYKI ZDROWIA</li>
        <li>PLACÓWKA KSZTAŁCENIA USTAWICZNEGO POZNAŃSKIEGO CENTRUM EDUKACJI</li>
        <li>POLICEALNA SZKOŁA KOSMETYCZNA ANIELI GOC</li>
        <li>POLICEALNA SZKOŁA ZAWODOWA CENTRUM NAUKI, BIZNESU I ADMINISTRACJI W POZNANIU</li>
        <li>POLICEALNE STUDIUM PIOSENKARSKIE IM. CZESŁAWA NIEMENA W POZNANIU</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA NR 2</li>
        <li>POZNAŃSKA POLICEALNA SZKOŁA DETEKTYWÓW I PRACOWNIKÓW OCHRONY</li>
        <li>POZNAŃSKA POLICEALNA SZKOŁA FARMACJI POZNAŃSKIEGO CENTRUM EDUKACJI</li>
        <li>POZNAŃSKA POLICEALNA SZKOŁA MASAŻU POZNAŃSKIEGO CENTRUM EDUKACJI</li>
        <li>POZNAŃSKA POLICEALNA SZKOŁA TERAPII ZAJĘCIOWEJ POZNAŃSKIEGO CENTRUM EDUKACJI</li>
        <li>PRYWATNA SZKOŁA PODSTAWOWA DLA DOROSŁYCH IM. JULIUSZA KOSSAKA</li>
        <li>PRYWATNA SZKOLA PODSTAWOWA MIESZKO W POZNANIU</li>
        <li>PRYWATNA SZKOŁA POLICEALNA W POZNANIU IM. JULIUSZA KOSSAKA</li>
        <li>PRYWATNE LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH IM. JULIUSZA KOSSAKA</li>
        <li>PRYWATNE LICEUM OGÓLNOKSZTAŁCĄCE MIESZKO W POZNANIU</li>
        <li>PRYWATNE POLICEALNE STUDIUM SZTUKI WOKALNEJ W POZNANIU</li>
        <li>PRYWATNE PRZEDSZKOLE "NOSTRI BIMBI"</li>
        <li>PRYWATNE PRZEDSZKOLE ANGLOJĘZYCZNE KRAINA BAŚNI</li>
        <li>PRYWATNE PRZEDSZKOLE BAJKOWA KRAINA</li>
        <li>PRYWATNE PRZEDSZKOLE TWÓRCZE ŁAPKI</li>
        <li>PRZEDSIĘBIORSTWO SZKOLENIOWO-DORADCZE BHP</li>
        <li>PRZEDSZKOLE "NA TROPIE"</li>
        <li>PRZEDSZKOLE CYTRYNA</li>
        <li>PRZEDSZKOLE FABRYKA FANTAZJI NR 198 W POZNANIU</li>
        <li>PRZEDSZKOLE LABOKIDS</li>
        <li>PRZEDSZKOLE MONTESSORI "LEŚNA AKADEMIA"</li>
        <li>PRZEDSZKOLE MONTESSORI LEŚNE PTAKI</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "AKADEMIA PRZEDSZKOLAKA - EDUCANDI"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "EDUCANDI"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "TAJEMNICZY OGRÓD"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "TĘCZOWA KRAINA"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "W KASZTANOWYM PARKU"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE CHATKA KAJTKA</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE VILLA MONTESSORI</li>
        <li>PRZEDSZKOLE NR 1 "BAJKOWY ZAMEK"</li>
        <li>PRZEDSZKOLE NR 100 "MALI POZNANIACY"</li>
        <li>PRZEDSZKOLE NR 110"WESOŁY DOMEK"</li>
        <li>PRZEDSZKOLE NR 118 IM. EWY SZELBURG-ZAREMBINY</li>
        <li>PRZEDSZKOLE NR 13</li>
        <li>PRZEDSZKOLE NR 25</li>
        <li>PRZEDSZKOLE NR 28IM.MAŁYCH ASTRONOMÓW</li>
        <li>PRZEDSZKOLE NR 32 "ŚWIERSZCZYKOWE NUTKI"</li>
        <li>PRZEDSZKOLE NR 36 IM. MARII KOWNACKIEJ</li>
        <li>PRZEDSZKOLE NR 38 IM. "ORLE GNIAZDO"</li>
        <li>PRZEDSZKOLE NR 39 "LEŚNE LUDKI"</li>
        <li>PRZEDSZKOLE NR 40 IM. "POZNAŃSKIE KOZIOŁKI"</li>
        <li>PRZEDSZKOLE NR 44 IM. JANUSZA KORCZAKA</li>
        <li>PRZEDSZKOLE NR 46</li>
        <li>PRZEDSZKOLE NR 47</li>
        <li>PRZEDSZKOLE NR 48</li>
        <li>PRZEDSZKOLE NR 51</li>
        <li>PRZEDSZKOLE NR 58</li>
        <li>PRZEDSZKOLE NR 67 IM. MARII KONOPNICKIEJ</li>
        <li>PRZEDSZKOLE NR 7</li>
        <li>PRZEDSZKOLE NR 70 IM. SŁONECZNA CHATKA</li>
        <li>PRZEDSZKOLE NR 8</li>
        <li>PRZEDSZKOLE NR 83 "ZUCH"</li>
        <li>PRZEDSZKOLE NR 89</li>
        <li>PRZEDSZKOLE NR 90IM. JANA BRZECHWY</li>
        <li>PRZEDSZKOLE NR 91 "BAJKA"</li>
        <li>PRZEDSZKOLE OGRODY MONTESSORI</li>
        <li>PRZEDSZKOLE PYZA WĘDROWNICZKA</li>
        <li>PRZEDSZKOLE ŚWIĘTEJ RODZINY</li>
        <li>PRZEDSZKOLE ZGROMADZENIA SIÓSTR IMIENIA JEZUS</li>
        <li>PUBLICZNA BIBLIOTEKA PEDAGOGICZNA W POZNANIU</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA COGITO</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 52 W POZNANIU</li>
        <li>PUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE KSW IM. BŁ. NATALII TUŁASIEWICZ W POZNANIU</li>
        <li>PUBLICZNE PRZEDSZKOLE COGITO</li>
        <li>PUBLICZNE PRZEDSZKOLE SIÓSTR NAZARETANEK IM. NAJŚWIĘTSZEJ RODZINY W POZNANIU</li>
        <li>PUBLICZNE PRZEDSZKOLE WESOŁA PSZCZÓŁKA W POZNANIU</li>
        <li>PUNKT PRZEDSZKOLNY CYTRYNA</li>
        <li>PUNKT PRZEDSZKOLNY LABOKIDS</li>
        <li>PUNKT PRZEDSZKOLNY MOTYLEK</li>
        <li>PUNKT PRZEDSZKOLNY TAAKI MALUCH</li>
        <li>SEW CONSULTING</li>
        <li>SPOŁECZNA SZKOŁA PODSTAWOWA NR 1 IM. ŚW. URSZULI LEDÓCHOWSKIEJ W POZNANIU STO</li>
        <li>SPOŁECZNE LICEUM OGÓLNOKSZTAŁCĄCE NR 1 IM. ŚW. URSZULI LEDÓCHOWSKIEJ W POZNANIU STO</li>
        <li>STOWARZYSZENIE KSIĘGOWYCH W POLSCE ODDZIAŁ WIELKOPOLSKI W POZNANIU CENTRUM EDUKACJI</li>
        <li>STUDIUM DOSKONALENIA KOMPETENCJI NAUCZYCIELSKICH MARKUS</li>
        <li>SZKOŁA JĘZYKOW OBCYCH "OMNIBUS"</li>
        <li>SZKOŁA PODSTAWOWA DLA DOROSŁYCH</li>
        <li>SZKOŁA PODSTAWOWA IM.MATKI JADWIGI BORZĘCKIEJ ZGROMADZENIA SIÓSTR ZMARTWYCHWSTANIA PAŃSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA INTERNATIONAL SCHOOL OF POZNAN</li>
        <li>SZKOŁA PODSTAWOWA MISTRZOSTWA SPORTOWEGO MARCINA GORTATA W POZNANIU</li>
        <li>SZKOŁA PODSTAWOWA MONTESSORI INTERNATIONAL SCHOOL</li>
        <li>SZKOŁA PODSTAWOWA NR 10 IM. ARKADEGO FIEDLERA</li>
        <li>SZKOŁA PODSTAWOWA NR 26</li>
        <li>SZKOŁA PODSTAWOWA NR 33 Z ODDZIAŁAMI DWUJĘZYCZNYMI I SPORTOWYMI</li>
        <li>SZKOŁA PODSTAWOWA NR 4 IM.ARMII POZNAŃ W POZNANIU</li>
        <li>SZKOŁA PODSTAWOWA NR 54 IM. JANA KASPROWICZA</li>
        <li>SZKOŁA PODSTAWOWA NR 58 IM. JERZEGO KUKUCZKI</li>
        <li>SZKOŁA PODSTAWOWA NR 7 IM. ERAZMA Z ROTTERDAMU</li>
        <li>SZKOŁA PODSTAWOWA NR 71 IM.JANUSZA KUSOCIŃSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 72 Z ODDZIAŁMI DWUJĘZYCZNYMI I SPORTOWYMI</li>
        <li>SZKOŁA PODSTAWOWA NR 74 IM. MIKOŁAJA KOPERNIKA</li>
        <li>SZKOŁA PODSTAWOWA NR 77 IM. XV PUŁKU UŁANÓW POZNAŃSKICH</li>
        <li>SZKOŁA PODSTAWOWA NR 78 IM. PROF. WIKTORA DEGI W POZNANIU</li>
        <li>SZKOŁA PODSTAWOWA NR 80 IM. KORNELA MAKUSZYŃSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 88 IM. POZNAŃSKICH KOZIOŁKÓW</li>
        <li>SZKOŁA PODSTAWOWA NR 9 IM. DRA FRANCISZKA WITASZKA</li>
        <li>SZKOŁA PODSTAWOWA NR 90 IM. HRABIEGO WŁADYSŁAWA ZAMOYSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 91Z ODDZIAŁAMI DWUJĘZYCZNYMI</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 101</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 103 IM. MARII GRZEGORZEWSKIEJ</li>
        <li>SZKOŁA POLICEALNA DLA DOROSŁYCH</li>
        <li>SZKOŁA POLICEALNA NR 1</li>
        <li>SZKOŁA POLICEALNA NR 1 DLA DOROSŁYCH</li>
        <li>SZKOŁA POLICEALNA NR 18</li>
        <li>SZKOŁA POLICEALNA NR 18 DLA DOROSŁYCH</li>
        <li>SZKOŁA POLICEALNA NR 28</li>
        <li>SZKOŁA POLICEALNA NR 28 DLA DOROSŁYCH</li>
        <li>SZKOŁA POLICEALNA NR 3</li>
        <li>SZKOŁA POLICEALNA NR 3 DLA DOROSŁYCH</li>
        <li>SZKOŁA POLICEALNA NR 4</li>
        <li>SZKOŁA POLICEALNA NR 4 DLA DOROSŁYCH</li>
        <li>SZKOŁA POLICEALNA POZNAŃSKIEGO CENTRUM EDUKACJI</li>
        <li>SZKOŁA POLICEALNA STOWARZYSZENIA OŚWIATOWCÓW POLSKICH W POZNANIU</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJACA DO PRACY NR 1</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY NR 6</li>
        <li>SZKÓŁKA MAŁEGO DZIECKA NIEPUBLICZNY PUNKT PRZEDSZKOLNY</li>
        <li>TECHNIKUM BUDOWLANO-DRZEWNE</li>
        <li>TECHNIKUM EKONOMICZNO-ADMINISTRACYJNE NR 1</li>
        <li>TECHNIKUM EKONOMICZNO-HANDLOWE</li>
        <li>TECHNIKUM ELEKTRONICZNO-MECHANICZNE</li>
        <li>TECHNIKUM ELEKTRYCZNO-ELEKTRONICZNE</li>
        <li>TECHNIKUM GASTRONOMICZNE</li>
        <li>TECHNIKUM GEODEZYJNO-DROGOWE</li>
        <li>WIELKOPOLSKA AKADEMIA NAUKI I ROZWOJU - JAKUB MICHAŁOWSKI</li>
        <li>WIELKOPOLSKA AKADEMIA NAUKI I ROZWOJU - JAKUB MICHAŁOWSKI</li>
        <li>WIELKOPOLSKA AKADEMIA NAUKI I ROZWOJU - JAKUB MICHAŁOWSKI</li>
        <li>XVIII LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>XXVII LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>XXVIII LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>XXVIII LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>XXXI LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>XXXIII LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI SPORTOWYMI</li>
        <li>XXXVI LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>XXXVII LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI TERAPEUTYCZNYMI</li>
        <li>XXXX LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W POZNANIU</li>
        <li>ZAKŁAD DOSKONALENIA ZAWODOWEGO CENTRUM KSZTAŁCENIA W POZNANIU</li>
        <li>ZAOCZNE POLICEALNE STUDIUM KOSMETYCZNE ANIELI GOC</li>
        <li>ZESPÓŁ OGRODÓW JORDANOWSKICH</li>
        <li>ZESPÓŁ PRYWATNYCH SZKÓŁ AKADEMICKICH MIESZKO W POZNANIU</li>
        <li>ZESPÓŁ PRZEDSZKOLI NR 2</li>
        <li>ZESPÓŁ SZKÓŁ "KOSSAKA"</li>
        <li>ZESPÓŁ SZKÓŁ BUDOWLANO-DRZEWNYCH IM. BOLESŁAWA CHROBREGO</li>
        <li>ZESPÓŁ SZKÓŁ BUDOWLANYCH</li>
        <li>ZESPÓŁ SZKÓŁ BUDOWLANYCH - BRANŻOWA SZKOŁA I STOPNIA IM. ROGERA SŁAWSKIEGO</li>
        <li>ZESPÓŁ SZKÓŁ BUDOWLANYCH - TECHNIKUM IM. ROGERA SŁAWSKIEGO</li>
        <li>ZESPÓŁ SZKÓŁ EKONOMICZNYCH IM. STANISŁAWA STASZICA</li>
        <li>ZESPÓŁ SZKÓŁ GASTRONOMICZNYCH IM. KAROLA LIBELTA</li>
        <li>ZESPÓŁ SZKÓŁ HANDLOWYCH IM. BOHATERÓW POZNAŃSKIEGO CZERWCA' 56</li>
        <li>ZESPÓŁ SZKÓŁ I PLACÓWEK OŚWIATOWYCH</li>
        <li>ZESPÓŁ SZKÓŁ MUZYCZNYCH W POZNANIU</li>
        <li>ZESPÓŁ SZKÓŁ NR 8</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH NR 33</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH NR1</li>
        <li>ZESPÓŁ SZKÓŁ SIÓSTR ZMARTWYCHWSTANEK</li>
        <li>ZESPÓŁ SZKÓŁ SPECJALNYCH NR 101 IM. JANA BRZECHWY</li>
        <li>ZESPÓŁ SZKÓŁ SPECJALNYCH NR 103 IM. MARII GRZEGORZEWSKIEJ</li>
        <li>ZESPÓŁ SZKÓŁ SPOŁECZNYCH NR 1 IM. ŚW. URSZULI LEDÓCHOWSKIEJ W POZNANIU SPOŁECZNEGO TOWARZYSTWA OŚWIATOWEGO</li>
        <li>ZWIĄZEK POLSKICH SPADOCHRONIARZY, VIII ODZIAŁ, OŚRODEK PRZYSTOSOWANIA ZAWODOWEGO</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
