
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Chrustowo</title>
</head>
<body>
    <h1>Schools in Chrustowo</h1>
    <ul>
        <li>PUBLICZNE PRZEDSZKOLE W CHRUSTOWIE</li>
        <li>SZKOŁA PODSTAWOWA IM. BRONISŁAWA MALINOWSKIEGO W CHRUSTOWIE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W CHRUSTOWIE</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
