
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Długa Wieś</title>
</head>
<body>
    <h1>Schools in Długa Wieś</h1>
    <ul>
        <li>ZESPÓŁ SZKOLNO - PRZEDSZKOLNY - SZKOŁA PODSTAWOWA W DOBREJ</li>
        <li>ZESPÓŁ SZKOLNO - PRZEDSZKOLNY -PRZEDSZKOLE SAMORZĄDOWE W DOBREJ</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W DOBREJ</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
