
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Piaski</title>
</head>
<body>
    <h1>Schools in Piaski</h1>
    <ul>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W ZESPOLE SZKÓŁ ROLNICZYCH W GRABONOGU</li>
        <li>PRZEDSZKOLE "ENART"</li>
        <li>PRZEDSZKOLE SAMORZADOWE Z ODDZIAŁAMI INTEGRACYJNYMI</li>
        <li>PUNKT PRZEDSZKOLNY TERAPEUTYCZNE SENSO SZKRABY</li>
        <li>SZKOŁA PODSTAWOWA Z ODDZIAŁAMI INTEGRACYJNYMI IM. MIKOŁAJA KOPERNIKA W PIASKACH</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
