
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Komorniki</title>
</head>
<body>
    <h1>Schools in Komorniki</h1>
    <ul>
        <li>PRZEDSZKOLE ANGLOJĘZYCZNE KRAINA TALENTÓW</li>
        <li>PRZEDSZKOLE KRÓLA MACIUSIA I W KOMORNIKACH</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 1 Z ODDZIAŁAMI INTEGRACYJNYMI I ODDZIAŁAMI SPECJALNYMI "SZKÓŁKA MAŁEGO DZIECKA" W KOMORNIKACH</li>
        <li>PRZEDSZKOLE PUBLICZNE ZIELONE GĄSKI</li>
        <li>PRZEDSZKOLE PUBLICZNE ZIELONE ŻABKI W KOMORNIKACH</li>
        <li>PUBLICZNE PRZEDSZKOLE RAZ DWA TRZY W KOMORNIKACH</li>
        <li>PUNKT PRZEDSZKOLNY BALONIK</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. JANUSZA KORCZAKA W KOMORNIKACH</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. EDWARDA HR. RACZYŃSKIEGO W KOMORNIKACH</li>
        <li>SZKOŁA PODSTAWOWA POPATRZ SZERZEJ W KOMORNIKACH</li>
        <li>Z INNEJ BAJKI</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
