
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Kłecko</title>
</head>
<body>
    <h1>Schools in Kłecko</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W KŁECKU</li>
        <li>NIEPUBLICZNA SZKOLA PODSTAWOWA W KŁECKU</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W KŁECKU</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "AKADEMIA MAŁEGO ODKRYWCY"</li>
        <li>PRZEDSZKOLE NR 1 W KŁECKU</li>
        <li>PRZEDSZKOLE SPECJALNE W KŁECKU</li>
        <li>SPECJALNY OŚRODEK SZKOLNO - WYCHOWAWCZY IM. HM. ZYGMUNTA IMBIEROWICZA W KŁECKU</li>
        <li>SZKOŁA PODSTAWOWA IM. OBROŃCÓW KŁECKA W KŁECKU</li>
        <li>SZKOŁA PODSTAWOWA NR 2 SPECJALNA W KŁECKU</li>
        <li>SZKOŁA SPECJALNA PRZYSPASABIAJĄCA DO PRACY W KŁECKU</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W KŁECKU</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
