
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Zbąszyń</title>
</head>
<body>
    <h1>Schools in Zbąszyń</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W ZBĄSZYNIU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W ZBĄSZYNIU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. STEFANA GARCZYŃSKIEGO W ZBĄSZYNIU</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I ST. IM. STANISŁAWA MONIUSZKI W ZBĄSZYNIU</li>
        <li>PRZEDSZKOLE PRYWATNE LIPOWY ZAKĄTEK</li>
        <li>PRZEDSZKOLE W ZBĄSZYNIU</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY W ZBĄSZYNIU</li>
        <li>SZKOŁA PODSTAWOWA IM. ARKADEGO FIEDLERA W ZBĄSZYNIU</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA W ZBĄSZYNIU</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W ZBĄSZYNIU</li>
        <li>TECHNIKUM W ZBĄSZYNIU</li>
        <li>ZESPÓŁ SZKÓŁ NR 1 W ZBĄSZYNIU</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
