
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Skulsk</title>
</head>
<body>
    <h1>Schools in Skulsk</h1>
    <ul>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W SKULSKU</li>
        <li>PRZEDSZKOLE GMINNE W SKULSKU</li>
        <li>SZKOŁA PODSTAWOWA IM. HENRYKA SIENKIEWICZA W SKULSKU</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W SKULSKU</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
