
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Gołańcz</title>
</head>
<body>
    <h1>Schools in Gołańcz</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA SPECJALNA W GOŁAŃCZY</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA W GOŁAŃCZY</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W GOŁAŃCZY</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W GOŁAŃCZY</li>
        <li>MŁODZIEŻOWY OŚRODEK SOCJOTERAPII IM. KOMPANII GOŁANIECKIEJ W GOŁAŃCZY</li>
        <li>PRZEDSZKOLE PUBLICZNE W GOŁAŃCZY</li>
        <li>SZKOŁA PODSTAWOWA IM.PPŁKA.WŁ KOWALSKIEGOW GOŁAŃCZY</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA W GOŁAŃCZY</li>
        <li>SZKOŁA POLICEALNA W GOŁAŃCZY</li>
        <li>TECHNIKUM W GOŁAŃCZY</li>
        <li>ZESPÓŁ SZKÓŁ IM. KAROLA LIBELTA W GOŁAŃCZY</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
