
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Rakoniewice</title>
</head>
<body>
    <h1>Schools in Rakoniewice</h1>
    <ul>
        <li>ABM HAIR ACADEMY SP. Z O.O.</li>
        <li>MM HAIR & BEAUTY ACADEMY MAGDALENA GEMSKA</li>
        <li>PRZEDSZKOLE RÓŻANY OGRÓD W RAKONIEWICACH</li>
        <li>SZKOŁA PODSTAWOWA IM. POWSTAŃCÓW WIELKOPOLSKICH W RAKONIEWICACH</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
