
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Lubstów</title>
</head>
<body>
    <h1>Schools in Lubstów</h1>
    <ul>
        <li>PRZEDSZKOLE GMINNE W LUBSTOWIE</li>
        <li>SZKOŁA PODSTAWOWA IM. KS. JANA TWARDOWSKIEGO W LUBSTOWIE</li>
        <li>ZESPÓL SZKOLNO-PRZEDSZKOLNY NR 2 W LUBSTOWIE</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
