
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Suchy Las</title>
</head>
<body>
    <h1>Schools in Suchy Las</h1>
    <ul>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. ROMKA STRZAŁKOWSKIEGO W SUCHYM LESIE</li>
        <li>MAGIC WORLD PRESCHOOL DWUJĘZYCZNE NIEPUBLICZNE PRZEDSZKOLE</li>
        <li>NIEPUBLICZNA SZKOŁA MUZYCZNA I STOPNIA MUSIC WORLD W SUCHYM LESIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE ANGLOJĘZYCZNE "KRAINA ELMO"</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY "SUPEŁKOWO"</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W LUBONIU FILIA W SUCHYM LESIE</li>
        <li>PRYWATNA SZKOŁA PODSTAWOWA "HARMONIA"</li>
        <li>PRYWATNE PRZEDSZKOLE "NATURA"</li>
        <li>PRYWATNE PRZEDSZKOLE "PIRACIKI"</li>
        <li>PRYWATNE PRZEDSZKOLE "WESOŁY DELFINEK"</li>
        <li>PRZEDSZKOLE " LEŚNYCH LUDKÓW"</li>
        <li>STOWARZYSZENIE KLUB SPORTOWY AKRO FLY</li>
        <li>STUDIO EDUKACJI ROMY JAKUBOWSKIEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. WOJCIECHA BOGUSŁAWSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. JANA PAWŁA II</li>
        <li>WORLD PRIMARY SCHOOL NIEPUBLICZNA SZKOŁA PODSTAWOWA Z ODDZIAŁAMI DWUJĘZYCZNYMI</li>
        <li>ZESPÓŁ WORLD SCHOOL W SUCHYM LESIE</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
