
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Ostrzeszów</title>
</head>
<body>
    <h1>Schools in Ostrzeszów</h1>
    <ul>
        <li>ANIMO SZKOŁA JĘZYKÓW OBCYCH W OSTRZESZOWIE</li>
        <li>BAJLANDIA NIEPUBLICZNE PRZEDSZKOLE I KLUB MALUCHA S.C. SYLWIA SZYGENDA I EWELINA CHABIERSKA</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 1 W OSTRZESZOWIE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 2 W OSTRZESZOWIE</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA W OSTRZESZOWIE</li>
        <li>BRANŻOWA SZKOŁA SPECJALNA I STOPNIA W OSTRZESZOWIE</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE IM. MARII SKŁODOWSKIEJ-CURIE</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>KLUB MALUCHA DARIA BIELASTA I IZABELA KOSZARNA SPÓŁKA CYWILNA</li>
        <li>KSIĄŻNICA PEDAGOGICZNA IM.ALFONSA PARCZEWSKIEGO W KALISZU FILIA W OSTRZESZOWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W OSTRZESZOWIE</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W OSTRZESZOWIE</li>
        <li>NOVA CENTRUM SZKOŁA JĘZYKÓW OBCYCH W OSTRZESZOWIE</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I ST. IM. FRYDERYKA CHOPINA W OSTRZESZOWIE</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA</li>
        <li>PRZEDSZKOLE NR 1 "BAJKOWA JEDYNECZKA" W OSTRZESZOWIE</li>
        <li>PRZEDSZKOLE NR 5 IM. SŁONECZNY ZAKĄTEK W OSTRZESZOWIE</li>
        <li>PRZEDSZKOLE NR 6 IM. MISIA USZATKA W OSTRZESZOWIE</li>
        <li>PUBLICZNE PRZEDSZKOLE SIÓSTR NAZARETANEK IM. DZIECIĄTKA JEZUS</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY - PRZEDSZKOLE SPECJALNE W OSTRZESZOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. HENRYKA SIENKIEWICZA W OSTRZESZOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. MARII DĄBROWSKIEJ W OSTRZESZOWIE</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA</li>
        <li>SZKOŁA POLICEALNA NR 1 W OSTRZESZOWIE</li>
        <li>SZKOŁA POLICEALNA NR 2</li>
        <li>SZKOŁA PRZYSPOSABIAJĄCA DO PRACY</li>
        <li>SZKOŁA ZESPOŁÓW ADAMA FULARY W OSTRZESZOWIE</li>
        <li>TECHNIKUM NR 1 W OSTRZESZOWIE</li>
        <li>TECHNIKUM NR 2</li>
        <li>ZESPÓŁ SZKÓŁ NR 1 IM. POWSTAŃCÓW WIELKOPOLSKICH W OSTRZESZOWIE</li>
        <li>ZESPÓŁ SZKÓŁ NR 2 W OSTRZESZOWIE IM. PRZYJAŹNI POLSKO-NORWESKIEJ</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
