
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Opatówek</title>
</head>
<body>
    <h1>Schools in Opatówek</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W OPATÓWKU</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO W OPATÓWKU</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO W OPATÓWKU-LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W OPATÓWKU</li>
        <li>POWIATOWA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W OPATÓWKU</li>
        <li>PUBLICZNE PRZEDSZKOLE "WESOŁY SMYK" W OPATÓWKU</li>
        <li>SZKOŁA PODSTAWOWA IM. JANUSZA KUSOCIŃSKIEGO W OPATÓWKU</li>
        <li>SZKOŁA POLICEALNA DLA DOROSŁYCH W OPATÓWKU</li>
        <li>TECHNIKUM W OPATÓWKU</li>
        <li>ZESPÓŁ SZKÓŁ IM. STANISŁAWA MIKOŁAJCZYKA W OPATÓWKU</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
