
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Nekla</title>
</head>
<body>
    <h1>Schools in Nekla</h1>
    <ul>
        <li>AKADEMIA TALENTÓW PRZEDSZKOLE PUBLICZNE W NEKLI</li>
        <li>PRZEDSZKOLE "MIŚ USZATEK"</li>
        <li>PRZEDSZKOLE PUBLICZNE ,,MALI EINSTEINI"</li>
        <li>SZKOŁA PODSTAWOWA IM. MARII KONOPNICKIEJ W NEKLI</li>
        <li>ZESPÓŁ SZKÓŁ W NEKLI</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
