
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Objezierze</title>
</head>
<body>
    <h1>Schools in Objezierze</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA Z ODDZIAŁAMI INTEGRACYJNYMI W ZESPOLE SZKÓŁ IM. ADAMA MICKIEWICZA W OBJEZIERZU</li>
        <li>PUBLICZNE PRZEDSZKOLE W OBJEZIERZU</li>
        <li>SZKOŁA PODSTAWOWA IM. JÓZEFA IGNACEGO KRASZEWSKIEGO W OBJEZIERZU</li>
        <li>TECHNIKUM W ZESPOLE SZKÓŁ IM. ADAMA MICKIEWICZA W OBJEZIERZU</li>
        <li>ZESPÓŁ SZKÓŁ IM. ADAMA MICKIEWICZA W OBJEZIERZU</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W OBJEZIERZU</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
