
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Jarocin</title>
</head>
<body>
    <h1>Schools in Jarocin</h1>
    <ul>
        <li>AKADEMIA DOBREJ EDUKACJI IM. CZESŁAWA NIEMENA W JAROCINIE</li>
        <li>ANGLISTA SZKOŁA JĘZYKÓW OBCYCH NIEPUBLICZNE CENTRUM EDUKACYJNE W JAROCINIE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 1 W JAROCINIE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 2 W JAROCINIE</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA W JAROCINE</li>
        <li>CECH RZEMIOSŁ RÓŻNYCH W JAROCINIE JAROCIŃSKIE CENTRUM EDUKACJI I KARIERY</li>
        <li>CENTRUM DOSKONALENIA UMIEJĘTNOŚCI</li>
        <li>LICEUM AKADEMIA DOBREJ EDUKACJI IM. CZESŁAWA NIEMENAW JAROCINIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE NR 1 IM. T. KOŚCIUSZKI W JAROCINIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE NR 2 W JAROCINIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCACE NR 3 W JAROCINIE</li>
        <li>MIĘDZYSZKOLNY OŚRODEK SPORTOWY W JAROCINIE</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA IM. T. KOŚCIUSZKI W JAROCINIE</li>
        <li>NIEPUBLICZNE CENTRUM KSZTAŁCENIA USTAWICZNEGO I PRAKTYCZNEGO W JAROCINIE</li>
        <li>NIEPUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W JAROCINIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "AKADEMIA KRASNALI" W JAROCINIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "JARZĘBINKA" W JAROCINIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "JAŚ I MAŁGOSIA" W JAROCINIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "KRAINA BAŚNI" W JAROCINIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "POZIOMKA" W JAROCINIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "PROMYCZEK" W JAROCINIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "STOKROTKA" W JAROCINIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE GEOMETRYCZNY ŚWIAT W JAROCINIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE HAPPY-KIDS W JAROCINIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE Z ODDZIAŁAMI INTEGRACYJNYMI MARCINEK W JAROCINIE</li>
        <li>NIEPUBLICZNE SCHRONISKO MŁODZIEŻOWE -PAŁAC RADOLIŃSKICH</li>
        <li>OSK KRISS LINGUA SCHOOL</li>
        <li>PADDINGTON.DWUJĘZYCZNE PRZEDSZKOLE NIEPUBLICZNE MONTESSORI</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I ST. W JAROCINIE</li>
        <li>PBP KSIĄŻNICA PEDAGOGICZNA IM. A. PARCZEWSKIEGO W KALISZU FILIA W JAROCINIE</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W JAROCINIE</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 2 "BAJECZKA" W JAROCINIE</li>
        <li>RYŚ-POL POSKROP RYSZARD</li>
        <li>SPOŁECZNA SZKOŁA PODSTAWOWA Z ODDZIAŁAMI PRZEDSZKOLNYMI W JAROCINIE</li>
        <li>SPOŁECZNE LICEUM OGÓLNOKSZTAŁCĄCE W JAROCINIE</li>
        <li>SZKOŁA PODSTAWOWA AKADEMIA DOBREJ EDUKACJI IM. CZESŁAWA NIEMENA Z ODDZIAŁEM PRZEDSZKOLNYM W JAROCINIE</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. KRÓLOWEJ JADWIGI W JAROCINIE</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. KS. JANA TWARDOWSKIEGO W JAROCINIE</li>
        <li>SZKOŁA PODSTAWOWA NR 4 IM. WŁADYSŁAWA BRONIEWSKIEGO W JAROCINIE</li>
        <li>SZKOŁA PODSTAWOWA NR 5 Z ODDZIAŁAMI INTEGRACYJNYMI IM. I PUŁKU LOTNICTWA MYŚLIWSKIEGO "WARSZAWA" W JAROCINIE</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA IM. UNICEF W JAROCINIE</li>
        <li>SZKOŁA POLICEALNA W JAROCINIE</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY IM. UNICEF W JAROCINIE</li>
        <li>SZKOLNE SCHRONISKO MŁODZIEŻOWE NR 2 W JAROCINIE</li>
        <li>SZKOLNE SCHRONISKO MŁODZIEŻOWE NR 4 W JAROCINIE</li>
        <li>TECHNIKUM NR 1 W JAROCINIE</li>
        <li>TECHNIKUM NR 2 W JAROCINIE</li>
        <li>YAMAHA SZKOŁA MUZYCZNA W JAROCINIE</li>
        <li>ZESPÓŁ SZKÓŁ NR 4 W JAROCINIE</li>
        <li>ZESPÓŁ SZKÓŁ NR 5 W JAROCINIE</li>
        <li>ZESPÓŁ SZKÓŁ PONADPODSTAWOWYCH NR 1 W JAROCINIE</li>
        <li>ZESPÓŁ SZKÓŁ PONADPODSTAWOWYCH NR 2 IM. EUGENIUSZA KWIATKOWSKIEGO W JAROCINIE</li>
        <li>ZESPÓŁ SZKÓL SPECJALNYCH W JAROCINIE</li>
        <li>ZESPÓŁ SZKÓŁ SPOŁECZNYCHJAROCIŃSKIEGO STOWARZYSZENIA EDUKACYJNEGO</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
