
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Tuchorza</title>
</head>
<body>
    <h1>Schools in Tuchorza</h1>
    <ul>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH LIDER W TUCHORZY</li>
        <li>SZKOŁA BRANŻOWA II STOPNIA LIDER W TUCHORZY</li>
        <li>SZKOŁA PODSTAWOWA W TUCHORZY</li>
        <li>SZKOŁA POLICEALNA "LIDER" W TUCHORZY</li>
        <li>ZESPÓŁ PUBLICZNYCH PRZEDSZKOLI W TUCHORZY</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
