
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Nowe Miasto nad Wartą</title>
</head>
<body>
    <h1>Schools in Nowe Miasto nad Wartą</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA IM. GEN. J. H. DĄBROWSKIEGO W NOWYM MIEŚCIE NAD WARTĄ</li>
        <li>NIEPUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W NOWYM MIEŚCIE NAD WARTĄ</li>
        <li>PRZEDSZKOLE STOKROTKA - MARIA SZESZUŁA</li>
        <li>SZKOŁA PODSTAWOWA IM. GEN. J. H. DĄBROWSKIEGO W NOWYM MIEŚCIE NAD WARTĄ</li>
        <li>SZKOŁA POLICEALNA DLA DOROSŁYCH W NOWYM MIEŚCIE NAD WARTĄ</li>
        <li>ZESPÓŁ SZKÓŁ IM.GEN.J.H.DĄBROWSKIEGO W NOWYM MIEŚCIE NAD WARTĄ</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
