
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Bugaj</title>
</head>
<body>
    <h1>Schools in Bugaj</h1>
    <ul>
        <li>PRZEDSZKOLE NIEPUBLICZNE "JUNIOR"</li>
        <li>SZKOŁA PODSTAWOWA IM. WIOSNY LUDÓW W MIŁOSŁAWIU</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W MIŁOSŁAWIU</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
