
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Słupia Wielka</title>
</head>
<body>
    <h1>Schools in Słupia Wielka</h1>
    <ul>
        <li>NIEPUBLICZNE PRZEDSZKOLE "STOKROTKA"</li>
        <li>NIEPUBLICZNY MIĘDZYSZKOLNY OŚRODEK SPORTOWY "MAKS - MIĘDZYSZKOLNA AKADEMIA KSZTAŁCENIA SPORTOWEGO"</li>
        <li>NIEPUBLICZNY MŁODZIEŻOWY DOM KULTURY "LAS - LATAJĄCA AKADEMIA SZKOLNA"</li>
        <li>SZKOŁA PODSTAWOWA IM. GEN. J.H. DĄBROWSKIEGO W SŁUPI WIELKIEJ</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
