
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Strzyżewo</title>
</head>
<body>
    <h1>Schools in Strzyżewo</h1>
    <ul>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA W STRZYŻEWIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "BIEDRONKOWO" W STRZYŻEWIE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W STRZYŻEWIE</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
