
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Rusko</title>
</head>
<body>
    <h1>Schools in Rusko</h1>
    <ul>
        <li>PUBLICZNE PRZEDSZKOLE W RUSKU</li>
        <li>SZKOŁA PODSTAWOWA W RUSKU IM. KARDYNAŁA STEFANA WYSZYŃSKIEGO</li>
        <li>ZESPÓŁ SZKÓŁ W RUSKU IM.KARDYNAŁA STEFANA WYSZYŃSKIEGO</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
