
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Antoniewo</title>
</head>
<body>
    <h1>Schools in Antoniewo</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA SPECJALNA W ANTONIEWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE SPECJALNE W ANTONIEWIE</li>
        <li>MŁODZIEŻOWY OŚRODEK WYCHOWAWCZY IM. JANUSZA KORCZAKA W ANTONIEWIE</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA W ANTONIEWIE</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
