
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Poznań-Stare Miasto</title>
</head>
<body>
    <h1>Schools in Poznań-Stare Miasto</h1>
    <ul>
        <li>7 CM SZKOŁA PROJEKTOWANIA, KONSTRUKCJI I TECHNIK KRAWIECKICH NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO</li>
        <li>A.S. NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO</li>
        <li>AKADEMIA EDUKACJI MONTESSORI "MAŁPI GAJ"</li>
        <li>AKADEMIA EDUKACJI MONTESSORI MAŁPI GAJ PRZEDSZKOLE SPECJALNE</li>
        <li>ATUM CENTRUM SZKOLEŃ OZE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 2</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 23</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 34</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 7</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 8</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA SPECJALNA NR 1</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA NR 1</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA NR 2</li>
        <li>BRANŻOWA SZKOŁA SPECJALNA I STOPNIA NR 2</li>
        <li>BURSA SZKOLNA NR 3</li>
        <li>CANELLA EDUKACJA POLICEALNA SZKOŁA MEDYCZNA W POZNANIU</li>
        <li>CANELLA EDUKACJA POLICEALNA SZKOŁA ZAWODOWA W POZNANIU</li>
        <li>CELIDOX OŚRODEK SZKOLENIA KIEROWCÓW PRAWKO CEZARY DROZDOWSKI</li>
        <li>CENTRUM EDUKACJI MENEDŻERSKIEJ "PROMOTOR"</li>
        <li>CENTRUM HAJDASZ</li>
        <li>CENTRUM KREACJI MULTIMEDIALNEJ</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO CANVA</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO EDUKACJA DLA BEZPIECZEŃSTWA</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO NR 2 W POZNANIU</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO SECURITAS W POZNANIU</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO WIEDZA, KULTURA POMOC</li>
        <li>CENTRUM SZKOLENIOWE "FEDERACJA"</li>
        <li>CENTRUM SZKOLENIOWO - USŁUGOWE MEDAID</li>
        <li>CHRZEŚCIJAŃSKA SZKOŁA PODSTAWOWA IM. KRÓLA DAWIDA</li>
        <li>CHRZEŚCIJAŃSKIE LICEUM OGÓLNOKSZTAŁCĄCE IM. KRÓLA DAWIDA W POZNANIU</li>
        <li>CIEKAWSKA HOP SA SÓWKA & JEŻ O ZWIERZ & TRA LA LISEK PRZEDSZKOLE NIEPUBLICZNE</li>
        <li>CIEKAWSKA HOP SA SÓWKA PUNKT PRZEDSZKOLNY</li>
        <li>COMBAT.EDUCATION</li>
        <li>DIAMOND BEAUTY ACADEMY</li>
        <li>DWULETNIA SZKOŁA POLICEALNA ŻAK</li>
        <li>EFIB DR MAGDALENA GÓRECKA AKREDYTOWANA PLACÓWKA EDUKACJI USTAWICZNEJ</li>
        <li>EUREKA SZKOŁA PODSTAWOWA</li>
        <li>F5 KONSULTING</li>
        <li>FACTOR EDU - OŚRODEK SZKOLENIOWY</li>
        <li>INSTYTUT WIEDZY WALEOLOGICZNEJ - SZKOLENIA - NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO</li>
        <li>KOLEGIUM PRACOWNIKÓW SŁUŻB SPOŁECZNYCH W POZNANIU</li>
        <li>LICEUM AKADEMICKIE DA VINCI</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH "ŻAK" W POZNANIU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH LEONARDO 2 W POZNANIU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH PASCAL W POZNANIU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W POZNANIU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE EUREKA</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE FLEX</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE HORYZONT</li>
        <li>LICEUM START UP</li>
        <li>MALI WIELCY PRZEDSZKOLE TWÓRCZYCH MOŻLIWOŚCI PLACÓWKA NIEPUBLICZNA</li>
        <li>MAŁY INŻYNIER</li>
        <li>MEDYCZNA SZKOŁA POLICEALNA MEDICUS W POZNANIU</li>
        <li>MEDYCZNE STUDIUM ZAWODOWE IM. PCK W POZNANIU</li>
        <li>MIDRO OŚRODEK SZKOLENIA BHP I DOSKONALENIA KADR</li>
        <li>MIĘDZYNARODOWA SZKOŁA CHARAKTERYZACJI NOVA MASKA</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO COMPETIR POLSKA - SZKOLENIA I USŁUGI</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO EDUMENTORS</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO INSTYTUT PODOLOGII W POZNANIU</li>
        <li>NIEPUBLICZNA PLACÓWKA OŚWIATOWA AKADEMIA NAUKI</li>
        <li>NIEPUBLICZNA POLICEALNA SZKOŁA PLASTYCZNA FASHION SCHOOL W POZNANIU</li>
        <li>NIEPUBLICZNA POLICEALNA WIELKOPOLSKA SZKOŁA FOTOGRAFII W POZNANIU</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "ARCAMIA"</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "JAŚ I MAŁGOSIA"</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "MALUSZEK"</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA OTWARTE DRZWI</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA "OTWARTE DRZWI - PREMIUM"</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA "SCANDYNAVIA"</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA "ZAWSZE RAZEM"</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA IM. ŚWIĘTEJ RODZINY</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA KONSTELACJA</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA MAIUS BONUM</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA NIEBIESKIE DRZEWO CIEKAWOŚCI</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA O!MEGA</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA REGGIO EMILIA DRZEWO CIEKAWOŚCI</li>
        <li>NIEPUBLICZNA SZKOŁA SZTUKI TAŃCA FOUETTE W POZNANIU</li>
        <li>NIEPUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE "OTWARTE DRZWI" W POZNANIU</li>
        <li>NIEPUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE "SCANDYNAVIA"</li>
        <li>NIEPUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE O!MEGA</li>
        <li>NIEPUBLICZNE POLSKO-ANGIELSKIE PRZEDSZKOLE MOTESSORI PRZYSTAŃ ODKRYWCÓW</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "DAWID"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "WESOŁY DOMEK"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE „MĄDRALA”</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE BAJKOWA AKADEMIA SMYKA</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE PROMYKI</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE SPECJALNE SUPERSPRAWNI</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE SPORTOWO-JĘZYKOWE FAIR-PLAY</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE UNIWERSYTECKIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE Z ODDZIAŁAMI INTEGRACYJNYMI I ODDZIAŁAMI SPECJALNYMI SZKÓŁKA MAŁEGO DZIECKA</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY ŚWIĘTA RODZINA</li>
        <li>NOVA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO W POZNANIU</li>
        <li>OGÓLNOKSZTAŁCĄCA SZKOŁA BALETOWA IM. OLGI SŁAWSKIEJ-LIPCZYŃSKIEJ W POZNANIU</li>
        <li>OGRÓD JORDANOWSKI NR 1</li>
        <li>OH MIO! MONTESSORI POLSKO-ANGIELSKIE PRZEDSZKOLE NIEPUBLICZNE</li>
        <li>OŚRODEK DOSKONALENIA KADR SIMP W POZNANIU</li>
        <li>OŚRODEK DOSKONALENIA NAUCZYCIELI "UNI-TERRA"</li>
        <li>OŚRODEK KSZTAŁCENIA USTAWICZNEGO GRAŻYNA</li>
        <li>OŚRODEK SZKOLEŃ MEDICUS</li>
        <li>OŚRODEK SZKOLENIA ODDZIAŁU POZNAŃSKIEGO STOWARZYSZENIA ELEKTRYKÓW POLSKICH W POZNANIU</li>
        <li>OŚRODEK SZKOLENIOWY CENTRUM NAUKI I BIZNESU "ŻAK" W POZNANIU</li>
        <li>OŚRODEK SZKOLNIOWY INSTYTUTU MAŁEGO DZIECKA IM. ASTRID LINDGREN</li>
        <li>PAŃSTWOWA BURSA SZKÓŁ ARTYSTYCZNYCH W POZNANIU</li>
        <li>PIĄTKOWSKA SZKOŁA SPOŁECZNA IM. DR WANDY BŁEŃSKIEJ</li>
        <li>PLACÓWKA KSZTAŁCENIA USTAWICZNEGO "REDICUS"</li>
        <li>PLACÓWKA KSZTAŁCENIA USTAWICZNEGO FUNDACJA PARASOL</li>
        <li>PLACÓWKA KSZTAŁCENIA USTAWICZNEGO PRZY FUNDACJI NA RZECZ STUDENTÓW I ABSOLWENTÓW UAM "UNIVERSITATIS POSNANIENSIS"</li>
        <li>PLUS - CENTRUM KSZTAŁCENIA USTAWICZNEGO</li>
        <li>PLUS - LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W POZNANIU</li>
        <li>PLUS - MEDYCZNA SZKOŁA POLICEALNA W POZNANIU</li>
        <li>PLUS - SZKOŁA POLICEALNA W POZNANIU</li>
        <li>POLICEALNA SZKOŁA MEDYCZNA GAMMA W POZNANIU</li>
        <li>POLSKA SZKOŁA FLORYSTYCZNA CENTRUM EDUKACJI</li>
        <li>POLSKIE TOWARZYSTWO EKONOMICZNE ODDZIAL W POZNANIU</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA NR 4 POZNAŃ-PIĄTKOWO</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA NR 5 POZNAŃ-STARE MIASTO</li>
        <li>POZNAŃSKA OGÓLNOKSZTAŁĄCA SZKOŁA MUZYCZNA I STOPNIA NR 1 IM. HENRYKA WIENIAWSKIEGO</li>
        <li>POZNAŃSKA OGÓLNOKSZTAŁCĄCA SZKOŁA MUZYCZNA II STOPNIA IM.MIECZYSŁAWA KARŁOWICZA</li>
        <li>POZNAŃSKA SZKOŁA CHÓRALNA JERZEGO KURCZEWSKIEGO</li>
        <li>PRACOWNIA PEDAGOGICZNA IM.PROF.RYSZARDA WIĘCKOWSKIEGO</li>
        <li>PROGRESJA CENTRUM SZKOLEŃ KOSMETYCZNYCH</li>
        <li>PROGRESJA POLICEALNA SZKOŁA KOSMETYCZNA</li>
        <li>PRYWATNE LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH "AS" W POZNANIU</li>
        <li>PRYWATNE LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH „SZKOŁA NA CZASIE”</li>
        <li>PRYWATNE OGNISKO MUZYCZNE</li>
        <li>PRYWATNE PRZEDSZKOLE "NAD RÓŻANYM POTOKIEM"</li>
        <li>PRYWATNE PRZEDSZKOLE ISKIERKA</li>
        <li>PRYWATNE PRZEDSZKOLE PIRATA FERDUSIA</li>
        <li>PRYWATNE PRZEDSZKOLE PRZYRODNICZO-EKOLOGICZNE SMYKOLUDKI</li>
        <li>PRZEDSZKOLE 141 IM. DZIADKA BORODZIEJA</li>
        <li>PRZEDSZKOLE ARTYSTYCZNE "PLASTONUTKI"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "GUMISIE"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "KRAINA"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE LATAWCE DMUCHAWCE MICHAŁ ZAJDLER</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE LEŚNE GZUBKI</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE PARKOWE SKRZATY FUNDACJI UNIWERSYTETU IM. ADAMA MICKIEWICZA</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE PYRAMID „DAJ UŚMIECH”</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE PYRAMID „DAJ UŚMIECH”</li>
        <li>PRZEDSZKOLE NR 116 "KOLOROWE NUTKI"</li>
        <li>PRZEDSZKOLE NR 127</li>
        <li>PRZEDSZKOLE NR 129</li>
        <li>PRZEDSZKOLE NR 131 IM. KUBUSIA PUCHATKA</li>
        <li>PRZEDSZKOLE NR 134 "SŁONECZNY ŚWIAT"</li>
        <li>PRZEDSZKOLE NR 140 "MAJSTERKLEPKA"</li>
        <li>PRZEDSZKOLE NR 148 "MALI EUROPEJCZYCY"</li>
        <li>PRZEDSZKOLE NR 158 "ŚWIAT KRASNALI"</li>
        <li>PRZEDSZKOLE NR 16 "PSZCZÓŁKI"</li>
        <li>PRZEDSZKOLE NR 163 "BAŚNIOWY ZAMEK"</li>
        <li>PRZEDSZKOLE NR 174 "KRÓLEWNA ŚNIEŻKA"</li>
        <li>PRZEDSZKOLE NR 175</li>
        <li>PRZEDSZKOLE NR 181</li>
        <li>PRZEDSZKOLE NR 182 "KRÓL ELFÓW"</li>
        <li>PRZEDSZKOLE NR 184</li>
        <li>PRZEDSZKOLE NR 185</li>
        <li>PRZEDSZKOLE NR 187</li>
        <li>PRZEDSZKOLE NR 189</li>
        <li>PRZEDSZKOLE NR 190</li>
        <li>PRZEDSZKOLE NR 191</li>
        <li>PRZEDSZKOLE NR 193</li>
        <li>PRZEDSZKOLE NR 2</li>
        <li>PRZEDSZKOLE NR 23 IM. KRASNALA HAŁABAŁY</li>
        <li>PRZEDSZKOLE NR 24</li>
        <li>PRZEDSZKOLE NR 31</li>
        <li>PRZEDSZKOLE NR 35 IM. KRÓLA MACIUSIA I</li>
        <li>PRZEDSZKOLE NR 37</li>
        <li>PRZEDSZKOLE NR 64 IM."BOLKA I LOLKA"</li>
        <li>PRZEDSZKOLE NR 66 "ZACZAROWANY OGRÓD"</li>
        <li>PRZEDSZKOLE NR 69</li>
        <li>PRZEDSZKOLE NR 74 IM. "MISIA USZATKA"</li>
        <li>PRZEDSZKOLE NR 75 "PRZYJACIELE WŁÓCZYKIJA"</li>
        <li>PRZEDSZKOLE NR29 IM. PLASTUSIA</li>
        <li>PRZEDSZKOLE PLUSZAKI</li>
        <li>PRZEDSZKOLE SPECJALNE "ORZESZEK"</li>
        <li>PRZEDSZKOLE SPECJALNE NR 164</li>
        <li>PRZEDSZKOLE TĘCZOWA WYSPA</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA ZAKONU PIJARÓW IM. ŚW. JÓZEFA KALASANCJUSZA W POZNANIU</li>
        <li>PUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE ZAKONU PIJARÓW IM. ŚW. JÓZEFA KALASANCJUSZA W POZNANIU</li>
        <li>PUBLICZNE PRZEDSZKOLE "BURATINO" W POZNANIU</li>
        <li>PUBLICZNE PRZEDSZKOLE "TĘCZOWE MISIE"</li>
        <li>PUBLICZNE PRZEDSZKOLE MALUCH</li>
        <li>PUBLICZNE PRZEDSZKOLE MALUCHY</li>
        <li>PUBLICZNE PRZEDSZKOLE MISIA COLARGOLA</li>
        <li>PUBLICZNE PRZEDSZKOLE MOTYLARNIA</li>
        <li>PUNKT PRZEDSZKOLNY INSTYTUTU MAŁEGO DZIECKA IM. ASTRID LINDGREN W POZNANIU</li>
        <li>SCONSILIUM CENTRUM SZKOLENIOWO - DORADCZE EWELINA SUSKA</li>
        <li>SPOŁECZNA SZKOŁA PODSTAWOWA "ZAKĄTEK"</li>
        <li>SPOŁECZNA SZKOŁA PODSTAWOWA NR 2</li>
        <li>SPOŁECZNE PRZEDSZKOLE "KOLOROWE LISTKI"</li>
        <li>SPOŁECZNE PRZEDSZKOLE "NASZE PRZEDSZKOLE"</li>
        <li>SPORTOWA SZKOŁA PODSTAWOWA NR 29 IM. JANA KOCHANOWSKIEGO</li>
        <li>SPORTOWE LICEUM OGÓLNOKSZTAŁCĄCE IM. KAZIMIERZA NOWAKA</li>
        <li>SZKOŁA JĘZYKA ANGIELSKIEGO I NIEMIECKIEGO</li>
        <li>SZKOŁA JĘZYKÓW OBCYCH "PROGRAM - BELL"</li>
        <li>SZKOŁA MEDYCZNA GOWORK.PL W POZNANIU</li>
        <li>SZKOŁA MUZYCZNA YAMAHA POZNAŃ</li>
        <li>SZKOŁA PODSTAWOWA NR 11 IM.GEN.DEZYDEREGO CHŁAPOWSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 12 IM. WIELKOPOLSKIEJ BRYGADY KAWALERII</li>
        <li>SZKOŁA PODSTAWOWA NR 13 Z ODDZIAŁAMI MISTRZOSTWA SPORTOWEGO IM. CYTADELOWCÓW POZNAŃSKICH</li>
        <li>SZKOŁA PODSTAWOWA NR 15 IM. JANA III SOBIESKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 17 IM. JÓZEFA IGNACEGO KRASZEWSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 34 IM. WOJSKA POLSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 35 IM. WŁADYSŁAWA ŁOKIETKA</li>
        <li>SZKOŁA PODSTAWOWA NR 38</li>
        <li>SZKOŁA PODSTAWOWA NR 48 IM. GENERAŁA OSWALDA FRANKA</li>
        <li>SZKOŁA PODSTAWOWA NR 60 IM. WOJCIECHA BOGUSŁAWSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 65 IM. FR.ŻWIRKI I ST. WIGURY</li>
        <li>SZKOŁA PODSTAWOWA NR 66 IM. MARII SKŁODOWSKIEJ - CURIE</li>
        <li>SZKOŁA PODSTAWOWA NR 67 Z ODDZIAŁAMI DWUJĘZYCZNYMI I SPORTOWYMI</li>
        <li>SZKOŁA PODSTAWOWA NR 68</li>
        <li>SZKOŁA PODSTAWOWA NR 75 IM. POWSTAŃCÓW WIELKOPOLSKICH</li>
        <li>SZKOŁA PODSTAWOWA NR 82 IM. KSIĘCIA PRZEMYSŁA I</li>
        <li>SZKOŁA PODSTAWOWA NR 83 "ŁEJERY" IM. EMILII WAŚNIOWSKIEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 92 Z ODDZIAŁAMI PRZYSPOSABIAJĄCYMI DO PRACY</li>
        <li>SZKOŁA PODSTAWOWA NR 93</li>
        <li>SZKOŁA PODSTAWOWA SIÓSTR URSZULANEK UNII RZYMSKIEJ W POZNANIU</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 102 IM. MARII MONTESSORI</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 112</li>
        <li>SZKOŁA PODSTAWOWA WESOŁA GÓRA</li>
        <li>SZKOŁA PODSTAWOWA Z ODDZIAŁAMI INTEGRACYJNYMI NR 40 IM. MIESZKA I</li>
        <li>SZKOŁA POLCEALNA NR 21 DLA DOROSŁYCH</li>
        <li>SZKOŁA POLICEALNA "COSINUS PLUS" W POZNANIU</li>
        <li>SZKOŁA POLICEALNA GOWORK.PL W POZNANIU</li>
        <li>SZKOŁA POLICEALNA LEONARDO 2 W POZNANIU</li>
        <li>SZKOŁA POLICEALNA MEDICUS W POZNANIU</li>
        <li>SZKOŁA POLICEALNA NR 21</li>
        <li>SZKOŁA POLICEALNA NR 23</li>
        <li>SZKOŁA POLICEALNA NR 23 DLA DOROSŁYCH</li>
        <li>SZKOŁA POLICEALNA NR 30 DLA DOROSŁYCH</li>
        <li>SZKOŁA POLICEALNA NR 32</li>
        <li>SZKOŁA POLICEALNA NR 32 DLA DOROSŁYCH</li>
        <li>SZKOŁA POLICEALNA NR 34</li>
        <li>SZKOŁA POLICEALNA NR 34 DLA DOROSŁYCH</li>
        <li>SZKOŁA POLICEALNA NR 8</li>
        <li>SZKOŁA POLICEALNA NR 8 DLA DOROSŁYCH</li>
        <li>SZKOŁA POLICEALNA OPIEKI MEDYCZNEJ "ŻAK" W POZNANIU</li>
        <li>SZKOŁA POLICEALNA PASCAL W POZNANIU</li>
        <li>SZKOŁA POLICEALNA PRAWA I ADMINISTRACJI ŻAK</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY NR 2</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY NR 4</li>
        <li>SZKOLENIOWIEC</li>
        <li>SZKÓŁKA MAŁEGO DZIECKA NR 2 NIEPUBLICZNY PUNKT PRZEDSZKOLNY</li>
        <li>TECHNIKUM BUDOWLANE IM. GEN. WŁADYSŁWA ANDERSA</li>
        <li>TECHNIKUM KOMUNIKACJI</li>
        <li>TECHNIKUM ŁĄCZNOŚCI</li>
        <li>TECHNIKUM ODZIEŻOWO-USŁUGOWE</li>
        <li>TECHNIKUM POLIGRAFICZNO-ADMINISTRACYJNE</li>
        <li>TECHNIKUM PRZEMYSŁU SPOŻYWCZEGO</li>
        <li>TECHNIKUM W POZNANIU</li>
        <li>VERSUS MEDICUS NIEPUBLICZNA PLACÓWKA OŚWIATOWA</li>
        <li>VI LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>VIII LICEUM OGÓLNOKSZTAŁCĄCE IM ADAMA MICKIEWICZA</li>
        <li>WIELKOPOLSKI UNIWERSYTET OŚWIATY POZASZKOLNEJ</li>
        <li>WIELKOPOLSKIE SAMORZĄDOWE CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO NR 2 W POZNANIU</li>
        <li>WIELKOPOLSKIE TECHNIKUM ZAWODOWE</li>
        <li>XV LICEUM OGÓLNOKSZTAŁCĄCE IM. P0ROF. WIKTORA DEGI</li>
        <li>XX LICEUM OGÓLNOKSZTAŁCĄCE IM. KONSTANTEGO ILDEFONSA GAŁCZYŃSKIEGO.</li>
        <li>XXI LICEUM OGÓLNOKSZTAŁCĄCE IM. GEN. WŁADYSŁAWA ANDERSA</li>
        <li>XXIII LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>XXX LICEUM OGÓLONOKSZTAŁCĄCE</li>
        <li>XXXII LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>XXXIX LICEUM OGÓLNOKSZTAŁCĄCE SIÓSTR URSZULANEK UNII RZYMSKIEJ W POZNANIU</li>
        <li>XXXLICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>XXXV LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>ZAOCZNE LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH "COSINUS PLUS" W POZNANIU</li>
        <li>ZESPÓŁ PRZEDSZKOLI NR 1</li>
        <li>ZESPÓŁ SZKÓŁ "PASCAL"</li>
        <li>ZESPÓŁ SZKÓŁ BUDOWNICTWA NR 1</li>
        <li>ZESPÓŁ SZKÓŁ KOMUNIKACJI IM. HIPOLITA CEGIELSKIEGO</li>
        <li>ZESPÓŁ SZKÓŁ ŁĄCZNOŚCI IM. MIKOŁAJA KOPERNIKA</li>
        <li>ZESPÓŁ SZKÓŁ ODZIEŻOWYCH IM. WŁADYSŁAWA REYMONTA</li>
        <li>ZESPÓL SZKÓŁ OGÓLNOKSZTAŁCĄCYCH NR 7</li>
        <li>ZESPÓŁ SZKÓŁ PRZEMYSŁU SPOŻYWCZEGO IM. JANA I JĘDRZEJA ŚNIADECKICH</li>
        <li>ZESPÓŁ SZKÓŁ SPECJALNYCH NR 102 IM. JANA PAWŁA II</li>
        <li>ZESPÓŁ SZKÓŁ ZAKONU PIJARÓW IM. ŚW. JÓZEFA KALASANCJUSZA</li>
        <li>ZESPÓŁ SZKÓŁ ZAWODOWYCH NR 2 IM. JANUSZA KORCZAKA</li>
        <li>ZESPÓŁ SZKÓŁ ZAWODOWYCH NR 6 IM. JOACHIMA LELEWELA</li>
        <li>ZESPÓŁ SZKOLNO - PRZEDSZKOLNY NR 9</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 10</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 11</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 12</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 16</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 4</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 5</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 6</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 8</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
