
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Karpicko</title>
</head>
<body>
    <h1>Schools in Karpicko</h1>
    <ul>
        <li>CENTRUM SZKOLENIOWE CAMP X ANITA KARCZ</li>
        <li>PUNKT PRZEDSZKOLNY W SZKOLE PODSTAWOWEJ W KARPICKU</li>
        <li>SZKOŁA PODSTAWOWA W KARPICKU</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
