
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Pięczkowo</title>
</head>
<body>
    <h1>Schools in Pięczkowo</h1>
    <ul>
        <li>PRZEDSZKOLE W PIĘCZKOWIE</li>
        <li>SZKOŁA PODSTAWOWA IM. JANA HENRYKA DĄBROWSKIEGO W PIĘCZKOWIE</li>
        <li>ZESPÓŁ SZKÓŁ W PIĘCZKOWIE</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
