
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Cienin Kościelny</title>
</head>
<body>
    <h1>Schools in Cienin Kościelny</h1>
    <ul>
        <li>PRZEDSZKOLE GMINNE W CIENINIE KOŚCIELNYM</li>
        <li>SZKOŁA PODSTAWOWA IM. BOHATERÓW WRZEŚNIA 1939 R. W CIENINIE KOŚCIELNYM</li>
        <li>ZESPÓŁ SZKOLNO- PRZEDSZKOLNY W CIENINIE KOŚCIELNYM</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
