
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Glinno</title>
</head>
<body>
    <h1>Schools in Glinno</h1>
    <ul>
        <li>NIEPUBLICZNE PRZEDSZKOLE BAJKOWY ZAKĄTEK</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE"TĘCZOWY OGRÓD"</li>
        <li>PRZEDSZKOLE Z ODDZIAŁAMI INTEGRACYJNYMI W GLINNIE</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
