
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Przygodzice</title>
</head>
<body>
    <h1>Schools in Przygodzice</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>PUBLICZNE PRZEDSZKOLE IM. JASIA I MAŁGOSI W PRZYGODZICACH</li>
        <li>SZKOŁA PODSTAWOWA IM. ORŁA BIAŁEGO W PRZYGODZICACH</li>
        <li>SZKOŁA POLICEALNA</li>
        <li>TECHNIKUM</li>
        <li>ZESPÓŁ SZKÓŁ PONADPODSTAWOWYCH CENTRUM KSZTAŁCENIA USTAWICZNEGO</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
