
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Duszniki</title>
</head>
<body>
    <h1>Schools in Duszniki</h1>
    <ul>
        <li>SŁONECZNE PRZEDSZKOLE W DUSZNIKACH</li>
        <li>SZKOŁA PODSTAWOWA IM. POWSTAŃCÓW WIELKOPOLSKICH W DUSZNIKACH</li>
        <li>ZESPÓŁ PRZEDSZKOLI W DUSZNIKACH</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
