
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Dzierzbin-Kolonia</title>
</head>
<body>
    <h1>Schools in Dzierzbin-Kolonia</h1>
    <ul>
        <li>PUBLICZNE PRZEDSZKOLE SAMORZĄDOWE W DZIERZBINIE-KOLONII</li>
        <li>SZKOŁA PODSTAWOWA IM. SZARYCH SZEREGÓW W DZIERZBINIE-KOLONII</li>
        <li>ZESPÓŁ SZKOLNO - PRZEDSZKOLNY W DZIERZBINIE-KOLONII</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
