
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Odolanów</title>
</head>
<body>
    <h1>Schools in Odolanów</h1>
    <ul>
        <li>BRANZOWA SZKOŁA I STOPNIA W ODOLANOWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. WŁADYSŁAWA JAGIEŁŁY W ODOLANOWIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE AKADEMIA UŚMIECHU</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I STOPNIA W ODOLANOWIE</li>
        <li>PRZEDSZKOLE IM KUBUSIA PUCHATKA W ODOLANOWIE</li>
        <li>SCHRONISKO MŁODZIEŻOWE</li>
        <li>SZKOŁA PODSTAWOWA IM. JANA PAWŁA II I GEN. KAZIMIERZA GLABISZA W ODOLANOWIE</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH W ODOLANOWIE</li>
        <li>ZESPÓŁ SZKÓŁ W ODOLANOWIE</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
