
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Golina</title>
</head>
<body>
    <h1>Schools in Golina</h1>
    <ul>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA WCF W GOLINIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "PUCHATEK" W GOLINIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE TĘCZOWA DOLINA</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY "SPEKTRUM" W GOLINIE</li>
        <li>PRZEDSZKOLE W GOLINIE "BAŚNIOWY DWOREK Z ODDZIAŁAMI INTEGRACYJNYMI</li>
        <li>SZKOŁA PODSTAWOWA IM. HELENY MOSZCZEŃSKIEJ W GOLINIE</li>
        <li>SZKOŁA PODSTAWOWA IM. JULIUSZA SŁOWACKIEGO W GOLINIE</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
