
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Żegocin</title>
</head>
<body>
    <h1>Schools in Żegocin</h1>
    <ul>
        <li>PRZEDSZKOLE W ŻEGOCINIE</li>
        <li>SZKOŁA PODSTAWOWA IM. POWSTAŃCÓW WIELKOPOLSKICH W ŻEGOCINIE</li>
        <li>ZESPÓŁ SZKÓŁ PUBLICZNYCH W ŻEGOCINIE</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
