
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Łuszczanów</title>
</head>
<body>
    <h1>Schools in Łuszczanów</h1>
    <ul>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA W ŁUSZCZANOWIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE W ŁUSZCZANOWIE</li>
        <li>NIEPUBLICZNY ZESPÓŁ SZKÓŁ W ŁUSZCZANOWIE</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
