
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Grodzisk Wielkopolski</title>
</head>
<body>
    <h1>Schools in Grodzisk Wielkopolski</h1>
    <ul>
        <li>AKADEMIA ASEGURO</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 2 W ZAKŁADZIE POPRAWCZYM W GRODZISKU WLKP.GRODZISKU WIELKOPOLSKIM</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA W GRODZISKU WIELKOPOLSKIM</li>
        <li>CENTRUM KSZTAŁCENIA DLA DOROSŁYCH</li>
        <li>CENTRUM KSZTAŁCENIA PRAKTYCZNEGO</li>
        <li>CENTRUM SZKOLENIA NAUCZYCIELI PRAKTYCZNEJ NAUKI ZAWODU AURELIA,MIROSŁAW REŚLIŃSCY</li>
        <li>LICEUM OGÓLNOKSZTAŁCACE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE MISTRZOSTWA SPORTOWEGO WARTA POZNAŃ</li>
        <li>NIEPUBLICZNA BURSA MŁODZIEŻOWA WARTA POZNAŃ</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA W GRODZISKU WIELKOPOLSKIM</li>
        <li>OŚRODEK KSZTAŁCENIA USTAWICZNEGO MIROSŁAWA NOWINKA</li>
        <li>POLICEALNA SZKOŁA KOSMETYCZNA W GRODZISKU WIELKOPOLSKIM</li>
        <li>PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA W GRODZISKU WIELKOPOLSKIM</li>
        <li>PRYWATNE PRZEDSZKOLE "AKADEMIA MALUCHÓW" NR 2 W GRODZISKU WIELKOPOLSKIM</li>
        <li>PRYWATNE PRZEDSZKOLE BOBO WIERCIPIĘTA</li>
        <li>PRYWATNE PRZEDSZKOLE WIERCIPIĘTA</li>
        <li>PRZEDSZKOLE GMINNE IM. KRASNALA HAŁABAŁY W GRODZISKU WIELKOPOLSKIM</li>
        <li>PRZEDSZKOLE PUBLICZNE CHATKA PUCHATKA</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM.POLSKICH OLIMPIJCZYKÓW W GRODZISKU WIELKOPOLSKIM</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. POWSTAŃCÓW WIELKOPOLSKICH W GRODZISKU WIELKOPOLSKIM</li>
        <li>SZKOŁA PODSTAWOWA NR 3 W ZAKŁADZIE POPRAWCZYM W GRODZISKU WIELKOPOLSKIM</li>
        <li>SZKOŁA PODSTAWOWA NR 4 IM. KPT. JÓZEFA REJDYCHA W GRODZISKU WIELKOPOLSKIM</li>
        <li>SZKOŁA POLICEALNA W GRODZISKU WIELKOPOLSKIM</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY</li>
        <li>TECHNIKUM NR 1</li>
        <li>ZESPÓŁ SZKÓŁ TECHNICZNYCH IMIENIA EUGENIUSZA KWIATKOWSKIEGO GRODZISK WIELKOPOLSKI</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
