
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Brenno</title>
</head>
<body>
    <h1>Schools in Brenno</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA IM. POWSTAŃCÓW WIELKOPOLSKICH W BRENNIE</li>
        <li>SZKOŁA PODSTAWOWA W BRENNIE</li>
        <li>ZESPÓŁ SZKÓŁ IM. POWSTAŃCÓW WIELKOPOLSKICH W BRENNIE</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
