
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Tarnowo Podgórne</title>
</head>
<body>
    <h1>Schools in Tarnowo Podgórne</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA TARNOWO PODGÓRNE</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA TARNOWO PODGÓRNE</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. POWSTAŃCÓW WIELKOPOLSKICH W TARNOWIE PODGÓRNYM</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "AKADEMIA MAŁEGO OLIMPIJCZYKA"</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W LUBONIU FILIA W TARNOWIE PODGÓRNYM</li>
        <li>PRZEDSZKOLE "POD WESOŁĄ CHMURKĄ" W TARNOWIE PODGÓRNYM</li>
        <li>PRZEDSZKOLE NR 3 W TARNOWIE PODGÓRNYM</li>
        <li>PRZEDSZKOLE PUBLICZNE "CHATKA KUBUSIA PUCHATKA" W TARNOWIE PODGÓRNYM</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. JANA PAWŁA II W TARNOWIE PODGÓRNYM</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. INTEGRACJI EUROPEJSKIEJ W TARNOWIE PODGÓRNYM</li>
        <li>TECHNIKUM TARNOWO PODGÓRNE</li>
        <li>ZESPÓŁ SZKÓŁ TECHNICZNYCH TARNOWO PODGÓRNE</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
