
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Zakrzewo</title>
</head>
<body>
    <h1>Schools in Zakrzewo</h1>
    <ul>
        <li>PRZEDSZKOLE "LEŚNA CHATKA PUCHATKA"</li>
        <li>PRZEDSZKOLE PUBLICZNE IM. KRÓLEWNY ŚNIEŻKI</li>
        <li>PRZEDSZKOLE PUBLICZNE LEŚNE DUSZKI W ZAKRZEWIE</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA IM. KS. DR BOLESŁAWA DOMAŃSKIEGO W ZAKRZEWIE</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
