
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Wieleń</title>
</head>
<body>
    <h1>Schools in Wieleń</h1>
    <ul>
        <li>GMINNE PRZEDSZKOLE W WIELENIU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. KAZIMIERZA WIELKIEGO W WIELENIU</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. JANA PAWŁA II W WIELENIU</li>
        <li>SZKOŁA POLICEALNA DLA DOROSŁYCH</li>
        <li>ZESPÓŁ SZKÓŁ W WIELENIU</li>
        <li>ZESPÓŁ SZKÓŁ W WIELENIU LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>ZESPÓŁ SZKÓŁ W WIELENIU TECHNIKUM</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
