
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Kleczew</title>
</head>
<body>
    <h1>Schools in Kleczew</h1>
    <ul>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W KLECZEWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. ADAMA MICKIEWICZA W KLECZEWIE</li>
        <li>PRZEDSZKOLE W KLECZEWIE</li>
        <li>SZKOŁA PODSTAWOWA IM.WANDY CHOTOMSKIEJ W KLECZEWIE</li>
        <li>SZKOŁA POLICEALNA W KLECZEWIE</li>
        <li>TECHNIKUM DLA MŁODZIEŻY W KLECZEWIE</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH I TECHNICZNYCH W KLECZEWIE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W KLECZEWIE</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
