
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Strzałkowo</title>
</head>
<body>
    <h1>Schools in Strzałkowo</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA IM. WINCENTEGO WITOSA W CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO W STRZAŁKOWIE</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO W STRZAŁKOWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCACE IM. WINCENTEGO WITOSA W CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO W STRZAŁKOWIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE BAJKA</li>
        <li>PRZEDSZKOLE KUBUŚ PUCHATEK W STRZAŁKOWIE</li>
        <li>SZKOŁA PODSTAWOWA IM. POWSTAŃCÓW WIELKOPOLSKICH W STRZAŁKOWIE</li>
        <li>SZKOŁA POLICEALNA IM. WINCENTEGO WITOSA W CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO W STRZAŁKOWIE</li>
        <li>TECHNIKUM IM. WINCENTEGO WITOSA W CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO W STRZAŁKOWIE</li>
        <li>ZESPÓŁ SZKOLNO - PRZEDSZKOLNY W STRZAŁKOWIE</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
