
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Września</title>
</head>
<body>
    <h1>Schools in Września</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 1 WE WRZEŚNI</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 2</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA WE WRZEŚNI</li>
        <li>BRANŻOWA SZKOŁA SPECJALNA I STOPNIA NR 3 WE WRZEŚNI</li>
        <li>BURSA MIĘDZYSZKOLNA WE WRZEŚNI</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO WE WRZEŚNI</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO WE WRZEŚNI</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO WE WRZEŚNI</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE WE WRZEŚNI</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH WE WRZEŚNI</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH WE WRZEŚNI</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH WE WRZEŚNI</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. HENRYKA SIENKIEWICZA</li>
        <li>NIEPUBLICZNA SZKOŁA MUZYCZNA I ST. EFFECT WE WRZEŚNI</li>
        <li>NIEPUBLICZNA SZKOŁA MUZYCZNA I ST. WE WRZEŚNI</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA EUREKA</li>
        <li>NIEPUBLICZNE POLSKO-ANGIELSKIE PRZEDSZKOLE MONTESSORI "NASZ ŚWIAT"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "BAJKA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "SŁONECZKO" Z ODDZIAŁAMI INTEGRACYJNYMI-BARBARA SZEWCZYK</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE ENGLISH HOUSE JUNIOR</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE INTEGRACYJNE ARKA</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE SPECJALNE "MAGICZNY ZAKĄTEK" Z PUNKTEM WCZESNEGO WSPOMAGANIA</li>
        <li>NIEPUBLICZNY OŚRODEK REWALIDACYJNO-EDUKACYJNO-WYCHOWAWCZY "ARKA"</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA WE WRZEŚNI</li>
        <li>POWIATOWA SZKOŁA MUZYCZNA I STOPNIA WE WRZEŚNI</li>
        <li>POWIATOWE CENTRUM EDUKACJI ZAWODOWEJ</li>
        <li>PRYWATNE RODZINKOWE PRZEDSZKOLE "TROSKLIWE MISIE"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "AKADEMIA SERDECZNA" ZUZANNA ZDUNEK</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "CHATKA MISIA USZATKA" WE WRZEŚNI</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "MALI PRZYRODNICY" - IWONA HOFMAN</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "MIŚ" WOJECH HEDRYCH</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "TĘCZOWA CHATKA"-JUSTYNA JASTRZĘBSKA</li>
        <li>PRZEDSZKOLE NR 6 "PSZCZÓŁKA MAJA" WE WRZEŚNI</li>
        <li>PRZEDSZKOLE SPECJALNE "MALI ZDOBYWCY"</li>
        <li>PRZEDSZOLE NIEPUBLICZNE "MIŚ USZATEK" - DONATA HEDRYCH</li>
        <li>PUBLICZNA BIBLIOTEKA PEDAGOGICZNA W POZNANIU FILIA WE WRZEŚNI</li>
        <li>SAMORZĄDOWA SZKOŁA PODSTAWOWA NR 1 IM. 68 WRZESIŃSKIEGO PUŁKU PIECHOTY WE WRZEŚNI</li>
        <li>SAMORZĄDOWA SZKOŁA PODSTAWOWA NR 2 IM. DZIECI WRZESIŃSKICH WE WRZEŚNI</li>
        <li>SAMORZĄDOWA SZKOŁA PODSTAWOWA NR 3 WE WRZEŚNI</li>
        <li>SAMORZĄDOWA SZKOŁA PODSTAWOWA NR 6 IM. JANA PAWŁA II WE WRZEŚNI</li>
        <li>SZKOŁA PODSTAWOWA DLA DOROSŁYCH</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 4 IM. JANUSZA KORCZAKA W ZESPOLE SZKÓŁ SPECJALNYCH WE WRZEŚNI</li>
        <li>SZKOŁA POLICEALNA WE WRZEŚNI</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY WE WRZEŚNI</li>
        <li>TECHNIKUM NR 1 WE WRZEŚNI</li>
        <li>TECHNIKUM NR 2 WE WRZESNI</li>
        <li>TECHNIKUM NR 3 WE WRZEŚNI</li>
        <li>WIELKOPOLSKIE SAMORZĄDOWE CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO WE WRZEŚNI</li>
        <li>ZAKŁAD DOSKONALENIA ZAWODOWEGO CENTRUM KSZTAŁCENIA W POZNANIU OŚRODEK KSZTAŁCENIA ZAWODOWEGO WE WRZEŚNI</li>
        <li>ZESPÓŁ SZKÓŁ POLITECHNICZNYCH IM.BOHATERÓW MONTE CASSINO WE WRZEŚNI</li>
        <li>ZESPÓŁ SZKÓŁ SPECJALNYCH IM. JANUSZA KORCZAKA WE WRZEŚNI</li>
        <li>ZESPÓŁ SZKÓŁ TECHNICZNYCH I OGÓLNOKSZTAŁCĄCYCH IM. GEN.DR. ROMANA ABRAHAMA WE WRZEŚNI</li>
        <li>ZESPÓŁ SZKÓŁ ZAWODOWYCH NR 2 IM. POWSTAŃCÓW WIELKOPOLSKICH WE WRZEŚNI</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
