
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Piła</title>
</head>
<body>
    <h1>Schools in Piła</h1>
    <ul>
        <li>AKADEMIA POLSKA W PILE. NIEPUBLICZNA PLACÓWKA OŚWIATOWA</li>
        <li>BEAUTY VITAL AKADEMIA PIĘKNA I ZDROWIA</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 1</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 2</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 4</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 5</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA SPECJALNA</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA NR 2 W PILE</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA NR 4 W PILE</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA NR 5</li>
        <li>BURSA SZKOLNA W PILE</li>
        <li>BURSA SZKOLNA W PILE</li>
        <li>CENTRUM DOSKONALENIA NAUCZYCIELI W PILE</li>
        <li>CENTRUM EDUKACJI I ZARZĄDZANIA KORPORACJA "ROMANISZYN" SP.ZO.O. - KSZTAŁCENIE USTAWICZNE W FOMACH POZASZKOLNYCH</li>
        <li>CENTRUM HAJDASZ JACEK HAJDASZ NIEPUBLICZNA PLACÓWKA OŚWIATOWO - WYCHOWAWCZA</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO PRZY CENTRUM KSZTAŁCENIA "NAUKA" SP.ZO.O.</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO</li>
        <li>CENTRUM PRACY POZASZKOLNEJ I KSZTAŁCENIA USTAWICZNEGO EDUS</li>
        <li>CENTRUM SZKOLEŃ MARLENY PŁONKI - KSZTAŁCENIE USTAWICZNE W FORMACH POZASZKOLNYCH</li>
        <li>CENTRUM SZKOLENIOWE MS.NIEPUBLICZNA PLACÓWKA OŚWIATOWA</li>
        <li>FEDERACJA STOWARZYSZEŃ NAUKOWO- TECHNICZNYCH NACZELNEJ ORGANIZACJI TECHNICZNEJ RADA REGIONALNA W PILE</li>
        <li>FIRMA HANDLOWO - USŁUGOWA KURSY SZKOLENIA - WALDEMAR PIETRZYCKI - KSZTAŁCENIE USTAWICZNE W FORMACH POZASZKOLNYCH. NIEPUBLICZNA PLACÓWKA OŚWIATOWA</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE IM. MARII SKŁODOWSKIEJ - CURIE W PILE</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE SPOŁECZNEGO TOWARZYSTWA OŚWIATOWEGO W PILE</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE W PILE</li>
        <li>III LICEUM OGÓLNOKSZTAŁCĄCE W PILE</li>
        <li>KORPORACJA "ROMANISZYN" PRZEDSIĘBIORSTWO PRODUKCYJNO - HANDLOWO - USŁUGOWE STANISŁAW ROMANISZYN- KSZTAŁCENIE USTAWICZNE W FORMACH POZASZKOLNYCH</li>
        <li>L:ICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>LICEUM OGÓLNOKSZTAŁCACE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH "ŻAK" W PILE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W PILE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE MISTRZOSTWA SPORTOWEGO W PIŁCE SIATKOWEJ W PILE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE SZKOŁA MISTRZOSTWA SPORTOWEGO TALENT W PILE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE TEB EDUKACJA DLA DOROSŁYCH W PILE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE TEB EDUKACJA W PILE.</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE TOWARZYSTWA SALEZJAŃSKIEGO IM.ŚW.JANA BOSKO</li>
        <li>MAGIK KOMPUTER MAGDALENA PEREC</li>
        <li>MEDYCZNA POLICEALNA SZKOŁA "COSINUS" W PILE</li>
        <li>MEDYCZNA SZKOŁA POLICEALNA</li>
        <li>MŁODZIEŻOWY DOM KULTURY "ISKRA" W PILE</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO - "GLAM UP" AKADEMIA MAKIJAŻU PROFESJONALNEGO I STYLIZACJI. PLACÓWKA KSZTAŁCENIA USTAWICZNEGO - BEZ SZKÓŁ</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO "CENTRUM KOMPETENCJI"</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO LIGI OBRONY KRAJU</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO. STOWARZYSZENIE KSIĘGOWYCH W POLSCE ODDZIAŁ TERENOWY W PILE ODDZIAŁU WIELKOPOLSKIEGO W POZNANIU</li>
        <li>NIEPUBLICZNA PLACÓWKA OŚWIATOWA MEDICA- KSZTAŁCENIE USTAWICZNE W FORMACH POZASZKOLNYCH</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA W PILE. NIEPUBLICZNA PLACÓWKA OŚWIATOWA</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA "VERMILION" W PILE</li>
        <li>NIEPUBLICZNE CENTRUM KSZTAŁCENIA PRZY ZAKŁADZIE USŁUG EDUKACYJNYCH "PEDAGOG" W PILE - KSZTAŁCENIE USTAWICZNE W FORMACH POZASZKOLNYCH</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "DISNEYLAND"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "ZŁOTA RYBKA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE ARTYSTYCZNO-JĘZYKOWE FIOLETOWA SOWA</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE DWUJĘZYCZNE OGRÓD MONTESSORI</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE KREATYWNE WESOŁA PRZYGODA</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE LITTLE PEOPLE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE SPECJALNE "MARCINEK"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE TERAPEUTYCZNE "MIŚ WOJTEK" W PILE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE TERAPEUTYCZNE "TĘCZOWA KRAINA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE VERMILION</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE ZIELONA DOLINA</li>
        <li>OŚRODEK DOSKONALENIA NAUCZYCIELI W PILE</li>
        <li>OŚRODEK SZKOLENIA KURSOWEGO "KLEMSZKOL" W PILE</li>
        <li>OŚRODEK SZKOLENIA ODDZIAŁU PILSKIEGO STOWARZYSZENIA ELEKTRYKÓW POLSKICH W PILE</li>
        <li>OŚRODEK SZKOLENIA ZAWODOWEGO S.C.Z&M ROMANISZYN</li>
        <li>OŚRODEK SZKOLENIOWY CENTRUM NAUKI I BIZNESU "ŻAK" W PILE</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I ST. IM. FRYDERYKA CHOPINA W PILE</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA II ST. IM. FRYDERYKA CHOPINA W PILE</li>
        <li>PIK-UP JÓZEF KOT I JERZY PIERKO - KSZTAŁCENIE USTAWICZNE W FORMACH POZASZKOLNYCH. NIEPUBLICZNA PLACÓWKA OŚWIATOWA</li>
        <li>PLACÓWKA KSZTAŁCENIA USTAWICZNEGO EURO CONSULTING W PILE</li>
        <li>POLICEALNA SZKOŁA OPIEKI MEDYCZNEJ "ŻAK" W PILE</li>
        <li>POLICEALNE MEDYCZNE STUDIUM ZAWODOWE "FAMA"</li>
        <li>POLICEALNE STUDIUM ZAWODOWE</li>
        <li>POLICEALNE STUDIUM ZAWODOWE "FAMA"</li>
        <li>POLICEALNE STUDIUM ZAWODOWE DLA DOROSŁYCH</li>
        <li>POLSKA GRUPA RATOWNICTWA MEDYCZNEGO SZYMON KOZŁOWSKI-KSZTAŁCENIE USTAWICZNE W FORMACH POZASZKOLNYCH</li>
        <li>PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA W PILE</li>
        <li>PORADNIA SPECJALISTYCZNA WAD MOWY I SŁUCHU W PILE</li>
        <li>POWIATOWE CENTRUM EDUKACJI - CENTRUM KSZTAŁCENIA USTAWICZNEGO W PILE</li>
        <li>POWIATOWE CENTRUM EDUKACJI W PILE</li>
        <li>PRACOWNIA EDUKACYJNA K&K</li>
        <li>PRYWATNA PRAKTYKA RATOWNIKA MEDYCZNEGO PAWEŁ ANIOŁ- KSZTAŁCENIE USTAWICZNE W FORMACH POZASZKOLNYCH</li>
        <li>PRYWATNA SZKOŁA JĘZYKÓW OBCYCH "HELLO"</li>
        <li>PRZEDSZKOLE "MAŁY KSIĄŻĘ"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "ARKA NOEGO"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE CARITAS NR 1 W PILE CARITAS DIECEZJI KOSZALIŃSKO-KOŁOBRZESKIEJ</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE DWUJĘZYCZNE "BAJKA"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE MONTESSORI ŚLIMACZKOWO</li>
        <li>PUBLICZNA BIBLIOTEKA PEDAGOGICZNA W PILE</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 11 W PILE</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 12 W PILE</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 13 W PILE</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 14 IM. WRÓBELKA ELEMELKA W PILE</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 15 W PILE</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 16 IM. CZERWONEGO KAPTURKA W PILE</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 17 IM. KRASNALA HAŁABAŁY W PILE</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 18 IM. KUBUSIA PUCHATKA W PILE</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 19 IM. MISIA USZATKA W PILE</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 2 W PILE</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 3 W PILE</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 4 W PILE</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 5 IM. NIEZAPOMINAJKI W PILE</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 6 IM. JASIA I MAŁGOSI W PILE</li>
        <li>SALEZJAŃSKA SZKOŁA PODSTAWOWA IM. JANA PAWŁA II</li>
        <li>SALEZJAŃSKIE PRZEDSZKOLE IM. ŚW. DOMINIKA SAVIO</li>
        <li>SPECJALNY OŚRODEK SZKOLNO - WYCHOWAWCZY IM.MARII GRZEGORZEWSKIEJ W PILE</li>
        <li>STUDIUM POLICEALNE "FAMA" W PILE</li>
        <li>SZKOŁA BRANŻOWA I STOPNIA "ŻAK" W PILE</li>
        <li>SZKOŁA JĘZYKÓW OBCYCH LUCYNA HARWAS - KSZTAŁCENIE USTAWICZNE W FORMACH POZASZKOLNYCH.NIEPUBLICZNA PLACÓWKA OŚWIATOWA</li>
        <li>SZKOŁA PODSTAWOWA DLA DOROSŁYCH</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. STANISŁAWA STASZICA W PILE</li>
        <li>SZKOŁA PODSTAWOWA NR 11 IM. KRÓLOWEJ JADWIGI W PILE</li>
        <li>SZKOŁA PODSTAWOWA NR 12 Z ODDZIAŁAMI INTEGRACYJNYMI IM. JANUSZA KORCZAKA W PILE</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. OLIMPIJCZYKÓW POLSKICH W PILE</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. JANA BRZECHWY W PILE</li>
        <li>SZKOŁA PODSTAWOWA NR 4 IM. MIKOŁAJA KOPERNIKA W PILE</li>
        <li>SZKOŁA PODSTAWOWA NR 5 IM. DZIECI POLSKICH W PILE</li>
        <li>SZKOŁA PODSTAWOWA NR 6 IM. LOTNIKÓW POLSKICH W PILE</li>
        <li>SZKOŁA PODSTAWOWA NR 7 IM. ADAMA MICKIEWICZA W PILE</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA</li>
        <li>SZKOŁA PODSTAWOWA SPOŁECZNEGO TOWARZYSTWA OŚWIATOWEGO</li>
        <li>SZKOŁA POLICEALNA</li>
        <li>SZKOŁA POLICEALNA</li>
        <li>SZKOLA POLICEALNA "COSINUS I" W PILE</li>
        <li>SZKOLA POLICEALNA "COSINUS II' W PILE</li>
        <li>SZKOLA POLICEALNA "COSINUS" W PILE</li>
        <li>SZKOŁA POLICEALNA TEB EDUKACJA W PILE</li>
        <li>SZKOŁA POLICEALNA- SZKOŁA POLICEALNA SZKOŁA ZAWODOWA "ŻAK" W PILE</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY</li>
        <li>SZKOLENIA BHP I PPOŻ "MIR"</li>
        <li>TEB EDUKACJA STUDIUM KSZTAŁCENIA PRAKTYCZNEGO</li>
        <li>TECHNIKUM NR 1 W PILE</li>
        <li>TECHNIKUM NR 2 W PILE</li>
        <li>TECHNIKUM NR 3 W PILE</li>
        <li>TECHNIKUM NR 4 W PILE</li>
        <li>TECHNIKUM NR 5 W PILE</li>
        <li>TECHNIKUM NR 6 W PILE</li>
        <li>TECHNIKUM TEB EDUKACJA W PILE</li>
        <li>TECHNIKUM ZAWODOWE</li>
        <li>UKS "6" JUDO-JOPEK-PIŁA</li>
        <li>UNIWERSYTET MALUCHA - PRZEDSZKOLE</li>
        <li>UNIWERSYTET OŚWIATOWY</li>
        <li>WOLF SECURITY BUSINESS TRAINING CENTER-KSZTAŁCENIE USTAWICZNE W FORMACH POZASZKOLNYCH</li>
        <li>ZAKŁAD DOSKONALENIA ZAWODOWEGO CENTRUM KSZTAŁCENIA W PILE-KSZTAŁCENIE USTAWICZNE W FORMACH POZASZKOLNYCH</li>
        <li>ZAOCZNE LICEUM OGÓLNOKSZTAŁCĄCE "COSINUS" W PILE</li>
        <li>ZASADNICZA SZKOŁA ZAWODOWA DLA DOROSŁYCH</li>
        <li>ZAWODOWE CENTRUM KSZTAŁCENIA USTAWICZNEGO W PILE</li>
        <li>ZESPÓŁ PORADNI PSYCHOLOGICZNO - PEDAGOGICZNYCH W PILE</li>
        <li>ZESPÓŁ SZKÓŁ BUDOWLANYCH W PILE</li>
        <li>ZESPÓŁ SZKÓŁ CENTRUM KSZTAŁCENIA "NAUKA" SP.ZO.O. W PILE</li>
        <li>ZESPÓŁ SZKÓŁ EKONOMICZNYCH W PILE</li>
        <li>ZESPÓŁ SZKÓŁ GASTRONOMICZNYCH W PILE</li>
        <li>ZESPÓŁ SZKÓŁ IM. STANISŁAWA STASZICA W PILE</li>
        <li>ZESPÓŁ SZKÓŁ MUZYCZNYCH IM. FRYDERYKA CHOPINA W PILE</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH SPOŁECZNEGO TOWARZYSTWA OŚWIATOWEGO W PILE</li>
        <li>ZESPÓŁ SZKÓŁ PRZY TEATRALNEJ W PILE</li>
        <li>ZESPÓŁ SZKÓŁ TECHNICZNYCH W PILE</li>
        <li>ZESPÓŁ SZKÓŁ TOWARZYSTWA SALEZJAŃSKIEGO W PILE</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
