
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Kobylin</title>
</head>
<body>
    <h1>Schools in Kobylin</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W KOBYLINIE</li>
        <li>PRZEDSZKOLE W KOBYLINIE</li>
        <li>SZKOŁA PODSTAWOWA IM. JULIANA TUWIMA W KOBYLINIE</li>
        <li>ZESPÓŁ SZKOŁA PODSTAWOWA IM. JULIANA TUWIMA I PRZEDSZKOLE W KOBYLINIE</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
