
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Jędrzejewo</title>
</head>
<body>
    <h1>Schools in Jędrzejewo</h1>
    <ul>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA IM JANA BRZECHWY W JĘDRZEJEWIE</li>
        <li>PUBLICZNE PRZEDSZKOLE W JĘDRZEJEWIE</li>
        <li>SZKOŁA PODSTAWOWA W JĘDRZEJEWIE</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
