
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Wiry</title>
</head>
<body>
    <h1>Schools in Wiry</h1>
    <ul>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "EUMED"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE KULKA</li>
        <li>PRZEDSZKOLE WESOŁA KRAINA W WIRACH</li>
        <li>SPOŁECZNA WALDORFSKA SZKOŁA PODSTAWOWA</li>
        <li>SPOŁECZNE LICUEM OGÓLNOKSZTAŁCĄCE</li>
        <li>SZKOŁA PODSTAWOWA IM.POWSTAŃCÓW WIELKOPOLSKICH W WIRACH</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
