
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Russów</title>
</head>
<body>
    <h1>Schools in Russów</h1>
    <ul>
        <li>PUBLICZNE PRZEDSZKOLE SAMORZĄDOWE W RUSSOWIE</li>
        <li>SZKOŁA PODSTAWOWA IM MARII DĄBROWSKIEJ</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W RUSSOWIE</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
