
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Powiercie</title>
</head>
<body>
    <h1>Schools in Powiercie</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA IM. WILHELMA BALIŃSKIEGO W POWIERCIU</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO W POWIERCIU</li>
        <li>PRZEDSZKOLE PUBLICZNE W POWIERCIU</li>
        <li>SZKOŁA PODSTAWOWA IM. ORŁA BIAŁEGO W POWIERCIU</li>
        <li>TECHNIKUM IM. WILHELMA BALIŃSKIEGO W POWIERCIU</li>
        <li>ZESPÓŁ SZKÓŁ CENTRUM KSZTAŁCENIA ROLNICZEGO W POWIERCIU</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
