
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Pudliszki</title>
</head>
<body>
    <h1>Schools in Pudliszki</h1>
    <ul>
        <li>PRZEDSZKOLE PUBLICZNE W PUDLISZKACH Z ODDZIAŁEM INTEGRACYJNYM</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE W PUDLISZKACH</li>
        <li>SZKOŁA PODSTAWOWA IM. STANISŁAWA FENRYCHA W PUDLISZKACH Z KLASAMI INTEGRACYJNYMI</li>
        <li>ZESPÓŁ SZKOLNO - PRZEDSZKOLNY W PUDLISZKACH Z ODDZIAŁAMI INTEGRACYJNYMI</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
