
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Kaczki Średnie</title>
</head>
<body>
    <h1>Schools in Kaczki Średnie</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W KACZKACH ŚREDNICH</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO W KACZKACH ŚREDNICH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W KACZKACH ŚREDNICH</li>
        <li>SZKOŁA PODSTAWOWA IM. JANA PAWŁA II W KACZKACH ŚREDNICH</li>
        <li>SZKOŁA POLICEALNA W KACZKACH ŚREDNICH</li>
        <li>TECHNIKUM W KACZKACH ŚREDNICH</li>
        <li>ZESPÓŁ SZKÓŁ ROLNICZYCH CENTRUM KSZTAŁCENIA PRAKTYCZNEGO W KACZKACH ŚREDNICH</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
