
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Środa Wielkopolska</title>
</head>
<body>
    <h1>Schools in Środa Wielkopolska</h1>
    <ul>
        <li>AKADEMIA JĘZYKOWA OPEN SCHOOL</li>
        <li>ANGLOJĘZYCZNA PRZEDSZKOLANDIA ŻŁOBKOLANDIA NIEPUBLICZNE PRZEDSZKOLE I ŻŁOBEK DARIA DOROS</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 1 IM. HIPOLITA CEGIELSKIEGO W ŚRODZIE WIELKOPOLSKIEJ</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 2 IM. GEN. JANA HENRYKA DĄBROWSKIEGO W ŚRODZIE WIELKOPOLSKIEJ</li>
        <li>BURSA POWIATU ŚREDZKIEGO</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO W ŚRODZIE WIELKOPOLSKIEJ</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>INTEGRACYJNE NIEPUBLICZNE PRZEDSZKOLE MONTESSORI ZIELONA WYSPA KAROLINA MAKOWSKA</li>
        <li>IV LICEUM OGÓLNOKSZTAŁCĄCE IM. HIPOLITA CEGIELSKIEGO W ŚRODZIE WLKP.</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH EURONAUKA</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. POWSTAŃCÓW WIELKOPOLSKICH W ŚRODZIE WLKP.</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE NR I - AKADEMICKIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE NR III IM. GEN. JANA HENRYKA DĄBROWSKIEGO W ŚRODZIE WLKP.</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA KREDKA</li>
        <li>NIEPUBLICZNA SZKOŁA MUZYCZNA I ST. W ŚRODZIE WIELKOPOLSKIEJ</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA SPECJALNA</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA ZOO ZARADNI ODWAŻNI ORYGINALNI</li>
        <li>NIEPUBLICZNE LICEUM OGÓLNOKSZAŁCĄCE DLA DOROSŁYCH</li>
        <li>NIEPUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE W ŚRODZIE WIELKOPOLSKIEJ</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "KASZTANOWY OGRÓD"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "KRASNAL HAŁABAŁA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "OSIEDLOWE SKRZATY"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "POD KOGUCIKIEM" W ŚRODZIE WIELKOPOLSKIEJ</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "SZAFRANEK"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE AKADEMIA MISIA WIOLETTA ŚLEBIODA</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE AKADEMICKIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE ARTYSTYCZNO-TEATRALNE ZARADNI ODWAŻNI ORYGINALNI</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE TĘCZOWA KRAINA</li>
        <li>NIEPUBLICZNE SZKOLNE SCHRONISKO MŁODZIEŻOWE W ŚRODZIE WIELKOPOLSKIEJ</li>
        <li>OGÓLNOPOLSKIE CENTRUM DOSKONALENIA NAUCZYCIELI MASTERMETODYKA</li>
        <li>OŚRODEK DOSKONALENIA NAUCZYCIELI "EURONAUKA"</li>
        <li>PLACÓWKA NIEPUBLICZNEGO KSZTAŁCENIA USTAWICZNEGO LIGI OBRONY KRAJU</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W ŚRODZIE WIELKOPOLSKIEJ</li>
        <li>PRYWATNA SZKOŁA POLICEALNA EURONAUKA</li>
        <li>PRYWATNE LICEUM DLA DOROSŁYCH W ŚRODZIE WIELKOPOLSKIEJ</li>
        <li>PRZEDSZKOLE "BAJKOWY ŚWIAT"</li>
        <li>PRZEDSZKOLE "WESOŁE URWISKI"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE STOKROTKA JERZY NOWOSIELSKI</li>
        <li>PRZEDSZKOLE NR 3 W ŚRODZIE WIELKOPOLSKIEJ</li>
        <li>PUBLICZNA BIBLIOTEKA PEDAGOGICZNA W POZNANIU FILIA W ŚRODZIE WLKP.</li>
        <li>SZKOŁA PODSTAWOWA EDU-XXI W ŚRODZIE WIELKOPOLSKIEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 1 - AKADEMICKA W ŚRODZIE WLKP.</li>
        <li>SZKOŁA PODSTAWOWA NR 2 Z ODDZIAŁAMI INTEGRACYJNYMI</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. IGNACEGO ŁUKASIEWICZA W ŚRODZIE WIELKOPOLSKIEJ</li>
        <li>SZKOŁA POLICEALNA KOLEGIUM KRÓLEWSKIE W ŚRODZIE WIELKOPOLSKIEJ</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W ŚRODZIE WIELKOPOLSKIEJ</li>
        <li>TECHNIKUM NR 1 IM. HIPOLITA CEGIELSKIEGO W ŚRODZIE WLKP.</li>
        <li>TECHNIKUM NR 3 IM. GEN. JANA HENRYKA DĄBROWSKIEGO W ŚRODZIE WLKP.</li>
        <li>WIELKOPOLSKA SZKOŁA SKUTECZNEJ NAUKI</li>
        <li>ZAKŁAD PORADNICTWA ZAWODOWEGO "EURONAUKA"</li>
        <li>ZESPÓŁ PRZEDSZKOLNO - SZKOLNY ZOO ZARADNI ODAWAŻNI ORYGINALNI</li>
        <li>ZESPÓŁ SZKÓŁ ROLNICZYCH IM. J.H. DĄBROWSKIEGO</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
