
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Michalinów</title>
</head>
<body>
    <h1>Schools in Michalinów</h1>
    <ul>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA SPECJALNA W ZESPOLE NIEPUBLICZNYCH SZKÓŁ I PLACÓWEK OŚWIATOWYCH "NASZA SZKOŁA" W MICHALINOWIE OLEŚNICKIM</li>
        <li>NIEPUBLICZNA SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W ZESPOLE NIEPUBLICZNYCH SZKÓŁ I PLACÓWEK OŚWIATOWYCH "NASZA SZKOŁA" W MICHALINOWIE OLEŚNICKIM</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE SPECJALNE W ZESPOLE NIEPUBLICZNYCH SZKÓŁ I PLACÓWEK OŚWIATOWYCH "NASZA SZKOŁA" W MICHALINOWIE OLEŚNICKIM</li>
        <li>NIEPUBLICZNY OŚRODEK REWALIDACYJNO-WYCHOWAWCZY W ZESPOLE NIEPUBLICZNYCH SZKÓŁ I PLACÓWEK OŚWIATOWYCH "NASZA SZKOŁA"</li>
        <li>ZESPÓŁ NIEPUBLICZNYCH SZKÓŁ I PLACÓWEK OŚWIATOWYCH "NASZA SZKOŁA"</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
