
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Trzcianka</title>
</head>
<body>
    <h1>Schools in Trzcianka</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA IM. HENRYKA SIENKIEWICZA W TRZCIANCE</li>
        <li>CENTRUM DOSKONALENIA NAUCZYCIELI PUBLICZNA BIBLIOTEKA PEDAGOGICZNA W PILE FILIA W TRZCIANCE</li>
        <li>GMINNE PRZEDSZKOLE NR 1 W TRZCIANCE</li>
        <li>GMINNE PRZEDSZKOLE NR 2 W TRZCIANCE</li>
        <li>GMINNE PRZEDSZKOLE NR 3 W TRZCIANCE</li>
        <li>GMINNE PRZEDSZKOLE NR 4 W TRZCIANCE</li>
        <li>KATOLICKA SZKOŁA PODSTAWOWA IM. ŚW. SIOSTRY FAUSTYNY W TRZCIANCE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. STANISŁAWA STASZICA W TRZCIANCE</li>
        <li>MŁODZIEŻOWY DOM KULTURY W TRZCIANCE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "SŁONECZKO"</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY DOLINA ŻYRAFY</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W TRZCIANCE</li>
        <li>PUNKT PRZEDSZKOLNY "CHATKA PUCHATKA"</li>
        <li>PUNKT PRZEDSZKOLNY "EDUCHATKA"</li>
        <li>PUNKT PRZEDSZKOLNY "ZACZAROWANY DOMEK"</li>
        <li>PUNKT PRZEDSZKOLNY PRZEDSZKOLE TERAPEUTYCZNE "PICCOLI CUORI - MAŁE SERCA"</li>
        <li>ROLNICZE CENTRUM KSZTAŁCENIA USTAWICZNEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. JULIUSZA SŁOWACKIEGO W TRZCIANCE</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. WŁ.BRONIEWSKIEGO W TRZCIANCE</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. MIKOŁAJA KOPERNIKA W TRZCIANCE</li>
        <li>SZKOŁA POLICEALNA IM. HENRYKA SIENKIEWICZA W TRZCIANCE</li>
        <li>TECHNIKUM IM. GEN. DEZYDEREGO CHŁAPOWSKIEGO W TRZCIANCE</li>
        <li>TECHNIKUM IM. HENRYKA SIENKIEWICZA W TRZCIANCE</li>
        <li>TECHNIKUM IM. NOBLISTÓW POLSKICH W TRZCIANCE.</li>
        <li>ZESPÓŁ SZKÓŁ IM. HENRYKA SIENKIEWICZA W TRZCIANCE</li>
        <li>ZESPÓŁ SZKÓŁ ROLNICZE CENTRUM KSZTAŁCENIA USTAWICZNEGO W TRZCIANCE</li>
        <li>ZESPÓŁ SZKÓŁ TECHNICZNYCH W TRZCIANCE</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
