
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Stara Łubianka</title>
</head>
<body>
    <h1>Schools in Stara Łubianka</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>PRZEDSZKOLE W STAREJ ŁUBIANCE</li>
        <li>SZKOŁA PODSTAWOWA W STAREJ ŁUBIANCE</li>
        <li>SZKOŁA POLICEALNA</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY</li>
        <li>TECHNIKUM</li>
        <li>WIELKOPOLSKIE SAMORZĄDOWE CENTRUM EDUKACJI I TERAPII DOM WCZASÓW DZIECIĘCYCH W STAREJ ŁUBIANCE</li>
        <li>WIELKOPOLSKIE SAMORZĄDOWE CENTRUM EDUKACJI I TERAPII W STAREJ ŁUBIANCE</li>
        <li>ZESPÓŁ SZKÓŁ IM. WŁADYSŁAWA STANISŁAWA REYMONTA W STAREJ ŁUBIANCE</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
