
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Jabłonna</title>
</head>
<body>
    <h1>Schools in Jabłonna</h1>
    <ul>
        <li>PRZEDSZKOLE W JABŁONNIE</li>
        <li>SZKOŁA PODSTAWOWA IM. MARCINA ROŻKA W JABŁONNIE</li>
        <li>ZESPÓŁ SZKOLNO - PRZEDSZKOLNY W JABŁONNIE</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
