
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Włoszakowice</title>
</head>
<body>
    <h1>Schools in Włoszakowice</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA IM. WETERANÓW DZIAŁAŃ POZA GRANICAMI PAŃSTWA</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. KAROLA KURPIŃSKIEGO WE WŁOSZAKOWICACH</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "SŁONECZKO"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "KOLOROWE KREDKI"</li>
        <li>PRZEDSZKOLE NR 2 WŁOSZAKOWICE</li>
        <li>SZKOŁA PODSTAWOWA IM. KAROLA KURPIŃSKIEGO WE WŁOSZAKOWICACH</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH IM. KAROLA KURPIŃSKIEGO WE WŁOSZAKOWICACH</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
