
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Obrzycko</title>
</head>
<body>
    <h1>Schools in Obrzycko</h1>
    <ul>
        <li>PRZEDSZKOLE MIEJSKIE W OBRZYCKU "BAJKOWA KRAINA"</li>
        <li>SZKOŁA PODSTAWOWA IM. POWSTAŃCÓW WIELKOPOLSKICH W OBRZYCKU</li>
        <li>ZESPÓŁ SZKÓŁ W MIEŚCIE OBRZYCKO</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
