
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Pniewo</title>
</head>
<body>
    <h1>Schools in Pniewo</h1>
    <ul>
        <li>KATOLICKA SZKOŁA PODSTAWOWA STOWARZYSZYSZENIA PRZYJACIÓŁ SZKÓŁ KATOLICKICH IM ŚW FAUSTYNY</li>
        <li>PRZEDSZKOLE W PNIEWIE</li>
        <li>SZKOŁA PODSTAWOWA W PNIEWIE</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
