
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Piotrowice</title>
</head>
<body>
    <h1>Schools in Piotrowice</h1>
    <ul>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA Z ODDZIAŁAMI INTEGRACYJNYMI W PIOTROWICACH</li>
        <li>NIEPUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE W PIOTROWICACH</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE Z ODDZIAŁAMI INTEGRACYJNYMI "MALI ODKRYWCY" W PIOTROWICACH</li>
        <li>PRZEDSZKOLE GMINNE W PIOTROWICACH</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE LISIA BAZA</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
