
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Nietążkowo</title>
</head>
<body>
    <h1>Schools in Nietążkowo</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W NIETĄŻKOWIE</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA W NIETĄŻKOWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W NIETĄŻKOWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W NIETĄŻKOWIE</li>
        <li>SZKOŁA POLICEALNA W NIETĄŻKOWIE</li>
        <li>TECHNIKUM W NIETĄŻKOWIE</li>
        <li>ZESPÓŁ SZKÓŁ PONADPODSTAWOWYCH IM. JANA KASPROWICZA W NIETĄŻKOWIE</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
