
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Mroczeń</title>
</head>
<body>
    <h1>Schools in Mroczeń</h1>
    <ul>
        <li>PUBLICZNE PRZEDSZKOLE SAMORZĄDOWE W MROCZENIU</li>
        <li>SZKOŁA PODSTAWOWA IM.JANA PAWŁA II W MROCZENIU</li>
        <li>ZESPÓŁ SZKÓŁ W MROCZENIU</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
