
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Słaborowice</title>
</head>
<body>
    <h1>Schools in Słaborowice</h1>
    <ul>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA W SŁABOROWICACH</li>
        <li>PUBLICZNE PRZEDSZKOLE W SŁABOROWICACH</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W SŁABOROWICACH</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W SŁABOROWICE</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
