
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Poznań-Wilda</title>
</head>
<body>
    <h1>Schools in Poznań-Wilda</h1>
    <ul>
        <li>AUTORSKA SZKOŁA PODSTAWOWA NAVIGO POZNAŃ</li>
        <li>BHP SERVIS</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 29</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA RZEMIOSŁA ARTYSTYCZNEGO</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA NR 6</li>
        <li>BURSA SZKOLNA NR 2</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO JACEK MAŃKOWSKI</li>
        <li>CENTRUM SZKOLENIA DETEKTYWISTYKI I BEZPIECZEŃSTWA</li>
        <li>CENTRUM SZKOLENIA PRACOWNIKÓW OCHRONY</li>
        <li>DWUJĘZYCZNE LICEUM OGÓLNOKSZTAŁCĄCE WYŻSZEJ SZKOŁY HANDLU I USŁUG W POZNANIU</li>
        <li>DWUJĘZYCZNE LICEUM SPOŁECZNE "DĘBINKA" W POZNANIU</li>
        <li>DWUJĘZYCZNE PRZEDSZKOLE "LITTLE FRIENDS ACADEMY"</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE SPECJALNE Z ODDZIAŁAMI ZORGANIZOWANYMI W ZAKŁADZIE OPIEKI ZDROWOTNEJ</li>
        <li>INSTYTUT KURSÓW I SZKOLEŃ PRZY WIELKOPOLSKIEJ SZKOLE MEDYCZNEJ</li>
        <li>INSTYTUT SZKOLEŃ MEDYCZNYCH TOP MED</li>
        <li>KOLEGIUM EDUKACYJNE POZNAŃSKIEGO STOWARZYSZENIA OŚWIATOWEGO</li>
        <li>LICEUM AKADEMICKIE LINDE.EDU.PL</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE WYŻSZEJ SZKOŁY HANDLU I USŁUG W POZNANIU</li>
        <li>LIGA OBRONY KRAJU OŚRODEK SZKOLENIA KIEROWCÓW W POZNANIU WILDZIE</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA UNI-TERRA</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA W POZNANIU PECSUJĄCA SZKOŁA MAREK KAŹMIERCZAK</li>
        <li>NIEPUBLICZNE DWUJĘZYCZNE PRZEDSZKOLE KIDS&CO.</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "JAK U MAMY"</li>
        <li>OGÓLNOPOLSKA AKADEMIA KSZTAŁCENIA USTAWICZNEGO SCIENTIA</li>
        <li>PLACÓWKA KSZTAŁCENIA USTAWICZNEGO "BEAUTY-ART"</li>
        <li>PLACÓWKA KSZTALCENIA USTAWICZNEGO POZROBOT</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA DLA DZIECI I MŁODZIEŻY ZE SPECJALNYMI POTRZEBAMI EDUKACYJNYMI</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA NR 6</li>
        <li>PRYWATNE LICEUM OGÓLNOKSZTAŁCĄCE "KOSSAKA" W POZNANIU</li>
        <li>PRYWATNE PRZEDSZKOLE "BIEDRONECZKA"</li>
        <li>PRYWATNE PRZEDSZKOLE ANGLOJĘZYCZNE KINDER`KI</li>
        <li>PRYWATNE PRZEDSZKOLE KACZKA DZIWACZKA</li>
        <li>PRYWATNE PRZEDSZKOLE MALINOWY ZAKĄTEK</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE ARTYSTYCZNO-JĘZYKOWE "TRELE-MORELE"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE WOW</li>
        <li>PRZEDSZKOLE NR 103 "PAN KLEKS"</li>
        <li>PRZEDSZKOLE NR 104 "BAJLANDIA"</li>
        <li>PRZEDSZKOLE NR 112</li>
        <li>PRZEDSZKOLE NR 115</li>
        <li>PRZEDSZKOLE NR 176 IM."BAJKOWY DOMEK"</li>
        <li>PRZEDSZKOLE NR 188 "DĘBOWE LUDKI"</li>
        <li>PRZEDSZKOLE NR 22</li>
        <li>PRZEDSZKOLE NR 41</li>
        <li>PRZEDSZKOLE NR 42 "KWIATY POLSKIE"</li>
        <li>PRZEDSZKOLE NR 43</li>
        <li>PRZEDSZKOLE NR 54 "TAJEMNICZY ŚWIAT"</li>
        <li>PRZEDSZKOLE NR 65 "WIOLINEK"</li>
        <li>PRZEDSZKOLE NR 81 SKRZATA BORODZIEJA</li>
        <li>PRZEDSZKOLE NR 87 IM."JACUSIA I AGATKI"</li>
        <li>PRZEDSZKOLE P.W. ANIOŁÓW STRÓŻÓW PARAFII MARYI KRÓLOWEJ</li>
        <li>PRZEDSZKOLE SPECJALNE NR 111</li>
        <li>SAPLINGS 7 NIEPUBLICZNY PUNKT PRZEDSZKOLNY MAREK GRZEGORZ KAŹMIERCZAK</li>
        <li>SAPLINGS EDUCATING FOR LIFE NIEPUBLICZNY PUNKT PRZEDSZKOLNY MAREK GRZEGORZ KAŹMIERCZAK</li>
        <li>SPOŁECZNA SZKOŁA PODSTAWOWA NR 3 "DĘBINKA"</li>
        <li>SPOŁECZNA WALDORFSKA SZKOŁA PODSTAWOWA</li>
        <li>SPOŁECZNE LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>SPOŁECZNE PRZEDSZKOLE "Z MCHU I PAPROCI"</li>
        <li>STUDIUM JĘZYKÓW OBCYCH PRZY FUNDACJI NA RZECZ EDUKACJI OBYWATELSKIEJ</li>
        <li>SZKOŁA ASPIRANTÓW PAŃSTWOWEJ STRAŻY POŻARNEJ W POZNANIU</li>
        <li>SZKOŁA PODSTAWOWA NR 21</li>
        <li>SZKOŁA PODSTAWOWA NR 25 Z ODDZIAŁAMI INTEGRACYJNYMI I SPECJALNYMI IM. BOHATERÓW MONTE CASINO</li>
        <li>SZKOŁA PODSTAWOWA NR 42 IM. BOLESŁAWA CHROBREGO</li>
        <li>SZKOŁA PODSTAWOWA NR 5 IM. ROMUALDA TRAUGUTTA</li>
        <li>SZKOŁA PODSTAWOWA NR 79</li>
        <li>SZKOŁA PODSTAWOWA NR 84 IM. TADEUSZA KOŚCIUSZKI</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 111</li>
        <li>SZKOŁA PODSTAWOWA UNI-TERRA</li>
        <li>TECHNIKUM MECHANICZNE</li>
        <li>TECHNIKUM NR 19</li>
        <li>TOWARZYSTWO AKTYWNEJ TURYSTYKI I SPORTU NIEPUBLICZNA PLACÓWKA OŚWIATOWA</li>
        <li>WIELKOPOLSKA AKADEMIA SPORTU I BEZPIECZEŃSTWA "ZAWODOWIEC"</li>
        <li>WIELKOPOLSKA SZKOŁA MEDYCZNA</li>
        <li>WIELKOPOLSKA SZKOŁA MEDYCZNA II</li>
        <li>WIELKOPOLSKA SZKOŁA SPORTU I REKREACJI</li>
        <li>XXIX LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>XXIX LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>ZESPÓŁ PORADNI PSYCHOLOGICZNO-PEDAGOGICZNYCH NR 2</li>
        <li>ZESPÓŁ SZKÓŁ MECHANICZNYCH IM. KOMISJI EDUKACJI NARODOWEJ</li>
        <li>ZESPÓŁ SZKÓŁ NR 5</li>
        <li>ZESPÓŁ SZKÓŁ SPECJALNYCH NR 111</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 17</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 18</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 2</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 3</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
