
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Konarzew</title>
</head>
<body>
    <h1>Schools in Konarzew</h1>
    <ul>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY IM. KS. JANA TWARDOWSKIEGO W KONARZEWIE</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA IM. KS. JANA TWARDOWSKIEGO W KONARZEWIE</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJACA DO PRACY IM. KS. JANA TWARDOWSKIEGO W KONARZEWIE</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
