
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Kalisz</title>
</head>
<body>
    <h1>Schools in Kalisz</h1>
    <ul>
        <li>"ODZ KAŹMIERCZAK" JACEK WOŹNIAK</li>
        <li>ANGLOJĘZYCZNE NIEPUBLICZNE PRZEDSZKOLE "BUTTERFLY" W KALISZU</li>
        <li>ANGLOJĘZYCZNE NIEPUBLICZNE PRZEDSZKOLE "OLEŃKA" W KALISZU</li>
        <li>ANGLOJĘZYCZNE NIEPUBLICZNE PRZEDSZKOLE "RAINBOW" W KALISZU</li>
        <li>BIURO BEZPIECZEŃSTWA PRZEMYSŁU I HANDLU SP. Z O. O. W KALISZU</li>
        <li>BOOK-LAND TOMASZ BULIK</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 1 W KALISZU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 2 W KALISZU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 3 W KALISZU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 4 W KALISZU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 6 W KALISZU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 7 W KALISZU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 8</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA SPECJALNA NR 5 W KALISZU</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA NR 1 W KALISZU</li>
        <li>BRANŻOWA SZKOŁA ZAWODOWA ZAKŁADU DOSKONALENIA ZAWODOWEGO W KALISZU</li>
        <li>BURSA SZKOLNA NR 1 IM. JANUSZA KORCZAKA W KALISZU</li>
        <li>CENTRUM DOSKONALENIA EDUKACYJNEGO</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO W KALISZU</li>
        <li>CENTRUM SZKOLENIOWE RATOWNICTWA MEDYCZNEGO "LIDERMEDICAL"</li>
        <li>EKSPERT SP. Z O. O. OŚRODEK SZKOLENIOWO - CONSULTINGOWY</li>
        <li>ELITARNE STUDIUM SŁUŻB OCHRONY "DELTA"</li>
        <li>EUROPEJSKA GRUPA DORADCZA SP. Z O. O.</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE IM. ADAMA ASNYKA W KALISZU</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE IM. TADEUSZA KOŚCIUSZKI W KALISZU</li>
        <li>III LICEUM OGÓLNOKSZTAŁCĄCE IM. MIKOŁAJA KOPERNIKA W KALISZU</li>
        <li>IV LICEUM OGÓLNOKSZTAŁCĄCE IM. IGNACEGO JANA PADEREWSKIEGO W KALISZU</li>
        <li>KONSORCJUM KONKRET SP. Z O. O.</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE "JAGIELLOŃCZYK" W KALISZU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH "PASCAL" W KALISZU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH "ŻAK"</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W KALISZU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH ZAKŁADU DOSKONALENIA ZAWODOWEGO W KALISZU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE TEB EDUKACJA W KALISZU</li>
        <li>LICEUM SZTUK PLASTYCZNYCH IM. TADEUSZA KULISIEWICZA</li>
        <li>MEDYCZNA SZKOŁA POLICEALNA "COSINUS" W KALISZU</li>
        <li>MEDYCZNA SZKOŁA POLICEALNA KALISKIE CENTRUM EDUKACJI W KALISZU</li>
        <li>MŁODZIEŻOWY DOM KULTURY IM. WŁADYSŁAWA BRONIEWSKIEGO W KALISZU</li>
        <li>MŁODZIEŻOWY OŚRODEK WYCHOWAWCZY DOM MIŁOSIERDZIA ŚW. JÓZEFA W KALISZU</li>
        <li>NIEPUBLICZNA BRANŻOWA SZKOŁA I STOPNIA SPECJALNA IM. ŚW. JÓZEFA</li>
        <li>NIEPUBLICZNA PLACÓWKA DOSKONALENIA NAUCZYCIELI CENTRUM KSZTAŁCENIA MARITA WALĘCKA</li>
        <li>NIEPUBLICZNA PLACÓWKA DOSKONALENIA NAUCZYCIELI INTERLIS</li>
        <li>NIEPUBLICZNA PLACÓWKA OŚWIATOWA "PODOLSKI DOJO" PRZEMYSŁAW PODOLSKI</li>
        <li>NIEPUBLICZNA PLACÓWKA OŚWIATOWA ASTRENDY RAFAŁ WOJCIECHOWSKI</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA W KALISZU</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "KONSYLIUM"</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA KALISKIEGO STOWARZYSZENIA OŚWIATOWEGO "EDUKATOR"</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA SPECJALNA "EDUKAL"</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA SPECJALNA "OLANKA"</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA SPECJALNA IM. ŚW. JÓZEFA</li>
        <li>NIEPUBLICZNA SZKOŁA POLICEALNA TEB EDUKACJA W KALISZU</li>
        <li>NIEPUBLICZNE ANGLOJĘZYCZNE PRZEDSZKOLE ARTYSTYCZNE "PLAYART"</li>
        <li>NIEPUBLICZNE CENTRUM KSZTAŁCENIA ZAWODOWEGO "COSINUS" W KALISZU</li>
        <li>NIEPUBLICZNE CENTRUM KSZTAŁCENIA ZAWODOWEGO KALISKIE CENTRUM EDUKACJI W KALISZU</li>
        <li>NIEPUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE W KALISZU - SZKOŁA MISTRZOSTWA SPORTOWEGO ZWIĄZKU PIŁKI RĘCZNEJ W POLSCE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "BAJKA" W KALISZU</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "BAJKOWY ŚWIAT" W KALISZU</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "CALINECZKA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "JACKA I AGATKI" W KALISZU</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "KOLOROWY ŚWIAT" W KALISZU</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "NIEZAPOMINAJKA" W KALISZU</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "PLUSZAKI" Z ODDZIAŁAMI SPECJALNYMI</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "PLUSZOWY MIŚ" W KALISZU</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "RADOSNE PRZEDSZKOLE" W KALISZU</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "ZIELONE ŁĄKI" W KALISZU</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE IM. "MISIA USZATKA" W KALISZU</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE IM. MARII KONOPNICKIEJ W KALISZU</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE JAGIELLOŃCZYK</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE KID'S ACADEMY W KALISZU</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE Z ODDZIAŁAMI TERAPEUTYCZNYMI "PAPILIO" W KALISZU</li>
        <li>OŚRODEK DOSKONALENIA NAUCZYCIELI W KALISZU</li>
        <li>OŚRODEK KSZTAŁCENIA USTAWICZNEGO AWANGARDA</li>
        <li>OŚRODEK SZKOLEŃ MENADŻERSKICH I ZAWODOWYCH TMA1993GROUP</li>
        <li>OŚRODEK SZKOLENIA RZEMIOSŁA</li>
        <li>OŚRODEK SZKOLENIOWY CENTRUM NAUKI I BIZNESU "ŻAK" W KALISZU</li>
        <li>OŚRODEK SZKOLENIOWY KALBEST</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I I II STOPNIA IM. HENRYKA MELCERA W KALISZU</li>
        <li>PHARMACY AND SPORT SERVICES</li>
        <li>PLUS - LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W KALISZU</li>
        <li>PLUS - MEDYCZNA SZKOŁA POLICEALNA W KALISZU</li>
        <li>PLUS - ROCZNA SZKOŁA POLICEALNA W KALISZU</li>
        <li>PLUS - SZKOŁA POLICEALNA W KALISZU</li>
        <li>PLUS EDUKACJA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO W KALISZU</li>
        <li>POLICEALNE STUDIUM ANIMATORÓW KULTURY W KALISZU</li>
        <li>POLICEALNE STUDIUM FARMACEUTYCZNE</li>
        <li>POLICEALNE STUDIUM KOSMETYCZNE DLA DOROSŁYCH</li>
        <li>POLICEALNE STUDIUM KOSMETYCZNE DLA MŁODZIEŻY</li>
        <li>POLICEALNE STUDIUM MASAŻU</li>
        <li>POLICEALNE STUDIUM WETERYNARII</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA NR 1 W KALISZU</li>
        <li>PREWMEN ANDRZEJ MŁYŃCZYK</li>
        <li>PRYWATNA POLICEALNA SZKOŁA AWANGARDA W KALISZU</li>
        <li>PRYWATNA POLICEALNA SZKOŁA TECHNIKI DENTYSTYCZNEJ "AWANGARDA" W KALISZU</li>
        <li>PRYWATNA SZKOŁA PODSTAWOWA "JAGIELLOŃCZYK"</li>
        <li>PRZEDSZKOLE "KOLOROWY WIATRACZEK"</li>
        <li>PRZEDSZKOLE INTEGRACYJNE SIÓSTR FELICJANEK IM. BŁ. MARII ANGELI TRUSZKOWSKIEJ W KALISZU</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "BURSZTYNOWY ZAMEK"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "STOKROTKA" W KALISZU</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "SZCZĘŚLIWA TRZYNASTKA" W KALISZU</li>
        <li>PRZEDSZKOLE NR 2 "TĘCZOWA KRAINA" W KALISZU</li>
        <li>PUBLICZNA BIBLIOTEKA PEDAGOGICZNA KSIĄŻNICA PEDAGOGICZNA IM. A. PARCZEWSKIEGO W KALISZU</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 1 W KALISZU</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 12 IM. "KOSZAŁKA OPAŁKA" W KALISZU</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 18 IM. "CHATKA PUCHATKA" W KALISZU</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 19 Z ODDZIAŁAMI INTEGRACYJNYMI IM. "RAZEM" W KALISZU</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 20 W KALISZU</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 21 IM. "EKOLUDEK" W KALISZU</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 22 W KALISZU</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 27 IM. "RADOŚĆ" W KALISZU</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 28 IM. "BAJKA" W KALISZU</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 30 IM. "KRASNALA HAŁABAŁY" W KALISZU</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 31 W KALISZU</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 4 W KALISZU</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 9 W KALISZU</li>
        <li>PUBLICZNE PRZEDSZKOLE SIÓSTR NAZARETANEK W KALISZU</li>
        <li>SPECJALNE NIEPUBLICZNE TECHNIKUM INFORMATYCZNE IM. ŚW. JÓZEFA</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY NR 1 IM. JANUSZA KORCZAKA W KALISZU</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY NR 2 IM. PLUTONU GŁUCHONIEMYCH AK W KALISZU</li>
        <li>STOWARZYSZENIE KSIĘGOWYCH W POLSCE ODDZIAŁ TERENOWY W KALISZU ODDZIAŁU WIELKOPOLSKIEGO W POZNANIU</li>
        <li>STUDIO EDUKACJI WALDEMAR JEDNORÓG</li>
        <li>SZKOŁA BRANŻOWA I STOPNIA "COSINUS" W KALISZU</li>
        <li>SZKOŁA BRANŻOWA I STOPNIA "ŻAK" W KALISZU</li>
        <li>SZKOŁA BRANŻOWA II STOPNIA "COSINUS" W KALISZU</li>
        <li>SZKOŁA MISTRZOSTWA SPORTOWEGO AMBER LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>SZKOŁA MUZYCZNA I STOPNIA</li>
        <li>SZKOŁA MUZYCZNA II STOPNIA</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. KONSTYTUCJI 3 MAJA W KALISZU</li>
        <li>SZKOŁA PODSTAWOWA NR 10 IM. MARII KONOPNICKIEJ W KALISZU</li>
        <li>SZKOŁA PODSTAWOWA NR 11 IM. WOJCIECHA BOGUSŁAWSKIEGO W KALISZU</li>
        <li>SZKOŁA PODSTAWOWA NR 12 IM. KSIĘCIA BOLESŁAWA POBOŻNEGO W KALISZU</li>
        <li>SZKOŁA PODSTAWOWA NR 13 IM. WŁADYSŁAWA KOŚCIELNIAKA W KALISZU</li>
        <li>SZKOŁA PODSTAWOWA NR 14 IM. WŁADYSŁAWA BRONIEWSKIEGO W KALISZU</li>
        <li>SZKOŁA PODSTAWOWA NR 15 IM. SZARYCH SZEREGÓW W KALISZU</li>
        <li>SZKOŁA PODSTAWOWA NR 16 IM. POWSTAŃCÓW WIELKOPOLSKICH 1918-1919 W KALISZU</li>
        <li>SZKOŁA PODSTAWOWA NR 17 Z ODDZIAŁAMI INTEGRACYJNYMI IM. STEFANA SZOLC-ROGOZIŃSKIEGO W KALISZU</li>
        <li>SZKOŁA PODSTAWOWA NR 18 IM. JANUSZA KUSOCIŃSKIEGO W KALISZU</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. JANA PAWŁA II W KALISZU</li>
        <li>SZKOŁA PODSTAWOWA NR 21 IM. LEGIONÓW JÓZEFA PIŁSUDSKIEGO W KALISZU</li>
        <li>SZKOŁA PODSTAWOWA NR 22 IM. JÓZEFA PIŁSUDSKIEGO W KALISZU</li>
        <li>SZKOŁA PODSTAWOWA NR 23 IM. ELIGIUSZA KOR-WALCZAKA W KALISZU</li>
        <li>SZKOŁA PODSTAWOWA NR 24 IM. JANA PAWŁA II W KALISZU</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. JULIUSZA SŁOWACKIEGO W KALISZU</li>
        <li>SZKOŁA PODSTAWOWA NR 4 IM. MARII DĄBROWSKIEJ W KALISZU</li>
        <li>SZKOŁA PODSTAWOWA NR 6 IM. HENRYKA SIENKIEWICZA W KALISZU</li>
        <li>SZKOŁA PODSTAWOWA NR 7 IM. ADAMA MICKIEWICZA W KALISZU</li>
        <li>SZKOŁA PODSTAWOWA NR 8 IM. BOHATERÓW WESTERPLATTE W KALISZU</li>
        <li>SZKOŁA PODSTAWOWA NR 9 IM. 25 DYWIZJI PIECHOTY ZIEMI KALISKIEJ W KALISZU</li>
        <li>SZKOŁA PODSTAWOWA SIÓSTR NAZARETANEK W KALISZU</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 19</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 20 PRZY WOJEWÓDZKIM SZPITALU ZESPOLONYM IM. LUDWIKA PERZYNY W KALISZU</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 5 DLA DZIECI SŁABO SŁYSZĄCYCH I NIESŁYSZĄCYCH W KALISZU</li>
        <li>SZKOŁA POLICEALNA "COSINUS PLUS" W KALISZU</li>
        <li>SZKOŁA POLICEALNA CENTRUM NAUKI I BIZNESU "ŻAK" W KALISZU</li>
        <li>SZKOŁA POLICEALNA DLA DOROSŁYCH NR 3 W KALISZU</li>
        <li>SZKOŁA POLICEALNA KALISKIE CENTRUM EDUKACJI W KALISZU</li>
        <li>SZKOŁA POLICEALNA MEDYCZNA "ŻAK" W KALISZU</li>
        <li>SZKOŁA POLICEALNA OPIEKI MEDYCZNEJ "ŻAK" W KALISZU</li>
        <li>SZKOŁA ROZWOJU ZAWODOWEGO AWANGARDA PROART</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY</li>
        <li>TEB EDUKACJA STUDIUM KSZTAŁCENIA PRAKTYCZNEGO W KALISZU</li>
        <li>TECHNIKUM BUDOWLANO-ELEKTRYCZNE IM. KAZIMIERZA WIELKIEGO W KALISZU</li>
        <li>TECHNIKUM BUDOWY FORTEPIANÓW IM. GUSTAWA ARNOLDA FIBIGERA W KALISZU</li>
        <li>TECHNIKUM IM. ŚW. JÓZEFA W KALISZU</li>
        <li>TECHNIKUM NR 2 IM. GEN.MIECZYSŁAWA SMORAWIŃSKIEGO W KALISZU</li>
        <li>TECHNIKUM NR 3 W KALISZU</li>
        <li>TECHNIKUM NR 4 IM. KS. JÓZEFA SIERADZANA W KALISZU</li>
        <li>TECHNIKUM NR 6 W KALISZU</li>
        <li>TECHNIKUM NR 7 W KALISZU</li>
        <li>TECHNIKUM SPECJALNE NR 5 DLA MŁODZIEŻY SŁABO SŁYSZĄCEJ I NIESŁYSZĄCEJ W KALISZU</li>
        <li>TECHNIKUM TEB EDUKACJA W KALISZU</li>
        <li>TECHNIKUM ZAKŁADU DOSKONALENIA ZAWODOWEGO W KALISZU</li>
        <li>V LICEUM OGÓLNOKSZTAŁCĄCE IM. JANA III SOBIESKIEGO W KALISZU</li>
        <li>VI LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W KALISZU</li>
        <li>VII LICEUM OGÓLNOKSZTAŁCĄCE - SZKOŁA MISTRZOSTWA SPORTOWEGO W KALISZU</li>
        <li>ZAKŁAD DOSKONALENIA ZAWODOWEGO CENTRUM KSZTAŁCENIA W KALISZU</li>
        <li>ZAOCZNA POLICEALNA SZKOŁA "COSINUS I" W KALISZU</li>
        <li>ZAOCZNA POLICEALNA SZKOŁA "COSINUS" W KALISZU</li>
        <li>ZAOCZNA POLICEALNA SZKOŁA ZAWODOWA "PASCAL" W KALISZU</li>
        <li>ZAOCZNE LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH "COSINUS PLUS" W KALISZU</li>
        <li>ZAOCZNE LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH "COSINUS" W KALISZU</li>
        <li>ZESPÓŁ SZKÓŁ EKONOMICZNYCH W KALISZU</li>
        <li>ZESPÓŁ SZKÓŁ GASTRONOMICZNO-HOTELARSKICH IM. JANKA BYTNARA "RUDEGO" W KALISZU</li>
        <li>ZESPÓŁ SZKÓŁ NR 9 W KALISZU</li>
        <li>ZESPÓŁ SZKÓŁ PONADPODSTAWOWYCH W KALISZU</li>
        <li>ZESPÓŁ SZKÓŁ SAMOCHODOWYCH IM. STANISŁAWA STASZICA W KALISZU</li>
        <li>ZESPÓŁ SZKÓŁ TECHNICZNO-ELEKTRONICZNYCH W KALISZU</li>
        <li>ZESPÓŁ SZKÓŁ ZAWODOWYCH IM. ZESŁAŃCÓW SYBIRU W KALISZU</li>
        <li>ZESPÓŁ SZKOLNO - PRZEDSZKOLNY NR 6</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 1 W KALISZU</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 2 W KALISZU</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 3 W KALISZU</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 4 W KALISZU</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
