
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Pakosław</title>
</head>
<body>
    <h1>Schools in Pakosław</h1>
    <ul>
        <li>PRZEDSZKOLE W PAKOSŁAWIU</li>
        <li>PRZEDSZKOLE W PAKOSŁAWIU</li>
        <li>SZKOŁA PODSTAWOWA IM. MARII SKŁODOWSKIEJ-CURIE W PAKOSŁAWIU</li>
        <li>SZKOŁA PODSTAWOWA W PAKOSŁAWIU</li>
        <li>ZESPÓŁ SZKOŁY PODSTAWOWEJ I PRZEDSZKOLA IM. EMILII SCZANIECKIEJ</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
