
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Lisków</title>
</head>
<body>
    <h1>Schools in Lisków</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W LISKOWIE</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA W LISKOWIE</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO W LISKOWIE</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO W LISKOWIE-LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>PRZEDSZKOLE PUBLICZNE SIÓSTR SŁUŻEBNICZEK IM. BŁ. E. BOJANOWSKIEGO N.M.P W LISKOWIE</li>
        <li>SZKOŁA PODSTAWOWA IM. JÓZEFA WYBICKIEGO W LISKOWIE</li>
        <li>SZKOŁA POLICEALNA NR 1 W LISKOWIE</li>
        <li>TECHNIKUM NR 1 IM. KS. WACŁAWA BLIZIŃSKIEGO W LISKOWIE</li>
        <li>ZESPÓŁ SZKÓŁ NR 1 W LISKOWIE</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
