
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Jutrosin</title>
</head>
<body>
    <h1>Schools in Jutrosin</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W JUTROSINIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W JUTROSINIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W JUTROSINIE</li>
        <li>PRZEDSZKOLE W JUTROSINIE</li>
        <li>SZKOŁA PODSTAWOWA IM. WŁADYSŁAWA BARTKOWIAKA W JUTROSINIE</li>
        <li>ZESPÓŁ SZKÓŁ DLA DOROSŁYCH "DYDAKTYK"</li>
        <li>ZESPÓŁ SZKÓŁ IM. JANA PAWŁA II W JUTROSINIE</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
