
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Śrem</title>
</head>
<body>
    <h1>Schools in Śrem</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA ARTYSTA W ŚREMIE</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO DAR-ZOF W ŚREMIE</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO TOMEX - BHP</li>
        <li>KATOLICKA PUBLICZNA BRANŻOWA SZKOŁA I STOPNIA IM. ŚW. JANA PAWŁA II W ŚREMIE</li>
        <li>KATOLICKA PUBLICZNA SZKOŁA MUZYCZNA I STOPNIA IM. ŚW. JANA PAWŁA II W ŚREMIE</li>
        <li>KATOLICKA PUBLICZNA SZKOŁA PODSTAWOWA IM. ŚW. JANA PAWŁA II W ŚREMIE</li>
        <li>KATOLICKIE PUBLICZNE AKADEMICKIE LICEUM OGÓLNOKSZTAŁCĄCE IM. ŚW. JANA PAWŁA II W ŚREMIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH SUKCES</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. GEN. JÓZEFA WYBICKIEGO W ŚREMIE</li>
        <li>MIĘDZYSZKOLNY OŚRODEK SPORTOWY W ŚREMIE</li>
        <li>MOVEO BHP KADRY PPOŻ. ARTUR KONON</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "TERAPEUTYCZNE POLA"</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W ŚREMIE MATEUSZ SNELA</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA WCF W ŚREMIE</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA SPEKTRUM</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA Z KLASAMI PRZYSPOSABIAJĄCYMI DO PRACY</li>
        <li>NIEPUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE "ARTYSTA" W ŚREMIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "KLUB MALUCHA BAJKOWY ŚWIAT RENATA CEREKWICKA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "MALI BOHATEROWIE"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE JĘZYKOWE "KINDERKI.PL"</li>
        <li>NIEPUBLICZNY OŚRODEK DOSKONALENIA NAUCZYCIELI W ŚREMIE</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY "SPEKTRUM" W ŚREMIE</li>
        <li>PLACÓWKA NIEPUBLICZNA KSZTAŁCENIA USTAWICZNEGO ANDRZEJ KACZMAREK</li>
        <li>POLICEALNA SZKOŁA MEDYCZNA "SUKCES"</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W ŚREMIE</li>
        <li>PRZEDSZKOLE "POD WIERZBAMI" W ŚREMIE</li>
        <li>PRZEDSZKOLE "SŁONECZNA SZÓSTKA" Z ODDZIAŁAMI ZAMIEJSCOWYMI</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "ZDOLNA FERAJNA"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE IM. BŁ. EDMUNDA BOJANOWSKIEGO</li>
        <li>PRZEDSZKOLE NR 2 "SŁONECZNA GROMADA" W ŚREMIE</li>
        <li>PRZEDSZKOLE NR 3 "JARZĘBINKA" W ŚREMIE</li>
        <li>PRZEDSZKOLE NR 7 "JANKA WĘDROWNICZKA" W ŚREMIE</li>
        <li>PRZEDSZKOLE Z ODDZIAŁAMI INTEGRACYJNYMI NR 5 "MALI PRZYRODNICY" W ŚREMIE</li>
        <li>PUBLICZNA BIBLIOTEKA PEDAGOGICZNA W POZNANIU FILIA W ŚREMIE</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA W ŚREMIE IM. KAWALERÓW ORDERU UŚMIECHU</li>
        <li>PUBLICZNE PRZEDSZKOLE "NIEZAPOMINAJKA" W ŚREMIE</li>
        <li>SZKOŁA PŁYWANIA CHLOREK SWIM</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. MIKOŁAJA KOPERNIKA W ŚREMIE</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. KS. PIOTRA WAWRZYNIAKA W ŚREMIE</li>
        <li>SZKOŁA PODSTAWOWA NR 4 IM. MARII KONOPNICKIEJ W ŚREMIE</li>
        <li>SZKOŁA PODSTAWOWA NR 5 IM. POLSKICH NOBLISTÓW W ŚREMIE</li>
        <li>SZKOŁA PODSTAWOWA NR 6 IM. BRACI BARSKICH W ŚREMIE</li>
        <li>SZKOŁA POLICEALNA "SUKCES"</li>
        <li>ZAKŁAD DOSKONALENIA ZAWODOWEGO.CENTRUM KSZTAŁCENIA W POZNANIU. OŚRODEK KSZTAŁCENIA ZAWODOWEGOW ŚREMIE</li>
        <li>ZESPÓŁ SZKÓŁ DLA DOROSŁYCH "SUKCES"</li>
        <li>ZESPÓŁ SZKÓŁ EKONOMICZNYCH IM. CYRYLA RATAJSKIEGO W ŚREMIE</li>
        <li>ZESPÓŁ SZKÓŁ EKONOMICZNYCH IM. CYRYLA RATAJSKIEGO W ŚREMIE BRANŻOWA SZKOŁA I STOPNIA IM. CYRYLA RATAJSKIEGO W ŚREMIE</li>
        <li>ZESPÓŁ SZKÓŁ EKONOMICZNYCH IM. CYRYLA RATAJSKIEGO W ŚREMIE I LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W ŚREMIE</li>
        <li>ZESPÓŁ SZKÓŁ EKONOMICZNYCH IM. CYRYLA RATAJSKIEGO W ŚREMIE SZKOŁA POLICEALNA IM. CYRYLA RATAJSKIEGO W ŚREMIE</li>
        <li>ZESPÓŁ SZKÓŁ EKONOMICZNYCH IM. CYRYLA RATAJSKIEGO W ŚREMIE TECHNIKUM NR 1 IM. CYRYLA RATAJSKIEGO W ŚREMIE</li>
        <li>ZESPÓŁ SZKÓŁ KATOLICKICH IM. ŚW. JANA PAWŁA II W ŚREMIE</li>
        <li>ZESPÓŁ SZKÓŁ POLITECHNICZNYCH IM. POWSTAŃCÓW WIELKOPOLSKICH W ŚREMIE</li>
        <li>ZESPÓŁ SZKÓŁ POLITECHNICZNYCH IM. POWSTAŃCÓW WIELKOPOLSKICH W ŚREMIE BRANŻOWA SZKOŁA I STOPNIA NR 3 W ŚREMIE</li>
        <li>ZESPÓŁ SZKÓŁ POLITECHNICZNYCH IM. POWSTAŃCÓW WIELKOPOLSKICH W ŚREMIE II LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W ŚREMIE</li>
        <li>ZESPÓŁ SZKÓŁ POLITECHNICZNYCH IM. POWSTAŃCÓW WIELKOPOLSKICH W ŚREMIE TECHNIKUM NR 3 W ŚREMIE</li>
        <li>ZESPÓŁ SZKÓŁ SPECJALNYCH IM. MARII GRZEGORZEWSKIEJ W ŚREMIE</li>
        <li>ZESPÓŁ SZKÓŁ SPECJALNYCH IM. MARII GRZEGORZEWSKIEJ W ŚREMIE SZKOŁA PODSTAWOWA SPECJALNA W ŚREMIE</li>
        <li>ZESPÓŁ SZKÓŁ SPECJALNYCH IM. MARII GRZEGORZEWSKIEJ W ŚREMIE SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W ŚREMIE</li>
        <li>ZESPÓŁ SZKÓŁ TECHNICZNYCH IM. HIPOLITA CEGIELSKIEGO W ŚREMIE</li>
        <li>ZESPÓŁ SZKÓŁ TECHNICZNYCH IM. HIPOLITA CEGIELSKIEGO W ŚREMIE BRANŻOWA SZKOŁA I STOPNIA NR 2 W ŚREMIE</li>
        <li>ZESPÓŁ SZKÓŁ TECHNICZNYCH IM. HIPOLITA CEGIELSKIEGO W ŚREMIE II LICEUM OGÓLNOKSZTAŁCĄCE W ŚREMIE</li>
        <li>ZESPÓŁ SZKÓŁ TECHNICZNYCH IM. HIPOLITA CEGIELSKIEGO W ŚREMIE SZKOŁA POLICEALNA NR 2 W ŚREMIE</li>
        <li>ZESPÓŁ SZKÓŁ TECHNICZNYCH IM. HIPOLITA CEGIELSKIEGO W ŚREMIE TECHNIKUM NR 2 W ŚREMIE</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
