
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Tulce</title>
</head>
<body>
    <h1>Schools in Tulce</h1>
    <ul>
        <li>BAJKOWA KRAINA NIEPUBLICZNE PRZEDSZKOLE W TULCACH</li>
        <li>NIEPUBLICZNA DWUJĘZYCZNA SZKOŁA PODSTAWOWA BONUM FUTURUM</li>
        <li>NIEPUBLICZNA PLACÓWKA OŚWIATOWO - WYCHOWAWCZA STUDIO "TANGO"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE ARTYSTYCZNO-PLASTYCZNE PLASTYŚ</li>
        <li>PRZEDSZKOLE NR 2 W TULCACH</li>
        <li>PRZEDSZKOLE W TULCACH</li>
        <li>SZKOŁA PODSTAWOWA W TULCACH</li>
        <li>ZESPÓŁ SZKÓŁ W TULCACH</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
