
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Starkowo</title>
</head>
<body>
    <h1>Schools in Starkowo</h1>
    <ul>
        <li>NIEPUBLICZNE PRZEDSZKOLE W STARKOWIE</li>
        <li>SZKOŁA PODSTAWOWA IM. BUDOWNICZYCH SZKOŁY W STARKOWIE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W STARKOWIE</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
