
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Biedrusko</title>
</head>
<body>
    <h1>Schools in Biedrusko</h1>
    <ul>
        <li>PRYWATNA SZKOŁA PODSTAWOWA NR 1 W BIEDRUSKU</li>
        <li>PRZEDSZKOLE W ZESPOLE SZKÓŁ IM. 7 PUŁKU STRZELCÓW KONNYCH WLKP W BIEDRUSKU</li>
        <li>PUNKT PRZEDSZKOLNY "TERAPEUTYCZNE SENSO SZKRABY"</li>
        <li>SZKOŁA PODSTAWOWA W ZESPOLE SZKÓŁ IM. 7 PUŁKU STRZELCÓW KONNYCH WLKP. W BIEDRUSKI</li>
        <li>ZESPÓŁ SZKÓŁ IM. 7 PUŁKU STRZELCÓW KONNYCH WIELKOPOLSKICH</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
