
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Krzywiń</title>
</head>
<body>
    <h1>Schools in Krzywiń</h1>
    <ul>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W KRZYWINIU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. KAJETANA MORAWSKIEGO W KRZYWINIU</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE OCHRONKA IM.BŁ.EDMUNDA BOJANOWSKIEGO W KRZYWINIU</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE IM. MAJKI JEŻOWSKIEJ W KRZYWINIU</li>
        <li>SZKOŁA BRANŻOWA I STOPNIA IM. KAJETANA MORAWSKIEGO W KRZYWINIU</li>
        <li>SZKOŁA PODSTAWOWA IM. POWSTAŃCZEJ KOMPANII KRZYWIŃSKIEJ W KRZYWINIU</li>
        <li>ZESPÓŁ SZKÓŁ W KRZYWINIU</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
