
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Ostrów Wielkopolski</title>
</head>
<body>
    <h1>Schools in Ostrów Wielkopolski</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 1</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 2</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 3 IM. ERNESTA MALINOWSKIEGO</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 4</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 5</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA SPECJALNA</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA NR 1</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA NR 2</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA NR 3</li>
        <li>BURSA SZKOLNA IM. STEFANA ROWIŃSKIEGO</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO W OSTROWIE WIELKOPOLSKIM</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO W OSTROWIE WIELKOPOLSKIM</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO</li>
        <li>DWUJĘZYCZNA SZKOŁA PODSTAWOWA "MĄDRA SOWA"</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE IM. KS. J. KOMPAŁŁY I W. LIPSKIEGO</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE IM. WŁADYSŁAWA REYMONTA</li>
        <li>III LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>III LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>IV LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>IV LICEUM OGÓLNOKSZTAŁCĄCE IM. FRYDERYKA CHOPINA</li>
        <li>KSIĄŻNICA PEDAGOGICZNA IM.ALFONSA PARCZEWSKIEGO W KALISZU FILIA W OSTROWIE WLKP.</li>
        <li>LERN2BE CENTRUM SZKOLEŃ I ROZWOJU PLACÓWKA KSZTAŁCENIA USTAWICZNEGO</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH "PASCAL" W OSTROWIE WIELKOPOLSKIM</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH "ŻAK" W OSTROWIE WIELKOPOLSKIM</li>
        <li>MEDYCZNE STUDIUM ZAWODOWE IM. HANNY CHRZANOWSKIEJ W OSTROWIE WIELKOPOLSKIM</li>
        <li>MŁODZIEŻOWY DOM KULTURY</li>
        <li>MONTESSORI SZKOŁA ŻYCIA NIEPUBLICZNA SZKOŁA PODSTAWOWA FUNDACJI KRÓLOWEJ ŚW. JADWIGI W OSTROWIE WIELKOPOLSKIM</li>
        <li>MONTESSORI SZKOŁA ŻYCIA NIEPUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE FUNDACJI KRÓLOWEJ ŚW. JADWIGI W OSTROWIE WIELKOPOLSKIM</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA AGNIESZKA MAJEWSKA - CENTRUM SZKOLENIOWE</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA PATRYCJA STELMACH - CENTRUM SZKOLENIOWE</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO "AKADEMIA KOMPETENCJI EUROPEJSKICH"</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO INSTYTUT 21</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA "PRO-MOC"</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA "PROMYK"</li>
        <li>NIEPUBLICZNA SZKOŁA POLICEALNA TEB EDUKACJA W OSTROWIE WIELKOPOLSKIM</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "SOWY I SÓWKI"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE MAJA</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE MONTESSORI OSTRÓW</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE OGÓLNODOSTĘPNE IM. S. WŁODZIMIRY WOJTCZAK</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY WOJTUŚ</li>
        <li>OŚRODEK KSZTAŁCENIA USTAWICZNEGO</li>
        <li>OŚRODEK SZKOLENIA I USŁUG TECHNICZNYCH "FENIX" MAREK FABISIAK W OSTROWIE WIELKOPOLSKIM</li>
        <li>OŚRODEK SZKOLENIA KURSOWEGO</li>
        <li>OŚRODEK SZKOLENIA W OSTROWIE WIELKOPOLSKIM</li>
        <li>OŚRODEK SZKOLENIOWY CENTRUM NAUKI I BIZNESU "ŻAK"</li>
        <li>OSTROWSKA AKADEMIA WIEDZY</li>
        <li>PLACÓWKA KSZTAŁCENIA USTAWICZNEGO "HUMAN DISCOVERS"</li>
        <li>PLACÓWKA KSZTAŁCENIA USTAWICZNEGO PERSPEKTYWA</li>
        <li>POLSKO-KANADYJSKA SZKOŁA PODSTAWOWA IM. A. BELLA</li>
        <li>PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA</li>
        <li>PRYWATNE LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH "TWOJA SZKOŁA" W OSTROWIE WIELKOPOLSKIM</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE Z ODDZIAŁEM TERAPEUTYCZNYM "NASZ DOMEK"</li>
        <li>PRZEDSZKOLE NR 10 KUBUŚ PUCHATEK W OSTROWIE WIELKOPOLSKIM</li>
        <li>PRZEDSZKOLE NR 11 CALINECZKA W OSTROWIE WIELKOPOLSKIM</li>
        <li>PRZEDSZKOLE NR 12 TĘCZA W OSTROWIE WIELKOPOLSKIM</li>
        <li>PRZEDSZKOLE NR 13 SINDBAD W OSTROWIE WIELKOPOLSKIM</li>
        <li>PRZEDSZKOLE NR 14 MALUSZEK W OSTROWIE WIELKOPOLSKIM</li>
        <li>PRZEDSZKOLE NR 15 W OSTROWIE WIELKOPOLSKIM</li>
        <li>PRZEDSZKOLE NR 16 KOSZAŁEK-OPAŁEK W OSTROWIE WIELKOPOLSKIM</li>
        <li>PRZEDSZKOLE NR 17 CIUCHCIA W OSTROWIE WIELKOPOLSKIM</li>
        <li>PRZEDSZKOLE NR 2 JARZĘBINKA W OSTROWIE WIELKOPOLSKIM</li>
        <li>PRZEDSZKOLE NR 3 JAŚ I MAŁGOSIA W OSTROWIE WIELKOPOLSKIM</li>
        <li>PRZEDSZKOLE NR 6 W OSTROWIE WIELKOPOLSKIM</li>
        <li>PRZEDSZKOLE NR 7 BRATEK W OSTROWIE WIELKOPOLSKIM</li>
        <li>PRZEDSZKOLE NR 8 KRASNAL HAŁABAŁA W OSTROWIE WIELKOPOLSKIM</li>
        <li>PRZEDSZKOLE NR 9 MIŚ USZATEK W OSTROWIE WIELKOPOLSKIM</li>
        <li>PRZEDSZKOLE SIÓSTR SALEZJANEK NR 19</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA SIÓSTR SALEZJANEK</li>
        <li>PUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE SIÓSTR SALEZJANEK IM. PIĄTKI POZNAŃSKIEJ W OSTROWIE WIELKOPOLSKIM</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 1</li>
        <li>SPECJALNY OŚRODEK WYCHOWAWCZY ZGROMADZENIA SIÓSTR ŚW. ELŻBIETY</li>
        <li>STACJONARNA POLICEALNA SZKOŁA MEDYCZNA "PASCAL" W OSTROWIE WIELKOPOLSKIM</li>
        <li>STOWARZYSZENIE KSIĘGOWYCH W POLSCE ODDZIAŁ TERENOWY W OSTROWIE WIELKOPOLSKIM ODDZIAŁU WIELKOPOLSKIEGO W POZNANIU</li>
        <li>STUDIUM MEDYCZNE TEB EDUKACJA W OSTROWIE WIELKOPOLSKIM</li>
        <li>SZKOŁA JĘZYKÓW OBCYCH "THE GOLD BELL"</li>
        <li>SZKOŁA KWITNĄCEJ MYSLI W OSTROWIE WIELKOPOLSKIM</li>
        <li>SZKOŁA MUZYCZNA I STOPNIA</li>
        <li>SZKOŁA MUZYCZNA II STOPNIA</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. "MARII KONOPNICKIEJ" W OSTROWIE WIELKOPOLSKIM</li>
        <li>SZKOŁA PODSTAWOWA NR 11 IM. "MIROSŁAWA FERICA" W OSTROWIE WIELKOPOLSKIM</li>
        <li>SZKOŁA PODSTAWOWA NR 13 IM. "STEFANA ROWIŃSKIEGO" W OSTROWIE WIELKOPOLSKIM</li>
        <li>SZKOŁA PODSTAWOWA NR 14 W OSTROWIE WIELKOPOLSKIM</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. EWARYSTA ESTKOWSKIEGO W OSTROWIE WIELKOPOLSKIM</li>
        <li>SZKOŁA PODSTAWOWA NR 4 IM. "KRÓLOWEJ JADWIGI" W OSTROWIE WIELKOPOLSKIM</li>
        <li>SZKOŁA PODSTAWOWA NR 5 IM. "MIESZKA I" W OSTROWIE WIELKOPOLSKIM</li>
        <li>SZKOŁA PODSTAWOWA NR 6 IM. "MACIEJA RATAJA" W OSTROWIE WIELKOPOLSKIM</li>
        <li>SZKOŁA PODSTAWOWA NR 7 IM. "GEN. JÓZEFA BEMA" W OSTROWIE WIELKOPOLSKIM</li>
        <li>SZKOŁA PODSTAWOWA NR 9 IM. "JANA PAWŁA II" W OSTROWIE WIELKOPOLSKIM</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 12 IM. JANUSZA KORCZAKA</li>
        <li>SZKOŁA PODSTAWOWA SPÓŁDZIELNI OŚWIATOWEJ "EDUKATOR" W OSTROWIE WIELKOPOLSKIM</li>
        <li>SZKOŁA POLICEALNA CENTRUM NAUKI I BIZNESU "ŻAK" W OSTROWIE WIELKOPOLSKIM</li>
        <li>SZKOŁA POLICEALNA MEDYCZNA 'ŻAK" W OSTROWIE WIELKOPOLSKIM</li>
        <li>SZKOŁA POLICEALNA NR 1</li>
        <li>SZKOŁA POLICEALNA NR 2</li>
        <li>SZKOŁA POLICEALNA NR 3</li>
        <li>SZKOŁA POLICEALNA NR 4</li>
        <li>SZKOŁA POLICEALNA NR 5</li>
        <li>SZKOŁA POLICEALNA OPIEKI MEDYCZNEJ "ŻAK" W OSTROWIE WIELKOPOLSKIM</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY</li>
        <li>TEB EDUKACJA STUDIUM KSZTAŁCENIA PRAKTYCZNEGO</li>
        <li>TECHNIKUM NR 1 IM. WALDEMARA GOSTOMCZYKA</li>
        <li>TECHNIKUM NR 2</li>
        <li>TECHNIKUM NR 3 IM. ERNESTA MALINOWSKIEGO</li>
        <li>TECHNIKUM NR 4</li>
        <li>TECHNIKUM NR 5</li>
        <li>TECHNIKUM TEB EDUKACJA W OSTROWIE WIELKOPOLSKIM</li>
        <li>V LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>V LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>VI LICEUM OGÓLNOKSZTAŁC ĄCE</li>
        <li>VI LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>VII LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>WIELKOPOLSKIE SAMORZĄDOWE CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO W OSTROWIE WIELKOPOLSKIM</li>
        <li>ZAOCZNA POLICEALNA SZKOŁA MEDYCZNA "PASCAL" W OSTROWIE WIELKOPOLSKIM</li>
        <li>ZAOCZNA POLICEALNA SZKOŁA ZAWODOWA "PASCAL" W OSTROWIE WIELKOPOLSKIM</li>
        <li>ZESPÓŁ SZKÓŁ BUDOWLANO - ENERGETYCZNYCH</li>
        <li>ZESPÓŁ SZKÓŁ EKONOMICZNYCH IM. JÓZEFA GNIAZDOWSKIEGO</li>
        <li>ZESPÓŁ SZKÓŁ MUZYCZNYCH IM. KRZYSZTOFA KOMEDY - TRZCIŃSKIEGO</li>
        <li>ZESPÓŁ SZKÓŁ SIÓSTR SALEZJANEK</li>
        <li>ZESPÓŁ SZKÓŁ SPECJALNYCH IM. JANUSZA KORCZAKA</li>
        <li>ZESPÓŁ SZKÓŁ TECHNICZNYCH</li>
        <li>ZESPÓŁ SZKÓŁ TRANSPORTOWO - ELEKTRYCZNYCH CENTRUM KSZTAŁCENIA USTAWICZNEGO</li>
        <li>ZESPÓŁ SZKÓŁ USŁUGOWYCH</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
