
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Osieczna</title>
</head>
<body>
    <h1>Schools in Osieczna</h1>
    <ul>
        <li>NIEPUBLICZNE SZKOLNE SCHRONISKO MLODZIEŻOWE WAYKIKI W OSIECZNEJ</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE W OSIECZNEJ</li>
        <li>SZKOŁA PODSTAWOWA IM. POWSTAŃCÓW WIELKOPOLSKICH W OSIECZNEJ</li>
        <li>SZKOLNE SCHRONISKO MŁODZIEŻOWE MORENA</li>
        <li>ZESPÓŁ SZKÓŁ W OSIECZNEJ</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
