
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Lusówko</title>
</head>
<body>
    <h1>Schools in Lusówko</h1>
    <ul>
        <li>PRYWATNA SZKOŁA PODSTAWOWA "KUŹNIA TALENTÓW"</li>
        <li>PRZEDSZKOLE NA ZIELONYM WZGÓRZU W LUSÓWKU</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "TENISÓWKA"</li>
        <li>PRZEDSZKOLE PUBLICZNE BAJKOWA AKADEMIA</li>
        <li>SZKOŁA PODSTAWOWA IM. KAWALERÓW ORDERU UŚMIECHU W LUSÓWKU</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
