
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Dąbrówka</title>
</head>
<body>
    <h1>Schools in Dąbrówka</h1>
    <ul>
        <li>PRZEDSZKOLE PUBLCZNE "MALI ODKRYWCY"</li>
        <li>SZKOŁA PODSTAWOWA IM. KAWALERÓW ORDERU UŚMIECHU W DĄBRÓWCE</li>
        <li>SZKOŁA PODSTAWOWA IM. KAZIMIERZA NOWAKA</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
