
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Skórzewo</title>
</head>
<body>
    <h1>Schools in Skórzewo</h1>
    <ul>
        <li>DWUJĘZYCZNE PRYWATNE PRZEDSZKOLE "AKADEMIA PRZEDSZKOLAKA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE SKRZATY "POLITECHNIKA PRZEDSZKOLAKA"</li>
        <li>PRYWATNE PRZEDSZKOLE "AKADEMIA PRZEDSZKOLAKA"</li>
        <li>PRZEDSZKOLE CZARODZIEJSKI ZAMEK</li>
        <li>PRZEDSZKOLE HARMONIJKA</li>
        <li>PRZEDSZKOLE PUBLICZNE " ISKIERKI" W SKÓRZEWIE</li>
        <li>PRZEDSZKOLE PUBLICZNE DIAMENTOWA KRAINA</li>
        <li>PRZEDSZKOLE PUBLICZNE KOLOROWA WYSPA W SKÓRZEWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. FRYDERYKA CHOPINA W SKÓRZEWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. IGNACEGO JANA PADEREWSKIEGO W SKÓRZEWIE</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
