
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Baranowo</title>
</head>
<body>
    <h1>Schools in Baranowo</h1>
    <ul>
        <li>"AKADEMIA PITAGORASA" PUBLICZNA SZKOŁA PODSTAWOWA W BARANOWIE</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO POZROBOT</li>
        <li>PRZEDSZKOLE "MALI ODKRYWCY" W BARANOWIE</li>
        <li>PRZEDSZKOLE NR 2 W BARANOWIE</li>
        <li>PUNKT PRZEDSZKOLNY TERAPEUTYCZNE SENSO-SZKRABY</li>
        <li>SZKOŁA PODSTAWOWA IM. POLSKICH NOBLISTÓW W BARANOWIE</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
