
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Chludowo</title>
</head>
<body>
    <h1>Schools in Chludowo</h1>
    <ul>
        <li>PRZEDSZKOLE W ZESPOLE SZKÓŁ IM. O. MARIANA ŻELAZKA W CHLUDOWIE</li>
        <li>SZKOŁA PODSTAWOWA W ZESPOLE SZKÓL IM. O. MARIANA ŻELAZKA W CHLUDOWIE</li>
        <li>ZESPÓŁ SZKÓŁ IM. O. MARIANA ŻELAZKA</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
