
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Słupia pod Kępnem</title>
</head>
<body>
    <h1>Schools in Słupia pod Kępnem</h1>
    <ul>
        <li>PUBLICZNE PRZEDSZKOLE SAMORZĄDOWE W SŁUPI POD KĘPNEM</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA W SŁUPI POD KĘPNEM</li>
        <li>SZKOŁA PODSTAWOWA W SŁUPI POD KĘPNEM</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W SŁUPI POD KĘPNEM</li>
        <li>ZESPÓŁ SZKÓŁ SPECJALNYCH W SŁUPI POD KĘPNEM</li>
        <li>ZESPÓŁ SZKÓŁ W SŁUPI POD KĘPNEM</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
