
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Kłodawa</title>
</head>
<body>
    <h1>Schools in Kłodawa</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA CENTRUM NAUKI EUREKA KŁODAWA</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA PRZY ZESPOLE SZKÓŁ OGÓLNOKSZTAŁCĄCYCH I TECHNICZNYCH W KŁODAWIE</li>
        <li>CENTRUM NAUKI EUREKA W KŁODAWIE</li>
        <li>INNOWACYJNA SZKOŁA DLA DOROSŁYCH "PRZYSZŁOŚĆ"</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH CENTRUM NAUKI EUREKA W KŁODAWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE PRZY ZESPOLE SZKÓŁ OGÓLNOKSZTAŁCĄCYCH I TECHNICZNYCH W KŁODAWIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE MISIO</li>
        <li>PRZEDSZKOLE NR 1 IM. JANA BRZECHWY W KŁODAWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. ŚW.JANA PAWŁA II W KŁODAWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM.BIAŁYCH GÓRNIKÓW W KŁODAWIE</li>
        <li>SZKOŁA POLICEALNA CENTRUM NAUKI EUREKA W KŁODAWIE</li>
        <li>TECHNIKUM PRZY ZESPOLE SZKÓŁ OGÓLNOKSZTAŁCĄCYCH I TECHNICZNYCH W KŁODAWIE</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH I TECHNICZNYCH W KŁODAWIE</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
