
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Kórnik</title>
</head>
<body>
    <h1>Schools in Kórnik</h1>
    <ul>
        <li>"ZACZAROWANA KRAINA"</li>
        <li>FILIA W KÓRNIKU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. GENERAŁOWEJ ZAMOYSKIEJ W KÓRNIKU</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "BAŚNIOWA LEŚNICZÓWKA" Z ODDZIAŁAMI INTEGRACYJNYMI</li>
        <li>PRZEDSZKOLE KOLUMB KRAINA MAŁEGO ODKRYWCY</li>
        <li>PRZEDSZKOLE NR 1 IM. MISIA USZATKA</li>
        <li>PRZEDSZKOLE NR 2 "CZTERY PORY ROKU"</li>
        <li>PRZEDSZKOLE NR 3 "TRUSKAWKOWA POLANKA" W KÓRNIKU</li>
        <li>PRZEDSZKOLE POZYTYWKA</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. TYTUSA DZIAŁYŃSKIEGO W KÓRNIKU</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. TEOFILI Z DZIAŁYŃSKICH SZOŁDRSKIEJ-POTULICKIEJ W KÓRNIKU</li>
        <li>TECHNIKUM W KÓRNIKU</li>
        <li>ZACZAROWANA KRAINA</li>
        <li>ZESPÓŁ SZKÓŁ W KÓRNIKU</li>

    </ul>
    <a href="WIELKOPOLSKIE.html">Back to Cities in WIELKOPOLSKIE</a>
</body>
</html>
