
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Ciechanowiec</title>
</head>
<body>
    <h1>Schools in Ciechanowiec</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA IM. ROTMISTRZA WITOLDA PILECKIEGO W CIECHANOWCU</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA W CIECHANOWCU</li>
        <li>CENTRUM SZKOLENIOWE KOMUNIKADO W CIECHANOWCU</li>
        <li>LICEUM OGÓLNOKSZATŁCĄCE DLA DOROSŁYCH W CIECHANOWCU</li>
        <li>LICEUM OGÓLNOKSZATŁCĄCE IM. ROTMISTRZA WITOLDA PILECKIEGO W CIECHANOWCU</li>
        <li>PRZEDSZKOLE W CIECHANOWCU</li>
        <li>SZKOŁA PODSTAWOWA W CIECHANOWCU</li>
        <li>SZKOŁA POLICEALNA W CIECHANOWCU</li>
        <li>TECHNIKUM IM. ROTMISTRZA WITOLDA PILECKIEGO W CIECHANOWCU</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH I ZAWODOWYCH W CIECHANOWCU</li>

    </ul>
    <a href="PODLASKIE.html">Back to Cities in PODLASKIE</a>
</body>
</html>
