
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Suwałki</title>
</head>
<body>
    <h1>Schools in Suwałki</h1>
    <ul>
        <li>AKADEMIA DZIECI CIEKAWYCH ŚWIATA NIEPUBLICZNE PRZEDSZKOLE W SUWAŁKACH</li>
        <li>AKADEMIA ROZWOJU "PROGRES" W SUWAŁKACH</li>
        <li>BIBLIOTEKA PEDAGOGICZNA W SUWAŁKACH</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 2 W SUWAŁKACH</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 3 W SUWAŁKACH</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 4 W SUWAŁKACH</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 5 W SUWAŁKACH</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA SPECJALNA NR 1 W SUWAŁKACH</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA W SUWAŁKACH</li>
        <li>BURSA SZKOLNA W SUWAŁKACH</li>
        <li>CENTRUM EDUKACJI NAUCZYCIELI W SUWAŁKACH</li>
        <li>CENTRUM EDUKACYJNO - SZKOLENIOWE AGENCJA ROZWOJU REGIONALNEGO ARES S.A. W SUWAŁKACH</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO W SUWAŁKACH</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO W SUWAŁKACH</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO NR 1 W SUWAŁKACH</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO NR 2 W SUWAŁKACH</li>
        <li>CENTRUM SZKOLENIA ZAWODOWEGO "UNIWERS" W SUWAŁKACH</li>
        <li>CENTRUM TERAPII "JESTEŚMY RAZEM" NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA W SUWAŁKACH</li>
        <li>DWUJĘZYCZNY NIEPUBLICZNY PUNKT PRZEDSZKOLNY "PRACOWITE PSZCZÓŁKI"</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI DWUJĘZYCZNYMI IM. MARII KONOPNICKIEJ W SUWAŁKACH</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE IM. GEN. ZYGMUNTA PODHORSKIEGO W SUWAŁKACH</li>
        <li>III LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI DWUJĘZYCZNYMI IM. ALFREDA LITYŃSKIEGO W SUWAŁKACH</li>
        <li>INSTYTUT KSZTAŁCENIA "FORMA" W SUWAŁKACH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH "AKADEMIA SUKCESU" W SUWAŁKACH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH "ŻAK" W SUWAŁKACH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W SUWAŁKACH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE ZAKŁADU DOSKONALENIA ZAWODOWEGO W BIAŁYMSTOKU Z SIEDZIBĄ W SUWAŁKACH</li>
        <li>NIEPUBLICZNA DWUJĘZYCZNA SZKOŁA PODSTAWOWA LET'S TALK W SUWAŁKACH</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA EDUSA W SUWAŁKACH</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA W SUWAŁKACH</li>
        <li>NIEPUBLICZNA TERAPEUTYCZNA SZKOŁA PODSTAWOWA "BAJKA" W SUWAŁKACH</li>
        <li>NIEPUBLICZNA TERAPEUTYCZNA SZKOŁA PRZYSPOSABIAJĄCA DO PRACY "PROLOG"</li>
        <li>NIEPUBLICZNE DWUJĘZYCZNE PRZEDSZKOLE KIDS&CO. W SUWAŁKACH</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE ''HAPPY KIDS' CLUB'' W SUWAŁKACH</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "AKADEMIA MAŁYCH GENIUSZY" W SUWAŁKACH</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "EMELEK"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "KROPKA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "MAJA" W SUWAŁKACH</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "MALI ODKRYWCY" W SUWAŁKACH</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "SKRZACIK"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "U KUBUSIA PUCHATKA" W SUWAŁKACH</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE OGRÓDECZEK</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE TERAPEUTYCZNE "KONICZYNKA" W SUWAŁKACH</li>
        <li>NIEPUBLICZNE SALEZJAŃSKIE PRZEDSZKOLE IM. ŚW. JANA BOSKO W SUWAŁKACH</li>
        <li>OŚRODEK DOSKONALENIA NAUCZYCIELI W SUWAŁKACH</li>
        <li>OŚRODEK KSZTAŁCENIA ZAWODOWEGO TOP 2001 W SUWAŁKACH</li>
        <li>OŚRODEK SZKOLENIOWY CENTRUM NAUKI I BIZNESU "ŻAK" W SUWAŁKACH</li>
        <li>OŚRODEK SZKOLENIOWY W SUWAŁKACH STOWARZYSZENIA KSIĘGOWYCH W POLSCE</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I I II STOPNIA W SUWAŁKACH</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I STOPNIA W SUWAŁKACH</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA II STOPNIA W SUWAŁKACH</li>
        <li>PARAFIALNA PODSTAWOWA SZKOŁA POLSKO - ROMSKA Z ODDZIAŁAMI INTEGRACYJNYMI W SUWAŁKACH</li>
        <li>PLACÓWKA KSZTAŁCENIA ZAWODOWEGO W SUWAŁKACH "UNIWERSUS" SP. Z O.O.</li>
        <li>POLICEALNA SZKOŁA "AKADEMIA SUKCESU" W SUWAŁKACH</li>
        <li>POLICEALNA SZKOŁA ZAWODOWA W SUWAŁKACH "UNIWERSUS" SP. Z O.O.</li>
        <li>PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA W SUWAŁKACH</li>
        <li>PRYWATNA SZKOŁA KIEROWCÓW "JAN WASILEWSKI" W SUWAŁKACH</li>
        <li>PRYWATNE LICEUM OGÓLNOKSZTAŁCĄCE W SUWAŁKACH</li>
        <li>PRZEDSZKOLE NIEPUBILCZNE NR 1 ,,ZIELONY ZAKĄTEK,, W SUWAŁKACH</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "CHATKA NIEDŹWIADKA" W SUWAŁKACH</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "CHATKA PUCHATKA" W SUWAŁKACH</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "JEDYNECZKA" W SUWAŁKACH</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "KOSZAŁKOWO" W SUWAŁKACH</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "MALI BOHATEROWIE" W SUWAŁKACH</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "OMNIBUSEK" W SUWAŁKACH</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE BIEDRONECZKA</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE LITTLE STAR</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE Z ODDZIAŁAMI INTEGRACYJNYMI "SŁONECZKO" W SUWAŁKACH</li>
        <li>PRZEDSZKOLE NR 1 W SUWAŁKACH</li>
        <li>PRZEDSZKOLE NR 10 IM. MARII KONOPNICKIEJ W SUWAŁKACH</li>
        <li>PRZEDSZKOLE NR 2 W SUWAŁKACH</li>
        <li>PRZEDSZKOLE NR 3 IM. OJCA ŚWIĘTEGO JANA PAWŁA II W SUWAŁKACH</li>
        <li>PRZEDSZKOLE NR 4 Z ODDZIAŁEM INTEGRACYJNYM W SUWAŁKACH</li>
        <li>PRZEDSZKOLE NR 5 Z ODDZIAŁEM INTEGRACYJNYM W SUWAŁKACH</li>
        <li>PRZEDSZKOLE NR 6 W SUWAŁKACH</li>
        <li>PRZEDSZKOLE NR 7 W SUWAŁKACH</li>
        <li>PRZEDSZKOLE NR 8 Z ODDZIAŁAMI INTEGRACYJNYMI W SUWAŁKACH</li>
        <li>PRZEDSZKOLE SPECJALNE NR 9 W SUWAŁKACH</li>
        <li>PRZEDSZKOLE Z LITEWSKIM JĘZYKIEM NAUCZANIA W SUWAŁKACH</li>
        <li>PUBLICZNA SZKOŁA POLICEALNA "COSINUS" W SUWAŁKACH</li>
        <li>PUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH "COSINUS" W SUWAŁKACH</li>
        <li>REGIONALNY OŚRODEK DOSKONALENIA KADR SUWALSKIEJ RADY FSNT NOT Z SIEDZIBĄ W SUWAŁKACH</li>
        <li>SPECJALNY OŚRODEK SZKOLNO - WYCHOWAWCZY NR 1 W SUWAŁKACH</li>
        <li>SUWALSKA SZKOŁA BIZNESU W SUWAŁKACH</li>
        <li>SUWALSKA SZKOŁA BIZNESU W SUWAŁKACH</li>
        <li>SUWALSKA SZKOŁA BIZNESU W SUWAŁKACH SZKOŁA POLICEALNA</li>
        <li>SUWALSKI OŚRODEK DOSKONALENIA NAUCZYCIELI W SUWAŁKACH</li>
        <li>SZKOŁA PODSTAWOWA IM. MARII KONOPNICKIEJ W SUWAŁKACH</li>
        <li>SZKOŁA PODSTAWOWA NR 10 Z ODDZIAŁAMI INTEGRACYJNYMI IM. OLIMPIJCZYKÓW POLSKICH W SUWAŁKACH</li>
        <li>SZKOŁA PODSTAWOWA NR 11 Z ODDZIAŁAMI INTEGRACYJNYMI IM. GEN. BRYG. PIL. WITOLDA URBANOWICZA W SUWAŁKACH</li>
        <li>SZKOŁA PODSTAWOWA NR 2 Z ODDZIAŁAMI DWUJĘZYCZNYMI IM. ALEKSANDRY PIŁSUDSKIEJ W SUWAŁKACH</li>
        <li>SZKOŁA PODSTAWOWA NR 4 IM. KS. KAZIMIERZA ALEKSANDRA HAMERSZMITA W SUWAŁKACH</li>
        <li>SZKOŁA PODSTAWOWA NR 5 IM. ALFREDA WIERUSZ-KOWALSKIEGO W SUWAŁKACH</li>
        <li>SZKOŁA PODSTAWOWA NR 6 IM. ALEKSANDRY KUJAŁOWICZ W SUWAŁKACH</li>
        <li>SZKOŁA PODSTAWOWA NR 7 IM. ŚW. JANA PAWŁA II W SUWAŁKACH</li>
        <li>SZKOŁA PODSTAWOWA NR 9 IM. WŁODZIMIERZA PUCHALSKIEGO W SUWAŁKACH</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 1 W SUWAŁKACH</li>
        <li>SZKOŁA POLICEALNA CENTRUM NAUKI I BIZNESU "ŻAK" W SUWAŁKACH</li>
        <li>SZKOŁA POLICEALNA KOSMETYKI "ŻAK" W SUWAŁKACH</li>
        <li>SZKOŁA POLICEALNA NR 1 W SUWAŁKACH</li>
        <li>SZKOŁA POLICEALNA NR 2 W SUWAŁKACH</li>
        <li>SZKOŁA POLICEALNA OPIEKI MEDYCZNEJ "ŻAK" W SUWAŁKACH</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W SUWAŁKACH</li>
        <li>TANMUZ BOGUSŁAW SZLASZYŃSKI</li>
        <li>TECHNIKUM NR 2 W SUWAŁKACH</li>
        <li>TECHNIKUM NR 3 W SUWAŁKACH</li>
        <li>TECHNIKUM NR 4 W SUWAŁKACH</li>
        <li>TECHNIKUM NR 5 W SUWAŁKACH</li>
        <li>TECHNIKUM W SUWAŁKACH</li>
        <li>TECHNIKUM ZAKŁADU DOSKONALENIA ZAWODOWEGO W BIAŁYMSTOKU Z SIEDZIBĄ W SUWAŁKACH</li>
        <li>VI LICEUM OGÓLNOKSZTAŁCĄCE W SUWAŁKACH</li>
        <li>WIELOZAWODOWA SZKOŁA BRANŻOWA I STOPNIA W SUWAŁKACH</li>
        <li>WIOSKA OLIMPIJSKA NAD CZARNĄ HAŃCZĄ</li>
        <li>ZAKŁAD DOSKONALENIA ZAWODOWEGO W BIAŁYMSTOKU OŚRODEK KSZTAŁCENIA ZAWODOWEGO W SUWAŁKACH</li>
        <li>ZESPÓŁ SZKÓŁ CENTRUM KSZTAŁCENIA ROLNICZEGO IM. WINCENTEGO WITOSA W SUWAŁKACH</li>
        <li>ZESPÓŁ SZKÓŁ NR 1 W SUWAŁKACH</li>
        <li>ZESPÓŁ SZKÓŁ NR 2 W SUWAŁKACH</li>
        <li>ZESPÓŁ SZKÓŁ NR 4 W SUWAŁKACH</li>
        <li>ZESPÓŁ SZKÓŁ NR 6 IM. KAROLA BRZOSTOWSKIEGO W SUWAŁKACH</li>
        <li>ZESPÓŁ SZKÓŁ SIÓSTR SALEZJANEK IM. JANA PAWŁA II W SUWAŁKACH</li>
        <li>ZESPÓŁ SZKÓŁ TECHNICZNYCH W SUWAŁKACH</li>

    </ul>
    <a href="PODLASKIE.html">Back to Cities in PODLASKIE</a>
</body>
</html>
