
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Rudka</title>
</head>
<body>
    <h1>Schools in Rudka</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W RUDCE</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO W RUDCE</li>
        <li>SZKOŁA PODSTAWOWA IM. JANA PAWŁA II W RUDCE</li>
        <li>SZKOŁA POLICEALNA W RUDCE</li>
        <li>TECHNIKUM W RUDCE</li>
        <li>ZESPÓŁ SZKÓŁ CENTRUM KSZTAŁCENIA ROLNICZEGO IM. KRZYSZTOFA KLUKA W RUDCE</li>

    </ul>
    <a href="PODLASKIE.html">Back to Cities in PODLASKIE</a>
</body>
</html>
