
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Turośl</title>
</head>
<body>
    <h1>Schools in Turośl</h1>
    <ul>
        <li>SZKOŁA PODSTAWOWA Z ODDZIAŁAMI INTEGRACYJNYMI IM. KS. JANA TWARDOWSKIEGO W TUROŚLI</li>
        <li>SZKOLNE SCHRONISKO MŁODZIEŻOWE PRZY SZKOLE PODSTAWOWEJ Z ODDZIAŁAMI INTEGRACYJNYMI IM. KS. JANA TWARDOWSKIEGO W TUROŚLI</li>

    </ul>
    <a href="PODLASKIE.html">Back to Cities in PODLASKIE</a>
</body>
</html>
