
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Drohiczyn</title>
</head>
<body>
    <h1>Schools in Drohiczyn</h1>
    <ul>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE BENEDYKTA W DROHICZYNIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. J.I. KRASZEWSKIEGO W DROHICZYNIE</li>
        <li>SZKOŁA PODSTAWOWA BENEDYKTA W DROHICZYNIE</li>
        <li>SZKOŁA PODSTAWOWA IM. MARSZAŁKA JÓZEFA PIŁSUDSKIEGO W DROHICZYNIE</li>
        <li>ZESPÓŁ SZKÓŁ W DROHICZYNIE</li>

    </ul>
    <a href="PODLASKIE.html">Back to Cities in PODLASKIE</a>
</body>
</html>
