
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Jabłoń Kościelna</title>
</head>
<body>
    <h1>Schools in Jabłoń Kościelna</h1>
    <ul>
        <li>PRZEDSZKOLE "BAŚNIOWY GAJ" W JABŁONI KOŚCIELNEJ</li>
        <li>PUNKT PRZEDSZKOLNY "BAŚNIOWY GAJ"</li>
        <li>SZKOŁA PODSTAWOWA IM.JANA PAWŁA II W JABŁONI KOŚCIELNEJ</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W JABŁONI KOŚCIELNEJ</li>

    </ul>
    <a href="PODLASKIE.html">Back to Cities in PODLASKIE</a>
</body>
</html>
