
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Sejny</title>
</head>
<body>
    <h1>Schools in Sejny</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W SEJNACH</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA W SEJNACH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. SZYMONA KONARSKIEGO W SEJNACH</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE JĘZYKOWE LET`S TALK W SEJNACH</li>
        <li>PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA W SEJNACH</li>
        <li>PRZEDSZKOLE MIEJSKIE IM. MARSZAŁKA JÓZEFA PIŁSUDSKIEGO W SEJNACH</li>
        <li>PRZEDSZKOLE Z LITEWSKIM JĘZYKIEM NAUCZANIA "ŻIBURYS" W SEJNACH</li>
        <li>ROLNICZE CENTRUM KSZTAŁCENIA USTAWICZNEGO W SEJNACH</li>
        <li>SZKOŁA PODSTAWOWA IM. MJR HENRYKA DOBRZAŃSKIEGO "HUBALA" W SEJNACH</li>
        <li>SZKOŁA PODSTAWOWA Z LITEWSKIM JĘZYKIEM NAUCZANIA "ŻIBURYS" W SEJNACH</li>
        <li>SZKOŁA POLICEALNA W SEJNACH</li>
        <li>TECHNIKUM</li>
        <li>TECHNIKUM W SEJNACH</li>
        <li>ZESPÓŁ SZKÓŁ CENTRUM KSZTAŁCENIA ROLNICZEGO IM. STANISŁAWA STASZICA W SEJNACH</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH W SEJNACH</li>
        <li>ZESPÓŁ SZKÓŁ Z LITEWSKIM JĘZYKIEM NAUCZANIA "ŻIBURYS" W SEJNACH</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W SEJNACH</li>

    </ul>
    <a href="PODLASKIE.html">Back to Cities in PODLASKIE</a>
</body>
</html>
