
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Czartajew</title>
</head>
<body>
    <h1>Schools in Czartajew</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W CZARTAJEWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W CZARTAJEWIE</li>
        <li>SZKOŁA PODSTAWOWA W CZARTAJEWIE</li>
        <li>SZKOŁA POLICEALNA W CZARTAJEWIE</li>
        <li>TECHNIKUM W CZARTAJEWIE</li>
        <li>ZESPÓŁ SZKÓŁ TECHNICZNYCH IM.W.ST. REYMONTA W CZARTAJEWIE</li>

    </ul>
    <a href="PODLASKIE.html">Back to Cities in PODLASKIE</a>
</body>
</html>
