
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Czyżew</title>
</head>
<body>
    <h1>Schools in Czyżew</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W CZYŻEWIE</li>
        <li>GMINNE PRZEDSZKOLE W CZYŻEWIE</li>
        <li>LICEUM OGÓLNOKSZATŁCĄCE DLA DOROSŁYCH W CZYŻEWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W CZYŻEWIE</li>
        <li>SZKOŁA PODSTAWOWA IM.SZARYCH SZEREGÓW W CZYŻEWIE</li>
        <li>SZKOŁA POLICEALNA W CZYŻEWIE</li>
        <li>TECHNIKUM W CZYŻEWIE</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH I ZAWODOWYCH IM. STEFANA KARDYNAŁA WYSZYŃSKIEGO W CZYŻEWIE</li>

    </ul>
    <a href="PODLASKIE.html">Back to Cities in PODLASKIE</a>
</body>
</html>
