
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Kolno</title>
</head>
<body>
    <h1>Schools in Kolno</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA IM. KARDYNAŁA STEFANA WYSZYŃSKIEGO W KOLNIE</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE IM. ADAMA MICKIEWICZA W KOLNIE</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH IM. KARDYNAŁA STEFANA WYSZYŃSKIEGO W KOLNIE</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE IM. KARDYNAŁA STEFANA WYSZYŃSKIEGO W KOLNIE</li>
        <li>INSTYTUT INTERMARIUM IM. ROBERTA EDELWAJNA</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "BAJKOWY ŚWIAT" W KOLNIE</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I ST. W ŁOMŻY FILIA W KOLNIE</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W KOLNIE</li>
        <li>POWIATOWA BIBLIOTEKA PEDAGOGICZNA W KOLNIE</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 4 W KOLNIE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "KREDKA" W KOLNIE</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. TADEUSZA KOŚCIUSZKI W KOLNIE</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. HENRYKA SIENKIEWICZA W KOLNIE</li>
        <li>SZKOŁA POLICEALNA IM. KARDYNAŁA STEFANA WYSZYŃSKIEGO W KOLNIE</li>
        <li>TECHNIKUM IM. KARDYNAŁA STEFANA WYSZYŃSKIEGO W KOLNIE</li>
        <li>ZESPÓŁ SZKÓŁ TECHNICZNYCH W KOLNIE</li>

    </ul>
    <a href="PODLASKIE.html">Back to Cities in PODLASKIE</a>
</body>
</html>
