
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Długobórz</title>
</head>
<body>
    <h1>Schools in Długobórz</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA SPECJALNA W DŁUGOBORZU</li>
        <li>SPECJALNY OŚRODEK SZKOLNO - WYCHOWAWCZY IM. ŚWIĘTEGO JANA PAWŁA II W DŁUGOBORZU</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA W DŁUGOBORZU</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W DŁUGOBORZU</li>

    </ul>
    <a href="PODLASKIE.html">Back to Cities in PODLASKIE</a>
</body>
</html>
