
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Ostrożany</title>
</head>
<body>
    <h1>Schools in Ostrożany</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W OSTROŻANACH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W OSTROŻANACH</li>
        <li>PUNKT PRZEDSZKOLNY W OSTROŻANACH</li>
        <li>SZKOŁA POLICEALNA W OSTROŻANACH</li>
        <li>TECHNIKUM W OSTROŻANACH</li>
        <li>ZESPÓŁ SZKÓŁ ROLNICZYCH IM. W.WITOSA W OSTROŻANACH</li>

    </ul>
    <a href="PODLASKIE.html">Back to Cities in PODLASKIE</a>
</body>
</html>
