
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Białystok</title>
</head>
<body>
    <h1>Schools in Białystok</h1>
    <ul>
        <li>"BAJKA" PRZEDSZKOLE NIEPUBLICZNE NR 8 W BIAŁYMSTOKU</li>
        <li>"DOMOWE PRZEDSZKOLE"</li>
        <li>"EDUCENTRUM" OŚRODEK KSZTAŁCENIA USTAWICZNEGO W BIAŁYMSTOKU</li>
        <li>"EDUCENTRUM" POLICEALNA SZKOŁA MEDYCZNA W BIAŁYMSTOKU</li>
        <li>"EFIS"-INSTYTUT KSZTAŁCENIA USTAWICZNEGO</li>
        <li>"EXPLOTERM DANIEL AMBROŻEJ"</li>
        <li>"KOMANDOS" - PODLASIE SP. Z O.O.</li>
        <li>"KONSULTANT S.C."</li>
        <li>"ŚWIAT UCZNIA" PRYWATNA SZKOŁA PODSTAWOWA W BIAŁYMSTOKU</li>
        <li>„SZKOŁA MATEMATYKI SIGMATH”</li>
        <li>AKADEMIA FRYZJERSKA MARIW DARIUSZ DĄBROWSKI</li>
        <li>AKADEMIA MĄDREGO DZIECKA EMILIA KAROLINA SEROKA W BIAŁYMSTOKU</li>
        <li>AKADEMIA NAUKI EMILIA KAROLINA SEROKA W BIAŁYMSTOKU</li>
        <li>AKADEMIA PHP</li>
        <li>AKADEMIA SUKCESU "NASZA SZKOŁA" PRYWATNA SZKOŁA PODSTAWOWA NR 8 IM. MARII KONOPNICKIEJ W BIAŁYMSTOKU</li>
        <li>AKADEMIA SUKCESU "NASZA SZKOŁA" PRZEDSZKOLE NIEPUBLICZNE NR 1 IM. MARII KONOPNICKIEJ W BIAŁYMSTOKU</li>
        <li>AKADEMICKA POLICEALNA SZKOŁA MEDYCZNA W BIAŁYMSTOKU</li>
        <li>AKADEMICKIE LICEUM OGÓLNOKSZTAŁCĄCE POLITECHNIKI BIAŁOSTOCKIEJ</li>
        <li>AKADEMICKIE MEDYCZNE LICEUM OGÓLNOKSZTAŁCĄCE W BIAŁYMSTOKU</li>
        <li>AKCES OŚRODEK SZKOLENIA ZAWODOWEGO KIEROWCÓW ANDRZEJ SURAL W BIAŁYMSTOKU</li>
        <li>ARTEA OTWARTA PRZESTRZEŃ ARTYSTYCZNA IRINA SIDORUK W BIAŁYMSTOKU</li>
        <li>AURA</li>
        <li>AUTORSKA SZKOŁA KLANZY - LICEUM OGÓLNOKSZTAŁCĄCE W BIAŁYMSTOKU</li>
        <li>BIAŁOSTOCKA SZKOŁA REALNA</li>
        <li>BIAŁOSTOCKIE CENTRUM EDUKACJI</li>
        <li>BIBLIOTEKA PEDAGOGICZNA W BIAŁYMSTOKU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 1 W BIAŁYMSTOKU ZESPOŁU SZKÓŁ ELEKTRYCZNYCH IM. PROF. JANUSZA GROSZKOWSKIEGO W BIAŁYMSTOKU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 10 W BIAŁYMSTOKU ZESPOŁU SZKÓŁ NR 10 W BIAŁYMSTOKU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 13 W ZAKŁADZIE POPRAWCZYM W BIAŁYMSTOKU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 2 W BIAŁYMSTOKU ZESPOŁU SZKÓŁ MECHANICZNYCH IM. ŚW. JÓZEFA W BIAŁYMSTOKU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 3 W BIAŁYMSTOKU ZESPOŁU SZKÓŁ TECHNICZNYCH IM. GEN. WŁADYSŁAWA ANDERSA W BIAŁYMSTOKU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 4 W BIAŁYMSTOKU ZESPOŁU SZKÓŁ GASTRONOMICZNYCH W BIAŁYMSTOKU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 5 W BIAŁYMSTOKU ZESPOŁU SZKÓŁ ZAWODOWYCH NR 5 IM. GEN. IGNACEGO PRĄDZYŃSKIEGO W BIAŁYMSTOKU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 6 W BIAŁYMSTOKU ZESPOŁU SZKÓŁ HANDLOWO-EKONOMICZNYCH IM. MIKOŁAJA KOPERNIKA W BIAŁYMSTOKU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 7 W BIAŁYMSTOKU ZESPOŁU SZKÓŁ TECHNICZNYCH I OGÓLNOKSZTAŁCĄCYCH Z ODDZIAŁAMI INTEGRACYJNYMI IM. STANISŁAWA STASZICA W BIAŁYMSTOKU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 8 W BIAŁYMSTOKU ZESPOŁU SZKÓŁ ROLNICZYCH W BIAŁYMSTOKU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 9 W BIAŁYMSTOKU ZESPOŁU SZKÓŁ ZAWODOWYCH NR 2 IM. KPT. WŁADYSŁAWA WYSOCKIEGO W BIAŁYMSTOKU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA SPECJALNA IM. MARII GRZEGORZEWSKIEJ W BIAŁYMSTOKU ZESPOŁU SZKÓŁ NR 16 W BIAŁYMSTOKU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA ZAKŁADU DOSKONALENIA ZAWODOWEGO W BIAŁYMSTOKU</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA NR 1 W BIAŁYMSTOKU ZESPOŁU SZKÓŁ ELEKTRYCZNYCH IM. PROF. JANUSZA GROSZKOWSKIEGO W BIAŁYMSTOKU</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA NR 10 W BIAŁYMSTOKU ZESPOŁU SZKÓŁ NR 10 W BIAŁYMSTOKU</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA NR 2 W BIAŁYMSTOKU ZESPOŁU SZKÓŁ MECHANICZNYCH IM. ŚW. JÓZEFA W BIAŁYMSTOKU</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA NR 4 W BIAŁYMSTOKU ZESPOŁU SZKÓŁ GASTRONOMICZNYCH W BIAŁYMSTOKU</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA NR 5 W BIAŁYMSTOKU ZESPOŁU SZKÓŁ ZAWODOWYCH NR 5 IM. GEN. IGNACEGO PRĄDZYŃSKIEGO W BIAŁYMSTOKU</li>
        <li>BURSA SZKOLNA ZESPOŁU PLACÓWEK OŚWIATOWYCH NR 1 W BIAŁYMSTOKU</li>
        <li>CENTRUM DIAGNOSTYKI I TERAPII PSYCHOLOGICZNO-PEDAGOGICZNEJ DLA DZIECI I MŁODZIEŻY "TERAPIA" NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W BIAŁYMSTOKU</li>
        <li>CENTRUM EDUKACJI NAUCZYCIELI W BIAŁYMSTOKU</li>
        <li>CENTRUM EDUKACYJNE SUBE</li>
        <li>CENTRUM KOMPETENCJI ZAWODOWYCH GREENKO W BIAŁYMSTOKU</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO IM. HENRYKA SIENKIEWICZA W BIAŁYMSTOKU BIAŁOSTOCKIEGO CENTRUM EDUKACJI</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO IM. HENRYKA SIENKIEWICZA W BIAŁYMSTOKU SZKOŁA PODSTAWOWA DLA DOROSŁYCH W BIAŁYMSTOKU</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO CECHU RZEMIOSŁ RÓŻNYCH I PRZEDSIĘBIORCZOŚCI</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO FUNDACJI DUAL EDUCATION SYSTEM W BIAŁYMSTOKU</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO NR 1 W BIAŁYMSTOKU</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO NR 2 IM. ZBIGNIEWA LENARTA W BIAŁYMSTOKU</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO NR 3 W BIAŁYMSTOKU</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO NR 4 W BIAŁYMSTOKU ZESPOŁU SZKÓŁ BUDOWLANO-GEODEZYJNYCH IM. WŁADYSŁAWA BRYŁY W BIAŁYMSTOKU</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO NR 5 W BIAŁYMSTOKU</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO NR 6 W BIAŁYMSTOKU ZESPOŁU SZKÓŁ TECHNICZNYCH IM. GEN. WŁADYSŁAWA ANDERSA W BIAŁYMSTOKU</li>
        <li>CENTRUM MUZYKI "VOC SZKOŁA DŹWIĘKÓW" W BIAŁYMSTOKU</li>
        <li>CENTRUM NAUKI I PRZEDSIĘBIORCZOŚCI AXON W BIAŁYMSTOKU</li>
        <li>CENTRUM ROZWOJU EDUKACJI "ALFA I OMEGA" W BIAŁYMSTOKU</li>
        <li>CENTRUM SZKOLEŃ LEARNING ONE</li>
        <li>CENTRUM ZAWODÓW MEDYCZNYCH I SPOŁECZNYCH - SZKOŁA POLICEALNA WOJEWÓDZTWA PODLASKIEGO W BIAŁYMSTOKU</li>
        <li>CONSTANS CENTRUM JĘZYKOWE</li>
        <li>COSINUS OGÓLNOPOLSKI OŚRODEK SZKOLEŃ I ROZWOJU W BIAŁYMSTOKU</li>
        <li>DENTOMAX ANNA GRYGORCZUK</li>
        <li>DWUJĘZYCZNE NIEPUBLICZNE PRZEDSZKOLE "ULILAND"</li>
        <li>EDUKACYJNE PRZEDSZKOLE "ENTLICZEK"</li>
        <li>ELASTYCZNE PRZEDSZKOLE PRZY WSE W BIAŁYMSTOKU "ORZEŁEK"</li>
        <li>ENGLISH COLOURS GROUP SP. Z O.O. W BIAŁYMSTOKU</li>
        <li>EUROSCHOOL-PERFECT</li>
        <li>FABRYKA KREATYWNOŚCI DORADZTWO SZKOLENIA PROJEKTY JUSTYNA FRANKOWSKA</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE CN-B IM. POLSKICH SPADOCHRONIARZY W BIAŁYMSTOKU</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE IM. ADAMA MICKIEWICZA W BIAŁYMSTOKU</li>
        <li>I SPOŁECZNE LICEUM OGÓLNOKSZTAŁCĄCE W BIAŁYMSTOKU</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE IM. KSIĘŻNEJ ANNY Z SAPIEHÓW JABŁONOWSKIEJ W BIAŁYMSTOKU ZESPOŁU SZKÓŁ OGÓLNOKSZTAŁCĄCYCH NR 2 W BIAŁYMSTOKU</li>
        <li>II SPOŁECZNE LICEUM OGÓLNOKSZTAŁCĄCE IM. JANA PAWŁA II W BIAŁYMSTOKU</li>
        <li>III LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W BIAŁYMSTOKU CENTRUM KSZTAŁCENIA USTAWICZNEGO IM. HENRYKA SIENKIEWICZA W BIAŁYMSTOKU</li>
        <li>III LICEUM OGÓLNOKSZTAŁCĄCE IM. KRZYSZTOFA KAMILA BACZYŃSKIEGO W BIAŁYMSTOKU</li>
        <li>INSTYTUT INFOTECH</li>
        <li>INTERMEDICAL COLLEGE</li>
        <li>IV LICEUM OGÓLNOKSZTAŁCĄCE IM. CYPRIANA KAMILA NORWIDA W BIAŁYMSTOKU</li>
        <li>IX LICEUM OGÓLNOKSZTAŁCĄCE W BIAŁYMSTOKU ZESPOŁU SZKÓŁ OGÓLNOKSZTAŁCĄCYCH I TECHNICZNYCH W BIAŁYMSTOKU</li>
        <li>JEŻYKOWE PRZEDSZKOLE</li>
        <li>JĘZYKOWE PRZEDSZKOLE NIEPUBLICZNE SUPER KIDS</li>
        <li>KATOLICKA SZKOŁA PODSTAWOWA IM. KS. FRANCISZKA BLACHNICKIEGO</li>
        <li>KATOLICKA SZKOŁA PODSTAWOWA IM. MATKI BOŻEJ MIŁOSIERDZIA W BIAŁYMSTOKU</li>
        <li>KATOLICKIE LICEUM OGÓLNOKSZTAŁCĄCE IM. MATKI BOŻEJ MIŁOSIERDZIA W BIAŁYMSTOKU</li>
        <li>KATOLICKIE PRZEDSZKOLE IM. KS. FRANCISZKA BLACHNICKIEGO W BIAŁYMSTOKU</li>
        <li>LEŚNA SZKOŁA PUSZCZYK W BIAŁYMSTOKU</li>
        <li>LICEUM INFOTECH</li>
        <li>LICEUM INNOWACJI I NOWYCH TECHNOLOGII IM. NIKOLI TESLI W BIAŁYMSTOKU</li>
        <li>LICEUM MISTRZOSTWA SPORTOWEGO JAGIELLONIA W BIAŁYMSTOKU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE AKADEMII SUKCESU W BIAŁYMSTOKU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE CENTRUM SZKÓŁ MUNDUROWYCH W BIAŁYMSTOKU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH "ŻAK" W BIAŁYMSTOKU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE INTEGRACYJNE W BIAŁYMSTOKU ZESPOŁU SZKÓŁ TECHNICZNYCH I OGÓLNOKSZTAŁCĄCYCH Z ODDZIAŁAMI INTEGRACYJNYMI IM. STANISŁAWA STASZICA W BIAŁYMSTOKU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE SŁONECZNA SZKOŁA</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE TEB EDUKACJA DLA DOROSŁYCH W BIAŁYMSTOKU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE TEB EDUKACJA W BIAŁYMSTOKU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE UX W BIAŁYMSTOKU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE ZAOCZNE DLA DOROSŁYCH W BIAŁYMSTOKU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE ZGROMADZENIA SIÓSTR MISJONAREK ŚW. RODZINY IM. BŁ. B. LAMENT W BIAŁYMSTOKU</li>
        <li>LINE PROGRESS GRZEGORZ MALINOWSKI</li>
        <li>MAKE UP ACADEMY BY DOROTA LANGE</li>
        <li>MEDIA GLOBAL W BIAŁYMSTOKU</li>
        <li>MIĘDZYSZKOLNY OŚRODEK SPORTOWY W BIAŁYMSTOKU</li>
        <li>MIEJSKI OŚRODEK DORADZTWA METODYCZNEGO W BIAŁYMSTOKU BIAŁOSTOCKIEGO CENTRUM EDUKACJI</li>
        <li>MISJA ROBOTYKA W BIAŁYMSTOKU</li>
        <li>MŁODZIEŻOWY DOM KULTURY W BIAŁYMSTOKU ZESPOŁU PLACÓWEK OŚWIATOWYCH NR 2 W BIAŁYMSTOKU</li>
        <li>NEFRETETE SPA HELENA MILEWSKA-CIEŚLEWICZ W BIAŁYMSTOKU</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO GOWORK.PL W BIAŁYMSTOKU</li>
        <li>NIEPUBLICZNA PLACÓWKA OŚWIATOWO-WYCHOWAWCZA NAUKOWNIK</li>
        <li>NIEPUBLICZNA PLACÓWKA POZASZKOLNA "PAARO"</li>
        <li>NIEPUBLICZNA PLACÓWKA PRZY REA ACADEMY SP. Z O.O.</li>
        <li>NIEPUBLICZNA PLACÓWKA SZKOLENIA USTAWICZNEGO "JAGIELLONIA" W BIAŁYMSTOKU</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "ALTER" W BIAŁYMSTOKU</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "JAŚ I MAŁGOSIA" W BIAŁYMSTOKU</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA ADA W BIAŁYMSTOKU</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA ALLEGRO W BIAŁYMSTOKU</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA ROZWIŃ SKRZYDŁA W BIAŁYMSTOKU</li>
        <li>NIEPUBLICZNA SPECJALISTYCZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA ROZWIŃ SKRZYDŁA W BIAŁYMSTOKU</li>
        <li>NIEPUBLICZNA SPECJALNA SZKOŁA BRANŻOWA I STOPNIA "BARWA"</li>
        <li>NIEPUBLICZNA SPECJALNA SZKOŁA PODSTAWOWA "JASNY CEL" NR 12 W BIAŁYMSTOKU</li>
        <li>NIEPUBLICZNA SPECJALNA SZKOŁA PRZYSPOSABIAJĄCA DO PRACY "BARWA"</li>
        <li>NIEPUBLICZNA SZKOŁA MUZYCZNA I I II STOPNIA SZKOŁA ESTRADOWA IM. ANNY GERMAN W BIAŁYMSTOKU</li>
        <li>NIEPUBLICZNA SZKOŁA MUZYCZNA I ST. SZKOŁA ESTRADOWA IM. ANNY GERMAN W BIAŁYMSTOKU</li>
        <li>NIEPUBLICZNA SZKOŁA MUZYCZNA II ST. SZKOŁA ESTRADOWA IM. ANNY GERMAN W BIAŁYMSTOKU</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA "SŁONECZNA SZKOŁA" W BIAŁYMSTOKU</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA „BŁĘKITNA SOWA” W BIAŁYMSTOKU</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA DLA DZIECI Z ZABURZENIAMI ZE SPEKTRUM AUTYZMU "UŚMIECH" W BIAŁYMSTOKU</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA KOLIBER</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA MOZAIKA W BIAŁYMSTOKU</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA SPECJALNA IM. ŚW. SIOSTRY FAUSTYNY KOWALSKIEJ DLA DZIECI I MŁODZIEŻY ZE SPEKTRUM AUTYZMU I NIEPEŁNOSPRAWNOŚCIĄ INTELEKTUALNĄ W BIAŁYMSTOKU</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA ŚW.ŚW. CYRYLA I METODEGO W BIAŁYMSTOKU</li>
        <li>NIEPUBLICZNA SZKOŁA POLICEALNA TEB EDUKACJA W BIAŁYMSTOKU</li>
        <li>NIEPUBLICZNA SZKOŁA PRZYSPOSABIAJĄCA DO PRACY AKTYWNI W BIAŁYMSTOKU</li>
        <li>NIEPUBLICZNA SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY "JASNY CEL" W BIAŁYMSTOKU</li>
        <li>NIEPUBLICZNA SZKOŁA SZTUKI TAŃCA W BIAŁYMSTOKU</li>
        <li>NIEPUBLICZNE LICEUM ŚW. ŚW. CYRYLA I METODEGO W BIAŁYMSTOKU</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "AKADEMIA MAŁEGO ODKRYWCY" W BIAŁYMSTOKU</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "EUROPRYMUSEK"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "KANGUREK" W BIAŁYMSTOKU</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "USZATEK"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "WYSPA" W BIAŁYMSTOKU</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE „AKADEMIA KREATYWNYCH DZIECI”</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE „PUCHATKOWE PRZEDSZKOLE”</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE AKADEMIA ZDROWEGO MALUCHA W BIAŁYMSTOKU</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE DWUJĘZYCZNE "Z INNEJ BAJKI"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE DWUJĘZYCZNE POLSKO-ANGIELSKIE IM. PIOTRUSIA PANA W BIAŁYMSTOKU</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE IM. ŚW. ŚW. CYRYLA I METODEGO W BIAŁYMSTOKU</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE INTEGRACYJNE KRAINA MONTESSORI W BIAŁYMSTOKU</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE MARCHEWKA II</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE NR 2 W BIAŁYMSTOKU</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE NR 7 MUZYCZNO - TANECZNE "WESOŁE NUTKI"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE OLINUTKI</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE PUSZCZYK W BIAŁYMSTOKU</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE RODZINNE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE SENSORYCZNE MAŁE STÓPKI</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE SPECJALNE "JASNY CEL" W BIAŁYMSTOKU</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE TĘCZOWY PROMYK Z ODDZIAŁAMI INTEGRACYJNYMI I SPECJALNYMI W BIAŁYMSTOKU</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE TERAPEUTYCZNE "MALI PODRÓŻNICY" W BIAŁYMSTOKU</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE TERAPEUTYCZNE "PRZYJAZNY DOMEK" W BIAŁYMSTOKU</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE TERAPEUTYCZNE „PRZYJAZNY DOMEK 2”</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE WESOŁE KRASNOLUDKI W BIAŁYMSTOKU</li>
        <li>NIEPUBLICZNE TERAPEUTYCZNE PRZEDSZKOLE „U TYGRYSKA”</li>
        <li>NIEPUBLICZNY INTEGRACYJNY PUNKT PRZEDSZKOLNY NA SKRZYDŁACH</li>
        <li>NIEPUBLICZNY TERAPEUTYCZNY PUNKT PRZEDSZKOLNY DLA DZIECI Z ZABURZENIAMI ZE SPEKTRUM AUTYZMU I INNYMI NIEPEŁNOSPRAWNOŚCIAMI "ALA I AS" W BIAŁYMSTOKU</li>
        <li>NOVA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO W BIAŁYMSTOKU</li>
        <li>NOVA POLICEALNA SZKOŁA ZAWODOWA W BIAŁYMSTOKU</li>
        <li>OGÓLNOKSZTAŁCĄCA SZKOŁA MUZYCZNA I STOPNIA W BIAŁYMSTOKU</li>
        <li>OGÓLNOKSZTAŁCĄCA SZKOŁA MUZYCZNA II ST. IM. WITOLDA LUTOSŁAWSKIEGO W BIAŁYMSTOKU</li>
        <li>OPEN EDUCATION GROUP</li>
        <li>OŚRODEK DOKSZTAŁCANIA I DOSKONALENIA ZAWODOWEGO W BIAŁYMSTOKU</li>
        <li>OŚRODEK DOSKONALENIA KADR "PROFESJA" W BIAŁYMSTOKU</li>
        <li>OŚRODEK DOSKONALENIA KADR SIMP W BIAŁYMSTOKU</li>
        <li>OŚRODEK DOSKONALENIA NAUCZYCIELI "PROLEGIS" ELŻBIETA LINOWSKA</li>
        <li>OŚRODEK DOSKONALENIA NAUCZYCIELI W BIAŁYMSTOKU</li>
        <li>OŚRODEK KSZTAŁCENIA KURSOWEGO "VECTOR" W BIAŁYMSTOKU</li>
        <li>OŚRODEK KSZTAŁCENIA KURSOWEGO MERITUM SP. Z O.O. W BIAŁYMSTOKU</li>
        <li>OŚRODEK KSZTAŁCENIA MASAŻYSTÓW GRZEGORZ KRUSZEWSKI W BIAŁYMSTOKU</li>
        <li>OŚRODEK KSZTAŁCENIA ZAWODOWEGO "DEHAG EXTRA"</li>
        <li>OŚRODEK NAUCZANIA JĘZYKÓW OBCYCH "JĘZYKI ŚWIATA" KATARZYNA ANNA ROKICKA</li>
        <li>OŚRODEK PRACY POZASZKOLNEJ W BIAŁYMSTOKU</li>
        <li>OŚRODEK REWALIDACYJNO-WYCHOWAWCZY "ORW" W BIAŁYMSTOKU</li>
        <li>OŚRODEK REWALIDACYJNO-WYCHOWAWCZY ADA W BIAŁYMSTOKU</li>
        <li>OŚRODEK SZKOLENIA I ROZWOJU FUNDACJI INICJATYWA NA RZECZ EDUKACJI W BIAŁYMSTOKU</li>
        <li>OŚRODEK SZKOLENIA ODDZIAŁU BIAŁOSTOCKIEGO STOWARZYSZENIA ELEKTRYKÓW POLSKICH</li>
        <li>OŚRODEK SZKOLENIOWY "EKSPERT"</li>
        <li>OŚRODEK SZKOLENIOWY CENTRUM NAUKI I BIZNESU "ŻAK" W BIAŁYMSTOKU</li>
        <li>OŚRODEK SZKOLENIOWY ORIENT-BIS</li>
        <li>OŚRODEK SZKOLENIOWY RZEMIOSŁA NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO W BIAŁYMSTOKU</li>
        <li>OŚRODEK SZKOLENIOWY T-MATIC GRUPA COMPUTER PLUS SP. Z O.O.</li>
        <li>OŚRODEK SZKOLNO-TERAPEUTYCZNO-OPIEKUŃCZY DLA DZIECI I MŁODZIEŻY ZE SPEKTRUM AUTYZMU W BIAŁYMSTOKU</li>
        <li>OŚRODEK SZKOLNO-TERAPEUTYCZNO-OPIEKUŃCZY DLA DZIECI I MŁODZIEŻY ZE SPEKTRUM AUTYZMU W BIAŁYMSTOKU. SZKOŁA PODSTAWOWA NR 10</li>
        <li>OŚRODEK SZKOLNO-TERAPEUTYCZNO-OPIEKUŃCZY DLA DZIECI I MŁODZIEŻY ZE SPEKTRUM AUTYZMU W BIAŁYMSTOKU. SZKOŁA PRZYSPOSABIAJĄCA DO PRACY W BIAŁYMSTOKU</li>
        <li>OŚRODEK SZKOLNO-TERAPEUTYCZNO-OPIEKUŃCZY DLA DZIECI I MŁODZIEŻY ZE SPEKTRUM AUTYZMU. PRZEDSZKOLE NR 4 W BIAŁYMSTOKU</li>
        <li>P. M. UNIWERSUM ANDRZEJ BARANOWSKI</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I ST. W BIAŁYMSTOKU</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA II ST. W BIAŁYMSTOKU</li>
        <li>PLACÓWKA KSZTAŁCENIA USTAWICZNEGO I PRAKTYCZNEGO ANTIDOTUM W BIAŁYMSTOKU</li>
        <li>PLACÓWKA OŚWIATOWO-WYCHOWAWCZA "EDUKACJA KREATYWNA" SAMODZIELNEGO KOŁA TERENOWEGO NR 91 STO W BIAŁYMSTOKU</li>
        <li>PODLASKI OŚRODEK DOSKONALENIA NAUCZYCIELI W BIAŁYMSTOKU</li>
        <li>POLICEALNA SZKOŁA "COSINUS" W BIAŁYMSTOKU</li>
        <li>POLICEALNA SZKOŁA "PRYMUS" W BIAŁYMSTOKU</li>
        <li>POLICEALNA SZKOŁA ADMINISTRACJI "AKADEMIA SUKCESU" W BIAŁYMSTOKU</li>
        <li>POLICEALNA SZKOŁA DETEKTYWÓW I PRACOWNIKÓW OCHRONY W BIAŁYMSTOKU</li>
        <li>POLICEALNA SZKOŁA ZAWODOWA MERITUM SP. Z O.O. W BIAŁYMSTOKU</li>
        <li>POLICEALNE STUDIUM OBSŁUGI SPEDYCYJNO - CELNEJ W BIAŁYMSTOKU</li>
        <li>POLICEALNE STUDIUM ZAWODOWE "EKSPERT" W BIAŁYMSTOKU</li>
        <li>POLSKI ZWIĄZEK INŻYNIERÓW I TECHNIKÓW BUDOWNICTWA ODDZIAŁ W BIAŁYMSTOKU</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA MENTOR W BIAŁYMSTOKU</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA NR 1 W BIAŁYMSTOKU</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA NR 2 W BIAŁYMSTOKU</li>
        <li>POWIATOWA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W BIAŁYMSTOKU</li>
        <li>PROTINUS OŚRODEK SZKOLENIOWO-BADAWCZY W BIAŁYMSTOKU</li>
        <li>PRYWATNA PORADNIA PEDAGOGICZNO-PSYCHOLOGICZNA "POCIECHA" W BIAŁYMSTOKU</li>
        <li>PRYWATNA SZKOŁA MUZYCZNA I I II ST. W BIAŁYMSTOKU</li>
        <li>PRYWATNA SZKOŁA MUZYCZNA I ST. NR 3 W BIAŁYMSTOKU</li>
        <li>PRYWATNA SZKOŁA MUZYCZNA I ST. W BIAŁYMSTOKU</li>
        <li>PRYWATNA SZKOŁA MUZYCZNA I ST. W CZARNEJ BIAŁOSTOCKIEJ</li>
        <li>PRYWATNA SZKOŁA MUZYCZNA II ST. W BIAŁYMSTOKU</li>
        <li>PRYWATNA SZKOŁA PODSTAWOWA "AKADEMIA JĘZYKOWA" Z ODDZIAŁAMI DWUJĘZYCZNYMI IM. LUDWIKA ŁAZARZA ZAMENHOFA</li>
        <li>PRYWATNA SZKOŁA PODSTAWOWA INFORMATYCZNO-JĘZYKOWA Z ODDZIAŁAMI DWUJĘZYCZNYMI</li>
        <li>PRYWATNA SZKOŁA PODSTAWOWA NR 1 W BIAŁYMSTOKU</li>
        <li>PRYWATNA SZKOŁA PODSTAWOWA NR 6 W BIAŁYMSTOKU</li>
        <li>PRYWATNE LICEUM OGÓLNOKSZTAŁCĄCE NR 1 W BIAŁYMSTOKU</li>
        <li>PRYWATNE PRZEDSZKOLE "BAJKOWA KRAINA" W BIAŁYMSTOKU</li>
        <li>PRYWATNE PRZEDSZKOLE JĘZYKOWE HAPPY KIDS W BIAŁYMSTOKU</li>
        <li>PRYWATNE PRZEDSZKOLE KIDS' ACADEMY W BIAŁYMSTOKU</li>
        <li>PRZEDSZKOLE "ELFIKI"</li>
        <li>PRZEDSZKOLE "KLUB MAŁYCH ODKRYWCÓW" W BIAŁYMSTOKU</li>
        <li>PRZEDSZKOLE "ŚWIAT ZUCHA" W BIAŁYMSTOKU</li>
        <li>PRZEDSZKOLE ARKA NOEGO W BIAŁYMSTOKU</li>
        <li>PRZEDSZKOLE ELFY</li>
        <li>PRZEDSZKOLE FAMILIJNE W BIAŁYMSTOKU</li>
        <li>PRZEDSZKOLE ISKIERKA W BIAŁYMSTOKU</li>
        <li>PRZEDSZKOLE NA ZIELONEJ GÓRCE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "AKADEMIA SMYKA" W BIAŁYMSTOKU</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "KUBUŚ" W BIAŁYMSTOKU</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "MALI PODRÓŻNICY"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "NASZE SZKRABY" W BIAŁYMSTOKU</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "PUCHATEK" W BIAŁYMSTOKU</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "SŁONECZKA" W BIAŁYMSTOKU</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "SŁONECZNE ELFY" W BIAŁYMSTOKU</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "SŁONECZNE PRZEDSZKOLE" W BIAŁYMSTOKU</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "WESOŁA NIEZAPOMINAJKA"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE ANIOŁKI</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE CHATKA PUCHATKA W BIAŁYMSTOKU</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE DZIELNE ZUCHY</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE HAPPY KIDS W BIAŁYMSTOKU</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE HAPPY W BIAŁYMSTOKU</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE MARCHEWKA W BIAŁYMSTOKU</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE NASZE SZKRABY II W BIAŁYMSTOKU</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE NORLANDIA</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE NR 3 "PROMYCZEK"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE NR 5 "POD KASZTANEM"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE NR 6 IM. BŁ. BOLESŁAWY LAMENT ZGROMADZENIA SIÓSTR MISJONAREK ŚW. RODZINY</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE PAPROTKA W BIAŁYMSTOKU</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE POZIOMKA W BIAŁYMSTOKU</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE POZIOMKA Z ODDZIAŁAMI INTEGRACYJNYMI W BIAŁYMSTOKU</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE SAMO DOBRO</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE SUPER KIDS 1 W BIAŁYMSTOKU</li>
        <li>PRZEDSZKOLE PRZYJACIELE RUDEGO LISKA</li>
        <li>PRZEDSZKOLE ROZWIŃ SKRZYDŁA</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 1 W BIAŁYMSTOKU</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 10 W BIAŁYMSTOKU</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 12 "TĘCZOWE" W BIAŁYMSTOKU</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 14 Z POLSKIM I BIAŁORUSKIM JĘZYKIEM NAUCZANIA W BIAŁYMSTOKU</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 2 "POD SŁONKIEM" W BIAŁYMSTOKU</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 20 W BIAŁYMSTOKU</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 21 "NA BOJARACH" W BIAŁYMSTOKU</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 22 W BIAŁYMSTOKU</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 23 "BAŚNIOWE" W BIAŁYMSTOKU</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 25 „KRAINA UŚMIECHU” W BIAŁYMSTOKU ZESPOŁU PRZEDSZKOLI NR 4 W BIAŁYMSTOKU</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 26 INTEGRACYJNE IM. JOANNY STRZAŁKOWSKIEJ-KUCZYŃSKIEJ W BIAŁYMSTOKU</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 27 IM. MARSZAŁKA JÓZEFA PIŁSUDSKIEGO W BIAŁYMSTOKU</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 28 W BIAŁYMSTOKU ZESPOŁU PRZEDSZKOLI NR 3 W BIAŁYMSTOKU</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 29 „FANTAZJA" W BIAŁYMSTOKU ZESPOŁU PRZEDSZKOLI NR 3 W BIAŁYMSTOKU</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 30 IM. ŚWIĘTEGO JANA PAWŁA II „RADOSNE” W BIAŁYMSTOKU</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 31 W BIAŁYMSTOKU</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 32 Z ODDZIAŁAMI INTEGRACYJNYMI „BAJKOWE MIASTECZKO” W BIAŁYMSTOKU ZESPOŁU PRZEDSZKOLI NR 2 W BIAŁYMSTOKU</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 35 "WESOŁE" W BIAŁYMSTOKU</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 36 IM. MARII MONTESSORI W BIAŁYMSTOKU</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 39 W BIAŁYMSTOKU ZESPOŁU PRZEDSZKOLI NR 1 W BIAŁYMSTOKU</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 40 WESOŁEJ LUDWICZKI W BIAŁYMSTOKU</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 41 INTEGRACYJNE W BIAŁYMSTOKU</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 42 "NIEZAPOMINAJKA" W BIAŁYMSTOKU</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 43 W BIAŁYMSTOKU</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 44 W BIAŁYMSTOKU ZESPOŁU PRZEDSZKOLI NR 3 W BIAŁYMSTOKU</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 45 "CHATKA KILKULATKA" W BIAŁYMSTOKU</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 46 W BIAŁYMSTOKU</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 47 "Z UŚMIECHEM" W BIAŁYMSTOKU</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 48 „BAJKOWA KRAINA” W BIAŁYMSTOKU</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 49 IM. JANA BRZECHWY W BIAŁYMSTOKU</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 5 W BIAŁYMSTOKU</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 50 W BIAŁYMSTOKU ZESPOŁU PRZEDSZKOLI NR 1 W BIAŁYMSTOKU</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 51 "PRZYJAZNE" W BIAŁYMSTOKU</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 52 KUBUSIA PUCHATKA W BIAŁYMSTOKU ZESPOŁU PRZEDSZKOLI NR 4 W BIAŁYMSTOKU</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 53 IM. MARII KOWNACKIEJ „PLASTUŚ” W BIAŁYMSTOKU</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 55 Z ODDZIAŁAMI INTEGRACYJNYMI W BIAŁYMSTOKU</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 56 W BIAŁYMSTOKU</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 58 INTEGRACYJNE IM. JANA WILKOWSKIEGO W BIAŁYMSTOKU</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 60 W BIAŁYMSTOKU</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 64 PN. „AKADEMIA JASIA I MAŁGOSI” W BIAŁYMSTOKU ZESPOŁU PRZEDSZKOLI NR 2 W BIAŁYMSTOKU</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 65 „PODLASKIE SMYKI” W BIAŁYMSTOKU</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 68 IM. JANUSZA KORCZAKA W BIAŁYMSTOKU</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 69 W BIAŁYMSTOKU</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 7 "KASZTANOWY ZAKĄTEK" W BIAŁYMSTOKU</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 71 W BIAŁYMSTOKU</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 73 W BIAŁYMSTOKU</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 76 "NA ZIELONYCH WZGÓRZACH" W BIAŁYMSTOKU</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 77 "RUMIANKOWE PRZEDSZKOLE" IM. SIMONY KOSSAK W BIAŁYMSTOKU</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 78 W BIAŁYMSTOKU</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 79 "KONWALIOWY ZAKĄTEK" W BIAŁYMSTOKU</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 8 IM. HENRYKA SIENKIEWICZA W BIAŁYMSTOKU</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 80 W BIAŁYMSTOKU</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 81 "BRZOSKWINIOWY RAJ" W BIAŁYMSTOKU</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 82 "STUMILOWY LAS" W BIAŁYMSTOKU</li>
        <li>PRZEDSZKOLE SIÓSTR MISJONAREK ŚW. RODZINY IM. BŁ. B. LAMENT</li>
        <li>PRZEDSZKOLE SUPERMOCNI</li>
        <li>PRZEDSZKOLE TERAPEUTYCZNE "BARWNY ŚWIAT" W BIAŁYMSTOKU</li>
        <li>PRZEDSZKOLE TERAPEUTYCZNE "ZACZAROWANY ZAKĄTEK" W BIAŁYMSTOKU</li>
        <li>PRZEDSZKOLE TOTU</li>
        <li>PUNKT PRZEDSZKOLNY "ANIOŁKOWO"</li>
        <li>PUNKT PRZEDSZKOLNY ELFY</li>
        <li>PUNKT PRZEDSZKOLNY NASZE PRZEDSZKOLE W BIAŁYMSTOKU</li>
        <li>PUNKT PRZEDSZKOLNY SUPER KIDS II W BIAŁYMSTOKU</li>
        <li>PUNKT PRZEDSZKOLNY SUPER KIDS W BIAŁYMSTOKU</li>
        <li>RADA FEDERACJI STOWARZYSZEŃ NAUKOWO-TECHNICZNYCH NOT W BIAŁYMSTOKU</li>
        <li>RAINBOW PRE-SCHOOL ANGLOJĘZYCZNE PRZEDSZKOLE NIEPUBLICZNE W BIAŁYMSTOKU</li>
        <li>REGIONALNE CENTRUM SZKOLEŃ I EDUKACJI PRZY POLSKIM STOWARZYSZENIU DORADCZYM I KONSULTINGOWYM W BIAŁYMSTOKU</li>
        <li>SAMORZĄDOWE OGNISKO BALETOWE W BIAŁYMSTOKU ZESPOŁU PLACÓWEK OŚWIATOWYCH NR 2 W BIAŁYMSTOKU</li>
        <li>SEKA SPÓŁKA AKCYJNA W WARSZAWIE ODDZIAŁ W BIAŁYMSTOKU</li>
        <li>SPECJALISTYCZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA DLA DZIECI I MŁODZIEŻY Z ZABURZENIAMI EMOCJONALNYMI W BIAŁYMSTOKU</li>
        <li>SPECJALISTYCZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA DLA DZIECI I MŁODZIEŻY ZE SPECJALNYMI POTRZEBAMI ROZWOJOWYMI I EDUKACYJNYMI</li>
        <li>SPECJALNA NIEPUBLICZNA SZKOŁA PODSTAWOWA "BARWA"</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY IM. WALDEMARA KIKOLSKIEGO W BIAŁYMSTOKU</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY IM. WALDEMARA KIKOLSKIEGO W BIAŁYMSTOKU, SZKOŁA PODSTAWOWA SPECJALNA W BIAŁYMSTOKU</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY IM. WALDEMARA KIKOLSKIEGO W BIAŁYMSTOKU, SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY NR 2 W BIAŁYMSTOKU</li>
        <li>SPOŁECZNA SZKOŁA PODSTAWOWA NR 1 SPOŁECZNEGO TOWARZYSTWA OŚWIATOWEGO W BIAŁYMSTOKU</li>
        <li>SPOŁECZNA SZKOŁA PODSTAWOWA NR 11 W BIAŁYMSTOKU</li>
        <li>SPOŁECZNA SZKOŁA PODSTAWOWA NR 2 W BIAŁYMSTOKU</li>
        <li>SPOŁECZNA SZKOŁA PODSTAWOWA NR 3 Z ODDZIAŁAMI DWUJĘZYCZNYMI BIAŁOSTOCKIEGO TOWARZYSTWA OŚWIATOWEGO W BIAŁYMSTOKU</li>
        <li>SPOŁECZNA SZKOŁA PODSTAWOWA NR 4 PODLASKIEGO TOWARZYSTWA OŚWIATOWEGO W BIAŁYMSTOKU</li>
        <li>SPOŁECZNE PRZEDSZKOLE BIAŁOSTOCKIEGO TOWARZYSTWA OŚWIATOWEGO</li>
        <li>SPOŁECZNE PRZEDSZKOLE NR 1 STO W BIAŁYMSTOKU</li>
        <li>STOWARZYSZENIE KSIĘGOWYCH W POLSCE CENTRUM KSZTAŁCENIA KSIĘGOWYCH ODDZIAŁU OKRĘGOWEGO W BIAŁYMSTOKU</li>
        <li>STUDIUM PSYCHOLOGII PSYCHOTRONICZNEJ</li>
        <li>SZKOŁA JĘZYKOWA MANHATTAN ACADEMY W BIAŁYMSTOKU</li>
        <li>SZKOŁA MATEMATYKI 2 PLUS 2</li>
        <li>SZKOŁA MUZYCZNA I I II ST. IM. FRYDERYKA CHOPINA W BIAŁYMSTOKU</li>
        <li>SZKOŁA MUZYCZNA I ST. IM. FRYDERYKA CHOPINA W BIAŁYMSTOKU</li>
        <li>SZKOŁA MUZYCZNA II ST. IM. FRYDERYKA CHOPINA W BIAŁYMSTOKU</li>
        <li>SZKOŁA PODSTAWOWA IM. ŚW. KAZIMIERZA KRÓLEWICZA W BIAŁYMSTOKU</li>
        <li>SZKOŁA PODSTAWOWA INFOTECH W BIAŁYMSTOKU</li>
        <li>SZKOŁA PODSTAWOWA INNOWACYJNEJ EDUKACJI W BIAŁYMSTOKU</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. JULIUSZA SŁOWACKIEGO W BIAŁYMSTOKU</li>
        <li>SZKOŁA PODSTAWOWA NR 10 IM. IZABELI BRANICKIEJ W BIAŁYMSTOKU</li>
        <li>SZKOŁA PODSTAWOWA NR 11 Z ODDZIAŁAMI INTEGRACYJNYMI IM. KORNELA MAKUSZYŃSKIEGO W BIAŁYMSTOKU</li>
        <li>SZKOŁA PODSTAWOWA NR 12 IM. ZYGMUNTA GLOGERA W BIAŁYMSTOKU</li>
        <li>SZKOŁA PODSTAWOWA NR 15 IM. MARII SKŁODOWSKIEJ-CURIE W BIAŁYMSTOKU</li>
        <li>SZKOŁA PODSTAWOWA NR 17 SPECJALNA W BIAŁYMSTOKU</li>
        <li>SZKOŁA PODSTAWOWA NR 19 IM. MIESZKA I W BIAŁYMSTOKU</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. KS. JANA TWARDOWSKIEGO W BIAŁYMSTOKU</li>
        <li>SZKOŁA PODSTAWOWA NR 20 IM. GEN. WŁADYSŁAWA SIKORSKIEGO W BIAŁYMSTOKU</li>
        <li>SZKOŁA PODSTAWOWA NR 21 IM. MARSZAŁKA JÓZEFA PIŁSUDSKIEGO W BIAŁYMSTOKU</li>
        <li>SZKOŁA PODSTAWOWA NR 24 Z ODDZIAŁAMI DWUJĘZYCZNYMI IM. 2 KORPUSU POLSKICH SIŁ ZBROJNYCH NA ZACHODZIE W BIAŁYMSTOKU</li>
        <li>SZKOŁA PODSTAWOWA NR 26 IM. STANISŁAWA STASZICA W BIAŁYMSTOKU</li>
        <li>SZKOŁA PODSTAWOWA NR 28 IM. KONSTANTEGO ILDEFONSA GAŁCZYŃSKIEGO W BIAŁYMSTOKU</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. ADAMA MICKIEWICZA W BIAŁYMSTOKU</li>
        <li>SZKOŁA PODSTAWOWA NR 30 SPECJALNA IM. BŁOGOSŁAWIONEGO EDMUNDA BOJANOWSKIEGO W BIAŁYMSTOKU</li>
        <li>SZKOŁA PODSTAWOWA NR 31 IM. JANUSZA KORCZAKA W BIAŁYMSTOKU</li>
        <li>SZKOŁA PODSTAWOWA NR 32 IM. MJR. HENRYKA DOBRZAŃSKIEGO PS. "HUBAL" ZESPOŁU SZKÓŁ OGÓLNOKSZTAŁCĄCYCH MISTRZOSTWA SPORTOWEGO NR 3 "PIETRASZE" W BIAŁYMSTOKU</li>
        <li>SZKOŁA PODSTAWOWA NR 34 IM. GEN. JÓZEFA ZACHARIASZA BEMA W BIAŁYMSTOKU</li>
        <li>SZKOŁA PODSTAWOWA NR 37 IM. KAZIMIERZA GÓRSKIEGO W BIAŁYMSTOKU</li>
        <li>SZKOŁA PODSTAWOWA NR 4 IM. SYBIRAKÓW W BIAŁYMSTOKU</li>
        <li>SZKOŁA PODSTAWOWA NR 41 W ZAKŁADZIE POPRAWCZYM W BIAŁYMSTOKU</li>
        <li>SZKOŁA PODSTAWOWA NR 43 IM. SIMONY KOSSAK W BIAŁYMSTOKU</li>
        <li>SZKOŁA PODSTAWOWA NR 44 IM. STANISŁAWA MONIUSZKI W BIAŁYMSTOKU</li>
        <li>SZKOŁA PODSTAWOWA NR 45 Z ODDZIAŁAMI INTEGRACYJNYMI IM. ŚWIĘTEGO JANA PAWŁA II W BIAŁYMSTOKU</li>
        <li>SZKOŁA PODSTAWOWA NR 46 SPECJALNA W BIAŁYMSTOKU</li>
        <li>SZKOŁA PODSTAWOWA NR 47 IM. JANA KLEMENSA BRANICKIEGO W BIAŁYMSTOKU</li>
        <li>SZKOŁA PODSTAWOWA NR 49 Z ODDZIAŁAMI INTEGRACYJNYMI IM. STEFANA KARDYNAŁA WYSZYŃSKIEGO - PRYMASA TYSIĄCLECIA W BIAŁYMSTOKU</li>
        <li>SZKOŁA PODSTAWOWA NR 5 IM. WŁADYSŁAWA BRONIEWSKIEGO W BIAŁYMSTOKU</li>
        <li>SZKOŁA PODSTAWOWA NR 50 Z ODDZIAŁAMI INTEGRACYJNYMI IM. ŚWIĘTEJ JADWIGI KRÓLOWEJ POLSKI W BIAŁYMSTOKU</li>
        <li>SZKOŁA PODSTAWOWA NR 51 IM. LUDWIKA ZAMENHOFA W BIAŁYMSTOKU</li>
        <li>SZKOŁA PODSTAWOWA NR 52 IM. DR IRENY BIAŁÓWNY W BIAŁYMSTOKU</li>
        <li>SZKOŁA PODSTAWOWA NR 6 IM. JAROSŁAWA IWASZKIEWICZA W BIAŁYMSTOKU</li>
        <li>SZKOŁA PODSTAWOWA NR 7 IM. HUGONA KOŁŁĄTAJA W BIAŁYMSTOKU</li>
        <li>SZKOŁA PODSTAWOWA NR 8 IM. ŚWIĘTEGO KAZIMIERZA KRÓLEWICZA W BIAŁYMSTOKU</li>
        <li>SZKOŁA PODSTAWOWA NR 9 IM. 42 PUŁKU PIECHOTY W BIAŁYMSTOKU</li>
        <li>SZKOŁA PODSTAWOWA SŁONECZNA SZKOŁA W BIAŁYMSTOKU</li>
        <li>SZKOŁA PODSTAWOWA STER W BIAŁYMSTOKU</li>
        <li>SZKOŁA PODSTAWOWA W BIAŁYMSTOKU ZESPOŁU SZKÓŁ NR 10 W BIAŁYMSTOKU</li>
        <li>SZKOŁA PODSTAWOWA ZGROMADZENIA SIÓSTR MISJONAREK ŚWIĘTEJ RODZINY IM. BŁOGOSŁAWIONEJ BOLESŁAWY LAMENT W BIAŁYMSTOKU</li>
        <li>SZKOŁA POLICEALNA CENTRUM NAUKI I BIZNESU "ŻAK" W BIAŁYMSTOKU</li>
        <li>SZKOŁA POLICEALNA FLOWER ARTIST</li>
        <li>SZKOŁA POLICEALNA GOWORK.PL W BIAŁYMSTOKU</li>
        <li>SZKOŁA POLICEALNA MEDYCZNA "ŻAK" W BIAŁYMSTOKU</li>
        <li>SZKOŁA POLICEALNA NR 1 W BIAŁYMSTOKU ZESPOŁU SZKÓŁ BUDOWLANO-GEODEZYJNYCH IM. STEFANA WŁADYSŁAWA BRYŁY W BIAŁYMSTOKU</li>
        <li>SZKOŁA POLICEALNA NR 2 W BIAŁYMSTOKU ZESPOŁU SZKÓŁ ELEKTRYCZNYCH IM. PROF. JANUSZA GROSZKOWSKIEGO W BIAŁYMSTOKU</li>
        <li>SZKOŁA POLICEALNA NR 3 W BIAŁYMSTOKU ZESPOŁU SZKÓŁ TECHNICZNYCH I OGÓLNOKSZTAŁCĄCYCH Z ODDZIAŁAMI INTEGRACYJNYMI IM. STANISŁAWA STASZICA W BIAŁYMSTOKU</li>
        <li>SZKOŁA POLICEALNA NR 4 W BIAŁYMSTOKU ZESPOŁU SZKÓŁ ZAWODOWYCH NR 2 IM. KPT. WŁADYSŁAWA WYSOCKIEGO W BIAŁYMSTOKU</li>
        <li>SZKOŁA POLICEALNA NR 5 W BIAŁYMSTOKU CENTRUM KSZTAŁCENIA USTAWICZNEGO IM. HENRYKA SIENKIEWICZA W BIAŁYMSTOKU</li>
        <li>SZKOŁA POLICEALNA NR 6 W BIAŁYMSTOKU ZESPOŁU SZKÓŁ TECHNICZNYCH IM. GEN. WŁADYSŁAWA ANDERSA W BIAŁYMSTOKU</li>
        <li>SZKOŁA POLICEALNA OPIEKI MEDYCZNEJ "ŻAK" W BIAŁYMSTOKU</li>
        <li>SZKOŁA POLICEALNA W BIAŁYMSTOKU</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY NR 1 W BIAŁYMSTOKU ZESPOŁU SZKÓŁ NR 16 W BIAŁYMSTOKU</li>
        <li>SZKOŁA WIZAŻU ANNA SASS W BIAŁYMSTOKU</li>
        <li>SZKOLNE SCHRONISKO MŁODZIEŻOWE „PODLASIE” ZESPOŁU PLACÓWEK OŚWIATOWYCH NR 1 W BIAŁYMSTOKU</li>
        <li>TANMUZ BOGUSŁAW SZLASZYŃSKI</li>
        <li>TEB EDUKACJA STUDIUM KSZTAŁCENIA PRAKTYCZNEGO</li>
        <li>TECHNIKUM BUDOWLANO-GEODEZYJNE W BIAŁYMSTOKU ZESPOŁU SZKÓŁ BUDOWLANO-GEODEZYJNYCH IM. STEFANA WŁADYSŁAWA BRYŁY W BIAŁYMSTOKU</li>
        <li>TECHNIKUM ELEKTRYCZNE W BIAŁYMSTOKU ZESPOŁU SZKÓŁ ELEKTRYCZNYCH IM. PROF. JANUSZA GROSZKOWSKIEGO W BIAŁYMSTOKU</li>
        <li>TECHNIKUM GASTRONOMICZNE W BIAŁYMSTOKU ZESPOŁU SZKÓŁ GASTRONOMICZNYCH W BIAŁYMSTOKU</li>
        <li>TECHNIKUM HANDLOWO-EKONOMICZNE W BIAŁYMSTOKU ZESPOŁU SZKÓŁ HANDLOWO-EKONOMICZNYCH IM. MIKOŁAJA KOPERNIKA W BIAŁYMSTOKU</li>
        <li>TECHNIKUM MECHANICZNE W BIAŁYMSTOKU ZESPOŁU SZKÓŁ MECHANICZNYCH IM. ŚW. JÓZEFA W BIAŁYMSTOKU</li>
        <li>TECHNIKUM NR 2 W BIAŁYMSTOKU ZESPOŁU SZKÓŁ ZAWODOWYCH NR 2 IM. KPT. WŁADYSŁAWA WYSOCKIEGO W BIAŁYMSTOKU</li>
        <li>TECHNIKUM NR 3 W BIAŁYMSTOKU ZESPOŁU SZKÓŁ TECHNICZNYCH IM. GEN. WŁADYSŁAWA ANDERSA W BIAŁYMSTOKU</li>
        <li>TECHNIKUM NR 4 W BIAŁYMSTOKU ZESPOŁU SZKÓŁ ROLNICZYCH W BIAŁYMSTOKU</li>
        <li>TECHNIKUM NR 5 W BIAŁYMSTOKU ZESPOŁU SZKÓŁ ZAWODOWYCH NR 5 IM. GEN. IGNACEGO PRĄDZYŃSKIEGO W BIAŁYMSTOKU</li>
        <li>TECHNIKUM NR 6 Z ODDZIAŁAMI INTEGRACYJNYMI W BIAŁYMSTOKU ZESPOŁU SZKÓŁ TECHNICZNYCH I OGÓLNOKSZTAŁCĄCYCH Z ODDZIAŁAMI INTEGRACYJNYMI IM. STANISŁAWA STASZICA W BIAŁYMSTOKU</li>
        <li>TECHNIKUM PROGRAMISTYCZNE INFOTECH W BIAŁYMSTOKU</li>
        <li>TECHNIKUM TEB EDUKACJA W BIAŁYMSTOKU</li>
        <li>TECHNIKUM USŁUG FRYZJERSKICH "DEHAG EXTRA" W BIAŁYMSTOKU</li>
        <li>TECHNIKUM ZAKŁADU DOSKONALENIA ZAWODOWEGO W BIAŁYMSTOKU</li>
        <li>TECHNIKUM ZAWODOWE NR 1 W BIAŁYMSTOKU ZESPOŁU SZKÓŁ OGÓLNOKSZTAŁCĄCYCH I TECHNICZNYCH W BIAŁYMSTOKU</li>
        <li>TERAPEUTYCZNE PRZEDSZKOLE ADA W BIAŁYMSTOKU</li>
        <li>TERAPEUTYCZNY PUNKT PRZEDSZKOLNY ADA W BIAŁYMSTOKU</li>
        <li>TOWARZYSTWO WIEDZY POWSZECHNEJ ODDZIAŁ REGIONALNY W BIAŁYMSTOKU</li>
        <li>V LICEUM OGÓLNOKSZTAŁCĄCE IM. JANA III SOBIESKIEGO W BIAŁYMSTOKU</li>
        <li>VENA ART SZKOŁA STYLIZACJI</li>
        <li>VI LICEUM OGÓLNOKSZTAŁCĄCE IM. KRÓLA ZYGMUNTA AUGUSTA W BIAŁYMSTOKU</li>
        <li>VII LICEUM OGÓLNOKSZTAŁCĄCE IM. NAUCZYCIELI TAJNEGO NAUCZANIA W BIAŁYMSTOKU</li>
        <li>VIII LICEUM OGÓLNOKSZTAŁCĄCE IM. KRÓLA KAZIMIERZA WIELKIEGO W BIAŁYMSTOKU</li>
        <li>X LICEUM OGÓLNOKSZTAŁCĄCE IM. WISŁAWY SZYMBORSKIEJ W BIAŁYMSTOKU</li>
        <li>XI LICEUM OGÓLNOKSZTAŁCĄCE IM. ROTMISTRZA WITOLDA PILECKIEGO W BIAŁYMSTOKU</li>
        <li>XII LICEUM OGÓLNOKSZTAŁCĄCE MISTRZOSTWA SPORTOWEGO W BIAŁYMSTOKU ZESPOŁU SZKÓŁ OGÓLNOKSZTAŁCĄCYCH MISTRZOSTWA SPORTOWEGO NR 3 "PIETRASZE" W BIAŁYMSTOKU</li>
        <li>XIII LICEUM OGÓLNOKSZTAŁCĄCE W BIAŁYMSTOKU ZESPOŁU SZKÓŁ OGÓLNOKSZTAŁCĄCYCH MISTRZOSTWA SPORTOWEGO NR 1 W BIAŁYMSTOKU</li>
        <li>XIV LICEUM OGÓLNOKSZTAŁCĄCE IM. RYSZARDA KACZOROWSKIEGO W BIAŁYMSTOKU</li>
        <li>XIX LICEUM OGÓLNOKSZTAŁCĄCE MISTRZOSTWA SPORTOWEGO W BIAŁYMSTOKU ZESPOŁU SZKÓŁ OGÓLNOKSZTAŁCĄCYCH MISTRZOSTWA SPORTOWEGO NR 2 W BIAŁYMSTOKU</li>
        <li>XVII LICEUM OGÓLNOKSZTAŁCĄCE W BIAŁYMSTOKU ZESPOŁU SZKÓŁ ROLNICZYCH W BIAŁYMSTOKU</li>
        <li>XVIII LICEUM OGÓLNOKSZTAŁCĄCE W BIAŁYMSTOKU ZESPOŁU SZKÓŁ NR 15 PRZY UNIWERSYTECKIM DZIECIĘCYM SZPITALU KLINICZNYM IM. LUDWIKA ZAMENHOFA W BIAŁYMSTOKU</li>
        <li>ZAKŁAD DOSKONALENIA ZAWODOWEGO W BIAŁYMSTOKU OŚRODEK KSZTAŁCENIA ZAWODOWEGO W BIAŁYMSTOKU</li>
        <li>ZAOCZNA POLICEALNA SZKOŁA "COSINUS I" W BIAŁYMSTOKU</li>
        <li>ZAOCZNE LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH "COSINUS PLUS" W BIAŁYMSTOKU</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH ADA W BIAŁYMSTOKU</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH NR 1 W BIAŁYMSTOKU</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH NR 2 W BIAŁYMSTOKU</li>
        <li>ZESPÓŁ PLACÓWEK SZKOLNO - WYCHOWAWCZYCH W BIAŁYMSTOKU, SZKOŁA PODSTAWOWA NR 35 SPECJALNA W BIAŁYMSTOKU</li>
        <li>ZESPÓŁ PLACÓWEK SZKOLNO-WYCHOWAWCZYCH W BIAŁYMSTOKU</li>
        <li>ZESPÓŁ PLACÓWEK SZKOLNO-WYCHOWAWCZYCH W BIAŁYMSTOKU, OŚRODEK REWALIDACYJNO-WYCHOWAWCZY W BIAŁYMSTOKU</li>
        <li>ZESPÓŁ PRZEDSZKOLI NR 1 W BIAŁYMSTOKU</li>
        <li>ZESPÓŁ PRZEDSZKOLI NR 2 W BIAŁYMSTOKU</li>
        <li>ZESPÓŁ PRZEDSZKOLI NR 3 W BIAŁYMSTOKU</li>
        <li>ZESPÓŁ PRZEDSZKOLI NR 4 W BIAŁYMSTOKU</li>
        <li>ZESPÓŁ SZKÓŁ BUDOWLANO-GEODEZYJNYCH IM. STEFANA WŁADYSŁAWA BRYŁY W BIAŁYMSTOKU</li>
        <li>ZESPÓŁ SZKÓŁ ELEKTRYCZNYCH IM. PROF. JANUSZA GROSZKOWSKIEGO W BIAŁYMSTOKU</li>
        <li>ZESPÓŁ SZKÓŁ GASTRONOMICZNYCH W BIAŁYMSTOKU</li>
        <li>ZESPÓŁ SZKÓŁ HANDLOWO-EKONOMICZNYCH IM. MIKOŁAJA KOPERNIKA W BIAŁYMSTOKU</li>
        <li>ZESPÓŁ SZKÓŁ KATOLICKICH IM. KS. F. BLACHNICKIEGO W BIAŁYMSTOKU</li>
        <li>ZESPÓŁ SZKÓŁ KATOLICKICH IM. MATKI BOŻEJ MIŁOSIERDZIA W BIAŁYMSTOKU</li>
        <li>ZESPÓŁ SZKÓŁ MECHANICZNYCH IM. ŚW. JÓZEFA W BIAŁYMSTOKU</li>
        <li>ZESPÓŁ SZKÓŁ MUZYCZNYCH IM. IGNACEGO PADEREWSKIEGO W BIAŁYMSTOKU</li>
        <li>ZESPÓŁ SZKÓŁ NR 10 W BIAŁYMSTOKU</li>
        <li>ZESPÓŁ SZKÓŁ NR 15 PRZY UNIWERSYTECKIM DZIECIĘCYM SZPITALU KLINICZNYM IM. LUDWIKA ZAMENHOFA W BIAŁYMSTOKU</li>
        <li>ZESPÓŁ SZKÓŁ NR 15 PRZY UNIWERSYTECKIM DZIECIĘCYM SZPITALU KLINICZNYM IM. LUDWIKA ZAMENHOFA W BIAŁYMSTOKU, SZKOŁA PODSTAWOWA NR 40 PRZY UNIWERSYTECKIM DZIECIĘCYM SZPITALU KLINICZNYM IM. LUDWIKA ZAMENHOFA W BIAŁYMSTOKU</li>
        <li>ZESPÓŁ SZKÓŁ NR 16 W BIAŁYMSTOKU</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH I TECHNICZNYCH W BIAŁYMSTOKU</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH MISTRZOSTWA SPORTOWEGO NR 1 W BIAŁYMSTOKU</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH MISTRZOSTWA SPORTOWEGO NR 1 W BIAŁYMSTOKU, SZKOŁA PODSTAWOWA NR 22 Z ODDZIAŁAMI MISTRZOSTWA SPORTOWEGO IM. MARII KONOPNICKIEJ W BIAŁYMSTOKU</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH MISTRZOSTWA SPORTOWEGO NR 2 W BIAŁYMSTOKU</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH MISTRZOSTWA SPORTOWEGO NR 2 W BIAŁYMSTOKU, SZKOŁA PODSTAWOWA NR 29 IM. SYNÓW PUŁKU W BIAŁYMSTOKU</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH MISTRZOSTWA SPORTOWEGO NR 3 "PIETRASZE" W BIAŁYMSTOKU</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH NR 2 W BIAŁYMSTOKU</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH NR 2 W BIAŁYMSTOKU SZKOŁA PODSTAWOWA NR 53 Z ODDZIAŁAMI DWUJĘZYCZNYMI W BIAŁYMSTOKU</li>
        <li>ZESPÓŁ SZKÓŁ ROLNICZYCH W BIAŁYMSTOKU</li>
        <li>ZESPÓŁ SZKÓŁ SPOŁECZNEGO TOWARZYSTWA OŚWIATOWEGO W BIAŁYMSTOKU</li>
        <li>ZESPÓŁ SZKÓŁ SPOŁECZNYCH FUNDACJI EDUKACJI "FABRYCZNA 10" W BIAŁYMSTOKU</li>
        <li>ZESPÓŁ SZKÓŁ SPOŁECZNYCH NR 3 BIAŁOSTOCKIEGO TOWARZYSTWA OŚWIATOWEGO W BIAŁYMSTOKU</li>
        <li>ZESPÓŁ SZKÓŁ TECHNICZNYCH I OGÓLNOKSZTAŁCĄCYCH Z ODDZIAŁAMI INTEGRACYJNYMI IM. STANISŁAWA STASZICA W BIAŁYMSTOKU</li>
        <li>ZESPÓŁ SZKÓŁ TECHNICZNYCH IM. GEN. WŁADYSŁAWA ANDERSA W BIAŁYMSTOKU</li>
        <li>ZESPÓŁ SZKÓŁ ZAWODOWYCH NR 2 IM. KPT. WŁADYSŁAWA WYSOCKIEGO W BIAŁYMSTOKU</li>
        <li>ZESPÓŁ SZKÓŁ ZAWODOWYCH NR 5 IM. GEN. IGNACEGO PRĄDZYŃSKIEGO W BIAŁYMSTOKU</li>
        <li>ZESPÓŁ SZKOLNO – PRZEDSZKOLNY NR 1 W BIAŁYMSTOKU, PRZEDSZKOLE SAMORZĄDOWE NR 83 W BIAŁYMSTOKU</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY "STER" W BIAŁYMSTOKU</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 1 W BIAŁYMSTOKU</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 1 W BIAŁYMSTOKU, SZKOŁA PODSTAWOWA NR 16 IM. TADEUSZA KOŚCIUSZKI W BIAŁYMSTOKU</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 2 W BIAŁYMSTOKU</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 2 W BIAŁYMSTOKU, PRZEDSZKOLE SAMORZĄDOWE NR 84 W BIAŁYMSTOKU</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 2 W BIAŁYMSTOKU, SZKOŁA PODSTAWOWA NR 14 Z ODDZIAŁAMI INTEGRACYJNYMI IM. KAZIMIERZA PUŁASKIEGO W BIAŁYMSTOKU</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 3 W BIAŁYMSTOKU</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 3 W BIAŁYMSTOKU, PRZEDSZKOLE SAMORZĄDOWE NR 85 W BIAŁYMSTOKU</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 3 W BIAŁYMSTOKU, SZKOŁA PODSTAWOWA NR 33 IM. ŚW. KRÓLOWEJ JADWIGI W BIAŁYMSTOKU</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 4 W BIAŁYMSTOKU</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 4 W BIAŁYMSTOKU, PRZEDSZKOLE SAMORZĄDOWE NR 86 W BIAŁYMSTOKU</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 4 W BIAŁYMSTOKU, SZKOŁA PODSTAWOWA NR 38 IM. WIESŁAWA KAZANECKIEGO W BIAŁYMSTOKU</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 5 W BIAŁYMSTOKU</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 5 W BIAŁYMSTOKU, PRZEDSZKOLE SAMORZĄDOWE NR 87 W BIAŁYMSTOKU</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 5 W BIAŁYMSTOKU, SZKOŁA PODSTAWOWA NR 48 IM. KRÓLA STEFANA BATOREGO W BIAŁYMSTOKU</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 6 W BIAŁYMSTOKU</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 6 W BIAŁYMSTOKU PRZEDSZKOLE SAMORZĄDOWE NR 4 W BIAŁYMSTOKU</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 6 W BIAŁYMSTOKU SZKOŁA PODSTAWOWA NR 42 IM. BŁOGOSŁAWIONEGO KS. MICHAŁA SOPOĆKI W BIAŁYMSTOKU</li>
        <li>ŹRÓDEŁKO - WIEJSKIE PRZEDSZKOLE W MIEŚCIE</li>

    </ul>
    <a href="PODLASKIE.html">Back to Cities in PODLASKIE</a>
</body>
</html>
