
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Nowogród</title>
</head>
<body>
    <h1>Schools in Nowogród</h1>
    <ul>
        <li>PRZEDSZKOLE SAMORZĄDOWE W NOWOGRODZIE</li>
        <li>SZKOŁA PODSTAWOWA IM. ADAMA CHĘTNIKA W NOWOGRODZIE</li>
        <li>SZKOLNE SCHRONISKO MŁODZIEŻOWE W NOWOGRODZIE</li>
        <li>ZESPÓŁ SZKÓŁ SAMORZĄDOWYCH W NOWOGRODZIE</li>

    </ul>
    <a href="PODLASKIE.html">Back to Cities in PODLASKIE</a>
</body>
</html>
