
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Dobrzyniewo Duże</title>
</head>
<body>
    <h1>Schools in Dobrzyniewo Duże</h1>
    <ul>
        <li>PRZEDSZKOLE SAMORZĄDOWE W DOBRZYNIEWIE DUŻYM</li>
        <li>SZKOŁA PODSTAWOWA W DOBRZYNIEWIE DUŻYM</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W DOBRZYNIEWIE DUŻYM</li>

    </ul>
    <a href="PODLASKIE.html">Back to Cities in PODLASKIE</a>
</body>
</html>
