
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Kalinówka Kościelna</title>
</head>
<body>
    <h1>Schools in Kalinówka Kościelna</h1>
    <ul>
        <li>PRZEDSZKOLE W KALINÓWCE KOŚCIELNEJ</li>
        <li>SZKOŁA PODSTAWOWA IM. JANA PAWŁA II W KALINÓWCE KOŚCIELNEJ</li>
        <li>ZESPÓŁ SZKÓŁ W KALINÓWCE KOŚCIELNEJ</li>

    </ul>
    <a href="PODLASKIE.html">Back to Cities in PODLASKIE</a>
</body>
</html>
