
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Płociczno-Tartak</title>
</head>
<body>
    <h1>Schools in Płociczno-Tartak</h1>
    <ul>
        <li>JK SKILL CENTRE</li>
        <li>PUNKT PRZEDSZKOLNY W PŁOCICZNIE-TARTAK</li>
        <li>SZKOŁA PODSTAWOWA IM. LOTNIKÓW POLSKICH W PŁOCICZNIE-TARTAK</li>

    </ul>
    <a href="PODLASKIE.html">Back to Cities in PODLASKIE</a>
</body>
</html>
