
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Szczuczyn</title>
</head>
<body>
    <h1>Schools in Szczuczyn</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W SZCZUCZYNIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W SZCZUCZYNIE</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE W SZCZUCZYNIE</li>
        <li>SZKOŁA PODSTAWOWA W SZCZUCZYNIE</li>
        <li>TECHNIKUM W SZCZUCZYNIE</li>
        <li>ZESPÓŁ SZKÓŁ IM. MARSZAŁKA JÓZEFA PIŁSUDSKIEGO W SZCZUCZYNIE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W SZCZUCZYNIE</li>

    </ul>
    <a href="PODLASKIE.html">Back to Cities in PODLASKIE</a>
</body>
</html>
