
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Baciki Średnie</title>
</head>
<body>
    <h1>Schools in Baciki Średnie</h1>
    <ul>
        <li>SZKOŁA FILIALNA PRZY ZOL DLA DZIECI I MŁODZIEŻY W BACIKACH ŚREDNICH SZKOŁY PODSTAWOWEJ SPECJALNEJ W SIEMIATYCZACH O STRUKTURZE ORGANIZACYJNEJ OBEJMUJĄCEJ KLASY I-VI</li>

    </ul>
    <a href="PODLASKIE.html">Back to Cities in PODLASKIE</a>
</body>
</html>
