
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Różanystok</title>
</head>
<body>
    <h1>Schools in Różanystok</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA SPECJALNA I STOPNIA IM. ŚW. JANA BOSKO W RÓŻANYMSTOKU</li>
        <li>BRANŻOWA SZKOŁA SPECJALNA I STOPNIA W RÓŻANYMSTOKU</li>
        <li>BURSA SALEZJAŃSKA IM. ŚW. JANA BOSKO W RÓŻANYMSTOKU</li>
        <li>MŁODZIEŻOWY OŚRODEK SOCJOTERAPII IMIENIA ŚWIĘTEGO JÓZEFA W RÓŻANYMSTOKU</li>
        <li>SALEZJAŃSKI OŚRODEK WYCHOWAWCZY IM. ŚW. JANA BOSKO W RÓŻANYMSTOKU</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE W RÓŻANYMSTOKU</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 1 W RÓŻANYMSTOKU</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 2 W RÓŻANYMSTOKU</li>
        <li>SZKOŁA PODSTAWOWA W RÓŻANYMSTOKU</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W RÓŻANYMSTOKU</li>

    </ul>
    <a href="PODLASKIE.html">Back to Cities in PODLASKIE</a>
</body>
</html>
