
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Raczki</title>
</head>
<body>
    <h1>Schools in Raczki</h1>
    <ul>
        <li>PUNKT PRZEDSZKOLNY NR 1 Z SIEDZIBĄ W RACZKACH, UL. SPORTOWA 1, 16-420 RACZKI</li>
        <li>PUNKT PRZEDSZKOLNY NR 2 Z SIEDZIBĄ W RACZKACH,UL. SPORTOWA 1, 16-420 RACZKI</li>
        <li>PUNKT PRZEDSZKOLNY NR 3 Z SIEDZIBĄ W RACZKACH, UL. SPORTOWA 1,16-420 RACZKI</li>
        <li>PUNKT PRZEDSZKOLNY NR 4 Z SIEDZIBĄ W RACZKACH, UL. SPORTOWA 1,16-420 RACZKI</li>
        <li>PUNKT PRZEDSZKOLNY NR 5 Z SIEDZIBĄ W RACZKACH, UL. SPORTOWA 1, 16-420 RACZKI</li>
        <li>SZKOŁA PODSTAWOWA IM. ŚW. JANA PAWŁA II W RACZKACH</li>

    </ul>
    <a href="PODLASKIE.html">Back to Cities in PODLASKIE</a>
</body>
</html>
