
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Świrydy</title>
</head>
<body>
    <h1>Schools in Świrydy</h1>
    <ul>
        <li>OŚRODEK WYCHOWANIA PRZEDSZKOLEGO Z SIEDZIBĄ W SZKOLE PODSTAWOWEJ IM. POR. IZYDORA KOŁAKOWSKIEGO W DOMANOWIE, SZKOLE FILIALNEJ W ŚWIRYDACH</li>
        <li>SZKOŁA PODSTAWOWA IM.POR. IZYDORA KOŁAKOWSKIEGOW DOMANOWIE, SZKOŁA FILIALNA W SWIRYDACH</li>

    </ul>
    <a href="PODLASKIE.html">Back to Cities in PODLASKIE</a>
</body>
</html>
