
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Knyszyn</title>
</head>
<body>
    <h1>Schools in Knyszyn</h1>
    <ul>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W KNYSZYNIE IM. PROF. CZESŁAWA KUDZINOWSKIEGO</li>
        <li>PRZEDSZKOLE W KNYSZYNIE</li>
        <li>SZKOŁA PODSTAWOWA IM. PUŁKOWNIKA WITOLDA PILECKIEGO W KNYSZYNIE</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH W KNYSZYNIE</li>

    </ul>
    <a href="PODLASKIE.html">Back to Cities in PODLASKIE</a>
</body>
</html>
