
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Puńsk</title>
</head>
<body>
    <h1>Schools in Puńsk</h1>
    <ul>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE Z LITEWSKIM JĘZYKIEM NAUCZANIA IM. 11 MARCA W PUŃSKU</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE Z POLSKIM I LITEWSKIM JĘZYKIEM NAUCZANIA W PUŃSKU</li>
        <li>SAMORZĄDOWA SZKOŁA MUZYCZNA I STOPNIA Z POLSKIM I LITEWSKIM JĘZYKIEM NAUCZANIA W PUŃSKU</li>
        <li>SZKOŁA PODSTAWOWA Z POLSKIM I LITEWSKIM JĘZYKIEM NAUCZANIA IM.DARIUSA I GIRENASA W PUŃSKU</li>

    </ul>
    <a href="PODLASKIE.html">Back to Cities in PODLASKIE</a>
</body>
</html>
