
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Brańsk</title>
</head>
<body>
    <h1>Schools in Brańsk</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W BRAŃSKU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W BRAŃSKU</li>
        <li>PRZEDSZKOLE IM. SIÓSTR SERCANEK W BRAŃSKU</li>
        <li>SZKOŁA PODSTAWOWA W BRAŃSKU</li>
        <li>ZESPÓŁ SZKÓŁ IM. ARMII KRAJOWEJ W BRAŃSKU</li>

    </ul>
    <a href="PODLASKIE.html">Back to Cities in PODLASKIE</a>
</body>
</html>
