
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Janówka</title>
</head>
<body>
    <h1>Schools in Janówka</h1>
    <ul>
        <li>NIEPUBLICZNE PRZEDSZKOLE "BAJECZKA"</li>
        <li>SZKOŁA PODSTAWOWA IM. ARMII KRAJOWEJ W JANÓWCE</li>
        <li>ZESPÓŁ WYCHOWANIA PRZEDSZKOLNEGO W JANÓWCE</li>

    </ul>
    <a href="PODLASKIE.html">Back to Cities in PODLASKIE</a>
</body>
</html>
