
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Kazanów</title>
</head>
<body>
    <h1>Schools in Kazanów</h1>
    <ul>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA "NIEZAPOMINAJKA"</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH W KAZANOWIE PUBLICZNA SZKOŁA PODSTAWOWA W KAZANOWIE</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH W KAZANOWIE PUBLICZNE PRZEDSZKOLE W KAZANOWIE</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
