
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Zalesice</title>
</head>
<body>
    <h1>Schools in Zalesice</h1>
    <ul>
        <li>GMINNE PRZEDSZKOLE PUBLICZNE W ZALESICACH</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA W ZALESICACH</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W ZALESICACH</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
