
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Wola Rębkowska</title>
</head>
<body>
    <h1>Schools in Wola Rębkowska</h1>
    <ul>
        <li>PUBLICZNE PRZEDSZKOLE "SŁONECZKO" W WOLI RĘBKOWSKIEJ</li>
        <li>SZKOŁA PODSTAWOWA IM. ŚW. JANA PAWŁA II W WOLI RĘBKOWSKIEJ W ZESPOLE SZKOLNO-PRZEDSZKOLNYM W WOLI RĘBKOWSKIEJ</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W WOLI RĘBKOWSKIEJ</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
