
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Międzyleś</title>
</head>
<body>
    <h1>Schools in Międzyleś</h1>
    <ul>
        <li>PRZEDSZKOLE W MIĘDZYLESIU</li>
        <li>PUNKT PRZEDSZKOLNY "TAJEMNICZY OGRÓD"</li>
        <li>SZKOŁA PODSTAWOWA W MIĘDZYLESIU</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W MIĘDZYLESIU</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
