
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Mokotów</title>
</head>
<body>
    <h1>Schools in Mokotów</h1>
    <ul>
        <li>AKADEMIA BANKÓW SPÓŁDZIELCZYCH</li>
        <li>AKADEMIA DIAMOND PILATES</li>
        <li>AKADEMIA GB RESOURCES POLSKA</li>
        <li>AKADEMIA MŁODYCH TALENTÓW NIEPUBLICZNE PRZEDSZKOLE</li>
        <li>AKADEMIA UMIEJĘTNOŚCI NIEPUBLICZNY PUNKT PRZEDSZKOLNY W WARSZAWIE</li>
        <li>AMO PLAY AND LEARN</li>
        <li>AUTORSKIE LICEUM OGÓLNOKSZTAŁCĄCE NIEPUBLICZNE NR 42</li>
        <li>BDO ACADEMY</li>
        <li>BLOSSOM ANGLOJĘZYCZNE PRZEDSZKOLE ARTYSTYCZNE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 31</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 4</li>
        <li>BRYTYJSKA SZKOŁA PODSTAWOWA THE BRITISH SCHOOL NR 91 W WARSZAWIE</li>
        <li>BRYTYJSKIE LICEUM OGÓLNOKSZTAŁCĄCE THE BRITISH SCHOOL</li>
        <li>CENTRUM CHIRURGII I PIELĘGNACJI DRZEW CHACHULSCY SPÓŁKA JAWNA</li>
        <li>CENTRUM EDUKACJI DR IRENA ERIS</li>
        <li>CENTRUM EDUKACJI EKSPERT CEE</li>
        <li>CENTRUM EDUKACJI FUNDACJI WYDZIAŁU ZARZĄDZANIA</li>
        <li>CENTRUM KSZTAŁCENIA SŁUŻB OCHRONY SOLID SECURITY</li>
        <li>CENTRUM SZKOLENIA LIGI OBRONY KRAJU</li>
        <li>CENTRUM SZKOLENIOWE FRR</li>
        <li>CENTRUM SZKOLENIOWE ICAN</li>
        <li>CENTRUM SZKOLENIOWE KRAJOWEJ IZBY GOSPODARCZEJ ELEKTRONIKI I TELEKOMUNIKACJI</li>
        <li>CENTRUM WSPOMAGANIA ROZWOJU OSOBOWOŚCI</li>
        <li>CHIC WARSAW PLACÓWKA KSZTAŁCENIA USTAWICZNEGO</li>
        <li>CLI LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>CLII LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>CLIII LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>CLV LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI DWUJĘZYCZNYMI IM. BOHATEREK POWSTANIA WARSZAWSKIEGO</li>
        <li>CLVI LICEUM OGÓLNOKSZTAŁCĄCE INTEGRACYJNE "PRZY ŁAZIENKACH KRÓLEWSKICH"</li>
        <li>CLXIV LICEUM OGÓLNOKSZTAŁCĄCE MISTRZOSTWA SPORTOWEGO</li>
        <li>CREATIVE KIDS PRESCHOOL II NIEPUBLICZNE PRZEDSZKOLE</li>
        <li>CX LICEUM OGÓLNOKSZTAŁCĄCE IM. ROBERTA SCHUMANA</li>
        <li>CXXI LICEUM OGÓLNOKSZTAŁCĄCE SPECJALNE W INSTYTUCIE PSYCHIATRII I NEUROLOGII</li>
        <li>DIBBER INTERNATIONAL PRESCHOOL-SŁUŻEWIEC</li>
        <li>DWUJĘZYCZNE PRZEDSZKOLE "TĘCZOWY OGRÓD" WARSAW BILINGUAL PRESCHOOL</li>
        <li>DWUJĘZYCZNE PRZEDSZKOLE NIEPUBLICZNE PRIMROSE</li>
        <li>FRANCUSKO-POLSKIE PRZEDSZKOLE NIEPUBLICZNE "LA FONTAINE"</li>
        <li>FRANCUSKO-POLSKIE PRZEDSZKOLE NIEPUBLICZNE "LA FONTAINE" - PUNKT PRZEDSZKOLNY</li>
        <li>FRANCUSKO-POLSKIE PRZEDSZKOLE NIEPUBLICZNE LA FONTAINE - PUNKT PRZEDSZKOLNY</li>
        <li>GREENEDU LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W WARSZAWIE</li>
        <li>GREENEDU SZKOŁA PODSTAWOWA DLA DOROSŁYCH W WARSZAWIE</li>
        <li>GREENEDU SZKOŁA POLICEALNA W WARSZAWIE</li>
        <li>HAKIEL AKADEMIA TAŃCA HAKIEL MARCIN HAKIEL - PLACÓWKA KSZTACENIA USTAWICZNEGO</li>
        <li>HAKIEL AKADEMIA TAŃCA MARCIN HAKIEL</li>
        <li>HAPPY KIDS' ACADEMY - EUROPEJSKIE PRZEDSZKOLE JĘZYKOWE</li>
        <li>HAPPY KIDS' ACADEMY - EUROPEJSKIE PRZEDSZKOLE JĘZYKOWE</li>
        <li>I KATOLICKIE LICEUM SPOŁECZNE</li>
        <li>I SPOŁECZNA SZKOŁA PODSTAWOWA SPECJALNA "DAĆ SZANSĘ" SPOŁECZNEGO TOWARZYSTWA OŚWIATOWEGO</li>
        <li>II OGRÓD JORDANOWSKI</li>
        <li>IMMOQEE SPÓŁKA Z O.O. NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO</li>
        <li>INSTYTUT KSZTAŁCENIA EKO-TUR NIEPUBLICZNA PLACÓWKA DOSKONALENIA NAUCZYCIELI</li>
        <li>INTEGRACYJNE PRZEDSZKOLE NIEPUBLICZNE "MAŁE MISIE"</li>
        <li>KANADYJSKA SZKOŁA PODSTAWOWA NR 84</li>
        <li>KANADYJSKIE PRZEDSZKOLE W WARSZAWIE</li>
        <li>KATOLICKIE NIEPUBLICZNE PRZEDSZKOLE JĘZYKOWE "ANIOŁA STRÓŻA"</li>
        <li>KATOLICKIE NIEPUBLICZNE PRZEDSZKOLE JĘZYKOWE "DZIECIĄTKA JEZUS"</li>
        <li>KRAJOWA IZBA KSIĘGOWYCH</li>
        <li>KRAJOWY INSTYTUT MEDYCZNY</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE "SZKOŁA LIDERÓW"</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH "TESLA" W WARSZAWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. KOMISJI EDUKACJI NARODOWEJ</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. SALVADORA DALEGO</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE NIEPUBLICZNE DLA DOROSŁYCH NR 3</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE NIEPUBLICZNE KOLEGIUM ŚW.STANISŁAWA KOSTKI</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE NIEPUBLICZNE NR 6</li>
        <li>LXI LICEUM OGÓLNOKSZTAŁCĄCE SPECJALNE IM. JANINY ZAWADOWSKIEJ</li>
        <li>LXV LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI INTEGRACYJNYMI IM. GEN. JÓZEFA BEMA</li>
        <li>LXVIII LICEUM OGÓLNOKSZTAŁCĄCE IM. TYTUSA CHAŁUBIŃSKIEGO</li>
        <li>LXXX LICEUM OGÓLNOKSZTAŁCĄCE IM. LEOPOLDA STAFFA</li>
        <li>MEDICAL BEAUTY ACADEMY</li>
        <li>MEDYCZNA POLICEALNA SZKOŁA ZAWODOWA "TESLA" W WARSZAWIE</li>
        <li>MEDYCZNA SZKOŁA POLICEALNA NR 2 W WARSZAWIE</li>
        <li>MIĘDZYNARODOWE PRZEDSZKOLE MISIA PADDINGTONA</li>
        <li>MŁODZIEŻOWY DOM KULTURY</li>
        <li>MŁODZIEŻOWY OŚRODEK SOCJOTERAPII NR 1 "SOS"</li>
        <li>MŁODZIEŻOWY OŚRODEK WYCHOWAWCZY NR 4</li>
        <li>MULTISCHOOL INTERNATIONAL SCHOOL SZKOŁA PODSTAWOWA</li>
        <li>MUZYCZNE PRZEDSZKOLE MONTESSORI "MOCART"</li>
        <li>NIEPUBLICZNA ARTYSTYCZNA POLICEALNA SZKOŁA CERAMIKI CERAMIQ W WARSZAWIE</li>
        <li>NIEPUBLICZNA PLACÓWKA DOSKONALENIA PRIMOPSYCHE</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO FIZJOSYSTEM - SZKOLENIA W WARSZAWIE</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA 'MY'</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "JAŚ I MAŁGOSIA"</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "PORADIS" Z SIEDZIBĄ W WARSZAWIE</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "UMYSŁ DZIECKA"</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA EDU BRAIN</li>
        <li>NIEPUBLICZNA PORADNIA WCZESNEGO WSPOMAGANIA ROZWOJU</li>
        <li>NIEPUBLICZNA SPECJALISTYCZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "CENTRUM TERAPII DZIECI, MŁODZIEŻY I RODZIN MINDHEALTH"</li>
        <li>NIEPUBLICZNA SZKOŁA MUZYCZNA I ST. IM. ROMANA PADLEWSKIEGO W WARSZAWIE</li>
        <li>NIEPUBLICZNA SZKOŁA MUZYCZNA I ST. MISSIO MUSICA W WARSZAWIE</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA BRITISH INTERNATIONAL ACADEMY PRIMARY WARSAW</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA NR 97</li>
        <li>NIEPUBLICZNE CENTRUM KSZTAŁCENIA USTAWICZNEGO KADRY TURYSTYKI</li>
        <li>NIEPUBLICZNE DWUJĘZYCZNE PRZEDSZKOLE KIDS&CO</li>
        <li>NIEPUBLICZNE DWUJĘZYCZNE PRZEDSZKOLE MAŁY PODRÓŻNIK</li>
        <li>NIEPUBLICZNE EUROPEJSKIE PRZEDSZKOLE EKOLOGICZNE "BABY CITY"</li>
        <li>NIEPUBLICZNE INTERNETOWE LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH ALFA</li>
        <li>NIEPUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE NR 81 SGH</li>
        <li>NIEPUBLICZNE LICEUM WARSAW MONTESSORI HIGH SCHOOL</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "FIQMIKU"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "TEDDY&ME"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "U SMOKA CO BUJA W OBŁOKACH"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE BRITISH INTERNATIONAL ACADEMY KIDS III</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE INTEGRACYJNE "OMEGA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE INTEGRACYJNE "RAZ, DWA, TRZY - MY"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE JĘZYKOWE "4 KIDS"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE JĘZYKOWE "BAŚNIOWY DOM"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE JĘZYKOWE "BAŚNIOWY DOM"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE JOY</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE MONTESSORI "ITSY-BITSY"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE PARKOWE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE SPECJALNE "ZIELONY LATAWIEC II"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE STACJA EDUKACJA</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE Z ODDZIAŁEM INTEGRACYJNYM "KRAINA EMOCJI" O PROFILU INTELIGENCJI EMOCJONALNEJ</li>
        <li>NIEPUBLICZNY INTEGRACYJNY PUNKT PRZEDSZKOLNY "BAŁABAJKA"</li>
        <li>NIEPUBLICZNY OŚRODEK DOSKONALENIA NAUCZYCIELI KADRY TURYSTYKI</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY BRITISH INTERNATIONAL ACADEMY KIDS</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY BRITISH INTERNATIONAL ACADEMY KIDS II</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY DLA DZIECI Z NIEPEŁNOSPRAWNOŚCIĄ INTELEKTUALNĄ FUNDACJI KU LEPSZEJ PRZYSZŁOŚCI</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY EFFECTIS</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY JUPI</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY MAŁE CHMURKI</li>
        <li>NIEZAPOMINAJKA-PRZEDSZKOLE NIEPUBLICZNE</li>
        <li>OGNISKO PRACY POZASZKOLNEJ "175"</li>
        <li>OGNISKO PRACY POZASZKOLNEJ "70"</li>
        <li>OGÓLNOKSZTAŁCĄCA SZKOŁA MUZYCZNA II ST. IM. MARIANA SAWY W WARSZAWIE</li>
        <li>OGÓLNOKSZTAŁCĄCA SZKOŁA MUZYCZNA II ST. IM. ZENONA BRZEWSKIEGO W WARSZAWIE</li>
        <li>OŚRODEK DOSKONALENIA NAUCZYCIELI CENTRUM CBT</li>
        <li>OŚRODEK REWALIDACYJNO-WYCHOWAWCZY NR 1</li>
        <li>OŚRODEK ROZWOJU POLSKIEJ EDUKACJI ZA GRANICĄ</li>
        <li>OŚRODEK SZKOLENIA GALJAN</li>
        <li>OŚRODEK SZKOLENIA SŁUŻB OCHRONY SECURITAS POLSKA SP. Z O.O.</li>
        <li>OŚRODEK SZKOLENIOWY "LIWAX"</li>
        <li>PAŃSTWO WROŃSCY</li>
        <li>PAŃSTWOWA OGÓLNOKSZTAŁCĄCA SZKOŁA MUZYCZNA I ST. IM. EMILA MŁYNARSKIEGO W WARSZAWIE</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I ST. NR 4 IM. KAROLA KURPIŃSKIEGO W WARSZAWIE</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA II ST. IM. JÓZEFA ELSNERA W WARSZAWIE</li>
        <li>PIJARSKIE PRZEDSZKOLE W WARSZAWIE</li>
        <li>PLACÓWKA EDUKACYJNA ZWIĄZKU POLSKICH ARTYSTÓW PLASTYKÓW - POLSKA SZTUKA UŻYTKOWA</li>
        <li>PLACÓWKA OŚWIATOWA 'OKNO NA ŚWIAT"</li>
        <li>POLONIJNE CENTRUM NAUCZYCIELSKIE</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA NR 7</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA NR 8</li>
        <li>PORADNIA SPECJALISTYCZNA MŁODZIEŻOWY OŚRODEK PROFILAKTYKI I PSYCHOTERAPII "MOP"</li>
        <li>POZASZKOLNA PLACÓWKA SPECJALISTYCZNA "DAĆ SZANSĘ" SAMODZIELNEGO KOŁA TERENOWEGO STO NR 102</li>
        <li>POZASZKOLNA PLACÓWKA SPECJALISTYCZNA AKADEMIA UMIEJĘTNOŚCI</li>
        <li>PRIMO PSYCHE NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA PRZY INSTYTUCIE KSZTAŁCENIA EKO-TUR</li>
        <li>PRYWATNA SZKOŁA PODSTAWOWA IM. JEANA MONNETA</li>
        <li>PRYWATNE LICEUM OGÓLNOKSZTAŁCĄCE NR 32 IM. JEANA MONNETA</li>
        <li>PRYWATNE LICEUM OGÓLNOKSZTAŁCĄCE SIÓSTR NAZARETANEK Z ODDZIAŁAMI MIĘDZYNARODOWYMI</li>
        <li>PRZEDSZKOLA POMARAŃCZOWA CIUCHCIA SP. Z O.O. SPÓŁKA KOMANDYTOWA</li>
        <li>PRZEDSZKOLE "MAŁE ŚMIESZKI"</li>
        <li>PRZEDSZKOLE INTEGRACYJNE NR 117 "PRZYJAZNA KRAINA"</li>
        <li>PRZEDSZKOLE INTEGRACYJNE NR 45</li>
        <li>PRZEDSZKOLE JĘZYKOWE "BAJKOWA KRAINA"</li>
        <li>PRZEDSZKOLE MARAH</li>
        <li>PRZEDSZKOLE MONTESSORI "SŁONECZNIK"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE - CASA DEI BAMBINI WARSAW MONTESSORI SCHOOL</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "CHATKA MAŁOLATKA"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE INTEGRACYJNE "AMO KWIATOWA"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE RUBIK MUSIC SCHOOL</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE TEQUESTA</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE ZIELONA ŻYRAFA</li>
        <li>PRZEDSZKOLE NR 108 "TĘCZOWY PROMYK"</li>
        <li>PRZEDSZKOLE NR 138</li>
        <li>PRZEDSZKOLE NR 139</li>
        <li>PRZEDSZKOLE NR 140</li>
        <li>PRZEDSZKOLE NR 142</li>
        <li>PRZEDSZKOLE NR 144 "ZACZAROWANY OŁÓWEK"</li>
        <li>PRZEDSZKOLE NR 145 "CZTEROLISTNA KONICZYNKA"</li>
        <li>PRZEDSZKOLE NR 146</li>
        <li>PRZEDSZKOLE NR 147</li>
        <li>PRZEDSZKOLE NR 148 "KRAINA WARTOŚCI"</li>
        <li>PRZEDSZKOLE NR 149</li>
        <li>PRZEDSZKOLE NR 151</li>
        <li>PRZEDSZKOLE NR 170</li>
        <li>PRZEDSZKOLE NR 189 "NA WIERZBNIE"</li>
        <li>PRZEDSZKOLE NR 190</li>
        <li>PRZEDSZKOLE NR 191 IM. MARII KOWNACKIEJ</li>
        <li>PRZEDSZKOLE NR 193 "MOKOTOWSKIE NUTKI"</li>
        <li>PRZEDSZKOLE NR 196 "KRAINA MISIÓW”</li>
        <li>PRZEDSZKOLE NR 199</li>
        <li>PRZEDSZKOLE NR 210 (ZGROMADZENIE SŁUG JEZUSA)</li>
        <li>PRZEDSZKOLE NR 228</li>
        <li>PRZEDSZKOLE NR 244 "NIEGOCIŃSKIE SKRZATY"</li>
        <li>PRZEDSZKOLE NR 270</li>
        <li>PRZEDSZKOLE NR 274</li>
        <li>PRZEDSZKOLE NR 275</li>
        <li>PRZEDSZKOLE NR 278</li>
        <li>PRZEDSZKOLE NR 28</li>
        <li>PRZEDSZKOLE NR 281 "STOKROTKA"</li>
        <li>PRZEDSZKOLE NR 284</li>
        <li>PRZEDSZKOLE NR 294 "PROMYK CZERNIAKOWA"</li>
        <li>PRZEDSZKOLE NR 299 "BERNARDYŃSKIE KRASNALE"</li>
        <li>PRZEDSZKOLE NR 300</li>
        <li>PRZEDSZKOLE NR 305</li>
        <li>PRZEDSZKOLE NR 311 "SADYBIAŃSKIE ŚWIERSZCZE"</li>
        <li>PRZEDSZKOLE NR 317 "SMYKOLANDIA"</li>
        <li>PRZEDSZKOLE NR 325</li>
        <li>PRZEDSZKOLE NR 330 "POD MODRZEWIEM"</li>
        <li>PRZEDSZKOLE NR 344</li>
        <li>PRZEDSZKOLE NR 349 "BARCELONKA"</li>
        <li>PRZEDSZKOLE NR 360 "SŁONECZNY DOMEK"</li>
        <li>PRZEDSZKOLE NR 391</li>
        <li>PRZEDSZKOLE NR 67 "SŁUŻEWIACZEK"</li>
        <li>PRZEDSZKOLE NR 69</li>
        <li>PRZEDSZKOLE NR 80 "SŁONECZNA DOLINKA"</li>
        <li>PRZEDSZKOLE NR 83</li>
        <li>PRZEDSZKOLE PUBLICZNE KOMPOZYCJA RADOŚCI</li>
        <li>PRZEDSZKOLE PUBLICZNE MAŁEGO KOPERNIKA</li>
        <li>PRZEDSZKOLE SPECJALNE NR 188</li>
        <li>PRZEDSZKOLE SPECJALNE NR 393</li>
        <li>PRZEDSZKOLE Z ODDZIAŁAMI INTEGRACYJNYMI NR 326 „CHATKA SKRZATKA”</li>
        <li>PUBLICZNE PRZEDSZKOLE EDUSA</li>
        <li>PUBLICZNE PRZEDSZKOLE EUROPEJSKIE 4</li>
        <li>PUNKT PRZEDSZKOLNY "BABY CITY"</li>
        <li>PUNKT PRZEDSZKOLNY "LEŚNA FERAJNA"</li>
        <li>PUNKT PRZEDSZKOLNY "LOLEK"</li>
        <li>PUNKT PRZEDSZKOLNY "SMYKI ZE SMYCZKOWEJ"</li>
        <li>PUNKT PRZEDSZKOLNY FOR FUN</li>
        <li>PUNKT PRZEDSZKOLNY FUNDACJI AUTISMO</li>
        <li>PUNKT PRZEDSZKOLNY ÓSMY KRASNAL</li>
        <li>PUNKT PRZEDSZKOLNY PROMITIS</li>
        <li>PUNKT PRZEDSZKOLNY THAMES BRITISH SCHOOL</li>
        <li>SPECJALISTYCZNA PORADNIA PROFILAKTYCZNO-TERAPEUTYCZNA DLA DZIECI I MŁODZIEŻY ZE ŚRODOWISK ZAGROŻONYCH ALKOHOLIZMEM "OPTA"</li>
        <li>SPECJALISTYCZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY NR 12</li>
        <li>SPOŁECZNA SZKOŁA PODSTAWOWA NR 14 IM. DZIECI ZJEDNOCZONEJ EUROPY SPOŁECZNEGO TOWARZYSTWA OŚWIATOWEGO</li>
        <li>SPOŁECZNA SZKOŁA PODSTAWOWA NR 26 IM. PROF. JIGORO KANO SPOŁECZNEGO TOWARZYSTWA OŚWIATOWEGO</li>
        <li>SPOŁECZNA SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY "DAĆ SZANSĘ"</li>
        <li>STUDIUM PSYCHOLOGII PSYCHOTRONICZNEJ</li>
        <li>SZKOŁA PODSTAWOWA CHOCIMSKA</li>
        <li>SZKOŁA PODSTAWOWA DLA DOROSŁYCH W WARSZAWIE</li>
        <li>SZKOŁA PODSTAWOWA IM KOMISJI EDUKACJI NARODOWEJ</li>
        <li>SZKOŁA PODSTAWOWA IM. ŚW. FRANCISZKA</li>
        <li>SZKOŁA PODSTAWOWA INTEGRACYJNA NR 339 IM. RAOULA WALLENBERGA</li>
        <li>SZKOŁA PODSTAWOWA NIEPUBLICZNA KOLEGIUM ŚW. STANISŁAWA KOSTKI</li>
        <li>SZKOŁA PODSTAWOWA NIEPUBLICZNA NR 49</li>
        <li>SZKOŁA PODSTAWOWA NR 103 IM. BOHATERÓW WARSZAWY 1939-1945</li>
        <li>SZKOŁA PODSTAWOWA NR 107 IM. BRONISŁAWA MALINOWSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 115 IM. WANDY TUROWSKIEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 119 IM. 3 BERLIŃSKIEGO PUŁKU PIECHOTY</li>
        <li>SZKOŁA PODSTAWOWA NR 146 IM. JANUSZA KORCZAKA</li>
        <li>SZKOŁA PODSTAWOWA NR 190 IM. ORŁA BIAŁEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 191 IM. JÓZEFA IGNACEGO KRASZEWSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 2 PRZYMIERZA RODZIN IM. KS. JANA TWARDOWSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 202 IM. 34 PUŁKU STRZELCÓW BUDZISZYŃSKICH</li>
        <li>SZKOŁA PODSTAWOWA NR 205 IM. ŻOŁNIERZY POWSTANIA WARSZAWSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 212 IM. KRYSTYNY KRAHELSKIEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 260 IM. JANA MATEJKI</li>
        <li>SZKOŁA PODSTAWOWA NR 271 IM. 11 LISTOPADA</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. DZIECI POWSTANIA WARSZAWSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 307 IM. KRÓLA JANA III SOBIESKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 33 IM. WOJSK OBRONY POWIETRZNEJ KRAJU</li>
        <li>SZKOŁA PODSTAWOWA NR 371 IM. SANDRO PERTINIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 394</li>
        <li>SZKOŁA PODSTAWOWA NR 46 IM. STEFANA STARZYŃSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 69 IM. MARII SKŁODOWSKIEJ-CURIE</li>
        <li>SZKOŁA PODSTAWOWA NR 70 Z ODDZIAŁAMI INTEGRACYJNYMI IM. BOHATERÓW MONTE CASSINO</li>
        <li>SZKOŁA PODSTAWOWA NR 85 IM. BENITO JUAREZA</li>
        <li>SZKOŁA PODSTAWOWA NR 98 Z ODDZIAŁAMI INTEGRACYJNYMI IM. LUCY MAUD MONTGOMERY</li>
        <li>SZKOŁA PODSTAWOWA SIÓSTR NAZARETANEK Z ODDZIAŁAMI DWUJĘZYCZNYMI</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 111</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 167</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 201</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 22 W NARODOWYM INSTYTUCIE GERIATRII, REUMATOLOGII I I REHABILITACJI IM. PROF. DR HAB. MED. ELEONORY REICHER</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 251</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 294 W INSTYTUCIE PSYCHIATRII I NEUROLOGII</li>
        <li>SZKOŁA PODSTAWOWA SPORTOWA NR 272 IM. EUGENIUSZA LOKAJSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA TERAPEUTYCZNA "CHOCIMSKA"</li>
        <li>SZKOŁA PODSTAWOWA Z ODDZIAŁAMI DWUJĘZYCZNYMI NR 157 IM. ADAMA MICKIEWICZA</li>
        <li>SZKOŁA PODSTAWOWA Z ODDZIAŁAMI DWUJĘZYCZNYMI NR 20 IM. JANA GUTENBERGA FUNDACJI SZKOLNEJ W WARSZAWIE</li>
        <li>SZKOŁA PODSTAWOWA ZAKONU PIJARÓW IM. O. ONUFREGO KOPCZYŃSKIEGO W WARSZAWIE</li>
        <li>SZKOŁA POLICEALNA NR 15</li>
        <li>SZKOŁA POLICEALNA NR 5</li>
        <li>SZKOŁA POLICEALNA NR 50</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY NR 7</li>
        <li>TECHNIKUM EKONOMICZNE NR 8</li>
        <li>TECHNIKUM HOTELARSKO-TURYSTYCZNO-GASTRONOMICZNE NR 21</li>
        <li>TECHNIKUM MECHATRONICZNE NR 1</li>
        <li>TECHNIKUM ODZIEŻOWE I FRYZJERSKIE IM. MARII BRATKOWSKIEJ</li>
        <li>TECHNIKUM OGRODNICZE</li>
        <li>THE ENGLISH PLAYHOUSE PUNKT PRZEDSZKOLNY</li>
        <li>THE ENGLISH PLAYHOUSE PUNKT PRZEDSZKOLNY</li>
        <li>VI LICEUM OGÓLNOKSZTAŁCĄCE IM. TADEUSZA REYTANA</li>
        <li>WARSZAWSKIE CENTRUM SZKOLENIOWE KLANZA</li>
        <li>X LICEUM OGÓLNOKSZTAŁCĄCE IM. KRÓLOWEJ JADWIGI</li>
        <li>XLII LICEUM OGÓLNOKSZTAŁCĄCE IM. MARII KONOPNICKIEJ</li>
        <li>XLIII LICEUM OGÓLNOKSZTAŁCĄCE IM. KAZIMIERZA WIELKIEGO</li>
        <li>XLIV LICEUM OGÓLNOKSZTAŁCĄCE IM. STEFANA BANACHA</li>
        <li>XLIX LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI DWUJĘZYCZNYMI IM. JOHANNA WOLFGANGA GOETHEGO</li>
        <li>XXVIII LICEUM OGÓLNOKSZTAŁCĄCE IM. JANA KOCHANOWSKIEGO</li>
        <li>XXXIV LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI DWUJĘZYCZNYMI IM. MIGUELA DE CERVANTESA</li>
        <li>ZAGADKA S.C. PRZEDSZKOLE NIEPUBLICZNE</li>
        <li>ZAKŁAD KSZTAŁCENIA USTAWICZNEGO INSTYTUTU MECHANIZACJI BUDOWNICTWA I GÓRNICTWA SKALNEGO</li>
        <li>ZESPÓŁ PAŃSTWOWYCH SZKÓŁ MUZYCZNYCH NR 1 W WARSZAWIE</li>
        <li>ZESPÓŁ SZKÓŁ LICEALNYCH I TECHNICZNYCH NR 1</li>
        <li>ZESPÓŁ SZKÓŁ MIĘDZYNARODOWYCH MONNET INTERNATIONAL SCHOOL</li>
        <li>ZESPÓŁ SZKÓŁ NR 27</li>
        <li>ZESPÓŁ SZKÓŁ NR 39 IM. PROF. EDMUNDA JANKOWSKIEGO</li>
        <li>ZESPÓŁ SZKÓŁ NR 59</li>
        <li>ZESPÓŁ SZKÓŁ ODZIEŻOWYCH, FRYZJERSKICH I KOSMETYCZNYCH NR 22</li>
        <li>ZESPÓŁ SZKÓŁ SPECJALNYCH NR 96 W INSTYTUCIE PSYCHIATRII I NEUROLOGII</li>
        <li>ZESPÓŁ SZKÓŁ SPECJALNYCH: PODSTAWOWEJ, GIMNAZJUM, PRZYSPOSABIAJĄCEJ DO PRACY "DAĆ SZANSĘ"</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 1</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 11 W WARSZAWIE</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
