
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Otrębusy</title>
</head>
<body>
    <h1>Schools in Otrębusy</h1>
    <ul>
        <li>PRZEDSZKOLE NIEPUBLICZNE ZGROMADZENIA SIÓSTR SŁUŻEBNICZEK N.M.P.</li>
        <li>PRZEDSZKOLE W OTRĘBUSACH</li>
        <li>SZKOŁA PODSTAWOWA IM. WŁODZIMIERZA PUCHALSKIEGO W OTRĘBUSACH</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W OTRĘBUSACH</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
