
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Szreńsk</title>
</head>
<body>
    <h1>Schools in Szreńsk</h1>
    <ul>
        <li>PRZEDSZKOLE SAMORZĄDOWE W SZREŃSKU</li>
        <li>SZKOŁA PODSTAWOWA IM. TADEUSZA KULIGOWSKIEGO W SZREŃSKU</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH W SZREŃSKU</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
