
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Czarnolas</title>
</head>
<body>
    <h1>Schools in Czarnolas</h1>
    <ul>
        <li>PRZEDSZKOLE SAMORZĄDOWE W CZARNOLESIE</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA IM. JANA KOCHANOWSKIEGO W CZARNOLESIE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W CZARNOLESIE</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
