
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Piaseczno</title>
</head>
<body>
    <h1>Schools in Piaseczno</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 1</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 3</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 4</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA SPECJALNA IM. ŚW. MAŁGORZATY Z KORTONY</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA SPECJALNA IM. ŚW. MAŁGORZATY Z KORTONY</li>
        <li>DIBBER INTERNATIONAL PRESCHOOL PIASECZNO</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE IM. EMILII PLATER</li>
        <li>III LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>INTEGRACYJNO-REHABILITACYJNE PRZEDSZKOLE NIEPUBLICZNE PANDA</li>
        <li>IV LICEUM OGÓLNOKSZTAŁCĄCE IM. RTM. WITOLDA PILECKIEGO</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH "ARCHIMEDES" W PIASECZNIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH ŻAK W PIASECZNIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE SPECJALNE</li>
        <li>MŁODZIEŻOWY OŚRODEK SOCJOTERAPII "DOM MATKI DOBREGO PASTERZA"</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "TERSEN"</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA NINTU MARTA ŻYSKO-PAŁUBA</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA SENTIDOS</li>
        <li>NIEPUBLICZNA SZKOŁA MUZYCZNA I ST. SZKOŁA MARZEŃ W PIASECZNIE</li>
        <li>NIEPUBLICZNA SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY AKADEMIA WARTOŚCI I OTWARTOŚCI ISKRA W PIASECZNIE</li>
        <li>NIEPUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE NOVA STUDY</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE ABC</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE CREATIVE MIND SCHOOL</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE FANTAZJA</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE KLEKS</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE KOLOROWE KREDKI</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE MALUSZEK</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE NUTKA</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE TERATEUTYCZNO-REHABILITACYJNE BRZDĄC</li>
        <li>NIEPUBLICZNY INTEGRACYJNY PUNKT PRZEDSZKOLNY CREATIVE MIND SCHOOL</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY "ŻEBY KÓZKA..."</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY BAŚNIOWY ZAMECZEK</li>
        <li>OŚRODEK SZKOLENIOWY CENTRUM NAUKI I BIZNESU ŻAK W PIASECZNIE</li>
        <li>POLICEALNA SZKOŁA "COSINUS" W PIASECZNIE</li>
        <li>POLICEALNA SZKOŁA OPIEKI MEDYCZNEJ DLA DOROSŁYCH "ŻAK"</li>
        <li>POLICEALNA SZKOŁA ZAWODOWA CENTRUM NAUKI BIZNESU I ADMINISTRACJI W PIASECZNIE</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA GEDEON MEDICA</li>
        <li>PRYWATNA SZKOŁA PODSTAWOWA "WORLD SCHOOL"</li>
        <li>PRYWATNA SZKOŁA PODSTAWOWA NR 72 SZKOŁA MARZEŃ</li>
        <li>PRYWATNE AKADEMICKIE LICEUM OGÓLNOKSZTAŁCĄCE W PIASECZNIE</li>
        <li>PRYWATNE PRZEDSZKOLE SMYK</li>
        <li>PRZEDSZKOLE IM. DZIECIĄTKA JEZUS</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE BAŚNIOWY ZAMECZEK</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE CHATKA PUCHATKA</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE DELFINEK</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE DOMEK ELFÓW</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE PRZEDSZKOLE LEŚNE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE WESOŁY TYGRYSEK</li>
        <li>PRZEDSZKOLE NR 1 W PIASECZNIE</li>
        <li>PRZEDSZKOLE NR 10 W PIASECZNIE</li>
        <li>PRZEDSZKOLE NR 11 NEFRYTOWY ZAKĄTEK W PIASECZNIE</li>
        <li>PRZEDSZKOLE NR 2 "KOLOROWY ZALESINEK" W PIASECZNIE</li>
        <li>PRZEDSZKOLE NR 3 W PIASECZNIE</li>
        <li>PRZEDSZKOLE NR 4 W PIASECZNIE</li>
        <li>PRZEDSZKOLE NR 5 W PIASECZNIE</li>
        <li>PRZEDSZKOLE NR 8 W PIASECZNIE</li>
        <li>PRZEDSZKOLE NR 9 W PIASECZNIE</li>
        <li>PRZEDSZKOLE PUBLICZNE "KLUB MISIA BO"</li>
        <li>PRZEDSZKOLE PUBLICZNE "PRZYJACIELE KUBUSIA II"</li>
        <li>PRZEDSZKOLE PUBLICZNE ALA I KOT</li>
        <li>PRZEDSZKOLE PUBLICZNE MELODIA</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA W CEGŁOWIE – FILIA W PIASECZNIE</li>
        <li>PUBLICZNA SZKOŁA POLICEALNA "COSINUS PLUS"</li>
        <li>PUBLICZNA SZKOŁA POLICEALNA OPIEKI MEDYCZNEJ "ŻAK"</li>
        <li>PUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH "COSINUS PLUS"</li>
        <li>PUBLICZNE PRZEDSZKOLE "BAJKA"</li>
        <li>PUBLICZNE PRZEDSZKOLE "PTASIE GNIAZDO"</li>
        <li>PUBLICZNE PRZEDSZKOLE "SŁONECZNE"</li>
        <li>PUBLICZNE PRZEDSZKOLE BABALOO</li>
        <li>PUBLICZNE PRZEDSZKOLE LEŚNY SKRZAT</li>
        <li>PUBLICZNE PRZEDSZKOLE RADOSNE</li>
        <li>PUBLICZNE PRZEDSZKOLE W CEGŁOWIE – FILIA W PIASECZNIE</li>
        <li>PUNKT PRZEDSZKOLNY "STUMILOWY LAS"</li>
        <li>PUNKT PRZEDSZKOLNY HARWARDZIK</li>
        <li>PUNKT PRZEDSZKOLNY PESTKA</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY IM. ZWYCIĘZCÓW OLIMPIAD SPECJALNYCH</li>
        <li>SZKOŁA MUZYCZNA I ST. MAESTRO W PIASECZNIE</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. JÓZEFA PIŁSUDSKIEGO W PIASECZNIE</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM.EWY KRAUZE W PIASECZNIE</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM.TADEUSZA ZAWADZKIEGO ZOŚKI W PIASECZNIE</li>
        <li>SZKOŁA PODSTAWOWA NR 4 IM. MARII SKŁODOWSKIEJ-CURIE W PIASECZNIE</li>
        <li>SZKOŁA PODSTAWOWA NR 5 IM.KRZYSZTOFA KAMILA BACZYŃSKIEGO W PIASECZNIE</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA IM. ŚW. MAŁGORZATY Z KORTONY</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 7</li>
        <li>SZKOŁA POLICEALNA CENTRUM NAUKI I BIZNESU ŻAK W PIASECZNIE</li>
        <li>SZKOŁA POLICEALNA MEDYCZNA "ŻAK"</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY</li>
        <li>SZKOŁA TAŃCA I BALETU "MAESTRO" W GOŁKOWIE</li>
        <li>SZKOŁA TAŃCA I BALETU "MAESTRO" W PIASECZNIE</li>
        <li>TECHNIKUM NR 1</li>
        <li>TECHNIKUM NR 2 IM. EMILII PLATER</li>
        <li>TECHNIKUM NR 3</li>
        <li>TECHNIKUM SPECJALNE IM. ŚW. MAŁGORZATY Z KORTONY</li>
        <li>TERAPEUTYCZNY PUNKT PRZEDSZKOLNY FORREST</li>
        <li>ZAOCZNE LICEUM OGÓLNOKSZTAŁCĄCE "COSINUS" W PIASECZNIE</li>
        <li>ZESPÓŁ SZKÓŁ NR 1</li>
        <li>ZESPÓŁ SZKÓŁ NR 2 IM. EMILII PLATER</li>
        <li>ZESPÓŁ SZKÓŁ NR 3 IM. CECYLII PLATER-ZYBERKÓWNY</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W PIASECZNIE</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
