
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Zakręt</title>
</head>
<body>
    <h1>Schools in Zakręt</h1>
    <ul>
        <li>DWUJĘZYCZNA SZKOŁA PODSTAWOWA "SMART SCHOOL"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE JĘZYKOWE "SMART SCHOOL"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE TERAPEUTYCZNE "PROGRESS PLACE"</li>
        <li>PRZEDSZKOLE "LEŚNA KRAINA" W ZAKRĘCIE</li>
        <li>SZKOŁA PODSTAWOWA IM. CYPRIANA KAMILA NORWIDA W ZAKRĘCIE</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
