
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Brwinów</title>
</head>
<body>
    <h1>Schools in Brwinów</h1>
    <ul>
        <li>KIDS MONTESSORI MAGDALENA WITKOWSKA</li>
        <li>KRAJOWE CENTRUM EDUKACJI ROLNICZEJ W BRWINOWIE</li>
        <li>KRASNALKOWO PUNKT PRZEDSZKOLNY</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. JAROSŁAWA IWASZKIEWICZA W ZESPOLE SZKÓŁ OGÓLNOKSZTAŁCĄCYCH W BRWINOWIE</li>
        <li>MAGICZNA KRAINA</li>
        <li>MIĘDZYNARODOWE PRZEDSZKOLE MONTESSORI W BRWINOWIE</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA FAMILIA</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA SPECJALNA IM. KS. ARCYBISKUPA ZYGMUNTA SZCZĘSNEGO FELIŃSKIEGO</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE INTEGRACYJNE SIÓSTR RODZINY MARYI</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE SŁONECZKO</li>
        <li>PRZEDSZKOLE NR 1 W BRWINOWIE</li>
        <li>PRZEDSZKOLE NR 3 W BRWINOWIE</li>
        <li>SŁONECZKO NA LEŚNEJ POLANIE</li>
        <li>SPECJALNY NIEPUBLICZNY OŚRODEK SZKOLNO-WYCHOWAWCZY</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. TADEUSZA KOŚCIUSZKI W BRWINOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. JAROSŁAWA IWASZKIEWICZA W ZESPOLE SZKÓŁ OGÓLNOKSZTAŁCĄCYCH W BRWINOWIE</li>
        <li>TUPTUŚ</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH W BRWINOWIE</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
