
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Rembertów</title>
</head>
<body>
    <h1>Schools in Rembertów</h1>
    <ul>
        <li>II PRYWATNE LICEUM OGÓLNOKSZTAŁCĄCE IM. ZOFII I JĘDRZEJA MORACZEWSKICH</li>
        <li>LI LICEUM OGÓLNOKSZTAŁCĄCE IM. TADEUSZA KOŚCIUSZKI</li>
        <li>MŁODZIEŻOWY OŚRODEK WYCHOWAWCZY NR 2</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "BIEDRONECZKA"</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY WESOŁY PLECAK</li>
        <li>OGÓLNOKSZTAŁCĄCA SZKOŁA MUZYCZNA I STOPNIA W ZESPOLE SZKÓŁ NR 74</li>
        <li>PRYWATNA SZKOŁA PODSTAWOWA IM. ZOFII I JĘDRZEJA MORACZEWSKICH</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "DELFINEK"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "KUBUŚ PUCHATEK I PRZYJACIELE"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "U KUBUSIA PUCHATKA"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE GWIAZDECZKI</li>
        <li>PRZEDSZKOLE NR 158</li>
        <li>PRZEDSZKOLE NR 160</li>
        <li>PRZEDSZKOLE NR 243</li>
        <li>PRZEDSZKOLE NR 376 Z ODDZIAŁAMI INTEGRACYJNYMI</li>
        <li>PRZEDSZKOLE NR 423</li>
        <li>PRZEDSZKOLE PUBLICZNE "GUMIŚ"</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA SPOŁECZNEGO TOWARZYSTWA OŚWIATOWEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 217 Z ODDZIAŁAMI INTEGRACYJNYMI IM. OBROŃCÓW RADIOSTACJI ARMII KRAJOWEJ W REMBERTOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 254 IM. GEN FRANCISZKA ŻYMIRSKIEGO W ZESPOLE SZKÓŁ NR 74</li>
        <li>SZKOŁA PODSTAWOWA NR 376 IM. BOHATERÓW WESTRPLATTE W WARSZAWIE</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 131</li>
        <li>SZKOŁA PODSTAWOWA Z ODDZIAŁAMI INTEGRACYJNYMI NR 189 IM. MARSZAŁAKA JÓZEFA PIŁSUDSKIEGO</li>
        <li>ZESPÓŁ SZKÓŁ NR 74</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
