
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Stary Pilczyn</title>
</head>
<body>
    <h1>Schools in Stary Pilczyn</h1>
    <ul>
        <li>PUBLICZNE PRZEDSZKOLE W STARYM PILCZYNIE - ZESPÓŁ SZKÓŁ W STARYM PILCZYNIE</li>
        <li>SZKOŁA PODSTAWOWA IM. KS. JERZEGO POPIEŁUSZKI W STARYM PILCZYNIE</li>
        <li>ZESPÓŁ SZKÓŁ W STARYM PILCZYNIE</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
