
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Goździków</title>
</head>
<body>
    <h1>Schools in Goździków</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA SPECJALNA I STOPNIA</li>
        <li>MŁODZIEŻOWY OŚRODEK SOCJOTERAPII W GOŹDZIKOWIE</li>
        <li>MŁODZIEŻOWY OŚRODEK WYCHOWAWCZY W GOŹDZIKOWIE</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA SPECJALNA</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA SPECJALNA W GOŹDZIKOWIE</li>
        <li>SZKOŁA BRANŻOWA SPECJALNA I STOPNIA</li>
        <li>ZESPÓŁ PLACÓWEK RESOCJALIZACYJNO-SOCJOTERAPEUTYCZNYCH W GOŹDZIKOWIE</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
