
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Józefosław</title>
</head>
<body>
    <h1>Schools in Józefosław</h1>
    <ul>
        <li>CENTRUM DIAGNOZY, TERAPII I ROZWOJU DLA DZIECI, MŁODZIEŻY I DOROSŁYCH, NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA IZYSS</li>
        <li>CENTRUM EDUKACJI TECHNOLOGICZNEJ</li>
        <li>NIEPUBLICZNA PODSTAWOWA SZKOŁA ODKRYWCÓW</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA GAUDEAMUS</li>
        <li>NIEPUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE W JÓZEFOSŁAWIU</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE MUZYCZNE ZEBRA</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE SŁONECZKO</li>
        <li>PODSTAWOWA SZKOŁA MIĘDZYNARODOWA THE INTERNATIONAL SCHOOL</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "AKADEMIA PRZEDSZKOLAKÓW"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "ŚWIAT BAJEK"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE THE INTERNATIONAL SCHOOL</li>
        <li>PRZEDSZKOLE POMARAŃCZOWA CIUCHCIA</li>
        <li>PRZEDSZKOLE PUBLICZNE "PRZYJACIELE KUBUSIA I"</li>
        <li>PRZEDSZKOLE PUBLICZNE "PRZYJACIELE KUBUSIA III"</li>
        <li>SZKOŁA MUZYCZNA I ST. MAESTRO W JÓZEFOSŁAWIU</li>
        <li>SZKOŁA PODSTAWOWA IM. JANUSZA KORCZAKA W JÓZEFOSŁAWIU</li>
        <li>SZKOŁA TAŃCA I BALETU "MAESTRO" W JÓZEFOSŁAWIU</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
