
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Górki</title>
</head>
<body>
    <h1>Schools in Górki</h1>
    <ul>
        <li>PUNKT PRZEDSZKOLNY " KLUB PRZEDSZKOLAKA'</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE W GÓRKACH</li>
        <li>SZKOŁA PODSTAWOWA IM. SZARYCH SZEREGÓW W GÓRKACH</li>
        <li>SZKOŁA PODSTAWOWA IM.J. SŁOWACKIEGO W GÓRKACH</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W GÓRKACH</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
