
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Janów</title>
</head>
<body>
    <h1>Schools in Janów</h1>
    <ul>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA IM. STEFANA ŻEROMSKIEGO W JANOWIE</li>
        <li>SZKOŁA PODSTAWOWA IM. KS. A.TYSZKI W JANOWIE</li>
        <li>SZKOŁA PODSTAWOWA IM. PŁK. LUDWIKA GŁOWACKIEGO W JANOWIE</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
