
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Osiedle Wilga</title>
</head>
<body>
    <h1>Schools in Osiedle Wilga</h1>
    <ul>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA SPECJALNA IM. MACIEJA LEWCZUKA PRZY OŚRODKU SOCJOTERAPEUTYCZNYM "WSPÓLNY DOM" W WILDZE</li>
        <li>NIEPUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE SPECJALNE PRZY OŚRODKU SOCJOTERAPEUTYCZNYM WSPÓLNY DOM W WILDZE</li>
        <li>OŚRODEK SOCJOTERAPEUTYCZNY "WSPÓLNY DOM" W WILDZE</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
