
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Przyłęk</title>
</head>
<body>
    <h1>Schools in Przyłęk</h1>
    <ul>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA IM. MIKOŁAJA KOPERNIKA W PRZYŁĘKU</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY W PRZYŁĘKU</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA W PRZYŁĘKU</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
