
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Józefów</title>
</head>
<body>
    <h1>Schools in Józefów</h1>
    <ul>
        <li>"STRUMIENIE" LICEUM OGÓLNOKSZTAŁCĄCE STOWARZYSZENIA STERNIK</li>
        <li>"STRUMIENIE" SZKOŁA PODSTAWOWA STOWARZYSZENIA STERNIK</li>
        <li>AKADEMIA RUCHU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. ŚW. TOMASZA Z AKWINU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W MAZOWIECKIM CENTRUM NEUROPSYCHIATRII W JÓZEFOWIE</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 1</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 2</li>
        <li>MŁODZIEŻOWY OŚRODEK SOCJOTERAPII "JĘDRUŚ" W JÓZEFOWIE</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "KANGUREK" W JÓZEFOWIE</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA PORT-PRACOWNIA OŚWIATOWA ROZWOJU TWÓRCZEGO</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA W JÓZEFOWIE</li>
        <li>NIEPUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE W JÓZEFOWIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE JĘZYKOWO-ARTYSTYCZNE MAŁY ŚWIAT</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE MINI PRZEDSZKOLAK</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE SMART KIDS</li>
        <li>NIEZWYCZAJNA SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W JÓZEFOWIE</li>
        <li>NIEZWYCZAJNA SZKOŁA. SPOŁECZNA SZKOŁA PODSTAWOWA SPECJALNA Z ODDZIAŁAMI PRZEDSZKOLNYMI W JÓZEFOWIE.</li>
        <li>NIEZWYCZAJNE LICEUM. LICEUM OGÓLNOKSZTAŁCĄCE W JÓZEFOWIE</li>
        <li>PRYWATNA SZKOŁA MUZYCZNA I ST. BARTŁOMIEJA BUDZYŃSKIEGO W JÓZEFOWIE</li>
        <li>PRZEDSZKOLE BIEDRONECZKI</li>
        <li>PRZEDSZKOLE KRASNOLUDKÓW</li>
        <li>PRZEDSZKOLE PUBLICZNE W JÓZEFOWIE</li>
        <li>PRZEDSZKOLE SPECJALNE W MAZOWIECKIM CENTRUM NEUROPSYCHIATRII W JÓZEFOWIE</li>
        <li>PRZEDSZKOLE SZCZĘŚLIWYCH DZIECI</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA IM. BITWY WARSZAWSKIEJ 1920 ROKU</li>
        <li>PUBLICZNE PRZEDSZKOLE "DĘBOWE LUDKI"</li>
        <li>PUBLICZNE PRZEDSZKOLE "WILLA JAKUBÓWKA"</li>
        <li>PUBLICZNE PRZEDSZKOLE BABYLAND</li>
        <li>STRUMIENIE PRZEDSZKOLE STOWARZYSZENIA STERNIK</li>
        <li>SZKOŁA PODSTAWOWA IM. WANDY CHOTOMSKIEJ W JÓZEFOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. OLOFA PALMEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. ROMUALDA TRAUGUTTA</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. ŁĄCZNICZEK ARMII KRAJOWEJ W JÓZEFOWIE</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 4 W JÓZEFOWIE MŁODZIEŻOWY OŚRODEK SOCJOTERAPII „JĘDRUŚ” W JÓZEFOWIE</li>
        <li>SZKOŁA PODSTAWOWA ŚW. TOMASZA Z AKWINU</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH W MAZOWIECKIM CENTRUM NEUROPSYCHIATRII W JÓZEFOWIE</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH W MAZOWIECKIM CENTRUM NEUROPSYCHIATRII W JÓZEFOWIE - SZKOŁA PODSTAWOWA</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
