
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Suchożebry</title>
</head>
<body>
    <h1>Schools in Suchożebry</h1>
    <ul>
        <li>PRZEDSZKOLE PUBLICZNE W SUCHOŻEBRACH</li>
        <li>SZKOŁA PODSTAWOWA W SUCHOŻEBRACH</li>
        <li>ZESPÓŁ SZKÓŁ PUBLICZNYCH IM. HENRYKA SIENKIEWICZA W SUCHOŻEBRACH</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
