
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Góra Kalwaria</title>
</head>
<body>
    <h1>Schools in Góra Kalwaria</h1>
    <ul>
        <li>AKADEMIA ŚW. STANISŁAWA PAPCZYŃSKIEGO-LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>AKADEMIA ŚWIĘTEGO STANISŁAWA PAPCZYŃSKIEGO - SZKOŁA PODSTAWOWA</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 1</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 2</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>I NIEPUBLICZNA SZKOŁA MUZYCZNA I ST. ORFEUSZ W GÓRZE KALWARII</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE IM. MARSZAŁKA FRANCISZKA BIELIŃSKIEGO</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. KSIĘDZA ZYGMUNTA SAJNY W GÓRZE KALWARII</li>
        <li>PLACÓWKA OŚWIATOWA-OŚRODEK SZKOLENIA CONSULTING COMPANY WZ</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE CZARODZIEJSKA PLANETA</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE ZGROMADZENIA SIÓSTR SŁUŻEBNIC JEZUSA W EUCHARYSTII W GÓRZE KALWARII</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE ZUZIA W GÓRZE KALWARII</li>
        <li>PRZEDSZKOLE PUBLICZNE ,,RÓŻOWY BARANEK''</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 1 W GÓRZE KALWARII</li>
        <li>PSZCZÓŁKA PRZEDSZKOLE W GÓRZE KALWARII</li>
        <li>PUBLICZNE PRZEDSZKOLE ,,BAJKOWY ZAKĄTEK''</li>
        <li>PUBLICZNE PRZEDSZKOLE ,,KRAINA UŚMIECHU''</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE INTEGRACYJNE W GÓRZE KALWARII</li>
        <li>SZKOŁA PODSTAWOWA NR 1</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM.KSIĘCIA JANUSZA W GÓRZE KALWARII</li>
        <li>SZKOŁA TAŃCA I BALETU "MAESTRO" W GÓRZE KALWARII</li>
        <li>TECHNIKUM NR 1</li>
        <li>TECHNIKUM NR 2</li>
        <li>ZESPÓŁ SZKÓŁ NR 1 IM. PPOR. EMILII GIERCZAK</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH W GÓRZE KALWARII</li>
        <li>ZESPÓŁ SZKÓŁ ZAWODOWYCH IM. MARSZAŁKA FRANCISZKA BIELIŃSKIEGO</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
