
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Korytnica</title>
</head>
<body>
    <h1>Schools in Korytnica</h1>
    <ul>
        <li>GMINNE PRZEDSZKOLE PUBLICZNE W KORYTNICY</li>
        <li>SZKOŁA PODSTAWOWA IM. HENRYKA SIENKIEWICZA W KORYTNICY</li>
        <li>SZKOŁA PODSTAWOWA IM. ŚW. JANA PAWŁA II W KORYTNICY</li>
        <li>ZESPÓŁ SZKOLNO PRZEDSZKOLNY W KORYTNICY</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
