
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Huta</title>
</head>
<body>
    <h1>Schools in Huta</h1>
    <ul>
        <li>PUBLICZNE PRZEDSZKOLE SPECJALNE W SPECJALNYM OŚRODKU SZKOLNO - WYCHOWAWCZYM I.M. KAWALERÓW ORDERU UŚMIECHU W HUCIE</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY IM.KAWALERÓW ORDERU UŚMIECHU W HUCIE</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA W HUCIE</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W HUCIE</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
