
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Obryte</title>
</head>
<body>
    <h1>Schools in Obryte</h1>
    <ul>
        <li>PRZEDSZKOLE SAMORZĄDOWE W OBRYTEM</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA IM. KARDYNAŁA STEFANA WYSZYŃSKIEGO W OBRYTEM</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH W OBRYTEM</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
