
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Sieciechów</title>
</head>
<body>
    <h1>Schools in Sieciechów</h1>
    <ul>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA W SIECIECHOWIE</li>
        <li>PUBLICZNE PRZEDSZKOLE W SIECIECHOWIE</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH W SIECIECHOWIE</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
