
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Karczew</title>
</head>
<body>
    <h1>Schools in Karczew</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA</li>
        <li>KIDS FIRST BY KATARZYNA SZULC</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "ZIELONA KRAINA"</li>
        <li>PRYWATNA SZKOŁA MUZYCZNA I ST. IM. HENRYKA WIENIAWSKIEGO W KARCZEWIE</li>
        <li>PRZEDSZKOLE NR 1 W KARCZEWIE</li>
        <li>PRZEDSZKOLE NR 2 W KARCZEWIE "TĘCZOWA KRAINA"</li>
        <li>PRZEDSZKOLE NR 3 W KARCZEWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 1 W KARCZEWIE IM. BOLESŁAWA PRUSA</li>
        <li>SZKOŁA PODSTAWOWA NR 2 W KARCZEWIE</li>
        <li>SZKOŁA PODSTAWOWA SOKRATES</li>
        <li>TECHNIKUM</li>
        <li>ZESPÓŁ SZKÓŁ W KARCZEWIE</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
