
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Olszanka</title>
</head>
<body>
    <h1>Schools in Olszanka</h1>
    <ul>
        <li>NIEPUBLICZNE PRZEDSZKOLE TWÓRCZE "DOMISIOWE PRZEDSZKOLE" W OLSZANCE</li>
        <li>PUNKT PRZEDSZKOLNY PRZY SZKOLE PODSTAWOWEJ W OLSZANCE</li>
        <li>SZKOŁA PODSTAWOWA W OLSZANCE</li>
        <li>SZKOŁA PODSTAWOWA W OLSZANCE</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
