
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Borki-Kosy</title>
</head>
<body>
    <h1>Schools in Borki-Kosy</h1>
    <ul>
        <li>NIEPUBLICZNE PRZEDSZKOLE W BORKACH-KOSACH</li>
        <li>PUNKT PRZEDSZKOLNY W BORKACH-KOSACH</li>
        <li>SZKOŁA PODSTAWOWA IM. ŻOŁNIERZY WYKLĘTYCH W BORKACH-KOSACH</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
