
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Iłża</title>
</head>
<body>
    <h1>Schools in Iłża</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W IŁŻY</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM.MIKOŁAJA KOPERNIKA W IŁŻY</li>
        <li>NIEPUBLICZE PRZEDSZKOLE"BAJKOWY DWOREK"</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W IŁŻY</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE W IŁŻY</li>
        <li>SZKOŁA PODSTAWOWA IM.MARSZ. J. PIŁSUDSKIEGO W IŁŻY</li>
        <li>TECHNIKUM W IŁŻY</li>
        <li>ZESPÓŁ SZKÓŁ PONADPODSTAWOWYCH IM.STANISŁAWA STASZICA W IŁŻY</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
