
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Śródmieście</title>
</head>
<body>
    <h1>Schools in Śródmieście</h1>
    <ul>
        <li>"HEROS"-CENTRUM SZKOLENIOWE</li>
        <li>"LABOR - SECURUS - SZKOLENIA BHP"</li>
        <li>"PROGRES" SZKOŁA POLICEALNA W WARSZAWIE</li>
        <li>2 SPOŁECZNE LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI MIĘDZYNARODOWYMI IM. PAWŁA JASIENICY SPOŁECZNEGO TOWARZYSTWA OŚWIATOWEGO</li>
        <li>21 SPOŁECZNE LICEUM OGÓLNOKSZTAŁCĄCE IM. JERZEGO GROTOWSKIEGO</li>
        <li>AKADEMEIA TUTORIAL COLLEGE</li>
        <li>AKADEMEIA TUTORIAL COLLEGE.</li>
        <li>AKADEMIA FOTOGRAFII</li>
        <li>AKADEMIA KFD</li>
        <li>AKADEMIA OSTEOPATII NIEPUBLICZNA PLACOWKA KSZTAŁCENIA USTAWICZNEGO</li>
        <li>AKADEMIA PRAWA PRACY I RACHUNKOWOŚCI CEDOZ</li>
        <li>AKADEMIA RACHUNKOWOŚCI COMPARTNERS</li>
        <li>AKADEMIA SZTUKI I KULTURY</li>
        <li>AKADEMIA SZYBKIEJ NAUKI TADEUSZ BUZAREWICZ</li>
        <li>AKADEMIA UMIEJĘTNOŚCI SPSF IM. ERWINA STUTZA</li>
        <li>AKADEMICKIE LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>AKADEMICKIE LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>ALLMED.EDU POLICEALNA SZKOŁA ZAWODOWA W WARSZAWIE</li>
        <li>AP EDUKACJA CENTRUM KSZTAŁCENIA W WARSZAWIE</li>
        <li>ARTHUR MURRAY DANCE STUDIO WARSAW</li>
        <li>ATELIER FOKSAL</li>
        <li>BEAUTY LUX</li>
        <li>BEAUTY-ART WARSZAWA</li>
        <li>BEDNARSKA SZKOŁA REALNA</li>
        <li>BIURO SZKOLEŃ PIKW</li>
        <li>BRANŻOWA SZKOŁA GASTRONOMICZNA I STOPNIA</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA SPECJALNA NR 50</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA SPECJALNA NR 54 IM. KAZIMIERZA KIREJCZYKA</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA SPECJALNA NR 62</li>
        <li>BRANŻOWA SZKOŁA POLIGRAFICZNA I STOPNIA</li>
        <li>BURSA SALEZJAŃSKA DLA MŁODZIEŻY MĘSKIEJ IM. KSIĘDZA SIEMCA</li>
        <li>BURSA SZKOLNICTWA ARTYSTYCZNEGO W WARSZAWIE</li>
        <li>CENTRALNY OŚRODEK SZKOLENIA ZARZĄDU KRAJOWEGO STOWARZYSZENIA INŻYNIERÓW I TECHNIKÓW KOMUNIKACJI RP W WARSZAWIE</li>
        <li>CENTRUM BRITISH COUNCIL DLA DZIECI I MŁODZIEŻY</li>
        <li>CENTRUM EDUKACJI BARTOŃ</li>
        <li>CENTRUM EDUKACJI NAUCZYCIELI</li>
        <li>CENTRUM EDUKACJI OBYWATELSKIEJ</li>
        <li>CENTRUM EDUKACJI POLSKIEJ IZBY BIEGŁYCH REWIDENTÓW</li>
        <li>CENTRUM EDUKACJI W WARSZAWIE - BARBARA BODA-LEŚNIAK</li>
        <li>CENTRUM EDUKACYJNE W&W</li>
        <li>CENTRUM EDUKACYJNO-SZKOLENIOWE CMG</li>
        <li>CENTRUM JĘZYKÓW OBCYCH FULLGRASP</li>
        <li>CENTRUM KSZTAŁCENIA "DOBRA KADRA" NIEPUBLICZNA PLACÓWKA DOSKONALENIA NAUCZYCIELI</li>
        <li>CENTRUM KSZTAŁCENIA I DOSKONALENIA KADR ENIGMA PRZY CENTRUM KSZTAŁCENIA I DOSKONALENIA KADR SP. Z O.O.</li>
        <li>CENTRUM KSZTAŁCENIA KADR ZWIĄZKU ZAKŁADÓW DOSKONALENIA ZAWODOWEGO</li>
        <li>CENTRUM KSZTAŁCENIA POMOCNICZNEGO</li>
        <li>CENTRUM KSZTAŁCENIA SPECJALISTYCZNEGO</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO - WSZECHNICA EDUKACYJNA</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO NR 1</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO PITAGORAS</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO PRZY STOWARZYSZENIU POLSKA AKADEMIA PROFILAKTYKI STOMATOLOGICZNEJ</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO PZITS O/W</li>
        <li>CENTRUM KWALIFIKACYJNYCH KURSÓW ZAWODOWYCH GOWORK.PL</li>
        <li>CENTRUM SZKOLENIA AGENCJI SZKOLENIA I PROMOCJI KADR</li>
        <li>CENTRUM SZKOLENIOWE EDUKATOR SP. Z O.O.</li>
        <li>CLVII LICEUM OGÓLNOKSZTAŁCĄCE IM. MARII SKŁODOWSKIEJ-CURIE</li>
        <li>COLLEGIUM - POLICEALNA SZKOŁA SŁUŻB MEDYCZNYCH</li>
        <li>COLLEGIUM - POLICEALNA SZKOŁA SŁUŻB MEDYCZNYCH I SPOŁECZNYCH</li>
        <li>COLLEGIUM SZKOŁY SŁUŻB MEDYCZNYCH</li>
        <li>CREATOR</li>
        <li>CXXIV LICEUM OGÓLNOKSZTAŁCĄCE SPECJALNE</li>
        <li>CXXXVI LICEUM OGÓLNOKSZTAŁCĄCE SPECJALNE</li>
        <li>EDUKARIS-OŚRODEK KSZTAŁCENIA</li>
        <li>EUREKA CENTRUM KSZTAŁCENIA</li>
        <li>EURO INFO GROUP</li>
        <li>EUROFINANCE TRAINING</li>
        <li>EUROPEJSKA PLACÓWKA KSZTAŁCENIA MAŁGORZATA SZYPNICKA</li>
        <li>EUROPEJSKIE CENTRUM EDUKACYJNE "BUSINESS SCHOOL"</li>
        <li>FRDL PODKARPACKI OŚRODEK SAMORZĄDU TERYTORIALNEGO PLACÓWKA KSZTAŁCENIA USTAWICZNEGO DLA DOROSŁYCH W RZESZOWIE</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI DWUJĘZYCZNYMI IM. STEFANA BATOREGO</li>
        <li>INOW ENTERPRISES</li>
        <li>INSTYTUT GŁUCHONIEMYCH IM. JAKUBA FALKOWSKIEGO</li>
        <li>INSTYTUT KOMEŃSKIEGO OŚRODEK DOSKONALENIA NAUCZYCIELI</li>
        <li>INSTYTUT KSZTAŁCENIA OBCOKRAJOWCÓW</li>
        <li>INSTYTUT KSZTAŁCENIA USTAWICZNEGO STOWARZYSZENIA "WSPÓLNOTA POLSKA"</li>
        <li>INSTYTUT MIĘDZYNARODOWYCH FINANSÓW I BANKOWOŚCI</li>
        <li>INSTYTUT RACHUNKOWOŚCI I PODATKÓW</li>
        <li>IX LICEUM OGÓLNOKSZTAŁCĄCE IM. KLEMENTYNY HOFFMANOWEJ</li>
        <li>JPB CENTRUM KSZTAŁCENIA USTAWICZNEGO</li>
        <li>KRAJOWE CENTRUM EDUKACJI ARCHIWALNEJ STOWARZYSZENIA ARCHIWISTÓW POLSKICH</li>
        <li>KURS SIKORY</li>
        <li>KURSY SIKORY</li>
        <li>KURSY SOWA</li>
        <li>LICEUM AKADEMEIA TUTORIAL COLLEGE</li>
        <li>LICEUM ASTRID</li>
        <li>LICEUM CHOCIMSKA</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE "MULTIMEDIA"</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W WARSZAWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE LIFESKILLS NR 1</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE SPOŁECZNE NR 17</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE ZAKŁADU DOSKONALENIA ZAWODOWEGO</li>
        <li>LICEUM STEVENSONA</li>
        <li>LIFESKILLS</li>
        <li>LIII LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>LINIA ANDRZEJ SZOPE</li>
        <li>LVIII LICEUM OGÓLNOKSZTAŁCĄCE IM. KRZYSZTOFA KAMILA BACZYŃSKIEGO</li>
        <li>LXII LICEUM MISTRZOSTWA SPORTOWEGO IM. GENERAŁA BRONI WŁADYSŁAWA ANDERSA</li>
        <li>LXVII LICEUM OGÓLNOKSZTAŁCĄCE IM. JANA NOWAKA-JEZIORAŃSKIEGO</li>
        <li>LXXV LICEUM OGÓLNOKSZTAŁCĄCE IM. JANA III SOBIESKIEGO</li>
        <li>LXXXI LICEUM OGÓLNOKSZTAŁCĄCE IM. ALEKSANDRA FREDRY</li>
        <li>LXXXIII LICEUM OGÓLNOKSZTAŁCĄCE IM. EMILIANA KONOPCZYŃSKIEGO</li>
        <li>MAZOWIECKI OŚRODEK KSZTAŁCENIA USTAWICZNEGO OŚWIATA</li>
        <li>MAZOWIECKIE CENTRUM ROZWOJU ZAWODOWEGO</li>
        <li>MAZOWIECKIE SAMORZĄDOWE CENTRUM DOSKONALENIA NAUCZYCIELI W WARSZAWIE</li>
        <li>MIĘDZYSZKOLNY OŚRODEK SPORTOWY NR 1 "AGRYKOLA"</li>
        <li>MIĘDZYSZKOLNY OŚRODEK SPORTOWY NR 3 IM. JANUSZA KUSOCIŃSKIEGO</li>
        <li>MŁODZIEŻOWY DOM KULTURY "MURANÓW" IM. C. K. NORWIDA</li>
        <li>MŁODZIEŻOWY DOM KULTURY IM. WŁADYSŁAWA BRONIEWSKIEGO</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO "PROGRES"</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO BEZPIECZNE MAZOWSZE</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO FENOMENO</li>
        <li>NIEPUBLICZNA PLACÓWKA OŚWIATOWA "EDUCO"</li>
        <li>NIEPUBLICZNA PLACÓWKA OŚWIATOWA CENTRUM JĘZYKÓW OBCYCH ARCHIBALD</li>
        <li>NIEPUBLICZNA PLACÓWKA OŚWIATOWO-WYCHOWAWCZA GIGANCI PROGRAMOWANIA KATOWICE</li>
        <li>NIEPUBLICZNA POLICEALNA SZKOŁA PLASTYCZNA CHARAKTERYZACJI I STYLIZACJI IN ART W WARSZAWIE</li>
        <li>NIEPUBLICZNA POLICEALNA SZKOŁA PLASTYCZNA WARSZAWSKA SZKOŁA FOTOGRAFII I GRAFIKI PROJEKTOWEJ W WARSZAWIE</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA POWIŚLAŃSKIEJ FUNDACJI SPOŁECZNEJ</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA PRZYSTAŃ SZKRABA</li>
        <li>NIEPUBLICZNA SPECJALISTYCZNA PORADNIA WCZESNEGO WSPOMAGANIA ROZWOJU "TĘCZA"</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA WARSAW MONTESSORI SCHOOL</li>
        <li>NIEPUBLICZNA SZKOŁA POLICEALNA SZTUK WIZUALNYCH APL W WARSZAWIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "ŻYRAFKI"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE SPECJALNE "ZIELONY LATAWIEC"</li>
        <li>NIEPUBLICZNE TECHNIKUM USŁUGOWE ZAKŁADU DOSKONALENIA ZAWODOWEGO</li>
        <li>NIEPUBLICZNY CENTRALNY OŚRODEK DOSKONALENIA NAUCZYCIELI</li>
        <li>NOVA NIEPUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>NOVA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO W WARSZAWIE</li>
        <li>NOVA POLICEALNA SZKOŁA MEDYCZNA W WARSZAWIE</li>
        <li>NOVA POLICEALNA SZKOŁA ZAWODOWA</li>
        <li>NOVA TECHNIKUM KLUCZOWYCH KOMPETENCJI MŁODZIEŻY W WARSZAWIE</li>
        <li>OGÓLNOKSZTAŁCĄCA SZKOŁA BALETOWA IM. ROMANA TURCZYNOWICZA W WARSZAWIE</li>
        <li>OŚRODEK DOSKONALENIA KADR STOWARZYSZENIA NAUKOWO-TECHNICZNEGO INŻYNIERÓW I TECHNIKÓW PRZEMYSŁU SPOŻYWCZEGO</li>
        <li>OŚRODEK DOSKONALENIA KADR ZESPOŁU USŁUG TECHNICZNYCH RADY STOŁECZNEJ NACZELNEJ ORGANIZACJI TECHNICZNEJ</li>
        <li>OŚRODEK DOSKONALENIA NAUCZYCIELI SPOŁECZNEGO TOWARZYSTWA OŚWIATOWEGO</li>
        <li>OŚRODEK ROZWOJU EDUKACJI</li>
        <li>OŚRODEK ROZWOJU KOMPETENCJI EDUKACYJNYCH</li>
        <li>OŚRODEK SZKOLEŃ I EKSPERTYZ OW SIMP</li>
        <li>OŚRODEK SZKOLENIA GEODETÓW I KARTOGRAFÓW</li>
        <li>OŚRODEK SZKOLENIA I DOSKONALENIA STRZELECKIEGO</li>
        <li>OŚRODEK SZKOLENIA SCOLARIS</li>
        <li>OŚRODEK SZKOLENIA SITK RP ODDZIAŁ W WARSZAWIE</li>
        <li>OŚRODEK SZKOLENIOWY "MARATON"-PRZY FUNDACJI NA RZECZ ZAPOBIEGANIA NARKOMANII "MARATON"</li>
        <li>OŚRODEK USŁUG PEDAGOGICZNYCH I SOCJALNYCH ZNP</li>
        <li>PAŁAC MŁODZIEŻY W WARSZAWIE</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I ST. NR 1 IM. OSKARA KOLBERGA W WARSZAWIE</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA II ST. NR 2 IM. FRYDERYKA CHOPINA W WARSZAWIE</li>
        <li>PAŃSTWOWE OGNISKO ARTYSTYCZNE "NOWOLIPKI"</li>
        <li>PITAGORAS CENTRUM KSZTAŁCENIA</li>
        <li>PLACÓWKA KSZTAŁCENIA USTAWICZNEGO</li>
        <li>PLACÓWKA KSZTAŁCENIA USTAWICZNEGO GOWORK.PL</li>
        <li>PLACÓWKA KSZTAŁCENIA USTAWICZNEGO PRZY FUNDACJI UNIVERSITATIS VARSOVIENSIS</li>
        <li>POLICEALNA SZKOŁA "COSINUS III" W WARSZAWIE</li>
        <li>POLICEALNA SZKOŁA ASYSTENTÓW STOMATOLOGICZNYCH</li>
        <li>POLICEALNA SZKOŁA FARMACEUTYCZNA</li>
        <li>POLICEALNA SZKOŁA HIGIENISTÓW STOMATOLOGICZNYCH</li>
        <li>POLICEALNA SZKOŁA INFORMATYCZNA</li>
        <li>POLICEALNA SZKOŁA KOSMETYCZNA</li>
        <li>POLICEALNA SZKOŁA KOSMETYKI, PIELĘGNACJI, ZDROWIA I URODY ZAKŁADU DOSKONALENIA ZAWODOWEGO</li>
        <li>POLICEALNA SZKOŁA MASAŻU</li>
        <li>POLICEALNA SZKOŁA OPIEKUNÓW MEDYCZNYCH</li>
        <li>POLICEALNA SZKOŁA ORTOPTYSTEK</li>
        <li>POLICEALNA SZKOŁA PROTETYKI SŁUCHU</li>
        <li>POLICEALNA SZKOŁA STERYLIZACJI MEDYCZNEJ</li>
        <li>POLICEALNA SZKOŁA TECHNIKÓW DENTYSTYCZNYCH</li>
        <li>POLICEALNA SZKOŁA TECHNIKÓW ELEKTRORADIOLOGÓW</li>
        <li>POLICEALNA SZKOŁA TECHNIKÓW OPTYKÓW</li>
        <li>POLICEALNA SZKOŁA TERAPEUTÓW ZAJĘCIOWYCH</li>
        <li>POLICEALNA SZKOŁA WETERYNARII</li>
        <li>POLICEALNA SZKOŁA ZAWODOWA CENTRUM NAUKI BIZNESU I ADMINISTRACJI W WARSZAWIE</li>
        <li>POLICEALNA SZKOŁA ZAWODOWA START</li>
        <li>POLICEALNE STUDIUM JAZZU IM. HENRYKA MAJEWSKIEGO W WARSZAWIE</li>
        <li>POLICEALNE STUDIUM MEDYCYNY SPORTU. SZKOŁA POLICEALNA</li>
        <li>POLICEALNE STUDIUM NAGRAŃ DŹWIĘKOWYCH</li>
        <li>POLICEALNE STUDIUM TRANSPORTU DROGOWEGO W WARSZAWIE</li>
        <li>POLSKI INSTYTUT JĘZYKOWY</li>
        <li>PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA NR 1</li>
        <li>PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA NR 11</li>
        <li>PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA NR 12</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "TIM"</li>
        <li>PROFESJA EDUKACJA CENTRUM KSZTAŁCENIA ZAWODOWEGO</li>
        <li>PROFESJA EDUKACJA LICEUM OGÓLNOKSZTAŁCĄCE W WARSZAWIE</li>
        <li>PROFESJA EDUKACJA POLICEALNA SZKOŁA ZAWODOWA W WARSZAWIE</li>
        <li>PROFESJA EDUKACJA ZAWODOWA SZKOŁA POLICEALNA</li>
        <li>PROMITEUS W WARSZAWIE</li>
        <li>PROZDROWOTNE PRZEDSZKOLE NIEPUBLICZNE "PANDA"</li>
        <li>PRYWATNA MĘSKA SZKOŁA PODSTAWOWA IM. CECYLII PLATER-ZYBERKÓWNY</li>
        <li>PRYWATNA SZKOŁA PODSTAWOWA NR 41 EDU BENE</li>
        <li>PRYWATNA ŻEŃSKA SZKOŁA PODSTAWOWA Z ODDZIAŁAMI DWUJĘZYCZNYMI IM. CECYLII PLATER-ZYBERKÓWNY</li>
        <li>PRYWATNE LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI DWUJĘZYCZNYMI IM. CECYLII PLATER-ZYBERKÓWNY</li>
        <li>PRYWATNE PRZEDSZKOLE IM. CECYLII PLATER-ZYBERKÓWNY</li>
        <li>PRZEDSZKOLA POMARAŃCZOWA CIUCHCIA SP. Z O.O. SPÓŁKA KOMANDYTOWA</li>
        <li>PRZEDSZKOLE "ALA MA KOTA"</li>
        <li>PRZEDSZKOLE INTEGRACYJNE NR 38</li>
        <li>PRZEDSZKOLE INTEGRACYJNE NR 6</li>
        <li>PRZEDSZKOLE INTEGRACYJNE NR 8</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "TRZY JĘZYKI"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE ZGROMADZENIA SIÓSTR URSZULANEK SJK IM. ŚW. URSZULI LEDÓCHOWSKIEJ</li>
        <li>PRZEDSZKOLE NR 1</li>
        <li>PRZEDSZKOLE NR 10</li>
        <li>PRZEDSZKOLE NR 11</li>
        <li>PRZEDSZKOLE NR 12</li>
        <li>PRZEDSZKOLE NR 122</li>
        <li>PRZEDSZKOLE NR 129 "RAJ NA SKARPIE"</li>
        <li>PRZEDSZKOLE NR 13</li>
        <li>PRZEDSZKOLE NR 14</li>
        <li>PRZEDSZKOLE NR 16 "ZACZAROWANY ZAKĄTEK"</li>
        <li>PRZEDSZKOLE NR 17 "KÓŁKO GRANIASTE"</li>
        <li>PRZEDSZKOLE NR 19</li>
        <li>PRZEDSZKOLE NR 2</li>
        <li>PRZEDSZKOLE NR 206</li>
        <li>PRZEDSZKOLE NR 21</li>
        <li>PRZEDSZKOLE NR 23</li>
        <li>PRZEDSZKOLE NR 24</li>
        <li>PRZEDSZKOLE NR 25</li>
        <li>PRZEDSZKOLE NR 26</li>
        <li>PRZEDSZKOLE NR 3</li>
        <li>PRZEDSZKOLE NR 30 "ZIELONA ŁÓDECZKA"</li>
        <li>PRZEDSZKOLE NR 31 IM. ZDZISŁAWA WITWICKIEGO</li>
        <li>PRZEDSZKOLE NR 32</li>
        <li>PRZEDSZKOLE NR 33</li>
        <li>PRZEDSZKOLE NR 34</li>
        <li>PRZEDSZKOLE NR 35</li>
        <li>PRZEDSZKOLE NR 36 "ODKRYWCY NOWEGO ŚWIATA"</li>
        <li>PRZEDSZKOLE NR 4</li>
        <li>PRZEDSZKOLE NR 41 "WIŚLANA KROPELKA"</li>
        <li>PRZEDSZKOLE NR 42</li>
        <li>PRZEDSZKOLE NR 44</li>
        <li>PRZEDSZKOLE NR 5</li>
        <li>PRZEDSZKOLE NR 72</li>
        <li>PRZEDSZKOLE NR 82 "KOLOROWE KREDKI"</li>
        <li>PRZEDSZKOLE NR 9</li>
        <li>PRZEDSZKOLE POMARAŃCZOWA CIUCHCIA & POLITECHNIKA WARSZAWSKA</li>
        <li>PRZEDSZKOLE SPECJALNE NR 208</li>
        <li>PRZEDSZKOLE SPECJALNE NR 343</li>
        <li>PRZEDSZKOLE Z ODDZIAŁAMI INTEGRACYJNYMI NR 20</li>
        <li>PRZEDSZKOLE Z ODDZIAŁAMI INTEGRACYJNYMI NR 7</li>
        <li>PUNKT PRZEDSZKOLNY "MALEŃSTWO I PRZYJACIELE"</li>
        <li>PUNKT PRZEDSZKOLNY "TRZY JĘZYKI"</li>
        <li>SCHOOL OF LAW KANCELARIA KUBACKI</li>
        <li>SIMP OŚRODEK DOSKONALENIA KADR W WARSZAWIE</li>
        <li>SME TRAINING</li>
        <li>SOFT.KOMP.S.K.KRZYSZTOF ŚWIĘTOŃ</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY DLA DZIECI SŁABOSŁYSZĄCYCH NR 15 IM. OTTONA LIPKOWSKIEGO</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY DLA DZIECI SŁABOWIDZĄCYCH NR 8 IM. DR ZOFII GALEWSKIEJ BRANŻOWA SZKOŁA II STOPNIA SPECJALNA NR 4 W WARSZAWIE, UL. KOŹMIŃSKA 7</li>
        <li>SPECJALNY OŚRODEK WYCHOWAWCZY "DOM PRZY RYNKU"</li>
        <li>SPOŁECZNA SZKOŁA PODSTAWOWA FUNDACJI "ALTEREDU"</li>
        <li>SPOŁECZNA SZKOŁA PODSTAWOWA NR 16 SPOŁECZNEGOTOWARZYSTWA OŚWIATOWEGO</li>
        <li>SPOŁECZNE LICEUM OGÓLNOKSZTAŁCĄCE NR 25 IM. MARZENNY OKOŃSKIEJ</li>
        <li>SPOŁECZNE LICEUM OGÓLNOKSZTAŁCĄCE NR 7 IM. BRONISŁAWA GEREMKA</li>
        <li>STOŁECZNE CENTRUM EDUKACJI KULTURALNEJ IM. KOMISJI EDUKACJI NARODOWEJ</li>
        <li>STOWARZYSZENIE ELEKTRYKÓW POLSKICH ODDZIAŁ WARSZAWSKI</li>
        <li>STUDIO FORMA</li>
        <li>STUDIUM POLSKIEGO TOWARZYSTWA WYDAWCÓW KSIĄŻEK</li>
        <li>STUDIUM TECHNIKI TEATRALNEJ W WARSZAWIE</li>
        <li>SZKOŁA ELEKTRONICZNYCH SYSTEMÓW ZABEZPIECZEŃ</li>
        <li>SZKOŁA JĘZYKA POLSKIEGO TOGETHER MICHAŁ SUCHOŻEBRSKI</li>
        <li>SZKOŁA JĘZYKÓW OBCYCH LINGUA NOVA</li>
        <li>SZKOŁA JĘZYKOWA DOBRA ZUZA</li>
        <li>SZKOŁA MEDYCZNA GOWORK.PL</li>
        <li>SZKOŁA PODSTAWOWA BULLERBYN</li>
        <li>SZKOŁA PODSTAWOWA MONTESSORI IM. ŚW. URSZULI LEDÓCHOWSKIEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. GUSTAWA MORCINKA</li>
        <li>SZKOŁA PODSTAWOWA NR 12 IM. POWSTAŃCÓW ŚLĄSKICH</li>
        <li>SZKOŁA PODSTAWOWA NR 158 IM. JANA KILIŃSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 203 IM. ANTONINY I JANA ŻABIŃSKICH</li>
        <li>SZKOŁA PODSTAWOWA NR 210 IM. BOHATERÓW PAWIAKA</li>
        <li>SZKOŁA PODSTAWOWA NR 220 IM. STANISŁAWA KOPCZYŃSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 29 IM.GIUSEPPE GARIBALDIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 32 Z ODDZIAŁAMI INTEGRACYJNYMI IM. MAŁEGO POWSTAŃCA</li>
        <li>SZKOŁA PODSTAWOWA NR 34 IM. STANISŁAWA DUBOIS</li>
        <li>SZKOŁA PODSTAWOWA NR 48 IMIENIA ADAMA PRÓCHNIKA</li>
        <li>SZKOŁA PODSTAWOWA NR 75 IM. MARII KONOPNICKIEJ</li>
        <li>SZKOŁA PODSTAWOWA RONJA</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 196</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 213 IM. IRENY SENDLEROWEJ</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 243</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 51</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA Z ODDZIAŁAMI PRZEDSZKOLNYMI NR 226</li>
        <li>SZKOŁA PODSTAWOWA Z ODDZIAŁAMI INTEGRACYJNYMI I ODDZIAŁAMI DWUJĘZYCZNYMI NR 211 IM. JANUSZA KORCZAKA</li>
        <li>SZKOŁA PODSTAWOWA Z ODDZIAŁAMI INTEGRACYJNYMI NR 41 IM. ŻOŁNIERZY ARMII KRAJOWEJ GRUPY BOJOWEJ "KRYBAR" W WARSZAWIE</li>
        <li>SZKOŁA POLICEALNA GOWORK.PL</li>
        <li>SZKOŁA POLICEALNA NR 22 IM. STANISŁAWA NOAKOWSKIEGO</li>
        <li>SZKOŁA POLICEALNA NR 23</li>
        <li>SZKOŁA POLICEALNA NR 25</li>
        <li>SZKOŁA POLICEALNA NR 3</li>
        <li>SZKOŁA POLICEALNA NR 37 DLA DOROSŁYCH</li>
        <li>SZKOŁA POLICEALNA NR 4</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJACA DO PRACY NR 1 IM. KAZIMIERZA KIREJCZYKA</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY NR 4</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY NR 5</li>
        <li>SZKOLNE SCHRONISKO MŁODZIEŻOWE NR 1</li>
        <li>SZKOLNE SCHRONISKO MŁODZIEŻOWE NR 1, FILIA: DŁUGA</li>
        <li>SZKOLNE SCHRONISKO MŁODZIEŻOWE NR 1, FILIA: SMOLNA</li>
        <li>SZWAJCARSKIE CENTRUM EDUKACJI</li>
        <li>TECHNIKUM ANALITYKI</li>
        <li>TECHNIKUM ARCHITEKTONICZNO-BUDOWLANE IM. STANISŁAWA NOAKOWSKIEGO</li>
        <li>TECHNIKUM BUDOWNICTWA I ARCHITEKTURY NR 1 IM. PROF. ZDZISŁAWA MĄCZEŃSKIEGO</li>
        <li>TECHNIKUM EKONOMICZNE NR 1 IM. MIKOŁAJA KOPERNIKA</li>
        <li>TECHNIKUM ELEKTRYCZNO-ELEKTRONICZNE NR 1</li>
        <li>TECHNIKUM GASTRONOMICZNO-HOTELARSKIE NR 1</li>
        <li>TECHNIKUM KINEMATOGRAFICZNO-KOMPUTEROWE IM. KRZYSZTOFA KIEŚLOWSKIEGO</li>
        <li>TECHNIKUM POLIGRAFICZNE</li>
        <li>TECHNIKUM SPECJALNE NR 28</li>
        <li>TECHNIKUM WETERYNARYJNE</li>
        <li>TFLS-TESTING AND FOREIGN LANGUAGE SERVICES</li>
        <li>TOPEDU LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W WARSZAWIE</li>
        <li>TOPEDU SZKOŁA PODSTAWOWA DLA DOROSŁYCH W WARSZAWIE</li>
        <li>TOPEDU SZKOŁA POLICEALNA W WARSZAWIE</li>
        <li>V LICEUM OGÓLNOKSZTAŁCĄCE IM. KS. JÓZEFA PONIATOWSKIEGO</li>
        <li>WARSZAWSKA AKADEMICKA SZKOŁA PODSTAWOWA</li>
        <li>WARSZAWSKA SZKOŁA FOTOGRAFII I GRAFIKI PROJEKTOWEJ</li>
        <li>WARSZAWSKIE AKADEMICKIE LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>WARSZAWSKIE CENTRUM INNOWACJI EDUKACYJNO-SPOŁECZNYCH I SZKOLEŃ</li>
        <li>WARSZAWSKIE KOLEGIUM DOSKONALENIA KADR</li>
        <li>XI LICEUM OGÓLNOKSZTAŁCĄCE IM. MIKOŁAJA REJA</li>
        <li>XV LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI DWUJĘZYCZNYMI IM. NARCYZY ŻMICHOWSKIEJ</li>
        <li>XVII LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI DWUJĘZYCZNYMI IM. ANDRZEJA FRYCZA MODRZEWSKIEGO</li>
        <li>XVIII LICEUM OGÓLNOKSZTAŁCĄCE IM. JANA ZAMOYSKIEGO</li>
        <li>XXVII LICEUM OGÓLNOKSZTAŁCĄCE IM. TADEUSZA CZACKIEGO</li>
        <li>XXXII LICEUM OGÓLNOKSZTAŁCĄCE IM. STEFANA GROTA-ROWECKIEGO</li>
        <li>XXXVII LICEUM OGÓLNOKSZTAŁCĄCE IM. JAROSŁAWA DĄBROWSKIEGO</li>
        <li>ZAKŁAD DOSKONALENIA ZAWODOWEGO W WARSZAWIE CENTRUM KSZTAŁCENIA</li>
        <li>ZAKŁAD SZKOLENIA CENTRALNEGO OŚRODKA SZKOLENIA I WYDAWNICTW SEP</li>
        <li>ZAOCZNE LICEUM OGÓLNOKSZTAŁCĄCE "COSINUS II" W WARSZAWIE</li>
        <li>ZAOCZNE LICEUM OGÓLNOKSZTAŁCĄCE "COSINUS" W WARSZAWIE</li>
        <li>ZESPÓŁ PAŃSTWOWYCH SZKÓŁ MUZYCZNYCH IM. FRYDERYKA CHOPINA W WARSZAWIE</li>
        <li>ZESPÓŁ SZKÓŁ ARCHITEKTONICZNO-BUDOWLANYCH I LICEALNYCH IM. STANISŁAWA NOAKOWSKIEGO</li>
        <li>ZESPÓŁ SZKÓŁ GASTRONOMICZNYCH IM. PROF. EUGENIUSZA PIJANOWSKIEGO</li>
        <li>ZESPÓŁ SZKÓŁ LICEALNYCH I EKONOMICZNYCH NR 1</li>
        <li>ZESPÓŁ SZKÓŁ NR 22 IM. EMILIANA KONOPCZYŃSKIEGO</li>
        <li>ZESPÓŁ SZKÓŁ NR 23</li>
        <li>ZESPÓŁ SZKÓŁ POLIGRAFICZNYCH IM. MARSZAŁKA JÓZEFA PIŁSUDSKIEGO</li>
        <li>ZESPÓŁ SZKÓŁ SPECJALNYCH NR 105</li>
        <li>ZESPÓŁ SZKÓŁ SPECJALNYCH NR 85</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY IM. CECYLII PLATER-ZYBERKÓWNY</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 8</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
