
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Bielsk</title>
</head>
<body>
    <h1>Schools in Bielsk</h1>
    <ul>
        <li>SAMORZĄDOWE PRZEDSZKOLE W BIELSKU</li>
        <li>SZKOŁA PODSTAWOWA IM. WŁADYSŁAWA BRONIEWSKIEGO</li>
        <li>SZKOŁA POLICEALNA "TWOJA PRZYSZŁOŚĆ" W BIELSKU</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
