
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Krzyżanowice</title>
</head>
<body>
    <h1>Schools in Krzyżanowice</h1>
    <ul>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY STOWARZYSZENIA ROZWOJU WSI KRZYŻANOWICE I OKOLIC W KRZYŻANOWICACH</li>
        <li>SZKOŁA PODSTAWOWA STOWARZYSZENIA ROZWOJU WSI KRZYŻANOWICE I OKOLIC W KRZYZANOWICACH</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
