
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Bielany</title>
</head>
<body>
    <h1>Schools in Bielany</h1>
    <ul>
        <li>"BAJECZKA" NIEPUBLICZNE PRZEDSZKOLE INTEGRACYJNE</li>
        <li>AKADEMIA UŚMIECHU DWUJĘZYCZNE PRZEDSZKOLE</li>
        <li>AM STUDIO AKADEMIA UMIEJĘTNOŚCI STRZELECKICH</li>
        <li>ASYSTA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA KATARZYNA OSAK</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 18</li>
        <li>CENTRUM DOSKONALENIA NAUCZYCIELI FUNDACJI CZAS DZIECIŃSTWA</li>
        <li>CENTRUM ZAJĘĆ DODATKOWYCH CENTRUM DOBREJ EDUKACJI SP. Z O.O.</li>
        <li>CXLI LICEUM OGÓLNOKSZTAŁCĄCE SPECJALNE</li>
        <li>CXLIII LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W WARSZAWIE</li>
        <li>CXXII LICEUM OGÓLNOKSZTAŁCĄCE IM. IGNACEGO DOMEYKI</li>
        <li>DOMOWE PRZEDSZKOLE</li>
        <li>DWUJĘZYCZNO-PROZDROWOTNE PRZEDSZKOLE NIEPUBLICZNE KOLOROWE KREDY</li>
        <li>I LICEUM W CHMURZE</li>
        <li>IMAGINE SZKOŁA JĘZYKA ANGIELSKIEGO</li>
        <li>KATOLICKA SZKOŁA PODSTAWOWA NR 109 FUNDACJI NA RZECZ RODZINY IM. ŚW. RODZINY</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE CENTRUM SZKOLENIOWEGO "WIEDZA"</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE NIEPUBLICZNE NR 43 Z ODDZIAŁAMI DWUJĘZYCZNYMI IM. LOTNIKÓW AMERYKAŃSKICH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE NR 13</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE NR 50 STOWARZYSZENIE KULTURY I EDUKACJI</li>
        <li>LII LICEUM OGÓLNOKSZTAŁCĄCE IM. WŁADYSŁAWA STANISŁAWA REYMONTA</li>
        <li>LIX LICEUM OGÓLNOKSZTAŁCĄCE MISTRZOSTWA SPORTOWEGO IM. JANUSZA KUSOCIŃSKIEGO</li>
        <li>LX LICEUM OGÓLNOKSZTAŁCĄCE IM. WOJCIECHA GÓRSKIEGO</li>
        <li>MŁODZIEŻOWY DOM KULTURY "BIELANY"</li>
        <li>MŁODZIEŻOWY DOM KULTURY IM. MARII GWIZDAK</li>
        <li>MŁODZIEŻOWY OŚRODEK SOCJOTERAPII NR 4</li>
        <li>MRUCZANKOWE PRZEDSZKOLE</li>
        <li>NIEPUBLICZNA PLACÓWKA DOSKONALENIA NAUCZYCIELI EDUAKCJA</li>
        <li>NIEPUBLICZNA PLACÓWKA OŚWIATOWA HALLMARK EVENTS KATARZYNA SAGUN</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "EDUKACJA"</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA AURIS</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA MISIEK</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA FUNDACJI SCOLAR</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA IM. JULIUSZA VERNE'A</li>
        <li>NIEPUBLICZNE PRZEDSZKOLA CIUCHCIA PUCH PUCH AGATA WAWER</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "KARUZELA MONTESSORI"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "MOTYLKOWA AKADEMIA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "RADOŚNI ODKRYWCY"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE JĘZYKOWE "SPANGLISH GARDEN"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE KREATYWNE DZIECI</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE UNIWERSYTETU KARDYNAŁA STEFANA WYSZYŃSKIEGO</li>
        <li>NIEPUBLICZNY OŚRODEK DOSKONALENIA NAUCZYCIELI "SUPERNAUCZYCIEL"</li>
        <li>NIEPUBLICZNY OŚRODEK DOSKONALENIA ZAWODOWEGO NAUCZYCIELI I DYREKTORÓW SZKÓŁ I PLACÓWEK OŚWIATOWYCH TALENT</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY "8 KROKÓW"</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY SCOLAR BIELANY</li>
        <li>NIEPUBLICZNY TERAPEUTYCZNY PUNKT PRZEDSZKOLNY "PASTELOWA UKŁADANKA"</li>
        <li>OLIMPIAKOS CENTRUM KSZTAŁCENIA KADR SPORTOWYCH</li>
        <li>PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA PRZYLĄDEK NADZIEI</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA NR 10</li>
        <li>POZASZKOLNA PLACÓWKA SPECJALISTYCZNA - BIELAŃSKIE CENTRUM EDUKACJI KULTURALNEJ IM. JONASZA KOFTY</li>
        <li>PRYWATNE PRZEDSZKOLE "ŚPIEWAJĄCE BRZDĄCE"</li>
        <li>PRYWATNE TECHNIKUM HANDLOWO-MENEDŻERSKIE "HERMES"</li>
        <li>PRZEDSZKOLA POMARAŃCZOWA CIUCHCIA SP. Z O.O. SPÓŁKA KOMANDYTOWA</li>
        <li>PRZEDSZKOLE "AKADEMIA MAŁYCH SMOKÓW"</li>
        <li>PRZEDSZKOLE "LEŚNA DROGA"</li>
        <li>PRZEDSZKOLE ARTYSTYCZNO-JĘZYKOWE "SUPER PRZEDSZKOLE"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "KRAINA CZARÓW"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "MAŁY ODKRYWCA" SPORTOWO-INTEGRACYJNE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE VIVA KIDS</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE ZIELONA WIEŻA</li>
        <li>PRZEDSZKOLE NR 105 "WESOŁA STOPIĄTKA"</li>
        <li>PRZEDSZKOLE NR 181 "WESOŁE NUTKI"</li>
        <li>PRZEDSZKOLE NR 182 "TAJEMNICZY OGRÓD"</li>
        <li>PRZEDSZKOLE NR 236 "MALI ODKRYWCY"</li>
        <li>PRZEDSZKOLE NR 240 IM. POLSKICH OLIMPIJCZYKÓW</li>
        <li>PRZEDSZKOLE NR 268 "SŁONECZNY PROMYK"</li>
        <li>PRZEDSZKOLE NR 271 "WRÓBELKA ELEMELKA"</li>
        <li>PRZEDSZKOLE NR 272 IM. "MISIA USZATKA"</li>
        <li>PRZEDSZKOLE NR 287 "PIOTRUSIA PANA"</li>
        <li>PRZEDSZKOLE NR 301 "ZACZAROWANY ŚWIAT"</li>
        <li>PRZEDSZKOLE NR 306 "MALI OPTYMIŚCI"</li>
        <li>PRZEDSZKOLE NR 307 "WESOŁE EKOLUDKI"</li>
        <li>PRZEDSZKOLE NR 308 "KRASNALA HAŁABAŁY"</li>
        <li>PRZEDSZKOLE NR 318 "ZIELONY ZAKĄTEK"</li>
        <li>PRZEDSZKOLE NR 327 "KOLOROWA KRAINA"</li>
        <li>PRZEDSZKOLE NR 328 "AKADEMIA POD CZEREŚNIĄ"</li>
        <li>PRZEDSZKOLE NR 334 IM. JASIA I MAŁGOSI</li>
        <li>PRZEDSZKOLE NR 340 "KASZTANOWEGO LUDKA"</li>
        <li>PRZEDSZKOLE NR 346 "POD KASZTANEM"</li>
        <li>PRZEDSZKOLE NR 364 "POD TĘCZĄ"</li>
        <li>PRZEDSZKOLE NR 39 "POD TOPOLAMI"</li>
        <li>PRZEDSZKOLE NR 409 "KRÓLESTWO MACIUSIA I"</li>
        <li>PRZEDSZKOLE NR 421</li>
        <li>PRZEDSZKOLE NR 422</li>
        <li>PRZEDSZKOLE NR 49 "PLUSZOWY MIŚ"</li>
        <li>PRZEDSZKOLE NR 97 "LEŚNA POLANKA"</li>
        <li>PRZEDSZKOLE SIÓSTR IMIENIA JEZUS</li>
        <li>PRZEDSZKOLE SPECJALNE NR 245 DLA DZIECI SŁABOWIDZĄCYCH "SOWY MĄDREJ GŁOWY"</li>
        <li>PRZEDSZKOLE Z ODDZIAŁAMI INTEGRACYJNYMI NR 309 "BAŚNIOWA KRAINA"</li>
        <li>PRZEDSZKOLE Z ODDZIAŁAMI INTEGRACYJNYMI NR 341 "KOTA FILEMONA"</li>
        <li>PUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE IM. BŁ. KS. ROMANA ARCHUTOWSKIEGO</li>
        <li>PUBLICZNE PRZEDSZKOLE INTEGRACYJNE "ŚWIAT DZIECKA"</li>
        <li>PUNKT PRZEDSZKOLNY "BLUEBEES - AKADEMIA DLA DZIECI Z AUTYZMEM"</li>
        <li>PUNKT PRZEDSZKOLNY "BRZDĄCE NA ŁĄCE"</li>
        <li>PUNKT PRZEDSZKOLNY "LEŚNA DROGA"</li>
        <li>PUNKT PRZEDSZKOLNY ARTYSTYCZNO-JĘZYKOWE "SUPER PRZEDSZKOLE"</li>
        <li>PUNKT PRZEDSZKOLNY GÓRA UCZUĆ</li>
        <li>PUNKT PRZEDSZKOLNY LITTLE BLUE</li>
        <li>PUNKT PRZEDSZKOLNY MAGICZNY MOST</li>
        <li>PUNKT PRZEDSZKOLNY ŚWIAT MONTESSORI</li>
        <li>SMART-MAT/DOBRA EDUKACJA</li>
        <li>SPOŁECZNA SZKOŁA MUZYCZNA I ST. IM. WITOLDA LUTOSŁAWSKIEGO W WARSZAWIE</li>
        <li>SPOŁECZNA SZKOŁA MUZYCZNA II ST. IM. WITOLDA LUTOSŁAWSKIEGO W WARSZAWIE</li>
        <li>SPOŁECZNA SZKOŁA PODSTAWOWA INTEGRACYJNA NR 100 SPOŁECZNEGO TOWARZYSTWA OŚWIATOWEGO</li>
        <li>SPOŁECZNA SZKOŁA PODSTAWOWA NR 13 Z ODDZIAŁAMI DWUJĘZYCZNYMI IM. LOTNIKÓW AMERYKAŃSKICH</li>
        <li>SPOŁECZNE PRZEDSZKOLE INTEGRACYJNE FUNDACJI CZAS DZIECIŃSTWA</li>
        <li>SZKOŁA PODSTAWOWA "SZKOŁA W CHMURZE"</li>
        <li>SZKOŁA PODSTAWOWA NIEPUBLICZNA NR 74 IM. BŁOGOSŁAWIONEGO HONORATA KOŹMIŃSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 133 IM. STEFANA CZARNIECKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 187 IM. ADAMA MICKIEWICZA</li>
        <li>SZKOŁA PODSTAWOWA NR 209 IM. HANKI ORDONÓWNY</li>
        <li>SZKOŁA PODSTAWOWA NR 263 IM. POWSTAŃCÓW WIELKOPOLSKICH</li>
        <li>SZKOŁA PODSTAWOWA NR 273 IM. DR. ALEKSANDRA LANDY</li>
        <li>SZKOŁA PODSTAWOWA NR 273 IM. DR. ALEKSANDRA LANDY W WARSZAWIE, SZKOŁA FILIALNA W WARSZAWIE IM. ZYGMUNTA SOKOŁOWSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 289 IM. HENRYKA SIENKIEWICZA</li>
        <li>SZKOŁA PODSTAWOWA NR 293 IM. JANA KOCHANOWSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 3 PRZYMIERZA RODZIN IM. BŁOGOSŁAWIONEGO KS. JERZEGO POPIEŁUSZKI</li>
        <li>SZKOŁA PODSTAWOWA NR 352 W WARSZAWIE IM. JERZEGO HUBERTA WAGNERA</li>
        <li>SZKOŁA PODSTAWOWA NR 369 IM. ANTONIEGO BOLESŁAWA DOBROWOLSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 370</li>
        <li>SZKOŁA PODSTAWOWA NR 53 IM. MARIUSZA ZARUSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 77 IM. WANDY CHOTOMSKIEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 80 IM. MARII KOWNACKIEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 86 STOWARZYSZENIA KULTURY I EDUKACJI</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 346 W SZPITALU BIELAŃSKIM IM. KS. JERZEGO POPIEŁUSZKI SAMODZIELNYM PUBLICZNYM ZAKŁADZIE OPIEKI ZDROWOTNEJ</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 347 W MŁODZIEŻOWYM OŚRODKU SOCJOTERAPII NR 4</li>
        <li>SZKOŁA PODSTAWOWA Z ODDZIAŁAMI INTEGRACYJNYMI NR 214 IM. HENRYKA JERZEGO CHMIELEWSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA Z ODDZIAŁAMI INTEGRACYJNYMI NR 223 IM. PARTYZANTÓW ZIEMI KIELECKIEJ</li>
        <li>SZKOŁA PODSTAWOWA Z ODDZIAŁAMI INTEGRACYJNYMI NR 247 IM. KAZIMIERZA LISIECKIEGO "DZIADKA"</li>
        <li>SZKOŁA POLICEALNA NR 6</li>
        <li>SZKOŁA RYSUNKU I MALARSTWA SEALART - PLACÓWKA OŚWIATOWO-WYCHOWACZA</li>
        <li>TEAPEUTYCZNY PUNKT PRZEDSZKOLNY "MAGICZNY MOST 2.0"</li>
        <li>TECHNIKUM EKONOMICZNE NR 5</li>
        <li>TECHNIKUM KSIĘGARSKIE IM. STEFANA ŻEROMSKIEGO</li>
        <li>TECHNIKUM NR 25 IM. STANISŁAWA STASZICA</li>
        <li>TERAPEUTYCZNY PUNKT PRZEDSZKOLNY PUNKT ROZWOJU</li>
        <li>XCIV LICEUM OGÓLNOKSZTAŁCĄCE IM. GEN. STANISŁAWA MACZKA</li>
        <li>XLI LICEUM OGÓLNOKSZTAŁCĄCE IM. JOACHIMA LELEWELA</li>
        <li>XXII LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI DWUJĘZYCZNYMI IM. JOSÉ MARTÍ</li>
        <li>XXXIX LICEUM OGÓLNOKSZTAŁCĄCE IM. LOTNICTWA POLSKIEGO</li>
        <li>ZESPÓŁ SZKÓŁ NR 10 IM. STANISŁAWA STASZICA</li>
        <li>ZESPÓŁ SZKÓŁ NR 18</li>
        <li>ZESPÓŁ SZKÓŁ NR 35 IM. ZOFII JAROSZEWICZ "KASI"</li>
        <li>ZESPÓŁ SZKÓŁ NR 49</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
