
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Otwock Wielki</title>
</head>
<body>
    <h1>Schools in Otwock Wielki</h1>
    <ul>
        <li>PRZEDSZKOLE W OTWOCKU WIELKIM</li>
        <li>SZKOŁA PODSTAWOWA W OTWOCKU WIELKIM</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W OTWOCKU WIELKIM</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
