
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Pilawa</title>
</head>
<body>
    <h1>Schools in Pilawa</h1>
    <ul>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W PILAWIE</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE IM. MISIA USZATKA W PILAWIE</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA IM. H. SIENKIEWICZA W PILAWIE</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
