
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Płock</title>
</head>
<body>
    <h1>Schools in Płock</h1>
    <ul>
        <li>"PERFECT-GUARD" PLACÓWKA KSZTAŁCENIA USTAWICZNEGO</li>
        <li>AKADEMIA PRZEDSZKOLAKA MAX KATARZYNA SZCZAWIŃSKA-KAMELSKA</li>
        <li>AKADEMICKIE LICEUM OGÓLNOKSZTAŁCĄCE PRZY AKADEMII MAZOWIECKIEJ W PŁOCKU</li>
        <li>AMERYKAŃSKIE PRZEDSZKOLE NIEPUBLICZNE</li>
        <li>AP EDUKACJA CENTRUM KSZTAŁCENIA - CENTRUM SZKOLENIOWE</li>
        <li>BIBLIOTEKA PEDAGOGICZNA W PŁOCKU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 1</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 2</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 3</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 4</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 5</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 6 SPECJALNA</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA W PŁOCKU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA ZAKŁADU DOSKONALENIA ZAWODOWEGO W PŁOCKU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA ZAKŁADU DOSKONALENIA ZAWODOWEGO W WARSZAWIE CENTRUM KSZTAŁCENIA W PŁOCKU</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA NR 1</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA ZAKŁADU DOSKONALENIA ZAWODOWEGO W WARSZAWIE CENTRUM KSZTAŁCENIA W PŁOCKU</li>
        <li>BURSA MŁODZIEŻOWA IM. ŚW. STANISŁAWA KOSTKI</li>
        <li>BURSA PŁOCKA</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO CENTRUM EDUKACJI SP. Z O.O.</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO W PŁOCKU</li>
        <li>CENTRUM PSYCHOLOGICZNO-PASTORALNE METANOIA</li>
        <li>HARCERSKI ZESPÓŁ PIEŚNI I TAŃCA "DZIECI PŁOCKA" IM. DRUHA WACŁAWA MILKE</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE CN-B IM. POLSKICH SPADOCHRONIARZY W PŁOCKU</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE PUL IM. 4 PUŁKU STRZELCÓW KONNYCH W PŁOCKU</li>
        <li>I PRYWATNE LICEUM SZTUK PLASTYCZNYCH IM. WŁADYSŁAWA DRAPIEWSKIEGO W PŁOCKU</li>
        <li>II PRYWATNA SZKOŁA PODSTAWOWA ZESPOŁU OŚWIATOWO-KONSULTACYJNEGO "PROFESOR" SP. Z O.O.</li>
        <li>III LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI DWUJĘZYCZNYMI IM. MARII DĄBROWSKIEJ W PŁOCKU</li>
        <li>INSTYTUT INSPIRACJI I INNOWACJI PEDAGOGICZNYCH</li>
        <li>IV LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI INTEGRACYJNYMI IM. BOLESŁAWA KRZYWOUSTEGO</li>
        <li>KATOLICKA SZKOŁA PODSTAWOWA IM. BŁ. ABPA ANTONIEGO JULIANA NOWOWIEJSKIEGO I BŁ. BPA LEONA WETMAŃSKIEGO W PŁOCKU</li>
        <li>KATOLICKIE LICEUM OGÓLNOKSZTAŁCĄCE IM. ŚW. STANISŁAWA KOSTKI W PŁOCKU</li>
        <li>KUBUSIOWY RAJ</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH "PASCAL" W PŁOCKU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH "ŻAK" W PŁOCKU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W PŁOCKU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH ZAKŁADU DOSKONALENIA ZAWODOWEGO W WARSZAWIE CENTRUM KSZTAŁCENIA W PŁOCKU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. MARSZAŁKA STANISŁAWA MAŁACHOWSKIEGO W PŁOCKU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE NR 6</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE PŁOCKIEGO TOWARZYSTWA OŚWIATOWEGO</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE SPÓŁKI "TECHNIK"</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE TEB EDUKACJA W PŁOCKU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W PŁOCKU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI DWUJĘZYCZNYMI IM. WŁADYSŁAWA JAGIEŁŁY</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE ZAKŁADU DOSKONALENIA ZAWODOWEGO W WARSZAWIE CENTRUM KSZTAŁCENIA W PŁOCKU</li>
        <li>MAZOWIECKIE TECHNIKUM INNOWACJI</li>
        <li>MEDYCZNA SZKOŁA POLICEALNA W PŁOCKU</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 1 IM. MARII MACIESZYNY</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 10</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 11</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 12</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 13</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 14</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 17 IM. MAŁEGO KSIĘCIA</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 19</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 2</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 21 W PŁOCKU</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 27</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 29 W PŁOCKU</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 34 IM. KUBUSIA PUCHATKA I JEGO PRZYJACIÓŁ Z ODDZIAŁAMI INTEGRACYJNYMI W PŁOCKU</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 37 W PŁOCKU</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 4 IM. JASIA I MAŁGOSI W PŁOCKU</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 5</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 6 W PŁOCKU</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 8 W PŁOCKU</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 9 W PŁOCKU</li>
        <li>MIEJSKIE PRZEDSZKOLE Z ODDZIAŁAMI INTEGRACYJNYMI NR 15 W PŁOCKU</li>
        <li>MIEJSKIE PRZEDSZKOLE Z ODDZIAŁAMI INTEGRACYJNYMI NR 16 W PŁOCKU</li>
        <li>MIEJSKIE PRZEDSZKOLE Z ODDZIAŁAMI INTEGRACYJNYMI NR 3</li>
        <li>MIEJSKIE PRZEDSZKOLE Z ODDZIAŁAMI INTEGRACYJNYMI NR 31</li>
        <li>MIEJSKIE PRZEDSZKOLE Z ODDZIAŁAMI INTEGRACYJNYMI NR 33 IM. JEAN'A VANIER</li>
        <li>MŁODZIEŻOWY DOM KULTURY IM. KRÓLA MACIUSIA PIERWSZEGO</li>
        <li>MŁODZIEŻOWY DOM KULTURY W PŁOCKU - FILIA EMDEKUŚ</li>
        <li>MŁODZIEŻOWY DOM KULTURY W PŁOCKU - FILIA OGRÓD JORDANOWSKI</li>
        <li>MŁODZIEŻOWY DOM KULTURY W PŁOCKU - FILIA PRZYSTANEK MACIUŚ</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA 'WYSPA SKARBÓW"</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "BEZPIECZNA PRZYSTAŃ"</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "CZARODZIEJSKI OGRÓD"</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "KLIPS"</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "OBLICZA ŻYCIA"</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA BLUE</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA "SZKOŁA DOKOŁA"</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA Z ODDZIAŁAMI INTEGRACYJNYMI "COGITO" IM. WISŁAWY SZYMBORSKIEJ</li>
        <li>NIEPUBLICZNA SZKOŁA POLICEALNA TEB EDUKACJA W PŁOCKU</li>
        <li>NIEPUBLICZNE "ZIELONE PRZEDSZKOLE"</li>
        <li>NIEPUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE SZKOŁA MISTRZOSTWA SPORTOWEGO W PŁOCKU ZWIĄZKU PIŁKI RĘCZNEJ W POLSCE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE '"ABECADŁO" Z GRUPĄ INTEGRACYJNĄ</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "ABC"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "DOBRY POCZĄTEK"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "ENTLICZEK PENTLICZEK"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "GUCIO"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "ŻUCZEK"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE I ŻŁOBEK "BAJKOWA KRYJÓWKA" W PŁOCKU</li>
        <li>NIEPUBLICZNY OŚRODEK KSZTAŁCENIA ZAWODOWEGO "PASCAL" W PŁOCKU</li>
        <li>OGÓLNOKSZTAŁCĄCA SZKOŁA MUZYCZNA I I II STOPNIA W PŁOCKU</li>
        <li>OGÓLNOKSZTAŁCĄCA SZKOŁA MUZYCZNA I STOPNIA W PŁOCKU</li>
        <li>OGÓLNOKSZTAŁCĄCA SZKOŁA MUZYCZNA II STOPNIA W PŁOCKU</li>
        <li>OŚRODEK SZKOLENIOWY CENTRUM NAUKI I BIZNESU "ŻAK" W PŁOCKU</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I I II ST. IM. KAROLA SZYMANOWSKIEGO W PŁOCKU</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I ST. W PŁOCKU</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA II ST. W PŁOCKU</li>
        <li>PIERWSZA NIEPUBLICZNA SPECJALNA SZKOŁA PODSTAWOWA DLA DZIECI Z AUTYZMEM "NIEBIESKI DOMEK"</li>
        <li>PLACÓWKA KSZTAŁCENIA USTAWICZNEGO ZARZĄDU TERENOWEGO NIEZALEŻNEGO SAMORZĄDNEGO ZWIĄZKU ZAWODOWEGO POLICJANTÓW PRZY KOMENDZIE MIEJSKIEJ POLICJI W PŁOCKU</li>
        <li>PŁOCKI UNIWERSYTET LUDOWY IM. WINCENTEGO WITOSA</li>
        <li>PŁOCKIE CENTRUM KSZTAŁCENIA ZAWODOWEGO</li>
        <li>POLICEALNA SZKOŁA DETEKTYWÓW I AGENTÓW OCHRONY</li>
        <li>POLICEALNA SZKOŁA MEDYCZNA "PASCAL" W PŁOCKU</li>
        <li>POLICEALNA SZKOŁA ZAWODOWA "PASCAL" W PŁOCKU</li>
        <li>POLICEALNE STUDIUM DLA DOROSŁYCH CENTRUM EDUKACJI</li>
        <li>POLICEALNE STUDIUM ZAWODOWE DLA DOROSŁYCH W ZESPOLE SZKÓŁ CENTRUM EDUKACJI IM. IGNACEGO ŁUKASIEWICZA</li>
        <li>POLICEALNE STUDIUM ZAWODOWE SPÓŁKI "TECHNIK"</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA MOTYLEK</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA NR 1 DLA DZIECI ZE SPECJALNYMI POTRZEBAMI EDUKACYJNYMI</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA NR 2</li>
        <li>POWIATOWA PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA W PŁOCKU</li>
        <li>PPHU CENTRUM JĘZYKÓW OBCYCH - YLC</li>
        <li>PRYWATNE LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W PŁOCKU</li>
        <li>PRYWATNE STUDIUM TECHNIKI DENTYSTYCZNEJ EUGENIUSZA NAGADOWSKIEGO</li>
        <li>PRZEDSZKOLE EDUMONTESSORI</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE EKOLUDKI</li>
        <li>PRZEDSZKOLE PRYWATNE "PINOKIO" Z ODDZIAŁAMI INTEGRACYJNYMI</li>
        <li>PRZEDSZKOLE TERAPEUTYCZNE "SŁONECZNA KRAINA"</li>
        <li>PSDD - KURSY I SZKOLENIA DLA DOROSŁYCH</li>
        <li>PUNKT PRZEDSZKOLNY SOTIS</li>
        <li>SENSE</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY NR 1 IM. KSIĘDZA JANA TWARDOWSKIEGO</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY NR 2</li>
        <li>STACJONARNA POLICEALNA SZKOŁA MEDYCZNA "PASCAL" W PŁOCKU</li>
        <li>STOWARZYSZENIE KSIĘGOWYCH W POLSCE ODDZIAŁ OKRĘGOWY W WARSZAWIE CENTRUM EDUKACJI ZAWODOWEJ</li>
        <li>STUDIUM UMIEJĘTNOŚCI SPOŁECZNYCH</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. BRACI JEZIOROWSKICH W PŁOCKU</li>
        <li>SZKOŁA PODSTAWOWA NR 12 IM. MIRY ZIMIŃSKIEJ SYGIETYŃSKIEJ W PŁOCKU</li>
        <li>SZKOŁA PODSTAWOWA NR 13 IM. JANA BRZECHWY W PŁOCKU</li>
        <li>SZKOŁA PODSTAWOWA NR 14 IM. PROF. WŁADYSŁAWA SZAFERA W PŁOCKU</li>
        <li>SZKOŁA PODSTAWOWA NR 15 IM. ŚW. FRANCISZKA Z ASYŻU W PŁOCKU</li>
        <li>SZKOŁA PODSTAWOWA NR 16 IM. MIKOŁAJA KOPERNIKA W PŁOCKU</li>
        <li>SZKOŁA PODSTAWOWA NR 17 IM. TADEUSZA KOŚCIUSZKI W PŁOCKU</li>
        <li>SZKOŁA PODSTAWOWA NR 18 IM. JANA ZYGMUNTA JAKUBOWSKIEGO W PŁOCKU</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. KSIĄŻĄT MAZOWIECKICH W PŁOCKU</li>
        <li>SZKOŁA PODSTAWOWA NR 20 IM. WŁADYSŁAWA BRONIEWSKIEGO W PŁOCKU</li>
        <li>SZKOŁA PODSTAWOWA NR 21 IM. FRYDERYKA CHOPINA W PŁOCKU</li>
        <li>SZKOŁA PODSTAWOWA NR 5 IM. WŁADYSŁAWA BRONIEWSKIEGO W PŁOCKU</li>
        <li>SZKOŁA PODSTAWOWA NR 6 IM. DRUHA WACŁAWA MILKE W PŁOCKU</li>
        <li>SZKOŁA PODSTAWOWA NR 9 W SPECJALNYM OŚRODKU SZKOLNO-WYCHOWAWCZYM NR 1</li>
        <li>SZKOŁA PODSTAWOWA PŁOCKIEGO TOWARZYSTWA OŚWIATOWEGO</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 24 W PŁOCKU</li>
        <li>SZKOŁA PODSTAWOWA Z ODDZIAŁAMI DWUJĘZYCZNYMI NR 3 IM. KORNELA MAKUSZYŃSKIEGO W PŁOCKU</li>
        <li>SZKOŁA PODSTAWOWA Z ODDZIAŁAMI INTEGRACYJNYMI NR 11 IM. BOLESŁAWA CHROBREGO W PŁOCKU</li>
        <li>SZKOŁA PODSTAWOWA Z ODDZIAŁAMI INTEGRACYJNYMI NR 22 IM. JANUSZA KORCZAKA W PŁOCKU</li>
        <li>SZKOŁA PODSTAWOWA Z ODDZIAŁAMI INTEGRACYJNYMI NR 23 IM. ARMII KRAJOWEJ W PŁOCKU</li>
        <li>SZKOŁA PODSTAWOWA Z ODDZIAŁAMI INTEGRACYJNYMI NR 8 IM. ALEKSANDRA MACIESZY W PŁOCKU</li>
        <li>SZKOŁA POLICEALNA CENTRUM NAUKI I BIZNESU "ŻAK" W PŁOCKU</li>
        <li>SZKOŁA POLICEALNA MEDYCZNA "ŻAK" W PŁOCKU</li>
        <li>SZKOŁA POLICEALNA NR 1 W PŁOCKU</li>
        <li>SZKOŁA POLICEALNA NR 3 W PŁOCKU</li>
        <li>SZKOŁA POLICEALNA NR 4</li>
        <li>SZKOŁA POLICEALNA NR 5 W PŁOCKU</li>
        <li>SZKOŁA POLICEALNA W PŁOCKU</li>
        <li>SZKOŁA POLICEALNA ZAKŁADU DOSKONALENIA ZAWODOWEGO W PŁOCKU</li>
        <li>SZKOŁA POLICEALNA ZAKŁADU DOSKONALENIA ZAWODOWEGO W WARSZAWIE CENTRUM KSZTAŁCENIA W PŁOCKU</li>
        <li>SZKOŁA POSTAWOWA DLA DOROSŁYCH</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY</li>
        <li>TEB EDUKACJA STUDIUM KSZTAŁCENIA PRAKTYCZNEGO</li>
        <li>TECHNIKUM NR 1</li>
        <li>TECHNIKUM NR 2 IM. MARII SKŁODOWSKIEJ-CURIE W PŁOCKU</li>
        <li>TECHNIKUM NR 3</li>
        <li>TECHNIKUM NR 4</li>
        <li>TECHNIKUM NR 5</li>
        <li>TECHNIKUM TEB EDUKACJA W PŁOCKU</li>
        <li>TECHNIKUM W PŁOCKU</li>
        <li>TECHNIKUM W ZESPOLE SZKÓŁ CENTRUM EDUKACJI IM. IGNACEGO ŁUKASIEWICZA</li>
        <li>TECHNIKUM ZAKŁADU DOSKONALENIA ZAWODOWEGO W PŁOCKU</li>
        <li>TECHNIKUM ZAKŁADU DOSKONALENIA ZAWODOWEGO W WARSZAWIE CENTRUM KSZTAŁCENIA W PŁOCKU</li>
        <li>TERAPEUTYCZNY PUNKT PRZEDSZKOLNY DLA DZIECI Z AUTYZMEM "NIEBIESKI DOMEK"</li>
        <li>TERAPEUTYCZNY PUNKT PRZEDSZKOLNY MC PROGRAM</li>
        <li>UNIWERSYTET OŚWIATY POZASZKOLNEJ WUR-POL</li>
        <li>UNIWERSYTET POWSZECHNY VITA</li>
        <li>V LICEUM OGÓLNOKSZTAŁCĄCE W ZESPOLE SZKÓŁ CENTRUM EDUKACJI IM. IGNACEGO ŁUKASIEWICZA</li>
        <li>VII LICEUM OGÓLNOKSZTAŁCĄCE IM. ALEKSANDRA MACIESZY W PŁOCKU</li>
        <li>ZAKŁAD DOSKONALENIA ZAWODOWEGO W PŁOCKU</li>
        <li>ZAKŁAD DOSKONALENIA ZAWODOWEGO W WARSZAWIE CENTRUM KSZTAŁCENIA W PŁOCKU</li>
        <li>ZAKŁAD USŁUGOWO HANDLOWY BALEX</li>
        <li>ZESPÓŁ SZKÓŁ BUDOWLANYCH NR 1</li>
        <li>ZESPÓŁ SZKÓŁ CENTRUM EDUKACJI IM. IGNACEGO ŁUKASIEWICZA</li>
        <li>ZESPÓŁ SZKÓŁ EKONOMICZNO-KUPIECKICH IM. LUDWIKA KRZYWICKIEGO W PŁOCKU</li>
        <li>ZESPÓŁ SZKÓŁ IM LEOKADII BERGEROWEJ W PŁOCKU</li>
        <li>ZESPÓŁ SZKÓŁ NR 1 W PŁOCKU</li>
        <li>ZESPÓŁ SZKÓŁ NR 5</li>
        <li>ZESPÓŁ SZKÓŁ PASCAL W PŁOCKU</li>
        <li>ZESPÓŁ SZKÓŁ TECHNICZNYCH</li>
        <li>ZESPÓŁ SZKÓŁ USŁUG I PRZEDSIĘBIORCZOŚCI IM. ABPA A.J. NOWOWIEJSKIEGO</li>
        <li>ZESPÓŁ SZKÓŁ ZAWODOWYCH IM. MARII SKŁODOWSKIEJ-CURIE</li>
        <li>ZESPÓŁ SZKOLNO - PRZEDSZKOLNY EDUMONTESSORI</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
