
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Rząśnik Włościański</title>
</head>
<body>
    <h1>Schools in Rząśnik Włościański</h1>
    <ul>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA IM. MARII KONOPNICKIEJ W RZĄŚNIKU WŁOŚCIAŃSKIM</li>
        <li>PUNKT PRZEDSZKOLNY W SZKOLE PODSTAWOWEJ IM. MARII KONOPNICKIEJ W RZĄŚNIKU WŁOŚCIAŃSKIM</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
