
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Siennica</title>
</head>
<body>
    <h1>Schools in Siennica</h1>
    <ul>
        <li>GMINNE PRZEDSZKOLE W SIENNICY</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "CHATKA PUCHATKA"</li>
        <li>PRZEDSZKOLE NIEPUBLICZE "AKADEMIA SMYKA"</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA IM. HENRYKA SIENKIEWICZA W SIENNICY</li>
        <li>ZESPÓŁ SZKÓŁ H.I K. GNOIŃSKICH W SIENNICY TECHNIKUM</li>
        <li>ZESPÓŁ SZKÓŁ IM. H. I K. GNOIŃSKICH W SIENNICY</li>
        <li>ZESPÓŁ SZKÓŁ IM. H. I K. GNOIŃSKICH W SIENNICY - LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>ZESPÓŁ SZKÓŁ IM. H. I K. GNOIŃSKICH W SIENNICY BRANŻOWA SZKOŁA I STOPNIA</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
