
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Ursynów</title>
</head>
<body>
    <h1>Schools in Ursynów</h1>
    <ul>
        <li>"AD VERBUM" CENTRUM TERAPII MOWY I DYSLEKSJI</li>
        <li>ACCADEMIA DEI PICCOLI</li>
        <li>ANGIELSKIE INTEGRACYJNE PRZEDSZKOLE MUZYCZNE ŻYRAFA</li>
        <li>CENTRUM EDUKACJI</li>
        <li>CENTRUM REHABILITACYJNO-SZKOLENIOWE KINEZIO</li>
        <li>CENTRUM RUCHU I INTEGRACJI SENSORYCZNEJ</li>
        <li>CENTRUM WIEDZY I TECHNOLOGII ZABEZPIECZEŃ TECHNICZNYCH</li>
        <li>CENTRUM WIEDZY PRAKTYCZNEJ</li>
        <li>CHRZEŚCIJAŃSKA SZKOŁA PODSTAWOWA DANIEL</li>
        <li>CHRZEŚCIJAŃSKIE PRZEDSZKOLE DANIEL</li>
        <li>CLVIII LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI DWUJĘZYCZNYMI IM. KSIĘŻNEJ IZABELI CZARTORYSKIEJ</li>
        <li>CLXVI LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI SPORTOWYMI</li>
        <li>CUKIERKOWO PRZEDSZKOLE INTEGRACYJNE NIEPUBLICZNE</li>
        <li>DWUJĘZYCZNE PRZEDSZKOLE SPORTOWE "MALI ODKRYWCY"</li>
        <li>EDUKACJA AKTYWNA.PL</li>
        <li>EDULIDER LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W WARSZAWIE</li>
        <li>EDULIDER SZKOŁA PODSTAWOWA DLA DOROSŁYCH W WARSZAWIE</li>
        <li>EDULIDER SZKOŁA POLICEALNA W WARSZAWIE</li>
        <li>EQ SZKOŁA JĘZYKÓW OBCYCH DLA DOROSŁYCH</li>
        <li>EQ SZKOŁA JĘZYKÓW OBCYCH DLA DZIECI I MŁODZIEŻY</li>
        <li>FINEZJA CENTRUM KSZTAŁCENIA FLORYSTYCZNEGO I RĘKODZIAŁA ARTYSTYCZNEGO</li>
        <li>HANCZEZ H. BRZEŹNIAK</li>
        <li>I LOVE MONTESSORI</li>
        <li>INSTYTUT KSZTAŁCENIA USTAWICZNEGO FUNDACJI IM. STANISŁAWA KONARSKIEGO</li>
        <li>INTEGRACYJNE PRZEDSZKOLE NIEPUBLICZNE "PLUSZOWA AKADEMIA"</li>
        <li>INTEGRACYJNE PRZEDSZKOLE NIEPUBLICZNE MAŁE MISIE NR 2</li>
        <li>INTERNATIONAL AMERICAN SCHOOL SP. Z O.O. AMERYKAŃSKA SZKOŁA PODSTAWOWA NIEPUBLICZNA NR 44</li>
        <li>INTERNATIONAL AMERICAN SCHOOL SP. Z O.O. LICEUM OGÓLNOKSZTAŁCĄCE NIEPUBLICZNE NR 72 "IAS"</li>
        <li>KATOLICKA SZKOŁA PODSTAWOWA IM. HELENY KMIEĆ FUNDACJI NA RZECZ RODZINY</li>
        <li>KATOLICKIE PRZEDSZKOLE FUNDACJI NA RZECZ RODZINY</li>
        <li>KINEZIO-LOG CENTRUM EDUKACJI I TERAPII</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE NIEPUBLICZNE NR 40</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE PRZYMIERZA RODZIN IM. ŚW. JANA PAWŁA II</li>
        <li>LXIII LICEUM OGÓLNOKSZTAŁCĄCE IM. LAJOSA KOSSUTHA</li>
        <li>LXX LICEUM OGÓLNOKSZTAŁCĄCE IM. ALEKSANDRA KAMIŃSKIEGO</li>
        <li>MATPLANETA</li>
        <li>MIĘDZYNARODOWA AKADEMIA MEDYCYNY KOMPLEMETARNEJ W WARSZAWIE</li>
        <li>MIĘDZYNARODOWA SZKOŁA MONTESSORI W WARSZAWIE</li>
        <li>MIĘDZYNARODOWE LICEUM MONTESSORI W WARSZAWIE INTERNATIONAL MONTESSORI HIGH SCHOOL OF WARSAW</li>
        <li>MIĘDZYNARODOWE PRZEDSZKOLE MONTESSORI CHILDREN'S HOUSE</li>
        <li>NIEPUBLICZNA PLACÓWKA DOSKONALENIA NAUCZYCIELI "AKADEMIA LOGOPEDY"</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO STILL ACADEMY OF OSTEOPATHY W WARSZAWIE</li>
        <li>NIEPUBLICZNA PLACÓWKA OŚWIATOWO-WYCHOWAWCZA EDUFAN</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO PEDAGOGICZNA KAR-MEL</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "CENTRUM PROMYK"</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "CENTRUM TERAPII DIALOG"</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "LILIUM"</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA SENSORYNKA</li>
        <li>NIEPUBLICZNA SZKOŁA MUZYCZNA I ST. ARTE W WARSZAWIE</li>
        <li>NIEPUBLICZNA SZKOŁA MUZYCZNA I ST. FUNDACJI ARTE W WARSZAWIE</li>
        <li>NIEPUBLICZNA SZKOŁA MUZYCZNA I STOPNIA HELIANTUS W WARSZAWIE</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA AURUS</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA NR 47 IM. ROBERTA SCHUMANA FUNDACJI "PRIMUS"</li>
        <li>NIEPUBLICZNE INTEGRACYJNE PRZEDSZKOLE "WOLNE PRZEDSZKOLE"</li>
        <li>NIEPUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE IM. ROBERTA SCHUMANA FUNDACJI "PRIMUS"</li>
        <li>NIEPUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE NR 61 IM. STEFANA KISIELEWSKIEGO</li>
        <li>NIEPUBLICZNE POLICEALNE STUDIUM PLASTYCZNE - WARSZAWSKA SZKOŁA REKLAMY</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "ANIOŁOWO"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "DZIECIAKI RZĄDZĄ"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "HARMONY MONTESSORI PARK II"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "JACEK I AGATKA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "JAŚ I MAŁGOSIA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "NASZE PRZEDSZKOLE"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "SZKRABKI"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE HIKIDS</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE INTEGRACYJNE "BIAŁY MIŚ:</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE INTEGRACYJNE "ZIELONY LATAWIEC II"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE INTEGRACYJNE BABALOO</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE INTEGRACYJNE JĘZYKOWO-MUZYCZNE "DRUŻYNA TYGRYSKA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE MONTESSORI "ARTYSTYCZNY KĄCIK"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE POLSKO-ANGIELSKIE "BUZZY BEE"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE PRZYTULANKA</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE SIÓSTR NIEPOKALANEK</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE SPORTOWO-JĘZYKOWE FAIR PLAY</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE SZKOŁY GŁÓWNEJ GOSPODARSTWA WIEJSKIEGO</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE TWÓRCZEGO ROZWOJU ACTIVE KIDS</li>
        <li>NIEPUBLICZNY OŚRODEK DOSKONALENIA NAUCZYCIELI "COGNITUS"</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY "EFFECTIS"</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY DWA KOTY</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY PRZYTULANKA</li>
        <li>NOWATORSKA SZKOŁA PODSTAWOWA</li>
        <li>NOWATORSKIE LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>OŚRODEK SZKOLEŃ BEZPIECZEŃSTWA I HIGIENY PRACY</li>
        <li>OŚRODEK SZKOLENIOWY AGVO</li>
        <li>OWIECZKA.ASIA</li>
        <li>PANTERA.ASIA</li>
        <li>PCSN - PRYWATNE CENTRUM SZKOLEŃ I NAUCZANIA</li>
        <li>PERFECTUM AUDIT-PRYWATNA SZKOŁA RACHUNKOWOŚCI</li>
        <li>PLACÓWKA EDUKACJI INFORMATYCZNO-MATEMATYCZNEJ INSTAKOD</li>
        <li>PODSTAWOWA SZKOŁA MIĘDZYNARODOWA/THE INTERNATIONAL SCHOOL</li>
        <li>POLICEALNE STUDIUM REKLAMY HANDLOWEJ</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA NR 18</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA NR 19</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA SZKOŁY WYŻSZEJ PRZYMIERZA RODZIN</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA VERTIMED</li>
        <li>PROCENTRUM NIEPUBLICZNY OŚRODEK DOSKONALENIA NAUCZYCIELI</li>
        <li>PRYMUS LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W WARSZAWIE</li>
        <li>PRYMUS SZKOŁA PODSTAWOWA DLA DOROSŁYCH W WARSZAWIE</li>
        <li>PRYMUS SZKOŁA POLICEALNA W WARSZAWIE</li>
        <li>PRYWATNA SZKOŁA MUZYCZNA I ST. IM. JÓZEFA TURCZYŃSKIEGO W WARSZAWIE</li>
        <li>PRYWATNA SZKOŁA MUZYCZNA I ST. NUTKA W WARSZAWIE</li>
        <li>PRYWATNA SZKOŁA MUZYCZNA II ST. IM. JÓZEFA TURCZYŃSKIEGO W WARSZAWIE</li>
        <li>PRYWATNA SZKOŁA PODSTAWOWA ACTIVE SCHOOL</li>
        <li>PRYWATNA SZKOŁA PODSTAWOWA NR 6 SIÓSTR NIEPOKALANEK IM. BŁ. M. MARCELINY DAROWSKIEJ</li>
        <li>PRYWATNA SZKOŁA PODSTAWOWA NR 83</li>
        <li>PRYWATNABURSA.PL</li>
        <li>PRZEDSZKOLE "ALA MA KOTA"</li>
        <li>PRZEDSZKOLE EDUKACYJNO-SPORTOWE "MAŁY OLIMPIJCZYK"</li>
        <li>PRZEDSZKOLE HELIANTUS</li>
        <li>PRZEDSZKOLE INSPIREN</li>
        <li>PRZEDSZKOLE INTEGRACYJNE GUZIK</li>
        <li>PRZEDSZKOLE LEŚNE</li>
        <li>PRZEDSZKOLE LITTLE ACADEMY PRESCHOOL</li>
        <li>PRZEDSZKOLE MONTESSORI EWA I ANDRZEJ BOCHEŃSCY</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "AKADEMIA MAŁYCH ARTYSTÓW"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "CHATKA"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "CUDAKI SŁODZIAKI"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "ECOKIDS"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "HAPPY LIONS" BEATA BARTOS</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "JEŻYKOWA DOLINKA"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "OWOCOWE PRZEDSZKOLE"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "WESOŁE KRASNALE"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE DOMEK ELFÓW</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE INTEGRACYJNE "ECHA LEŚNE"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE P.W. ANIOŁÓW STRÓŻÓW</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE TYGRYSEK I PRZYJACIELE</li>
        <li>PRZEDSZKOLE NR 126 "ZACZAROWANE PODWÓRKO"</li>
        <li>PRZEDSZKOLE NR 159</li>
        <li>PRZEDSZKOLE NR 201 "MISIA URSYNKA"</li>
        <li>PRZEDSZKOLE NR 267</li>
        <li>PRZEDSZKOLE NR 282</li>
        <li>PRZEDSZKOLE NR 283</li>
        <li>PRZEDSZKOLE NR 286</li>
        <li>PRZEDSZKOLE NR 351 IM. WANDY CHOTOMSKIEJ</li>
        <li>PRZEDSZKOLE NR 352</li>
        <li>PRZEDSZKOLE NR 366</li>
        <li>PRZEDSZKOLE NR 385 IM. KAWALERÓW ORDERU UŚMIECHU</li>
        <li>PRZEDSZKOLE NR 395 IM. BARBARY LEWANDOWSKIEJ</li>
        <li>PRZEDSZKOLE NR 400</li>
        <li>PRZEDSZKOLE NR 401</li>
        <li>PRZEDSZKOLE NR 412 Z ODDZIAŁAMI INTEGRACYJNYMI</li>
        <li>PRZEDSZKOLE NR 50</li>
        <li>PRZEDSZKOLE NR 52</li>
        <li>PRZEDSZKOLE NR 55 IM. "POLSKICH PODRÓŻNIKÓW"</li>
        <li>PRZEDSZKOLE NR 79</li>
        <li>PRZEDSZKOLE PUBLICZNE "NASZE SZKRABY"</li>
        <li>PRZEDSZKOLE PUBLICZNE EDULICA</li>
        <li>PRZEDSZKOLE PUBLICZNE EDULICA 1</li>
        <li>PRZEDSZKOLE SPECJALNE NR 213</li>
        <li>PRZEDSZKOLE SZUMI SZUM</li>
        <li>PRZEDSZKOLE Z ODZIAŁAMI INTEGRACYJNYMI NR 394</li>
        <li>PSYCHOLOGICZNA PRACOWNIA KONSULTACYJNO-WYCHOWAWCZA</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA IM. BAT.CHŁOPSKICH W URSYNOWIE</li>
        <li>PUBLICZNE PRZEDSZKOLE "ALI I ASA" IM. MARKA GRECHUTY</li>
        <li>PUBLICZNY PUNKT PRZEDSZKOLNY "NASZE SZKRABY"</li>
        <li>PUNKT PRZEDSZKOLNY "GAŁGANEK"</li>
        <li>PUNKT PRZEDSZKOLNY "KONIK NA BIEGUNACH"</li>
        <li>PUNKT PRZEDSZKOLNY "LEŚNE PATYKI"</li>
        <li>PUNKT PRZEDSZKOLNY "TĘCZOWY DWOREK"</li>
        <li>PUNKT PRZEDSZKOLNY DOLINA ELFÓW</li>
        <li>PUNKT PRZEDSZKOLNY LAUDAME</li>
        <li>PUNKT PRZEDSZKOLNY PLUSZOWY DOMEK 2</li>
        <li>PUNKT PRZEDSZKOLNY SOTIS URSYNÓW</li>
        <li>SPOŁECZNA SZKOŁA PODSTAWOWA NR 1 IM. JANA NOWAKA-JEZIORAŃSKIEGO</li>
        <li>SPOŁECZNE LICEUM OGÓLNOKSZTAŁCĄCE NR 1 IM. JANA NOWAKA-JEZIORAŃSKIEGO SPOŁECZNEGO TOWARZYSTWA OŚWIATOWEGO</li>
        <li>SPOŁECZNE LICEUM OGÓLNOKSZTAŁCĄCE NR 4 IMIENIA BATALIONU AK "PARASOL" W WARSZAWIE</li>
        <li>SPOŁECZNE PRZEDSZKOLE "BAŚNIOWY ŚWIAT DZIECKA"</li>
        <li>STUDIO TANECZNE AKCENT</li>
        <li>SYSCO POLSKA SPÓŁKA Z O.O. NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO</li>
        <li>SZKOŁA PODSTAWOWA HELIANTUS</li>
        <li>SZKOŁA PODSTAWOWA IM. SAMUELA BOGUMIŁA LINDEGO</li>
        <li>SZKOŁA PODSTAWOWA KOSMOS</li>
        <li>SZKOŁA PODSTAWOWA NIEPUBLICZNA FUNDACJI "NAUKA I WIEDZA"</li>
        <li>SZKOŁA PODSTAWOWA NR 100 IM. PŁK. FRANCESCO NULLO</li>
        <li>SZKOŁA PODSTAWOWA NR 112 PRZYMIERZA RODZIN IM. ŚW. JANA PAWŁA II</li>
        <li>SZKOŁA PODSTAWOWA NR 16 IM. TONY HALIKA</li>
        <li>SZKOŁA PODSTAWOWA NR 303 IM. FRYDERYKA CHOPINA</li>
        <li>SZKOŁA PODSTAWOWA NR 310 IM. MICHAŁA BYLINY</li>
        <li>SZKOŁA PODSTAWOWA NR 313 IM. POLSKICH ODKRYWCÓW</li>
        <li>SZKOŁA PODSTAWOWA NR 319 IM. MARII KANN</li>
        <li>SZKOŁA PODSTAWOWA NR 322 IM. JANA BRZECHWY</li>
        <li>SZKOŁA PODSTAWOWA NR 323 IM. POLSKICH OLIMPIJCZYKÓW</li>
        <li>SZKOŁA PODSTAWOWA NR 336 IM. JANKA BYTNARA "RUDEGO"</li>
        <li>SZKOŁA PODSTAWOWA NR 340 IM. PROFESORA BOGUSŁAWA MOLSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 384 IM. STANISŁAWA STASZICA</li>
        <li>SZKOŁA PODSTAWOWA NR 399</li>
        <li>SZKOŁA PODSTAWOWA NR 405</li>
        <li>SZKOŁA PODSTAWOWA NR 81 IM. JULIANA URSYNA NIEMCEWICZA</li>
        <li>SZKOŁA PODSTAWOWA NR 9 SPOŁECZNEGO TOWARZYSTWA OŚWIATOWEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 96 IM. IRENY KOSMOWSKIEJ</li>
        <li>SZKOŁA PODSTAWOWA PRZY SPOŁECZNYM LICEUM OGÓLNOKSZTAŁCĄCYM NR 4 IM. BATALIONU AK "PARASOL"</li>
        <li>SZKOŁA PODSTAWOWA Z ODDZIAŁAMI INTEGRACYJNYMI NR 318 IM. JANA CHRISTIANA ANDERSENA</li>
        <li>SZKOŁA PODSTAWOWA Z ODDZIAŁAMI INTEGRACYJNYMI NR 330 IM. NAUCZYCIELI TAJNEGO NAUCZANIA</li>
        <li>SZKOŁA PODSTAWOWA Z ODDZIAŁAMI INTEGRACYJNYMI NR 343 IM. MATKI TERESY Z KALKUTY</li>
        <li>TIM EDUCATION</li>
        <li>TOWARZYSTWO EDUKACYJNE SOKRATES - SZKOŁA JĘZYKÓW OBCYCH</li>
        <li>TRANSPHARMACIA EDUCATIONS</li>
        <li>VINCI-SZKOŁA TWÓRCZEJ NAUKI GRZEGORZ PRUSZKO</li>
        <li>WARSZAWSKA AKADEMIA REKLAMY, FOTOGRAFII I FILMU - POLICEALNE STUDIUM ZAWODOWE W WARSZAWIE</li>
        <li>WARSZAWSKA SZKOŁA MUZYCZNA</li>
        <li>WARSZAWSKA SZKOŁA REKLAMY</li>
        <li>WARSZAWSKIE CENTRUM STRZELECKIE SP. Z O.O.</li>
        <li>ZACZAROWANA POZYTYWKA PRZEDSZKOLE NIEPUBLICZNE</li>
        <li>ZAOCZNE LICEUM OGÓLNOKSZTAŁCĄCE "COSINUS III" W WARSZAWIE</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH FUNDACJI EWANGELICKIE TOWARZYSTWO OŚWIATOWE</li>
        <li>ZESPÓŁ PRYWATNYCH SZKÓŁ MUZYCZNYCH IM. JÓZEFA TURCZYŃSKIEGO W WARSZAWIE</li>
        <li>ZESPÓŁ SZKÓŁ NR 129 W WARSZAWIE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 12 W WARSZAWIE</li>
        <li>ZIELONE PRZEDSZKOLE INTEGRACYJNE SOS</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
