
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Chwałowice</title>
</head>
<body>
    <h1>Schools in Chwałowice</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA SPECJALNA W CHWAŁOWICACH</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO W CHWAŁOWICACH</li>
        <li>SPECJALISTYCZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W CHWAŁOWICACH</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY W CHWAŁOWICACH</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA W CHWAŁOWICACH</li>
        <li>SZKOŁA POLICEALNA W CHWAŁOWICACH</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W CHWAŁOWICACH</li>
        <li>ZESPÓŁ SZKÓŁ I PLACÓWEK W CHWAŁOWICACH</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
