
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Nowe Iganie</title>
</head>
<body>
    <h1>Schools in Nowe Iganie</h1>
    <ul>
        <li>ZESPÓŁ OŚWIATOWY W NOWYCH IGANIACH</li>
        <li>ZESPÓŁ OŚWIATOWY W NOWYCH IGANIACH PUBLICZNE PRZEDSZKOLE</li>
        <li>ZESPÓŁ OŚWIATOWY W NOWYCH IGANIACH SZKOŁA PODSTAWOWA IM. GEN. IGNACEGO PRĄDZYŃSKIEGO</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
