
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Szczawin Kościelny</title>
</head>
<body>
    <h1>Schools in Szczawin Kościelny</h1>
    <ul>
        <li>SAMORZĄDOWE PRZEDSZKOLE W SZCZAWINIE KOŚCIELNYM</li>
        <li>SZKOŁA PODSTAWOWA IM. ANDRZEJA MAŁKOWSKIEGO W SZCZAWINIE KOŚCIELNYM</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH IM. GEN. JÓZEFA HALLERA W SZCZAWINIE KOŚCIELNYM</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
