
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Łosice</title>
</head>
<body>
    <h1>Schools in Łosice</h1>
    <ul>
        <li>BIBLIOTEKA PEDAGOGICZNA IM. HELENY RADLIŃSKIEJ W SIEDLCACH FILIA W ŁOSICACH</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 1 IM. TADEUSZA KOŚCIUSZKI W ŁOSICACH</li>
        <li>BRANŻOWA SZKOŁA SPECJALNA I STOPNIA NR 3 W ŁOSICACH</li>
        <li>BURSA SZKOLNA W ŁOSICACH</li>
        <li>I TECHNIKUM IM. TADEUSZA KOŚCIUSZKI W ZESPOLE SZKÓŁ NR 2 W ŁOSICACH</li>
        <li>II TECHNIKUM</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "DRABINKA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "MALI ODKRYWCY"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE INTEGRACYJNE "DOBRY START" Z ODDZIAŁAMI SPECJALNYMI</li>
        <li>OŚRODEK SZKOLNO - WYCHOWAWCZY SZKOŁA PODSTAWOWA</li>
        <li>OŚRODEK SZKOLNO-WYCHOWAWCZY W ŁOSICACH</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I ST. IM. STANISŁAWA MONIUSZKI W ŁOSICACH</li>
        <li>PORADNIA PSYCHOLOGICZNO PEDAGOGICZNA W ŁOSICACH</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "JACEK I AGATKA"</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 1</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 2</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. MIKOŁAJA KOPERNIKA W ŁOSICACH</li>
        <li>SZKOŁA POLICEALNA NR 1 W ŁOSICACH</li>
        <li>SZKOŁA POLICEALNA NR 2</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W ŁOSICACH</li>
        <li>SZKOLNE SCHRONISKO MŁODZIEŻOWE W ZESPOLE PLACÓWEK OŚWIATOWO WYCHOWAWCZYCH W ŁOSICACH</li>
        <li>ZESPÓŁ PLACÓWEK OSWIATOWO-WYCHOWAWCZYCH W ŁOSICACH</li>
        <li>ZESPÓŁ SZKÓŁ NR 1 I LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>ZESPÓŁ SZKÓŁ NR 1 SZKOŁA PODSTAWOWA NR 1 W ŁOSICACH</li>
        <li>ZESPÓŁ SZKÓŁ NR 1 W ŁOSICACH</li>
        <li>ZESPÓŁ SZKÓŁ NR 2 W ŁOSICACH</li>
        <li>ZESPÓŁ SZKÓŁ NR3 ROLNICZE CENTRUM KSZTAŁCENIA USTAWICZNEGO IM. STANISŁAWA STASZICA</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
