
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Poręba Średnia</title>
</head>
<body>
    <h1>Schools in Poręba Średnia</h1>
    <ul>
        <li>SAMORZĄDOWE PRZEDSZKOLE W PORĘBIE</li>
        <li>SZKOŁA PODSTAWOWA IM. MARSZAŁKA JÓZEFA PIŁSUDSKIEGO W PORĘBIE</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH W PORĘBIE</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
