
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Nadarzyn</title>
</head>
<body>
    <h1>Schools in Nadarzyn</h1>
    <ul>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM.JANA PAWŁA II W NADARZYNIE</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA SZANSA</li>
        <li>NIEPUBLICZNA SZKOŁA MUZYCZNA I ST. W NADARZYNIE</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA WIR</li>
        <li>OFICYNA INFORMATYCZNA</li>
        <li>PRZEDSZKOLE JĘZYKOWO-SPORTOWE MINIONKI</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "JUPIK"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "MALUCH"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE SMYK</li>
        <li>PUBLICZNE PRZEDSZKOLE W NADARZYNIE</li>
        <li>SZKOŁA PODSTAWOWA IM. WITOLDA DOROSZEWSKIEGO W NADARZYNIE</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
