
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Adamowizna</title>
</head>
<body>
    <h1>Schools in Adamowizna</h1>
    <ul>
        <li>AKADEMIA DOSKONALENIA ZAWODOWEGO NATUROPATA</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA W ADAMOWIŹNIE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE KAJTEK</li>
        <li>SZKOŁA PODSTAWOWA IM. DOKTORA MATEUSZA CHEŁMOŃSKIEGO W ADAMOWIŹNIE</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
