
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Lubiczów</title>
</head>
<body>
    <h1>Schools in Lubiczów</h1>
    <ul>
        <li>"BIG BEN" NIEPUBLICZNA POLSKO-BRYTYJSKA SZKOŁA PODSTAWOWA IM. GENERAŁA WŁADYSŁAWA ANDERSA</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA FUNDACJI ADYS</li>
        <li>NIEPUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE FUNDACJI ADYS</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
