
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Zielonka</title>
</head>
<body>
    <h1>Schools in Zielonka</h1>
    <ul>
        <li>"ZACZAROWANA WYSPA"</li>
        <li>CENTRUM KSZTAŁCENIA EDUKATOR W ZIELONCE DOROTA OLĘDZKA</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W ZIELONCE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI INTEGRACYJNYMI</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 3</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 4</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 5</li>
        <li>MŁODZIEŻOWY OŚRODEK SOCJOTERAPII W ZIELONCE IM. KPT. JERZEGO BARTNIKA</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W ZIELONCE</li>
        <li>NIEPUBLICZNA SZKOŁA BRANŻOWA I STOPNIA SPECJALNA W ZIELONCE</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA PRZYSTAŃ MONTESSORI</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA SPECJALNA W ZIELONCE</li>
        <li>NIEPUBLICZNY TERAPEUTYCZNY PUNKT PRZEDSZKOLNY „TADZIO” BOŻENA SUŁKOWSKA</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W ZIELONCE</li>
        <li>PRZEDSZKOLE NIEPUBLICZE W ZIELONCE"POD DĘBAMI"ANNA KONOPKA</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "ABECADŁO"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "MALOWANY DOMEK" ELŻBIETA DĄBKOWSKA</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. BOLESŁAWA PRUSA</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. MIKOŁAJA KOPERNIKA</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. JANUSZA KORCZAKA</li>
        <li>SZKOŁA PODSTAWOWA NR 4 IM. STEFANA KARDYNAŁA WYSZYŃSKIEGO</li>
        <li>SZKOŁA POLICEALNA NR 1 W ZIELONCE</li>
        <li>TECHNIKUM</li>
        <li>ZACZAROWANA WYSPA II</li>
        <li>ZESPÓŁ SZKÓŁ IM. PREZYDENTA IGNACEGO MOŚCICKIEGO W ZIELONCE</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
