
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Garbatka-Letnisko</title>
</head>
<body>
    <h1>Schools in Garbatka-Letnisko</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W GARBATCE-LETNISKU</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO W GARBATCE-LETNISKU</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE W GARBATCE-LETNISKU "POD SOSNOWĄ SZYSZKĄ"</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA IM. KRÓLOWEJ JADWIGI W GARBATCE-LETNISKO</li>
        <li>SZKOLNE SCHRONISKO MŁODZIEŻOWE W GARBATCE-LETNISKU</li>
        <li>TECHNIKUM DRZEWNE I LEŚNE W GARBATCE-LETNISKU</li>
        <li>ZESPÓŁ SZKÓŁ DRZEWNYCH I LEŚNYCH IM. JANA KOCHANOWSKIEGO W GARBATCE- LETNISKU</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
