
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Rusiec</title>
</head>
<body>
    <h1>Schools in Rusiec</h1>
    <ul>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA "PITAGORAS"</li>
        <li>PUBLICZNE PRZEDSZKOLE W RUŚCU</li>
        <li>SZKOŁA PODSTAWOWA IM. MARII SKŁODOWSKIEJ-CURIE W RUŚCU</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY IM. MARII SKŁODOWSKIEJ-CURIE W RUŚCU</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
