
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Zawidz Kościelny</title>
</head>
<body>
    <h1>Schools in Zawidz Kościelny</h1>
    <ul>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W ZAWIDZU KOŚCIELNYM</li>
        <li>SZKOŁA PODSTAWOWA W ZAWIDZU KOŚCIELNYM</li>
        <li>TECHNIKUM W ZAWIDZU KOŚCIELNYM</li>
        <li>ZESPÓŁ SZKÓŁ SAMORZĄDOWYCH W ZAWIDZU KOŚCIELNYM IM. WŁ. ST. REYMONTA</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
