
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Sienno</title>
</head>
<body>
    <h1>Schools in Sienno</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA IM. KS. MJR STANISŁAWA DOMAŃSKIEGO W SIENNIE</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA W SIENNIE</li>
        <li>LICEUM OGÓŁNOKSZTAŁCĄCE DLA DOROSŁYCH W SIENNIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. KS. PROF. DR HAB. WŁODZIMIERZA SEDLAKA</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA IM.TEOFILA BANACHA W SIENNIE</li>
        <li>SZKOŁA MUZYCZNA I STOPNIA W SIENNIE</li>
        <li>SZKOŁA POLICEALNA IM. KS. MJR STANISŁAWA DOMAŃSKIEGO W SIENNIE</li>
        <li>TECHNIKUM IM. KS. MJR STANISŁAWA DOMAŃSKIEGO W SIENNIE</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH W SIENNIE</li>
        <li>ZESPÓŁ SZKÓŁ TECHNICZNYCH W SIENNIE</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
