
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Tłuszcz</title>
</head>
<body>
    <h1>Schools in Tłuszcz</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA IM. KRZYSZTOFA KAMILA BACZYŃSKIEGO</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. KRZYSZTOFA KAMILA BACZYŃSKIEGO</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA MANUFAKTURA TERAPII</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "HAPPY ACADEMY"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE SPOŁECZNE JĘZYKOWO-ARTYSTYCZNE "GALILEO" STOWARZYSZENIA "KASTOR - INICJATYWA DLA ROZWOJU"</li>
        <li>OŚRODEK DOSKONALENIA NAUCZYCIELI TUTOR</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W TŁUSZCZU</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE ZGROMADZENIA SIÓSTR OD ANIOŁÓW W TŁUSZCZU</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE BAŚNIOWA KRAINA W TŁUSZCZU</li>
        <li>SZKOŁA PODSTAWOWA IM. JANA PAWŁA II W TŁUSZCZU</li>
        <li>SZKOŁA PODSTAWOWA IM.KRÓLOWEJ JADWIGI W TŁUSZCZU</li>
        <li>TECHNIKUM IM. KRZYSZTOFA KAMILA BACZYŃSKIEGO</li>
        <li>ZESPÓŁ SZKÓŁ W TŁUSZCZU</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
