
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Marki</title>
</head>
<body>
    <h1>Schools in Marki</h1>
    <ul>
        <li>KATOLICKA SZKOŁA PODSTAWOWA KSIĘŻY MICHALITÓW IM. KS.BRONISŁAWA MARKIEWICZA W MARKACH</li>
        <li>KATOLICKIE LICEUM OGÓLNOKSZTAŁCĄCE IM. BŁ. BRONISŁAWA MARKIEWICZA</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>MUSIC & YOU</li>
        <li>MUSIC&YOU</li>
        <li>NIEPUBLICZNA PORADANIA PSYCHOLOGICZNO-PEDAGOGICZNA "SOWA"</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "NEURONIS" AGNIESZKA KOWALCZYK</li>
        <li>NIEPUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE ,,...AD ASTRA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE NR 1 "PLUSZOWY MIŚ"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE NR 14 DZIECIĘCY RAJ II</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE NR 16 "PLUSZOWY MIŚ"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE NR 17 "SMERFUSIE"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE NR 18 "TABALUGA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE NR 19 "BAMBI"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE NR 2 "SMERFY"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE NR 20 "WESOŁY TELETUBIŚ"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE NR 21 "WESOŁA LOKOMOTYWA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE NR 22 "ARTEDOO"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE NR 23 "KAJTUŚ CZARODZIEJ"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE NR 24 "DZIECIĘCY RAJ II"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE NR 25 "DOMOWE PRZEDSZKOLE"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE NR 26 "TABALUGA II"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE NR 28 "DOMOWE PRZEDSZKOLE II"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE NR 29 "KRASNAL"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE NR 3 "DZIECIĘCY RAJ"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE NR 30 KRASNAL II</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE NR 31 "MY WAY"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE NR 32 "MY WAY II"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE NR 33 KIDS PLANET</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE NR 4 "CHATKA PUCHATKA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE NR 6 "BAMBI"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE NR 8 "WESOŁY TELETUBIŚ"</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY NR 4 "GARDEN KIDS"</li>
        <li>NIEPUBLICZNY TERAPEUTYCZNY PUNT PRZEDSZKOLNY NR 5 "ORTOSENSIS"</li>
        <li>OŚRODEK SZKOLEŃ ZAWODOWYCH S.E.O.M. PRAKTYKA GRUP</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA I REHABILITACYJNA "ORTOSENSIS"</li>
        <li>PRYWATNA SZKOŁA PODSTAWOWA NR 1 "...AD ASTRA"</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 1 "WESOŁY SKRZAT" W MARKACH</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 2</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 3 "BAJKOWY ŚWIAT" W MARKACH</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 5 W MARKACH</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE NR 11 SIÓSTR RODZINY MARYI</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE NR 12 "ARTEDOO"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE NR 13 "KAJTUŚ CZARODZIEJ"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE NR 15 "BRATEK"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE NR 34 "PASTELOWY GAJ"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE NR 5 "JUTRZENKA"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE NR 7 "ZŁOTA RYBKA"</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 4 'LEŚNY DOMEK"</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 6 "WESOŁA LOKOMOTYWA"</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 7 KAJTUŚ CZARODZIEJ</li>
        <li>SKŁODOWSCY WIEDZA I FINANSE SP. Z O.O. NIEPUBLICZNE FORUM KSZTAŁCENIA</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. KORNELA MAKUSZYŃSKIEGO W MARKACH</li>
        <li>SZKOŁA PODSTAWOWA NR 2 Z ODDZIAŁAMI INTEGRACYJNYMI IM. ŻOŁNIERZY A.K. II REJONU CELKÓW W MARKACH</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. POMNIK ZWYCIĘSTWA 1920 ROKU</li>
        <li>SZKOŁA PODSTAWOWA NR 4 IM. STEFANA ROWECKIEGO "GROTA"</li>
        <li>SZKOŁA PODSTAWOWA NR 5</li>
        <li>SZKOŁA PODSTAWOWA SIÓSTR RODZINY MARYI</li>
        <li>ZESPÓŁ SZKÓŁ NR 1 IM. JANA PAWŁA II</li>
        <li>ZESPÓŁ SZKÓŁ NR 2 IM. PRYMASA TYSIĄCLECIA</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
