
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Konstancin-Jeziorna</title>
</head>
<body>
    <h1>Schools in Konstancin-Jeziorna</h1>
    <ul>
        <li>"GOODSTART" PUNKT PRZEDSZKOLNY</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 1</li>
        <li>EGURROLA DANCE STUDIO AGUSTIN MAREK EGURROLA</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE SPECJALNE W MAZOWIECKIM CENTRUM REHABILITACJI W KONSTANCINIE JEZIORNIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE SPECJALNE W UZDROWISKU KONSTANCIN-ZDRÓJ S.A. W KONSTANCINIE-JEZIORNIE</li>
        <li>LITTLE ACADEMY DWUJĘZYCZNE PRZEDSZKOLE NIEPUBLICZNE</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO -PEDAGOGICZNA NO BELL LABORATORIUM PSYCHOLOGII DZIECKA</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA CENTRUM ZDROWIA</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA MIKROSZKOŁA KONSTANCIN</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE SKRZATKA OCZATKA</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE WESOŁY REKSIO</li>
        <li>NO BELL INSTYTUT INNOWACJI EDUKACYJNYCH</li>
        <li>NO BELL LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>NO BELL PRZEDSZKOLE MONTESSORI</li>
        <li>NO BELL SZKOŁA PODSTAWOWA MONTESSORI</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "BIMBO"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "BLUE BELL"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "OCHRONKA IM. BŁ. EDMUNDA BOJANOWSKIEGO"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "WESOŁY TYGRYSEK"</li>
        <li>PRZEDSZKOLE NR 1 ZIELONY ZAKĄTEK</li>
        <li>PRZEDSZKOLE NR 2 "TĘCZOWE PRZEDSZKOLE"</li>
        <li>PRZEDSZKOLE NR 4 Z ODDZIAŁAMI INTEGRACYJNYMI "LEŚNA CHATKA"</li>
        <li>PRZEDSZKOLE SPECJALNE W MAZOWIECKIM CENTRUM REHABILITACJI W KONSTANCINIE - JEZIORNIE</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY</li>
        <li>SZKOŁA MUZYCZNA I ST. W KONSTANCINIE-JEZIORNIE</li>
        <li>SZKOŁA PODSTAWOWA INTEGRACYJNA NR 5</li>
        <li>SZKOŁA PODSTAWOWA NR 1</li>
        <li>SZKOŁA PODSTAWOWA NR 2</li>
        <li>SZKOŁA PODSTAWOWA NR 3</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA W UZDROWISKU KONSTANCIN-ZDRÓJ S.A. W KONSTANCINIE - JEZIORNIE</li>
        <li>SZKOŁA POLICEALNA SPECJALNA</li>
        <li>TECHNIKUM NR 1</li>
        <li>ZESPÓŁ SZKÓŁ IM. WŁADYSŁAWA STANISŁAWA REYMONTA</li>
        <li>ZESPÓŁ SZKÓŁ SPECJALNYCH W MAZOWIECKIM CENTRUM REHABILITACJI W KONSTANCINIE-JEZIORNA</li>
        <li>ZESPÓŁ SZKÓŁ SPECJALNYCH W MAZOWIECKKIM CENTRUM REHABILITACJI W KONSTANCINIE - JEZIORNIE - SZKOŁA PODSTAWOWA NR 7</li>
        <li>ZESPÓŁ SZKÓŁ SPECJALNYCH W UZDROWISKU KONSTANCIN-ZDRÓJ S.A. W KONSTANCINIE -JEZIORNIE</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
