
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Stok Lacki</title>
</head>
<body>
    <h1>Schools in Stok Lacki</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA SPECJALNA W SPECJALNYM OŚRODKU SZKOLNO-WYCHOWAWCZYM W STOKU LACKIM</li>
        <li>POWIATOWE PRZEDSZKOLE SPECJALNE W STOKU LACKIM</li>
        <li>ZESPÓŁ OŚWIATOWY IM. JANA PAWŁA II W STOKU LACKIM</li>
        <li>ZESPÓŁ OŚWIATOWY IM. JANA PAWŁA II W STOKU LACKIM PUBLICZNE PRZEDSZKOLE</li>
        <li>ZESPÓŁ OŚWIATOWY IM. JANA PAWŁA II W STOKU LACKIM SZKOŁA PODSTAWOWA</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
