
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Wilanów</title>
</head>
<body>
    <h1>Schools in Wilanów</h1>
    <ul>
        <li>"ETHOPLANET" ETOLOGICZNE CENTRUM SZKOLENIOWO-DORADCZE</li>
        <li>"THE ENGLISH PLAYHOUSE" PRZEDSZKOLE NIEPUBLICZNE</li>
        <li>"WILANOWSKIE PRZEDSZKOLE"</li>
        <li>ACADEMY INTERNATIONAL WILANÓW</li>
        <li>AKADEMEIA PREP SCHOOL</li>
        <li>AKADEMIA DIETETYCZNIE POPRAWNI</li>
        <li>ATO AVIONER</li>
        <li>BRITISH INTERNATIONAL SCHOOL MIĘDZYNARODOWE BRYTYJSKIE LICEUM OGÓLNOKSZTAŁCĄCE NR 326</li>
        <li>BRYTYJSKIE PRZEDSZKOLE"THE ENGLISH PRESCHOOL & NURSERY"</li>
        <li>CENTRUM EDUKACJI MATEMATYCZNEJ I PROGRAMOWANIA MATPLANETA</li>
        <li>CREATIVE KIDS PRESCHOOL NIEPUBLICZNE PRZEDSZKOLE</li>
        <li>DEUTSCHER KINDERGARTEN NIEPUBLICZNE PRZEDSZKOLE</li>
        <li>DIBBER INTERNATIONAL PRESCHOOL - WILANÓW</li>
        <li>EDISON HIGH SCHOOL</li>
        <li>EDISON PRIMARY SCHOOL</li>
        <li>EDISON TECHNICAL HIGH SCHOOL</li>
        <li>EDUHELP PLACÓWKA OŚWIATOWO-WYCHOWAWCZA</li>
        <li>GREAT EIGHT PRZEDSZKOLE NIEPUBLICZNE</li>
        <li>HERO!PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA</li>
        <li>JĘZYKOWE NIEPUBLICZNE PRZEDSZKOLE PASTEL GARDEN</li>
        <li>JOY PRESCHOOL WILANÓW</li>
        <li>JOY PRIMARY SCHOOL</li>
        <li>KIDS CODER LAB</li>
        <li>KOLORE PLACÓWKA OŚWIATOWO WYCHOWAWCZA</li>
        <li>KROK PO KROKU TERAPEUTYCZNY PUNKT PRZEDSZKOLNY</li>
        <li>LICEUM AKADEMEIA HIGH SCHOOL</li>
        <li>LITTLE ACADEMY DWUJĘZYCZNE PRZEDSZKOLE NIEPUBLICZNE</li>
        <li>MAPLE TREE MONTESSORI INTERNATIONAL PRESCHOOL</li>
        <li>MIĘDZYNARODOWA EUROPEJSKA SZKOŁA PODSTAWOWA IM. JANA KUŁAKOWSKIEGO W WARSZAWIE - INTERNATIONAL EUROPEAN SCHOOL *WARSAW</li>
        <li>MIĘDZYNARODOWE EUROPEJSKIE LICEUM OGÓLNOKSZTAŁCĄCE IM. JANA KUŁAKOWSKIEGO W WARSZAWIE - INTERNATIONAL EUROPEAN SCHOOL*WARSAW</li>
        <li>MŁODZIEŻOWY DOM KULTURY NR 8 W WARSZAWIE, UL. KOLEGIACKA 3</li>
        <li>MUSIC HUB - PLACÓWKA OŚWIATOWO - WYCHOWAWCZA</li>
        <li>MUSIC HUB-NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO</li>
        <li>NIEPUBLICZNA ANGLOJĘZYCZNA SZKOŁA PODSTAWOWA "THE ENGLISH PRIMARY"</li>
        <li>NIEPUBLICZNA SPECJALNA SZKOŁA PODSTAWOWA "KROK PO KROKU" IM. BL. EDMUNDA BOJANOWSKIEGO</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA "BEZTROSKI CZAS"</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA BRITISH PRIMARY SCHOOL OF WILANOW</li>
        <li>NIEPUBLICZNE INTEGRACYJNE PRZEDSZKOLE BAŁABAJKA</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "BRUZDOWA 22C"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "ELEMELKI"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "KIDS PROJECT"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "MINIHARVARD" WILANÓW</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE ARTYSTYCZNE ACOTO</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE BIG LITTLE STEPS</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE BRITISH NURSERY OF WILANOW</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE INTEGRACYJNE "ZIARENKO"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE KARATE KIDS</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE KIDS JOY</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE MOJE CUDOWNE LATA</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE MUZYCZNE ZEBRA</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE TUPTU WILANÓW</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY SCOLAR WILANÓW</li>
        <li>OŚRODEK SZKOLENIA SCOLAR</li>
        <li>OSTEON DARIUSZ SKRZYPEK</li>
        <li>POLISH BRITISH ACADEMY OF WARSAW - DWUJĘZYCZNA SZKOŁA PODSTAWOWA Z ODDZIAŁAMI MIĘDZYNARODOWYMI W WARSZAWIE</li>
        <li>POLSKO-ANGIELSKI PUNKT PRZEDSZKOLNY MAGIC FISH O PROFILU ARTYSTYCZNYM</li>
        <li>POLSKO-ANGIELSKIE PRZEDSZKOLE ARTYSTYCZNE MAGIC FISH</li>
        <li>POLSKO-ANGIELSKIE PRZEDSZKOLE PANDZIA</li>
        <li>POLSKO-FRANCUSKA NIEPUBLICZNA SZKOŁA PODSTAWOWA "LA FONTAINE"</li>
        <li>POLSKO-NIEMIECKA SZKOŁA SPOTKAŃ I DIALOGU IM. WILLY'EGO BRANDTA</li>
        <li>POLSKO-NIEMIECKA SZKOŁA SPOTKAŃ I DIALOGU IM. WILLY'EGO BRANDTA W WARSZAWIE - LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>POLSKO-NIEMIECKA SZKOŁA SPOTKAŃ I DIALOGU IM. WILLY'EGO BRANDTA W WARSZAWIE - SZKOŁA PODSTAWOWA</li>
        <li>PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA NR 24 W WARSZAWIE, AL. RZECZYPOSPOLITEJ 14</li>
        <li>POZASZKOLNA PLACÓWKA SPECJALISTYCZNA SCOLAR</li>
        <li>PRZEDSZKOLE "ALA MA KOTA"</li>
        <li>PRZEDSZKOLE ARTYSTYCZNO-JĘZYKOWE MIDORI PRE-SCHOOL</li>
        <li>PRZEDSZKOLE FIRST STEPS</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "ALA MA KOTA"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "FRAJDA"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "HAPPY PRESCHOOL"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "MINI PRZEDSZKOLE"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "RADOSNE PRZEDSZKOLE"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE BABY ENGLISH ACADEMY</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE BEZTROSKI ŚWIAT</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE HERO!ACADEMY</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE IM. JASIA I MAŁGOSI</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE KID'S ACADEMY</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE ZIELONA ŻYRAFA</li>
        <li>PRZEDSZKOLE NR 416 IM UNICEF W WARSZAWIE, UL.SYTA 123</li>
        <li>PRZEDSZKOLE NR 420 "NASZA BAJKA" W WARSZAWIE UL.ŚW.URSZULI LEDÓCHOWSKIEJ 8</li>
        <li>PRZEDSZKOLE NR 424 IM. KRÓLOWEJ MARYSIEŃKI W WARSZAWIE , UL. J.B. FLATTA 7</li>
        <li>PRZEDSZKOLE NR 427 "KRAINA RADOŚCI" W WARSZAWIE, UL. RADOSNA 11</li>
        <li>PRZEDSZKOLE NR 436 W WARSZAWIE, UL. SARMACKA 4</li>
        <li>PRZEDSZKOLE NR 440 W WARSZAWIE, UL. LATOSZKI 24</li>
        <li>PRZEDSZKOLE NR 56 "WESOŁE KUBUSIE"</li>
        <li>PRZEDSZKOLE NUMER JEDEN</li>
        <li>PUNKT PRZEDSZKOLNY "ZIELONA WIEŻA"</li>
        <li>PUNKT PRZEDSZKOLNY "ZIELONY LATAWIEC"</li>
        <li>PUNKT PRZEDSZKOLNY BABY ENGLISH ACADEMY</li>
        <li>PUNKT PRZEDSZKOLNY MONTESSORI STEPPING STONES</li>
        <li>SMART KINDERGARTEN WARSAW</li>
        <li>SZKOŁA PODSTAWOWA IM. A. EINSTEINA</li>
        <li>SZKOŁA PODSTAWOWA NIEPUBLICZNA IM. "WIKTORII WIEDEŃSKIEJ" FUNDACJI EDUKACYJNEJ "VARSOVIA"</li>
        <li>SZKOŁA PODSTAWOWA NR 104 IM. MACIEJA RATAJA</li>
        <li>SZKOŁA PODSTAWOWA NR 169 IM. ORŁA BIAŁEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 261 IM. STANISŁAWA KOSTKI POTOCKIEGO W WARSZAWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 300 IM. WANDY RUTKIEWICZ</li>
        <li>SZKOŁA PODSTAWOWA NR 358 IM. HETMANA JANA ZAMOYSKIEGO W WARSZAWIE, PRZY UL. ŚW. URSZULI LEDÓCHOWSKIEJ 10</li>
        <li>SZKOŁA PODSTAWOWA NR 400 IM. MARII SKŁODOWSKIEJ-CURIE W WARSZAWIE, UL. OŚ KRÓLEWSKA 25</li>
        <li>SZKOŁA PODSTAWOWA NUMER JEDEN IM. BENJAMINA FRANKLINA</li>
        <li>TERAPEUTYCZNY PUNKT PRZEDSZKOLNY "SZCZĘŚLIWE DZIECI"</li>
        <li>XXXVIII LICEUM OGÓLNOKSZTAŁCĄCE IM. STANISŁAWA KOSTKI POTOCKIEGO W WARSZAWIE</li>
        <li>ZESPÓŁ SZKÓŁ "EDISON INTERNATIONAL SCHOOL"</li>
        <li>ZESPÓŁ SZKÓŁ NR 79 IM. ST. KOSTKI POTOCKIEGO W WARSZAWIE</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
