
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Kaliszki</title>
</head>
<body>
    <h1>Schools in Kaliszki</h1>
    <ul>
        <li>GUMISIOWE PRZEDSZKOLE</li>
        <li>NIEPUBLICZNA JĘZYKOWA SZKOŁA PODSTAWOWA CREATIO W KALISZKACH</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA EMOTKA</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY PRZEDSZKOLE PUBLICZNE W KALISZKACH</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY SZKOŁA PODSTAWOWA IM. GRUPY KAMPINOS AK W KALISZKACH</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W KALISZKACH</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
