
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Kolonia Ossa</title>
</head>
<body>
    <h1>Schools in Kolonia Ossa</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA SPECJALNA</li>
        <li>MŁODZIEŻOWY OŚRODEK WYCHOWAWCZY W KOLONII OSSA</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
