
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Różan</title>
</head>
<body>
    <h1>Schools in Różan</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W ZESPOLE SZKÓŁ W RÓŻANIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W ZESPOLE SZKÓŁ W RÓŻANIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE JĘZYKOWE BUEN CAMINO</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE W RÓŻANIE</li>
        <li>SZKOŁA PODSTAWOWA IM. I DYWIZJI TADEUSZA KOŚCIUSZKI W RÓŻANIE</li>
        <li>TECHNIKUM W ZESPOLE SZKÓŁ W RÓŻANIE</li>
        <li>ZESPÓŁ SZKÓŁ IM. JANA PAWŁA II W RÓŻANIE</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
