
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Uniszki Zawadzkie</title>
</head>
<body>
    <h1>Schools in Uniszki Zawadzkie</h1>
    <ul>
        <li>PUNKT PRZEDSZKOLNY PRZY SZKOLE PODSTAWOWEJ W UNISZKACH ZAWADZKICH</li>
        <li>SZKOŁA PODSTAWOWA IM. KRÓLA WŁADYSŁAWA ŁOKIETKA W UNISZKACH ZAWADZKICH</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
