
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Komornica</title>
</head>
<body>
    <h1>Schools in Komornica</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W KOMORNICY</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. MJRA KONSTANTEGO MIKOŁAJA RADZIWIŁŁA W KOMORNICY</li>
        <li>TECHNIKUM W KOMORNICY</li>
        <li>ZESPÓŁ SZKÓŁ W KOMORNICY</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
