
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Stok Lacki-Folwark</title>
</head>
<body>
    <h1>Schools in Stok Lacki-Folwark</h1>
    <ul>
        <li>POWIATOWA PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA SPECJALNA W STOKU LACKIM</li>
        <li>PUBLICZNA SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W STOKU LACKIM</li>
        <li>SPECJALNY OŚRODEK SZKOLNO WYCHOWAWCZY W STOKU LACKIM</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
