
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Żoliborz</title>
</head>
<body>
    <h1>Schools in Żoliborz</h1>
    <ul>
        <li>ACADEMY INTERNATIONAL ŻOLIBORZ</li>
        <li>ANGLOSCHOOL</li>
        <li>ART STUDIO</li>
        <li>BRANŻOWA SZKOŁA ELEKTRONICZNA I STOPNIA NR 2</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 11</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 61</li>
        <li>BRANŻOWA SZKOŁA RZEMIOSŁ ARTYSTYCZNYCH I STOPNIA NR 65</li>
        <li>BROADWAY MUSICAL SCHOOL</li>
        <li>CENTRUM FIZJOEDUKACJI "ANIMUSZ"</li>
        <li>CL LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>CXIV LICEUM OGÓLNOKSZTAŁCĄCE IM. JANA KILIŃSKIEGO</li>
        <li>CXLIX LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI INTEGRACYJNYMI IM. BOLESŁAWA LIMANOWSKIEGO</li>
        <li>LABORATORIUM POMIARÓW ŚRODOWISKOWYCH. SZKOLENIA W ZAKRESIE BHP</li>
        <li>LICEUM FILMOWE I KREACJI GIER WIDEO</li>
        <li>LICEUM FILMOWE Z ODDZIAŁAMI DWUJĘZYCZNYMI PRZY WARSZAWSKIEJ SZKOLE FILMOWEJ</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE KREACJI GIER WIDEO PRZY WARSZAWSKIEJ SZKOLE FILMOWEJ</li>
        <li>LXIV LICEUM OGÓLNOKSZTAŁCĄCE IM. STANISŁAWA IGNACEGO WITKIEWICZA "WITKACEGO"</li>
        <li>NIEPUBLICZNA POLICEALNA SZKOŁA MUZYCZNA WOKALNO-AKTORSKA PRZY WARSZAWSKIEJ SZKOLE FILMOWEJ W WARSZAWIE</li>
        <li>NIEPUBLICZNA SPECJALNA SZKOŁA PODSTAWOWA REALIZUJĄCA PROGRAM REHABILITACJI "NASZA SZKOŁA"</li>
        <li>NIEPUBLICZNE "WESOŁE PRZEDSZKOLE TPD" IM. MARII KOWNACKIEJ</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE INTEGRACYJNE RADOSNA PLANETA</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE JĘZYKOWE HAPPY HIPPO</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE PRACOWNIA RODZINY MADURAR</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE ZIELONA WIEŻA ŻOLIBORZ</li>
        <li>OGNISKO PRACY POZASZKOLNEJ "ŻOLIBORZ"</li>
        <li>OGÓLNOKSZTAŁCĄCA SZKOŁA MUZYCZNA I ST. W WARSZAWIE</li>
        <li>OGÓLNOKSZTAŁCĄCA SZKOŁA MUZYCZNA II ST. W WARSZAWIE</li>
        <li>ONE WAY MATH - PLACÓWKA OŚWIATOWO-WYCHOWAWCZA</li>
        <li>OŚRODEK DOSKONALENIA KADR INTERPROFESJA</li>
        <li>OŚRODEK REHABILITACYJNO-EDUKACYJNO-WYCHOWAWCZY</li>
        <li>OŚRODEK SZKOLENIOWY CENTRUM EDUKACJI BEZPIECZEŃSTWA ALFA</li>
        <li>OŚRODEK SZKOLENIOWY INFO GRUPA</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA II ST. W WARSZAWIE</li>
        <li>PERRO- NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO</li>
        <li>POLICEALNA SZKOŁA KOSMETYCZNA AKADEMIA PRENIER</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA NR 3</li>
        <li>PRYWATNE LICEUM OGÓLNOKSZTAŁCĄCE ZGROMADZENIA SIÓSTR ZMARTWYCHWSTANIA PAŃSKIEGO IM. MATKI JADWIGI BORZĘCKIEJ</li>
        <li>PRYWATNE PRZEDSZKOLE "BALIBU"</li>
        <li>PRZEDSZKOLE FOX IN THE BOX</li>
        <li>PRZEDSZKOLE INTEGRACYJNE NR 247</li>
        <li>PRZEDSZKOLE LALIBAM</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "MALEŃSTWO I PRZYJACIELE"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "ZDROWOJEŻ"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE BABY ROOM PRESCHOOL</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE EDU FLAMING</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE WIOSKA TINY WINGS</li>
        <li>PRZEDSZKOLE NR 109 "LUDECZKOWO"</li>
        <li>PRZEDSZKOLE NR 130 IM. MARII KOWNACKIEJ</li>
        <li>PRZEDSZKOLE NR 131</li>
        <li>PRZEDSZKOLE NR 132</li>
        <li>PRZEDSZKOLE NR 197 "DO-RE-MI"</li>
        <li>PRZEDSZKOLE NR 212</li>
        <li>PRZEDSZKOLE NR 361</li>
        <li>PRZEDSZKOLE NR 433</li>
        <li>PRZEDSZKOLE NR 446</li>
        <li>PRZEDSZKOLE NR 87</li>
        <li>PRZEDSZKOLE NR 96</li>
        <li>PRZEDSZKOLE Z ODDZIAŁAMI INTEGRACYJNYMI NR 288</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA SIÓSTR ZMARTWYCHWSTANEK IM. BŁ. S.ALICJI KOTOWSKIEJ</li>
        <li>PUNKT PRZEDSZKOLNY DOTTI PELOTTI</li>
        <li>PUNKT PRZEDSZKOLNY DUŻA WIEŻA JEŻA</li>
        <li>PUNKT PRZEDSZKOLNY MAŁA WIEŻA JEŻA</li>
        <li>PUNKT PRZEDSZKOLNY MAMBALEU</li>
        <li>PUNKT PRZEDSZKOLNY PROMITIS</li>
        <li>PUNKT PRZEDSZKOLNY SOTIS ŻOLIBORZ I</li>
        <li>PUNKT PRZEDSZKOLNY SOTIS ŻOLIBORZ II</li>
        <li>PUNKT PRZEDSZKOLNY SOTIS ŻOLIBORZ III</li>
        <li>PUNKT PRZEDSZKOLNY WIEŻA JEŻA</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY NR 9</li>
        <li>STUDIO SZTUKI ARTYSTYCZNE POLICEALNE STUDIUM ZAWODOWE W WARSZAWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 267 IM. JULIUSZA SŁOWACKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 391 IM. MACIEJA ALEKSEGO DAWIDOWSKIEGO PS. "ALEK"</li>
        <li>SZKOŁA PODSTAWOWA NR 392 IM. JANA BYTNARA PS. "RUDY"</li>
        <li>SZKOŁA PODSTAWOWA NR 396</li>
        <li>SZKOŁA PODSTAWOWA NR 65 IM. WŁADYSŁAWA ORKANA</li>
        <li>SZKOŁA PODSTAWOWA NR 92 IM. JANA BRZECHWY</li>
        <li>SZKOŁA PODSTAWOWA SIÓSTR ZMARTWYCHWSTANEK IM. BŁ. S. ALICJI KOTOWSKIEJ</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 123</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 155</li>
        <li>SZKOŁA PODSTAWOWA Z ODDZIAŁAMI INTEGRACYJNYMI NR 68 IM. ARTURA OPPMANA</li>
        <li>SZKOŁA POLICEALNA NR 33</li>
        <li>SZKOŁA POLICEALNA NR 35 DLA DOROSŁYCH</li>
        <li>SZKOŁA POLICEALNA NR 39</li>
        <li>SZKOŁA ZAWODÓW FILMOWYCH NIEPUBLICZNA POLICEALNA SZKOŁA PLASTYCZNA PRZY WARSZAWSKIEJ SZKOLE FILMOWEJ</li>
        <li>TECHNIKUM ELEKTRONICZNE NR 3 IM. ŻOŁNIERZY ARMII KRAJOWEJ "ŻYWICIEL"</li>
        <li>TECHNIKUM ELEKTRYCZNE NR 2 IM. SYNÓW PUŁKU</li>
        <li>TECHNIKUM MECHANICZNE NR 7 IM. JANA KILIŃSKIEGO</li>
        <li>TECHNIKUM SAMOCHODOWE NR 3</li>
        <li>WARSZTATY FILMOWE PRZY WSF</li>
        <li>XVI LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI DWUJĘZYCZNYMI IM. STEFANII SEMPOŁOWSKIEJ</li>
        <li>ZESPÓŁ PAŃSTWOWYCH SZKÓŁ MUZYCZNYCH NR 4 IM. KAROLA SZYMANOWSKIEGO W WARSZAWIE</li>
        <li>ZESPÓŁ SZKÓŁ ELEKTRONICZNYCH I LICEALNYCH</li>
        <li>ZESPÓŁ SZKÓŁ FILMOWYCH PRZY WARSZAWSKIEJ SZKOLE FILMOWEJ</li>
        <li>ZESPÓŁ SZKÓŁ NR 28</li>
        <li>ZESPÓŁ SZKÓŁ NR 31 IM. JANA KILIŃSKIEGO</li>
        <li>ZESPÓŁ SZKÓŁ SAMOCHODOWYCH I LICEALNYCH NR 3 IM. IGNACEGO JANA PADEREWSKIEGO</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
