
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Puszcza Mariańska</title>
</head>
<body>
    <h1>Schools in Puszcza Mariańska</h1>
    <ul>
        <li>CENTRUM PRZEDSIĘBIORCZOŚCI I AGROBIZNESU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. CZESŁAWA TAŃSKIEGO W PUSZCZY MARIAŃSKIEJ</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE W PUSZCZY MARIAŃSKIEJ</li>
        <li>SZKOŁA PODSTAWOWA IM. KRÓLA JANA III SOBIESKIEGO W PUSZCZY MARIAŃSKIEJ</li>
        <li>ZESPÓŁ SZKOLNO - PRZEDSZKOLNY</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
