
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Nasielsk</title>
</head>
<body>
    <h1>Schools in Nasielsk</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA IM. MIKOŁAJA KOPERNIKA</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. MIKOŁAJA KOPERNIKA</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM.JAROSŁAWA IWASZKIEWICZA</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA IM. POR. ROBERTA PETERSA I POR. JOSEPHA VIGNA</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "POD FIOŁKAMI"</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W NOWYM DWORZE MAZOWIECKIM FILIA W NASIELSKU</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE IM. JULIANA TUWIMA W NASIELSKU</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. KONSTYTUCJI 3 MAJA W NASIELSKU</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. STEFANA STARZYŃSKIEGO W NASIELSKU</li>
        <li>TECHNIKUM IM. MIKOŁAJA KOPERNIKA</li>
        <li>ZESPÓŁ SZKÓŁ ZAWODOWYCH W NASIELSKU</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
