
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Dylewo</title>
</head>
<body>
    <h1>Schools in Dylewo</h1>
    <ul>
        <li>PRZEDSZKOLE SAMORZĄDOWE W DYLEWIE</li>
        <li>SZKOŁA PODSTAWOWA W ZESPOLE PLACÓWEK OŚWIATOWYCH IM. PAPIEŻA JANA PAWŁA II W DYLEWIE</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH IM. PAPIEŻA JANA PAWŁA II</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
