
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Rogotwórsk</title>
</head>
<body>
    <h1>Schools in Rogotwórsk</h1>
    <ul>
        <li>PUNKT PRZEDSZKOLNY PRZY SZKOLE PODSTAWOWEJ IM. PROF. ARCH. STANISŁAWA MARZYŃSKIEGO W ROGOTWÓRSKU</li>
        <li>SZKOŁA PODSTAWOWA IM. PROF. ARCH. STANISŁAWA MARZYŃSKIEGO W ROGOTWÓRSKU</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
