
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Długowola Pierwsza</title>
</head>
<body>
    <h1>Schools in Długowola Pierwsza</h1>
    <ul>
        <li>PRZEDSZKOLE PUBLICZNE SAMORZĄDOWE W DŁUGOWOLI</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA W DŁUGOWOLI</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH W DŁUGOWOLI</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
