
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Wyszogród</title>
</head>
<body>
    <h1>Schools in Wyszogród</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W WYSZOGRODZIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W WYSZOGRODZIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W WYSZOGRODZIE</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE</li>
        <li>SZKOŁA PODSTAWOWA IM.KRZYSZTOFA KAMILA BACZYŃSKIEGO</li>
        <li>SZKOŁA POLICEALNA W WYSZOGRODZIE</li>
        <li>TECHNIKUM W WYSZOGRODZIE</li>
        <li>ZESPÓŁ SZKÓŁ IM. JANA ŚNIADECKIEGO W WYSZOGRODZIE</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
