
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Wola</title>
</head>
<body>
    <h1>Schools in Wola</h1>
    <ul>
        <li>ACADEMY INTERNATIONAL CENTRUM</li>
        <li>ACADEMY INTERNATIONAL KAROLKOWA 49 NIEPUBLICZNA SZKOŁA PODSTAWOWA Z ODDZIAŁAMI DWUJĘZYCZNYMI NR 81</li>
        <li>AKADEMIA DOBREJ EDUKACJI IM. GEN. JÓZEFA SOWIŃSKIEGO W WARSZAWIE</li>
        <li>AKADEMIA DŹWIĘKU</li>
        <li>AKADEMIA EDUKACJI</li>
        <li>AKADEMIA POLICEALNA SZKOŁA ZAWODOWA NR 1 DLA DOROSŁYCH W WARSZAWIE</li>
        <li>AKADEMIA WIEDZY UŻYTECZNEJ LEOPARD</li>
        <li>AKADEMIA ZDROWIA IZABELA ŁAJS</li>
        <li>AKADEMIA-LICEUM OGÓLNOKSZTAŁCĄCE DLA MŁODZIEŻY W WARSZAWIE</li>
        <li>AKADEMIA-TECHNIKUM DLA MŁODZIEŻY W WARSZAWIE</li>
        <li>ALTKOM</li>
        <li>ALTKOM AKADEMIA</li>
        <li>AUTORSKA SZKOŁA MUZYKI ROZRYWKOWEJ I JAZZU I ST. IM.KRZYSZTOFA KOMEDY W WARSZAWIE</li>
        <li>AUTORSKA SZKOŁA MUZYKI ROZRYWKOWEJ I JAZZU II ST. IM. KRZYSZTOFA KOMEDY W WARSZAWIE</li>
        <li>BANKOWY OŚRODEK DORADZTWA I EDUKACJI</li>
        <li>BERLITZ - NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO</li>
        <li>BERLITZ NIEPUBLICZNA PLACÓWKA OŚWIATOWO-WYCHOWACZA</li>
        <li>BIZNES EDUKATOR CENTRUM SZKOLEŃ</li>
        <li>BRANŻOWA SZKOŁA FOTOTECHNICZNA I STOPNIA</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA "COSINUS PLUS" W WARSZAWIE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 39</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 57</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 6 IM. MICHAŁA KONARSKIEGO</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 66</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA SPECJALNA NR 52</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA SPECJALNA NR 67 IM. MACIEJA KOZŁOWSKIEGO</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA NR 2</li>
        <li>BRANŻOWA SZKOŁA SAMOCHODOWA I STOPNIA NR 1</li>
        <li>BURSA SZKOLNA NR 6</li>
        <li>CENTRALNY OŚRODEK KSZTAŁCENIA "ZUBRZYCKI"</li>
        <li>CENTRUM DOSKONALENIA NAUCZYCIELI "ESPERTE"</li>
        <li>CENTRUM EDUKACYJNE OFF COURSE - PLACÓWKA KSZTAŁCENIA USTAWICZNEGO</li>
        <li>CENTRUM EDUKACYJNE OFF COURSE - PLACÓWKA OŚWIATOWO-WYCHOWAWCZA</li>
        <li>CENTRUM EDUKACYJNE PROFILAKTYKI PROBLEMOWEJ FUNDACJI ETOH</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO BEZPIECZEŃSTWO INFORMACJI</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO CONSULTING JADWIGA WYZNER</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO GRUPY SET</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO NR 3</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO "EKSPERT"</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO NR 1</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO NR 2</li>
        <li>CENTRUM OŚWIECENIA</li>
        <li>CENTRUM SZKOLEŃ SPECJALISTYCZNYCH MATEL SERVICE</li>
        <li>CENTRUM SZKOLENIOWE ADN AKADEMIA BIZNESU</li>
        <li>CHŁODNA 29</li>
        <li>CLXI LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>COSINUS OGÓLNOPOLSKI OŚRODEK SZKOLEŃ I ROZWOJU W WARSZAWIE</li>
        <li>CXIX LICEUM OGÓLNOKSZTAŁCĄCE IM. JACKA KURONIA</li>
        <li>CXLII LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>CXLIV LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>CXLV LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>CXXV LICEUM OGÓLNOKSZTAŁCĄCE IM. WALDEMARA MILEWICZA</li>
        <li>CXXVIII LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>CXXXIX LICEUM OGÓLNOKSZTAŁCĄCE SPECJALNE</li>
        <li>DWUJĘZYCZNE PRZEDSZKOLE NIEPUBLICZNE "KIDS & CO"</li>
        <li>DWUJĘZYCZNE PRZEDSZKOLE NIEPUBLICZNE BIG LITTLE THINGS</li>
        <li>EMPRIZ TRAINING</li>
        <li>ENERE - EDUKACJA I SZKOLENIA</li>
        <li>ERGO-BIS CENTRUM EDUKACJI BEZPIECZEŃSTWA I HIGIENY PRACY</li>
        <li>EUROPEJSKIE CENTRUM KSZTAŁCENIA KADR SPORTOWYCH</li>
        <li>GLAMOUR EXPERT ACADEMY</li>
        <li>I SPOŁECZNE LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI MIĘDZYNARODOWYMI IM. MAHARADŻY JAM SAHEBA DIGVIJAY SINHJI</li>
        <li>III LICEUM OGÓLNOKSZTAŁCĄCE IM. GEN. JÓZEFA SOWIŃSKIEGO</li>
        <li>INTEGRACYJNE PRZEDSZKOLE NIEPUBLICZNE JĘZYKOWO-MUZYCZNE "CZARODZIEJSKI DWOREK"</li>
        <li>KATOLICKA SZKOŁA PODSTAWOWA IM. KS. PIOTRA SKARGI</li>
        <li>KATOLICKA SZKOŁA PODSTAWOWA NR 7 IM. KS. KARD. STEFANA WYSZYŃSKIEGO</li>
        <li>KATOLICKIE LICEUM OGÓLNOKSZTAŁCĄCE IM. KS. JERZEGO POPIEŁUSZKI</li>
        <li>KODEKS OŚRODEK KSZTAŁCENIA USTAWICZNEGO</li>
        <li>LICEUM AKADEMIA DOBREJ EDUKACJI IM. GEN. JÓZEFA SOWIŃSKIEGO W WARSZAWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE ARTES LIBERALES</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH "ARCHIMEDES" W WARSZAWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH "ŻAK" W WARSZAWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH PASCAL W WARSZAWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DOBRATU IM. TOSI KOZŁOWSKIEJ</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE TE VIZJA Z ODDZIAŁAMI DWUJĘZYCZNYMI</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI DWUJĘZYCZNYMI FUNDACJI SZKOLNEJ W WARSZAWIE</li>
        <li>LXXXVI LICEUM OGÓLNOKSZTAŁCĄCE IM. BATALIONU "ZOŚKA"</li>
        <li>LXXXVIII LICEUM OGÓLNOKSZTAŁCĄCE IM. MICHAŁA KONARSKIEGO</li>
        <li>MAZOWIECKIE CENTRUM EDUKACJI, PROMOCJI I DORADZTWA RZEMIOSŁA I PRZEDSIĘBIORCZOŚCI</li>
        <li>MEDYCZNE STUDIUM ZAWODOWE</li>
        <li>MIĘDZYNARODOWA SZKOŁA PODSTAWOWA TE VIZJA</li>
        <li>MIĘDZYNARODOWE PRZEDSZKOLE TE VIZJA "MY FIRST ACADEMY"</li>
        <li>MIĘDZYSZKOLNY OŚRODEK SPORTOWY NR 6 W WARSZAWIE</li>
        <li>MŁODZIEŻOWY DOM KULTURY</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO AKADEMIO</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO BASMA SECURITY</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO ULTRAMASZYNA</li>
        <li>NIEPUBLICZNA POLICEALNA MIĘDZYNARODOWA SZKOŁA KOSTIUMOGRAFII I PROJEKTOWANIA UBIORU W WARSZAWIE</li>
        <li>NIEPUBLICZNA POLICEALNA SZKOŁA MUZYCZNA COSINUS W WARSZAWIE</li>
        <li>NIEPUBLICZNA POLICEALNA SZKOŁA PLASTYCZNA COSINUS W WARSZAWIE</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA EMKA</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA I REHABILITACYJNA TOWARZYSTWA EDUKACYJNEGO "VIZJA"</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA POD WIELKIM DACHEM NIEBA</li>
        <li>NIEPUBLICZNA SPECJALISTYCZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "SOKOŁOWSKA"</li>
        <li>NIEPUBLICZNA SPECJALNA SZKOŁA PODSTAWOWA DLA DZIECI Z AUTYZMEM W KONTAKCIE</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA EDUART IM. LEONARDA DA VINCI</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA POD WIELKIM DACHEM NIEBA</li>
        <li>NIEPUBLICZNA SZKOŁA PRZYSPOSABIAJĄCA DO PRACY IM. ANIOŁÓW STRÓŻÓW "W KONTAKCIE"</li>
        <li>NIEPUBLICZNE DWUJĘZYCZNE PRZEDSZKOLE KIDS&CO</li>
        <li>NIEPUBLICZNE DWUJĘZYCZNE PRZEDSZKOLE KIDS&CO</li>
        <li>NIEPUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH PRZY WARSZAWSKIEJ SZKOLE ZARZĄDZANIA - SZKOLE WYŻSZEJ</li>
        <li>NIEPUBLICZNE LICEUM SZTUK PLASTYCZNYCH COSINUS W WARSZAWIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "BAJECZKA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "MINIHARVARD" WOLA</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "PIERWSZE KROCZKI"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "POZIOMKA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "ZACZAROWANE MOTYLKI"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE HOUSE OF REGGIO</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE KAPITAN PRZYGODA</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE WALDORFSKIE</li>
        <li>NIEPUBLICZNE TECHNIKUM PROGRAMISTYCZNE TECHNI SCHOOLS</li>
        <li>NIEPUBLICZNY OŚRODEK DOSKONALENIA NAUCZYCIELI CYFROWY DIALOG</li>
        <li>NIEPUBLICZNY TERAPEUTYCZNY PUNKT PRZEDSZKOLNY "TIK TAK" IM. O. LEONA ZDZISŁAWA POKORSKIEGO OFM</li>
        <li>NIEPUBLICZNY TERAPEUTYCZNY PUNKT PRZEDSZKOLNY MAŁE MIASTO DZIECI</li>
        <li>NIEPUBLICZNY TERAPEUTYCZNY PUNKT PRZEDSZKOLNY PARASOL</li>
        <li>OŚRODEK KSZTAŁCENIA ZAWODOWEGO FRAJDA</li>
        <li>OŚRODEK SZKOLENIA BEZPIECZEŃSTWA I HIGIENY PRACY</li>
        <li>OŚRODEK SZKOLENIA CAMELOT</li>
        <li>OŚRODEK SZKOLENIOWY STOWARZYSZENIA "NIEBIESKA LINIA"</li>
        <li>PAŃSTWOWA OGÓLNOKSZTAŁCĄCA SZKOŁA MUZYCZNA I ST. IM. GRAŻYNY BACEWICZ W WARSZAWIE</li>
        <li>PAŃSTWOWA OGÓLNOKSZTAŁCĄCA SZKOŁA MUZYCZNA II ST. W WARSZAWIE</li>
        <li>PAŃSTWOWE LICEUM SZTUK PLASTYCZNYCH IM. WOJCIECHA GERSONA W WARSZAWIE</li>
        <li>POLICEALNA SZKOŁA "COSINUS I" W WARSZAWIE</li>
        <li>POLICEALNA SZKOŁA KOSMETYCZNA BARBARY JAROSZEWSKIEJ</li>
        <li>POLICEALNA SZKOŁA MEDYCZNA COSINUS W WARSZAWIE</li>
        <li>POLSKIE CENTRUM EDUKACJI</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA NR 14</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA NR 2</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA NR 6</li>
        <li>PRYWATNA SZKOŁA MUZYCZNA I ST. IM. M. KARŁOWICZA W WARSZAWIE</li>
        <li>PRYWATNA SZKOŁA MUZYCZNA II ST. IM. MIECZYSŁAWA KARŁOWICZA W WARSZAWIE</li>
        <li>PRYWATNA SZKOŁA PODSTAWOWA "KOLOROWY CZAS"</li>
        <li>PRYWATNA SZKOŁA PODSTAWOWA NR 94 SZKOŁA "LAUDER MORASHA"</li>
        <li>PRYWATNE LICEUM OGÓLNOKSZTAŁCĄCE IM. ZUZANNY GINCZANKI</li>
        <li>PRYWATNE PRZEDSZKOLE LAUDER-MORASHA</li>
        <li>PRZEDSZKOLE "U CIOCI GOSI"</li>
        <li>PRZEDSZKOLE DWUJĘZYCZNE BABY STEPS</li>
        <li>PRZEDSZKOLE INTEGRACYJNE NR 209 "ZACZAROWANE ZIARENKO"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "ELE MELE DUTKI"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "MIASTECZKO DZIECI"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "PRZEDSZKOLAKI Z NASZEJ PAKI"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE MAŁE PASJE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE ZIELONA ŻYRAFA</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE-OCHRONKA IMIENIA EDMUNDA BOJANOWSKIEGO SIÓSTR SŁUŻEBNICZEK N.M.P.</li>
        <li>PRZEDSZKOLE NR 116</li>
        <li>PRZEDSZKOLE NR 118 Z ODDZIAŁAMI INTEGRACYJNYMI</li>
        <li>PRZEDSZKOLE NR 124</li>
        <li>PRZEDSZKOLE NR 133</li>
        <li>PRZEDSZKOLE NR 134</li>
        <li>PRZEDSZKOLE NR 135</li>
        <li>PRZEDSZKOLE NR 136</li>
        <li>PRZEDSZKOLE NR 172 IM. DANUTY WAWIŁOW</li>
        <li>PRZEDSZKOLE NR 217 SIÓSTR RODZINY MARYI</li>
        <li>PRZEDSZKOLE NR 234</li>
        <li>PRZEDSZKOLE NR 237 IM. WARSZAWSKIEJ SYRENKI</li>
        <li>PRZEDSZKOLE NR 238 "TĘCZOWY PAJACYK"</li>
        <li>PRZEDSZKOLE NR 253 "AKADEMIA PANA KLEKSA"</li>
        <li>PRZEDSZKOLE NR 263</li>
        <li>PRZEDSZKOLE NR 269</li>
        <li>PRZEDSZKOLE NR 273</li>
        <li>PRZEDSZKOLE NR 289</li>
        <li>PRZEDSZKOLE NR 350 "JAŚMINOWY GAJ"</li>
        <li>PRZEDSZKOLE NR 403</li>
        <li>PRZEDSZKOLE NR 426 "KRAINA ODKRYWCÓW"</li>
        <li>PRZEDSZKOLE NR 47 "MALI ARTYŚCI"</li>
        <li>PRZEDSZKOLE NR 58 IM. CZESŁAWA JANCZARSKIEGO</li>
        <li>PRZEDSZKOLE NR 62</li>
        <li>PRZEDSZKOLE NR 74"PRZY ZIELONYM WZGÓRZU"</li>
        <li>PRZEDSZKOLE NR 93 "BAŚNIOWY DWOREK NA KOLE"</li>
        <li>PRZEDSZKOLE PUBLICZNE "KWIATKI ŚW. FRANCISZKA"</li>
        <li>PRZEDSZKOLE PUBLICZNE EDULICA 4</li>
        <li>PRZEDSZKOLE SPECJALNE NR 68 W MAZOWIECKIM CENTRUM REHABILITACJI "STOCER" SP. Z O. O.</li>
        <li>PRZEDSZKOLE Z ODDZIAŁAMI INTEGRACYJNYMI NR 127 IM. WANDY CHOTOMSKIEJ</li>
        <li>PRZEDSZKOLE Z ODDZIAŁAMI INTEGRACYJNYMI NR 310</li>
        <li>PRZEDSZKOLE Z ODDZIAŁAMI INTEGRACYJNYMI NR 37 "BAJKOWY ŚWIAT"</li>
        <li>PUBLICZNA SZKOŁA POLICEALNA "COSINUS" W WARSZAWIE</li>
        <li>PUBLICZNE PRZEDSZKOLE LULA</li>
        <li>PUNKT PRZEDSZKOLNY "KARUZELLA"</li>
        <li>PUNKT PRZEDSZKOLNY "WATERCOLOR MARINA"</li>
        <li>PUNKT PRZEDSZKOLNY KARUZELLA KIDS</li>
        <li>PUNKT PRZEDSZKOLNY MOTYLOVE PRZEDSZKOLE</li>
        <li>SFERA.EDU NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO</li>
        <li>SPECJALISTYCZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "UNIWERSYTET DLA RODZICÓW"</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY DLA GŁUCHYCH IM. JANA SIESTRZYŃSKIEGO</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY DLA GŁUCHYCH IM. JANA SIESTRZYŃSKIEGO W WARSZAWIE BRANŻOWA SZKOŁA II STOPNIA SPECJALNA NR 3 W WARSZAWIE, UL. ŁUCKA 17/23</li>
        <li>SPOŁECZNE WALDORFSKIE LICEUM OGÓLNOKSZTAŁCĄCE NR 1</li>
        <li>STOWARZYSZENIE KSIĘGOWYCH W POLSCE ODDZIAŁ OKRĘGOWY W WARSZAWIE CENTRUM EDUKACJI ZAWODOWEJ</li>
        <li>STUDIUM JĘZYKÓW OBCYCH "UN-O"</li>
        <li>SZKOŁA PODSTAWOWA AKADEMIA DOBREJ EDUKACJI IM. GEN. JÓZEFA SOWIŃSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA DLA DOROSŁYCH NR 390</li>
        <li>SZKOŁA PODSTAWOWA DOBRATU IM. TOSI KOZŁOWSKIEJ</li>
        <li>SZKOŁA PODSTAWOWA INTEGRACYJNA NR 317 IM. EDMUNDA BOJANOWSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 132 IM. SÁNDORA PETŐFIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 139 IM. LUDWIKI WAWRZYŃSKIEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 148 IM. HUGONA KOŁŁĄTAJA</li>
        <li>SZKOŁA PODSTAWOWA NR 166 IM. ŻWIRKI I WIGURY</li>
        <li>SZKOŁA PODSTAWOWA NR 221 Z ODDZIAŁAMI INTEGRACYJNYMI IM. BARBARY BRONISŁAWY CZARNOWSKIEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 222 IM. JANA BRZECHWY</li>
        <li>SZKOŁA PODSTAWOWA NR 225 IM. JÓZEFA GARDECKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 234 IM. JULIANA TUWIMA</li>
        <li>SZKOŁA PODSTAWOWA NR 236 Z ODDZIAŁAMI INTEGRACYJNYMI IM. IRENY SENDLEROWEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 238 IM. CHRISTO BOTEWA</li>
        <li>SZKOŁA PODSTAWOWA NR 25 IM. KOMISJI EDUKACJI NARODOWEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 26 IM. MIROSŁAWA BIERNACKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 351 IM. BOLESŁAWA PRUSA</li>
        <li>SZKOŁA PODSTAWOWA NR 386 IM. MARSZAŁKA JÓZEFA PIŁSUDSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 387 IM. SZARYCH SZEREGÓW</li>
        <li>SZKOŁA PODSTAWOWA NR 388 IM. JANA PAWŁA II</li>
        <li>SZKOŁA PODSTAWOWA NR 389 IM. STEFANA STARZYŃSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 403</li>
        <li>SZKOŁA PODSTAWOWA NR 63 IM. ZAWISZY CZARNEGO</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 147</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 283 W INSTYTUCIE MATKI I DZIECKA</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 331</li>
        <li>SZKOŁA POLICEALNA - WARSZAWSKIE CENTRUM EDUKACJI W WARSZAWIE</li>
        <li>SZKOŁA POLICEALNA CENTRUM NAUKI I BIZNESU "ŻAK" W WARSZAWIE</li>
        <li>SZKOŁA POLICEALNA NR 26</li>
        <li>SZKOŁA POLICEALNA NR 27</li>
        <li>SZKOŁA POLICEALNA NR 30</li>
        <li>SZKOŁA POLICEALNA NR 48</li>
        <li>SZKOŁA POLICEALNA NR 7</li>
        <li>SZKOŁA POLICEALNA OPIEKI MEDYCZNEJ "ŻAK" W WARSZAWIE</li>
        <li>SZKOŁA POLICEALNA PASCAL W WARSZAWIE</li>
        <li>SZKOŁA POLICEALNA SPECJALNA NR 40</li>
        <li>TEAM 99 RAFAŁ KLECKI</li>
        <li>TECHNIKUM BUDOWLANE NR 5 IM. PROF. STEFANA BRYŁY</li>
        <li>TECHNIKUM ELEKTRONICZNE NR 1</li>
        <li>TECHNIKUM FOTOTECHNICZNE</li>
        <li>TECHNIKUM INFORMATYCZNE "COSINUS PLUS" W WARSZAWIE</li>
        <li>TECHNIKUM NR 23 IM. FRYDERYKA SKARBKA</li>
        <li>TECHNIKUM NR 26</li>
        <li>TECHNIKUM NR 29</li>
        <li>TECHNIKUM NR 3 IM. LUDWIKA KRZYWICKIEGO</li>
        <li>TECHNIKUM SAMOCHODOWE NR 2 IM. CZESŁAWA ORŁOWSKIEGO</li>
        <li>TECHNIKUM SPECJALNE NR 31</li>
        <li>TERAPEUTYCZNY PUNKT PRZEDSZKOLNY "MÓWI SIĘ"</li>
        <li>TERAPEUTYCZNY PUNKT PRZEDSZKOLNY MAŁE KAJTKI - DZIAŁDOWSKA 1</li>
        <li>TERAPEUTYCZNY PUNKT PRZEDSZKOLNY MAŁE KAJTKI - DZIAŁDOWSKA 2</li>
        <li>V OGRÓD JORDANOWSKI</li>
        <li>VIZJA TECHNICAL COLLEGE</li>
        <li>WALDORFSKA SZKOŁA PODSTAWOWA NR 71</li>
        <li>WYEDUKOWANI AKADEMIA PROJEKTOWANIA ROZWOJU</li>
        <li>XCII LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI INTEGRACYJNYMI</li>
        <li>XII LICEUM OGÓLNOKSZTAŁCĄCE IM. HENRYKA SIENKIEWICZA</li>
        <li>XL LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI DWUJĘZYCZNYMI IM. STEFANA ŻEROMSKIEGO</li>
        <li>XLV LICEUM OGÓLNOKSZTAŁCĄCE IM. ROMUALDA TRAUGUTTA</li>
        <li>XXIV LICEUM OGÓLNOKSZTAŁCĄCE IM. CYPRIANA KAMILA NORWIDA</li>
        <li>XXX LICEUM OGÓLNOKSZTAŁCĄCE IM. JANA ŚNIADECKIEGO</li>
        <li>XXXIII LICEUM OGÓLNOKSZTAŁCĄCE DWUJĘZYCZNE IM. MIKOŁAJA KOPERNIKA</li>
        <li>ZESPÓŁ PAŃSTWOWYCH OGÓLNOKSZTAŁCĄCYCH SZKÓŁ MUZYCZNYCH I I II ST. NR 3 IM. GRAŻYNY BACEWICZ W WARSZAWIE</li>
        <li>ZESPÓŁ PORADNI PSYCHOLOGICZNO-PEDAGOGICZNYCH NR 1</li>
        <li>ZESPÓŁ SZKÓŁ "PASCAL" W WARSZAWIE</li>
        <li>ZESPÓŁ SZKÓŁ FOTOTECHNICZNYCH</li>
        <li>ZESPÓŁ SZKÓŁ IM. MICHAŁA KONARSKIEGO</li>
        <li>ZESPÓŁ SZKÓŁ NR 127</li>
        <li>ZESPÓŁ SZKÓŁ NR 32 IM. KRZYSZTOFA KAMILA BACZYŃSKIEGO</li>
        <li>ZESPÓŁ SZKÓŁ NR 36 IM. MARCINA KASPRZAKA</li>
        <li>ZESPÓŁ SZKÓŁ NR 7 IM. SZCZEPANA BOŃKOWSKIEGO</li>
        <li>ZESPÓŁ SZKÓŁ SAMOCHODOWYCH I LICEALNYCH NR 2</li>
        <li>ZESPÓŁ SZKÓŁ STENOTYPII I JĘZYKÓW OBCYCH</li>
        <li>ZESPÓŁ SZKOLENIA GAZOWNICTWA</li>
        <li>ZESPÓŁ WOLSKICH PLACÓWEK EDUKACJI KULTURALNEJ</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
