
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Tarczyn</title>
</head>
<body>
    <h1>Schools in Tarczyn</h1>
    <ul>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. IRENY SENDLEROWEJ</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. SZARYCH SZEREGÓW</li>
        <li>PRZEDSZKOLE W TARCZYNIE</li>
        <li>SZKOŁA PODSTAWOWA IM. JULIANA STĘPKOWSKIEGO</li>
        <li>ZESPÓŁ SZKÓŁ IM. IRENY SENDLEROWEJ</li>
        <li>ZESPÓŁ SZKÓŁ SZKOŁA PODSTAWOWA I LICEUM OGÓLNOKSZTAŁCĄCE IM. SZARYCH SZEREGÓW W TARCZYNIE</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
