
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Izdebno</title>
</head>
<body>
    <h1>Schools in Izdebno</h1>
    <ul>
        <li>PUBLICZNE PRZEDSZKOLE W IZDEBNIE - ZESPÓŁ SZKÓŁ W IZDEBNIE</li>
        <li>SZKOŁA PODSTAWOWA IM. JANUSZA KORCZAKA W IZDEBNIE</li>
        <li>ZESPÓŁ SZKÓŁ W IZDEBNIE</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
