
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Zajezierze</title>
</head>
<body>
    <h1>Schools in Zajezierze</h1>
    <ul>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA W ZAJEZIERZU</li>
        <li>PUBLICZNE PRZEDSZKOLE W ZAJEZIERZU</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W ZAJEZIERZU</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
