
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Stare Bosewo</title>
</head>
<body>
    <h1>Schools in Stare Bosewo</h1>
    <ul>
        <li>PRZEDSZKOLE SAMORZĄDOWE W ZESPOLE SZKÓŁ W STARYM BOSEWIE</li>
        <li>SZKOŁA PODSTAWOWA IM.KS.JANA TWARDOWSKIEGO W STARYM BOSEWIE</li>
        <li>ZESPÓŁ SZKÓŁ W STARYM BOSEWIE</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
