
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Dziekanów Leśny</title>
</head>
<body>
    <h1>Schools in Dziekanów Leśny</h1>
    <ul>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W DZIEKANOWIE LEŚNYM</li>
        <li>PRZEDSZKOLE KIDS STORY</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 2 W DZIEKANOWIE LEŚNYM</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE W DZIEKANOWIE LEŚNYM</li>
        <li>SPECJALNA SZKOŁA PODSTAWOWA Z ODDZIAŁAMI PRZEDSZKOLNYMI W SAMODZIELNYM ZESPOLE PUBLICZNYCH ZAKŁADÓW OPIEKI ZDROWOTNEJ IM. DZIECI WARSZAWY W DZIEKANOWIE LEŚNYM WCHODZĄCA W SKŁAD ZESPOŁU SZKÓŁ SPECJALNYCH W SAMODZIELNYM ZESPOLE PUBLICZNYCH ZAKŁADÓW OPIEKI</li>
        <li>SPECJALNE LICEUM OGÓLNOKSZTAŁCĄCE W SAMODZIELNYM ZESPOLE PUBLICZNYCH ZAKŁADÓW OPIEKI ZDROWOTNEJ IM. DZIECI WARSZAWY W DZIEKANOWIE LEŚNYM WCHODZĄCE W SKŁAD ZESPOŁU SZKÓŁ SPECJALNYCH W SAMODZIELNYM ZESPOLE PUBLICZNYCH ZAKŁADÓW OPIEKI ZDROWOTNEJ IM. DZIECI</li>
        <li>SZKOŁA PODSTAWOWA IM. MARII KONOPNICKIEJ W DZIEKANOWIE LEŚNYM</li>
        <li>ZESPÓŁ SZKÓŁ SPECJALNYCH W SAMODZIELNYM ZESPOLE PUBLICZNYCH ZAKŁADÓW OPIEKI ZDROWOTNEJ IM. DZIECI WARSZAWY W DZIEKANOWIE LEŚNYM</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
