
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Sobolew</title>
</head>
<body>
    <h1>Schools in Sobolew</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W SOBOLEWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W SOBOLEWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. TADEUSZA KOŚCIUSZKI W SOBOLEWIE</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA IM. HENRYKA SIENKIEWICZA W SOBOLEWIE</li>
        <li>PUBLICZNE PRZEDSZKOLE W SOBOLEWIEJAŚ I MAŁGOSIA</li>
        <li>ZESPÓŁ SZKÓŁ PONADPODSTAWOWYCH IM. TADEUSZA KOŚCIUSZKI W SOBOLEWIE</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
