
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Stara Wieś</title>
</head>
<body>
    <h1>Schools in Stara Wieś</h1>
    <ul>
        <li>NIEPUBLICZNE PRZEDSZKOLE " BAJKOWY LASEK"</li>
        <li>PRZEDSZKOLE PUBLICZNE</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE W STAREJ WSI</li>
        <li>SZKOŁA PODSTAWOWA W STAREJ WSI</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W STAREJ WSI</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
