
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Wykrot</title>
</head>
<body>
    <h1>Schools in Wykrot</h1>
    <ul>
        <li>NIEPUBLICZNE PRZEDSZKOLE "RADOSNY ZAKĄTEK" W WYKROCIE</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA IM. BRATA ZENONA ŻEBROWSKIEGO W WYKROCIE</li>
        <li>PUNKT PRZEDSZKOLNY "PLANETA UŚMIECHU" W WYKROCIE</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
