
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Łyse</title>
</head>
<body>
    <h1>Schools in Łyse</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W ŁYSYCH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W ŁYSYCH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W ŁYSYCH</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE RADOSNY ZAKĄTEK</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE W ŁYSYCH</li>
        <li>SZKOŁA PODSTAWOWA IM. HENRYKA SIENKIEWICZA W ŁYSYCH</li>
        <li>SZKOŁA POLICEALNA W ŁYSYCH</li>
        <li>TECHNIKUM W ŁYSYCH</li>
        <li>ZESPÓŁ SZKÓŁ POWIATOWYCH W ŁYSYCH</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
