
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Mińsk Mazowiecki</title>
</head>
<body>
    <h1>Schools in Mińsk Mazowiecki</h1>
    <ul>
        <li>AKADEMIA KOSMETYKI I PODOLOGII COSMET</li>
        <li>BIBLIOTEKA PEDAGOGICZNA IM. HELENY RADLIŃSKIEJ W SIEDLCACH FILIA W MIŃSKU MAZOWIECKIM</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA IM. ZYGMUNTA GLOGERA W ZESPOLE SZKÓŁ TURYSTYCZNO - GASTRONOMICZNYCH W MIŃSKU MAZOWIECKIM</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA SPECJALNA W ZESPOLE SZKÓŁ NR 1 IM. KAZIMIERZA WIELKIEGO W MIŃSKU MAZOWIECKIM</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA W ZESPOLE SZKÓŁ IM. MARII SKŁODOWSKIEJ -CURIE W MIŃSKU MAZOWIECKIM</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA W ZESPOLE SZKÓŁ NR 1 IM. KAZIMIERZA WIELKIEGO W MIŃSKU MAZOWIECKIM</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA W ZESPOLE SZKÓŁ ZAWODOWYCH NR 2 IM. POWSTAŃCÓW WARSZAWY W MIŃSKU MAZOWIECKIM</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO W MIŃSKU MAZOWIECKIM</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO W MIŃSKU MAZOWIECKIM</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO W MIŃSKU MAZOWIECKIM</li>
        <li>DOMOWE PRZEDSZKOLE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH ,,EDUKATOR"</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W MIŃSKU MAZOWIECKIM</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM.POLSKIEJ MACIERZY SZKOLNEJ W MIŃSKU MAZOWIECKIM</li>
        <li>LICEUM SZTUK PLASTYCZNYCH IM. ELWIRO MICHAŁA ANDRIOLLEGO W ZESPOLE SZKÓŁ EKONOMICZNYCH W MIŃSKU MAZOWIECKIM</li>
        <li>MEDYCZNA SZKOŁA POLICEALNA W MIŃSKU MAZOWIECKIM</li>
        <li>MIEJSKA SZKOŁA ARTYSTYCZNA I STOPNIA IM. KONSTANTEGO RYSZARDA DOMAGAŁY</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA CENTRUM TERAPII DZIECI I MŁODZIEŻY</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA STREFA ROZWOJU</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE MONTESSORI "DELFINEK"</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY APERTA TE</li>
        <li>POLICEALNA SZKOŁA PRZY COLLEGIUM MASOVIENSE</li>
        <li>POLICEALNA SZKOŁA ZAWODOWA ,,EDUKATOR"</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W MIŃSKU MAZOWIECKIM</li>
        <li>PRZEDSZKOLE ANGIELSKOJĘZYCZNE "HAPPY KIDS"</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 1 IM. STANISŁAWA JACHOWICZA</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 2</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 3</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 5 "TĘCZOWA DOLINA"</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 6</li>
        <li>PRZEDSZKOLE MIEJSKIE Z ODDZIAŁEM SPECJALNYM I ODDZIAŁEM INTEGRACYJNYM NR 4 IM. URSZULI SMOCZYŃSKIEJ</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "DOBRY START"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "NASZA AKADEMIA"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "ŚWIAT ODKRYWCÓW"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "TIK-TAK"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE FUNNY KIDS</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE KLUB MALUCHA</li>
        <li>PRZEDSZKOLE PRYWATNE "MINI RAJ" BEATA LASKOWSKA</li>
        <li>PRZEDSZKOLE PUBLICZNE "CHATKA PUCHATKA"</li>
        <li>PRZEDSZKOLE PUBLICZNE "KLEKSIK"</li>
        <li>PRZEDSZKOLE PUBLICZNE "KREDKA"</li>
        <li>PRZEDSZKOLE PUBLICZNE "MICHAŁEK"</li>
        <li>PRZEDSZKOLE PUBLICZNE BAJKA</li>
        <li>PRZEDSZKOLE PUBLICZNE KOMPOZYCJA RADOŚCI</li>
        <li>PUBLICZNA SALEZJAŃSKA SZKOŁA PODSTAWOWA IM. ŚW. DOMINIKA SAVIO</li>
        <li>PUBLICZNE PRZEDSZKOLE "WESOŁA CIUCHCIA"</li>
        <li>PUNKT PRZEDSZKOLNY "DOMOWE NUTKI"</li>
        <li>PUNKT PRZEDSZKOLNY "PIMPUŚ"</li>
        <li>PUNKT PRZEDSZKOLNY "SPORTOWE MALUCHY"</li>
        <li>SALEZJAŃSKIE LICEUM OGÓLNOKSZTALCĄCE IM. KS. AUGUSTA CZARTORYSKIEGO W MIŃSKU MAZOWIECKIM</li>
        <li>STUDIUM JĘZYKÓW OBCYCH PAUDYNA TOMASZ LEON</li>
        <li>SZKOŁA PODSTAWOWA DLA DOROSŁYCH W CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO W MIŃSKU MAZOWIECKIM</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. MIKOŁAJA KOPERNIKA</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. DĄBRÓWKI</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. JANA PAWŁA II</li>
        <li>SZKOŁA PODSTAWOWA NR 4 IM. POWSTAŃCÓW STYCZNIOWYCH</li>
        <li>SZKOŁA PODSTAWOWA NR 5 IM. JÓZEFA WYBICKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 6 IM. HENRYKA SIENKIEWICZA</li>
        <li>SZKOŁA POLICEALNA</li>
        <li>SZKOŁY SALEZJAŃSKIE SAPERE AUDE</li>
        <li>TECHNIKUM IM. ZYGMUNTA GLOGERA W ZESPOLE SZKÓŁ TURYSTYCZNO - GASTRONOMICZNYCH W MIŃSKU MAZOWIECKIM</li>
        <li>YAMAHA SZKOŁA MUZYCZNA W MIŃKSU MAZOWIECKIM</li>
        <li>YAMAHA SZKOŁA MUZYCZNA W MIŃSKU MAZOWIECKIM</li>
        <li>ZAKŁAD USŁUG SZKOLENIOWYCH ''BEHAPEK STANISŁAW FORYŚ</li>
        <li>ZESPÓŁ SZKÓŁ EKONOMICZNYCH LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>ZESPÓŁ SZKÓŁ EKONOMICZNYCH TECHNIKUM</li>
        <li>ZESPÓŁ SZKÓŁ EKONOMICZNYCH W MIŃSKU MAZOWIECKIM</li>
        <li>ZESPÓŁ SZKÓŁ IM. MARII SKŁODOWSKIEJ CURIE W MIŃSKU MAZOWIECKIM TECHNIKUM</li>
        <li>ZESPÓŁ SZKÓŁ IM. MARII SKŁODOWSKIEJ-CURIE W MIŃSKU MAZOWIECKIM</li>
        <li>ZESPÓŁ SZKÓŁ IM.MARII SKŁODOWSKIEJ-CURIE LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>ZESPÓŁ SZKÓŁ NR 1 IM.KAZIMIERZA WIELKIEGO LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>ZESPÓŁ SZKÓŁ NR 1 IM.KAZIMIERZA WIELKIEGO TECHNIKUM</li>
        <li>ZESPÓŁ SZKÓŁ NR 1 IM.KAZIMIERZA WIELKIEGO W MIŃSKU MAZOWIECKIM</li>
        <li>ZESPÓŁ SZKÓŁ TURYSTYCZNO - GASTRONOMICZNYCH W MIŃSKU MAZOWIECKIM</li>
        <li>ZESPÓŁ SZKÓŁ ZAWODOWYCH NR 2 IM. POWSTAŃCÓW WARSZAWY W MIŃSKU MAZOWIECKIM TECHNIKUM</li>
        <li>ZESPÓŁ SZKÓŁ ZAWODOWYCH NR 2 IM.POWSTAŃCÓW WARSZAWY W MIŃSKU MAZOWIECKIM</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 1 W MIŃSKU MAZOWIECKIM</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
