
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Postoliska</title>
</head>
<body>
    <h1>Schools in Postoliska</h1>
    <ul>
        <li>PRZEDSZKOLE SAMORZĄDOWE W POSTOLISKACH</li>
        <li>SZKOŁA PODSTAWOWA IM. JANA KIELAKA W POSTOLISKACH</li>
        <li>ZESPÓŁ SZKÓŁ W POSTOLISKACH</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
