
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Rajszew</title>
</head>
<body>
    <h1>Schools in Rajszew</h1>
    <ul>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA "SAPERE AUDE"</li>
        <li>NIEPUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE SAPERE AUDE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "PRZY LESIE"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE ARTYSTYCZNO-SPORTOWE KUŹNIA TALENTÓW W RAJSZEWIE</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
