
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Grabiny</title>
</head>
<body>
    <h1>Schools in Grabiny</h1>
    <ul>
        <li>PRZEDSZKOLE W GRABINACH</li>
        <li>SZKOŁA PODSTAWOWA IM. KS. JANA TWARDOWSKIEGO W GRABINACH</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W GRABINACH</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
