
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Zielonki-Parcela</title>
</head>
<body>
    <h1>Schools in Zielonki-Parcela</h1>
    <ul>
        <li>NIEPUBLICZNE PRZEDSZKOLE "IRENA SOBKOWICZ"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE GENIUS ACADEMY</li>
        <li>SZKOŁA PODSTAWOWA IM. GENERAŁA MARIUSZA ZARUSKIEGO W ZIELONKACH- PARCELI</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
