
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Izabelin</title>
</head>
<body>
    <h1>Schools in Izabelin</h1>
    <ul>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA OONIWEREK</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE TERAPEUTYCZNE OONIWEREK</li>
        <li>SZKOŁA PODSTAWOWA IM. I BATALIONU SAPERÓW KOŚCIUSZKOWSKICH W IZABELINIE</li>
        <li>TERAPEUTYCZNA SZKOŁA PODSTAWOWA OONIWEREK</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
