
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Legionowo</title>
</head>
<body>
    <h1>Schools in Legionowo</h1>
    <ul>
        <li>"PROTECTION" NIEPUBLICZNA PLACÓWKA OŚWIATOWA</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA</li>
        <li>CENTRUM ROZWOJU EDUKACJI A-Z</li>
        <li>GROTEAM - SZKOLENIA SPECJALISTYCZNE</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE IM. KRÓLA JANA III SOBIESKIEGO W LEGIONOWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH "ŻAK"</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. MARII KONOPNICKIEJ W LEGIONOWIE</li>
        <li>NIEPUBLICZNA BURSA SPORTOWA LTS LEGIONOVIA</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA AD DICTUM</li>
        <li>NIEPUBLICZNA SZKOŁA MUZYCZNA I ST. E.P. GUBAŁA W LEGIONOWIE</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA EDUSPEKTRUM</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA IM. JANA PAWŁA II</li>
        <li>NIEPUBLICZNE LICEUM JĘZYKOWE ACADEMY OF THE FUTURE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE ,, CHATKA PUCHATKA''</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE ,,AKADEMIA ZUCHA''</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE ,,BĄBEL''</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "TĘCZOWA AKADEMIA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE INTEGRACYJNE MAGICZNY ŚWIAT DZIECKA</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE MINI EINSTEIN</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE SIÓSTR MISJONAREK ŚWIĘTEJ RODZINY</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE SIÓSTR URSZULANEK</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE TROPICIELE ZAGADEK</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE WESOŁE SÓWKI</li>
        <li>OGNISKO PRACY POZASZKOLNEJ W ZAKRESIE RYSUNKU I MALARSTWA SEALART</li>
        <li>PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA W LEGIONOWIE</li>
        <li>POWIATOWY ZESPÓŁ SZKÓŁ I PLACÓWEK SPECJALNYCH</li>
        <li>POWIATOWY ZESPÓŁ SZKÓŁ PONADPODSTAWOWYCH IM. JERZEGO SIWIŃSKIEGO W LEGIONOWIE</li>
        <li>PRYWATNA SZKOŁA JĘZYKÓW OBCYCH "SAP"</li>
        <li>PRZEDSZKOLE MIEJSKIE INTEGRACYJNE NR 5 IM. MISIA USZATKA W LEGIONOWIE</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 10</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 11 W LEGIONOWIE</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 12 IM. KRÓLA MACIUSIA</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 14 W LEGIONOWIE "KRAINA MARZEŃ"</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 2 W LEGIONOWIE</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 6 TĘCZOWA SZÓSTKA</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 9 ,,AKADEMIA PRZYGODY''</li>
        <li>PRZEDSZKOLE MIEJSKIE NR1</li>
        <li>PRZEDSZKOLE MIEJSKIE NR3 IM. KOSZAŁKA OPAŁKA W LEGIONOWIE</li>
        <li>PRZEDSZKOLE MIEJSKIE Z ODDZIAŁAMI INTEGRACYJNYMI NR 7 IM. JANUSZA KORCZAKA</li>
        <li>PRZEDSZKOLE SPECJALNE</li>
        <li>PUNKT PRZEDSZKOLNY ,,DRUGI DOM''</li>
        <li>PUNKT PRZEDSZKOLNY DRUGI DOM II</li>
        <li>PUNKT PRZEDSZKOLNY ULICZKA KWIATOWA</li>
        <li>REGIPIO LANGUAGE SCHOOL</li>
        <li>SALEZJAŃSKA SZKOŁA PODSTAWOWA</li>
        <li>SALEZJAŃSKIE LICEUM OGÓLNOKSZTAŁCĄCE IM. ŚW. JANA BOSKO</li>
        <li>SPOŁECZNA SZKOŁA PODSTAWOWA Z ODDZIAŁAMI DWUJĘZYCZNYMI NR 35 IM. NOBLISTÓW POLSKICH SPOŁECZNEGO TOWARZYSTAWA OŚWIATOWEGO W LEGIONOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. MIKOŁAJA KOPERNIKA W LEGIONOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. KORNELA MAKUSZYŃSKIEGO W LEGIONOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. JANUSZA KUSOCIŃSKIEGO W LEGIONOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 4 IM. LEGIONOWÓW POLSKICH 1914-1918 W LEGIONOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 7 IM. VII OBWODU ''OBROŻA''AK W LEGIONOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 8 IM. 1 WARSZAWSKIEJ DYWIZJI PIECHOTY W LEGIONOWIE</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA</li>
        <li>SZKOŁA POLICEALNA</li>
        <li>SZKOŁA POLICEALNA CENTRUM NAUKI I BIZNESU "ŻAK" W LEGIONOWIE</li>
        <li>SZKOŁA POLICEALNA OPIEKI MEDYCZNEJ "ŻAK" W LEGIONOWIE</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY</li>
        <li>TECHNIKUM</li>
        <li>TERAPEUTYCZNY PUNKT PRZEDSZKOLNY IN-SENS</li>
        <li>ZESPÓŁ SZKÓŁ SALEZJAŃSKICH W LEGIONOWIE</li>
        <li>ZESPÓŁ SZKOLNO -PRZEDSZKOLNY IM. LEGIONÓW POLSKICH 1914-1918 W LEGIONOWIE</li>
        <li>ZESPÓŁ SZKOLNO- PRZEDSZKOLNY NR 2 W LEGIONOWIE</li>
        <li>ZESPÓŁ SZKOLNO- PRZEDSZKOLNY,,MILENIUM''NIEPUBLICZNA SZKOŁA PODSTAWOWA IM. JANA PAWŁA II NIEPUBLICZNE PRZEDSZKOLE ,, CHATKA PUCHATKA''</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 3</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
