
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Gródek Rządowy</title>
</head>
<body>
    <h1>Schools in Gródek Rządowy</h1>
    <ul>
        <li>SZKOŁA FILIALNA W GRÓDKU RZĄDOWYM PODPORZĄDKOWANA ORGAN IZACYJNIE PUBLICZNEJ SZKOLE PODSTAWOWEJ W OBRYTEM WCHODZĄCA W SKŁAD ZESPOŁU PLACÓWEK OŚWIATOWYCH W OBRYTEM</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
