
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Radom</title>
</head>
<body>
    <h1>Schools in Radom</h1>
    <ul>
        <li>"PROMYK" PUNKT PRZEDSZKOLNY</li>
        <li>ASIO AGENCJA SZKOLEŃ JOLANTA SOWA</li>
        <li>BIBLIOTEKA PEDAGOGICZNA W RADOMIU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA IM. ROTMISTRZA WITOLDA PILECKIEGO W ZESPOLE SZKÓŁ SAMOCHODOWYCH W RADOMIU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 3 SPECJALNA W RADOMIU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA SPECJALNA W RADOMIU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA W RADOMIU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA W RADOMIU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA W RADOMIU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA W RADOMIU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA W RADOMIU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA W RADOMIU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA W RADOMIU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA W RADOMIU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA W SPECJALNYM OŚRODKU DLA DZIECI NIESŁYSZĄCYCH W RADOMIIU</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA NR 1 W RADOMIU</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA NR 2 W ZESPOLE SZKÓŁ SAMOCHODOWYCH W RADOMIU</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA NR 3 W RADOMIU</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA NR 4 W RADOMIU</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA NR 5 W RADOMIU</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA NR 6 W RADOMIU</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA NR 7 W RADOMIU</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA SPECJALNA</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA SPECJALNA NR 8 W RADOMIU</li>
        <li>BURSA SZKOLNA NR 1</li>
        <li>BURSA SZKOLNA NR 3</li>
        <li>CENRUM KSZTAŁCENIA ZAWODOWEGO NR 2 W RADOMIU</li>
        <li>CENTRUM DOSKONALENIA NAUCZYCIELI "EDUKACJA"</li>
        <li>CENTRUM EDUKACJI KERIM</li>
        <li>CENTRUM KSZTAŁCENIA DOROSŁYCH "EDUKACJA" W RADOMIU</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO IM. TADEUSZA KOŚCIUSZKI W RADOMIU</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO W RADOMIU</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO W RADOMIU</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO NR 2 W RADOMIU</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO W RADOMIU</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO W RADOMIU</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO ZDZ</li>
        <li>DWUJĘZYCZNE NIEPUBLICZNE PRZEDSZKOLE INTEGRACYJNE "SŁONECZKO" W RADOMIU</li>
        <li>EDUKACJA 2001 OŚRODEK DORADZTWA I DOSKONALENIA ZAWODOWEGO</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE CN-B IM. POLSKICH SPADOCHRONIARZY W RADOMIU</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE IM. MIKOŁAJA KOPERNIKA W RADOMIU</li>
        <li>I SPOŁECZNA SZKOŁA PODSTAWOWA SPOŁECZNEGO TOWARZYSTWA OŚWIATOWEGO W RADOMIU</li>
        <li>I SPOŁECZNE LICEUM OGÓLNOKSZTAŁCĄCE SPOŁECZNEGO TOWARZYSTWA OŚWIATOWEGO W RADOMIU</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W RADOMIU</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE IM. MARII KONOPNICKIEJ W RADOMIU</li>
        <li>III LICEUM OGÓLNOKSZTAŁCĄCE IM. PŁK. DIONIZEGO CZACHOWSKIEGO W RADOMIU</li>
        <li>IV LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI DWUJĘZYCZNYMI IM. DRA TYTUSA CHAŁUBIŃSKIEGO W RADOMIU</li>
        <li>KATOLICKIE LICEUM OGÓLNOKSZTAŁCĄCE IM. ŚW. FILIPA NERI W RADOMIU</li>
        <li>KRAINA PRZYGÓD PRZEDSZKOLE NIEPUBLICZNE</li>
        <li>LASER CLINIC KATARZYNA BUKOWSKA NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO DLA DOROSŁYCH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH "ŻAK" W RADOMIU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH TOWARZYSTWA WIEDZY POWSZECHNEJ W RADOMIU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W RADOMIU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE TEB EDUKACJA W RADOMIU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI DWUJĘZYCZNYMI IM. MARII MONTESSORI W RADOMIU</li>
        <li>LICEUM SZTUK PLASTYCZNYCH W RADOMIU</li>
        <li>MEDYCZNA SZKOŁA POLICEALNA TOWARZYSTWA WIEDZY POWSZECHNEJ W RADOMIU</li>
        <li>MEDYCZNA SZKOŁA POLICEALNA W RADOMIU</li>
        <li>MŁODZIEŻOWY DOM KULTURY IM. HELENY STADNICKIEJ W RADOMIU</li>
        <li>MŁODZIEŻOWY OŚRODEK SOCJOTERAPII "PAŁACYK" W RADOMIU</li>
        <li>MŁODZIEŻOWY OŚRODEK SOCJOTERAPII W RADOMIU</li>
        <li>NIEPUBLICZNA BRANŻOWA SZKOŁA I STOPNIA "PROFESJA" OŚRODKA KSZTAŁCENIA ZAWODOWEGO W RADOMIU</li>
        <li>NIEPUBLICZNA BRANŻOWA SZKOŁA I STOPNIA IM. 72 PUŁKU PIECHOTY W RADOMIU</li>
        <li>NIEPUBLICZNA BRANŻOWA SZKOŁA II STOPNIA W RADOMIU</li>
        <li>NIEPUBLICZNA DWUJĘZYCZNA SZKOŁA PODSTAWOWA NR 1 W RADOMIU</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA I DOSKONALENIA ZAWODOWEGO "INSTYTUT ORGANIZACJI I OCHRONY PRACY CON-LEX "</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA I DOSKONALENIA ZAWODOWEGO "STELLA-DORI"</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO DLA DOROSŁYCH CENTRUM SZKOLENIA SAMORZĄDU I ADMINISTRACJI PRZY ALDEO SYSTEMY ZARZĄDZANIA SP. Z O.O.</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO I DOSKONALENIA ZAWODOWEGO - CENTRUM KSZTAŁCENIA FRYZJERÓW</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO I DOSKONALENIA ZAWODOWEGO BEST COMPLEX BEATA STANISZEWSKA</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO INSPIRACJA STREFA NASTROJU I URODY</li>
        <li>NIEPUBLICZNA PLACÓWKA OŚWIATOWO WYCHOWAWCZA "FRAJDA"</li>
        <li>NIEPUBLICZNA PLACÓWKA OŚWIATOWO-WYCHOWAWCZA "GIGANCI PROGRAMOWANIA"</li>
        <li>NIEPUBLICZNA PLACÓWKA OŚWIATOWO-WYCHOWAWCZA "IDOL"</li>
        <li>NIEPUBLICZNA PLACÓWKA OŚWIATOWO-WYCHOWAWCZA ROCKSTEP MONIKA GIERMUDA</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W RADOMIU</li>
        <li>NIEPUBLICZNA PORADNIA SPECJALISTYCZNA CENTRUM EDUKACJI, TERAPII I REHABILITACJI</li>
        <li>NIEPUBLICZNA SZKOŁA MUZYCZNA I ST. W RADOMIU</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA IM. JULIUSZA SŁOWACKIEGO W RADOMIU</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA KOMPAS W RADOMIU</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA Z ODDZIAŁAMI PRZEDSZKOLNYMI REALIZUJĄCA PROGRAM REHABILITACJI "NASZA SZKOŁA" W RADOMIU</li>
        <li>NIEPUBLICZNA SZKOŁA POLICEALNA OPIEKI MEDYCZNEJ "ŻAK" W RADOMIU</li>
        <li>NIEPUBLICZNA SZKOŁA POLICEALNA TEB EDUKACJA W RADOMIU</li>
        <li>NIEPUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W RADOMIU ZAKŁADU DOSKONALENIA ZAWODOWEGO W KIELCACH</li>
        <li>NIEPUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE IM. 72 PUŁKU PIECHOTY W RADOMIU ZAKŁADU DOSKONALENIA ZAWODOWEGO W KIELCACH</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "KAJTUŚ"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "LEŚNE SMYKI"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "PIOTRÓWKOWE SKARBY"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "PLANETA ODKRYWCÓW"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "ROŚNIJ RADOŚNIE"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "RUDY KOCUREK"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "SŁONECZNA KRAINA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "SŁONECZNA KRAINA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "SŁONECZNA KRAINA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "WESOŁE KRASNOLUDKI" W RADOMIU</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "WRÓBELEK"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE 2LANGUAGES W RADOMIU</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE INTEGRACYJNE "EKO LUDKI"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE JĘZYKOWE "GĄSKA BALBINKA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE JĘZYKOWE "MAGIC GARDEN"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE JĘZYKOWE KIDS COLLEGE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE LINGWISTYCZNE "MAŁY KSIĄŻĘ"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE SPECJALNE TERAPEUTYCZNE "MÓJ ŚWIAT" W RADOMIU</li>
        <li>NIEPUBLICZNE TECHNIKUM "PROFESJA" OŚRODKA KSZTAŁCENIA ZAWODOWEGO W RADOMIU</li>
        <li>NIEPUBLICZNE TECHNIKUM IM. 72 PUŁKU PIECHOTY W RADOMIU ZAKŁADU DOSKONALENIA ZAWODOWEGO W KIELCACH</li>
        <li>NIEPUBLICZNY OŚRODEK KSZTAŁCENIA USTAWICZNEGO "EDUKACJA"</li>
        <li>NIEPUBLICZNY OŚRODEK KSZTAŁCENIA USTAWICZNEGO EDUKACJA PLUS W RADOMIU</li>
        <li>NIEPUBLICZNY OŚRODEK KSZTAŁCENIA ZAWODOWEGO "PROFESJA" W RADOMIU</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY "KIDS COLLEGE MINI"</li>
        <li>NIEPUBLICZNY TERAPEUTYCZNY PUNKT PRZEDSZKOLNY "KOCUREK"</li>
        <li>OGÓLNOKSZTAŁCACA SZKOŁA MUZYCZNA I STOPNIA W ZESPOLE SZKÓŁ MUZYCZNYCH IM. OSKARA KOLBERGA</li>
        <li>OGÓLNOKSZTAŁCĄCA SZKOŁA MUZYCZNA II STOPNIA W ZESPOLE SZKÓŁ MUZYCZNYCH IM. OSKARA KOLBERGA</li>
        <li>OŚRODEK KSZTAŁCENIA KADR OŚWIATY "OKKO" W RADOMIU</li>
        <li>OŚRODEK METODYCZNY ROZWOJU EDUKACJI POLSKIEJ I ZAGRANICZNEJ</li>
        <li>OŚRODEK REHABILITACYJNO-EDUKACYJNO-WYCHOWAWCZY</li>
        <li>OŚRODEK SZKOLENIOWY CENTRUM NAUKI I BIZNESU "ŻAK" W RADOMIU</li>
        <li>PLACÓWKA KSZTAŁCENIA USTAWICZNEGO ZARZĄDU WOJEWÓDZKIEGO NIEZALEŻNEGO SAMORZĄDNEGO ZWIĄZKU ZAWODOWEGO POLICJANTÓW WOJEWÓDZTWA MAZOWIECKIEGO W RADOMIU</li>
        <li>PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA NR 1 W RADOMIU</li>
        <li>PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA NR 2 W RADOMIU</li>
        <li>PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA NR 3 W RADOMIU</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W RADOMIU</li>
        <li>PRACOWNIA ZAMÓWIEŃ PUBLICZNYCH-PIOTR SPERCZYŃSKI</li>
        <li>PRZEDSZKOLE "KARUZELA"</li>
        <li>PRZEDSZKOLE "ZACZAROWANA KRAINA"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "BAJKA"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "CZAS DZIECKA 2 LEŚNICZÓWKA"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "CZAS DZIECKA"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "KOLOROWE PUDEŁKO" W RADOMIU</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "KRAINA RADOŚCI"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "KRASNAL"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "NIEZAPOMINAJKA"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "PUCHATEK"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE PROWADZONE PRZEZ ZGROMADZENIE CÓREK MARYI NIEPOKALANEJ</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 1 IM. MARII KONOPNICKIEJ W RADOMIU</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 10 IM. JANA BRZECHWY W RADOMIU</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 11 W RADOMIU</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 12 W RADOMIU</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 13 W RADOMIU</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 14 W RADOMIU</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 15 W RADOMIU</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 16 W RADOMIU</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 17 IM. CZESŁAWA JANCZARSKIEGO W RADOMIU</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 2 W RADOMIU</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 20 W RADOMIU</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 21 W RADOMIU</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 22 IM. HANNY ŁOCHOCKIEJ W RADOMIU</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 23 W RADOMIU</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 24 Z ODDZIAŁAMI INTEGRACYJNYMI IM. JANUSZA KORCZAKA W RADOMIU</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 26 W RADOMIU</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 3 W RADOMIU Z ODDZIAŁAMI SPECJALNYMI IM. JANINY PORAZIŃSKIEJ</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 4 IM. JULIANA TUWIMA W RADOMIU</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 5 IM. TADEUSZA KOŚCIUSZKI W RADOMIU</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 6 W RADOMIU</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 8 IM. KRÓLA MACIUSIA I W RADOMIU</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 9 IM. EWY SZELBURG-ZAREMBINY W RADOMIU</li>
        <li>PRZEDSZKOLE PUBLICZNE Z ODDZIAŁAMI INTEGRACYJNYMI NR 19 W RADOMIU</li>
        <li>PRZEDSZKOLE SPECJALNE W ZESPOLE NIEPUBLICZNYCH PLACÓWEK OŚWIATOWYCH SPECJALNYCH W RADOMIU</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 1 Z ODDZIAŁAMI INTEGRACYJNYMI IM. IGNACEGO DASZYŃSKIEGO W RADOMIU</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 10 Z ODDZIAŁAMI INTEGRACYJNYMI IM.LOTNIKÓW POLSKICH W RADOMIU</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 11 IM. ADAMA JERZEGO CZARTORYSKIEGO W RADOMIU</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 12 - SPECJALNA IM. BP.JANA CHRAPKA W RADOMIU</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 13 Z ODDZIAŁAMI INTEGRACYJNYMI IM. KS. JÓZEFA PONIATOWSKIEGO W RADOMIU</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 14 INTEGRACYJNA IM. JANA PAWŁA II W RADOMIU</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 16 - SPECJALNA W RADOMIU IM. ŚWIĘTEGO BRATA ALBERTA</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 17 IM. JANA KOCHANOWSKIEGO W RADOMIU</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 18 IM. KOMISJI EDUKACJI NARODOWEJ W RADOMIU</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 19 IM. EDMUNDA BAKALARZA W RADOMIU</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 2 IM. HANSA CHRISTIANA ANDERSENA W RADOMIU</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 20 IM.OBROŃCÓW POKOJU W RADOMIU</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 21 IM. KS. JANA TWARDOWSKIEGO W RADOMIU</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 22 Z ODDZIAŁAMI INTEGRACYJNYMI IM. MIKOŁAJA REJA W RADOMIU</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 23 IM.STEFANA ŻEROMSKIEGO W RADOMIU</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 24 IM. KORNELA MAKUSZYŃSKIEGO W RADOMIU</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 25 W RADOMIU</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 26 W RADOMIU</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 27 IM. SZARYCH SZEREGÓW W RADOMIU</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 28 IM. ADAMA MICKIEWICZA W RADOMIU</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 29 Z ODDZIAŁAMI INTEGRACYJNYMI IM.WŁADYSŁAWA BRONIEWSKIEGO W RADOMIU</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 3 IM. JANA DŁUGOSZA W RADOMIU</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 30 IM. KRÓLOWEJ JADWIGI W RADOMIU</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 31 IM. KARDYNAŁA STEFANA WYSZYŃSKIEGO W RADOMIU</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 32 IM. MARSZAŁKA JÓZEFA PIŁSUDSKIEGO W RADOMIU</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 33 IM. KAWALERÓW ORDERU UŚMIECHU W RADOMIU</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 34 W RADOMIU</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 4 Z ODDZIAŁAMI INTEGRACYJNYMI IM. ŚW. KAZIMIERZA JAGIELLOŃCZYKA W RADOMIU</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 5 IM.MARII DĄBROWSKIEJ W RADOMIU</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 6 Z ODDZIAŁAMI INTEGRACYJNYMI IM.ORŁA BIAŁEGO W RADOMIU</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 7 IM.KAZIMIERZA PUŁASKIEGO W RADOMIU</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 9 IM. HENRYKA SIENKIEWICZA W RADOMIU</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR.15 IM. WŁADYSŁAWA SYROKOMLI W RADOMIU</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA SPECJALNA</li>
        <li>PUBLICZNA SZKOŁA PRZYSPOSABIAJACA DO PRACY</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 7 W RADOMIU</li>
        <li>PUBLICZNE PRZEDSZKOLE SPECJALNE NR 18 W RADOMIU IM. ŚWIĘTEGO BRATA ALBERTA</li>
        <li>PUBLICZNY OGRÓDEK JORDANOWSKI</li>
        <li>PUNKT PRZEDSZKOLNY "KARUZELA I"</li>
        <li>PUNKT PRZEDSZKOLNY "KARUZELA II"</li>
        <li>PUNKT PRZEDSZKOLNY "MINI KARUZELA II"</li>
        <li>PUNKT PRZEDSZKOLNY "ZABAJKA"</li>
        <li>RADOMSKI OŚRODEK DOSKONALENIA NAUCZYCIELI W RADOMIU</li>
        <li>RADOMSKIE CENTRUM KRAV-MAGA DARIUSZ KOŁODZIEJ</li>
        <li>SPECJALISTYCZNA NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA</li>
        <li>SPECJALISTYCZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA</li>
        <li>SPECJALISTYCZNA PUBLICZNA PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA W RADOMIU</li>
        <li>SPECJALNY OŚRODEK SZKOLNO - WYCHOWAWCZY DLA DZIECI NIESŁYSZĄCYCH IM. MARII GRZEGORZEWSKIEJ W RADOMIU - PUBLICZNA SZKOŁA PODSTAWOWA NR 10 - SPECJALNA</li>
        <li>SPECJALNY OŚRODEK SZKOLNO WYCHOWAWCZY IM. JANUSZA KORCZAKA W RADOMIU</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY DLA DZIECI NIESŁYSZĄCYCH IM. MARII GRZEGORZEWSKIEJ W RADOMIU</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY DLA DZIECI NIESŁYSZĄCYCH IM. MARII GRZEGORZEWSKIEJ W RADOMIU - SZKOŁA PRZYSPOSABIAJĄCA DO PRACY</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY DLA DZIECI NIEWIDOMYCH I SŁABO WIDZĄCYCH IM. KS. PRYMASA STEFANA KARDYNAŁA WYSZYŃSKIEGO W RADOMIU</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY DLA DZIECI NIEWIDOMYCH I SŁABO WIDZĄCYCH IM. KS. PRYMASA STEFANA KARDYNAŁA WYSZYŃSKIEGO W RADOMIU - PUBLICZNA SZKOŁA PODSTAWOWA NR 11 SPECJALNA</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY DLA DZIECI NIEWIDOMYCH I SŁABO WIDZĄCYCH IM. KS. PRYMASA STEFANA KARDYNAŁA WYSZYŃSKIEGO W RADOMIU- PUBLICZNA SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY</li>
        <li>ŚRODOWISKOWO-LEKARSKIE WODNE OCHOTNICZE POGOTOWIE RATUNKOWE NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO</li>
        <li>STOWARZYSZENIE KSIĘGOWYCH W POLSCE NIEP. PLACÓWKA KSZTAŁCENIA USTAWICZNEGO O/OKRĘGOWEGO W RADOMIU</li>
        <li>STUDIUM DOSKONALENIA KADR OŚWIATOWYCH</li>
        <li>SZKOŁA MISTRZOSTWA SPORTOWEGO W RADOMIU</li>
        <li>SZKOŁA MUZYCZNA I STOPNIA W ZESPOLE SZKÓŁ MUZYCZNYCH IM. OSKARA KOLBERGA</li>
        <li>SZKOŁA MUZYCZNA II STOPNIA W ZESPOLE SZKÓŁ MUZYCZNYCH IM. OSKARA KOLBERGA</li>
        <li>SZKOŁA PLASTYCZNA IM. JACKA MALCZEWSKIEGO W RADOMIU</li>
        <li>SZKOŁA PODSTAWOWA PARTNER INTERNATIONAL PRIMARY SCHOOL Z ODDZIAŁAMI DWUJĘZYCZNYMI IM. MARII MONTESSORI</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA IM. ALBERTA EINSTEINA W MŁODZIEŻOWYM OŚRODKU SOCJOTERAPII "PAŁACYK" W RADOMIU</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA W ZESPOLE NIEPUBLICZNYCH PLACÓWEK OŚWIATOWYCH SPECJALNYCH W RADOMIU</li>
        <li>SZKOŁA PODSTAWOWA Z ODDZIAŁAMI TERAPEUTYCZNYMI, INTEGRACYJNYMI I SPECJALNYMI</li>
        <li>SZKOŁA POLICEALNA "COSINUS PLUS" W RADOMIU</li>
        <li>SZKOŁA POLICEALNA CENTRUM NAUKI I BIZNESU "ŻAK" W RADOMIU</li>
        <li>SZKOŁA POLICEALNA TOWARZYSTWA WIEDZY POWSZECHNEJ W RADOMIU</li>
        <li>SZKOŁA POLICEALNA W RADOMIU</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W RADOMIU IM. ŚWIĘTEGO BRATA ALBERTA</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W ZESPOLE NIEPUBLICZNYCH PLACÓWEK OŚWIATOWYCH SPECJALNYCH W RADOMIU</li>
        <li>SZKOLNE SCHRONISKO MŁODZIEŻOWE W RADOMIU</li>
        <li>TEB EDUKACJA STUDIUM KSZTAŁCENIA PRAKTYCZNEGO</li>
        <li>TECHNIKUM IM. ROTMISTRZA WITOLDA PILECKIEGO W ZESPOLE SZKÓŁ SAMOCHODOWYCH W RADOMIU</li>
        <li>TECHNIKUM TEB EDUKACJA W RADOMIU</li>
        <li>TECHNIKUM W RADOMIU</li>
        <li>TECHNIKUM W RADOMIU</li>
        <li>TECHNIKUM W RADOMIU</li>
        <li>TECHNIKUM W RADOMIU</li>
        <li>TECHNIKUM W RADOMIU</li>
        <li>TECHNIKUM W RADOMIU</li>
        <li>TECHNIKUM W ZESPOLE SZKÓŁ EKONOMICZNYCH W RADOMIU</li>
        <li>TECHNIKUM W ZESPOLE SZKÓŁ TECHNICZNYCH IM. TADEUSZA KOŚCIUSZKI W RADOMIU</li>
        <li>TERAPEUTYCZNA SZKOŁA PODSTAWOWA "MÓJ ŚWIAT"</li>
        <li>TRINITY AKADEMIA JĘZYKOWA ANNA WŁODARCZYK-CZUBAK</li>
        <li>V LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI DWUJĘZYCZNYMI IM. ROMUALDA TRAUGUTTA W RADOMIU</li>
        <li>VI LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI DWUJĘZYCZNYMI IM. JANA KOCHANOWSKIEGO W RADOMIU</li>
        <li>VII LICEUM OGÓLNOKSZTAŁCĄCE IM. KRZYSZTOFA KAMILA BACZYŃSKIEGO W RADOMIU</li>
        <li>X LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI INTEGRACYJNYMI IM. STANISŁAWA KONARSKIEGO W RADOMIU</li>
        <li>XI LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI INTEGRACYJNYMI IM. STANISŁAWA STASZICA</li>
        <li>XII LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI SPORTOWYMI W RADOMIU</li>
        <li>XIII LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI DWUJĘZYCZNYMI IM. POLSKICH NOBLISTÓW W RADOMIU</li>
        <li>ZAOCZNE LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH "COSINUS PLUS" W RADOMIU</li>
        <li>ZESPÓŁ NIEPUBLICZNYCH PLACÓWEK OŚWIATOWYCH SPECJALNYCH W RADOMIU</li>
        <li>ZESPÓŁ SZKÓŁ BUDOWLANYCH IM. KAZIMIERZA WIELKIEGO W RADOMIU</li>
        <li>ZESPÓŁ SZKÓŁ CENTRUM KSZTAŁCENIA ROLNICZEGO IM. WŁADYSŁAWA STANISŁAWA REYMONTA W RADOMIU</li>
        <li>ZESPÓŁ SZKÓŁ EKONOMICZNYCH W RADOMIU</li>
        <li>ZESPÓŁ SZKÓŁ ELEKTRONICZNYCH IM. BOHATERÓW WESTERPLATTE W RADOMIU</li>
        <li>ZESPÓŁ SZKÓŁ MUZYCZNYCH IM. OSKARA KOLBERGA W RADOMIU</li>
        <li>ZESPÓŁ SZKÓŁ PLASTYCZNYCH IM. JÓZEFA BRANDTA W RADOMIU</li>
        <li>ZESPÓŁ SZKÓŁ SAMOCHODOWYCH W RADOMIU</li>
        <li>ZESPÓŁ SZKÓŁ SKÓRZANO-ODZIEŻOWYCH, STYLIZACJI I USŁUG W RADOMIU</li>
        <li>ZESPÓŁ SZKÓŁ SPECJALNYCH I PLACÓWEK OŚWIATOWYCH RADOMIU</li>
        <li>ZESPÓŁ SZKÓŁ SPOŻYWCZYCH I HOTELARSKICH W RADOMIU</li>
        <li>ZESPÓŁ SZKÓŁ TECHNICZNYCH IM. TADEUSZA KOŚCIUSZKI W RADOMIU</li>
        <li>ZESPÓŁ SZKÓŁ W RADOMIU ZAKŁADU DOSKONALENIA ZAWODOWEGO W KIELCACH</li>
        <li>ZESPÓŁ SZKÓŁ ZAWODOWYCH IM. MJR HENRYKA DOBRZAŃSKIEGO "HUBALA" W RADOMIU</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 1 W RADOMIU</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 2 W RADOMIU</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 3 W RADOMIU</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 4 W RADOMIU</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
