
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Jurki</title>
</head>
<body>
    <h1>Schools in Jurki</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA SPECJALNA I STOPNIA W JURKACH</li>
        <li>CENTRUM ROZWOJU EDUKACJI POZASZKOLNEJ</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY IM. MATKI WINCENTY JADWIGI JAROSZEWSKIEJ W JURKACH</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA W JURKACH</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W JURKACH</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
