
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Dawidy Bankowe</title>
</head>
<body>
    <h1>Schools in Dawidy Bankowe</h1>
    <ul>
        <li>"BAJKOWE PRZEDSZKOLE" W ŁADACH</li>
        <li>"MOJE PRZEDSZKOLE" PRZEDSZKOLE NIEPUBLICZNE</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA DEFI</li>
        <li>SZKOŁA PODSTAWOWA IM. KS. JÓZEFA PONIATOWSKIEGO W ŁADACH</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W ŁADACH</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
