
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Kowala-Stępocina</title>
</head>
<body>
    <h1>Schools in Kowala-Stępocina</h1>
    <ul>
        <li>PRZEDSZKOLE PUBLICZNE IM. JULIANA TUWIMA W KOWALI-STĘPOCINIE</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA IM. JANUSZA KORCZAKA W KOWALI-STĘPOCINIE</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
