
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Lipsko</title>
</head>
<body>
    <h1>Schools in Lipsko</h1>
    <ul>
        <li>BIBLIOTEKA PEDAGOGICZNA W RADOMIU FILIA W LIPSKU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA W LIPSKU</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA W LIPSKU</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO W LIPSKU ZAKŁADU DOSKONALENIA ZAWODOWEGO W KIELCACH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W LIPSKU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W LIPSKU</li>
        <li>NIEPUBLICZNA SZKOŁA POLICEALNA DLA DOROSŁYCH W LIPSKU ZAKŁADU DOSKONALENIA ZAWODOWEGO W KIELCACH</li>
        <li>NIEPUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W LIPSKU ZAKŁADU DOSKONALENIA ZAWODOWEGO W KIELCACH</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W LIPSKU</li>
        <li>PRZEDSZKOLE PUBLICZNE SAMORZĄDOWE W LIPSKU</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA IM. A.G. BEMA W LIPSKU</li>
        <li>SZKOŁA POLICEALNA W LIPSKU</li>
        <li>TECHNIKUM W LIPSKU</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH I TECHNICZNYCH IM. JANA PAWŁA II W LIPSKU</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
