
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Pruszków</title>
</head>
<body>
    <h1>Schools in Pruszków</h1>
    <ul>
        <li>"AZYMUT" SZKOŁA PODSTAWOWA FUNDACJI STERNIK</li>
        <li>"PROMIENIE PRUSZKÓW" PRZEDSZKOLE FUNDACJI STERNIK</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA SPECJALNA</li>
        <li>INTEGRACYJNE MIEJSKIE PRZEDSZKOLE NR 5</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH ŻAK</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. TADEUSZA KOŚCIUSZKI</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. TOMASZA ZANA</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE NIEPUBLICZNE DLA DOROSŁYCH "WIKTORIA"</li>
        <li>MIĘDZYSZKOLNY OŚRODEK SPORTOWY</li>
        <li>MŁODZIEŻOWY DOM KULTURY</li>
        <li>NIEPUBLICZNA PLACÓWKA OŚWIATOWO - WYCHOWAWCZA "ACT AND PLAY - TOMASZ MARCINIAK"</li>
        <li>NIEPUBLICZNA PLACÓWKA OŚWIATOWO - WYCHOWAWCZA TALENTUM</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA "RIM"</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA MĄDRA SÓWKA</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA POCEMON</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA SENSIS</li>
        <li>NIEPUBLICZNA SZKOŁA POLICEALNA W PRUSZKOWIE</li>
        <li>NIEPUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>NIEPUBLICZNE MUZYCZNE PRZEDSZKOLE "SŁONECZKO"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "FABRYKA UŚMIECHU"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "TEDDY&ME"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE ARTE4KIDS</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE BAJKA</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE KRAINA CUDÓW</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE LEMUREK</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE MONTESSORI</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE OTULINA</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE SPECJALISTYCZNE "MĄDRA SÓWKA"</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY "RIM"</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY "SŁONECZNA KRAINA II"</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY "SŁONECZNA KRAINA III"</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY "SŁONECZNA KRAINA IV"</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY "SŁONECZNA KRAINA"</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY MISIOWA KRAINA</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY WESOŁE MISIE</li>
        <li>OŚRODEK KSZTAŁCENIA USTAWICZNEGO "BEZPIECZNA PRACA"</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I ST. IM. WITOLDA LUTOSŁAWSKIEGO W PRUSZKOWIE</li>
        <li>PODSTAWOWA SZKOŁA MONTESSORI W PRUSZKOWIE</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA</li>
        <li>PROMIENIE OSTOJA PRZEDSZKOLE FUNDACJI STERNIK</li>
        <li>PRYWATNA SZKOŁA BIZNESU - SZKOŁA POLICEALNA</li>
        <li>PRYZMAT AKADEMICKIE LICEUM OGÓLNOKSZTAŁCĄCE FUNDACJI STERNIK</li>
        <li>PRZEDSZKOLA POMARAŃCZOWA CIUCHCIA SP. Z O.O. SPÓŁKA KOMANDYTOWA</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 1</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 10</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 11</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 12</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 13</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 14 "RÓŻANY OGRÓD"</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 15</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 16 W PRUSZKOWIE</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 2 IM. KUBUSIA PUCHATKA</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 3</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 4 "POD KASZTANEM"</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 6</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 7</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 8</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 9</li>
        <li>PRZEDSZKOLE MONTESSORI POCEMON</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "JEDYNKA" CENTRUM EDUKACJI LOKALNEJ W PRUSZKOWIE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "PEREGRINI"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "PIOTRUŚ PAN"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE BABY CLUB TUPTUŚ</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE DZIAŁALNOŚĆ DYDAKTYCZNO WYCHOWAWCZA</li>
        <li>PRZEDSZKOLE SEZAMKOWA</li>
        <li>PRZEDSZKOLE Z ODDZIAŁAMI INTEGRACYJNYMI MALI OLIMPIJCZYCY</li>
        <li>PUNKT PRZEDSZKOLNY "BURSZTYNEK"</li>
        <li>PUNKT PRZEDSZKOLNY "PROMYK 2"</li>
        <li>PUNKT PRZEDSZKOLNY "PROMYK"</li>
        <li>PUNKT PRZEDSZKOLNY "ŹRÓDEŁKO"</li>
        <li>PUNKT PRZEDSZKOLNY WESOŁE KANGURKI 2</li>
        <li>PUNKT PRZEDSZKOLNY-PRZEDSZKOLNA AKADEMIA UŚMIECHU</li>
        <li>SPECJALNY OŚRODEK WYCHOWAWCZY</li>
        <li>SPOŁECZNE LICEUM OGÓLNOKSZTAŁCĄCE NR 23</li>
        <li>SZKOŁA MISTRZOSTWA SPORTOWEGO - LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>SZKOŁA PODSTAWOWA NIEPUBLICZNA NR 39</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. J. PIŁSUDSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 10 IM. M. KONOPNICKIEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM.K. MAKUSZYŃSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. MIRY ZIMIŃSKIEJ-SYGIETYŃSKIEJ, Z ODDZIAŁAMI PRZEDSZKOLNYMI I ODDZIAŁAMI INTEGRACYJNYMI</li>
        <li>SZKOŁA PODSTAWOWA NR 4 IM. JANA PAWŁA II, Z ODDZIAŁAMI PRZEDSZKOLNYMI I ODDZIAŁAMI SPORTOWYMI</li>
        <li>SZKOŁA PODSTAWOWA NR 5 IM I. J. PADEREWSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 6 IM. H. SIENKIEWICZA</li>
        <li>SZKOŁA PODSTAWOWA NR 8 IM. W. BRONIEWSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 9 IM. MARII SKŁODOWSKIEJ-CURIE</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA</li>
        <li>SZKOŁA POLICEALNA CENTRUM NAUKI I BIZNESU "ŻAK"</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY</li>
        <li>TECHNIKUM</li>
        <li>WESOŁE KANGURKI</li>
        <li>ZAKŁAD DOSKONALENIA ZAWODOWEGO W WARSZAWIE OŚRODEK KSZTAŁCENIA ZAWODOWEGO W PRUSZKOWIE</li>
        <li>ZESPÓŁ SZKÓŁ NR 1 IM. STANISŁAWA STASZICA</li>
        <li>ZESPÓŁ SZKÓŁ SPECJALNYCH IM. KS. JANA TWARDOWSKIEGO</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
