
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Mokra Wieś</title>
</head>
<body>
    <h1>Schools in Mokra Wieś</h1>
    <ul>
        <li>PRZEDSZKOLE SAMORZĄDOWE W MOKREJ WSI</li>
        <li>SZKOŁA PODSTAWOWA W MOKREJ WSI</li>
        <li>ZESPÓŁ SZKÓŁ IM. WŁADYSŁAWA PODKOWIŃSKIEGO W MOKREJ WSI</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
