
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Ostrów Mazowiecka</title>
</head>
<body>
    <h1>Schools in Ostrów Mazowiecka</h1>
    <ul>
        <li>BIBLIOTEKA PEDAGOGICZNA W OSTROŁĘCE - FILIA W OSTROWI MAZOWIECKIEJ</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 1 IM. RTM. WITOLDA PILECKIEGO W ZESPOLE SZKÓŁ NR 1 W OSTROWI MAZOWIECKIEJ</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 2 IM. POWSTANCÓW STYCZNIOWYCH W ZESPOLE SZKÓŁ NR 2 W OSTROWI MAZOWIECKIEJ</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA W OSTROWI MAZOWIECKIEJ</li>
        <li>BURSA SZKOLNA W OSTROWI MAZOWIECKIEJ</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO W OSTROWI MAZOWIECKIEJ</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE IM. RTM. WITOLDA PILECKIEGO W ZESPOLE SZKÓŁ NR 1 W OSTROWI MAZOWIECKIEJ</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE W ZESPOLE SZKÓŁ NR 2 W OSTROWI MAZOWIECKIEJ</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W ZESPOLE SZKÓŁ NR 1 W OSTROWI MAZOWIECKIEJ</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W ZESPOLE SZKÓŁ NR 2 W OSTROWI MAZOWIECKIEJ</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. MIKOŁAJA KOPERNIKA W OSTROWI MAZOWIECKIEJ</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 1</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 2</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 3</li>
        <li>NIEPUBLICZNE DWUJĘZYCZNE PRZEDSZKOLE KIDS & CO.</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W OSTROWI MAZOWIECKIEJ</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "SZCZĘŚLIWE ANIOŁKI"</li>
        <li>PRZEDSZKOLE PLANETA FANTAZJI</li>
        <li>SPOŁECZNA SZKOŁA MUZYCZNA I ST. W OSTROWI MAZOWIECKIEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM.TADEUSZA KOŚCIUSZKI</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. PAPIEŻA JANA PAWŁA II</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. JANUSZA KORCZAKA</li>
        <li>SZKOŁA PODSTAWOWA NR 4 IM. 18. PUŁKU ARTYLERII LEKKIEJ</li>
        <li>SZKOŁA POLICEALNA W ZESPOLE SZKÓŁ NR 1 W OSTROWI MAZOWIECKIEJ</li>
        <li>TECHNIKUM NR 1 IM. RTM. WITOLDA PILECKIEGO W ZESPOLE SZKÓŁ NR 1 W OSTROWI MAZOWIECKIEJ</li>
        <li>TECHNIKUM NR 2 W ZESPOLE SZKÓŁ NR 2 W OSTROWI MAZOWIECKIEJ</li>
        <li>ZESPÓŁ SZKÓŁ NR 1 W OSTROWI MAZOWIECKIEJ</li>
        <li>ZESPÓŁ SZKÓŁ NR 2 W OSTROWI MAZOWIECKIEJ</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
