
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Pułtusk</title>
</head>
<body>
    <h1>Schools in Pułtusk</h1>
    <ul>
        <li>AKADEMIA OŚWIATY</li>
        <li>BIBLIOTEKA PEDAGOGICZNA W CIECHANOWIE FILIA W PUŁTUSKU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 1 W PUŁTUSKU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 2 W PUŁTUSKU</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE CN-B IM. 13 PUŁKU PIECHOTY W PUŁTUSKU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W PUŁTUSKU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. PIOTRA SKARGI W PUŁTUSKU</li>
        <li>MALINOWE PRZEDSZKOLE Z ODDZIAŁAMI INTEGRACYJNYMI</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA PIO</li>
        <li>NIEPUBLICZNE KATOLICKIE PRZEDSZKOLE FAUSTYNKA</li>
        <li>NIEPUBLICZNE KATOLICKIE PRZEDSZKOLE IM. ŚWIETEJ RODZINY</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE „BAJKA”</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE BRITISH SCHOOL CLEVER</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE URWIS</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I STOPNIA W PUŁTUSKU</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W PUŁTUSKU</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 3 W PUŁTUSKU</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 4 Z ODDZIAŁAMI INTEGRACYJNYMI W PUŁTUSKU</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 5 W PUŁTUSKU</li>
        <li>PRZEDSZKOLE MINILAND</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE KIDS' ACADEMY</li>
        <li>PRZEDSZKOLE SPECJALNE</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 1 IM. KLAUDYNY POTOCKIEJ W PUŁTUSKU</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 2 Z ODDZIAŁAMI INTEGRACYJNYMI IM. MJR. HENRYKA SUCHARSKIEGO</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 3 Z ODDZIALAMI INTEGRACYJNYMI IM. TADEUSZA KOŚCIUSZKI W PUŁTUSKU</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 4 Z KLASAMI SPORTOWYMI IM. IRENY SZEWIŃSKIEJ W PUŁTUSKU</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA SPECJALNA</li>
        <li>PUBLICZNA SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY IM.ANNY KARŁOWICZ W PUŁTUSKU</li>
        <li>STUDIUM BEZPIECZEŃSTWA I HIGIENY PRACY DLA DOROSŁYCH W PUŁTUSKU</li>
        <li>SZKOŁA POLICEALNA DLA DOROSŁYCH</li>
        <li>TECHNIKUM NR 1</li>
        <li>TECHNIKUM NR2</li>
        <li>ZESPÓŁ SZKÓŁ IM. BOLESŁAWA PRUSA W PUŁTUSKU</li>
        <li>ZESPÓŁ SZKÓŁ NR 2 Z ODDZIAŁAMI INTEGRACYJNYMI W PUŁTUSKU</li>
        <li>ZESPÓŁ SZKÓŁ ZAWODOWYCH IM. JANA RUSZKOWSKIEGO W PUŁTUSKU</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
