
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Borowie</title>
</head>
<body>
    <h1>Schools in Borowie</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA SPECJALNA W BOROWIU</li>
        <li>MŁODZIEŻOWY OŚRODEK WYCHOWAWCZY W BOROWIU</li>
        <li>PUBLICZNE PRZEDSZKOLE JAŚ I MAŁGOSIA W BOROWIU</li>
        <li>SZKOŁA PODSTAWOWA IM. A.SASIMOWSKIEGO W BOROWIU</li>
        <li>ZESPÓŁ OŚWIATOWY W BOROWIU</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
