
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Sochaczew</title>
</head>
<body>
    <h1>Schools in Sochaczew</h1>
    <ul>
        <li>AKADEMIA PRYMUSA NIEPUBLICZNA SZKOŁA PODSTAWOWA NR 1 IM. LEONARDA DA VINCI W SOCHACZEWIE</li>
        <li>ANGLOJĘZYCZNE NIEPUBLICZNE PRZEDSZKOLE LEŚNE SKRZATY</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA IM. IGNACEGO WŁODZIMIERZA GARBOLEWSKIEGO</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA W SOCHACZEWIE</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO W ZESPOLE SZKÓŁ CENTRUM KSZTAŁCENIA PRAKTYCZNEGO W SOCHACZEWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH IM. IGNACEGO WŁODZIMIERZA GARBOLEWSKIEGO</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W SOCHACZEWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. FRYDERYKA CHOPINA W SOCHACZEWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. IGNACEGO WŁODZIMIERZA GARBOLEWSKIEGO</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 1 W SOCHACZEWIE</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 3 IM. JANA BRZECHWY W SOCHACZEWIE</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 6 IM. JULIANA TUWIMA W SOCHACZEWIE</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 7 IM. MARII MONTESSORI W SOCHACZEWIE</li>
        <li>MIEJSKIE PRZEDSZKOLE NR4 Z ODDZIAŁAMI INTEGRACYJNYMI W SOCHACZEWIE</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA "ZIELONY ŁOŚ"</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "ALFA"</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA Z ODDZIAŁAMI PRZEDSZKOLNYMI REALIZUJĄCA PROGRAM REHABILITACJI " NASZA SZKOŁA" W SOCHACZEWIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "BAJKOWA POLANA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "KORALIK"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "PROMYK"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "ŚWIAT MALUCHA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "WESOŁE TUPTUSIE"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE KOALA</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE NIBYLANDIA</li>
        <li>NIEPUBLICZNE TĘCZOWE PRZEDSZKOLE W SOCHACZEWIE</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY AAKUKU</li>
        <li>NIEPUBLICZNY TERAPEUTYCZNY PUNKT PRZEDSZKOLNY MUZYCZNA KRAINA</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I I II ST. IM. FRYDERYKA CHOPINA W SOCHACZEWIE</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I ST. W SOCHACZEWIE</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA II ST. W SOCHACZEWIE</li>
        <li>PEDAGOGICZNA BIBLIOTEKA WOJEWÓDZKA IM. KOMISJI EDUKACJI NARODOWEJ W WARSZAWIE FILIA W SOCHACZEWIE</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W SOCHACZEWIE</li>
        <li>PRYWATNA SZKOŁA POLICEALNA NR 1 W SOCHACZEWIE</li>
        <li>PRYWATNE LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH NR 1 W SOCHACZEWIE</li>
        <li>PRYWATNE LICEUM OGÓLNOKSZTAŁCĄCE DLA MŁODZIEŻY NR 1 IM. JERZEGO KRUPY W SOCHACZEWIE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE AKADEMIA SMYKA</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE DIECEZJI ŁOWICKIEJ IM. ŚW. ANIOŁÓW STRÓŻÓW</li>
        <li>ROLNICZE CENTRUM KSZTAŁCENIA USTAWICZNEGO</li>
        <li>SOCHACZEWSKA SZKOŁA REALNA - LICEUM OGÓLNOKSZTAŁCĄCE NR 2 IM. MJR. FELIKSA KOZUBOWSKIEGO W SOCHACZEWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. JANA PAWŁA II W SOCHACZEWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. MARII KONOPNICKIEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. BOLESŁAWA KRZYWOUSTEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 4 Z ODDZIAŁAMI INTEGRACYJNYMI IM. JANUSZA KORCZAKA</li>
        <li>SZKOŁA PODSTAWOWA NR 6 Z ODDZIAŁAMI INTEGRACYJNYMI IM. KRÓLA WŁADYSŁAWA JAGIEŁŁY W SOCHACZEWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 7 IM. FRYDERYKA CHOPINA</li>
        <li>SZKOŁA POLICEALNA</li>
        <li>SZKOŁA POLICEALNA</li>
        <li>SZKOŁA POLICEALNA W SOCHACZEWIE</li>
        <li>TECHNIKUM</li>
        <li>TECHNIKUM</li>
        <li>TECHNIKUM IM. IGNACEGO WŁODZIMIERZA GARBOLEWSKIEGO</li>
        <li>TECHNIKUM KSZTAŁCENIA ZAWODOWEGO NR 1 IM. MJR. FELIKSA KOZUBOWSKIEGO W SOCHACZEWIE</li>
        <li>ZESPÓŁ SZKÓŁ CENTRUM KSZTAŁCENIA PRAKTYCZNEGO W SOCHACZEWIE</li>
        <li>ZESPÓŁ SZKÓŁ IM. JAROSŁAWA IWASZKIEWICZA W SOCHACZEWIE</li>
        <li>ZESPÓŁ SZKÓŁ ROLNICZE CENTRUM KSZTAŁCENIA USTAWICZNEGO IM. BOHATERÓW WALK NAD BZURĄ 1939 R. W SOCHACZEWIE</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
