
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Słupno</title>
</head>
<body>
    <h1>Schools in Słupno</h1>
    <ul>
        <li>KOTKI DWA</li>
        <li>PUBLICZNE PRZEDSZKOLE CALINECZKA</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE "NIEZAPOMINAJKA" W SŁUPNIE</li>
        <li>SZKOŁA PODSTAWOWA IM. ABP. ANTONIEGO JULIANA NOWOWIEJSKIEGO W SŁUPNIE</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. MARII KONOPNICKIEJ W SŁUPNIE</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. MICHALINY CHEŁMOŃSKIEJ-SZCZEPANKOWSKIEJ W SŁUPNIE</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
