
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Tartak Brzózki</title>
</head>
<body>
    <h1>Schools in Tartak Brzózki</h1>
    <ul>
        <li>EUROPEJSKI PRZEDSZKOLE NIEPUBLICZNE INNA BAJKA S.C. AGATA SKONECZNA, JOLANTA SKONECZNA</li>
        <li>EUROPEJSKIE PRZEDSZKOLE NIEPUBLICZNE INNA BAJKA</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
