
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Kuczbork-Osada</title>
</head>
<body>
    <h1>Schools in Kuczbork-Osada</h1>
    <ul>
        <li>PRZEDSZKOLE IM. ADAMA MICKIEWICZA</li>
        <li>SZKOŁA PODSTAWOWA IM. ADAMA MICKIEWICZA</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH W KUCZBORKU-OSADZIE</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
