
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Skrzeszew</title>
</head>
<body>
    <h1>Schools in Skrzeszew</h1>
    <ul>
        <li>PRZEDSZKOLE SAMORZĄDOWE W SKRZESZEWIE</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA IM 19 PUŁKU UŁANÓW WOŁYŃSKICH W SKRZESZEWIE</li>
        <li>PUBLICZNE PRZEDSZKOLE W SKRZESZEWIE</li>
        <li>SZKOŁA PODSTAWOWA IM. KORNELA MAKUSZYŃSKIEGO</li>
        <li>ZESPÓŁ SZKÓŁ W SKRZESZEWIE</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
