
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Nowe Grochale</title>
</head>
<body>
    <h1>Schools in Nowe Grochale</h1>
    <ul>
        <li>"ADAŚ I OLA IDĄ DO PRZEDSZKOLA"- PUNKT PRZEDSZKOLNY W GMINIE LEONCIN"</li>
        <li>SZKOŁA PODSTAWOWA W GŁUSKU Z SIEDZIBĄ W NOWYCH GROCHALACH IM. KS. KARDYNAŁA STEFANA WYSZYŃSKIEGO</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
