
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Gąbin</title>
</head>
<body>
    <h1>Schools in Gąbin</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W GĄBINIE</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA W GĄBINIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W GĄBINIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W GĄBINIE</li>
        <li>OŚRODEK BEZPIECZEŃSTWA PRACY PROEDUKO WIESŁAW KŁOBUKOWSKI, DANUTA KŁOBUKOWSKA SPÓŁKA CYWILNA</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE IM. KRÓLA MACIUSIA PIERWSZEGO W GĄBINIE</li>
        <li>SZKOŁA MUZYCZNA I STOPNIA W GĄBINIE</li>
        <li>SZKOŁA PODSTAWOWA IM. MARII KONOPNICKIEJ W GĄBINIE</li>
        <li>SZKOŁA POLICEALNA W GĄBINIE</li>
        <li>TECHNIKUM W GĄBINIE</li>
        <li>ZESPÓŁ SZKÓŁ IM.STANISŁAWA STASZICA W GĄBINIE</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
