
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Mocarzewo</title>
</head>
<body>
    <h1>Schools in Mocarzewo</h1>
    <ul>
        <li>OŚRODEK-REWALIDACYJNO - WYCHOWAWCZY W MOCARZEWIE</li>
        <li>PRZEDSZKOLE SPECJALNE W MOCARZEWIE</li>
        <li>SPECJALNY OŚRODEK WYCHOWAWCZY ZGROMADZENIA SIÓSTR ZMARTWYCHWSTANIA PAŃSKIEGO IM. MATKI CELINY BORZĘC</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA W MOCARZEWIE</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W MOCARZEWIE</li>
        <li>ZESPÓŁ SZKÓŁ I PLACÓWEK SPECJALNYCH W MOCARZEWIE</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
