
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Małkinia Górna</title>
</head>
<body>
    <h1>Schools in Małkinia Górna</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W ZESPOLE SZKÓŁ IM. STANISŁAWA STASZICA W MAŁKINI GÓRNEJ</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO W ZESPOLE SZKÓŁ IM. STANISŁAWA STASZICA W MAŁKINI GÓRNEJ</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W ZESPOLE SZKÓŁ IM. STANISŁAWA STASZICA W MAŁKINI GÓRNEJ</li>
        <li>OŚRODEK ROZWOJU EDUKACJI W MAŁKINI GÓRNEJ</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE W MAŁKINI GÓRNEJ</li>
        <li>STOWARZYSZENIE EDUKACJA I NAUKA W MAŁKINI GÓRNEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. MARII CURIE - SKŁODOWSKIEJ W MAŁKINI GÓRNEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. FRYDERYKA CHOPINA</li>
        <li>SZKOŁA POLICEALNA W MAŁKINI GÓRNEJ</li>
        <li>TECHNIKUM NR 1 W ZESPOLE SZKÓŁ IM. STANISŁAWA STASZICA W MAŁKINI GÓRNEJ</li>
        <li>TECHNIKUM NR 2 W ZESPOLE SZKÓŁ IM. STANISŁAWA STASZICA W MAŁKINI GÓRNEJ</li>
        <li>ZESPÓŁ SZKÓŁ IM. STANISŁAWA STASZICA W MAŁKINI GÓRNEJ</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
