
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Kaputy</title>
</head>
<body>
    <h1>Schools in Kaputy</h1>
    <ul>
        <li>NOWATORSKA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA</li>
        <li>NOWATORSKI INSTYTUT KSZTAŁCENIA</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE EDUFRAJDA</li>
        <li>SZKOŁA PODSTAWOWA EDUJOY</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
