
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Mogielnica</title>
</head>
<body>
    <h1>Schools in Mogielnica</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W MOGIELNICY</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE ZGROMADZENIA SIÓSTR PASJONISTEK ŚW. PAWŁA OD KRZYŻA</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 1 Z ODDZIAŁAMI DWUJĘZYCZNYMI</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 2 IM. I MARSZAŁKA POLSKI JÓZEFA PIŁSUDSKIEGO</li>
        <li>PUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE W MOGIELNICY</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH IM. JANA KILIŃSKIEGO W MOGIELNICY</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
