
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Praga-Północ</title>
</head>
<body>
    <h1>Schools in Praga-Północ</h1>
    <ul>
        <li>AKADEMIA REALIZACJI DŹWIĘKU W WARSZAWIE</li>
        <li>AKADEMIA WIZAŻU, STYLIZACJI I CHARAKTERYZACJI MAKE UP STAR - PLACÓWKA KSZTAŁCENIA USTAWICZNEGO</li>
        <li>AKADEMICKA SZKOŁA PODSTAWOWA MENEDŻERSKIEJ AKADEMII NAUK STOSOWANYCH W WARSZAWIE</li>
        <li>AKADEMICKIE LICEUM OGÓLNOKSZTAŁCĄCE WYŻSZEJ SZKOŁY MENEDŻERSKIEJ W WARSZAWIE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 12 IM. STEFANA STARZYŃSKIEGO</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 7 W WARSZAWIE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA SPECJALNA NR 51</li>
        <li>CENTRUM EDUKACYJNE MIGAJ NATURALNIE</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO "KIJOWSKA"</li>
        <li>CENTRUM STRZELECKO-TRENINGOWE</li>
        <li>CENTRUM SZKOLENIOWE FIZJO4LIFE</li>
        <li>CXLVI LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W WARSZAWIE</li>
        <li>CXXX LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W WARSZAWIE</li>
        <li>DIAMOND PLACÓWKA KSZTAŁCENIA USTAWICZNEGO W WARSZAWIE</li>
        <li>FILIA SZKOŁY PODSTAWOWEJ NR 258 W WARSZAWIE</li>
        <li>HUMAN PROGRESS POLSKA</li>
        <li>IBD BUSINESS SCHOOL</li>
        <li>INSTYTUT ROZWOJU BIZNESU</li>
        <li>KIDSFIRST PRZEDSZKOLE NIEPUBLICZNE</li>
        <li>L LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI INTEGRACYJNYMI IM. RUY BARBOSY</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>LXXVI LICEUM OGÓLNOKSZTAŁCĄCE IM. MARSZAŁKA JÓZEFA PIŁSUDSKIEGO</li>
        <li>MEDYCZNA SZKOŁA POLICEALNA NR 3 IM. DR ANDRZEJA KROCINA W WARSZAWIE</li>
        <li>NIEPUBLICZNA ARTYSTYCZNA POLICEALNA SZKOŁA PLASTYCZNA ROE W WARSZAWIE</li>
        <li>NIEPUBLICZNA PLACÓWKA DOSKONALENIA NAUCZYCIELI FUNDACJI POMOC AUTYZM</li>
        <li>NIEPUBLICZNA POLICEALNA SZKOŁA WIZAŻU I CHARAKTERYZACJI MAKE UP STAR W WARSZAWIE</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "ASTRA"</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "ZIELONY BALONIK"</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA PROMITIS</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE MIŚ JOGA</li>
        <li>NIEPUBLICZNY OŚRODEK KSZTAŁCENIA USTAWICZNEGO SUB ROSA</li>
        <li>OGÓLNOKSZTAŁCĄCA SZKOŁA MUZYCZNA I STOPNIA IM. STANISŁAWA MONIUSZKI W WARSZAWIE</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I ST. NR 2 IM. FRYDERYKA CHOPINA W WARSZAWIE</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I ST. W WARSZAWIE</li>
        <li>POLICEALNA SZKOŁA KSZTAŁCĄCA W NIEKTÓRYCH ZAWODACH MEDYCZNYCH I SPOŁECZNYCH W WARSZAWIE</li>
        <li>POLICEALNA SZKOŁA ZAWODOWA EDICUS W WARSZAWIE</li>
        <li>POLICEALNA WARSZAWSKA SZKOŁA MEDYCZNA</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA NR 5</li>
        <li>PRYWATNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA PAWŁA I MARZENY ZAKRZEWSKICH</li>
        <li>PRYWATNA SZKOŁA POLICEALNA NR 1 DLA DOROSŁYCHW PRYWATNYM CENTRUM KSZTAŁCENIA ZAWODOWEGO</li>
        <li>PRYWATNA SZKOŁA POLICEALNA NR 1 W PRYWATNYM CENTRUM KSZTAŁCENIA ZAWODOWEGO</li>
        <li>PRYWATNE CENTRUM KSZTAŁCENIA ZAWODOWEGO</li>
        <li>PRYWATNE TECHNIKUM WETERYNARII NR 1 IM. SIMONY KOSSAK W PRYWATNYM CENTRUM KSZTAŁCENIA ZAWODOWEGO</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE ULIK</li>
        <li>PRZEDSZKOLE NR 163 W WARSZAWIE</li>
        <li>PRZEDSZKOLE NR 164 W WARSZAWIE</li>
        <li>PRZEDSZKOLE NR 165 W WARSZAWIE</li>
        <li>PRZEDSZKOLE NR 167 W WARSZAWIE</li>
        <li>PRZEDSZKOLE NR 169 W WARSZAWIE</li>
        <li>PRZEDSZKOLE NR 171 W WARSZAWIE</li>
        <li>PRZEDSZKOLE NR 173 W WARSZAWIE</li>
        <li>PRZEDSZKOLE NR 174 W WARSZAWIE</li>
        <li>PRZEDSZKOLE NR 183 W WARSZAWIE</li>
        <li>PRZEDSZKOLE NR 184 W WARSZAWIE</li>
        <li>PRZEDSZKOLE NR 185 Z ODDZIAŁAMI INTEGRACYJNYMI W WARSZAWIE</li>
        <li>PRZEDSZKOLE NR 186</li>
        <li>PRZEDSZKOLE NR 217 W WARSZAWIE</li>
        <li>PRZEDSZKOLE SPECJALNE NR 438</li>
        <li>REGIONALNY OŚRODEK EDUKACJI SZKOŁA POLICEALNA</li>
        <li>SPECJALNY OŚRODEK WYCHOWAWCZY CARITAS DIECEZJI WARSZAWSKO-PRASKIEJ</li>
        <li>SPOŁECZNA SZKOŁA PODSTAWOWA IM. S. LEMA SPOŁECZNEGO TOWARZYSTWA OŚWIATOWEGO</li>
        <li>SPOŁECZNE LICEUM OGÓLNOKSZTAŁCĄCE NR 3 SPOŁECZNEGO TOWARZYSTWA OŚWIATOWEGO</li>
        <li>SPORTOWE LICEUM OGÓLNOKSZTAŁCĄCE NR 67 "M.G.M."</li>
        <li>STUDIUM NAUCZANIA MUZYCZNEGO</li>
        <li>SZKOŁA PODSTAWOWA MGM</li>
        <li>SZKOŁA PODSTAWOWA NR 127 IM. HENRYKA SIENKIEWICZA W WARSZAWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 258 IM. GEN. JAKUBA JASIŃSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 395 IM. ROTMISTRZA WITOLDA PILECKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 50 IM. KRÓLOWEJ JADWIGI W WARSZAWIE</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 6</li>
        <li>SZKOŁA PODSTAWOWA Z ODDZIAŁAMI INTEGRACYJNYMI NR 30 IM. POWSTAŃCÓW 1863 R. W WARSZAWIE</li>
        <li>SZKOŁA PODSTAWOWA Z ODDZIAŁAMI INTEGRACYJNYMI NR 354 IM. ADAMA ASNYKA</li>
        <li>SZKOŁA PODSTAWOWA Z ODDZIAŁAMI INTEGRACYJNYMI NR 73 IM. KRÓLA STEFANA BATOREGO W WARSZAWIE</li>
        <li>SZKOŁA POLICEALNA NR 20 W WARSZAWIE</li>
        <li>SZKOŁA POLICEALNA NR 21 W WARSZAWIE</li>
        <li>SZKOŁA POLICEALNA NR 53</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY NR 2</li>
        <li>SZKOŁA WALKI I OCHRONY</li>
        <li>TARBONUS NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO</li>
        <li>TECHNIKUM GEOLOGICZNO-GEODEZYJNO-DROGOWE IM. PROF. DR. STANISŁAWA KLUŹNIAKA</li>
        <li>TECHNIKUM MECHANICZNE NR 5 IM. STEFANA STARZYŃSKIEGO W WARSZAWIE</li>
        <li>TECHNIKUM NR 20 W WARSZAWIE</li>
        <li>TECHNIKUM NR 6 W WARSZAWIE</li>
        <li>VII OGRÓD JORDANOWSKI W WARSZAWIE</li>
        <li>VIII LICEUM OGÓLNOKSZTAŁCĄCE IM. WŁADYSŁAWA IV</li>
        <li>WIELOKULTUROWE LICEUM HUMANISTYCZNE IM. JACKA KURONIA</li>
        <li>XX LICEUM OGÓLNOKSZTAŁCĄCE IM. BOLESŁAWA CHROBREGO W WARSZAWIE</li>
        <li>ZESPÓŁ SZKÓŁ MUZYCZNYCH I ST. IM. STANISŁAWA MONIUSZKI W WARSZAWIE</li>
        <li>ZESPÓŁ SZKÓŁ NR 11 IM. WŁADYSŁAWA GRABSKIEGO</li>
        <li>ZESPÓŁ SZKÓŁ NR 14 W WARSZAWIE</li>
        <li>ZESPÓŁ SZKÓŁ NR 33 W WARSZAWIE</li>
        <li>ZESPÓŁ SZKÓŁ NR 40 IM. STEFANA STARZYŃSKIEGO W WARSZAWIE</li>
        <li>ZESPÓŁ SZKÓŁ NR 73 W WARSZAWIE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 10</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
