
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Budy Siennickie</title>
</head>
<body>
    <h1>Schools in Budy Siennickie</h1>
    <ul>
        <li>NIEPUBLICZNE LICEUM OGÓLNOKSZTAŁCACE DLA DOROSŁYCH TWP</li>
        <li>SZKOŁA PODSTAWOWA IM. PIERRE'A DE COUBERTINA W BUDACH SIENNICKICH</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
