
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Latowicz</title>
</head>
<body>
    <h1>Schools in Latowicz</h1>
    <ul>
        <li>PRZEDSZKOLE W ZESPOLE SZKÓŁ W LATOWICZU</li>
        <li>SZKOŁA PODSTAWOWA IM. KARDYNAŁA STEFANA WYSZYŃSKIEGO W ZESPOLE SZKÓŁ W LATOWICZU</li>
        <li>ZESPÓŁ SZKÓŁ W LATOWICZU</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
