
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Brudzeń Duży</title>
</head>
<body>
    <h1>Schools in Brudzeń Duży</h1>
    <ul>
        <li>PRZEDSZKOLE SAMORZĄDOWE IM. PAWŁA WŁODKOWICA W BRUDZENIU DUŻYM</li>
        <li>SZKOŁA PODSTAWOWA IM.PAWŁA WŁODKOWICA W BRUDZENIU DUŻYM</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W BRUDZENIU DUŻYM</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
