
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Glinojeck</title>
</head>
<body>
    <h1>Schools in Glinojeck</h1>
    <ul>
        <li>MIEJSKO-GMINNE PRZEDSZKOLE W GLINOJECKU</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE ,,SMERFOLANDIA" WERNICKI EMIL</li>
        <li>SZKOŁA PODSTAWOWA IM. M. KONOPNICKIEJ W GLINOJECKU</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
