
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Milanówek</title>
</head>
<body>
    <h1>Schools in Milanówek</h1>
    <ul>
        <li>"TRUSKAWKOWE PRZEDSZKOLE"</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA</li>
        <li>EUROPEJSKIE PRZEDSZKOLE PUBLICZNE "KASPEREK" W MILANÓWKU</li>
        <li>INTEGRACYJNA SPOŁECZNA SZKOŁA PODSTAWOWA NR 18 IM. GEN. BRYG. AUGUSTA EMILA FIELDORFA</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>MILANOWSKA PRYWATNA SZKOŁA PODSTAWOWA</li>
        <li>NIEPUBLICZNY TERAPEUTYCZNY PUNKT PRZEDSZKOLNY "RÓWNOWAGA"</li>
        <li>PRYWATNE SZKOLNE PRZEDSZKOLE</li>
        <li>PRZEDSZKOLE "NA WIEJSKIEJ" MONIKA DĄBROWIECKA-FRENEY</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE SIÓSTR URSZULANEK SJK IM.ŚW.URSZULI LEDÓCHOWSKIEJ</li>
        <li>PRZEDSZKOLE NR 1</li>
        <li>PRZEDSZKOLE SPOŁECZNE T.P.I.S.S.P.</li>
        <li>SPOŁECZNA SZKOŁA PODSTAWOWA MILANOWSKIEGO TOWARZYSTWA EDUKACYJNEGO</li>
        <li>SPOŁECZNE LICEUM OGÓLNOKSZTAŁCĄCE NR 5 SPOŁECZNEGO TOWARZYSTWA OŚWIATOWEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. KS. PIOTRA SKARGI W MILANÓWKU</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. ARMII KRAJOWEJ W MILANÓWKU</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. FRYDERYKA CHOPINA W MILANÓWKU</li>
        <li>SZKOŁA POLICEALNA</li>
        <li>TECHNIKUM</li>
        <li>ZESPÓŁ SZKÓŁ NR 1</li>
        <li>ZESPÓŁ SZKÓŁ NR 2 IMIENIA GENERAŁA JÓZEFA BEMA</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
