
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Ostrołęka</title>
</head>
<body>
    <h1>Schools in Ostrołęka</h1>
    <ul>
        <li>"BAMBI" NIEPUBLICZNE PRZEDSZKOLE MONTESSORI</li>
        <li>"KOLOROWA SZKOŁA" NIEPUBLICZNA SZKOŁA PODSTAWOWA</li>
        <li>"NASZA SZKOŁA" NIEPUBLICZNA SZKOŁA Z ODDZIAŁAMI PRZEDSZKOLNYMI REALIZUJĄCA PROGRAM REHABILITACYJNY W OSTROŁĘCE</li>
        <li>AGENCJA OCHRONY MIENIA TARCZA GRUPA SP. Z O.O. SP. K.</li>
        <li>AKADEMICKA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W OSTROŁĘCE</li>
        <li>ALMA MATER SZKOŁA JĘZYKÓW OBCYCH WIESŁAW BRZOZOWY S.J.</li>
        <li>BAJKOWE PRZEDSZKOLE</li>
        <li>BIBLIOTEKA PEDAGOGICZNA W OSTROŁĘCE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 1</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 2 W OSTROŁĘCE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 3</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 4</li>
        <li>BRANŻOWA SZKOŁA SPECJALNA I STOPNIA</li>
        <li>BURSA REGIONALNA W OSTROŁĘCE</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO W OSTROŁĘCE</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO W OSTROŁĘCE</li>
        <li>DOR-EDU NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO</li>
        <li>DWUJĘZYCZNE NIEPUBLICZNE PRZEDSZKOLE "STACYJKOWO"</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE CN-B IM. POLSKICH SPADOCHRONIARZY W OSTROŁĘCE</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE IM.GEN. JÓZEFA BEMA</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE IM. C. K. NORWIDA</li>
        <li>II SPOŁECZNE LICEUM OGÓLNOKSZTAŁCĄCE IM. TONIEGO HALIKA</li>
        <li>III LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>III LICEUM OGÓLNOKSZTAŁCĄCE IM. UNII EUROPEJSKIEJ</li>
        <li>IV LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>IV LICEUM OGÓLNOKSZTAŁCĄCE W OSTROŁĘCE</li>
        <li>KOLOROWE PRZEDSZKOLE</li>
        <li>LICEUM KLASYCZNE IM.PAPIEŻA JANA PAWŁA II W OSTROŁĘCE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH "AKADEMIA SUKCESU"</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH "ŻAK" W OSTROŁĘCE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH STOWARZYSZENIA INICJATYW GOSPODARCZYCH I EDUKACYJNYCH IM. KAROLA ADAMIECKIEGO ODDZIAŁ W OSTROŁĘCE</li>
        <li>MAZOWIECKI INSTYTUT DOSKONALENIA KADR IM. KAROLA ADAMIECKIEGO W OSTROŁĘCE</li>
        <li>MEDYCZNA SZKOŁA POLICEALNA TWP W OSTROŁĘCE</li>
        <li>MEDYCZNO -SPOŁECZNA SZKOŁA POLICEALNA W OSTROŁĘCE</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO"JANKOR"</li>
        <li>NIEPUBLICZNA SPECJALISTYCZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W OSTROŁĘCE</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA SPECJALNA ,,WYJĄTKOWY UCZEŃ"</li>
        <li>NIEPUBLICZNE SPECJALNE PRZEDSZKOLE KWIATUSZKOWO</li>
        <li>NIEPUBLICZNY TERAPEUTYCZNY PUNKT PRZEDSZKOLNY "WYJĄTKOWY MALUCH"</li>
        <li>OŚRODEK DOSKONALENIA KADR NOT W OSTROŁĘCE</li>
        <li>OŚRODEK SZKOLENIA "ZNAK" WITOLD SAMSEL</li>
        <li>OŚRODEK SZKOLENIA ZAWODOWEGO "AMET"</li>
        <li>OŚRODEK SZKOLENIOWY CENTRUM NAUKI I BIZNESU "ŻAK" W OSTROŁĘCE</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I I II STOPNIA IM. ZYGMUNTA NOSKOWSKIEGO W OSTROŁĘCE</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I ST. W OSTROŁĘCE</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA II ST. W OSTROŁĘCE</li>
        <li>POLICEALNA SZKOŁA "AKADEMIA SUKCESU"</li>
        <li>POLICEALNA SZKOŁA ADMINISTRACJI "AKADEMIA SUKCESU"</li>
        <li>POLICEALNE STUDIUM KOSMETYCZNE W OSTROŁĘCE</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA</li>
        <li>PRYWATNE PRZEDSZKOLE "JAŚ I MAŁGOSIA"</li>
        <li>PRZEDSZKOLE BAJECZKA</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 1 "KRAINA UŚMIECHU" W OSTROŁĘCE</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 10 W OSTROŁĘCE</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 13 "KRAINA PRZYGÓD" W OSTROŁĘCE</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 15 "KRAINA MARZEŃ" W OSTROŁĘCE</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 16 "KRAINA ODKRYWCÓW" W OSTROŁĘCE</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 17 "KRAINA MISIÓW" W OSTROŁĘCE</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 18 KRAINA ZACZAROWANEJ LOKOMOTYWYW OSTROŁĘCE</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 5 Z ODDZIAŁAMI INTEGRACYJNYMI "LEŚNA KRAINA" W OSTROŁĘCE</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 7 TĘCZOWA KRAINA W OSTROŁĘCE</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 8 "KRAINA RADOŚCI" W OSTROŁĘCE</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 9 BAJKOWA KRAINA W OSTROŁĘCE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE ,,PROMYCZKI"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "AKADEMIA MALUCHÓW"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "AKADEMIA MALUCHÓW"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "CHATKA PUCHATKA"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "PROMYCZKI" W OSTROŁĘCE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "TWÓRCZE ŁAPKI"</li>
        <li>PRZEDSZKOLE SPECJALNE W OSTROŁĘCE</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA IM. STEFANA CZARNIECKIEGO W OSTROŁĘCE</li>
        <li>PUNKT PRZEDSZKOLNY ,,MALI PRZYJACIELE"</li>
        <li>PUNKT PRZEDSZKOLNY 'KANGUREK' DZIECIĘCE CENTRUM ARTYSTYCZNO-JĘZYKOWE</li>
        <li>PUNKT PRZEDSZKOLNY "SŁONECZKO"</li>
        <li>PUNKT PRZEDSZKOLNY "ZACZAROWANE PRZEDSZKOLE"</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY IM. KS. JANA TWARDOWSKIEGO</li>
        <li>SPOŁECZNA SZKOŁA PODSTAWOWA SPOŁECZNEGO TOWARZYSTWA OŚWIATOWEGO</li>
        <li>STOWARZYSZENIE KSIĘGOWYCH W POLSCE ODDZIAŁ OKRĘGOWY W WARSZAWIE CENTRUM EDUKACJI ZAWODOWEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. STANISŁAWA JACHOWICZA</li>
        <li>SZKOŁA PODSTAWOWA NR 10 IM. JANA PAWŁA II W OSTROŁĘCE</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. STANISŁAWA STASZICA W OSTROŁĘCE</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. ADAMA MICKIEWICZA W OSTROŁĘCE</li>
        <li>SZKOŁA PODSTAWOWA NR 4 W OSTROŁĘCE</li>
        <li>SZKOŁA PODSTAWOWA NR 5 IM. ZOFII NIEDZIAŁKOWSKIEJ W OSTROŁĘCE</li>
        <li>SZKOŁA PODSTAWOWA NR 6 IM. ORŁA BIAŁEGO W OSTROŁĘCE</li>
        <li>SZKOŁA PODSTAWOWA PRZY LICEUM KLASYCZNYM IM. PAPIEŻA JANA PAWŁA II W OSTROŁĘCE</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA</li>
        <li>SZKOŁA POLICEALNA CENTRUM NAUKI I BIZNESU "ŻAK" W OSTROŁĘCE</li>
        <li>SZKOŁA POLICEALNA NR 1 W OSTROŁĘCE</li>
        <li>SZKOŁA POLICEALNA NR 2 W OSTROŁĘCE</li>
        <li>SZKOŁA POLICEALNA NR 3</li>
        <li>SZKOŁA POLICEALNA NR 4 W OSTROŁĘCE</li>
        <li>SZKOŁA POLICEALNA OPIEKI MEDYCZNEJ "ŻAK" W OSTROŁĘCE</li>
        <li>SZKOŁA POLICEALNA OPIEKUN W DOMU POMOCY SPOŁECZNEJ TOWARZYSTWA WIEDZY POWSZECHNEJ</li>
        <li>SZKOŁA POLICEALNA TOWARZYSTWA WIEDZY POWSZECHNEJ W OSTROŁĘCE</li>
        <li>SZKOŁA PRZYSPOSABIAJĄCA DO PRACY</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY</li>
        <li>TECHNIKUM NR 1 W OSTROŁĘCE</li>
        <li>TECHNIKUM NR 2 W OSTROŁĘCE</li>
        <li>TECHNIKUM NR 3 W OSTROŁĘCE</li>
        <li>TECHNIKUM NR 4 W OSTROŁĘCE</li>
        <li>TERAPEUTYCZNY PUNKT PRZEDSZKOLNY "SUPEŁEK"</li>
        <li>V LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>VI LICEUM OGÓLNOKSZTAŁCĄCE MISTRZOSTWA SPORTOWEGO W OSTROŁĘCE</li>
        <li>ZESPÓŁ SZKÓŁ ZAWODOWYCH NR 1 IM. J. PSARSKIEGO W OSTROŁĘCE</li>
        <li>ZESPÓŁ SZKÓŁ ZAWODOWYCH NR 2 IM. 5. PUŁKU UŁANÓW ZASŁAWSKICH W OSTROŁĘCE</li>
        <li>ZESPÓŁ SZKÓŁ ZAWODOWYCH NR 3 IM. KARDYNAŁA STEFANA WYSZYŃSKIEGO W OSTROŁĘCE</li>
        <li>ZESPÓŁ SZKÓŁ ZAWODOWYCH NR 4 IM. A. CHĘTNIKA W OSTROŁĘCE</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
