
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Michałowice</title>
</head>
<body>
    <h1>Schools in Michałowice</h1>
    <ul>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY "ADAŚ"</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY "ANTOŚ"</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA W MICHAŁOWICACH</li>
        <li>PUBLICZNE PRZEDSZKOLE W MICHAŁOWICACH</li>
        <li>SZKOŁA PODSTAWOWA W MICHAŁOWICACH IM. JANA PAWŁA II</li>
        <li>ZESPÓŁ PUBLICZNEJ SZKOŁY PODSTAWOWEJ I PUBLICZNEGO PRZEDSZKOLA W MICHAŁOWICACH</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
