
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Jaworek</title>
</head>
<body>
    <h1>Schools in Jaworek</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W JAWORKU</li>
        <li>MŁODZIEŻOWY OŚRODEK WYCHOWAWCZY IM. CZESŁAWA CZAPÓWA W JAWORKU</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA W JAWORKU</li>
        <li>TECHNIKUM SPECJALNE W JAWORKU</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
