
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Wawer</title>
</head>
<body>
    <h1>Schools in Wawer</h1>
    <ul>
        <li>"STRUMIENIE" PRZEDSZKOLE STOWARZYSZENIA "STERNIK"</li>
        <li>"ŻAGLE" LICEUM OGÓLNOKSZTAŁCĄCE STOWARZYSZENIA STERNIK</li>
        <li>"ŻAGLE" SZKOŁA PODSTAWOWA STOWARZYSZENIA STERNIK</li>
        <li>ACADEMY INTERNATIONAL WAWER NIEPUBLICZNA SZKOŁA PODSTAWOWA Z ODDZIAŁAMI DWUJĘZYCZNYMI</li>
        <li>AKADEMIA TROP</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 68 W OKRĘGOWYM OŚRODKU WYCHOWAWCZYM W WARSZAWIE FALENICY</li>
        <li>BRITANNIA CENTRUM NAUCZANIA JĘZYKA ANGIELSKIEGO</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO "ALIEN ADVISOR"</li>
        <li>CENTRUM SZKOLENIOWO-KONFERENCYJNE KZRS "SCH"</li>
        <li>CHRZEŚCIJAŃSKA SZKOŁA PODSTAWOWA SAMUEL</li>
        <li>CHRZEŚCIJAŃSKIE LICEUM SAMUEL</li>
        <li>CHRZEŚCIJAŃSKIE PRZEDSZKOLE SAMUEL</li>
        <li>CXXIII LICEUM OGÓLNOKSZTAŁCĄCE SPECJALNE W INSTYTUCIE "POMNIK - CENTRUM ZDROWIA DZIECKA"</li>
        <li>ELEKTRO-ENERGETYKA SZKOLENIA</li>
        <li>INCOLT EURO SZKOLENIA SPECJALISTYCZNE</li>
        <li>INTEGRACYJNA PODSTAWOWA SZKOŁA MONTESSORI WAWER</li>
        <li>INTEGRACYJNE PRZEDSZKOLE MONTESSORI "MAŁY ODKRYWCA"</li>
        <li>INTEGRACYJNE PRZEDSZKOLE MONTESSORI WAWER</li>
        <li>INTEGRACYJNE PRZEDSZKOLE NIEPUBLICZNE "KLUB CIASTUSIA"</li>
        <li>INTEGRACYJNE PRZEDSZKOLE NIEPUBLICZNE "PRZYJACIEL"</li>
        <li>JOY PRESCHOOL WAWER</li>
        <li>KATOLICKIE LICEUM OGÓLNOKSZTAŁCĄCE IM. ŚW. PAWŁA Z TARSU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE NIEPUBLICZNE NR 76</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE TE VIZJA Z ODDZIAŁAMI DWUJĘZYCZNYMI</li>
        <li>LXXXV LICEUM OGÓLNOKSZTAŁCĄCE SPECJALNE</li>
        <li>LYKKELAND - PRZEDSZKOLE SKANDYNAWSKIE</li>
        <li>MŁODZIEŻOWY OŚRODEK SOCJOTERAPII NR 2 "KĄT"</li>
        <li>MŁODZIEŻOWY OŚRODEK SOCJOTERAPII NR 8</li>
        <li>MŁODZIEŻOWY OŚRODEK WYCHOWAWCZY NR 3 IM. DR GRZEGORZA MAJA</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO CENTRUM SZKOLENIA "NAFTOR"</li>
        <li>NIEPUBLICZNA PLACÓWKA OŚWIATOWO-WYCHOWAWCZA BENE MUSICA KURSY MUZYCZNE</li>
        <li>NIEPUBLICZNA PLACÓWKA OŚWIATOWO-WYCHOWAWCZA GIGANCI PROGRAMOWANIA</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA ALA MA KOTA</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA KOPARKA</li>
        <li>NIEPUBLICZNA SZKOŁA MUZYCZNA I ST. IRINY JÓZEFOWICZ W WARSZAWIE-FALENICY</li>
        <li>NIEPUBLICZNA SZKOŁA MUZYCZNA I ST. SAX-FORT W WARSZAWIE</li>
        <li>NIEPUBLICZNA SZKOŁA MUZYCZNA I STOPNIA BENE MUSICA W WARSZAWIE</li>
        <li>NIEPUBLICZNA WALDORFSKA SZKOŁA PODSTAWOWA IM. AUGUSTA CIESZKOWSKIEGO</li>
        <li>NIEPUBLICZNE INTEGRACYJNE PRZEDSZKOLE "ANIOŁKOWO"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLA CIUCHCIA PUCH PUCH AGATA WAWER</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "CALI MALI"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "MILUSIN"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "OKIENKO"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "PRZEDSZKOLE LEŚNE"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "ZAŁOGA PANA BOGA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE ARTYSTYCZNO-JĘZYKOWE "STRUŚ EGO"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE DOMEK MONTESSORI</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE DWUJĘZYCZNE ACADEMY INTERNATIONAL WAWER</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE JĘZYKOWE HAPPY HIPPO</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE MALEŃSTWO I PRZYJACIELE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE TOTU</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE ZGROMADZENIA SIÓSTR PREZENTEK W WARSZAWIE</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY HAPPY FEET</li>
        <li>NIEPUBLICZNY TERAPEUTYCZNY PUNKT PRZEDSZKOLNY ŚWIATA CIEKAWI</li>
        <li>OŚRODEK DOKSZTAŁCANIA ZAWODOWEGO "WALOR"</li>
        <li>OŚRODEK SZKOLENIA "COMMANDO"</li>
        <li>OŚRODEK SZKOLENIOWY PULSAR BHP</li>
        <li>PERCEPCJA NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA</li>
        <li>PLACÓWKA OŚWIATOWO-WYCHOWAWCZA</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA NR 17</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA TOWARZYSTWA PRZYJACIÓŁ DZIECI</li>
        <li>POZASZKOLNA PLACÓWKA SPECJALISTYCZNA</li>
        <li>POZASZKOLNA PLACÓWKA SPECJALISTYCZNA TOWARZYSTWA PRZYJACIÓŁ DZIECI</li>
        <li>PRYWATNA SZKOŁA PODSTAWOWA NR 105 IM. ASTRID LINDGREN</li>
        <li>PRYWATNA SZKOŁA PODSTAWOWA NR 63 IMIENIA WISŁAWY SZYMBORSKIEJ W WARSZAWIE</li>
        <li>PRYWATNA SZKOŁA PODSTAWOWA NR 92</li>
        <li>PRYWATNE PRZEDSZKOLE "PRYMULKA"</li>
        <li>PRZEDSZKOLE ... JAK Z BAJKI</li>
        <li>PRZEDSZKOLE "ALA MA KOTA"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "AMO RADOŚĆ"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "DOMISIA"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "KARUZELA"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "POD POZIOMKĄ"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE AKADEMIA TALENTÓW</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE KOCIE ŁAPKI</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE KRASNALKOWO</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE MY FIRST ACADEMY TOWARZYSTWA EDUKACYJNEGO "VIZJA" W WARSZAWIE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE MYSZKA MEPI</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE SIÓSTR SALEZJANEK IM. DOBREGO PASTERZA W WARSZAWIE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE ZGROMADZENIA SŁUŻEBNIC NAJŚWIĘTSZEGO SERCA JEZUSOWEGO (SIÓSTR SERCANEK)</li>
        <li>PRZEDSZKOLE NR 107 "BAJKOWE PRZEDSZKOLE"</li>
        <li>PRZEDSZKOLE NR 110 IM. WARSZAWSKIEJ SYRENKI</li>
        <li>PRZEDSZKOLE NR 233 "ZIELONY DOMEK"</li>
        <li>PRZEDSZKOLE NR 264 "PLUSZOWEGO MISIA"</li>
        <li>PRZEDSZKOLE NR 338 "SOSNOWA STACYJKA"</li>
        <li>PRZEDSZKOLE NR 348</li>
        <li>PRZEDSZKOLE NR 437</li>
        <li>PRZEDSZKOLE NR 84 "PROMYK"</li>
        <li>PRZEDSZKOLE NR 85 "LEŚNY ZAKĄTEK"</li>
        <li>PRZEDSZKOLE SIÓSTR FELICJANEK IM. ŚW. FRANCISZKA Z ASYŻU</li>
        <li>PRZEDSZKOLE SPECJALNE NR 104 W INSTYTUCIE "POMNIK - CENTRUM ZDROWIA DZIECKA"</li>
        <li>PRZEDSZKOLE Z ODDZIAŁAMI INTEGRACYJNYMI NR 86</li>
        <li>PUBLICZNE PRZEDSZKOLE EUROPEJSKIE II</li>
        <li>PUNKT PRZEDSZKOLNY "KLUB CIASTUSIA"</li>
        <li>PUNKT PRZEDSZKOLNY KRASNALKOWO</li>
        <li>PUNKT PRZEDSZKOLNY LITTLE TIGERS PRZEDSZKOLANDIA</li>
        <li>PUNKT PRZEDSZKOLNY MALEŃSTWO I PRZYJACIELE</li>
        <li>PUNKT PRZEDSZKOLNY MALEŃSTWO I PRZYJACIELE</li>
        <li>PUNKT PRZEDSZKOLNY RADOSNE LATA</li>
        <li>PUNKT PRZEDSZKOLNY ZIELONE SŁONIE</li>
        <li>SPECJALNE LICEUM OGÓLNOKSZTAŁCĄCE TOWARZYSTWA PRZYJACIÓŁ DZIECI</li>
        <li>SPECJALNE PRZEDSZKOLE TOWARZYSTWA PRZYJACIÓŁ DZIECI IMIENIA LADY SUE RYDER</li>
        <li>SPECJALNY OŚRODEK WYCHOWAWCZY TOWARZYSTWA PRZYJACIÓŁ DZIECI "HELENÓW"</li>
        <li>SZKOŁA BRANŻOWA I STOPNIA SPECJALNA TOWARZYSTWA PRZYJACIÓŁ DZIECI</li>
        <li>SZKOŁA PODSTAWOWA NIEPUBLICZNA PRZY FUNDACJI POMOCY LUDZIOM Z NIEPEŁNOSPRAWNOŚCIAMI</li>
        <li>SZKOŁA PODSTAWOWA NR 109 IM. BATALIONÓW CHŁOPSKICH</li>
        <li>SZKOŁA PODSTAWOWA NR 124 IM. STANISŁAWA JACHOWICZA</li>
        <li>SZKOŁA PODSTAWOWA NR 128 IM. MARII SKŁODOWSKIEJ-CURIE</li>
        <li>SZKOŁA PODSTAWOWA NR 138 Z ODDZIAŁAMI INTEGRACYJNYMI IM. JÓZEFA HORSTA</li>
        <li>SZKOŁA PODSTAWOWA NR 140 IM. KAZIMIERZA JEŻEWSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 195 IM. KRÓLA MACIUSIA I</li>
        <li>SZKOŁA PODSTAWOWA NR 204 IM. 19 PUŁKU UŁANÓW WOŁYŃSKICH</li>
        <li>SZKOŁA PODSTAWOWA NR 218 IM. MICHAŁA KAJKI</li>
        <li>SZKOŁA PODSTAWOWA NR 235 W OKRĘGOWYM OŚRODKU WYCHOWAWCZYM W WARSZAWIE-FALENICY</li>
        <li>SZKOŁA PODSTAWOWA NR 404</li>
        <li>SZKOŁA PODSTAWOWA NR 76 IM. 13 DYWIZJI PIECHOTY STRZELCÓW KRESOWYCH</li>
        <li>SZKOŁA PODSTAWOWA NR 86 IM. BRONISŁAWA CZECHA</li>
        <li>SZKOŁA PODSTAWOWA SIÓSTR FELICJANEK NR 28 IM. BŁ. MARII ANGELI TRUSZKOWSKIEJ</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 106 W INSTYTUCIE "POMNIK - CENTRUM ZDROWIA DZIECKA"</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 137</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 179</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 244</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 349 W MŁODZIEŻOWYM OŚRODKU SOCJOTERAPII NR 8</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 39</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 393 W MŁODZIEŻOWYM OŚRODKU SOCJOTERAPII NR 2 "KĄT"</li>
        <li>SZKOŁA PODSTAWOWA TOWARZYSTWA EDUKACYJNEGO "VIZJA: IM. KAZIMIERZA SZPOTAŃSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA Z ODDZIAŁAMI INTEGRACYJNYMI NR 216 "KLONOWEGO LIŚCIA"</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY NR 8</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY TOWARZYSTWA PRZYJACIÓŁ DZIECI</li>
        <li>WAWERSKA SZKOŁA REALNA</li>
        <li>XXV LICEUM OGÓLNOKSZTAŁCĄCE IM. JÓZEFA WYBICKIEGO</li>
        <li>XXVI LICEUM OGÓLNOKSZTAŁCĄCE IM. JULIANA TUWIMA</li>
        <li>ZESPÓŁ SZKÓŁ SPECJALNYCH NR 102</li>
        <li>ZESPÓŁ SZKÓŁ SPECJALNYCH NR 78 IM. EWY SZELBURG-ZAREMBINY W INSTYTUCIE "POMNIK CENTRUM ZDROWIA DZIECKA"</li>
        <li>ZESPÓŁ SZKOLNO - PRZEDSZKOLNY NR 9</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
