
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Ząbki</title>
</head>
<body>
    <h1>Schools in Ząbki</h1>
    <ul>
        <li>"SCHOOL OF ENGLISH"</li>
        <li>ENGLISH LANGUAGE COURSE "ENLANCO"</li>
        <li>FILIA SZKOŁY PODSTAWOWEJ NR 3</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH VIA POLONIA</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. RTM. WITOLDA PILECKIEGO</li>
        <li>NIEPUBLICZNA SZKOŁA MUZYCZNA I ST. CONSONARE W ZĄBKACH</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE AKADEMIA ODKRYWCY</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE BAŚNIOWA AKADEMIA</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE BEZPIECZNY PRZEDSZKOLAK</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE INTEGRACYJNE BEZPIECZNA PRZYSTAŃ</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE JAGÓDKA</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE MAŁEGO KOPERNIKA</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE TERAPEUTYCZNE "HAPPY KIDS PLACE"</li>
        <li>OŚRODEK SZKOLENIA KIEROWCÓW BORY</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE IM. JANA PAWŁA</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE MAŁA AKADEMIA ODKRYWCY</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE NASZA LOKOMOTYWA</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE PINOKIO</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE POD MUCHOMORKIEM</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE SMYK</li>
        <li>PRZEDSZKOLE PUBLICZNE LAWENDOWA MARINA</li>
        <li>PUBLICZNA KATOLICKA SZKOŁA PODSTAWOWA IM. KS. JANA TWARDOWSKIEGO</li>
        <li>PUBLICZNA PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA W ZĄBKACH</li>
        <li>PUBLICZNE PRZEDSZKOLE "MARZENIA DO SPEŁNIENIA"</li>
        <li>PUBLICZNE PRZEDSZKOLE "PRZYSTAŃ ELFÓW"</li>
        <li>PUBLICZNE PRZEDSZKOLE "WYSPA PRZYGÓD"</li>
        <li>PUBLICZNE PRZEDSZKOLE AKADEMIA FANTAZJI</li>
        <li>PUBLICZNE PRZEDSZKOLE AKADEMIA ODKRYWCY</li>
        <li>PUBLICZNE PRZEDSZKOLE AMERICAN KIDS COLLEGE</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 1 ZIELONY DINEK</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 2 LEŚNY ZAKĄTEK</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 3 SKRZAT</li>
        <li>PUBLICZNE PRZEDSZKOLE ZOZOLAND</li>
        <li>SZKOŁA PODSTAWOWA DLA DOROSŁYCH VIA POLONIA</li>
        <li>SZKOŁA PODSTAWOWA IM. KS. JERZEGO POPIEŁUSZKI</li>
        <li>SZKOLA PODSTAWOWA NR 1 IM.GEN. FRANCISZKA KLEEBERGA</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. JANA KOCHANOWSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IMIENIA MAŁEGO POWSTAŃCA</li>
        <li>SZKOŁA PODSTAWOWA NR 4 IM. ŚW. JANA PAWŁA II</li>
        <li>SZKOŁA PODSTAWOWA NR 5 IM. BŁ. KS. JERZEGO POPIEŁUSZKI</li>
        <li>SZKOŁA PODSTAWOWA NR 6 IM. MAŁGORZATY DYDEK W ZĄBKACH</li>
        <li>SZKOŁA POLICEALNA VIA POLONIA</li>
        <li>ZIELONA PORADNIA</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
