
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Targówek</title>
</head>
<body>
    <h1>Schools in Targówek</h1>
    <ul>
        <li>AD SECURITY OŚRODEK KSZTAŁCENIA</li>
        <li>AKADEMIA MALUCHÓW-ZACISZE NIEPUBLICZNE ANGLOJĘZYCZNE PRZEDSZKOLE INTEGRACYJNE</li>
        <li>AS-LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 41</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA NR 1</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO NR 3</li>
        <li>CENTRUM KWALIFIKACJI ZAWODOWYCH ZACISZE</li>
        <li>CII LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI INTEGRACYJNYMI IM. KSIĘDZA JÓZEFA WOŹNIAKA</li>
        <li>CLXII LICEUM OGÓLNOKSZTAŁCĄCE IM. SZARYCH SZEREGÓW</li>
        <li>CXL LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>CXXXVII LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI DWUJĘZYCZNYMI IM. ROBERTA SCHUMANA</li>
        <li>DELPHI OŚRODEK SZKOLENIOWY</li>
        <li>EUROPEJSKIE CENTRUM SPORTU</li>
        <li>INTEGRACYJNE PRZEDSZKOLE NIEPUBLICZNE "KIDS WORLD"</li>
        <li>INTEGRACYJNE PRZEDSZKOLE NIEPUBLICZNE "TĘCZOWY KĄCIK"</li>
        <li>INTEGRACYJNE PRZEDSZKOLE NIEPUBLICZNE HIKIDS</li>
        <li>INTEGRACYJNE PRZEDSZKOLE TUKAN</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH ZACISZE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE WYSPA JP2</li>
        <li>NIEPUBLICZNA INTEGRACYJNA SZKOŁA PODSTAWOWA IM. ACHILLESA RATTI</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA CENTRUM TERAPII I ROZWOJU TERAPEUTIKA</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA CENTRUM TERAPII PROMITIS</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA I CENTRUM EDUKACYJNO-TERAPEUTYCZNE HEIWA</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA LOGOS - DZIECIĘCA TERAPIA ROZWOJOWA</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA NR 38 Z ODDZIAŁAMI INTEGRACYJNYMI IM. IRENY SENDLEROWEJ</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA WYSPA JP2</li>
        <li>NIEPUBLICZNE PRZEDSZKOLA CIUCHCIA PUCH PUCH AGATA WAWER</li>
        <li>NIEPUBLICZNE PRZEDSZKOLA CIUCHCIA PUCH PUCH AGATA WAWER</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "AKADEMIA KRASNOLUDKÓW"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE INTEGRACYJNE "ISKIERKA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE INTEGRACYJNE ARTYSTYCZNO-JĘZYKOWE "BYSTRZAKI"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE ZGROMADZENIA SIÓSTR LORETANEK</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE ZGROMADZENIA SS POCIESZYCIELEK NAJŚWIĘTSZEGO SERCA JEZUSOWEGO</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY AKADEMIA HARMONIKA</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY PROMITIS</li>
        <li>NIEPUBLICZNY TERAPEUTYCZNY PUNKT PRZEDSZKOLNY KIDS WORLD</li>
        <li>POLICEALNA SZKOŁA ZAWODOWA EDICUS II</li>
        <li>POLICEALNA SZKOŁA ZAWODOWA EDICUS W WARSZAWIE</li>
        <li>POLICEALNA SZKOŁA ZAWODOWA ZACISZE</li>
        <li>POLONIJNE LICEUM OGÓLNOKSZTAŁCĄCE NIEPUBLICZNE „KLASYK”</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA NR 13</li>
        <li>PRYWATNA SZKOŁA PODSTAWOWA NR 108 IM. MATKI BOSKIEJ NIEUSTAJĄCEJ POMOCY</li>
        <li>PRYWATNA SZKOŁA PODSTAWOWA NR 62 IM. JOANNY KOLASIŃSKIEJ</li>
        <li>PRZEDSZKOLE INTEGRACYJNE NR 120</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "ALE FRAJDA"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "BAJKA"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "ELFIKI"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "KIDS PLANET"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "MARZENIA DO SPEŁNIENIA"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE AMO 81</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE BAJE I PSOTY</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE BAŚNIOWY OGRÓD</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE MIKILAND</li>
        <li>PRZEDSZKOLE NR 103</li>
        <li>PRZEDSZKOLE NR 106</li>
        <li>PRZEDSZKOLE NR 113 „PRZEDSZKOLE W TĘCZOWYM KRĘGU”</li>
        <li>PRZEDSZKOLE NR 115 "PRZEDSZKOLE POD KLONEM"</li>
        <li>PRZEDSZKOLE NR 119 "W ZIELONYM OGRODZIE"</li>
        <li>PRZEDSZKOLE NR 123 "OCEAN MARZEŃ"</li>
        <li>PRZEDSZKOLE NR 125 "POD ZŁOTYM PROMYKIEM"</li>
        <li>PRZEDSZKOLE NR 128 "KRAINA MAGICZNYCH LICZB"</li>
        <li>PRZEDSZKOLE NR 150 "PRZYSTANEK UŚMIECH"</li>
        <li>PRZEDSZKOLE NR 154 „POD WESOŁĄ TRUSKAWECZKĄ”</li>
        <li>PRZEDSZKOLE NR 155 "ROZTAŃCZONA KRAINA"</li>
        <li>PRZEDSZKOLE NR 156</li>
        <li>PRZEDSZKOLE NR 157 "PRZEDSZKOLE Z SERDUSZKIEM"</li>
        <li>PRZEDSZKOLE NR 18</li>
        <li>PRZEDSZKOLE NR 432 "ŁĄCZKA ZAJĄCZKA"</li>
        <li>PRZEDSZKOLE NR 81</li>
        <li>PRZEDSZKOLE NR 88 „POD ZIELONYM LISTKIEM”</li>
        <li>PRZEDSZKOLE NR 90 "ENTLICZEK PENTLICZEK"</li>
        <li>PRZEDSZKOLE NR 91 „ZACZAROWANY OGRÓD”</li>
        <li>PRZEDSZKOLE NR 94 "KRAINA SŁONECZNYCH MARZEŃ"</li>
        <li>PRZEDSZKOLE NR 95 Z ODDZIAŁAMI INTEGRACYJNYMI IM. KRÓLA MACIUSIA I</li>
        <li>PRZEDSZKOLE TEATRALNO-MUZYCZNE WYSZOGRÓD MARIUSZ CZAJA</li>
        <li>PRZEDSZKOLE Z ODDZIAŁAMI INTEGRACYJNYMI NR 442</li>
        <li>PUBLICZNE PRZEDSZKOLE INTEGRACYJNE NR 22 ZGROMADZENIA SIÓSTR MISJONAREK APOSTOLSTWA KATOLICKIEGO</li>
        <li>PUBLICZNE PRZEDSZKOLE USMIECH MALUCHA</li>
        <li>PUNKT PRZEDSZKOLNY PROMITIS</li>
        <li>SEKA ODDZIAŁ W WARSZAWIE-PLACÓWKA KSZTAŁCENIA USTAWICZNEGO</li>
        <li>SEKA.EDU SP. Z O.O.</li>
        <li>SENSORYCZNO-ARTYSTYCZNY PUNKT PRZEDSZKOLNY WIĘKSZE BOBASOWO</li>
        <li>SPOŁECZNA SZKOŁA PODSTAWOWA NR 11 SPOŁECZNEGO TOWARZYSTWA OŚWIATOWEGO</li>
        <li>SZKOŁA ARTYSTYCZNA TEATR SZTUK WIELU SP. Z O.O.</li>
        <li>SZKOŁA PODSTAWOWA NR 114 Z ODDZIAŁAMI INTEGRACYJNYMI IM. JĘDRZEJA CIERNIAKA</li>
        <li>SZKOŁA PODSTAWOWA NR 206 Z ODDZIAŁAMI INTEGRACYJNYMI IM. WŁADYSŁAWA REYMONTA</li>
        <li>SZKOŁA PODSTAWOWA NR 277 IM. ELIZY ORZESZKOWEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 28 IM. STEFANA ŻEROMSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 285 IM. JANA MARCINA SZANCERA</li>
        <li>SZKOŁA PODSTAWOWA NR 298 IM. JANA KASPROWICZA</li>
        <li>SZKOŁA PODSTAWOWA NR 377 IM. MAJORA HENRYKA DOBRZAŃSKIEGO "HUBALA" W WARSZAWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 378 IM. IGNACEGO JANA PADEREWSKIEGO W WARSZAWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 379 IM. SZARYCH SZEREGÓW W WARSZAWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 380 IM. JANA PAWŁA II W WARSZAWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 398</li>
        <li>SZKOŁA PODSTAWOWA NR 42 Z ODDZIAŁAMI INTEGRACYJNYMI IM. KONSTANTEGO ILDEFONSA GAŁCZYŃSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 52 IM. MACIEJA ALEKSEGO DAWIDOWSKIEGO "ALKA", SZKOŁA FILIALNA GILARSKA</li>
        <li>SZKOŁA PODSTAWOWA NR 52 IM. MACIEJA ALEKSEGO DAWIDOWSKIEGO “ALKA”</li>
        <li>SZKOŁA PODSTAWOWA NR 58 IM. TADEUSZA GAJCEGO W WARSZAWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 84 IM. WALERIANA ŁUKASIŃSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 84 IM. WALERIANA ŁUKASIŃSKIEGO SZKOŁA FILIALNA - TOPAZOWA</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 99 IM MAŁEGO POWSTAŃCA</li>
        <li>SZKOŁA PODSTAWOWA WSPIERANIA ROZWOJU</li>
        <li>SZKOŁA PODSTAWOWA Z ODDZIAŁAMI INTEGRACYJNYMI NR 275 IM. ARTURA OPPMANA</li>
        <li>SZKOŁA PODSTAWOWA ZIELONA SZKOŁA W FOLWARKU</li>
        <li>SZKOŁA POLICEALNA NR 36</li>
        <li>SZKOŁA POLICEALNA NR 45 DLA DOROSŁYCH</li>
        <li>TEB EDUKACJA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO W WARSZAWIE</li>
        <li>TECHNIKA I BEZPIECZEŃSTWO</li>
        <li>TECHNIKUM NR 11 IM. PIOTRA WYSOCKIEGO</li>
        <li>TECHNIKUM NR 30</li>
        <li>TĘCZOWE PRZEDSZKOLE</li>
        <li>TERAPEUTYCZNY PUNKT PRZEDSZKOLNY "MAŁY CZŁOWIEK"</li>
        <li>TERAPEUTYCZNY PUNKT PRZEDSZKOLNY "MÓWI SIĘ"</li>
        <li>TERAPEUTYCZNY PUNKT PRZEDSZKOLNY LOGOS</li>
        <li>TUKAN TERAPEUTYCZNY PUNKT PRZEDSZKOLNY</li>
        <li>VIII OGRÓD JORDANOWSKI</li>
        <li>XIII LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI DWUJĘZYCZNYMI IM. PŁK. LEOPOLDA LISA-KULI</li>
        <li>XLVI LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI DWUJĘZYCZNYMI IM. STEFANA CZARNIECKIEGO W WARSZAWIE</li>
        <li>ZAOCZNA POLICEALNA SZKOŁA ZAWODOWA LOGOS</li>
        <li>ZESPÓŁ SZKÓŁ IM. PIOTRA WYSOCKIEGO</li>
        <li>ZESPÓŁ SZKÓŁ NR 128</li>
        <li>ZESPÓŁ SZKÓŁ NR 34 IM. MIESZKA I W WARSZAWIE</li>
        <li>ZESPÓŁ SZKÓŁ Z ODDZIAŁAMI INTEGRACYJNYMI NR 41</li>
        <li>ZIELONE PRZEDSZKOLE W FOLWARKU</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
