
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Ursus</title>
</head>
<body>
    <h1>Schools in Ursus</h1>
    <ul>
        <li>"MAŁE PRZEDSZKOLE" NIEPUBLICZNE PRZEDSZKOLE INTEGRACYJNE</li>
        <li>ARKA ANDRZEJ TRACZYK NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 37 IM. JANA KARSKIEGO</li>
        <li>CENTRUM EDUKACJI MATEMATYCZNEJ</li>
        <li>CENTRUM SZKOLENIA ZAWODOWEGO</li>
        <li>CLIV LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>HIPOPO NIEPUBLICZNE PRZEDSZKOLE XXI WIEKU CENTRUM EDUKACJI LOKALNEJ</li>
        <li>INTEGRACYJNE NIEPUBLICZNE PRZEDSZKOLE MONTESSORI "ELIPSOIDA"</li>
        <li>LVI LICEUM OGÓLNOKSZTAŁCĄCE IM. ROTMISTRZA WITOLDA PILECKIEGO</li>
        <li>MONTESSORI DLA PRZEDSZKOLAKÓW PUNKT PRZEDSZKOLNY</li>
        <li>NIEPUBLICZNA PLACÓWKA OŚWIATOWA LEGION</li>
        <li>NIEPUBLICZNA PODSTAWOWA SZKOŁA MONTESSORI W WARSZAWIE</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "DOBRA PRZESTRZEŃ"</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "KOMPAS"</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "MALI I DUZI"</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "WIEDZA"</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA Z ODDZIAŁAMI DWUJĘZYCZNYMI H2H</li>
        <li>NIEPUBLICZNE DWUJĘZYCZNE PRZEDSZKOLE "AKWARELKI"</li>
        <li>NIEPUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE MONTESSORI W WARSZAWIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "BAJECZKA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "DELFINKI"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "LEŚNA KRAINA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE ANGIELSKO-POLSKIE "MAJA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE EDUKACYJNO-SPORTOWE "BAMBINO"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE INTEGRACYJNE "BIAŁY MIŚ"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE INTEGRACYJNE BABY ACADEMY WARSZAWA - URSUS</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE JĘZYKOWE SMART PLANET</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE QBUŚ</li>
        <li>NIEPUBLICZNY OŚRODEK DOSKONALENIA NAUCZYCIELI HUMAN TO HUMAN</li>
        <li>OŚRODEK DOSKONALENIA KADR ERGON</li>
        <li>POLSKO-ANGIELSKIE PRZEDSZKOLE NIEPUBLICZNE UŚMIECH</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA NR 15</li>
        <li>PRZEDSZKOLE INTEGRACYJNE DOMEK PRZEDSZKOLAKA</li>
        <li>PRZEDSZKOLE INTEGRACYJNE NR 137 IM. JANUSZA KORCZAKA W WARSZAWIE</li>
        <li>PRZEDSZKOLE MONTESSORI</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "BIEDRONECZKA"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "EDU SZKRABY"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "TRALALA" - WYCHOWANIE PRZEZ SZTUKĘ</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE AKADEMIA MAŁYCH SMOKÓW</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE ARTYSTYCZNO-JĘZYKOWE ENTLICZEK PENTLICZEK</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE IM. KSIĘDZA BRONISŁAWA MARKIEWICZA</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE ZGROMADZENIA SIÓSTR IMIENIA JEZUS</li>
        <li>PRZEDSZKOLE NR 112 "LEŚNE SKRZATY" W WARSZAWIE</li>
        <li>PRZEDSZKOLE NR 168 "MISIOWA GROMADKA" W WARSZAWIE</li>
        <li>PRZEDSZKOLE NR 194 W WARSZAWIE</li>
        <li>PRZEDSZKOLE NR 200 "GĄSKI BALBINKI"</li>
        <li>PRZEDSZKOLE NR 219 "NIEZAPOMINAJKA" W WARSZAWIE</li>
        <li>PRZEDSZKOLE NR 343 "NA MIODOWEJ GÓRCE"</li>
        <li>PRZEDSZKOLE NR 413 W WARSZAWIE</li>
        <li>PRZEDSZKOLE NR 439</li>
        <li>PRZEDSZKOLE NR 441</li>
        <li>PRZEDSZKOLE Z ODDZIAŁAMI INTEGRACYJNYMI NR 418</li>
        <li>PUBLICZNE PRZEDSZKOLE "MAŁE PRZEDSZKOLE"</li>
        <li>PUBLICZNE PRZEDSZKOLE BIEDRONECZKA</li>
        <li>PUBLICZNE PRZEDSZKOLE INTEGRACYJNE ŚWIAT DZIECKA</li>
        <li>PUBLICZNE PRZEDSZKOLE KLUB MALUCHA SIÓDME NIEBO</li>
        <li>PUNKT PRZEDSZKOLNY IWE "TUMIRAJ"</li>
        <li>SPECJALISTYCZNA PORADNIA MAŁEGO DZIECKA IWE</li>
        <li>SPOŁECZNA SZKOŁA PODSTAWOWA NR 4 IM. WŁADYSŁAWA GRABSKIEGO SPOŁECZNEGO TOWARZYSTWA OŚWIATOWEGO</li>
        <li>SZKOŁA MUZYCZNA YAMAHA MARIUSZ KOLINKO</li>
        <li>SZKOŁA PODSTAWOWA NR 11 IM. ŻOŁNIERZY I DYWIZJI KOŚCIUSZKOWSKIEJ W WARSZAWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 360</li>
        <li>SZKOŁA PODSTAWOWA NR 381 IM. KRZYSZTOFA KAMILA BACZYŃSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 382 IM. WARSZAWSKICH DZIECI</li>
        <li>SZKOŁA PODSTAWOWA NR 383 IM. KS. STEFANA KARDYNAŁA WYSZYŃSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 4 IM. WŁADYSŁAWA BRONIEWSKIEGO W WARSZAWIE</li>
        <li>SZKOŁA PODSTAWOWA Z ODDZIAŁAMI INTEGRACYJNYMI NR 14 IM. BOHATERÓW WARSZAWY W WARSZAWIE</li>
        <li>SZKOŁA PODSTAWOWA Z ODDZIAŁAMI INTEGRACYJNYMI NR 2 IM. JANA PAWŁA II</li>
        <li>TECHNIKUM NR 8 IM. JANA KARSKIEGO</li>
        <li>ZESPÓŁ SZKÓŁ NR 42</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
