
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Jasieniec</title>
</head>
<body>
    <h1>Schools in Jasieniec</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W JASIEŃCU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W JASIEŃCU</li>
        <li>PRZEDSZKOLE "BAJKOWY ŚWIAT "W JASIEŃCU</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA IM. JULIANA SUSKIEGO W JASIEŃCU</li>
        <li>TECHNIKUM W JASIEŃCU</li>
        <li>ZESPÓŁ SZKÓŁ IM. WINCENTEGO WITOSA W JASIEŃCU</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
