
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Nowa Wola</title>
</head>
<body>
    <h1>Schools in Nowa Wola</h1>
    <ul>
        <li>"AKADEMIA DZIECKA" NIEPUBLICZNA SZKOŁA PODSTAWOWA</li>
        <li>"AKADEMIA DZIECKA" NIEPUBLICZNE PRZEDSZKOLE</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "AB OVO"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE MAGICZNA KRAINA</li>
        <li>PUBLICZNE PRZEDSZKOLE Z ODDZIAŁAMI INTEGRACYJNYMI "TRUSKAWKOWO"</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
