
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Dobre</title>
</head>
<body>
    <h1>Schools in Dobre</h1>
    <ul>
        <li>PRZEDSZKOLE NIEPUBLICZNE "PROMYK" W DOBREM</li>
        <li>PUNKT PRZEDSZKOLNY "STOKROTKA"</li>
        <li>SAMORZĄDOWE PRZEDSZKOLE W DOBREM</li>
        <li>SZKOŁA PODSTAWOWA IM K LASZCZKI W DOBREM</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W DOBREM</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
