
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Gołotczyzna</title>
</head>
<body>
    <h1>Schools in Gołotczyzna</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA</li>
        <li>BRANZOWA SZKOŁA I STOPNIA W GOŁOTCZYŹNIE</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA W GOŁOTCZYŹNIE</li>
        <li>MŁODZIEZOWY OŚRODEK SOCJOTERAPII W ZESPOLE PLACÓWEK W GOŁOTCZYŹNIE</li>
        <li>MŁODZIEŻOWY OŚRODEK WYCHOWAWCZY W ZESPOLE PLACÓWEK W GOŁOTCZYŹNIE</li>
        <li>ROLNICZE CENTRUM KSZTAŁCENIA USTAWICZNEGO W GOŁOTCZYŹNIE</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA W MŁODZIEŻOWYM OŚRODKU SOCJOTERAPII</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA W MŁODZIEŻOWYM OŚRODKU WYCHOWAWCZYM W GOŁOTCZYŹNIE</li>
        <li>SZKOŁA POLICEALNA W GOŁOTCZYŹNIE</li>
        <li>TECHNIKUM W GOŁOTCZYŹNIE</li>
        <li>ZESPÓŁ PLACÓWEK W GOŁOTCZYŹNIE</li>
        <li>ZESPÓŁ SZKÓŁ CENTRUM KSZTAŁCENIA ROLNICZEGO IM. ALEKSANDRA ŚWIĘTOCHOWSKIEGO W GOŁOTCZYŹNIE</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
