
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Joniec</title>
</head>
<body>
    <h1>Schools in Joniec</h1>
    <ul>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY W JOŃCU</li>
        <li>SZKOŁA PODSTAWOWA IM. BOHATERÓW BITWY NAD WKRĄ W JOŃCU</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA W JOŃCU</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W JOŃCU</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
