
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Teresin</title>
</head>
<body>
    <h1>Schools in Teresin</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W TERESINIE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "LEŚNA AKADEMIA"</li>
        <li>SPOŁECZNE PRZEDSZKOLE INTEGRACYJNE W TERESINIE</li>
        <li>SZKOŁA PODSTAWOWA IM. ŚW. MAKSYMILIANA KOLBEGO W TERESINIE</li>
        <li>SZKOŁA POLICEALNA</li>
        <li>TECHNIKUM</li>
        <li>ZESPÓŁ SZKÓŁ IM. PRYMASA TYSIĄCLECIA STEFANA KARDYNAŁA WYSZYŃSKIEGO W TERESINIE</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
