
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Baranowo</title>
</head>
<body>
    <h1>Schools in Baranowo</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W BARANOWIE</li>
        <li>GMINNE PRZEDSZKOLE W BARANOWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W BARANOWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W BARANOWIE</li>
        <li>SZKOŁA PODSTAWOWA IM . JANA PAWŁA II W BARANOWIE</li>
        <li>SZKOŁA POLICEALNA W BARANOWIE</li>
        <li>TECHNIKUM W BARANOWIE</li>
        <li>ZESPÓŁ SZKÓŁ POWIATOWYCH W BARANOWIE</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
