
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Maków Mazowiecki</title>
</head>
<body>
    <h1>Schools in Maków Mazowiecki</h1>
    <ul>
        <li>BIBLIOTEKA PEDAGOGICZNA W OSTROŁĘCE - FILIA W MAKOWIE MAZOWIECKIM</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA W SPECJALNYM OŚRODKU SZKOLNO WYCHOWAWCZYM W MAKOWIE MAZOWIECKIM</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA W ZESPOLE SZKÓŁ W MAKOWIE MAZOWIECKIM</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W ZESPOLE SZKÓŁ W MAKOWIE MAZOWIECKIM</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE NR I IM. MARII CURIE SKŁODOWSKIEJ W MAKOWIE MAZOWIECKIM</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE NR II W ZESPOLE SZKÓŁ W MAKOWIE MAZOWIECKIM</li>
        <li>MIEJSKI ZESPÓŁ PRZEDSZKOLI SAMORZĄDOWYCH W MAKOWIE MAZOWIECKIM</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE JĘZYKOWO - SPORTOWE HAPPY KIDS</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE PASTELOVE</li>
        <li>OŚMIOLETNIA SZKOŁA PODSTAWOWA SPECJALNA W SPECJALNYM OŚRODKU SZKOLNO WYCHOWAWCZYM W MAKOWIE MAZOWIECKIM</li>
        <li>OŚRODEK USŁUG TECHNICZNYCH SZKOLENIOWYCH I EKONOMICZNYCH SIM-MASZ W MAKOWIE MAZOWIECKIM</li>
        <li>PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA W MAKOWIE MAZOWIECKIM</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 1</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 2</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 4</li>
        <li>PRZEDSZKOLE SPECJALNE</li>
        <li>SPECJALNY OŚRODEK SZKOLNO WYCHOWAWCZY IM. KS. JANA TWARDOWSKIEGO W MAKOWIE MAZOWIECKIM</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. JANA KOCHANOWSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR1 IM. WŁADYSŁAWA BRONIEWSKIEGO</li>
        <li>SZKOŁA POLICEALNA DLA DOROSŁYCH</li>
        <li>SZKOŁA PRZYSPOSABIAJĄCA DO PRACY W SPECJALNYM OŚRODKU SZKOLNO WYCHOWAWCZYM W MAKOWIE MAZOWIECKIM</li>
        <li>TECHNIKUM W ZESPOLE SZKÓŁ W MAKOWIE MAZOWIECKIM</li>
        <li>ZESPÓŁ SZKÓŁ IM. ŻOŁNIERZY ARMII KRAJOWEJ W MAKOWIE MAZOWIECKIM</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
