
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Borki-Wyrki</title>
</head>
<body>
    <h1>Schools in Borki-Wyrki</h1>
    <ul>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA IM. KORNELA MAKUSZYŃSKIEGO W BORKACH-WYRKACH</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE W BORKACH-WYRKACH</li>
        <li>ZESPÓŁ SZKÓŁ NIEPUBLICZNYCH W BORKACH-WYRKACH</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
