
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Ustanów</title>
</head>
<body>
    <h1>Schools in Ustanów</h1>
    <ul>
        <li>MAŁE PRZEDSZKOLE TU W USTANOWIE</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA PROGRESSUS</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE W USTANOWIE "KIDI"</li>
        <li>SZKOŁA PODSTAWOWA IM. MIKOŁAJA KOPERNIKA</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
