
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Chotomów</title>
</head>
<body>
    <h1>Schools in Chotomów</h1>
    <ul>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA IN-SENS</li>
        <li>NIEPUBLICZNA SPECJALNA SZKOŁA PODSTAWOWA IN-SENS</li>
        <li>PRZEDSZKOLE GMINNE W CHOTOMOWIE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE WS WYSPA SMYKÓW</li>
        <li>PUNKT PRZEDSZKOLNY "PRZY LESIE"</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. STEFANA KRASIŃSKIEGO W CHOTOMOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM.ORŁA BIAŁEGO W CHOTOMOWIE</li>
        <li>TERAPEUTYCZNY PUNKT PRZEDSZKOLNY IN-SENS</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
