
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Żyrardów</title>
</head>
<body>
    <h1>Schools in Żyrardów</h1>
    <ul>
        <li>AKADEMIA KSZTAŁCENIA INDYWIDUALNEGO AKI</li>
        <li>ATUT - LICEUM OGÓLNOKSZAŁCĄCE DLA DOROSŁYCH</li>
        <li>ATUT - PLACÓWKA KSZTAŁCENIA USTAWICZNEGO</li>
        <li>ATUT - SZKOŁA POLICEALNA</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA IM.KAROLA DITTRICHA W ZESPOLE SZKOŁ NR 2 W ŻYRARDOWIE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA SPECJALNA</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA W ZESPOLE SZKÓŁ NR 1 W ŻYRARDOWIE</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO NATUROPATA</li>
        <li>COOL-EDUKACJA POLICEALNA SZKOŁA ZAWODOWA W ŻYRARDOWIE</li>
        <li>DWUJĘZYCZNY PUNKT PRZEDSZKOLNY TULIŚ</li>
        <li>GIGANCI PROGRAMOWANIA</li>
        <li>KIDS FITNESS CLUB</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE "HORN"</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE AS W ŻYRARDOWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. STEFANA ŻEROMSKIEGO</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM.KAROLA DITTRICHA W ZESPOLE SZKÓŁ NR 2 W ŻYRARDOWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE SZKOŁA MISTRZOSTWA SPORTOWEGO W KOLARSTWIE</li>
        <li>MIEJSKI OGRÓD JORDANOWSKI W ŻYRARDOWIE</li>
        <li>MIEJSKIE INTEGRACYJNE PRZEDSZKOLE NR 10 W ŻYRARDOWIE</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 2 W ŻYRARDOWIE</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 5 W ŻYRARDOWIE</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 6 IM. KRASNALA HAŁABAŁY W ŻYRARDOWIE</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 8 W ZYRARDOWIE</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 9 W ŻYRARDOWIE</li>
        <li>MŁODZIEŻOWY DOM KULTURY</li>
        <li>NASZA ERA</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "KROPKA"</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA HARMONIA</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA HUŚTAWKA</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA NR 1 IM. KRZYSZTOFA KOLUMBA W ŻYRARDOWIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE DWUJĘZYCZNE STACYJKOWO</li>
        <li>OŚRODEK KSZTAŁCENIA OŚWIATOWEGO</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I I II ST. IM. IGNACEGO JANA PADEREWSKIEGO W ŻYRARDOWIE</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I ST. W ŻYRARDOWIE</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA II ST. W ŻYRARDOWIE</li>
        <li>PEDAGOGICZNA BIBLIOTEKA WOJEWÓDZKA IM. KOMISJI EDUKACJI NARODOWEJ W WARSZAWIE FILIA W ŻYRARDOWIE</li>
        <li>POLICEALNA SZKOŁA PRZY COLLEGIUM MASOVIENSE</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA</li>
        <li>PROFESJA LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>PROFESJA POLICEALNA SZKOŁA ZAWODOWA W ŻYRARDOWIE</li>
        <li>PRYWATNA SZKOŁA MUZYCZNA I ST. NR 1 IM. ANTONIEGO SZALIŃSKIEGO W ŻYRARDOWIE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "GABILANDIA"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "MINI PRZEDSZKOLE DINO"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "ŻYRAFA"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE KRAINA RADOŚCI</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE MINI UNIWERSYTET</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE POZYTYWKA</li>
        <li>PRZEDSZKOLE SPECJALNE W SPECJALNYM OŚRODKU SZKOLNO-WYCHOWAWCZYM IM. M. GRZEGORZEWSKIEJ W ŻYRARDOWIE</li>
        <li>SPECJALNE PRZEDSZKOLE TERAPEUTYCZNE ODKRYWCY TALENTÓW</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY IM. MARII GRZEGORZEWSKIEJ</li>
        <li>SPOŁECZNA SZKOŁA PODSTAWOWA NR 2 IM. PAWŁA HULKI-LASKOWSKIEGO SPOŁECZNEGO TOWARZYSTWA OŚWIATOWEGO W ŻYRARDOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 1 Z ODDZIAŁAMI INTEGRACYJNYMI I DWUJĘZYCZNYMI IM. FILIPA DE GIRARDA W ŻYRARDOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. MARII KONOPNICKIEJ W ŻYRARDOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 3 Z ODDZIAŁAMI INTEGRACYJNYMI IM. STANISŁAWA STASZICA W ŻYRARDOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 4 IM. MIKOŁAJA REJA W ŻYRARDOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 6 IM. ELIZY ORZESZKOWEJ W ŻYRARDOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 7 IM. HENRYKA SIENKIEWICZA W ŻYRARDOWIE</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA</li>
        <li>SZKOŁA POLICEALNA AS W ŻYRARDOWIE</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY</li>
        <li>TECHNIKUM IM. KAROLA DITTRICHA W ZESPOLE SZKOŁ NR 2 W ŻYRARDOWIE</li>
        <li>TECHNIKUM W ZESPOLE SZKÓŁ NR 1 W ŻYRARDOWIE</li>
        <li>ZESPÓŁ SZKÓŁ NR 1 W ŻYRARDOWIE</li>
        <li>ZESPÓŁ SZKÓŁ NR 2 W ŻYRARDOWIE</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
