
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Warka</title>
</head>
<body>
    <h1>Schools in Warka</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W WARCE</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE W WARCE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. PIOTRA WYSOCKIEGO W WARCE</li>
        <li>NIEPUBLICZNA SZKOŁA MUZYCZNA I STOPNIA IM. ADAMA JARZĘBSKIEGO W WARCE</li>
        <li>NIEPUBLICZNA SZKOŁA MUZYCZNA II STOPNIA W WARCE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "CALINECZKA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE CALINECZKA</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE MAŁY MIŚ</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W WARCE</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 1 W WARCE</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA NR 2 Z ODDZIAŁAMI INTEGRACYJNYMI IM. KAZIMIERZA PUŁASKIEGO W WARCE</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. PIOTRA WYSOCKIEGO W WARCE</li>
        <li>TECHNIKUM W WARCE</li>
        <li>WALDEMAR DĘBOWSKI NIEPUBLICZNE PRZEDSZKOLE KUBUSIOWE PRZEDSZKOLE</li>
        <li>ZESPÓŁ SZKÓŁ IM.I PUŁKU LOTNICTWA MYŚLIWSKIEGO "WARSZAWA"</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
