
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Augustówka</title>
</head>
<body>
    <h1>Schools in Augustówka</h1>
    <ul>
        <li>PUBLICZNE PRZEDSZKOLE W AUGUSTÓWCE</li>
        <li>SZKOŁA PODSTAWOWA IM. ORŁA BIAŁEGO W AUGUSTÓWCE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W AUGUSTÓWCE</li>

    </ul>
    <a href="MAZOWIECKIE.html">Back to Cities in MAZOWIECKIE</a>
</body>
</html>
