
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Pogrzebień</title>
</head>
<body>
    <h1>Schools in Pogrzebień</h1>
    <ul>
        <li>ZESPOŁ SZKOLNO - PRZEDSZKOLNY W POGRZEBIENIU</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W POGRZEBIENIU - PRZEDSZKOLE PUBLICZNE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W POGRZEBIENIU - SZKOŁA PODSTAWOWA IM.JULIUSZA LIGONIA</li>

    </ul>
    <a href="ŚLĄSKIE.html">Back to Cities in ŚLĄSKIE</a>
</body>
</html>
