
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Międzybrodzie Żywieckie</title>
</head>
<body>
    <h1>Schools in Międzybrodzie Żywieckie</h1>
    <ul>
        <li>PRZEDSZKOLE IM. KS. JANA HOJDYSA W MIĘDZYBRODZIU ŻYWIECKIM</li>
        <li>SZKOŁA PODSTAWOWA IM. ŚW. KRÓLOWEJ JADWIGI W MIĘDZYBRODZIU ŻYWIECKIM</li>

    </ul>
    <a href="ŚLĄSKIE.html">Back to Cities in ŚLĄSKIE</a>
</body>
</html>
