
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Gaszowice</title>
</head>
<body>
    <h1>Schools in Gaszowice</h1>
    <ul>
        <li>NIEPUBLICZNE PRZEDSZKOLE "TĘCZOWA KRAINA"</li>
        <li>PRZEDSZKOLE IM. PRZYJACIÓŁ KUBUSIA PUCHATKA W GASZOWICACH</li>
        <li>SZKOŁA PODSTAWOWA IM. TADEUSZA KOŚCIUSZKI W GASZOWICACH</li>

    </ul>
    <a href="ŚLĄSKIE.html">Back to Cities in ŚLĄSKIE</a>
</body>
</html>
