
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Sączów</title>
</head>
<body>
    <h1>Schools in Sączów</h1>
    <ul>
        <li>PRZEDSZKOLE PUBLICZNE W SĄCZOWIE</li>
        <li>SZKOŁA PODSTAWOWA IM. MARII KONOPNICKIEJ W SĄCZOWIE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY PUBLICZNE PRZEDSZKOLE I SZKOŁA PODSTAWOWA IM. MARII KONOPNICKIEJ W SĄCZOWIE</li>

    </ul>
    <a href="ŚLĄSKIE.html">Back to Cities in ŚLĄSKIE</a>
</body>
</html>
