
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Miasteczko Śląskie</title>
</head>
<body>
    <h1>Schools in Miasteczko Śląskie</h1>
    <ul>
        <li>PRZEDSZKOLE NIEPUBLICZNE IM. BŁ. EDMUNDA BOJANOWSKIEGO W MIASTECZKU ŚLĄSKIM</li>
        <li>PRZEDSZKOLE NR 1 W MIASTECZKU SLASKIM</li>
        <li>PRZEDSZKOLE NR 3 W MIASTECZKU ŚLASKIM</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 2 W MIASTECZKU ŚLĄSKIM</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM.KS.TEODORA CHRISTOPHA W MIASTECZKU ŚLĄSKIM</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. GUSTAWA MORCINKA W MIASTECZKU ŚLĄSKIM</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W MIASTECZKU ŚLĄSKIM</li>

    </ul>
    <a href="ŚLĄSKIE.html">Back to Cities in ŚLĄSKIE</a>
</body>
</html>
