
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Gilowice</title>
</head>
<body>
    <h1>Schools in Gilowice</h1>
    <ul>
        <li>LICEUM OGÓLNOKSZTAŁACĄCE IM. PROF. ZBIGNIEWA RELIGI</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "AKUKU" Z ODDZIAŁAMI INTEGRACYJNYMI W GILOWICACH</li>
        <li>PRZEDSZKOLE W GILOWICACH</li>
        <li>SZKOLNE SCHRONISKO MŁODZIEŻOWE W GILOWICACH</li>
        <li>ZESPÓŁ SZKÓŁ W GILOWICACH</li>
        <li>ZESPÓŁ SZKÓŁ W GILOWICACH - SZKOŁA PODSTAWOWA NR 1 IM. TADEUSZA KOŚCIUSZKI</li>

    </ul>
    <a href="ŚLĄSKIE.html">Back to Cities in ŚLĄSKIE</a>
</body>
</html>
