
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Jaworzno</title>
</head>
<body>
    <h1>Schools in Jaworzno</h1>
    <ul>
        <li>AKADEMIA REALIZACJI DŹWIĘKU W JAWORZNIE SZKOŁA POLICEALNA</li>
        <li>BIURO SPECJALISTYCZNYCH USŁUG INŻYNIERYJNYCH EKOCARBON GRZEGORZ GAJ</li>
        <li>BIURO SPRAW PRACOWNICZYCH "RACHMISTRZ"</li>
        <li>BRANŻOWA SZKOŁA I ST. NR 1 W JAWORZNIE</li>
        <li>BRANŻOWA SZKOŁA I ST. NR 2 W JAWORZNIE</li>
        <li>BRANŻOWA SZKOŁA I ST. NR 4 W JAWORZNIE</li>
        <li>BRANŻOWA SZKOŁA I ST. NR 5 W JAWORZNIE</li>
        <li>BRANŻOWA SZKOŁA I ST. NR 7 W JAWORZNIE</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA NR 1 W JAWORZNIE</li>
        <li>CENTRUM EDUKACJI "PROTEUSS"</li>
        <li>CENTRUM EDUKACJI EUROPEJSKIEJ - OŚRODEK SZKOLENIA "EUROPARTNER"</li>
        <li>CENTRUM EDUKACYJNE PROGRESS W JAWORZNIE</li>
        <li>CENTRUM KSZTAŁCENIA I PROMOCJI KADR LIDER</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO W JAWORZNIE</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO W JAWORZNIE</li>
        <li>CENTRUM SZKOLENIOWE C.M.T. SP. Z O.O.</li>
        <li>FABRYKA TALENTÓW</li>
        <li>GRUPA CARGO SPÓŁKA Z OGRANICZONĄ ODPOWIEDZIALNOŚCIĄ</li>
        <li>GRUPA CARGO SPÓŁKA Z OGRANICZONĄ ODPOWIEDZIALNOŚCIĄ SPÓŁKA KOMANDYTOWA</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W JAWORZNIE</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE IM. TADEUSZA KOŚCIUSZKI W JAWORZNIE</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE IM. CZESŁAWA MIŁOSZA W JAWORZNIE</li>
        <li>II NIEPUBLICZNE PRZEDSZKOLE MŁODYCH TALENTÓW 100 BAJEK</li>
        <li>III LICEUM OGÓLNOKSZTAŁCĄCE IM. ORŁA BIAŁEGO W JAWORZNIE</li>
        <li>IV LICEUM OGÓLNOKSZTAŁCĄCE W JAWORZNIE</li>
        <li>KATOLICKA SZKOŁA PODSTAWOWA</li>
        <li>KATOLICKIE PRZEDSZKOLE - AKADEMIA MAŁEGO SKAUTA</li>
        <li>ŁĘTOWSKI CONSULTING SZKOLENIA,DORADZTWO,ROZWÓJ MATEUSZ ŁETOWSKI</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH "ŻAK" W JAWORZNIE</li>
        <li>MŁODZIEŻOWY DOM KULTURY IM. JAWORZNIAKÓW W JAWORZNIE</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO KREATOR ROZWIĄZAŃ</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA CENTRUM TERAPII MIOFUNCJONALNEJ KLINIKA JĘZYKA</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA "SZKOŁA DOMOWA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "ALLADYN" W JAWORZNIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "GENESIS"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "MALI ARTYSCI"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "MALUTKIE MISIE" W JAWORZNIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "POD ARKADAMI" W JAWORZNIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "RÓŻOWE OKULARY"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "WESOŁE PRZEDSZKOLAKI" Z ODDZIAŁAMI SPECJALNYMI</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "ZACZAROWANY DOMEK"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE WIELOSPECJALISTYCZNE "MALI ZDOBYWCY"</li>
        <li>NIEPUBLICZNY INSTYTUT KSZTAŁCENIA ACADIA</li>
        <li>OŚRODEK EDUKACJI KADR PRO-KADR</li>
        <li>OŚRODEK REWALIDACYJNO-WYCHOWAWCZY DLA DZIECI I MŁODZIEŻY NIEPEŁNOSPRAWNEJ</li>
        <li>OŚRODEK SZKOLENIA "AUDYTORIUM"</li>
        <li>OŚRODEK SZKOLENIA I DOSKONALENIA KADR</li>
        <li>OŚRODEK SZKOLENIOWY CENTRUM NAUKI I BIZNESU "ŻAK" W JAWORZNIE</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I ST. IM. GRAŻYNY BACEWICZ W JAWORZNIE</li>
        <li>PEDAGOGICZNA BIBLIOTEKA WOJEWÓDZKA IM. J. LOMPY W KATOWICACH FILIA W JAWORZNIE</li>
        <li>PLACÓWKA KSZTAŁCENIA USTAWICZNEGO "AN-MAR-NO-POŻ" S.C.</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W JAWORZNIE</li>
        <li>PROTEUSS COMPANY SP. Z O.O.</li>
        <li>PRZEDSIEBIORSTWO HANDLOWO USŁUGOWO SZKOLENIOWE "ATUT"</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 1 W JAWORZNIE</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 10 W JAWORZNIE</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 12 INTEGRACYJNE W JAWORZNIE</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 14 Z ODDZIAŁAMI INTEGRACYJNYMI W JAWORZNIE</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 15 W JAWORZNIE</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 17 W JAWORZNIE</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 18 W JAWORZNIE</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 19 W JAWORZNIE</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 2 W JAWORZNIE</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 22 W JAWORZNIE</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 24 Z ODDZIAŁAMI INTEGRACYJNYMI I SPECJALNYMI W JAWORZNIE</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 25 W JAWORZNIE</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 26 W JAWORZNIE</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 27 IM.MAJKI JEŻOWSKIEJ W JAWORZNIE</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 3 W JAWORZNIE</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 4 W JAWORZNIE</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 5 W JAWORZNIE</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 6 W JAWORZNIE</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 7 W JAWORZNIE</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 9 W JAWORZNIE</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY IM.JANA PAWŁA II W JAWORZNIE</li>
        <li>SPÓŁKA USŁUG GÓRNICZYCH SP. Z O.O. OŚRODEK SZKOLENIOWY</li>
        <li>SZKOŁA PODSTAWOWA DLA DOROSŁYCH W JAWORZNIE</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. TADEUSZA KOŚCIUSZKI W JAWORZNIE</li>
        <li>SZKOŁA PODSTAWOWA NR 10 IM. WOJSKA POLSKIEGO W JAWORZNIE</li>
        <li>SZKOŁA PODSTAWOWA NR 11 W JAWORZNIE</li>
        <li>SZKOŁA PODSTAWOWA NR 12 W JAWORZNIE</li>
        <li>SZKOŁA PODSTAWOWA NR 13 W JAWORZNIE</li>
        <li>SZKOŁA PODSTAWOWA NR 14 IM. MAJORA HENRYKA SUCHARSKIEGO W JAWORZNIE</li>
        <li>SZKOŁA PODSTAWOWA NR 15 IM. JANA BRZECHWY W JAWORZNIE</li>
        <li>SZKOŁA PODSTAWOWA NR 16 IM. KONSTYTUCJI 3 MAJA W JAWORZNIE</li>
        <li>SZKOŁA PODSTAWOWA NR 17 IM. POLSKICH NOBLISTÓW W JAWORZNIE</li>
        <li>SZKOŁA PODSTAWOWA NR 18 IM. TADEUSZA KOŚCIUSZKI W JAWORZNIE</li>
        <li>SZKOŁA PODSTAWOWA NR 19 IM. MIKOŁAJA KOPERNIKA W JAWORZNIE</li>
        <li>SZKOŁA PODSTAWOWA NR 2 Z ODDZIAŁAMI INTEGRACYJNYMI I ODDZIAŁAMI DWUJĘZYCZNYMI IM. ORŁA BIAŁEGO W JAWORZNIE</li>
        <li>SZKOŁA PODSTAWOWA NR 20 W JAWORZNIE</li>
        <li>SZKOŁA PODSTAWOWA NR 21 IM. KAZIMIERZA WIELKIEGO W JAWORZNIE</li>
        <li>SZKOŁA PODSTAWOWA NR 22 IM. GENERAŁA JÓZEFA BEMA W JAWORZNIE</li>
        <li>SZKOŁA PODSTAWOWA NR 23 W JAWORZNIE</li>
        <li>SZKOŁA PODSTAWOWA NR 3 Z ODDZIAŁAMI INTEGRACYJNYMI IM. JANA KOCHANOWSKIEGO W JAWORZNIE</li>
        <li>SZKOŁA PODSTAWOWA NR 4 IM. ADAMA MICKIEWICZA W JAWORZNIE</li>
        <li>SZKOŁA PODSTAWOWA NR 5 IM. KOMISJI EDUKACJI NARODOWEJ W JAWORZNIE</li>
        <li>SZKOŁA PODSTAWOWA NR 6 IM. STEFANA ŻEROMSKIEGO W JAWORZNIE</li>
        <li>SZKOŁA PODSTAWOWA NR 7 Z ODDZIAŁAMI INTEGRACYJNYMI IM. MARII SKŁODOWSKIEJ-CURIE W JAWORZNIE</li>
        <li>SZKOŁA PODSTAWOWA NR 8 IM. JANUSZA KORCZAKA W JAWORZNIE</li>
        <li>SZKOŁA PODSTAWOWA NR 9 IM.HENRYKA SIENKIEWICZA W JAWORZNIE</li>
        <li>SZKOŁA POLICEALNA CENTRUM NAUKI I BIZNESU "ŻAK" W JAWORZNIE</li>
        <li>SZKOŁA POLICEALNA MEDYCZNA</li>
        <li>SZKOŁA POLICEALNA MEDYCZNA "ŻAK" W JAWORZNIE</li>
        <li>SZKOŁA POLICEALNA NR 1 W JAWORZNIE</li>
        <li>SZKOŁA POLICEALNA NR 2 W JAWORZNIE</li>
        <li>SZKOŁA POLICEALNA OPIEKI MEDYCZNEJ "ŻAK" W JAWORZNIE</li>
        <li>SZKOŁA PRZYSPOSABIAJĄCA DO PRACY W JAWORZNIE</li>
        <li>TECHNIKUM ENERGETYCZNE</li>
        <li>TECHNIKUM NR 1 W JAWORZNIE</li>
        <li>TECHNIKUM NR 2 W JAWORZNIE</li>
        <li>TECHNIKUM NR 4 W JAWORZNIE</li>
        <li>TECHNIKUM NR 5 W JAWORZNIE</li>
        <li>TECHNIKUM NR 6 IM. KRÓLA JANA III SOBIESKIEGO W JAWORZNIE</li>
        <li>UNIWERSYTECKA KATOLICKA SZKOŁA PODSTAWOWA</li>
        <li>UNIWERSYTECKIE KATOLICKIE LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>X-MEN CENTRUM EDUKACJI ZAWODOWEJ SP. Z O.O.</li>
        <li>ZESPÓŁ NIEPUBLICZNYCH SZKÓŁ DLA DOROSŁYCH</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH W JAWORZNIE</li>
        <li>ZESPÓŁ SZKÓŁ PONADPODSTAWOWYCH NR 2 W JAWORZNIE</li>
        <li>ZESPÓŁ SZKÓŁ PONADPODSTAWOWYCH NR 3 IM. JANA PAWŁA II W JAWORZNIE</li>
        <li>ZESPÓŁ SZKÓŁ PONADPODSTAWOWYCH NR 4 IM. KRÓLOWEJ JADWIGI W JAWORZNIE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 1 W JAWORZNIE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 2 W JAWORZNIE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 3 W JAWORZNIE</li>

    </ul>
    <a href="ŚLĄSKIE.html">Back to Cities in ŚLĄSKIE</a>
</body>
</html>
