
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Przyszowice</title>
</head>
<body>
    <h1>Schools in Przyszowice</h1>
    <ul>
        <li>CENTRUM EDUKACJI I WARUNKÓW ROZWOJU W PRZYSZOWICACH</li>
        <li>GMINNE PRZEDSZKOLE W PRZYSZOWICACH</li>
        <li>SZKOŁA PODSTAWOWA IM KAROLA MIARKI W PRZYSZOWICACH</li>
        <li>ZESPÓŁ SZKOLNO PRZEDSZKOLNY W PRZYSZOWICACH</li>

    </ul>
    <a href="ŚLĄSKIE.html">Back to Cities in ŚLĄSKIE</a>
</body>
</html>
