
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Marklowice</title>
</head>
<body>
    <h1>Schools in Marklowice</h1>
    <ul>
        <li>PRZEDSZKOLE AKADEMIA WYOBRAŹNI W MARKLOWICACH</li>
        <li>SZKOŁA PODSTAWOWA NR 1 Z ODDZIAŁAMI DWUJĘZYCZNYMI I INTEGRACYJNYMI IM. ADAMA MICKIEWICZA</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. KORNELA MAKUSZYŃSKIEGO</li>

    </ul>
    <a href="ŚLĄSKIE.html">Back to Cities in ŚLĄSKIE</a>
</body>
</html>
