
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Poraj</title>
</head>
<body>
    <h1>Schools in Poraj</h1>
    <ul>
        <li>SAMORZĄDOWE PUBLICZNE PRZEDSZKOLE W PORAJU LEŚNE SKRZATY 42-360 PORAJ UL.JASNA 14</li>
        <li>SZKOŁA PODSTAWOWA IM.KPT.LEONIDA TELIGI W PORAJU 42-360 PORAJU UL.GÓRNICZA 18</li>

    </ul>
    <a href="ŚLĄSKIE.html">Back to Cities in ŚLĄSKIE</a>
</body>
</html>
