
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Wierzchowisko</title>
</head>
<body>
    <h1>Schools in Wierzchowisko</h1>
    <ul>
        <li>NIEPUBLICZNE ARTYSTYCZNE PRZEDSZKOLE OLKA KLEPACZA ,,KLEPACZÓWKA"</li>
        <li>PRZEDSZKOLE W WIERZCHOWISKU</li>
        <li>SZKOŁA PODSTAWOWA IM.TADEUSZA KOŚCIUSZKI W WIERZCHOWISKU</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W WIERZCHOWISKU</li>

    </ul>
    <a href="ŚLĄSKIE.html">Back to Cities in ŚLĄSKIE</a>
</body>
</html>
