
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Koniecpol</title>
</head>
<body>
    <h1>Schools in Koniecpol</h1>
    <ul>
        <li>PRZEDSZKOLE NIEPUBLICZNE " JAŚ I MAŁGOSIA "</li>
        <li>PRZEDSZKOLE NR 1</li>
        <li>PRZEDSZKOLE NR 2</li>
        <li>PUBLICZNA PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA W KONIECPOLU</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. HETMANA STANISŁAWA KONIECPOLSKIEGO W KONIECPOLU</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. JÓZEFA PIŁSUDSKIEGOW KONIECPOLU</li>
        <li>ZESPÓŁ SZKÓŁ W KONIECPOLU</li>
        <li>ZESPÓŁ SZKÓŁ W KONIECPOLU BRANŻOWA SZKOŁA I STOPNIA W KONIECPOLU</li>
        <li>ZESPÓŁ SZKÓŁ W KONIECPOLU BRANŻOWA SZKOŁA II STOPNIA W KONIECPOLU</li>
        <li>ZESPÓŁ SZKÓŁ W KONIECPOLU LICEUM OGÓLNOKSZTAŁCĄCE W KONIECPOLU</li>
        <li>ZESPÓŁ SZKÓŁ W KONIECPOLU SZKOŁA POLICEALNA W KONIECPOLU</li>
        <li>ZESPÓŁ SZKÓŁ W KONIECPOLU TECHNIKUM W KONIECPOLU</li>

    </ul>
    <a href="ŚLĄSKIE.html">Back to Cities in ŚLĄSKIE</a>
</body>
</html>
