
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Jastrząb</title>
</head>
<body>
    <h1>Schools in Jastrząb</h1>
    <ul>
        <li>NIEPUBLICZNA BURSA MŁODZIEŻOWA RKS RAKÓW</li>
        <li>PUBLICZNA BURSA MŁODZIEŻOWA RKS RAKÓW Z SIEDZIBĄ "LEŚNA RADOŚĆ",UL.WOJSKA POLSKIEGO 79,42-360 JASTRZĄB KOŁO PORAJA</li>
        <li>SZKOŁA PODSTAWOWA IM.KAZIMIERZA WIELKIEGO W JASTRZĘBIU UL.MICKIEWICZA 1, 42-360 PORAJ</li>

    </ul>
    <a href="ŚLĄSKIE.html">Back to Cities in ŚLĄSKIE</a>
</body>
</html>
