
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Zebrzydowice</title>
</head>
<body>
    <h1>Schools in Zebrzydowice</h1>
    <ul>
        <li>GMINNE PRZEDSZKOLE PUBLICZNE W ZEBRZYDOWICACH</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE TWÓRCZE "TOTU'' Z ODDZIAŁAMI INTEGRACYJNYMI W ZEBRZYDOWICACH</li>
        <li>OŚRODEK SZKOLENIOWY "BHP SERWIS"</li>
        <li>SZKOŁA PODSTAWOWA IM. K.K.BACZYŃSKIEGO W ZEBRZYDOWICACH</li>

    </ul>
    <a href="ŚLĄSKIE.html">Back to Cities in ŚLĄSKIE</a>
</body>
</html>
