
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Czechowice-Dziedzice</title>
</head>
<body>
    <h1>Schools in Czechowice-Dziedzice</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 1</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA SPECJALNA NR 2</li>
        <li>CENTRUM TERAPEUTYCZNE "BOSKO" NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA</li>
        <li>KATOLICKA SZKOŁA PODSTAWOWA IM. ŚW.BRATA ALBERTA W CZECHOWICACH-DZIEDZICACH</li>
        <li>KATOLICKIE PRZEDSZKOLE W CZECHOWICACH-DZIEDZICACH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. MARII SKŁODOWSKIEJ-CURIE</li>
        <li>MIEJSKI OŚRODEK GIMNASTYKI KOREKCYJNEJ W CZECHOWICACH-DZIEDZICACH</li>
        <li>NIEPUBLICZNA PLACÓWKA DOSKONALENIA NAUCZYCIELI OŚRODEK KSZTAŁCENIA TALMED</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "DZIECIĘCE WARSZTATY"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE JONATAN</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE SZKARBEK</li>
        <li>POWIATOWA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W CZECHOWICACH-DZIEDZICACH</li>
        <li>POWIATOWE OGNISKO PRACY POZASZKOLNEJ "ART."</li>
        <li>PRYWATNE PRZEDSZKOLE II DOMEK</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 1 W CZECHOWICACH-DZIEDZICACH</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 10 W CZECHOWICACH-DZIEDZICACH</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 11 W CZECHOWICACH-DZIEDZICACH</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 2 W CZECHOWICACH-DZIEDZICACH</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 3 W CZECHOWICACH-DZIEDZICACH</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 4A W CZECHOWICACH-DZIEDZICACH</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 5 W CZECHOWICACH-DZIEDZICACH</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 6 W CZECHOWICACH-DZIEDZICACH</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 8 W CZECHOWICACH-DZIEDZICACH</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 9 W CZECHOWICACH-DZIEDZICACH</li>
        <li>PRZEDSZKOLE TERAPEUTYCZNE "SŁONECZNA KRAINA"</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. J.BRZECHWY W CZECHOWICACH-DZIEDZICACH</li>
        <li>SZKOŁA PODSTAWOWA NR 10 IM. KS. J.TWARDOWSKIEGO W CZECHOWICACH-DZIEDZICACH</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. KRÓLOWEJ JADWIGI W CZECHOWICACH-DZIEDZICACH</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM J.SŁOWACKIEGO W CZECHOWICACH-DZIEDZICACH</li>
        <li>SZKOŁA PODSTAWOWA NR 4 IM. ORŁA BIAŁEGO W CZECHOWICACH-DZIEDZICACH</li>
        <li>SZKOŁA PODSTAWOWA NR 5 IM. M.KOPERNIKA W CZECHOWICACH-DZIEDZICACH</li>
        <li>SZKOŁA PODSTAWOWA NR 6 IM. IGNACEGO ŁUKASIEWICZA</li>
        <li>SZKOŁA PODSTAWOWA NR 7 IM. K.WIELKIEGO W CZECHOWICACH-DZIEDZICACH</li>
        <li>SZKOŁA PODSTAWOWA NR 8 IM. JANUSZA KUSOCIŃSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 9</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY</li>
        <li>TECHNIKUM NR 1</li>
        <li>ZESPÓŁ SZKÓŁ SPECJALNYCH NR 4</li>
        <li>ZESPÓŁ SZKÓŁ TECHNICZNYCH I LICEALNYCH IM. STANISŁAWA STASZICA</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 1 IM. JANA BRZECHWY W CZECHOWICACH-DZIEDZICACH</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 2 W CZECHOWICACH-DZIEDZICACH</li>

    </ul>
    <a href="ŚLĄSKIE.html">Back to Cities in ŚLĄSKIE</a>
</body>
</html>
