
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Żarki-Letnisko</title>
</head>
<body>
    <h1>Schools in Żarki-Letnisko</h1>
    <ul>
        <li>SAMORZĄDOWE PRZEDSZKOLE PUBLICZNE UL.CICHA 12 B 42-311 ŻARKI LETNISKO</li>
        <li>SZKOŁA PODSTAWOWA IM.POKOJU 42-311 ŻARKI LETNISKO UL.SZKOLNA 20</li>

    </ul>
    <a href="ŚLĄSKIE.html">Back to Cities in ŚLĄSKIE</a>
</body>
</html>
