
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Wojkowice Kościelne</title>
</head>
<body>
    <h1>Schools in Wojkowice Kościelne</h1>
    <ul>
        <li>ZESPÓŁ SZKOLNO PRZEDSZKOLNY W WOJKOWICACH KOŚCIELNYCH</li>
        <li>ZESPÓŁ SZKOLNO PRZEDSZKOLNY W WOJKOWICACH KOŚCIELNYCH - PRZEDSZKOLE</li>
        <li>ZESPÓŁ SZKOLNO PRZEDSZKOLNY W WOJKOWICACH KOŚCIELNYCH - SZKOŁA PODSTAWAWA IM. MARII SKŁODOWSKIEJ-CURIE</li>

    </ul>
    <a href="ŚLĄSKIE.html">Back to Cities in ŚLĄSKIE</a>
</body>
</html>
