
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Stanica</title>
</head>
<body>
    <h1>Schools in Stanica</h1>
    <ul>
        <li>PUBLICZNE PRZEDSZKOLE W STANICY</li>
        <li>SZKOŁA PODSTAWOWA IM. POWSTAŃCÓW ŚLĄSKICH W STANICY</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W STANICY IM. POWSTAŃCÓW ŚLĄSKICH</li>

    </ul>
    <a href="ŚLĄSKIE.html">Back to Cities in ŚLĄSKIE</a>
</body>
</html>
