
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Rębielice Królewskie</title>
</head>
<body>
    <h1>Schools in Rębielice Królewskie</h1>
    <ul>
        <li>GMINNY ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 3 W RĘBIELICACH KRÓLEWSKICH</li>
        <li>PRZEDSZKOLE W RĘBIELICACH KRÓLEWSKICH</li>
        <li>SZKOŁA PODSTAWOWA IM. WŁ.ST. REYMONTA</li>

    </ul>
    <a href="ŚLĄSKIE.html">Back to Cities in ŚLĄSKIE</a>
</body>
</html>
