
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Czerwionka-Leszczyny</title>
</head>
<body>
    <h1>Schools in Czerwionka-Leszczyny</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA</li>
        <li>CHRZEŚCIJAŃSKIE PRZEDSZKOLE "GENESIS"</li>
        <li>PRYWATNE NIEPUBLICZNE PRZEDSZKOLE "KAROLINKA"</li>
        <li>PRZEDSZKOLE NR 1 Z ODDZIAŁEM INTEGRACYJNYM "PROMYCZEK" W CZERWIONCE-LESZCZYNACH</li>
        <li>PRZEDSZKOLE NR 10 IM. JULIANA TUWIMA W CZERWIONCE-LESZCZYNACH</li>
        <li>PRZEDSZKOLE NR 11 IM. JANA BRZECHWY</li>
        <li>PRZEDSZKOLE NR 3 IM. JANUSZA KORCZAKA W CZERWIONCE-LESZCZYNACH</li>
        <li>PRZEDSZKOLE NR 6 "POD JARZĘBINĄ"</li>
        <li>PRZEDSZKOLE NR 7 IM. SKARBNIKOWA WILLA</li>
        <li>PRZEDSZKOLE NR 8 "KRASNALA HAŁABAŁY"</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. JANA PAWŁA II W CZERWIONCE-LESZCZYNACH</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. WŁ.BRONIEWSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 4 W CZERWIONCE-LESZCZYNACH</li>
        <li>SZKOŁA PODSTAWOWA NR 5 IM. HENRYKA SIENKIEWICZA</li>
        <li>SZKOŁA PODSTAWOWA NR 6 IM. STANISŁAWA MONIUSZKI</li>
        <li>SZKOŁA PODSTAWOWA NR 7 W CZERWIONCE-LESZCZYNACH</li>
        <li>SZKOŁA PODSTAWOWA NR 8 IM. ROMANA I ZDZISŁAWA PIETRASÓW</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA</li>
        <li>SZKOŁA PRZYSPOSABIAJĄCA DO PRACY</li>
        <li>ZESPÓŁ SZKÓŁ - LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>ZESPÓŁ SZKÓŁ - LICEUM OGÓLNOKSZTAŁCĄCE IM. WILHELMA SZEWCZYKA</li>
        <li>ZESPÓŁ SZKÓŁ - TECHNIKUM</li>
        <li>ZESPÓŁ SZKÓŁ CZERWIONKA-LESZCZYNY</li>
        <li>ZESPÓŁ SZKÓŁ SPECJALNYCH IM. WERONKI SHERBORNE CZERWIONKA-LESZCZYNY</li>

    </ul>
    <a href="ŚLĄSKIE.html">Back to Cities in ŚLĄSKIE</a>
</body>
</html>
