
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Juszczyna</title>
</head>
<body>
    <h1>Schools in Juszczyna</h1>
    <ul>
        <li>PUBLICZNE PRZEDSZKOLE W JUSZCZYNIE</li>
        <li>SZKOŁA PODSTAWOWA IM. FRANCISZKA POLAKA W JUSZCZYNIE</li>
        <li>ZESPÓŁ SZKOLNO - PRZEDSZKOLNY W JUSZCZYNIE</li>

    </ul>
    <a href="ŚLĄSKIE.html">Back to Cities in ŚLĄSKIE</a>
</body>
</html>
