
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Ślemień</title>
</head>
<body>
    <h1>Schools in Ślemień</h1>
    <ul>
        <li>PRZEDSZKOLE PUBLICZNE W ŚLEMIENIU</li>
        <li>SZKOŁA PODSTAWOWA IM. KS. JANA TWARDOWSKIEGO W ŚLEMIENIU</li>
        <li>SZKOLNE SCHRONISKO MŁODZIEŻOWE W ŚLEMIENIU</li>

    </ul>
    <a href="ŚLĄSKIE.html">Back to Cities in ŚLĄSKIE</a>
</body>
</html>
