
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Radziechowy</title>
</head>
<body>
    <h1>Schools in Radziechowy</h1>
    <ul>
        <li>NIEPUBLICZNE PRZEDSZKOLE "MAJA"</li>
        <li>PRZEDSZKOLE IM. WŁADYSŁAWA PIERONKA W RADZIECHOWACH</li>
        <li>SZKOŁA PODSTAWOWA IM. KS. PRAŁ. STANISŁAWA GAWILKA W RADZIECHOWACH</li>

    </ul>
    <a href="ŚLĄSKIE.html">Back to Cities in ŚLĄSKIE</a>
</body>
</html>
