
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Lyski</title>
</head>
<body>
    <h1>Schools in Lyski</h1>
    <ul>
        <li>ZESPÓŁ SZKOLNO -PRZEDSZKOLNY W LYSKACH - SZKOŁA IM. JANA III SOBIESKIEGO W LYSKACH</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W LYSKACH</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W LYSKACH - PRZEDSZKOLE PUBLICZNE W LYSKACH</li>

    </ul>
    <a href="ŚLĄSKIE.html">Back to Cities in ŚLĄSKIE</a>
</body>
</html>
