
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Jasienica</title>
</head>
<body>
    <h1>Schools in Jasienica</h1>
    <ul>
        <li>NIEPUBLICZNE PRZEDSZKOLE BĄCZEK</li>
        <li>OŚRODEK KSZTAŁCENIA KURSOWEGO ANNA STRAUB</li>
        <li>PRZEDSZKOLE PUBLICZNE W JASIENICY</li>
        <li>SZKOŁA PODSTAWOWA IM. TADEUSZA KOŚCIUSZKI W JASIENICY</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY IM.TADEUSZA KOŚCIUSZKI</li>

    </ul>
    <a href="ŚLĄSKIE.html">Back to Cities in ŚLĄSKIE</a>
</body>
</html>
