
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Pyskowice</title>
</head>
<body>
    <h1>Schools in Pyskowice</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA SPECJALNA W PYSKOWICACH W ZESPOLE SZKÓŁ SPECJALNYCH Z SIEDZIBĄ W PYSKOWICACH PRZY UL. PONIATOWSKIEGO 2</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA W PYSKOWICACH W ZESPOLE SZKÓŁ IM. MARII KONOPNICKIEJ W PYSKOWICACH</li>
        <li>DZIERŻNO SP. Z O.O. W PYSKOWICACH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. MARII KONOPNICKIEJ W PYSKOWICACH W ZESPOLE SZKÓŁ IM. MARII KONOPNICKIEJ W PYSKOWICACH, Z SIEDZIBĄ PRZY UL. KARD. ST. WYSZYŃSKIEGO 37, 44-120 PYSKOWICE</li>
        <li>MTL ASCO RAIL CENTRUM EDUKACJI TECHNICZNEJ W PYSKOWICACH</li>
        <li>OGNISKO PRACY POZASZKOLNEJ</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W PYSKOWICACH</li>
        <li>PRZEDSZKOLE NR 1</li>
        <li>PRZEDSZKOLE NR 2</li>
        <li>PRZEDSZKOLE NR 3 Z ODDZIAŁAMI INTEGRACYJNYMI W PYSKOWICACH</li>
        <li>PRZEDSZKOLE NR 4</li>
        <li>PRZEDSZKOLE NR 5</li>
        <li>SZKOŁA JĘZYKÓW OBCYCH "METROPOLIS" W PYSKOWICACH</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. NOBLISTÓW POLSKICH</li>
        <li>SZKOŁA PODSTAWOWA NR 4 IM. JAROSŁAWA DĄBROWSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 5 IM. JANUSZA KORCZAKA</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA W PYSKOWICACH W ZESPOLE SZKÓŁ SPECJALNYCH Z SIEDZIBĄ W PYSKOWICACH PRZY UL. PONIATOWSKIEGO 2</li>
        <li>SZKOŁA PODSTWOWA NR 6 Z ODDZIAŁAMI INTEGRACYJNYMI</li>
        <li>SZKOŁA POLICEALNA W PYSKOWICACH W ZESPOLE SZKÓŁ IM. MARII KONOPNICKIEJ W PYSKOWICACH</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W PYSKOWICACH W ZESPOLE SZKÓŁ SPECJALNYCH Z SIEDZIBĄ W PYSKOWICACH PRZY UL. PONIATOWSKIEGO 2</li>
        <li>TECHNIKUM W PYSKOWICACH W ZESPOLE SZKÓŁ IM. MARII KONOPNICKIEJ W PYSKOWICACH, Z SIEDZIBĄ PRZY UL. KARD. ST. WYSZYŃSKIEGO 37, 44-120 PYSKOWICE</li>
        <li>ZAKŁAD DOSKONALENIA ZAWODOWEGO W KATOWICACH OŚRODEK KSZTAŁCENIA ZAWODOWEGO W PYSKOWICACH</li>
        <li>ZESPÓŁ SZKÓŁ IM.MARII KONOPNICKIEJ W PYSKOWICACH</li>
        <li>ZESPÓŁ SZKÓŁ SPECJALNYCH W PYSKOWICACH</li>

    </ul>
    <a href="ŚLĄSKIE.html">Back to Cities in ŚLĄSKIE</a>
</body>
</html>
