
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Bażanowice</title>
</head>
<body>
    <h1>Schools in Bażanowice</h1>
    <ul>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO W BAŻANOWICACH</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA SPECJALNA W BAŻANOWICACH</li>
        <li>NIEPUBLICZNA SZKOŁA PRZYSPASABIAJĄCA DO PRACY W BAŻANOWICACH</li>
        <li>OŚRODEK REHABILITACYJNO-EDUKACYJNO-WYCHOWAWCZY</li>
        <li>PRO BHP</li>
        <li>SZKOŁA PODSTWAWOWA IM. PAWŁA STALMACHA W BAŻANOWICACH</li>

    </ul>
    <a href="ŚLĄSKIE.html">Back to Cities in ŚLĄSKIE</a>
</body>
</html>
