
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Sopotnia Wielka</title>
</head>
<body>
    <h1>Schools in Sopotnia Wielka</h1>
    <ul>
        <li>ZESPÓŁ SZKÓŁ NR 4 W SOPOTNI WIELKIEJ</li>
        <li>ZESPÓŁ SZKÓŁ NR 4 W SOPOTNI WIELKIEJ-PRZEDSZKOLE W SOPOTNI WIELKIEJ</li>
        <li>ZESPÓŁ SZKÓŁ NR4-SZKOŁA PODSTAWOWA W SOPOTNI WIELKIEJ</li>

    </ul>
    <a href="ŚLĄSKIE.html">Back to Cities in ŚLĄSKIE</a>
</body>
</html>
