
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Kamienica Polska</title>
</head>
<body>
    <h1>Schools in Kamienica Polska</h1>
    <ul>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W KAMIENICY POLSKIEJ</li>
        <li>PRZEDSZKOLE</li>
        <li>SZKOŁA PODSTAWOWA IM.HENRYKA SIENKIEWICZA W KAMIENICY POLSKIEJ</li>

    </ul>
    <a href="ŚLĄSKIE.html">Back to Cities in ŚLĄSKIE</a>
</body>
</html>
