
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Będzin</title>
</head>
<body>
    <h1>Schools in Będzin</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA IM. DANUTY SIEDZIKÓWNY "INKI" W BĘDZINIE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA SPECJALNA</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA W BĘDZINIE</li>
        <li>CENTRALNY OŚRODEK SZKOLEŃ "TROJA" ANETA BIERNAT</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO W BĘDZINIE</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE IM. MIKOŁAJA KOPERNIKA W BĘDZINIE</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE IM. STANISŁAWA WYSPIAŃSKIEGO W BĘDZINIE</li>
        <li>III LICEUM OGÓLNOKSZTAŁCĄCE IM. C.K. NORWIDA</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH "ŻAK" W BĘDZINIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W BĘDZINIE</li>
        <li>MEDYCZNE STUDIUM TERAPII ZAJĘCIOWEJ</li>
        <li>MIĘDZYSZKOLNY OŚRODEK SPORTOWY W BĘDZINIE</li>
        <li>NIEPUBLICZNE MEDYCZNE STUDIUM</li>
        <li>NIEPUBLICZNE PRYWATNE PRZEDSZKOLE "DOBRY START" W BĘDZINIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "AKADEMIA RADOSNEGO MALUCHA" W BĘDZINIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "BOLEK I LOLEK" W BĘDZINIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "DOMOWE PRZEDSZKOLE II" W BĘDZINIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "KOLOROWE KREDKI" W BĘDZINIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "ZAKĄTEK MARZEŃ" W BĘDZINIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE ARTYSTYCZNO-JĘZYKOWE "ZACZAROWANY OŁÓWEK"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE Z ODDZIAŁAMI INTEGRACYJNYMI "MISIOWA DOLINKA" W BĘDZINIE</li>
        <li>OŚRODEK SZKOLENIOWY CENTRUM NAUKI I BIZNESU "ŻAK"</li>
        <li>OŚRODEK SZKOLENIOWY ELMIR</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I ST. IM. FRYDERYKA CHOPINA W BĘDZINIE</li>
        <li>PEDAGOGICZNA BIBLIOTEKA WOJEWÓDZKA IM. J. LOMPY W KATOWICACH FILIA W BĘDZINIE</li>
        <li>POWIATOWA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W BĘDZINIE</li>
        <li>POWIATOWY MŁODZIEŻOWY DOM KULTURY W BĘDZINIE</li>
        <li>PRYWATNE PRZEDSZKOLE "U BUNI" W BĘDZINIE</li>
        <li>PRYWATNE PRZEDSZKOLE "YES - MŁODZI ODKRYWCY" W BĘDZINIE</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 1 W BĘDZINIE</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 10 IM. JANA MARCINA SZANCERA W BĘDZINIE</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 11 W BĘDZINIE</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 12 W BĘDZINIE</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 13 IM. JULIANA TUWIMA W BĘDZINIE</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 14 W BĘDZINIE</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 15 W BĘDZINIE</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 2 IM. KAWALERÓW ORDERU UŚMIECHU W BĘDZINIE</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 4 IM. JANA BRZECHWY W BĘDZINIE</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 5 IM. KRÓLA MACIUSIA PIERWSZEGO W BĘDZINIE</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 6 IM. UNICEF W BĘDZINIE</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 8 W BĘDZINIE</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 9 IM. WANDY CHOTOMSKIEJ W BĘDZINIE</li>
        <li>PRZEDSZKOLE SPECJALNE W BĘDZINIE</li>
        <li>ROZWOJOWO CENTRUM DIAGNOZY I TERAPII DZIECKA</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY W BĘDZINIE</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. ADAMA MICKIEWICZA W BĘDZINIE</li>
        <li>SZKOŁA PODSTAWOWA NR 10 IM. ARMII KRAJOWEJ W BĘDZINIE</li>
        <li>SZKOŁA PODSTAWOWA NR 11 IM. WŁADYSŁAWA BRONIEWSKIEGO W BĘDZINIE</li>
        <li>SZKOŁA PODSTAWOWA NR 13 IM. HUBERTA WAGNERA W BĘDZINIE</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. KRÓLA KAZIMIERZA WIELKIEGO W BĘDZINIE</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. KORNELA MAKUSZYŃSKIEGO W BĘDZINIE</li>
        <li>SZKOŁA PODSTAWOWA NR 4 IM. STANISŁAWA STASZICA W BĘDZINIE</li>
        <li>SZKOŁA PODSTAWOWA NR 6 IM. MARII KONOPNICKIEJ W BĘDZINIE</li>
        <li>SZKOŁA PODSTAWOWA NR 7 SPECJALNA</li>
        <li>SZKOŁA PODSTAWOWA NR 8 IM. JANA PAWŁA II W BĘDZINIE</li>
        <li>SZKOŁA PODSTAWOWA NR 9 IM. NOBLISTÓW POLSKICH W BĘDZINIE</li>
        <li>SZKOŁA POLICEALNA CENTRUM NAUKI I BIZNESU "ŻAK" W BĘDZINIE</li>
        <li>SZKOŁA POLICEALNA OPIEKI MEDYCZNEJ "ŻAK" W BĘDZINIE</li>
        <li>SZKOŁA POLICEALNA W BĘDZINIE</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY</li>
        <li>TECHNIKUM NR 2 IM. DANUTY SIEDZIKÓWNY "INKI" W BĘDZINIE</li>

    </ul>
    <a href="ŚLĄSKIE.html">Back to Cities in ŚLĄSKIE</a>
</body>
</html>
