
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Wola</title>
</head>
<body>
    <h1>Schools in Wola</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W WOLI</li>
        <li>CENTRUM PRZEDSIĘBIORCZOŚCI CP SP. Z O.O. WOLI</li>
        <li>GMINNE PRZEDSZKOLE PUBLICZNE NR 1 Z ODDZIAŁAMI INTEGRACYJNYMI IM.JULIANA TUWIMA W WOLI</li>
        <li>GMINNE PRZEDSZKOLE PUBLICZNE NR 3 IM. KUBUSIA PUCHATKA W WOLI</li>
        <li>GMINNE PRZEDSZKOLE PUBLICZNENR 2 IM. WANDY CHOTOMSKIEJ W WOLI</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. BRONISŁAWA MALINOWSKIEGO W WOLI</li>
        <li>SZKOŁA PODSTAWOWA NR 2 Z ODDZIALAMI INTEGRACYJNYMI IM. JANA PAWŁA W WOLI</li>
        <li>TECHNIKUM NR 2 W WOLI</li>
        <li>ZESPÓŁ SZKÓŁ ZAWODOWYCH I OGÓLNOKSZTAŁCĄCYCH W WOLI</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W WOLI</li>

    </ul>
    <a href="ŚLĄSKIE.html">Back to Cities in ŚLĄSKIE</a>
</body>
</html>
