
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Dąbrowa Górnicza</title>
</head>
<body>
    <h1>Schools in Dąbrowa Górnicza</h1>
    <ul>
        <li>AKADEMICKIE LICEUM OGÓLNOKSZTAŁCĄCE W DĄBROWIE GÓRNICZEJ</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 3 W DĄBROWIE GÓRNICZEJ</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 4 W DĄBROWIE GÓRNICZEJ</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 5 W DĄBROWIE GÓRNICZEJ</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA SPECJALNA NR 1 IM. ZOFII KSIĄŻEK-BREGUŁOWEJ W SPECJALNYM OŚRODKU SZKOLNO-WYCHOWAWCZYM DLA DZIECI I MŁODZIEŻY NIEPEŁNOSPRAWNEJ W DĄBROWIE GÓRNICZEJ, UL. SWOBODNA 59</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA W DĄBROWIE GÓRNICZEJ ZAKŁADU DOSKONALENIA ZAWODOWEGO W KATOWICACH</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA PRYMUS</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO</li>
        <li>CENTRUM SZKOLENIOWE BODY ACADEMY</li>
        <li>DWUJĘZYCZNE PRZEDSZKOLE STREFA MALUCHA</li>
        <li>EUROPEJSKI INSTYTUT SZKOLENIOWY J.D. KANTYKA SPÓŁKA JAWNA W DĄBROWIE GÓRNICZEJ</li>
        <li>EUROPEJSKIE CENTRUM EDUKACJI PRZEDSIĘBIORSTWO PRODUKCYJNO-USŁUGOWE VITON SP. Z O.O.</li>
        <li>FIRMA"OMEGA-2" W DĄBROWIE GÓRNICZEJ</li>
        <li>GB CONSULTING</li>
        <li>GRUPA EDUKACYJNA PRZESZKOLIMY.PL JOANNA KACZOR</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE IM. WALERIANA ŁUKASIŃSKIEGO W DĄBROWIE GÓRNICZEJ</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE IM. STEFANA ŻEROMSKIEGO W DĄBROWIE GÓRNICZEJ</li>
        <li>III LICEUM OGÓLNOKSZTAŁCĄCE IM. GENERAŁA WŁADYSŁAWA ANDERSA W DĄBROWIE GÓRNICZEJ</li>
        <li>IV LO SPECJALNE DLA UCZNIÓW SŁABOWIDZĄCYCH I NIEWIDOMYCH, SŁABOSŁYSZĄCYCH I NIESŁYSZĄCYCH, Z AUTYZMEM, W TYM Z ZESPOŁEM ASPERGERA, Z NIEPEŁ. RUCHOWĄ, W TYM Z AFAZJĄ ORAZ Z NIEPEŁ. SPRZĘŻONYMI IM.Z. KSIĄŻEK-BREGUŁOWEJ</li>
        <li>KATOLICKA SZKOŁA PODSTAWOWA Z ODDZIAŁEM PRZEDSZKOLNYM STOWARZYSZENIA PRZYJACIÓŁ SZKÓŁ KATOLICKICH</li>
        <li>KATOLICKIE LICEUM OGÓLNOKSZTAŁCĄCE STOWARZYSZENIA PRZYJACIÓŁ SZKÓŁ KATOLICKICH IM. ŚW. BRATA ALBERTA</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH "ŻAK" W DĄBROWIE GÓRNICZEJ</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH EDUKACJA W DĄBROWIE GÓRNICZEJ</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE SPORTOWE W DĄBROWIE GÓRNICZEJ</li>
        <li>LICEUM SZTUK PLASTYCZNYCH IM. TADEUSZA KANTORA</li>
        <li>MIĘDZYNARODOWA AKADEMIA MEDYCYNY KOMPLEMENTARNEJ</li>
        <li>MŁODZIEŻOWY OŚRODEK PRACY TWÓRCZEJ W DĄBROWIE GÓRNICZEJ</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "CENTRUM WCZEŚNIAKA I MAŁEGO DZIECKA"</li>
        <li>NIEPUBLICZNA SPECJALISTYCZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA CENTRUM DIAGNOSTYKI I TERAPII IN CORPORE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "BOLEK I LOLEK"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "DĄBROWSKIE DZIECIAKI"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "FILIP I MAJA" W DĄBROWIE GÓRNICZEJ</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "INNA BAJKA" W DĄBROWIE GÓRNICZEJ</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "NAD JEZIOREM"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE ARCELORMITTAL POLAND "RÓWNE PRZEDSZKOLAKI" W DĄBROWIE GÓRNICZEJ</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE STONOGA W DĄBROWIE GÓRNICZEJ</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE TĘCZOWA KRAINA W DĄBROWIE GÓRNICZEJ</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE ZAJĄC POZIOMKA W DĄBROWIE GÓRNICZEJ</li>
        <li>NIEPUBLICZNE SPORTOWE PRZEDSZKOLE MALI BOHATEROWIE</li>
        <li>OGÓLNOKSZTAŁCĄCA SZKOŁA MUZYCZNA I STOPNIA</li>
        <li>OŚRODEK DOKSZTAŁCANIA I DOSKONALENIA ZAWODOWEGO BHP SERWIS</li>
        <li>OŚRODEK DOSKONALENIA ZAWODOWEGO AB..Z. CENTRUM</li>
        <li>OŚRODEK SZKOLENIA LIGI OBRONY KRAJU W DĄBROWIE GÓRNICZEJ</li>
        <li>OŚRODEK SZKOLENIOWY CENTRUM NAUKI I BIZNESU "ŻAK" W DĄBROWIE GÓRNICZEJ</li>
        <li>OŚRODEK USŁUG SZKOLENIOWYCH RAPZ SP. Z O.O. W DĄBROWIE GÓRNICZEJ</li>
        <li>PERFEKT-DORADZTWO-SZKOLENIA-EDUKACJA WALDEMAR WALKIEWICZ</li>
        <li>PIERWSZE PRYWATNE PRZYJAZNE PRZEDSZKOLE "PPPP" W DĄBROWIE GÓRNICZEJ</li>
        <li>POLICEALNA SZKOŁA OPUS</li>
        <li>PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA W DĄBROWIE GÓRNICZEJ</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "CARPE DIEM</li>
        <li>PRYWATNA SZKOŁA PODSTAWOWA IM. M.SKŁODOWSKIEJ-CURIE FUNDACJI "SERCE SZKOLE"</li>
        <li>PRYWATNE LICEUM OGÓLNOKSZTAŁCACE IM. M. SKŁODOWSKIEJ -CURIE FUNDACJI "SERCE SZKOLE"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "BAJKOWE WZGÓRZE"</li>
        <li>PRZEDSZKOLE NR 1 W DĄBROWIE GÓRNICZEJ</li>
        <li>PRZEDSZKOLE NR 10 W DĄBROWIE GÓRNICZEJ</li>
        <li>PRZEDSZKOLE NR 11 W DĄBROWIE GÓRNICZEJ</li>
        <li>PRZEDSZKOLE NR 12 W DĄBROWIE GÓRNICZEJ</li>
        <li>PRZEDSZKOLE NR 13 W DĄBROWIE GÓRNICZEJ</li>
        <li>PRZEDSZKOLE NR 14 W DĄBROWIE GÓRNICZEJ</li>
        <li>PRZEDSZKOLE NR 15 W ZESPOLE SZKOLNO-PRZEDSZKOLNYM NR 4 W DĄBROWIE GÓRNICZEJ</li>
        <li>PRZEDSZKOLE NR 16 W ZESPOLE SZKOLNO-PRZEDSZKOLNYM NR 3 W DĄBROWIE GÓRNICZEJ, UL. SPORTOWA 16</li>
        <li>PRZEDSZKOLE NR 17 W DĄBROWIE GÓRNICZEJ</li>
        <li>PRZEDSZKOLE NR 18 W ZESPOLE SZKOLNO-PRZEDSZKOLNYM NR 5 W DĄBROWIE GÓRNICZEJ, UL. STRZEMIESZYCKA 390</li>
        <li>PRZEDSZKOLE NR 19 W ZESPOLE SZKOLNO-PRZEDSZKOLNYM NR 6 W DĄBROWIE GÓRNICZEJ, UL. IDZIKOWSKIEGO 139</li>
        <li>PRZEDSZKOLE NR 20 Z ODDZIAŁAMI INTEGRACYJNYMI W DĄBROWIE GÓRNICZEJ</li>
        <li>PRZEDSZKOLE NR 28 W ZESPOLE SZKOLNO-PRZEDSZKOLNYM NR 7 W DĄBROWIE GÓRNICZEJ</li>
        <li>PRZEDSZKOLE NR 29 Z ODDZIAŁAMI INTEGRACYJNYMI W DĄBROWIE GÓRNICZEJ</li>
        <li>PRZEDSZKOLE NR 3 ZESPOLE SZKÓŁ NR 4 W DĄBROWIE GÓRNICZEJ</li>
        <li>PRZEDSZKOLE NR 32 W DĄBROWIE GÓRNICZEJ</li>
        <li>PRZEDSZKOLE NR 33 W DĄBROWIE GÓRNICZEJ</li>
        <li>PRZEDSZKOLE NR 34 W DĄBROWIE GÓRNICZEJ</li>
        <li>PRZEDSZKOLE NR 36 W DĄBROWIE GÓRNICZEJ</li>
        <li>PRZEDSZKOLE NR 39 W DĄBROWIE GÓRNICZEJ</li>
        <li>PRZEDSZKOLE NR 4 W DĄBROWIE GÓRNICZEJ</li>
        <li>PRZEDSZKOLE NR 5 W ZESPOLE SZKOLNO-PRZEDSZKOLNYM NR 1 W DĄBROWIE GÓRNICZEJ, UL. ŻOŁNIERSKA 188</li>
        <li>PRZEDSZKOLE NR 6 W DĄBROWIE GÓRNICZEJ</li>
        <li>PRZEDSZKOLE NR 7 W ZESPOLE SZKOLNO-PRZEDSZKOLNYM NR 2 W DĄBROWIE GÓRNICZEJ, UL. MIESZKA I 20</li>
        <li>PRZEDSZKOLE NR 8 W DĄBROWIE GÓRNICZEJ</li>
        <li>PRZEDSZKOLE NR 9 W DĄBROWIE GÓRNICZEJ</li>
        <li>PRZEDSZKOLE SPECJALNE NR 2 W SPECJALNYM OŚRODKU SZKOLNO-WYCHOWAWCZYM DLA DZIECI I MŁODZIEŻY NIEPEŁNOSPRAWNEJ W DĄBROWIE GÓRNICZEJ, UL. SWOBODNA 59</li>
        <li>PUBLICZNA SPECJALISTYCZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA FUNDACJI "IN CORPORE" W DĄBROWIE GÓRNICZEJ</li>
        <li>PUBLICZNA SZKOŁA POLICEALNA ADMINISTRACJI CNIB "ŻAK" W DĄBROWIE GÓRNICZEJ</li>
        <li>PUBLICZNA SZKOŁA POLICEALNA OPIEKI MEDYCZNEJ "ŻAK" W DĄBROWIE GÓRNICZEJ</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY DLA DZIECI I MŁODZIEŻY NIEPEŁNOSPRAWNEJ W DĄBROWIE GÓRNICZEJ, UL. SWOBODNA 59</li>
        <li>SPOŁECZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W DĄBROWIE GÓRNICZEJ</li>
        <li>SPOŁECZNA SZKOŁA PODSTAWOWA SPOŁECZNEGO TOWARZYSTWA SZKOLNEGO W DĄBROWIE GÓRNICZEJ</li>
        <li>SPOŁECZNE PRZEDSZKOLE W DĄBROWIE GÓRNICZEJ</li>
        <li>SZKOŁA JĘZYKÓW OBCYCH FAST PROGRESS W DĄBROWIE GÓRNICZEJ</li>
        <li>SZKOŁA MUZYCZNA I STOPNIA IM. MICHAŁA SPISAKA</li>
        <li>SZKOŁA PODSTAWOWA DLA DOROSŁYCH W ZESPOLE SZKÓŁ TECHNICZNYCH W DĄBROWIE GÓRNICZEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 10 IM. KORNELA MAKUSZYŃSKIEGO W DĄBROWIE GÓRNICZEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 11 IM. LUDWIKA WARYŃSKIEGO W DĄBROWIE GÓRNICZEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 12 IM. STANISŁAWA STASZICA W DĄBROWIE GÓRNICZEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 13 IM. ADAMA PIWOWARA W DĄBROWIE GÓRNICZEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 16 Z ODDZIAŁAMI PRZEDSZKOLNYMI IM. ZWIĄZKU ORŁA BIAŁEGO W DĄBROWIE GÓRNICZEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 17 IM. ADAMA MICKIEWICZA W ZESPOLE SZKOLNO-PRZEDSZKOLNYM NR 4 W DĄBROWIE GÓRNICZEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 18 IM. WŁADYSŁAWA BRONIEWSKIEGO W DĄBROWIE GÓRNICZEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. MARSZAŁKA JÓZEFA PIŁSUDSKIEGO W ZESPOLE SZKOLNO-PRZEDSZKOLNYM NR 3</li>
        <li>SZKOŁA PODSTAWOWA NR 20 Z ODDZIAŁAMI INTEGRACYJNYMI IM. GENERAŁA WŁADYSŁAWA SIKORSKIEGO W DĄBROWIE GÓRNICZEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 21 W DĄBROWIE GÓRNICZEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 22 IM. MARII SKŁODOWSKIEJ-CURIE W DĄBROWIE GÓRNICZEJ, ALEJA ZWYCIĘSTWA 44</li>
        <li>SZKOŁA PODSTAWOWA NR 23 IM. FRYDERYKA CHOPINA ZESPOLE SZKOLNO-PRZEDSZKOLNYM NR 6 W DĄBROWIE GÓRNICZEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 25 IM. STEFANA ŻEROMSKIEGO W ZESPOLE SZKOLNO-PRZEDSZKOLNYM NR 2 W DABROWIE GÓRNICZEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 26 Z ODDZIAŁAMI PRZEDSZKOLNYMI IM. MARII KONOPNICKIEJ W DĄBROWIE GÓRNICZEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 27 IM. BOLESŁAWA PRUSA W ZESPOLE SZKOLNO-PRZEDSZKOLNYM NR 1 W DABROWIE GÓRNICZEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 28 Z ODDZIAŁAMI PRZEDSZKOLNYMI IM. JANUSZA KORCZAKA W DĄBROWIE GÓRNICZEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 29 Z ODDZIAŁAMI SPORTOWYMI IM. ALFREDA SZKLARSKIEGO W DĄBROWIE GÓRNICZEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. MIKOŁAJA KOPERNIKA W DĄBROWIE GÓRNICZEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 30 IM. EMILII ZAWIDZKIEJ W DĄBROWIE GÓRNICZEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 31 IM. ZAGŁĘBIA DĄBROWSKIEGO W ZESPOLE SZKOLNO-PRZEDSZKOLNYM NR 7 W DĄBROWIE GÓRNICZEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 33 Z ODDZIAŁAMI SPORTOWYMI W ZESPOLE SZKÓŁ SPORTOWYCH IM. POLSKICH OLIMPIJCZYKÓW W DĄBROWIE GÓRNICZEJ, UL. CHOPINA 34</li>
        <li>SZKOŁA PODSTAWOWA NR 34 W ZESPOLE SZKÓŁ NR 4 W DĄBROWIE GÓRNICZEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 35 Z ODDZIAŁAMI PRZEDSZKOLNYMI W DĄBROWIE GÓRNICZEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 5 IM. HENRYKA SIENKIEWICZA W ZESPOLE SZKOLNO-PRZEDSZKOLNYM NR 5 W DĄBROWIE GÓRNICZEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 7 IM. HUGONA KOŁŁĄTAJA W DĄBROWIE GÓRNICZEJ, UL. KRÓLOWEJ JADWIGI 11</li>
        <li>SZKOŁA PODSTAWOWA NR 8 IM. ADAMA MICKIEWICZA W DĄBROWIE GÓRNICZEJ</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 1 IM. ZOFII KSIĄŻEK-BREGUŁOWEJ W SPECJALNYM OŚRODKU SZKOLNO-WYCHOWAWCZYM DLA DZIECI I MŁODZIEŻY NIEPEŁNOSPRAWNEJ W DĄBROWIE GÓRNICZEJ, UL. SWOBODNA 59</li>
        <li>SZKOŁA POLICEALNA AKTYWIZACJI ZAWODOWEJ "ŻAK" W DĄBROWIE GÓRNICZEJ</li>
        <li>SZKOŁA POLICEALNA DLA DOROSŁYCH EDUKACJA W DĄBROWIE GÓRNICZEJ</li>
        <li>SZKOŁA POLICEALNA OPIEKI MEDYCZNEJ "ŻAK" W DĄBROWIE GÓRNICZEJ</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY IM. ZOFII KSIĄŻEK-BREGUŁOWEJ W SPECJALNYM OŚRODKU SZKOLNO-WYCHOWAWCZYM DLA DZIECI I MŁODZIEŻY NIEPEŁNOSPRAWNEJ W DĄBROWIE GÓRNICZEJ, UL. SWOBODNA 59</li>
        <li>TECHNICZNE ZAKŁADY NAUKOWE W DĄBROWIE GÓRNICZEJ</li>
        <li>TECHNIKUM NR 1 W DĄBROWIE GÓRNICZEJ</li>
        <li>TECHNIKUM NR 2 W DĄBROWIE GÓRNICZEJ</li>
        <li>TECHNIKUM NR 3 W DĄBROWIE GÓRNICZEJ</li>
        <li>TECHNIKUM NR 4 W DĄBROWIE GÓRNICZEJ</li>
        <li>V LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI DWUJĘZYCZNYMI IM. KANCLERZA JANA ZAMOYSKIEGO</li>
        <li>ZAGŁĘBIOWSKIE CENTRUM EDUKACYJNE W DĄBROWIE GÓRNICZEJ</li>
        <li>ZAKŁAD DOSKONALENIA ZAWODOWEGO KATOWICE OŚRODEK KSZTAŁCENIA ZAWODOWEGO W DĄBROWIE GÓRNICZEJ</li>
        <li>ZAKŁAD USŁUGOWY "KASK" ANDRZEJ KOBIERSKI W DĄBROWIE GÓRNICZEJ</li>
        <li>ZESPÓŁ SZKÓŁ MUZYCZNYCH IM. MICHAŁA SPISAKA W DĄBROWIE GÓRNICZEJ</li>
        <li>ZESPÓŁ SZKÓŁ NR 4 IM. KRÓLOWEJ JADWIGI W DĄBROWIE GÓRNICZEJ</li>
        <li>ZESPÓŁ SZKÓŁ PLASTYCZNYCH W DĄBROWIE GÓRNICZEJ</li>
        <li>ZESPÓŁ SZKÓŁ SPORTOWYCH IM. POLSKICH OLIMPIJCZYKÓW</li>
        <li>ZESPÓŁ SZKÓŁ TECHNICZNYCH</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 1 W DĄBROWIE GÓRNICZEJ, UL. ŻOŁNIERSKA 188</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 2 W DĄBROWIE GÓRNICZEJ, UL. MIESZKA I 20</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 3 W DĄBROWIE GÓRNICZEJ, UL. SPORTOWA 16</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 4 W DĄBROWIE GÓRNICZEJ, UL. OFIAR KATYNIA 76</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 5 W DĄBROWIE GÓRNICZEJ, UL. STRZEMIESZYCKA 390</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 6 W DĄBROWIE GÓRNICZEJ, UL. IDZIKOWSKIEGO 139 C</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 7 W DĄBROWIE GÓRNICZEJ, ALEJA ZWYCIĘSTWA 77</li>

    </ul>
    <a href="ŚLĄSKIE.html">Back to Cities in ŚLĄSKIE</a>
</body>
</html>
