
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Łazy</title>
</head>
<body>
    <h1>Schools in Łazy</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "BIEDRONECZKI" W ŁAZACH</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 1 IM. JANA BRZECHWY W ŁAZACH</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. STANISŁAWA KONARSKIEGO W ŁAZACH</li>
        <li>SZKOŁA PODSTAWOWA NR 3 W ŁAZACH</li>
        <li>TECHNIKUM</li>
        <li>ZESPÓŁ SZKÓŁ IM. PROFESORA ROMANA GOSTKOWSKIEGO W ŁAZACH</li>

    </ul>
    <a href="ŚLĄSKIE.html">Back to Cities in ŚLĄSKIE</a>
</body>
</html>
