
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Przybędza</title>
</head>
<body>
    <h1>Schools in Przybędza</h1>
    <ul>
        <li>PRZEDSZKOLE IM. JANUSZA KORCZAKA W PRZYBĘDZY</li>
        <li>PRZEDSZKOLE W GÓRACH</li>
        <li>SZKOŁA PODSTAWOWA IM. JANUSZA KORCZAKA W PRZYBĘDZY</li>
        <li>ZESPÓŁ SZKOLNO - PRZEDSZKOLNY W PRZYBĘDZY</li>

    </ul>
    <a href="ŚLĄSKIE.html">Back to Cities in ŚLĄSKIE</a>
</body>
</html>
