
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Wodzisław Śląski</title>
</head>
<body>
    <h1>Schools in Wodzisław Śląski</h1>
    <ul>
        <li>"P.Z.PARTNER" PAŁAMARZ SP.J.</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 1 IM. KOMISJI EDUKACJI NARODOWEJ W WODZISŁAWIU ŚLĄSKIM</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 2 IM. RTM. WITOLDA PILECKIEGO W WODZISŁAWIU ŚLĄSKIM</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 3 IM. PIASTÓW ŚLĄSKICH W WODZISŁAWIU ŚLĄSKIM</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA SPECJALNA W WODZISŁAWIU ŚLĄSKIM</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA W WODZISŁAWIU ŚLĄSKIM</li>
        <li>CECH RZEMIEŚLNIKÓW I INNYCH PRZEDSIĘBIORCÓW W WODZISŁAWIU ŚLĄSKIM</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO W WODZISŁAWIU ŚLĄSKIM</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO W WODZISŁAWIU ŚLĄSKIM</li>
        <li>CENTRUM SZKOLEŃ "MG-EDU"</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE IM. 14 PUŁKU POWSTAŃCÓW ŚLĄSKICH W WODZISŁAWIU ŚLĄSKIM</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI DWUJĘZYCZNYMI I INTEGRACYJNYMI IM. KS. PROF. JÓZEFA TISCHNERA W WODZISŁAWIU ŚLĄSKIM</li>
        <li>III LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI SPORTOWYMI IM.RTM. WITOLDA PILECKIEGO W WODZISŁAWIU ŚLĄSKIM</li>
        <li>KATOLICKIE LICEUM OGÓLNOKSZTAŁCĄCE STOWARZYSZENIA RODZIN KATOLICKICH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W WODZISŁAWIU ŚLĄSKIM</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE TEB EDUKACJA DLA DOROSŁYCH W WODZISŁAWIU ŚLĄSKIM</li>
        <li>LICEUM SZTUK PLASTYCZNYCH IM. OLGI BOZNAŃSKIEJ W WODZISŁAWIU ŚLĄSKIM</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO JAGUAR SP. Z O.O.</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO OŚRODEK SZKOLENIA ZAWODOWEGO "WAWEX II"</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO TYGRYS-SILESIA</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO W WODZISŁAWIU ŚLĄSKIM</li>
        <li>NIEPUBLICZNA PLACÓWKA OŚWIATOWO-WYCHOWAWCZA "PROMYK" W WODZISŁAWIU ŚLĄSKIM</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "OKNO NA ŚWIAT"</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W WODZISŁAWIU ŚLĄSKIM</li>
        <li>NIEPUBLICZNA SPECJALISTYCZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "BURSZTYNEK"</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA KLASA DLA ASA</li>
        <li>NIEPUBLICZNA SZKOŁA POLICEALNA TEB EDUKACJA W WODZISŁAWIU ŚLĄSKIM</li>
        <li>NIEPUBLICZNY OŚRODEK REWALIDACYJNO-WYCHOWAWCZY DLA DZIECI I MŁODZIEŻY Z AUTYZMEM W WODZISŁAWIU ŚLĄSKIM</li>
        <li>NIEPUBLICZNY TERAPEUTYCZNY PUNKT PRZEDSZKOLNY "BURSZTYNEK I"</li>
        <li>NIEPUBLICZNY TERAPEUTYCZNY PUNKT PRZEDSZKOLNY "BURSZTYNEK"</li>
        <li>OGNISKO PRACY POZASZKOLNEJ NR 1</li>
        <li>OŚRODEK REWALIDACYJNO - WYCHOWAWCZY W WODZISŁAWIU ŚLĄSKIM</li>
        <li>OŚRODEK REWALIDACYJNO-WYCHOWAWCZY W WODZISŁAWIU ŚLĄSKIM</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I ST. IM. WOJCIECHA KILARA W WODZISŁAWIU ŚLĄSKIM</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W WODZISŁAWIU ŚLĄSKIM</li>
        <li>POWIATOWE CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO W WODZISŁAWIU ŚLĄSKIM</li>
        <li>POWIATOWY OŚRODEK DOSKONALENIA NAUCZYCIELI W WODZISŁAWIU ŚLĄSKIM</li>
        <li>PRYWATNA SZKOŁA POLICEALNA "TWOJA - SZKOŁA" W WODZISŁAWIU ŚLĄSKIM</li>
        <li>PRYWATNE LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH "TWOJA SZKOŁA" W WODZISŁAWIU ŚLĄSKIM</li>
        <li>PRYWATNY OŚRODEK KURSOWO - SZKOLENIOWY "NOWEX" W WODZISŁAWIU ŚLĄSKIM</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 1</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA STOWARZYSZENIA RODZIN KATOLICKICH ARCHIDIECEZJI KATOWICKIEJ</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 11</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 12</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 13</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 14 IM. KUBUSIA PUCHATKA</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 15</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 16</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 18</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 19 Z ODDZIAŁAMI INTEGRACYJNYMI</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 2</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 3</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 5</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 6</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 8</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 9</li>
        <li>PUBLICZNE PRZEDSZOLE NR 4</li>
        <li>PUNKT PRZEDSZKOLNY Z ODDZIAŁAMI INTEGRACYJNYMI "OKNO NA ŚWIAT"</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY IM. DR MED. ALOJZEGO PAWELCA W WODZISŁAWIU ŚLĄSKIM</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. MARII SKŁODOWSKIEJ-CURIE</li>
        <li>SZKOŁA PODSTAWOWA NR 10 IM. JANUSZA KORCZAKA</li>
        <li>SZKOŁA PODSTAWOWA NR 15</li>
        <li>SZKOŁA PODSTAWOWA NR 16 IM. ADAMA DZIKA</li>
        <li>SZKOŁA PODSTAWOWA NR 17 IM. KS. KARD. BOLESŁAWA KOMINKA</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. JULIANA TUWIMA</li>
        <li>SZKOŁA PODSTAWOWA NR 21 IM. JULIUSZA SŁOWACKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 28</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. JANA PAWŁA II</li>
        <li>SZKOŁA PODSTAWOWA NR 4</li>
        <li>SZKOŁA PODSTAWOWA NR 5 Z ODDZIAŁAMI INTEGRACYJNYMI IM. W. BRONIEWSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 8 IM. TADEUSZA KOŚCIUSZKI</li>
        <li>SZKOŁA PODSTAWOWA NR 9 IM. HENRYKA SIENKIEWICZA</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA W WODZISŁAWIU ŚLĄSKIM</li>
        <li>SZKOŁA POLICEALNA EDUKACJI INNOWACYJNEJ W WODZISŁAWIU ŚLĄSKIM</li>
        <li>SZKOŁA POLICEALNA MASAŻU EDUKACJI INNOWACYJNEJ W WODZISŁAWIU ŚLĄSKIM</li>
        <li>SZKOŁA POLICEALNA MEDYCZNA EDUKACJI INNOWACYJNEJ W WODZISŁAWIU ŚLĄSKIM</li>
        <li>SZKOŁA POLICEALNA W WODZISŁAWIU ŚLĄSKIM</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W WODZISŁAWIU ŚLĄSKIM</li>
        <li>TEB EDUKACJA STUDIUM KSZTAŁCENIA PRAKTYCZNEGO</li>
        <li>TECHNIKUM NR 1 IM. PIASTÓW ŚLĄSKICH W WODZISŁAWIU ŚLĄSKIM</li>
        <li>TECHNIKUM NR 2 IM. KOMISJI EDUKACJI NARODOWEJ W WODZISŁAWIU ŚLĄSKIM</li>
        <li>TECHNIKUM NR 3 IM. RTM.WITOLDA PILECKIEGO W WODZISŁAWIU ŚLĄSKIM</li>
        <li>TECHNIKUM TEB EDUKACJA W WODZISŁAWIU ŚLĄSKIM</li>
        <li>ZESPÓŁ PLACÓWEK SZKOLNO - WYCHOWAWCZO - REWALIDACYJNYCH W WODZISŁAWIU ŚLĄSKIM</li>
        <li>ZESPÓŁ SZKÓŁ EKONOMICZNYCH W WODZISŁAWIU ŚLĄSKIM</li>
        <li>ZESPÓŁ SZKÓŁ NR 1</li>
        <li>ZESPÓŁ SZKÓŁ PONADPODSTAWOWYCH W WODZISŁAWIU ŚLĄSKIM</li>
        <li>ZESPÓŁ SZKÓŁ TECHNICZNYCH W WODZISŁAWIU ŚLĄSKIM</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 1</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 2</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 3</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 4</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 5</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 6</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 7</li>

    </ul>
    <a href="ŚLĄSKIE.html">Back to Cities in ŚLĄSKIE</a>
</body>
</html>
