
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Studzionka</title>
</head>
<body>
    <h1>Schools in Studzionka</h1>
    <ul>
        <li>PRZEDSZKOLE W STUDZIONCE W ZESPOLE SZKOLNO-PRZEDSZKOLNYM W STUDZIONCE</li>
        <li>SZKOŁA PODSTAWOWA W STUDZIONCE W ZESPOLE SZKOLNO-PRZEDSZKOLNYM W STUDZIONCE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W STUDZIONCE</li>

    </ul>
    <a href="ŚLĄSKIE.html">Back to Cities in ŚLĄSKIE</a>
</body>
</html>
