
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Kłobuck</title>
</head>
<body>
    <h1>Schools in Kłobuck</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 1 W KŁOBUCKU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 2 W KŁOBUCKU</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA W KŁOBUCKU</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE W KŁOBUCKU</li>
        <li>III LICEUM OGÓLNOKSZTAŁCĄCE IM. KAZIMIERZA KOSIŃSKIEGO W KŁOBUCKU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W KŁOBUCKU</li>
        <li>POWIATOWA PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA</li>
        <li>PRZEDSZKOLE GMINNE NR 1 W KŁOBUCKU</li>
        <li>PRZEDSZKOLE GMINNE NR 2</li>
        <li>PRZEDSZKOLE GMINNE NR 5 W KŁOBUCKU</li>
        <li>PRZEDSZKOLE GMINNENR 4 W KŁOBUCKU</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA STOWARZYSZENIA PRZYJACIÓŁ SZKÓŁ KATOLICKICH IM. ŚW. DOMINIKA SAVIO</li>
        <li>SZKOŁA JĘZYKÓW OBCYCH "GREEN SCHOOL" AGNIESZKA WORWĄG</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. W. SEBYŁY W KŁOBUCKU</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. A. MICKIEWICZA W KŁOBUCKU</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. JANA PAWŁA II W KŁOBUCKU</li>
        <li>SZKOŁA POLICEALNA NR 1</li>
        <li>TECHNIKUM NR 1 W KŁOBUCKU</li>
        <li>TECHNIKUM NR 2 W KŁOBUCKU</li>
        <li>TECHNIKUM NR 3 IM. KAZIMIERZA KOSIŃSKIEGO W KŁOBUCKU</li>
        <li>TĘCZOWE PRZEDSZKOLE-CENTRUM JĘZYKOWE ,,MEGAN CROW"</li>
        <li>ZESPÓŁ SZKÓŁ NR 1 IM. JANA KILIŃSKIEGO</li>
        <li>ZESPÓŁ SZKÓŁ NR 2 IM. KS JANA DŁUGOSZA</li>
        <li>ZESPÓŁ SZKÓŁ NR 3 W KŁOBUCKU</li>

    </ul>
    <a href="ŚLĄSKIE.html">Back to Cities in ŚLĄSKIE</a>
</body>
</html>
