
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Poręba</title>
</head>
<body>
    <h1>Schools in Poręba</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA IM. MIKOŁAJA KOPERNIKA W PORĘBIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W PORĘBIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. MIKOŁAJA KOPERNIKA W PORĘBIE</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 1 IM.MISIA USZATKA W PORĘBIE</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. WOJSKA POLSKIEGO W PORĘBIE</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. JANA PAWŁA II W PORĘBIE</li>
        <li>SZKOŁA PODSTAWOWA W PORĘBIE</li>
        <li>SZKOŁA POLICEALNA W PORĘBIE</li>
        <li>TECHNIKUM IM.MIKOŁAJA KOPERNIKA W PORĘBIE</li>
        <li>ZESPÓŁ SZKÓŁ W PORĘBIE</li>

    </ul>
    <a href="ŚLĄSKIE.html">Back to Cities in ŚLĄSKIE</a>
</body>
</html>
