
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Łojki</title>
</head>
<body>
    <h1>Schools in Łojki</h1>
    <ul>
        <li>PRZEDSZKOLE W ŁOJKACH</li>
        <li>SZKOŁA PODSTAWOWA IM. KORNELA MAKUSZYŃSKIEGO W ZESPOLE SZKOLNO - PRZEDSZKOLNYM W ŁOJKACH</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W ŁOJKACH</li>

    </ul>
    <a href="ŚLĄSKIE.html">Back to Cities in ŚLĄSKIE</a>
</body>
</html>
