
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Wojkowice</title>
</head>
<body>
    <h1>Schools in Wojkowice</h1>
    <ul>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. RTM. WITOLDA PILECKIEGO W WOJKOWICACH</li>
        <li>PRZEDSZKOLE IM."PRZYJACIÓŁ BAJEK"</li>
        <li>SZKOŁA PODSTAWOWA DLA DOROSŁYCH</li>
        <li>SZKOŁA PODSTAWOWA NR 1</li>
        <li>SZKOŁA PODSTAWOWA NR 3</li>
        <li>TECHNIKUM IM. RTM. WITOLDA PILECKIEGO W WOJKOWICACH</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH I TECHNICZNYCH W WOJKOWICACH</li>

    </ul>
    <a href="ŚLĄSKIE.html">Back to Cities in ŚLĄSKIE</a>
</body>
</html>
