
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Skoczów</title>
</head>
<body>
    <h1>Schools in Skoczów</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 1 W SKOCZOWIE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 2 SPECJALNA W SKOCZOWIE</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA</li>
        <li>CENTRUM TERAPII I ROZWOJU</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE SPECJALNE NR II</li>
        <li>NIEPUBLICZNA BRANŻOWA SZKOŁA I STOPNIA "PRIMUS"</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA "AKADEMIA U KAROLCI"</li>
        <li>NIEPUBLICZNE DZIENNE TECHNIKUM "PRIMUS"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "BAJLANDIA" O PROFILU MUZYCZNO-JĘZYKOWYM</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE U KAROLCI</li>
        <li>OSRODEK SZKOLENIA ZAWODOWEGO</li>
        <li>OŚRODEK SZKOLENIA ZAWODOWEGO "PROFFESOR" W SKOCZOWIE</li>
        <li>PEDAGOGICZNA BIBLIOTEKA WOJEWÓDZKA W BIELSKU-BIAŁEJ FILIA W SKOCZOWIE</li>
        <li>PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA W SKOCZOWIE ZESPOŁU PORADNI PSYCHOLOGICZNO - PEDAGOGICZNYCH W CIESZYNIE</li>
        <li>PRYWATNA SZKOŁA LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH "PROFFESOR" W SKOCZOWIE</li>
        <li>PRYWATNA SZKOŁA POLICEALNA "PROFFESOR" W SKOCZOWIE</li>
        <li>PRYWATNE LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH "PRIMUS"</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 1 W SKOCZOWIE</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 2 W SKOCZOWIE</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 3 W SKOCZOWIE</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 4 W SKOCZOWIE Z ODDZIAŁAMI ZAMIEJSCOWYMI W MIEDZYŚWIECIU</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. GUSTAWA MORCINKA W SKOCZOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. JANA PAWŁA II W SKOCZOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 8 IM. KRYSTYNY BOCHENEK W SKOCZOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 9 SPECJALNA W SKOCZOWIE</li>
        <li>SZKOŁA POLICEALNA</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W SKOCZOWIE</li>
        <li>TECHNIKUM W SKOCZOWIE</li>
        <li>TERAPEUTYCZNY PUNKT PRZEDSZKOLNY SŁONECZNA KRAINA</li>
        <li>WIEDZA UMIEJĘTNOŚĆ ROZWÓJ</li>
        <li>ZAKŁAD DOSKONALENIA ZAWODOWEGO W KATOWICACH OŚRODEK KSZTAŁCENIA ZAWODOWEGO W SKOCZOWIE</li>
        <li>ZESPÓŁ SZKÓŁ SPECJALNYCH W SKOCZOWIE</li>
        <li>ZESPÓŁ SZKÓŁ TECHNICZNYCH I OGÓLNOKSZTAŁCĄCYCH W SKOCZOWIE</li>

    </ul>
    <a href="ŚLĄSKIE.html">Back to Cities in ŚLĄSKIE</a>
</body>
</html>
