
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Katowice</title>
</head>
<body>
    <h1>Schools in Katowice</h1>
    <ul>
        <li>"KREATYWNA EDUKACJA" MAGDALENA ŁABUŚ NIEPUBLICZNY OSRODEK DOSKONALENIA NAUCZYCIELI</li>
        <li>AACADEMY NIEPUBLICZNA SPECJALNA SZKOŁA PODSTAWOWA</li>
        <li>AACADEMY NIEPUBLICZNE PRZEDSZKOLE SPECJALNE</li>
        <li>ACUART MIĘDZYNARODOWA SZKOŁA AKUPUNKTURY KLASYCZNEJ</li>
        <li>ADA-POŻ</li>
        <li>AKADEMIA MALUCHA PUCHATKOWO</li>
        <li>AKADEMIA SZTUKI MASAŻU MENOS</li>
        <li>AKADEMIA WESOŁEGO PRZEDSZKOLAKA PRZEDSZKOLE NIEPUBLICZNE Z ODDZIAŁAMI INTEGRACYJNYMI</li>
        <li>AKADEMICKA SZKOŁA POLICEALNA W KATOWICACH</li>
        <li>ANGLOJĘZYCZNE PRZEDSZKOLE MONTESSORI OXFORD PRE-SCHOOL</li>
        <li>AS EDUKACJA CENTRUM SZKOLENIOWE W KATOWICACH</li>
        <li>AS EDUKACJA MARCIN BATKO ZESPÓŁ SZKÓŁ DLA DOROSŁYCH W KATOWICACH</li>
        <li>AS EDUKACJA-SZKOŁA POLICEALNA W KATOWICACH</li>
        <li>AUTORSKA SZKOŁA PONADPODSTAWOWA-LICEUM SOWIZDRZAŁA</li>
        <li>BAJKOWE PRZEDSZKOLE Z ODDZIAŁAMI INTEGRACYJNYMI I SPECJALNYMI</li>
        <li>BEAUTY ACADEMY NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO W KATOWICACH</li>
        <li>BH TEST JERZY DZWONEK</li>
        <li>BIAŁECKI WELDING CENTER SP. Z O.O.</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA COSINUS W KATOWICACH</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 1</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 10 DLA NIESŁYSZĄCYCH I SŁABO SŁYSZĄCYCH</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 12</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 15</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 16 IM. JANUSZA KORCZAKA SPECJALNA</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 2</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 3</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 4</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 5</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 7</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 8</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 9</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA NR 1 W KATOWICACH</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA NR 2 W KATOWICACH</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA NR 3 W KATOWICACH</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA NR 4 W KATOWICACH</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA NR 5 W KATOWICACH</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA NR 6 W KATOWICACH</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA NR 7 W KATOWICACH</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA NR 8 Z ODDZIAŁAMI SPECJALNYMI W KATOWICACH</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA NR 9 W KATOWICACH</li>
        <li>BROADWAY BEAUTY ŻANETA GORTAT-STANISŁAWSKA</li>
        <li>BUSINESS CENTER 1</li>
        <li>BUSINESS CENTER 1 SPÓŁKA KOMANDYTOWA</li>
        <li>CENTRUM BEZPIECZEŃSTWA SZKÓŁ I PRZEDSZKOLI CHILD ALERT</li>
        <li>CENTRUM DOSKONALENIA NAUCZYCIELI PROFESJA</li>
        <li>CENTRUM DOSKONALENIA NAUCZYCIELI-BUSINESS CENTER 1</li>
        <li>CENTRUM DOSKONALENIA UMIEJĘTNOŚCI NAUCZYCIELSKICH ZAKŁADU DOSKONALENIA ZAWODOWEGO W KATOWICACH</li>
        <li>CENTRUM EDUKACJI I SPORTU</li>
        <li>CENTRUM EDUKACJI PRO-INWEST</li>
        <li>CENTRUM EDUKACYJNE KATOWICE PÓŁNOC</li>
        <li>CENTRUM KSZTAŁCENIA NAUCZYCIELI LIBRUS</li>
        <li>CENTRUM KSZTAŁCENIA SAXO</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO EFFEKT W KATOWICACH</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO OTTIMA PLUS SP. Z O.O.</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO POZYTYW</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO SOFTSKILLS</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO SUKCES W KATOWICACH</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO WOJEWÓDZTWA ŚLĄSKIEGO W KATOWICACH</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO NR 1 W KATOWICACH</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO NR 2 W KATOWICACH</li>
        <li>CENTRUM LOGOPEDYCZNE-NIEPUBLICZNA PLACÓWKA DOSKONALENIA KADR</li>
        <li>CENTRUM SZKOLEŃ AGMAX</li>
        <li>CENTRUM SZKOLENIA I DORADZTWA KONTRA</li>
        <li>CENTRUM SZKOLENIA KURSOWEGO I DORADZTWA</li>
        <li>CENTRUM SZKOLENIOWE CGKL GRUPA DORADCZA</li>
        <li>CENTRUM SZKOLENIOWE EKONORM PROSAFETY</li>
        <li>CENTRUM SZKOLENIOWE PLATON</li>
        <li>DWUJĘZYCZNA SZKOŁA PODSTAWOWA "ENGLISH MONTESSORI SCHOOL"</li>
        <li>DWUJĘZYCZNE PRZEDSZKOLE ENGLISH MONTESSORI SCHOOL</li>
        <li>EGURROLA DANCE STUDIO KATOWICE</li>
        <li>EGURROLA DANCE STUDIO KATOWICE</li>
        <li>ELITE BEAUTY SCHOOL DULOK & PACZESNY</li>
        <li>ESTHETIC INSTITUTE ARTUR RUPRICH</li>
        <li>EUROPEJSKIE CENTRUM EDUKACYJNE</li>
        <li>FIRMA SZKOLENIOWA SENSUS SP. Z O.O.</li>
        <li>FORBERG</li>
        <li>GAWOS SZKOLENIA I DORADZTWO</li>
        <li>GŁÓWNY INSTYTUT GÓRNICTWA CENTRUM ROZWOJU KOMPETENCJI</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI DWUJĘZYCZNYMI IM.MIKOŁAJA KOPERNIKA</li>
        <li>I SPOŁECZNE LICEUM OGÓLNOKSZTAŁCĄCE IM. STANISŁAWA KONARSKIEGO SPOŁECZNEGO TOWARZYSTWA OŚWIATOWEGO W KATOWICACH</li>
        <li>I ZESPÓŁ OGÓLNOKSZTAŁCĄCYCH SZKÓŁ SPOŁECZNYCH IM. S. KONARSKIEGO SPOŁECZNEGO TOWARZYSTWA OŚWIATOWEGO</li>
        <li>IDN WIEDZA - INSTYTUT DOSKONALENIA ZAWODOWEGO JOLANTA NOWAK</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI DWUJĘZYCZNYMI IM. MARII KONOPNICKIEJ</li>
        <li>III LICEUM OGÓLNOKSZTAŁCĄCE IM. ADAMA MICKIEWICZA</li>
        <li>INSTYTUT DOSKONALENIA NAUCZYCIELI "WIEDZA"W KATOWICACH</li>
        <li>INSTYTUT EDUKACJI SPERSONALIZOWANEJ EDUCARE</li>
        <li>INSTYTUT MEDYCYNY KLASZTORNEJ</li>
        <li>INTERNAT W KCEZ-CKZIU</li>
        <li>IV LICEUM OGÓLNOKSZTAŁCĄCE IM. GENERAŁA STANISŁAWA MACZKA</li>
        <li>IX LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI INTEGRACYJNYMI IM.HENRYKA SIENKIEWICZA</li>
        <li>IZBA RZEMIEŚLNICZA ORAZ MAŁEJ I ŚREDNIEJ PRZEDSIĘBIORCZOŚCI W KATOWICACH</li>
        <li>KATOLICKA SZKOŁA PODSTAWOWA IM. ŚW. JACKA W KATOWICACH</li>
        <li>KATOLICKA SZKOŁA PODSTAWOWA STOWARZYSZENIA RODZIN KATOLICKICH ARCHIDIECEZJI KATOWICKIEJ</li>
        <li>KATOLICKIE LICEUM OGÓLNOKSZTAŁCĄCE IM. BŁ. KS. EMILA SZRAMKA</li>
        <li>KATOLICKIE PRZEDSZKOLE NIEPUBLICZNE IM. MATKI LAURY MEOZZI ANIOŁKOWO</li>
        <li>KATOLICKIE PRZEDSZKOLE STOWARZYSZENIA RODZIN KATOLICKICH ARCHIDIECEZJI KATOWICKIEJ POD ANIOŁEM W KATOWICACH</li>
        <li>KATOWICKA SZKOŁA MENEDŻERÓW CENTRUM KSZTAŁCENIA KADR INTERDONT</li>
        <li>KATOWICKIE CENTRUM EDUKACJI ZAWODOWEJ IM. POWSTAŃCÓW ŚLĄSKICH-CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO W KATOWICACH</li>
        <li>KORCZAKOWSKA NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W KATOWICACH</li>
        <li>KORCZAKOWSKA SZKOŁA MARZEŃ W KATOWICACH</li>
        <li>KORCZAKOWSKIE LICEUM OGÓLNOKSZTAŁCĄCE W KATOWICACH</li>
        <li>KORDIA</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH COPERNICUS</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH EFFEKT W KATOWICACH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH FORBERG</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE EMS</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IN ALTUM</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE LICEUM W CHMURZE W KATOWICACH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE MISTRZOSTWA SPORTOWEGO W KATOWICACH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE SUKCES DLA DOROSŁYCH W KATOWICACH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE TEB EDUKACJA DLA DOROSŁYCH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE TEB EDUKACJA W KATOWICACH</li>
        <li>MEDYCZNA SZKOŁA POLICEALNA EFFEKT W KATOWICACH</li>
        <li>MEDYCZNA SZKOŁA POLICEALNA SUKCES EDUKACJA W KATOWICACH</li>
        <li>MEDYCZNA SZKOŁA POLICEALNA SUKCES W KATOWICACH</li>
        <li>MEDYCZNA SZKOŁA POLICEALNA WOJEWÓDZTWA ŚLĄSKIEGO IM. ZOFII SZLENKIERÓWNY W KATOWICACH</li>
        <li>MERKAT SPÓŁKA Z O.O.</li>
        <li>MIĘDZYSZKOLNY OŚRODEK SPORTOWY</li>
        <li>MIEJSKIE PRZEDSZKOLE 63 IM. PLUSZOWEGO MISIA</li>
        <li>MIEJSKIE PRZEDSZKOLE 71</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 1 IM. HANSA CHRISTIANA ANDERSENA</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 12</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 13</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 14</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 15 Z ODDZIAŁAMI INTEGRACYJNYMI</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 16</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 17</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 19</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 2</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 20</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 21 IM. WESOŁEJ LUDWICZKI</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 22</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 23</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 24</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 25 IM. KRÓLA MACIUSIA I</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 26</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 27 IM. PLASTUSIA I TOSI</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 3</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 30</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 32</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 33</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 34 IM. JASIA I MAŁGOSI</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 35</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 36</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 38</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 39</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 4</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 40</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 41 Z ODDZIAŁAMI INTEGRACYJNYMI</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 42</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 43</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 45</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 46</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 47 Z ODDZIAŁAMI INTEGRACYJNYMI</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 48</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 49 IM. SIEDMIU KRASNOLUDKÓW W KATOWICACH</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 5</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 50 Z ODDZIAŁAMI INTEGRACYJNYMI</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 51</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 52</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 55</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 56</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 57 IM. KRASNALA HAŁABAŁY</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 58</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 59</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 6</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 60</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 61</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 62</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 64</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 65</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 66 Z ODDZIAŁAMI INTEGRACYJNYMI IM. MAJKI JEŻOWSKIEJ W KATOWICACH</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 67 Z ODDZIAŁAMI INTEGRACYJNYMI</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 70</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 72</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 73 IM. MISIA USZATKA</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 74</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 75 IM. JANA BRZECHWY</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 76</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 78</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 80</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 81</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 82 IM. DZIECI Z LESZCZYNOWEJ GÓRKI</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 84</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 85</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 87 IM. JULIANA TUWIMA</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 88</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 89</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 90</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 91 Z ODDZIAŁAMI INTEGRACYJNYMI</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 92 IM. WANDY CHOTOMSKIEJ</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 93</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 94 IM. MAŁEGO KSIĘCIA</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 95</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 97</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 99</li>
        <li>MŁODZIEŻOWY DOM KULTURY</li>
        <li>NIEPUBLICZNA ARTYSTYCZNA POLICEALNA SZKOŁA PLASTYCZNA ROE W KATOWICACH</li>
        <li>NIEPUBLICZNA BRANŻOWA SZKOŁA II STOPNIA DLA DOROSŁYCH SYNERCOM W KATOWICACH</li>
        <li>NIEPUBLICZNA KATOLICKA SZKOŁA PODSTAWOWA IM. ŚW. RODZINY W KATOWICACH</li>
        <li>NIEPUBLICZNA OGÓLNOKSZTAŁCĄCA SZKOŁA MUZYCZNA I ST. ELEMENTARZ W KATOWICACH</li>
        <li>NIEPUBLICZNA PLACÓWKA DOSKONALENIA NAUCZYCIELI FUNDACJI "IN CORPORE"</li>
        <li>NIEPUBLICZNA PLACÓWKA EDUKACJI PSYCHOLOGICZNEJ "GNIAZDO"</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA IGO SPÓŁKA Z O.O.</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO COSINUS W KATOWICACH</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO ELAMED SP. Z O.O.</li>
        <li>NIEPUBLICZNA POLICEALNA SZKOŁA AKTORSKA TEATRU ŚLĄSKIEGO IM. STANISŁAWA WYSPIAŃSKIEGO W KATOWICACH</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA CENTRUM FIZJOTERAPII STATERA</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA FIXFORM</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA FOCUS</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA KANGUR</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA MAMIS</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA ŚLĄSKIE CENTRUM ROZWOJU DZIECKA</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA SPERARE</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA TUTTI W KATOWICACH</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA TWOJA TERAPIA</li>
        <li>NIEPUBLICZNA SPECJALISTYCZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA CENTRUM DIAGNOSTYKI I TERAPII IN CORPORE</li>
        <li>NIEPUBLICZNA SPECJALISTYCZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA PERSEVERE</li>
        <li>NIEPUBLICZNA SPECJALNA SZKOŁA PODSTAWOWA ARKA NOEGO</li>
        <li>NIEPUBLICZNA SZKOŁA BALETOWA SZKOŁA SZTUKI TAŃCA ARABESQUE W KATOWICACH</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA "NASZA SZKOŁA"</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA AKADEMIA MONTESSORI</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA EDUHUB W KATOWICACH</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA ELEMENTARZ W KATOWICACH</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA FEP</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA MAPLE BEAR KATOWICE</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA WESOŁE SŁONECZKA</li>
        <li>NIEPUBLICZNA SZKOŁA POLICEALNA TEB EDUKACJA W KATOWICACH</li>
        <li>NIEPUBLICZNA SZKOŁA PRZYSPOSABIAJĄCA DO PRACY ARKA NOEGO</li>
        <li>NIEPUBLICZNA WIELOSPECJALISTYCZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA ISKIERKA</li>
        <li>NIEPUBLICZNE CENTRUM DOSKONALENIA KADR OŚWIATOWYCH "KISS"</li>
        <li>NIEPUBLICZNE CENTRUM KSZTAŁCENIA USTAWICZNEGO ZETOM W KATOWICACH</li>
        <li>NIEPUBLICZNE DWUJĘZYCZNE PRZEDSZKOLE KIDS&CO</li>
        <li>NIEPUBLICZNE INTEGRACYJNE PRZEDSZKOLE SPORTUSIE W KATOWICACH</li>
        <li>NIEPUBLICZNE JEDNOODDZIAŁOWE PRZEDSZKOLE JAŚ I MAŁGOSIA</li>
        <li>NIEPUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH ŻAK</li>
        <li>NIEPUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE NASZA SZKOŁA</li>
        <li>NIEPUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE SZKOŁA MISTRZOSTWA SPORTOWEGO POLSKIEGO ZWIĄZKU HOKEJA NA LODZIE</li>
        <li>NIEPUBLICZNE LICEUM SZTUK PLASTYCZNYCH COSINUS W KATOWICACH</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE BABALOO</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE BABY PLANET W KATOWICACH</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE DZIECIĘCY OGRÓD MOŻLIWOŚCI</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE EDUKACYJNO-REHABILITACYJNE ODRODZENIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE ELEMENTARZ W KATOWICACH</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE EPIONKOWO</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE GWIAZDOLANDIA</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE JĘZYKOWE MUNDO MARINO</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE JĘZYKOWE SUPERKIDS</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE JĘZYKOWO-SPORTOWE LUPPO PUPPO 5</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE KRAINA ODKRYWCY GALILEUSZ</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE KRAINA ODKRYWCY KOPERNIK</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE KRAINA WESOŁYCH BRZDĄCÓW Z ODDZIAŁAMI INTEGRACYJNYMI</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE MAPLE BEAR KATOWICE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE PASTELOVE W KATOWICACH</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE SPORTOWE AKADEMIA MAŁEGO SPORTOWCA</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE SPORTOWO-JĘZYKOWE FAIR PLAY W KATOWICACH</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE W PIERWSZEJ DZIELNICY</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE WESOŁE SIÓDEMKI</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE WESOŁE SŁONECZKA Z ODDZIAŁAMI INTEGRACYJNYMI W KATOWICACH</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE Z ODDZIAŁAMI INTEGRACYJNYMI BAJKOWA KRAINA</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE Z ODDZIAŁAMI INTEGRACYJNYMI DZIECI BARDZIEJ KREATYWNE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE Z ODDZIAŁEM INTEGRACYJNYM SŁONIK</li>
        <li>NIEPUBLICZNY ARTETERAPEUTYCZNY PUNKT PRZEDSZKOLNY AKADEMIA PRZEDSZKOLAKA BAJKOWA CHATKA</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY AKADEMIA PRZEDSZKOLAKA MAŁE KROCZKI</li>
        <li>NIEPUBLICZNY PUNKT PRZEDSZKOLNY LEŚNY POTOK</li>
        <li>NIEPUBLICZNY SPECJALNY PUNKT PRZEDSZKOLNY BŁĘKITNA KRAINA</li>
        <li>NOVA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO W KATOWICACH</li>
        <li>ODDZIAŁ ZAGŁĘBIA WĘGLOWEGO STOWARZYSZENIA ELEKTRYKÓW POLSKICH W KATOWICACH</li>
        <li>OSKAR OŚRODEK SZKOLENIA ZAWODOWEGO</li>
        <li>OŚRODEK DORADZTWA I SZKOLENIA CERTUS</li>
        <li>OŚRODEK KSZTAŁCENIA SPECJALNEGO LEGION SILESIA</li>
        <li>OŚRODEK KSZTAŁCENIA USTAWICZNEGO PRZY JACEK SIWECKI BENEX</li>
        <li>OŚRODEK REHABILITACYJNO-EDUKACYJNO-WYCHOWAWCZY IM. DR MARII TRZCIŃSKIEJ-FAJFROWSKIEJ</li>
        <li>OŚRODEK SZKOLENIA BHP BEHA-MED</li>
        <li>OŚRODEK SZKOLENIA BIAŁECKI</li>
        <li>OŚRODEK SZKOLENIA BIAŁECKI SP. Z O.O.</li>
        <li>OŚRODEK SZKOLENIA DORADCA S.C.</li>
        <li>OŚRODEK SZKOLENIA I RZECZOZNAWSTWA POLSKIEGO ZWIĄZKU INŻYNIERÓW I TECHNIKÓW BUDOWNICTWA ODDZIAŁ KATOWICE</li>
        <li>OŚRODEK SZKOLENIA INFORMATYCZNEGO DEMO</li>
        <li>OŚRODEK SZKOLENIA KIEROWCÓW SILESIA</li>
        <li>OŚRODEK SZKOLENIA PELFORTH</li>
        <li>OŚRODEK SZKOLENIA SIEĆ BADAWCZA ŁUKASIEWICZ - INSTYTUT TECHNIK INNOWACYJNYCH EMAG</li>
        <li>OŚRODEK SZKOLENIA SPECJALISTYCZNEGO DELTA</li>
        <li>OŚRODEK SZKOLENIA USTAWICZNEGO POLSKIEGO ZRZESZENIA INŻYNIERÓW I TECHNIKÓW SANITARNYCH ODDZIAŁ W KATOWICACH</li>
        <li>OŚRODEK SZKOLENIA ZAKŁADÓW REMONTOWYCH ENERGETYKI KATOWICE SPÓŁKA AKCYJNA</li>
        <li>OŚRODEK SZKOLENIA ZAWODOWEGO HUBERTECH SP. Z O.O.</li>
        <li>OŚRODEK SZKOLENIOWY CENTRUM NAUKI I BIZNESU ŻAK</li>
        <li>OŚRODEK SZKOLENIOWY P.H.U. JARED JAROSŁAW DEJNEKA</li>
        <li>OŚRODEK SZKOLENIOWY STOWARZYSZENIA INŻYNIEÓW I TECHNIKÓW ROLNICTWA</li>
        <li>PAŁAC MŁODZIEŻY IM. PROF. ALEKSANDRA KAMIŃSKIEGO</li>
        <li>PAŃSTWOWA OGÓLNOKSZTAŁCĄCA SZKOŁA MUZYCZNA I ST. IM. STANISŁAWA MONIUSZKI W KATOWICACH</li>
        <li>PAŃSTWOWA OGÓLNOKSZTAŁCĄCA SZKOŁA MUZYCZNA II ST. IM. KAROLA SZYMANOWSKIEGO W KATOWICACH</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I I II STOPNIA IM. MIECZYSŁAWA KARŁOWICZA W KATOWICACH</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I STOPNIA W KATOWICACH</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA II STOPNIA W KATOWICACH</li>
        <li>PAŃSTWOWE LICEUM SZTUK PLASTYCZNYCH IM. JÓZEFA PANKIEWICZA W KATOWICACH</li>
        <li>PEDAGOGICZNA BIBLIOTEKA WOJEWÓDZKA IM. J. LOMPY W KATOWICACH</li>
        <li>PLACÓWKA ARTYSTYCZNA AKADEMII ARTYSTYCZNEJ</li>
        <li>PLACÓWKA DOSKONALENIA AKADEMII ARTYSTYCZNEJ</li>
        <li>PLACÓWKA DOSKONALENIA NAUCZYCIELI "VOX MAGISTRI"</li>
        <li>PLACÓWKA KSZTAŁCENIA USTAWICZNEGO DGP SECURITY PARTNER</li>
        <li>POLICEALNA MEDYCZNA SZKOŁA EFFEKT W KATOWICACH</li>
        <li>POLICEALNA SZKOŁA ZAWODOWA EFFEKT W KATOWICACH</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA NR 1</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA NR 2 IM. KS. DRA S.WILCZEWSKIEGO</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA NR 3</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA NR 5</li>
        <li>PRAXIS</li>
        <li>PRO COMUNICATIONS NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA</li>
        <li>PROEDUKACJA CENTRUM KURSOWE W KATOWICACH</li>
        <li>PROEDUKACJA POLICEALNA SZKOŁA MEDYCZNA W KATOWICACH</li>
        <li>PROEDUKACJA SZKOŁA POLICEALNA W KATOWICACH</li>
        <li>PRYWATNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA PROGRESS ANNA MOLA</li>
        <li>PRYWATNA SZKOŁA PODSTAWOWA COMPLEX OF SILESIAN INTERNATIONAL SCHOOLS</li>
        <li>PRYWATNA SZKOŁA PODSTAWOWA FUNDACJI ELEMENTARZ W KATOWICACH</li>
        <li>PRYWATNA SZKOŁA PODSTAWOWA SZKOŁA JAK DOM</li>
        <li>PRYWATNE LICEUM OGÓLNOKSZTAŁCĄCE IM. MELCHIORA WAŃKOWICZA</li>
        <li>PRYWATNE PRZEDSZKOLE DOMOWE PRZEDSZKOLE</li>
        <li>PRYWATNE PRZEDSZKOLE DWUJĘZYCZNE IQ ACADEMY</li>
        <li>PRYWATNE PRZEDSZKOLE IM. PAPY SMERFA</li>
        <li>PRYWATNE PRZEDSZKOLE NR 1</li>
        <li>PRYWATNE PRZEDSZKOLE WINNIE THE POOH</li>
        <li>PRZEDSZKOLE ARTYSTYCZNE DOMINO</li>
        <li>PRZEDSZKOLE LOGOPEDYCZNO-ARTYSTYCZNE BRZDĄC</li>
        <li>PRZEDSZKOLE MALI GIGANCI</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE CIUCIUBABKA</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE ENGLISH MONTESSORI PRESCHOOL</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE JĘZYKOWE KROPECZKI</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE MADZIK PLACE KINDERGARTEN</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE PAŁACYK</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE SEZAMKOWO</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE SKRABLE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE TĘCZA ZGROMADZENIA SIÓSTR SZKOLNYCH DE NOTRE DAME</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE TIKA Z ODDZIAŁAMI SPECJALNYMI</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE WĘGIELEK</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE ZGROMADZENIA SIÓSTR SŁUŻEBNICZEK NMP NP IM. BŁ. EDMUNDA BOJANOWSKIEGO</li>
        <li>PRZEDSZKOLE PUBLICZNE PARAFII RZYMSKOKATOLICKIEJ ŚW. SZCZEPANA W KATOWICACH</li>
        <li>PRZEDSZKOLE SPECJALNE W ZESPOLE SZKOLNO-PRZEDSZKOLNYM DLA DZIECI NIESŁYSZĄCYCH I SŁABO SŁYSZĄCYCH</li>
        <li>PRZEDSZKOLE SUPER GIGANCI</li>
        <li>PRZEDSZKOLE TWÓRCZY MALUCH</li>
        <li>PUBLICZNA SPECJALISTYCZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA FUNDACJI IN CORPORE W KATOWICACH</li>
        <li>PUBLICZNE PRZEDSZKOLE JĘZYKOWE POD MAGNOLIĄ</li>
        <li>PUBLICZNE PRZEDSZKOLE ZGROMADZENIA SIÓSTR ŚW. JADWIGI</li>
        <li>PUNKT PRZEDSZKOLNY PRZYTULNY KĄCIK</li>
        <li>REGIONALNY OŚRODEK DOSKONALENIA KADR ŚLĄSKIEJ RADY NACZELNEJ ORGANIZACJI TECHNICZNEJ FEDERACJA STOWARZYSZEŃ NAUKOWO-TECHNICZNYCH W KATOWICACH</li>
        <li>REGIONALNY OŚRODEK DOSKONALENIA NAUCZYCIELI "WOM" W KATOWICACH</li>
        <li>REGIONALNY OŚRODEK METODYCZNO-EDUKACYJNY METIS W KATOWICACH</li>
        <li>RZEMIEŚLNICZA BRANŻOWA SZKOŁA I STOPNIA W KATOWICACH</li>
        <li>SEKA S.A. ODDZIAŁ KATOWICE</li>
        <li>SHIFEN - AKUPUNKTURA I SZTUKI POKREWNE</li>
        <li>ŚLĄSKI OŚRODEK DOSKONALENIA NAUCZYCIELI</li>
        <li>ŚLĄSKIE CENTRUM SZKOLENIA TRANSPORTU</li>
        <li>ŚLĄSKIE CENTRUM SZKOLENIOWE - FUNDUSZ GÓRNOŚLĄSKI SA ODDZIAŁ W KATOWICACH NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO</li>
        <li>ŚLĄSKIE TECHNICZNE ZAKŁADY NAUKOWE</li>
        <li>SPECJALISTYCZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA</li>
        <li>SPECJALISTYCZNA PORADNIA RODZINNA</li>
        <li>SPECJALISTYCZNE NIEPUBLICZNE PRZEDSZKOLE EDUKACYJNO-REHABILITACYJNE</li>
        <li>SPOŁECZNA SZKOŁA PODSTAWOWA NASZA DOBRA SZKOŁA</li>
        <li>SPOŁECZNA SZKOŁA PODSTAWOWA NR 1 IM. STANISŁAWA KONARSKIEGO SPOŁECZNEGO TOWARZYSTWA OŚWIATOWEGO W KATOWICACH</li>
        <li>SPOŁECZNA SZKOŁA PODSTAWOWA OMEGA IM. GÓRNOŚLĄSKICH NOBLISTÓW W KATOWICACH</li>
        <li>SPOŁECZNA SZKOŁA PODSTAWOWA STOWARZYSZENIA RODZICÓW I NAUCZYCIELI</li>
        <li>SPOŁECZNE LICEUM OGÓLNOKSZTAŁCĄCE IM.W.KORFANTEGO STOWARZYSZENIA RODZICÓW I NAUCZYCIELI</li>
        <li>SPOŁECZNE LICEUM OGÓLNOKSZTAŁCĄCE OMEGA IM. KRYPTOLOGÓW POLSKICH W KATOWICACH</li>
        <li>SPOŁECZNE PRZEDSZKOLE ARTYSTYCZNE FUNDACJI IM.KRYSTYNY RUDKOWSKIEJ</li>
        <li>SPOŁECZNE PRZEDSZKOLE OMEGA IM. GÓRNOŚLĄSKICH NOBLISTÓW W KATOWICACH</li>
        <li>STOWARZYSZENIE KSIĘGOWYCH W POLSCE NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO ODDZIAŁU OKRĘGOWEGO W KATOWICACH</li>
        <li>STOWARZYSZENIE SZKOLENIOWCÓW SZTUK I SYSTEMÓW WALK OBRONNYCH HUSAR</li>
        <li>STRUCTURA CENTRUM SZKOLENIOWE</li>
        <li>STUDIUM PSYCHOLOGII PSYCHOTRONICZNEJ</li>
        <li>SYNERCOM USŁUGI WSPÓLNE SP. Z O.O.</li>
        <li>SZKOŁA PODSTAWOWA DLA CHŁOPCÓW KUŹNICA</li>
        <li>SZKOŁA PODSTAWOWA DLA DOROSŁYCH EFFEKT W KATOWICACH</li>
        <li>SZKOŁA PODSTAWOWA DLA DOROSŁYCH NR 2</li>
        <li>SZKOŁA PODSTAWOWA DLA DZIECI CHORYCH IM. KRYSTYNY BOCHENEK</li>
        <li>SZKOŁA PODSTAWOWA DLA DZIEWCZĄT PŁOMIEŃ</li>
        <li>SZKOŁA PODSTAWOWA MISTRZOSTWA SPORTOWEGO W KATOWICACH</li>
        <li>SZKOŁA PODSTAWOWA NR 1 DLA DOROSŁYCH</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. MARSZAŁKA JÓZEFA PIŁSUDSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 10 IM. MARII CURIE-SKŁODOWSKIEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 11 Z ODDZIAŁAMI INTEGRACYJNYMI IM. TADEUSZA KOŚCIUSZKI</li>
        <li>SZKOŁA PODSTAWOWA NR 12 IM. IGNACEGO JANA PADEREWSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 13 IM. ŚW. BARBARY</li>
        <li>SZKOŁA PODSTAWOWA NR 15 Z ODDZIAŁAMI DWUJĘZYCZNYMI IM. JANA PAWŁA II</li>
        <li>SZKOŁA PODSTAWOWA NR 16</li>
        <li>SZKOŁA PODSTAWOWA NR 17 IM. TADEUSZA KOŚCIUSZKI</li>
        <li>SZKOŁA PODSTAWOWA NR 18 IM. KAROLA MIARKI</li>
        <li>SZKOŁA PODSTAWOWA NR 19 IM. WOJCIECHA KORFANTEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. JANA III SOBIESKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 20 IM. TADEUSZA REJTANA</li>
        <li>SZKOŁA PODSTAWOWA NR 21 Z ODDZIAŁAMI INTEGRACYJNYMI IM. KAROLA MIARKI</li>
        <li>SZKOŁA PODSTAWOWA NR 22 IM. JULIUSZA SŁOWACKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 27 IM. PROF.WŁADYSŁAWA SZAFERA</li>
        <li>SZKOŁA PODSTAWOWA NR 28 IM. KAROLA MIARKI</li>
        <li>SZKOŁA PODSTAWOWA NR 29 IM. FRANCISZKA ŻWIRKI I STANISŁAWA WIGURY W KATOWICACH</li>
        <li>SZKOŁA PODSTAWOWA NR 31 IM. HENRYKA SIENKIEWICZA</li>
        <li>SZKOŁA PODSTAWOWA NR 32 IM. BOHATERÓW MONTE CASSINO</li>
        <li>SZKOŁA PODSTAWOWA NR 33 Z ODDZIAŁAMI DWUJĘZYCZNYMI IM. STANISŁAWA LIGONIA</li>
        <li>SZKOŁA PODSTAWOWA NR 34 IM. MIKOŁAJA KOPERNIKA</li>
        <li>SZKOŁA PODSTAWOWA NR 35 Z ODDZIAŁAMI DWUJĘZYCZNYMI IM. ADELI KORCZYŃSKIEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 36 IM. KRZYSZTOFA KAMILA BACZYŃSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 37 Z ODDZIAŁAMI DWUJĘZYCZNYMI IM. KS. JANA TWARDOWSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 38 Z ODDZIAŁAMI INTEGRACYJNYMI IM. JÓZEFA NOWARY W KATOWICACH</li>
        <li>SZKOŁA PODSTAWOWA NR 39 IM. JANA PAWŁA II SPECJALNA</li>
        <li>SZKOŁA PODSTAWOWA NR 4 Z ODDZIAŁAMI DWUJĘZYCZNYMI IM. JERZEGO ZIĘTKA</li>
        <li>SZKOŁA PODSTAWOWA NR 40 IM. JERZEGO KUKUCZKI</li>
        <li>SZKOŁA PODSTAWOWA NR 42 IM. JÓZEFY KANTORÓWNY</li>
        <li>SZKOŁA PODSTAWOWA NR 44 IM. MARII CURIE-SKŁODOWSKIEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 45 IM. KORNELA MAKUSZYŃSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 47 Z ODDZIAŁAMI INTEGRACYJNYMI IM. JÓZEFA LOMPY</li>
        <li>SZKOŁA PODSTAWOWA NR 48 IM. JULIUSZA LIGONIA</li>
        <li>SZKOŁA PODSTAWOWA NR 5 IM. DZIEWIĘCIU GÓRNIKÓW Z WUJKA</li>
        <li>SZKOŁA PODSTAWOWA NR 51 Z ODDZIAŁAMI INTEGRACYJNYMI IM. FRYDERYKA CHOPINA</li>
        <li>SZKOŁA PODSTAWOWA NR 53 IM. STEFANA ŻEROMSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 54 IM. MARII KONOPNICKIEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 55 SPECJALNA</li>
        <li>SZKOŁA PODSTAWOWA NR 56 IM. HENRYKA SŁAWIKA W KATOWICACH</li>
        <li>SZKOŁA PODSTAWOWA NR 58 Z ODDZIAŁAMI INTEGRACYJNYMI IM. MARII DĄBROWSKIEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 59 IM. JANA MATEJKI</li>
        <li>SZKOŁA PODSTAWOWA NR 6 SPECJALNA</li>
        <li>SZKOŁA PODSTAWOWA NR 60 IM. MARII GRZEGORZEWSKIEJ SPECJALNA W KATOWICACH</li>
        <li>SZKOŁA PODSTAWOWA NR 61 IM. POLSKICH KAWALERÓW MALTAŃSKICH SPECJALNA</li>
        <li>SZKOŁA PODSTAWOWA NR 62 IM. JÓZEFA KOCURKA</li>
        <li>SZKOŁA PODSTAWOWA NR 64 IM.RATOWNIKÓW GÓRSKICH</li>
        <li>SZKOŁA PODSTAWOWA NR 65 IM. GUSTAWA MORCINKA</li>
        <li>SZKOŁA PODSTAWOWA NR 66 IM. JANUSZA KORCZAKA</li>
        <li>SZKOŁA PODSTAWOWA NR 67 Z ODDZIAŁAMI INTEGRACYJNYMI IM. KOMISJI EDUKACJI NARODOWEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 7 SPECJALNA</li>
        <li>SZKOŁA PODSTAWOWA NR 8 IM. STANISŁAWA STASZICA W KATOWICACH</li>
        <li>SZKOŁA PODSTAWOWA NR 9 IM IM. JANA BRZECHWY</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA W ZESPOLE SZKOLNO-PRZEDSZKOLNYM DLA DZIECI NIESŁYSZĄCYCH I SŁABO SŁYSZĄC</li>
        <li>SZKOŁA PODSTAWOWA SZKOŁA W CHMURZE W KATOWICACH</li>
        <li>SZKOŁA PODSTAWOWA ZAKONU PIJARÓW MATKI BOŻEJ KRÓLOWEJ SZKÓŁ POBOŻNYCH</li>
        <li>SZKOŁA POLICEALNA AKTYWIZACJI ZAWODOWEJ ŻAK</li>
        <li>SZKOŁA POLICEALNA BEZPIECZEŃSTWA I HIGIENY PRACY ŻAK</li>
        <li>SZKOŁA POLICEALNA COPERNICUS NR 1 W KATOWICACH</li>
        <li>SZKOŁA POLICEALNA COSINUS PLUS W KATOWICACH</li>
        <li>SZKOŁA POLICEALNA GOWORK.PL W KATOWICACH</li>
        <li>SZKOŁA POLICEALNA INTERNATIONAL BEAUTY SCHOOL BROADWAY BEAUTY W KATOWICACH</li>
        <li>SZKOŁA POLICEALNA MEDYCZNA ŻAK W KATOWICACH</li>
        <li>SZKOŁA POLICEALNA NR 10 DLA DOROSŁYCH</li>
        <li>SZKOŁA POLICEALNA NR 11 SPECJALNA W ZESPOLE SZKOLNO-PRZEDSZKOLNYM DLA DZIECI NIESŁYSZĄCYCH I SŁABO S</li>
        <li>SZKOŁA POLICEALNA NR 2</li>
        <li>SZKOŁA POLICEALNA NR 3</li>
        <li>SZKOŁA POLICEALNA NR 5</li>
        <li>SZKOŁA POLICEALNA NR 6</li>
        <li>SZKOŁA POLICEALNA NR 7</li>
        <li>SZKOŁA POLICEALNA NR 8</li>
        <li>SZKOŁA POLICEALNA NR 9</li>
        <li>SZKOŁA POLICEALNA OPIEKI MEDYCZNEJ ŻAK W KATOWICACH</li>
        <li>SZKOŁA POLICEALNA SUKCES W KATOWICACH</li>
        <li>SZKOŁA POLICEALNA W KATOWICACH</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY</li>
        <li>SZKOŁA ZEN REIKI W POLSCE</li>
        <li>SZKOLNE SCHRONISKO MŁODZIEŻOWE "ŚLĄZACZEK"</li>
        <li>TEB EDUKACJA STUDIUM KSZTAŁCENIA PRAKTYCZNEGO</li>
        <li>TECHNIKUM DLA MŁODZIEŻY COSINUS W KATOWICACH</li>
        <li>TECHNIKUM LOTNICZE ZAKŁADU DOSKONALENIA ZAWODOWEGO W KATOWICACH</li>
        <li>TECHNIKUM NR 1</li>
        <li>TECHNIKUM NR 10</li>
        <li>TECHNIKUM NR 12</li>
        <li>TECHNIKUM NR 13</li>
        <li>TECHNIKUM NR 14</li>
        <li>TECHNIKUM NR 15 IM. TOMASZA KLENCZARA</li>
        <li>TECHNIKUM NR 16</li>
        <li>TECHNIKUM NR 17</li>
        <li>TECHNIKUM NR 18</li>
        <li>TECHNIKUM NR 2</li>
        <li>TECHNIKUM NR 20 Z ODDZIAŁAMI SPECJALNYMI DLA NIESŁYSZĄCYCH I SŁABO SŁYSZĄCYCH</li>
        <li>TECHNIKUM NR 21 DLA NIESŁYSZĄCYCH I SŁABO SŁYSZĄCYCH</li>
        <li>TECHNIKUM NR 3</li>
        <li>TECHNIKUM NR 4</li>
        <li>TECHNIKUM NR 5</li>
        <li>TECHNIKUM NR 7</li>
        <li>TECHNIKUM NR 8 IM. OBROŃCÓW POCZTY POLSKIEJ W GDANSKU</li>
        <li>TECHNIKUM TEB EDUKACJA W KATOWICACH</li>
        <li>TECHNIKUM ZAKŁADU DOSKONALENIA ZAWODOWEGO W KATOWICACH</li>
        <li>TERAPEUTYCZNY PUNKT PRZEDSZKOLNY KRAINA MARZEŃ</li>
        <li>V LICEUM OGÓLNOKSZTAŁCĄCE IM. WŁADYSŁAWA BRONIEWSKIEGO</li>
        <li>VI LICEUM OGÓLNOKSZTAŁCĄCE IM.JANA DŁUGOSZA</li>
        <li>VII LICEUM OGÓLNOKSZTAŁCĄCE IM.HARCERZY OBROŃCÓW KATOWICE</li>
        <li>VIII LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI DWUJĘZYCZNYMI IM. MARII SKŁODOWSKIEJ-CURIE</li>
        <li>WACŁAW ZAJŁO CENTRUM USŁUGOWE ERGONOMIA</li>
        <li>X LICEUM OGÓLNOKSZTAŁCĄCE IM.I.J.PADEREWSKIEGO AKADEMICKIE</li>
        <li>XI LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>XIV LICEUM OGÓLNOKSZTAŁCĄCE IM.MJR HENRYKA SUCHARSKIEGO</li>
        <li>XIX LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>XV LICEUM OGÓLNOKSZTAŁCĄCE IM. RTM. WITOLDA PILECKIEGO</li>
        <li>XVI LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>XVIII LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>XX LICEUM OGÓLNOKSZTAŁCĄCE SPECJALNE W ZESPOLE SZKOLNO-PRZEDSZKOLNYM DLA DZIECI NIESŁYSZĄCYCH I SŁAB</li>
        <li>XXI LICEUM OGÓLNOKSZTAŁCĄCE W KATOWICACH</li>
        <li>ZAKŁAD DOSKONALENIA ZAWODOWEGO W KATOWICACH CENTRUM KSZTAŁCENIA ZAWODOWEGO W KATOWICACH</li>
        <li>ZAOCZNE LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH CENTRUM KSZTAŁCENIA KADR GÓRNICTWA</li>
        <li>ZAOCZNE LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH COSINUS PLUS W KATOWICACH</li>
        <li>ZESPÓŁ KATOLICKICH SZKÓŁ OGÓLNOKSZTAŁCĄCYCH NR 1 IM. KS. EMILA SZRAMKA</li>
        <li>ZESPÓŁ PAŃSTWOWYCH SZKÓŁ MUZYCZNYCH IM. WOJCIECHA KILARA W KATOWICACH</li>
        <li>ZESPÓL SZKÓŁ EKONOMICZNYCH IM. WOJCIECHA KORFANTEGO</li>
        <li>ZESPÓŁ SZKÓŁ GASTRONOMICZNYCH IM.GUSTWA MORCINKA</li>
        <li>ZESPÓŁ SZKÓŁ HANDLOWYCH IM. BOLESŁAWA PRUSA</li>
        <li>ZESPÓŁ SZKÓŁ I PLACÓWEK NR 1</li>
        <li>ZESPÓŁ SZKÓŁ I PLACÓWEK NR 2</li>
        <li>ZESPÓŁ SZKÓŁ NR 1 IM.GEN.JERZEGO ZIĘTKA</li>
        <li>ZESPÓŁ SZKÓŁ NR 2 IM. JAROSŁAWA IWASZKIEWICZA - CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO W KATOWICACH</li>
        <li>ZESPÓŁ SZKÓŁ NR 3</li>
        <li>ZESPÓŁ SZKÓŁ NR 7 IM. STANISŁAWA MASTALERZA</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTACĄCYCH DLA DOROSŁYCH</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH NR 1</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH NR 2</li>
        <li>ZESPÓŁ SZKÓŁ OMEGA IM. GÓRNOŚLĄSKICH NOBLISTÓW W KATOWICACH</li>
        <li>ZESPÓŁ SZKÓŁ POLIGRAFICZNO-MECHANICZNYCH IM.ARMII KRAJOWEJ</li>
        <li>ZESPÓŁ SZKÓŁ PRZEMYSŁU SPOŻYWCZEGO IM.JÓZEFA RYMERA I WOJEWODY ŚLĄSKIEGO</li>
        <li>ZESPÓŁ SZKÓŁ TECHNICZNYCH I OGÓLNOKSZTAŁCĄCYCH NR 2</li>
        <li>ZESPÓŁ SZKÓŁ TECHNICZNYCH I OGÓLNOKSZTAŁCĄCYCH NR 3 IM.EDWARDA ABRAMOWSKIEGO</li>
        <li>ZESPÓŁ SZKÓŁ W KATOWICACH ZAKŁADU DOSKONALENIA ZAWODOWEGO W KATOWICACH</li>
        <li>ZESPÓŁ SZKÓŁ ZAKONU PIJARÓW MATKI BOŻEJ KRÓLOWEJ SZKÓŁ POBOŻNYCH</li>
        <li>ZESPÓŁ SZKÓŁ ZAWODOWYCH IM.R.MIELCZARSKIEGO</li>
        <li>ZESPÓŁ SZKÓŁ ZAWODOWYCH NR 3 IM. ADAMA KOCURA</li>
        <li>ZESPÓŁ SZKÓŁ ZAWODOWYCH SPECJALNYCH NR 6</li>
        <li>ZESPÓŁ SZKOLNO - PRZEDSZKOLNY NR 2</li>
        <li>ZESPÓŁ SZKOLNO - PRZEDSZKOLNY NR 3</li>
        <li>ZESPÓŁ SZKOLNO- PRZEDSZKOLNY NR 4</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY DLA DZIECI NIESŁYSZĄCYCH I SŁABO SŁYSZĄCYCH</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 1</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 10</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 11</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 12</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 13</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 14</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 15</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 16</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 17</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 18 W KATOWICACH</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 19 W KATOWICACH</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 20 W KATOWICACH</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 21 W KATOWICACH</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 22 W KATOWICACH</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 23 W KATOWICACH</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 24 W KATOWICACH</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 25 W KATOWICACH</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 5</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 6</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 7</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 8</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 9</li>

    </ul>
    <a href="ŚLĄSKIE.html">Back to Cities in ŚLĄSKIE</a>
</body>
</html>
