
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Czernichów</title>
</head>
<body>
    <h1>Schools in Czernichów</h1>
    <ul>
        <li>ZESPÓŁ SZKOLNO - PRZEDSZKOLNY W CZERNICHOWIE</li>
        <li>ZESPÓŁ SZKOLNO - PRZEDSZKOLNY W CZERNICHOWIE - SZKOŁA PODSTAWOWA IM. JÓZEFA PIŁSUDSKIEGO W CZERNICHOWIE</li>
        <li>ZESPÓŁ SZKOLNO PRZEDSZKOLNY W CZERNICHOWIE-PUBLICZNE PRZEDSZKOLE W CZERNICHOWIE</li>

    </ul>
    <a href="ŚLĄSKIE.html">Back to Cities in ŚLĄSKIE</a>
</body>
</html>
