
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Bielsko-Biała</title>
</head>
<body>
    <h1>Schools in Bielsko-Biała</h1>
    <ul>
        <li>"BEHAPE" WOJCIECH MICHALEC</li>
        <li>"ELFIKI Z BAŚNIOWEJ KRAINY EWA WRÓBLEWSKA"</li>
        <li>"MAŁY EUROPEJCZYK" PRYWATNE PRZEDSZKOLE JĘZYKOWE</li>
        <li>"SAFETYPOINT.PL" MAREK SZABAŁOWSKI</li>
        <li>"SPEED" SZKOŁA JĘZYKA ANGIELSKIEGO CALLAN METHOD</li>
        <li>AGAMON II KRZYSZTOF, SŁAWOMIR I GRZEGORZ KISZKA</li>
        <li>AKADEMIA KREOWANIA WIZERUNKU</li>
        <li>AKADEMIA MŁODYCH ODKRYWCÓW "ELF"</li>
        <li>AKADEMIA PRZEDSZKOLAKA "SMYK"</li>
        <li>AKADEMICKIE DWUJĘZYCZNE LICEUM OXFORD SECONDARY SCHOOL</li>
        <li>ALTIS</li>
        <li>ANGLOJĘZYCZNA SZKOŁA PODSTAWOWA "EUROPEJCZYK"</li>
        <li>ANGLOJĘZYCZNA SZKOŁA PODSTAWOWA OXFORD PRIMARY SCHOOL</li>
        <li>ANGLOJĘZYCZNE PRZEDSZKOLE OXFORD PRE-SCHOOL W BIELSKU-BIAŁEJ</li>
        <li>BESKIDZKIE CENTRUM SZKOLENIA SPECJALNEGO "SHADOWS"</li>
        <li>BIELSKA SZKOŁA PRZEMYSŁOWA W BIELSKU-BIAŁEJ</li>
        <li>BIELSKI SZKOLNY OŚRODEK GIMNASTYKI KOREKCYJNO-KOMPENSACYJNEJ IM. ROMANA LISZKI</li>
        <li>BIELSKIE CENTRUM EDUKACJI W BIELSKU-BIAŁEJ</li>
        <li>BIELSKIE CENTRUM EDUKACJI/ CENTRUM KSZTAŁCENIA ZAWODOWEGO</li>
        <li>BIELSKIE CENTRUM EDUKACJI/CENTRUM KSZTAŁCENIA USTAWICZNEGO</li>
        <li>BIELSKO-BIALSKI OŚRODEK DOSKONALENIA NAUCZYCIELI W BIELSKU-BIAŁEJ</li>
        <li>BIURO DOSKONALENIA KADR BESKIDZKIEJ RADY FEDERACJI STOWARZYSZEŃ NAUKOWO-TECHNICZNYCH "NOT"</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA IM. GEN. STANISŁAWA SOSABOWSKIEGO W BIELSKU-BIAŁEJ ZAKŁADU DOSKONALENIA ZAWODOWEGO W KATOWICACH</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 1 W BIELSKIEJ SZKOLE PRZEMYSŁOWEJ W BIELSKU-BIAŁEJ</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 11 W ZESPOLE SZKÓŁ EKONOMICZNYCH IM. MICHAŁA KALECKIEGO W BIELSKU-BIAŁEJ</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 2 W ZESPOLE SZKÓŁ BUDOWLANYCH IM. GENERAŁA STANISŁAWA MACZKA W BIELSKU-BIAŁEJ</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 3 W ZESPOLE SZKÓŁ ELEKTRONICZNYCH, ELEKTRYCZNYCH I MECHANICZNYCH IM. JĘDRZEJA ŚNIADECKIEGO W BIELSKU-BIAŁEJ</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 4 IM. STANISŁAWA STASZICA W BIELSKU-BIAŁEJ</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 5 W ZESPOLE SZKÓŁ SAMOCHODOWYCH I OGÓLNOKSZTAŁCĄCYCH W BIELSKU-BIAŁEJ</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 7 W ZESPOLE SZKÓŁ TECHNICZNYCH I HANDLOWYCH IM. FRANCISZKA KĘPKI W BIELSKU-BIAŁEJ</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 8 W ZESPOLE SZKÓŁ GASTRONOMICZNYCH W BIELSKU-BIAŁEJ</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA SPECJALNA NR 10 W MŁODZIEŻOWYM OŚRODKU SOCJOTERAPII IM. TADEUSZA KOŚCIUSZKI W BIELSKU-BIAŁEJ</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA SPECJALNA NR 9 W ZESPOLE SZKÓŁ SPECJALNYCH NR 1 IM. K. I. GAŁCZYŃSKIEGO W BIELSKU-BIAŁEJ</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA W BIELSKU-BIAŁEJ</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA IM. GEN. STANISŁAWA SOSABOWSKIEGO W BIELSKU-BIAŁEJ ZAKŁADU DOSKONALENIA ZAWODOWEGO W KATOWICACH</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA W BIELSKIM CENTRUM EDUKACJI</li>
        <li>BURSA DLA DZIEWCZĄT PROWADZONA PRZEZ ZGROMADZENIE SIÓSTR SZKOLNYCH DE NOTRE DAME</li>
        <li>BURSA SZKOLNA BTS "REKORD"</li>
        <li>BURSA W BIELSKU-BIAŁEJ</li>
        <li>CENTRUM EDUKACYJNE MEDESTHETIC</li>
        <li>CENTRUM INICJOWANIA ZMIAN DOMINIKA BOROWSKA-STASICA</li>
        <li>CENTRUM INNOWACYJNEJ PROFILAKTYKI</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO "EDUKACJA" W BIELSKU-BIAŁEJ</li>
        <li>CENTRUM NAUKI I MUZYKI NIEPUBLICZNA PLACÓWKA OŚWIATOWO-WYCHOWAWCZA</li>
        <li>CENTRUM SZKOLEŃ DIETETYKI KLINICZNEJ</li>
        <li>DWUJĘZYCZNA SZKOŁA PODSTAWOWA "PRIMARY STEPS"</li>
        <li>DWUJĘZYCZNA SZKOŁA PODSTAWOWA IM. W.KOPALIŃSKIEGO W BIELSKU-BIAŁEJ</li>
        <li>DWUJĘZYCZNE LICEUM OGÓLNOKSZTAŁCĄCE IM. WŁADYSŁAWA KOPALIŃSKIEGO</li>
        <li>EPIKUROS-STUDIO KOMPETENCJI ZAWODOWYCH</li>
        <li>EUROPEJSKIE PRZEDSZKOLE "FIGLARZ"</li>
        <li>EVOLVER PLACÓWKA KSZTAŁCENIA USTAWICZNEGO W BIELSKU-BIAŁEJ</li>
        <li>FUNDACJA POLSKA SZKOŁA DENDROLOGII I ARBORYSTYKI</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE IM. MIKOŁAJA KOPERNIKA W BIELSKU-BIAŁEJ</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE IM. ADAMA ASNYKA W BIELSKU-BIAŁEJ</li>
        <li>INSTYTUT SZKOLENIOWY BIELSKIEJ WYŻSZEJ SZKOŁY IM. J. TYSZKIEWICZA</li>
        <li>INTERNATIONAL HOUSE INTEGRA BIELSKO</li>
        <li>IRP INWESTYCJE-ROZWÓJ-PERSONEL SPÓŁKA Z OGRANICZONĄ ODPOWIEDZIALNOŚCIĄ</li>
        <li>IV LICEUM OGÓLNOKSZTAŁCĄCE IM. KOMISJI EDUKACJI NARODOWEJ W BIELSKU - BIAŁEJ</li>
        <li>IX LICEUM OGÓLNOKSZTAŁCĄCE SPECJALNE W BIELSKU-BIAŁEJ</li>
        <li>KATOLICKIE PRZEDSZKOLE "ZIARENKO"</li>
        <li>KUŹNIA PROJEKTÓW KREATYWNYCH ALEKSANDRA GÓRNY, NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE "SZKOŁA NA GRODZISKU"</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE BIELSKIEJ SZKOŁY MENEDŻERÓW</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH "COPERNICUS"</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH "ŻAK"</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W BIELSKIM CENTRUM EDUKACJI</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. ALBERTA EINSTEINA W BIELSKU-BIAŁEJ</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. GEN. STANISŁAWA SOSABOWSKIEGO W BIELSKU-BIAŁEJ ZAKŁADU DOSKONALENIA ZAWODOWEGO W KATOWICACH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. TADEUSZA KOŚCIUSZKI STUDIUM PRZEDSIĘBIORCZOŚCI "MAGO"</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. WISŁAWY SZYMBORSKIEJ</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE KATOLICKIEGO TOWARZYSTWA KULTURALNEGO W BIELSKU-BIAŁEJ</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE MISTRZOSTWA SPORTOWEGO BBTS</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE MISTRZOSTWA SPORTOWEGO BTS "REKORD"</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE OŚRODKA EDUKACJI "SOKRATES"</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE TOWARZYSTWA SZKOLNEGO IM. MIKOŁAJA REJA</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE ZGROMADZENIA CÓREK BOŻEJ MIŁOŚCI</li>
        <li>MŁODZIEŻOWY OŚRODEK SOCJOTERAPII IM.TADEUSZA KOŚCIUSZKI</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO "PROLOGOS"</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO "TALMED"</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO OŚRODKA EDUKACJI "SOKRATES"</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "ALTER" W BIELSKU-BIAŁEJ</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "FILII"</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA NEUROLINGUA</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA "AKADEMIA ŻAKÓW"</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA "JONATAN"</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA "SŁONECZNA KRAINA" W BIELSKU-BIAŁEJ</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA DA VINCI</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA DA VINCI IM. MARII MONTESSORI</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA JONATAN NR 2</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA MISTRZOSTWA SPORTOWEGO APRIA</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA MISTRZOSTWA SPORTOWEGO MM SPORT</li>
        <li>NIEPUBLICZNA SZKOŁA POLICEALNA TEB EDUKACJA W BIELSKU-BIAŁEJ</li>
        <li>NIEPUBLICZNE CENTRUM DOSKONALENIA NAUCZYCIELI "EDUKACJA"</li>
        <li>NIEPUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE L KWADRAT</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "BŁĘKITNA SÓWKA" W BIELSKU-BIAŁEJ</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "JONATAN"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "JONATAN" W BIELSKU-BIAŁEJ</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "MINDFUL KIDS"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "MIŚ I PRZYJACIELE"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "SŁONECZKO" Z ODDZIAŁAMI INTEGRACYJNYMI PRZY TOWARZYSTWIE PRZYJACIÓŁ DZIECI W BIELSKU-BIAŁEJ</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "TIK-TAK"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE JĘZYKOWE "ADVENTURE"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE KOLOROWA KRAINA W BIELSKU-BIAŁEJ</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE SPECJALNE "JONATAN"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE SPORTOWE TEDDY</li>
        <li>NIEPUBLICZNY OŚRODEK DOSKONALENIA NAUCZYCIELI "UNIKIDS"</li>
        <li>NIEPUBLICZNY TERAPEUTYCZNY PUNKT PRZEDSZKOLNY "BŁĘKITNA AKADEMIA"</li>
        <li>NOWA PRYWATNA SZKOŁA PODSTAWOWA</li>
        <li>NOWE PRYWATNE LICEUM OGÓLNOKSZTAŁCĄCE COGITO</li>
        <li>OGNISKO PRACY POZASZKOLNEJ W BIELSKU-BIAŁEJ</li>
        <li>OSK LOGTECH</li>
        <li>OŚRODEK DOSKONALENIA ZAWODOWEGO ZIAD BIELSKO-BIAŁA S.A.</li>
        <li>OŚRODEK KSZTAŁCENIA KURSOWEGO</li>
        <li>OŚRODEK REWALIDACYJNO-WYCHOWAWCZY "FILII"</li>
        <li>OŚRODEK SZKOLENIA ZAWODOWEGO AGENCJI "CZASZA" SP. Z O.O.</li>
        <li>OŚRODEK SZKOLENIOWY CENTRUM NAUKI I BIZNESU "ŻAK" W BIELSKU-BIAŁEJ</li>
        <li>OŚRODEK SZKOLENIOWY PRZY ODDZIALE BIELSKO-BIALSKIM STOWARZYSZENIA ELEKTRYKÓW POLSKICH</li>
        <li>PAŃSTWOWA OGÓLNOKSZTAŁCĄCA SZKOŁA MUZYCZNA I ST. IM. STANISŁAWA MONIUSZKI W BIELSKU-BIAŁEJ</li>
        <li>PAŃSTWOWA OGÓLNOKSZTAŁCĄCA SZKOŁA MUZYCZNA II ST. IM. STANISŁAWA MONIUSZKI W BIELSKU-BIAŁEJ</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I ST. W BIELSKU-BIAŁEJ</li>
        <li>PAŃSTWOWE LICEUM SZTUK PLASTYCZNYCH IM. JULIANA FAŁATA W BIELSKU-BIAŁEJ</li>
        <li>PEDAGOGICZNA BIBLIOTEKA WOJEWÓDZKA W BIELSKU-BIAŁEJ</li>
        <li>PLACÓWKA OŚWIATOWA NUTKI</li>
        <li>POLICEALNA SZKOŁA BEZPIECZEŃSTWA I HIGIENY PRACY "ŻAK"</li>
        <li>POLSKA SZKOŁA ALPINIZMU</li>
        <li>POWIATOWA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W CZECHOWICACH-DZIEDZICACH, FILIA W BIELSKU-BIAŁEJ</li>
        <li>PRACOWNIA PSYCHOEDUKACJI I TERAPII AGNIESZKA WRÓBEL, NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO</li>
        <li>PRYWATNA SZKOŁA PODSTAWOWA "CREATIVE"</li>
        <li>PRYWATNA SZKOŁA PODSTAWOWA "SMYK" W BIELSKU-BIAŁEJ</li>
        <li>PRYWATNE LICEUM OGÓLNOKSZTAŁCĄCE "CREATIVE" W BIELSKU - BIAŁEJ</li>
        <li>PRYWATNE PRZEDSZKOLE "KUBUŚ"</li>
        <li>PRYWATNE TECHNIKUM INFORMATYCZNE</li>
        <li>PRZEDSIĘBIORSTWO NAUKOWO-BADAWCZO-USŁUGOWE "BT"</li>
        <li>PRZEDSZKOLE "KROPECZKA"</li>
        <li>PRZEDSZKOLE "KROPELKA"</li>
        <li>PRZEDSZKOLE ANGLOJĘZYCZNE "FIRST STEPS"</li>
        <li>PRZEDSZKOLE ARTYSTYCZNE "ISKIERKA" 1</li>
        <li>PRZEDSZKOLE ARTYSTYCZNE "ISKIERKA" 2</li>
        <li>PRZEDSZKOLE GUMISIOWY GAJ</li>
        <li>PRZEDSZKOLE INTEGRACYJNE NR 1 W BIELSKU-BIAŁEJ</li>
        <li>PRZEDSZKOLE INTEGRACYJNE NR 2 W BIELSKU-BIAŁEJ</li>
        <li>PRZEDSZKOLE KATOLICKIE "SERDUSZKO" IM. ŚW. RODZINY W BIELSKU-BIAŁEJ</li>
        <li>PRZEDSZKOLE MONTESSORI</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "DOBRA WRÓŻKA"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "PROMYCZEK"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE BAJKOWA KRAINA</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE UNIWERSYTET MALUTKI KALEJDOSKOP</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE YOGI</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE ZGROMADZENIA SIÓSTR SERAFITEK</li>
        <li>PRZEDSZKOLE NR 10 W BIELSKU-BIAŁEJ</li>
        <li>PRZEDSZKOLE NR 11 W BIELSKU-BIAŁEJ</li>
        <li>PRZEDSZKOLE NR 12 W BIELSKU-BIAŁEJ</li>
        <li>PRZEDSZKOLE NR 14 W BIELSKU-BIAŁEJ</li>
        <li>PRZEDSZKOLE NR 15 W BIELSKU-BIAŁEJ</li>
        <li>PRZEDSZKOLE NR 16 W BIELSKU-BIAŁEJ</li>
        <li>PRZEDSZKOLE NR 17 W BIELSKU-BIAŁEJ</li>
        <li>PRZEDSZKOLE NR 2 W BIELSKU-BIAŁEJ</li>
        <li>PRZEDSZKOLE NR 23 W BIELSKU-BIAŁEJ</li>
        <li>PRZEDSZKOLE NR 24 W BIELSKU-BIAŁEJ</li>
        <li>PRZEDSZKOLE NR 25 W BIELSKU-BIAŁEJ</li>
        <li>PRZEDSZKOLE NR 26 W BIELSKU-BIAŁEJ</li>
        <li>PRZEDSZKOLE NR 27 W BIELSKU-BIAŁEJ</li>
        <li>PRZEDSZKOLE NR 29 W BIELSKU-BIAŁEJ</li>
        <li>PRZEDSZKOLE NR 30 W BIELSKU-BIAŁEJ</li>
        <li>PRZEDSZKOLE NR 31 W BIELSKU-BIAŁEJ</li>
        <li>PRZEDSZKOLE NR 32 W BIELSKU-BIAŁEJ</li>
        <li>PRZEDSZKOLE NR 33 W BIELSKU-BIAŁEJ</li>
        <li>PRZEDSZKOLE NR 35 W BIELSKU-BIAŁEJ</li>
        <li>PRZEDSZKOLE NR 36 W BIELSKU-BIAŁEJ</li>
        <li>PRZEDSZKOLE NR 37 W BIELSKU-BIAŁEJ</li>
        <li>PRZEDSZKOLE NR 38 W BIELSKU-BIAŁEJ</li>
        <li>PRZEDSZKOLE NR 39 W BIELSKU-BIAŁEJ</li>
        <li>PRZEDSZKOLE NR 4 W BIELSKU-BIAŁEJ</li>
        <li>PRZEDSZKOLE NR 40 W BIELSKU-BIAŁEJ</li>
        <li>PRZEDSZKOLE NR 41 W BIELSKU-BIAŁEJ</li>
        <li>PRZEDSZKOLE NR 42 IM. PRZYJACIÓŁ PRZYRODY W BIELSKU-BIAŁEJ</li>
        <li>PRZEDSZKOLE NR 43 W BIELSKU-BIAŁEJ</li>
        <li>PRZEDSZKOLE NR 44 W BIELSKU-BIAŁEJ</li>
        <li>PRZEDSZKOLE NR 49 W BIELSKU-BIAŁEJ</li>
        <li>PRZEDSZKOLE NR 5 W BIELSKU-BIAŁEJ</li>
        <li>PRZEDSZKOLE NR 50 W BIELSKU-BIAŁEJ</li>
        <li>PRZEDSZKOLE NR 51 W BIELSKU-BIAŁEJ</li>
        <li>PRZEDSZKOLE NR 52 W BIELSKU-BIAŁEJ</li>
        <li>PRZEDSZKOLE NR 54 W BIELSKU-BIAŁEJ</li>
        <li>PRZEDSZKOLE NR 55 W BIELSKU-BIAŁEJ</li>
        <li>PRZEDSZKOLE NR 56 W BIELSKU-BIAŁEJ</li>
        <li>PRZEDSZKOLE NR 6 W BIELSKU-BIAŁEJ</li>
        <li>PRZEDSZKOLE NR 7 W BIELSKU-BIAŁEJ</li>
        <li>PRZEDSZKOLE NR 8 W BIELSKU-BIAŁEJ</li>
        <li>PRZEDSZKOLE NR 9 W BIELSKU-BIAŁEJ</li>
        <li>PRZEDSZKOLE PRYWATNE "GROSZEK"</li>
        <li>PRZEDSZKOLE TERAPEUTYCZNE "ELF"</li>
        <li>PRZEDSZKOLE TERAPEUTYCZNE "SŁONECZNA KRAINA" W BIELSKU-BIAŁEJ</li>
        <li>PRZEDSZKOLE WALDORFSKIE</li>
        <li>PUNKT PRZEDSZKOLNY DOMOWE PRZEDSZKOLE</li>
        <li>REGIONALNY OŚRODEK DOSKONALENIA NAUCZYCIELI "WOM" W BIELSKU-BIAŁEJ</li>
        <li>ROLNICZE CENTRUM KSZTAŁCENIA USTAWICZNEGO W BIELSKU-BIAŁEJ</li>
        <li>SEKA S.A. ODDZIAŁ W BIELSKU-BIAŁEJ</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY NR 2</li>
        <li>SPOŁECZNA SZKOŁA PODSTAWOWA KATOLICKIEGO TOWARZYSTWA KULTURALNEGO</li>
        <li>STOWARZYSZENIE KSIĘGOWYCH W POLSCE OŚRODEK SZKOLENIOWY ODDZIAŁU OKRĘGOWEGO W BIELSKU - BIAŁEJ</li>
        <li>STUDIUM MEDYCZNE TEB EDUKACJA W BIELSKU-BIAŁEJ</li>
        <li>STUDIUM SŁUŻB OCHRONY "KING"</li>
        <li>SZKOŁA PODSTAWOWA "SKAŁA"</li>
        <li>SZKOŁA PODSTAWOWA DLA DOROSŁYCH W BIELSKU-BIAŁEJ</li>
        <li>SZKOŁA PODSTAWOWA ELF</li>
        <li>SZKOŁA PODSTAWOWA ELF DLA UCZNIÓW Z ZABURZENIAMI ZE SPEKTRUM AUTYZMU</li>
        <li>SZKOŁA PODSTAWOWA MISTRZOSTWA SPORTOWEGO BBTS</li>
        <li>SZKOŁA PODSTAWOWA MISTRZOSTWA SPORTOWEGO BTS "REKORD"</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. BOHATERÓW WESTERPLATTE W BIELSKU-BIAŁEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 10 TOWARZYSTWA SZKOLNEGO IM. M. REJA</li>
        <li>SZKOŁA PODSTAWOWA NR 13 IM. WŁADYSŁAWA JAGIEŁŁY W BIELSKU-BIAŁEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 18 IM. CYPRIANA KAMILA NORWIDA W BIELSKU-BIAŁEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 2 TOWARZYSTWA SZKOLNEGO IM. M.REJA</li>
        <li>SZKOŁA PODSTAWOWA NR 20 IM.JERZEGO KUKUCZKI W BIELSKU-BIAŁEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 23 IM. JÓZEFA DROŻDŻA W BIELSKU-BIAŁEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 24 IM. TADEUSZA KOŚCIUSZKI W BIELSKU-BIAŁEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 25 IM. KSIĘDZA JANA TWARDOWSKIEGO W BIELSKU-BIAŁEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 26 IM. ZYGMUNTA LUBERTOWICZA W BIELSKU-BIAŁEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 27 IM. JANUSZA KUSOCIŃSKIEGO W BIELSKU-BIAŁEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 28 IM. GEN. JÓZEFA KUSTRONIA W BIELSKU-BIAŁEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 29 IM. JANUSZA KORCZAKA W BIELSKU-BIAŁEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. MACIERZY SZKOLNEJ W BIELSKU-BIAŁEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 30 W BIELSKU-BIAŁEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 31 IM. JANA KOCHANOWSKIEGO W BIELSKU-BIAŁEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 32 IM. JANA III SOBIESKIEGO W BIELSKU-BIAŁEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 33 IM. KORNELA MAKUSZYŃSKIEGO W BIELSKU-BIAŁEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 36 Z ODDZIAŁAMI INTEGRACYJNYMI W ZESPOLE SZKÓŁ OGÓLNOKSZTAŁCĄCYCH IM. ARMII KRAJOWEJ W BIELSKU-BIAŁEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 37 IM. GEN. MARIUSZA ZARUSKIEGO W BIELSKU-BIAŁEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 38 W ZESPOLE SZKÓŁ SAMOCHODOWYCH I OGÓLNOKSZTAŁCĄCYCH W BIELSKU-BIAŁEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 39 DLA DZIECI SŁABOSŁYSZĄCYCH, NIESŁYSZĄCYCH I Z AFAZJĄ IM. MARII GÓRALÓWNY W BIELSKU-BIAŁEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 4 W BIELSKU-BIAŁEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 6 INTEGRACYJNA IM. KAZIMIERZA BRODZIŃSKIEGO W BIELSKU-BIAŁEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 9 IM. TADEUSZA KOŚCIUSZKI W BIELSKU-BIAŁEJ</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 11 IM. JANUSZA KORCZAKA W BIELSKU-BIAŁEJ</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 17 W BIELSKU-BIAŁEJ</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 34 W MŁODZIEŻOWYM OŚRODKU SOCJOTERAPII IM. TADEUSZA KOŚCIUSZKI W BIELSKU-BIAŁEJ</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 35 W SPECJALNYM OŚRODKU SZKOLNO-WYCHOWAWCZYM NR 2 W BIELSKU-BIAŁEJ</li>
        <li>SZKOŁA PODSTAWOWA ZGROMADZENIA CÓREK BOŻEJ MIŁOŚCI IM. FRANCISZKI LECHNER W BIELSKU-BIAŁEJ</li>
        <li>SZKOŁA POLICEALNA "COPERNICUS" W BIELSKU-BIAŁEJ</li>
        <li>SZKOŁA POLICEALNA KOSMETYCZNA "ŻAK"</li>
        <li>SZKOŁA POLICEALNA MEDYCZNA "ŻAK" W BIELSKU-BIAŁEJ</li>
        <li>SZKOŁA POLICEALNA NR 5 W ZESPOLE SZKÓŁ IM. JULIANA TUWIMA W BIELSKU-BIAŁEJ</li>
        <li>SZKOŁA POLICEALNA NR 6 W ZESPOLE SZKÓŁ MEDYCZNYCH I OGÓLNOKSZTAŁCACYCH IM. HANNY CHRZANOWSKIEJ W BIELSKU-BIAŁEJ</li>
        <li>SZKOŁA POLICEALNA NR 7 W BIELSKIM CENTRUM EDUKACJI</li>
        <li>SZKOŁA POLICEALNA W ZESPOLE SZKÓŁ EKONOMICZNYCH IM. MICHAŁA KALECKIEGO W BIELSKU-BIAŁEJ</li>
        <li>SZKOŁA POLICEALNA ZAWODOWA "ŻAK"</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W ZESPOLE SZKÓŁ SPECJALNYCH NR 1 IM. K. I. GAŁCZYŃSKIEGO W BIELSKU-BIAŁEJ</li>
        <li>TALMED SZKOŁA POLICEALNA MEDYCZNA</li>
        <li>TEB EDUKACJA STUDIUM KSZTAŁCENIA PRAKTYCZNEGO</li>
        <li>TECHNIKUM IM. GEN. STANISŁAWA SOSABOWSKIEGO W BIELSKU-BIAŁEJ ZAKŁADU DOSKONALENIA ZAWODOWEGO W KATOWICACH</li>
        <li>TECHNIKUM NR 1 W BIELSKIEJ SZKOLE PRZEMYSŁOWEJ W BIELSKU-BIAŁEJ</li>
        <li>TECHNIKUM NR 11 W ZESPOLE SZKÓŁ IM. JULIANA TUWIMA W BIELSKU-BIAŁEJ</li>
        <li>TECHNIKUM NR 2 W ZESPOLE SZKÓŁ BUDOWLANYCH IM. GENERAŁA STANISŁAWA MACZKA W BIELSKU-BIAŁEJ</li>
        <li>TECHNIKUM NR 3 Z ODDZIAŁAMI INTEGRACYJNYMI W ZESPOLE SZKÓŁ ELEKTRONICZNYCH, ELEKTRYCZNYCH I MECHANICZNYCH IM. JĘDRZEJA ŚNIADECKIEGO W BIELSKU-BIAŁEJ</li>
        <li>TECHNIKUM NR 4 W ZESPOLE SZKÓŁ EKONOMICZNYCH IM. MICHAŁA KALECKIEGO W BIELSKU-BIAŁEJ</li>
        <li>TECHNIKUM NR 5 W ZESPOLE SZKÓŁ SAMOCHODOWYCH I OGÓLNOKSZTAŁCĄCYCH W BIELSKU-BIAŁEJ</li>
        <li>TECHNIKUM NR 7 W ZESPOLE SZKÓŁ TECHNICZNYCH I HANDLOWYCH IM. FRANCISZKA KĘPKI W BIELSKU-BIAŁEJ</li>
        <li>TECHNIKUM NR 8 W ZESPOLE SZKÓŁ GASTRONOMICZNYCH W BIELSKU-BIAŁEJ</li>
        <li>TECHNIKUM OŚRODKA EDUKACJI "SOKRATES"</li>
        <li>TECHNIKUM TEB EDUKACJA W BIELSKU-BIAŁEJ</li>
        <li>TECHNIKUM W BIELSKU-BIAŁEJ</li>
        <li>TERAPEUTYCZNY PUNKT PRZEDSZKOLNY "SŁONECZNA KRAINA"</li>
        <li>V LICEUM OGÓLNOKSZTAŁCĄCE W BIELSKU-BIAŁEJ</li>
        <li>VI LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI INTEGRACYJNYMI W ZESPOLE SZKÓŁ OGÓLNOKSZTAŁCĄCYCH IM. ARMII KRAJOWEJ W BIELSKU-BIAŁEJ</li>
        <li>VII LICEUM OGÓLNOKSZTAŁCĄCE W BIELSKU-BIAŁEJ</li>
        <li>WALDORFSKA SZKOŁA PODSTAWOWA IM. CYPRIANA KAMILA NORWIDA W BIELSKU-BIAŁEJ</li>
        <li>WALDORFSKIE LICEUM OGÓLNOKSZTAŁCĄCE IM. CYPRIANA KAMILA NORWIDA W BIELSKU-BIAŁEJ</li>
        <li>ZAKŁAD DOSKONALENIA ZAWODOWEGO W KATOWICACH CENTRUM KSZTAŁCENIA ZAWODOWEGO W BIELSKU-BIAŁEJ</li>
        <li>ZAKŁAD USŁUG TECHNICZNYCH I SZKOLEŃ ZAWODOWYCH "ERGOTECH"</li>
        <li>ZESPÓŁ PAŃSTWOWYCH SZKÓŁ MUZYCZNYCH IM. STANISŁAWA MONIUSZKI W BIELSKU-BIAŁEJ</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH W BIELSKU-BIAŁEJ</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH W BIELSKU-BIAŁEJ SZKOLNE SCHRONISKO MŁODZIEŻOWE IM. BOLKA I LOLKA</li>
        <li>ZESPÓŁ PORADNI PSYCHOLOGICZNO-PEDAGOGICZNYCH W BIELSKU-BIAŁEJ</li>
        <li>ZESPÓŁ PORADNI PSYCHOLOGICZNO-PEDAGOGICZNYCH W BIELSKU-BIAŁEJ PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA NR 1</li>
        <li>ZESPÓŁ PORADNI PSYCHOLOGICZNO-PEDAGOGICZNYCH W BIELSKU-BIAŁEJ PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA NR 2</li>
        <li>ZESPÓŁ PORADNI PSYCHOLOGICZNO-PEDAGOGICZNYCH W BIELSKU-BIAŁEJ SPECJALISTYCZNA PORADNIA DLA DZIECI Z WADĄ WZROKU, SŁUCHU I AUTYZMEM</li>
        <li>ZESPÓŁ SZKÓŁ BUDOWLANYCH IM.GENERAŁA STANISŁAWA MACZKA W BIELSKU-BIAŁEJ</li>
        <li>ZESPÓŁ SZKÓŁ CENTRUM KSZTAŁCENIA ROLNICZEGO IM. STANISŁAWA SZUMCA W BIELSKU-BIAŁEJ</li>
        <li>ZESPÓŁ SZKÓŁ EKONOMICZNYCH IM. MICHAŁA KALECKIEGO W BIELSKU-BIAŁEJ</li>
        <li>ZESPÓŁ SZKÓŁ ELEKTRONICZNYCH, ELEKTRYCZNYCH I MECHANICZNYCH IM. JĘDRZEJA ŚNIADECKIEGO W BIELSKU-BIAŁEJ</li>
        <li>ZESPÓŁ SZKÓŁ GASTRONOMICZNYCH W BIELSKU-BIAŁEJ</li>
        <li>ZESPÓŁ SZKÓŁ IM. GEN. STANISŁAWA SOSABOWSKIEGO W BIELSKU-BIAŁEJ ZDZ W KATOWICACH</li>
        <li>ZESPÓŁ SZKÓŁ IM. JULIANA TUWIMA W BIELSKU-BIAŁEJ</li>
        <li>ZESPÓŁ SZKÓŁ KATOLICKIEGO TOWARZYSTWA KULTURALNEGO</li>
        <li>ZESPÓŁ SZKÓŁ MEDYCZNYCH I OGÓLNOKSZTAŁCĄCYCH IM. HANNY CHRZANOWSKIEJ W BIELSKU-BIAŁEJ</li>
        <li>ZESPÓŁ SZKÓŁ MEDYCZNYCH I OGÓLNOKSZTAŁCĄCYCH IM.HANNY CHRZANOWSKIEJ - LICEUM OGÓLNOKSZTAŁCĄCE NR VIII</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH IM. ARMII KRAJOWEJ W BIELSKU-BIAŁEJ</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH IM. STEFANA ŻEROMSKIEGO - III LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI DWUJĘZYCZNYMI IM. STEFANA ŻEROMSKIEGO W BIELSKU-BIAŁEJ</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH IM. STEFANA ŻEROMSKIEGO - SZKOŁA PODSTAWOWA NR 22 IM. STEFANA ŻEROMSKIEGO W BIELSKU-BIAŁEJ</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH IM. STEFANA ŻEROMSKIEGO W BIELSKU-BIAŁEJ</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH ZGROMADZENIA CÓREK BOŻEJ MIŁOŚCI</li>
        <li>ZESPÓŁ SZKÓŁ SAMOCHODOWYCH I OGÓLNOKSZTAŁCĄCYCH - INTERNAT</li>
        <li>ZESPÓŁ SZKÓŁ SAMOCHODOWYCH I OGÓLNOKSZTAŁCĄCYCH W BIELSKU-BIAŁEJ</li>
        <li>ZESPÓŁ SZKÓŁ SPECJALNYCH NR 1 IM. K. I. GAŁCZYŃSKIEGO W BIELSKU-BIAŁEJ</li>
        <li>ZESPÓŁ SZKÓŁ SPECJALNYCH NR 2 W BIELSKU-BIAŁEJ</li>
        <li>ZESPÓŁ SZKÓŁ TECHNICZNYCH I HANDLOWYCH IM.FRANCISZKA KĘPKI W BIELSKU-BIAŁEJ</li>

    </ul>
    <a href="ŚLĄSKIE.html">Back to Cities in ŚLĄSKIE</a>
</body>
</html>
