
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Bytom</title>
</head>
<body>
    <h1>Schools in Bytom</h1>
    <ul>
        <li>"EDUKOM" KOMPUTERY KURSY JĘZYKI OBCE ELŻBIETA BALCARCZYK</li>
        <li>"MEGA" CENTRUM ROZWOJU OŚRODKA EDUKACYJNEGO</li>
        <li>AKADEMIA KRASNOLUDKÓW PRZEDSZKOLE MIEJSKIE NR 40</li>
        <li>AKTYWNE PRZEDSZKOLE KOGUT</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA "COSINUS" W BYTOMIU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 1</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 2 IM POWSTAŃCÓW ŚLĄSKICH</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 3 IM. GABRIELA NARUTOWICZA</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 5</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 6</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 7</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 8 SPECJALNA</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA W BYTOMIU ZAKŁADU DOSKONALENIA ZAWODOWEGO W KATOWICACH</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA NR 1 Z ODDZIAŁAMI SPECJALNYMI IM. POWSTAŃCÓW ŚLĄSKICH W BYTOMIU</li>
        <li>BYTOMSKI OŚRODEK EDUKACJI W BYTOMIU</li>
        <li>CENTRUM EDUKACJI "SZANSA"</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO IM.WOJCIECHA KORFANTEGO</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO KALIPSO</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO - BOE</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO W BYTOMIU</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO W BYTOMIU</li>
        <li>CENTRUM SZKOLENIOWE PAPARAZZI ART.</li>
        <li>DZIENNY OŚRODEK REHABILITACYJNO-EDUKACYJNO-WYCHOWAWCZY W BYTOMIU</li>
        <li>GRUPA EDUKACYJNO-SZKOLENIOWA "SOKRATES"</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE IM.JANA SMOLENIA</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE IM. STEFANA ŻEROMSKIEGO W BYTOMIU</li>
        <li>IV LICEUM OGÓLNOKSZTAŁCĄCE IM.BOLESŁAWA CHROBREGO</li>
        <li>IX LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>JERA LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>JERA SZKOŁA PODSTAWOWA DLA DOROSŁYCH W BYTOMIU</li>
        <li>KATOLICKIE PRZEDSZKOLE NIEPUBLICZNE „OCHRONKA” IM. BŁ. EDMUNDA BOJANOWSKIEGO PROWADZONE PRZEZ ZGROMADZENIE SIÓSTR SŁUŻEBNICZEK NAJŚWIĘTSZEJ MARYI PANNY NIEPOKALANIE POCZĘTEJ</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH "COPERNICUS" W BYTOMIU</li>
        <li>LICEUM OGÓLNOKSZTAŁCACE DLA DOROSŁYCH "EDUKACJA" W BYTOMIU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W BYTOMIU ZAKŁADU DOSKNALENIA ZAWODOWEGO W KATOWICACH</li>
        <li>LICEUM OGÓLNOSZTAŁCĄCE DLA DOROSŁYCH CENTRUM EDUKACJI I BIZNESU "KOPERNIK" W BYTOMIU</li>
        <li>MŁODZIEŻOWY DOM KULTURY NR 1</li>
        <li>MŁODZIEŻOWY DOM KULTURY NR 2</li>
        <li>NIEPUBLICZNE CENTRUM KSZTAŁCENIA USTAWICZNEGO I ZAWODOEGO</li>
        <li>NIEPUBLICZNE JĘZYKOWO-SPORTOWE PRZEDSZKOLE Z ODDZIAŁAMI INTEGRACYJNYMI I Z ODDZIAŁAMI SPECJALNYMI „MIRIADA 2”</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "KRAINA ODKRYWCY 2"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "KRAINA ODKRYWCY"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "SŁONECZNA CHATKA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE SPORTOWE WESOŁA RODZINKA</li>
        <li>OGÓLNOKSZTAŁCĄCA SZKOŁA BALETOWA IM.LUDOMIRA RÓŻYCKIEGO</li>
        <li>OGÓLNOKSZTAŁCĄCA SZKOŁA MUZYCZNA I I II STOPNIA IM. F. CHOPINA W BYTOMIU</li>
        <li>OGÓLNOKSZTAŁCĄCA SZKOŁA MUZYCZNA I ST. W BYTOMIU</li>
        <li>OGÓLNOKSZTAŁCĄCA SZKOŁA MUZYCZNA II ST. W BYTOMIU</li>
        <li>OŚRODEK EDUKACYJNY KATOLICKIEJ MISJI DLA NIESŁYSZĄCYCH-NIEPUBLICZNA PLACÓWKA DOSKONALENIA NAUCZYCIELI</li>
        <li>OŚRODEK SZKOLENIA I DORADZTWA ZAWODOWEGO "LEGITIME"</li>
        <li>OŚRODEK SZKOLENIA POLSKIE STOWRZYSZENIE ENERGETYKÓW I ELEKTRYKÓW</li>
        <li>OŚRODEK SZKOLENIA STOWARZYSZENIA INŻYNIERÓW I TECHNIKÓW GÓRNICTWA ODDZIAŁ W BYTOMIU</li>
        <li>OŚRODEK SZKOLENIA ZAWODOWEGO "ADEPT"</li>
        <li>OŚRODEK SZKOLENIOWY "PROFESJA CENTRUM SZKOLENIA KURSOWEGO" W BYTOMIU</li>
        <li>OŚRODEK SZKOLENIOWY BHP-LEX</li>
        <li>OŚRODEK SZKOLENIOWY PRZY CECHU RZEMIOSŁ RÓŻNYCH I PRZEDSIĘBIORCZOŚCI W BYTOMIU</li>
        <li>OŚRODEK SZKOLENIOWY ZAKŁADU USŁUGOWEGO "ELPAX"</li>
        <li>PAŃSTWOWE SZKOŁY BUDOWNICTWA-ZESPÓŁ SZKÓŁ</li>
        <li>PEDAGOGICZNA BIBLIOTEKA WOJEWÓDZKA IM. J. LOMPY W KATOWICACH FILIA W BYTOMIU</li>
        <li>PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA</li>
        <li>PRYWATNA SZKOŁA POLICEALNA DLA DOROSŁYCH</li>
        <li>PRYWATNE PRZEDSZKOLE TYGRYSKOWO</li>
        <li>PRZEDSZKOLE "KAMYKI PATYKI"</li>
        <li>PRZEDSZKOLE MIEJSKIE INTEGRACYJNE NR 8</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 10</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 12</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 14</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 15 W BYTOMIU IM. MISIA USZATKA</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 16</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 18 W BYTOMIU</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 2</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 20</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 21</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 24 W BYTOMIU</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 25 "SŁONECZNY ZAKĄTEK"</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 29</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 3 IM.KUBUSIA PUCHATKA</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 30 W BYTOMIU</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 31</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 32</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 33 W BYTOMIU</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 35</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 36</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 39 ZIELONY ZAKĄTEK</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 4 IM.M.KONOPNICKIEJ</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 42</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 43</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 44</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 45</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 48 W BYTOMIU</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 49 WITAMINKA</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 5 W BYTOMIU</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 51</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 52</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 53</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 54</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 56</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 58</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 59</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 62</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 63 IM. JANUSZA KORCZAKA Z ODDZIAŁAMI INTEGRACYJNYMI</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 9 IM.JULIANA TUWIMA</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "TIKA 2" Z ODDZIAŁAMI SPECJALNYMI</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "TIKA" Z ODDZIAŁAMI INTEGRACYJNYMI I SPECJALNYMI</li>
        <li>SIGMA LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W BYTOMIU</li>
        <li>SIGMA SZKOŁA PODSTAWOWA DLA DOROSŁYCH W BYTOMIU</li>
        <li>SPECJALNY OŚRODEK WYCHOWAWCZY NR 2 W BYTOMIU</li>
        <li>SPOŁECZNA SZKOŁA PODSTAWOWA SPOŁECZNEGO TOWARZYSTWA OŚWIATOWEGO</li>
        <li>STUDIUM EDUKACYJNE "SUKCES"</li>
        <li>SZK.SPEC.PRZYSPOS.DO PRACY DLA UCZN.Z UPOŚL.UMYSŁ.W STOP.UMIAR.LUB ZNACZ.ORAZ DLA UCZN.Z NIEP.SPRZĘŻ.</li>
        <li>SZKOŁA JĘZYKÓW OBCYCH "LEVEL"</li>
        <li>SZKOŁA PODSTAWOWA MISTRZOSTWA SPORTOWEGO IM. KS. JÓZEFA SZAFRANKA</li>
        <li>SZKOŁA PODSTAWOWA NR 16 IM.MARII KONOPNICKIEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 21 IM. JÓZEFA LOMPY</li>
        <li>SZKOŁA PODSTAWOWA NR 23</li>
        <li>SZKOŁA PODSTAWOWA NR 26</li>
        <li>SZKOŁA PODSTAWOWA NR 27 W BYTOMIU</li>
        <li>SZKOŁA PODSTAWOWA NR 28 IM.KRÓLOWEJ JADWIGI</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM.WŁADYSŁAWA BRONIEWSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 32 IM. 1 PUŁKU STRZELCÓW BYTOMSKICH</li>
        <li>SZKOŁA PODSTAWOWA NR 33</li>
        <li>SZKOŁA PODSTAWOWA NR 36 W BYTOMIU</li>
        <li>SZKOŁA PODSTAWOWA NR 37</li>
        <li>SZKOŁA PODSTAWOWA NR 38 IM. JANA III SOBIESKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 4 IM.MIKOŁAJA KOPERNIKA</li>
        <li>SZKOŁA PODSTAWOWA NR 42 IM. ZIEMI BYTOMSKIEJ W BYTOMIU</li>
        <li>SZKOŁA PODSTAWOWA NR 43</li>
        <li>SZKOŁA PODSTAWOWA NR 44 IM.UNICEF</li>
        <li>SZKOŁA PODSTAWOWA NR 45</li>
        <li>SZKOŁA PODSTAWOWA NR 46 IM. BRACTWA KURKOWEGO GRODU BYTOMSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 47</li>
        <li>SZKOŁA PODSTAWOWA NR 5 IM.POLI MACIEJOWSKIEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 51 Z ODDZIAŁAMI INTEGRACYJNYMI W BYTOMIU</li>
        <li>SZKOŁA PODSTAWOWA NR 54 IM. WACŁAWA KUCHARA</li>
        <li>SZKOŁA PODSTAWOWA NR 6 IM. KSIĘDZA GRZEGORZA GERWAZEGO GORCZYCKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 9 IM.ADAMA MICKIEWICZA</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 17</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 2 W BYTOMIU</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 40</li>
        <li>SZKOŁA POLICEALNA "COPERNICUS"</li>
        <li>SZKOŁA POLICEALNA "COSINUS" W BYTOMIU</li>
        <li>SZKOŁA POLICEALNA "ELPAX"IM. JOHNA LENNONA W BYTOMIU</li>
        <li>SZKOŁA POLICEALNA CENTRUM EDUKACJI I BIZNESU "KOPERNIK"</li>
        <li>SZKOŁA POLICEALNA EDUKACJA W BYTOMIU</li>
        <li>SZKOŁA POLICEALNA JERA</li>
        <li>SZKOŁA POLICEALNA NR 1</li>
        <li>SZKOŁA POLICEALNA NR 7</li>
        <li>SZKOŁA POLICEALNA SIGMA</li>
        <li>SZKOŁA POSTAWOWA NR 1 DLA DOROSŁYCH</li>
        <li>TECHNIKUM "COSINUS" W BYTOMIU</li>
        <li>TECHNIKUM BYTOMIU ZAKŁADU DOSKONALENIA ZAWODOWEGO W KATOWICACH</li>
        <li>TECHNIKUM NR 1</li>
        <li>TECHNIKUM NR 2 IM. POWSTAŃCÓW ŚLĄSKICH</li>
        <li>TECHNIKUM NR 3</li>
        <li>TECHNIKUM NR 4 IM. MARII SKŁODOWSKIEJ-CURIE</li>
        <li>TECHNIKUM NR 5</li>
        <li>TECHNIKUM NR 6</li>
        <li>TECHNIKUM NR 9</li>
        <li>V LICEUM OGÓLNOKSZTAŁCĄCE MISTRZOSTWA SPORTOWEGO IM. KAMILI SKOLIMOWSKIEJ W BYTOMIU</li>
        <li>VII LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>X LICEUM OGÓLNOKSZTAŁCĄCE IM. POWSTAŃCÓW ŚLĄSKICH</li>
        <li>ZAKŁAD DOSKONALENIA ZAWODOWEGO W KATOWICACH OŚRODEK KSZTAŁCENIA ZAWODOWEGO W BYTOMIU</li>
        <li>ZAOCZNE LICEUM OGÓLNOKSZTAŁCĄCE "COSINUS" W BYTOMIU</li>
        <li>ZESPÓŁ SZKÓŁ ADMINISTRACYJNO-EKONOMICZNYCH I OGÓLNOKSZTAŁCĄCYCH</li>
        <li>ZESPÓŁ SZKÓŁ GASTRONOMICZNO-HOTELARSKICH</li>
        <li>ZESPÓŁ SZKÓŁ MECHANICZNO-ELEKTRONICZNYCH</li>
        <li>ZESPÓŁ SZKÓŁ PONADGIMNAZJALNYCH PASCAL W BYTOMIU</li>
        <li>ZESPÓŁ SZKÓŁ SPECJALNYCH NR 3</li>
        <li>ZESPÓŁ SZKÓŁ TECHNICZNYCH</li>
        <li>ZESPÓŁ SZKÓŁ USŁUGOWO-RZEMIEŚLNICZYCH</li>
        <li>ZESPÓŁ SZKÓŁ W BYTOMIU ZAKŁADU DOSKONALENIA ZAWODOWEGO W KATOWICACH</li>

    </ul>
    <a href="ŚLĄSKIE.html">Back to Cities in ŚLĄSKIE</a>
</body>
</html>
