
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Wręczyca Wielka</title>
</head>
<body>
    <h1>Schools in Wręczyca Wielka</h1>
    <ul>
        <li>PRZEDSZKOLE Z ODDZIAŁEM INTEGRACYJNYM IM. MAŁEGO KSIĘCIA WE WRĘCZYCY WIELKIEJ</li>
        <li>SZKOŁA PODSTAWOWA IM. A. MICKIEWICZA WE WRĘCZYCY WIELKIEJ</li>

    </ul>
    <a href="ŚLĄSKIE.html">Back to Cities in ŚLĄSKIE</a>
</body>
</html>
