
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Piekary Śląskie</title>
</head>
<body>
    <h1>Schools in Piekary Śląskie</h1>
    <ul>
        <li>AKADEMICKI ZESPÓŁ SZKÓŁ W PIEKARACH ŚLĄSKICH</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA IM. STANISŁAWA LIGONIA W PIEKARACH ŚLĄSKICH</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA W PIEKARACH ŚLĄSKICH</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE IM. KRÓLA JANA III SOBIESKIEGO W PIEKARACH ŚLĄSKICH</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE W PIEKARACH ŚLĄSKICH</li>
        <li>III LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W PIEKARACH ŚLĄSKICH</li>
        <li>ISKIERKA CENTRUM TERAPEUTYCZNO PRZEDSZKOLNE PRZEDSZKOLE NIEPUBLICZNE Z ODDZIAŁEM INTEGRACYJNYM I SPECJALNYM W PIEKARACH ŚLĄSKICH</li>
        <li>IV LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W PIEKARACH ŚLĄSKICH</li>
        <li>KATOLICKA SZKOŁA PODSTAWOWA IM.JOANNY BERETTY MOLLI W PIEKARACH ŚLĄSKICH</li>
        <li>MIEJSKA SZKOŁA PODSTAWOWA NR 1 W PIEKARACH ŚLĄSKICH</li>
        <li>MIEJSKA SZKOŁA PODSTAWOWA NR 11 W PIEKARACH ŚLĄSKICH</li>
        <li>MIEJSKA SZKOŁA PODSTAWOWA NR 12 IM. JANA DEMARCZYKA W PIEKARACH ŚLĄSKICH</li>
        <li>MIEJSKA SZKOŁA PODSTAWOWA NR 13 IM. POWSTAŃCÓW ŚLĄSKICH W PIEKARACH ŚLĄSKICH</li>
        <li>MIEJSKA SZKOŁA PODSTAWOWA NR 14 W PIEKARACH ŚLĄSKICH</li>
        <li>MIEJSKA SZKOŁA PODSTAWOWA NR 15 IM. POWSTAŃCÓW ŚLĄSKICH W PIEKARACH ŚLĄSKICH</li>
        <li>MIEJSKA SZKOŁA PODSTAWOWA NR 16 IM.WOJSKA POLSKIEGO W PIEKARACH ŚLĄSKICH</li>
        <li>MIEJSKA SZKOŁA PODSTAWOWA NR 2 W PIEKARACH ŚLĄSKICH</li>
        <li>MIEJSKA SZKOŁA PODSTAWOWA NR 3 IM. MIŁOŚNIKÓW ZIEMI PIEKARSKIEJ W PIEKARACH ŚLĄSKICH</li>
        <li>MIEJSKA SZKOŁA PODSTAWOWA NR 5 IM. WAWRZYŃCA HAJDY W PIEKARACH ŚLĄSKICH</li>
        <li>MIEJSKA SZKOŁA PODSTAWOWA NR 9 Z ODDZIAŁAMI INTEGRACYJNYMI IM. GUSTAWA MORCINKA W PIEKARACH ŚLĄSKICH</li>
        <li>MIEJSKA SZKOŁA PODSTAWOWA SPECJALNA IM. MARII GRZEGORZEWSKIEJ W PIEKARACH ŚLĄSKICH</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 1 W PIEKARACH ŚLĄSKICH</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 10 POD TOPOLĄ IM. JANUSZA KORCZAKA W PIEKARACH ŚLĄSKICH</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 11 W PIEKARACH ŚLĄSKICH</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 12 W PIEKARACH ŚLĄSKICH</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 13 W PIEKARACH ŚLĄSKICH</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 14 W PIEKARACH ŚLĄSKICH</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 15 W PIEKARACH ŚLĄSKICH</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 17 W PIEKARACH ŚLĄSKICH</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 2 W PIEKARACH ŚLĄSKICH</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 3 W PIEKARACH ŚLĄSKICH</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 4 IM. JANA BRZECHWY W PIEKARACH ŚLĄSKICH</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 5 Z ODDZIAŁAMI INTEGRACYJNYMI W PIEKARACH ŚLĄSKICH</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 7 W PIEKARACH ŚLĄSKICH</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 8 W PIEKARACH ŚLĄSKICH</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 9</li>
        <li>MŁODZIEŻOWY DOM KULTURY NR 2 W PIEKARACH ŚLĄSKICH</li>
        <li>NIEPUBLICZNA SZKOŁA MUZYCZNA I ST. W PIEKARACH ŚLĄSKICH</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE KATOLICKIE ANIOŁA STRÓŻA W PIEKARACH ŚLĄSKICH</li>
        <li>NIEPUBLICZNE TECHNIKUM PRYMUS W PIEKARACH ŚLĄSKICH</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W PIEKARACH ŚLĄSKICH</li>
        <li>PRYWATNA SZKOŁA PODSTAWOWA MISTRZOSTWA SPORTOWEGO W PIEKARACH ŚLĄSKICH</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "PŁOMYK MONTESSORI" W PIEKARACH ŚLĄSKICH</li>
        <li>SZKOŁA POLICEALNA NR 2 W PIEKARACH ŚLĄSKICH</li>
        <li>SZKOŁA PRZYSPOSABIAJĄCA DO PRACY W PIEKARACH ŚLĄSKICH</li>
        <li>TECHNIKUM NR 1 IM. JACKA KARPIŃSKIEGO W PIEKARACH ŚLĄSKICH</li>
        <li>TECHNIKUM NR 2 W PIEKARACH ŚLĄSKICH</li>
        <li>ZESPÓŁ SZKÓŁ NR 1 W PIEKARACH ŚLĄSKICH</li>
        <li>ZESPÓŁ SZKÓŁ SPECJALNYCH W PIEKARACH ŚLĄSKICH</li>
        <li>ZESPÓŁ SZKÓŁ TECHNICZNO-ZAWODOWYCH W PIEKARACH ŚLĄSKICH</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 1 W PIEKARACH ŚLĄSKICH</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 2 W PIEKARACH ŚLĄSKICH</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 3 W PIEKARACH ŚLĄSKICH</li>

    </ul>
    <a href="ŚLĄSKIE.html">Back to Cities in ŚLĄSKIE</a>
</body>
</html>
