
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Jankowice</title>
</head>
<body>
    <h1>Schools in Jankowice</h1>
    <ul>
        <li>NIEPUBLICZNE PRZEDSZKOLE "TROSKLIWE MISIE" JUDYTA MARCINKIEWICZ</li>
        <li>PRZEDSZKOLE W JANKOWICACH</li>
        <li>PRZEDSZKOLE W JANKOWICACH W ZESPOLE SZKOLNO-PRZEDSZKOLNYM W JANKOWICACH</li>
        <li>SZKOŁA PODSTAWOWA IM. STANISŁAWA STASZICA W JANKOWICACH</li>
        <li>SZKOŁA PODSTAWOWA W JANKOWICACH W ZESPOLE SZKOLNO-PRZEDSZKOLNYM W JANKOWICACH</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W JANKOWICACH</li>

    </ul>
    <a href="ŚLĄSKIE.html">Back to Cities in ŚLĄSKIE</a>
</body>
</html>
