
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Jastrzębie-Zdrój</title>
</head>
<body>
    <h1>Schools in Jastrzębie-Zdrój</h1>
    <ul>
        <li>"OGÓLNOPOLSKIE CENTRUM BEZPIECZEŃSTWA" NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO I PRAKTYCZNEGO</li>
        <li>AKADEMIA TALENTÓW BURSA NIEPUBLICZNA PLACÓWKA OPIEKUŃCZO-WYCHOWAWCZA</li>
        <li>BI SYSTEM PIOTR BIAŁECKI</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 1</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 3 IM. POROZUMIENIA JASTRZĘBSKIEGO</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 4 SPECJALNA</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA NR 1</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA NR 2</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO</li>
        <li>CENTRUM SZKOLENIOWE - AP EDUKACJA</li>
        <li>CENTRUM SZKOLENIOWE REACTIVE</li>
        <li>FIRMA HANDLOWO-USŁUGOWA A PRIORI</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI DWUJĘZYCZNYMI IM. STANISŁAWA STASZICA</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>III LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>IV LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH "ŻAK" W JASTRZĘBIU-ZDROJU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE SPECJALNE NR VII</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE TEB EDUKACJA DLA DOROSŁYCH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE TEB EDUKACJA W JASTRZĘBIU-ZDROJU</li>
        <li>MIĘDZYSZKOLNY OŚRODEK SPORTOWY</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO TEB EDUKACJA</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "CEDIT"</li>
        <li>NIEPUBLICZNA SPORTOWA SZKOŁA PODSTAWOWA Z ODDZIAŁAMI MISTRZOSTWA SPORTOWEGO "JASTRZĘBSKI WĘGIEL"</li>
        <li>NIEPUBLICZNA SZKOŁA BRANŻOWA II STOPNIA</li>
        <li>NIEPUBLICZNA SZKOŁA POLICEALNA TEB EDUKACJA W JASTRZĘBIU-ZDROJU</li>
        <li>NIEPUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE MISTRZOSTWA SPORTOWEGO "JASTRZĘBSKI WĘGIEL"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "MALI PASJONACI" Z ODDZIAŁEM INTEGRACYJNYM</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE CENTRUM LOGOPEDYCZNEGO Z ODDZIAŁAMI INTEGRACYJNYMI I ODDZIAŁAMI SPECJALNYMI</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE JĘZYKOWE "SECRET"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE LITTLE GIANTS - MALI GIGANCI</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE TERAPEUTYCZNE "NA MAJOWEJ"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE TERAPEUTYCZNE "SŁONECZNA KRAINA"</li>
        <li>NIEPUBLICZNY OŚRODEK REWALIDACYJNO-WYCHOWAWCZY PRZY ZAKŁADZIE LECZNICZO OPIEKUŃCZYM DLA DZIECI "BETLEJEM" W JASTRZĘBIU-ZDROJU</li>
        <li>NIEPUBLICZNY TERAPEUTYCZNY PUNKT PRZEDSZKOLNY CENTRUM LOGOPEDYCZNEGO W JASTRZĘBIU-ZDROJU</li>
        <li>OŚRODEK KSZTAŁCENIA JSW SZKOLENIE I GÓRNICTWO</li>
        <li>OŚRODEK KSZTAŁCENIA ZAKŁAD WSPARCIA PRODUKCJI JSW S.A.</li>
        <li>OŚRODEK SZKOLENIA PPG "ROW-JAS" SP. Z O.O.</li>
        <li>OŚRODEK SZKOLENIOWY CENTRUM NAUKI I BIZNESU "ŻAK" W JASTRZĘBIU-ZDROJU</li>
        <li>OŚRODEK WSPIERANIA PRZEDSIĘBIORCZOŚCI</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I I II ST. IM. PROF. JÓZEFA ŚWIDRA W JASTRZĘBIU-ZDROJU</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I ST. W JASTRZĘBIU-ZDROJU</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA II ST. W JASTRZĘBIU-ZDROJU</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA</li>
        <li>PRZEDSIĘBIORSTWO USŁUGOWO-SZKOLENIOWE ZAKŁAD SZKOLENIA</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "BEREK"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE Z ODDZIAŁAMI INTEGRACYJNYMI "DZWONECZEK"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE Z ODDZIAŁAMI INTEGRACYJNYMI I SPECJALNYMI "DZWONECZEK II"</li>
        <li>PRZEDSZKOLE POD TĘCZĄ</li>
        <li>PRZEDSZKOLE SPECJALNE IM. MAŁYCH BOHATERÓW W JASTRZĘBIU-ZDROJU</li>
        <li>PUBLICZNA SPECJALISTYCZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "WCZESNEGO WSPOMAGANIA ROZWOJU DZIECKA" W JASTRZĘBIU-ZDROJU</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA SIÓSTR SALEZJANEK IM. MARYI WSPOMOŻYCIELKI W JASTRZĘBIU-ZDROJU</li>
        <li>PUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE SIÓSTR SALEZJANEK IM. MARYI WSPOMOŻYCIELKI</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 10</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 11</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 12 Z ODDZIAŁEM INTEGRACYJNYM</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 13</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 14 Z ODDZIAŁAMI INTEGRACYJNYMI I ODDZIAŁEM SPECJALNYM</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 15</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 16 IM. MISIA USZATKA</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 17 IMIENIA MAJKI JEŻOWSKIEJ</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 18</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 19</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 2</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 20</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 21</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 23</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 24</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 26</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 3</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 4</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 5</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 6</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 7</li>
        <li>PUBLICZNE PRZEDSZKOLE NR 8</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. WOJSKA POLSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 10 IM. MARII SKŁODOWSKIEJ-CURIE</li>
        <li>SZKOŁA PODSTAWOWA NR 12 IM. JERZEGO KUKUCZKI</li>
        <li>SZKOŁA PODSTAWOWA NR 13 IM. KS. FRANCISZKA BLACHNICKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 14 IM. ZIEMI ŚLĄSKIEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 15 IM. MARII KONOPNICKIEJ</li>
        <li>SZKOŁA PODSTAWOWA NR 16 IM. PROF. RUDOLFA RANOSZKA</li>
        <li>SZKOŁA PODSTAWOWA NR 17 IM. JANA BRZECHWY</li>
        <li>SZKOŁA PODSTAWOWA NR 18 IM. HENRYKA SŁAWIKA</li>
        <li>SZKOŁA PODSTAWOWA NR 19 IM. JULIANA TUWIMA</li>
        <li>SZKOŁA PODSTAWOWA NR 2 MISTRZOSTWA SPORTOWEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 20 IM. HENRYKA JORDANA</li>
        <li>SZKOŁA PODSTAWOWA NR 21 IM. PROF. JANA MIODKA</li>
        <li>SZKOŁA PODSTAWOWA NR 22 SPECJALNA</li>
        <li>SZKOŁA PODSTAWOWA NR 3 Z ODDZIAŁAMI MISTRZOSTWA SPORTOWEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 4 IM. LUDWIKA JERZEGO KERNA</li>
        <li>SZKOŁA PODSTAWOWA NR 6 IM. JANUSZA KORCZAKA</li>
        <li>SZKOŁA PODSTAWOWA NR 9 IM. GUSTAWA MORCINKA</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 23 IM. KS. PROF. JÓZEFA TISCHNERA</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 24 W JASTRZĘBIU-ZDROJU</li>
        <li>SZKOŁA PODSTAWOWA Z ODDZIAŁAMI INTEGRACYJNYMI NR 5 IM. WŁADYSŁAWA BRONIEWSKIEGO</li>
        <li>SZKOŁA POLICEALNA BEZPIECZEŃSTWA I HIGIENY PRACY "ŻAK"</li>
        <li>SZKOŁA POLICEALNA CENTRUM NAUKI I BIZNESU "ŻAK"</li>
        <li>SZKOŁA POLICEALNA MEDYCZNA "ŻAK" W JASTRZĘBIU-ZDROJU</li>
        <li>SZKOŁA POLICEALNA NR 2</li>
        <li>SZKOŁA POLICEALNA OPIEKI MEDYCZNEJ "ŻAK" W JASTRZĘBIU-ZDROJU</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY</li>
        <li>TECHNIKUM NR 1</li>
        <li>TECHNIKUM NR 2</li>
        <li>TECHNIKUM NR 4</li>
        <li>TECHNIKUM NR 5</li>
        <li>TECHNIKUM SPECJALNE NR 6</li>
        <li>TECHNIKUM TEB EDUKACJA W JASTRZĘBIU-ZDROJU</li>
        <li>TOWER SZKOŁA JĘZYKA ANGIELSKIEGO PIOTR DYRDA</li>
        <li>V LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>VI LICEUM OGÓLNOKSZTAŁCĄCE MISTRZOSTWA SPORTOWEGO</li>
        <li>ZESPÓŁ SZKÓŁ MISTRZOSTWA SPORTOWEGO</li>
        <li>ZESPÓŁ SZKÓŁ MISTRZOSTWA SPORTOWEGO "JASTRZĘBSKI WĘGIEL"</li>
        <li>ZESPÓŁ SZKÓŁ NR 2 IM. WOJCIECHA KORFANTEGO</li>
        <li>ZESPÓŁ SZKÓŁ NR 5 IM. JANA PAWŁA II</li>
        <li>ZESPÓŁ SZKÓŁ NR 6 IM. KRÓLA JANA III SOBIESKIEGO</li>
        <li>ZESPÓŁ SZKÓŁ NR 9 SPECJALNYCH IM. DR MIKOŁAJA WITCZAKA</li>
        <li>ZESPÓŁ SZKÓŁ SIÓSTR SALEZJANEK</li>
        <li>ZESPÓŁ SZKÓŁ SPECJALNYCH PRZY WOJEWÓDZKIM SZPITALU REHABILITACYJNYM DLA DZIECI W JASTRZĘBIU ZDROJU</li>
        <li>ZESPÓŁ SZKÓŁ TECHNICZNO-BRANŻOWYCH</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 1</li>

    </ul>
    <a href="ŚLĄSKIE.html">Back to Cities in ŚLĄSKIE</a>
</body>
</html>
