
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Łękawica</title>
</head>
<body>
    <h1>Schools in Łękawica</h1>
    <ul>
        <li>SZKOŁA PODSTAWOWA IM. GÓRALI ŻYWIECKICH W OKRAJNIKU</li>
        <li>ZESPÓŁ SZKÓŁ PRZEDSZKOLE W ŁĘKAWICY</li>
        <li>ZESPÓŁ SZKÓŁ SZKOŁA PODSTAWOWA IM. BŁ. O. MICHAŁA TOMASZKA W ŁĘKAWICY</li>
        <li>ZESPÓŁ SZKÓŁ W ŁĘKAWICY</li>

    </ul>
    <a href="ŚLĄSKIE.html">Back to Cities in ŚLĄSKIE</a>
</body>
</html>
