
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Rudziczka</title>
</head>
<body>
    <h1>Schools in Rudziczka</h1>
    <ul>
        <li>PRZEDSZKOLE PUBLICZNE IM. POWSTAŃCÓW ŚLĄSKICH W RUDZICZCE</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA IM. BOHATERÓW OŚWIĘCIMSKICH W RUDZICZCE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W RUDZICZCE</li>

    </ul>
    <a href="ŚLĄSKIE.html">Back to Cities in ŚLĄSKIE</a>
</body>
</html>
