
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Małusy Wielkie</title>
</head>
<body>
    <h1>Schools in Małusy Wielkie</h1>
    <ul>
        <li>PRZEDSZKOLE W MAŁUSACH WIELKICH</li>
        <li>SZKOŁA PODSTAWOWA IM. MIECZYSŁAWA WIERZBY W MAŁUSACH WIELKICH</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W MAŁUSACH WIELKICH</li>

    </ul>
    <a href="ŚLĄSKIE.html">Back to Cities in ŚLĄSKIE</a>
</body>
</html>
