
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Łodygowice</title>
</head>
<body>
    <h1>Schools in Łodygowice</h1>
    <ul>
        <li>NIEPUBLICZNE PRZEDSZKOLE PLUSZOWY ZAKĄTEK</li>
        <li>PRYWATNE PRZEDSZKOLE ELF MGR AGNIESZKA BUJAKOWSKA</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 1 IM. OTTONA KLOBUSA W ŁODYGOWICACH</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 2 W ŁODYGOWICACH</li>
        <li>PRZEDSZKOLE PUBLICZNE NR 3 W ŁODYGOWICACH</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. KRÓLOWEJ JADWIGI W ŁODYGOWICACH</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. WŁADYSŁAWA JAGIEŁŁY W ŁODYGOWICACH</li>
        <li>SZKOŁA PODSTAWOWA NR 3 SPECJALNA W ŁODYGOWICACH</li>
        <li>TERAPEUTYCZNY PUNKT PRZEDSZKOLNY "SERDUSZKOWA KRAINA"</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W ŁODYGOWICACH</li>

    </ul>
    <a href="ŚLĄSKIE.html">Back to Cities in ŚLĄSKIE</a>
</body>
</html>
