
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Strzyżowice</title>
</head>
<body>
    <h1>Schools in Strzyżowice</h1>
    <ul>
        <li>PRZEDSZKOLE PUBLICZNE IM. MISIA USZATKA W STRZYŻOWICACH</li>
        <li>SZKOŁA PODSTAWOWA IM. STANISŁAWA POLAKOWSKIEGO W STRZYŻOWICACH</li>
        <li>ZESPÓŁ SZKOLNO - PRZEDSZKOLNY NR 1 W STRZYŻOWICACH</li>

    </ul>
    <a href="ŚLĄSKIE.html">Back to Cities in ŚLĄSKIE</a>
</body>
</html>
