
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Pszów</title>
</head>
<body>
    <h1>Schools in Pszów</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W PSZOWIE</li>
        <li>PRZEDSZKOLE NR 1 IM. MISIA USZATKA W PSZOWIE</li>
        <li>PRZEDSZKOLE NR 2 IMIENIA PSZOWSKICH KRASNALI W PSZOWIE</li>
        <li>PRZEDSZKOLE NR 3 W PSZOWIE</li>
        <li>PRZEDSZKOLE NR 4 W PSZOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 1 W PSZOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 2 W PSZOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 3 W PSZOWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 4 W PSZOWIE</li>
        <li>TECHNIKUM W PSZOWIE</li>
        <li>ZESPÓŁ SZKÓŁ PONADPODSTAWOWYCH W PSZOWIE</li>

    </ul>
    <a href="ŚLĄSKIE.html">Back to Cities in ŚLĄSKIE</a>
</body>
</html>
