
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Orzesze</title>
</head>
<body>
    <h1>Schools in Orzesze</h1>
    <ul>
        <li>AKADEMIA MALUCHA "ZACZAROWANA KRAINA"</li>
        <li>DOMOWE PRZEDSZKOLE "PICCOLO"</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE SPECJALNE NR II</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "HAPPY KIDS"</li>
        <li>PRZEDSZKOLE NR 2 ORZESZKOWE BRZDĄCE</li>
        <li>PRZEDSZKOLE NR 3 TĘCZOWY PROMYK</li>
        <li>PRZEDSZKOLE NR 6 IM. "ZDROWE JAGÓDKI"</li>
        <li>PRZEDSZKOLE NR 7</li>
        <li>PRZEDSZKOLE Z ODDZIAŁEM INTEGRACYJNYM NR 1</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. POLEGŁYCH NA PASTERNIOKU W ORZESZU</li>
        <li>SZKOŁA PODSTAWOWA NR 10 IM. GUSTAWA MORCINKA</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. STANISŁAWA MONIUSZKI</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. STANISŁAWA LIGONIA</li>
        <li>SZKOŁA PODSTAWOWA NR 4 IM.FRANCISZKA STUSKA</li>
        <li>SZKOŁA PODSTAWOWA NR 5 IM. JANUSZA KORCZAKA</li>
        <li>SZKOŁA PODSTAWOWA NR 6 IM. ALFREDA SZKLARSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 7 IM. HENRYKA SIENKIEWICZA</li>
        <li>SZKOŁA PODSTAWOWA NR 8 IM.BOLESŁAWA CHROBREGO</li>
        <li>SZKOŁA PODSTAWOWA NR 9 IM.WŁADYSŁAWA BRONIEWSKIEGO W ORZESZU-ZGONIU</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 11 W ORZESZU</li>
        <li>ZAKŁAD SZKOLEŃ BHP JAN GORGOŃ</li>
        <li>ZESPÓŁ SZKÓŁ SPECJALNYCH PRZY OŚRODKU TERAPII NERWIC DLA DZIECI I MŁODZIEŻY W ORZESZU</li>

    </ul>
    <a href="ŚLĄSKIE.html">Back to Cities in ŚLĄSKIE</a>
</body>
</html>
