
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Żarki</title>
</head>
<body>
    <h1>Schools in Żarki</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W ŻARKACH ZAKŁADU DOSKONALENIA ZAWODOWEGO W KATOWICACH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W ŻARKACH ZAKŁADU DOSKONALENIA ZAWODOWEGO W KATOWICACH</li>
        <li>OŚRODEK REWALIDACYJNO-WYCHOWAWCZY DLA DZIECI I MŁODZIEŻY NIEPEŁNOSPRAWNEJ W ŻARKACH</li>
        <li>PRZEDSZKOLE PUBLICZNE W ZARKACH Z ODDZIAŁEM W KOTOWICACH</li>
        <li>SZKOŁA PODSTAWOWA IM. WŁADYSŁAWA SZAFERA W ŻARKACH</li>
        <li>SZKOLNE SCHRONISKO MŁODZIEŻOWE PRZY ZESPOLE SZKÓŁ W ŻARKACH</li>
        <li>ZAKŁAD DOSKONALENIA ZAWODOWEGO W KATOWICACH OŚRODEK KSZTAŁCENIA ZAWODOWEGO W ŻARKACH</li>
        <li>ZESPÓŁ SZKÓŁ IM. T.KOŚCIUSZKI SZKOŁA POLICEALNA W ŻARKACH</li>
        <li>ZESPÓŁ SZKÓŁ IM. TADEUSZA KOŚCIUSZKI W ŻARKACH</li>
        <li>ZESPÓŁ SZKÓŁ IM.T.KOŚCIUSZKI LICEUM OGÓLNOKSZTAŁCĄCE W ŻARKACH</li>
        <li>ZESPÓŁ SZKÓŁ IM.T.KOŚCIUSZKI TECHNIKUM W ŻARKACH</li>
        <li>ZESPÓŁ SZKÓŁ W ŻARKACH ZDZ W KATOWICACH</li>

    </ul>
    <a href="ŚLĄSKIE.html">Back to Cities in ŚLĄSKIE</a>
</body>
</html>
