
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Rędziny</title>
</head>
<body>
    <h1>Schools in Rędziny</h1>
    <ul>
        <li>GMINNE PRZEDSZKOLE PUBLICZNE IM. JANA BRZECHWY W RĘDZINACH</li>
        <li>GMINNE PRZEDSZKOLE PUBLICZNE W RĘDZINACH - OSIEDLU</li>
        <li>SZKOŁA PODSTAWOWA IM. G. MORCINKA W RĘDZINACH</li>
        <li>SZKOŁA PODSTAWOWA IM. K. PUŁASKIGO W RĘDZINACH OSIEDLU</li>
        <li>ZESPÓŁ SZKOLNO - PRZEDSZKOLNY NR 1 W RĘDZINACH</li>
        <li>ZESPÓŁ SZKOLNO - PRZEDSZKOLNY NR 2 W RĘDZINACH</li>

    </ul>
    <a href="ŚLĄSKIE.html">Back to Cities in ŚLĄSKIE</a>
</body>
</html>
