
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Kuźnia Raciborska</title>
</head>
<body>
    <h1>Schools in Kuźnia Raciborska</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA SPECJALNA</li>
        <li>MŁODZIEŻOWY OŚRODEK WYCHOWAWCZY W KUŹNI RACIBORSKIEJ</li>
        <li>PRZEDSZKOLE NR 1 W KUŹNI RACIBORSKIEJ Z ODDZIAŁEM ZAMIEJSCOWYM W TURZU</li>
        <li>PRZEDSZKOLE NR 2 W KUŹNI RACIBORSKIEJ</li>
        <li>SZKOŁA PODSTAWOWA IM. JANA WAWRZYNKA W KUŹNI RACIBORSKIEJ</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 2 W KUŹNI RACIBORSKIEJ</li>

    </ul>
    <a href="ŚLĄSKIE.html">Back to Cities in ŚLĄSKIE</a>
</body>
</html>
