
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Książenice</title>
</head>
<body>
    <h1>Schools in Książenice</h1>
    <ul>
        <li>NIEPUBLICZNA SZKOŁA MUZYCZNA I ST. EGIDA W KSIĄŻENICACH</li>
        <li>NIEPUBLICZNA SZKOŁA MUZYCZNA II ST. EGIDA W KSIĄŻENICACH</li>
        <li>SZKOŁA PODSTAWOWA IM. ST.LIGONIA W KSIĄŻENICACH</li>

    </ul>
    <a href="ŚLĄSKIE.html">Back to Cities in ŚLĄSKIE</a>
</body>
</html>
