
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Sosnowiec</title>
</head>
<body>
    <h1>Schools in Sosnowiec</h1>
    <ul>
        <li>"SPEAK UP"</li>
        <li>AKADEMICKI ZESPÓŁ SZKÓŁ PRYWATNYCH W SOSNOWCU</li>
        <li>ANGLO-ROBOLAND PLACÓWKA OŚWIATOWA</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 1 W SOSNOWCU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 10 W SOSNOWCU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 2 W SOSNOWCU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 3 ARCHITEKTONICZNO-BUDOWLANA W SOSNOWCU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 4 GASTRONOMICZNA W SOSNOWCU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 6 TRANSPORTOWA W SOSNOWCU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 7 SAMOCHODOWO-MECHATRONICZNA IM. JANA KILIŃSKIEGO W SOSNOWCU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 8 IM. LEGIONÓW POLSKICH W SOSNOWCU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 9 RZEMIEŚLNICZO-ARTYSTYCZNA W SOSNOWCU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA SPECJALNA W SOSNOWCU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA W SOSNOWCU ZAKŁADU DOSKONALENIA ZAWODOWEGO W KATOWICACH</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA NR 1 W SOSNOWCU W CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO W SOSNOWCU UL. GROTA ROWECKIEGO 64</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA NR 2 W SOSNOWCU W CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO W SOSNOWCU UL. KILIŃSKIEGO 25</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA W SOSNOWCU ZAKŁADU DOSKONALENIA ZAWODOWEGO W KATOWICACH</li>
        <li>BURSA SZKOLNA W SOSNOWCU</li>
        <li>CENTRUM DOSKONALENIA NAUCZYCIELI W SOSNOWCU</li>
        <li>CENTRUM EDUKACJI NOWE ZAGŁĘBIE</li>
        <li>CENTRUM KSZTAŁCENIA SZKOLENIA ZAWODOWEGO "SPORTUS"</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO W SOSNOWCU</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO TECHNIKUM NR 1 EKONOMICZNE W SOSNOWCU, UL. GROTA ROWECKIEGO 66</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO TECHNIKUM NR 2 ARCHITEKTONICZNO-BUDOWLANE W SOSNOWCU, UL. BRACI MIEROSZEWSKICH 42</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO TECHNIKUM NR 3 GASTRONOMICZNO-HOTELARSKIE W SOSNOWCU, UL. WAWEL 1</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO TECHNIKUM NR 4 TRANSPORTOWE W SOSNOWCU, UL. KILIŃSKIEGO 31</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO TECHNIKUM NR 5 SAMOCHODOWO-MECHATRONICZNE IM. JANA KILIŃSKIEGO W SOSNOWCU, UL. KILIŃSKIEGO 25</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO TECHNIKUM NR 6 GRAFIKI, LOGISTYKI I ŚRODOWISKA IM. LEGIONÓW POLSKICH W SOSNOWCU, UL. LEGIONÓW 9</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO TECHNIKUM NR 7 PROJEKTOWANIA I STYLIZACJI UBIORU W SOSNOWCU, UL. GROTA ROWECKIEGO 64</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO W SOSNOWCU UL. GROTA ROWECKIEGO 64</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO W SOSNOWCU UL. KILIŃSKIEGO 25</li>
        <li>CENTRUM SZKOLEŃ TŁUMACZENIOWYCH</li>
        <li>CENTRUM SZKOLENIA "OSTOJA"</li>
        <li>CENTRUM SZKOLENIA COBRA SYSTEM</li>
        <li>CENTRUM SZKOLENIA ZAWODOWEGO X-COM</li>
        <li>CENTRUM SZKOLENIOWO-DORADCZE "ASECO"</li>
        <li>EDUKACYJNE CENTRUM ROZWOJU - PLACÓWKA SZKOLENIOWA</li>
        <li>HASEC-BHP</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI DWUJĘZYCZNYMI IM. EMILII PLATER W SOSNOWCU</li>
        <li>III LICEUM OGÓLNOKSZTAŁCĄCE MISTRZOSTWA SPORTOWEGO IM. BOLESŁAWA PRUSA W SOSNOWCU</li>
        <li>III PRYWATNE LICEUM OGÓLNOKSZTAŁCĄCE "SZKOŁY OTWARTEGO MYŚLENIA"</li>
        <li>IV LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI DWUJĘZYCZNYMI IM. STANISŁAWA STASZICA W SOSNOWCU</li>
        <li>IX LICEUM OGÓLNOKSZTAŁCĄCE IM. WISŁAWY SZYMBORSKIEJ W SOSNOWCU</li>
        <li>KATOLICKA NIEPUBLICZNA SZKOŁA PODSTAWOWA</li>
        <li>KATOLICKIE LICEUM OGÓLNOKSZTAŁCĄCE IM.ŚW.JANA BOSKO PRZY PARAFII ŚW.TOMASZA APOSTOŁA</li>
        <li>KATOLICKIE LICEUM OGÓLNOKSZTAŁCĄCE KANA</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W SOSNOWCU</li>
        <li>MEDYCZNA SZKOŁA POLICEALNA WOJEWÓDZTWA ŚLĄSKIEGO W SOSNOWCU</li>
        <li>MIĘDZYSZKOLNY OŚRODEK SPORTOWY W SOSNOWCU</li>
        <li>NIEPUBLICZNA POLICEALNA SZKOŁA FARMACEUTYCZNA "MEDAN"</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "ALTER" W SOSNOWCU</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "MERITUM"</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA PRZY CENTRUM EDUKACYJNYM TULIPANÓW</li>
        <li>NIEPUBLICZNA SZKOŁA POLICEALNA CENTRUM NAUKI I BIZNESU "ŻAK" W SOSNOWCU</li>
        <li>NIEPUBLICZNA SZKOŁA POLICEALNA KOSMETYKI "ŻAK" W SOSNOWCU</li>
        <li>NIEPUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH "ŻAK" W SOSNOWCU</li>
        <li>NIEPUBLICZNE POLICYJNE LICEUM OGÓLNOKSZTAŁCĄCE "AS"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "AKADEMIA KOLOROWYCH PODRÓŻY"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "BAJKOWO I SPORTOWO"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "CALINECZKA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "ELFIK"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "MALI EINSTEINI"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "RADOSNA WYSPA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE ANGLOJĘZYCZNE "OXFORD"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE EUKLIDESA</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE INTEGRACYJNE "WESOŁE PRZEDSZKOLE"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE INTEGRACYJNE ZE SPECJALNOŚCIĄ JĘZYKOWO-ARTYSTYCZNĄ "MISTRZOWIE ZABAWY"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE MAŁEGO SPORTOWCA "BAJKOWO I SPORTOWO"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE PRZY CENTRUM EDUKACYJNYM "TULIPANÓW"</li>
        <li>OGNISKO PRACY POZASZKOLNEJ NR 1 W SOSNOWCU</li>
        <li>OGNISKO PRACY POZASZKOLNEJ NR 2 W SOSNOWCU</li>
        <li>OŚRODEK DOSKONALENIA NAUCZYCIELI HUMANITAS</li>
        <li>OŚRODEK DOSKONALENIA NAUCZYCIELI SOSNOWIECKIEGO CENTRUM EDUKACYJNEGO "EDUKATOR"</li>
        <li>OŚRODEK KURSÓW I SZKOLEŃ GRUPA "WOLF"</li>
        <li>OŚRODEK KURSOWY STOWARZYSZENIA KUPCÓW POLSKICH</li>
        <li>OŚRODEK SZKOLEŃ, PROMOCJI ZATRUDNIENIA I DORADZTWA ZAWODOWEGO</li>
        <li>OŚRODEK SZKOLENIA ZAWODOWEGO</li>
        <li>OŚRODEK SZKOLENIOWY "PRYMUS"</li>
        <li>OŚRODEK SZKOLENIOWY CENTRUM NAUKI I BIZNESU "ŻAK" W SOSNOWCU</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I STOPNIA IM. JANA KIEPURY W SOSNOWCU</li>
        <li>PEDAGOGICZNA BIBLIOTEKA WOJEWÓDZKA IM. J. LOMPY W KATOWICACH FILIA W SOSNOWCU</li>
        <li>PIERWSZE AKADEMICKIE NIEPUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>PLACÓWKA KSZTAŁCENIA USTAWICZNEGO PRZY CECHU RZEMIOSŁ RÓŻNYCH, MAŁEJ I ŚREDNIEJ PRZEDSIĘBIORCZOŚCI</li>
        <li>PLACÓWKA OŚWIATOWA DLA DOROSŁYCH "DZIECKO"</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA NR 1 W SOSNOWCU</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA NR 2 W SOSNOWCU</li>
        <li>PRYWATNA SZKOŁA JĘZYKA ANGIELSKIEGO "EUROLINGUA"</li>
        <li>PRYWATNA SZKOŁA PODSTAWOWA "AKADEMIA MŁODYCH"</li>
        <li>PRYWATNA SZKOŁA PODSTAWOWA NR 1 W SOSNOWCU</li>
        <li>PRYWATNA SZKOŁA PODSTAWOWA NR 5 "TWOJA PRZYSZŁOŚĆ"</li>
        <li>PRYWATNE LICEUM OGÓLNOKSZTAŁCĄCE NR 1</li>
        <li>PRYWATNE PRZEDSZKOLE "BOLEK I LOLEK"</li>
        <li>PRYWATNE PRZEDSZKOLE "SKRZATY Z PRZYSZŁOŚCIĄ"</li>
        <li>PRZEDSZKOLE "PAJACYK" W ZESPOLE SZKOLNO-PRZEDSZKOLNYM "MODRZEJÓW" W SOSNOWCU</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 11 W SOSNOWCU</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 12 W SOSNOWCU</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 14 W SOSNOWCU</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 15 W SOSNOWCU</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 18 W SOSNOWCU</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 19 W SOSNOWCU</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 2 W SOSNOWCU</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 20 W SOSNOWCU</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 22 W SOSNOWCU</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 25 W SOSNOWCU</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 27 W SOSNOWCU</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 28 W SOSNOWCU</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 29 W SOSNOWCU</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 3 W SOSNOWCU</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 30 W SOSNOWCU</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 31 IM. JANA BRZECHWY W SOSNOWCU</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 33 W SOSNOWCU</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 34 W SOSNOWCU</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 35 W SOSNOWCU</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 36 W SOSNOWCU</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 38 W SOSNOWCU</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 39 W SOSNOWCU</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 40 W SOSNOWCU</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 43 Z ODDZIAŁAMI INTEGRACYJNYMI W SOSNOWCU</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 44 W SOSNOWCU</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 45 W SOSNOWCU</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 46 W SOSNOWCU</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 47 W SOSNOWCU</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 5 W SOSNOWCU</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 50 W SOSNOWCU</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 51 W SOSNOWCU</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 52 W SOSNOWCU</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 53 IM. KORNELA MAKUSZYŃSKIEGO W SOSNOWCU</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 54 W SOSNOWCU</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 55 Z ODDZIAŁAMI DLA DZIECI SPECJALNEJ TROSKI W SOSNOWCU</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 56 Z ODDZIAŁEM SPECJALNYM W SOSNOWCU</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 57 IM. MARII KONOPNICKIEJ W SOSNOWCU</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 59 W SOSNOWCU</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 7 W SOSNOWCU</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "AKADEMIA PANA KLEKSA"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "BABY PLANET"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "DOMOWE PRZEDSZKOLE"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "SŁONECZNA SZÓSTKA"</li>
        <li>REGIONALNE CENTRUM KSZTAŁCENIA USTAWICZNEGO W SOSNOWCU</li>
        <li>SPORTOWA SZKOŁA PODSTAWOWA NR 17 W SOSNOWCU</li>
        <li>STYL OŚRODEK SZKOLENIOWY</li>
        <li>SZKOŁA MUZYCZNA II STOPNIA W SOSNOWCU</li>
        <li>SZKOŁA PODSTAWOWA "ATENA"</li>
        <li>SZKOŁA PODSTAWOWA DLA DOROSŁYCH W SOSNOWCU</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. STANISŁAWA KONARSKIEGO W SOSNOWCU</li>
        <li>SZKOŁA PODSTAWOWA NR 10 IM. ORŁA BIAŁEGO W SOSNOWCU</li>
        <li>SZKOŁA PODSTAWOWA NR 11 "MODRZEJÓW" W ZESPOLE SZKOLNO-PRZEDSZKOLNYM "MODRZEJÓW" W SOSNOWCU</li>
        <li>SZKOŁA PODSTAWOWA NR 12 IM. JANA III SOBIESKIEGO W SOSNOWCU</li>
        <li>SZKOŁA PODSTAWOWA NR 13 W SOSNOWCU</li>
        <li>SZKOŁA PODSTAWOWA NR 15 IM. STEFANA ŻEROMSKIEGO W SOSNOWCU</li>
        <li>SZKOŁA PODSTAWOWA NR 16 IM. JANA MATEJKI W SOSNOWCU</li>
        <li>SZKOŁA PODSTAWOWA NR 18 IM. IGNACEGO KRASICKIEGO W SOSNOWCU</li>
        <li>SZKOŁA PODSTAWOWA NR 19 IM. MARII SKŁODOWSKIEJ-CURIE W SOSNOWCU</li>
        <li>SZKOŁA PODSTAWOWA NR 20 IM. MIKOŁAJA KOPERNIKA W SOSNOWCU</li>
        <li>SZKOŁA PODSTAWOWA NR 21 IM. KRÓLA WŁADYSŁAWA JAGIEŁŁY W SOSNOWCU</li>
        <li>SZKOŁA PODSTAWOWA NR 22 IM. AGATY MRÓZ W SOSNOWCU</li>
        <li>SZKOŁA PODSTAWOWA NR 23 Z ODDZIAŁAMI DWUJĘZYCZNYMI SZKOŁA RADOŚCI W SOSNOWCU</li>
        <li>SZKOŁA PODSTAWOWA NR 25 IM. JULIUSZA SŁOWACKIEGO W SOSNOWCU</li>
        <li>SZKOŁA PODSTAWOWA NR 27 IM. STANISŁAWA WYSPIAŃSKIEGO W SOSNOWCU</li>
        <li>SZKOŁA PODSTAWOWA NR 29 IM. WŁADYSŁAWA BRONIEWSKIEGO W SOSNOWCU</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. ELIZY ORZESZKOWEJ W SOSNOWCU</li>
        <li>SZKOŁA PODSTAWOWA NR 32 IM. LEONA KRUCZKOWSKIEGO W SOSNOWCU</li>
        <li>SZKOŁA PODSTAWOWA NR 33 Z ODDZIAŁAMI SPECJALNYMI IM. ADAMA MICKIEWICZA W SOSNOWCU</li>
        <li>SZKOŁA PODSTAWOWA NR 35 IM. ARMII KRAJOWEJ W SOSNOWCU</li>
        <li>SZKOŁA PODSTAWOWA NR 36 IM. STANISŁAWA STASZICA W SOSNOWCU</li>
        <li>SZKOŁA PODSTAWOWA NR 37 IM. HENRYKA SIENKIEWICZA W SOSNOWCU</li>
        <li>SZKOŁA PODSTAWOWA NR 38 IM. TADEUSZA KOŚCIUSZKI W SOSNOWCU</li>
        <li>SZKOŁA PODSTAWOWA NR 39 IM. KORNELA MAKUSZYŃSKIEGO W SOSNOWCU</li>
        <li>SZKOŁA PODSTAWOWA NR 4 IM. JULIANA TUWIMA W SOSNOWCU</li>
        <li>SZKOŁA PODSTAWOWA NR 40 W SOSNOWCU</li>
        <li>SZKOŁA PODSTAWOWA NR 42 W SOSNOWCU</li>
        <li>SZKOŁA PODSTAWOWA NR 45 Z ODDZIAŁAMI DWUJĘZYCZNYMI IM. JANUSZA KORCZAKA W SOSNOWCU</li>
        <li>SZKOŁA PODSTAWOWA NR 46 IM. JANA KIEPURY W SOSNOWCU</li>
        <li>SZKOŁA PODSTAWOWA NR 47 IM. JANA BRZECHWY W SOSNOWCU</li>
        <li>SZKOŁA PODSTAWOWA NR 48 MISTRZOSTWA SPORTOWEGO W SOSNOWCU</li>
        <li>SZKOŁA PODSTAWOWA NR 6 Z ODDZIAŁAMI DWUJĘZYCZNYMI IM. JULIUSZA SŁOWACKIEGO W SOSNOWCU</li>
        <li>SZKOŁA PODSTAWOWA NR 8 IM. KAROLA WOJTYŁY W SOSNOWCU</li>
        <li>SZKOŁA PODSTAWOWA NR 9 IM. MARII KONOPNICKIEJ W SOSNOWCU</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 30 IM. STEFANII SEMPOŁOWSKIEJ W SOSNOWCU</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 44 IM. MARII GRZEGORZEWSKIEJ W SOSNOWCU</li>
        <li>SZKOŁA POLICEALNA MEDYCZNA "ŻAK" W SOSNOWCU</li>
        <li>SZKOŁA POLICEALNA NR 1 W SOSNOWCU</li>
        <li>SZKOŁA POLICEALNA NR 2 W SOSNOWCU</li>
        <li>SZKOŁA POLICEALNA NR 3 W SOSNOWCU</li>
        <li>SZKOŁA POLICEALNA NR 4 W SOSNOWCU</li>
        <li>SZKOŁA POLICEALNA NR 5 W SOSNOWCU</li>
        <li>SZKOŁA POLICEALNA NR 6 W SOSNOWCU</li>
        <li>SZKOŁA POLICEALNA NR 7 W SOSNOWCU</li>
        <li>SZKOŁA POLICEALNA NR 8 W SOSNOWCU</li>
        <li>SZKOŁA POLICEALNA OPIEKI MEDYCZNEJ "ŻAK" W SOSNOWCU</li>
        <li>SZKOŁA POLICEALNA W SOSNOWCU</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W SOSNOWCU</li>
        <li>SZKOŁY OTWARTEGO MYŚLENIA</li>
        <li>TAURUS INC JACEK SZUBERT NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO DLA DOROSŁYCH</li>
        <li>TECHNIKUM NR 8 W SOSNOWCU</li>
        <li>TECHNIKUM W SOSNOWCU ZAKŁADU DOSKONALENIA ZAWODOWEGO W KATOWICACH</li>
        <li>VI LICEUM OGÓLNOKSZTAŁCĄCE IM. JANUSZA KORCZAKA W SOSNOWCU</li>
        <li>VI NIEPUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>VII LICEUM OGÓLNOKSZTAŁCĄCE IM. KRZYSZTOFA KAMILA BACZYŃSKIEGO W SOSNOWCU</li>
        <li>ZAKŁAD DOSKONALENIA ZAWODOWEGO W KATOWICACH CENTRUM KSZTAŁCENIA ZAWODOWEGO W SOSNOWCU</li>
        <li>ZAKŁAD USŁUGOWO-DORADCZY BHP I PPOŻ "UMI"</li>
        <li>ZESPÓŁ SZKÓŁ ATENA</li>
        <li>ZESPÓŁ SZKÓŁ ELEKTRONICZNYCH I INFORMATYCZNYCH W SOSNOWCU</li>
        <li>ZESPÓŁ SZKÓŁ KATOLICKICH IM. ŚW. JANA BOSKO PARAFII ŚW. TOMASZA APOSTOŁA W SOSNOWCU</li>
        <li>ZESPÓŁ SZKÓŁ MUZYCZNYCH W SOSNOWCU</li>
        <li>ZESPÓŁ SZKÓŁ NR 2 W SOSNOWCU</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH NR 11 W SOSNOWCU</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH NR 14 W SOSNOWCU</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH NR 3 W SOSNOWCU</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH NR 5 Z ODDZIAŁAMI INTEGRACYJNYMI I SPECJALNYMI W SOSNOWCU</li>
        <li>ZESPÓŁ SZKÓŁ PRYWATNYCH "TWOJA PRZYSZŁOŚĆ"</li>
        <li>ZESPÓŁ SZKÓŁ SPECJALNYCH NR 4 W SOSNOWCU</li>
        <li>ZESPÓŁ SZKÓŁ W SOSNOWCU ZAKŁADU DOSKONALENIA ZAWODOWEGO W KATOWICACH</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY "MODRZEJÓW"</li>

    </ul>
    <a href="ŚLĄSKIE.html">Back to Cities in ŚLĄSKIE</a>
</body>
</html>
