
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Świnna</title>
</head>
<body>
    <h1>Schools in Świnna</h1>
    <ul>
        <li>NIEPUBLICZNE PRZEDSZKOLE JĘZYKOWO-ARTYSTYCZNE „RAINBOW”</li>
        <li>PRZEDSZKOLE PUBLICZNE W ŚWINNEJ</li>
        <li>SZKOŁA PODSTAWOWA IM. MARII SKŁODOWSKIEJ - CURIE W ŚWINNEJ</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W ŚWINNEJ</li>

    </ul>
    <a href="ŚLĄSKIE.html">Back to Cities in ŚLĄSKIE</a>
</body>
</html>
