
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Wieszowa</title>
</head>
<body>
    <h1>Schools in Wieszowa</h1>
    <ul>
        <li>PRZEDSZKOLE W WIESZOWIE</li>
        <li>PUNKT PRZEDSZKOLNY PRZY GMINNYM PRZEDSZKOLU NR 2 W WIESZOWIE</li>
        <li>SZKOŁA PODSTAWOWA IM. GEN. JERZEGO ZIĘTKA W WIESZOWIE</li>

    </ul>
    <a href="ŚLĄSKIE.html">Back to Cities in ŚLĄSKIE</a>
</body>
</html>
