
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Kobielice</title>
</head>
<body>
    <h1>Schools in Kobielice</h1>
    <ul>
        <li>CENTRUM SZKOLENIOWE AMEDOR W KOBIELICACH</li>
        <li>HAWEX KOMPLEKSOWA OBSŁUGA BHP, NADZÓR BUDOWALNY W KOBIELICACH</li>
        <li>SZKOŁA PODSTAWOWA IM. ADAMA MICKIEWICZA W KOBIELICACH</li>

    </ul>
    <a href="ŚLĄSKIE.html">Back to Cities in ŚLĄSKIE</a>
</body>
</html>
