
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Bestwina</title>
</head>
<body>
    <h1>Schools in Bestwina</h1>
    <ul>
        <li>CENTRUM EDUKACYJNE DOBEDU</li>
        <li>PRZEDSZKOLE PUBLICZNE W BESTWINIE</li>
        <li>SZKOŁA PODSTAWOWA IM. ŚW. JANA KANTEGO W BESTWINIE</li>
        <li>ZESPÓŁ SZKOLNO PRZEDSZKOLNY W BESTWINIE</li>

    </ul>
    <a href="ŚLĄSKIE.html">Back to Cities in ŚLĄSKIE</a>
</body>
</html>
