
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Zarzecze</title>
</head>
<body>
    <h1>Schools in Zarzecze</h1>
    <ul>
        <li>PRZEDSZKOLE PUBLICZNE W ZARZECZU</li>
        <li>SZKOŁA PODSTAWOWA IM. KORNELA MAKUSZYŃSKIEGO W ZARZECZU</li>
        <li>SZKOLNE SCHRONISKO MŁODZIEŻOWE W ZARZECZU</li>
        <li>ZESPÓŁ SZKOLNO - PRZEDSZKOLNY W ZARZECZU</li>

    </ul>
    <a href="ŚLĄSKIE.html">Back to Cities in ŚLĄSKIE</a>
</body>
</html>
