
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Kończyce Małe</title>
</head>
<body>
    <h1>Schools in Kończyce Małe</h1>
    <ul>
        <li>"PRO-SENS"</li>
        <li>BIURO OCHRONY PRACY - KANCELARIA DORADZTWA PODATKOWEGO I OCHRONY PRACY</li>
        <li>SZKOŁA PODSTAWOWA IM. JAROSŁAWA DĄBROWSKIEGO W KOŃCZYCACH MAŁYCH</li>

    </ul>
    <a href="ŚLĄSKIE.html">Back to Cities in ŚLĄSKIE</a>
</body>
</html>
