
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Ustroń</title>
</head>
<body>
    <h1>Schools in Ustroń</h1>
    <ul>
        <li>"ESPRIT EDUKACJA SWOBODA PASJA ROZWÓJ INSPIRACJA TWÓRCZOŚĆ - KREATYWNA AKADEMIA MŁODEGO CZŁOWIEKA" PLACÓWKA WYCHOWANIA POZASZKOLNEGO W USTRONIU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA IM. JANA JAROCKIEGO W USTRONIU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA USTRONIU ZAKŁADU DOSKONALENIA ZAWODOWEGO W KATOWICACH</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA W USTRONIU ZAKŁADU DOSKONALENIA ZAWODOWEGO W KATOWICACH</li>
        <li>KLIMATYCZNA SZKOŁA PODSTAWOWA NR 2 IM. JERZEGO MICHEJDY W USTRONIU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W USTRONIU ZAKŁADU DOSKONALENIA ZAWODOWEGO</li>
        <li>LOGOS M.PILCH</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W USTRONIU</li>
        <li>OŚRODEK EDUKACYJNO-REHABILITACYJNO-WYCHOWAWCZY</li>
        <li>PLACÓWKA KSZTAŁCENIA USTAWICZNEGO "LEŚNIK"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "CHATKA PUCHATKA" W USTRONIU</li>
        <li>PRZEDSZKOLE NR 1 W USTRONIU</li>
        <li>PRZEDSZKOLE NR 2 W USTRONIU</li>
        <li>PRZEDSZKOLE NR 4 W USTRONIU</li>
        <li>PRZEDSZKOLE NR 5 W USTRONIU</li>
        <li>PRZEDSZKOLE NR 6 W USTRONIU</li>
        <li>PRZEDSZKOLE NR 7 W USTRONIU</li>
        <li>SZKOŁA PODSTAWOWA DLA DOROSŁYCH W USTRONIU ZAKŁADU DOSKONALENIA ZAWODOWEGO W KATOWICACH</li>
        <li>SZKOŁA PODSTAWOWA NR 1 W USTRONIU</li>
        <li>SZKOŁA PODSTAWOWA NR 3 Z ODDZIAŁAMI PRZEDSZKOLNYMI W USTRONIU</li>
        <li>SZKOŁA PODSTAWOWA NR 5 W USTRONIU</li>
        <li>SZKOŁA PODSTAWOWA NR 6 Z ODDZIAŁAMI INTEGRACYJNYMI IM. JÓZEFA KRETA W USTRONIU</li>
        <li>TECHNIKUM IM. DR. ALOJZEGO WASZKA W USTRONIU</li>
        <li>TECHNIKUM W USTRONIU ZAKŁADU DOSKONALENIA ZAWODOWEGO W KATOWICACH</li>
        <li>ZAKŁAD DOSKONALENIA ZAWODOWEGO W KATOWICACH OŚRODEK KSZTAŁCENIA ZAWODOWEGO W USTRONIU</li>
        <li>ZESPÓŁ SZKÓŁ TECHNICZNYCH W USTRONIU</li>
        <li>ZESPÓŁ SZKOLNO - PRZEDSZKOLNY NR 1 W USTRONIU</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 2 W USTRONIU</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 3 W USTRONIU</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY NR 4 W USTRONIU</li>

    </ul>
    <a href="ŚLĄSKIE.html">Back to Cities in ŚLĄSKIE</a>
</body>
</html>
