
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Studzienice</title>
</head>
<body>
    <h1>Schools in Studzienice</h1>
    <ul>
        <li>PRZEDSZKOLE W STUDZIENICACH W ZESPOLE SZKOLNO-PRZEDSZKOLNYM W STUDZIENICACH</li>
        <li>SZKOŁA PODSTAWOWA W STUDZIENICACH W ZESPOLE SZKOLNO-PRZEDSZKOLNYM W STUDZIENICACH</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W STUDZIENICACH</li>

    </ul>
    <a href="ŚLĄSKIE.html">Back to Cities in ŚLĄSKIE</a>
</body>
</html>
