<!-- Fekti/templates/404.html -->
<!DOCTYPE html>
<html>
<head>
	<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TL1H9BWD28"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-TL1H9BWD28');
</script>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>404 - Page Not Found</title>
	<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='Fekti_logo.png') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='404.css') }}">
</head>
<body>
	<div class="errorContainer">
		<h1>404 - Page Not Found</h1>
		<p>Oops! The page you are looking for could not be found.</p>

        <div class="homeButton">
		<a href="/">Back to Home</a>
        </div>
	</div>
</body>
</html>