<!DOCTYPE html>
<html>
<head>
	<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TL1H9BWD28"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-TL1H9BWD28');
</script>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}Home{%endblock%}</title>
	<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='Fekti_logo.png') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
	{% block head %}
	<script>


		function toggleDropdown() {
		  var profileButton = document.querySelector('.profileButton');
		  profileButton.classList.toggle('active');
		}
	  
		function closeAlert(id) {
		  var alert = document.getElementById(id);
		  alert.style.display = 'none';
		}
	  
		window.onload = function() {
		  var imageUpload = document.getElementById('imageUpload');
		  var imagePreview = document.getElementById('imagePreview');
		  if (imageUpload) {
			imageUpload.addEventListener('change', function(e) {
			  var reader = new FileReader();
	  
			  reader.onload = function(event) {
				imagePreview.src = event.target.result;
				imagePreview.style.display = 'block'; // Show when image is selected
			  }
	  
			  reader.readAsDataURL(e.target.files[0]);
			});
		  }
		};
	
	
	
		window.onload = function() {
		function toggleDropdown() {
		  var profileButton = document.querySelector('.profileButton');
		  profileButton.classList.toggle('active');
		}
	
		function closeAlert(id) {
		  var alert = document.getElementById(id);
		  alert.style.display = 'none';
		}
	
		var imageUpload = document.getElementById('imageUpload');
		var imagePreview = document.getElementById('imagePreview');
		if (imageUpload) {
		  imageUpload.addEventListener('change', function(e) {
			var reader = new FileReader();
	
			reader.onload = function(event) {
			  imagePreview.src = event.target.result;
			  imagePreview.style.display = 'block'; // Show when image is selected
			}
	
			reader.readAsDataURL(e.target.files[0]);
		  });
		}
	
		var toggleBtn = document.getElementById('toggleBtn');
		var dropdownMenu = document.getElementById('dropdownMenu');
		var toggleImg = document.querySelector('.toggleImg');
		var originalSrc = toggleImg.src; // menu-01.svg is the original image
		var toggleSrc = "{{ url_for('static', filename='x.svg') }}"; // x.svg is the toggle image
	
		toggleBtn.addEventListener('click', function() {
		  if (dropdownMenu.style.display === 'none' || dropdownMenu.style.display === '') {
			// If the dropdown menu is not visible, show it and change the image to x.svg
			dropdownMenu.style.display = 'block';
			toggleImg.src = toggleSrc;
		  } else {
			// If the dropdown menu is visible, hide it and change the image back to menu-01.svg
			dropdownMenu.style.display = 'none';
			toggleImg.src = originalSrc;
		  }
		});
	};
	
	window.addEventListener('resize', function() {
	  var dropdownMenu = document.querySelector('.dropdown-menu');
	  if (window.innerWidth > 960) {
		dropdownMenu.style.display = 'none';
	  }
	});
	
	  </script>

{% endblock %}
	</head>
	<body>
	{% block messages%}
		{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
		  {% for category, message in messages %}
			{% if category == 'error' %}
			  
			  <div class="alert-error" role="alert" id="errorAlert">
				{{ message }}
				<button type="button" class="close" onclick="closeAlert('errorAlert')">
				  <span aria-hidden="true">&times;</span>
				</button>
			  </div>
			{% elif category == 'success' %}
			  <!-- Display success message here -->
			  <div class="alert-success" role="alert" id="successAlert">
				{{ message }}
				<button type="button" class="close" onclick="closeAlert('successAlert')">
				  <span aria-hidden="true">&times;</span>
				</button>
			  </div>
			{% endif %}
		  {% endfor %}
		{% endif %}
	  {% endwith %}
	
	{% endblock %}
	
	
	{% block header %}
	<header class="header">
	
	<a href="/home" class="logo">Fekti</a>
	<nav class="navbar">
		<a href="/yourschool">YOUR SCHOOL </a>
		<a href="/photos">UNLOCKED PHOTOS </a>
	
	
		<div class="credits" href="/credits">
		  <a href="/credits" style="text-decoration: none; color: inherit;">
			<h5>CREDITS: {{ credits }}</h5>
		  </a>
	</div>
	
	
	
	
	
	
	
	
	
	</nav>
	<div class="toggleBtn" id="toggleBtn">
	  <i>
	  <img src="{{ url_for('static', filename='menu-01.svg') }}" class="toggleImg">
	</i>
	</div>
	
	
	<div class="dropdownMenu" id="dropdownMenu">
		
		<nav class="navbar2">
		<a href="/yourschool">
			<li href="/yourschool">YOUR SCHOOL </li>
	  </a>
	  <a href="/photos">
			<li href="/photos">UNLOCKED PHOTOS </li>
		</a>
		
		</nav>
	  <div class="credits" href="/credits">
		<a href="/credits" style="text-decoration: none; color: inherit;">
		  <h5>CREDITS: {{ credits }}</h5>
		</a>
	</div>
	</div>
	
	
	<div class="profileButton" onclick="toggleDropdown()">
	  <a href="#">
		<img src="{{ url_for('static', filename='profile.svg') }}" class="imgProfile">
	  </a>
	  <div class="dropdown-menu">
		<a href="/logout">Logout</a>
		
		
	  </div>
	</div>
	</header>
{% endblock %}
{% block footer %}
	<footer class="footer">
		<div class="container">
	  
		  <nav>
			<a href="/about">About</a>
			<a href="/contact">Contact</a>
			<a href="/help">Help</a>
		  </nav>
		</div>
	  </footer>

{% endblock %}

{% block h1 %}
<h1>Hi</h1>

{% endblock %}



</body>
</html>