
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Działdowo</title>
</head>
<body>
    <h1>Schools in Działdowo</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W DZIAŁDOWIE</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA W DZIAŁDOWIE</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO W ZESPOLE SZKÓŁ ZAWODOWYCH NR 1 IM. GEN. SYLWESTRA KALISKIEGO W DZIAŁDOWIE</li>
        <li>DZIAŁDOWSKI OSRODEK DOSKONALENIA NAUCZYCIELI DAR</li>
        <li>DZIAŁDOWSKIE CENTRUM EDUKACJI I KSZTAŁCENIA USTAWICZNEGO DAR</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI DWUJĘZYCZNYMI IM. STEFANA ŻEROMSKIEGO W DZIAŁDOWIE</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE IM.JANA PAWŁA II W DZIAŁDOWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DAR W DZIAŁDOWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>NIEPUBLICZNA SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY</li>
        <li>OŚRODEK REHABILITACYJNO-EDUKACYJNO-WYCHOWAWCZY</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I STOPNIA IM. ARNO KANTA W DZIAŁDOWIE</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W DZIAŁDOWIE</li>
        <li>POWIATOWA BIBLIOTEKA PEDAGOGICZNA W DZIAŁDOWIE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "KRASNOLUDEK" UL. M.ZIENTARY MALEWSKIEJ 4 13-200 DZIAŁDOWO</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "UMISIA" UL.ŚWIERKOWA 19 13-200 DZIAŁDOWO</li>
        <li>PUBLICZNE DZIAŁDOWSKIE CENTRUM KSZTAŁCENIA USTAWICZNEGO DAR</li>
        <li>PUNKT PRZEDSZKOLNY ZIELONY BALONIK</li>
        <li>SZKOŁA POLICEALNA W DZIAŁDOWIE</li>
        <li>TECHNIKUM NR 1 IM. STANISŁAWA STASZICA W DZIAŁDOWIE</li>
        <li>TECHNIKUM NR 2 W DZIAŁDOWIE</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH NR 1 PRZEDSZKOLE NR 1 IM. JANA BRZECHWY W DZIAŁDOWIE</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH NR 1 SZKOŁA PODSTAWOWA NR 1 IM. KRÓLA WŁADYSŁAWA JAGIEŁŁY W DZIAŁDOWIE</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH NR 1 W DZIAŁDOWIE</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH NR 2 PRZEDSZKOLE NR 3 W DZIAŁDOWIE</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH NR 2 SZKOŁA PODSTAWOWA NR 2 IM. KRÓLOWEJ JADWIGI W DZIAŁDOWIE</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH NR 2 W DZIAŁDOWIE</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH NR 3 PRZEDSZKOLE NR 5 W DZIAŁDOWIE</li>
        <li>ZESPÓŁ PLACOWEK OŚWIATOWYCH NR 3 SZKOŁA PODSTAWOWA NR 3 IM. BRONISŁAWA MALINOWSKIEGO W DZIAŁDOWIE</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH NR 3 W DZIAŁDOWIE</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH NR 4 PRZEDSZKOLE NR 4 W DZIAŁDOWIE</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH NR 4 SZKOŁA PODSTAWOWA NR 4 IM. JANA PAWŁA II W DZIAŁDOWIE</li>
        <li>ZESPÓŁ PLACÓWEK OŚWIATOWYCH NR 4 W DZIAŁDOWIE</li>
        <li>ZESPÓŁ SZKÓŁ NR 1 W DZIAŁDOWIE</li>
        <li>ZESPÓŁ SZKÓŁ ZAWODOWYCH NR 1 IM. GEN. SYLWESTRA KALISKIEGO</li>

    </ul>
    <a href="WARMIŃSKO-MAZURSKIE.html">Back to Cities in WARMIŃSKO-MAZURSKIE</a>
</body>
</html>
