
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Barczewo</title>
</head>
<body>
    <h1>Schools in Barczewo</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 2 W ZAKŁADZIE POPRAWCZYM W BARCZEWIE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR1 W BARCZEWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W BARCZEWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W BARCZEWIE</li>
        <li>PRZEDSZKOLE MIEJSKIE W BARCZEWIE</li>
        <li>SAMORZĄDOWA SZKOŁA MUZYCZNA I STOPNIA W DYWITACH W POWIECIE OLSZTYŃSKIM FILIA W BARCZEWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. FELIKSA NOWOWIEJSKIEGO W BARCZEWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 2 W ZAKLADZIE POPRAWCZYM W BARCZEWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. ZIEMI WARMIŃSKIEJ W BARCZEWIE</li>
        <li>ZESPÓŁ SZKÓŁ W BARCZEWIE</li>

    </ul>
    <a href="WARMIŃSKO-MAZURSKIE.html">Back to Cities in WARMIŃSKO-MAZURSKIE</a>
</body>
</html>
