
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Gołdap</title>
</head>
<body>
    <h1>Schools in Gołdap</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA</li>
        <li>BURSA SZKOLNA W GOŁDAPI</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. JANA PAWŁA II</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE ZAOCZNE MAZURSKO-PODLASKIEGO CENTRUM EDUKACJI</li>
        <li>NIBYLANDIA</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "RADOSNE SKRZATY"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "U KUBUSIA PUCHATKA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "ZUCHOWA PRZYGODA"</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I ST. IM. PROF. WITALISA JERZEGO RACZKIEWICZA W GOŁDAPI</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W GOŁDAPI</li>
        <li>POWIATOWA BIBLIOTEKA PEDAGOGICZNA W GOŁDAPI</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "BAJKA" W GOŁDAPI</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 1 W GOŁDAPI</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY W GOŁDAPI</li>
        <li>SZKOŁA JAZDY JAROSŁAW MROZOWSKI</li>
        <li>SZKOŁA PODSTAWOWA NR 1 Z ODDZIAŁAMI INTEGRACYJNYMI IM. MIKOŁAJA KOPERNIKA W GOŁDAPI</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM.TADEUSZA KOŚCIUSZKI W GOŁDAPI</li>
        <li>SZKOŁA PODSTAWOWA NR 5 IM. NOBLISTÓW POLSKICH W GOŁDAPI</li>
        <li>SZKOŁA PODSTAWOWA NR2 IM.MARSZAŁKA JÓZEFA PIŁSUDSKIEGO W GOŁDAPI</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA</li>
        <li>SZKOŁA POLICEALNA NR 1</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY</li>
        <li>SZKOLNE SCHRONISKO MŁODZIEŻOWE W BURSIE SZKOLNEJ W GOŁDAPI</li>
        <li>TECHNIKUM</li>
        <li>ZAKŁAD DOSKONALENIA ZAWODOWEGO W BIAŁYMSTOKU OŚRODEK KSZTAŁCENIA ZAWODOWEGO W GOŁDAPI</li>
        <li>ZESPÓŁ PLACÓWEK EDUKACYJNO-WYCHOWAWCZYCH W GOŁDAPI</li>
        <li>ZESPÓŁ SZKÓŁ ZAWODOWYCH W GOŁDAPI</li>

    </ul>
    <a href="WARMIŃSKO-MAZURSKIE.html">Back to Cities in WARMIŃSKO-MAZURSKIE</a>
</body>
</html>
