
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Jagarzewo</title>
</head>
<body>
    <h1>Schools in Jagarzewo</h1>
    <ul>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W ZESPOLE SZKÓŁ ROLNICZYCH I OGÓLNOKSZTAŁCĄCYCH W JAGARZEWIE</li>
        <li>SZKOŁA BRANŻOWA I STOPNIA</li>
        <li>SZKOLNE SCHRONISKO MŁODZIEŻOWE W JAGARZEWIE</li>
        <li>TECHNIKUM AGROBIZNESU W ZESPOLE SZKÓŁ ROLNICZYCH I OGÓLNOKSZTAŁCĄCYCH W JAGARZEWIE</li>
        <li>TECHNIKUM OBSŁUGI TURYSTYCZ\NEJ</li>
        <li>TECHNIKUM ROLNICZE W JAGARZEWIE</li>
        <li>TECHNIKUM TECHNOLOGII DREWNA W ZESPOLE SZKÓŁ ROLNICZYCH I OGÓLNOKSZTAŁCĄCYCH W JAGARZEWIE</li>
        <li>TECHNIKUM TECHNOLOGII ŻYWNOŚCI W JAGARZEWIE</li>
        <li>TECHNIKUM WETERYNARII W JAGARZEWIE</li>
        <li>TECHNIKUM ŻYWIENIA I USŁUG GASTRONOMICZNYCH W ZESPOLE SZKÓŁ ROLNICZYCH I OGÓLNOKSZTAŁCĄCYCH W JAGARZEWIE</li>
        <li>ZESPÓŁ SZKÓL ROLNICZYCH I OGÓLNOKSZTAŁCĄCYCH W JAGARZEWIE</li>

    </ul>
    <a href="WARMIŃSKO-MAZURSKIE.html">Back to Cities in WARMIŃSKO-MAZURSKIE</a>
</body>
</html>
