
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Sząbruk</title>
</head>
<body>
    <h1>Schools in Sząbruk</h1>
    <ul>
        <li>PRZEDSZKOLE NIEPUBLICZNE SMYKI</li>
        <li>PRZEDSZKOLE W SZĄBRUKU</li>
        <li>SZKOŁA PODSTAWOWA IM. RODZIN WARMIŃSKICH W SZĄBRUKU</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W SZĄBRUKU</li>

    </ul>
    <a href="WARMIŃSKO-MAZURSKIE.html">Back to Cities in WARMIŃSKO-MAZURSKIE</a>
</body>
</html>
