
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Poniki</title>
</head>
<body>
    <h1>Schools in Poniki</h1>
    <ul>
        <li>PUNKT PRZEDSZKOLNY "PRZYJACIELE BOCIANA KAJTKA" PRZY SZKOLE PODSTAWOWEJ IM.ADAMA LORETA W PONIKACH</li>
        <li>SZKOŁA PODSTAWOWA IM. ADAMA LORETA W PONIKACH</li>

    </ul>
    <a href="WARMIŃSKO-MAZURSKIE.html">Back to Cities in WARMIŃSKO-MAZURSKIE</a>
</body>
</html>
