
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Romany</title>
</head>
<body>
    <h1>Schools in Romany</h1>
    <ul>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA W ROMANACH</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE W ROMANACH</li>
        <li>NIEPUBLICZNY ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W ROMANACH</li>

    </ul>
    <a href="WARMIŃSKO-MAZURSKIE.html">Back to Cities in WARMIŃSKO-MAZURSKIE</a>
</body>
</html>
