
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Żardeniki</title>
</head>
<body>
    <h1>Schools in Żardeniki</h1>
    <ul>
        <li>PRZEDSZKOLE SPECJALNE W SPECJALNYM OŚRODKU SZKOLNO – WYCHOWAWCZYM W ŻARDENIKACH</li>
        <li>SPECJALNY OŚRODEK SZKOLNO - WYCHOWAWCZY W ŻARDENIKACH</li>
        <li>SZKOŁA PODSTAWOWA W ŻARDENIKACH</li>
        <li>SZKOŁA PRZYSPOSABIAJĄCA DO PRACY W ŻARDENIKACH</li>

    </ul>
    <a href="WARMIŃSKO-MAZURSKIE.html">Back to Cities in WARMIŃSKO-MAZURSKIE</a>
</body>
</html>
