
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Dąbrówka</title>
</head>
<body>
    <h1>Schools in Dąbrówka</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W DĄBRÓWCE</li>
        <li>PRZEDSZKOLE</li>
        <li>SZKOŁA PODSTAWOWA IM. MICHAŁA KAJKI W DĄBRÓWCE</li>
        <li>ZESPÓŁ SZKÓŁ IM. MICHAŁA KAJKI W DĄBRÓWCE</li>
        <li>ZESPÓŁ SZKOLNO - PRZEDSZKOLNY IM. MICHAŁA KAJKI W DĄBRÓWCE</li>

    </ul>
    <a href="WARMIŃSKO-MAZURSKIE.html">Back to Cities in WARMIŃSKO-MAZURSKIE</a>
</body>
</html>
