
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Spytkowo</title>
</head>
<body>
    <h1>Schools in Spytkowo</h1>
    <ul>
        <li>STOWARZYSZENIE "EDUKATOR" W ŁOMŻY, SZKOŁA PODSTAWOWA W SPYTKOWIE</li>
        <li>STOWARZYSZENIE "EDUKATOR"W ŁOMŻY, PRZEDSZKOLE SMYK W SPYTKOWIE</li>

    </ul>
    <a href="WARMIŃSKO-MAZURSKIE.html">Back to Cities in WARMIŃSKO-MAZURSKIE</a>
</body>
</html>
