
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Jonkowo</title>
</head>
<body>
    <h1>Schools in Jonkowo</h1>
    <ul>
        <li>PLACÓWKA DOSKONALENIA NAUCZYCIELI IMPULS</li>
        <li>PRZEDSZKOLE "PATRYK"</li>
        <li>PRZEDSZKOLE W JONKOWIE</li>
        <li>SZKOŁA PODSTAWOWA IM. T. KOŚCIUSZKI</li>

    </ul>
    <a href="WARMIŃSKO-MAZURSKIE.html">Back to Cities in WARMIŃSKO-MAZURSKIE</a>
</body>
</html>
