
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Butryny</title>
</head>
<body>
    <h1>Schools in Butryny</h1>
    <ul>
        <li>PRZEDSZKOLE SAMORZĄDOWE W BUTRYNACH</li>
        <li>SZKOŁA PODSTAWOWA IM. FRANCISZKA BARCZA W BUTRYNACH</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W BUTRYNACH</li>

    </ul>
    <a href="WARMIŃSKO-MAZURSKIE.html">Back to Cities in WARMIŃSKO-MAZURSKIE</a>
</body>
</html>
