
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Łukta</title>
</head>
<body>
    <h1>Schools in Łukta</h1>
    <ul>
        <li>PRZEDSZKOLE SAMORZĄDOWE W ŁUKCIE</li>
        <li>SZKOŁA PODSTAWOWA W ŁUKCIE IMIENIA ŻOŁNIERZY NIEZŁOMNYCH WCHODZĄCA W SKŁAD ZESPOŁU SZKOLNO-PRZEDSZKOLNEGO W ŁUKCIE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W ŁUKCIE</li>

    </ul>
    <a href="WARMIŃSKO-MAZURSKIE.html">Back to Cities in WARMIŃSKO-MAZURSKIE</a>
</body>
</html>
