
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Klebark Wielki</title>
</head>
<body>
    <h1>Schools in Klebark Wielki</h1>
    <ul>
        <li>PRZEDSZKOLE W KLEBARKU WIELKIM</li>
        <li>SZKOŁA PODSTAWOWA IM. KS. PAWŁA CHMIELEWSKIEGO W KLEBARKU WIELKIM</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W KLEBARKU WIELKIM</li>

    </ul>
    <a href="WARMIŃSKO-MAZURSKIE.html">Back to Cities in WARMIŃSKO-MAZURSKIE</a>
</body>
</html>
