
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Lisy</title>
</head>
<body>
    <h1>Schools in Lisy</h1>
    <ul>
        <li>STOWARZYSZENIE "EDUKATOR" W ŁOMŻY PRZEDSZKOLE BAJKOLANDIA W LISACH</li>
        <li>STOWARZYSZENIE "EDUKATOR" W ŁOMŻY SZKOŁA PODSTAWOWA W LISACH</li>

    </ul>
    <a href="WARMIŃSKO-MAZURSKIE.html">Back to Cities in WARMIŃSKO-MAZURSKIE</a>
</body>
</html>
