
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Szczytno</title>
</head>
<body>
    <h1>Schools in Szczytno</h1>
    <ul>
        <li>"JAŚ I MAŁGOSIA" PRZEDSZKOLE NIEPUBLICZNE URSZULA WIELK</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA SPECJALNA</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA W SZCZYTNIE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA W SZCZYTNIE</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA W SZCZYTNIE</li>
        <li>CENTRUM EDUKACJI W SZCZYTNIE</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>LICEUM OGÓLNOKSZTAŁCACE DLA DOROSŁYCH W SZCZYTNIE</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 1 "BAJKA"</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 2 "FANTAZJA"</li>
        <li>MIEJSKIE PRZEDSZKOLE NR 9 "KUBUŚ PUCHATEK"</li>
        <li>MIEJSKIE PRZEDSZKOLE Z ODDZIAŁAMI INTEGRACYJNYMI NR 3 "PROMYCZEK"</li>
        <li>NIEPUBLICZNA PODSTAWOWA SZKOŁA SPECJALNA STOWARZYSZENIA "PROMYK" W SZCZYTNIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE SPECJALNE "KRAINA PROMYKA"</li>
        <li>NIEPUBLICZNY ZESPÓŁ PLACÓWEK SPECJALNYCH W SZCZYTNIE</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I ST. IM. FRYDERYKA CHOPINA W SZCZYTNIE</li>
        <li>PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA W SZCZYTNIE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE „SMYK”</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE KINDERLAND</li>
        <li>PRZEDSZKOLE PRZY OŚRODKU SZKOLNO-WYCHOWAWCZYM W SZCZYTNIE</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY IM. JANUSZA KORCZAKA W SZCZYTNIE</li>
        <li>SPORTOWA SZKOŁA PODSTAWOWA NR 4 IM. POLSKICH OLIMPIJCZYKÓW</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. MARII SKŁODOWSKIEJ-CURIE</li>
        <li>SZKOŁA PODSTAWOWA NR 5</li>
        <li>SZKOŁA PODSTAWOWA NR 6 IM. ORŁA BIAŁEGO</li>
        <li>SZKOŁA PODSTAWOWA Z ODDZIAŁAMI INTEGRACYJNYMI NR 2 IM. WOJCIECHA KĘTRZYŃSKIEGO</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY</li>
        <li>TECHNIKUM</li>
        <li>TECHNIKUM</li>
        <li>ZESPÓŁ SZKÓŁ NR 1 IM. STANISŁAWA STASZICA W SZCZYTNIE</li>
        <li>ZESPÓŁ SZKÓŁ NR 2 IM. JĘDRZEJA ŚNIADECKIEGO W SZCZYTNIE</li>
        <li>ZESPÓŁ SZKÓŁ NR 3 IM. JANA III SOBIESKIEGO W SZCZYTNIE</li>

    </ul>
    <a href="WARMIŃSKO-MAZURSKIE.html">Back to Cities in WARMIŃSKO-MAZURSKIE</a>
</body>
</html>
