
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Lipinki</title>
</head>
<body>
    <h1>Schools in Lipinki</h1>
    <ul>
        <li>PUBLICZNE PRZEDSZKOLE W LIPINKACH</li>
        <li>SZKOŁA PODSTAWOWA IM. JULIANA TUWIMA W LIPINKACH</li>
        <li>ZESPÓŁ SZKOLNO PRZEDSZKOLNY W LIPINKACH</li>

    </ul>
    <a href="WARMIŃSKO-MAZURSKIE.html">Back to Cities in WARMIŃSKO-MAZURSKIE</a>
</body>
</html>
