
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Braniewo</title>
</head>
<body>
    <h1>Schools in Braniewo</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA SPECJALNA</li>
        <li>CENTRUM EDUKACJI W BRANIEWIE</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO</li>
        <li>KATOLICKA SPECJALISTYCZNA PORADNIA RODZINA</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W BRANIEWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. 9 BRANIEWSKIEJ BRYGADY KAWALERII PANCERNEJ IM. KRÓLA STEFANA BATOREGO</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. FELIKSA NOWOWIEJSKIEGO W BRANIEWIE</li>
        <li>OŚRODEK DOSKONALENIA NAUCZYCIELI</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W BRANIEWIE</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 2 W BRANIEWIE</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 4 W BRANIEWIE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "KUBUŚ PUCHATEK"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "STOKROTKA"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE NR 1</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE NR 3 "BAJKA"</li>
        <li>PUNKT PRZEDSZKOLNY MISTRZÓW</li>
        <li>SPECJALNY OŚRODEK SZKOLNO- WYCHOWAWCZY W BRANIEWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. SENATU RZECZYPOSPOLITEJ POLSKIEJ W BRANIEWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 5 W BRANIEWIE IM. ZIEMI BRANIEWSKIEJ</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA</li>
        <li>SZKOŁA PODSTAWOWA SPORTOWA NR 6 IM. JANA PAWŁA II Z ODDZIAŁAMI PRZEDSZKOLNYMI W BRANIEWIE</li>
        <li>SZKOŁA POLICEALNA</li>
        <li>SZKOŁA POLICEALNA W BRANIEWIE</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY</li>
        <li>TECHNIKUM</li>
        <li>TECHNIKUM IM. 9 BRANIEWSKIEJ BRYGADY KAWALERII PANCERNEJ IM. KRÓLA STEFANA BATOREGO</li>
        <li>ZAKŁAD SZKOLEŃ "HOSSA"</li>
        <li>ZESPÓŁ SZKÓŁ BUDOWLANYCH W BRANIEWIE</li>
        <li>ZESPÓŁ SZKÓŁ ZAWODOWYCH IM. JANA LISZEWSKIEGO W BRANIEWIE</li>

    </ul>
    <a href="WARMIŃSKO-MAZURSKIE.html">Back to Cities in WARMIŃSKO-MAZURSKIE</a>
</body>
</html>
