
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Elbląg</title>
</head>
<body>
    <h1>Schools in Elbląg</h1>
    <ul>
        <li>AKADEMIA KSZTAŁCENIA I DORADZTWA "VADEMECUM" KRZYSZTOF DYAS</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA IMIENIA SYBIRAKÓW WCHODZĄCA W SKŁAD ZESPOŁU SZKÓŁ ZAWODOWYCH NR 1 W ELBLĄGU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA WCHODZĄCA W SKŁAD CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO W ELBLĄGU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA WCHODZĄCA W SKŁAD ZESPOŁU SZKÓŁ GOSPODARCZYCH W ELBLĄGU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA WCHODZĄCA W SKŁAD ZESPOŁU SZKÓŁ INŻYNIERII ŚRODOWISKA I USŁUG W ELBLĄGU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA WCHODZĄCA W SKŁAD ZESPOŁU SZKÓŁ TECHNICZNO-INFORMATYCZNYCH W ELBLĄGU</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA WCHODZĄCA W SKŁAD ZESPOŁU SZKÓŁ TECHNICZNYCH W ELBLĄGU</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA NR 1 WCHODZĄCA W SKŁAD ZESPOŁU SZKÓŁ TECHNICZNO - INFORMATYCZNYCH W ELBLĄGU</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA NR 2 WCHODZĄCA W SKŁAD ZESPOŁU SZKÓŁ ZAWODOWYCH NR 1 W ELBLĄGU</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA NR 3 WCHODZĄCA W SKŁAD ZESPOŁU SZKÓŁ INŻYNIERII ŚRODOWISKA I USŁUG IM. MIKOŁAJA KOPERNIKA W ELBLĄGU</li>
        <li>BRANŻOWA SZKOŁA SPECJALNA I STOPNIA WCHODZĄCA W SKŁAD SPECJALNEGO OŚRODKA SZKOLNO-WYCHOWAWCZEGO NR 1 W ELBLĄGU</li>
        <li>BURSA SZKOLNA NR 2 W ELBLĄGU</li>
        <li>BURSA SZKOLNA NR 3 W ELBLĄGU</li>
        <li>BURSA SZKOLNA NR 4 W ELBLĄGU</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO AUTODAS W ELBLĄGU</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO W ELBLĄGU</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO W ELBLĄGU</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO SECURITY CONSULTING AND TRAINING "SCAT" MARIUSZ PAKIEŁA</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO WCHODZĄCE W SKŁAD CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO W ELBLĄGU</li>
        <li>CENTRUM PROFILAKTYKI KARAN</li>
        <li>COSINUS OGÓLNOPOLSKI OŚRODEK SZKOLEŃ I ROZWOJU W ELBLĄGU</li>
        <li>DWUJĘZYCZNE NIEPUBLICZNE PRZEDSZKOLE "MIESZKO I"</li>
        <li>ELBLĄSKI OŚRODEK SZKOLEŃ "EDUKAT" WIESŁAW WIDOMSKI</li>
        <li>ELBLĄSKIE LICEUM OGÓLNOKSZTAŁCĄCE MONTESSORI "ELO MONTESSORI"</li>
        <li>EUR CONSULTING SPÓŁKA Z O.O.</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE IM JULIUSZA SŁOWACKIEGO W ELBLĄGU</li>
        <li>IDEA 365 MAGDALENA MACUTKIEWICZ</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI DWUJĘZYCZNYMI IM. KAZIMIERZA JAGIELLOŃCZYKA W ELBLĄGU</li>
        <li>III LICEUM OGÓLNOKSZTAŁCĄCE IM. JANA PAWŁA II W ELBLĄGU</li>
        <li>IV LICEUM OGÓLNOKSZTAŁCĄCE IM. KOMISJI EDUKACJI NARODOWEJ W ELBLĄGU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH "ŻAK" W ELBLĄGU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH WCHODZĄCE W SKŁAD CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO W ELBLĄGU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH WCHODZĄCE W SKŁAD ZESPOŁU SZKÓŁ GOSPODARCZYCH W ELBLĄGU</li>
        <li>MIĘDZYSZKOLNY OŚRODEK SPORTOWY</li>
        <li>MŁODZIEŻOWY DOM KULTURY W ELBLĄGU</li>
        <li>NIEPUBLICZNA ELBLĄSKA PLACÓWKA EDUKACYJNA "ARM"</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO "PROMYK SŁOŃCA" W ELBLĄGU</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO CENTRUM SZKOLENIA "ELZAM" DARIUSZ CIEKOT</li>
        <li>NIEPUBLICZNA PLACÓWKA OŚWIATOWO - WYCHOWAWCZA "GIGANCI PROGRAMOWANIA"</li>
        <li>NIEPUBLICZNA PLACÓWKA OŚWIATOWO-WYCHOWAWCZA AKADEMIA SPORTÓW WODNYCH</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA "JAŚ I MAŁGOSIA"</li>
        <li>NIEPUBLICZNA PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA "KRASNAL"</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA REGENT Z ODDZIAŁAMI DWUJĘZYCZNYMI W ELBLĄGU</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA SPECJALNA POLSKIEGO STOWARZYSZENIA NA RZECZ OSÓB Z NIEPEŁNOSPRAWNOŚCIĄ INTELEKTUALNĄ KOŁO W ELBLĄGU</li>
        <li>NIEPUBLICZNA SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY</li>
        <li>NIEPUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE REGENT Z ODDZIAŁAMI DWUJĘZYCZNYMI W ELBLĄGU</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "BALONIK"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "BRATEK" AGNIESZKA WĄS</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "MAŁY GENIUSZ"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "PIEKARCZYK"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "PRZYJACIELE KUBUSIA" IZABELA EWA KACZMARCZYK</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "SAFARI'</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE ARTYSTYCZNO-JĘZYKOWE "MAŁY EUROPEJCZYK"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE EKOLOGICZNO-SPORTOWE "JEDYNECZKA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE JĘZYKOWO - MUZYCZNE "TO MI GRA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE KATOLICKIE "DOROTKA"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE KATOLICKIE IM. BŁ. FRANCISZKI SIEDLISKIEJ W ELBLĄGU</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE MONTESSORI "MUCHOMOR"</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE SPECJALNE</li>
        <li>OGÓLNOKSZTAŁCĄCA SZKOŁA MUZYCZNA I ST. W ELBLĄGU</li>
        <li>OGÓLNOKSZTAŁCĄCA SZKOŁA MUZYCZNA II ST. W ELBLĄGU</li>
        <li>OŚRODEK DOSKONALENIA NAUCZYCIELI TOWARZYSTWA PRZYJACIÓŁ DZIECI</li>
        <li>OŚRODEK EDUKACYJNO - SZKOLENIOWY TOWARZYSTWA PRZYJACIÓŁ DZIECI W ELBLĄGU</li>
        <li>OŚRODEK KSZTAŁCENIA "EDUKACJA" SP. Z O.O</li>
        <li>OŚRODEK REHABILITACYJNO-EDUKACYJNO-WYCHOWAWCZY</li>
        <li>OŚRODEK SZKOLEŃ CES KONI</li>
        <li>OŚRODEK SZKOLEŃ DROŻDŻEWSCY</li>
        <li>OŚRODEK SZKOLENIA NURKÓW ZAWODOWYCH FROG</li>
        <li>OŚRODEK SZKOLENIOWY AKTYWIZACJI ZAWODOWEJ</li>
        <li>OŚRODEK SZKOLENIOWY CENTRUM NAUKI I BIZNESU " ŻAK"</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I ST. W ELBLĄGU</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA II ST. W ELBLĄGU</li>
        <li>PORADNIA DORADZTWA ZAWODOWEGO I POMOCY PSYCHOLOGICZNO-PEDAGOGICZNEJ W ELBLĄGU</li>
        <li>PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA NR 1 W ELBLĄGU</li>
        <li>PORADNIA PSYCHOLOGICZNO - PEDAGOGICZNA NR 2 W ELBLĄGU</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "AKADEMIA KRASNOLUDKÓW" TERESA MAŁECKA</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "BAJKA"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "WIKI" BOŻENA WEIS</li>
        <li>PRZEDSZKOLE NR 10 W ELBLĄGU</li>
        <li>PRZEDSZKOLE NR 11 W ELBLĄGU</li>
        <li>PRZEDSZKOLE NR 13 W ELBLĄGU</li>
        <li>PRZEDSZKOLE NR 14 W ELBLĄGU</li>
        <li>PRZEDSZKOLE NR 15 W ELBLĄGU</li>
        <li>PRZEDSZKOLE NR 17 W ELBLĄGU</li>
        <li>PRZEDSZKOLE NR 18 W ELBLĄGU</li>
        <li>PRZEDSZKOLE NR 19 W ELBLĄGU</li>
        <li>PRZEDSZKOLE NR 21 W ELBLĄGU</li>
        <li>PRZEDSZKOLE NR 23 W ELBLĄGU</li>
        <li>PRZEDSZKOLE NR 24 W ELBLĄGU</li>
        <li>PRZEDSZKOLE NR 26 W ELBLĄGU</li>
        <li>PRZEDSZKOLE NR 29 W ELBLĄGU</li>
        <li>PRZEDSZKOLE NR 3 IM. BAŚNI I BAJEK POLSKICH W ELBLĄGU</li>
        <li>PRZEDSZKOLE NR 31 W ELBLĄGU</li>
        <li>PRZEDSZKOLE NR 33 W ELBLĄGU</li>
        <li>PRZEDSZKOLE NR 34 W ELBLĄGU</li>
        <li>PRZEDSZKOLE NR 4 W ELBLĄGU</li>
        <li>PRZEDSZKOLE NR 5 W ELBLĄGU</li>
        <li>PRZEDSZKOLE NR 6 W ELBLĄGU</li>
        <li>PRZEDSZKOLE NR 8 W ELBLĄGU</li>
        <li>PRZEDSZKOLE SPECJALNE W SPECJALNYM OŚRODKU SZKOLNO-WYCHOWAWCZYM NR 2 IM. JANUSZA KORCZAKA W ELBLĄGU</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA STOWARZYSZENIA PRZYJACIÓŁ SZKÓŁ KATOLICKICH IM. ŚW. FRANCISZKA Z ASYŻU</li>
        <li>PUBLICZNA SZKOŁA PODSTAWOWA ZAKONU PIJARÓW</li>
        <li>PUBLICZNE LICEUM OGÓLNOKSZTAŁCĄCE ZAKONU PIJARÓW</li>
        <li>PUNKT PRZEDSZKOLNY W SPECJALNYM OŚRODKU SZKOLNO-WYCHOWAWCZYM NR 1 W ELBLĄGU</li>
        <li>REGENT COLLEGE INTERNATIONAL SCHOOLS</li>
        <li>SPECJALNY OŚRODEK SZKOLNO - WYCHOWAWCZY NR 1 W ELBLĄGU</li>
        <li>SPECJALNY OŚRODEK SZKOLNO - WYCHOWAWCZY NR 2 IM. JANUSZA KORCZAKA W ELBLĄGU</li>
        <li>SPORTOWA SZKOŁA PODSTAWOWA NR 3 IM. POLSKICH OLIMPIJCZYKÓW W ELBLĄGU</li>
        <li>SZKOŁA PODSTAWOWA DLA DOROSŁYCH W ELBLĄGU</li>
        <li>SZKOŁA PODSTAWOWA MONTESSORI ELBLĄG</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. ADAMA MICKIEWICZA W ELBLĄGU</li>
        <li>SZKOŁA PODSTAWOWA NR 11 IM. KORNELA MAKUSZYŃSKIEGO W ELBLĄGU</li>
        <li>SZKOŁA PODSTAWOWA NR 12 IM. MICHAŁA KAJKI W ELBLĄGU</li>
        <li>SZKOŁA PODSTAWOWA NR 14 IM. JANA BRZECHWY W ELBLĄGU</li>
        <li>SZKOŁA PODSTAWOWA NR 15 IM. ARMII KRAJOWEJ W ELBLĄGU</li>
        <li>SZKOŁA PODSTAWOWA NR 16 IM. JÓZEFA WYBICKIEGO W ELBLĄGU</li>
        <li>SZKOŁA PODSTAWOWA NR 18 IM. FRANCISZKA II RAKOCZEGO W ELBLĄGU</li>
        <li>SZKOŁA PODSTAWOWA NR 19 Z ODDZIAŁAMI DWUJĘZYCZNYMI IM. BOHATERÓW WESTERPLATTE W ELBLĄGU</li>
        <li>SZKOŁA PODSTAWOWA NR 21 IM. MIKOŁAJA KOPERNIKA W ELBLĄGU</li>
        <li>SZKOŁA PODSTAWOWA NR 23 IM. MARII DĄBROWSKIEJ W ELBLĄGU</li>
        <li>SZKOŁA PODSTAWOWA NR 25 IM. JANUSZA KUSOCIŃSKIEGO W ELBLĄGU</li>
        <li>SZKOŁA PODSTAWOWA NR 4 IM. HENRYKA SIENKIEWICZA W ELBLĄGU</li>
        <li>SZKOŁA PODSTAWOWA NR 6 IM. MARII SKŁODOWSKIEJ CURIE W ELBLĄGU</li>
        <li>SZKOŁA PODSTAWOWA NR 8 IM. STANISŁAWA STASZICA W ELBLĄGU</li>
        <li>SZKOŁA PODSTAWOWA NR 9 IM. JÓZEFA PIŁSUDSKIEGO W ELBLĄGU</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA WCHODZĄCA W SKŁAD SPECJALNEGO OŚRODKA SZKOLNO-WYCHOWAWCZEGO NR 1 W ELBLĄGU</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA WCHODZĄCA W SKŁAD SPECJALNEGO OŚRODKA SZKOLNO-WYCHOWAWCZEGO NR 2 IM. JANUSZA KORCZAKA W ELBLĄGU</li>
        <li>SZKOŁA POLICEALNA "COSINUS PLUS" W ELBLĄGU</li>
        <li>SZKOŁA POLICEALNA ADMINISTRACJI " ŻAK"</li>
        <li>SZKOŁA POLICEALNA BEZPIECZEŃSTWA I HIGIENY PRACY "ŻAK"</li>
        <li>SZKOŁA POLICEALNA CENTRUM NAUKI I BIZNESU "ŻAK"</li>
        <li>SZKOŁA POLICEALNA IM.JADWIGI ROMANOWSKIEJ</li>
        <li>SZKOŁA POLICEALNA IM.JADWIGI ROMANOWSKIEJ</li>
        <li>SZKOŁA POLICEALNA KOSMETYCZNA "ŻAK"</li>
        <li>SZKOŁA POLICEALNA OPIEKI MEDYCZNEJ "ŻAK" W ELBLĄGU</li>
        <li>SZKOŁA POLICEALNA WCHODZĄCA W SKŁAD CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO W ELBLĄGU</li>
        <li>SZKOŁA POLICEALNA WCHODZĄCA W SKŁAD ZESPOŁU SZKÓŁ EKONOMICZNYCH I OGÓLNOKSZTAŁCĄCYCH W ELBLĄGU</li>
        <li>SZKOŁA POLICEALNA WCHODZĄCA W SKŁAD ZESPOŁU SZKÓL INŻYNIERII ŚRODOWISKA I USŁUG W ELBLĄGU</li>
        <li>SZKOŁA POLICEALNA WCHODZĄCA W SKŁAD ZESPOŁU SZKÓŁ MECHANICZNYCH W ELBLĄGU</li>
        <li>SZKOŁA POLICEALNA WCHODZĄCA W SKŁAD ZESPOŁU SZKÓŁ TECHNICZNO-INFORMATYCZNYCH W ELBLĄGU</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY WCHODZĄCA W SKŁAD SPECJALNEGO OŚRODKA SZKOLNO-WYCHOWAWCZEGO NR 1 W ELBLĄGU</li>
        <li>TECHNIKUM IM. FLAGI POLSKI WCHODZĄCE W SKŁAD ZESPOŁU SZKÓŁ EKONOMICZNYCH I OGÓLNOKSZTAŁCĄCYCH W ELBLĄGU</li>
        <li>TECHNIKUM WCHODZĄCE W SKŁAD CENTRUM KSZTAŁCENIA ZAWODOWEGO I USTAWICZNEGO W ELBLĄGU</li>
        <li>TECHNIKUM WCHODZĄCE W SKŁAD ZESPOŁU SZKÓŁ GOSPODARCZYCH W ELBLĄGU</li>
        <li>TECHNIKUM WCHODZĄCE W SKŁAD ZESPOŁU SZKÓŁ INŻYNIERII ŚRODOWISKA I USŁUG IM. MIKOŁAJA KOPERNIKA W ELBLĄGU</li>
        <li>TECHNIKUM WCHODZĄCE W SKŁAD ZESPOŁU SZKÓŁ MECHANICZNYCH W ELBLĄGU</li>
        <li>TECHNIKUM WCHODZĄCE W SKŁAD ZESPOŁU SZKÓŁ TECHNICZNO-INFORMATYCZNYCH W ELBLĄGU</li>
        <li>TECHNIKUM WCHODZĄCE W SKŁAD ZESPOŁU SZKÓŁ TECHNICZNYCH W ELBLĄGU</li>
        <li>TECHNIKUM WCHODZĄCE W SKŁAD ZESPOŁU SZKÓŁ ZAWODOWYCH NR 1 W ELBLĄGU</li>
        <li>TERAPEUTYCZNY PUNKT PRZEDSZKOLNY "MOZAIKA"</li>
        <li>V LICEUM OGÓLNOKSZTAŁCĄCE IM. HALINY POŚWIATOWSKIEJ WCHODZĄCE W SKŁAD ZESPOŁU SZKÓŁ EKONOMICZNYCH I OGÓLNOKSZTAŁCĄCYCH W ELBLĄGU</li>
        <li>WARMIŃSKO - MAZURSKA BIBLIOTEKA PEDAGOGICZNA IM. KAROLA WOJTYŁY W ELBLĄGU</li>
        <li>WARMIŃSKO - MAZURSKI OŚRODEK DOSKONALENIA NAUCZYCIELI</li>
        <li>ZAKŁAD USŁUG I SZKOLEŃ "ELTA" GRAŻYNA BIELAWSKA</li>
        <li>ZAOCZNE LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH "COSINUS PLUS" W ELBLĄGU</li>
        <li>ZESPÓŁ PAŃSTWOWYCH SZKÓŁ MUZYCZNYCH IM. KAZIMIERZA WIŁKOMIRSKIEGO W ELBLĄGU</li>
        <li>ZESPÓŁ SZKÓŁ EKONOMICZNYCH I OGÓLNOKSZTAŁCĄCYCH W ELBLĄGU</li>
        <li>ZESPÓŁ SZKÓŁ GOSPODARCZYCH W ELBLĄGU</li>
        <li>ZESPÓŁ SZKÓŁ I PLACÓWEK SPORTOWYCH Z ODDZIAŁAMI MISTRZOSTWA SPORTOWEGO W ELBLĄGU</li>
        <li>ZESPÓŁ SZKÓŁ INŻYNIERII ŚRODOWISKA I USŁUG IM. MIKOŁAJA KOPERNIKA W ELBLĄGU</li>
        <li>ZESPÓŁ SZKÓŁ MECHANICZNYCH W ELBLĄGU</li>
        <li>ZESPÓŁ SZKÓŁ PIJARSKICH IM. ŚW. MIKOŁAJA W ELBLĄGU</li>
        <li>ZESPÓŁ SZKÓŁ TECHNICZNO - INFORMATYCZNYCH W ELBLĄGU</li>
        <li>ZESPÓŁ SZKÓŁ TECHNICZNYCH W ELBLĄGU</li>
        <li>ZESPÓŁ SZKÓŁ ZAWODOWYCH NR 1 W ELBLĄGU</li>

    </ul>
    <a href="WARMIŃSKO-MAZURSKIE.html">Back to Cities in WARMIŃSKO-MAZURSKIE</a>
</body>
</html>
