
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Nowe Miasto Lubawskie</title>
</head>
<body>
    <h1>Schools in Nowe Miasto Lubawskie</h1>
    <ul>
        <li>CENTRUM EDUKACYJNE WIEDZA</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>NIEPUBLICZNA PLACÓWKA KSZTAŁCENIA USTAWICZNEGO</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA SPECJALNA</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "POD WIERZBĄ"</li>
        <li>OŚRODEK KSZTAŁCENIA ZAWODOWEGO "EDUKACJA"</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA</li>
        <li>POWIATOWA BIBLIOTEKA PEDAGOGICZNA W NOWYM MIEŚCIE LUBAWSKIM</li>
        <li>POWIATOWE CENTRUM ROZWOJU EDUKACJI W NOWYM MIEŚCIE LUBAWSKIM</li>
        <li>PRZEDSZKOLE MIEJSKIE W NOWYM MIEŚCIE LUBAWSKIM</li>
        <li>SZKOŁA MUZYCZNA I ST. W NOWYM MIEŚCIE LUBAWSKIM</li>
        <li>SZKOŁA MUZYCZNA I STOPNIA W NOWYM MIEŚCIE LUBAWSKIM</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. JANA PAWŁA II W NOWYM MIEŚCIE LUBAWSKIM</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. JANUSZA KORCZAKA W NOWYM MIEŚCIE LUBAWSKIM</li>
        <li>SZKOŁA PODSTAWOWA NR 3 W NOWYM MIEŚCIE LUBAWSKIM</li>
        <li>SZKOŁA POLICEALNA</li>
        <li>WAR-MOTOR BŁAŻEJ CHOJNOWSKI</li>
        <li>ZAOCZNE LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>ZESPÓŁ SZKÓŁ IMIENIA CYPRIANA KAMILA NORWIDA</li>
        <li>ZESPÓŁ SZKÓŁ PODSTAWOWEJ I MUZYCZNEJ W NOWYM MIEŚCIE LUBAWSKIM</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W NOWYM MIEŚCIE LUBAWSKIM</li>

    </ul>
    <a href="WARMIŃSKO-MAZURSKIE.html">Back to Cities in WARMIŃSKO-MAZURSKIE</a>
</body>
</html>
