
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Dobrocin</title>
</head>
<body>
    <h1>Schools in Dobrocin</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA IM. GEN. JANA HENRYKA DĄBROWSKIEGO W DOBROCINIE</li>
        <li>CENTRUM KSZTAŁCENIA USTAWICZNEGO W DOBROCINIE</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE W DOBROCINIE</li>
        <li>SZKOŁA POLICEALNA IM. GEN. JANA HENRYKA DĄBROWSKIEGO W DOBROCINIE</li>
        <li>TECHNIKUM IM. GEN. JANA HENRYKA DĄBROWSKIEGO W DOBROCINIE</li>
        <li>ZESPÓŁ SZKÓŁ CENTRUM KSZTAŁCENIA ROLNICZEGO W DOBROCINIE</li>

    </ul>
    <a href="WARMIŃSKO-MAZURSKIE.html">Back to Cities in WARMIŃSKO-MAZURSKIE</a>
</body>
</html>
