
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Węgorzewo</title>
</head>
<body>
    <h1>Schools in Węgorzewo</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA SPECJALNA NR 1</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>LICEUM OGÓLNOKSZTAŁCACE DLA DOROSŁYCH ZAKŁADU DOSKONALENIA ZAWODOWEGO W BIAŁYMSTOKU Z/S W WĘGORZEWIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. GEN.MARIUSZA ZARUSKIEGO</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE TYGRYSEK W WĘGORZEWIE</li>
        <li>OŚRODEK SZKOLENIOWY RZEMIOSŁ TRADYCYJNYCH I ARTYSTYCZNYCH</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA</li>
        <li>PRZEDSZKOLE "ISKIERKA"</li>
        <li>PRZEDSZKOLE JĘZYKOWE BRITISZEK</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "JESTEŚ " W WĘGORZEWIE</li>
        <li>PRZEDSZKOLE NR 1 IM. KUBUSIA PUCHATKA W WĘGORZEWIE</li>
        <li>PRZEDSZKOLE NR 2 IM. MISIA USZATKA W WĘGORZEWIE</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY IM.M.KONOPNICKIEJ W WĘGORZEWIE</li>
        <li>SZKOŁA BRANŻOWA I STOPNIA NR 2</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. MIKOŁAJA KOPERNIKA W WĘGORZEWIE</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. JANUSZA KORCZAKA W WĘGORZEWIE</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA NR 3</li>
        <li>SZKOŁA POLICEALNA NR 1</li>
        <li>SZKOŁA POLICEALNA NR 2</li>
        <li>SZKOŁA PRZYSPOSABIAJĄCA DO PRACY W SPECJALNYM OŚRODKU SZKOLNO-WYCHOWAWCZYM W WĘGORZEWIE</li>
        <li>SZKOLNE SCHRONISKO MŁODZIEŻOWE PRZY LICEUM OGÓLNOKSZTAŁCĄCYM IM.GEN.MARIUSZA ZARUSKIEGO W WĘGORZEWIE</li>
        <li>TECHNIKUM W WĘGORZEWIE</li>
        <li>WSZECHNICA KSZTAŁCENIA USTAWICZNEGO</li>
        <li>ZAKŁAD DOSKONALENIA ZAWODOWEGO W BIAŁYMSTOKU OŚRODEK KSZTAŁCENIA ZAWODOWEGO W WEGORZEWIE</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH W WĘGORZEWIE</li>
        <li>ZESPÓŁ SZKÓŁ ZAWODOWYCH IM.GEN.JÓZEFA BEMA</li>

    </ul>
    <a href="WARMIŃSKO-MAZURSKIE.html">Back to Cities in WARMIŃSKO-MAZURSKIE</a>
</body>
</html>
