
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Lidzbark</title>
</head>
<body>
    <h1>Schools in Lidzbark</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W LIDZBARKU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE Z ODDZIAŁAMI DWUJĘZYCZNYMI IM. K. K. BACZYŃSKIEGO W LIDZBARKU</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE DWUJĘZYCZNE "BAJKOWY ZAKĄTEK"</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA W DZIAŁDOWIE FILIA W LIDZBARKU</li>
        <li>PRZEDSZKOLE MIEJSKIE W LIDZBARKU</li>
        <li>SZKOŁA PODSTAWOWA NR 1 Z ODDZIAŁAMI DWUJĘZYCZNYMI I SPORTOWYMI IM. TADEUSZA KOŚCIUSZKI W LIDZBARKU</li>
        <li>SZKOŁA PODSTAWOWA NR 2 Z ODDZIAŁAMI DWUJĘZYCZNYMI I SPORTOWYMI IM. SZARYCH SZEREGÓW</li>
        <li>TECHNIKUM W LIDZBARKU</li>
        <li>ZESPÓŁ SZKÓŁ IM. KRÓLA WŁADYSŁAWA JAGIEŁŁY W LIDZBARKU</li>

    </ul>
    <a href="WARMIŃSKO-MAZURSKIE.html">Back to Cities in WARMIŃSKO-MAZURSKIE</a>
</body>
</html>
