
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Burkat</title>
</head>
<body>
    <h1>Schools in Burkat</h1>
    <ul>
        <li>PUNKT PRZEDSZKOLNY W BURKACIE PRZY SZKOLE PODSTAWOWEJ IM.KAZIMIERZA GÓRSKIEGO W BURKACIE</li>
        <li>SZKOŁA PODSTAWOWA IM. KAZIMIERZA GÓRSKIEGO W BURKACIE</li>

    </ul>
    <a href="WARMIŃSKO-MAZURSKIE.html">Back to Cities in WARMIŃSKO-MAZURSKIE</a>
</body>
</html>
