
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Orzyny</title>
</head>
<body>
    <h1>Schools in Orzyny</h1>
    <ul>
        <li>PUBLICZNE PRZEDSZKOLE W ORZYNACH</li>
        <li>SZKOŁA PODSTAWOWA W ORZYNACH</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY IM. ZIEMI MAZURSKIEJ W ORZYNACH</li>

    </ul>
    <a href="WARMIŃSKO-MAZURSKIE.html">Back to Cities in WARMIŃSKO-MAZURSKIE</a>
</body>
</html>
