
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Bratian</title>
</head>
<body>
    <h1>Schools in Bratian</h1>
    <ul>
        <li>PUBLICZNE PRZEDSZKOLE W BRATIANIE</li>
        <li>SZKOŁA PODSTAWOWA W ZESPOLE SZKÓŁ IM. RODU DZIAŁYŃSKICH W BRATIANIE</li>
        <li>ZESPÓŁ SZKÓŁ IM. RODU DZIAŁYŃSKICH W BRATIANIE</li>
        <li>ZESPÓŁ WYCHOWANIA PRZEDSZKOLNEGO W BRATIANIE</li>

    </ul>
    <a href="WARMIŃSKO-MAZURSKIE.html">Back to Cities in WARMIŃSKO-MAZURSKIE</a>
</body>
</html>
