
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Sępopol</title>
</head>
<body>
    <h1>Schools in Sępopol</h1>
    <ul>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W SĘPOPOLU</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W SĘPOPOLU PRZEDSZKOLE SAMORZĄDOWE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W SĘPOPOLU SZKOŁA PODSTAWOWA</li>
        <li>ZESPÓŁ WYCHOWANIA PRZEDSZKOLNEGO "STOKROTKA" PRZY ZESPOLE SZKOLNO-PRZEDSZKOLNYM W SĘPOPOLU</li>

    </ul>
    <a href="WARMIŃSKO-MAZURSKIE.html">Back to Cities in WARMIŃSKO-MAZURSKIE</a>
</body>
</html>
