
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Fijewo</title>
</head>
<body>
    <h1>Schools in Fijewo</h1>
    <ul>
        <li>AKADEMICKI ZESPÓŁ PLACÓWEK OŚWIATOWYCH</li>
        <li>AKADEMICKI ZESPÓŁ PLACÓWEK OŚWIATOWYCH - LICEUM OGÓLNOKSZTAŁCĄCE W FIJEWIE</li>
        <li>AKADEMICKI ZESPÓŁ PLACÓWEK OŚWIATOWYCH BRANŻOWA SZKOŁA I STOPNIA W FIJEWIE</li>
        <li>AKADEMICKI ZESPÓŁ PLACÓWEK OŚWIATOWYCH SZKOŁA PODSTAWOWA W FIJEWIE</li>
        <li>PRZEDSZKOLE JĘZYKOWE "AKADEMIA MAŁYCH ZUCHÓW" W FIJEWIE</li>

    </ul>
    <a href="WARMIŃSKO-MAZURSKIE.html">Back to Cities in WARMIŃSKO-MAZURSKIE</a>
</body>
</html>
