
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Susz</title>
</head>
<body>
    <h1>Schools in Susz</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W SUSZU</li>
        <li>BRANŻOWA SZKOŁA II STOPNIA W SUSZU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W SUSZU</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W SUSZU</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "PRZEDSZKOLAK" ELŻBIETA WENDERSKA</li>
        <li>PRZEDSZKOLE W SUSZU</li>
        <li>SZKOŁA PODSTAWOWA IM. GEN. JÓZEFA BEMA W SUSZU</li>
        <li>SZKOŁA POLICEALNA W SUSZU</li>
        <li>TECHNIKUM W SUSZU</li>
        <li>ZESPÓŁ SZKÓŁ IM. IRENY KOSMOWSKIEJ W SUSZU</li>

    </ul>
    <a href="WARMIŃSKO-MAZURSKIE.html">Back to Cities in WARMIŃSKO-MAZURSKIE</a>
</body>
</html>
