
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Pietrzwałd</title>
</head>
<body>
    <h1>Schools in Pietrzwałd</h1>
    <ul>
        <li>PRZEDSZKOLE SAMORZĄDOWE W PIETRZWAŁDZIE</li>
        <li>SZKOŁA PODSTAWOWA IM. JANA KAROLA SEMBRZYCKIEGO W PIETRZWAŁDZIE</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W PIETRZWAŁDZIE</li>

    </ul>
    <a href="WARMIŃSKO-MAZURSKIE.html">Back to Cities in WARMIŃSKO-MAZURSKIE</a>
</body>
</html>
