
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Dobre Miasto</title>
</head>
<body>
    <h1>Schools in Dobre Miasto</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA W DOBRYM MIEŚCIE</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA W SMOLAJNACH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH W DOBRYM MIEŚCIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W DOBRYM MIEŚCIE</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA IM. JANUSZA KORCZAKA W DOBRYM MIEŚCIE</li>
        <li>PRZEDSZKOLE "MARYSIEŃKA"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "JAŚ I MAŁGOSIA" W DOBRYM MIEŚCIE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE IM. JANUSZA KORCZAKA W DOBRYM MIEŚCIE</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE NIBYLANDIA</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 1 W DOBRYM MIEŚCIE</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE NR 2 W DOBRYM MIEŚCIE</li>
        <li>SAMORZĄDOWA SZKOŁA MUZYCZNA I STOPNIA W DYWITACH W POWIECIE OLSZTYŃSKIM FILIA W DOBRYM MIEŚCIE</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. GEN. JÓZEFA BEMA W DOBRYM MIEŚCIE</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. MIKOŁAJA KOPERNIKA W DOBRYM MIEŚCIE</li>
        <li>SZKOŁA PODSTAWOWA NR 3 IM. ROTMISTRZA WITOLDA PILECKIEGO W DOBRYM MIEŚCIE</li>
        <li>TECHNIKUM ROLNICZE W SMOLAJNACH</li>
        <li>TECHNIKUM W DOBRYM MIEŚCIE</li>
        <li>ZESPÓŁ SZKÓŁ ROLNICZYCH IM. BISKUPA IGNACEGO BŁAŻEJA KRASICKIEGO W SMOLAJNACH</li>
        <li>ZESPÓŁ SZKÓŁ W DOBRYM MIEŚCIE</li>

    </ul>
    <a href="WARMIŃSKO-MAZURSKIE.html">Back to Cities in WARMIŃSKO-MAZURSKIE</a>
</body>
</html>
