
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Ruciane-Nida</title>
</head>
<body>
    <h1>Schools in Ruciane-Nida</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA LEŚNA I STOPNIA W RUCIANEM - NIDZIE W ZESPOLE SZKÓŁ LEŚNYCH W RUCIANEM - NIDZIE</li>
        <li>CENTRUM KSZTAŁCENIA PRAKTYCZNEGO W RUCIANEM-NIDZIE</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE W RUCIANEM-NIDZIE W ZESPOLE SZKÓŁ LEŚNYCH W RUCIANEM-NIDZIE</li>
        <li>PRZEDSZKOLE MIEJSKIE ,, ZIELONA KRAINA" W RUCIANEM-NIDZIE</li>
        <li>SZKOŁA PODSTAWOWA NR 1 W RUCIANEM-NIDZIE</li>
        <li>SZKOŁA PODSTAWOWA NR 2 W RUCIANEM-NIDZIE IM. K. I. GAŁCZYŃSKIEGO</li>
        <li>SZKOŁA POLICEALNA- LEŚNA</li>
        <li>SZKOLNE SCHRONISKO MŁODZIEŻOWE W RUCIANEM- NIDZIE</li>
        <li>TECHNIKUM W RUCIANEM-NIDZIE W ZESPOLE SZKÓŁ LEŚNYCH W RUCIANEM-NIDZIE</li>
        <li>ZESPÓŁ SZKÓŁ LEŚNYCH W RUCIANEM- NIDZIE</li>

    </ul>
    <a href="WARMIŃSKO-MAZURSKIE.html">Back to Cities in WARMIŃSKO-MAZURSKIE</a>
</body>
</html>
