
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Łupki</title>
</head>
<body>
    <h1>Schools in Łupki</h1>
    <ul>
        <li>SPECJALNY OŚRODEK SZKOLNO- WYCHOWAWCZY IM. DR. WŁADYSŁAWA KLEMENTOWSKIEGO W ŁUPKACH</li>
        <li>SZKOŁA BRANŻOWA SPECJALNA I STOPNIA W ŁUPKACH W SPECJALNYM OŚRODKU SZKOLNO- WYCHOWAWCZYM IM. DR WŁADYSŁAWA KLEMENTOWSKIEGO W ŁUPKACH</li>
        <li>SZKOŁA PODSTAWOWA SPECJALNA W ŁUPKACH W SPECJALNYM OŚRODKU SZKOLNO- WYCHOWAWCZYM IM. DR WŁADYSŁAWA KLEMENTOWSKIEGO W ŁUPKACH</li>
        <li>SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY W ŁUPKACH W SPECJALNYM OŚRODKU SZKOLNO- WYCHOWAWCZYM IM. DR WŁADYSŁAWA KLEMENTOWSKIEGO W ŁUPKACH</li>

    </ul>
    <a href="WARMIŃSKO-MAZURSKIE.html">Back to Cities in WARMIŃSKO-MAZURSKIE</a>
</body>
</html>
