
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Lamkowo</title>
</head>
<body>
    <h1>Schools in Lamkowo</h1>
    <ul>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA IM. FRANCISZKA SZCZEPAŃSKIEGO W LAMKOWIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE "WARMIŃSKA BAJKA" W LAMKOWIE</li>
        <li>NIEPUBLICZNY ZESPÓŁ SZKÓŁ I PLACÓWEK "EDUKACJA DLA PRZYSZŁOŚCI" W LAMKOWIE</li>

    </ul>
    <a href="WARMIŃSKO-MAZURSKIE.html">Back to Cities in WARMIŃSKO-MAZURSKIE</a>
</body>
</html>
