
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Giżycko</title>
</head>
<body>
    <h1>Schools in Giżycko</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA 1 STOPNIA NR 2 SPECJALNA</li>
        <li>BRANŻOWA SZKOŁA I STOPNIA NR 1</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWEGO</li>
        <li>CENTRUM KSZTAŁCENIA ZAWODOWGO I USTAWICZNEGO W GIŻYCKU</li>
        <li>CENTRUM SZKOLENIA ZAWODOWEGO UNIWERS</li>
        <li>COGITO NIEPUBLICZNE PRZEDSZKOLE MONTESSORI</li>
        <li>I LICEUM OGÓLNOKSZTAŁCĄCE IM. WOJCIECHA KĘTRZYŃSKIEGO</li>
        <li>II LICEUM OGÓLNOKSZTAŁCĄCE IM. GUSTAWA GIZEWIUSZA</li>
        <li>INSTYTUT INNOWACJI TECHNOLOGICZNYCH I KSZTAŁCENIA ZAWODOWEGO "NOVUM"</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE ZAKŁADU DOSKONALENIA ZAWODOWEGO W BIAŁYMSTOKU Z SIEDZIBĄ W GIŻYCKU</li>
        <li>MISJA ROBOTYKA</li>
        <li>MŁODZIEŻOWY OŚRODEK SOCJOTERAPI W GIŻYCKU</li>
        <li>NIEPUBLICZNA SZKOŁA PODSTAWOWA SPECJALNA</li>
        <li>NIEPUBLICZNA SZKOŁA SPECJALNA PRZYSPOSABIAJĄCA DO PRACY</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE MAŁE MISIE</li>
        <li>NIEPUBLICZNE PRZEDSZKOLE POD WESOŁĄ CHMURKĄ</li>
        <li>NIEPUBLICZNY OŚRODEK DOSKONALENIA NAUCZYCIELI "FORUM EDUKACYJNE" W GIŻYCKU</li>
        <li>NIEPUBLICZNY TERAPEUTYCZNY PUNKT PRZEDSZKOLNY</li>
        <li>NIEPUBLICZNY ZESPÓŁ SPECJALNYCH PLACÓWEK OŚWIATOWYCH POLSKIEGO STOWARZYSZENIA NA RZECZ OSÓB Z NIEPEŁNOSPRAWNOŚCIĄ INTELEKTUALNĄ KOŁO W GIŻYCKU</li>
        <li>OŚRODEK SZKOLENIA LOTNICZEGO "INVEST MAZURY"</li>
        <li>OŚRODEK SZKOLENIA ZAWODOWEGO CECHU RZEMIEŚLNIKÓW I PRZEDSIĘBIORCÓW W GIŻYCKU</li>
        <li>P.P.H KOSTRZEWA SP. J OŚRODEK SZKOLENIOWY I EGZAMINACYJNY</li>
        <li>PAŃSTWOWA SZKOŁA MUZYCZNA I STOPNIA W GIŻYCKU</li>
        <li>PORADNIA PSYCHOLOGICZNO-PEDAGOGICZNA</li>
        <li>POWIATOWA BIBLIOTEKA PEDAGOGICZNA W GIŻYCKU</li>
        <li>POWIATOWY OŚRODEK DOSKONALENIA NAUCZYCIELI W GIŻYCKU</li>
        <li>POWIATOWY OŚRODEK ROZWOJU EDUKACJI W GIŻYCKU</li>
        <li>PRYWATNY OŚRODEK DOSKONALENIA NAUCZYCIELI I DORADZTWA METODYCZNEGO W GIŻYCKU</li>
        <li>PRZEDSZKOLE "BAJKA"</li>
        <li>PRZEDSZKOLE KRASNAL</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 1 Z ODDZIAŁEM INTEGRACYJNYM</li>
        <li>PRZEDSZKOLE MIEJSKIE NR 4 W GIŻYCKU</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "KORALIK"</li>
        <li>PRZEDSZKOLE NIEPUBLICZNE "PROMYK"</li>
        <li>PRZEDSZKOLE SPECJALNE</li>
        <li>REGIONALNY OŚRODEK DOSKONALENIA NAUCZYCIELI</li>
        <li>SPECJALNY OŚRODEK SZKOLNO-WYCHOWAWCZY IM JANA BRZECHWY</li>
        <li>SZKOŁA PODSTAWOWA NR 1 IM. ŚW. JANA PAWŁA II W GIŻYCKU</li>
        <li>SZKOŁA PODSTAWOWA NR 2 IM. CHWAŁY ORĘŻA POLSKIEGO</li>
        <li>SZKOŁA PODSTAWOWA NR 3 Z ODDZIAŁAMI INTEGRACYJNYMI IM. MIKOŁAJA KOPERNIKA</li>
        <li>SZKOŁA PODSTAWOWA NR 4 IM. I DYWIZJI PIECHOTY W GIŻYCKU</li>
        <li>SZKOŁA PODSTAWOWA NR 5</li>
        <li>SZKOŁA PODSTAWOWA NR 7 IM. JANUSZA KORCZAKA W GIŻYCKU</li>
        <li>SZKOŁA PODSTAWOWA NR 8 SPECJALNA W GIŻYCKU</li>
        <li>SZKOŁA PODSTAWOWA NR 9 DLA DOROSŁYCH</li>
        <li>SZKOŁA POLICEALNA IM. HANNY CHRZANOWSKIEJ</li>
        <li>SZKOŁA SPECJALNA NR 1 PRZYSPOSABIAJĄCA DO PRACY</li>
        <li>SZKOLNE SCHRONISKO MŁODZIEŻOWE NR 1</li>
        <li>SZKOLNE SCHRONISKO MŁODZIEŻOWE NR 2</li>
        <li>TANMUZ BOGUSŁAW SZLASZYŃSKI</li>
        <li>TECHNIKUM NR 1</li>
        <li>TECHNIKUM NR 2</li>
        <li>TECHNIKUM NR 3</li>
        <li>TECHNIKUM ZAKŁADU DOSKONALENIA ZAWODOWEGO W BIAŁYMSTOKU Z SIEDZIBĄ W GIŻYCKU</li>
        <li>ZAKŁAD DOSKONALENIA ZAWODOWEGO W BIAŁYMSTOKU OŚRODEK KSZTAŁCENIA ZAWODOWEGO W GIŻYCKU</li>
        <li>ZESPÓŁ SZKÓŁ ELEKTRONICZNYCH I INFORMATYCZNYCH IM. KOMISJI EDUKACJI NARODOWEJ</li>
        <li>ZESPÓŁ SZKÓŁ KSZTAŁTOWANIA ŚRODOWISKA I AGROBIZNESU</li>
        <li>ZESPÓŁ SZKÓŁ ZAWODOWYCH W GIŻYCKU</li>

    </ul>
    <a href="WARMIŃSKO-MAZURSKIE.html">Back to Cities in WARMIŃSKO-MAZURSKIE</a>
</body>
</html>
