
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Wieliczki</title>
</head>
<body>
    <h1>Schools in Wieliczki</h1>
    <ul>
        <li>PRZEDSZKOLE SAMORZĄDOWE W WIELICZKACH</li>
        <li>SZKOŁA PODSTAWOWA IM. ŚW. JANA PAWŁA II W WIELICZKACH</li>
        <li>ZESPÓŁ SZKOLNO-PRZEDSZKOLNY W WIELICZKACH</li>

    </ul>
    <a href="WARMIŃSKO-MAZURSKIE.html">Back to Cities in WARMIŃSKO-MAZURSKIE</a>
</body>
</html>
