
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Rybno</title>
</head>
<body>
    <h1>Schools in Rybno</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA IM. IGNACEGO ŁUKASIEWICZA</li>
        <li>LICEUM OGÓLNOKSZTAŁCĄCE IM. BP. JANA CHRAPKA W RYBNIE</li>
        <li>PRZEDSZKOLE W RYBNIE</li>
        <li>STOWARZYSZENIE EDUKATOR W ŁOMŻY SZKOŁA PODSTAWOWA W KOZŁOWIE</li>
        <li>SZKOŁA PODSTAWOWA IM. KAWALERÓW ORDERU UŚMIECHU W RYBNIE</li>
        <li>ZESPÓŁ SZKÓŁ W RYBNIE</li>

    </ul>
    <a href="WARMIŃSKO-MAZURSKIE.html">Back to Cities in WARMIŃSKO-MAZURSKIE</a>
</body>
</html>
