
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Straduny</title>
</head>
<body>
    <h1>Schools in Straduny</h1>
    <ul>
        <li>PRZEDSZKOLE PITAGORAS W STRADUNACH</li>
        <li>PRZEDSZKOLE SAMORZĄDOWE W STRADUNACH</li>
        <li>SZKOŁA PODSTAWOWA IM.JANA PAWŁA II W STRADUNACH</li>
        <li>ZESPÓŁ SZKÓŁ SAMORZĄDOWYCH W STRADUNACH</li>

    </ul>
    <a href="WARMIŃSKO-MAZURSKIE.html">Back to Cities in WARMIŃSKO-MAZURSKIE</a>
</body>
</html>
