
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Wydminy</title>
</head>
<body>
    <h1>Schools in Wydminy</h1>
    <ul>
        <li>NIEPUBLICZNE PRZEDSZKOLE "SŁONECZNA KRAINA" W WYDMINACH</li>
        <li>PUNKT WYCHOWANIA PRZEDSZKOLNEGO "MAŁY ARTYSTA"</li>
        <li>SAMORZĄDOWE LICEUM OGÓLNOKSZTAŁCĄCE W WYDMINACH</li>
        <li>SZKOŁA PODSTAWOWA IM. FELIKSA NOWOWIEJSKIEGO W WYDMINACH</li>
        <li>ZESPÓŁ SZKÓŁ OGÓLNOKSZTAŁCĄCYCH W WYDMINACH</li>

    </ul>
    <a href="WARMIŃSKO-MAZURSKIE.html">Back to Cities in WARMIŃSKO-MAZURSKIE</a>
</body>
</html>
