
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools in Kurzętnik</title>
</head>
<body>
    <h1>Schools in Kurzętnik</h1>
    <ul>
        <li>BRANŻOWA SZKOŁA I STOPNIA IM. NOBLISTÓW POLSKICH W KURZĘTNIKU</li>
        <li>PRZEDSZKOLE ,,KOGUCIK"</li>
        <li>PRZEDSZKOLE W ZESPOLE SZKÓŁ IM. WŁADYSŁAWA JAGIEŁŁY W KURZĘTNIKU</li>
        <li>SZKOŁA PODSTAWOWA W ZESPOLE SZKÓŁ IM. WŁADYSŁAWA JAGIEŁŁY W KURZĘTNIKU</li>
        <li>SZKOŁA POLICEALNA IM. NOBLISTÓW POLSKICH</li>
        <li>TECHNIKUM IM. NOBLISTÓW POLSKICH</li>
        <li>ZESPÓŁ SZKÓŁ IM. WŁADYSŁAWA JAGIEŁŁY W KURZĘTNIKU</li>
        <li>ZESPÓŁ SZKÓŁ ZAWODOWYCH W KURZĘTNIKU</li>

    </ul>
    <a href="WARMIŃSKO-MAZURSKIE.html">Back to Cities in WARMIŃSKO-MAZURSKIE</a>
</body>
</html>
